[2020-12-11 17:50] slowbackspace commented on #3173
related, I can reproduce this state by simply enabling only eth coin in settings, but only in develop, works fine on production suite.trezor.io 🤔

oh yesss, loading skeletons are causing this 🥇
<img width="732" alt="Screenshot 2020-12-11 at 18 48 09" src="https://user-images.githubusercontent.com/6961901/101936884-6bf79480-3be1-11eb-9c49-c17f1a2d2419.png">

[2020-12-12 06:26] amovah commented on #4876
It's my code:
[code]

When I run this code, I was redirected to trezor popup8 page, and after following instruction and pressing continue button for couple times, my trezor wallet stuck ( I mean I press continue or cancel but nothing happens ) at final step and popup8 page redirect me to my application and it throw an error which provided in first comment.

[2020-12-12 14:27] prusnak commented on #2959
macOS running on Apple Silicon will be able to run Suite via Rosetta after https://github.com/trezor/trezor-suite/issues/3164 is fixed (which should happen just in time for the January release). In the meantime, November's release works just fine on Apple Silicon devices, i.e. only December's release does not work on Rosetta.

[2020-12-12 14:54] slush0 opened #3177 "Support scanning of upper case QR codes"
See https://github.com/btcpayserver/btcpayserver/issues/2110 for reasoning.

[2020-12-12 15:06] prusnak commented on #3177
This is already supported (see the table).

[2020-12-12 15:07] prusnak commented on #3177
We might want to drop the warning even and do the conversion silently, but that's for the product meeting to decide.

[2020-12-12 21:00] bosomt commented on #3155
Linux app commit be4e3a36f7dbe15b2b203f66de11edc50a6665b8
Looks like maximum decimals warning disappear after less than one second when you just ad zeros ;)

![Peek 2020-12-12 21-59](https://user-images.githubusercontent.com/31506317/101994783-64112080-3cc5-11eb-8544-d9f00be7c498.gif)

[2020-12-14 07:03] bosomt opened #3178 "Suite allows you to buy less than 20 XRP to fresh account"
**Describe the bug**
Suite allows you to buy less than 20 XRP to fresh account.
Minimum  is 20 XRP to create new Ripple account. This will eventually ends with error that's not handled properly and it says  `Error: Your XRP address is invalid.`

**Steps to reproduce:**
1. In suite go to Trade/Exchange
2. Try to buy via exchange less than 20 XRP
3. When asked to confirm receiving address create new

[2020-12-14 11:48] #3173 closed, assigned to slowbackspace

[2020-12-14 12:07] bosomt commented on #3178
+ in SUite you see in list Ripple and not XRP token that you are really buying

![image](https://user-images.githubusercontent.com/31506317/102079585-46e76980-3e0d-11eb-9bd4-0e9d4e2aca27.png)

[2020-12-14 13:56] bosomt commented on #3127
Looks like problem with time zones

I just sent tx and changed timezone.
It looks like this now

![image](https://user-images.githubusercontent.com/31506317/102089341-5b7f2e00-3e1c-11eb-9052-a850af34da1d.png)

xpub vpub5YX1yJFY8E236pH3iNvCpThsXLxoQoC4nwraaS5h4TZwaSp1Gg9SQoxCsrumxjh7nZRQQkNfH29TEDeMvAZVmD3rpmsDnFc5Sj4JgJG6m4b

Nixos app
Suite commit be4e3a36f7dbe15b2b203f66de11edc50a6665b8
Device m

[2020-12-14 14:07] bosomt commented on #3127
same wallet after i change timezone to CET
range is set to all but only shows 6 tx

![image](https://user-images.githubusercontent.com/31506317/102090692-0fcd8400-3e1e-11eb-9652-1d70f83734d5.png)

[2020-12-14 16:39] akhekade opened #4877 "Connect pop-up window does not show up"
There are a few scenarios when Pop-up window does not show up (without any error messages or warning)
1. When there is not enough Gas to pay tx-fee
2. When the popup windows are blocked (nothing you can do except add a message to enable pop-ups)
3. In some cases on Firefox even when pop-ups are enabled.

[2020-12-14 21:09] My1 commented on #2918
can we get this for the pw manager as well?

[2020-12-15 00:35] prusnak commented on #2918
Yes, password manager will become part of the Suite eventually, so it will have this feature once implemented.

[2020-12-15 08:01] bosomt opened #3181 "Web suite reports Device is in unexpected mode when using old FW in model One"
**Describe the bug**
+ Web suite /it doesn't happen via app/ reports `Device is in unexpected mode` when you connect device with old FW.
+ You have 100+ errors in browser console in ine minute
+ wallet.trezor.io works fine and updates device to FW 1.6.3 , so if we want to web suite to replace old wallet we need to properly handle device that wasn't yet upgraded

**Info:**
 - Suite Version: web, co

[2020-12-15 08:25] mroz22 commented on #3181
I'll look at it, but I'd say there must be some other reason of this. Not only that firmware is old. I definitely tested upgrading from old firmwares using freshly packed devices. Or maybe 1.5.2 is even older?

[2020-12-15 08:32] bosomt commented on #3181
model One id distributed with newer firmware than 1.5.2

[2020-12-15 09:34] tsusanka commented on #3181
@bosomt could you retest with Bridge 2.0.27? Because that's what's bundled inside the app and 28 contained a bug AFAIK.

[2020-12-15 09:36] tsusanka commented on #2242
Safety check levels are:

- "strict" to get the full Trezor security (default)
- "prompt" if you want to be able to allow potentially unsafe actions, such as mismatching coin keys or extreme fees. The user is prompted about the operation before it happens. This setting is removed after Trezor reboot.

There is also "prompt_always" but that's a very advanced and we do not want that in Suite yet.

[2020-12-15 09:37] tsusanka commented on #2242
Makes sense to do along with https://github.com/trezor/trezor-suite/issues/2282.

[2020-12-15 10:03] bosomt commented on #3181
@tsusanka same results in Windows with default 2.0.27 installed at https://suite.trezor.io/web/

[2020-12-15 10:23] tsusanka commented on #3181
Just to clear up confusion: we do not ship the devices with any firmware. If the device is brand new we install 1.6.3 and then latest which is what @mroz22 meant and that should work without any problems.

That being said we should also deal with even older firmwares (old users) as @bosomt is rightfully bringing up. I will discuss in Product which firmwares we want to support (at least upgrade to

[2020-12-15 11:08] yohaaan opened #3182 "Bridge update offered even though Bridge is already installed"
**Describe the bug**
Bridge update prompt window appears i The Suite desktop even though the same Bridge version is already installed

**Info:**
 - Suite Version: 20.12.1, desktop
 - Browser: N/A - desktop
 - OS: macOS Mojave (version 10.14.6)
 - Bride: 2.0.27

**Steps to reproduce:**
1. Connects device to the Suite
2. Wait
3. Bridge update prompt window appears

**Expected result:**
As Bridge is

[2020-12-15 12:29] glacierbits commented on #3158
Onboarding is being redesigned, will be fixed in the new implementation.

[2020-12-15 14:28] glacierbits opened #3185 "Include labels in the TX export"
At the moment, labels are not included in the export. Let's include them in a separate column.

[2020-12-15 14:59] mroz22 commented on #3181
but if this works in desktop app then this must be either something with bridge or some kind of weird race condition. There is no difference between desktop and web other than bridge that could cause this I'd say :thinking:

[2020-12-15 15:02] mroz22 commented on #2814
@robertbrada let's do this together. First good issue start with trezor-connect.

[2020-12-15 16:54] prusnak opened #3186 "Double click on title bar does not maximize the window"
When I double-click on the title bar other applications are maximized/unmaximized on MacOS.

With Suite this does not happen. I think this is the default behaviour for double-clicking on titlebar on Windows and Linux too.

PS: Maximizing and Fullscreen are different things on MacOS (the green button does fullscreen, double click on title bar does maximize). There is no fullscreen on Windows/Linux,

[2020-12-15 16:58] prusnak commented on #3164
Fix in https://github.com/trezor/trezor-suite/pull/3187

[2020-12-15 17:37] tsusanka commented on #2744
@matejzak closing?

[2020-12-15 23:24] prusnak commented on #3186
From the documentation: https://www.electronjs.org/docs/api/browser-window#winmaximize - we want probably code similar to:

[code]

[2020-12-15 23:33] prusnak commented on #3186
Looking at the code, I noticed the fullscreen and maximize/unmaximize events are entangled together, so we'd need to entangle them first. Not sure if that's worth the effort at this time ...

[2020-12-16 07:40] tsusanka commented on #3182
@yohaaan could you please verify the user has really 2.0.27 installed? Because this happens for older versions and I think that's what we are having here. If possible please ask them to go to http://127.0.0.1:21325/status/ with the Suite closed and report the version. I am really skeptical they have 2.0.27.

[2020-12-16 09:36] yohaaan commented on #3182
@tsusanka this was confirmed upon your request prior to creating the issue, user confirmed that 2.0.27 is installed and recognized by the status page in both cases - when using Suite and also when Suite is closed.

[2020-12-16 09:40] bosomt opened #3188 "Installer signature expires soon"
**Describe the bug**
Installer signature expires soon, see screenshot.
Is there plan to replace installer till end of 2020 ?

**Info:**
 - Suite Version: app, commit be4e3a36f7dbe15b2b203f66de11edc50a6665b8
 - OS: Windows

**Expected result:**
Suite installer is signed by new certificate
**Actual result:**
Suite installer is signed by certificate that expires in two weeks

**Screenshots:**
![image

[2020-12-16 09:52] prusnak commented on #3188
Yes, we'll replace the key with a new 2021 signing key for the final release.

[2020-12-16 10:06] tsusanka commented on #3182
Hm, thanks, that's just weird. @sorooris will retest when he has Mac available.

[2020-12-16 12:49] mroz22 commented on #2814
@robertbrada was unable to simulate this. Original issue was that @szymonlesisz reported that privacy badger extension somehow blocked downloading of fw update binary which resulted into a silent failure of  update process without any notification.

robert did some experiments and it either did not happen on his machine, or when he forced download in connect to fail, it was displayed correctly

![

[2020-12-16 12:49] #2814 closed, assigned to mroz22, robertbrada

[2020-12-16 14:48] bosomt commented on #2814
**QA OK**

I was not able to reproduce it. Of course I can try different setup if you want to.
But I never experienced any problem with suite and privacy badger.

see video: https://www.youtube.com/watch?v=iwfV-g1fn6Q&feature=youtu.be

Nixos + Chromium 87
Privacy Badger + UBlock enabled
Suite suite.trezor.io commit be4e3a36f7dbe15b2b203f66de11edc50a6665b8
Device public 1.9.2 > 1.9.3

[2020-12-16 18:33] bosomt commented on #2814
**QA OK**

retested in Firefox

Nixos + Firefox 82.0.3 (64-bit)
Suite web commit e771fd3c9b850f781e06f03072b3be55b881dcb9
Device public 1.9.2 > 1.9.3

[2020-12-16 18:58] bosomt commented on #2290
**QA OK**

Nixos + Firefox 82
Suite web dev master commit e771fd3c9b850f781e06f03072b3be55b881dcb9
Device model T fw 2.3.5

[2020-12-16 19:07] bosomt commented on #3173
**QA OK**

Nixos + Firefox 82
Suite web dev master commit e771fd3
Device model T fw 2.3.5

[2020-12-16 23:02] Kevin-h-j opened #3191 "Ethereum Discovery Error"
I am trying to access my ETH wallet but I get a message saying there is an account discovery error. What did this mean? Where is my wallet?

[2020-12-16 23:09] prusnak commented on #3191
What wallet are you using?

[2020-12-16 23:10] Kevin-h-j commented on #3191
Model T

[2020-12-17 00:08] prusnak commented on #3191
I mean what is running on your computer

[2020-12-17 00:28] Kevin-h-j commented on #3191
Trezor Suite

[2020-12-17 07:44] bosomt commented on #3152
**QA OK**

Nixos
Suite dev master app e771fd3c9b850f781e06f03072b3be55b881dcb9
Device model T fw 2.3.4 public version

[2020-12-17 08:59] prusnak commented on #3191
Transfering to the trezor-suite repository where bugs about Suite should be reported: https://github.com/trezor/trezor-suite

[2020-12-17 10:55] jerechinsky opened #3192 "Add a wiki page link on how to install on linux to suite landing page"
Since Linux is the only platform where the installation process is not as self-explanatory as double-clicking the .dmg or .exe file, I have added instructions on how to run on Linux on our wiki. Signature of Linux binaries must also be verified manually, unlike on Mac or Windows so I've explained how to do that on the wiki as well.

https://wiki.trezor.io/Apps:Trezor_Suite#How_to_run

Could we hav

[2020-12-17 11:08] sorooris opened #3193 "Dashboard - news tiles are not clickable"
**Describe the bug**
Clicking the tiles does not redirect to the article, only the Read more link is clickable.

**Info:**
 - Suite Version: any (tested web 20.12.1 be4e3a3)
 - Browser: any (tested Chrome 87.0.4280.66)
 - OS: any (NixOS 20.09)
 - Firmware Version: any (2.3.4 public)

**Steps to reproduce:**
1. Navigate to Dashboard, Trezor news section,
2. Click anywhere on the tile/the article.

[2020-12-17 13:04] bosomt opened #3194 "Unhandled (backup) failed state in Suite"
**Describe the bug**
Even suite says `Backup failed. Please wipe your Trezor and start the setup process again.`
Dashboard / Security section ignores it and you can click on `Backup wallet button`
Of course it ends with error.

**Info:**
 - Suite Version: app, commit be4e3a36f7dbe15b2b203f66de11edc50a6665b8
 - OS: Nixos
 - Firmware Version: 1.9.3 model One, revision public

**Steps to reproduce:**

[2020-12-17 14:03] sorooris opened #3195 "Dashboard - single tile in a row in news tiles loaded when maximum is reached"
**Describe the bug**
Show older news loads articles in groups of three and the maximum number of articles is 10 - which results

**Info:**
 - Suite Version: any (tested web 20.12.1 be4e3a3)
 - Browser: any (tested Chrome 87.0.4280.66)
 - OS: any (NixOS 20.09)
 - Firmware Version: any (2.3.4 public)

**Steps to reproduce:**
1. Navigate to Trezor news section on Dashboard,
2. Select the Show older n

[2020-12-17 14:31] robertbrada commented on #3194
I can fix this one

[2020-12-17 16:01] mavazdel opened #3198 "Assets display error"
**Describe the bug**
When Trezor wallet is pluged into computer and after enter Pin if you have Tor option active, assets are not displayed, the suite send error "Assets not loaded correctly". If you uncheck Tor option, eject the Trezor wallet and plug it again without Tor option, assets shows correctly.

**Info:**
 - Suite Version: 20.11.2
 - OS: Windows and MacOS (running on Big Sur)
 - Firmware

[2020-12-18 07:58] mroz22 commented on #3194
Is that a regression?

[2020-12-18 08:04] mroz22 commented on #3191
Dear @Kevin-h-j
we appreciate your report but we would really need some more detailed explanation.
1. Could you provide detailed steps that we could follow to simulate this issue?
1. Did yo try to load another ethereum account? Does it happen everywhere?

[2020-12-18 08:13] bosomt commented on #3194
No I think it was always like that

[2020-12-18 14:20] prusnak commented on #3191
@Kevin-h-j don't you have Tor enabled by any chance?

[2020-12-18 15:01] yohaaan opened #3200 "Right click + paste not working in receive address field in Trezor Suite"
**Right click + paste option not working in send tab - receiving address field of Trezor Suite*

**Info:**
 - Suite Version: 20.12.1, app
 - OS: Windows 10

**Steps to reproduce:**

1. Copy the receiving address to the clipboard
2. Go to the send tab
3. Right-click in order to use the right-click + paste option to paste the address
4. Not possible, the address is not pasted

**Expected result:**
-

[2020-12-18 16:33] Kevin-h-j commented on #3191
@mroz22 The issue appears to have resolved itself but to answer your questions

(1) I connected my wallet to my computer via USB. I entered my pin and opened the Trezor Suite app on my desktop. I could see my Bitcoin wallet but the Ethereum wallet indicted there was a discovery error. I clicked retry and was still unable to find it. This morning it seems to be working

(2) I only had the one Ether

[2020-12-20 13:39] hckhunk opened #3201 "Adding Support for XinFin[XDC] Network Mainnet chain"
**XinFin Network mainnet chain support**
How do we initiate support for XinFin[XDC] Network support? We get replies that Trezor only supports top 30 coins. But XinFin has a strong use case in Trade Finance. CMC does not have the right way to rank the projects. It would be a shame to not list XDC.

**Added to Ethereum compatible chain list**
https://github.com/ethereum-lists/chains/blob/master/_dat

[2020-12-20 13:41] prusnak commented on #3201
That's still the case.

[2020-12-20 13:41] #3201 closed, assigned to nobody

[2020-12-20 14:00] hckhunk commented on #3201
What if a dev group that work with us here create a PR with tested integration? In that case would Trezor merge the PR and add support to the firmware?

[2020-12-20 14:41] prusnak commented on #3201
No

[2020-12-21 09:20] tsusanka opened #4891 "nix-shell simplification in Connect broke yarn flow"
The commit 0025fff2 introduced some changes and it fails for `yarn flow`. I have reverted this commit in develop 3f1336bf0b08fd827d0dc039c712f777589a62c3 because it was blocking @szymonlesisz.

See this [job](https://gitlab.com/satoshilabs/trezor/connect/-/jobs/916558526). Reproduced on my NixOS.

**How to reproduce**

1. `nix-shell`
2. `yarn`
3. `yarn flow`

**Notes**
If we now install `flow` nat

[2020-12-21 09:43] prusnak commented on #4891
Yeah. Symlinks would do the trick. I thought it's not required to do the symlink in this case because `yarn flow` just runs `flow ...`. And in nix-shell the system-wide installed flow is run instead of the one in the node_modules (because the node_modules/bin path is at the end of PATH env variable). Not sure why `yarn flow` runs the binary from node_modules ...

[2020-12-21 19:27] sorooris opened #3202 "Desktop autoupdate - Win10 - download progress stuck at 0.00 B"
**Describe the bug**
Confirming update displays a download progress modal which stays stuck on 0.00 B/0.00
 B even though the download is in progress in the terminal.

**Info:**
 - Suite Version: app 20.12.1 be4e3a3 -> 21.1.0
 - OS: Win10 19042.630
 - Firmware Version: 2.3.4 public

**Steps to reproduce:**
1. Launch Suite from terminal with the `--pre-release` flag,
2. Confirm the update modal,
3.

[2020-12-21 19:28] sorooris commented on #3202
#2965, #3151

[2020-12-21 19:35] sorooris opened #3203 "Desktop autoupdate - Win10 - Suite fails to relaunch after update"
**Describe the bug**
Update to 21.1.0 causes the app to display an empty white screen with no error messages in terminal.

**Info:**
 - Suite Version: app 20.12.1 be4e3a3 -> 21.1.0
 - OS: Win10 19042.630
 - Firmware Version: 2.3.4 public

**Steps to reproduce:**
1. Launch Suite from terminal with the `--pre-release` flag,
2. Confirm update download and installation,
3. Let app restart and relaunch

[2020-12-21 19:53] sorooris opened #3204 "Desktop autoupdate - macOS - unable to trigger autoupdate once download was cancelled"
**Describe the bug**
There is no way to initiate update once the download was cancel in the "Downloading update" modal. Reinstall (neither clean nor dirty) does not resolve the issue, new version needs to be installed "manually".

**Info:**
 - Suite Version: app 20.12.1 be4e3a3, 21.1.0 e771fd3
 - OS: macOS Big Sur 11.1
 - Firmware Version: 2.3.4 public

**Steps to reproduce:**
Prerequisite: a newe

[2020-12-21 19:54] sorooris commented on #3204
#2965, #3151, #3202, #3203

[2020-12-21 20:25] tsusanka commented on #3202
I think this sort of kind of happens more when you have done an autoupdate once before. I've had a proper progress bar the first time.

[2020-12-22 20:45] bosomt opened #3206 "Duplicated transaction history in exported file"
**Describe the bug**
See attached file, account with 100+ transactions. Export contains 700+ columns.
After some time Transactions will start repeat itself. Same problem with pdf and csv file.

**Info:**
 - Suite Version: app + web, commit  5a99ad6ab2c15748a8dbd4e1dcf1bdf031b46fcb
 - Browser:Firefox  , version 82.0.3 (64-bit)
 - OS: Nixos
 - Firmware Version: regular-2.3.5-889a3699

**Steps to rep

[2020-12-23 08:34] ghost opened #3207 "Trezor Suite does not apply labelling correctly when switching to standard wallet"
**Describe the bug**
After switching from a passphrase protected wallet to the standard wallet (empty passphrase) labels are not applied within the standard wallet.

**Info:**
 - Suite Version: 20.12.1
 - OS: Ubuntu 20.10

**Steps to reproduce:**
This only happens if you open with the standard wallet first:
1. open standard wallet (no passphrase) and confirm "enable labeling"
2. switch to passphra

[2020-12-23 10:01] prusnak commented on #3207
Labeling of accounts is not implemented in the old wallet and we don't plan to add it.

Can you confirm the labeling of transactions works and this issue is only about the missing account labels in the old wallet?

[2020-12-23 11:14] ghost commented on #3207
Do you mean "wallet" and "beta wallet" when you say old wallet?

Not sure if I understand your question correctly. I am only testing within Trezor Suite in latest version:

- When I open the standard wallet (= wallet with empty passphrase) in Trezor Suite accounts are labelled (Trezor T asks "enable labelling").
- Same when switching to a passphrase protected wallet from the standard wallet. Trezo

[2020-12-23 11:29] prusnak commented on #3207
Ah, sorry. I thought you mean "wallet.trezor.io" by saying standard wallet.

Your bugreport makes sense, thanks!

[2020-12-23 11:45] ghost commented on #3207
Great! And no worries... I am amazed to get such a swift response during Christmas time at all. Awesome work - thank you!

[2020-12-25 03:02] ghost commented on #3002
**Disclaimer:** I am not a dev of Satoshilabs, just a random dude digging in the code. No guaranties!

@MCM-Mike `/home/<user>/.config/@trezor/suite-desktop/metadata/<some hash>.mtdt` (See: https://github.com/trezor/trezor-suite/issues/2918#issuecomment-742134477)

[2020-12-25 07:42] bosomt commented on #2604
Can you raise priority of this issue ?
It's really confusing to have previous shown in suite as connected after you wipe device and load it with different seed/wallet.
It doesn't even need to be remembered, all you need it to not reconnect device /you are not asked to do that/

[2020-12-25 17:21] steflsd opened #3208 "2nd ETH account not picked up correctly"
**Describe the bug**
I have a ledger NanoX where I have some btc and eth assets. There are two eth accounts on the NanoX. I initiated the trezor with the same seed + passphrase where I see a) btc accounts b)the first eth account correctly.  The 2nd eth account is an empty account where as on the ledger it has eth.

**Info:**
 - Trezor Suite
 - Browser: , version
 - OS:
 - Trezor T

**Steps to repr

[2020-12-25 18:26] prusnak commented on #3208
This is an issue with Ledger, they did a mistake in derivation paths. You need to resend your coins to new addresses generated by Trezor.

[2020-12-25 18:26] #3208 closed, assigned to nobody

[2020-12-27 02:59] trymeouteh opened #3209 "Add Trezor Suite To Linux Repositories"
For enhanced security it would be great to see the Trezor Suite app to be available in the Debian & Arch repositories and constantly up to date. This will allow more security since apps in the official Linux repositories are safe to install and there is a risk to download a DEB or AppImage from a website which could of been tampered with.

[2020-12-27 10:28] prusnak commented on #3209
Please contact developers of distributions you want Trezor Suite included in to do this. This is not possible unless you find someone willing to maintain the package in the distribution.

Closing as this is not related to Trezor Suite development, but we'll definitively have a look at this too.

[2020-12-27 10:28] #3209 closed, assigned to nobody

[2020-12-28 09:42] sorooris commented on #2965
Unable to initiate autoupdate and verify the issue on the macOS testing device - tested when pre-release was available, canceled download.

[2020-12-28 09:42] sorooris commented on #3151
Unable to initiate autoupdate and verify the issue on the macOS testing device - tested when pre-release was available, canceled download.

[2020-12-28 13:48] bosomt commented on #3200
Same behavior in in Linux app / Trezor-Suite-20.12.1-linux-x86_64.AppImage /
Browser version works fine

[2020-12-28 16:21] petrhejna commented on #2737
Is this an issue covering adding an option to use custom full node (instead of nodes of Satoshi Labs) in the Trezor Suite?

[2020-12-28 17:00] prusnak commented on #2737
You can already use custom node when you run [Blockbook](https://github.com/trezor/blockbook).

This issue is about possibility to connect to Bitcoin Core directly (or at least to Electrum server, which has lower system requirements than Blockbook)

[2020-12-29 02:46] ghost opened #3211 "Enable to set custom Blockchain Explorer"
**Is your feature request related to a problem? Please describe.**
When I want to check the transaction and its graph, I don't want to leak any information and I don't want to trust third party.

**Describe the solution you'd like**
I like to setup my own Blockchain Explorer to be used in Trezor Suire (from my own fullnode). It should support both clearnet and Tor.

**Describe alternatives you've

[2020-12-29 21:03] vjsingh-lite opened #3212 ""Account does not exist" shown for new Ethereum address used via Metamask"
**Describe the bug**
I connected my Trezor to Metamask and selected an empty Ethereum address. Transferred some tokens into the address. Connected to Suite. It shows the new address in the left accounts section (with the correct amount of ETH shown), but the main screen shows "Account does not exist". I can withdraw tokens via the Metamask interface talking to Trezor though.

**Info:**
 - Suite Ve

[2020-12-29 21:05] prusnak commented on #3212
Please install the latest suite (20.12.1) from https://suite.trezor.io and check whether the issue is still present

[2020-12-29 21:29] vjsingh-lite commented on #3212
Thank you for the quick response.

Yes, the problem still persists.

[2020-12-30 14:32] bosomt commented on #3207
I was able to reproduce this issue with 20.12.1 Win10 app public version.

**Info:**

OS: Windows 10 current version
Suite: 20.12.1 be4e3a36f7dbe15b2b203f66de11edc50a6665b8
Device regular-1.9.4-889a3699

**Steps to reproduce:**

1) delete local config data
2) load standard wallet,
3) enable labeling and choose local storage
4) rename account #1
5) add hidden wallet and rename account #1
6) go back

[2020-12-30 21:05] harlessmark commented on #3198
Any updates? Mine is showing this as well. Also, the web version only loads by BCH but not my BTC. On top of that, I can't connect my Trezor Model T to Exodus. I'm starting to think I have a faulty wallet.

[2020-12-31 01:08] matronator opened #3213 "Allow generating addresses in advance like in the web wallet"
**Is your feature request related to a problem? Please describe.**

It seems one major feature from the web wallet is missing in the Suite app and that is the ability to generate addresses in advance. When I click on the receive tab, there's only one address shown and no button to generate new ones.

**Describe the solution you'd like**

Add a button to generate new receiving address EVEN if the p

[2021-01-02 17:49] domve commented on #2584
+1 for this, AppImages just seem like a lazy way of bundling software. I was excited when I saw there were .rpm packages for trezor-bridge and trezor-udev, if you could accomplish that I don't see why providing proper packages for the Trezor Suite would be a huge problem.

[2021-01-03 06:33] Transisto opened #3214 "High RAM usage/memory leak"
![image](https://user-images.githubusercontent.com/388716/103473178-a200e200-4d63-11eb-81ab-7e2507fa2cbb.png)

Very few transaction, nothing happening.

[2021-01-04 08:50] mroz22 commented on #3207
@bosomt could you please try it again on this build? https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/941473423
It is from another branch that makes some changes to labeling and I wasn't able to reproduce it there.
PS. you may also trigger build for another platforms of your choice if you are logged into gitlab

[2021-01-04 10:21] bosomt commented on #3207
@mroz22 i was not able to reproduce it with

- Suite version: desktop 21.1.0 (8a5b32aa0a0f4e74ea7090f2561025be1b68a589)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

I recommend to test it properly during 21.1.1 release test.
Should we close it and move it to merged /so we won't forget to test it with another OS and final suite version ? /

[2021-01-04 11:40] #3193 closed, assigned to glacierbits, robertbrada

[2021-01-04 11:53] #3164 closed, assigned to nobody

[2021-01-04 13:09] bosomt commented on #3164
@prusnak is there anything that can be tested on our side ?

[2021-01-04 13:21] prusnak commented on #3164
Not particularly. It will be tested in full round of testing.

[2021-01-04 14:13] bosomt commented on #3193
**QA OK**

tested in Firefox and Chromium

**Info:**
 - Suite version: web 21.1.0 (5199ffd3bd526f21f68090e57e8a94d0b2d2ec44)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.4 regular

[2021-01-04 14:14] yohaaan opened #3218 "Desktop app: Tor connection issues (Discovery error Accounts were not loaded properly / All backends are down)"
**Describe the bug**
- When a user is using Trezor Suite Tor feature error message:
[code]

is displayed

**Info:**
 - Suite Version: app version 20.12.1 (latest)
 - OS: OSX 10.15

**Steps to reproduce:**
1. Launch Suite
2. Enable Tor feature
3. Go to Bitcoin Wallet
4. Error message:
[code]
is displayed
5. Once Tor feature is disabled wallet works as expected

**Expected result:**
Suite should be

[2021-01-04 14:22] bosomt commented on #3194
**QA OK**

button is disabled now

but

1) i would expect that it will say `Backup failed` and not `Back up wallet`
2) i would expect button to say `Backup` and not `Back up`

![image](https://user-images.githubusercontent.com/31506317/103544542-8c450700-4ea0-11eb-8bbb-5c657630676f.png)

@mroz22 @matejzak reopen ?

**Info:**
 - Suite version: web 21.1.0 (5199ffd3bd526f21f68090e57e8a94d0b2d2ec44)

[2021-01-04 17:54] prusnak commented on #3188
Fixed today. The new desktop builds will be signed with the new key.

Please test once there are new signed builds available on staging. (Susi will let you know when)

[2021-01-04 17:54] #3188 closed, assigned to prusnak

[2021-01-04 18:23] tsusanka commented on #3218
@trezor/qa please retest

[2021-01-05 09:44] keraf commented on #3206
Should be fixed by #3217

[2021-01-05 10:13] bosomt commented on #3218
**QA NOK**

Tested in

Windows 10
Suite dev master commit af3dc0e34cef17c0be4a3578f1525e526105ac60

Steps:

1) Enable Tor
2) Disable Tor
3) go to Accounts

Results :

Message `Backend is down` and it tries to connect over and over again.
Settings/Coins/Advanced settings: `Not connected to backend yet`
Nothing changes even when you wait few minute.
When I enable Tor nothing changes, Suite still fai

[2021-01-05 10:23] tsusanka commented on #3218
Thanks, could you please try also with [20.11.2](https://github.com/trezor/trezor-suite/releases)?

[2021-01-05 10:46] mroz22 commented on #3207
thanks! definitely keep an eye on testing metadata related things for regression before the release as there will be some refactoring changes. I am putting this issue into the January 13th project so that it won't slip through.

[2021-01-05 10:54] glacierbits commented on #3182
Can we close this @tsusanka ?

[2021-01-05 11:25] keraf commented on #3182
I encountered this issue (or a similar one) at home using Pop!_OS. Can't remember how I got it to work at the end but I will check again tonight.

[2021-01-05 11:29] keraf commented on #3214
Hi @Transisto,

Could you provide some additional info please?
 - Suite version
 - Browser (if using web suite)
 - OS
 - Bridge version
 - Firmware version

Cheers!

[2021-01-05 11:35] robertbrada commented on #3194
@bosomt @matejzak I updated the heading of the card to `Backup failed` (see the screenshot). Should I apply this change? Or should I change the button text to something different as well?

And I think that `Back up wallet` is the right form. While `backup` is used as a noun or an adjective, `back up` is used as a verb.
So `(to) back up wallet` and `(the) backup failed` seems okay to me (but I am n

[2021-01-05 11:42] glacierbits commented on #3194
You are right @robertbrada about the chosen language. :)  Let's leave it like this for now, dashboard will be improved as a whole in couple sprints anyway (incl. these tiles).

[2021-01-05 11:42] #3194 closed, assigned to glacierbits, robertbrada

[2021-01-05 13:12] glacierbits commented on #2480
I assume we can close this @robertbrada?

[2021-01-05 13:20] robertbrada commented on #2480
Yes, all of the inputs and selects should be updated.

If that's not the case, it's a bug.

[2021-01-05 13:21] #3148 closed, assigned to martinboehm

[2021-01-05 13:29] #2480 closed, assigned to robertbrada

[2021-01-05 13:52] robertbrada commented on #3195
Is the expected behavior that the single tile shouldn't be visible at all? Or should it be aligned differently?

[2021-01-05 14:03] sorooris commented on #3195
@robertbrada my thinking was that the alignment should stay the same but the number of tiles should be a multiple of 3 so that there is no empty space on the last line of tiles

[2021-01-05 14:14] slowbackspace commented on #3174
hopefully fixed in https://github.com/trezor/trezor-suite/pull/3184
I'm closing the issue.

[2021-01-05 14:45] slowbackspace commented on #3212
Hello @vjsingh-lite, is your wallet remembered?  Could you try to reset app storage ("Reset app" button in the settings)? If the reset is successful you should see Onboarding process again, you can skip it and go straight to Accounts again.  ~~Maybe, for some reason, the stored data are corrupted.~~
edit: stored data are fine, it seems we forgot to change the account visibility after it received f

[2021-01-05 15:55] josibake commented on #2737
Do you have a high level idea on how this will work? specifically, I am running a full node on a raspi with electRS and use electrum desktop as my wallet, connected to my full node. I'd like to use Trezor Suite instead and I'm hoping I can keep the same full node setup and just point Trezor Suite at it once this is implemented.

[2021-01-05 18:51] keraf commented on #3204
This should have fixed it: https://github.com/trezor/trezor-suite/commit/f68b6c8b6f1714c862006ef932dd6d52bde30cd7

Could you retest on a recent build please?

[2021-01-05 20:21] woweckin commented on #3212
Hi, I have the same, but little different. When I use websuite, I have this "account does not exist" problem with one of my ethereum address (I have few ether there and USDC tokens). But when I open it in PC suit apk on my Windows, its working.
I also tryed to send some ether from the address, but problem stil persists (in websuite version of Trezor).
Hope my tokens are safe. :)

[2021-01-06 01:02] Zimbakin opened #3225 "Sign transaction error: session not found"
- Trezor Model T
- firmware 2.3.4
- Trezor suite 20.12.1
- Mac OS

Sending from Account 1 P2SH address to newly created Account 2 with new P2SH address returns error:
Sign transaction error: session not found
Trezor model T freezes.

[2021-01-06 02:08] petrhejna commented on #2737
I have a same expectations and usecase as @josibake

I also run Raspi and I am kinda sad. Because these days Suite has some issues with connecring via Tor so having own electrum server would be awesome.

I would even expect Suite not to do ANY other network requests other then towords my node.

[2021-01-06 07:50] bosomt commented on #3174
@slowbackspace I hope so, it's really hard to replicate this issue. But as soon i see any kind of problem I will create new issue ;)

[2021-01-06 07:55] prusnak commented on #2737
We are evaluating this and it indeed seems that connecting to Electrum API is probably the best way forward as this is what most of people have in mind when they say "full node".

Electrum APIs in JS:
* https://www.npmjs.com/package/electrumjs (inactive)
* https://www.npmjs.com/package/electrum-client (inactive)
* https://www.npmjs.com/package/@codewarriorr/electrum-client-js (active)
* https://gi

[2021-01-06 08:02] bosomt commented on #3148
**QA OK**

**Info:**
 - Suite version: web 21.1.0 (021d3c7a1319c33ea35570b0ac6c4b6bcff36cae)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.3 regular

[2021-01-06 08:05] prusnak commented on #3225
Try different USB cable, different port, etc.

This is not a bug in Suite, but in communication with the device.

[2021-01-06 08:54] slowbackspace commented on #1698
this should be already implemented

[2021-01-06 08:54] #1698 closed, assigned to slowbackspace

[2021-01-06 09:16] bosomt commented on #3174
**QA OK**

**Info:**
 - Suite version: web 21.1.0 (021d3c7a1319c33ea35570b0ac6c4b6bcff36cae)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.3 regular

[2021-01-06 09:28] glacierbits opened #3226 "New notification panel"
Design: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5ff5ed4f7fb47d77f3be6017)

To be positioned this way:

<img width="1230" alt="Screenshot 2021-01-07 at 10 45 24" src="https://user-images.githubusercontent.com/29627086/103880476-73736600-50d9-11eb-8f33-e6f6369a85cd.png">

[2021-01-06 09:43] glacierbits opened #3227 "Data analytics"
_(More items)_

[2021-01-06 09:44] bosomt commented on #2484
See difference between accounts that already have tokens. It's not possible to add/load them manually.
Maybe we can move this button to different section or always show Token section in Eth account even when there are no tokens loaded/present ?

![image](https://user-images.githubusercontent.com/31506317/103753711-aa7b4600-500b-11eb-8c8a-431df7d7d926.png)

**Tokens included**

![image](https://use

[2021-01-06 09:55] glacierbits opened #3228 "React-native (architecture)"

[2021-01-06 10:15] tsusanka commented on #3182
Ping @trezor/qa please retest

[2021-01-06 10:35] bosomt commented on #2484
**QA OK**

/add token can be found in account **...** /

**Info:**
 - Suite version: web 21.1.0 (021d3c7a1319c33ea35570b0ac6c4b6bcff36cae)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.3 regular

[2021-01-06 10:35] #2484 closed, assigned to slowbackspace

[2021-01-06 11:15] martinboehm commented on #3178
The issue with 20 XRP: I think it is OK. We do not actually have to be smarter than the user. The user can choose an account which already has at least 20 XRP, making the transaction possible.

Ripple/XRP: in the list is XRP token belonging to Ripple network, which is in my opinion more clear than showing XRP/XRP. Anyway, the values are returned by our API server and if the Suite team would requir

[2021-01-06 11:54] sorooris commented on #3182
Could not replicate issue, more instructions needed.
- tried reconnecting device with PIN and/or passphrase disabled, resetting Suite, force quitting Bridge - all to no avail

[2021-01-06 12:05] tsusanka commented on #3182
@sorooris @yohaaan could you please try to work this one out with each other and/or the customer? We should either be able to reproduce it or come to some conclusion.

[2021-01-06 12:50] sorooris commented on #3182
@tsusanka @yohaaan told me that this issue was reported by one person only, i suggest we close this for now and reopen in case it is reported again or if @keraf remembers.

[2021-01-06 12:55] keraf commented on #3182
Let's keep this issue open for now, I think I've encountered this again on my Ubuntu machine. I'll investigate and close the issue if there are no findings.

[2021-01-06 13:50] slowbackspace commented on #3212
@woweckin could you please also try to reset the app storage ("Reset app" button in the settings)? If you are able to see the account on one platform just fine then this should really help.

[2021-01-06 14:27] #3200 closed, assigned to slowbackspace

[2021-01-06 15:34] bosomt opened #3232 "Windows 10 app never starts"
**Describe the bug**
I'm not able to start Trezor Suite app in current version of Windows 10. Even when I wait few minutes.
Nothing appears in cli interface. Local storage config/log directory is always created. No error is displayed.

**Info:**
 - Suite Version: app, commit 021d3c7a1319c33ea35570b0ac6c4b6bcff36cae
 - OS: Windows 10 current version , tested before and after update /version after u

[2021-01-06 16:29] #3195 closed, assigned to robertbrada

[2021-01-06 16:29] #3071 closed, assigned to slowbackspace

[2021-01-07 09:51] slowbackspace opened #3235 "Send form: currency select expandable even for non-tokens networks"
<img width="824" alt="Screenshot 2021-01-07 at 10 48 13" src="https://user-images.githubusercontent.com/6961901/103878083-39ed2b80-50d6-11eb-9d17-b8d4a035cb95.png">

[2021-01-07 11:08] #2813 closed, assigned to mroz22

[2021-01-07 11:13] bosomt commented on #3071
**QA OK**

**Info:**
 - Suite version: web 21.1.0 (a2ce5af90175100892a5c5f2d01fec3e5adf7220)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.3 regular

[2021-01-07 11:49] bosomt commented on #2480
**QA OK**

**Info:**

Suite version: web 21.1.0 (a2ce5af)
Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
OS: Linux x86_64
Screen: 1920x1080
Device: model One 1.9.3 regular

[2021-01-07 15:49] bosomt commented on #3195
**QA OK**

**Info:**
 - Suite version: web 21.1.0 (7ca8df4b2eda195a196a11c7e84f274814e19326)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.3 regular

[2021-01-07 16:28] bosomt commented on #3200
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (7ca8df4b2eda195a196a11c7e84f274814e19326)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.3 regular

[2021-01-07 17:14] #3235 closed, assigned to slowbackspace

[2021-01-07 17:18] sorooris commented on #3218
**20.11.2** QA NOK

However: it is possible to use Tor when adding (standard and hidden) wallets; the issue described above **occurs after the Tor button is toggled**.

Reconnecting the device and entering the passphrase when Tor is already on _does_ discover all the coins but it takes a while as expected (1-2 minutes), given the nature of data transfer on the Tor network.

Suite: app 20.11.2 b0da

[2021-01-07 20:55] jingxi285 opened #3240 "Trezor suite issues"
**Describe the bug**
Quite a few issues, why tell me no update is available, and again what my version is, and then downgrade is disallowed?
Just don't output anything.. if there is an update "Update to version x.y.z is available"

GtkDialog error.

This integration with sentry.io looks risky, anyway, it then says it is blocked.

**Info:**
 - Suite Version: app/web, commit
 Trezor-Suite-20.12.1-li

[2021-01-07 20:58] jingxi285 opened #3241 "Trezor Suite only works once need to reboot"
**Describe the bug**
After running Trezor Suite I need to reboot before I can connect another Trezor One.

**Info:**
 - Suite Version: app/web, commit  ./Trezor-Suite-20.12.1-linux-x86_64.AppImage
 - Browser: , version
 - OS: Latest Ubuntu LTS
 - Firmware Version: Trezor One, latest firmware

**Steps to reproduce:**
1. Run ./Trezor-Suite-20.12.1-linux-x86_64.AppImage
2. Access Trezor One wallet
3.

[2021-01-07 21:02] jingxi285 opened #3242 "Trezor Suite should ask for PIN before sending transactions"
**Is your feature request related to a problem? Please describe.**
Why not ask for the PIN, or if no PIN, the passphrase before allowing transactions? It's very risky
Coinbase and Binance always ask me for 2FA before a payment can be processed.
Anyone could walk up to a laptop with an open Trezor Suite and make a quick payment, or do it via remote desktop attack etc

**Describe the solution you'd

[2021-01-07 21:09] jingxi285 opened #3243 "After changing mind about passphase must disconnect trezor one"
**Describe the bug**
If you put in passphrase, and it says empty. So then you try a different passphrase, it always gives an invalid passphrase confirmation. The only workaround is to disconnect and reconnect.

**Info:**
 - Suite Version: app/web, commit  ./Trezor-Suite-20.12.1-linux-x86_64.AppImag
 - Browser: , version
 - OS:
 - Firmware Version: Trezor One, latest firmware

**Steps to reproduce:

[2021-01-07 21:12] jingxi285 opened #3244 "anonymized usage data is a risk"
**Is your feature request related to a problem? Please describe.**
Why default to share anonymized usage data? Just default to being off.. the whole idea of Bitcoin is security.
I'd even simply just remove all the code for this feature. There's no reason to upload anything about my usage of my Trezor device.

**Describe the solution you'd like**
Remove this anonymized usage data feature, or at lea

[2021-01-07 21:31] coinhubs commented on #2876
I still reproduce this issue in Trezor-Suite-20.12.1-linux-x86_64.AppImage on Ubuntu 20.04.1 LTS
Trezor One in latest firmware

[2021-01-07 22:55] prusnak commented on #2876
Let's track this in one issue only.
Also this is not limited to OS, it happens at least on WIndows and Linux

Closed as duplicate of https://github.com/trezor/trezor-suite/issues/3218

[2021-01-07 22:55] #2876 closed, assigned to keraf

[2021-01-07 22:56] prusnak commented on #3218
More reports are included in https://github.com/trezor/trezor-suite/issues/2876 which I closed as a duplicate of this issue

[2021-01-07 23:11] prusnak commented on #3240
The output you see in the console is for developers. Not for users. You don't need to worry about this.

[2021-01-07 23:11] #3240 closed, assigned to nobody

[2021-01-07 23:14] prusnak commented on #3244
We need to prioritize our development according to our users needs. The data is anonymized and can't be tied to a particular user. And of course you are asked whether you want to participate.

[2021-01-07 23:14] #3244 closed, assigned to nobody

[2021-01-07 23:17] prusnak commented on #3242
This is not a feature of the Suite, but rather a feature of the device.
You are required to enter PIN to unlock the device or before the first transaction.
Then the PIN is remembered for 10 minutes, after which it is forgotten.

You can change the interval using `trezorctl set auto-lock-delay <seconds>`

[2021-01-08 08:32] bosomt commented on #3235
**QA OK**

**Info:**
 - Suite version: web 21.1.0 (b872854a602ae4e8502874eee5c5deba2c98d518)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.4 regular

[2021-01-08 09:59] bosomt commented on #3188
Moving to approved,
New release certificate will be checked during testing

[2021-01-08 12:06] tsusanka commented on #3241
@trezor/qa please retest

[2021-01-08 12:35] #2744 closed, assigned to glacierbits

[2021-01-08 12:43] bosomt commented on #3241
@tsusanka on it /latest KUbuntu/

[2021-01-08 13:11] bosomt commented on #3241
**QA OK**

I was not able to reproduce this issue.
Tried app with Trezor Bridge installed.
Tried app with Trezor Bridge not installed.
I was able to load wallets and sent TEST transaction.
Did some shuffle with devices, connect, disconnect, reconnect, even during discovery of accounts.
No errors in app or in cli interface that i used to start app

**Info**
KUbuntu 20.04 before and after update.
Su

[2021-01-08 14:35] jingxi285 commented on #3241
Hello, thank you for testing. I don't have this laptop switched on at present, however would ask if is there is anyway to for Trezor Suite to generate a log when it is running? Or to view logs after an error like this occurs?  Could you tell me the steps to follow, or provide screenshots. thanking you.

[2021-01-08 14:39] jingxi285 commented on #3242
It's a shame this feature request is closed. an interval is not the same as a PIN for each payment.

Coinbase and every other exchange requires a 2FA PIN to login, and then a 2FA PIN for each payment.
It's a security risk at Trezor. Why not default to request for PIN for every transaction? Users who want to disable the PIN, could do so themselves in some saved settings etc

[2021-01-08 14:42] jingxi285 commented on #3244
Unfortunately companies get hacked all the time sadly, regardless of their aspirations for security (just think of that other HW wallet manufacturer recently). The simplest is to not gather any data. Sensible to at least have it switched off by default. We don't know what is in these logs, probably IP addresses, transaction details, amounts, logon frequencies, version of the app etc etc. Do you pu

[2021-01-08 14:44] jingxi285 commented on #3240
Maybe there is a miss-understanding. We're not worried, but it is an issue. You could have fixed both issues in the time taken to close this ticket.

Both are trivial patches by any software engineer.

[2021-01-08 14:49] prusnak commented on #3242
I'll move this to the firmware repo - because this is a feature of the firmware, not Suite, and we'll discuss this.

[2021-01-08 16:39] pdmcrypto opened #3247 "Trezor Suite password protection"
Forgive me if this has been discussed already.. but in upcoming updates to Trezor Suite, can we expect to see password protection for the desktop app itself. Coming from Ledger Live, you need to input a password just to open the app, but not for Trezor Suite. Therefore, if I set Suite to remember my device for “unplugged viewing”, then anyone can click the Suite logo on my desktop and view my port

[2021-01-08 17:09] prusnak commented on #3247
Duplicate of https://github.com/trezor/trezor-suite/issues/3166

[2021-01-08 17:09] #3247 closed, assigned to nobody

[2021-01-08 18:21] keraf opened #3248 "Suite-Desktop: Add logging"
Add extensive logging to Suite-Desktop with various log levels (info, warn, error, etc...). Launch parameter should be able to determine the level of logging required. Disabled by default.

[2021-01-08 18:23] keraf commented on #3241
There's unfortunately not much logging in the desktop app. I created an issue (#3248) to add logging. It's pretty high up on the priority list as it will be helpful for debugging issues users encounter.

[2021-01-09 15:51] cvandesande opened #3249 "SatoshiLabs 2020 Signing Key expired"
**Describe the bug**
SatoshiLabs 2020 Signing Key appears to have expired

**Steps to reproduce:**
[code]
**Expected result:**
A non-expired key

**Actual result:**
[code]

[2021-01-09 15:54] prusnak commented on #3249
That's fine. It is `2020` signing key and it should be expired in 2021.

It still verifies the signature and it should not be used to produce new signatures.

[2021-01-09 15:54] #3249 closed, assigned to nobody

[2021-01-09 16:32] cvandesande commented on #3249
Makes sense, I should have pointed out that the 2020 key is still offered as the only key to verify the Trezor Suite download on https://suite.trezor.io/

Is this the place to alert SastoshiLabs or should I use another means?

[2021-01-09 16:48] prusnak commented on #3249
No need to alert anyone.
The key is perfectly valid and still performs its function (verify releases published in 2020). It is just expired, which means it is not able to produce any new signatures (in 2021) - exactly like designed.

When the next release is out (in 2021), the link on suite.trezor.io will be replaced with the new key for 2021.

[2021-01-10 15:23] vladimirvolek opened #3250 "Infinite onboarding loop"
**Describe the bug**
Infinite loop in onboarding

**Info:**
 - Suite Version: all
 - Browser: all
 - OS: all
 - Firmware Version: all
**Steps to reproduce:**

1. Click 'Access Suite'

![image](https://user-images.githubusercontent.com/3112191/104126938-9f078200-535f-11eb-95a7-e030bde7521f.png)

2. Click 'Access Suite'

![image](https://user-images.githubusercontent.com/3112191/104126948-adee3480-5

[2021-01-10 15:55] ghost opened #3251 "Not compatible (Native SegWit, Bech32) with Wallet in browser (SegWit, P2SH)"
**Describe the bug**
Suite generates by default Bech32 wallet (address like `bc1....`). However, wallet in browser (https://wallet.trezor.io) uses P2SH (`3H5Y...`) and does not support Bech32.

Basically the wallet in the browser cannot access the coins deposited via Suite.

**Steps**
- Setup Trezor wallet on suite
- Send some coins
- Disconnect and connect Trezor via web wallet
- Coins not there

[2021-01-10 16:34] prusnak commented on #3251
Old wallet does not receive any new development and will be slowly phased out (we will keep it running, though).

All users should move to Trezor Suite.

[2021-01-10 16:34] #3251 closed, assigned to nobody

[2021-01-10 17:21] artembryksa commented on #3218
Can confirm this issue, happened on Windows 10, latest firmware of Trezor and Suite.

Except for the issues stated above, the Trezor Suite seems to report that the wallet is empty, and thus requires to re-enter the passphrase.

Upon doing so, these errors show up, and the assets are labelled as "not loaded correctly".

![trezor3](https://user-images.githubusercontent.com/16197623/104130358-82c0110

[2021-01-10 22:20] prusnak commented on #3218
It seems there is massive Tor DDoS going on at the moment - https://darknetdaily.com/?p=1030 - the error might be caused by this outage and there is nothing wrong at our side.

[2021-01-11 10:22] glacierbits opened #3252 "Fee: Decimal sat/B"
**Describe the feature**
Currently, we enforce integers in the transaction fee dialog but we should also support decimals.
- Set the limit on two decimal places

**How to reproduce**
Steps to reproduce the behavior:

1. Try to send a transaction
2. Set custom fee
3. Try to enter 1.3

**Screenshots**
![image](https://user-images.githubusercontent.com/1835345/161514754-e64b99c4-d85e-46d9-a6a1-48771d

[2021-01-11 11:06] slowbackspace commented on #3250
Discussed with @mroz22, it should be pretty straight-forward to break the loop and don't offer an option "Access Suite" in Onboarding if the device is not initialised. We should also cover this by e2e test to be sure it works correctly.

[2021-01-11 11:08] slowbackspace commented on #2720
Let's close this one since in some modals the separate close button is essential from the UX perspective. Maybe it will be handled better with the introduction of new onboarding design :)

[2021-01-11 11:08] #2720 closed, assigned to robertbrada

[2021-01-11 11:19] #3207 closed, assigned to mroz22

[2021-01-11 12:07] robertbrada commented on #3226
@matejzak  What is the difference between **Notifications** and **All activity** tabs? Does the **Notifications** tab display only transaction-related information? It seems to me there is nothing like **All activity** in the current Suite version.

[2021-01-12 09:21] slowbackspace commented on #2867
I think this could be closed as the builds (well at least android for now) are already working! 🙇
(fixed by https://github.com/trezor/trezor-suite/pull/3190)

[2021-01-12 09:21] #2867 closed, assigned to slowbackspace

[2021-01-12 23:25] CodeSandwich opened #3260 "Add support for WalletConnect"
**Is your feature request related to a problem? Please describe.**
I'm using a dapp which supports only WalletConnect, because its client is a standalone desktop app. I want to use it with my Trezor wallet for extra security.

**Describe the solution you'd like**
I'd like Trezor Suite web wallet to support signing messages provided to it via WalletConnect.

**Describe alternatives you've considere

[2021-01-13 09:47] tsusanka commented on #3232
@bosomt could you please test again on current develop just to make sure the problem prevails?

[2021-01-13 10:00] glacierbits commented on #3093
To be tested.

[2021-01-13 10:00] #3093 closed, assigned to mroz22

[2021-01-13 10:06] glacierbits commented on #2334
Expected to be fixed already.

[2021-01-13 10:06] #2334 closed, assigned to mroz22

[2021-01-13 10:26] bosomt commented on #3232
**QA NOK**

@tsusanka tested via 4aadce8a commit, im still not able to launch it

[2021-01-13 11:45] tsusanka commented on #1756
@slowbackspace I think this could work with the revamp of trezor-user-env, could you try it out now?

[2021-01-13 11:49] bosomt commented on #3232
Updated W10 to current version and rebooted
installed Trezor Bridge 2.0.27 manually.

Now it works fine, same commit.
No idea what was the problem

[2021-01-13 12:28] prusnak commented on #3260
it seems to me that Mobile App (https://github.com/trezor/trezor-suite/issues/2736) needs to be done first

[2021-01-13 12:31] NIYAK36 opened #3262 "Trezor Suite does not display Invalid seed message when an incorrect seed is recovered."
**Describe the bug**
When recovering a random made up seed in Trezor Wallet, "Invalid seed" message is displayed. When recovering the same seed in Trezor Suite, it accepts the seed and opens wallet. I can add accounts and display addresses.

**Firmware version and revision**
Trezor Suite 20.12.1

**Desktop/smartphone setup (please complete the following information):**
 - Wallet software: Trezor S

[2021-01-13 12:34] matejcik commented on #3262
@NIYAK36 fwiw this is the Firmware repo, we'll need to wait for someone to move it to the `trezor-suite` repo

[2021-01-13 12:37] CodeSandwich commented on #3260
Honest question: does it make sense to add WalletConnect to a wallet runnable on a desktop? It sounds reasonable to me and I have a use case which would be solved with this feature. But there seem to be 0 non-mobile wallets with WalletConnect and you're immediately thinking about the mobile version too.

[2021-01-13 13:01] prusnak commented on #3262
Moved to `trezor-suite` repo

[2021-01-13 14:06] tsusanka commented on #3262
@mroz22 do we set [enforce_wordlist](https://github.com/trezor/trezor-common/blob/beb242691ce311286bac58a77ad50342b1544a60/protob/messages-management.proto#L301) to True in Suite? Because that's the trick to check the checksum (and wordlist) isn't it @matejcik @prusnak?

[2021-01-13 14:07] tsusanka commented on #3262
@NIYAK36 what device, T1 or TT? What firmware version?

[2021-01-13 14:09] NIYAK36 commented on #3262
tried with T1, fw 1.9.3.

[2021-01-13 15:19] mroz22 commented on #3262
it looks like enforce_wordlist is sent as true. this was fixed in 6617f673d75613bace55f6bbdaaea1751d8711c1

suite
https://github.com/trezor/trezor-suite/blob/4aadce8a0b40ec6b689c5449246886348c23840d/packages/suite/src/actions/recovery/recoveryActions.ts#L64
https://github.com/trezor/trezor-suite/blob/4aadce8a0b40ec6b689c5449246886348c23840d/packages/suite/src/actions/recovery/recoveryActions.ts#L9

[2021-01-13 15:48] prusnak commented on #3262
But this was committed after the December's release was frozen. So the report is valid and the bug was already fixed and will be published in the next release (in February).

[2021-01-13 19:00] bosomt commented on #2643
still broken

![image](https://user-images.githubusercontent.com/31506317/104496534-683ca080-55d9-11eb-80fe-c5121502506a.png)

![image](https://user-images.githubusercontent.com/31506317/104496939-edc05080-55d9-11eb-9a9b-652af541dc35.png)

**Info:**
 - Suite version: web 21.1.0 (e593c0e91fa1421c5ccfcdd75d51861382e91acc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Ge

[2021-01-14 08:14] tsusanka commented on #2575
@mroz22 do we know what date Dropbox will kill the v7? In another words I am trying to find out what is the deadline for this. Mainly my-trezor, in Suite we definitely want to be up-to-date but for my-trezor we could survive on the old lib unless really needed.

[2021-01-14 12:16] szymonlesisz opened #3266 "account filter should be cleared?"
**Steps to reproduce:**
1. go to accounts with multiple coins enabled (btc, eth)
2. use account filter on eth, select eth account
3. go to dashboard
4. go back to accounts

**Actual result:**
selected account is btc but i dont see it in accounts menu (i see only eth)

[2021-01-14 12:32] tsusanka commented on #3262
@trezor/qa please test this works as expected in develop.

[2021-01-14 12:32] #3262 closed, assigned to sorooris

[2021-01-14 12:35] #3169 closed, assigned to szymonlesisz

[2021-01-14 14:04] sorooris commented on #3262
**QA OK**

Issue is **not present** in the current 21.1.0 web develop and also verified and confirming its presence in the 20.11.1 app.

Suite: web 21.1.0 fb8f94c8, app 20.11.1 513631a
Browser: Chromium 87.0.4280.66; N/A (app)
OS: Win10 19042.685; NixOS 20.09
Device: model One 1.9.3 0d5f006

[2021-01-14 14:40] tsusanka commented on #3262
@NIYAK36 we will release a new version with this fixed on February 10th at latest.

[2021-01-14 15:03] #3212 closed, assigned to slowbackspace

[2021-01-14 15:08] slowbackspace commented on #3212
Thank you both for your reports, bug should be fixed in the next release. Clearing the app storage should work as an immediate solution.

[2021-01-14 15:49] mroz22 commented on #3266
just hinting @wendys-cats that she may cover this with tests

[2021-01-14 17:23] mroz22 commented on #2575
This https://dropbox.tech/developers/migrating-app-permissions-and-access-tokens

but it seems that there is enought time as the changes are to come into effect in **September 2021**

v7 api shall still work. suite should work as well as it does not use legacy tokens. It actually does use some legacy APIs but I am not aware of that dropbox is going to kill them.

only problem is with mytrezor. I a

[2021-01-14 19:09] tsusanka commented on #2575
Thanks! I am noting this in an Asana ticket for August and let's see where we will be at :).

[2021-01-14 19:20] tsusanka commented on #3218
I have tested this now again and it works for me but you can tell the performance is degraded. Accounts load eventually though. Could someone confirm please?

If that's the case indeed and it's not on our side I will discuss with @matejzak how we can improve this from the UX side (inform the user somehow etc. though we might just solve it via #2752).

[2021-01-14 19:33] prusnak commented on #3218
I wonder whether we have some kind of timeouts that should be increased (to double or triple values) in case when Tor is enabled.

And of course showing "Network connection error" or "Tor connection error" would be much nicer than "Worker runtime error: Unhandled error".

[2021-01-15 08:32] szymonlesisz opened #3268 "ETH: Failed smartcontract transactions without annotation"
**Describe the bug**
ETH Smart contract transactions may be failed because of insufficient gas limit or a different reason.
Suite do not show any annotation about this fact (it's visible only in blockbook explorer) and transaction history looks like everything is ok.
Use case:
sending ETH to exchanges (to exchange smart contract)

Tx example:
https://eth1.trezor.io/api/v2/tx/0xd04e1aa4af840d211f85

[2021-01-15 08:41] tsusanka commented on #3250
Duplicate of https://github.com/trezor/trezor-suite/issues/2935. And I don't think it makes sense to solve it anymore since the onboarding is being redesigned completely. @matejzak

[2021-01-15 08:42] tsusanka commented on #3243
@trezor/qa please retest

[2021-01-15 08:58] tsusanka commented on #2748
Since we have the releases at Github and there is no demand for having release candidates in trezor-user-env I think we can close for now.

[2021-01-15 08:58] #2748 closed, assigned to nobody

[2021-01-15 09:00] tsusanka commented on #2615
JFYI this still happens on NixOS, also on latest 20.12.1. Since it is NixOS-only it has low priority but I am wondering does it happen to @prusnak as well?

[2021-01-15 09:23] prusnak commented on #3041
This should've been fixed already via this commit in trezor-link: https://github.com/trezor/trezor-link/commit/c69d83bfd62679cebf8f9f10c343d12ecf567c2b

(which got propagated into Suite via Connect 8.1.19)

[2021-01-15 09:25] glacierbits commented on #3250
Yes. With all respect, I will closed this issue. We identified 26 issues with the current onboarding in total.. 🔫 Good news is, the new onboarding prototype is 90% ready and much better both design & flow-wise. Expected to be released in March release.

[2021-01-15 09:25] #3250 closed, assigned to robertbrada

[2021-01-15 09:33] tsusanka commented on #2935
Closing for reasons mentioned here: https://github.com/trezor/trezor-suite/issues/3250#issuecomment-760777644.

[2021-01-15 09:33] #2935 closed, assigned to glacierbits

[2021-01-15 09:36] mroz22 commented on #3041
Yes, should have been but seems like it is not. I managed to setup windows debugging environment finally so I am looking into it.

[2021-01-15 11:35] who-is-apo commented on #3004
Would be good to have a few more choices there, like mBTC and µBTC. Satoshis still seem to be too small of a value, given the current Bitcoin price.

[2021-01-15 12:52] sorooris commented on #3243
Following the steps to reproduce I am unable to replicate the issue. @jingxi285 could you by any chance specify in **which modal** are you entering the passphrase and provide a **screenshot of the error**?

[2021-01-15 13:01] jingxi285 commented on #3243
Hello. May I check you followed exactly the steps to reproduce exactly? You saw the warning that passphase wallet is empty? Then you put in a different passphrase?

[2021-01-15 13:21] tsusanka commented on #3243
I think this is indeed an UX confusion (cc @matejzak). The "warning that passphrase is empty" dialog is indeed only checking that you have entered the same passphrase as previously and therefore want to create a new hidden wallet (= new passphrase). You are right there should be a clearer path to "Oops, I have messed up and I would like to enter the passphrase again because it is different".

Assi

[2021-01-15 13:23] tsusanka commented on #3243
That being said @jingxi285 I don't think you need to disconnect and connect the Trezor again. You can click on your device in the top left corner in Suite, choose "Add hidden wallet" and enter the correct passphrase.

[2021-01-15 13:23] prusnak commented on #3243
He has Trezor One

[2021-01-15 13:25] tsusanka commented on #3243
I meant in Suite, apologies, edited.

[2021-01-15 15:35] jingxi285 commented on #3243
My recollection is that I did try that approach. It did not work.
Would you be able to test both approaches? I need to type the correct passphrase, without disconnecting and putting in PIN again!

[2021-01-15 16:17] tsusanka commented on #2002
The latest version (20.12) already says "By clicking Continue you agree to our Terms & Conditions.". Closing.

[2021-01-15 16:17] #2002 closed, assigned to glacierbits

[2021-01-15 16:19] tsusanka commented on #1749
@mroz22 did this get solved by the new trezor-user-env?

[2021-01-15 16:19] tsusanka commented on #1610
@mroz22 isn't this one out of date already?

[2021-01-15 16:21] tsusanka commented on #1601
@wendys-cats could you retest this one please? It's quite old but sounds dubious

[2021-01-15 16:26] tsusanka commented on #239
Note: we could put this also in the "create github issue" button (#2994), that would help debugging tremendously. Of course some warning what the log contains would have to be present.

[2021-01-16 09:35] jingxi285 commented on #3243
Same issue still visible today. Can someone work on a fix?

Expected behaviour, after an error, start from scratch, let me put in a new passphase.

 ./Trezor-Suite-20.12.1-linux-x86_64.AppImage

1. Enter: abc
2. See warning wallet empty
3. Enter: foobar
4. See it display this error:

Passphrase confirmation error: Invalid passphrase
[Retry]

5. Click [Retry]
6. See it asks for PIN again.
7. Enter

[2021-01-16 14:45] tsusanka commented on #3243
Thanks @jingxi285, @sorooris please retest based on the instructions

[2021-01-16 15:12] jingxi285 commented on #3243
Regular wallet.trezor.io asks requires to type the passphrase twice on the dialog. Shouldn't suite do the same?
Regular wallet.trezzor.io shows the passphase on trezor one to confirm. Shouldn't suite do the same?

[2021-01-16 17:17] prusnak commented on #3243
Not necessarily, because the passphrase is now shown on the device.

This is not decided by Suite, but by the device. So if your device is not showing the passphrase, you are on the old version of the firmware.

[2021-01-16 18:36] tsusanka commented on #2242
Some work in `tsusanka/safety-checks` but I need some help with that.

[2021-01-16 23:00] jingxi285 commented on #3243
Unfortunately that text is barely readable, it's a very small font/LCD. Worth requiring the passphrase to be entered twice.

Ok I see. Many thanks. Yes maybe I was testing with old firmware.

[2021-01-17 22:57] daltek opened #3272 "gpg Signing key Expired"
**Describe the bug**
A clear and concise description of what the bug is.

The gpg signing key is expired

**Info:**
 - Suite Version: n/a
 - Browser: , n/a
 - OS:  n/a
 - Firmware Version: n/a

**Steps to reproduce:**

    gpg --list-keys

     pub   rsa4096/0x26A3A56662F0E7E2 2020-10-20 [SC] [expired: 2021-01-01]
           Key fingerprint = 5406 7D8B BF00 5541 81B5  AB8F 26A3 A566 62F0 E7E2

[2021-01-17 23:06] prusnak commented on #3272
This is expected. See https://github.com/trezor/trezor-suite/issues/3249 for more info

Duplicate of https://github.com/trezor/trezor-suite/issues/3249

[2021-01-17 23:06] #3272 closed, assigned to nobody

[2021-01-18 12:51] tsusanka opened #3274 "Support log contains amounts even when the toggle is off"
**Describe the bug**
In the Application log if I toggle the `Include balance related` button to OFF the log still contains balances, for example the `availableBalance` is still filled.

**Steps to reproduce:**
1. Go to Settings
2. Show log
3. Observe

**Info:**
 - Suite version: desktop 20.12.1 (be4e3a36f7dbe15b2b203f66de11edc50a6665b8)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.3

[2021-01-18 17:41] tsusanka commented on #239
We currently have this:

![image](https://user-images.githubusercontent.com/1835345/104917165-5705e200-5993-11eb-8697-388d02e4ae3d.png)

---

As per @yohaaan's suggestions:

Present.

We would have to export the file into HTML and that seems like a too much effort. So if you survive I would not do it.

Present.

![image](https://user-images.githubusercontent.com/1835345/104918051-7fdaa700-5994-11e

[2021-01-19 08:35] bosomt commented on #3169
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (fa7d200c62499405ae63b6bcc873edc15f79d318)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.1.0 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

[2021-01-19 09:31] sorooris opened #3276 "Spend - transaction not shown in Trade tab history"
**Describe the bug**
Outgoing transaction is not displayed in the shared Trade tab transaction history, only as a generic send transaction in the Overview tab.

**Info:**
 - Suite Version: web 21.1.0 develop, commit fa7d200c
 - Browser: Chromium 87.0.4280.66
 - OS: Nixos 20.09
 - Firmware Version: model T 2.3.4 50854b921

**Steps to reproduce:**
1. Navigate to Accounts -> Trade -> Spend,
2. Comple

[2021-01-19 09:36] glacierbits opened #3277 "Hidden wallet number missing"
**Info:**
 - Suite version: web 21.1.0 (fa7d200c62499405ae63b6bcc873edc15f79d318)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36
 - OS: MacIntel
 - Screen: 1792x1120
 - Device: model T 2.3.4 regular

<img width="353" alt="Screen Shot 2021-01-19 at 10 29 26" src="https://user-images.githubusercontent.com/29627086/

[2021-01-19 09:55] jerechinsky commented on #3106
Merged #3217

[2021-01-19 12:38] bosomt commented on #3093
**QA OK**

looks like issue was fixed in recent changes of labeling connection to servers

**Info:**
 - Suite version: desktop 21.1.0 (fa7d200c62499405ae63b6bcc873edc15f79d318)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.1.0 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 reg

[2021-01-19 12:59] tsusanka commented on #2752
As discussed on our meetings here is the draft we came up with:

[code]

Few notes:
- This JSON will be signed. We can JOSE/JWS. See https://en.wikipedia.org/wiki/JSON_Web_Signature, https://jose.readthedocs.io/. Question: isn't TLS enough?
- The JSON will be fetched on startup and then periodically every 6 hours.
- We will serve [commit].json and [VERSION].json (can be symlink) from data.trezor.i

[2021-01-19 13:09] bosomt commented on #3106
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (9ae82af375cea195a84fec664b387c461b2df1ae)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.1.0 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

[2021-01-19 14:16] bosomt commented on #3206
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (9ae82af375cea195a84fec664b387c461b2df1ae)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.1.0 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

[2021-01-19 14:16] #3206 closed, assigned to keraf

[2021-01-19 15:40] martinboehm commented on #3276
This is by design. While we could record the spent amount, we have no information about what kind of purchase the user has done, limiting the usefulness of the history item. We will consider adding the feature though.

[2021-01-19 15:56] bosomt commented on #3207
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (9ae82af375cea195a84fec664b387c461b2df1ae)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.1.0 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

[2021-01-19 16:36] bosomt commented on #2867
**QA OK**

i was able to download, install and start app in my phone.

Huawei Andorid 9
Suite commit 9ae82af375cea195a84fec664b387c461b2df1ae

[2021-01-19 16:43] slowbackspace commented on #239
Heyyy, I have another idea for the log.
After 2 years I still find logging events completely useless. More often I only want to see snapshot of app's internal state and from that I can finally figure out what is happening. I don't have enough mental capacity to replay 3000 logged events and derive the state from them. What's more important so far there wasn't single case where we actually cared fo

[2021-01-19 16:47] slowbackspace commented on #3277
@bosomt here we go again! 😁  The hardest issue in the history of computer science.

[2021-01-19 16:54] bosomt commented on #3277
@slowbackspace

how about this one ? :)

// removed the image to not confuse anyone as it was for different issue

[2021-01-19 18:19] glacierbits opened #3279 "Tooltips: Updated"
### Design: [Zeplin](https://zpl.io/aXlnZej)

To be updated:

**1. Color** as designed

**2. Shape** (the arrow pointing towards the text / element to be removed)

**3. Dashed underscore** to indicate further info › To replace  the `i` symbol in all suitable places:

- [x] Switch wallets modal: Remember, Eject
- [x] Send: OP_Return, Send raw transaction
- [x] ETH Send: Data, Gas limit & Gas price

[2021-01-19 18:24] wendys-cats commented on #1601
@tsusanka bug is no longer present in current release (tried on 21.1.0 9ae82af375cea195a84fec664b387c461b2df1ae version).
Also tried on internal alfa release cca9bfe8173e0912715ac6599799ebbd2cc9f5fb with 1.9.0. (could replicate it) and with 1.9.3 (could not replicate).

[2021-01-20 08:48] #3274 closed, assigned to slowbackspace

[2021-01-20 09:11] szymonlesisz opened #3280 "AccountExceptionLayout missing key in ActionButton"
**Describe the bug**
![Screenshot from 2021-01-20 10-04-47](https://user-images.githubusercontent.com/3435913/105152700-cf8daf80-5b07-11eb-9ca5-b1b9481b2d19.png)

[2021-01-20 10:15] slowbackspace commented on #3279
I just noticed it I have a need to share my 2 cents. Using dashed underscore as a visual clue is not really intuitive and I would bet very few people will understand the meaning of it. in cases such as these I would prefer to stick with battle-tested solutions used by mainstream websites that everyone already knows. Let's not make suite UI/UX even more confusing than it needs to be. 🙏

[2021-01-20 10:30] keraf commented on #3279
I'm not a UX expert but I think dashed underlining makes more sense as it hints to "more info if you hover this text". I think it makes it more obvious that there is help related to the word/sentence the user is looking at.

[2021-01-20 10:59] bosomt commented on #3212
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (9ae82af375cea195a84fec664b387c461b2df1ae)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.1.0 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

[2021-01-20 11:42] slowbackspace commented on #3279
@keraf Thanks for sharing your pov! Do you know about some websites or design systems that use this approach? I've never seen it before, but maybe I'm just getting old 😁

[2021-01-20 11:45] bosomt commented on #3274
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (1936ea70dad4b0293856f6f43e33d507e50d7989)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.1.0 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

[2021-01-20 12:12] tsusanka commented on #2752
@prusnak our job candidate pointed very good point in https://github.com/trezor/trezor-suite/pull/3271 whether we actually need JOSE/JWS since we will serve the JSON over HTTPS. And honestly I am not sure myself, isn't TLS enough? I guess it provides a bit more control when signing it explicitly but at the same time it will need more management. What do you think?

[2021-01-20 12:56] goodhoko commented on #2752
@tsusanka I think the question that needs to be asked is: Do we believe the host machine of the app to properly validate TLS certificates?

If an attacker installed a fake certificate on the user's machine s/he then could spoof our HTTPS request for the messages. We can indeed protect against this by explicit signing. However effectiveness of that is questionable because at that point the attacker

[2021-01-20 13:31] glacierbits commented on #3279
Thanks for the feedback guys. Let me give you a little more context, why we think this a worth pursuing approach. There are a few things / ideas to consider:

- We tried to find unifying visual and behavioral cue that will work across different components / contexts (the solution is underline on text + hover on buttons)
- End goal: Limit the number of external links (e.g. to our wiki). Let's expla

[2021-01-20 14:13] #3280 closed, assigned to slowbackspace

[2021-01-20 14:23] tsusanka commented on #1601
Thanks, closing then.

[2021-01-20 14:23] #1601 closed, assigned to wendys-cats

[2021-01-20 14:34] tsusanka opened #3282 "Add log into the "Open Github issue" feature"
In #2994 we have introduced a way to open an github issue directly from Suite. We should also include the log that we have inside the issue. Either the logs introduced in #3248 or the "support" one. Ideally redacted by default but since the button is currently only in the hidden debug settings I think just a small warning is enough.

[2021-01-20 14:39] tsusanka commented on #3232
Could @sorooris and @wendys-cats try the latest develop as well? If neither of you would replicate it I would close.

[2021-01-20 14:46] tsusanka commented on #3282
I suggest to add it using `<details>Hi</details>` which then looks like this:

<details>Hi</details>

[2021-01-20 14:47] szymonlesisz opened #3283 "ETH: catch error from blockbook/geth in estimateFee"
**Describe the bug**
handle and parse errors from `TrezorConnect.blockchainEstimateFee` in ethereum composeTransaction process.
Prevent from sending if invalid smart contract/ other error detected

Currently, a user can pay a fee even for an invalid transaction.

handle [errors](https://github.com/ethereum/go-ethereum/blob/c503f98f6d5e80e079c1d8a3601d188af2a899da/core/error.go) returned by `estima

[2021-01-20 14:51] bosomt commented on #3232
**QA OK**

tested on my side one more time.
Updated and downloaded version 03c3cd03
Let's close this issue one one more person confirms that it works fine

[2021-01-20 15:06] keraf commented on #2752
This. But even without admin privileges (given the user has installed a bogus CA/certificate), if there is a MITM, we need to get the public key for verifying the signature of the message. And at this point, nothing can guarantee the public key can be trusted. That additional step would be redundant.

On desktop though, we could bundle the key with the application. But that security can only be gu

[2021-01-20 15:12] keraf commented on #3279
I think the implementation of this could could be pretty neat. We could have a text component that has a map certain words to helper information. It could automatically highlight these words and provide the tooltip with the relevant help. It would also be nice to have the option to disable all of these globally, and if disabled, highlight them if a key is pressed down (for example Alt).

[2021-01-20 15:21] sorooris commented on #3232
**QA OK**

Launch, discovery, receive address, app reset, re-launch OK.

Suite: app 21.1.0 e31cc2b
OS: Win10 19042.746
Device: model T 2.3.4 50854b921

[2021-01-20 15:45] sorooris commented on #3248
**QA NOK**

Adding a runtime flag `--log-write` when launching Suite from command line results in an error, details below.

Suite: app 21.1.0 e31cc2b
OS: Win10 19042.746
Device: model T 2.3.4 50854b921

Details:
[code]

[2021-01-20 15:45] keraf commented on #2837
This is now the case on desktop. I guess for web it's good enough to check it in the settings? Or would you like it to be printed in the web console as well?

[2021-01-20 15:49] tsusanka commented on #2837
That's definitely good enough. Thanks :rocket:.

[2021-01-20 15:49] #2837 closed, assigned to keraf

[2021-01-20 15:52] tsusanka commented on #3232
@keraf I am suggesting to close this then unless you have experienced this yourself as it seems it was just some bad universe state on @bosomt's side.

[2021-01-20 15:55] bosomt commented on #3248
i was able to reproduce it on my computer

Suite: app 21.1.0 e31cc2b
OS: Win10 19042.746

[2021-01-20 15:56] #3232 closed, assigned to keraf

[2021-01-20 16:43] bosomt commented on #3280
Doesn't need QA

[2021-01-21 09:40] bosomt commented on #3248
I noticed that new directory structure is created when you start Suite app / commit e31cc2b2c0388e1b50f3f8fd529bc47d7e00fbef /

**Linux**
log is written to
`/home/tbosansk/.config/@trezor/suite-desktop/@trezor/suite-desktop/logs/`
and not to
`/home/tbosansk/.config/@trezor/suite-desktop/logs/`

**Windows**
`AppData\Roaming\@trezor\suite-desktop\Trezor Suite\logs`
`Trezor Suite` directory is create

[2021-01-21 16:47] keraf commented on #3203
Could you repro this one with the logging set to `debug` please?

[2021-01-22 10:44] glacierbits opened #3288 "TX details modal + RBF"
**Design:** [Zeplin](https://zpl.io/2G87k59)

This update includes:

- Tx status: Not final (orange), Final (green)
_Note: Tx status is to be used in incoming TX as well, In future "bump fee" button will be added › CPFP feature_

- Chained TXs tab
- Chained TXs warning in RBF (bump fee) form

[2021-01-22 10:58] glacierbits opened #3289 "Review send modal: Updated"
**Design:** [Zeplin](https://zpl.io/anjMRvr)

This update includes:

- Left side with TX "parameters", right side with inputs to be signed for more visual clarity
- Success screen with link to TX detail  in case `Broadcast = ON, i.e. signing + broadcast`
- Success screen with buttons to download raw TX in case `Broadcast = OFF, i.e. signing only`
- New, less technical TX detail view
- Progress cou

[2021-01-22 13:13] prusnak commented on #3004
This feature has been merged into the firmware via https://github.com/trezor/trezor-firmware/pull/1369 (BTC, mBTC, uBTC and sat denominations) and will be released during the next round of firmware updates on 10th of February.

That means we can continue with the next steps and implement this in Connect and Suite.

[2021-01-22 13:35] prusnak commented on #2962
We won't be triggering auto-update on NixOS for reasons mentioned in https://github.com/trezor/trezor-suite/pull/3113#issuecomment-763788498

[2021-01-22 13:35] #2962 closed, assigned to keraf

[2021-01-22 15:23] bosomt commented on #3106
is it possible to disable ctrl+f shortcut in app when modal is opened ?
See gif file. When you try to seach in modal search dialogue in tx history is open/
If not please close issue.

![Peek 2021-01-22 16-19](https://user-images.githubusercontent.com/31506317/105509502-d9610f80-5ccd-11eb-9f81-86acc3c6dc10.gif)

**Info:**
 - Suite version: desktop 21.1.0 (e31cc2b2c0388e1b50f3f8fd529bc47d7e00fbef)

[2021-01-22 15:27] keraf commented on #3106
Nice find :slightly_smiling_face: I'll get a fix for that shortly.

[2021-01-24 19:08] mroz22 commented on #1749
this is imho resolved.

[2021-01-24 19:08] #1749 closed, assigned to nobody

[2021-01-24 19:10] mroz22 commented on #3041
Just found that this throws here https://github.com/trezor/trezor-link/blob/c69d83bfd62679cebf8f9f10c343d12ecf567c2b/src/lowlevel/webusb.js#L196
in case device.reset() threw on line 187

[2021-01-25 09:11] bosomt opened #3292 "Xpub of previous wallet is displayed after wipe and recovery of new wallet"
**Describe the bug**
Xpub of previous wallet is displayed after wipe and recovery of new wallet
See gif recorded in browser. Same device, same seed. Two different xpubs.
previous or new wallet was not saved in suite

**Info:**
 - Suite version: web 20.12.1 (be4e3a36f7dbe15b2b203f66de11edc50a6665b8)
 - Browser: Firefox 82.0.3 (64-bit)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.

[2021-01-25 09:33] slowbackspace commented on #1756
@tsusanka ohh, I tried few weeks back. I needed to manually set DISPLAY env var (to my mac's local ip) to get it working. But after trying few tests the container started crashing. Then I got distracted and moved to something else.

I will give it another shot and report back!

[2021-01-25 10:17] bosomt commented on #3292
this happens with model T as well

see new wallet that I just created,
maybe we can force to reload device after it was wiped ?
or maybe we drop all wallet data after device was wiped ?

![image](https://user-images.githubusercontent.com/31506317/105692494-c6815180-5efe-11eb-817f-1c8187bb8b2c.png)

[2021-01-25 12:35] tsusanka opened #3294 "Register bitcoin: URI handler"
Clicking on a `bitcoin:` URI should open Suite and prefill the inputs if the infromation is available. See https://developer.bitcoin.org/devguide/payment_processing.html#bitcoin-uri and BIP-21 for more details.

Registering our own `trezorsuite:` handler is dealt with in #991.

[2021-01-25 12:36] tsusanka commented on #991
I have created a new issue for `bitcoin:` (#3294) and let's track here only our custom protocol `trezorsuite:` because the priorities are different.

In this issue we need to specify what kind of actions we want to support so I am assigning this to @matejzak because it needs a product spec.

[2021-01-25 12:38] drgorb opened #3295 "Add Energy Web Chain"
The owners of EWT would like to be able to manage their tokens in the Trezor Suite

Add the EWT to the list of available coins

* The RPC node to be used is `https://rpc.energyweb.org`
* the logo for the token is
![image](https://user-images.githubusercontent.com/26613/105706863-6399b580-5f12-11eb-9390-e983794afc52.png)
* The Volta test net should also be added `https://volta-rpc.energyweb.org`
*

[2021-01-25 12:40] prusnak commented on #3295
Please send a Pull Request with your tokens to this repo (where the token list is maintained): https://github.com/ethereum-lists/tokens

[2021-01-25 12:40] #3295 closed, assigned to nobody

[2021-01-25 13:07] drgorb commented on #3295
EWT is not an ERC20 token it is the native token of the Energy Web Chain

[2021-01-25 13:13] drgorb commented on #3295
EWT is not an ERC20 token it is the native token of the Energy Web Chain

[2021-01-25 18:38] szymonlesisz opened #3297 "Trading - exchange is available for disconnected device"
**Steps to reproduce:**
- run first discovery (btc)
- remember device
- disconnect device
- go to exchanges
- select exchange pair to LTC

**Expected result:**
Select coin (pair) should be disabled, TrezorConnect.getAccountInfo should not be called at all, user should be requested for "connect your [device-name/label] to continue..." instead

**Actual result:**
TrezorConnect.getAccountInfo is call

[2021-01-25 18:48] szymonlesisz opened #3298 "Exchange should warn about insufficient ETH balance when exchanging to ERC20 tokens"
**Describe the bug**
I want to change my BTC to USTD but i dont have any ETH to cover potential fees in case i would like to exchange it back to BTC.

**Steps to reproduce:**
1. Changing BTC to USTD
2. Trying to change back USTD > BTC

**Expected result:**
I should be warned that there is not enouh ETH on this account and i'll not be able to spend my ERC20

**Actual result:**
I'm dissapointed beca

[2021-01-25 18:53] szymonlesisz opened #3299 "Exchange should warn about minimum sell price"
**Describe the bug**
I've brought a little amount of USDT, lets say 10, now i want to change it back to BTC but the minimum of exchange is 20

**Expected result:**
I should be warned that i will not be able to sell it back

**Actual result:**
I need to do another exchange transaction (BTC > USDT) to fulfill required amount, im losing my time and money on fees

[2021-01-26 09:02] yohaaan commented on #3182
@tsusanka @sorooris user claimed that after uninstalling of Bridge the issue was gone. Is the solo Bridge clashing with the built-in Suite Bridge? Is this expected behavior?

[2021-01-26 10:22] keraf commented on #3182
Now that we have logging, we can have a better idea of what's happening :slightly_smiling_face: But I also noticed the Bridge to launch more reliably since I refactored the code (and maybe some previous refactoring introduced new issues). What version of Suite is the user running?

[2021-01-26 10:55] tsusanka opened #3300 "Install to user directory instead of Program Files on Windows"
We are having some problems with autoupdate when Suite is installed into Program Files directory. As suggested by @keraf let's modify the installer to prefill the path not with Program Files but User directory. The user directory is always writable so we should not have any problems there.

@matejzak ACK from the product side?

@keraf what happens if the user edits the path and installs to Program

[2021-01-26 11:02] keraf commented on #3300
I would suggest doing a one-click installer into the user directory. This will avoid privilege problems when updating. The one-click installer will not let the user modify the installation path which should be fine for most of our users but I can also see people wanting to have it portable. For the latter group, I would suggest providing a zipped archive of the application.

[2021-01-26 11:05] keraf opened #3301 "Display "update available" message for desktop applications that don't have the auto-updater enabled"
Applications that don't have the auto-updater enabled should still display a message to the user, informing them that a new version is available.

[2021-01-26 13:41] tsusanka commented on #3300
Ok, sounds good!

[2021-01-26 13:50] tsusanka commented on #3300
Prepared in 0ad2b5fed7f1f3da0953eb49b3b8cd1986df76e6, sending to QA.

[2021-01-26 15:27] #2604 closed, assigned to slowbackspace

[2021-01-26 15:27] #3292 closed, assigned to slowbackspace

[2021-01-27 11:10] bosomt commented on #3292
**QA OK**

 - Suite version: desktop 21.1.0 (93c2576e8a22b770241222de191c1508c595821c)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.3 regular

[2021-01-27 11:15] bosomt commented on #2604
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (93c2576e8a22b770241222de191c1508c595821c)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.3 regular

[2021-01-27 12:58] bosomt commented on #3164
QA OK

Info:

Suite version: desktop 21.1.0 (93c2576)
OS: Linux x86_64
Screen: 1920x1080
Device: model One 1.9.3 regular

[2021-01-27 23:05] wendys-cats commented on #2604
QA OK

Suite version: APP 21.1.0 (93c2576)
OS: NixOS 21.03
Device: TT 2.3.4 public

[2021-01-28 11:16] sorooris commented on #3248
Okay - after fiddling around with the runtime flags i think it works as intended, closing and approving!
Edit: confirmed with @keraf.

[2021-01-28 11:16] #3248 closed, assigned to keraf

[2021-01-28 13:18] tsusanka commented on #3106
@keraf this still needs some work or is not closed by accident?

[2021-01-28 14:03] keraf opened #3304 "It is possible to use ctrl+f shortcut in app when the modal is opened on transaction list"
See gif file. When you try to seach in modal search dialogue in tx history is open/
If not please close issue.

![Peek 2021-01-22 16-19](https://user-images.githubusercontent.com/31506317/105509502-d9610f80-5ccd-11eb-9f81-86acc3c6dc10.gif)

**Info:**
 - Suite version: desktop 21.1.0 (e31cc2b2c0388e1b50f3f8fd529bc47d7e00fbef)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, li

[2021-01-28 14:04] keraf commented on #3106
I guess it can be closed as the main task is done. It was re-opened by @bosomt as there was a minor bug found but it's a non-blocker imo. I created a new issue from his comment: #3304

[2021-01-28 14:29] #3106 closed, assigned to keraf

[2021-01-28 15:30] prusnak opened #3306 "macOS: Closing Suite window on full screen leads to black screen"
**Describe the bug**

1. Maximize window to fullscreen
2. Close window
3. Observe black screen

This is just a cosmetic issue, Suite re-opens the window when I click on the icon on the dock. The black screen is just surprising.

**Info:**
 - Suite Version: desktop app, 21.1.0 from develop, commit 8a00eb1
 - OS: macOS
 - Firmware Version: irrelevant

[2021-01-29 10:19] bosomt commented on #3106
**QA OK**

**Info:**
 - Suite version: desktop 21.1.0 (93c2576e8a22b770241222de191c1508c595821c)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-01-29 10:24] bosomt commented on #3226
@robertbrada looks like only tx notifications

![image](https://user-images.githubusercontent.com/31506317/106263348-8aaefa80-6224-11eb-9658-18e532765c24.png)

[2021-01-29 11:04] robertbrada commented on #3226
@bosomt  Can you be more specific about what you mean by that?

[2021-01-29 11:07] robertbrada commented on #3226
I made the distinction by myself and marked these notification types as important. However, this can be changed easily any time of course

![image](https://user-images.githubusercontent.com/44506010/106267835-8259be00-622a-11eb-8454-3b6e5ea8e0b8.png)

[2021-01-29 11:07] bosomt commented on #3226
@robertbrada you asked 18 days ago: " Does the Notifications tab display only transaction-related information? It seems to me there is nothing like All activity in the current Suite version." so i tried to give you answer

[2021-01-29 11:10] robertbrada commented on #3226
Yes thank you for your answer, later I got the context haha. I thought you were pointing at some bug since this was closed and merged already

[2021-01-29 11:13] bosomt opened #3307 "Account discovery error when you enable more coins during discovery"
**Describe the bug**
You can see `Account discovery error` when you enable more coins during discovery and switch between wallets.

**Steps to reproduce:**
1. add standard wallet and passphrase wallet
2. enable coin during discovery of previous coins
3. switch between wallets

**Info:**
 - Suite version: web 21.1.0 (656577d9e3d1f490ee175ed4e397b07ef6547c6a)
 - Browser: Mozilla/5.0 (X11; Linux x86_

[2021-01-29 13:38] bosomt commented on #3226
@matejzak

I don't see `View details` box in dark mode. See difference

![image](https://user-images.githubusercontent.com/31506317/106281400-775d5880-623f-11eb-990e-4bf290fc8520.png)
![image](https://user-images.githubusercontent.com/31506317/106281442-8217ed80-623f-11eb-8baa-d037c51be895.png)

**Info:**
 - Suite version: desktop 21.1.0 (e73dfba83051f953b15baa216b0d14697680078c)
 - OS: Linux x86_

[2021-01-29 14:12] sorooris opened #3308 "Autoupdate - missing update result on next launch (update un/succesful message, modal)"
**Describe the bug**
User is not informed about the result of an update after relaunch.

**Info:**
 - Suite Version: any, app only (tested 21.1.0, commit ?)
 - OS: any (tested macOS 11.1 Big Sur)
 - Firmware Version: any (tested model T 2.3.5)

**Steps to reproduce:**
Precondition - update is available
1. Launch Suite and confirm update,
2. Select either update on next launch or update immediately

[2021-01-29 14:27] wendys-cats commented on #3266
@trezor/qa
When you go back to Accounts, there should not be a situation where you have active ETH coin filter, but your default account that will be shown is BTC (which is NOT selected in the coin filter). Filter either works, or does not, and having BTC account selected by default when user returns to Accounts, even though only ETH is filtered, is inconsistent.
Please either remove the coin filt

[2021-01-29 14:36] bosomt commented on #3266
yes please, it's confusing

current master:

![image](https://user-images.githubusercontent.com/31506317/106287921-ad063f80-6247-11eb-9b03-d970e6d5e6e9.png)

**Info:**
 - Suite version: desktop 21.1.0 (e73dfba83051f953b15baa216b0d14697680078c)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-01-29 14:52] slowbackspace commented on #3266
Hmm I think the main question is: do we care about coin filter state being persistent across dashboard/accounts pages?
If not then reseting it is a simple fix (PR is open).

If we do care about that, as @wendys-cats pointed out it could be handy for some people, we should consider if coin filter should have an effect on an account that will be selected. This probably will be a bit more complicated

[2021-01-29 16:52] jerechinsky commented on #3085
@slowbackspace If the user has a model one, please replace the "Not supported" string with "Available on Model T".

[2021-01-29 18:17] glacierbits commented on #3266
Let's do it (reseting is the way to go imo) @slowbackspace

[2021-01-29 18:59] #3266 closed, assigned to glacierbits

[2021-01-30 00:31] SvenBudak opened #3311 "Cant send Dogecoins from Trezor - Failed to send transaction Error details: Requested unknown tx"
Hi. I just tryed to send my dogecoins. i created a deposit adress and try to send to this adress. when i submit i get an error:

[code]

Is this a bug inside the firmware of trezor? because the loading indicator is also stuck on display on my trezor model T at about 22%

[2021-01-30 08:06] prusnak commented on #3311
This is the issue affecting the whole Dogecoin network. There are not enough public nodes to sync with. If you run any Dogecoin wallet, you'll face the same issues. The network is not well interconnected and it's not handling the influx of new transactions very well.

Please keep trying.

[2021-01-31 20:24] SvenBudak commented on #3311
@prusnak Thank for the answere! One question... Can i use somehow any node that makes my transaction work? its ok if it costs money.

[2021-01-31 21:59] prusnak commented on #3311
Yes, you can try to resubmit the transaction via any other node.

[2021-01-31 22:04] SvenBudak commented on #3311
can you recommend anyone?

[2021-01-31 22:07] Head commented on #3311
This seem to be a different problem here. Sven cut off the TX id here. He's sent it to me and it's the incoming TX from Kraken to his wallet. Seems like the trezor backend can't find this OLD tx to generate the raw TX, while it is visible and confirmed on their own block explorer.
(also Trezor nodes are up to date right now https://doge1.trezor.io/ Last Block | 3588834 -- | -- Last Block Update |

[2021-01-31 22:17] prusnak commented on #3311
@Head can you send me the TXID? Ideally with link to some dogecoin explorer which clearly shows the TX has been mined already. It's impossible to debug the issue without it.

[2021-01-31 22:24] SvenBudak commented on #3311
@prusnak Thank you for taking the time to do this. I have sent you the TX by email.

[2021-01-31 22:30] prusnak commented on #3311
@SvenBudak which firmware version are you on?

[2021-01-31 22:33] SvenBudak commented on #3311
Firmware: 2.3.4

I just bought the Trezor 1 or 2 weeks ago and set it up. I was wondering if a Google Chrome installer should be running during the installation. I have canceled this. I think that has but rather nothing to do with it ;)

[2021-01-31 22:34] prusnak commented on #3311
Can you please try our new Trezor Suite - https://suite.trezor.io - if it has the same problem?

[2021-01-31 22:39] SvenBudak commented on #3311
Thanks, I had already tried that. only the error message there is worded slightly differently:

Instead of:
Failed to send transaction
Error details: Requested unknown tx:

it says:
Sign transaction error: requestTxInfo: Requested unknown tx:

Ah and I forgot to mention that the loading indicator on the Trezor T display stops at 25%. Then I have to disconnect the device from the USB to get it runn

[2021-01-31 22:59] Ivanov345 commented on #3311
Hi,
I have the same problem with Tresor One FW 1.9.3. My Doge is since 25.08.20 in the wallet. I have tried to send it many times and I have always the same error like SvenBudak. I bought new Dogecoin but sent it to the same address. Sometimes the display goes to 10%, sometimes 0%. I suggest because  one of the  tx-es is ok and the other one not. I can't choose from which tx I want to make the tra

[2021-02-01 09:47] tsusanka commented on #3300
Did one-click installer is way to aggressive as discussed with @matejzak. We are trying different approaches.

[2021-02-01 09:49] prusnak commented on #3300
We can still try:

[code]

[2021-02-01 12:20] tsusanka commented on #3300
It seems the problem was the "silenceness" of the autoupdater, it seems we have fixed this by https://github.com/trezor/trezor-suite/pull/3224/commits/48b5674bc521ea3feb146f2a18e5a7fa163309cb. QA will confirm but I think we do not have to worry about this.

[2021-02-01 12:20] #3300 closed, assigned to keraf

[2021-02-01 14:17] bosomt commented on #3202
**QA OK**

Windows 10 latest update
Suite commit e6156ff4

[2021-02-01 14:21] tsusanka opened #3312 "Windows - remove confirmations in installer"
**Describe the bug**
There is one thing that is not ideal in Windows during the autoupdating process. User is prompted with the installer which they need to confirm. However, it should be possible to make it without any confirmation.

**Steps to reproduce:**
1. Do autoupdate on Windows

**Info:**
 - Suite version: desktop 21.1.0 (48b5674bc521ea3feb146f2a18e5a7fa163309cb)
 - Browser: Mozilla/5.0 (W

[2021-02-01 14:34] bosomt commented on #3203
**QA OK**

location: Program files directory
Windows 10 latest update
Suite commit e6156ff4

[2021-02-01 14:34] #3203 closed, assigned to keraf

[2021-02-01 15:01] sorooris commented on #3151
**QA OK**

Autoupdate with the `--pre-release` flag successful.

Suite: app 20.1.0 -> 21.1.0 48b5674
OS: macOS Big Sur 11.1
Device: 2.3.5 RC

[2021-02-01 15:01] #3151 closed, assigned to keraf

[2021-02-01 15:02] sorooris commented on #2965
**QA OK**

Autoupdate with the `--pre-release` flag successful; immediate update relaunches and updates Suite correctly.

Suite: app 20.1.0 -> 21.1.0 48b5674
OS: macOS Big Sur 11.1
Device: 2.3.5 RC

[2021-02-01 15:02] #2965 closed, assigned to keraf

[2021-02-01 15:06] sorooris commented on #3204
**QA OK**

Skipping an offered update in the modal and triggering it via settings behaves correctly - update is detected, offered, downloaded and installed correctly and Suite relaunches correctly as well.

Suite: app 20.1.0 -> 21.1.0 48b5674
OS: macOS Big Sur 11.1
Device: 2.3.5 RC

[2021-02-01 15:06] #3204 closed, assigned to sorooris, keraf

[2021-02-01 17:01] sorooris commented on #3203
**QA OK**

Suite: app 20.1.0 -> 21.1.0 48b5674
OS: Win10 19042.746
Device: 2.3.5 RC

Attaching log
[Win10 - 20.1.0 -> 21.1.0 48b5674 update log.txt](https://github.com/trezor/trezor-suite/files/5905420/Win10.-.20.1.0.-.21.1.0.48b5674.update.log.txt)

[2021-02-01 17:03] sorooris commented on #3202
**QA OK**

Couldn't replicate, download progress displayed correctly.

Suite: app 20.1.0 -> 21.1.0 48b5674
OS: Win10 19042.746
Device: 2.3.5 RC

[2021-02-01 18:38] tsusanka opened #3313 "Consider `bitcoin:` for web version of Suite"
Finish discussion at https://github.com/trezor/trezor-suite/pull/2879#discussion_r567764645. Discuss if we want this.

[2021-02-01 23:01] Ivanov345 commented on #3311
I found a way to send and sell my Doge in 15 minutes.

I am writing an Email to @SvenBudak so he can do it too. If you want some information I will tell you as well.

[2021-02-02 01:50] SvenBudak commented on #3311
i still hope for a serious solution...

[2021-02-02 06:19] bosomt opened #3314 "Windows - autoupdate checking.. forever after update is skipped"
**Describe the bug**
When you press skip when asked to update then you are not able to install it anymore.
It will never ask you to install it again and you are not able to trigger it via settings page.
This happened when used --pre-release flag and when I not used this flag.
Sometimes you need to skip it two times. Only way to trigger it one more time is delete suite data directory.
This issue is

[2021-02-02 09:15] #2970 closed, assigned to szymonlesisz

[2021-02-02 09:31] szymonlesisz commented on #3311
fix is on the way

[2021-02-02 10:36] bosomt commented on #2613
QA OK

Windows 10
Suite signed test version commit 48b5674

[2021-02-02 10:39] slowbackspace commented on #3307
Just so I won't forget, I think the key point is to switch to different wallet while discovery is still running. I could replicate the bug by following steps from the video boso posted.
So it is not great, but not terrible either 😁

[2021-02-02 10:52] #3227 closed, assigned to robertbrada

[2021-02-02 10:58] slowbackspace opened #3316 "Fix source maps"
- broken since 9.x next upgrade
- will help making triaging sentry error reports much easier

[2021-02-02 11:23] bosomt commented on #3227
@matejzak @slowbackspace is there anything that can be tested on our side ?

[2021-02-02 11:40] tsusanka opened #3317 "Add Dependabot"
It is now part of [github](https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/). To update our libraries asap and periodically.

[2021-02-02 11:42] prusnak commented on #3317
Dependabot is alive and kicking - see https://github.com/trezor/trezor-suite/security

[2021-02-02 11:46] tsusanka commented on #3317
Ah, cool. How come it did not file a PR for #3315? Maybe it is set to security fixes only? Maybe some config is needed? https://docs.github.com/en/github/administering-a-repository/enabling-and-disabling-version-updates#enabling-github-dependabot-version-updates

[2021-02-02 11:52] prusnak commented on #3317
Hm, it might be confused because we are not using a single `package.json` (each package has its own) but we are using a single `yarn.lock`. This needs to be investigated whether this is supported configuration.

[2021-02-02 12:42] keraf opened #3320 "Add a help button to display contextual help"
We should provide some in-app help in Suite to let users assist themselves and reduce the strain on the support (especially useful when Suite will officially launch).

The idea is:
- Display a button on the top right (same section as the settings button)
- Clicking the button or pressing F1 will open a help modal
- Based on the current URL, help topics will be suggested (for example, on the send f

[2021-02-02 12:46] #3316 closed, assigned to slowbackspace

[2021-02-02 12:54] jerechinsky opened #3321 "Crowdin sync"
@matejzak needs to update a few strings first.

@slowbackspace after Matej confirms he's done, please proceed to do the crowdin magic, hopefully before freeze. :)

[2021-02-02 13:02] prusnak commented on #3311
@SvenBudak @Ivanov345 we've released the fix to wallet.trezor.io that should help with the issue - please try now

[2021-02-02 13:24] SvenBudak commented on #3311
@prusnak AWESOME! It is working! :) Thanks alot for the fix!

[2021-02-02 13:33] Ivanov345 commented on #3311
Nice a little to late for me, I couldn't try it, only took the damage because of the ignorance by the support, which told me just to keep trying. Because there was no problem with the app or the device

[2021-02-02 13:39] SvenBudak commented on #3311
@Ivanov345 I think it was a misunderstanding in communication in the beginning. If my friend had not made clear what the problem was, no one would have understood what my problem was, because my knowledge about crypto transactions is too poor to describe the problem correctly. I am thankful that they have loaded a fix live within only 2 days.

[2021-02-02 13:42] prusnak commented on #3311
Thanks @SvenBudak for confirmation. Closing

[2021-02-02 13:42] #3311 closed, assigned to nobody

[2021-02-02 14:28] bosomt commented on #2970
**QA OK**

https://eth1.trezor.io/tx/0x2a9d873f90db1bafe1a412f5205cdb08159d3e420b0c3f2f505518d2a6228345

Nixos
Chromium Version 87.0.4280.66 (Developer Build) (64-bit)
Suite dev master commit c5120e5fa57e868d215ec39d4a03717e8497afe8
Device model One 1.9.4

[2021-02-02 14:37] slowbackspace opened #3322 "crowdin links in translator mode are not clickable in notification panel"
![image](https://user-images.githubusercontent.com/6961901/106615180-76446800-656c-11eb-9155-313f67918d30.png)

[2021-02-02 15:01] bosomt commented on #3316
nothing to test on our side

[2021-02-02 15:03] bosomt commented on #3227
nothing to test on our side

[2021-02-02 16:08] sorooris commented on #3226
Issue still persists, details above; reopening.

[2021-02-02 16:10] robertbrada commented on #3226
@matejzak

Is this an issue to be solved? The problem is that the Dropdown in dark mode has the same background as the tertiary button.
But both of these colors follow the design guidelines. So there are three options:

1. leave as it is
2. make the tertiary button background lighter **for this specific use case**
3. make the dropdown's background darker, but it does not look good according to the

[2021-02-02 16:28] slowbackspace opened #3323 "Review tx modal overflow"
Screenshot of unreleased review modal showing overflow with bigger amounts (imagine doge)/larger number of decimals (ethereum).

Amount in the left panel doesn't stand a chance, even with symbol in new line it won't fit more than 100.18decimals of eth.
Not sure what's the proper fix, but I have a feeling that one most important thing is the amount being sent and it should be visible in full.

Amou

[2021-02-02 17:03] jerechinsky commented on #3321
Matej has submitted the missing strings.
@slowbackspace please proceed

[2021-02-02 17:54] szymonlesisz opened #3325 "[blockchain-link] Provide full tree of chained/related pending transactions"
depends on https://github.com/trezor/blockbook/issues/555

[2021-02-02 18:02] glacierbits commented on #3323
On it!

[2021-02-02 18:04] szymonlesisz opened #3326 "[blockchain-link]: Refactor workers to modules"
Refactor worker files to use them as a modules

[2021-02-02 18:06] szymonlesisz opened #3327 "[blockchain-link + suite]: add missing fields to tx object"
- [x] feeRate #6261
- [x] vsize #6261
- [ ] locktime
- [ ] consider strongly typings (bitcoin/ethereum/ripple) or bitcoinSpecific, ethereumSpecific, rippleSpecific fields?
- [ ] refactor suite enhancement fn to keep both formatted and satoshi amounts
- [ ] db migration (tx changes)
- [ ] check/fix the blockHeight 0/-1 discrepancy for pending txs (see [fix](https://github.com/trezor/trezor-suite/pu

[2021-02-02 18:09] szymonlesisz opened #3329 "[blockchain-link]: consider dropping support for transactions with multiple addresses in vin/vout"
they are not supported by Trezor (imo) and requires a lots of conditions in multiple places (searching in array)
https://btc1.trezor.io/tx/60a20bd93aa49ab4b28d514ec10b06e1829ce6818ec06cd3aabd013ebcdc4bb1

[2021-02-02 18:12] szymonlesisz opened #3330 "[copy] Ethereum sign/review fee message"
Fees in Ethereum are not final, technically you can pay less for a tx to mine.
Proper message should be the same as on the device:

![Screenshot from 2021-02-02 19-10-36](https://user-images.githubusercontent.com/3435913/106643821-8a975d80-658a-11eb-8ac4-65f6c374170a.png)
![Screenshot from 2021-02-02 19-01-30](https://user-images.githubusercontent.com/3435913/106643829-8cf9b780-658a-11eb-9e03-2787

[2021-02-02 18:13] szymonlesisz opened #3331 "RBF for ETH network ♻️"
In ETH every pending transaction is not final and could be replaced with higher fee (like bitcoin RBF)

[2021-02-02 20:41] #3321 closed, assigned to slowbackspace

[2021-02-03 07:21] bosomt commented on #3321
nothing to test on our side

[2021-02-03 08:19] #675 closed, assigned to szymonlesisz

[2021-02-03 08:21] glacierbits opened #3332 "Trezor onboarding"
**Model T:** [Zeplin](https://zpl.io/V1RmeGJ)
**Model One:** [Zeplin](https://zpl.io/VDPR7Je)
**Spec:** [Notion](https://www.notion.so/satoshilabs/Onboarding-Trezor-57311f20596e4d25a08a119bf8de8e59)

[2021-02-03 08:48] bosomt commented on #3307
I hope this is same problem we see this a lot.
![disc](https://user-images.githubusercontent.com/31506317/106721297-c1aa5500-6604-11eb-8608-b887575bf39f.gif)

**Info:**
 - Suite version: desktop 21.1.0 (29ae0c53d4c3401f05a4d340502f3d61c7cb8556)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.4 regular

[2021-02-03 09:26] #3097 closed, assigned to keraf

[2021-02-03 10:02] slowbackspace opened #3333 "Review modal: gas price overflow"
let's round it to 3 decimals, x.xxx, if it won't look too weird let's also add the symbol we are using in accounts menu for balance in fiat currency (something like ~).
![image](https://user-images.githubusercontent.com/6961901/106730869-21a5f900-660f-11eb-8c3b-116ccdb9ac5a.png)

[2021-02-03 10:19] bosomt commented on #3097
**QA OK**

Nixos + Firefox
Suite dev web master commit 60aa1920b46d9d9a75ee4254c410694d175b4157
1.9.5+2.3.5 RC2

[2021-02-03 13:42] #3288 closed, assigned to slowbackspace

[2021-02-03 15:31] tsusanka opened #3335 "Move Suite version to single place?"
During every release we are bumping the packge versions to format YY.MM.PATCH (see [docs](https://docs.trezor.io/trezor-suite/misc/versioning.html)). It is a bit annoying that we have to modify the version of each and every packge, see c2448b3a. Could we have just a single file where the version is stored? Or extrapolate it somehow to a single variable? I am not sure if it is possible the way yarn

[2021-02-03 16:16] slowbackspace commented on #3335
maybe something like lerna could do the job?
https://github.com/lerna/lerna/blob/main/commands/version/README.md

[2021-02-03 16:21] slowbackspace commented on #3226
I am for changing the color of panel background, I even think that's the proper way to go since design uses BG_WHITE, that means in dark mode it should looks exactly like in 3rd option @robertbrada posted. But I do agree that contrast is not stellar.

[2021-02-03 16:57] glacierbits commented on #3085
@alex-jerechinsky Can you please update this copy via Crowdin? Thanks!

[2021-02-03 19:29] tsusanka commented on #3335
Yes! :heart: We just need to figure out how to ignore some of the packges:

[code]

[2021-02-04 08:23] bosomt opened #3336 "Send dialogue - Inconsistent fee info"
**Describe the bug**
See screens and gif I recorded, I selected 1 sat/b in send dialogue but in confirmation dialogue it's 4 sat/b.
Both dialogues have same fee displayed 645 sat but rate is different.
This happens only when you try to send funds from B32 account, Segwit and Legacy accounts works fine.
This only happens when you set manually see to 1 sat/b

**Steps to reproduce:**
1. go to Bech32

[2021-02-04 08:30] slowbackspace commented on #3336
We know! 🤭

[2021-02-04 09:02] slowbackspace commented on #3335
I am wondering if we really need to ignore some packages, ones that currently don't follow suite versioning are:
translations-manager, integration/tests, rollout, news-api , components, blockchain-link. But maybe they could and should? The only package that could be used by some 3rd party is blockchain-link, but I am not sure if someone really uses it. And even then, lerna should bump version numb

[2021-02-04 09:11] tomexx commented on #3333
Do we want to make the same in the Send from?
![image](https://user-images.githubusercontent.com/2822756/106873365-ac046080-66d4-11eb-9c18-c8e0bbd8040c.png)

[2021-02-04 09:25] #3289 closed, assigned to tomexx

[2021-02-04 09:55] glacierbits commented on #3041
@trezor/qa Can you please retest? Not sure this issue persist.

[2021-02-04 10:00] bosomt opened #3337 "Send - Erc20 send dialogue looks like Eth transaction"
**Describe the bug**
Please see screenshot, sending of ERC20 token is identified as ETH transaction

**Steps to reproduce:**
1. generate ERC20 transaction
2. check 'Send' modal description

**Info:**
 - Suite version: desktop 21.2.1 (c2448b3a66c2850c2a99acc8574edadf5771d565)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.2.1 Chrome/87.0.4280.88 El

[2021-02-04 12:40] bosomt commented on #3336
same for DOGE :)

![image](https://user-images.githubusercontent.com/31506317/106893857-77050780-66ee-11eb-9bc4-0b0bdae79c3f.png)

![image](https://user-images.githubusercontent.com/31506317/106893908-85532380-66ee-11eb-9ebd-92b437c59c83.png)

[2021-02-04 12:42] slowbackspace commented on #3336
@bosomt it is like that for every bitcoin-like coin (segwit enabled), we know about the issue (someone actually noticed it during product demo) and are working on the fix :)

[2021-02-04 13:18] tsusanka opened #3340 "Release fixes"
Temporary issue to track what needs to cherry-picked into the release branch. Please comment to request a cherry-pick.

- [x] https://github.com/trezor/trezor-suite/pull/3338
- [x] #3339
- [x] #3343
- [x] - https://github.com/trezor/trezor-suite/commit/fa056457fde7042c06cdb75ef7772243942a5433
- [x] https://github.com/trezor/trezor-suite/commit/e850887e08e5ea3c070769cdf235c73e02b2e752
- [x] ff7cc31

[2021-02-04 13:21] slowbackspace commented on #3340
https://github.com/trezor/trezor-suite/pull/3339

[2021-02-04 13:27] bosomt opened #3341 "Send - missing Finalize switch in bump transaction modal"
**Describe the bug**
Bump transaction fee modal is missing finalize transaction switch

**Steps to reproduce:**
1. send RBF transaction
2. press bump fee
3. finalize transaction switch not available in modal

**Info:**
 - Suite version: desktop 21.2.1 (c2448b3a66c2850c2a99acc8574edadf5771d565)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.2.1 Chr

[2021-02-04 13:58] bosomt opened #3342 "Transaction history - change pending transaction to transacations"
**Describe the bug**\
Transaction history says  `PENDING TRANSACTION` even there is more than one unconfirmed transaction.
Please consider to changing it to plural when there is more than one transaction.

**Info:**
 - Suite version: desktop 21.2.1 (c2448b3a66c2850c2a99acc8574edadf5771d565)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

**Screenshots:**
![image](https

[2021-02-04 14:43] glacierbits opened #3344 "CPFP 👶"
- Enable CPFP in Send
- Option to `Bump fee` to incentivize miners to confirm an unconfirmed incoming transaction

[2021-02-04 15:15] slowbackspace commented on #3341
@alex-jerechinsky from my pov it is actually feature request as the switch is missing in design. I am expecting that @matejzak will have to figure out where and how to show it in UI to reduce the potential for misunderstanding.

[2021-02-04 15:23] jerechinsky commented on #3341
@slowbackspace Fair enough. If @matejzak agrees, we'll put it in backlog for now until Matej figures this one out.

[2021-02-04 15:50] slowbackspace commented on #3340
https://github.com/trezor/trezor-suite/pull/3339 (to be merged, but I don't wanna forget about it during the weekend 😬 )

[2021-02-04 16:57] #3342 closed, assigned to slowbackspace

[2021-02-04 18:02] tsusanka commented on #3218
@prusnak there is no easy way to check the "health" of the network right? We just wanted to make sure with @matejzak this is definitely on the network side not at ours. It was lagging yesterday again

[2021-02-04 18:25] #3333 closed, assigned to tomexx

[2021-02-04 20:40] prusnak commented on #3218
Don't know of any way, but maybe there is one ...

[2021-02-05 08:53] jerechinsky commented on #2618
Changed `TR_DEVICE_NOT_RECOGNIZED_TRY_UDEV` from
_Trezor not recognized? Try installing {link}._
**to**
_Trezor not recognized? Try installing {link}. Make sure to first download them to desktop before opening._

[2021-02-05 08:53] #2618 closed, assigned to jerechinsky

[2021-02-05 08:54] jerechinsky commented on #2618
nothing to test

[2021-02-05 09:21] jerechinsky commented on #3085
@matejzak Sorry! I forgot to mention that this string involves logic that checks if a **particular coin** is supported by the device's **firmware** and **not the device** itself. I.e. users with model T and btc-only firmware see it next to each coin except btc. So I asked @slowbackspace to implement another conditional that would check for the device model itself, so we know for sure that the user

[2021-02-05 09:36] glacierbits commented on #3085
No worries @alex-jerechinsky Thanks for taking care of it!  ☺️

[2021-02-05 09:48] #3337 closed, assigned to tomexx

[2021-02-05 10:37] bosomt opened #3347 "Authorization error: Device call in progress error when adding wallet"
**Describe the bug**

This issue is occurring a lot in last versions of Suite.
I see `Authorization error` even devices were just connected after Suite was started.
Sometimes im not even able to add any even standard wallet/see last screenshot/.
I see in log:
`ERROR(console-log): Uncaught (in promise) Error: session not found - file:///static/connect/js/iframe.9cd600cdb5561a35c213.js:53`

**Steps

[2021-02-05 11:05] tsusanka commented on #3340
All three passed on to QA.

[2021-02-05 11:29] bosomt commented on #3347
It's occurring even when you use webUSB , so it's not Bridge related

[2021-02-05 11:36] bosomt commented on #3041
**QA OK**

I was not able to reproduce it with Web version of Suite in Chromium

**Info:**
 - Suite version: web 21.2.1 (a63b29d19ff08ece94be28d2997d4265ac1c84fc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.4 regular + 1.9.4

[2021-02-05 11:39] glacierbits opened #3348 "Account navigation"
New account navigation design improvements:

- [x] Increase font size for the fiat value (from 20 to 24px) [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/601d23fb81d8f9849d65adb8)
- [x] Tabs for `Overview` and  `Details` (i.e. remove 3 dots account menu)
- [x] Turn tabs into secondary buttons for `Send`, `Receive`, `Trade`
- [x] `‹ Back` button for expanded Send, Receive, T

[2021-02-05 11:57] tsusanka commented on #3041
@STew790 could you retry? Seems like you had some more luck :eyes:

[2021-02-05 11:59] tsusanka commented on #3192
Ping @matejzak, do you actually want to worry about this? I think my design is just fine?

[2021-02-05 12:16] tsusanka commented on #3347
@bosomt could you please append the whole log from Suite?

[2021-02-05 12:59] bosomt commented on #3347
@tsusanka https://pastebin.com/UheCU9UB

[2021-02-05 16:49] tsusanka opened #3350 "Do not log Bridge not running as ERROR"
**Describe the bug**
This is very nit-picky but since it is expected that Bridge might not be running we should not report an error (rather an `info` or `debug`) in the log.

[code]

**Steps to reproduce:**
1. Turn off Bridge
2. Launch Suite

**Info:**
 - Suite version: desktop 21.2.1 (a63b29d19ff08ece94be28d2997d4265ac1c84fc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML,

[2021-02-05 16:50] bosomt commented on #3337
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/107063345-8d888d00-67da-11eb-93b5-8afe9bc3235e.png)

Nixos + Firefox
Suite web commit a63b29d19ff08ece94be28d2997d4265ac1c84fc

[2021-02-05 16:54] glacierbits commented on #3192
Fine with me, provided:

- The info will appear only when Linux binary selected (as Alex suggests above, otherwise design needed)
- Copy suggestion: `Linux installation how to` (it's shorter and has Linux as first word - helps to skim the text quickly)

[2021-02-06 20:55] DerekMiner commented on #3218
This bug has made the Suite completely unusable on my mac running Catalina 10.15.7. I have had one successful connection several weeks back, but since then it always says backends are down for all the wallets. Turning Tor off is not an option and exposes your wallet addresses and IP address, essentially until this is fixed my trezor wallet is completely useless through the trezor suite. Neither Re

[2021-02-07 09:54] bosomt opened #3351 "Transaction incorrectly displayed when Sent to myself"
**Describe the bug**
Please see transaction details. I sent 0.23 LTC to my self but amount is same as fee in transaction detail.
I was able to reproduce it via LTC or DOGE

**Steps to reproduce:**
1. send transaction from/to same account
2. compare blockbook information and tx detail information

**Info:**
 - Suite version: desktop 21.2.1 (a63b29d19ff08ece94be28d2997d4265ac1c84fc)
 - OS: Linux x86

[2021-02-07 11:17] prusnak commented on #3218
Tor network has troubles recently. I am not sure anything can be done on our side of things ... :-/

[2021-02-07 15:52] bosomt opened #3352 "Send dialogue - missing delivery time in DGB send dialogue"
**Describe the bug**
I was only able to reproduce this issue with DGB, other coin send dialogues looks OK,
Looks like TX confirmation time of transaction can't be correctly estimated.

**Info:**
 - Suite Version: web, commit a63b29d19ff08ece94be28d2997d4265ac1c84fc
 - Browser: Firefox , version 82.0.3 (64-bit)
 - OS: Nixos
 - Firmware Version: 1.9.4model one

**Steps to reproduce:**
1. Send DGB TX

[2021-02-07 21:18] prusnak commented on #3218
I updated the Tor binaries in https://github.com/trezor/trezor-suite/pull/3353 - hopefully this fixes the issue.

[2021-02-07 21:19] prusnak commented on #3191
Closing as duplicate of https://github.com/trezor/trezor-suite/issues/3218

There will be a new release of Trezor Suite next week with the fix

[2021-02-07 21:19] #3191 closed, assigned to nobody

[2021-02-08 10:12] #3336 closed, assigned to szymonlesisz

[2021-02-08 10:39] slowbackspace opened #3355 "Difference in fee rate between transaction detail modal and send form"
**Describe the bug**
Fee rate shown in Transaction details modal is different from the cusom fee filled in send form (and shown in review modal)
**Info:**
 - Suite Version: fa056457fde7042c06cdb75ef7772243942a5433

**Problem**: fee calculation based on tx.size instead of vsize.
Prerequisite: https://github.com/trezor/blockbook/issues/559 (We'll wait for implementation of vsize field on the backend

[2021-02-08 10:54] #3347 closed, assigned to szymonlesisz

[2021-02-08 13:24] jerechinsky commented on #3351
@szymonlesisz Please suggest if someone else is better fit to fix this issue.

[2021-02-08 14:35] glacierbits opened #3359 "24-hour clock"
We (incorrectly) use combination of 12-hour clock and 24-hour clock format in Transactions history and other places across the app.

- [ ] Let's use the less ambiguous 24-hour clock only: https://en.wikipedia.org/wiki/24-hour_clock

- [ ] Also please use the same date | time format across the app: `Feb 08, 2021  ·  15:35`

TX detail:
<img width="286" alt="Screen Shot 2021-02-08 at 15 29 31" src="h

[2021-02-08 14:38] keraf commented on #3359
This task kind of overlaps with this https://github.com/trezor/trezor-suite/issues/2294

It would be nice to have a setting to define currency, time and date formatting independently from the chosen language.

[2021-02-08 14:41] sorooris commented on #3218
Update: the issue is unrelated and present without toggling Tor on/off -> #3370 created.

Suite: app 21.2.1 20f555fc
OS: macOS Big Sur 11.2
Device: 2.3.5 RC

~~QA NOK~~

~~Launching Suite with Tor on (previous session was shut down with Tor on) loads only a few of the accounts and then stops loading with placeholder images animating.~~

[macos_log-Tor-retest.txt](https://github.com/trezor/trezor-s

[2021-02-08 14:43] Dehumanizer77 opened #3360 "Problem with suite in Tor browser"
**Describe the bug**
Suite doesn't work when accessed via Tor browser.

**Steps to reproduce:**
1. open http://suite.trezoriovpjcahpzkrewelclulmszwbqpzmzgub37gbcjlvluxtruqad.onion/ via tor browser
2. connect trezor and try to access the wallet (no matter if hidden or not)
3. in case of the hidden wallet, it says the hidden wallet is empty, in case of standard wallet it reports an error with discov

[2021-02-08 15:26] prusnak commented on #3360
Which version of the Bridge do you use (http://127.0.0.1:21325/status/) ? You need to have bridge at least 2.0.30 for .onion domains to work

Plus make sure you did all the steps described in https://wiki.trezor.io/Tor

[2021-02-08 15:28] IvaFingerova opened #3361 "Suite Landing page - Invity part update"
Invity section on the [Suite landing page](https://suite.trezor.io/) mentions only buy and exchange and both are tagged SOON - which is an obsolete information :)
<img width="1248" alt="Screenshot 2021-02-08 at 15 44 42" src="https://user-images.githubusercontent.com/8152411/107237813-6f639c80-6a27-11eb-8807-9452deed0501.png">

- [x] Matt will update content in Crowdin app + I'll let you know it i

[2021-02-08 17:02] FreeGoldRush opened #3362 "GWEI price in ETH incorrect"
**Describe the bug**
Suite is recommending 300.33 GWEI for transfer at a cost of 0.060066 ETH ($103.48).  That indicates 1 GWEI is 0.0002 ETH. My understanding is that a GWEI is 0.000000001 ETH.  I am trying to send an ERC-20 token.

**Info:**

Windows 10.  Upgraded to latest Suite, Bridge and Trezor 1 firmware today (Feb. 8, 2021).

**Steps to reproduce:**
Run Trezor Suite desktop software.  Go t

[2021-02-08 17:04] prusnak commented on #3362
What do you mean by Trezor website? Which URL?

[2021-02-08 17:41] tsusanka commented on #3361
Btw we have already removed Soon in develop, it will be released on Feb 10.

[2021-02-08 17:51] IvaFingerova commented on #3361
Cool! But we should mention also spend and sell on which we are currently working on...
I've already asked Matt to update the content in Crowdin and will try to push it so we will make it till the release

[2021-02-08 17:59] FreeGoldRush commented on #3362
"It is possible to adjust the gas price in Beta Wallet. It is capped at 50 GWEI..."
https://wiki.trezor.io/New_cryptocurrencies_in_Beta_Wallet

[2021-02-08 20:11] Gatorace opened #3363 "Cant send Dogecoins from Trezor - Failed to send transaction Error details: Requested unknown tx #3311"
Saw a earlier post that a similar issue was fixed, but I am not able to send even after supposed fix.  Getting this error:  Sign transaction error: requestTxInfo: Requested unknown tx: 331d51ba57b0f6292690e7a286cfcb108348b0f20efbeb98fcbcc80d4b4c7ec4

Any help would be appreciated

[2021-02-08 21:22] prusnak commented on #3363
This will be fixed in Trezor Suite update on Wednesday (in 2 days).
Meantime you can use wallet.trezor.io to send Doge

[2021-02-08 21:22] #3363 closed, assigned to nobody

[2021-02-08 21:29] prusnak commented on #3362
I removed the section about the fees - it's getting obsolete soon and it doesn't make sense to update the wiki everytime there is a surge increase in fees.

[2021-02-08 21:44] prusnak commented on #3362
@trezor/qa can you please test with the latest 21.2.1 RC?

[2021-02-08 21:57] bosomt commented on #3352
@slowbackspace @tomexx is this correct behavior ?

0 is not diplayed any more but here is no dlivery time info in Confirm TX modal even estimated time is displayed in send modal

DGB: NOK
DOGE: OK
DASH: OK

Nixos
Suite app commit 20f555fcbfb0d833c1c12d0d20207450b2c42e47

![image](https://user-images.githubusercontent.com/31506317/107285241-27606c00-6a5f-11eb-960f-609398cc9b97.png)
![image](https:/

[2021-02-08 21:59] njm1984 opened #3364 "Labels only work for 1 wallet at a time"
I can't seem to have both my devices (and their respective wallets) display labels all at once. When adding a wallet, I get the prompt on the device, and my labels appear fine. However, if I add another wallet, approve that prompt, the labels disappear from the _first_ wallet. Sorry if this is a bit confusing - essentially, my Dropbox labels only work for the most recently added wallet. If it matt

[2021-02-08 22:06] njm1984 opened #3365 "ETH transactions sometimes don't display fiat amounts"
Some ETH transactions don't show the fiat amount (see screenshot).

**Info:**
- Suite Version: App, Version 20.12.1 (20.12.1.9537)
- OS: MacOS
- Firmware Version: Trezor One (1.9.3), Trezor Model T (2.3.4)

**Screenshots:**
![ethbug](https://user-images.githubusercontent.com/27410673/107287384-bbf2ac00-6a16-11eb-9cb3-a36cbe9a75d4.jpg)

[2021-02-08 22:11] bosomt commented on #3362
@prusnak these are recommended fees when i try to send ERC20 token in latest RC

![image](https://user-images.githubusercontent.com/31506317/107287707-9b504380-6a62-11eb-941f-fb0c884f51b5.png)
![image](https://user-images.githubusercontent.com/31506317/107287737-a5724200-6a62-11eb-80c8-964c4550da61.png)

**Info:**
 - Suite version: desktop 21.2.1 (20f555fcbfb0d833c1c12d0d20207450b2c42e47)
 - OS: L

[2021-02-08 22:19] bosomt commented on #3347
**QA OK**

**Info:**
 - Suite version: desktop 21.2.1 (20f555fcbfb0d833c1c12d0d20207450b2c42e47)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-08 22:20] prusnak commented on #3362
The screen looks good to me now - Gas price needs to be multiplied by Gas limit to get the total fee. @FreeGoldRush do you agree it's OK now?

[2021-02-08 22:43] bosomt commented on #3336
**QA OK**

**Info:**
 - Suite version: desktop 21.2.1 (20f555fcbfb0d833c1c12d0d20207450b2c42e47)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-09 02:02] FreeGoldRush commented on #3362
That is definitely not what I'm getting.  Not working here.  I'll install 21.2.1 RC and let you know the result.

[2021-02-09 02:08] FreeGoldRush commented on #3362
Sorry, but where can I download a Windows binary for 21.2.1 RC?  Can't find it.

[2021-02-09 06:37] roodsoft commented on #3362
I can confirm suite.trezor.io is calculating super high fees.

Example:

156.51 GWEI
0.031302 ETH
$54.55

[2021-02-09 06:42] bosomt commented on #3289
**QA OK**

**Info:**
 - Suite version: desktop 21.2.1 (20f555fcbfb0d833c1c12d0d20207450b2c42e47)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-09 09:45] prusnak commented on #3362
@roodsoft Well, that's not a bug - the fees are indeed so high now. See https://etherscan.io/gastracker

<img width="555" alt="Screenshot 2021-02-09 at 10 48 21" src="https://user-images.githubusercontent.com/42201/107345900-59f08000-6ac4-11eb-8c76-7d6ec3503d0d.png">

[2021-02-09 09:47] prusnak commented on #3362
@FreeGoldRush You are not getting it, because you don't have the binary. I was asking whether the screenshot looks good to you know.

[2021-02-09 09:59] szymonlesisz commented on #2752
it would be nice to be able to trigger:
* update trezor-connect files (mainly releases.json)
* update binaries (trezord, tor)

[2021-02-09 10:04] prusnak commented on #3362
The computation is correct. You are forgetting you need to multiply the GWEI price by Gas limit which is ~21.000 for transfer transaction. The Ethereum fees are indeed incredibly high now - see https://etherscan.io/gastracker

[2021-02-09 10:04] #3362 closed, assigned to nobody

[2021-02-09 11:11] Dehumanizer77 commented on #3360
I had 2.0.27 but with 2.0.30 it's the same.
As for the instructions, I have done it before, without it, it couldn't connect at all.

[2021-02-09 13:15] bosomt opened #3366 "Transaction detail - amount different compared to transaction history"
**Describe the bug**
In sending transaction detail total input is lower than sent amount.

**Steps to reproduce:**
1. send tx
2. compare tx detail in sending and receiving account

**Info:**
 - Suite version: desktop 21.2.1 (20f555fcbfb0d833c1c12d0d20207450b2c42e47)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.2.1 Chrome/87.0.4280.88 Electron/11

[2021-02-09 13:58] #3154 closed, assigned to glacierbits

[2021-02-09 14:15] jerechinsky opened #3368 "Changelog"
### 🚀   New features

- RBF with on-device support
- Transaction search
- Spend crypto through Bitrefill vouchers
- Option to add custom ERC20 tokens
- Custom fee in ETH

### 🎨 Improvements

- Redesigned review and send transaction modal
- M1 Mac compatibility

.. and much more!

[2021-02-09 15:04] dsmid commented on #3041
I have tested the WebUSB access on two devices:

1. Chrome 88.0.4324.146 on Windows 10 without the bridge running
- both wallet.trezor.io and suite.trezor.io/web work
- clicking "+Find Trezor" button brings the WebUSB connection dialog

2. Chrome 88.0.4324.153 (latest) on Chromebook Acer R11
- wallet.trezor.io works fine after giving permission to access Trezor One (fw 1.9.3) over WebUSB
- suite.t

[2021-02-09 15:31] sorooris commented on #3041
**QA OK**

@tsusanka neither @wendys-cats nor I couldn't replicate the issue on our machines but @STew790 had a rogue gnome on his during his retest yesterday, I instructed him to post his findings here.

Suite: web 20f555fc, be4e3a3
Bridge: process stopped, uninstalled
Browser: Chromium 87.0.4280.66, 88.0.4324.150
OS: NixOS 20.09, macOS Big Sur 11.2

[2021-02-09 15:33] slowbackspace commented on #3368
nothing to see here

[2021-02-09 15:37] jerechinsky commented on #3368
Shush! As awesome as this feature is, it was initially meant to be an easter egg courtesy of @keraf.

[2021-02-09 16:08] IvaFingerova commented on #3361
Crowdin is updated from our side - ready to be released anytime!

[2021-02-09 16:45] keraf commented on #3214
Recently reported on Reddit after Suite has been left open for too long: https://www.reddit.com/r/TREZOR/comments/lfvmt3/trezor_suite_using_ungodly_amounts_of_memory/

[2021-02-09 17:13] STew790 commented on #3041
I tried it again on updated Win10 with the latest version of Chrome (88.0.4324.150) and on suite.trezor.io and for some reason, it still doesn't work for me and now it doesn't work at all with FW 2.3.4. What is strange is that I tried it with FW 2.3.5 and it lets me in as you can see on the screenshots but I can't see anything else other than that the Trezor is connected. I will try it again on a

[2021-02-09 17:57] szymonlesisz commented on #3368
- custom gas limit in ETH

[2021-02-09 18:15] slowbackspace commented on #3307
@bosomt could you please check if the issue is still present or it was solved at the same time as https://github.com/trezor/trezor-suite/issues/3347

[2021-02-09 18:50] tsusanka commented on #3041
Also please discuss together how your system differs to @sorooris's or @wendys-cats'. Maybe you are on Windows?

[2021-02-09 19:03] dsmid commented on #3041
I have found out that the issue described above is unrelated to this.
Most probably due to unexpected font size/zoom settings, the "+Find Trezor" button becomes unresponsive (although it changes color when clicked). It worked when I displayed the page fullscreen.

[2021-02-09 20:40] roodsoft commented on #3362
Ok, thank you for your answer. I suppose I don't get ETH fees very well yet. The thing that caught my attention is that at the same time a transfer from Binance cost $14 USD (which is high but reasonable) and suite.wallet.io was recommending $118 USD.

Oh and also I turned to ETH wallet in beta-wallet.trezor.io and the fee was similar to what Binance charged so there's that too. However, I apologi

[2021-02-09 20:42] bosomt commented on #3307
**QA OK**

**Info:**
 - Suite version: desktop 21.2.1 (20f555fcbfb0d833c1c12d0d20207450b2c42e47)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.2.1 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-09 20:50] sorooris opened #3370 "Accounts discovery - Skeletons not removed after loading is finished"
**Describe the bug**
Non-animated placeholder graph and accounts are displayed after accounts discovery (seemingly?) finished.

**Info:**
 - Suite Version: app 21.2.1 20f555fc
 - OS: macOS Big Sur 11.2
 - Firmware Version: model T 2.3.4

**Steps to reproduce:**
N/A - couldn't replicate again, occured during #3218 retest.

**Expected result:**
Placeholders are removed after accounts discovery's fin

[2021-02-10 10:04] sorooris commented on #3041
@tsusanka All three of us have the same version of Windows - 10.0.19042.746. We will investigate further and hopefully extract some clear steps to reproduce - after release.

[2021-02-10 10:15] slowbackspace commented on #3370
hmm that's weird, skeleton on the dashboard will show only if `discoveryStatus.status === 'loading'`, same thing in accounts menu, that would technically mean discovery hasn't stopped yet, or we failed to update its status, or it is something completely different 😁

Actually, the info that the skeletons were not animated is really helpful. Animation is disabled when there is some modal window acti

[2021-02-10 10:16] sorooris commented on #3370
It's called skeletons?! Love that! :smile:

[2021-02-10 10:41] SvenBudak opened #3371 "Cardano support directly in Trezor Suite"
When i check: https://trezor.io/coins/ is for Cardano only AdaLite , Yoroi Listed.
There are any plans for a direct integration in Trezor Suite?

[2021-02-10 11:08] slowbackspace opened #3372 "Ability to dump state of the reducers to speed up troubleshooting"
Once again I came across an issue where I wanted to see content of suite reducers to better understand what could possibly trigger reported error, but I couldn't.

It would be really helpful if, at least, QA had the option to export a snapshot of the app state right when the error is present. That would make debugging problems like https://github.com/trezor/trezor-suite/issues/3370 or https://gith

[2021-02-10 11:57] wendys-cats opened #3374 "ETH transaction detail in Transaction detail shows incorrect fee amount"
**Describe the bug**
ETH transaction detail is missing fee amount (ETH and FIAT), it is set to zero (see screens). When creating the transaction, Suite correctly displays fee amount, this only applies to Overview>Transactions>Transaction detail. Appears to happen only to unconfirmed transactions.

**Info:**
 **- Suite Version:** web 21.2.1 20f555fcbfb0d833c1c12d0d20207450b2c42e47  AND 20.12.1 be4e

[2021-02-10 12:01] sorooris opened #3375 "TxDetail - XRP - Display destination tag"
**Describe the bug**
Transaction detail modal does not display its destination tag.

**Info:**
 - Suite Version: web  20f555f
 - Browser: Chromium 88.0.4324.150
 - OS: NixOS 20.09
 - Firmware Version: model T 2.3.5 ffa96205f

**Steps to reproduce:**
1. Create and send an arbitrary XRP transaction with destination tag filled in,
2. Select and display the transaction detail,
3. Observe modal.

**Exp

[2021-02-10 12:21] sorooris opened #3376 "Transaction history - Typing into the search input during discovery crashes render (aka White Screen of Death)"
**Describe the bug**
Typing into the Transaction history search input crashes the render process; I am unable to determine what exactly does it. Also, none of the typed characters are displayed.

**Info:**
 - Suite Version: app 21.2.1 20f555fc
 - OS: macOS Big Sur 11.2
 - Firmware Version: model T 2.3.5 ffa96205f

**Steps to reproduce:**
1. Add a hidden wallet with a long tx history,
2. Navigate t

[2021-02-10 12:37] sorooris commented on #3376
Per @keraf's request, the machine's setup:

Platform: darwin x64
OS: macOS 11.2
Manufacturer: Apple Inc.
Model: MacBookAir7,2
Virtual: No
CPU: Intel® Core™ i5-5350U
Cores: 1x2(+2) @ 1.80GHz
RAM: 8.0 GB

[2021-02-10 13:32] STew790 commented on #3376
Just happened to me as well on this setup:

OS: Windows 10 Version 10.0.19042.804
CPU: Intel Core i5-4460 3.2GHz
RAM: 16GB

otherwise the same setup as @sorooris

My RAM usage went way up
![image](https://user-images.githubusercontent.com/48477147/107516452-baf38300-6bac-11eb-8a51-d3e5e28310a2.png)

[2021-02-10 13:44] slowbackspace commented on #3375
More like feature request! :)

cc @matejzak Where do you wanna put it? Maybe it could be done at once together with some ETH specific things we could want to show?

[2021-02-10 13:55] sorooris commented on #3288
**QA OK**

- [x] Tx status
- [x] Chained TXs tab
- [x] Chained TXs warning in RBF (bump fee) form

Suite Version: app 21.2.1 20f555f
OS: macOS Big Sur 11.2
Firmware Version: model T 2.3.5 ffa96205f

[2021-02-10 14:06] sorooris commented on #675
**QA OK**

Suite Version: app + web 21.2.1 20f555f
Browser: N/A + Chromium 88.0.4324.150
OS: macOS Big Sur 11.2 + NixOS 20.09
Firmware Version: model T 2.3.5 ffa96205f

[2021-02-10 14:34] slowbackspace commented on #3374
ha! this could be actually legit cause we don't know the exact fee spent till ETH transaction is mined/confirmed. So it needs to be handled in the UI, showing n/a or something more user-friendly. We could calculate max fee that could be spent (gas limit * gas price?), but be aware that the real fee, after tx gets mined, could be different.

you know whaat, for this small usecase (while eth tx is p

[2021-02-10 15:47] slowbackspace opened #3379 "Stuck at loading while bridge responding with 400 (specific case with multiple instances running)"
**Info:**
 - Suite Version: desktop, just released, but probably valid for older version too
 - OS: macos

**Steps to reproduce:**

1. make sure bridge is not running
2. connect device, go to suite.trezor.io (in Chrome), click find trezor, leave it at passphrase modal
3. open desktop app

**Expected result:**
Either suite starts properly or UI informing the user what is happening

**Actual result:

[2021-02-10 16:34] glacierbits opened #3381 "FW update 2.3.4 › 2.3.5 via Suite"
Suite desktop version: 21.2.1
MacOS, BigSur: 11.2.1

Please note the FW update itself went OK. This is a Suite issue.

FW update from 2.3.4. to 2.3.5. is stuck on this screen in Suite:

<img width="1439" alt="Screen Shot 2021-02-10 at 17 26 15" src="https://user-images.githubusercontent.com/29627086/107539864-af608600-6bc5-11eb-88fd-c0fc37bbce54.png">

Refresh result:

<img width="1438" alt="Scree

[2021-02-10 16:53] slowbackspace commented on #3370
@trezor/qa is it reproducible already? If not then I don't know if it should be a high priority 🤷‍♂️

[2021-02-10 17:04] slowbackspace commented on #3370
@sorooris are you sure that discovery process was completed? I am trying to reproduce it with TOR enabled, and it loads so slowly that I could totally tell you that discovery is completed and I still see skeletons but the truth is discovery is still running but veery slow. btw it is also weird that I don't see progress bar for the discovery at the top.

Better question, Did this happen with TOR?

[2021-02-10 17:13] sorooris commented on #3370
@slowbackspace oh god i've just noticed that Tor is enabled in my screenshots. Yeah the thing is I was retesting the #3218 issue and I kept toggling it on/off and I thought I had it off when the skeletons did not disappear.

[2021-02-10 17:16] slowbackspace commented on #3370
@sorooris 😁  no problem, I'll close this for now as I am like 99% sure discovery was still running (or in some ugly state)and this is stupid TOR related thingy. But if you notice it again with tor disabled please reopen it. Thank you! 🙇

[2021-02-10 17:16] #3370 closed, assigned to slowbackspace

[2021-02-10 17:24] slowbackspace opened #3382 "Discovery progress bar not visible in desktop app"
Desktop app (macos) is missing a progress bar for discovery process.
Could it be something with custom titlebar we use in electron?

Web version is ok.
screen from web version:
<img width="1634" alt="Screenshot 2021-02-10 at 18 20 39" src="https://user-images.githubusercontent.com/6961901/107546500-b50d9a00-6bcc-11eb-9d3b-8c5b7406ce17.png">

electron while discovery is running:
<img width="1524" a

[2021-02-10 17:29] jerechinsky commented on #3379
@slowbackspace You mentioned that clearing storage didn't help. Does that mean that this issue is reproducible and persisted over restarting Suite or was this a one time occurrence ?

[2021-02-10 17:30] #3368 closed, assigned to tsusanka

[2021-02-10 17:31] sorooris commented on #3370
@slowbackspace thanks and sorry for the confusion/spook :sweat_smile:

[2021-02-10 17:43] jerechinsky commented on #3379
Sorry. Only noticed the text below the screenshot now. I couldn't reproduce it myself by running Web Suite and opening freshly installed Desktop Suite. I will leave this to rot here for now and see if it comes up again.

[2021-02-10 17:48] slowbackspace commented on #3379
I think I can reproduce it, at least on my machine
1. make sure bridge is not running
2. connect device, go to suite.trezor.io (in Chrome, for that sweet webUSB), click find trezor, leave it at passphrase modal
3. open desktop app

it will get stuck at loading, I will update original description

@trezor/qa could you confirm?

[2021-02-10 20:52] prusnak opened #3383 "Browser icons broken on https://suite.trezor.io/web/version/ with Unsupported Browser"
When I visit https://suite.trezor.io/web/version/ with Unsupported browser (i.e. Safari), the browser icons (Firefox/Chrome) are broken, because they are fetched from https://suite.trezor.io/web/version/static/browser-detection/browser-chrome.png (note the `version` in the URL)

https://suite.trezor.io/web/ looks fine, because the icon is fetch from https://suite.trezor.io/web/static/browser-detec

[2021-02-10 21:02] tsusanka opened #3384 "Update Bridge to newly released 2.0.31"
To put an end to the bloody 2.0.30.

There is no 2.0.31 yet we need to prepare and test it.

[2021-02-10 23:57] keraf commented on #3379
What's in the response of those 400s?

[2021-02-11 08:53] slowbackspace opened #3388 "e2e: dont snapshot changelog, don't rely on actual copy used"
continuation of https://github.com/trezor/trezor-suite/pull/3385

@wendys-cats Could I leave it to you? pretty please \*sad eyes\*

[2021-02-11 09:08] martinboehm opened #3389 "It is not possible to exchange ERC20 token to ETH"
Select ETH account, then Trade/Exchange. Choose any ERC20 token to exchange. Then try to choose ETH from the list of coins to exchange to. ETH is missing.

![image](https://user-images.githubusercontent.com/11609674/107617800-d31cde00-6c50-11eb-8f73-22cc9b518388.png)

[2021-02-11 09:15] martinboehm commented on #3047
I think there is a related issue https://github.com/trezor/trezor-suite/issues/3389. When that issue is resolved, we can close both.

[2021-02-11 09:18] martinboehm commented on #3298
We discussed this problem already and decided that we should not babysit our users. However, I will leave it open in case we want to reconsider it.

[2021-02-11 09:23] martinboehm commented on #2790
Fixed by #3052.

[2021-02-11 09:23] #2790 closed, assigned to martinboehm

[2021-02-11 10:17] tsusanka opened #3390 "Enforce changelog entries via CI"
Copy of https://github.com/trezor/trezor-firmware/issues/1441 for Suite.

[2021-02-11 10:20] sorooris commented on #3381
@matejzak is this related to the[ Bridge issue](https://github.com/trezor/trezord-go/issues/210)? I couldn't replicate the issue on my setup yesterday.

Suite: app 21.2.1 77ce6b1
OS: MacOS Big Sur 11.2.1
Device: Model T 2.3.4 -> 2.3.5

[2021-02-11 11:01] sorooris commented on #3352
It seems only the 0 was removed but the estimated time / delivery is still not present in the new Send dialog.

Let's move this to and resolve it in the March release pls.

[2021-02-11 11:36] wendys-cats commented on #3379
**QA confirms for:**
 - Windows on 21.2.1 Suite with 2.0.30 bridge bundled

**Bug is NOT present in latest release (7e8958e206885cd7946f431b63dad3bd446ef82e) where bridge 2.0.27 is bundled (confirmed on Win and Nix)**

@slowbackspace, were you using 21.2.1 version? commit 20f555fcbfb0d833c1c12d0d20207450b2c42e47 (version before hotfix)

 **BUG PRESENT**
 OS: Win 10.0.19042.804
 Suite: APP 21.2.1 2

[2021-02-11 12:04] glacierbits commented on #3381
@sorooris I think it was.. the correct Bridge seemed to have fixed it for me (tested yesterday again). Thanks!

[2021-02-11 12:04] #3381 closed, assigned to glacierbits

[2021-02-11 12:09] bosomt opened #3392 "Not able to add custom ERC20 token to fresh account"
**Describe the bug**
I'm not able to add custom ERC20 token to fresh account. `Add token`  never changes to green/active version.
I was able to reproduce issue in app and in Firefox

**Steps to reproduce:**
1. Load Ethereum wallet
2. add new account
3. Add ERC20 token

**Info:**
 - Suite version: web 21.2.2 (7e8958e206885cd7946f431b63dad3bd446ef82e)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) Appl

[2021-02-11 14:31] slowbackspace commented on #3392
Soo Blockbook returns unexpected response when fetching token info for an empty account... It will be fixed on the backend. Then probably small change is required in the suite - manually toggle `account.isEmpty` to false after user adds a token. Will be fixed in the next release :)

some thoughts: I am not completely sure if this is real world scenario. Can user have some token on account which we

[2021-02-11 14:43] slowbackspace commented on #3379
hmm, I can still reproduce it even with hotfixed suite.
OS: MacOS 11.2.1
Suite: APP 21.2.2
Device: TT 2.3.5
http://127.0.0.1:21325/status/ shows 2.0.27

body of 400 response from the bridge
[code]

Maybe mac-only issue? @tomexx could you try to reproduce this please?

It would make sense that device is blocked by webusb connection and bridge can't access it, but why we can't reproduce it on every

[2021-02-11 15:04] slowbackspace commented on #3361
@IvaFingerova I tried to do crowdin sync and noticed that right now all your edits are in crowdin only as suggestions (you can use filter to show all unapproved msgs). You need to hit approve on them otherwise they won't be updated in the app. 🙇

<img width="752" alt="Screenshot 2021-02-11 at 16 02 41" src="https://user-images.githubusercontent.com/6961901/107654109-9f5aac00-6c82-11eb-9fa1-dd1351e

[2021-02-11 15:37] keraf commented on #3379
I had that yesterday on my fresh Linux install and I was missing the udev rules. Not sure about Mac tho. Any ideas @prusnak ?

[2021-02-11 16:04] bosomt opened #3393 "Add more information to info in issue created by suite"
**Is your feature request related to a problem? Please describe.**
Add more information to info in issue created by Suite if possible.

- Transport information webusb/bridge
- Bridge version
- firmware revision if possible
- optional attachment of log if logging is enabled in application

**Describe the solution you'd like**
This would help us to replicate and troubleshoot occurred issues and occa

[2021-02-11 16:10] jerechinsky commented on #3379
Couldn't reproduce on my mac even after following the updated steps by @slowbackspace. 🤔

**Desktop suite.**
 - Suite version: desktop 21.2.2 (7e8958e206885cd7946f431b63dad3bd446ef82e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.2.2 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: MacIntel
 - Screen: 2560x1080
 - Device:

[2021-02-11 19:44] prusnak opened #3394 "Find exchange rate of ERC20 token by token address, not by token abbreviation"
It seems the exchange rate is matched not by the token address, but by the token abbreviation, leading to wrong exchange rate being used.

Good example is Uniswap (UNI) vs Unicorn (UNI) token, where the Unicorn rate is being used when actually Uniswap rate should've been used.

[2021-02-11 22:58] shipluhoque opened #3395 "Icon for Linux App Image"
Please can you add Icon for the Linux App Image,

On Linux Mint, I have an Invisible Icon on the taskbar when its open or in the background.

I have seen Ledger Live recently added Icon for their Linux App Image.

[2021-02-11 23:10] prusnak commented on #3395
Maybe this was the commit in question? https://github.com/LedgerHQ/ledger-live-desktop/pull/3427/commits/77fbd12cc0b1d06dc0ded5c9e863d1736bd42f5a

[2021-02-12 08:20] amovah commented on #4876
@prusnak hello again, are you able to reproduce the problem? is there any solution? I've updated my firmware and trezor-connect library to latest version.

[2021-02-12 09:00] #3340 closed, assigned to tsusanka

[2021-02-12 10:49] tsusanka commented on #3393
Related: https://github.com/trezor/trezor-suite/issues/3282

[2021-02-12 11:39] glacierbits opened #3396 "Giant illustrations"
**Info:**
 - Suite version: web 21.2.2 (7e8958e206885cd7946f431b63dad3bd446ef82e)
 - Browser: Chrome/88.0.4324.150 Safari/537.36
 - OS: MacIntel
 - Screen: 1792x1120
 - Device: model One 1.9.3 regular

<img width="1631" alt="Screen Shot 2021-02-12 at 12 39 42" src="https://user-images.githubusercontent.com/29627086/107763761-6298be80-6d2f-11eb-8399-6738afbb99c5.png">
<img width="655" alt="Screen S

[2021-02-12 12:08] tsusanka commented on #3393
@keraf do you think you could this one for us :innocent:? It would help QA and Support I believe.

[2021-02-12 16:32] keraf commented on #3393
Yes, always happy to work on things that help our QA and support :slightly_smiling_face:

[2021-02-12 18:15] jfriesse opened #3399 "Litecoin - support for Bech32 address (native segwit)"
**Is your feature request related to a problem? Please describe.**
Bech32 (native segwit) is supported for bitcoin in trezor-suite (thanks for this) but litecoin is sadly not yet supported, so it's not possible to use accounts starting with ltc prefix without using third party software.

**Describe the solution you'd like**
Support for Bech32 for litecoin in trezor-suite

**Describe alternatives y

[2021-02-13 11:22] #3359 closed, assigned to slowbackspace

[2021-02-13 11:51] slowbackspace commented on #3365
Hi! Thanks for the report! I'll look into it.
As a workaround, ejecting remembered wallet (if it is remembered) and running account discovery process should fix the issue for you.

[2021-02-13 12:25] samuel-emrys commented on #2737
@prusnak for what it's worth, I'd be interested in integration with bitcoin core more than electrum.

[2021-02-13 17:14] tsusanka commented on #3392
This was brought up in the feedback form from a real user so I guess it is :thinking:. @slowbackspace so this needs a modification in blockbook? Is there an issue for that?

[2021-02-13 17:33] shimunn opened #3402 ""Previous account is empty" despite non zero balance"
**Describe the bug**
Suite won't discover additional accounts even though previous accounts are non empty and have transactions.

**Info:**
 - Suite Version: Desktop 21.2.2, [21.3.0](https://github.com/trezor/trezor-suite/tree/853dd4256ec7967501b97016d3fe46693ae374b5)
 - OS: NixOS unstable
 - Firmware Version: Model T, 2.3.4

**Steps to reproduce:**
1. Have ETH sitting in an account originating fr

[2021-02-13 18:36] mroz22 commented on #3396
There was also quite a big difference in these images between chrome and firefox.

[2021-02-13 18:42] slowbackspace commented on #3396
@mroz22 Heeey, we need an extra pair of hands if you are up for it!

I remember that, firefox was handling flex: 1 on parent container of an image differently. I think this one is something new. I briefly check and it looks like nobody touched these images for ages. For now I am blaming Chrome for changing its behaviour 😁 (but it is totally legit that these images are so huge, looking at code I wo

[2021-02-13 18:44] prusnak commented on #2916
I just packaged Trezor Suite to NixOS via https://github.com/NixOS/nixpkgs/pull/112918

So it is now available via `nix-env -iA unstable.trezor-suite`.

The NixOS package is modified to use NixOS version of `trezord` and `tor` binaries, not the bundled ones.

Also the auto-updater on NixOS is disabled - see https://github.com/trezor/trezor-suite/pull/3290

We can re-retest the reported issues with

[2021-02-13 23:52] domve commented on #2584
If anyone is still interested, I made a COPR repo with .rpm packages for Fedora and RHEL. At the moment it's just repackaging the AppImage from the latest GitHub releases, but it seems to work fine.
(also has proper desktop integration)

https://copr.fedorainfracloud.org/coprs/domve/pkgs/
[code]

[2021-02-14 11:02] prusnak commented on #2584
@domve Great! Can you get the package to the official Fedora repo, so users don't have to add your user repo?

[2021-02-14 17:52] domve commented on #2584
I'm not sure if it would be accepted into the official repo, but getting it into RPM Fusion might be a lot easier since their packaging guidelines seem a bit more relaxed and straight forward. I'm not really a package maintainer though, so I'll have to look into it a bit more

[2021-02-15 09:39] tomexx commented on #3383
I found the code here https://github.com/trezor/trezor-wallet/blob/8e9d704e054f857e6a7d3651717fdd443d46a509/src/views/Landing/components/BrowserNotSupported/index.js

We should probably migrate the page to the Suite right?

[2021-02-15 09:39] szymonlesisz commented on #3366
totalInput and totalOutput should availailable in `tx.details` for some time now:
https://github.com/trezor/trezor-suite/blob/develop/packages/blockchain-link/src/workers/blockbook/utils.ts#L150-L151

[2021-02-15 09:54] tomexx commented on #3383
OK, @slowbackspace found it: https://github.com/trezor/trezor-suite/blob/2866ed43b3efcb76961c548aa7b41e35892a4b1c/packages/suite-data/files/browser-detection/index.js#L58

Thanks!

[2021-02-15 10:03] #3390 closed, assigned to tsusanka

[2021-02-15 11:35] glacierbits opened #3405 "Advance Settings"
Advance options for both Device and General (Application) Settings.

- [x] Safety Checks #2242
- [x] Device autolock #1946
- [x] Custom firmware #1871
- [ ] Wipe code #822

**Spec:** [Notion](https://www.notion.so/satoshilabs/Advance-settings-9dd9db4c8054430cbf37e5df496e753e)
**Design:** [Zeplin](https://zpl.io/aXOmgR8)

[2021-02-15 12:27] #3376 closed, assigned to keraf

[2021-02-15 14:49] slowbackspace commented on #3392
Hmmmm, there is now! 😅 https://github.com/trezor/blockbook/issues/566
Martin is fixing so quickly that I never bother to create issues 😁

[2021-02-15 15:22] slowbackspace commented on #3402
Hello @shimunn, thanks for the report! Do you see some transactions on both first and second accounts? Or one of the accounts doesn't have any transactions even if you can clearly see non-zero balance?

[2021-02-15 15:26] shimunn commented on #3402
The first account doesn't show any transactions, the second one does as shown in the screenshot.

[2021-02-15 15:42] slowbackspace commented on #3402
If you need quick workaround, I believe sending a transaction to the first account should unlock adding another account (regular transaction just to be safe, not a smart contract which, as you can see, we have hard time to properly detect). Before doing it please be aware that there is a chance I am wrong and it will not fix your issue and the fee you spent on the transaction is lost.

Sorry for t

[2021-02-15 17:16] slowbackspace commented on #3085
@alex-jerechinsky It took me so long, sorry! It looks kinda weird but meh.

<img width="1172" alt="Screenshot 2021-02-15 at 18 15 30" src="https://user-images.githubusercontent.com/6961901/107976481-ea91f900-6fb9-11eb-9994-beaf13679c43.png">

[2021-02-15 17:42] slowbackspace commented on #2037
I'll close this for now. It doesn't look like it is affecting error reporting that much. It may skew reports with less frequent errors (and still it doesn't matter that much if the issue is affecting 3 users or 6 users), but with 100s and sometimes 1000s of reports it doesn't matter if few users are counted in twice.

[2021-02-15 17:42] #2037 closed, assigned to slowbackspace

[2021-02-15 17:46] slowbackspace commented on #3352
huh, I assumed the zero was some kind of brain fart on the backend. I guess @tomexx handled that case by hiding the info.
Root cause will be something deeper (blockbook/connect - I am not sure from where are we getting this info).

[2021-02-15 17:56] slowbackspace commented on #1772
IT IS TIME https://github.com/trezor/trezor-suite/issues/3365
this would also mitigate https://github.com/trezor/trezor-suite/issues/3459
this two are probably same issues

[2021-02-15 18:57] slowbackspace commented on #3214
I spent 2 hours with suite on mac and I couldn't reproduce any memory leak/high ram usage (on latest release 21.2.2). I used 2 connected devices (all seed + personal), created multiple wallets, enabled around 5 coins, tried to sent tx, I clicked around basic UI (dashboard/accounts/settings tabs), and after 2 hours memory usage was still basically the same.

I believe the first step to solve these

[2021-02-15 20:34] bosomt commented on #3342
**QA OK**

Info:

Suite version: web 21.3.0 (7a6dec1)
Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
OS: Linux x86_64
Screen: 1920x1080
Device: model T 2.3.6 regular

[2021-02-15 21:32] bosomt commented on #3333
Can this be related ?
Same behavior in Chrome or Firefox when i press send all
Works fine at 21.2.2 7e8958e206885cd7946f431b63dad3bd446ef82e

Info:

Suite version: web 21.3.0 (7a6dec1)
Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
OS: Linux x86_64
Screen: 1920x1080
Device: model T 2.3.6 regular

![image](https://user-images.githubusercontent.com/31506317/107994570-3

[2021-02-15 21:50] bosomt commented on #3307
I was able to reproduce it again :)
Switched between passphrase and standard wallets 2 or 3 times during discovery

![image](https://user-images.githubusercontent.com/31506317/107995970-8a15b280-6fdf-11eb-893a-30fce5ca8d3a.png)
![invalid](https://user-images.githubusercontent.com/31506317/107996212-22ac3280-6fe0-11eb-969d-1f086739d5e4.gif)

**Info:**
 - Suite version: web 21.3.0 (7a6dec13f1481ab0c

[2021-02-15 22:40] bosomt commented on #3359
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (7a6dec13f1481ab0cd92bb567e45359d6570ef62)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.6 regular

[2021-02-15 23:03] bitofit commented on #3057
- Can confirm.  Although total ETH deposited from the contract is displayed as balance at the top of the account, the ETH _transaction_ from the smart contract is not displayed in the "Transactions" area.
- Transfer ETH from Argent to Trezor address to re-create
- Trezor Suite 21.2.2

[2021-02-15 23:08] bitofit commented on #3402
Related to #3057

[2021-02-16 10:56] glacierbits opened #3411 "Copy overflow on Suite landing"
Chrome, MacOS
Suite 21.2.2.

<img width="1305" alt="Screen Shot 2021-02-16 at 11 54 59" src="https://user-images.githubusercontent.com/29627086/108053560-dac3f480-704d-11eb-892e-b1794917f821.png">

[2021-02-16 12:22] slowbackspace opened #3412 "tx.amount inconsistency between bitcoin-like and ethereum"
`tx.amount` for sent bitcoin-like transactions includes a fee, but ethereum txs don't include fee in `tx.amount` field leading to various inconsistencies for example:

Screenshot of an ethereum account, sum of txs for 5th of february should be non-zero, but because of bitcoin-like txs when computing this sum we subtract `tx.fee` from `tx.amount` for all sent transactions, which leads in incorrect

[2021-02-16 13:13] glacierbits commented on #3226
Discussed with Ondra, let's go for the 3rd option. 🙏🏽  Contrast issues to be fixed eventually.

[2021-02-16 13:37] sorooris commented on #3214
There was an issue with the search input that would cause high RAM usage ([here](https://github.com/trezor/trezor-suite/issues/3376#issue-805465350) and [here](https://github.com/trezor/trezor-suite/issues/3376#issuecomment-776707804)) but @keraf resolved it; we'll try to replicate the issue some other way and we'll let you know.

[2021-02-16 14:00] jerechinsky commented on #3085
@slowbackspace Looks good to me! Thanks. 🙂

[2021-02-16 15:21] sorooris opened #3414 "Send - ReviewTransaction modal - scroll automatically past the 5th recipient"
**Describe the bug**
6th and following addresses are not visible during the most important step in the Send process (on-screen to on-device address veirifcation in the ReviewTransaction modal)

**Info:**
 - Remembered Wallet: arbitrary (tested remembered hidden wallet)
 - Suite Version: any (tested 21.2.2 7e8958e2)
 - Browser: any (tested Chromium 88.0.4324.150)
 - OS: any (tested NixOS 20.09)
 -

[2021-02-16 15:39] sorooris opened #3415 "Display selected Fiat currency across the whole SendForm instead of global one"
**Describe the bug**
Fiat currency is inconsistent in the SendForm in Suite compared to Wallet.

**Info:**
 - Remembered Wallet: arbitrary (tested remembered hidden wallet)
 - Suite Version: any (tested 21.2.2 7e8958e2)
 - Browser: any (tested Chromium 88.0.4324.150)
 - OS: any (tested NixOS 20.09)
 - Bridge: any (tested 2.0.28)
 - Firmware Version: any (tested model T 2.3.6 b19cbf67c)

**Steps to

[2021-02-16 16:01] slowbackspace commented on #3379
looks like it is something stupid on my machine. sorry to bother you all. closing the issue.

[2021-02-16 16:01] #3379 closed, assigned to jerechinsky

[2021-02-16 16:01] slowbackspace commented on #1856
@matejzak since may 2020 design change a bit, is this issue still relevant? We are no longer showing total input/total output fields.
In case of sent to self transaction, as @szymonlesisz mentioned, it makes sense that amount = fee. It is the same behaviour we are using in account overview and I believe also in transactions graph. If you really want to include the actual amount that user sent, the

[2021-02-16 16:01] #1856 closed, assigned to robertbrada

[2021-02-16 16:52] #3382 closed, assigned to tomexx

[2021-02-16 19:17] bosomt commented on #3382
**QA OK**

**Info:**
 - Suite version: desktop 21.3.0 (67cfe9730c8c3daaee58f2760695f2b82183c462)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.3.0 Chrome/87.0.4280.141 Electron/11.2.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.6 regular

[2021-02-16 20:24] tomexx commented on #3352
Yes, I just made a quick fix so the frontend doesn't look ugly in such cases, but we'll need to dig deeper as you said. However not sure where to look exactly.

[2021-02-16 22:20] europound opened #3420 "add https://etherscan.io/tx"
add https://etherscan.io/tx
https://eth1.trezor.io/tx is not good enough, not much info

[2021-02-16 22:45] prusnak commented on #3420
What information are you missing on eth1.trezor.io that can be found on etherscan.io ?

Please provide concrete examples of transactions and information missing. Thank you!

[2021-02-16 23:14] europound commented on #3420
take a look and you will see
miles away

[2021-02-16 23:15] europound commented on #3420
gas fees
eth variant
dynamic update
etc
just add extra button to etherscan io please

[2021-02-16 23:21] bosomt commented on #3333
**QA OK**

i will create separate issue

Info:

Suite version: web 21.3.0 (7a6dec1)
Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
OS: Linux x86_64
Screen: 1920x1080
Device: model T 2.3.6 regular

[2021-02-16 23:41] bosomt opened #3421 "Ethereum SendMax Amount is not a number error when fee is too low"
**Describe the bug**
When there is not enough Ethereum to cover normal transaction fee and suite auto switch from normal to custom fee errors in console are triggered.
I was able to reproduce this error in `21.2.2` and `eth-erc20-gaslimit` branch

**Info:**
 - Remembered Wallet: no
 - Suite version: web 21.3.0 (67cfe9730c8c3daaee58f2760695f2b82183c462)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) A

[2021-02-17 04:59] gked opened #3422 "gpg shows as bad signature when verifying trezor suite on linux"
Hello, I downloaded Trezor Suite from https://suite.trezor.io/ and also got the signature and a signing key from the same location.

However, when i run verify it returns bad signature. Is this known? Or perhaps I am made a mistake somewhere.

**Info:**
 - Suite Version: Trezor-Suite-21.2.2
 - Browser: , TOR and Firefox
 - OS: Linux - Pop!_OS(Debian)
 - Bridge: build version
 - Firmware Version: m

[2021-02-17 08:29] #3389 closed, assigned to zuzjes

[2021-02-17 08:30] tsusanka commented on #3047
#3389 seems resolved. I will close and QA will retest.

[2021-02-17 08:30] #3047 closed, assigned to martinboehm

[2021-02-17 09:58] prusnak commented on #3422
Works here.

Try removing the files and downloading them again.

[2021-02-17 09:58] #3422 closed, assigned to nobody

[2021-02-17 11:05] tsusanka opened #3424 "CI cuts out some output?"
This [job](https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/1035753865) on CI fails and on the command `docker-compose run test-run` it prints about ~30 rows.

I have replicated this error on my computer and I got significantly more out, see the details below. It is quite difficult to debug issues then if the output is not complete.

How to reproduce:
- Mess up trezor-user-env (for exampl

[2021-02-17 11:38] #3411 closed, assigned to tomexx

[2021-02-17 13:21] tsusanka commented on #3424
I have checked out the "raw" output (as recommended by @mmilata) but it does not contain ECONNREFUSED either (which I had on my local machine, see details).

[2021-02-17 13:55] sorooris commented on #3376
**QA OK**

Couldn't replicate WSoD, however as there is still no character limit in the search input. pasting loads of them results in [high CPU usage](https://github.com/trezor/trezor-suite/issues/3214). Created [separate issue](https://github.com/trezor/trezor-suite/issues/3428#issue-810216738) for the limit.
![image](https://user-images.githubusercontent.com/10185314/108213848-c0fade00-712f-11e

[2021-02-17 14:02] #3388 closed, assigned to wendys-cats

[2021-02-17 14:08] sorooris opened #3428 "Transaction history - missing character limit for search input"
**Describe the bug**
No character limit for the search input; pasting a long string in it results in high memory use.

**Info:**
 - Suite Version: app 21.2.3 9cf47b5
 - OS: macOS Big Sur 11.2.1
 - Bridge: 2.0.27
 - Firmware Version: model T 2.3.6 b19cbf67c

**Steps to reproduce:**
1. Navigate to Accounts -> Overview -> Transactions,
2. Copy an (absurdly) long string of characters and paste it mult

[2021-02-17 14:59] #3402 closed, assigned to slowbackspace

[2021-02-17 15:03] sorooris commented on #3047
**QA OK**

ETH account offered correctly when exchanging TUSD.

![image](https://user-images.githubusercontent.com/10185314/108222855-7716f580-7139-11eb-8ad4-09d0d95296d3.png)

Suite Version: app 21.2.3 9cf47b5
OS: macOS Big Sur 11.2.1
Bridge: 2.0.27
Firmware Version: model T 2.3.6 b19cbf67c

[2021-02-17 15:45] sorooris commented on #3389
**ETH is offered correctly**, however we're currently unable to complete the exchange flow because of insufficient funds on ERC20 tokens (we have an exchange in progress) and also due to super-high fees. We'll complete the flow after receiving the exchanged amount.

![image](https://user-images.githubusercontent.com/10185314/108226067-d4607600-713c-11eb-9213-adf33c8adbc3.png)

Suite Version: app 2

[2021-02-17 17:26] sentry[bot] opened #3431 "Error: Loading takes too long"
Sentry Issue: [TREZOR-SUITE-D8](https://sentry.io/organizations/satoshilabs/issues/2217101916/?referrer=github_integration)

[code]

This error pops out every time something get stuck and user would wait forever. It basically acts as a timeout (30s), if suite won't load til the limit, there is something wrong and we throw this error.

 There will be multiple reasons why it may happen (take with a

[2021-02-17 17:31] sentry[bot] opened #3432 "Error: Init_IframeTimeout: Iframe timeout"
Sentry Issue: [TREZOR-SUITE-D9](https://sentry.io/organizations/satoshilabs/issues/2217142549/?referrer=github_integration)

[code]

Most likely connection issues (or our CDN is down). We could improve the error message though!

[2021-02-17 17:36] sentry[bot] opened #3433 "auto-updater errors"
Sentry Issue: [TREZOR-SUITE-9Z](https://sentry.io/organizations/satoshilabs/issues/2029356152/?referrer=github_integration)

[code]

Almost looks like people are turning off their wifi. imo catching the error should be enough.

[2021-02-17 17:41] sentry[bot] opened #3434 "NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child o..."
Sentry Issue: [TREZOR-SUITE-W](https://sentry.io/organizations/satoshilabs/issues/1665833315/?referrer=github_integration)

[code]

This stupid thing happens when the user has google translate functionality active in chrome. tldr; it changes the DOM too much and react is confused. It is reported chrome issue, but I guess we need to apply workaround on our side.

For more info see https://github.co

[2021-02-17 17:45] jerechinsky commented on #3432
@slowbackspace Could you please suggest who could adjust the error message? 😄
Also how long could the actual downtime of our CDN be? Perhaps we could rule this out as connection issues on the client's side?
I might need a lecture on how sentry works. 😄

[2021-02-17 17:52] slowbackspace commented on #3432
me 😓, but really anyone who wants to better understand this error 😁  (it must be dev tho). @tomexx will you help me?
I am not sure if it is a problem with our CDN, I would rather blame users connection. We just need to catch this error and provide some human-friendly version of it (something like "We cannot connect to Trezor server, please try again").

[2021-02-17 17:56] sentry[bot] opened #3435 "TypeError: NetworkError when attempting to fetch resource https://data.trezor.io/suite/log/web/..."
Sentry Issue: [TREZOR-SUITE-Q](https://sentry.io/organizations/satoshilabs/issues/1661177483/?referrer=github_integration)

[code]

Huh there are 100 events & 44 users with failed request to `https://data.trezor.io/suite/log/web/stable.log...` this seems weird, but at least we could handle the error so it doesn't spam sentry.

[2021-02-17 18:00] sentry[bot] opened #3436 "calculateMax: Amount is not a number 1320890000000000 3129000000000000"
Sentry Issue: [TREZOR-SUITE-DG](https://sentry.io/organizations/satoshilabs/issues/2217238869/?referrer=github_integration)

[code]

3k generated error events, affecting 32 users. But looks like it is not a runtime error, just logged console.error. If it is expected rather than a bug couldn't we skip calculation if user passed some weird value?

[2021-02-17 18:47] sentry[bot] opened #3437 "Send form RangeError: Invalid time value"
Sentry Issue: [TREZOR-SUITE-C7](https://sentry.io/organizations/satoshilabs/issues/2094515379/?referrer=github_integration)

[code]

Looks like user was filling a send form (eth) and then switched selected wallet which caused route change.

from: /accounts/send/#/eth/0
to: /accounts/send/

(25 users affected on versions 21.2.1 and 21.2.2)
stack trace is useless

edit: yep, reproduced. steps:
1. en

[2021-02-17 19:13] sentry[bot] opened #3438 "indexedDB error"
Sentry Issue: [TREZOR-SUITE-J](https://sentry.io/organizations/satoshilabs/issues/1633436241/?referrer=github_integration)

[code]

[2021-02-17 19:33] sentry[bot] opened #3439 "auto-updater: Error: Couldn't get latest version."
Sentry Issue: [TREZOR-SUITE-BS](https://sentry.io/organizations/satoshilabs/issues/2090617477/?referrer=github_integration)

[code]

Affecting 370 users, but all using old december release. So it was probably already resolved, but I'm creating issue anyway to be sure.
If it is no longer relevant feel free to close it!

[2021-02-17 19:45] slowbackspace commented on #3433
okay, there are over 30 unique errors in sentry all related to auto-updater.
Do we expect these to happen or is there something to be fixed?
Maybe we should at least group them into fewer unique errors, I assume we don't really care if fetch failed because of network change or disconnect or timeout or connection abort or whatever. If there is no other way then here is sentry config with `beforeSen

[2021-02-17 20:53] robertbrada commented on #3322
What is meant by **Translator mode**?

[2021-02-17 22:22] bosomt opened #3440 "Search in Ethereum transaction history error: Cannot read property 'amount' of undefined"
**Describe the bug**
I see `Uncaught TypeError: Cannot read property 'amount' of undefined` error when i try to seach in Ethereum transactions.
Other coins are OK. Please see video and screenshots.
Same results in development master 21.3.0 2d0d60b3e27062c63812a720d365b15e109f5d33 in Firefox

**Steps to reproduce:**
1. load Ethereum wallet with transaction history
2. search in transaction hsitory
3

[2021-02-18 09:28] bosomt commented on #3389
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/108336102-fa852500-71d3-11eb-93a6-5d8d8f74d121.png)

**Info:**
 - Suite version: desktop 21.2.3 (9cf47b5b526bbb5cda585e717fbbf0f5b93b8cc0)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.2.3 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x10

[2021-02-18 10:26] slowbackspace commented on #3322
@robertbrada That's our internal hidden feature that allows product team more easily find hovered intl message in crowdin.
Click 5 times on "Settings" and another option will show up in three-dots menu.

Super low priority :)

https://user-images.githubusercontent.com/6961901/108343319-18568800-71dc-11eb-9922-37c9a7db6d36.mov

[2021-02-18 10:50] #3394 closed, assigned to slowbackspace

[2021-02-18 11:10] slowbackspace commented on #3437
yaay we've got a stack trace
https://sentry.io/organizations/satoshilabs/issues/2224278683/

our utils function `formatDuration` received some weird value, I guess I'll look into it 😓

[2021-02-18 11:17] slowbackspace commented on #3434
@martinboehm it also happens on `https://suite.trezor.io/web/accounts/coinmarket/buy/offers/`

https://sentry.io/organizations/satoshilabs/issues/1728677382/?project=5193825

React issue about this https://github.com/facebook/react/issues/11538
There are workarounds for this (eg wrapping "naked" nodes with span or something), but that doesn't sound scalable :(

[2021-02-18 11:37] slowbackspace commented on #3394
@trezor/qa pls test whole fiat rates functionality as it required a bit of code refactor.
Eg:
- fiat rates are correctly loaded when launching suite, both for coins and tokens (no all tokens have fiat rates, if fiat rate is missing please compare it to old version of suite, it might be legit).
- fiat rates are periodically updated (both for coins and tokens)
- fiat rates are shown even if you disa

[2021-02-18 13:03] haarts opened #3441 "Show XPUB when not connected to the internet"
**Is your feature request related to a problem? Please describe.**
I was trying to setup a Trezor on an airgapped computer. Trezor Suite seemed ideally suited for this. However when pulling in the Trezor I was greeted with an 'Account discovery error'. At some level I think I understand. The Trezor cannot know the UTXO when not connected to an up to date full node (is this how it work?). But it co

[2021-02-18 13:18] yohaaan opened #3442 "RBF error message when whole balance is spent - copy change proposal"
**Current Situation:**

- When the user spends the whole balance and then wants to bump the transaction by using RBF (can't be done because there is no balance from which the extra fee could be deducted) error message:**"can't bump the fee on a transaction with no change outputs"**

**Describe the solution you'd like**

- the error message could say "there are not enough funds to pay the extra fee

[2021-02-18 13:47] jerechinsky commented on #3442
further discussion in slack [thread](https://satoshilabs.slack.com/archives/CKN5C51CJ/p1613642960074500)

[2021-02-18 13:59] jerechinsky commented on #3364
Thanks for submitting the issue, @njm1984. Could you please try again with the latest release? If it still doesn't work, could you please describe precisely what are you clicking on when adding the labels, so we can try and reproduce on our side ?

[2021-02-18 14:20] slowbackspace opened #3445 "Upload source maps to Sentry during release process"
My original idea was that if source maps are publicly accessible to download (bundled alongside the code), then sentry will fetch them and use them. That might work (and it did in the past), but when there is a new release, source maps for older versions of suite are no longer accessible on suite.trezor.io (since they are replaced by new build, thus new source maps) and I am not sure if sentry is

[2021-02-18 19:02] slowbackspace opened #3448 "Hide graph view in dashboard"

[2021-02-19 06:42] njm1984 commented on #3364
Hi @alex-jerechinsky - thanks for your reply! I just tested this again from a fresh setup on the new version, 21.2.3 - and all labels now work simultaneously! Awesome. Thanks again!

[2021-02-20 17:13] bosomt commented on #3307
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a0f694411d85fca4a35acedbdf3b07702517c120)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-20 17:13] #3307 closed, assigned to slowbackspace

[2021-02-20 17:15] bosomt commented on #3411
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a0f694411d85fca4a35acedbdf3b07702517c120)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-20 18:20] bosomt commented on #3370
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a0f694411d85fca4a35acedbdf3b07702517c120)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-20 18:23] bosomt commented on #3381
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a0f694411d85fca4a35acedbdf3b07702517c120)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-20 19:17] bosomt commented on #3394
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/108605697-25c76a00-73b6-11eb-8b4e-a893f31151bc.png)

**Info:**
 - Suite version: web 21.3.0 (a0f694411d85fca4a35acedbdf3b07702517c120)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-20 19:34] bosomt opened #3450 "Accounts discovery - Skeletons misleading"
**Describe the bug**
During discovery loading skeletons are suggesting that you have more accounts that you really have.
See GIF that I recorded in Firefox and Chromium. You always see +1 account per account type that you really have.
I know it's only cosmetic issue but you can consider to turn it off if possible.

**Info:**
 - Suite version: web 21.3.0 (a0f694411d85fca4a35acedbdf3b07702517c120)

[2021-02-20 19:50] bosomt commented on #3440
@slowbackspace I'm able to reproduce issue ONLY when there are ERC20 tokens in transactions history

[2021-02-21 03:07] efb4f5ff-1298-471a-8973-3d47447115dc opened #3451 "Cant add second ETH wallet"
**Describe the bug**
So i have ETH in my main account, but i want to create a second account to transfer a bit of ETH to, but to my surprise i couldn't open a new account. Error that I'm getting is that i don't have any ETH in my main account, but this is incorrect, because i have ETH in my main wallet.

**Info:**
 - Remembered Wallet: yes
 - Suite Version: app latest version
 - OS: win10 20h2
 -

[2021-02-21 11:56] slowbackspace opened #3452 "Tokens not included in portfolio value on the dashboard"
<img width="598" alt="Screenshot 2021-02-21 at 13 03 12" src="https://user-images.githubusercontent.com/6961901/108624431-38d54b00-7445-11eb-8fdd-99719d11029c.png">
<img width="418" alt="Screenshot 2021-02-21 at 13 04 35" src="https://user-images.githubusercontent.com/6961901/108624462-64f0cc00-7445-11eb-97e4-96e106c47f01.png">

[2021-02-21 14:02] prusnak opened #3454 "Confusing UI for Account XPUB"
When the device is unplugged, the `Show public key` button looks like this:

<img src="https://user-images.githubusercontent.com/42201/108627329-4bf01700-7455-11eb-99cf-28ed39dee688.png">

This is very confusing UI not following the least surprise principle.

Reasons:

* when the device is unplugged the button shows the spinner - this makes me think I have to wait, not to plug in the device
* when

[2021-02-21 20:39] bosomt commented on #3452
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (8f87283e689a17ec573d1326c9849cf263e17d8c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-21 21:43] bosomt opened #3457 "Add/remove custom backend misbehaving"
**Describe the bug**
Please see video, I was able to reproduce it in Firefox and Chromium browser.
- add custom backend allows you to add same backend URL
- second backend is added with stripped number
- when you try to remove second backend actually third URL is removed

**Steps to reproduce:**
1. add custom backend with same URL as used
2. add custom backend with different url
3. add custom back

[2021-02-22 08:24] tsusanka opened #3458 "Send form - custom fee displayed in other fee levels"
From our feedback:

It's a bit confusing but could @trezor/qa please retest?

[2021-02-22 10:55] soucek87 opened #3459 "Incorrect incoming fiat value"
**Describe the bug**
Incorrect incoming fiat value (+$0.00) is displayed in transaction history.

**Info:**
 - Suite Version: 21.2.1 (21.2.1.10324)

 - OS: OS X 10.15.6

**Expected result:**
Adequate incoming fiat value should be displayed.

**Screenshots:**
<img width="640" alt="SuiteBugBalance" src="https://user-images.githubusercontent.com/68375745/108698751-c166f080-7504-11eb-8180-26ede806cc2d

[2021-02-22 11:31] #3434 closed, assigned to tomexx

[2021-02-22 12:37] tsusanka commented on #2752
Note that we could use [JSON Schema](https://json-schema.org) to have it typed. It would also be consistent with https://github.com/trezor/trezor-firmware/issues/1264#issuecomment-783339187.

[2021-02-22 12:41] bosomt commented on #3459
i was able to reproduce issue in dev master

**Info:**
 - Suite version: web 21.3.0 (42848e334da62a5c21d25f257d839a9cf81ce2b5)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-22 13:13] slowbackspace commented on #3451
Hello @efb4f5ff-1298-471a-8973-3d47447115dc, thanks for the report! Could you check if it is the same issue as in https://github.com/trezor/trezor-suite/issues/3402? Basically you see non-zero balance on first account yet Suite is saying there are no transactions.  If so, it will be fixed in the next release. 🙇

[2021-02-22 13:15] slowbackspace commented on #3450
Just so I won't forget...
These skeletons visualise that the discovery process is running, and I think it really is running because of the one additional account we retrieve, but keep hidden. So one question is: it is fine to stop showing skeletons even if discovery has not completed? And even if so, It is probably irrelevant as I am afraid we can't tell in advance that this was the last (visible)

[2021-02-22 13:24] tsusanka opened #3460 "Allow decreasing the output value in RBF transactions"
After https://github.com/trezor/trezor-firmware/issues/1491 is done it will be possible to decrease ouput value during the RBF process which is very useful for sweeping accounts (sending maximum from your account).

Multiple outputs TX scenario, where user is asked to select the particular output to be decreased: [**Design**](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/600aaace68

[2021-02-22 13:37] efb4f5ff-1298-471a-8973-3d47447115dc commented on #3451
Yes its the same. Thanks for informing me. I'll close this issue because it is a duplicate.

[2021-02-22 13:37] #3451 closed, assigned to nobody

[2021-02-22 15:15] sentry[bot] opened #3461 "Discovery: Cannot read property 'empty' of null"
discoveryActions line 400

Sentry Issue: [TREZOR-SUITE-FT](https://sentry.io/organizations/satoshilabs/issues/2224130380/?referrer=github_integration)

[code]

[2021-02-22 23:50] bitofit commented on #3364
@alex-jerechinsky I'm still experiencing this issue after updating Trezor Desktop Suite to 21.2.3
Two wallets both set to remember.  A Model One and a Model T.
I've tried re-connecting Dropbox to see if that was the issue without success.

The Model T is the one which "forgets" the labels.  I'm pretty sure this is related to the Model T using a passphrase and the Model One not.

When I click my wa

[2021-02-23 02:11] bosomt opened #3463 "Fix addrress typos"
There are two typos in address tooltip.
I don't have permissions to fix it.

You can find them here: https://github.com/trezor/trezor-suite/search?q=addrress

packages/suite-data/files/translations/en.json
packages/suite/src/support/messages.ts

[2021-02-23 03:03] bosomt commented on #3458
Im not sure but I think i was able to reproduce it ;)
@tsusanka please see gif, when i set 0 custom fee and switch to normal or economic fee it auto switch to custom fee.

**Info:**
 - Suite version: desktop 21.2.2 (7e8958e206885cd7946f431b63dad3bd446ef82e)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.2.2 Chrome/87.0.4280.88 Electron/11.1.1 Safa

[2021-02-23 07:32] tsusanka commented on #3458
Bug it is then!

[2021-02-23 08:55] eromartin opened #3464 "Unable to open the classic wallet on website because only hidden wallet is available"
**Describe the bug**
I made hidden wallet in desktop app and then when i open the web wallet i cant see any other balances other than the hidden wallet wich  is empty i have my coins on regular wallet which i can only open through desktop app. Is this intended or is it bug?

**Info:**
 - Remembered Wallet: yes
 - Suite Version: both
 - Browser: , version
 - OS: system, Windows 10
 - Bridge: build

[2021-02-23 09:27] tsusanka commented on #3314
@bosomt could you please retest on 21.2.1 (to 21.2.2)?

[2021-02-23 09:36] bosomt commented on #3314
@tsusanka on it !

[2021-02-23 09:46] tsusanka commented on #3405
:eyes:

[2021-02-23 09:49] tsusanka commented on #3361
@IvaFingerova is this done? Freeze is coming up again (next week)

[2021-02-23 09:50] tsusanka commented on #3360
@trezor/qa please retest with 21.2.3

[2021-02-23 10:50] IvaFingerova commented on #3361
@tsusanka @slowbackspace thank you so much for the heads up, this could have been a sad situation - Matt is about to approve his own work and I'll let you know this is good to go.

[2021-02-23 11:07] slowbackspace commented on #3464
Hi @eromartin, every wallet you use should be available in both the web and desktop app. However, remembered wallets are not shared between these platforms. If you remembered a wallet on the desktop app it won't show up in the web app til you add it.

If you have added only hidden wallet, then there is a button "add wallet" that will allow you to add a standard wallet.
<img width="823" alt="Screen

[2021-02-23 11:14] eromartin commented on #3464
Okay so heres some pictures the first is when i open the online wallet it automaticaly opens the hidden wallet wich is empty and i cant find a way to my normal wallet only but when i open desktop app i can choose wich one i want to view (i created the hidden wallet in desktop and its available online while the standart wallet wich was available online isnt anymore) hope i explained it good
On the

[2021-02-23 11:17] bosomt commented on #3314
**QA OK**

public version update 21.2.1. > 21.2.3 via release flag
tested multiple situations: skip update, update when next started, restart and update, manual update triggered via settings, interupted download, download already finished and then manually triggered update

**info**
suite commit a63b29d19ff08ece94be28d2997d4265ac1c84fc
Windows 10

[2021-02-23 11:17] #3314 closed, assigned to keraf

[2021-02-23 11:35] slowbackspace commented on #3464
The web app you are using is our old wallet which doesn't support Bech32 bitcoin accounts. But don't worry! You can use the web version of Trezor Suite https://suite.trezor.io/web/

[2021-02-23 12:12] slowbackspace commented on #2997
closing this, IT IS AS PERFECT AS IT GETS. Possible improvements in color definitions are really low priority nitpicks generations after us will deal with.

[2021-02-23 12:12] #2997 closed, assigned to slowbackspace

[2021-02-23 12:25] bosomt commented on #2790
**QA OK**

Windows 10
Suite dev master commit 42848e33
FW TT  2.3.5

[2021-02-23 12:39] bosomt commented on #2997
**QA OK**

Fine with me, dark mode is as perfect as it gets for me.
I had 0 issues with dark mode except few nitpicks ;)

[2021-02-23 14:57] tsusanka commented on #2752
@matejzak please prepare the design for the notifications/announcements.

[2021-02-23 15:43] jerechinsky commented on #3458
The bug that bosomt found seems to be unrelated to the one tsusanka reported. The original bug report said that the custom fee selected by a user is then displayed upon selecting any of the fee levels with the exception of custom fee being set to 0. In that case (when custom fee is set to 0) the predetermined custom fees behave normally. I was able to reproduce this bug.

![gif](https://user-image

[2021-02-23 16:22] Tomm-y opened #3466 "Show Ethereum addresses which have positive ETH/token balance"
If someone has ETH or its tokens on, for example, 20th address, the user can't access that address from within the Trezor Suite wallet. Now, I know that this is in a sense feature that should prevent our new users from sending ETH to multiple addresses without having the need to do so.

At the same time, if someone with coins already located on the 20th address connects to the wallet, he/she is un