[2022-05-24 07:11] bosomt commented on #3461
**QA OK**

**Info:**
 - Suite version: desktop 22.6.0 (5e518f88a91368eb983b49f70453c2e91390abcb)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision a1d22890ee6a9ffec4edfc6e1b5b6c74d23855a3)
 - Transport:

[2022-05-24 08:17] Kixunil commented on #5285
@marekrjpolak according to my knowledge of the code I don't see any reason why thousands of subscriptions should be a problem. The complexity should be linear with a reasonably small constant. However I might be remembering it inaccurately and didn't test it.

[2022-05-24 08:31] ondracja commented on #3616
@komret Yes, I'm able to run cypress directly (I use docker only for `trezor-user-env`). I'll update the README for E2E tests in a near future and then close this issue.

[2022-05-24 08:57] karliatto opened #5467 "Error when hot reloading "exports is not defined""
There is error "randomly looking" below happening when development:

[code]

[2022-05-24 09:02] mroz22 commented on #5181
should be solved now

[2022-05-24 09:02] #5181 closed, assigned to grdddj

[2022-05-24 09:05] matejkriz commented on #5129
If we put the url in the app, we'll have to keep it available for backward compatibility. Not a big deal, just something to consider. I believe it's fine as far as it is link to analytics "index" docs.

I would put there the link to the deployed version instead of link to github
https://docs.trezor.io/trezor-suite/analytics/index.html

but then we should fix the links at the bottom of the page, be

[2022-05-24 09:21] Nodonisko opened #5468 "Rename atoms to suite-native-atoms"
Now is clear that there will be native only things in package, we can rename package to something that is clearly related to native app.

@trezor/atoms => @suite-native/atoms

[2022-05-24 09:42] STew790 commented on #5445
**QA OK**

Tested this with @tomasklim yesterday. Moving to approved.

[2022-05-24 10:00] szymonlesisz opened #5469 "Remote Secure Messaging: @message-system/save-valid-messages action overflow"
`@message-system/save-valid-messages` action is called too many times, it's triggered by other unrelated actions (in some middleware?)

[2022-05-24 10:17] szymonlesisz opened #5470 "firmware update blank modal"
**Describe the bug**
Disconnecting device BEFORE request to switch to bootlader mode results with empty view

**How to reproduce**
Steps to reproduce the behavior:

1. Go to 'settings/device'
2. Click on 'firmware update' (even if your FW is up to date)
3. Go to next step (checkpoint)
4. Disconnect device  instead of clicking on "continue"

**Expected behavior**
modal should be closed?

**Screensh

[2022-05-24 10:38] bosomt commented on #5403
**QA OK**

new link is https://wiki.trezor.io/Firmware_downgrade

**Info:**
 - Suite version: desktop 22.5.2 (a4ec55219fe123c0bb073d4b8338041eb176add4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.5.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision

[2022-05-24 11:20] szymonlesisz opened #5473 "firmware update "ButtonRequest_FirmwareUpdate" is not shown"
**Describe the bug**
After switching to bootloader mode but before uploading FW into device, there is a button request which is not reflected in UI.
Device is waiting on update confirmation but there is no "follow instructions on device" modal

**Screenshots**
![Screenshot from 2022-05-24 13-19-36](https://user-images.githubusercontent.com/3435913/170023017-4ba7b8c0-1579-47c6-a5de-1343f41199a7.png

[2022-05-24 11:51] tomasklim commented on #5469
It is triggered only by related actions.

However, I agree that it is triggered too many times because of ` DEVICE.CHANGED` event. It can probably be removed and it will work the same.

[2022-05-24 12:00] mroz22 commented on #5050
some progress in https://github.com/trezor/trezor-suite/pull/5462

[2022-05-24 12:12] mroz22 commented on #5464
this is my long term plan to dissolve tests from `packages/integration-tests` into respective packages. instead of `@trezor/integration-tests` I want to create something like `@trezor/trezor-user-env-link` which will be a reusable client for trezor-user-env with some additional features.

[2022-05-24 12:21] komret commented on #5440
@karliatto Do you think you could add more info to https://github.com/trezor/trezor-suite/blob/develop/packages/request-manager/README.md?

E.g. where the package is intended to be used, what is the current state and plans, what problems it solves... To make it a bit more concrete. I am not familiar with this part.

[2022-05-24 12:38] Nodonisko commented on #5464
@mroz22 Great idea, it makes sense to have reusable tooling for tests.

[2022-05-24 13:01] bosomt commented on #5473
@szymonlesisz i was not able to replicate it on production version of Suite.
There is banner above model that says `Confirm on Trezor` it's used multiple times in Suite and i think it's confusing.

**Info:**
 - Suite version: desktop 22.5.2 (a4ec55219fe123c0bb073d4b8338041eb176add4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.5.

[2022-05-24 13:08] #5129 closed, assigned to komret

[2022-05-24 13:19] komret commented on #5440
@mroz22 Could you please update https://github.com/trezor/trezor-suite/tree/develop/packages/transport#from-protobuf-to-typescript-and-flow? It seems outdated with the recent change to submodules.

[2022-05-24 13:20] szymonlesisz commented on #5473
ah! i didnt noticed  element above :) i guess im totally blind :)

closing

[2022-05-24 13:20] #5473 closed, assigned to nobody

[2022-05-24 14:32] marekrjpolak opened #5480 "Backend prioritization followup"
This is a followup issue for https://github.com/trezor/trezor-suite/issues/5076 and PRs https://github.com/trezor/trezor-suite/pull/5408 and https://github.com/trezor/trezor-suite/pull/5479.

The backend prioritization (first localhosts, then onions, then the rest) in `blockchain-link` works, but there are still some issues to be resolved.

- Non-localhost `http://` backends don't work (as Suite i

[2022-05-24 15:39] szymonlesisz commented on #5377
Implemented in `@trezor-connect` and partially in suite, feel free to take it from here

[2022-05-24 20:33] petrkr commented on #3225
Problem still persist on latest suite, trezord and Trezor One firmware

Trezor suite: 22.5.2
Trezord (bridge) used from suite bundle:  v2.0.31 (rev 5f53132)
Trezor one FW: 1.11.1

When trying to sign huge UTXO input TX, trezor session not found occurres.

I can provide some debugging cooperation. I do not know why it is this closed if is NOT fixed yet... It is really problem if you can not send tr

[2022-05-24 22:03] petrkr commented on #3225
Well I probably found something what can be connected with it...

There is some long request to bridge (/listen) which hangs response for like 30 secods (or maybe until some /calls or /release are called? Did not checked code well yet.

![image](https://user-images.githubusercontent.com/6428351/170139227-d61b0d30-bd39-4c36-9a4a-3976157e0029.png)

In closer filter you can see this response came aft

[2022-05-24 22:24] petrkr commented on #3225
Problem is, I am not Golang programmer, so I do not understand well to those async things.. Also when is ctx.Done() True? From documentation of http.Request.context() I am not too much wise...

But also I read documentation of "select" which waits until atleast some job is done (true), in case of method "Call" it is eighter finished (probably call?) or that context.done() (which will close USB ses

[2022-05-24 22:51] Zimbakin commented on #3225
I solved this problem over a year ago by switching to another brand of hardware wallet. Let me just add, you probably wont have this problem unless you have some big transactions. Either way Trezor couldn’t handle it on both web and suite. It now resides as a hood ornament because no one could solve it.

[2022-05-24 22:57] petrkr commented on #3225
actually web with webusb works, because problem seems to be somewhere in bridge and it's asynchronous calls... As programmer I know async things are hell to debug... Especially if you do not have enough testing data and it happens only on some environments...

That is why I trying to help somehow instead of just say "you are bad" and buy other wallet, because I think nothing can compare with trezo

[2022-05-24 23:35] Zimbakin commented on #3225
No, as stated the problem persisted on both web and suite, which locked me out for an extended period and became quite costly.

I didn’t say “you are bad”, I stated Trezor couldn’t handle it which I find unacceptable. If you pay good money for a device, it’s fair to expect that it works. Good luck and I hope you solve it.

[2022-05-24 23:50] petrkr commented on #3225
so one more time,, on web based suite with WebUSB (chromium/chrome) without trezord (bridge) it works fine... Also it would work with electrum.

So there are atleast two options how to proceed those payments.

I agree it's pity for newbie who buy boxed hardware and use official app (trezor suite) which have such problem. But still it's opensource, so anyone can help to diagnostic.

You choose way

[2022-05-25 08:19] sime commented on #3225
I'm not Go developer either, perhaps a faux trezord load test can be devised to narrow down how big is too big and thus include it testing strategy.

[2022-05-25 08:49] mroz22 commented on #5440
It is used by connect. Although we already have connect in monorepo, we probably still need  to publish its dependencies in case someone wants to install connect from npm?

[2022-05-25 08:53] bosomt commented on #3225
i just tried to send two big transactions   "size": 14882, and   "size": 7535, and resend/resign it via bump fee but it never failed in app with embedded bridge. I can try to repeat test with T1 .

https://tbtc1.trezor.io/tx/649c8c4968c473f4a556e627defd41314d347b64b197ec5cd24ad4219fd6d486
https://tbtc1.trezor.io/tx/de3f7413ed8131bfe41259927f749fca8904af6b805025c5e560a49dffb02a35

**Info:**
 - Suit

[2022-05-25 09:16] sime commented on #3225
@petrkr Perhaps you could try re-creating your BTC transaction with test coins. Then we can better analyse the problem transaction.

Alternatively try and provide us some numbers, e.g. number of inputs, UTXOs, outputs, segwit ? etc.

[2022-05-25 09:34] #5050 closed, assigned to mroz22

[2022-05-25 09:39] sime commented on #5050
Woo! 💪

[2022-05-25 10:01] petrkr commented on #3225
Detail transaction in suite says:
```Size 1680 bytes```

there are 18 inputs as script_type": "SPENDP2SHWITNESS"

I had same problem on more currencies (LTC, DOGE...) So that would not be problem of coin but somewhere in communication....

As I mention for example that async behavior of "select" and "random" selection of multiple true values.

[2022-05-25 10:41] bosomt commented on #5129
**QA OK**

**Info:**
 - Suite version: desktop 22.6.0 (d72ff4c5b9f3cbe2ccb4be47170f88c08e9271d1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.11.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transport

[2022-05-25 10:55] matejcik commented on #3225
@petrkr the `/listen` call might be a red herring -- the purpose of the call is to wait for connection events from newly plugged in Trezors. Bridge is supposed to return from the call either when you plug in a Trezor, or after 30s of that not happening -- in which case Suite will just call `/listen` again.
So whatever else is actually going on in the background, `/listen` is very likely to always

[2022-05-25 11:20] petrkr commented on #3225
I see.

Then I will really go for that select's random behavior where is ctx.Done() and finished.

Seems at windows it does not occurs (bridge 27), Mac i do not have.

When ctx is done? When http request is finished? It could be some localhost IP stack behaviorc so ctx.done is earlier than func finish.. or actually because it is 'go' rutine, it is like background task and ctx.done can be invoked e

[2022-05-25 11:25] STew790 commented on #5050
After discussion with @mroz22 no further testing from QA needed. Moving to approved.

[2022-05-25 12:04] mroz22 opened #5485 "Cardano: useCardanoStaking error handling"
This catch
https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/hooks/wallet/useCardanoStaking.ts#L180
catches the following error regularly
[code]

Two things:
1. It does not feel like an exception since it is happenig everytime for me
2. Since type of the error is `string` it effectively removes error information from app state few lines below.

[2022-05-25 13:48] matejcik commented on #3225
per the http.request docs:

your tcp dump seems to indicate that the client didn't close anything

from my reading of the code and docs, it seems that your guess is correct: the deferred `finished` function happens to run later than `ctx.Done()` -- which executes when `ServeHTTP` returns, i.e., when the request is done processing. (we see in logs that the preceding request is _successful_ (code 20

[2022-05-25 15:34] bosomt commented on #5470
**QA NOK**

I was able to reproduce issue.

**Info:**
 - Suite version: desktop 22.6.0 (d72ff4c5b9f3cbe2ccb4be47170f88c08e9271d1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:
 - Transport: bridge 2.0.31

<img width="771" alt="Scr

[2022-05-25 15:39] bosomt commented on #5437
I was not able to reproduce issue :(
I watched for change in fiat rates for 3 days and they were always same.
Both app and web version. Fiat was default USD $.

[2022-05-25 17:18] #5351 closed, assigned to juriczech

[2022-05-25 18:41] hynek-jina commented on #5437
@bosomt
Could you have a look on older ones? For example from 2019 on `all` seed? Maybe web vs desktop...🤷‍♂️

[2022-05-25 19:13] #5237 closed, assigned to dahaca

[2022-05-25 19:13] #1576 closed, assigned to dahaca

[2022-05-25 19:36] szymonlesisz commented on #5470
additional issue :)
why there is no "blurred background" in my screen ~~(darkmode case? idk...)~~
edit: looks like Firefox is missing this regardless of theme, created new issue

[2022-05-25 20:44] szymonlesisz opened #5492 "Firefox: no "blurred background" while modal is opened"
**Describe the bug**
see screenshots in [this issue](https://github.com/trezor/trezor-suite/issues/5470)

**Info:**
-   Suite Version: web
-   Browser: Firefox
-   OS: linux but i guess it doesnt matter

[2022-05-26 05:22] bosomt commented on #5492
@szymonlesisz You are using Firefox see : https://github.com/trezor/trezor-suite/issues/2165
`Solution is way too complicated compared to benefit of solving it.`

[2022-05-26 08:14] bosomt commented on #5076
**QA OK**

**Info:**
 - Suite version: desktop 22.6.0 (d72ff4c5b9f3cbe2ccb4be47170f88c08e9271d1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision a1d22890ee6a9ffec4edfc6e1b5b6c74d23855a3)
 - Transport:

[2022-05-26 09:08] mroz22 opened #5496 "Connect: remove multiple messages.json instances remnants"
For historical reasons, connect supported multiple messages.json config files that were loaded dynamically based of firmware of currently connected device.

This was just some workaround we finally managed to remove and now connect uses only 1 unified set of messages. Yet some remnants of this still exist in the codebase and I believe we should eliminate them.

https://github.com/trezor/trezor-sui

[2022-05-26 09:21] szymonlesisz commented on #5492
i dont understand why are you closing this and why is it so hard to do it?

10 minutes on googling, 1 line of css code in SuiteLayout `filter: blur(3px);`

and voila:

![Screenshot from 2022-05-26 11-18-29](https://user-images.githubusercontent.com/3435913/170458742-abfa7866-9a10-4aa0-9c0e-1a496c003b7c.png)
![Screenshot from 2022-05-26 11-18-11](https://user-images.githubusercontent.com/3435913/17

[2022-05-26 09:22] #5417 closed, assigned to juriczech

[2022-05-26 09:27] szymonlesisz commented on #5492
btw this is exactly the reason why i didnt noticed a "request to confirm on device" in [this issue](https://github.com/trezor/trezor-suite/issues/5473) because this element was above the menu which has the same (or very similar) bg color

[2022-05-26 10:06] mroz22 opened #5497 "Connect: missing data/icons folder"
Looks like we forgot to transfer data/icons folder in connect.
Not so big deal but should be solved  before we promote connect 9 to "production ready grade"

https://github.com/trezor/trezor-suite/blob/develop/packages/connect/src/data/config.ts#L23-L44

[2022-05-26 10:10] szymonlesisz commented on #5497
or we can completely drop this from config.
for the instance this record is wrong
[code]

secondly im not even sure if those extensions id's are valid (may not)

[2022-05-26 10:13] komret opened #5498 "Move connect documentation from wiki to docs"
The existing documentation on `connect` available on [wiki](https://wiki.trezor.io/Developers_guide:Trezor_Connect_API) is outdated. Update it and integrate it to existing documentation in `docs` in this repo.

[2022-05-26 11:32] juriczech commented on #5421
@Nodonisko I think the left icon makes sense because its a form of breadcrumbs if I understand the design correctly.

For example you can click on some settings button which will open modal and inside that modal one of the items will be Language options, you click on that and it will take you to "next section" of settings where you can select language or go back (with the left arrow icon).

[2022-05-26 11:32] juriczech commented on #5421
@Nodonisko I think the left icon makes sense because its a form of breadcrumbs if I understand the design correctly.

For example you can click on some settings button which will open modal and inside that modal one of the items will be Language options, you click on that and it will take you to "next section" of settings where you can select language or go back (with the left arrow icon).

[2022-05-26 13:48] #5422 closed, assigned to bouchja1

[2022-05-26 14:18] hynek-jina commented on #5498
Could you please include these docs labeled `Suite monorepo`?
https://www.notion.so/satoshilabs/db4ad1fae8da4b4da907d33d112bdda6?v=3583289960fa408088aba33f8d5562cc

[2022-05-26 14:25] hynek-jina opened #5500 "Make the docs homepage nicer"
Menu on page https://docs.trezor.io/ is too geeky..
![Snímek obrazovky 2022-05-26 v 15 21 56](https://user-images.githubusercontent.com/26002916/170507598-2ece257f-92b1-41e1-86c1-bff85ec5fc52.png)

[2022-05-26 15:42] Nodonisko commented on #5372
Don't forget to update CODEOWNERS file

[2022-05-26 16:23] #5469 closed, assigned to nobody

[2022-05-26 16:39] bosomt commented on #5469
can we move it to approved or is there any action needed by QA dept ?

[2022-05-26 17:21] szymonlesisz commented on #5467
i guess it's solved by [this fix](https://github.com/trezor/trezor-suite/pull/5474), right?
i dont see this error anymore

[2022-05-26 19:29] Nodonisko commented on #5467
Yea, should be solved

[2022-05-26 19:29] #5467 closed, assigned to nobody

[2022-05-26 21:51] petrkr opened #5503 "Camera QR read does not work"
When I scan QR from coinomi, modal disappear, but address is NOT copied to "send"

maybe because it has bitcoin: or litecoin: prefix in QR?

[2022-05-27 05:32] bosomt commented on #5503
@petrkr you are right, it's due to that prefix.
Duplicity with https://github.com/trezor/trezor-suite/issues/5241

[2022-05-27 05:32] #5503 closed, assigned to nobody

[2022-05-27 07:49] hynek-jina commented on #5342
Hi @DrHaribo,
could you please elaborate a bit what is the use case?
For what do you need such a functionality? Thank you.

[2022-05-27 08:18] juriczech opened #5504 "Create slide down animation for SlideDownModal component"
Modal component is created already but it should have slide down functionality which will close the modal.

Related to https://github.com/trezor/trezor-suite/issues/5421

[2022-05-27 08:19] juriczech commented on #5504
To discuss: should there also be slide left / back functionality to return to previous section when I'm in a nested section of modal? @Nodonisko @bouchja1

[2022-05-27 08:35] DrHaribo commented on #5342
This functionality is needed to prove that you control an address. For example during an audit, where the auditor wants to know whether the crypto holdings you claim to have are actually under your control.

[2022-05-27 08:35] petrkr commented on #5503
Not planed? So that means we have to retype address from coinomi by hand? Or use different QR reader and strip prefix manually?

That will really help Bitcoin adoption for regular payments...

Actually yesterday I had to retype it in restaurant, because they use coinomi and we have no other way of share address than QR

(like signal, messager or other).

[2022-05-27 08:48] hynek-jina commented on #5467
No QA needed...

[2022-05-27 08:53] hynek-jina commented on #5503
@petrkr
I'm sorry for the confusion.. Not planned this issue, since it is covered by another issue mentioned above...

[2022-05-27 08:54] petrkr commented on #5241
URI scheme was introduced 10 year ago in BIP-21 so it should be supported in order to be compatible with this BIP (https://en.bitcoin.it/wiki/BIP_0021)

[2022-05-27 08:57] hynek-jina commented on #5342
@DrHaribo
Thank you,.. Before we implement that.. you can use `trezorctl`
https://wiki.trezor.io/Using_trezorctl_commands_with_Trezor#Sign_message

[2022-05-27 09:08] DrHaribo commented on #5342
@hynek-jina Thanks!

[2022-05-27 09:14] mroz22 opened #5505 "release @trezor/connect v9"
Hello,
I have gathered here some notes on what needs to be done in order to release connect 9. @karliatto has volunteered to oversee this while I am not here. I am sure @szymonlesisz will be ready to answer questions and maybe also he will add or correct something in my list.

Core tasks:
- [x] the same* content that is here https://suite.corp.sldev.cz/connect/develop/#/ should go to connect.trezo

[2022-05-27 09:19] hynek-jina commented on #5241
@petrkr
BIP-21 specify only Bitcoin.. And it is already implemented in Trezor Suite.
This could be for some coins resolved by https://github.com/trezor/trezor-suite/issues/5266

[2022-05-27 09:27] petrkr commented on #5241
Other currencies mostly does not copy&paste BIPs for they own, it would make just duplicates, instead they implement them too.

So by this logic for example Litecoin does not have own LIP for BIP32 for example, so we do not need to implement deterministic wallet for them, because they do not have LIP32.

Maybe someone in cryptocummunity had to replace BIP as "Bitcoin" to some CIP (sorry guys from

[2022-05-27 09:53] sime commented on #5505
@karliatto Ping me when need some sanity check testing.

I'm excited to have connect explorer in public!

[2022-05-27 10:33] tomasklim opened #5508 "Extend URI handler for non-bitcoin-like altcoins"
In issue #5266, only `bitcoin-like` mainnet altcoins were implemented.

When user opens `scheme:address....` it should open Trezor Suite app.

**Remainings:**

- Ethereum `ethereum:` (https://eips.ethereum.org/EIPS/eip-681)
- Ethereum Classic `ethclassic:` (https://eips.ethereum.org/EIPS/eip-681)
- XRP `ripple:` (https://wiki.ripple.com/Ripple_URIs)
- Cardano `cardano:` (https://cips.cardano.org/c

[2022-05-27 10:41] tomasklim commented on #5266
Bitcoin-like coins' uri handler will now work in desktop app.
[code]

Other coins are moved to the follow-up issue #5508 as they might have a different implementation.

[2022-05-27 13:07] #5413 closed, assigned to bouchja1

[2022-05-27 19:31] Nodonisko commented on #5504
That would be nice, but this definitely deserve it's own task.

[2022-05-27 20:19] #5419 closed, assigned to bouchja1

[2022-05-29 17:58] Alex71btc opened #5512 "Transactions do not show in account, but balance is correct/Custom Backend"
Latest Transaction BTC is missing when connected to electrum server backend. When opening Suite web version or Trezor backend it shows correctly. Also total amount of BTC in that account is shown correctly. When i search for the transaction ID in Suite it shows up, but disappears again and doesnot show in my account. Whats up with this?

[2022-05-29 20:02] Nodonisko opened #5513 "suite-native: TipToast component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=235%3A3918)

**Spec:**
1. Props
[code]
2. Pay attention that visibility state will be handled externally, so no internal state in this component

**Prerequisities:**
- IconButton for close button? #5357

[2022-05-29 20:11] Nodonisko opened #5514 "Switch animation"
**Spec:**
1. Animation specs are in Figma inspect (https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)

![Image](https://user-images.githubusercontent.com/2227592/171010410-aedd3f65-2e05-4de9-8a0a-02980e92987c.png):

// On click
// Change to: "Toggled=False";
// Animate: Smart animate;
animation-timing-function: ease-out;
animation-duration: 150ms;

**Prerequisities:**
-

[2022-05-29 20:20] Nodonisko opened #5515 "suite-native: Input label animation"
**Spec:**
1. When Input is focused label (placeholder) should flow to the top and shrink it's size

Prerequisties:
1. Input component #5433
2. Animation lib #5414
3. Specification from Ondra, but it's quite obvious how it should look like, maybe we will have to just change animation curve later

[2022-05-29 20:23] Nodonisko opened #5516 "suite-native: NumPadButton onPress animation"
**Spec:**
1. Need to be defined by Ondra

[2022-05-30 08:07] LukasRada opened #5517 "Refactor Coinmarket*Terms.tsx modal"
Mainly, extract and reuse styled components for all 4 types of modals.
See `packages/suite/src/components/suite/modals/confirm/Coinmarket*Terms/index.tsx`

[2022-05-30 11:21] hynek-jina commented on #3971
I wasn't able to replicate the bug in any of described scenarios.
For the scenario with old firmware I have tested 2.3.2 and 2.1.8..

Only where it appear is when you don't have initialized device and go directly to device settings and back. But when you reconnect the device, it's again back in normal state. This seems to be very edge case to me..

https://user-images.githubusercontent.com/2600291

[2022-05-30 11:43] sorooris commented on #3971
@ondracja FYI there's no one from Trezor QA tagged so just in case :wink:

[2022-05-30 13:47] #4755 closed, assigned to nobody

[2022-05-30 13:59] #5334 closed, assigned to tomasklim

[2022-05-30 13:59] #5407 closed, assigned to tomasklim

[2022-05-30 14:02] matejkriz commented on #5407
already tested by QA https://github.com/trezor/trezor-suite/pull/5472#issuecomment-1139423308

[2022-05-30 15:04] matejkriz commented on #5334
already tested by QA https://github.com/trezor/trezor-suite/pull/5472#issuecomment-1139423308

[2022-05-30 15:05] #5214 closed, assigned to matejkriz

[2022-05-30 20:54] Nodonisko opened #5521 "suite-native: fastlane for publishing + CI build"
Implement `fastlane` for publishing apps to Google Play and App store using our CI.

1. For now we will need only flow to publish beta versions to Google beta program and Testflight.
2. Trigger builds using CI (when? after merge to develop?)

**Prerequisities:**
1. Created app in both stores + certificates (@vdovhanych will help with this)

**Notes:**
1. Can we use github actions for building iOS?

[2022-05-31 08:59] bosomt opened #5523 ""cancel" action in modals not supported in 2.0.27 Trezor Bridge"
**QA OK** for 2.0.31 Bridge /that's embedded to Suite binary/
**QA NOK** for 2.0.27 Bridge /that's offered for web Suite users/

2.0.27: When you cancel action via modal Suite reports: `Error: device disconnected during action`
2.0.31: When you cancel action via modal Suite reports: `Error: Action cancelled by user`

**Info:**
 - Suite version: desktop 22.6.0 (d1d62b52efdb7aabedef0c30472e57c76765b

[2022-05-31 09:27] tomasklim commented on #5492
Can be done when `EAP` and `Skip onboarding` modals start using redux.

However, instead of one line `backdrop-filter: blur(5px);` we need to add conditional `filter: blur(5px);` to `SuiteLayout` and `OnboardingLayout` when `usePreferredModal().type !== 'none'`.

IMHO not sure if we need to fix it this way. We do not have many `Firefox` users. I believe, it would be enough to change opacity in `Ba

[2022-05-31 09:37] bosomt commented on #5523
**QA OK**

Already solved in dev master

<img width="401" alt="image" src="https://user-images.githubusercontent.com/31506317/171143153-6c8ff8fb-5b2d-4770-90fc-f72e010a3015.png">

**Info:**
 - Suite version: desktop 22.6.0 (2c0b29acd6d07eeb7ab417052791af1a670b2000)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606

[2022-05-31 09:57] #5523 closed, assigned to nobody

[2022-05-31 11:23] #5241 closed, assigned to tomasklim

[2022-05-31 11:23] #5266 closed, assigned to tomasklim

[2022-05-31 11:47] #5372 closed, assigned to bouchja1

[2022-05-31 12:08] karliatto opened #5527 "Intercept the requests from the main process with package request-manager to improve Tor"
In order to improve the knowledge of the requests that are happening in the electronjs main nodejs process we want to intercept all the network requests that are happening in that process.
- [x]  Create interceptor that gets all the requests from nodejs in `request-manager` package
- [x] Create a module in electron desktop package that creates an instance of the interceptor provided by request-man

[2022-05-31 13:33] Nodonisko commented on #5504
It looks that animation for Modal opening/closing should be already in Figma. If you will have troubles to find it, ask Ondra.

[2022-05-31 14:16] #5421 closed, assigned to juriczech

[2022-05-31 14:39] #5400 closed, assigned to tomasklim

[2022-05-31 15:36] szymonlesisz commented on #5492
in browser detection we are claiming that from the all browsers out there only two [are supported](https://github.com/trezor/trezor-suite/blob/develop/packages/suite-data/src/browser-detection/index.ts): Chrome and Firefox.
from what you are saying i can assume that only Chrome is supported and our claim is false

i guess changing opacity for Firefox is still better than nothing

[2022-06-01 06:17] bosomt commented on #5266
**QA OK**

<img width="373" alt="Screenshot 2022-06-01 at 8 11 24" src="https://user-images.githubusercontent.com/31506317/171339451-20d54f25-79ff-467c-8dda-9c94ab0929bf.png">

Scan of Coinomi receive address including prefix:
<img width="778" alt="image" src="https://user-images.githubusercontent.com/31506317/171339721-d1dfa8b4-8095-4d03-9935-9cffbd33595e.png">

**Info:**
 - Suite version: deskto

[2022-06-01 07:34] tomasklim commented on #4649
Current state as of May 2025:
`history` from `4.10.1` to `5.3.0`
`react-router` from `5.3.4` to `7.6.0`
`react-router-dom` from `5.3.4` to `7.6.0`

[2022-06-01 07:36] tomasklim commented on #3689
Any progress @LukasRada @martinboehm?

[2022-06-01 07:52] tomasklim opened #5531 "Dependencies(suite): react-spring - fix deprecated method or remove the library"
**Describe the bug**
Update `react-spring` and fix warning in console which is triggered by a tooltip.

![Screenshot 2022-06-01 at 9 52 14](https://user-images.githubusercontent.com/33235762/171355122-7161d9cc-64cb-4e78-97c5-b909ce7f3871.png)

[2022-06-01 07:56] bosomt commented on #5214
**QA OK**

tested on macARM,Win10 and Linux

**Info:**
 - Suite version: desktop 22.6.1 (8d37e21edabe10ea6b6991f5e3a338e3464925e1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular (revision 595b14254c1abb2be3f69

[2022-06-01 08:33] tomasklim opened #5532 "Dependencies(suite): react-select"
**Info**
Update `react-select` lib. We are currently running `3.1.1` version but there is `5.3.2`.

It looks like it does not break anything. However, that are some changes worth looking at.

[CHANGELOG](https://github.com/JedWatson/react-select/blob/master/packages/react-select/CHANGELOG.md)

The most dangerous select we have is probably the one in recovery, which has broken styles a little bit.

[2022-06-01 09:06] bosomt commented on #5400
**QA OK**

**Info:**
 - Suite version: desktop 22.6.1 (8d37e21edabe10ea6b6991f5e3a338e3464925e1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.11.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transport

[2022-06-01 09:08] tomasklim opened #5533 "Recover wallet abort button placement"
**Info**
Device: model 1

I see here a potential problem during recovery. Users can accidentally click on `Abort` button which is directly under the select menu.

https://user-images.githubusercontent.com/33235762/171368670-fce1dbd0-24e1-45e5-b69c-775358309594.mov

[2022-06-01 09:22] andrewkozlik commented on #5344
Update: NU5 has been activated on Mainnet https://electriccoin.co/blog/nu5-activates-on-mainnet-eliminating-trusted-setup-and-launching-a-new-era-for-zcash/.

[2022-06-01 12:38] STew790 commented on #5187
**QA OK**

If I drop the internet connection, the connection to dropbox remains and doesn't disconnect and also correctly connects back when internet is available again. When I tried to rename some label, Suite shows a notification that it is not connected to internet.

![image](https://user-images.githubusercontent.com/48477147/171405901-7cb58b33-29f4-4db4-87f6-727fc2fc27fb.png)

**Info:**
 - Sui

[2022-06-01 13:03] STew790 commented on #4755
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/171410830-a5f33698-fa66-4779-8991-d7b6fe897271.png)

**Info:**
 - Suite version: desktop 22.6.1 (8d37e21edabe10ea6b6991f5e3a338e3464925e1)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x10

[2022-06-01 14:10] STew790 commented on #3252
**QA OK**

Fees can have decimals now and it changes if it has the decimal.

![image](https://user-images.githubusercontent.com/48477147/171424672-023e3256-7633-4a97-a497-1220dbf320f0.png)

![image](https://user-images.githubusercontent.com/48477147/171424785-f78fe6f1-0fb2-45fc-9ed1-6474a7c260bd.png)

**Info:**
 - Suite version: desktop 22.6.1 (8d37e21edabe10ea6b6991f5e3a338e3464925e1)
 - Browser:

[2022-06-01 14:25] LukasRada commented on #3689
We're actively looking for tester so he/she can finish the e2e tests. When the tester is in our team, we allocate him/her on it. Our main priority for now is to finish DCA.

[2022-06-01 14:34] bosomt commented on #5140
**QA OK**

Discovery of our old test passphrase with Tor enabled and all coins enabled:

22.5.2: 4min 00 sec
22.6.1:  1min 55 sec

not sure if its really related to issue or just luck with connectivity :)

**Info:**
 - Suite version: desktop 22.6.1 (8d37e21edabe10ea6b6991f5e3a338e3464925e1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSui

[2022-06-01 15:01] tomasklim commented on #5531
We can think about removing this lib in favour of `framer-motion`. We have 2 animation libs in our repo.

If we remove `react-spring`, we save 55kB.

cc @dahaca

[2022-06-01 15:33] tomasklim opened #5535 "Dependencies(suite): semver - remove library"
**Info**
`versionUtils` got moved from `rollout` to separate `@trezor/utils` package so we can now use them in Suite.
If we extend them, we can get rid of `semver` library

[2022-06-01 17:09] bosomt commented on #2924
**QA OK**

**Info:**
 - Suite version: desktop 22.6.1 (8d37e21edabe10ea6b6991f5e3a338e3464925e1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transport:

[2022-06-02 07:04] hynek-jina commented on #5239
Issues already prepared:

- #5564
- #5563
- #5561
- #5535
- #3907
- #4650
- https://github.com/trezor/trezor-suite/issues/4655
- https://github.com/trezor/trezor-suite/issues/4649
- https://github.com/trezor/trezor-suite/issues/5531
- https://github.com/trezor/trezor-suite/issues/5532
- https://github.com/trezor/trezor-suite/issues/4651
- #5537
- https://github.com/trezor/trezor-suite/issues/4654

[2022-06-02 07:27] #5140 closed, assigned to karliatto

[2022-06-02 07:33] hynek-jina opened #5536 "Analyze fee consistency"
Check send form, trezor screen, and detail of received transaction.
Differences between segwit and older accounts.

[2022-06-02 07:45] sime commented on #4771
Will be considered for Connect v9.

[2022-06-02 08:33] tomasklim opened #5537 "Dependencies(suite-desktop): update deprecated electron"
**Info**
We are using `electron v15`, which got deprecated. Update to `electron v18`.

**Issues**

- it needs to be updated also in `nix.shell`
- we need to update `node` to version `16`

[2022-06-02 12:40] Perlover commented on #5267
Hello!

Today I downloaded the fresh version of Trezor Suite - 22.5.2
And I have own electrs (v0.9.7) server and I see right now in electrs logs:

.... your wallet uses less efficient method of querying electrs, consider contacting the developer of your wallet. Reason: blockchain.scripthash.get_history called for unsubscribed scripthash: XXXXX

Should this bug be fixed in 22.5.2 version? If yes wh

[2022-06-02 12:42] hynek-jina commented on #5267
This modification will be reflected in the version 22.6.1

[2022-06-02 13:06] hynek-jina commented on #5075
OK

[2022-06-02 13:06] #5075 closed, assigned to nobody

[2022-06-02 13:09] hynek-jina opened #5540 "Cancel receive modal"
User is not allowed to cancel Receive address modal before he confirms that it corresponds with an address on Trezor.
It's redundant. We can let him cancel this action now.

<img width="1392" alt="Snímek obrazovky 2022-06-02 v 14 03 05" src="https://user-images.githubusercontent.com/26002916/171636424-b13905d1-86cd-4a7b-be3b-952874ccfdbc.png">

[2022-06-02 13:20] hynek-jina opened #5541 "Show Bitcoin value in Satoshis (Trade section)"
Follow up issue of: https://github.com/trezor/trezor-suite/issues/3004

<img width="1483" alt="Snímek obrazovky 2022-06-02 v 14 18 09" src="https://user-images.githubusercontent.com/26002916/171638140-00576c78-9ec6-4742-b4aa-3243efffc495.png">

Align the display units for Bitcoin on all Invity pages.

[2022-06-02 13:26] hynek-jina opened #5542 "Imitate mirror behavior for QR reader"
Rotate QR reader so when user move his QR in right direction Suite displays the opposite movement. User gets the feel like with mirror and reading of QR will be more intuitive.

[2022-06-02 13:30] STew790 opened #5543 "Uninitialized device in incorrect state after going to settings and back"
**Describe the bug**
When you don't have an initialized device and go immediately to device settings and then back to initial screen, it appears as "Device in incorrect state".

**Steps to reproduce:**

1. Connect an uninitialized device
2. Go to "Device settings" immediately.
3. Close the settings
4. You get a "Device detected in incorrect state" message

**Info:**
 - Suite version: desktop 22.6.

[2022-06-02 13:33] STew790 commented on #3971
Closing, can't replicate.

Creating new issue https://github.com/trezor/trezor-suite/issues/5543

[2022-06-02 13:33] #3971 closed, assigned to hynek-jina

[2022-06-02 14:06] hynek-jina opened #5544 "Display virtual bytes for segwit accounts"
For segwit accounts calculate vsize and display rate in sat/vB

Related to: https://github.com/trezor/trezor-suite/issues/3355

[2022-06-02 14:09] hynek-jina commented on #5536
Resulted in: https://github.com/trezor/trezor-suite/issues/5544

vB are already merged on firmware side: https://github.com/trezor/trezor-firmware/pull/2294 - will be released with new version.

[2022-06-02 14:09] #5536 closed, assigned to hynek-jina

[2022-06-02 14:10] STew790 commented on #5140
**QA OK**

I tried the same passphrase with same versions:

22.5.2 ~ 5 minutes
22.6.1 ~ 2 minutes 30 seconds

**Info:**
 - Suite version: desktop 22.6.1 (8d37e21edabe10ea6b6991f5e3a338e3464925e1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Devic

[2022-06-02 14:22] hynek-jina opened #5545 "Extend thousands separator to crypto currencies"
Thousand separators are not set for crypto currencies - only for fiat.
Extend it for cryptocurrencies as well.

Visible with Sats units on Bitcoin accounts (or on Doge coin for example)
Related to: https://github.com/trezor/trezor-suite/issues/3004

[2022-06-02 16:29] Perlover commented on #5343
This sounds strange, because if you save utf-8 and read utf-8, it's the same as working with a binary format.

[2022-06-02 16:35] Perlover commented on #5343
In general, it is considered good form to work with binary files as with binary ones. I believe that crypted label files are in any binary format, and they need to be opened in binary mode. If you open binary files as utf-8 encoding, then it's generally strange that you have it all working somewhere.

[2022-06-03 08:38] #5239 closed, assigned to tomasklim

[2022-06-03 08:54] hynek-jina commented on #5469
No need for validation from QA

[2022-06-03 08:57] hynek-jina commented on #5285
**What to test**
All these changes are related to the custom Electrum backend only (for BTC, TEST and REGTEST), so it's the only thing which must be tested (discovery, sending, receiving, notifications, ...). The only exception is the throttling mechanism in https://github.com/trezor/trezor-suite/commit/a4f4c06d7b8aa11a23cb5a053e0e658a8590af10 which affects all the backend types (but in theory sho

[2022-06-04 09:03] #5468 closed, assigned to bouchja1

[2022-06-06 07:29] STew790 commented on #4604
This is still happening, unfortunately.

**Info:**
 - Suite version: desktop 22.6.1 (8d37e21edabe10ea6b6991f5e3a338e3464925e1)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.11.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927

[2022-06-06 08:10] hynek-jina opened #5556 "Copy inaccuracy in PIN setting"
**Describe the bug**
When setting PIN for T1 device user is asked to:

Confirmation takes place in the app

But user is not entering the PIN on the device but on the app screen

![Snímek obrazovky 2022-06-03 v 9 20 02](https://user-images.githubusercontent.com/26002916/172121732-b9c5df37-bd2b-4dcf-b34b-c9682585d2ae.png)

[2022-06-06 08:54] #5497 closed, assigned to nobody

[2022-06-06 08:55] hynek-jina commented on #5497
No requirements from QA

[2022-06-06 09:11] tomasklim opened #5561 "Dependencies(suite): wait for node16 and update @formatjs/cli"
**Info**

Can be done when finished #5537

[2022-06-06 10:30] tomasklim opened #5563 "DevDependencies(suite): update @testing-library/user-event"
**Info**

- breaking changes breaking `useSendForm.test.tsx` and `useRbfForm.test.tsx`
- https://github.com/testing-library/user-event/releases/tag/v13.0.0
- https://github.com/testing-library/user-event/releases/tag/v14.0.0

[2022-06-06 11:23] matejcik commented on #4893
external outputs were unsupported on T1 until recently (1.11.1) so the failures are expected

[2022-06-06 11:42] hynek-jina commented on #5512
@Funman2 Is your node updated and synced?

[2022-06-06 11:43] Alex71btc commented on #5512
Thanks for your reply, yes updated and fully synced...

Von meinem/meiner Galaxy gesendet

-------- Ursprüngliche Nachricht --------
Von: Hynek Jína ***@***.***>
Datum: 06.06.22 13:42 (GMT+01:00)
An: trezor/trezor-suite ***@***.***>
Cc: Funman2 ***@***.***>, Mention ***@***.***>
Betreff: Re: [trezor/trezor-suite] Transactions do not show in account, but balance is correct/Custom Backend (Issue #55

[2022-06-06 12:18] #4654 closed, assigned to nobody

[2022-06-06 12:22] tomasklim opened #5564 "Dependencies(suite-desktop): update node-fetch to v3"
**Info**
https://github.com/trezor/trezor-suite/pull/4757#issuecomment-1018475180

[code]

[2022-06-07 08:12] hynek-jina opened #5569 "[Message] Update firmware to sign Zcash transaction"
### First message
**Variant**: Warning (yellow)
**Dismissible**: True

**Conditions**

- Activated Zcash
- `AND` Suite app older then `22.6.2`

**Message**

- `en` _Please update your application to be able to sign Zcash transactions [Update Suite]_
- `es` _Por favor, actualiza tu aplicación para poder firmar transacciones de Zcash [Actualizar Suite]_
- `cs` _Aktualizujte prosím aplikaci, aby mohl

[2022-06-07 10:25] bosomt commented on #5398
already solved

[2022-06-07 10:25] #5398 closed, assigned to nobody

[2022-06-07 11:53] tomasklim commented on #4095
Will be solved by #5531

[2022-06-07 11:53] #4095 closed, assigned to matejkriz

[2022-06-07 11:55] tomasklim commented on #5531
Please update `framer-motion` library to `v6`. E2E test `autodetect` starts failing when updating to `v6`.

![Screenshot 2022-06-07 at 13 00 40](https://user-images.githubusercontent.com/33235762/172372934-5f3772a7-3f4d-41b7-9685-b21f9c66fefe.png)

It is caused by this
[code]

adding `addListener: () => {},` does not help 😞

[2022-06-07 12:49] #5514 closed, assigned to bouchja1

[2022-06-07 12:49] #5414 closed, assigned to bouchja1

[2022-06-07 14:35] Nodonisko opened #5576 "suite-native: BottomModal padding SafeArea bug"
There is text going outside of screen for BottomModal:
<img width="375" alt="Screenshot 2022-06-07 at 16 31 53" src="https://user-images.githubusercontent.com/5837757/172406967-82ce6a2c-72dc-4a33-a7c2-678962dc9906.png">

You should solve this probably using by using `useSafeAreaInsets` https://github.com/th3rdwave/react-native-safe-area-context#usesafeareainsets and adding bottom value to our bott

[2022-06-08 06:56] hynek-jina commented on #5317
We will pause the development of this feature for now in favour of slightly different approach.

[2022-06-08 07:00] gorrdy opened #5577 "I don't see all transactions when connected to custom electrum server (umbrel)"
**Describe the bug**
When I connect to any electrum server (umbrel, cryptoanarchy debian repository), I don't see the very recent transactions in Trezor Suite history. I don't experience this with Trezor backend.

I've found out that the .csv and .pdf export differs when using Trezor backend and my electrum server which I think may be cause by the same problem. The .csv is complete though but the

[2022-06-08 08:54] bosomt opened #5580 "Detail of Send dialogue is not rendered properly during transaction signing"
**Describe the bug**
Detail of Send dialogue is not rendered properly during transaction fee bump.
It was already fixed in standard transaction signing but i noticed that it's still present in bump fee dialogue.
You can see artefacts of Send dialogue rendered above Inputs/outputs fields.
See screenshots

**Steps to reproduce:**
1. Proceed with to Send transaction.
2. Proceed with transaction fee b

[2022-06-08 09:02] sime opened #5581 "New Bitcoin Gold logo"
**Describe the bug**
Suite Bitcoin Gold logo is incorrect

**Info:**
-   Suite Version: 22.5.3.18520

**Expected Behaviour***
https://bitcoingold.org/press-kit/

**Screenshots**
![Screenshot 2022-06-08 at 11 00 00](https://user-images.githubusercontent.com/216917/172576982-d9ae445e-4a2e-4f75-85d1-a0459e54d753.png)

[2022-06-08 09:06] juriczech opened #5582 "Create input wrapper component"
Create text input component that will have a wrapper as well.

Text input will have label, optional icon and maybe some currency or similar at the end (this might be done by concatenation).

Label on input will be above the actual value and empty state is not in Figma ASAIK (will ask Ondra).

Input wrapper will accept error?, hint?, children (input cmp) and can be disabled.

Wrapper can also suppo

[2022-06-08 09:47] #5357 closed, assigned to juriczech

[2022-06-08 09:47] #5513 closed, assigned to juriczech

[2022-06-08 10:03] #3749 closed, assigned to nobody

[2022-06-08 10:03] #5344 closed, assigned to szymonlesisz

[2022-06-08 11:07] jerechinsky commented on #5569
I suggest
`ru` _Для подписывания транзакций Zcash необходимо обновить прошивку [Обновить прошивку]_

@fujicoin @FrankyFFV, do you guys have suggestions for the `ja` and `es` translations?

[2022-06-08 13:14] tomasklim commented on #5239
Many libraries were updated in this PR. Would be nice to test app thoroughly

[2022-06-08 14:04] FrankyFFV commented on #5569
@alex-jerechinsky
RU: Для подписывания транзакций Zcach необходимо обновить прошивку [Обновить прошивку]
ES: Para firmar transacciones de Zcash es necesario actualizar el firmware [Actualizar firmware]

[2022-06-08 19:44] fujicoin commented on #5569
@alex-jerechinsky
Japanese (ja) translation is appropriate.

[2022-06-08 22:37] Arond-Devv commented on #5577
@gorrdy Talk to a Trezor Support on the [Live support page](https://trezor-community.com) so that your issue can be looked into.

[2022-06-09 11:38] kolomaznikt opened #5590 "Data Analytics: Amount showed in Sats"
We would like to track the use of this new feature from the very beginning.

Best would be to track the last known state (best should be`Suite ready`) + switch between BTC and Sats as a new event.

[2022-06-09 11:49] kolomaznikt opened #5591 "Data Analytics: Labeling"
We want to track, whether users have the labelling enabled or not. Best would be to track this on app start as the new attribute `Labeling` in event `Suite Ready`.

[2022-06-09 14:41] komret opened #5593 "Logging settings/tor action"
When usage data collection is enabled and you turn Tor connection on/off, the request logging the action fails with ERR_PROXY_CONNECTION_FAILED

-   Suite Version: app

Steps to reproduce the behavior:

1. Go to Settings
2. Enable Usage data
3. Enable/disable Tor
4. See console/network tab

![Screenshot 2022-06-09 at 16 34 18](https://user-images.githubusercontent.com/42465546/172874152-01036f76-1

[2022-06-09 15:11] tsusanka commented on #4692
Please note that as @matejkriz pointed out elsewhere, this is not just a cosmetic product improvement, it will also improve the autoupdate's reliability, as we are seeing quite some autoupdate errors in Sentry.

[2022-06-09 20:06] #5576 closed, assigned to juriczech

[2022-06-09 20:28] saingsocheat opened #5596 "rewarded/.gitignore"
rewarded/.gitignore

[2022-06-09 21:09] #5596 closed

[2022-06-10 05:48] marcin-mazurek opened #5597 "TrezorConnect.cancel() throws random errors"
**Describe the bug**
After calling `TrezorConnect.cancel()`, from time to time the SDK or the device refuses to perform subsequent actions (for example, getting device features or requesting xpub) and throws various errors.

We noticed that this behavior takes place when the operation is cancelled quickly after it’s requested (under ~5 seconds).

Most often, the error we were getting was `Device_C

[2022-06-10 05:55] marcin-mazurek opened #5598 "Potential issues with TrezorConnect while switching between passphrases"
Hello! Would you guys advise please if this is a potential bug or misunderstanding on our side?

**Context**
Daedalus supports multiple wallets which can be paired with a single device using different passphrases.

We noticed that once a passphrase is typed on the device while exporting a public key, that passphrase is then used for all subsequent transaction signing operations.

We needed to give

[2022-06-10 07:51] sime commented on #5597
@marcin-mazurek Is this related to Daedalus wallet recommending Trezor Model T users to downgrade firmware?

[2022-06-10 08:10] sime commented on #5597
@marcin-mazurek Could you try bridge version 2.0.31. It's 'unrelased' as a standalone app, but bundled within Trezor Suite.

[2022-06-10 11:37] matejkriz commented on #5569
My suggestion for First message
`cs` Aktualizujte prosím aplikaci, abyste mohli podepisovat Zcash transakce [Aktualizovat Suite]
(Suite doesn't do the signing...)

[2022-06-10 11:47] szymonlesisz commented on #5598
Hi @marcin-mazurek 🇵🇱 :),

It's not exactly a bug but rather not well documented feature since no one except for TrezorSuite was using it till now.
What you are looking for is `device.state` parameter [described here](https://github.com/trezor/trezor-suite/blob/develop/docs/packages/connect/methods/commonParams.md)

device.state could be obtained by calling `TrezorConnect.getDeviceState` (you can

[2022-06-10 11:55] szymonlesisz commented on #5598
in other words:

`device.instance` - number, identifiaction of your wallet A or wallet B
`device.state` - string, passphrase representation of your wallet A or wallet B

[2022-06-10 12:18] szymonlesisz commented on #5597
looks like known bug with `trezord` (bridge) 2.0.29 where previous (cancelled) response was still in the buffer (reason for unexpected response type)

to confirm that try to use [2.0.31](https://github.com/trezor/trezor-suite/tree/develop/packages/suite-data/files/bin/bridge/mac-x64) as @sime suggested

[2022-06-10 14:37] #5569 closed, assigned to tomasklim

[2022-06-11 13:15] Nodonisko opened #5602 "Implement TabBar design"
Design: [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A847)
Design for menu that should be opened after click on middle icon: [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=51%3A2513)

![Image](https://user-images.githubusercontent.com/5837757/173189550-9156be7a-322f-491b-a7b8-78c7aa7a33cb.png)

[2022-06-11 13:24] bosomt commented on #5344
**QA OK**

https://zec3.trezor.io/tx/b17073805c4552d5f3db6d60e044088fe1ac015971964ee4ebf3a4124978104c

**Info:**
 - Suite version: desktop 22.6.2 (f45c75705f153ec0dc44cb72fec2e5ec4a031b7c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Dev

[2022-06-11 14:02] Nodonisko opened #5603 "Implement UI of Settings page"
Design: [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=235%3A3918)

Implementation criteria:
1. Screen should be part of `settings` package
2. Focus of this task should be only UI and only that one page that is linked to Figma (other subpages like Localisation, Labeling shoud be done as separated PR).
3. Very top part of the screen with rounded corners and device selec

[2022-06-11 14:03] Nodonisko opened #5604 "Fix transport-native (connect) freeze"
How to reproduce:
1. Find some older version of app where connect was used in app, [for example here](https://github.com/trezor/trezor-suite/blob/7d19c1d71f1749b483de2919a1d9fc811dcce919/packages/suite-native/src/screens/Home.tsx)
2. Use that code while real Trezor device is connect and call `TrezorConnect.getDeviceState()` (also used in that previous version)
3. It should cause that app will free

[2022-06-11 14:11] Nodonisko commented on #5604
How to reproduce:
1. Find some older version of app where connect was used in app, [for example here](https://github.com/trezor/trezor-suite/blob/7d19c1d71f1749b483de2919a1d9fc811dcce919/packages/suite-native/src/screens/Home.tsx)
2. Use that code while real Trezor device is connect and call `TrezorConnect.getDeviceState()` (also used in that previous version)
3. It should cause that app will free

[2022-06-13 10:22] STew790 commented on #5569
**QA OK**

With older FW:
![image](https://user-images.githubusercontent.com/48477147/173327352-40cee779-5392-40bc-94d9-08b8ed566e4e.png)

With older app:
![image](https://user-images.githubusercontent.com/48477147/173329209-ed58ba86-e9a0-4914-8a7f-1ddfe2e26b33.png)

[2022-06-13 10:49] szymonlesisz commented on #5604
im pretty sure it was working at some point, before we created `transport-native` package. could you check commits before that?

[2022-06-13 12:29] tomasklim commented on #5593
Ah, I moved reporting to analytics to `toggleTor` method and it tries to report it to an old url. It has to be in `updateTorStatus`. However, it should not report on initial `tor` update (when app is launched) (thats why I moved it).

Moreover, when `tor` launching/closing is in progress. Analytics reports will always fail.

[2022-06-13 12:46] sime commented on #5598
@marcin-mazurek Created a doc for the getDeviceState method, which was mentioned here. Shout out if you think it is missing something.

[2022-06-13 13:26] bosomt commented on #5580
Cardano transaction signing has visual artifacts too.

https://user-images.githubusercontent.com/31506317/173363828-a1b677ab-0e2b-4c2c-8e88-d653190193d8.mov

**Info:**
 - Suite version: desktop 22.7.0 (ca9a187899b849f766e711ef4161e3f5ed3381d3)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.0 Chrome/94.0.4606.81 Electron/15.3.0 Sa

[2022-06-13 14:03] jerechinsky commented on #4658
Yes. 3/5 points were fixed, so I removed them. The 2 that remain still need addressing.

[2022-06-13 14:11] szymonlesisz commented on #5598
also missing passphrase testing vectors [were added here](https://github.com/trezor/trezor-suite/blob/develop/packages/integration-tests/projects/connect/tests/device/passphrase.test.ts)

[2022-06-13 16:28] #3737 closed, assigned to nobody

[2022-06-13 17:19] szymonlesisz opened #5608 "CI: connect-popup tests on branch requires connect-explorer build"
Manual `connect-popup` job requires `connect-explorer` to be present on given branch.

`connect-explorer` deploy is also set to manual while on branch therefore `connect-popup` tests are always failing with timeout

it would be nice to check if `connect-explorer` is deployed and deploy it if it's not

[2022-06-13 17:27] szymonlesisz opened #5609 "connect-explorer build/images pollution"
`connect-explorer` build produces tons on unnecessary/unused images in `build/images` directory probably because it's using `@trezor/components` package where they are defined

[2022-06-13 19:34] szymonlesisz commented on #5492
closing via https://github.com/trezor/trezor-suite/pull/5600

[2022-06-13 19:34] #5492 closed, assigned to nobody

[2022-06-14 07:32] Nodonisko commented on #5604
@szymonlesisz I count with that, but it could be related to new architecture and new native modules implementation in newest RN

[2022-06-14 07:38] matejkriz commented on #5505
https://connect.trezor.io/9
https://connect.trezor.io/9.0.0-beta.1

https://www.npmjs.com/package/@trezor/connect/v/9.0.0-beta.1
https://www.npmjs.com/package/@trezor/connect-web/v/9.0.0-beta.1

are out 🚀 🎉

cc @sime

[2022-06-14 08:39] #5591 closed, assigned to tomasklim

[2022-06-14 09:07] hynek-jina opened #5612 "Tor toggle is slow and doesn't reflect connection state"
**Describe the bug**
It takes about 10 seconds to switch on the Tor.
If you click twice, the toggle switches right away, but it doesn't mean Tor is immediately connected.

**Steps to reproduce:**
1. Go to Setting/Device
2. Turn on Tor
3. Wait

**Info:**
 - Suite version: desktop 22.6.2 (f45c75705f153ec0dc44cb72fec2e5ec4a031b7c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKi

[2022-06-14 09:18] matejkriz commented on #5505
I see "No connected devices" message even though I just exported the public key from the connected device...
<img width="857" alt="image" src="https://user-images.githubusercontent.com/3729633/173542365-5e557cbc-ea56-455f-b322-ec6fdb2f4b77.png">

[2022-06-14 09:24] vdovhanych commented on #5608
note for myself:
require `connect-explorer deploy dev manual` job for the `connect-popup manual` job.
use
[code]

[2022-06-14 11:22] vdovhanych commented on #5608
@szymonlesisz is it ok that its not displayed at all until the `connect-explorer deploy dev manual` job is run?

https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/563312824

[2022-06-14 13:36] #5608 closed, assigned to vdovhanych

[2022-06-14 16:49] #5420 closed, assigned to juriczech

[2022-06-15 08:45] #5440 closed, assigned to komret

[2022-06-15 09:53] bosomt commented on #5285
**QA OK**

tested multiple times during release candidates for 22.6 release.
TEST + BTC + Electrum server discovery and transactions /and multiple different coins/ sent.

**Info:**
 - Suite version: desktop 22.6.2 (f45c75705f153ec0dc44cb72fec2e5ec4a031b7c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.2 Chrome/94.0.4606.81 Elect

[2022-06-15 10:51] szymonlesisz opened #5618 "Unify modals "close" button"
Close buttons have inconsistent layout in different modals. It would be nice to have them displayed in the same way everywhere.

Related issue: https://github.com/trezor/trezor-suite/issues/5540

Examples:

![Screenshot from 2022-06-15 11-02-31](https://user-images.githubusercontent.com/3435913/173809793-214d76af-3b38-4e50-afbd-52e40ceb2ff8.png)

![Screenshot from 2022-06-15 11-03-28](https://user

[2022-06-15 10:52] ondracja commented on #3616
Since the README update is now merged, I'm closing this issue.

[2022-06-15 10:52] #3616 closed, assigned to vdovhanych

[2022-06-15 11:19] komret opened #5619 "Update connect-examples readmes"
I followed the instructions in [connect-examples](https://github.com/trezor/trezor-suite/tree/develop/packages/connect-examples) and discovered some problems:

- [ ] README.md for Node.js is missing.
- [ ] Browser example is missing, the link from the main README is broken.
- [ ] Webextension README instructs to run `yarn prepare`, but the command is missing.

[2022-06-15 11:34] prebbz commented on #4224
Same thing happened to me, I forgot to note which fw I was upgrading from, but it was to the latest 1.11.1
Suite version: 22.5.3-linux-x86
Device: model 1

The upgrade hung at 92%, clearly waiting for the confirmation of the fingerprint on the device. Is there any reason we don't publish the fingerprints of the fw images on the firmware change log page?

[2022-06-15 12:28] jerechinsky commented on #5452
This "Signature" string is also used in the Sign&Verify modal. So I'm guessing we should split this into two messages in `messages.ts.` One for the send modal and one for sign&verify.

@hynek-jina, could you please find a dev to do this quick task?

<img width="779" alt="Screenshot 2022-06-15 at 14 18 51" src="https://user-images.githubusercontent.com/75733878/173825561-6fccfef7-18e3-400c-bff3-6a4

[2022-06-15 12:30] mroz22 commented on #5619
Great, examples were not really finished. One of the problem was that it (in some cases) was impossible to finish it without published connect. now we can do it.

[2022-06-15 14:51] #4762 closed, assigned to Nodonisko

[2022-06-15 15:45] szymonlesisz opened #5621 "ReactSVG + CoinLogo component errors"
**Describe the bug**
probably related to recent update of react-svg lib

**Info:**

-   Remembered Wallet: yes/no
-   Suite Version: web/desktop
-   Browser: firefox
-   OS: linux

**How to reproduce**
Steps to reproduce the behavior:

load suite with opened console

**Screenshots**
![Screenshot from 2022-06-14 20-54-28](https://user-images.githubusercontent.com/3435913/173869815-b444e7a0-3330-478

[2022-06-15 18:10] tsusanka commented on #4692
A summary after discussing this with @matejkriz:

1. We see some errors in Sentry related to the autoupdate but we do not know for certain that it would be because of some GitHub limits or something similar.
2. Simple AWS Cloudfront caching will not do the trick because you can not simply replace URL in the GitHub provider in the Electron autoupdate. It is tied to github.com. Pity, it would be a n

[2022-06-15 18:38] prusnak opened #5624 "Mobile: Use io.trezor.suite instead of com.trezorsuite appId for Android"
Title says it all. This is something very hard to change later, so let's get this right ASAP.

[2022-06-16 05:59] bosomt commented on #3616
**QA OK** :)

[2022-06-16 07:57] overcat commented on #5358
🎉 #5450 has been merged, I will be integrating the new code in Stellar Laboratory this week to see if it works as expected.

[2022-06-16 08:54] szymonlesisz opened #5627 "create desktopApi.handshake flow"
Extends https://github.com/trezor/trezor-suite/issues/4809

Desired app workflow:
1. create BrowserWindow (src-electron/app.ts init function) and start **only** hang-detect module, nothing else
2. renderer is loaded, call desktopApi.handshake [1]* and wait for the response (suite-desktop/src/index window.onload) consider rendering only lightweight preloader component without whole redux stack whil

[2022-06-16 09:04] mroz22 commented on #5358
I will let you know once this is released to npm

[2022-06-16 09:22] szymonlesisz opened #5628 "Parse transactions with external inputs"
Prerequisite for coinjoin:

- blockchain-link: properly parse/mark inputs/outputs of tx which isn't "mine" (external) do not calculate them in to "totalSpent" field

[2022-06-16 09:27] szymonlesisz opened #5629 "start using `refTxs` field of TrezorConnect.signTransaction method while signing in suite"
To prevent fetching previous transactions from blockbook while signing. We can provide them from account tx history.

edge case: currently while using custom electrum backend connection to blockbook will be made to fetch them @marekrjpolak

[2022-06-16 10:47] szymonlesisz opened #5630 "add tests for suite-storage lib and suite storage migration"
- [ ] inject indexedDB to cypress before test start (additional benefit: may speed up multiple e2e tests by skipping onboarding)
- [ ] test [onBlocked/onBlocking](https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/actions/suite/storageActions.ts#L508-L509=) events (require multiple tabs opened in cypress, each with different version of DB)
- [x] test migration process (from ver

[2022-06-16 12:35] #5326 closed, assigned to marekrjpolak

[2022-06-16 16:13] #5624 closed, assigned to bouchja1

[2022-06-17 05:08] szymonlesisz commented on #5612
Reflecting tor current status in suite **was designed** on the diagram while discussing the design of `request-manager` lib.
I cant find it in github (closed PR/edited PR comment?) fortunately we do have it on [slack](https://satoshilabs.slack.com/archives/C0363D1FDL2/p1646855487778909) and [notion](https://www.notion.so/satoshilabs/d3c3fe72632c42fe93128a4857484b5e?v=b97cf771318d4b1fa19501a3b6df2e

[2022-06-17 05:52] mroz22 commented on #5358
@overcat please try
https://www.npmjs.com/package/@trezor/connect-plugin-stellar
https://www.npmjs.com/package/@trezor/connect
https://www.npmjs.com/package/@trezor/connect-web

we are going to focus on updating docs now, so please let us know if there is something uncleare.

[2022-06-17 07:44] overcat commented on #5358
Hi @mroz22, I got an error when I tried to upgrade, could you please take a look?

code change: https://github.com/overcat/laboratory/pull/1/files
build log: https://github.com/overcat/laboratory/runs/6932210774?check_suite_focus=true

error info:
[code]

[2022-06-17 08:56] hynek-jina commented on #5591
**QA**:
Please doublecheck that the `Labeling` attribute will be sent to analytics...
See the description in PR: https://github.com/trezor/trezor-suite/pull/5611#issue-1270360503

[2022-06-17 09:06] komret commented on #5532
QA: The library for dropdown inputs was upgraded, but they should look and behave the same as previously. There are only small UI improvements on the mnemonic word input pictured above (padding, keyboard navigation). Please check that all dropdown inputs behave as expected.

[2022-06-17 09:11] marekrjpolak commented on #5326
**QA:**

Please check that external links are working in:
- Connect popup
- Landing page
- Browser detection page
- Suite (both web and desktop)

[2022-06-17 09:56] #5582 closed, assigned to juriczech

[2022-06-17 11:36] komret commented on #5452
QA: The label in transaction detail should read "Raw transaction", not "Signature".

[2022-06-17 12:44] #5452 closed, assigned to dahaca, jerechinsky

[2022-06-17 14:55] sime opened #5644 "Infinite spinner on Connect for Firefox users with Total Cookie Protection"
**Describe the bug**
Using [MyEtherWallet](https://www.myetherwallet.com/wallet/access/hardware?type=overview) on Firefox with Total Cookie Protection results in a continuous loading on connect.trezor.io.

**Info:**
-   Browser: Firefox 101.0.1
-   OS: OSX 12.2.1
-   Bridge: 2.0.31
-   Firmware Version: TT, 2.5.1

**How to reproduce**
Setup Firefox Total Cookie Protection. Settings > Privacy and S

[2022-06-17 16:21] chrisguida opened #5645 "[bug]: Tor does not work"
**Describe the bug**
When I turn on Tor, no transactions are retrieved. This makes it hard to use Trezor Suite privately. I have Sparrow working on the same laptop with the exact same Tor daemon, so this must be a problem in Trezor Suite.

**Info:**

-   Remembered Wallet: yes
-   Suite Version: Desktop App Version 22.6.2 (22.6.2.18685) (same behavior seen on version 21.12.2)
-   Browser: N/A
-

[2022-06-18 08:05] Monero-HackerIndustrial commented on #5645
This bug appears to be an issue with the request manager interacting with the tor controller. I see this output on ubuntu terminal.
[code]
Do you know how to force a debug flag to see the output and what specific error it is in a more verbose manner?

[2022-06-18 10:01] janvlug opened #5646 "InitializeSandbox() called with multiple threads in process gpu-process"
**Describe the bug**
When I start the Trezor Suite on Fedora 36, I get this error message:

[code]

**Info:**

-   Remembered Wallet: n.a.
-   Suite Version: 22.5.3-linux-x86_64
-   Browser: name, n.a.
-   OS: name, Fedora 36
-   Bridge: n.a.
-   Firmware Version: Device details are not yet available, because I did not setup the Trezor device yet. It is still in bootloader mode.

[2022-06-19 10:17] prusnak commented on #5645
Related: There is an ongoing DDoS attack on the Tor network happening since 9th June - the issue has not been resolved yet :-/ https://status.torproject.org/issues/2022-06-09-network-ddos/

[2022-06-20 08:14] sime opened #5649 "Connect: Debugging toolchain"
# User Story
As a connect developer
I want to control when the popup closes
So that I can catch any potential errors

# Acceptance criteria
Given I am in "debug mode"
When an error is thrown
Then popup should not close
And I should see the errors printed

Only in development mode. In production, it is a security risk.

[2022-06-20 08:45] hynek-jina commented on #5358
Will be tested by 3rd party.. No requirements on QA.

[2022-06-20 10:10] szymonlesisz commented on #5621
closing, not a bug, my mistake while switching between branches

[2022-06-20 10:10] #5621 closed, assigned to nobody

[2022-06-20 11:25] wendys-cats commented on #5512
QA could not reproduced this issue, even after multiple tests (on several Suite version).

I am sorry we were not able to solve the issue for you, but hopefully information below will be of some help!
Based on the problem described and the fact QA has not encountered this problem before, and even after extensive tests, I was unable to reproduce this, I believe one of these scenarios is most likely

[2022-06-20 11:39] andrewkozlik commented on #5628
https://www.notion.so/satoshilabs/Parsing-tx-history-for-external-inputs-033868327c3a4ff4a0eb936b97027bdc

[2022-06-20 11:42] wendys-cats commented on #5644
related to [this](https://github.com/trezor/connect/issues/784) issue.

[2022-06-20 12:02] Alex71btc commented on #5512
Closed, but i could reproduce three same issue on different computers connecting to same electrum backend,  always some(the same) transactions are not showing when connected to jut umbrel node, other wallets like sparrow show  correct also using electrum.
When I search for the missing transaction ID in the transaction  search tab they are displayed but as soon as I empty the search field the vanis

[2022-06-20 14:41] #5532 closed, assigned to komret

[2022-06-20 17:15] chrisguida commented on #5645
Yes, I'm aware of the DoS attack on Tor, however, that cannot be the problem here since I am able to connect from the exact same laptop to the same exact electrum hidden service from Sparrow with no issues. This is a bug in Trezor Suite.

[2022-06-20 19:53] Alex71btc commented on #5512
I am not the only person with this issue, see here:
https://forum.trezor.io/t/transaction-history-missing-no-loss-of-funds/7465

[2022-06-21 05:22] hynek-jina commented on #5512
@Funman2
Please have a look on @wendys-cats comment first.

[2022-06-21 06:12] ondracja commented on #5512
@Funman2 hi, since you can reproduce the issue, can you please provide steps for the reproduction? Also some additional info would help us narrow down the problem.

[2022-06-21 07:45] Alex71btc commented on #5512
@wendys-cats I have tried to send, was possible! Deleted all trezor folders and made my suite forget all user datas, still the same bug, recent transactions not listed in acount history, but in the graphic overviev it shows! Also i can search for ech missing transaction, it will show up, but vanish again once i clear the search field.
Only connected to my umbrel electrum server this time, not conn

[2022-06-21 13:36] mroz22 commented on #5358
Hi @overcat
Your problem should be fixed now, try @trezor/connect-web version 9.0.0-beta.2
Just tried to build laboratory locally and it did work on my machine.

[2022-06-21 14:03] jaybutera opened #5659 "Can't add multiple empty accounts"
**Describe the bug**
Can't create multiple empty accounts. Account must have funds before a new one can be created. This seems almost always to be undesirable behavior and unuseful to to the user.

**Info:**

-   Suite Version: app, v2.4.2
-   OS: NixOS

**How to reproduce**
Steps to reproduce the behavior:

1. Go to 'My Accounts'
2. Click on '+'
3. 1. Click on 'Ethereum'
4. Try to click 'Add acco

[2022-06-21 14:25] overcat commented on #5358
Hi @mroz22, got another error while running the test, which I think is caused by @trezor/connect.

log: https://github.com/overcat/laboratory/runs/6986247890?check_suite_focus=true

[code]

[2022-06-21 14:30] mroz22 commented on #5358
ouch, you are right, sorry, I will need to improve my checks to prevent this. Working on that.

[2022-06-21 14:45] STew790 commented on #5577
Most probably related to this issue https://github.com/trezor/trezor-suite/issues/5512

[2022-06-21 21:16] Nodonisko opened #5661 "suite-native: state management solution"
1. Analyze how much code from suite we can effectively reuse
2. Analyze which state management solution we can use (in case we won't go with shared redux code, we should consider also other state management options)
3. Implement core of that solution

[2022-06-22 08:45] mroz22 commented on #5358
Sooo, `9.0.0-beta.4` installs and runs tests but I get some other error running tests . This might be something with stellar plugin maybe?

[code]

[2022-06-22 09:23] overcat commented on #5358
I think this error is not caused by upgrading trezor libraries.

[2022-06-22 10:56] #5515 closed, assigned to bouchja1

[2022-06-22 12:25] #5603 closed, assigned to juriczech

[2022-06-23 08:03] bosomt commented on #5452
**QA OK**

**Info:**
 - Suite version: web 22.7.0 (07547a8b401fa1e8131820c285eac2d9a6001d59)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.8.3 regular (revision df0963ec48f01f3d07ffca556e21ff0070cab099)
 - Transport: bridge 2.0.31

[2022-06-23 08:27] matejkriz opened #5672 "Firmware binaries other than latest and intermediary are not available in Suite"
Only the latest and intermediary Firmware binaries are currently available in Suite (both web and desktop) and there is no fallback on [https://data.trezor.io](https://data.trezor.io).

Not sure if it's causing a bug (if there is any FW version, that doesn't meet the criteria to update to intermediary or latest) - needs to be verified.

Even if it's not a bug, it's not intended behavior and the lo

[2022-06-23 08:32] STew790 commented on #5591
**QA OK**

Turn ON labeling:
![image](https://user-images.githubusercontent.com/48477147/175254102-e8e1e2df-24a8-4485-baef-f8ac22452ac3.png)

Labeling provider:
![image](https://user-images.githubusercontent.com/48477147/175254208-658718ef-7a0e-43cc-b27e-746c91c0883c.png)

Labeling turned off:
![image](https://user-images.githubusercontent.com/48477147/175254340-81a520b4-8fd2-4cea-ae96-194b4c00ceb

[2022-06-23 08:35] tomasklim commented on #5591
The last picture is from `suite-ready` right? Check it also when labeling and provider is set.

It should also send `settings/general/labeling` when turning labeling off.
and `settings/general/labeling-provider` empty when disconnecting provider.

[2022-06-23 09:01] #5521 closed, assigned to bouchja1

[2022-06-23 09:08] bouchja1 opened #5674 "suite-native: iOS build - prepare app for beta testing"
Prepare managing different Environments using XCode Build Schemes and Configurations for publishing app to App store (Testflight).

**Related to:** #5521 #5430 #5429

[2022-06-23 09:21] bosomt opened #5675 "Sign message dialogue design broken"
**Describe the bug**
See screenshots. In recent change Sign dialogue design has changed and address and signature does not fit to fields.
tested on multiple computers.

**Steps to reproduce:**
1. Navigate to Sign message section
2. Select address and observe design
3. Sign message and observe Signature field

**Info:**
 - Suite version: web 22.7.0 (a92092adee0fc61f4bc2c8a404f40e47323c1450)
 - Brow

[2022-06-23 09:35] bosomt commented on #5675
is it possible that it's related to this change ? https://github.com/trezor/trezor-suite/issues/5532

[2022-06-23 10:01] STew790 commented on #5591
Yes, exactly.

When labeling and provider is set in `suite-ready`:
![image](https://user-images.githubusercontent.com/48477147/175273304-433334b0-ef86-4f67-896c-559e606b7532.png)

This is when provider is disconnected:
![image](https://user-images.githubusercontent.com/48477147/175272483-014cd6a7-ece2-43b0-a48c-8de168d7723b.png)

And when turning labeling off:
![image](https://user-images.githubus

[2022-06-23 11:01] tomasklim commented on #5645
@chrisguida
Hello, could you please check that you still have this issue?

Unfortunately, I am not able to replicate it.

You can run your app with `--log-level=debug` tag.
Do you see some error messages in terminal regarding `tor` `INFO(tor)`, `ERROR(tor)`,  `DEBUG(tor)`,..?

[2022-06-23 14:49] #5619 closed, assigned to nobody

[2022-06-23 22:01] chrisguida commented on #5645
Yep, definitely still happening.

I forgot a step, maybe this is it? You need to disconnect the trezor and reconnect it after switching to Tor.

How do I run a mac app with command line arguments? it's just a dmg

[2022-06-24 03:09] overcat commented on #5358
✅ I ran some tests and all test cases pass.

Version:
[code]

Device: Model T and Model One with the latest firmware

Laboratory url: https://laboratory-mihyld7ic-overcat.vercel.app/#txsigner?network=test

<details>
<summary>test cases</summary>

1. The XDR contains all Trezor supported operations:
`AAAAAgAAAACjaq9KQUVpnO9e09mXAoaUo/bORBjJRHz7oDqjowmeewAAD6ABb2zHAAAQKAAAAAEAAAAAAAAAAAAAAAAAAAAAAAA

[2022-06-24 07:59] sime commented on #5645
`/Applications/Trezor\ Suite.app/Contents/MacOS/Trezor\ Suite --log-level=debug`

[2022-06-24 08:10] juriczech opened #5679 "suite-native: Create routing for device setting"
Create empty screens + routes for device settings section
https://tppr.me/iFamI

[2022-06-24 08:38] bosomt commented on #4104
**QA OK**

when you reconnect device in BL mode whole settings is changed to
`Other settings unavailable in bootloader mode` it's already handled correctly.

**Info:**
 - Suite version: desktop 22.6.2 (f45c75705f153ec0dc44cb72fec2e5ec4a031b7c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.2 Chrome/94.0.4606.81 Electron/15.3.0 Sa

[2022-06-24 08:38] #4104 closed, assigned to jerechinsky

[2022-06-24 09:04] mroz22 commented on #5505
I believe this can be considered done. Not sure if there is anything for QA

[2022-06-24 09:22] bosomt commented on #4685
**QA OK**

im not able to reproduce issue anymore /local and Dropbox labels + hidden passphrase only/

**Info:**
 - Suite version: desktop 22.6.2 (f45c75705f153ec0dc44cb72fec2e5ec4a031b7c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Dev

[2022-06-24 09:27] juriczech opened #5681 "suite-native: Create localisation settings page"
https://tppr.me/O2qDA

[2022-06-24 11:35] matejcik opened #5683 "Stop using `EthereumGetPublicKey` in Connect"
It is functionally identical to `GetPublicKey`, so in theory you should be able to just replace `EthereumGetPublicKey` calls with `GetPublicKey` (plus the appropriate return type) with no other changes.

[2022-06-24 11:42] matejcik commented on #5683
see https://github.com/trezor/trezor-firmware/issues/2350 for discussion -- maybe I was too hasty with the whole thing

[2022-06-24 11:45] matejcik commented on #5683
...okay, maybe not right now :)

[2022-06-24 11:45] #5683 closed, assigned to nobody

[2022-06-24 14:24] STew790 commented on #5326
**QA OK**

- Connect popup :heavy_check_mark:
- Landing page :heavy_check_mark:
- Browser detection page :heavy_check_mark:
- Suite (both web and desktop) :heavy_check_mark:

[2022-06-24 15:22] chrisguida commented on #5645
These logs are a firehose, mostly with this:

<img width="918" alt="Screen Shot 2022-06-24 at 10 12 08 AM" src="https://user-images.githubusercontent.com/7445670/175564864-8435b7dd-0fcd-4cff-8e8e-234d52481e5f.png">

Here's some more interesting-looking parts:
<img width="1136" alt="Screen Shot 2022-06-24 at 10 14 36 AM" src="https://user-images.githubusercontent.com/7445670/175565428-0f942c52-ec7d

[2022-06-25 11:08] bosomt commented on #5683
Moving to approved :)

[2022-06-26 20:25] Zagorrrr commented on #5318
0xEF87B134ef94c07A6c7e73e7e37c1b5BDE7483eb

[2022-06-27 08:39] matejkriz commented on #5612
Notes for QA:
- behaviour in Tor Browser can also be affected by this

[2022-06-27 08:55] bosomt commented on #5131
Retested in latest version of Tor browser -  `11.0.14` same behavior, Bridge is running but device is not recognized/detected by Tor browser

[2022-06-27 10:58] #5602 closed, assigned to juriczech

[2022-06-27 12:38] Nodonisko opened #5695 "Improve package generator to work with multiple folder + scopes"
Current package generator is very dumb. It will only generate package to `packages/` folder with `@trezor` as package scope.

We need to modify it to support multiple folders + scopes. That will require probably one prompt with scope selection (we don't need to select folder because all scopes has it's own folders.

Would be nice to setup some prompting solution that could be extended, because thi

[2022-06-27 13:18] #5512 closed, assigned to marekrjpolak

[2022-06-27 13:18] #5577 closed, assigned to STew790

[2022-06-27 13:30] matejkriz commented on #5073
How to reproduce:
- turn off your internet connection
- start the app and wait (couple of minutes)

[2022-06-27 15:01] tomasklim opened #5696 ""You were disconnected" on welcome page & in onboarding"
**Describe the bug**
Users miss info that they are offline when on Welcome Page or in Onboarding

**Info:**

-   Suite Version: desktop, 22.5.2

**How to reproduce**
Steps to reproduce the behaviour:

1. Disconnect
2. Launch the app with a clear device

**Expected behaviour**
Users should see a banner
![Screenshot 2022-06-27 at 17 01 03](https://user-images.githubusercontent.com/33235762/175972039

[2022-06-27 15:09] tomasklim commented on #5612
**Follow-up:**

- New user is offline and wants to start tor in onboarding. However, the user is now blocked for 1 minute because the continue button is disabled until tor is successfully enabled.
- You cannot enable tor if you are offline. (Both in onboarding and settings)

**QA:**
Please test on STAGING.

Prerequisites:
- network tab to check that requests go through `tor`/`clearnet` according t

[2022-06-27 15:12] #5612 closed, assigned to dahaca

[2022-06-27 15:58] Nodonisko commented on #5695
It seems that Nx has built in some generators, seems like good time to finally introduce Nx? #4936

[2022-06-27 19:29] Alex71btc commented on #5512
Dear Marek,
Thank you very much, i downloaded the prerelease software of Suite, all transactions are listed correctly now! Issue solved indeed.
Congrats to great developer team!
Love Trezor Wallets!

Von: Marek Polák ***@***.***
Gesendet: Montag, 27. Juni 2022 18:02
An: trezor/trezor-suite
Cc: Funman2; Mention
Betreff: Re: [trezor/trezor-suite] Transactions do not show in account, but balance is c

[2022-06-27 19:42] Alex71btc commented on #5512
Wait, now only transcations of June are displayed, but other Month/Years missing now! Lol

[2022-06-27 20:57] marekrjpolak commented on #5512
For the sake of clarity, current fix hasn't been released yet as commented in https://github.com/trezor/trezor-suite/pull/5684#issuecomment-1167881481

[2022-06-27 21:05] Alex71btc commented on #5512
Thank you very much for your kind answers and the great work you are doing for empowering my self sovereign custody! More important than ever!
Trezor rocks.

Von meinem/meiner Galaxy gesendet

-------- Ursprüngliche Nachricht --------
Von: Marek Polák ***@***.***>
Datum: 27.06.22 22:57 (GMT+01:00)
An: trezor/trezor-suite ***@***.***>
Cc: Funman2 ***@***.***>, Mention ***@***.***>
Betreff: Re: [tre

[2022-06-28 09:08] b-irving commented on #5556
Enter up to 9 digits using the blind matrix by clicking the tiles using your mouse. Match the tiles with the digits displayed on your Trezor device screen.

[2022-06-28 10:35] bosomt commented on #5512
**QA OK**

**Info:**
 - Suite version: desktop 22.6.2 (926eb295b846e82a4352f508d6e1275efe76fbf7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transport:

[2022-06-28 14:39] chrisguida commented on #4156
Can confirm that this is still happening. Seeing the wrong fingerprint is scary for someone setting up a new Trezor. The fingerprint in [this comment](https://forum.trezor.io/t/finger-prints-dont-match-during-the-firmware-update/1932/2) is indeed what was displayed on the Trezor's screen. Trezor Suite should be updated to display the fingerprint for this "intermediary firmware", and should notify

[2022-06-28 21:14] Nodonisko opened #5702 "Detect circular deps"
Current solution using eslint rule is very unsuficient and doesn't catch most of circular deps.

This should work better:
https://nx.dev/structure/dependency-graph#circular-dependencies
https://nx.dev/structure/monorepo-tags#banning-external-imports

Related to #4936

[2022-06-28 21:59] bosomt commented on #4685
**QA NOK**

im now able to reproduce issue
loaded and remembered testing passphrase.
After i enable labeling device start deriving but after it finishes labeling is not enabled.
tested multiple times.
After i add Standard wallet to device wallets im able to enable labeling.

**Info:**
 - Suite version: desktop 22.6.3 (f6682557ac22b49a7c69207001fa41e7b5473932)
 - Browser: Mozilla/5.0 (Macintosh; In

[2022-06-29 09:18] vdovhanych commented on #5505
Should we close this issue, and if there are other concerns, we will create a new one?

[2022-06-29 09:46] hynek-jina commented on #5556
@b-irving
Thx.. And what about the `Confirm on Trezor`?

And isn't the proposed text quite long? 🤔

And btw. the length is extended to 50 digits...

[2022-06-29 09:53] #5674 closed, assigned to bouchja1

[2022-06-29 10:13] #5505 closed, assigned to mroz22

[2022-06-29 10:25] juriczech opened #5704 "Refactor VStack, HStack and Box"
- [ ]  Merge VStack and HStack into one component
- [ ] Unify spacings

[2022-06-29 10:49] hynek-jina commented on #5358
@mroz22 Can we close the issue?

[2022-06-29 11:45] juriczech commented on #5704
- custom spacings => only allow one type

[2022-06-29 12:01] #5679 closed, assigned to juriczech

[2022-06-29 12:14] Nodonisko opened #5707 "chore: improve eslint settings"
There is already draft of PR https://github.com/trezor/trezor-suite/pull/5338 you can continue with this one, or just inspire here or take only blacklist from here, because most of other things is outdated.

**What should be done:**
1. Update/add blacklist in root `.eslintrc` and add to them newly created packages in `packages/` folder. Don't add any packages from `suite-native` because we want th

[2022-06-29 14:39] Nodonisko opened #5708 "suite-native: use @trezor/connect for watch-only implementation"
We will need connect for fetching transactions and fiat prices etc from blockbook. This PR should be just simply adding connect to mobile app, init it and test if we can fetch transactions etc.

Storing of transaction to redux, rendering them etc. is NOT part of this issue. There will be follow up task (TODO link it here).
Connecting to Trezor device is NOT part of this issue.

**Implementation id

[2022-06-29 15:11] Nodonisko opened #5709 "suite-native: transactions storing, logic"
Shared package for both desktop and mobile and directly implement for desktop.

**Implementation ideas:**
1. **Please do TDD and please read description task of #5708 where is lot of info about how to create shared packages**
2. Should be shared package probably could be called `@suite-common/wallet-transactions` and should use `redux-toolkit`
3. These files in suite will be most interesting: `pac

[2022-06-29 15:17] Nodonisko opened #5710 "suite-native: Dashboard assets"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=1246%3A10364)

**Spec:**
TODO

[2022-06-29 15:19] Nodonisko opened #5711 "suite-native: Dashboard UI"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=1246%3A10364)

**Spec:**
Put together all componets that we created for Dashboard so far
TODO

[2022-06-29 15:22] Nodonisko opened #5712 "suite-native: Graphs"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=1246%3A10364)

**Spec:**
1. Use library https://github.com/margelo/react-native-graph
2. This would be nice to have in standalone package that we will only use at Dashboard screen
3. For this we can go with default graph visual from library maybe just tune colors little bit and we will fine tune appearnce later

[2022-06-29 15:24] Nodonisko opened #5713 "suite-native: TransactionItem"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=1268%3A10094)

**Spec:**

[2022-06-29 15:39] sime commented on #5708
When collaborating with @mroz22, loop me in too. I'm also the PM for Trezor Connect.

[2022-06-29 16:31] sime commented on #5708
Should be able to get pretty fair with the [getAccountInfo](https://connect.trezor.io/9/#/method/getAccountInfo-advanced) method.
[code]

[2022-06-29 17:23] #5537 closed, assigned to tomasklim

[2022-06-29 17:25] tomasklim commented on #5537
QA:
Desktop builds and autoupdate have to be exhaustingly tested

[2022-06-29 19:47] #5681 closed, assigned to juriczech

[2022-06-30 07:32] wendys-cats opened #5718 "Older transaction popping up at the top of the tx export list"
**Describe the bug**
Suite will in some case place older transactions among the latest in export list. It does not happen consistently, there seems to be no particular trigger that can replicate this every time. First seen last month (3rd June). Suspecting pending transactions (together with labeling?) in export mix up the order. **Clearing app cache (with Reset app button in Settings) gets rid of

[2022-06-30 07:43] mroz22 commented on #5358
I think we can close it for now. If there are still problems, @overcat can always reopen. So far thaks for collaboration!

[2022-06-30 07:43] #5358 closed, assigned to mroz22

[2022-06-30 08:59] vdovhanych commented on #5429
What do you mean by mobile app for macOS?

[2022-06-30 09:55] bouchja1 commented on #5429
Title and desc updated to be more clear.

[2022-06-30 10:02] bouchja1 opened #5722 "suite-native: Setup mobile app build for iOS with Github actions"
Setup CI build using created fastlane lanes for iOS
use Github CI with MacOS runners.

Related to https://github.com/trezor/trezor-suite/issues/5674

[2022-06-30 10:55] sime commented on #4771
Very high level, but missing some error tracking too. Currently, we are blind on Connect.

[2022-06-30 11:18] tsusanka commented on #4771
It would make sense to add Sentry as well? We just need to remember to have it opt-in.

[2022-06-30 18:04] bouchja1 opened #5728 "suite-native: Strategy for mobile app GA - de-Googled Android phones"
We have prepared a distribution strategy for Android users using google services (with Firebase App Distribution and Google Play Store - https://github.com/trezor/trezor-suite/issues/5429).

There should be also an option to distribute the Android app to users who are complete without Google services.

Proposals:
- Amazon (https://www.amazon.com/gp/mas/get/amazonapp)
- Aptoide (https://en.aptoide.

[2022-07-01 01:48] JeriChode commented on #3198
In my case , the error  persist when I disabled Tor

[2022-07-01 09:03] matejkriz commented on #5073
see https://github.com/trezor/trezor-suite/issues/5645#issuecomment-1165679764

[2022-07-01 09:07] sentry[bot] opened #5730 "ResizeObserver loop limit exceeded"
Sentry Issue: [TREZOR-SUITE-2VJ](https://sentry.io/organizations/satoshilabs/issues/2847983543/?referrer=github_integration)

[code]

[2022-07-01 09:14] sentry[bot] opened #5731 "Error sending from webFrameMain: Error: Render frame was disposed before WebFrameMain could be a..."
Please check if it could be fixed by desktopApi.handshake

Sentry Issue: [TREZOR-SUITE-4ZP](https://sentry.io/organizations/satoshilabs/issues/3110803235/?referrer=github_integration)

[code]

[2022-07-01 09:16] sentry[bot] opened #5732 "TypeError: Cannot read properties of undefined (reading 'includes')"
Sentry Issue: [TREZOR-SUITE-JCQ](https://sentry.io/organizations/satoshilabs/issues/3391818032/?referrer=github_integration)

[code]

[2022-07-01 10:24] bosomt opened #5735 "Standard passphrase is incorrect after app upgrade"
**Describe the bug**
Users are reporting problems with remembered wallets.
See Steps to reproduce.

After upgrade you can't add coins/accounts or receive transaction.
Add account or coin: `Account discovery error Passphrase is incorrect`
Receive address: `Address verification error: Passphrase is incorrect`

**Steps to reproduce:**
1. Load standard wallet with passphrase disabled
2. Remember walle

[2022-07-01 12:11] #5429 closed, assigned to bouchja1, vdovhanych

[2022-07-02 15:23] abgit opened #5739 "Import of transaction from csv format (PASTE)"
With old wallet we could send funds to multiple addresses with "import" a csv with just a copy/paste .. a simple textarea.
With trezor suite, import is only possible if we select a local File with csv content.

A textarea to just paste the csv content (like in old wallet) would be great in trezor suite.
Copy/Paste is really nice on some situations.. otherwise we need to create a csv text file, pas

[2022-07-04 07:36] #5732 closed, assigned to mroz22

[2022-07-04 08:55] marekrjpolak commented on #5731
It couldn't imo as a) this appeared after the application was running for some time and b) the error message in console followed after `GPU` and `Utility` processes crashed which is arguably the main issue here.

[2022-07-04 09:10] komret commented on #5675
Indeed, thanks!

QA: Please check no other Select has incorrect width.

[2022-07-04 09:27] mroz22 commented on #5735
should be fixed now

[2022-07-04 09:45] bosomt commented on #5735
**QA OK**

fixed in 22.6.5 (62202b) release

[2022-07-04 09:45] #5735 closed, assigned to nobody

[2022-07-04 13:46] Alex71btc commented on #5512
Just want to say thank you again, latest update solved all my issues with custom backend electrum server! Balances and transactions show correctly now! Great step for using Trezor Suite again!

[2022-07-05 07:37] sime opened #5744 "Connect Explorer: Include ERC20 transaction example"
**Spec:**
Introduce a ERC20 transaction example into connect explorer.

https://connect.trezor.io/9/#/method/ethereumSignTransaction-erc20

[2022-07-05 12:09] Nodonisko opened #5747 "suite-native: Rename BottomModal to BottomSheet"
https://github.com/trezor/trezor-suite/pull/5715#discussion_r911964481

[2022-07-05 12:23] tsusanka commented on #4890
Should be closed by https://github.com/trezor/trezor-suite/pull/5450.

[2022-07-05 12:23] #4890 closed, assigned to tsusanka

[2022-07-05 12:23] #4763 closed, assigned to Nodonisko

[2022-07-05 12:25] Nodonisko commented on #4763
Closing if favor of #5708

[2022-07-06 08:12] refi93 opened #5749 "Infinite spinner on Firefox with myetherwallet.com"
**Describe the bug**
When I try to connect with my Trezor to myetherwallet.com from my Firefox browser (v102.0), connect.trezor.io ends up stuck at the "Connecting" spinner without further progress. On Chrome this doesn't seem to happen. I tried it also in incognito mode to rule out interference from extensions. I'm facing the same issue in https://adalite.io therefore it seems likelier to me that

[2022-07-07 07:23] sime commented on #5749
Hi @refi93

Can you try toggling the options mentioned in #5644 ?

[2022-07-07 09:53] #5675 closed, assigned to komret

[2022-07-07 12:31] bosomt commented on #5675
**QA OK**

Recovery drop down select will be tested in https://github.com/trezor/trezor-suite/issues/5532 that needs QA too.

**Info:**
 - Suite version: desktop 22.7.0 (df0ea0625bd3adde3aa18dd16792890a59f97926)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 -

[2022-07-07 13:31] matejkriz commented on #5377
Implemented warnings:
(typos "deivce" and "connect" already reported)

modal:
<img width="965" alt="image" src="https://user-images.githubusercontent.com/3729633/177785308-29c40270-52e9-4100-be76-df66832b7816.png">

baner after the modal is closed:
<img width="941" alt="image" src="https://user-images.githubusercontent.com/3729633/177785398-476e7195-3e39-440b-bb00-3d157d28ef49.png">

[2022-07-07 13:47] tsusanka commented on #5377
As for the copy, please let's use the agreed upon sentence `Your Trezor is running unofficial firmware. Please contact help@trezor.io immediately.`

[2022-07-07 15:03] #5377 closed, assigned to mroz22, komret

[2022-07-07 16:56] komret commented on #5438
**QA:**
Changes have only been made to Google authorisation, but please test Dropbox and filesystem storage a little bit as well, in case I broke something.
For Google, there are now two authorisation flows which should both work the same on desktop and web.
1) The default flow enables permanent authorisation via a refresh token. The user logs in to Google once and does not need to re-authenticate

[2022-07-07 17:41] refi93 commented on #5749
thanks @sime - indeed, toggling the "enhanced tracking protection" off helped :+1: sorry I somehow overlooked that advice. Any chance this could be fixed or at least detected/mentioned by connect.trezor.io for better UX without the need to implement such checks for each web wallet separately?

[2022-07-07 19:56] bouchja1 commented on #5708
Ad 1) yes, with some modifications in connect and blockchain-link for RN (https://github.com/trezor/trezor-suite/pull/5741)

Ad 2) I have confirmed with Matěj that it is `packages/suite/src/reducers/suite/deviceReducer.ts` and not `packages/connect-explorer/src/reducers/trezorConnectReducer.ts`

Ad 3) According to the previous point, I believe it is covered in `packages/suite/src/reducers/suite/__

[2022-07-08 07:00] #5350 closed, assigned to mroz22

[2022-07-08 07:00] #5349 closed, assigned to mroz22

[2022-07-08 08:28] sime commented on #5749
It's something we are considering/looking into!

Closing as duplicate of #5644

[2022-07-08 08:28] #5749 closed, assigned to nobody

[2022-07-08 08:32] #5430 closed, assigned to bouchja1

[2022-07-08 09:10] #5504 closed, assigned to bouchja1

[2022-07-08 10:26] bosomt commented on #5377
When i try to load `bad` firmware it works as expected.
But when i load it via trezorctl and `bad` firmware is already loaded in device i will get no warning during onboarding or receiving in Suite.

**QA NOK**

**Suite with already loaded firmware**:

<img width="1071" alt="image" src="https://user-images.githubusercontent.com/31506317/177974747-c729b725-6760-4b51-914a-69709ffdb271.png">

**QA OK

[2022-07-08 11:02] bosomt commented on #5377
When i try to load `bad` firmware it works as expected.
But when i load it via trezorctl and `bad` firmware is already loaded in device i will get no warning during on-boarding or receiving in Suite.

**QA NOK**

**Suite with already loaded firmware**:

<img width="1071" alt="image" src="https://user-images.githubusercontent.com/31506317/177974747-c729b725-6760-4b51-914a-69709ffdb271.png">

<img w

[2022-07-08 11:38] mroz22 commented on #5377
This is "expected". This feature was not implemented yet but might be in the future.

[2022-07-08 12:15] bosomt opened #5754 "Auto update error when testing latest staging version"
**Describe the bug**
we are getting: `auto update error` when testing latest staging version.
See screenshot, log and previous discussion on Slack.
Same  results on Linux/macOS and Windows 10.

**Steps to reproduce:**
1. Install 22.7.1
2. Run update from custom update url source
3. Observe process.

**Info:**
 - Suite version: desktop 22.7.1 (442452ee4244b602d3d0b2804f7f829c0216edf9)
 - Browser: M

[2022-07-08 13:09] #5754 closed, assigned to matejkriz

[2022-07-08 13:53] bosomt commented on #5438
**QA NOK**

I'm not able to enable Google storage in 22.7.1 app :(
We need to adjust enabled urls at Google.
EDIT: web version on staging works as expected.

<img width="511" alt="image" src="https://user-images.githubusercontent.com/31506317/178005553-d5ec7d85-7ded-4495-a3ed-bf13c9d98c71.png">

**Info:**
 - Suite version: desktop 22.7.1 (442452ee4244b602d3d0b2804f7f829c0216edf9)
 - Browser: Mozil

[2022-07-08 16:04] STew790 commented on #5754
**QA OK**
Autoupdate finished without errors.

**Info:**
 - Suite version: desktop 22.7.1 (b82987dd15049a1578bbeb4705d32b6f1edb7893)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.11.1 regular (revision 85a26d2c9593bcdf858c2d718d79

[2022-07-09 14:28] bosomt commented on #5754
**QA OK**

**Info:**
 - Suite version: desktop 22.7.1 (b82987dd15049a1578bbeb4705d32b6f1edb7893)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transpor

[2022-07-11 09:14] komret commented on #5438
@bosomt It should work now, `redirect_uri` registered with Google, please try again.

[2022-07-11 09:26] bosomt commented on #5438
@komret yes it works as expected.

Found one more thing, and it's probably expected.

After you had enabled and connected labeling to Google storage in 22.6.5 and you will start 22.7.1 you will get this error and you need to select and connect to storage provider once again.

<img width="445" alt="image" src="https://user-images.githubusercontent.com/31506317/178233371-1b642fac-ff77-45e1-ba22-093a

[2022-07-11 09:43] sime commented on #5598
And one month later I actually link to the mentioned doc (sorry): https://github.com/trezor/trezor-suite/blob/develop/docs/packages/connect/methods/getDeviceState.md

[2022-07-11 09:51] komret commented on #5438
Yes, this is expected until we start our authorisation server. At the moment, Suite attempts to call the server, which fails, so it revokes the refresh token and the user needs to re-authenticate using the implicit flow, receiving a short-lived access token instead.

[2022-07-11 10:36] sime opened #5757 "Connect v9 integration tracker"
Meta issue for tracking PRs integrating Connect v9.

|Project|PR|Status|Mantainer
|-|-|-|-|
| MetaMask | https://github.com/MetaMask/eth-trezor-keyring/pull/132 | Done ✅ |
| [MyEtherWallet](https://www.myetherwallet.com/) | | Done ✅
| [MyCrypto](https://mycrypto.com/) | https://github.com/MyCryptoHQ/wallets/pull/34 |  |
| AdaLite | https://github.com/vacuumlabs/adalite/pull/1342 | Done ✅
| [Theta

[2022-07-11 11:03] bosomt commented on #5438
**QA OK**

**Info:**
 - Suite version: desktop 22.7.1 (b82987dd15049a1578bbeb4705d32b6f1edb7893)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular (revision 9276b1702361f70e094286e2f89e919d8a230d5c)
 - Transpor

[2022-07-11 11:03] #5438 closed, assigned to komret

[2022-07-11 12:57] komret commented on #5730
According to one of the ResizeObserver's authors:

(See [this thread](https://stackoverflow.com/questions/49384120/resizeobserver-loop-limit-exceeded#comment86691361_49384120).)

Chrome uses ResizeObserver under the hood and there is a bug described [here](https://bugs.chromium.org/p/chromium/issues/detail?id=809574) which should be fixed in Chrome v105 according to the same source.

It can be obs

[2022-07-11 13:20] STew790 commented on #4604
Still present.

**Info:**
 - Suite version: desktop 22.7.1 (b82987dd15049a1578bbeb4705d32b6f1edb7893)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transport: brid

[2022-07-11 14:55] STew790 opened #5759 "Labeling on Dropbox and Safari combination not working"
**Describe the bug**
When I enable labeling and try to connect Dropbox to Suite via Safari, it doesn't work. The process gets stuck on the very last step where the site should just tell you to close your window and go back to Suite but the page is just forever loading without showing anything. This is not a regression, I tried with Suite 22.6.5 and it isn't working as well. You need to have Safari

[2022-07-11 15:09] #5722 closed, assigned to bouchja1, vdovhanych

[2022-07-12 08:27] matejkriz commented on #5730
thanks for checking it out, ignored in Sentry 👌

[2022-07-12 08:27] #5730 closed, assigned to komret

[2022-07-12 08:34] sentry[bot] opened #5763 "TypeError: Failed to execute 'registerProtocolHandler' on 'Navigator': 3 arguments required, but only 2 pres..."
New in 22.6.5, could be somehow related to https://github.com/trezor/trezor-suite/issues/5266?

Sentry Issue: [TREZOR-SUITE-JCD](https://sentry.io/organizations/satoshilabs/issues/3391689474/?referrer=github_integration)

[code]

[2022-07-12 09:04] #5661 closed, assigned to Nodonisko

[2022-07-12 09:52] matejkriz commented on #5731
closing, it's not the real issue, it's after killing the process, not crashing

[2022-07-12 09:52] #5731 closed, assigned to matejkriz

[2022-07-12 14:50] #5759 closed, assigned to komret

[2022-07-12 15:19] mroz22 opened #5770 "Send form - import csv - metadata (labels)"
When importing csv to fill send form, it should be able to process label column as well.

### Current import via Trezor Suite
<img width="970" alt="Screenshot 2022-07-12 at 16 18 06" src="https://user-images.githubusercontent.com/216917/186368236-74640fd4-9108-4613-8401-b5b36b8ac466.png">

### Old web wallet import
<img width="622" alt="Screenshot 2022-07-12 at 16 20 07" src="https://user-images.g

[2022-07-12 16:04] TMDStudios opened #5771 "Broken Links"
All links under https://docs.trezor.io/packages/ are broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://docs.trezor.io/packages/
All links under 'analytics' and 'suite-analytics' are broken

[2022-07-12 18:04] matejcik commented on #5771
@prusnak please move to Suite repo

[2022-07-12 22:16] prusnak commented on #5771
done

[2022-07-13 00:32] rocketeerbkw opened #5772 "Can't delete labels"
**Describe the bug**
Once an address or transaction has been labelled, it's impossible to remove the label.

**Info:**

-   Remembered Wallet: yes
-   Suite Version: app 22.6.5
-   Browser: n/a
-   OS: MacOS Montery 12.4
-   Bridge: unknown
-   Firmware Version: Model T 2.5.1

**How to reproduce**
Steps to reproduce the behavior:

1. Enable labelling in Trezor Suite
2. Add a label to an address
3.

[2022-07-13 08:59] #5707 closed, assigned to juriczech

[2022-07-13 09:37] tomasklim commented on #5763
Looks like https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler lies about `title`.

App now does not work in old browsers.
<img width="789" alt="Screenshot 2022-07-13 at 11 27 51" src="https://user-images.githubusercontent.com/33235762/178700430-a389dffb-aeed-46a9-b5d3-947396cd6d33.png">
Firefox <=78 (we support >=78)
Chrome <=87 (we support >=84)
![Screenshot 2022-0

[2022-07-13 10:46] tomasklim commented on #5763
It looks like we cannot easily test that the app is working in old supported browsers using our e2e tests.

@trezor/qa it would be nice to add a new test scenario - try to open our app in min supported browser versions which are now Firefox 78 and Chrome 84 (https://github.com/trezor/trezor-suite/blob/develop/packages/suite-build/browserslist).

Opening, connecting device and go through the main t

[2022-07-13 10:53] sime opened #5776 "Make MetaMask tests run with Trezor Connect v9"
Swapping in Connect v9 for v8 throws an unexpected error in unit tests:

https://github.com/MetaMask/eth-trezor-keyring/pull/132

[2022-07-13 14:15] STew790 commented on #5772
There is actually a way to delete your labels, but I do agree that it is really inconvenient and something like a "delete" button should be present.

You can actually delete your label by clicking on "Edit" and then writing just one letter and deleting it and then when you confirm this empty string, it actually deletes the label.

Not sure if this should be a bug or a "feature request". cc @hynek-

[2022-07-13 14:17] hynek-jina commented on #5772
Then it make sense as a feature improvement request.

[2022-07-13 14:19] mroz22 commented on #5776
Should be fixed here https://github.com/MetaMask/eth-trezor-keyring/pull/133

[2022-07-13 14:38] mroz22 opened #5781 "update react-redux"
some context: https://github.com/trezor/trezor-suite/pull/4711#issue-1098109503

[2022-07-13 16:19] rocketeerbkw commented on #5772
Did you try to reproduce this? It does't work. I updated my steps to be more clear but when I said "No matter what is entered in the label field" in step 5 that included an empty string because I tried that already.

I also already mentioned in the expected behavior that an empty string should delete the label, meaning that it currently doesn't.

I checked the code and saw that it should [delete u

[2022-07-14 05:31] #4809 closed, assigned to nobody

[2022-07-14 05:31] #5627 closed, assigned to marekrjpolak

[2022-07-14 12:23] andrewkozlik commented on #4977
Where did this requirement come from? I think that Trezor won't sign a transaction with these output addresses, see [1], [2].

**bc1pw508d6qejxtdg4y5r3zarvary0c5xw7kw508d6qejxtdg4y5r3zarvary0c5xw7k7grplx**
This is SegWit v1 (Taproot), but it's using Bech32 encoding, not Bech32m. That seems to be in violation of [BIP 350](https://github.com/bitcoin/bips/blob/master/bip-0350.mediawiki). So it wouldn

[2022-07-14 12:53] szymonlesisz commented on #4977
similar checks are in connect > [utxo-lib validation](https://github.com/trezor/trezor-suite/blob/develop/packages/utxo-lib/src/address.ts#L38-L45=) with the difference that version 1+ of Bech32m are supported.

maybe suite send form should have additional check: if it's taproot address **and** address version is supported by FW else show meaningful error

in other case send form will validate add

[2022-07-14 13:02] bosomt commented on #5763
@tomasklim created test case with medium priority in our Sanity tests that we run every release cycle

[2022-07-14 13:17] bosomt opened #5787 "csv import in Send form not validating file content"
**Describe the bug**
csv import in Send form is not validating file content.
See screenshots. When you import empty file transaction amount and address fields disappear.
When you import invalid file send form is filled out with rubbish data.

**Steps to reproduce:**
1. Navigate to Send form
2. Import invalid or empty .csv file.
3. Observe Send form behavior.

**Info:**
 - Suite version: desktop 22

[2022-07-14 13:27] #5713 closed, assigned to juriczech

[2022-07-14 15:46] STew790 commented on #5772
Unfortunately, yes, I know that if you just click on "Edit" and confirm an empty string, it doesn't work.

But as I mentioned here:

You need to:

1.  click on the "Edit"
2. write something
3. delete it with backspace/delete
4. then confirm it

The label is removed for me after that, I just tried it again. I tried to make a video (I hope it makes more sense):

https://user-images.githubusercontent

[2022-07-14 16:35] rocketeerbkw commented on #5772
I did follow these instructions you gave in your original reply and it didn't work for me:

But your video solved the mystery. When you say "confirm this empty string" and "4. then confirm it" you're using the `enter` key. When I was confirming it, I was clicking the checkbox button.

So I tested again, and when following your steps with the enter key, it gets deleted. When following your steps wi

[2022-07-14 17:43] #2251 closed, assigned to nobody

[2022-07-15 04:16] JeremyBernier opened #5789 "How to register email and app URL to actually use the SDK?"
According to the [documentation](https://github.com/trezor/connect/blob/develop/docs/index.md#trezor-connect-manifest), one needs to have their email and app URL registered in order to actually use the SDK. Yet there is no mention anywhere of how to actually register.

If anyone could point me to where/how to actually register to use the SDK, that'd be helpful as then I could actually use this SDK

[2022-07-15 07:56] sentry[bot] opened #5791 "ReferenceError: switchIcons is not defined"
commit: https://github.com/trezor/trezor-suite/commit/bafa2d54c538612a9f2ba3b257224ee4f713d2c6#diff-236515809fcf1a7c3199c21e0d445568f00498708e636dea257597b54ef984f1

Sentry Issue: [TREZOR-SUITE-CE8](https://sentry.io/organizations/satoshilabs/issues/3241538632/?referrer=github_integration)

[code]

[2022-07-15 08:03] tomasklim commented on #5791
Note:

- [ ] Try to add linter to `.html` files

[2022-07-15 08:42] sentry[bot] opened #5792 "TypeError: Cannot read properties of undefined (reading 'error')"
`if (response.trade.error) {`

Sentry Issue: [TREZOR-SUITE-M3T](https://sentry.io/organizations/satoshilabs/issues/3426440091/?referrer=github_integration)

[code]

[2022-07-15 08:48] matejkriz commented on #4041
new event: https://sentry.io/organizations/satoshilabs/issues/3427939856

reported from here: https://github.com/trezor/trezor-suite/blob/a9749e4e248ad3cbf64a7a5cbdc327362c4f303a/packages/connect/src/device/DeviceList.ts#L413
cc @mroz22

[2022-07-15 09:06] tomasklim commented on #5791
Duplicate of #4934

[2022-07-15 09:15] sentry[bot] opened #5793 "auto-updater Error: net::ERR_CERT_AUTHORITY_INVALID"
please try to replicate

Sentry Issue: [TREZOR-SUITE-2PT](https://sentry.io/organizations/satoshilabs/issues/2727892722/?referrer=github_integration)

[code]

[2022-07-15 09:35] matejkriz commented on #5730
added to inbound filters

[2022-07-15 10:07] hynek-jina commented on #5791
Closing in favour of: https://github.com/trezor/trezor-suite/issues/4934

[2022-07-15 10:07] #5791 closed, assigned to tomasklim

[2022-07-15 12:29] sime commented on #5789
@JeremyBernier Just include a real E-Mail address and your appUrl, and you will be good to go.

There is no formal registration process :)

[2022-07-15 12:29] #5789 closed, assigned to nobody

[2022-07-16 18:42] jan386 opened #5798 "Unable to enter IPv6 address for connection to custom Electrum server"
**Describe the bug**
As the title states, it is not possible to enter an IPv6 address into Trezor Suite for connection to my own Electrum server. When attempting to input IPv6 address, it is not accepted, remains in red and Invalid URL is shown.

**Info:**

-   Remembered Wallet: no
-   Suite Version: app version 22.6.5
-   Browser: not relevant
-   OS: Windows 10 Pro, 21H2, 19044.1826
-   Bridge:

[2022-07-16 22:21] Nodonisko opened #5800 "Move suite wallet types to common packages"
Packages that could be used both in suite and mobile app

[2022-07-16 22:22] Nodonisko opened #5801 "Move wallet utils to shared common package"
That could be used between suite and native app.

[2022-07-18 06:51] ghost opened #5802 "Trezor ethereumSignTransaction function signs the transaction with a different address when given the same path"
**Overview**

Am currently building a Trezor wallet integration into an App. I am using the "trezor-connect" package to do this and on the latest version (8.2.10).
I am able to signMessages and recover the address from the signed the message to validate that the correct address is signing this.
But when I sign transactions through the ethereumSignTransaction method if I modify any of the fields on

[2022-07-18 08:55] mroz22 commented on #5802
Hi,
is your app public or can you provide a runnable example?

[2022-07-18 09:18] #4934 closed, assigned to tomasklim

[2022-07-18 09:34] hynek-jina opened #5805 "Tor splashscreen on Suite launch"
[Notion](https://www.notion.so/satoshilabs/Tor-Preflight-loader-Splash-screen-fd922b2d142c4d719f356e941b1bff71)

[2022-07-18 10:56] tomasklim commented on #4997
When `tor` tag is added to sentry, please check again https://github.com/trezor/trezor-suite/issues/5793 that it happens on both `tor` and `clear` web

[2022-07-18 11:12] tomasklim commented on #5793
Easiest way to replicate is to change the trust status on `DigiCeter Global Root CA`
 ![Screenshot 2022-07-18 at 12 56 46](https://user-images.githubusercontent.com/33235762/179497280-f718bfe5-358a-43b8-ab32-120d073c9a61.png)
which is used for Github
![Screenshot 2022-07-18 at 12 58 16](https://user-images.githubusercontent.com/33235762/179497488-df0ec5ba-803e-485d-b60a-db0341575319.png)
because a

[2022-07-18 12:49] #5710 closed, assigned to juriczech

[2022-07-18 14:19] komret opened #5807 "Errors shown during custom firmware installation"
**Describe the bug**
"Error: Device call in progress" is shown (four times) during custom firmware installation. Installation works, though.

**Steps to reproduce:**
1. Go to device settings
2. Install custom firmware (can be the same that is already installed
3. Look at the toast messages

**Info:**
 - Suite version: desktop 22.6.5 (62202b1294efebe1300ca806cf9108bbbbe18f21) - happens in 22.7.2 as

[2022-07-18 15:01] STew790 commented on #5772
Ok, I see, my bad. I just instinctively confirmed it with "enter" key but with clicking on the confirm tick, it indeed doesn't work. Thank you!

Adding back the "bug" label. The repro steps are as @rocketeerbkw mentioned. User should be able to "delete" the label via the confirm tick button.

[2022-07-18 15:07] STew790 commented on #4934
**QA OK**
Favicon changes with the system theme

**Info:**
 - Suite version: web 22.8.0 (88d58010aa8986885ddbb5040feb3dd7e0334bee)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.1 regular
 - Transport: WebUsbPlugin

[2022-07-18 17:17] TomzBench opened #5809 "You need to advertise your public key for Desktop App validation"
You list instructions for validating the Satoshi Labs Trezor-Suite Desktop Application here: https://wiki.trezor.io/Apps:Trezor_Suite#How_to_run

These instructions explain to ignore the warning, explaining that "This warning just means that this key is not certified by a third party authority".

That's true, but because the key is not validated by a "third party authority", the user needs to vali

[2022-07-19 03:10] ghost commented on #5802
The app is private, but I've written the following example and it does produce the same bug:

[code]

Which produces the following logs:

Address for path:  0xDd5ce0e30237702af935e9631795f04a716772fa
First recovered address:  0xE9A8e5A308E1F2e63e5ED70026500833f6eA9F82
Second recovered address:  0x8EA3995fc094c153F68fBc69CA49F77723680CFa

Thanks!

[2022-07-19 07:21] hynek-jina commented on #5809
@TomzBench Thanks for the comment.
To verify Trezor Suite, you can download the app directly from https://github.com/trezor/trezor-suite/releases
Then compare with the keys from the web https://suite.trezor.io/

However, we will consider publishing to a third site.
_I'll close the issue now, but if you have any other thoughts on it, we can reopen it. Thanks_

[2022-07-19 07:21] #5809 closed, assigned to nobody

[2022-07-19 07:38] bosomt commented on #5763
**QA OK**

_Firefox 78:_
suite.trezor.io : crash
staging : works as expected

_Chromium 84_
suite.trezor.io : crash
staging : works as expected

[2022-07-19 08:26] tomasklim commented on #5763
A good way to test old Chrome is to download old Chromium 😆 e.g. https://chromium.cypress.io/, cypress is legit tool for e2e tests

[2022-07-19 08:29] bosomt commented on #5763
@tomasklim already found it there and i was updating test results :)

[2022-07-19 09:53] bosomt commented on #5537
**QA OK**

tested multiple time during 22.7.x release cycle.

[2022-07-19 10:01] matejkriz commented on #5793
Let's check if it's not connected to the use of tor when that info is available (https://github.com/trezor/trezor-suite/issues/4997). Think about some user feedback on that error to let people know, that auto update might not work for them and maybe how to solve it?

[2022-07-19 11:09] sime commented on #5793
In the past, I come across a similar error when client system time was entirely wrong. By a matter of years.

[2022-07-19 11:13] marekrjpolak commented on #5798
Hello @jan386, it's only a matter of URL validation and therefore should be relatively easy to fix. I'll look at it ASAP.

[2022-07-19 11:53] tomasklim opened #5812 "Be able to use "Hide balance" feature without connecting a device"
**Current state:**
The user cannot use our `Hide balance` feature without connecting a device.
![eye](https://user-images.githubusercontent.com/33235762/179741324-a6e4ce0b-bdcf-4303-9852-c39dbc378735.png)

**Notes:**

However, if user has to connect a device to a computer while other people can be watching, it would be nice to be able to hide balance before connecting a device. (There is a way to

[2022-07-19 13:40] TomzBench commented on #5809
You should advertise the finger print of your signing key from multiple locations so that when users verify their software simply.

Here is a guide that documents what I am talking about.

https://www.qubes-os.org/security/verifying-signatures/

[2022-07-19 13:56] komret commented on #4661
![chrome-capture-2022-6-19 (1)](https://user-images.githubusercontent.com/42465546/179765152-509c1944-70be-4f0d-82f7-48ea78504a77.gif)
Now that we can expect more people using the Bitcoin-only firmware, should we also enhance some behaviour for crypto selection?
1. The "Enable more coins" in Dashboard leads to Crypto settings where the user can only enable Bitcoin Testnet, which is not very useful

[2022-07-19 13:59] hynek-jina opened #5814 "Analysis of the advantages and disadvantages of desktop Suite in the App Store"
- What needs to be done?
- What value it brings?

[2022-07-19 14:09] STew790 commented on #5377
**QA OK**

After further discussion and testing with @mroz22 approving.

[2022-07-19 14:15] sime commented on #4661
The messaging could be a more direct, i.e. 'Switch to universal firmware to access this coin' etc.

Additionally, a banner informing the user that this page is essentially useless on Bitcoin only firmware, and why.

[2022-07-19 14:16] hynek-jina commented on #4661
@komret
You are right.. These improvements were planed for future improvements.
However if it is not too complicated I would add message in coin section next to number of active coins

Having `Bitcoin` firmware
- *For more coins install `universal` firmware*
→ With anchor link to firmware type switch

Having `universal` firmware and only Bitcoin selected
- *If you only require Bitcoin wallet opera

[2022-07-19 15:21] tsusanka commented on #5814
@janandrascikSL already looked into this a bit. @janandrascikSL could you please summarise here?

[2022-07-19 16:03] #5118 closed, assigned to marekrjpolak

[2022-07-19 16:10] bosomt commented on #5118
is there anything that we need/can check or regular testing /including checking error logs/ is good enough ?

[2022-07-19 16:19] marekrjpolak commented on #5118
Phew, everything I guess? No, the only specific thing which came to my mind is that the analytics is correctly initialized and works. Other than that, careful general testing (especially of application starting under various conditions) should be ok.

[2022-07-19 20:57] dantzler commented on #4878
I am also having problems with connect.trezor.io/8/popup.html#. It keeps spinning forever when I try to connect the trezor. It works fine with trezor suite.

ETA:    WORKING NOW !
I was using Firefox when I experienced this issue. I switched to Chromium / incognito and got it working. Hope this helps anyone else that may be experiencing this issue.

Thank you.

[2022-07-20 05:25] antoniohs commented on #4878
Same problem here in Windows 11, with Brave, Chrome and Firefox, no ad blockers and shields disabled.

[2022-07-20 05:52] janandrascikSL commented on #5814
General benefit:
- Higher resistance of users to phishing attacks asking to install new version of Suite. New versions would be in App Stores only.

Microsoft Store:
- Application runs in a "sandbox". In Windows, however, only not allowing access to other applications. Other applications can modify data of Trezor Suite, if they have a permission to Storage.

Mac App Store:
- Application runs in a

[2022-07-20 06:00] hynek-jina commented on #5814
@janandrascikSL
So now we're mainly interested in the Mac App Store, right?

[2022-07-20 08:23] janandrascikSL commented on #5814
Due to the nature of phishing we face, I would prefer having Suite in both Microsoft Store and Mac App Store but right, Mac App Store brings more advantages.

[2022-07-20 08:30] tsusanka commented on #5814
Few comments:
- I agree we are interested in both.

- We should keep offering Suite on our landing page. We can however in future push for App Stores there as well eventually having it as the default option.
- Will this somehow affect the autoupdate mechanism? Can we do the updates via the App Stores somehow? It might be way more stable..

[2022-07-20 08:37] janandrascikSL commented on #5814
If we keep both App Store and standalone app then all the benefits of using App Store disappear, especially phishing-wise.

App Stores can update automatically and internal autoupdate will not be necessary then.

[2022-07-20 08:46] tsusanka commented on #5814
It would be great to go the App Store way completely, but I am just not sure that is realistic. Mac people are used to download the apps directly I believe. Even if we have both (app store and direct download) I think it is worth it.

@hynek-jina I believe this is more of a product discussion from now on. From tech / security point of view we definitely see benefits in doing this. But the product

[2022-07-20 09:25] hynek-jina commented on #3004
@dahaca
I'm sorry for the confusion.. Please use `sat` instead of `Sats` to be consistent with Trezor device and fee expression. Thank you

[2022-07-20 09:48] sime commented on #4878
@antoniohs Couple of questions:

* Which device do you have
* Which site are you using?
* What action are you performing on that site?
* Which version of Trezor Bridge do you have (find it by visiting: http://127.0.0.1:21325/status/)
* Are you using a passphrase protected wallet? If not, disable passphrase in Trezor Suite settings and try again.

[2022-07-20 09:59] sime commented on #5814
Have we ever talked about promoting web suite as a [PWA](https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps)? I see that as another way of safely getting onto user machines with a launch icon. I'm a fan of the PWA model and released a couple of mobile first PWAs.

I use the Google Meet PWA so I can Alt-Tab to it:
![Screenshot 2022-07-20 at 11 57 26](https://user-images.githubusercon

[2022-07-20 11:40] antoniohs commented on #4878
Trezor T

Eternl.io

Adding a wallet by pairing the hardware wallet

Version: 2.0.27

No passphrase.

[2022-07-20 11:59] sime commented on #4878
Thanks for the getting back to me!

That is the version of Trezor Bridge when you install it standalone. If you run Trezor Suite, it has a newer version of Trezor Bridge bundled in. Please try that, you will see version 2.0.31.

Please disable passphrase in Trezor Suite, that way we can eliminate that is causing the spinner.

![Screenshot 2022-07-20 at 13 57 08](https://user-images.githubuserconte

[2022-07-20 12:05] antoniohs commented on #4878
Running the trezor suite while I try to connect in Eternl.io has the same result.

Is spinner on launch, and as I said, I do not have a passphrase.

[2022-07-20 12:51] STew790 commented on #5759
**QA OK**

**Info:**
 - Suite version: desktop 22.8.0 (f2c6ab64945b37a1865308f13240bc653a177de4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.8.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transport

[2022-07-20 12:53] STew790 commented on #2251
Anything that can be done from QA here?

[2022-07-20 12:59] sime commented on #4878
@antoniohs Can you see if you have Total Cookie Protection on in Firefox for Eternl.io

Related to https://github.com/trezor/trezor-suite/issues/5644

[2022-07-20 13:05] antoniohs commented on #4878
Just standard, nothing special. Firefox is almost in mint condition, xbrowsersync and bitwarden extensions, nothing else.

[2022-07-20 13:29] NotwhatIwanttotell opened #5819 "Trezor Suite not connecting from within Tails OS through TOR to Trezor Servers"
Trezor Suite does not connect to Trezor servers trough Tails OS

-   Remembered Wallet: yes
-   Suite Version: 22.7.2 Linux Appimage
-   Browser: Tails OS
-   OS: Tails OS 5.2
-   Bridge:
sudo iptables -I OUTPUT -p tcp --dport 21325 -j ACCEPT -s localhost -d localhost
sudo iptables -I INPUT -p tcp --dport 21325 -j ACCEPT -s localhost -d localhost
-   Firmware Version: 2.5.1

Trezor Suite used to w

[2022-07-20 14:55] matejkriz commented on #4977
I just copied that from https://github.com/trezor/trezor-suite/issues/4871

[2022-07-20 18:59] Nodonisko opened #5823 "eslint: ban imports from './' and '../'"
Ban imports from `'./'`, `'../.'`, `'../../.'` etc. This is importing from index that is usually also reexporting file where import is used so it's cyclic import.

https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/no-restricted-imports.md

index.tsx
[code]

component.tsx
[code]

[2022-07-21 15:24] #5711 closed, assigned to juriczech

[2022-07-21 15:24] #5747 closed, assigned to juriczech

[2022-07-22 05:35] hynek-jina opened #5829 "Satoshis follow-up"
Follow-up task to https://github.com/trezor/trezor-suite/issues/3004

- [ ] Search transaction by number according to selected unit (`sat`/`BTC`, `sat TEST`/`TEST`)

![Image](https://user-images.githubusercontent.com/26002916/180369484-5933dfe4-45be-438a-877a-60ec0bd7614c.png)

- [ ] Transaction export correspond with selected unit

![Image](https://user-images.githubusercontent.com/26002916/18036

[2022-07-22 06:19] #5317 closed, assigned to karliatto

[2022-07-22 06:52] #4162 closed, assigned to nobody

[2022-07-22 08:51] ondracja opened #5831 "Data-test attribute for custom blockbook option element is not getting valid info"
**Describe the bug**
There has been some change in what data is sent from backend to the `react-select` component while selecting a custom blockbook server resulting in the `data-test` ending in `[object Object]`.

**Info:**

-   Suite Version: web, commit: 0848f3add

**How to reproduce**
Steps to reproduce the behavior:

1. Navigate to `Settings/Crypto/BTC`
2. Click on the `gear` icon
3. Select `

[2022-07-22 09:22] bouchja1 opened #5832 "suite-native: add a splash screen to a React Native app"
Add a splash screen for both platforms according to [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/branch/Ad5LG1FdIjup5NjyG8abHY/s2-Mobile?node-id=2793%3A4329).

Try to set it up in a native way without any library (Xcode, Android Studio), if there were some struggles, use the library https://www.npmjs.com/package/react-native-splash-screen

[2022-07-22 09:50] refi93 opened #5833 "Broken download links for trezor bridge"
**Describe the bug**
When I visit https://suite.trezor.io/web/bridge/ to download trezor bridge, the links for the installers seem to be broken. If I try e.g. "Windows", it takes me to https://data.trezor.iobridge/2.0.27/trezor-bridge-2.0.27-win32-install.exe so the host URL doesn't seem to be properly concatenated with the rest of the path

**Info:**

-   Remembered Wallet: yes/no
-   Suite Versi

[2022-07-22 10:44] Nodonisko commented on #5823
#5826

[2022-07-22 10:44] #5823 closed, assigned to nobody

[2022-07-22 11:35] sime commented on #4878
@antoniohs Turning off 'Enhanced Tracking Protection' for Eternl.io makes no difference?

[2022-07-22 14:52] sime commented on #5833
Thanks @refi93. We are on it: https://github.com/trezor/trezor-suite/pull/5824

(Not released as yet)

[2022-07-22 14:52] #5833 closed, assigned to nobody

[2022-07-22 15:56] antoniohs commented on #4878
@sime that did the trick!

Thanks a lot, I appreciate your help!

Had to turn it completely off.

[2022-07-22 17:35] #5832 closed, assigned to bouchja1

[2022-07-23 05:00] hynek-jina commented on #4673
https://github.com/trezor/trezor-suite/issues/3252 is sufficient solution

[2022-07-23 05:00] #4673 closed, assigned to nobody

[2022-07-23 05:06] hynek-jina commented on #4354
I see no significant benefit in that..

[2022-07-23 05:06] #4354 closed, assigned to Hermez-cz

[2022-07-23 05:19] hynek-jina commented on #4047
The need for this modification is no longer actual.

[2022-07-23 05:19] #4047 closed, assigned to nobody

[2022-07-23 05:22] hynek-jina commented on #4111
@STew790 Is this still valid? thx

[2022-07-23 05:38] hynek-jina commented on #3150
I believe that anyone who can use `trezorctl` doesn't really need that option in Suite. For the average user, we should implement individual functionalities and find the right place for them in the application...

[2022-07-23 05:38] #3150 closed, assigned to nobody

[2022-07-23 05:42] hynek-jina commented on #3177
There is separate issue for the conversion: https://github.com/trezor/trezor-suite/issues/5158

[2022-07-23 05:42] #3177 closed, assigned to nobody

[2022-07-23 05:55] hynek-jina commented on #1810
@trezor/qa is this actual?

[2022-07-24 23:07] melroy89 opened #5837 "Trezor Wiki doesn't say anything about Cardano using the Trezor Suite"
**Describe the bug**

Since I have no other place to share this. I will create this bug report here.

When you visit the [official trezor wiki - Cardano page](https://wiki.trezor.io/Cardano), there is no mention at all about the Cardano support native in the Trezor Suite. Why!?

**How to reproduce**

Steps to reproduce the behavior:

1. Go to [https://wiki.trezor.io/Cardano](https://wiki.trezor.io

[2022-07-24 23:33] melroy89 commented on #4878
Adalite.io is still not working using Trezor Model T + Firefox actually. uBlock orgin is disabled. Pop-ups are allowed. I'm running Trezor Bridge v2.0.30 (according to http://127.0.0.1:21325/status/). trezord process is running.

The Trezor device is showing using `lsusb` command, I also do have the required udev rules present in my system. https://connect.trezor.io/8/popup.html# is just loading f

[2022-07-25 07:18] bosomt commented on #3351
Still same behavior / you see only fee in transaction history but real amount in transaction detail when you send funds to your self.
But it's expected and noone else has complained about it so closing

[2022-07-25 07:18] #3351 closed, assigned to nobody

[2022-07-25 07:33] bosomt commented on #1810
2x **QA OK**

fixed in recent design changes.

**Info:**
 - Suite version: desktop 22.8.0 (7e0e13f24db34d253bcb714c01d8aac16326d22d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.8.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf8

[2022-07-25 07:33] #1810 closed, assigned to nobody

[2022-07-25 08:38] komret commented on #4261
Any opinion which direction to take, @dahaca ? I think the header is necessary to indicate what the user is doing, so I would add it to the firmware update modal and tweak the wording in body if needed.

[2022-07-25 12:37] dahaca commented on #5814
@sime IMO it's a bit confusing since it will be a web version, missing desktop benefits, yet pretending to be a desktop app, when we are already offering a desktop app. 🤓 Also. I think, would be possible to accidentally have 2 different versions installed at the same time and it's too much variability. We would need to support the PWA functionality separately as well.

@tsusanka @janandrascikSL Sl

[2022-07-25 13:30] STew790 commented on #4156
**QA NOK**

I just had this issue again on latest version when updating FW from 1.4.0 to 1.11.1.

Fingerprint shown on device:
![image](https://user-images.githubusercontent.com/48477147/180779919-62d637a6-ae3b-46b5-8779-a0c3cfad7482.png)

Fingerprint shown in Suite:
![image](https://user-images.githubusercontent.com/48477147/180779848-67583486-01a9-4d00-94a3-2de40ba3b383.png)

**Info:**
 - Suite

[2022-07-25 13:36] melroy89 commented on #5837
I couldn't select documentation as an issue. Maybe create such a GitHub issue template as well?

[2022-07-25 14:35] #5771 closed, assigned to komret

[2022-07-25 14:41] bouchja1 opened #5842 "suite-native: Prepare onboarding screens"
Prepare onboarding screens according to [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/branch/Ad5LG1FdIjup5NjyG8abHY/s2-Mobile?node-id=37%3A756).

[2022-07-25 14:44] hynek-jina commented on #5837
@danger89 no worries.. it's just label..

[2022-07-25 19:42] paulmillr opened #5844 "Update cryptography dependencies to a secure alternative"
Ethereum Foundation funded ethereum-cryptography (https://github.com/ethereum/js-ethereum-cryptography) — independently audited pure-js cryptography code. Check out the blog post about it: https://medium.com/nomic-labs-blog/a-safer-smaller-and-faster-ethereum-cryptography-stack-5eeb47f62d79

It's much faster than other pure-js alternatives, much simple and prefers to not use any dependencies.

All

[2022-07-26 07:20] sime commented on #4878
@danger89 Does it work if you disable 'Enhanced Tracking Protection' like in https://github.com/trezor/trezor-suite/issues/5644

[2022-07-26 07:54] karliatto opened #5845 "After intercepting request evaluation"
## Description
After successful interception decide what to do with the request.
Use header requests (still we need to decide which one, that will allow to pass multiple variable data in that header) to evaluate if we need to create new TOR circuit or use default one or not use TOR if it is disable.

## Notes
* the http header that we want to reuse should have an identity identification and maybe

[2022-07-26 07:55] bosomt opened #5846 "Transaction signing error when bumping/finalizing transaction"
**Describe the bug**
We are experiencing problems with signing or bumping transactions.
We have almost empty account /see tx detail/ that has multiple inputs and they change as i try to change fee.
It happened multiple times during recent regression testings.

[https://btc5.trezor.io/tx/62c9cf57e148a9b93ef33655df6f56cc15ceb16eab30b28348799f6c6da85ff5](https://btc5.trezor.io/tx/62c9cf57e148a9b93ef3

[2022-07-26 09:32] sime commented on #5814
100%. The strategy for promoting PWA will be exclusive for Android and on Desktop browsers, promote the desktop application (in a tasteful way).

[2022-07-26 10:26] tomasklim opened #5848 "Analytics event 'suite-ready' is sometimes missing in the data"
**Describe the bug**

Some of the analytics sessions are missing `suite-ready` and `device-connect` events. It is probably caused by network which is not properly working on the launch of the app.

[2022-07-26 10:29] bosomt commented on #4427
**QA OK**

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transpor

[2022-07-26 10:29] #4427 closed, assigned to nobody

[2022-07-26 10:39] dahaca commented on #5814
Ou, yes! Pardon, I completely overlooked mobile in this context. It would basically be a mirror of `AppStore / Current desktop`: `AppStore / PWA`. Still means the PWA version would have to be maintained... And preferably only accessible on mobile to avoid excess variance on desktop. But at least I see that there is a much better justification now! ✌️

[2022-07-26 10:55] bosomt commented on #4621
**QA OK**

haven't seen it for months, closing

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf

[2022-07-26 10:55] #4621 closed, assigned to nobody

[2022-07-26 13:16] bosomt commented on #4403
**QA OK**

yes wipe button is disabled during discovery
im not able to reproduce issue anymore

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:

[2022-07-26 13:16] #4403 closed, assigned to jerechinsky

[2022-07-26 13:17] bosomt commented on #3995
**QA NOK**

issue is still present

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79

[2022-07-26 14:37] #5763 closed, assigned to tomasklim

[2022-07-26 14:53] STew790 commented on #4267
**QA NOK**

Still present in recent Suite version.

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.1 regular (revision null)
 - Transport: brid

[2022-07-26 15:12] STew790 commented on #4385
I am not sure if it is the exact same issue, nonetheless, when I try to toggle PIN "ON" for example, while the discovery is going on, the whole Settings menu is "stuck" and you can only change app settings. The "Crypto" settings is all greyed out.
![image](https://user-images.githubusercontent.com/48477147/181043247-59f99cc6-b89d-4310-9399-a0a0de8988af.png)

When you go to "Dashboard" or "Account"

[2022-07-26 15:39] bosomt commented on #4385
I think this is part of "don't do anything during discovery" problem ;)
It usually ends with only one option and to reconnect device.

[2022-07-26 16:53] bosomt commented on #5039
**QA NOK**

still same behavior

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951

[2022-07-26 16:54] bosomt commented on #5230
**QA NOK**

same behavior

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a

[2022-07-26 17:22] NotwhatIwanttotell commented on #5819
As both Trezor Suit and Tails OS has been updated recently I decided to run a test. Unfortunatelly the issue is still present. Trezor Suit can not connect to Trezor servers from within Tails OS.

Suite Version: 22.7.3 Linux Appimage
Browser: TOR Browser 11.5.1
OS: Tails OS 5.3

Tried bridge:
sudo iptables -I OUTPUT -p tcp --dport 21325 -j ACCEPT -s localhost -d localhost
sudo iptables -I INPUT -p

[2022-07-27 08:07] juriczech opened #5854 "Implement testing library to suite-native packages"
Create configuration for testing using [Vitest](https://vitest.dev/) to enable unit testing. CI configurations shouldn't be affected by this change and should still be just test command in package.json that runs these tests.

Also implement testing for react components.

[2022-07-27 08:19] #5712 closed, assigned to juriczech

[2022-07-27 09:03] juriczech commented on #5854
Part of this task should be testing TimeSwitch.tsx in graph package.

[2022-07-27 09:35] tomasklim opened #5856 "Analytics: use Suite versioning"
Right now, we are using custom analytics versioning.

The problem is that if we do not change analytics in a specific Suite version, the analytics version is not bumped. However, analytics data can change or get broken, because there can be a change which can influence analytics. This can result into different behavior of the same version of analytics.

[2022-07-27 10:14] komret commented on #5771
**QA**: https://docs.trezor.io/packages/ has been removed. The package READMEs are instead linked from https://docs.trezor.io/trezor-suite/analytics/index.html. This means that links from docs to READMEs must be absolute (e.g. https://github.com/trezor/trezor-suite/blob/develop/packages/analytics/README.md) because they can take the user between different domains. On the other hand, links in READM

[2022-07-27 10:52] tomasklim opened #5858 "Landing page: Offering desktop app only for Windows 10"
**Describe the bug**
On the landing page, we offer the Desktop app for Windows 10, which also works on Windows 11.

Probably we should call it just `Windows` and update icon?

**Screenshots**
![Screenshot 2022-07-27 at 12 49 19](https://user-images.githubusercontent.com/33235762/181229518-c6ac091f-09a8-4fe2-9c3b-86f05c4bf4ff.png)

[2022-07-27 10:53] tomasklim commented on #5858
And, I am not sure how is it nowadays with arm and x86 Windows? @vdovhanych

[2022-07-27 11:23] vdovhanych commented on #5858
There is an arm window version but it has such a small user base that I would not worry about it for now.

[2022-07-27 11:23] komret opened #5860 "Suite with remembered device does not recognize bootloader mode"
**Describe the bug**
When Suite remembers a device and then a user connects it in bootloader mode, Suite does not realize that the device was connected. Buttons in device settings are disabled and the user cannot do anything until they click the refresh button or reconnect in normal mode.

**Steps to reproduce:**
1. Remember device
![Screenshot 2022-07-27 at 13 21 19](https://user-images.githubuse

[2022-07-27 11:29] tomasklim opened #5861 "Analytics is disabled in fresh app on navigating to Settings"
**Describe the bug**
In the fresh app, if a user goes to settings before giving us consent to use analytics/sentry. The analytics consent step is skipped and analytics is not working.

**Info:**

- In 22.6.x it is disabled in settings
- In <22.6.x it looks enabled but it is not reporting

**How to reproduce**

1. Reset app
1. Go to settings
1. Connect device
1. You are in the app without giving us

[2022-07-27 11:32] tomasklim commented on #5860
Looks similar.

However my reproduction path is:
1. Reset app and device
2. Go through onboarding
3. Go to Settings > Device
4. Connect device in Bootloader, everything is disabled

If you refresh app, it is okay.

In case of mine bug, it knows that device is in bootloader
<img width="835" alt="Screenshot 2022-07-26 at 14 41 34" src="https://user-images.githubusercontent.com/33235762/181246789-e46

[2022-07-27 11:48] #5302 closed, assigned to tomasklim

[2022-07-27 11:58] sime commented on #5858
`Windows` sounds easy, do we support Window 7? Currently it [matches the Windows 11 usage](https://gs.statcounter.com/os-version-market-share/windows/desktop/worldwide/).

[2022-07-27 13:25] martinboehm commented on #4977
Hi @matejkriz, I just released a new version of [trezor-address-validator](https://github.com/trezor/trezor-address-validator), which includes the regtest modifications done by @szymonlesisz and Monero subaddress fixes done by Vlad.

I think this should be the last version outside of the monorepo. If you give me a hint how to do it correctly, I could create a PR which will do the switch to monorep

[2022-07-27 14:23] matejkriz commented on #4977
Thanks for your offer @martinboehm! I guess it's up to @mroz22 to move it. It's about creating a new package in monorepo and putting there the code from [current trezor-address-validator](https://github.com/trezor/trezor-address-validator), but converted to typescript and setting up CI jobs to publish it as a new package.

[2022-07-27 14:33] matejkriz commented on #5814
One downside of publishing to stores is that it makes it difficult or impossible to rollback faulty release.

[2022-07-27 14:50] vdovhanych commented on #5814
It's not possible to roll back a release, we need to update the app with a previous version as the new version. No way back.

[2022-07-27 15:46] STew790 commented on #5038
**QA OK**
This was already resolved via https://github.com/trezor/trezor-suite/issues/5032. Closing.

[2022-07-27 15:46] #5038 closed, assigned to nobody

[2022-07-27 15:53] STew790 commented on #5253
**QA NOK**
This is still present in the latest version. Although, I am not sure if it is even a bug, since the notifications are "hidden" in the hamburger button. Also, this only applies when I switch to "mobile" view. In my opinion, this should be on product, since we have also a mobile app coming.

cc @hynek-jina

**Info:**
 - Suite version: web 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)

[2022-07-27 16:46] STew790 commented on #4670
**QA NOK**
Still present in current Suite.

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951c

[2022-07-28 07:05] bosomt commented on #4665
Current Trezor Suite link for 2.5.1 FW: https://github.com/trezor/trezor-firmware/commit/85a26d2c9593bcdf858c2d718d79951ca927a0c3

Do we plan to change it or is this expected and i can close this issue ?

I would expect one of these links and not last commit.
https://blog.trezor.io/trezor-suite-and-firmware-updates-may-2022-b1af60742291
https://github.com/trezor/trezor-firmware/blob/master/core/CH

[2022-07-28 07:42] bosomt commented on #4700
**QA OK**

looks fixed to me, just send from and to taproot and it looks as expected

_Taproot tx_

<img width="800" alt="image" src="https://user-images.githubusercontent.com/31506317/181444753-9adee5fb-8f0d-4603-aab8-54b2d9e1fc9a.png">

<img width="813" alt="image" src="https://user-images.githubusercontent.com/31506317/181449629-ec383e78-30f6-437c-b8f8-50f629d3919d.png">

**Info:**
 - Suite ver

[2022-07-28 07:42] #4700 closed, assigned to nobody

[2022-07-28 07:49] #4885 closed, assigned to nobody

[2022-07-28 07:53] bosomt commented on #4804
**QA NOK**

i think that its same issue and i was able to reproduce it.

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (

[2022-07-28 08:59] sime commented on #4665
I prefer the second link, but based on the commit. i.e replacing `master` with the commit hash.

https://github.com/trezor/trezor-firmware/blob/85a26d2c9593bcdf858c2d718d79951ca927a0c3/core/CHANGELOG.md

[2022-07-28 09:12] sime opened #5865 "Mobile Suite: Fiat selector"
**Design:** [Figma](https://www.figma.com/file/Ad5LG1FdIjup5NjyG8abHY/V1-%E2%80%94-MVP?node-id=2306%3A14856)

**Spec:**
Investigate the currencies made available in connect. If it doesn't make sense, hardcode them.

Include Fiat currencies, and 'None'.
'None': 0.0986787 BTC
'w/ Fiat': 0.00980981 BTC and 300 USD

[2022-07-28 09:23] hynek-jina opened #5866 "CoinJoin discovery"
### Implement CoinJoin discovery as a prerequisite for CoinJoin:
- [x] Download block filters from `WabiSabi`
- [x] Store block filters locally
- [x] Derive account addresses based on Golomb filtering results
- [ ] Download raw blocks from `Blockbook` based on Golomb filtering results
- [ ] Parse account transactions from raw blocks
- [ ] Create `AccountInfo` compatible with Suite from data above

[2022-07-28 09:42] hynek-jina opened #5867 "Aggregate not yet displayed changelogs"
Aggregate changelogs from all published but not installed Suite versions.

_If user updates for example from `22.9.1` to `22.10.1` he will see only release notes from the new version (ie `22.10.1`)
But if there was `22.9.2` earlier but not downloaded by user its changelog should be included with this update too._

[2022-07-28 12:16] andrewkozlik opened #5868 "Improve GetFirmwareHash error handling"
**Describe the bug**

When `GetFirmwareHash` returns an error such as "Unknown message", the dialog below is displayed, but there is no red banner, nothing saying that the user should contact Trezor support, see https://github.com/trezor/trezor-suite/issues/5377.

![image](https://user-images.githubusercontent.com/42678794/181501066-4b229047-7852-4c43-b670-e4ed2e2a02a9.png)

**Expected behavior**

[2022-07-28 13:18] bosomt commented on #4215
**QA NOK**

same behavior

**Info:**
 - Suite version: web 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:102.0) Gecko/20100101 Firefox/102.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:
 - Transport: N/A

[2022-07-28 15:00] STew790 commented on #4634
**QA OK**
I was not able to reproduce it. Neither with killing the internet connection, nor with putting PC to sleep. I was able to finish the dry-run recovery.

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.

[2022-07-28 15:00] #4634 closed, assigned to nobody

[2022-07-28 15:13] STew790 commented on #4226
**QA OK**

I am not able to reproduce this. Although, I still get the "Device detected in incorrect state" after refreshing the page but I am able to acquire the device.

**Info:**
 - Suite version: web 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36
 - OS: Win32
 - Screen:

[2022-07-28 15:13] #4226 closed, assigned to nobody

[2022-07-28 15:28] STew790 commented on #5470
**QA NOK**

This is still happening in the latest Suite. Although, the difference now is that there is a "X" button for closing the modal and also when I reconnect the device, I can see the modal correctly again. This is definitely an edge case.

![image](https://user-images.githubusercontent.com/48477147/181577131-9ed99afc-ebcd-42ea-8e36-823cbd524a28.png)

**Info:**
 - Suite version: desktop 22.7

[2022-07-28 16:02] szymonlesisz opened #5873 "Display CoinJoin account"
- [x] Display CJ account always on top all accounts, opened on default (same as Segwit accounts)
- [x] Extend dropdown for Segwit and CoinJoin accounts
- [x] Remove `Trade` tab from CJ account

- [x] Refactor add account button
    <details>
      <summary>outline a new small component that could be used in AddCoinJoinAccountButton and AddAccountButton</summary>

[code]
    </details>

[2022-07-29 08:29] marekrjpolak opened #5875 "REGTEST shouldn't have fiat rates"
**Describe the bug**
REGTEST coins are displayed with fiat rates throughout the Suite (unlike the TEST coins).

**Expected behavior**
REGTEST coins shouldn't be displayed with fiat rates (like the TEST coins).

**Screenshots**
![image](https://user-images.githubusercontent.com/26326960/181716072-6cf9f407-b9e8-415a-8eb2-30bbd8dcddcc.png)

[2022-07-29 08:43] matejkriz commented on #4925
it's not happening anymore

[2022-07-29 08:43] #4925 closed, assigned to matejkriz

[2022-07-29 08:47] bosomt opened #5877 "Application log croped when copied directly from Suite"
**Describe the bug**
There is big discrepancy between copied and exported log at same time from same Suite.
See screenshots, looks like log copied to clipboard is omitted after 3000 lines.
I remember this issue since really old but had no idea that GitHub issue was never created.

**Steps to reproduce:**
1. Navigate to Suite settings
2. Copy and download Application log
3. Compare

**Info:**
 - Su

[2022-07-29 09:08] sentry[bot] opened #5878 "Error: Command failed: powershell.exe -NoProfile -NonInteractive -InputFormat None -Command Get-Authenti..."
Sentry Issue: [TREZOR-SUITE-MFB](https://sentry.io/organizations/satoshilabs/issues/3448045666/?referrer=github_integration)

[code]

[2022-07-29 09:17] bosomt opened #5880 "Mac architecture is not detected correctly when creating GitHub issue"
**Describe the bug**
See screenshot, Mac architecture is not detected correctly.
Same results in app and web version.

**Steps to reproduce:**
1. Navigate to settings/debug section of Suite
2. Crete Open GitHub issue
3. Compare detected and real mac architecture

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X

[2022-07-29 09:33] sentry[bot] opened #5881 "(node:2695) UnhandledPromiseRejectionWarning: Error: Failed to open URL"
please check `packages/suite-desktop/src-electron/modules/external-links.ts`

Sentry Issue: [TREZOR-SUITE-4DJ](https://sentry.io/organizations/satoshilabs/issues/3102658756/?referrer=github_integration)

[code]

[2022-07-29 09:57] STew790 commented on #4111
**QA NOK**

Unfortunately, this is still valid.

**Info:**
 - Suite version: web 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1440x900
 - Device: model 1 1.11.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transport: bridge 2.0.3

[2022-07-29 11:49] #5415 closed, assigned to Nodonisko, juriczech

[2022-07-29 11:49] #5854 closed, assigned to juriczech

[2022-07-29 12:50] cryptomar1o opened #5882 "Discovery error with input from Litecoin MimbleWimble"
**Describe the bug**
When the Litecoin account receive an LTC MWEB (MimbleWimble) input, the account does not load with a discovery error
Discovery error
Accounts were not loaded properly
Litecoin: Invalid address, decoded address is of unknown size

**Info:**
-   Suite Version: desktop 22.7.3 ([8eddb2a](https://github.com/trezor/trezor-suite/commit/8eddb2accd31c78577f276df2e9ecf773d2c3c17))
-   B

[2022-07-29 13:13] sime commented on #5882
@cryptomar1o Any issues with blockbook when input the xpub into the search bar? https://ltc1.trezor.io/

[2022-07-29 14:27] Nodonisko opened #5884 "suite-native: Improve touching user experience of TabBar"
First and last item could be sometimes hard to touch because you need to done that precisely. It's because there is lot of space around buttons. Check the screenshot of touchable areas (that with red border).

![Simulator Screen Shot - iPhone 11 - 2022-07-29 at 16 17 31](https://user-images.githubusercontent.com/5837757/181780360-16eb3180-433c-401e-86b0-f3671b830e52.png)

As you can see it there i

[2022-07-29 15:44] Rav3nPL commented on #4677
We need that to remove scam tokens from the view... It's like this on my account:
![image](https://user-images.githubusercontent.com/1094027/181795463-d1431295-7559-40e3-80ad-0380fbd140b2.png)

There is also few tokens I owned long ago with zero balance, and I want to remove them also.
At this moment we have only "add" option.
![image](https://user-images.githubusercontent.com/1094027/181795775-31

[2022-07-30 10:53] Nodonisko opened #5889 "Separate env utils to package"
We can create universal package `@trezor/env-utils` from file `packages/suite/src/utils/suite/env.ts`. Most of functions here doesn't depend on anything and that few that depends could be reworked to not depend or we don't need to separate them.

Package should look somehow like this:
**`platformSpecificEnvUtils.ts`** - this file will contain only function like `getScreenWidth`, `getPlatform`... W

[2022-07-30 11:09] Nodonisko opened #5890 "suite-native: Graph improvements"
1. `suite-native/module-home/src/components/PortfolioGraph.tsx` shoud be moved to `home-graph` package too, because everything in this file is clearly related to graph so it should be together
2. Graph time legend filter buttons are super hard to touch. Touchable area of these buttons should be expanded as much as possible horizontally and vertically. Ideally touchable areas should touch. This cou

[2022-07-30 15:32] melroy89 commented on #5066
Thank you for adding native support for Cardano. I really appreciate it! Just a shout out to the Trezor developers: well done! 🎂🙏

[2022-07-30 18:32] 465y79h8ugdsnuji commented on #5882
No issue with using the xpub on blockbook, it shows an MWEB pegout balance correctly.

It may be worth noting that MWEB pegout transactions show correctly when viewed within a block or via xpub, but if you attempt to search for/access the transaction directly it returns an error.

I replicated the issue, and when the [transaction](https://ltc1.trezor.io/tx/b2d8bda5926ecfc92ea3f06a574611fbb42a1d535

[2022-07-31 16:24] ngodima opened #5892 "Firmware update Trezor 1 Ver 1.6.2 to 1.11.1"
The device shows a fingerprint to confirm.   I do not see a fingerprint on the Web page that has stopped at 92%.
I Really do not need this hassle
What do I do now???????????????????????????????????

![image](https://user-images.githubusercontent.com/94204126/182035921-2f5e7de5-acc9-43b2-ab37-ff4841987b90.png)

[2022-07-31 16:26] ngodima commented on #5892
Chrome 103.0.5060.114
Windows 10  PC

[2022-08-01 05:17] hynek-jina commented on #5892
@ngodima
Thank you, but it is quite difficult to reproduce your issue. Please contact https://trezor.io/support/ for help

[2022-08-01 05:17] #5892 closed, assigned to nobody

[2022-08-01 07:09] mroz22 commented on #5889
Yes, sounds good to me. Lets do it.

[2022-08-01 09:02] bosomt commented on #5807
**QA NOK**

i was i able to reproduce issue in latest public version of suite.

<img width="373" alt="image" src="https://user-images.githubusercontent.com/31506317/182113159-ae78eb5d-8bf9-415b-a406-91d8bb41896b.png">

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gec

[2022-08-01 09:29] szymonlesisz commented on #5875
i think its very useful to have it on regtest to be able to test fiat > crypto calculation.
regtest is not available by default and i guess noone will be confused to have it here :)

[2022-08-01 09:48] gabrielKerekes opened #5894 "connect-web: importing types into third party apps"
While integrating Connect v9 into [Cardano HW CLI](https://github.com/vacuumlabs/cardano-hw-cli/pull/127) and NuFi (closed source), we couldn't figure out a way to import and use the Connect types in a nice, simple way.

_Note: I originally wrote [comments in the Cardano Babbage PR](https://github.com/trezor/trezor-suite/pull/5752#issuecomment-1195354023), but as that was already closed, it's prob

[2022-08-01 09:57] marekrjpolak commented on #5875
Ok, but I'll continue to struggle with the false feeling of richness.

[2022-08-01 09:57] #5875 closed, assigned to nobody

[2022-08-01 10:08] sime commented on #5892
Related to #4224 ?

[2022-08-01 10:12] hynek-jina commented on #5856
@kolomaznikt Please confirm if you agree..

[2022-08-01 10:15] hynek-jina commented on #5858
Change name to `Windows` (without version number) and update its icon

[2022-08-01 10:20] hynek-jina commented on #5545
Format is not by locals but we are using fixed `en-us` format (like 1,234.12)

[2022-08-01 10:24] kolomaznikt commented on #5856
@hynek-jina Agree, we've discussed it with @tomasklim

[2022-08-01 10:25] bosomt opened #5897 "Fractional fee rates are incorrectly displayed with latest develop version"
**Describe the bug**
Fractional fee rates are incorrectly displayed with latest develop versions.
I was not able to reproduce issue on production versions.

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 S

[2022-08-01 10:59] mroz22 opened #5896 "TrezorConnect.GetFirmwareHash fine tuning"
Do something like this
https://github.com/trezor/trezor-suite/blob/develop/packages/connect/src/device/Device.ts#L286

also here
https://github.com/trezor/trezor-suite/blob/develop/packages/connect/src/api/getFirmwareHash.ts#L32

[2022-08-01 11:34] tomasklim commented on #5564
https://github.com/trezor/trezor-suite/pull/5893

[2022-08-01 12:09] ngodima commented on #5892
I think the problem might be that I had pop ups turned off.   I lost the
firmware on the device and then got it reinstalled as a new configuration
then redid the phrases
Thanks

On Mon, 1 Aug 2022, 11:08 Simon Males, ***@***.***> wrote:

[2022-08-01 12:11] bosomt commented on #5771
**QA OK**

Analytics section is OK
Rest will be fixed later /see Notion QA task/

[2022-08-01 13:20] #5590 closed, assigned to tomasklim

[2022-08-01 14:30] matejkriz commented on #5627
@trezor/qa Please pay attention to "bridge is not running" error during startup of the app. We're not entirely sure it's a bug, but more of us have seen it.

[2022-08-01 15:04] STew790 commented on #4996
**QA NOK**
Still present.

**Info:**
 - Suite version: desktop 22.7.3 (8eddb2accd31c78577f276df2e9ecf773d2c3c17)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.7.3 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device:
 - Transport: bridge 2.0.31

[2022-08-01 16:04] melroy89 commented on #3371
Thank you Five Binaries (@fivebinaries) and Cardano Foundation (@cardano-foundation) for the cardano code and support. Good job!

[2022-08-01 17:08] #5801 closed, assigned to bouchja1

[2022-08-02 07:58] hynek-jina commented on #5545
We are using number format based on language settings. So there will be different format for example when is Suite in Czech language (ie `12 345,67`). Trezor device is always english with en-us number formatting (ie `12,345.67`)

In this case, we preferred user-friendliness in the Suite over consistency with Trezor device.

[2022-08-02 08:32] matejcik commented on #5897
Trezor uses fractional vsize 109.5, so the fee rate comes out to 18876 / 109.5 = 172.38
Which is correct?

[2022-08-02 08:39] Hannsek opened #5904 "Modify export files (PDF, .csv, JSON)"
Current export of past transactions is insufficient. Therefore, changes in the exported files are proposed.

**proposed changes**

- [x] divide current _Date & Time_ column to _Date_ and _Time_ columns
- [x] add _time zone_ to _Time_ column (e.g. 9:49:53 CET)
-  time zone should be local (e.g. in Prague - CET, in New York - EDT), watch out for time cahnge
- [x] add _Symbol_ column (e.g. BTC, ETH,

[2022-08-02 08:49] mroz22 commented on #5897
Suite calculates vsize as 110 from here https://github.com/trezor/trezor-suite/blob/f634404cd674c1af56aa5866d161382ca6957ea1/packages/utxo-lib/src/coinselect/utils.ts#L77-L95
(TX_BASE=32)
can you spot a bug?

[2022-08-02 08:54] matejcik commented on #5897
the bug is on firmware side. Suite does the correct thing:

fw does not do the round-up step.

[2022-08-02 09:03] #5800 closed, assigned to Nodonisko

[2022-08-02 09:12] mroz22 opened #5907 "Fee rate has changed - notify user in transaction modal"
Problem
1. user enters custom fee rate into send form
2. with given feerate an output lower than dust would need to be created so this output is omitted and actual fee rate is different
3. user still sees the same fee rate in transaction overview modal

Proposed solution
if we detect that the actual fee rate is different we should:
- do not change fee rate in user input
![Custom Fee Entry](https:/

[2022-08-02 09:50] #5848 closed, assigned to tomasklim

[2022-08-02 10:26] #5877 closed, assigned to tomasklim

[2022-08-02 10:27] matejkriz commented on #5877
clipboard limit is a system thing, there is nothing how could we solve it on our side so we just removed the COPY TO CLIPBOARD button for now

[2022-08-02 11:34] STew790 commented on #3004
**QA NOK**
When I first open the app or the web Suite, in the settings there is no "default" settings for this feature, so the drop-down menu is just blank.

This also affects https://github.com/trezor/trezor-suite/issues/5590

![image](https://user-images.githubusercontent.com/48477147/182364822-74a6581c-2563-4931-9dba-ed34fd89d355.png)

**Info:**
 - Suite version: desktop 22.8.0 (4692fffe7467553

[2022-08-02 11:40] STew790 commented on #5590
**QA OK**

The analytics correctly shows the unit and correctly shows the change of the unit as well.
Only thing is that it doesn't show the unit when it is not selected at first. Nonetheless, this is connected to https://github.com/trezor/trezor-suite/issues/3004#issuecomment-1202365657

**Info:**
 - Suite version: desktop 22.8.0 (4692fffe7467553f430d248c630b74f6aad6ad58)
 - Browser: Mozilla/5.0

[2022-08-02 11:42] STew790 commented on #5877
**QA OK**

Log correctly doesn't show the option to COPY TO CLIPBOARD.

![image](https://user-images.githubusercontent.com/48477147/182366203-dbb95309-85df-4baa-bf34-2320b4b52455.png)

**Info:**
 - Suite version: web 22.8.0 (fd645811b74416625bdb49a8140d9fbfbe2aa428)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.53 Safari/537.36
 - OS: Linux x8

[2022-08-02 12:31] aspiers commented on #4546
[**@prusnak**](https://github.com/prusnak) commented on [May 19, 2022 5:52 PM](https://github.com/trezor/trezor-suite/issues/4546#issuecomment-1131954866 "2022-05-19T16:52:04Z - Replied by Github Reply Comments"):

I can confirm that works; however I don't think this issue should have been closed as completed because it's still an ongoing issue.

[2022-08-02 14:53] komret commented on #4661
**QA:** I updated the issue. Please test the screens I pasted there. The firmware switch should also be tested with a pre-intermediary device (It should work, but I have not tested that.)

[2022-08-02 15:03] #4997 closed, assigned to matejkriz

[2022-08-02 16:30] MatthewCroughan opened #5911 "What's with the unfree license?"
The https://github.com/trezor/trezor-suite/blob/develop/LICENSE.md indicates that this code is unfree, as it is not available to be freely distributed, modified, etc.

"company" is left undefined and it is not clear what the rights of a non-company are.

This means many Linux distributions cannot distribute, package or modify the Trezor code. We could get written permission from Trezor on a per-di

[2022-08-02 18:30] #4661 closed, assigned to komret

[2022-08-03 07:11] bosomt commented on #4661
Is that expected ?
I would expect to button say `Switch to Bitcoin only` or `Switch to Bitcoin-only`

<img width="788" alt="image" src="https://user-images.githubusercontent.com/31506317/182546319-366bc338-5960-4b1d-b124-1da2ba66dec0.png">

**Info:**
 - Suite version: web 22.8.0 (2e2d8109d9a946eb61f43b39acd48b21885fbd19)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:103.0) Gecko/201

[2022-08-03 07:24] komret commented on #4661
@bosomt This is the only exception to the naming - "Bitcoin-only" would make the button longer than other buttons on the page.

[2022-08-03 07:45] bosomt commented on #5807
**QA NOK**

looks like bigger problem to me than errors.
Custom FW dialogue is touching device that should ignore.

1. i have TT and T1 connected
2. trying to install custom FW to TT
3. suite asks me to reconnect device in BL mode
4. during re-connection i get 4 errors
5. now T1 is asking me to reboot to bootloader mode
6. I confirm and i ended up with empty T1 due to TT firmware loaded to device

[2022-08-03 07:54] mroz22 commented on #5894
Hi, thanks for your feedback. We should do something about it. I think we exported only tezor-connect types that are used somewhere in trezor-suite monorepo and we for unknown reason forgot that there might be other projects implementing those types :man_shrugging:

[2022-08-03 08:09] bosomt commented on #4661
**QA OK**

tested:
1.11.1 universal > 1.11.1 btc only
1.11.1 btc only > 1.11.1 universal
1.11..1 btc only > 1.11.1 universal
Universal 1.10.3 > Bitcoin-only 1.11.1
OFFLINE onboarding to Bitcoin-only 1.11.1

Universal 2.4.3 > Bitcoin-only 2.5.1
Bitcoin-only 2.5.1 > Universal 2.5.1
Universal 2.5.1 > Universal 2.5.1
Universal 2.0.8 > Universal 2.5.1
Universal 2.0.5 > Bitcoin-only 2.1.1 **Installation

[2022-08-03 08:18] bosomt commented on #3004
**QA NOK**

when i fill in sats in Send dialogue Suite thinks its whole Bitcoin

<img width="791" alt="image" src="https://user-images.githubusercontent.com/31506317/182559323-4bcbb29c-6d68-47f6-84c7-9cdf22f3bfa7.png">

**Info:**
 - Suite version: desktop 22.8.1 (503b472935dec8a9c07aac5eef5ba43f86780a38)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Ge

[2022-08-03 08:31] matejkriz commented on #4997
There is nothing to test from user perspective, regular sanity tests will cover it.

[2022-08-03 08:36] matejkriz opened #5917 "Sentry enhancements - sourcemaps for electron and debug symbols"
- [ ] setup [sourcemaps for Electron](https://docs.sentry.io/platforms/javascript/guides/electron/#source-maps)
- [ ] setup [uploading debug information for Electron](https://docs.sentry.io/platforms/javascript/guides/electron/#uploading-debug-information)

[2022-08-03 08:45] STew790 commented on #3004
Just want to add that the Send modal actually shows it correctly.

![image](https://user-images.githubusercontent.com/48477147/182565445-f4844dcb-1a08-4531-ac97-d785005468f5.png)

**Info:**
 - Suite version: desktop 22.8.1 (503b472935dec8a9c07aac5eef5ba43f86780a38)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.8.1 Chrome/100.0.4896.160 Electron/1

[2022-08-03 09:11] juriczech opened #5918 "Mock transaction response to UI"
Mock the return of this method.
https://connect.trezor.io/9/#/method/getAccountInfo-advanced

[2022-08-03 09:36] bosomt opened #5919 "Notification anchor does not navigate you to expected wallet."
**Describe the bug**
See video. Notification does not forward you to correct wallet when transaction was sent/received in different wallet.
It looks really confusing when you look for transaction after you receive notification and you dont see any any, especially when you use many wallets.

**Steps to reproduce:**
1. Load more than one wallet
2. Send transaction in 1. wallet
3. Navigate to 2. wall

[2022-08-03 09:48] #5890 closed, assigned to juriczech

[2022-08-03 11:07] bosomt commented on #4661
**QA NOK**

I know it's really old FW but we found out last month that people are still using FW thats 4 years old.
So maybe we should hide this feature for old FW ? Maybe for model T1 as well ?

According to https://wiki.trezor.io/Bitcoin_firmware
`When loading the Bitcoin firmware on your [Trezor Model T](https://wiki.trezor.io/Trezor_Model_T), you must have firmware version 2.1.0 or newer insta

[2022-08-03 11:08] matejkriz commented on #5781
duplicate of https://github.com/trezor/trezor-suite/issues/4651 but this one has HIGH priority and the other one LOW 🤔

[2022-08-03 11:16] matejkriz commented on #4933
We should probably keep the option to enable it again for those that disabled it previously.

[2022-08-03 11:21] matejkriz commented on #5540
it doesn't make sense to me as a standalone change, receive modal should be thought of as a whole

[2022-08-03 11:32] hynek-jina commented on #4933
You can add the passphrase anytime.. Is there any benefit of this?

[2022-08-03 12:48] komret commented on #4661
@sime , could you please confirm whether the grey Github links have a correct target URL?

I can see three issues, but maybe some of it is inteded:
1. Both buttons lead to the same URL (this is new, I could not find a better target)
2. As @STew790 pointed out, it leads to a [commit](https://github.com/trezor/trezor-firmware/commit/85a26d2c9593bcdf858c2d718d79951ca927a0c3), but it might be more hel

[2022-08-03 12:49] sime commented on #5882
Blockbook has been updated, and no longer returns an error.

Does the issue persist in suite?

[2022-08-03 12:50] sime commented on #5904
Bug to consider resolving: https://github.com/trezor/trezor-suite/issues/4604

[2022-08-03 13:51] sime commented on #4661
GH Firmware links should lead to the commit of CHANGELOG.md as mentioned in a separate issue: https://github.com/trezor/trezor-suite/issues/4665#issuecomment-1197864842 (cc: @bosomt).

v1 CHANGELOG path: `<commit>/legacy/firmware/CHANGELOG.md`
v2 CHANGELOG path: `<commit>/core/CHANGELOG.md`

Remove the firmware link for Universal/Bitcoin as it adds no value. Instead, we should offer context in the

[2022-08-03 14:47] komret commented on #4661
Ok, sounds good, I am changing the links and disabling the second button - it will point to Knowledge base or Guide in the near future.

![chrome-capture-2022-7-3](https://user-images.githubusercontent.com/42465546/182638211-23f4760d-dd17-4622-91a2-7b088dd6768d.gif)

[2022-08-03 15:24] matejkriz commented on #5545
@hynek-jina
One more place to consider (maybe as followup issue?) are input fields. They always accept only dot `.` as decimal separator and nothing else, regardless of the language set. We could think at least about better error message for some languages
<img width="171" alt="image" src="https://user-images.githubusercontent.com/3729633/182646110-7444aee2-6a11-4646-a8f4-6e40efc676bf.png">

worst

[2022-08-03 17:11] bosomt opened #5924 "Old firwmare hash fail during onboarding"
**Describe the bug**
See attached video.
Old firwmare hash fails during onboarding and update to "intermediary" fw 2.1.1 when updating from old version.

**Steps to reproduce:**
1. Connect device with FW 2.0.5 or older
2. Proceed with onboarding
3. Observe Suite behavior

**Info:**
 - Suite version: desktop 22.8.1 (503b472935dec8a9c07aac5eef5ba43f86780a38)
 - Browser: Mozilla/5.0 (Macintosh; Intel

[2022-08-03 18:17] bosomt opened #5925 "All non-BTC account have crypto and fiat amount widespread"
**Describe the bug**
See screenshots all  non-BTC account have crypto and fiat amount widespread in `Accounts` section.

**Steps to reproduce:**
1. Load Suite and enable coins
2. Navigate in Account sections of different coin
3. Observe discrepancy between BTC like coins and rest of coins

**Info:**
 - Suite version: desktop 22.8.1 (503b472935dec8a9c07aac5eef5ba43f86780a38)
 - Browser: Mozilla/5.0

[2022-08-03 18:40] bouchja1 opened #5926 "suite-native: onboarding animation when fetching account info from xpub"
Create an animation for fetching account info from xPub you entered manually or with QR code scanning.

Clarify the animation with graphic designers according to [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/branch/Ad5LG1FdIjup5NjyG8abHY/s2-Mobile?node-id=2793%3A4632).

It will be handled by extra builders from redux toolkit when it's implemented in thunks (pending, fulfilled..) - http

[2022-08-03 18:48] bouchja1 opened #5927 "suite-native: second xpub import (onboarding)"
This task is related to https://github.com/trezor/trezor-suite/issues/5842 and https://github.com/trezor/trezor-suite/issues/5926.

Finish importing assets (styling for the last screen "Import assets" and storing values obtained from account info for xpub) and prepare screens and logic for the second xpub import according to [Figma]

Use thunk and then store account info into store.

(https://www.

[2022-08-04 04:47] hynek-jina commented on #5545
@matejkriz good point.. I just would like to prepare a specification before the issue..

[2022-08-04 05:35] hynek-jina opened #5928 "Format input numbers"
- [x] ignore all non-numeric symbols except `,` and `.`
- [x] first used `,` or `.` interpret as a decimal separator
- [x] ignore other usage of `,` or `.`
- [x] format number according the language settings. For example:
    - english → `1,234.56`
    - czech → `1 234,56`
    - spanish → `1.234,56`
- [x] https://github.com/trezor/trezor-suite/issues/5272
- [x] review validation messages

[2022-08-04 05:38] hynek-jina commented on #5545
@matejkriz good idea. Here is the issue: https://github.com/trezor/trezor-suite/issues/5928

[2022-08-04 06:56] bosomt commented on #5627
@matejkriz do you have any more information about that `bridge is not running` problem ?
- is it reported in log or in app ?
- is it platform specific ?
- i was not able to reproduce it for days on my macARM

[2022-08-04 07:10] hynek-jina commented on #5868
QA comment: https://github.com/trezor/trezor-suite/pull/5888#issuecomment-1202381552

[2022-08-04 07:12] hynek-jina commented on #5868
@STew790 Please retest with `2.4.3` > `2.5.1`

[2022-08-04 07:28] bosomt opened #5929 "BTC only FW offered even when unavailable"
**Describe the bug**
BTC only FW offered even when unavailable.
See video and screenshot. Bictoin only firmware is available only since 2019.
We offer it even when does not exist and user is using old firmware

**Steps to reproduce:**
1. Connect device with firmware 2.0.5
2. Navigate to Settings/device
3. Press `Switch to Bitcoin` and proceed with with upgrade.

**Info:**
 - Suite version: desktop

[2022-08-04 08:25] STew790 commented on #5868
**QA OK**

I tried to update `2.4.3>2.5.1` on latest develop and it is showing me correctly the warning and won't let me continue with the onboarding.

![image](https://user-images.githubusercontent.com/48477147/182800270-34c19406-07d6-4755-8c4c-9510ef05e021.png)

**Info:**
 - Suite version: web 22.9.0 (13c3bfd7de81d7b06c3e87433bc4185eab86204b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebK

[2022-08-04 08:47] hynek-jina opened #5930 "Broken trade section by Satoshi units"
- [ ] When you are in sats and press “All” then it inserts an amount in sats, however the logic of the form is in BTC, so it converts your sats to billions of dollars
- [ ] When you are in sats and you input any amount in the left field you see an error notification
- [ ] When you are in sats it shows the fee in sats, however the form is still in BTC

![image](https://user-images.githubusercontent

[2022-08-04 12:06] Nodonisko opened #5932 "suite-native: Add default horizontal padding to Screen component"
Currently we are settings padding horizontal padding in every screen to 15, that's very bad because if we change it, you need to manually change it everywhere.

Please set default screen horizontal padding to `medium` and add possibility to override this prop `customHorizontalPadding: number`

[2022-08-04 14:13] matejkriz commented on #3004
Other coins also show sats as unit in send form. All **except** Ethereum, Ethereum Testnet, Ethereum Classic and Cardano. So for example Cardano Testnet, XRP, ... are wrong.
![image](https://user-images.githubusercontent.com/3729633/182868141-4fdf824a-9d96-4221-bdef-cac050126977.png)

[2022-08-04 14:13] #5925 closed, assigned to dahaca

[2022-08-04 14:36] matejkriz commented on #3004
@STew790  How to reproduce this one? I'm not able to reproduce it in 22.8.1.

[2022-08-04 14:39] Hannsek opened #5936 "Supported coins text"
Users do not know their options when adding new coins and therefore they are confused.

### proposed changes

- [ ] In settings/Crypto tab add text under the “Crypto” sign. It can be something like:

<img width="801" alt="Screenshot 2022-08-04 at 15 03 55" src="https://user-images.githubusercontent.com/57008159/182874697-0d579d95-d857-4923-92de-b0a947eceb6b.png">

- [ ] Do the same in Accounts>My

[2022-08-04 16:20] bosomt opened #5937 "Missing bubbles in balance graph in Accounts section"
**Describe the bug**
Missing bubbles in balance graph in Accounts section.
See two screenshots. Dashboard contains bubbles and Account section is missing them.

**Steps to reproduce:**
1. Load accounts with transaction history
2. Navigate to Dashboard
3. Navigate to Accounts
4. Compare graphs

**Info:**
 - Suite version: desktop 22.8.1 (503b472935dec8a9c07aac5eef5ba43f86780a38)
 - Browser: Mozilla

[2022-08-05 06:18] bosomt commented on #5925
**QA OK**

**Info:**
 - Suite version: web 22.9.0 (29179f6c98da117da408e270fdf4ddd38a4aeb09)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:103.0) Gecko/20100101 Firefox/103.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.2 Universal (revision 0d87b55ba4fed7eecc72bf2a94ee473830b095e9)
 - Transport: bridge 2.0.31

[2022-08-05 07:22] Hannsek opened #5938 "Cardano staking - "delegate" button sometimes does not work when Tor is turned on"
In some cases, _delegate_ button in cardano staking page is shaded and cannot be clicked on.
According to @mmahut Cloudflare blocks some TOR IPs that they detect DDoS or other abuse from it.

[2022-08-05 07:31] Hannsek opened #5939 "BTC as a currency pair for all coins"
Some users may find useful to have BTC as a currency pair for all coins.

Full specification and design links [below](https://github.com/trezor/trezor-suite/issues/5939#issuecomment-2090430995).

**proposed changes**

- [x] Put `BTC` ~~and `ETH`~~ as an option in the drop down menu in `Settings/Application/Localization/Fiat currency`
- [x] rename the _Fiat currency_ field to _Unit_ as there are ot

[2022-08-05 08:59] matejkriz commented on #4665
@sime
I think that using the commit instead of `master` is much worse in this case.

If use has an older FW and we lead him to corresponding commit, user can't see the changelog for newer firmwares and only benefit is that he doesn't have to scroll down to his version (but why would he even do that? Isn't it more interesting to see the changes in newer versions?)

compare:

link for users with FW

[2022-08-05 09:01] juriczech opened #5941 "Improve bottom sheet"
Current bottom sheet API doesn't allow the sheet to close with animation on select item. If this is needed (???), refactor the bottom sheet so it's possible to use the animation in select item on change.

[2022-08-05 09:15] prusnak commented on #4665
Can we somehow add an anchor link to the markdown?

If yes then we could link to https://github.com/trezor/trezor-firmware/blob/master/legacy/firmware/CHANGELOG.md#1.10.3 and get best of both worlds.

[2022-08-05 09:22] komret commented on #4665
@prusnak Yes, but actually no because the full anchor link is more complex (https://github.com/trezor/trezor-firmware/blob/master/legacy/firmware/CHANGELOG.md#1103-16th-september-2021) and we cannot determine the release date in Suite.

[2022-08-05 09:38] matejkriz commented on #4665
Why would one care about a changelog from an old and already installed version?

The link to the commit made sense, at least for those who want to read the code. Changelog for the newer version could be useful too. But why changelog for already installed version?

[2022-08-05 09:52] sime commented on #4665
To follow up the discussion in standup, will stick to commit version of the CHANGELOG.md.

It's contextual, I click on 1.11.1 so I land on Changelog about 1.11.1

[2022-08-05 09:54] matejkriz commented on #4665
Okay, I've been outvoted by @sime 😃 let's leave it with the commits in the links.

[2022-08-05 09:58] sime commented on #5938
Pending investigation if Blockfrost servers can be natively supported over Tor. Currently, they are on the clearnet.

[2022-08-05 11:57] #4665 closed, assigned to bosomt, komret

[2022-08-05 12:07] #5929 closed, assigned to komret

[2022-08-05 12:17] STew790 commented on #5848
See comment in the PR https://github.com/trezor/trezor-suite/pull/5847#issuecomment-1206380586

[2022-08-05 12:23] dahaca commented on #3004
Was a problem with migrations, fixed, will be in the PR

[2022-08-05 13:23] #5937 closed, assigned to matejkriz

[2022-08-05 13:34] STew790 commented on #5848
**QA OK**
Updated my comment and cleared up a misunderstanding.

[2022-08-05 13:43] bosomt commented on #5929
We have to wait for for this issue to be resolved https://github.com/trezor/trezor-suite/issues/5924 See error i got.
But overall upgrade process worked as expected.
Wanted switch to BTC only and it went 2.0.5.uni > 2.1.1.uni > 2.5.1.btc

<img width="639" alt="image" src="https://user-images.githubusercontent.com/31506317/183089104-ea3437bc-7156-4388-9c87-9ffcf55e275b.png">

[2022-08-05 14:32] matejkriz commented on #3004
one more feature to test: bitcoin URI handlers

[2022-08-05 14:36] STew790 commented on #4665
**QA OK**
I tried the newest FW for TT and T1 and also a random older FW for both devices and I got the correct changelog.

2.4.3
![image](https://user-images.githubusercontent.com/48477147/183093992-08833918-ff76-474f-996c-4faf3b607d24.png)
2.5.1
![image](https://user-images.githubusercontent.com/48477147/183094540-b38a5501-82c1-4010-b25f-206cfd19e5b0.png)
1.10.1
![image](https://user-images.gith

[2022-08-05 14:41] #5842 closed, assigned to bouchja1

[2022-08-05 15:01] STew790 commented on #3004
**QA NOK**
I tried the bitcoin URI send form fillout and, unfortunately, it fills out as Bitcoin and not as Satoshis. Also, throws out an error as shown in the screenshot.

![image](https://user-images.githubusercontent.com/48477147/183104225-126089bc-153d-430a-bb41-5c463a9375d3.png)

**Info:**
 - Suite version: web 22.9.0 (2cbf18207db1f174d7fe9e08cc937039c09c6064)
 - Browser: Mozilla/5.0 (X11; Li

[2022-08-05 15:05] STew790 commented on #5937
**QA OK**
Bubbles are correctly shown again in Accounts section.

**Info:**
 - Suite version: web 22.9.0 (2cbf18207db1f174d7fe9e08cc937039c09c6064)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.53 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.1 Universal (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Tra

[2022-08-06 04:28] Transisto opened #5948 "Use 60% GPU to show a spinner"
Modern dedicated GPU,

![image](https://user-images.githubusercontent.com/388716/183233781-021e7e2a-532d-4487-afcf-b6d29ec1ada5.png)

[2022-08-06 11:46] marceljay commented on #4546
This also means, it cost real money to create multiple trezor accounts and potentially clutters the blockchain

[2022-08-07 23:55] mwanser1 commented on #5904
Fiat value and a csv that opens properly in excel (accountants software of choice) would have been nice for tax season.

- [x]  Id add time stamp as well

[2022-08-08 09:17] #5894 closed, assigned to mroz22

[2022-08-08 11:50] Hannsek opened #5951 ""Check your backup in Device Settings before sending money to the wallet" can be confusing for some users."
When creating backup, user must check 3 fields so that he understand what is he doing.
The first field _Check your backup in Device Settings before sending money to the wallet_ can be confusing as it does not make sense here.

**improvement proposal**
- do it as a pop up afterwards

<img width="1127" alt="image" src="https://user-images.githubusercontent.com/57008159/183411059-acd19cf4-0a48-497e-b

[2022-08-08 12:54] matejkriz commented on #5930
This should be fixed by https://github.com/trezor/trezor-suite/issues/5541

[2022-08-08 13:15] tomasklim commented on #5878
Looks like users, who got this error were able to update app. The question is how. We need to improve `app-update` analytics to learn more.

We track only `close` update modal.
Update is `downloaded`, but only in case modal was not closed.
Update has `error`. (we do not have error from these users). They most often closed the modal and then somehow they launched a new version.

[2022-08-08 13:56] STew790 opened #5955 "Graph is showing same y-axis values multiple times for BTC or Satoshis"
**Describe the bug**
Graph on dashboard or in accounts is sometimes showing the same values for y axis. This applies only for certain amounts of "crypto". See screenshot attached for more and clearer info.

**Info:**
 - Suite version: web 22.9.0 (07b4b280d64756aec378b3dc4d98fde68f19a433)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.53 Safari/

[2022-08-08 15:06] Hannsek opened #5956 "Hide zero balance accounts"
For some users, having zero balance accounts in "My accounts" can be disturbing.

<img width="290" alt="image" src="https://user-images.githubusercontent.com/57008159/183429537-61bc3d60-fc06-4ffc-b9c0-0d129689b4d0.png">

**improvements proposed**
- give user the ability to hide zero balance accounts
     - put a switch _Hide zero balance accounts_ into the Settings>Application>Application

[2022-08-08 15:21] #5861 closed, assigned to tomasklim

[2022-08-09 07:43] komret opened #5961 "Remove specs from docs"
I think the [specs](https://docs.trezor.io/trezor-suite/specs/index.html) section should not be a part of the public docs. It is irrelevant to users and third-party developers, it mentions Trezor employees and internal systems, links to Notion. Moreover, it is outdated (looks like the two features are already implemented). Before deleting the section, is there any info worth preserving/updating an

[2022-08-09 07:48] #5951 closed, assigned to nobody

[2022-08-09 08:42] mroz22 opened #5964 "Old device: degraded user experience"
Ok, I was helping one of my releatives with trezor and user experience was not very good.

**Info:**

-   Suite Version: web, 22.7.3 [8eddb2accd31c78577f276df2e9ecf773d2c3c17](https://github.com/trezor/trezor-suite/commits/8eddb2accd31c78577f276df2e9ecf773d2c3c17)
-   Browser: chrome 95.0.4638.54
-   OS: Ubuntu 20.04.4 LTS
-   Bridge: 2.0.27
-   Firmware Version: 1.6.1
[code]

normal mode
[code]

[2022-08-09 08:45] akssshh commented on #5961
hey!! Can you assign this to me?

[2022-08-09 09:01] mroz22 commented on #5924
[slack thread with useful ideas](https://satoshilabs.slack.com/archives/CKZHV2G13/p1660031669224199)

[2022-08-09 09:04] bosomt commented on #3004
Just testing 22.8.1 release candidate and left Satoshis enabled.
When i try to send all from accounts of coins like VTC or LTC Suite gets confused, nor sure if you already know about it.

<img width="736" alt="image" src="https://user-images.githubusercontent.com/31506317/183609879-05365798-a5c9-4f5b-9ca8-6d459258ff28.png">

<img width="753" alt="image" src="https://user-images.githubusercontent.c

[2022-08-09 09:26] gabrielKerekes commented on #5894
@mroz22 Now it is much better, thank you 👍

[2022-08-09 09:49] STew790 opened #5967 "Suite app is not installed on next launch when this option is chosen in the autoupdate"
**Describe the bug**
If I choose the option to install the update on next launch in the autoupdate modal, the Suite will just offer me the autoupdate again on next launch and not immediately install the new update.This was actually changed already in the 21.7.1 version, very probably here https://github.com/trezor/trezor-suite/commit/47bd2f7e8cfaa4455b252cdf68b5f01e7356756e (found by @tomasklim).

[2022-08-09 09:58] komret commented on #5961
@gogoiakash2311 Feel free to submit a PR deleting the files and the links from SUMMARY.md. We will merge it once it is decided where (if) to move it.

[2022-08-09 10:10] akssshh commented on #5961
Should i remove the links of the specs section from SUMMARY.md

[2022-08-09 10:14] komret commented on #5961
Yes, the whole section.

[2022-08-09 10:15] akssshh commented on #5961
Okay..soon i'll submit a PR

[2022-08-09 10:45] cryptomar1o commented on #5882
The user confirmed that after the blockbook update, he is now able to see the whole balance including the transaction history.

Issue is resolved.

[2022-08-09 10:45] #5882 closed, assigned to nobody

[2022-08-09 11:49] dahaca commented on #3004
One more bug that I am fixing at the moment happens during this flow:

* **BTC** is the active unit
* User navigates to **SEND** and enters a valid amount
* User leaves the form and switches the units to **SAT**
* User returns to the form
* The amount is filled with the previously entered one, not in line with the currently selected unit
* Amount field likely has an error