[2020-09-15 14:28] vladimirvolek commented on #2318
Yeah, cannot reproduce now :)

[2020-09-15 14:28] #2318 closed, assigned to nobody

[2020-09-15 15:57] glacierbits opened #2357 "Wallet label edit"
Switch wallet modal > Edit label > Empty label > Close label

.. resolves in opening the wallet

Expected result: Close the edit labeling process, leave the deterministic label at place.

[2020-09-15 16:20] #2249 closed, assigned to robertbrada

[2020-09-15 18:14] bosomt commented on #2347
Context menu looks amazing, had no idea that it exist ;)

but doesn't disappear :(

Chromium 85.0.4183.83 (Developer Build) (64-bit)
Firefox 80.0 (64-bit)

https://github.com/trezor/trezor-suite/commit/0840609ffa611dc29903e7b5e53b7d73c4381966

**Chrome**
![image](https://user-images.githubusercontent.com/31506317/93247604-db025000-f78e-11ea-9bf2-1a462cf0104a.png)
**Firefox**
![image](https://user-

[2020-09-15 18:17] slowbackspace commented on #2347
~wow I had no idea it also works in confirm modal! It seems to me more like a bug than a feature. I guess we dont wanna show a label when the task is to verify the address.~
Context menu really doesn't open in the confirm addr modal. I think I know what @bosomt did. Most likely clicked on the "show address" btn in receive tab and then quickly, before the modal opened, clicked on address with a lab

[2020-09-15 18:30] #2347 closed, assigned to nobody

[2020-09-15 18:48] bosomt commented on #2347
no i didn't checked it one more time

1) click label
2) click confirm on device
3) see context menu and address

when you click outside context menu it will disappear

i will create new issue ;)

[2020-09-15 19:15] bosomt opened #2358 "Labeling - Context menu doesnt disappear in receive tab"
**Info:**
 - OS: Nixos
 - Browser: Chromium 85.0.4183.83 (Developer Build) (64-bit), Firefox 80.0 (64-bit)
 - Wallet Version: web, commit https://github.com/trezor/trezor-suite/commit/0840609ffa611dc29903e7b5e53b7d73c4381966
 - Firmware Version: model T 2.3.3 , revision 0d5f00668

**Describe the bug**

Labeling context menu doesn't disappear in Receive tab when address has label attached.

**Steps

[2020-09-15 19:33] bosomt commented on #2347
sent https://github.com/trezor/trezor-suite/issues/2358

[2020-09-16 09:46] #2346 closed, assigned to slowbackspace

[2020-09-16 13:31] glacierbits opened #2360 "Fee box layout distorted"
Broken layout

<img width="784" alt="Screen Shot 2020-09-16 at 15 26 40" src="https://user-images.githubusercontent.com/29627086/93343654-076ea880-f831-11ea-8407-d834b0606802.png">

[2020-09-16 14:31] slowbackspace opened #2361 "Coin filter deactivation"
reminder: option to deactivate account filter by clicking anywhere in the filter area except coin icons.

[2020-09-16 14:49] slowbackspace opened #2362 "Saved accounts behind passphrase with disabled passphrase protection"
steps to reproduce:
1. save passphrase wallet
2. disable passphrase feature in device settings
3. reconnect device
4. go to receive and hit show full address

result: verify address error: passphrase is incorrect

[2020-09-16 15:13] glacierbits opened #2363 "Remove white background from News button"
Dashboard > News > Show older news

Use button without the white border (to be consitent with other buttons: Add acount, Hide).

<img width="165" alt="Screen Shot 2020-09-16 at 17 11 22" src="https://user-images.githubusercontent.com/29627086/93356665-c336d480-f83f-11ea-98fc-19d80586f9bc.png">

[2020-09-16 15:15] glacierbits opened #2364 "Import of transaction from .csv"
**[Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f52095cc6d7c47bf1a824db)**

[2020-09-16 15:48] glacierbits opened #2365 "Receive: Brushup"
- [x] Add header (spacing as is in the Send form)

<img width="293" alt="Screen Shot 2020-09-16 at 17 44 29" src="https://user-images.githubusercontent.com/29627086/93360784-5f62da80-f844-11ea-8ed8-47bcb94606f7.png">

- [x] Add tooltip to the header (explanation for BTC-like coins of how to deal with addresses)

- [x] Same input component (size and spacing) as is in the Send form

[2020-09-16 15:53] bosomt commented on #2346
it says Ripple transactions , isn't suppose to say XRP transactions ?

[2020-09-16 15:56] bosomt commented on #2346
**QA OK**

Nixos, Chromium 85
Suite web master 59dd350d5397d9b77898f4c394dda4b57b13562a
FW TT 2.3.3, 0d5f00668

[2020-09-16 16:06] slowbackspace commented on #2346
@bosomt good point!

[2020-09-16 16:09] bosomt commented on #2346
and of course Ethereum and not ethereum :)

[2020-09-16 16:14] slowbackspace commented on #2346
I hope I didn't insult any ethereum user :) ofc proper copy will be done by @matejzak

[2020-09-16 16:56] bosomt commented on #1929
any scenarios that we can test ?
suite works fine, fix was probably already merged and released to beta

[2020-09-16 19:21] bosomt commented on #2327
**DOGE**

now it loads send transaction forever after i change max 380 to 381 and send max button stops working

380 OK
381 forever loading
382 not enough funds

suite branch fix/send-btc-compose-outputs commit 416ec7a1aa411d976b506b7ad45c727f21148b3b
Nixos + Chromium 85
FW 2.3.3  0d5f00668

[trezor-suite-log.txt](https://github.com/trezor/trezor-suite/files/5234491/trezor-suite-log.txt)

![image]

[2020-09-17 07:29] bosomt opened #2366 "Left Account menu uses only 8 numerals even coins are using more than 8 digits"
**Info:**
 - OS: Nixos
 - Browser: Chromium , version 85
 - Wallet Version: web, commit e243afdb73e35fa08f39a7fc08a28b84baa3ac58
 - Firmware Version: model 2.3.3, revision 0d5f00668

**Describe the bug**
Left Account menu uses only 8 numerals even coins are using more than 8 digits

**Steps to reproduce:**
1. load accounts with funds
2. compare left bar and account details /see screenshots/

**Exp

[2020-09-17 08:39] prusnak commented on #2366
We should fix this before the public release

[2020-09-17 09:14] mroz22 commented on #2308
actually we discussed this with szymon and landed on that this is the best of behaviours available.

[2020-09-17 09:26] mroz22 commented on #2334
labels share fate of device. If device is set to "save", then labels are saved too in localstorage, otherwise not.

and yes, error handling is not very fine-tuned at the moment, not talking about the cases when storage is full etc that are already solved in mytrezor.

[2020-09-17 10:04] slowbackspace commented on #2366
I came to conclusion it works exactly as "designed" 😀 I will talk with @matejzak how can we fix it.
https://satoshilabs.slack.com/archives/CPU92A6JV/p1583492657001900

[2020-09-17 10:12] prusnak commented on #2366
I don't want to reopen the old discusion, but my 2 cents are: I think that hiding insignificant digits of amounts is fine, but then it would be nice to have some kind of indication (such as replacing the least significant digits with `…`)

[2020-09-17 12:20] glacierbits opened #2368 "Passphrase modal brushup"
Passphrase flow beautified:

[**Zeplin**](https://zpl.io/bzmJKQ8)

[2020-09-17 12:25] glacierbits opened #2369 "Animations' performance optimalization"
- [x] Check svg spinners

- [x] Remove animation from connect device modal

[2020-09-17 12:28] glacierbits commented on #2366
Agreed. Will discuss with Ondra today whether to use `...` or some other visual cue. Thanks everyone!

[2020-09-17 13:10] glacierbits opened #2370 "Graph tooltip with a point"
Accounts > Activity > ALL

<img width="176" alt="Screen Shot 2020-09-17 at 15 09 22" src="https://user-images.githubusercontent.com/29627086/93474550-c7262d80-f8f7-11ea-8cb6-60b8ef132945.png">

[2020-09-17 13:13] glacierbits opened #2371 "Disabling coin filter selection"
As discussed in the office: Click in the Account header area (see below) should disable the selection (as opposed to clicking on the coin icon again).

<img width="309" alt="Screen Shot 2020-09-17 at 15 11 50" src="https://user-images.githubusercontent.com/29627086/93474798-1ec49900-f8f8-11ea-8f6f-3f8068f51d7e.png">

[2020-09-17 13:46] glacierbits commented on #2371
Duplicate of #2361

[2020-09-17 13:46] #2371 closed, assigned to slowbackspace

[2020-09-17 13:51] glacierbits opened #2373 "Skeleton loaders"
Let's use skeleton loaders with shimmer (e.g. https://codepen.io/JCLee/pen/dyPejGV)

- [ ] **Dashboard**: https://zpl.io/2ELeP5g

- [ ] **Transactions**: https://zpl.io/agjNQe9

- [ ] **Send**: https://zpl.io/bzrnqeA

- [ ] **Receive**: https://zpl.io/VYeRrEp

[2020-09-17 14:44] #2270 closed, assigned to slowbackspace

[2020-09-17 15:15] #2306 closed, assigned to szymonlesisz

[2020-09-17 15:56] bosomt commented on #2306
not yet deployed,
i see 02b68e9900858ce723fccb62d8810c3bb425effc on web dev master

[2020-09-17 16:32] bosomt commented on #2244
**QA NOK**

when i try to connect Google error it fails, url suite.corp.sldev.cz

Nixos + Chromium 85
FW TT 2.3.3 0d5f00668
suite dev master commit 02b68e9900858ce723fccb62d8810c3bb425effc

![image](https://user-images.githubusercontent.com/31506317/93499805-bc799180-f913-11ea-9f5e-af3b9766cd9a.png)

[2020-09-17 21:20] prusnak commented on #2244
I added `suite.corp.sldev.cz` to the allowlist. If there are any issues with that, please test also https://staging-wallet.trezor.io where the Google Drive integration is also enabled.

[2020-09-18 06:22] szymonlesisz commented on #2306
@keraf windows desktop build is failing on develop:

`Env WIN_CSC_LINK is not correct`

[2020-09-18 07:32] #2244 closed, assigned to prusnak, mroz22

[2020-09-18 08:21] mroz22 commented on #2315
Hmm... there are 2 levels of this:

1. Global metadata settings saying whether metadata is enabled or not. This is saved to local storage always.If this option is "on", it means that user might be prompted on device (more details in 2.)
1. Per device metadata status, may be "enabled" | "disabled" | "canceled". If user rejects labeling on device, metadata status for this device is set to cancelled

[2020-09-18 14:40] mroz22 commented on #2353
I ll move google drive and dropbox to a separate issue, it will include:
- remove legacy implementation of authentication from dropbox
- rework google auth implementation to work with official lib
- to make previous work it may also be needed to reregister app in google as another application type and obtain new token
- it will require to implement http server in electron instead of popup.
- clean

[2020-09-18 18:00] glacierbits commented on #2366
Decision made:

@slowbackspace please

- [ ] add an extra numeral to the rule (i.e. 9 in total) to take care of most of the (smaller balance BTC-like) cases

- [ ] shorten anything longer by `...` (Color: The same grey as fiat balance)

[2020-09-18 18:33] glacierbits opened #2378 "Remove 3rd party wallets links"
Remove the whole "Supported by 3rd party wallets" section from Suite.

- It's a bad practice to link to external services (especially from electron app)
- this should be communicated outside the app (blog, wiki etc.)

<img width="1093" alt="Screen Shot 2020-09-18 at 20 30 45" src="https://user-images.githubusercontent.com/29627086/93632798-3bdb9380-f9ee-11ea-8bf7-0121e161c45a.png">

[2020-09-18 18:35] glacierbits opened #2379 "Increase the bottom spacing"
Increase the bottom spacing in all Settings tabs.

<img width="955" alt="Screen Shot 2020-09-18 at 20 35 24" src="https://user-images.githubusercontent.com/29627086/93632952-7cd3a800-f9ee-11ea-94ac-44d897b3f408.png">

[2020-09-18 18:38] glacierbits opened #2380 "Clear all should not be present"
Show "Clear all" only after there is some input from the user (as opposed to have it present by default).

<img width="158" alt="Screen Shot 2020-09-18 at 20 37 43" src="https://user-images.githubusercontent.com/29627086/93633204-df2ca880-f9ee-11ea-9b61-55d49e284a26.png">

[2020-09-19 06:55] bosomt commented on #2244
it says google and not Google

![image](https://user-images.githubusercontent.com/31506317/93661159-e935c200-fa55-11ea-9380-5cea95daceae.png)

[2020-09-19 07:07] bosomt commented on #2244
**QA OK**

https://suite.corp.sldev.cz/ and https://staging-wallet.trezor.io/ are working fine

OS and browser: Nixos + Chromium 85.0.4183.83
FW 1.9.3 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,
Suite web 4cd30a71080c193d88cb69db4776dbec17027ae1 + 02b68e9900858ce723fccb62d8810c3bb425effc

[2020-09-19 07:35] bosomt opened #2381 "Google and Dropbox are lower case in General Settings"
**Is your feature request related to a problem? Please describe.**
Google and Dropbox are lower case in General Settings

It can be changed here https://github.com/trezor/trezor-suite/blob/57609e18ed8f9fc9f5a23cdcc6a8cf2192e5625a/packages/suite/src/types/suite/metadata.ts

Suite version 02b68e9900858ce723fccb62d8810c3bb425effc

**Describe the solution you'd like**
Connected to Google or Dropbox

!

[2020-09-19 10:16] prusnak commented on #2381
I would not rather change the `metadata.provider.type` and just quick-fix the rendering of the value:

[code]

[2020-09-19 14:29] mroz22 commented on #2381
It maybe should be Google Drive. But who knows.. Copy is always few steps behind :factory_worker:

[2020-09-19 15:33] #1857 closed, assigned to vladimirvolek

[2020-09-21 07:33] szymonlesisz commented on #898
already implemented

[2020-09-21 07:33] #898 closed, assigned to szymonlesisz

[2020-09-21 09:12] stepmes opened #2383 "Back button on "Starting up or coming back" screen in Onboarding goes elsewhere"
**Info:**
 - OS: NixOs 20.03.2778.20904118004
 - Browser: Chromium, version 84.0.4147.105
 - Wallet Version: web 20.9.1-beta
 - Firmware Version: Model T & Trezor 1

**Describe the bug**

On the second screen in Onboarding (after clicking on Fresh device), the "Back" button doesn't go back, but to a different screen that is not relevant.

**Steps to reproduce:**
1. Open Suite with Onboarding
2. Cl

[2020-09-21 09:46] tsusanka commented on #2378
Decided on Product meeting: let's replace this with a link to www.trezor.io/coins.

[2020-09-21 09:52] stepmes opened #2384 "Back button on "My Hologram Looks different" screen in Onboarding goes two steps back"
@matejzak
**Info:**
OS: NixOs 20.03.2778.20904118004
Browser: Chromium, version 84.0.4147.105
Wallet Version: web 20.9.1-beta

**Describe the bug**
The back button on the "My Hologram Looks different" screen in Onboarding goes two steps back to the "State of your device" screen instead of just one step to the "Hologram check" screen.

**Steps to reproduce:**
1. Any device with any FW in onboarding

[2020-09-21 11:16] bosomt commented on #1857
**QA OK**

now it says `Amount is not a integer`

Nixos + Chromium 85
Suite dev master commit 01ba0d600a401ef00bf09448b8ad388ad806af88
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-21 11:59] bosomt commented on #2306
**QA OK**

Nixos + Chromium 85
Suite dev master commit 0fa83d87da8e164370d1f77d2c0294b88b542a36
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-21 14:34] #2227 closed, assigned to slowbackspace

[2020-09-21 15:24] bosomt commented on #2227
**QA OK**

looks OK

![image](https://user-images.githubusercontent.com/31506317/93786015-14bfd480-fc2f-11ea-94ee-b9846dca8d5b.png)

Nixos + Chromium 85
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,
Suite web dev master c67a173aabdb7e5b4ea7a2de478707e96a27ced4

[2020-09-21 18:40] glacierbits opened #2395 "Desktop app external links"
External links from desktop app open an electron web window as opposed to default browser.

[2020-09-21 19:30] keraf commented on #2395
This was fixed in PR #2275 and should be fixed for the next release.

[2020-09-21 19:32] glacierbits commented on #2395
Thanks!

[2020-09-21 19:33] #1457 closed, assigned to szymonlesisz

[2020-09-21 19:49] #2349 closed, assigned to slowbackspace

[2020-09-22 06:50] bosomt commented on #2395
downloaded latest build from https://suite.corp.sldev.cz/suite-desktop/develop/
commit **c67a173aabdb7e5b4ea7a2de478707e96a27ced4**
linux version

and im not able to click on anything in suite except http://blog.trezor.io/ in news
im not able to get to settings or to accounts

[2020-09-22 07:23] bosomt commented on #2349
**QA OK**

looks good now

Nixos + Chromium 85
Suite dev web master a64816b985a74b1493eac2f76311722ceabbdb8f
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-22 07:50] #2366 closed, assigned to slowbackspace

[2020-09-22 07:53] bosomt commented on #1457
**QA OK**

works fine now

Nixos + CHromium 85
Suite web dev master commit a64816b985a74b1493eac2f76311722ceabbdb8f
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-22 08:20] #2361 closed, assigned to slowbackspace

[2020-09-22 10:46] glacierbits opened #2396 "Unify Bitcoin #1 / Account #1"
Use: {Network} #{n}  as opposed to: Account #{index} in both the Accounts menu and Account header.

Remove the account type from the brackets (e.g. SegWit). This is to be handled by labels customized by the users.

<img width="646" alt="Screen Shot 2020-09-22 at 13 15 19" src="https://user-images.githubusercontent.com/29627086/93875658-abdf6780-fcd5-11ea-8834-f0cdc8260c82.png">

[2020-09-22 11:06] #2331 closed, assigned to szymonlesisz

[2020-09-22 11:12] #2315 closed, assigned to mroz22

[2020-09-22 11:12] #2341 closed, assigned to mroz22

[2020-09-22 11:12] #2358 closed, assigned to mroz22

[2020-09-22 11:12] #2357 closed, assigned to mroz22

[2020-09-22 11:12] #2381 closed, assigned to mroz22

[2020-09-22 11:26] slowbackspace commented on #2378
It also should be removed from add account modal, correct? I think this will be the place where user will be searching for these coins so I would expect the link to be integrated somewhere near, but I am not sure where. @matejzak

<img width="935" alt="Screenshot 2020-09-22 at 13 23 55" src="https://user-images.githubusercontent.com/6961901/93876273-e0075800-fcd6-11ea-8cd3-0dc87e0fda2b.png">

[2020-09-22 12:04] bosomt commented on #2366
**QA OK**

Nixos + Chromium 85
Suite web dev master commit 4600f383ea31099c4177b3bcb3a492cb88be7ebb
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-22 12:06] bosomt commented on #2361
**QA OK**

Nixos + Chromium 85
Suite web dev master commit 4600f383ea31099c4177b3bcb3a492cb88be7ebb
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-22 12:14] #2343 closed, assigned to robertbrada

[2020-09-22 12:35] keraf commented on #2395
Huh, seems like the navigation got broken. Could you open a new (high priority) issue for this please?

In the meantime, do the news link open in the default browser or within the app? If it's the former, this issue can be closed as resolved. Previously, it would open it as a new app window.

[2020-09-22 12:42] bosomt commented on #2343
**QA OK**

Nixos + Chromium 85
Suite web dev master commit b291f5ef949eee6dc5cd6e3ab653eee2210f45f7
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-22 12:43] glacierbits commented on #2083
@slowbackspace I assume upon disabling the particular coin, filter should automatically reset itself.

[2020-09-22 13:35] bosomt opened #2398 "Labeling - manual close of data provider popup not detected"
**Info:**
 - OS: Nixos
 - Browser: Chromium , version 85
 - Wallet Version: web, commit b291f5ef949eee6dc5cd6e3ab653eee2210f45f7
 - Firmware Version: model 2.3.3, revision 0d5f00668

**Describe the bug**
Suite waits for connection to data provider forever even Google or Dropbox popup was already manually closed.

**Steps to reproduce:**
1. enable labeling and press connect
2. choose data provider

[2020-09-22 14:06] bosomt commented on #2341
**QA OK**

Nixos + Chromium 85
Suite web dev master commit b291f5ef949eee6dc5cd6e3ab653eee2210f45f7
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-22 14:33] robertbrada opened #2401 "Wrong value is fetched from Ethereum blockchain"
There is a wrong **input value** In TX Details Modal for Ethereum blockhain. It works okay for Bitcoin-like coins.

![eth_bug](https://user-images.githubusercontent.com/44506010/93896307-0f2ac300-fcf1-11ea-8909-db536c94db94.png)

[2020-09-22 14:49] glacierbits opened #2403 "ERC20 tokens Total sent"
Optimizing token send with no fiat value (for now). As discussed in the office:

<img width="822" alt="Screen Shot 2020-09-22 at 16 48 41" src="https://user-images.githubusercontent.com/29627086/93898401-79446780-fcf3-11ea-9819-50e24a7c219d.png">

[2020-09-22 15:27] bosomt opened #2406 "Desktop app - application navigation is broken"
**Info:**
 - OS: Nixos
 - Wallet Version: app, commit c67a173aabdb7e5b4ea7a2de478707e96a27ced4
 - Firmware Version: 2.3.3 model T, revision 0d5f00668

**Describe the bug**
and im not able to click on anything in desktop suite except http://blog.trezor.io/ in news
im not able to get to settings or to accounts

**Steps to reproduce:**
1. download Linux app build
2. try to navigate in app, try to go

[2020-09-22 15:28] bosomt commented on #2395
@keraf

1) created https://github.com/trezor/trezor-suite/issues/2406
2) news links are open in default system browser and not in electron, i can close this issue ?

[2020-09-22 15:30] keraf commented on #2395
@bosomt Yep, working as intended :slightly_smiling_face:

[2020-09-22 15:41] sorooris commented on #1457
**QA OK**

Suite Version: web, f24640d
OS: NixOS
Browser: Chromium 85.0.4183.102
Device 2.3.3 0d5f00668

Confirming correct behavior of the setMax/Send max. button.

[2020-09-22 16:13] stepmes opened #2407 "Firmware update during onboarding - two screens interfere with each other"
**Info:**
OS: NixOs 20.03.2778.20904118004
Browser: Chromium, version 84.0.4147.105
Wallet Version: web 20.9.1-beta

**Describe the bug**
The first status screens of the fw update process skip quickly one after another. It creates an impression that something happened and the user didn't catch it. The two interfering screens are "Firmware update process started" & "Follow instructions on your devi

[2020-09-22 16:24] sorooris commented on #2380
**QA NOK**

Trivial note: the clear-form (Clear all) button isn't displayed if the outputs[0].fiat value isn't a number.
@matejzak please advise if this behavior is desirable from your point of view.

outputs[0].fiat is a number | outputs[0].fiat is non-number value
------------ | -------------
![image](https://user-images.githubusercontent.com/10185314/93909568-2e7d1c80-fd00-11ea-8555-b3c039957e7

[2020-09-22 17:06] stepmes opened #2409 "Redundant button during firmware update in onboarding"
**Info:**
OS: NixOs 20.03.2778.20904118004
Browser: Chromium, version 84.0.4147.105
Wallet Version: web 20.9.1-beta
Trezor Model T only

**Describe the bug**
A firmware update screen in onboarding contains a redundant "Continue" button when accessed with Trezor Model T. The button isn't clickable. When the same screen is accessed with Trezor One, the button isn't there, so it looks rather like a b

[2020-09-22 17:32] stepmes opened #2410 ""Firmware update failed" error screen in onboarding contains non-clickable "Retry" button"
**Info:**
 OS: NixOs 20.03.2778.20904118004
Browser: Chromium, version 84.0.4147.105
Wallet Version: web 20.9.1-beta

**Describe the bug**
The "Retry" button on the "fw update failed" screen is grey and non clickable.

**Steps to reproduce:**
1. Connect device with outdated firmware to Suite in incognito window
2. During onboarding, connect device in bootloader when prompted and Initiate firmware

[2020-09-22 17:42] stepmes opened #2411 ""Pin setup successful" screen in onboarding contains a redundand "Skip" button"
**Info:**
OS: NixOs 20.03.2778.20904118004
Browser: Chromium, version 84.0.4147.105
Wallet Version: web 20.9.1-beta

**Describe the bug**
The last screen of the PIN setup process in onboarding contains skip button, even though there is nothing more to skip.

**Steps to reproduce:**
1. Launch Suite in incognito mode with a non-initialized device.
2. Progress to the PIN setup
3. The "Continue" and "

[2020-09-23 08:29] glacierbits opened #2412 "Custom navbar: Desktop app"
Customize desktop app navigation bar: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f6b0073aa3cbd1a4cd1a5af)

[2020-09-23 08:39] glacierbits opened #2413 "Add beta status to Suite UI"
Beta: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f6b05cdc37420140bc6c17b)
Menu open: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f6b05d75fb9a107674ce971)

..as opposed to the design proposal, **do not include Wiki** in the menu since there won't be much content at the time of the launch.

[2020-09-23 08:49] keraf commented on #2412
Few notes on this:
- Should of course only be shown if the environment is desktop (maybe using the environment variable or by having it as a component of suite-desktop only).
- It should be platform aware and styled according to the platform. Mac has the colored buttons on the left, Windows on the right with some specific style and Linux too. Telegram's client is a good example (see screenshots on

[2020-09-23 09:45] wendys-cats opened #2414 "Transaction with Send max selected does not show FIAT amount"
**Info:**
 - OS: nixos
 - Browser: Chromium Version 84.0.4147.105 (Developer Build) (64-bit)
 - Suite Version: [web](https://suite.corp.sldev.cz/suite-web/fix/send-setmax-button-when-error/wallet), commit f24640d1c6347333d3fa37f3f43c88a7f493ca6c
 - Firmware Version: model 2.3.3 0d5f00668 (public)

**Describe the bug**
When making several transactions at once (via adding Another recipient), the tra

[2020-09-23 09:46] bosomt commented on #2331
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/93996267-587f1f00-fd92-11ea-940f-70e90a25e768.png)

Nixos + Chromium 85
Suite web master commit 539ad60eba674bc842260752b1d7017ef35dd86a
FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-23 10:21] bosomt commented on #2395
**QA OK**

Nixos + Chromium 85
Suite web dev master commit c67a173aabdb7e5b4ea7a2de478707e96a27ced4
FW 1.9.1 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-23 10:21] #2395 closed, assigned to keraf

[2020-09-23 10:29] bosomt commented on #2315
**QA OK**

Nicos + Chromium 85
Suite dev web master commit 539ad60eba674bc842260752b1d7017ef35dd86a
FW 1.9.3 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-23 11:41] bosomt commented on #2357
**QA OK**

Nicos + Chromium 85
Suite dev web master commit 539ad60eba674bc842260752b1d7017ef35dd86a
FW 1.9.3 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-09-23 12:03] prusnak opened #2416 "Reorganize paths"
![Screenshot from 2020-09-23 11-55-50](https://user-images.githubusercontent.com/42201/94009881-5f635d00-fda5-11ea-9ff1-3f493a1f6f83.png)

* `/wallet/start` => `/`
* `/wallet` => `/web`

Ideally let's get rid of `assetPrefix`

[2020-09-23 13:05] bosomt commented on #1929
**QA OK**

Nixos + Chromium 85
Suite dev master commit 539ad60eba674bc842260752b1d7017ef35dd86a
FW 2.3.3 commit 0d5f00668

[2020-09-23 15:45] #2396 closed, assigned to robertbrada

[2020-09-23 16:49] #2414 closed, assigned to szymonlesisz

[2020-09-23 16:56] szymonlesisz commented on #2327
should be fixed by https://github.com/trezor/trezor-suite/commit/a35528039d26405e19b2edc4736ef67d995deeed already in develop

[2020-09-23 16:56] #2327 closed, assigned to szymonlesisz, glacierbits

[2020-09-23 18:22] keraf commented on #2416
`assetPath` is still required for our dev deploys (branch name paths). We just need to update the `assetPath` value for the staging/production deployments.

[2020-09-23 21:36] mroz22 commented on #2191
At the moment, it looks like this:
![image](https://user-images.githubusercontent.com/30367552/94071770-c0665180-fdf4-11ea-89c1-138cb1ed8065.png)

Current state of design looks like this:
![image](https://user-images.githubusercontent.com/30367552/94071928-01f6fc80-fdf5-11ea-97c6-9ce650287755.png)
But I detect few issues with that:
- Separation into fixes/features/etc is nice but how would we disp

[2020-09-23 22:17] mroz22 commented on #2407
Did you mean the "started" status that appeared there for like 0.5 second?

Maybe check here if it still happens https://suite.corp.sldev.cz/suite-web/firmware-update-brushup/

[2020-09-24 07:58] mroz22 commented on #2192
Hm. We discussed this with @matejzak and our latest outcome was that we will force user to have device connected in normal mode at the starting screen of fw update:

pros:
- user will see correct changelog (not possible to do this for T1 in bootloader)
- without knowing firmware version and only bootloader we don't even know whether the version we are going to install is newer than currently insta

[2020-09-24 08:00] tsusanka commented on #2192
Seems reasonable. I think it is an edge-case people entering Suite in bootloader.

[2020-09-24 10:29] wendys-cats commented on #2414
**QA OK**

I was not able to replicate the issue [here](https://suite.corp.sldev.cz/suite-web/develop) anymore.

Nixos OS + Chromium Version 84.0.4147.105 (Developer Build) (64-bit)
FW 2.3.3 public revision 0d5f00668

[2020-09-24 11:42] bosomt commented on #2396
**QA OK**

Nixos + Chromium 85
suite dev master commit 6fa440f1fd278ceb66341afc47872c2b2cf60f39
FW 2.3.4 commit f8489f1

[2020-09-24 15:05] tsusanka commented on #649
## Security considerations

We need the updater to verify signatures. [Auto-update](https://www.electron.build/auto-update) supports that but @keraf found a worrying [article](https://blog.doyensec.com/2020/02/24/electron-updater-update-signature-bypass.html). And from my limited knowledge of JS I can tell the [code](https://github.com/electron-userland/electron-builder/blob/aa3625d5f6b719b6a7634c

[2020-09-24 16:22] #2378 closed, assigned to slowbackspace

[2020-09-24 16:25] #2403 closed, assigned to szymonlesisz

[2020-09-24 16:46] szymonlesisz commented on #2380
should be fixed via https://github.com/trezor/trezor-suite/commit/50fac1ab8490c26473d238d4bbe840b2cc54cb1c

[2020-09-24 16:46] #2380 closed, assigned to szymonlesisz

[2020-09-25 07:40] bosomt commented on #2378
**QA OK**

Nixos + Chromium 85
suite web dev master commit 36515c7564d2756fe34e4136246d86b97eb6e04a
FW 2.3.3 commit df5421e

[2020-09-25 08:06] bosomt commented on #2403
**QA OK**

Nixos + Chromium 85
Suite dev master commit 36515c7564d2756fe34e4136246d86b97eb6e04a
FW TT 2.3.3 commit 0d5f00668

[2020-09-25 08:13] bosomt commented on #2310
looks like this in current web master  36515c7564d2756fe34e4136246d86b97eb6e04a
when you only have 4$ in ETH, it will use as much as possible but it looks strange

62.000001347 GWEI

![image (2)](https://user-images.githubusercontent.com/31506317/94243312-8346b000-ff17-11ea-9335-801a777c442c.png)

[2020-09-25 08:15] bosomt commented on #2380
**QA OK**

+ https://github.com/trezor/trezor-suite/issues/2380#issuecomment-696831277 was fixed too

Nixos + Chromium 85
Suite dev master commit 36515c7564d2756fe34e4136246d86b97eb6e04a
FW TT 2.3.3 commit 0d5f00668

[2020-09-25 09:22] slowbackspace commented on #2355
I think we should consider adding some padding/margin globally somewhere in [SuiteLayout](https://github.com/trezor/trezor-suite/blob/eecc2a1d05c16e2e9d4eb59e75366a11223856d4/packages/suite/src/components/suite/SuiteLayout/index.tsx).
Maybe `DefaultPaddings` component is a good candidate, might introduce some design issue though so watch out for these.
(After implementing this we could remove cust

[2020-09-25 09:36] mroz22 commented on #2241
@robertbrada I have just assigned you. I am not trying to slip away from this, just in case you were looking for something quick to do :]

[2020-09-25 09:38] slowbackspace commented on #2342
Basically we have 3 options: preserve star and end labels (current behaviour), preserve end (2nd screenshot) or preserve start (3rd screenshot). I'll go with preserving end.
<img width="926" alt="Screenshot 2020-09-25 at 11 34 22" src="https://user-images.githubusercontent.com/6961901/94251875-7465fa80-ff23-11ea-91f1-452f541fd26c.png">
<img width="933" alt="Screenshot 2020-09-25 at 11 34 42" src="

[2020-09-25 10:47] glacierbits opened #2431 "Receive: Font color"
Addresses, Amounts (darker)
Table headers (lighter)

[Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f69b39730490b045e54dfa0)

[2020-09-25 11:01] glacierbits commented on #2406
I assume this has been tackled already (remember seeing some conversation on Slack). Just to make sure assigning to you @keraf :) Thanks!

[2020-09-25 11:42] #2342 closed, assigned to slowbackspace

[2020-09-25 11:45] mroz22 commented on #2409
In https://github.com/trezor/trezor-suite/pull/2408

![image](https://user-images.githubusercontent.com/30367552/94263436-52757380-ff35-11ea-9390-81890cc43779.png)

[2020-09-25 12:10] slowbackspace commented on #2401
ohh, I didn't notice there's an issue for this! For the time being I simply removed the input amount for ethereum (in https://github.com/trezor/trezor-suite/pull/2385).
I also removed total input/total output fields from "Amount" tab. So together with his change removing input value might even be proper solution! 😁

[2020-09-25 12:11] slowbackspace commented on #2379
duplicate of https://github.com/trezor/trezor-suite/issues/2355

[2020-09-25 12:11] #2379 closed, assigned to slowbackspace

[2020-09-25 15:39] mroz22 commented on #2384
And is this a bug or a feature?

My idea was that this hologram is signle step with "substeps", show hologram again button takes you back to hologram (initial hologram screen) and back button takes you back to device selection.

If it was like you want it, then "back" and "show hologram again" would do the same.

[2020-09-25 19:33] glacierbits opened #2436 "Graph: Touch-up"
- [x] Grey out out of focus area ([as designed](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/styleguide/components?seid=5ee87f2e6c4f4fb8451b768c))

- [x]  Centered and fixed height tooltip ([as designed](https://zpl.io/aNgOLvN))

- [x] Add shadows to the bars ([as designed](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/styleguide/components?seid=5ee87f2e6c4f4fb8451b768c))

[2020-09-25 19:33] #2217 closed, assigned to robertbrada

[2020-09-25 19:36] #2081 closed, assigned to slowbackspace

[2020-09-25 19:38] glacierbits opened #2437 "Date picker"
- [x] Date picker: [Zeplin](https://zpl.io/bod4ZYZ)

- [x] Layout (Range): [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5ee8c6343e7221b6cdc90705)

[2020-09-25 20:30] #2082 closed, assigned to slowbackspace

[2020-09-26 08:40] mroz22 commented on #2241
backup not created yet

![image](https://user-images.githubusercontent.com/30367552/94336309-82c71b80-ffe2-11ea-85ce-733fee7da755.png)

success state
![image](https://user-images.githubusercontent.com/30367552/94336547-5ca27b00-ffe4-11ea-83f5-043239527412.png)

failed
![image](https://user-images.githubusercontent.com/30367552/94336636-e9e5cf80-ffe4-11ea-9c95-56cda5fe39dd.png)

[2020-09-26 09:27] mroz22 commented on #2409
Didnt investigate, but original logic was

In bootloader -> cant click continue, can click install
Not in bootloader -> cant click install can click continue

Firmware required -> install button appears, continue not
Firmware outdated -> install button appears, continue appears
Firmware none -> install button appears, continue not.

[2020-09-26 11:09] #2241 closed, assigned to mroz22

[2020-09-26 11:15] glacierbits commented on #2333
From what I can see in develop, the previous comment has been fixed. Thanks @slowbackspace 🥇

[2020-09-26 11:15] #2333 closed, assigned to slowbackspace

[2020-09-26 11:27] glacierbits commented on #1629
Fixed in #2439

[2020-09-26 11:27] #1629 closed, assigned to glacierbits

[2020-09-26 11:36] glacierbits opened #2440 "Autoupdate: Design"
[Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/dashboard?seid=5f6f394f93e4fe835a0723e2)

[2020-09-26 11:38] glacierbits commented on #1623
To be fixed by public release must haves: #2440 and #649

[2020-09-26 11:38] #1623 closed, assigned to glacierbits

[2020-09-26 12:08] glacierbits commented on #2207
Is there any easy solution to this @slowbackspace ?

[2020-09-26 14:03] glacierbits opened #2441 "Consistent tooltips"
Dashboard > Portfolio

We are using solid icons.

<img width="299" alt="Screen Shot 2020-09-26 at 16 01 07" src="https://user-images.githubusercontent.com/29627086/94342478-8a51e900-0011-11eb-996e-87923662cb92.png">

<img width="278" alt="Screen Shot 2020-09-26 at 16 03 15" src="https://user-images.githubusercontent.com/29627086/94342523-cb49fd80-0011-11eb-856c-40f2a31fa052.png">

[2020-09-26 15:20] slowbackspace commented on #2441
Are you sure? It's pretty clear we are using both 😛
<img width="1243" alt="Screenshot 2020-09-26 at 17 20 07" src="https://user-images.githubusercontent.com/6961901/94344017-89728480-001c-11eb-8f33-cd508374a297.png">

[2020-09-26 15:24] slowbackspace commented on #2440
What is this? New type of notification just for the update process? Replacement for current toast notification? How many days are there till the freeze? 🤕

<img width="506" alt="Screenshot 2020-09-26 at 17 23 33" src="https://user-images.githubusercontent.com/6961901/94344058-03a30900-001d-11eb-8c29-1ce0bb505d98.png">

[2020-09-26 16:16] prusnak opened #2445 "Anonymous mode (via Tor) 🧅"
Let's implement Anonymous mode (via Tor).

### Desktop
- [x] add switch in options to enable "Tor mode" - [see below](https://github.com/trezor/trezor-suite/issues/2445#issuecomment-718864083)
- [x] indicate Tor mode very vividly (maybe in the title bar?) - [see below](https://github.com/trezor/trezor-suite/issues/2445#issuecomment-718864083)
- [x] finish "application firewall" - block requests go

[2020-09-26 16:32] mroz22 commented on #2191
reassigning this to @matejzak
my part is done at the moment. further work involves some coordination tasks.

[2020-09-26 16:54] #2329 closed, assigned to mroz22

[2020-09-27 07:32] bosomt commented on #2329
not yet deployed , latest web commit is older than 20hours

[2020-09-27 09:24] glacierbits opened #2450 "New snack bar notifications"
**[Zeplin](https://zpl.io/2ELeR98)**

Example position: **[Zeplin](https://zpl.io/br4por7)**

[2020-09-27 10:09] glacierbits commented on #2441
Humiliating. My apologies, I meant to say I would like to see all tooltips look the same. Anyway, we are right now in the process of designing better, multifunctional tooltips. So let's fix this inconsistency then. Moving this to Q4 and renaming it.

<img width="750" alt="Screen Shot 2020-09-27 at 11 53 44" src="https://user-images.githubusercontent.com/29627086/94361940-1f0f2200-00b8-11eb-8128-7a

[2020-09-27 12:30] glacierbits opened #2451 "Trezor icon in buttons indicator"
Add Trezor icon to all primary / secondary buttons that require communication with the device.

(Design needed)

[2020-09-27 12:57] glacierbits commented on #1863
Fixed by the new design.

[2020-09-27 12:57] #1863 closed, assigned to glacierbits

[2020-09-27 13:07] glacierbits opened #2452 "Autolock seemingly "disables" passphrase"
1. Standard wallet loaded
2. Device auto-locks
3. Switch wallet modal > Add hidden wallet
4. Continue on device > PIN entry
5. Device: Do you really want to enable passphrase on device?

(I have never disabled passphrase, hence I shouldn't be asked this to begin with).

[2020-09-27 13:13] glacierbits opened #2453 "Custom translation for hidden wallet"
If technically feasible, let's please create custom translation for the case, when Standard wallet has been already loaded.

The CTA should read: `+ Add Hidden wallet`

<img width="784" alt="Screen Shot 2020-09-27 at 15 10 35" src="https://user-images.githubusercontent.com/29627086/94365791-f72db780-00d3-11eb-87de-bbbd87a1c82a.png">

[2020-09-27 15:27] mroz22 opened #2454 "Oauth checklist"
### Dropbox
- [x] [Implicit flow](https://www.dropbox.com/lp/developers/reference/oauth-guide#implicit-grant) is used (just like in mytrezor) at the moment. Should be migrated to PKCE
- [x] Legacy long-lived token should not used. Citing from [dropbox docs](https://www.dropbox.com/lp/developers/reference/oauth-guide#) `In the past, the Dropbox API used only long-lived access tokens. These are now

[2020-09-27 15:49] glacierbits commented on #2330
Yet another reason, why leaving the "Click to discover wallet" in place is an unfavourable state.

If user clicks on the the `+Add wallet` CTA instead of the wallet box that says "Click to discover wallet", they are left with this (even if you click on the click to discover wallet nothing happens, the box stays in place, the Standard wallet label won't load, and wallet gets stuck on the authentica

[2020-09-28 10:19] mroz22 opened #2455 "Use official googleapis package for gdrive"
I would like to use [official googleapis package](https://github.com/googleapis/google-api-nodejs-client) instead of weird custom REST implementation, but it has only node.js build available.

It appears that there is way [how to do it](https://github.com/googleapis/google-api-nodejs-client/tree/master/src/apis/drive#building-a-browser-bundle) - by bundling custom webpack build into the project :(

[2020-09-28 11:30] #2207 closed, assigned to slowbackspace

[2020-09-28 11:32] #1970 closed, assigned to mroz22

[2020-09-28 11:38] #2383 closed, assigned to mroz22

[2020-09-28 11:38] #2411 closed, assigned to mroz22

[2020-09-28 11:39] #2431 closed, assigned to slowbackspace

[2020-09-28 14:29] bosomt commented on #2431
**QA OK**

Nixos + Chromium 85
suite web dev master commit f9d6827f67e9877bbd903a05da4469578617dd74
FW 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-09-28 15:20] bosomt opened #2456 "Close button in Firmware Update modal not working when you start update before wallet is loaded"
**Info:**
 - OS: Nixos
 - Browser: Chromium , version 85
 - Wallet Version: web, commit f9d6827f67e9877bbd903a05da4469578617dd74
 - Firmware Version: model T1 , revision  0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

**Describe the bug**
Close button in `Firmware Update` modal not working when start update before `Select wallet type` modal is displayed
See video please

**Steps to reproduce:**
1. l

[2020-09-28 15:32] bosomt commented on #1970
but url says wallet/notifications/
but page says Activity. dev master f9d6827f67e9877bbd903a05da4469578617dd74

@matejzak change or not to change ?

![image](https://user-images.githubusercontent.com/31506317/94453012-7b556d00-01b0-11eb-9c2c-7e8dec9bd758.png)

[2020-09-28 15:56] bosomt commented on #2207
**QA OK**

OS: Nixos + Chromium 65
Suite: dev web master commit f9d6827f67e9877bbd903a05da4469578617dd74
FW: 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-09-28 16:21] glacierbits commented on #1970
..,that is the question. :)

Let's leave the "notifications" for now. I will amend the copy. We are preparing new side panel for notifications – calling it that way will be more appropriate anyway.

[2020-09-28 16:49] glacierbits commented on #2308
OK. I verified and trust.

[2020-09-28 16:49] #2308 closed, assigned to szymonlesisz

[2020-09-28 20:19] sorooris commented on #2192
Came across a related issue today when testing the #2408 PR

**Bug: Missing option to reinstall current firmware or install a BTC-only version (and vice-versa).**
Description: There is no option to initiate firmware install without **wiping the device** first.
Proposed solution: **display the modal with the changelog information regardless of the currently installed version when in bootloader mode

[2020-09-29 06:54] tsusanka commented on #2192
Leaving this up to @matejzak but I am not sure we need to support reinstall (without wipe).

[2020-09-29 08:38] keraf commented on #1323
MacOS builds are now signed (thanks @1000101 !)

[2020-09-29 08:38] #1323 closed, assigned to keraf

[2020-09-29 08:39] keraf commented on #1350
~~Windows builds are also now signed!~~

Edit: I thought they were but apparently not. Sorry for the confusion.

[2020-09-29 08:55] mroz22 commented on #2192
This is not a bug.

[2020-09-29 09:11] refi93 opened #4874 "Passphrase sometimes insertable only in the browser"
Issue: The prompt to insert the passphrase in trezor connect  sometimes omits the option to insert the passphrase on the device as can be seen below:

![device](https://user-images.githubusercontent.com/4980147/94539120-1e57c680-0245-11eb-8620-ef261949a397.png)

A repeated attempt usually results in the option appearing again as can be seen here:

![device2](https://user-images.githubusercontent.c

[2020-09-29 09:21] keraf opened #2458 "Add feature flags"
Add feature flags to enable/disable features per environment we deploy to. The goal is to control experimental features and have the ability to enable/disable them when needed.

We can first implement this at build time using environment Webpack variables in the next.config.js file. Later, it would be great to implement this at runtime with a way to control flags on the fly (investigate tools that

[2020-09-29 09:28] prusnak commented on #4874
Might be related to trezor/trezor-suite#4873 where Trezor Model T is recognized as Trezor One.

[2020-09-29 09:43] prusnak commented on #2416
Fix in https://github.com/trezor/trezor-suite/pull/2459

[2020-09-29 10:56] szymonlesisz commented on #2308
actually i've solve it in https://github.com/trezor/trezor-suite/pull/2460

[2020-09-29 12:44] #2287 closed, assigned to nobody

[2020-09-29 12:52] bosomt commented on #2383
**QA OK**

Nixos + Chromium 85
Suite dev master commit f9d6827f67e9877bbd903a05da4469578617dd74
Device 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-09-29 13:22] tsusanka opened #2463 "Improve locktime error message"
Transactions where `lock_time` > current block height are going to be refused by the Bitcoin network. That is a correct behavior.

However, when user tries to send such transaction in Suite they receive `Failed to send transaction",{"message":"-26: non-final"}` error which explains nothing. Let's improve the message.

Low priority IMHO. Related: https://github.com/trezor/trezor-firmware/issues/128

[2020-09-29 13:24] bosomt commented on #2112
**QA NOK**

Nixos + Chromium 85
Suite web dev master commit f9d6827f67e9877bbd903a05da4469578617dd74
Device 2.3.3 commit 0d5f00668

device backup dialogue

![image](https://user-images.githubusercontent.com/31506317/94564103-da29ed80-0267-11eb-948d-4a618c37996d.png)

[2020-09-29 13:35] bosomt commented on #2241
**QA OK**

Nixos + Chromium 85
Suite web dev master commit f9d6827f67e9877bbd903a05da4469578617dd74
Device 2.3.3 commit 0d5f00668

[2020-09-29 14:27] bosomt commented on #2342
**QA OK**

Nixos + Chromium 85
Suite dev master 5ba60e0679e7d4501c7cfa1bf59dfcbd8396687a
Device 2.3.3 commit 0d5f00668

[2020-09-29 15:15] #2214 closed, assigned to slowbackspace

[2020-09-29 15:27] bosomt commented on #2082
**QA OK**

Nixos + Chromium 65
Suite dev web master commit 25d54af8358a2df77f6889a47a85f5ad83641a81
Device FW TT 2.3.3  commit 0d5f00668

[2020-09-29 16:56] bosomt commented on #2214
**QA OK**

Nixos + Chromium 85
Suite web dev master commit 25d54af8358a2df77f6889a47a85f5ad83641a81
Device TT fw 2.3.3 commit 0d5f00668

[2020-09-29 18:08] tsusanka commented on #649
We have agreed we will go with Electron-Updater which is part of Electron-Builder and build some additional checks on top of that later on. To be specified.

[2020-09-29 20:15] sorooris commented on #2192
@mroz22 what about switching to BTC-only? Only after device wipe?

[2020-09-30 07:26] bosomt commented on #2368
@matejzak

**select passphrase source** is that correct ?
device display says `Enter passphrase`

![image](https://user-images.githubusercontent.com/31506317/94655330-b2399900-02fe-11eb-9fc9-99e9d4360f12.png)

Nixos + Chromium 85
Suite dev web master 565ed2da61b77ed46f3215554917b96cee38efd2
Device TT 2.3.3 commit 0d5f00668

[2020-09-30 08:16] glacierbits commented on #2368
It is not. Thanks for the catch.

@slowbackspace custom translation pls and ping once done. Thanks!

[2020-09-30 08:53] glacierbits opened #2466 "Modals refactor: Next steps"
..follow up on the leftovers from #2326

- [ ] Universal modal "Follow instruction on device" Zeplin

- [ ]  Custom BE _(Design needed)_

[2020-09-30 08:54] #2326 closed, assigned to robertbrada

[2020-09-30 08:55] glacierbits commented on #2326
To be continued next sprint in #2466

[2020-09-30 09:24] tomexx opened #2467 "Trezor Suite - hidden wallet - number missing"
![image](https://user-images.githubusercontent.com/2822756/94667382-0d738780-030f-11eb-9415-b7fa56dc8a1b.png)

![image](https://user-images.githubusercontent.com/2822756/94667473-24b27500-030f-11eb-84d6-0cefe22faa19.png)

[2020-09-30 09:28] bosomt commented on #2081
**QA OK**

Nixos + Chromium 85
Suite  dev web maser commit fc5e15abd6b1abfba14a82f4bf4798e9e6de1cad
Device TT fw 2.3.3 commit 0d5f00668

[2020-09-30 09:52] bosomt commented on #2365
Please check that green space between tab name and tab content is inconsistent.
First and third  tab are same but Receive tab has much smaller space.
@matejzak if it's Ok then please close and move to approved.

**OK**
![image](https://user-images.githubusercontent.com/31506317/94670483-e6b75000-0312-11eb-9fa9-c3eaeb85ca70.png)

**NOK**
![image](https://user-images.githubusercontent.com/31506317/9

[2020-09-30 10:26] sorooris commented on #2365
The _AppNavigationPanel__Content-gm56o1-1 blYclB_ panel in the Accounts section is indented 25px more to the right when the Receive tab is selected than the other two (first and third), regardless of the window size.
Overview | Receive
------------ | -------------
![image](https://user-images.githubusercontent.com/10185314/94673661-5a5b5c00-0317-11eb-91ab-d7b57eb0db50.png) | ![image](https://user-

[2020-09-30 12:23] tsusanka commented on #1971
Is this still up to date? I think auto lock works with Suite. @sorooris could you please confirm auto-lock works with Suite?

[2020-09-30 12:27] tsusanka opened #2469 "Lock Trezor on demand from Suite"
Since the introduction of auto-lock for Trezor T we also added the ability to lock the device via the `LockDevice` message. This was added to both TT and T1. We could somehow incorporate this into Suite to allow locking the device on demand.

[2020-09-30 13:05] slowbackspace commented on #2365
isn't it because of scrollbars not being visible in receive?

[2020-09-30 13:06] sorooris commented on #2365
@slowbackspace who are you reacting to? :D

[2020-09-30 13:07] slowbackspace commented on #2365
@sorooris oh sorry, I didn't notice there are more comments beside yours 😁 I think it will be the scrollbar!

[2020-09-30 14:00] slowbackspace commented on #2467
can't reproduce 😱
<img width="667" alt="Screenshot 2020-09-30 at 16 00 48" src="https://user-images.githubusercontent.com/6961901/94695401-27749080-0336-11eb-81c1-cc1e024c7d93.png">

[2020-09-30 14:07] sorooris commented on #1971
**QA NOK**

Device locks during both transaction signing and receive address verification.
Auto-lock set to 15 seconds, after that the screen locks and corresponding modal closes and displays a toast notification with a _Sign transaction error: Cancelled_ error message.

[2020-09-30 14:17] tsusanka commented on #1971
Sorry to mislead, my question was whether it works with autolock in general. That means if set to 10 min. What you are describing will have to be solved with https://github.com/trezor/trezor-firmware/issues/1154. So if you set auto lock to 10 min it's all good?

[2020-09-30 14:38] sorooris commented on #1971
@tsusanka
Oh, right, if set to ~10 minutes then it behaves correctly - neither I nor anyone from QA have experienced any issues with auto-lock specifically.

[2020-09-30 16:01] sorooris commented on #2365
@slowbackspace i wanted to check it again with focus on the scrollbar but couldn't replicate it - is it already fixed?

[2020-09-30 17:32] mroz22 commented on #2467
Might be affected by labeling/metadata stuff.

[2020-09-30 21:37] glacierbits commented on #1971
My two cents (I experienced a problem with passphrase): #2452

[2020-10-01 06:40] #2363 closed, assigned to robertbrada

[2020-10-01 06:40] #2237 closed, assigned to robertbrada

[2020-10-01 06:40] #2332 closed, assigned to robertbrada

[2020-10-01 06:40] #2355 closed, assigned to robertbrada

[2020-10-01 08:15] #2330 closed, assigned to szymonlesisz

[2020-10-01 09:59] tomexx commented on #2369
PR: https://github.com/trezor/trezor-suite/pull/2474

[2020-10-01 11:46] szymonlesisz opened #2477 "T1 Pin modal: LastPass wants to remember my pin"
As i remember correctly we already solved this for passphrase modal,
any particular reason for using `<input type="password"` in pin modal? @slowbackspace

![Screenshot 2020-10-01 at 13 44 05](https://user-images.githubusercontent.com/3435913/94805190-42a1d780-03ec-11eb-8b72-25105bd4d7fb.png)

[2020-10-01 12:01] slowbackspace commented on #2477
Probably just because it has been this way since forever and no one raised an issue. As you correctly recall the "fix" was integrated only in passphrase modal.
https://github.com/trezor/trezor-ui-components/blob/master/src/components/inputs/Pin/index.tsx

[2020-10-01 13:51] bosomt commented on #2360
probably not yet deployed,
looks like this
![image](https://user-images.githubusercontent.com/31506317/94817881-cadca880-03fd-11eb-869e-2f2d0ba53ea3.png)

Suite dev master commit 0157226146ba2b580460aff418d76a16912ed8c9
Nixos + Chromium
Devicve fw  2.3.4 commit 55baf3a

[2020-10-01 13:53] #2352 closed, assigned to slowbackspace

[2020-10-01 14:05] szymonlesisz commented on #2452
should be solved by https://github.com/trezor/connect/commit/bcfc6e1033968dd314378d306fcd3c2766e0565e

[2020-10-01 14:05] #2452 closed, assigned to szymonlesisz

[2020-10-01 14:14] bosomt commented on #2363
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/94820788-23617500-0401-11eb-9468-883c67161996.png)

Suite dev master commit 0157226146ba2b580460aff418d76a16912ed8c9
Nixos + Chromium
Devicve fw  2.3.4 commit 55baf3a

[2020-10-01 14:31] bosomt commented on #2237
**QA OK**

Suite dev master commit 0157226
Nixos + Chromium
Devicve fw 2.3.4 commit 55baf3a

[2020-10-01 15:08] bosomt commented on #2332
**QA OK**

Suite dev master commit 0157226146ba2b580460aff418d76a16912ed8c9
Nixos + Chromium
Devicve fw 2.3.4 commit 55baf3a

[2020-10-01 15:24] #2413 closed, assigned to slowbackspace

[2020-10-01 15:38] bosomt commented on #2411
**QA OK**

Suite dev master commit 0157226146ba2b580460aff418d76a16912ed8c9
Nixos + Chromium 85
Devicve fw 1.8.3 0xdf0963ec48f01f3d07ffca556e21ff0070cab099,

[2020-10-01 15:51] bosomt commented on #2413
**QA OK**

Nixos + Chromium 85
Suite dev web master 54ca021215d10c94aa93bad72546b8571f66f61c
Device TT FW 2.3.4 55baf3a

[2020-10-01 16:14] glacierbits opened #2480 "Select refactor"
- [x] Remove cursor (disable input of characters)
- [x] Jump to value on keypress
- [x] Correct input height (48px): [Zeplin](https://zpl.io/aBxArwe)

Examples:

- Add account modal
- Settings (fiat)
- Send (Fiat currency)
- Send (ERC20 tokens)

[2020-10-01 17:27] glacierbits opened #2481 "Dark mode: Research"
Research dark mode "libraries". Are there any shortcuts to recreating the whole component library?

[2020-10-02 05:55] tsusanka opened #2483 "Highlight which display rotation is being used in settings"
Since https://github.com/trezor/trezor-firmware/pull/1295 we print display rotation in Features so Suite can highlight which rotation is being used.

Follow-up of #242.

[2020-10-02 06:17] bosomt commented on #2452
works OK but I think it looks ugly when you cancel unlock device when trying to add another passphrase wallet

![image](https://user-images.githubusercontent.com/31506317/94893510-a4634f80-0487-11eb-8c17-9bab4298959c.png)

[2020-10-02 06:26] bosomt commented on #2452
**QA OK**

Nixos + Chromium 85
Suite dev web master commit dbfc010689ca20988647b57a5d9443cf815b531e
Device TT FW 2.3.3 commit 0d5f00668

[2020-10-02 06:55] bosomt commented on #2355
**QA OK**

Nixos + Chromium 85
Suite dev web master commit dbfc010
Device TT FW 2.3.3 commit 0d5f00668

[2020-10-02 07:34] bosomt commented on #2360
**QA OK**

Nixos + Chromium 85
Suite dev web master commit dbfc010
Device TT FW 2.3.3 commit 0d5f00668

[2020-10-02 08:10] bosomt commented on #2329
**QA OK**

Nixos + Chromium 85
Suite dev web master commit dbfc010
Device TT FW 2.3.3 commit 0d5f00668

[2020-10-02 08:26] glacierbits opened #2484 "Add ERC20 token"
`+ Add token` in the ETH account Token section (same component as Enable more coins on Dashboard)

- Opens modal with input _(Design waiting for export)_ ⚠️

[2020-10-02 08:59] keraf opened #2485 "Fix 404 redirect loop"
There's a redirect loop on suite-web that should be addressed as soon as possible. It causes tests to fail and spams the console.

[2020-10-02 09:05] #2032 closed, assigned to glacierbits

[2020-10-02 09:31] yohaaan opened #2487 "Show only supported coins for each model"
**Description**
When in Trezor Wallet, the currency menu shows unsupported coins as well (for example when connected with Trezor One - I can select Cardano even though it's not supported by T1 firmware)

**Proposal**
Based on the device type display only coins that are supported by the device's firmware. The device type is known when adding an account of a certain coin to the wallet as with Suite

[2020-10-02 09:40] tsusanka commented on #2487
Let's not worry about Wallet, we will kill it soon. In Suite I can see the coin is listed even for T1 in case it is not supported (such as XRP and T1), however a warning is then displayed:

![Screenshot from 2020-10-02 11-38-44](https://user-images.githubusercontent.com/1835345/94909853-12b60b00-04a4-11eb-9f63-3952ad495c06.png)

I belive that's just fine? Removing the coin from the select box migh

[2020-10-02 09:48] glacierbits commented on #2487
I agree with @tsusanka the information about the particular coin not being supported is valuable. That being said, the current `Add account` modal UX is outdated and will be redesigned (incl. this particular case) in the next release. Thanks for bringing this to our attention.

[2020-10-02 09:55] mroz22 commented on #2485
related https://github.com/trezor/trezor-suite/issues/1646

[2020-10-02 10:02] yohaaan commented on #2487
Yeah, I meant suit, didn't edit the original post, sorry for the confusion. Agree on the fact that it's valuable information, it would be great if it's communicated more clearly, thanks for having look into this.

[2020-10-02 11:18] bosomt commented on #2330
**QA OK**

Nixos + Chromium 85
Suite dev web master commit
Device TT 2.3.3 commit 0d5f00668

[2020-10-02 11:26] #2238 closed, assigned to mroz22

[2020-10-02 11:26] #2407 closed, assigned to mroz22

[2020-10-02 11:26] #2409 closed, assigned to mroz22

[2020-10-02 11:26] #2192 closed, assigned to glacierbits, mroz22

[2020-10-02 11:26] #2239 closed, assigned to mroz22

[2020-10-02 11:49] vladimirvolek opened #2490 "Account notification - bottom padding"
![image](https://user-images.githubusercontent.com/3112191/94920124-f0c58400-04b5-11eb-999e-2c3c5945bdbe.png)

[2020-10-02 11:56] vladimirvolek opened #2492 "Misplaced BETA dropdown in the desktop app"
In the Desktop app (Electron).
When you click on the `BETA` button in the right corner of the app. You can see only a tiny piece of the dropdown. See the screenshot.

![image](https://user-images.githubusercontent.com/3112191/94920680-08e9d300-04b7-11eb-9aa7-2d53ee3bc154.png)

[2020-10-02 12:00] bosomt commented on #2450
When I receive 3 transactions I see only ONE snack notification.
See video: https://www.youtube.com/watch?v=rksJ6FRt1GI&feature=youtu.be

Is that correct behavior ? @matejzak @slowbackspace

Nixos + Chromium 85
Suite dev web master commit bc892c27b061b02c11a1f38861b2985fb5a10b7b
Device TT 2.3.3 commit 0d5f00668

[2020-10-02 12:10] bosomt commented on #2032
**QA OK**

Nixos + Chromium 85
Suite dev web master commit bc892c2
Device TT 2.3.3 commit 0d5f00668

[2020-10-02 13:01] bosomt commented on #2398
and after I close it there will be Ghost in the Suite when I open it again.

See screenshot in up right corner.
It will appear and disappear as you move above modal.

![image](https://user-images.githubusercontent.com/31506317/94925374-67b34a80-04bf-11eb-8f99-b49ba156501f.png)

Nixos + Chromium 85
Suite dev web master commit 2ab75ac21dd3aac83b636c628b63e39f93570904
Device TT 2.3.3 commit 0d5f00668

[2020-10-02 13:22] sorooris opened #2494 "Factory reset button - Incorrect action executed"
**Describe the bug**
Selecting the button present in _Settings -> Device_, section _DANGER AREA_, named Factory reset (formerly Wipe device) does not erase _all_ the data; it erases only the user data, firmware is kept on the device. Compare to the current state in the public Wallet where these two actions are clearly differentiated:
- Wipe device - erases user data, keep firmware
- Factory reset

[2020-10-02 13:28] mroz22 commented on #2494
Yeah, that's probably copy problem.
Factory reset is available only for model T and (I think) only in bootloader.
But depends on terminology, if wipe is factory reset now? Who knows?

[2020-10-02 14:20] slowbackspace commented on #2492
can't reproduce, if it was in dev env you probably forgot to rebuild components lib.

[2020-10-02 14:20] #2492 closed, assigned to slowbackspace

[2020-10-02 14:23] slowbackspace opened #2496 "crowdin"
note to self: check copy in add account modal and crowdin sync

[2020-10-02 19:15] glacierbits opened #2497 "You were disconnected notification"
The notification is present, even though I am connected. Refresh won't help.

Commit: 2ab75ac21dd3aac83b636c628b63e39f93570904

<img width="1440" alt="Screen Shot 2020-10-02 at 21 09 59" src="https://user-images.githubusercontent.com/29627086/94961019-2ab57b00-04f4-11eb-9d21-ed3bc74842c8.png">

[2020-10-02 19:19] prusnak commented on #2481
Couple of relevant reading points:
* https://www.smashingmagazine.com/2020/04/dark-mode-react-apps-styled-components/
* https://dev.to/nw/adding-dark-mode-to-your-react-app-with-hooks-media-queries-and-css-variables-50h0

[2020-10-02 19:52] slowbackspace commented on #2497
@trezor/qa please try if you can reproduce it, if not feel free to close the issue. thank you!

@matejzak it is your browser that is telling us that you are offline, try restarting it.

[2020-10-02 21:28] #2497 closed, assigned to slowbackspace

[2020-10-02 22:13] glacierbits commented on #2368
I take that back @slowbackspace. I see in Crowdin we have custom translations for each of these cases:

1. Empty passphrase, user input on host.
2. Empty passphrase, user input on device.

I fixed them both to make better sense. Changes will populate upon Crowdin sync.

<img width="363" alt="Screen Shot 2020-10-02 at 23 59 00" src="https://user-images.githubusercontent.com/29627086/94973170-40826a

[2020-10-02 22:13] #2368 closed, assigned to slowbackspace

[2020-10-03 10:12] slowbackspace commented on #2406
I patched nextjs so the issue is fixed for now, watch https://github.com/vercel/next.js/issues/17212 for proper fix in nextjs and remove the patch once we update to version that will include the fix.

[2020-10-03 19:00] slowbackspace commented on #2365
@sorooris Nothing changed afaik. My theory is that the receive tab doesn't have that much content so it fits on the screen without the overflow so browser won't render a scrollbar. When you go to Activity (where list of txs is) browser will show a scrollbar and thus making usable viewport area smaller and pushing it 15px to the left aand since the content in the app is centered it will visually mo

[2020-10-03 19:04] slowbackspace commented on #2292
done

[2020-10-03 19:04] #2292 closed, assigned to slowbackspace

[2020-10-03 19:41] slowbackspace commented on #2496
crowdin sync fixed!
@matejzak your daily reminder to change copy in add account modal, string id `MODAL_ADD_ACCOUNT_DESC`

[2020-10-03 19:45] #2496 closed, assigned to slowbackspace

[2020-10-04 02:14] brianddk opened #2506 "[REQ] Port some of the HWI and Electrum codebase to allow direct integration with Core and Electrum"
**Is your feature request related to a problem? Please describe.**
With the new Trezor Suite there is the opportunity for direct file system and socket access.  With this access it will be possible to directly integrate Trezor HW to Bitcoin Core and Electrum wallets.  Although these integrations exist piecemeal already in the respective products, it might be nice to offer Trezor Suite as a "contro

[2020-10-04 12:28] mroz22 opened #2507 "Firmware update fails (fetch error)."
**Info:**
 - Wallet Version: Desktop

**Describe the bug**
Desktop version fails to download binary

**Steps to reproduce:**
1. Take device
2. Go to onboarding
3. Try to update firmware

Probably introduced by this change commit https://github.com/trezor/trezor-suite/pull/2446
For some reason, trying to call fetch in desktop app results in:
`Fetch TypeError: Failed to execute 'fetch' on 'Window':

[2020-10-04 19:03] mroz22 commented on #2334
I hope this should not occur anymore once this is merged https://github.com/trezor/trezor-suite/pull/2438

[2020-10-05 06:35] #2490 closed, assigned to slowbackspace

[2020-10-05 06:59] #2004 closed, assigned to mroz22

[2020-10-05 07:07] tsusanka opened #2513 "Different QR code in Suite than in Firmware"
As brought up by @robertbrada and discussed on Slack. Suite and firmware currently shows different QR code although the content is the same (or maybe different case?). Let's:

1) Investigate whether using https://github.com/nayuki/QR-Code-generator is possible in Suite and it returns the same result as in firmware. This library is being used in FW.
2) Make sure the content sent to the QR generator

[2020-10-05 07:18] mroz22 commented on #2513
Dumb question here: Why doesn't firmware send generated QR right away? Possibly in base64 or something like this?

[2020-10-05 07:32] bosomt commented on #2410
Tested, and yes it looks good but that Error looks bad ;(

![image](https://user-images.githubusercontent.com/31506317/95051075-ef31d100-06ec-11eb-888c-c527b8d3f1ee.png)

Nixos + Chromium 85
Suide web dev master commit d9203c75b03db72d6399744a15c06afe6cab15db
Devier T1 FW 1.9.2 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-10-05 07:42] mroz22 commented on #2410
@bosomt how did you trigger this error?

[2020-10-05 07:45] bosomt commented on #2410
@mroz22

**Steps to reproduce:**

1) Connect device with outdated firmware to Suite in incognito window
2) During onboarding, connect device in bootloader when prompted and Initiate firmware update process
3) Click "Install full featured firmware" and abort the action on device
4) observe error :)

[2020-10-05 07:52] tsusanka commented on #2513
To Suite? Yeah we could do that but that seems kind of redundant since you already have the content (= address).

[2020-10-05 09:15] bosomt commented on #2409
**QA OK**

Nixos + Chromium 85
Suite web dev master commit 3a9fd795a1b8da8223faa29aaac2aa842a22d262
Device T1 FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-10-05 09:21] bosomt commented on #2490
**QA OK**

Nixos + Chromium 85
Suite web dev master commit 3a9fd79
Device T1 FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-10-05 09:23] mroz22 commented on #2513
I completely agree with the principle that "anything that may be computed, should be computed" but also start questioning it in case when there are multiple possible outcomes.

[2020-10-05 09:33] bosomt commented on #2004
is there anything that we can test ?
Should I check **Application log** for fw update info ?

[2020-10-05 10:15] mroz22 commented on #2410
Weird thing is that repository does not contain "Install full featured firmware" at the commit you provided.
It would have to be either here
https://github.com/trezor/trezor-suite/blob/d9203c75b03db72d6399744a15c06afe6cab15db/packages/suite/src/support/messages.ts
or here
https://github.com/trezor/trezor-suite/blob/d9203c75b03db72d6399744a15c06afe6cab15db/packages/suite-data/files/translations/en.

[2020-10-05 10:52] bosomt commented on #2238
**QA OK**

Nixos + Chromium 85
Suite dev web master commit 3a9fd795a1b8da8223faa29aaac2aa842a22d262
Device T1 FW 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-10-05 10:59] bosomt commented on #2323
1) new wizard doesnt use correct font.See screenshot below. Is that on purpose ?

2) can you please change update text to has been or to was ? I'm not expect but ** has released!** sounds strange

![image](https://user-images.githubusercontent.com/31506317/95071735-6e81cd80-070a-11eb-9b16-61c381a27648.png)

Nixos + Chromium 85
Suite web dev master commit 3a9fd795a1b8da8223faa29aaac2aa842a22d262
De

[2020-10-05 11:56] #2406 closed, assigned to keraf

[2020-10-05 11:56] #2369 closed, assigned to tomexx

[2020-10-05 11:57] #2351 closed, assigned to slowbackspace

[2020-10-05 12:15] bosomt commented on #2217
**QA OK**

Nixos + Chromium 85
Suite  dev web master commit 3a9fd795a1b8da8223faa29aaac2aa842a22d262
Device T1 fw 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-10-05 13:02] bosomt commented on #2352
**QA OK**

Nixos + Chromium 85
Suide dev web master commit 3a9fd795a1b8da8223faa29aaac2aa842a22d262
Device 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-10-05 14:02] bosomt commented on #2239
**QA OK**

Nixos + Chromium 85
Suite dev web master a6bf817b6111a0b31bf947ecca01522dac06441a
Device T1 FW 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-10-05 14:16] bosomt commented on #2326
**QA OK**

Nixos + Chromium 85
Suide dev web master commit a6bf817b6111a0b31bf947ecca01522dac06441a
Device T1 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-10-05 14:37] sorooris commented on #2365
@slowbackspace indeed, you were right with the vertical scrollbar not being present:
- verified with an account with **no used receive addresses** (new passphrase)

Overview | Receive
------------ | -------------
![image](https://user-images.githubusercontent.com/10185314/95093228-d515e400-0728-11eb-93ee-5c42be420bf2.png) |  ![image](https://user-images.githubusercontent.com/10185314/95093294-e828

[2020-10-05 14:38] bosomt commented on #2351
@slowbackspace was it merged already ? i see that web dev version has commit a6bf817b6111a0b31bf947ecca01522dac06441a and it's only one hour old but i still have cursor in ETH/ERC20 send selector

[2020-10-05 14:42] sorooris commented on #2497
**QA OK**

Couldn't replicate.

**Steps:**
- loaded Suite, let the accounts get discovered
- disconnected the computer from wi-fi
- _disconnected notification_ displayed
- re-established the wi-fi connection

_Disconnected notification_ hidden afterwards.

[2020-10-05 15:07] bosomt commented on #2407
**QA OK**

Nixos + Chromium 85
Suite dev web master commit a6bf817b6111a0b31bf947ecca01522dac06441a
Device T1 FW 1.9.2 commit 0xcde8f31ec2ddcb7d35e36edbcf8a71dda983a9ea,

[2020-10-05 20:29] prusnak commented on #2325
mytrezor task: https://github.com/satoshilabs/mytrezor/issues/951

[2020-10-06 08:12] glacierbits commented on #2351
Will be fixed by #2480. This issue is a duplicate.

[2020-10-06 08:55] bosomt commented on #2351
if it's duplicate I will move it to approved
and we will wait for that second issue to get merged

[2020-10-06 08:59] bosomt commented on #2324
@matejzak is there place where we can see that landing page deployed ?
at suite trezor io i see only that **It works!** :)

[2020-10-06 09:14] tomexx commented on #2324
Now, after merge to develop it is available at https://suite.corp.sldev.cz/suite-web-landing/develop/ however regarding deployment to other environments I'll need to reach out somebody with deeper devops know-how. :(

[2020-10-06 09:24] tsusanka commented on #2324
@bosomt Suite.trezor.io is a production environment, it will be there _after_ release (Oct 14th). As @tomexx points out, you can check out the site on the link.

[2020-10-06 09:24] tsusanka commented on #2324
@bosomt suite.trezor.io is a production environment, it will be there _after_ release (Oct 14th). As @tomexx points out, you can check out the site on the link.

[2020-10-06 10:05] mroz22 commented on #2467
Related bug:
If you enter route that does not trigger discovery and thus does not generate device state, you see "Hidden wallet #1"

[2020-10-06 10:14] robertbrada commented on #2513
According to [this live JavaScript demo](https://www.nayuki.io/page/qr-code-generator-library) I found out that the library should generate the same QR code as the one that is generated on Trezor device (if the input is uppercase BTC address). So I think I can fix this issue

[2020-10-06 11:28] #2416 closed, assigned to keraf

[2020-10-06 11:51] mroz22 commented on #2334
I suspect that this still may happen (just textation of error shall be different). And I suspect that this happens after longer time, when access_token is expired and app fails to renew it. I will investigate.

[2020-10-06 12:05] bosomt opened #2525 "Settings - Missing version/commit in General section"
**Info:**
 - OS: Nixos
 - Browser:Chromium  , version 85
 - Wallet Version: web, commit 71e348de9e23db614e2dcc72fb4ba26ed151cf57
 - Firmware Version: model TT , 2.3.4  revision 55baf3a

**Describe the bug**
We are missing ling to github or commit version and we need to look it up in Suite log.

**Steps to reproduce:**
1. Load suite
2. Go to Settings/General
3. Check version

**Expected result:**
C

[2020-10-06 12:07] prusnak commented on #2525
Git commit is available from `/version` page, e.g. https://suite.corp.sldev.cz/suite-web/develop/web/version/

[2020-10-06 12:18] prusnak opened #2526 "CI: use "needs" instead of "dependencies""
We might optimize CI performance by using "needs" instead of "dependencies".

This is just a reminder to try this later, after the public relase.

CCing @tsusanka as he did the switch in trezor-firmware repo: https://github.com/trezor/trezor-firmware/commit/13c11e756e7931117b3b1b90aad3ee4bcf0994fe

[2020-10-06 12:19] glacierbits commented on #2440
Resolved by #2478

[2020-10-06 12:19] #2440 closed, assigned to slowbackspace

[2020-10-06 12:33] bosomt commented on #2525
enough for me,
@keraf close ?

[2020-10-06 12:34] mroz22 commented on #2525
At least copy is weird. It indeed looks like that a variable that was originaly passed into the string might be missing now.

[2020-10-06 12:50] bosomt commented on #2525
Yes it looks strange ;)

[2020-10-06 12:59] slowbackspace commented on #2365
waaait a second. there is is a scrollbar in each of these tab. but there is ONE MORE scrollbar in overview. That's stupid and definitely a bug.

I was always talking about difference between one scrollbar and none. Not this 💩 😬

[2020-10-06 13:00] slowbackspace commented on #2365
But the bug is reproducible in overview, not in receive (issue was for receive tab 😛 ). CLOSING THE ISSUE (jk)

[2020-10-06 13:04] glacierbits opened #2528 "Google oauth fail"
Version: 67fdb77ab781ef6d283344614bc7285545e1f60d

Both Google and Dropbox fail to get authorized.

<img width="632" alt="Screenshot 2020-10-06 at 15 01 02" src="https://user-images.githubusercontent.com/29627086/95204895-f76d3780-07e4-11eb-8d37-a18d8439e173.png">

<img width="631" alt="Screenshot 2020-10-06 at 15 04 51" src="https://user-images.githubusercontent.com/29627086/95205323-811d0500-07e

[2020-10-06 13:06] sorooris commented on #2365
I thought we just really liked scrollbars. 🤷🏻‍♂️

[2020-10-06 13:32] slowbackspace commented on #2365
To summarise things:
The double scrollbar thing is bug and will be fixed.

The jumpiness while switching between long overview tab and short receive tab is basically normal browser behaviour (albeit stupid one) as explained in https://github.com/trezor/trezor-suite/issues/2365#issuecomment-703150088. There is a change some magical javascript scrollbars will solve this issue (Issue for scrollbars h

[2020-10-06 13:40] keraf commented on #2525
Yep, there's a wee bug. I'll get all that fixed :slightly_smiling_face:

[2020-10-06 15:11] wendys-cats commented on #2450
**QA NOK**
Nixos OS + Chromium 85
Suite dev web master commit a96a6885eabbb51d757925059fcbed5347b7c2b4 (from log)
Devices TT 2.3.4. 55baf3a AND TT 2.3.3 public (0d5f00668)

OK
**Successfully ested following notifications**
"Copied to clipboard"
"XXX BTC received on Bitcoin #number"
"PIN changed successfully"
"Settings changed successfully"
"Device wiped successfully"
"Backup success"

**NOK**
**Fo

[2020-10-06 15:21] slowbackspace commented on #2450
@bosomt, @wendys-cats this is the issue for design change only. there was no change in functionality or behaviour (besides added close btn). Could we create seperate issues for these pls? 🙏

@bosomt it may be possible we are blocking notifications about received txs if they are sent to same acount (what you see is notification about sent tx). I am not completely sure so I'll let @matejzak decide i

[2020-10-06 15:39] glacierbits commented on #2450
@bosomt It is good enough for now, we will review the _sent to myself_  receive behaviour. The sending part is definitely correct, since it still counts as one transaction with multiple outputs.

@wendys-cats Not a bug, we intentionally made those notifications less intrusive (= no toast). That said, the "New wallet created" log will be removed from the list altogether in the next release on the b

[2020-10-06 15:39] #2450 closed, assigned to slowbackspace

[2020-10-06 15:59] slowbackspace commented on #2022
@bosomt this one is weird. could you try to reproduce it one more time? It seems to work for me (on current develop)

edit: to avoid any confusion. we don't have fiat rates for VIU (coingecko for some reason doesn't support VIU in its API we are using), previously there was mistakenly showed ETH rates, that was fixed.

screenshot from sending 0.2 VIU
<img width="839" alt="Screenshot 2020-10-06 at

[2020-10-06 16:39] glacierbits commented on #2481
Update: After a discussion with @slowbackspace and @tomexx we have enough input to begin the work – Ondra has started creating the dark mode color scheme.

[2020-10-06 16:39] #2481 closed, assigned to slowbackspace

[2020-10-06 16:42] #2353 closed, assigned to mroz22

[2020-10-06 16:42] glacierbits commented on #2353
To be continued in the next release.

[2020-10-06 16:43] glacierbits commented on #2283
To be continued in the next release.

[2020-10-06 16:47] glacierbits opened #2532 "Labeling: Improvements"
- [x] `loading..` _(Show only on hover)_
- [x] Cursor _(Input doesn't start on the all the way left hand side)_
- [x] Full rename account proces: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f3bf73d694a9912ac30606f)
- [x] Label input should have grey background and placeholder (see design)

![Screen Shot 2020-09-02 at 14 04 08](https://user-images.githubusercontent.com/2

[2020-10-06 16:52] keraf commented on #2481
Just some extra input here about the implementation of dark mode. We should look to implement it as one of many themes. Going forward, it would be nice to offer themes that are more geared towards accessibility (larger fonts, higher contrast, color blind friendly colors/motives, ...).

[2020-10-06 20:35] prusnak commented on #2528
@matejzak Can you please try again? We changed the paths in develop (from "wallet" to "web" in the URI) and this was not reflected in the Dropbox/Google Oauth integration. I just added the new paths to reflect the change.

[2020-10-07 06:45] glacierbits commented on #2528
Dropbox works now, unfortunately Google Drive still returns (400).

[2020-10-07 06:51] glacierbits opened #2534 "Labeling: Fixes"
- [ ] Rename Account – **Cursor is not visible**

- [ ] **Remove the original name** on both Account and Wallet on hover – It's irrelevant, user can still see it when deleting the label.

- [ ] Rename Wallet – Apply **the same design principle** (**[Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f3bf73d694a9912ac30606f)**) as renaming the Accounts. Use the tag `Rename`, get

[2020-10-07 07:15] mroz22 commented on #2528
The problem with google might be that I am using clientId for iOS for both versions (desktop and web) at the moment. It works for localhost but might not work elsewhere. I'll try to use both of them for respective environment.

[2020-10-07 07:23] bosomt commented on #2022
it looks OK now, looks like it was fixed already
tired all tokens we and it all looks good

**QA OK**

Nixos + Chromium 85
Suite staging  commit a96a6885eabbb51d757925059fcbed5347b7c2b4
Device TT fw 2.3.4 commit 55baf3a

[2020-10-07 07:34] bosomt commented on #2022
@slowbackspace @szymonlesisz

that total ETH valuse is not correct
it says value of ETH and not token value.
It looks like you are sending 0.25eth /85$

![image](https://user-images.githubusercontent.com/31506317/95300999-42885880-0880-11eb-9e21-81c43fbfce78.png)

Nixos + Chromium 85
Suite staging commit a96a688
Device TT fw 2.3.4 commit 55baf3a

[2020-10-07 07:53] bosomt commented on #2324
Give feedback leads to dead end ;( https://www.typeform.com/private-typeform

![image](https://user-images.githubusercontent.com/31506317/95302993-f12d9880-0882-11eb-92a2-344f78cd1b2e.png)

Nixos + Chromium 85
Suite staging commit a96a688
Device TT fw 2.3.4 commit 55baf3a

[2020-10-07 09:05] #2247 closed, assigned to slowbackspace

[2020-10-07 09:05] #2336 closed, assigned to slowbackspace

[2020-10-07 09:05] #2340 closed, assigned to slowbackspace

[2020-10-07 09:21] wendys-cats commented on #2450
**QA OK**

Nixos + Chromium 85
Suite dev web commit 426ce98fbcb16af057d8b2f5d636f88f4e374a23
Device TT FW 2.3.4 revision 55baf3a

[2020-10-07 09:41] glacierbits opened #2535 "Improve Send ERC20 UI"
[Zeplin](https://zpl.io/25Rz6GJ)

[2020-10-07 09:54] glacierbits opened #2536 "Fee level won't update"
![ezgif-6-063cee6b6d51](https://user-images.githubusercontent.com/29627086/95316224-d31c6400-0893-11eb-80b1-855e2969ab24.gif)

[2020-10-07 11:10] bosomt commented on #2022
same on web dev master

Nixos + Chromium 85
Suite staging commit a735c49a28ba97569e9dab9d40794a381480690f
Device TT fw 2.3.4 commit 55baf3a

![image](https://user-images.githubusercontent.com/31506317/95323400-635fa680-089e-11eb-8185-6ded37ad6334.png)

[2020-10-07 13:22] slowbackspace commented on #2310
@matejzak I think we had a discussion where I convinced you current layout is not that bad after all (because of reserved space for crypto/fiat value next to the fee selector), togerther with @robertbrada's recent improvements I think we can close the issue!

[2020-10-07 13:26] slowbackspace commented on #2112
@bosomt closing the issue as it was for onboarding only 😝

[2020-10-07 13:26] #2112 closed, assigned to slowbackspace

[2020-10-07 13:38] slowbackspace commented on #2112
ohoohoh, looks like it is also fixed already!

[2020-10-07 13:44] bosomt opened #2539 "Onboarding web links inconsistency"
**Info:**
 - OS: Windows 10
 - Wallet Version: app 20.10.1 freeze 426ce98fbcb16af057d8b2f5d636f88f4e374a23
 - Firmware Version: 2.3.4 model , revision 55baf3a

**Describe the bug**

During start of onboarding I see 3 types of links that look or behave different way.
there are even different font colors and sizes in modal headers

**Steps to reproduce:**
1. start Suite app
2. connect empty device
3

[2020-10-07 14:56] bosomt opened #2541 "Onboarding - Device Firmware update process logic"
**Info:**
 - OS: Nixos + Windows 10
 - Wallet Version: 20.10.1 app, commit 426ce98fbcb16af057d8b2f5d636f88f4e374a23
 - Firmware Version: 2.3.1 model T, revision c6b2580cd

**Describe the bug**
Looks like Suite is not detecting FW version correctly during model T FW update When in bootloader mode.
Please see video. I was able to replicate it via Nixos and Windows app builds.
No idea if it shows boo

[2020-10-07 14:59] robertbrada commented on #2513
Sadly, it seems like the library can't be integrated that easily to Suite.
One thing is, that the library is written in TypeScript only and has to be transpiled to JavaScript before use.
Transpiling the library is a solvable thing, however, another strange error message appears after the library is transpiled to JavaScript. I don't know what to do with that easily, so I will move to working on oth

[2020-10-07 15:51] sorooris opened #2542 "Unable to factory reset or wipe a locked device"
OS: NixOS
Browser: Chromium 85.0.4183.102
Suite: web staging, commit 426ce98fbcb16af057d8b2f5d636f88f4e374a23
Firmware Version: any (tested 2.3.4 50854b921, regular and btc-only)

**Describe the bug**
There is no way to wipe or factory reset device with Suite when device is locked (for example when user forgets their PIN code) compared to the possibility of factory-resetting device in MyTrezor Wal

[2020-10-07 16:07] sorooris commented on #2368
**QA OK**

[2020-10-07 16:36] sorooris commented on #2283
QA NOK

Unexpected behavior and visual when editing (default/unchanged) labels.

- The original **title** of the account **vanishes and is replaced** by a checkmark and a cross sign during label editing.
- **No cursor is displayed** even when the focus is in the input field.
- There is no way to **click back into the input field** once clicked anywhere else & the input is empty.

I would expect th

[2020-10-07 16:38] glacierbits opened #2544 "Add translations for landing page manually"
<s>Please _"Crowdin-ify"_ Suite landing page: https://suite.corp.sldev.cz/suite-web-landing/develop/  </s>

Let's replace the texts manually.

[2020-10-07 16:38] sorooris commented on #2358
**QA OK**

Suite: web staging, commit 426ce98
Browser: Chromium 85.0.4183.102
OS: NixOS
Firmware Version: 2.3.4 50854b921

[2020-10-07 16:40] sorooris commented on #2353
**QA OK**

- [x] labels in search Accounts
- [x] bug #2358

Suite: web staging, commit 426ce98
Browser: Chromium 85.0.4183.102
OS: NixOS
Firmware Version: 2.3.4 50854b921

[2020-10-07 16:44] sorooris commented on #2416
**QA OK**

- [x] staging
- [ ] production

![image](https://user-images.githubusercontent.com/10185314/95361543-27900580-08cd-11eb-9c11-8091c19c3a27.png)

Suite: web staging, commit 426ce98
Browser: Chromium 85.0.4183.102
OS: NixOS
Firmware Version: 2.3.4 50854b921

[2020-10-07 16:47] glacierbits commented on #2324
- Optimize pictures (larger resolution)
- Update Give feedback link

[2020-10-07 17:06] #2240 closed, assigned to slowbackspace

[2020-10-07 17:55] tsusanka commented on #2513
Ah pity. Yeah let's move it to backlog then and worry about this later.

[2020-10-08 06:41] glacierbits commented on #2310
Agreed! However, it would still be nice to optimize the box so it doesn't jump (since we already optimized spacing for the errors everywhere else in the form) when `custom` fee applied. I will try to come up with a better design solution.

Suggestions:

- Spacing beneath the input is too large
- Error should overflow (not wrap)

[2020-10-08 06:52] glacierbits commented on #2211
@bosomt I am closing the issue to move it to the `merged` column for testing. If you won't be able to reproduce it, feel free to move it to `approved.` Thanks!

[2020-10-08 07:36] tsusanka commented on #2541
Firmware prints firmware version in the `major_version`, `minor_version` and `patch_version` fields when in firmware but bootloader version when in bootloader (I agree that might be confusing).

[2020-10-08 07:38] #2272 closed, assigned to slowbackspace

[2020-10-08 08:54] bosomt commented on #2319
I think this is related to same issue.
When you witch between wallets or you go to settings and you go back then account in the right panel is always account from coin that was loaded to suit earlier and you have to click on account on left to change it.

[code]

https://www.youtube.com/watch?v=JdNXOqfCtUk&feature=youtu.be

![image](https://user-images.githubusercontent.com/31506317/95435350-c3178

[2020-10-08 09:11] slowbackspace commented on #2319
@bosomt good catch, I guess I should probably reset coin filter on wallet change.

[2020-10-08 09:12] #2535 closed, assigned to szymonlesisz

[2020-10-08 09:39] #2324 closed, assigned to tomexx

[2020-10-08 09:49] bosomt opened #2549 "Ethereum Transactions Details are missing ERC20 info"
**Info:**
 - OS: Nixos  + Windows
 - Browser: Chromium , version 85
 - Wallet Version: web, commit 3240a95b49269692b73fcfbdff3a26f61b13bffe + 20.10.1 version
 - Firmware Version: TT model 2.3.4 , revision 50854b921

**Describe the bug**
There is no information about sent ERC20 tokens. Transaction detail only shows fees.

**Steps to reproduce:**
1. Load Eth accounts in Suite
2. find ERC20 transacti

[2020-10-08 09:54] sorooris opened #2550 "App download - MacOS zip contents, unable to install app"
**Info:**
 - OS: any
 - Browser: N/A
 - Suite Version: .zip from staging 426ce98f
 - Firmware Version: N/A

**Describe the bug**
Contents of the .zip file of the MacOS version does not allow installation of the app.

**Steps to reproduce:**
1. Navigate to the landing page
2. Select the MacOS version of the app and download the .zip file
3. Unpack the .zip file

**Expected result:**
A .dmg or .pkg

[2020-10-08 09:57] wendys-cats commented on #2536
duplicate of https://github.com/trezor/trezor-suite/issues/2023#issuecomment-651112624

[2020-10-08 10:28] wendys-cats commented on #2536
**QA NOK**

Nixos OS + Chromium 85
Device TT 2.3.4 public (50854b921)
**SUITE Branch:** develop **Type:** web **Commit:** **426ce98fbcb16af057d8b2f5d636f88f4e374a23**

**Expected**
Fee level will update everytime the user changes it correctly.

**Actual**
When Custom fee is changed: Send button dissapears alltogether when the fee type is changed from Custom to something else, even if the total sum

[2020-10-08 11:16] prusnak commented on #2550
That's happening because we create ZIP both for Windows and MacOS. The CI randomly overwrites the ZIP result (depending on which job was run as the last).

We should be serving DMG or PKG as the final installer file for macOS and not ZIP (which is just an intermediate product).

[2020-10-08 12:29] glacierbits opened #2552 "Add new Account tab: Trade [SOON]"
Note: The copy will likely change, add it to Crowdin please.

- [ ]  Tab "Trade" (disabled of course)
- [ ]  Tag "SOON" as shown on the Exchange, Spend sub-tab

[Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f7eeac0813e4db7e7d0eaef)

[2020-10-08 12:35] mroz22 commented on #2541
Yeah, I know this oddity. Just missed it in this screen. This is easy to fix. Just need to print another variable.

[2020-10-08 12:44] wendys-cats commented on #2324
@matejzak you cannot access Suite form [this](https://suite.corp.sldev.cz/suite-web-landing/develop/) landing page. Is that intended behavior? Also, the landing page can be seen [here](https://suite.corp.sldev.cz/suite-web/develop/) as well.

[2020-10-08 12:52] glacierbits opened #2554 "ETH transaction detail: Input shortened"
The transaction input is shortened for no particular reason.

<img width="803" alt="Screenshot 2020-10-08 at 14 51 11" src="https://user-images.githubusercontent.com/29627086/95460824-b9ebe400-0975-11eb-90a4-21a2a424619c.png">

[2020-10-08 13:00] glacierbits commented on #2549
I suggest the following (to be consistent with current state of things in Send):

- [ ] Header: Receive / Sent `ERC20 token`

- [ ] Amount: n `ERC20 token`

- [ ] Fee: n `ETH`

<img width="787" alt="Screenshot 2020-10-08 at 14 57 29" src="https://user-images.githubusercontent.com/29627086/95461500-98d7c300-0976-11eb-8ab4-805f3db4afff.png">

[2020-10-08 13:11] glacierbits opened #2555 "Tokens: Unnecessary overflow"
Let's aling `Balance – USDT` in one line.

<img width="820" alt="Screenshot 2020-10-08 at 15 06 00" src="https://user-images.githubusercontent.com/29627086/95462430-ca04c300-0977-11eb-8c07-1c0ed1814571.png">

[2020-10-08 13:52] glacierbits commented on #1035
Will be fixed by #2549

[2020-10-08 13:52] #1035 closed, assigned to glacierbits

[2020-10-08 15:35] glacierbits opened #2556 "Filter & Search: Empty states improvement"
- [ ] Remove the coin icon when only 1 coin enabled: **[Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f7f305f0dd94258e3c916f3/)**

- [ ] Show empty state for no search results: **[Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f7f3060de903040bba7b176/)**

[2020-10-08 15:49] keraf commented on #2445
Just started looking into this. I have some concerns about bundling Tor with Suite:
- I can't find standalone Tor binaries, everything seems to come bundled with TorBrowser.
- Keeping a third-party application up-to-date within Suite is an additional job and responsibility.
- Users who are interested in Tor support might already have it installed.

The approach I would prefer is, when the user wan

[2020-10-08 16:01] glacierbits opened #2558 "Device Dis/connected: Switch Wallet Navigation"
The text should appear (please animate) for ± 1 second upon the device connection state change.

- [ ] Connected: https://zpl.io/bAoAGOq
- [ ] Disconnected: https://zpl.io/2vJyWGn

[2020-10-08 17:46] tomexx commented on #2412
I've recreated Mac style navbar controls + for Windows and Linux I created a very generic design of the controls. Please feel free to criticise.

![image](https://user-images.githubusercontent.com/2822756/95494893-e9fbad00-099e-11eb-879b-71291f51f115.png)

![image](https://user-images.githubusercontent.com/2822756/95494923-f849c900-099e-11eb-8518-6b2d6f87613d.png)

[2020-10-08 17:51] robertbrada commented on #2480
Visual improvements are done. Code for **Jump to value on keypress** feature is ready and working, but it was kinda hacky to make it work. So I will make a separate PR for that feature because there might be some new errors.

[2020-10-08 17:55] tsusanka opened #2560 "Fetch releases from our servers not Github in the autoupdater"
We currently fetch releases from Github. For privacy and availability reasons let's switch to our servers.

[2020-10-08 18:02] wendys-cats commented on #2211
**QA NOK**
**Issue persists**
Nixos OS + Chromium 85 (and Windows10 Home Edition + APP commit bcf7ad8a43857cd90086a558a49c23a0df65216c)
Nixos OS + APP commit bcf7ad8a43857cd90086a558a49c23a0df65216c

**Expected**
Timestamps will be correct on transaction lists

**Actual**
Timestamps are not the same, APP for Nixos ignores time zones, while web version and app for Windows check timezones and adjust

[2020-10-08 18:04] tsusanka commented on #1350
This should be done but we need to test it. @prusnak will push into `codesign` branch when we create the `release/2020-10` branch. QA will test it then. I think we close this issue unless @keraf thinks otherwise.

[2020-10-09 06:43] mark-stopka commented on #4869
@szymonlesisz I can confirm this issue on Mac OS X Brave browser, I have solved it as @SebastienGllmt suggested by using `don't ask me again`...

Yes, and the Trezor was brand new...

[2020-10-09 08:38] slowbackspace opened #2561 "Different feedback form url between landing page and suite"
correct url: https://satoshilabs.typeform.com/to/Dqb71wm1

[2020-10-09 08:57] tsusanka commented on #2528
The Google will be hidden for the release. We will fix this later.

[2020-10-09 09:09] tsusanka commented on #2544
As discussed let's merge #2551 after the release. For now let's replace the texts manually.

[2020-10-09 09:11] tsusanka opened #2562 "Add translations for landing page via Crowdin"
Please "Crowdin-ify" Suite landing page: https://suite.corp.sldev.cz/suite-web-landing/develop/

PR in #2551. Continue of #2544

[2020-10-09 09:18] prusnak commented on #2445
I agree we should try detecting Tor first, if it is running, use the external instance.

Otherwise we will start the bundled instance, binaries are here:
* https://dist.torproject.org/torbrowser/10.0/tor-win32-0.4.4.5.zip
* https://dist.torproject.org/torbrowser/10.0/tor-win64-0.4.4.5.zip
* https://dist.torproject.org/torbrowser/10.0/tor-linux32-debug.tar.xz
* https://dist.torproject.org/torbrowse

[2020-10-09 09:58] wendys-cats opened #2563 "Remembered wallet accessible without device on Suite APP"
**Info:**
 - **OS:** Windows 10
 - **Suite Type:** APP **Commit:** bcf7ad8a43857cd90086a558a49c23a0df65216c
 - **Firmware:** 2.3.4 TT **revision** 50854b921

**Describe the bug**
User installs a new version of Suite APP after a longer period of not using it (a month, in this case). If user had a wallet ticked off as remembered, this new version of Suite APP will open with this wallet - with no dev

[2020-10-09 10:04] #2550 closed, assigned to keraf

[2020-10-09 10:08] #2554 closed, assigned to robertbrada

[2020-10-09 10:27] tsusanka commented on #2563
Thanks. Let's not rush this one into the release though. I agree we might add a warning in case the device has not been connected for some period. Maybe a week? To be discussed.

[2020-10-09 11:04] slowbackspace commented on #2563
imo it is okay that suite shows remembered device as we don't really want to force users to remember a device again and again after each upgrade, but the stored data (account balances, transactions...) should get refreshed since we don't need a connected device for this. That is a bug.

[2020-10-09 11:10] prusnak commented on #2445
It seems the Tor project does not provide the binaries for general use, and the ones I linked above are mean to be used within the Tor Browser only. :-/

Other option is to use Tor binaries built by Wasabi wallet: https://github.com/zkSNACKs/WalletWasabi/tree/master/WalletWasabi/TorDaemons

I will evaluate the options and let you know.

[2020-10-09 11:13] #1208 closed, assigned to nobody

[2020-10-09 11:48] #2549 closed, assigned to slowbackspace

[2020-10-09 12:58] #2534 closed, assigned to mroz22

[2020-10-09 12:58] #2525 closed, assigned to keraf

[2020-10-09 12:59] #1790 closed, assigned to keraf

[2020-10-09 13:00] #649 closed, assigned to keraf

[2020-10-09 13:00] #1350 closed, assigned to prusnak

[2020-10-09 13:01] tsusanka commented on #2283
Should be fixed by https://github.com/trezor/trezor-suite/pull/2547.

[2020-10-09 13:32] #2561 closed, assigned to robertbrada

[2020-10-09 14:44] tsusanka opened #2568 "Add pre-release runtime flag"
Add pre-release runtime flag for  the auto-updater.

https://github.com/trezor/trezor-suite/pull/2566 failed on CI. I have reverted it. I am creating a new issue to track it just to make sure.

[2020-10-09 15:28] slowbackspace opened #2569 "Duplicate svg coinmarket-error and uni-error"
[code]

[2020-10-09 15:29] slowbackspace opened #2570 "Duplicate images uni-error and coinmarket-error"
[code]

[2020-10-09 15:29] #2570 closed, assigned to nobody

[2020-10-09 15:36] #2552 closed, assigned to slowbackspace

[2020-10-09 15:37] mroz22 commented on #2569
I understand that author maybe wants to have own error image in the future but does not have it yet. So copied and renamed already existing image as a temporary placeholder? @vladimirvolek

[2020-10-09 15:47] vladimirvolek commented on #2569
Yes, what should I do? Use the uni-error.svg?

[2020-10-09 16:52] glacierbits opened #2572 "Update closed beta landing page"
This is to be worried about after the Public release.
Prerequisite for Closed beta release.

- [x] Update text (Closed beta, Trezor Suite etc.)
- [x] Update logo (Trezor Suite)
- [x] Update link from the 1st secondary button (destination: suite.trezor.io)

[2020-10-09 17:01] glacierbits opened #2573 "Data collection: Run time and more.."
**Log:**

- [ ] Run time (session length?) - For now based on Session ID
- [ ] Maximazed / minimazed app (session length for each?)
- [ ] Number of connected devices at one time
- [x] Device model detection (T / One)

[2020-10-09 17:25] mroz22 opened #2574 "Question: process.env.BUILD"
It seems to me that `process.env.BUILD` is not used anywhere:

There is a reference in isDev function which itself is being used but imho works thanks to `process.env.NODE_ENV`
https://github.com/trezor/trezor-suite/blob/83d184e8876f4e6542a8614d1a93ba1a5f823578/packages/suite/src/utils/suite/build.ts#L1-L8

And in a comment here:

https://github.com/trezor/trezor-suite/blob/83d184e8876f4e6542a8614

[2020-10-10 10:46] keraf commented on #2574
I had a look around and it doesn't seem to be used anywhere from what I can see (not in code, configs or CI). Maybe @szymonlesisz has an idea if it's still (planning to be) used?

[2020-10-10 10:47] #2568 closed, assigned to keraf

[2020-10-10 10:56] prusnak commented on #2574
This sounds reasonable.

[2020-10-10 15:30] mroz22 commented on #2569
[code]
:D

[2020-10-11 11:07] SimonVillage commented on #231
almost one year later still nothing :)

[2020-10-11 11:18] glacierbits commented on #231
Already implemented.

[2020-10-11 11:23] SimonVillage commented on #231
But receiving with trezor wallet is still not possible?

https://wiki.trezor.io/Bech32

Edit: Got it, trezor suite is a different product ;)

[2020-10-11 11:28] glacierbits commented on #231
Exactly :) Since we are talking, Trezor Suite will go live (public beta) this upcoming Wednesday, and the wiki will get updated to reflect various products. 🤞

[2020-10-11 11:51] mroz22 opened #2575 "upgrade dropbox lib"
- Upgrade `dropbox` lib to the latest version (7, realased 4 days ago). [Guide](https://github.com/dropbox/dropbox-sdk-js/blob/master/UPGRADING.md)
- my-trezor dependency ⚠️

[2020-10-11 15:42] nayuki commented on #2513
This is a mysterious compiler error message indeed. It looks like you might be using babel? The mentions of "Expression" and "TSModuleBlock" could suggest that you are using the wrong input version or output version of the ECMAScript standard. I'm just using Microsoft's tsc compiler.

[2020-10-11 22:30] sorooris commented on #2552
**QA OK**

Trade tab is displayed with the soon tag correctly; disabled correctly.

![image](https://user-images.githubusercontent.com/10185314/95691666-04dd5400-0c21-11eb-9cae-ebf629f708d8.png)

[2020-10-11 22:47] sorooris commented on #1350
**QA OK**

Installation wasn't blocked on my machine, I've instructed @wendys-cats and @bosomt to verify this issue as well - I'll move it to Approved after they confirm QA OK.

[2020-10-11 22:49] sorooris commented on #2492
**QA OK**

Couldn't replicate the bug.

[2020-10-11 23:25] sorooris opened #2578 "Hidden wallet - Standard wallet seemingly included with the hidden wallet numbers"
**Description**
Misleading numbering when a Standard, non-passphrase, wallet is added.

**Steps to reproduce:**
**A)**
1. Add a Standard wallet
2. Add a Hidden wallet
3. Observe

**B)**
1. Add a Hidden wallet
2. Add a Standard wallet
3. Observe

**Expected result:**
Standard wallet is not seemingly included in how Hidden wallets are numbered.

**Actual result:**
A) Hidden wallet is numbered # 2 an

[2020-10-11 23:26] sorooris commented on #2467
**QA OK**

Hidden wallet is not missing numbers anymore but found a related issue - #2578.

[2020-10-11 23:52] sorooris commented on #2283
**QA NOK**

Placeholder text is not displayed and is instead deleted compared to the [Zeplin design](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f3bf73d694a9912ac30606f) from #2534. Same behavior both when editing the default name and the custom one. @matejzak please confirm this behavior is correct - if so, then moving to Approved.

Zeplin:
![image](https://user-images.githubus

[2020-10-11 23:52] sorooris commented on #2534
**QA OK**

 - [x] Rename Account – Cursor is not visible
 - [x] Remove the original name
 - [x]  Rename Wallet

[2020-10-12 00:03] sorooris commented on #649
What is the trigger for update? I couldn't find it in the pull requests.

[2020-10-12 00:14] sorooris commented on #2240
**QA OK**

CTA includes a terciary _Continue_ button that redirects _Settings_ -> _Device_ correctly.

[2020-10-12 00:23] sorooris commented on #2554
**QA OK**

![image](https://user-images.githubusercontent.com/10185314/95694329-cac87e00-0c31-11eb-90c4-2869b0506518.png)

[2020-10-12 00:28] sorooris commented on #649
FYI The update button is stuck in the _Checking..._ state permanently.
![image](https://user-images.githubusercontent.com/10185314/95694471-8ab5cb00-0c32-11eb-97e6-2f028316d239.png)

[2020-10-12 07:15] tsusanka commented on #1350
Wait that is weird because the builds were not signed yet (due to the mac runner also for windows :( ). So your system probably got some exception?

[2020-10-12 07:17] tsusanka commented on #649
Yes apologies, there is a process we need to go through to be able to test it out. We'll let you know.

[2020-10-12 07:18] bosomt commented on #1350
**QA OK**

Windows 10
Suite commit a26355244abe0850d23e6c353b5e157f44f12694

[2020-10-12 07:46] zmluvny-jednorozec commented on #1350
**QA OK**

Windows 10 Home 19041.508
Suite Type: app 20.10.1 a26355244abe0850d23e6c353b5e157f44f12694
Device TT 2.3.4 50854b921

Windows Defender flagged it in my system and asked if I want to run it (BUT my settings are to ask about any change before).

[2020-10-12 07:54] sorooris commented on #1350
@tsusanka what do we do?

what about this? https://www.microsoft.com/en-us/wdsi/filesubmission

[2020-10-12 07:55] mroz22 commented on #2283
Discussed with @matejzak that this is good enough for this release.

[2020-10-12 08:01] glacierbits commented on #2283
Correct, aiming for the next release. Thanks for the check though.

[2020-10-12 08:01] #2283 closed, assigned to mroz22

[2020-10-12 08:06] bosomt commented on #2549
**QA OK**

Microsoft Windows [Version 10.0.18363.1082]
Suite win app commit a26355244abe0850d23e6c353b5e157f44f12694
Device Trezor model T 2.3.4

[2020-10-12 08:14] bosomt commented on #2535
**QA OK**

Windows 10
Suite win app commit a26355244abe0850d23e6c353b5e157f44f12694
Device Trezor model T 2.3.4

[2020-10-12 08:18] bosomt commented on #2336
**QA OK**

Microsoft Windows [Version 10.0.18363.1082]
Suite win app commit a26355244abe0850d23e6c353b5e157f44f12694
Device Trezor model T 2.3.4

[2020-10-12 08:19] bosomt commented on #2525
**QA OK**

Microsoft Windows [Version 10.0.18363.1082]
Suite win app commit a26355244abe0850d23e6c353b5e157f44f12694
Device Trezor model T 2.3.4

[2020-10-12 08:46] bosomt commented on #2406
**QA OK**

Microsoft Windows [Version 10.0.18363.1082]
Suite win app commit a26355244abe0850d23e6c353b5e157f44f12694
Device Trezor model T 2.3.4

[2020-10-12 09:03] sorooris commented on #2283
OK, thanks.

[2020-10-12 09:09] #2161 closed, assigned to mroz22

[2020-10-12 09:11] tsusanka commented on #1350
I think this should not happen in case the app is signed. Let's discuss this after it is signed.

[2020-10-12 09:18] prusnak commented on #1350
I tested the non-signed binary yesterday on my Windows 10 machine and oddly enough, there were no extra dialog screens. It started right away without any questions. :shrug:

[2020-10-12 09:41] sorooris commented on #2369
**QA OK**

 - [x] Check svg spinners
 - [x] Remove animation from connect device modal

[2020-10-12 09:53] bosomt commented on #2161
@matejzak
is there anything that can be tested on our side ?

[2020-10-12 09:57] keraf commented on #2445
@matejzak Do we have some designs for this? For both web and desktop, I think we should display an icon somewhere when it's in Tor mode (like an onion). For desktop only, we should have a place to set the port of the local Tor proxy and a button to switch it on/off.

[2020-10-12 10:04] szymonlesisz commented on #2536
oh, you were testing on outdated branch :) 426ce98 was 2 days old while closing this.
it should be fixed on the upcoming build 0e4aaf9

[2020-10-12 10:04] #2536 closed, assigned to szymonlesisz

[2020-10-12 10:12] bosomt commented on #2324
**staging-suite.t.io** and **suite.corp.sldev**
works fine including linked web Suite
@wendys-cats can I move it to approved ?

[2020-10-12 10:34] bosomt commented on #2340
**QA OK**

Microsoft Windows [Version 10.0.18363.1082]
Suite win app commit a26355244abe0850d23e6c353b5e157f44f12694
Device Trezor model T 2.3.4

[2020-10-12 10:40] bosomt commented on #2561
**QA OK**

Microsoft Windows [Version 10.0.18363.1082]
Suite win app commit a26355244abe0850d23e6c353b5e157f44f12694
Device Trezor model T 2.3.4

[2020-10-12 11:02] zmluvny-jednorozec commented on #2324
@bosomt bmg, I was only waiting for confirmation from @matejzak.

[2020-10-12 11:18] wendys-cats commented on #2324
@bosom yes, I was only waiting for confirmation from @matejzak.

[2020-10-12 11:39] bosomt commented on #2324
**QA OK**

Microsoft Windows [Version 10.0.18363.1082]
Suite dev master eeeed810de4baf9995cb968475f7a9c4ca6c44d2
Device Trezor model T 2.3.4

[2020-10-12 12:17] mroz22 commented on #2507
should already be fixed

[2020-10-12 12:17] #2507 closed, assigned to mroz22

[2020-10-12 12:17] mroz22 commented on #2276
done!

[2020-10-12 12:17] #2276 closed, assigned to mroz22

[2020-10-12 12:20] bosomt commented on #2022
**QA NOK**

Microsoft Windows [Version 10.0.18363.1082]
Suite win app commit a26355244abe0850d23e6c353b5e157f44f12694
Device Trezor model T 2.3.4

by removing total ETH value or maybe not you made possible to send 0 of ERC20 tokens :)
You can even sign it. When you send it it says `Sign transaction error: replacement transaction underpriced`
Can you please check it ? @keraf @szymonlesisz , ro do y

[2020-10-12 12:35] wendys-cats commented on #1350
Actually, I think it should happen in my particular case even if the app is signed, my settings are specifically set to ask about any potential system change and/or permissions. But we can when the app is signed with and without these settings and find out.

[2020-10-12 12:42] bosomt commented on #2440
@matejzak is there anything that we can test in this issue  ?

[2020-10-12 13:21] sorooris commented on #2440
@bosomt design can be tested once [this PR](https://github.com/trezor/trezor-suite/pull/2478) is ready .

[2020-10-12 14:30] sorooris opened #2582 "Electron app's default window size too narrow"
**Describe the bug**
Suite electron app opens in a very narrow window size.

**Steps to reproduce:**
1. Start a new instance of the app,
2. Observe.

**Expected result:**
The app opens in a standard ratio (width > height).

**Actual result:**
The app opens in a ratio, where the height is greater than the width.

**Screenshots:**
![image](https://user-images.githubusercontent.com/10185314/95757921-

[2020-10-12 14:33] sorooris commented on #2161
@bosomt
@mroz22 writes:
Analytics (low priority, leave it as the last one maybe):
I am going to validate it after the freeze as well, but we should take care that it never sends any data if it is disabled.
That it works on all platforms and sends data to correct endpoints. You will probably need some tool to intercept network communication (https://www.telerik.com/fiddler) But maybe it will be eas

[2020-10-12 14:33] sorooris commented on #2004
@bosomt see https://github.com/trezor/trezor-suite/issues/2161#issuecomment-707157840

[2020-10-12 14:37] keraf commented on #2582
I think we can set the default to the current screen resolution with a 10-20% gap around and with min and max values.

[2020-10-12 15:06] tsusanka opened #2584 "Create .deb and .rpm linux packages?"
Since this should cover most of Linux users let's bundle the AppImage in .deb and .rpm packages?

[2020-10-12 15:07] prusnak commented on #2584
Nah, AppImage is de-facto standard these days.

[2020-10-12 15:43] keraf commented on #2584
They are easy to generate, we could provide them (including more options like archives on all platforms). The auto-updater also only works with AppImage, so we would have to provide other ways to keep it up to date (publishing to a repo for example). I guess not a priority but it would be nice to have more options :slightly_smiling_face:

[2020-10-12 15:47] prusnak commented on #2584
My take: This adds lot of work everywhere (release management, code signing, support, web development for distro detection, etc.) for no apparent good reason. Is there a Linux distribution (which we want to support) which does not support AppImage?

[2020-10-12 16:28] #2458 closed, assigned to keraf

[2020-10-12 20:18] tsusanka commented on #2584
I am not very keen on it myself. @slush0 asked for it, so let me figure out how strong his feelings are. I didn't know AppImage is that widely supported TBH.

[2020-10-12 20:56] slush0 commented on #2584
Does AppImage provide stuff like creating desktop/startup menu shortcut, installing itself into system directory, installing system services or starting after system startup etc?

I didn't specifically asked for DEB, but for tighter integration with OS.

[2020-10-12 23:19] mroz22 commented on #2456
Ah, interesting. It hangs here
https://github.com/trezor/trezor-suite/blob/e4ce82bf39a57e6e7a2bb37de9c9acd61ed35df1/packages/suite/src/actions/suite/routerActions.ts#L44-L49
because modal.context is set to `@modal/context-device` (ui-request-passphrase). But it happens in async mannner. I don't know before clicking "update" button that device is going to ask for passphrase so I can't wait for it.

[2020-10-13 06:47] #2582 closed, assigned to keraf

[2020-10-13 06:48] #2574 closed, assigned to nobody

[2020-10-13 06:50] tsusanka opened #2588 "Redundant scroll bar in onboarding"
I am using desktop version in fullscreen and my viewport size is 1920 × 948 based on whatismyviewport.com.

![image](https://user-images.githubusercontent.com/1835345/95825228-d5b60800-0d30-11eb-8d6c-99a2581ebbfb.png)

Revision: b8ea32c7bce1702e0c990324921df77c5669152a
OS: NixOS
Browser: Firefox 81

[2020-10-13 07:06] mroz22 commented on #2541
There are two problems here:
1. wrong action taken upon clickig on retry button. it should retry firmware update right away probably?  Well, I am not sure about that but it seems better to me than to reset to the initial firmware screen. Something is done here https://github.com/trezor/trezor-suite/pull/2587
1. "code" of null shall be separate issue. This is something in trezord / trezor-link and

[2020-10-13 07:08] mroz22 commented on #2588
This is probably going to happen more often now as the copy team is doing their work. But yeah, we probably should scale the image instead of addding scrollbar? I don't know :thinking:

[2020-10-13 07:11] tsusanka commented on #2588
Could someone confirm this happens to them as well? If it affects more of us and is easy let's fix it now.

[2020-10-13 07:18] tsusanka commented on #2325
PR in https://github.com/satoshilabs/mytrezor/pull/956

[2020-10-13 07:54] mroz22 commented on #2588
From what I remember it shall affect every user at the moment. This modal window has fixed dimensions. But what is the fix? Scaling down the image if needed?

[2020-10-13 08:14] szymonlesisz commented on #2022
this has nothing to do with ReviewTransaction modal or removing "total eth" from it.
Those elements ale only visual parts of the sign transaction process.
"replacement transaction underpriced" means that you are trying to send using the same "nonce" as in previous pending tx (nonce = sequence number similar to RBF in bitcoin)

Pls open separate issue for that with detailed description how to simul

[2020-10-13 08:16] szymonlesisz commented on #1971
last reported issue should be fixed by https://github.com/trezor/connect/commit/bcfc6e1033968dd314378d306fcd3c2766e0565e

[2020-10-13 08:16] #1971 closed, assigned to szymonlesisz

[2020-10-13 08:30] tsusanka opened #2591 "Add latest 2.3.4 firmware"
When I have 2.3.3 on my model T Suite says it is the latest but we have released 2.3.4 already a week ago. I think just some sync is needed? We should do it before the release. cc @szymonlesisz

[2020-10-13 08:33] szymonlesisz commented on #2591
it's waiting to be merged and released in connect:
https://github.com/trezor/connect/pull/692

[2020-10-13 08:37] tsusanka commented on #1350
Please test again with latest signed binaries sent via Slack.

[2020-10-13 09:02] bosomt opened #2593 "You can send 0 ERC20 ETH tokens"
**Info:**
 - OS: Microsoft Windows [Version 10.0.18363.1082]
 - Wallet Version: app, commit b8ea32c7bce1702e0c990324921df77c5669152a
 - Firmware Version: 2.3.4 model TT

**Describe the bug**

You are allowed to send 0 amount of ERC20 tokens when there 0 balance of token in account.
I was not able to reproduce this issue when there is balance higher than 0.

**Steps to reproduce:**
1. load ETH acco

[2020-10-13 09:02] bosomt commented on #2022
https://github.com/trezor/trezor-suite/issues/2593 created

[2020-10-13 09:03] bosomt commented on #2022
QA OK

Microsoft Windows [Version 10.0.18363.1082]
Suite win app commit a263552
Device Trezor model T 2.3.4

[2020-10-13 09:03] #2022 closed, assigned to szymonlesisz

[2020-10-13 09:07] glacierbits opened #2594 "Changelog"
## 👋 Say hello to Trezor Suite!
`Welcome to the first public beta version`

### 🔑  Key features

- Desktop app
- Bech32 accounts
- Send & Receive experience
- Coin discovery UX and performance
- Historic rates for supported coins .. and more!

### 🌟 Improvements
- Rename accounts, wallets, addresses
- Filter accounts, incl. account labels
- Snack notifications design
- Transaction detail modal
- P

[2020-10-13 09:10] tsusanka opened #2595 "Checking.. button in settings is stuck"
As reported in https://github.com/trezor/trezor-suite/issues/649#issuecomment-706794717. I am creating a new issue to make sure it does not get lost. The update probably errors out and does not reset the state of the button.

[2020-10-13 09:12] slowbackspace commented on #2558
@matejzak could we get some preview of how the animation should look like from a designer? Simple fade in/out effect or something more complex like the text should slide out from the icon to the left side and then slide back in?

[2020-10-13 09:17] bosomt commented on #1350
@tsusanka no threats found /binary and installer were tested/

[2020-10-13 09:23] slowbackspace commented on #1123
wow, this design needs an update! 😬

[2020-10-13 09:29] glacierbits commented on #1123
Let's close it and pretend it didn't happen. Just kidding, new design #2085

[2020-10-13 09:29] #1123 closed, assigned to slowbackspace

[2020-10-13 09:32] glacierbits commented on #2558
For sure! Thanks for asking. We have this prototyped actually, just need to find the file. Not sure what the effect is called, but I remember it rolled out from side, fading in letter by letter (and back).

[2020-10-13 09:56] keraf commented on #2584
That's currently an issue with AppImage with Electron Builder. It used to offer desktop integration but now recommends to rely on AppImageLauncher which is up to the users to install ([read more](https://www.electron.build/configuration/appimage)). On the latest Ubuntu for example, you can run AppImage without problem but it doesn't install, meaning some of the features like custom protocols don't

[2020-10-13 10:19] #2591 closed, assigned to szymonlesisz

[2020-10-13 11:25] slowbackspace opened #2599 "Onboarding steps: incosistent subheading and description styles"
![Screen Recording 2020-10-13 at 13 03 15](https://user-images.githubusercontent.com/6961901/95854673-8cc57a00-0d57-11eb-9823-6f7225e945bc.gif)

[2020-10-13 12:14] robertbrada commented on #2558
How do I practically achieve the "**DISCONECTED**" state to appear? When I unplug the device, _**Connect and unlock your Trezor**_ modal appears and I can't see wallet state.

[2020-10-13 12:16] glacierbits commented on #2558
You have to "remember" the device first (in wallet switch modal).

[2020-10-13 12:42] #2593 closed, assigned to szymonlesisz

[2020-10-13 13:06] #2544 closed, assigned to glacierbits

[2020-10-13 13:08] #2588 closed, assigned to slowbackspace

[2020-10-13 13:17] vladimirvolek opened #2602 "Add account modal - unnecessary scrollbar"
Add account without the menu

![image](https://user-images.githubusercontent.com/3112191/95865747-4bd56180-0d67-11eb-8f67-908c3716b6eb.png)

Click into the cryptocurrency select

![image](https://user-images.githubusercontent.com/3112191/95865415-f4cf8c80-0d66-11eb-8e18-b9a331161573.png)

[2020-10-13 13:47] wendys-cats opened #2604 "Wipe with remembered wallet results in incorrect behaviour"
**Info:**
 - OS: Windows 10 Home
 - Suite Type: APP Commit b8ea32c7bce1702e0c990324921df77c5669152a
 - Firmware Version: 2.3.4.

**Describe the bug**
When user wipes device with remembered wallet and skips backup, suite will not navigate him to create a new standard/hidden wallet. Instead, after skipping backup, the modal will only close and user is still in Settings (where user clicked on wipe).

[2020-10-13 14:01] sorooris opened #2606 "Wallet associated with another seed remembered after wipe and onboarding"
**Info:**
 - Suite Version: app, commit b8ea32c
 - OS: any (tested MacOS Catalina 10.15.6)
 - Firmware Version: T1 1.9.3, 0d5f006

**Describe the bug**
Previously accessed **wallet** and associated accounts is still **accessible after factory reset when remembered** compared to the behavior in the MyTrezor wallet where user is **forced to disconnect** and reconnect their **device** while an overla

[2020-10-13 14:02] sorooris commented on #2606
May be related to #1601.

[2020-10-13 14:34] glacierbits commented on #2594
@tsusanka @keraf Let me know if I should edit anything, or feel free do it by yourselves. Thanks!

[2020-10-13 15:08] tsusanka commented on #2594
LGTM. @keraf do I understand correctly we will add this to the Github release page and Suite fetches it from there, correct?

[2020-10-13 15:11] keraf commented on #2594
Yep, that's correct.

[2020-10-13 16:39] szymonlesisz opened #2612 "Send: scan qr code is not working in suite-desktop"
Installation failed
Permission to access the camera was denied.

[2020-10-13 17:00] tsusanka opened #2613 "Prioritize autoupdate over discovery"
Currently in case Suite finds a new version it still asks for a device and does a discovery. The user should be able to update Suite even without a device connected.

[2020-10-13 17:54] tsusanka opened #2614 "Firmware update on T1 fails on entering bootloader on NixOS - model T instructions are displayed"
**Info:**
 - OS: NixOS
 - Browser: desktop app
 - Suite Version: https://staging-suite.trezor.io/ - release/2020-10 - https://github.com/trezor/trezor-suite/commit/e6ba320201b76c285b569b99f1e4b095e53f0028
 - Firmware Version: 1.9.0

**Describe the bug**
After entering T1 bootloader I receive instruction to enter bootloader again (for TT!) even though I am already in bootloader (and I use T1!).

**

[2020-10-13 17:55] tsusanka commented on #2614
@sorooris if you could do a retest tomorrow. @mroz22 if you could have a look tomorrow.

[2020-10-13 18:11] tsusanka opened #2615 "Device not recognized when desktop app is run first on NixOS"
**Info:**
- OS: NixOS
- Browser: desktop app
- Suite Version: https://staging-suite.trezor.io/ - release/2020-10 - e6ba320
- Firmware Version: 1.9.0

**Describe the bug**
If I do not have bridge running already and connect the device _after_ Suite is launched, Suite does not find the device. See steps to reproduce for a better idea.

**Steps to reproduce:**
1. Make sure Bridge is not running. Use:

[2020-10-13 21:09] LukasRada opened #2616 "Transaction summary shows NaN - NaN when there is very first pending tx on new account"
**Info:**
 - OS: Win 10
 - Browser: Chrome 86.0.4240.75
 - Wallet Version: web (beta), e243afdb73e35fa08f39a7fc08a28b84baa3ac58
 - Firmware Version: N/A

**Describe the bug**
Transaction summary shows NaN - NaN when there is very first pending tx on new account.

**Steps to reproduce:**
1. Create new BTC account.
2. Send some BTC to the first address from that account.
3. As the transaction is pen

[2020-10-14 06:02] tsusanka opened #2617 "Total including fee not hidden in descrete mode"
Info:
- OS: NixOS
- Browser: desktop app
- Suite Version: https://staging-suite.trezor.io/ - release/2020-10 - e6ba320
- Firmware Version: 1.9.0

**Describe the bug**
Total including fee not hidden in Send dialog:

![image](https://user-images.githubusercontent.com/1835345/95949744-a1efe680-0df3-11eb-98f3-fe41c4b40c81.png)

[2020-10-14 06:06] tsusanka commented on #2532
Also on NixOS on e6ba320 when I am about to type the label and I move the cursor in the middle of typing the input gets canceled. I did not click on anything, just moved the mouse on this video:

![Peek 2020-10-14 08-05](https://user-images.githubusercontent.com/1835345/95950039-25a9d300-0df4-11eb-9977-b5206d8bed40.gif)

It seems to happen when I move the cursor out of the transaction "row", ie th

[2020-10-14 06:14] tsusanka commented on #2615
I am also experiencing this when I forget the device and reconnect it back. I am really wondering if I am the only who experience this. cc @trezor/qa

[2020-10-14 06:45] slowbackspace commented on #2615
huh, I cannot reproduce it on macOS. Suite correctly starts its own bridge and device is recognized (both TT and T1 with 1.9.3fw). Is the bridge running on your system after you launch Suite?

[2020-10-14 06:49] mroz22 commented on #2615
Just tried it on 1.9.1, using webusb. In both standalone firmware and onboarding and it did well.
Don't you work with multiple devices or something like this?

[2020-10-14 06:51] bosomt commented on #2614
@tsusanka

First picture:  this is what I see when i disconnect 1.9.2 device to enter bootloader , problem is that when you have remembered wallet from previous connected device.

Picture two: But I was **not able** to reproduce it with 1.9.2 device in Windows  10.0.18363.1082and commit e6ba320201b76c285b569b99f1e4b095e53f0028
I only saw T1 instructions

![image](https://user-images.githubusercont

[2020-10-14 06:51] tsusanka commented on #2615
@slowbackspace yes it is. `pgrep trezord` returns PID.

[2020-10-14 06:52] tsusanka commented on #2615
@mroz22 if you say "using webusb" that implies you are using the browser version, nope? I am experiencing this with the desktop app.

[2020-10-14 06:52] mroz22 commented on #2615
sry wrong issue. delted

[2020-10-14 06:54] mroz22 commented on #2614
Just tried it on 1.9.1, using webusb. In both standalone firmware and onboarding and it did well.

I try it with multiple devices, that may be the root of the problem.

[2020-10-14 06:56] bosomt commented on #2615
Windows 10: I was not able to reproduce it

1)killed trezord,
2) checked it via http://127.0.0.1:21325/
3) started suite
4) device was recognized and trezord was running at http://127.0.0.1:21325/

i will check Kubuntu and Nixos too

[2020-10-14 07:00] tsusanka commented on #2614
@bosomt I have deleted Suite's storage to make sure. So no stored wallets and I am still able to reproduce this. Could you please try with 1.9.0? And once with Linux and once with Win again? Thanks.

[2020-10-14 07:02] mroz22 commented on #2614
I could partially reproduce:
1. have T2 remembered
1. star fw update with 1.9.1
1. disconnect
1. screen with T2 appears
1. reconnect T1 in bootloader
1. screen with T1 appears and I can start fw update.

[2020-10-14 07:02] bosomt commented on #2615
Nixos: I was able to reproduce it, I can clearly see that accounts are loaded in background but modal `Connect and unlock your Trezor` is still overlapping Suite. After restart of suite it works fine

![image](https://user-images.githubusercontent.com/31506317/95954479-aae4b600-0dfb-11eb-84c8-6fed315ee99a.png)

[2020-10-14 07:02] tsusanka commented on #2614
Hmm interesting, I was **not** able to reproduce this on the web version (https://staging-suite.trezor.io/web/) on the same revision! So this is some weird bug in the desktop app.

[2020-10-14 07:04] tsusanka commented on #2614
@mroz22 that is not my bug :). Please try to reproduce in the desktop app. Yours is a bit edge-casy but mine seems as a very common workflow (I really did not do anything else).

[2020-10-14 07:12] mroz22 commented on #2614
Checked desktop app and could not reproduce. Same revision.
Running on Ubuntu

[2020-10-14 07:13] tsusanka commented on #2614
That is very interesting. Maybe it is NixOS only and related to #2615? :thinking:

[2020-10-14 07:20] tsusanka commented on #2614
Hm I was **unable** to reproduce on my personal Arch Linux..

[2020-10-14 07:23] tsusanka commented on #2615
I was **unable** to reproduce on my personal Arch Linux. Let's see what happens on @bosomt's Kubuntu, but it indeed seems this is related only to NixOS and is related to #2614.

[2020-10-14 07:25] tsusanka commented on #2615
I think it kind of makes sense. Same as @prusnak mentioned the autoupdater does not work on NixOS, I think it is the same with Bridge. And since QA has Bridge installed they did not catch this becuase they did not turn off Bridge beforehand. Yet another need for test scenarios.

[2020-10-14 07:31] bosomt commented on #2615
Looks to me like problem with embedded Trezor Bridge.

`ps aux | grep trezord
tbosansk  8050  0.4  0.5 1303064 41120 ?       Ssl  09:02   0:05 /home/tbosansk/.cache/appimage-run/80f4223d212330eb93bcd9a9111ef5ebc6bef0e08db250f2b5bcf2039414f442/squashfs-root/resources/bridge/2.0.27/trezord-linux-x64
`

Bridge  status page and trezorctl said that there were no devices connected, I had two of them and

[2020-10-14 07:34] tsusanka commented on #2615
@bosomt could you try on the Kubuntu? Let's see what happens there.

[2020-10-14 07:45] slowbackspace opened #2618 "Change the copy in udev download: tell users to download first, install later"
It automatically wants it to open in “Software Install”, but then throws “not supported” error.

<img width="683" alt="Screenshot 2020-10-14 at 11 23 19" src="https://user-images.githubusercontent.com/6961901/95969990-b93ccd00-0e0f-11eb-8b9b-5c71456e1401.png">

![image](https://user-images.githubusercontent.com/6961901/95958796-f00be680-0e01-11eb-8a23-83321e774d94.png)

![image](https://user-image

[2020-10-14 07:46] tsusanka commented on #2614
@bosomt can you please confirm also here this does not happen on Kubuntu?

[2020-10-14 07:50] sorooris commented on #2550
QA OK

.dmg file downloaded and installed correctly. :tada:

Suite version: staging landing page, app e6ba320201b76c285b569b99f1e4b095e53f0028
OS: MacOS Catalina 10.15.6
Device: N/A (later connected model T 2.3.4 50854b921)

[2020-10-14 07:50] bosomt commented on #2615
@tsusanka Kubuntu works fine

[2020-10-14 08:03] slowbackspace commented on #2612
@keraf could this be related to security hardening? https://github.com/trezor/trezor-suite/issues/901

In browser it asks for a permission to use webcam.
edit: oh  I see szymon is already on it 🚀

<img width="806" alt="Screenshot 2020-10-14 at 10 02 29" src="https://user-images.githubusercontent.com/6961901/95960712-60b40280-0e04-11eb-9673-700fc9e6c116.png">

[2020-10-14 08:05] keraf commented on #2612
I think there's a permission needed on Mac (in the plist file).

Edit: I can confirm this doesn't happen on Ubuntu (both in dev and prod builds). Not sure about Windows but I think it's a Mac only issue. Hence my suspicion of a missing permission in the plist file:
[code]

[2020-10-14 08:05] bosomt commented on #2614
@tsusanka KUbuntu **OK**

[2020-10-14 08:06] szymonlesisz commented on #1646
should be fixed now, it was nginx configuration like @slowbackspace suspect

[2020-10-14 08:06] szymonlesisz commented on #2485
should be fixed now, it was nginx configuration like @slowbackspace suspect

[2020-10-14 08:06] #2485 closed, assigned to nobody

[2020-10-14 08:07] sorooris commented on #1350
**QA OK**

Neither threats detected nor any prompts displayed on my system during app installation and running the app.

Suite Version: app, commit e6ba320
OS: Windows 10, 19041.508
Firmware Version: N/A

[2020-10-14 08:14] sorooris commented on #2591
**QA OK**

App detected older firmware on device correctly, didn't encounter any bugs during update flow, updated to 2.3.4 50854b921 successfully.

Suite Version: app, commit e6ba3202
OS: MacOS Catalina 10.15.6
Firmware Version: model T 2.3.3 0d5f006

[2020-10-14 08:14] wendys-cats commented on #2588
**QA OK**
**OS** Windows 10 Home 19041.1508
**Suite** Type APP **Commit** e6ba320201b76c285b569b99f1e4b095e53f0028
**Device** TT 2.3.4. 50854b921

Tested on Windows APP, no redundant scrollbar.

[2020-10-14 08:20] wendys-cats commented on #1350
**QA OK**

**OS** Windows 10 Home 19041.1508
**Suite** Type APP Commit e6ba320
**Device** TT 2.3.4. 50854b921

Tested with my paranoid settings - system asked if I really want to make the change (expected) and installed the app without problems.
Changed the system settings to standard and no prompts nor threats appeared during app installation.

[2020-10-14 08:23] bosomt commented on #2593
**QA OK**

OS: Nixos + Windows 10
Suite app commit e6ba320201b76c285b569b99f1e4b095e53f0028
Device model TT fw 2.3.4 commit 50854b921

[2020-10-14 08:24] slowbackspace opened #2619 "use Translation for getDescriptionForStatus in firmwareProgress"
https://github.com/trezor/trezor-suite/commit/5afc95a64fd9c091b151058bfa34953b49655d3f

[2020-10-14 08:40] prusnak commented on #2618
This is not our issue, but Ubuntu's - see here: https://askubuntu.com/questions/1232868/problem-installing-deb-in-software-install-ubuntu-20-04

It seems that the `.deb` file needs to be downloaded first (via "Save File" option, not "Open with ..." ) and then installed via Software Center or Gdebi.

If you Open automatically, the file is downloaded to /tmp and for some reason Software Center doesn

[2020-10-14 08:56] tsusanka commented on #649
Tested by me, stick and Raf.

[2020-10-14 09:05] slowbackspace commented on #2618
Oh, that's confusing. I guess we can let our support to handle it if some users will run into this problem. Thanks for looking into it, I wasn't even sure if it is supposed to work as I don't use linux on the desktop
@matejzak not sure if we can help our users somehow (idk if there is wiki page where this can be mentioned or something), just CCing you :)
closing the issue

[2020-10-14 09:13] prusnak commented on #2618
I will reopen the issue - I think we should change the copy to include this information in the udev download page.

The information could be something like: "Please download the udev file to Desktop first, don't open it directly from the browser" or something like that.

[2020-10-14 09:28] sorooris commented on #2588
**QA OK**

Suite Version: app, commit e6ba320
OS: MacOS Catalina 10.15.6
Firmware Version: T1 1.9.3 0d5f006

[2020-10-14 09:41] vladimirvolek opened #2622 "Send - 'Clear all' button visible in default form state"
- click RBF on/off
- click locktime add/remove
- add and remove the recipient

![image](https://user-images.githubusercontent.com/3112191/95971999-379a6e80-0e12-11eb-8c77-659ad53e4418.png)

[2020-10-14 09:57] szymonlesisz commented on #2617
i'm not even sure if this feature should be enabled in send-form at all, what's the point of blurring "total" or "fee" and not blurring Amount inputs? @matejzak

[2020-10-14 10:03] szymonlesisz commented on #2622
if you click on something it's not a default state anymore
interaction has been made => clear all button appears
I don't think validating `current state` === `default state` is worth the effort in this case

[2020-10-14 10:09] #2622 closed, assigned to nobody

[2020-10-14 10:27] glacierbits commented on #2617
I do agree with @szymonlesisz . Let's disable it for Send altogether. I believe there is a "review" associated risk, since the user's ability to check they are sending the correct amount(s) would be limited.

[2020-10-14 10:47] szymonlesisz commented on #2612
@trezor/qa can you confirm that this is working on windows build (it is only macos issue)? if so, it should be fixed by https://github.com/trezor/trezor-suite/pull/2624 (works locally)

[2020-10-14 10:57] sorooris commented on #2612
Confirming MacOS-specific, verified following:
- Windows 10 app **OK**
- Kubuntu app **OK**
- NixOS app **OK**
- MacOS app **NOK**

[2020-10-14 11:00] prusnak commented on #2612
This is supposed to be fixed by #2624 - I will provide signed binaries for macOS soon (1 hour tops). Will let you know so you can test this.

[2020-10-14 11:00] #2612 closed, assigned to szymonlesisz

[2020-10-14 11:43] prusnak commented on #2594
Created a release here (desktop binaries will come soon) and the changelog is copy-pasted there: https://github.com/trezor/trezor-suite/releases/tag/v20.10.1

Closing the issue

[2020-10-14 11:43] #2594 closed, assigned to glacierbits

[2020-10-14 11:46] slowbackspace commented on #2616
Thanks for the report! The issue should already resolved in our development branch and it will be released soon (no eta, but SOON 😁). If you'll experience the same issue after an upgrade (to version 20.10.1) feel free to reopen the issue.

[2020-10-14 11:46] #2616 closed, assigned to nobody

[2020-10-14 11:46] wendys-cats opened #2625 "Insufficient space for text in buttons Onboarding"
**Info:**
1. OS Windows 10 Home 19041.1508 Suite Type APP Commit e6ba320
2. OS Nixos web Commit e6ba320201b76c285b569b99f1e4b095e53f0028
Device TT 2.3.4. 50854b921

**Describe the bug**
Text in green buttons in one of the Onboarding steps (Create new wallet scenario) is overspilling a little bit.

**Steps to reproduce:**
1. Connect a device without seed
2. Create new wallet

**Expected result:**
T

[2020-10-14 12:08] prusnak commented on #2612
Deployed signed macOS binary with camera fix to staging. Camera works for me (app asks for extra permission when using the cam for the first time), but please test as well. Thanks!

[2020-10-14 12:19] tsusanka opened #2627 "Make "Yes, I do!" clickable during firmware update"
**Info:**
- OS: NixOS
- Browser: desktop app
- Suite Version: https://staging-suite.trezor.io/ - release/2020-10 - 9995926
- Firmware Version: 1.9.0

**Describe the bug**
I have to click the checkbox, not just the "Yes, I do!" which is a bit annoying :).

**Screenshots:**
![a](https://user-images.githubusercontent.com/1835345/95987527-daa9b300-0e27-11eb-8e24-d3784570a885.gif)

[2020-10-14 12:31] sorooris commented on #2612
**QA OK**

Suite Version: app, commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
OS: MacOS Catalina 10.15.6
Firmware Version: T1 1.9.3 0d5f006

![image](https://user-images.githubusercontent.com/10185314/95988768-ab944100-0e29-11eb-8afd-8b523179dba1.png)

[2020-10-14 12:31] sorooris commented on #2544
@matejzak anything for QA to test?

[2020-10-14 12:48] sorooris opened #2628 "Redundant scroll bar in dry-run"
**Info:**
Suite Version: app, commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
OS: MacOS Catalina 10.15.6
Firmware Version: T1 1.9.3 0d5f006 with PIN ON

**Describe the bug**
PIN entry modal in dry-run/backup-check displays a redundant scroll bar.

**Steps to reproduce:**
1. Navigate to Settings -> Device
2. Select Backup check
3. Proceed until the PIN dialog

**Expected result:**
No scrollbar disp

[2020-10-14 12:48] sorooris commented on #2628
https://github.com/trezor/trezor-suite/issues/2588

[2020-10-14 12:48] slowbackspace commented on #2625
@mroz22 hardcoding pixel perfect widths is not the safest way 😁

I would fix it but looks like the Option component is super reusable and used across onboarding and recovery so it would be probably the best if you would take a look.

[2020-10-14 13:08] prusnak opened #2629 "Missing favicon"
Neither https://suite.trezor.io/ nor https://suite.trezor.io/web/ shows favicon - let's fix that by adding one

[2020-10-14 13:17] bosomt commented on #2165
still broken ;)

Nixos
Firefox 81.0 (64-bit)
Suite.trezor.io commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
Device model T fw 2.3.4 commit 50854b921

[2020-10-14 13:18] prusnak commented on #2325
Button deployed to https://wallet.trezor.io

[2020-10-14 13:18] #2325 closed, assigned to glacierbits

[2020-10-14 13:39] szymonlesisz opened #2630 "Desktop: Not able to quit the app on macos"
**Info:**
 - OS: MacOs
 - Electron
 - Wallet Version: 20.10.1, 99959260d5639480dfb11e53a4f2ab1d789b0e7b
 - Firmware Version: any

**Describe the bug**
sometimes (i didnt find a pattern yet) i'm not able to quit the app using "right click > quit" it ends up with an error message and it's not killing the electron window. In need to kill the app manually using Task manager.

**Screenshots:**
![Screen

[2020-10-14 13:43] bosomt opened #2631 "Account details - Public key (XPUB) overlaping account label and misaligned QR code"
**Info:**
 - OS: Nixos
 - Browser: Chromium 85
 - Wallet Version: web, commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
 - Firmware Version:2.3.4  model T, revision 2.3.4

**Describe the bug**
Account details - Public key (XPUB) modal has overlapping account label and misaligned QR code.
It' really nitpick but why not to fix it someday

**Steps to reproduce:**
1. enter long Account name into label

[2020-10-14 13:43] prusnak commented on #2630
@keraf That's the bug I saw after the autoupdate to 20.10.1 - so I guess that's not related to autoupdate if Szymon was able to reproduce with "vanilla" 20.10.1

[2020-10-14 13:43] wendys-cats opened #2632 "Text in labeling field will disappear if cursor crosses certain div bounds"
**Info:**
OS Windows 10 Suite Type APP Commit e6ba320 (@bosomt is this right?)
OS Nixos web Commit e6ba320
Device TT 2.3.4. 50854b921

**Describe the bug**
This happens when user is creating a label for a transaction. When they move the cursor during the creation of the label through certain div bounds (in or out of the div containing said transaction), the text will automatically be erased.

**St

[2020-10-14 13:48] szymonlesisz commented on #2630
and this is the code responsible for that (transpiled from typescript):
![Screenshot 2020-10-14 at 15 47 44](https://user-images.githubusercontent.com/3435913/95997954-a38dce80-0e34-11eb-882a-c70f7a874c66.png)

[2020-10-14 13:48] wendys-cats commented on #2632
@mroz22 was told to tag you:)

[2020-10-14 13:52] slowbackspace commented on #2629
@matejzak what should be used as favicon? Desktop app icon or you have something different? It would be great if was recognisable even when showed as a small image in browser's tab (16x16px or something).

[2020-10-14 14:14] slowbackspace commented on #2629
https://css-tricks.com/favicon-quiz/
jesus, favicons are hard

[2020-10-14 14:19] szymonlesisz opened #2633 "Account details: implement "show xpub" on device (like show address)"
Feature available from FW >= 1.7.2 and 2.0.10, lower versions works only with legacy `xpub` format

This window should behave in the same way as "show address":
- if device is not connected/available displays "unverified" xpub
- if device is connected show xpub on the device

using trezor-connect:
[code]

[2020-10-14 14:29] prusnak commented on #2629
I think using the green part of the desktop icon would look nice (i.e. replace white with transparent). Let's not bother with ICO format, just use PNG with `<link rel="shortcut icon" type="image/png" href="favicon-48x48.png"/>` and be done with it.

[2020-10-14 14:38] tsusanka opened #2634 "Nicer <title> on landing page"
The <title> on "suite.trezor.io" is "suite.trezor.io" instead of Trezor Suite. Can we change it? Tested in Chromium 85 and Firefox 81.

Might make sense to do together with https://github.com/trezor/trezor-suite/issues/2629.

[2020-10-14 14:59] prusnak commented on #2634
In HTML we have `<title>Trezor Suite</title>` but this gets overwritten by some funky Javascript magic I suppose.

[2020-10-14 15:33] slowbackspace commented on #2634
already fixed in my soon-to-be-PR branch on favicon (as I was assigned before).
it was mistakenly defined in body, not in head element but that still wouldn't work as it belong to _app, not _document file 😁  (it was copy pasted from old landing which has the same bug)

https://github.com/vercel/next.js/blob/master/errors/no-document-title.md

[2020-10-14 15:52] darwin opened #2636 "Labels/metadata from the (old) web wallet are not present in the new Trezor Suite wallet"
I'm just testing new beta 20.10.1 with model T updated to latest firmware. I was able to give the desktop app permissions to access my dropbox but I don't see existing labels.

1. I can see labels proper when visiting wallet.trezor.io with the same device
2. I don't see labels when using trezor suite wallet with connected dropbox

The suite desktop app in SETTINGS > LABELING shows:
[code]

I would

[2020-10-14 16:28] #2634 closed, assigned to slowbackspace

[2020-10-14 16:28] #2629 closed, assigned to slowbackspace

[2020-10-14 16:31] szymonlesisz commented on #2628
https://github.com/trezor/trezor-suite/issues/2602

[2020-10-14 16:38] tsusanka commented on #2617
I have to say I disagree. If I use discreet mode I expect all amounts to be hidden. Imagine you are sending 10 BTC, I think it is as sensitive as the fact that you _have_ 10 BTC.

Don't forget the values are still to be confirmed on Trezor.

But it is a product thing so @matejzak should have the last word here.

[2020-10-14 16:56] szymonlesisz opened #2637 "find all hardcoded texts in components and views"
task for a long cold winter evening,
locate every hardcoded text like [this one](https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/components/firmware/Initial.tsx#L83) in `src/components` and `src/views` and create `Translation` message for it

[2020-10-14 18:00] glacierbits commented on #2617
Coming back to the @szymonlesisz 's original point, how do you manage the inputs? The user inputs the value, and it immediately disappears? What about errors and hover effects that we have in the inputs? And mobile version? I don't thing it's a worthwhile challenge, and one that can only bring more "review-like" problems to the user unable to check what they have just typed.

To take this to the e

[2020-10-14 19:07] tsusanka commented on #2617
Very well then :).

[2020-10-15 06:43] bosomt opened #2638 "Missing FIAT ammount in Transaction Detail modal"
**Info:**
 - OS: Nixos + Windows
 - Browser: Chromium 85
 - Wallet Version: app + web, commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
 - Firmware Version: 2.3.4 + 1.8.3

**Describe the bug**
There is one value missing in Transaction Detail, amount of sent coins in FIAT value.
Please see screenshot

**Steps to reproduce:**
1. load suite.trezor.io
2. load any accounts from device
3. check Transacti

[2020-10-15 08:00] mroz22 commented on #2636
They definitely should be there. I will check it.

[2020-10-15 08:10] brianddk opened #2639 "[REQ] GPG signatures for the install binaries, or a public acknowledgement of the certificate hash"
**Is your feature request related to a problem? Please describe.**
One of the crucial tasks that anyone using bitcoin must perform is the validation of all software and firmware that can touch or manage bitcoin.  Since change-address and path-isolation attacks may still be possible (in theory), the protection that the firmware provides should not be 100% relied upon.  The user should still perform

[2020-10-15 09:37] prusnak opened #2641 "CSV import of recipients"
That's something old wallet supports, but not the new one

[2020-10-15 10:32] prusnak commented on #2636
We found the culprit (scoped vs unscoped Dropbox app) - possible fix in https://github.com/trezor/trezor-suite/pull/2642

Thanks for the report!

[2020-10-15 11:03] bosomt opened #2643 "Old transactions are occasionally marked as new in Suite Notifications"
**Info:**
 - OS: Windows 10
 - Wallet Version: app, commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
 - Firmware Version:TT, model 2.3.4, revision

**Describe the bug**
Old transactions are occasionally marked as new in Suite Notifications
It happened to me 3 times today. See screenshots. Happened to ETH and BTC coins.
Looks like that new transaction arriving or confirmation to idle suite triggers

[2020-10-15 11:53] prusnak opened #2644 "Possibility to use custom Blockbook backend"
Like we do on old Wallet

[2020-10-15 12:34] #2365 closed, assigned to slowbackspace

[2020-10-15 12:40] glacierbits commented on #2641
Duplicate of #2364

[2020-10-15 12:40] #2641 closed, assigned to nobody

[2020-10-15 12:41] bosomt commented on #2643
I have only BTC enabled and tXRP transactions appeared   ;)

![image](https://user-images.githubusercontent.com/31506317/96126375-6557e400-0ef4-11eb-8871-ba462a21c0bc.png)

[2020-10-15 12:41] szymonlesisz commented on #2644
we do have them:
https://suite.trezor.io/web/settings/coins/

hover on coin and click on "danger area" button (idk why it's called like that :])

[2020-10-15 12:56] #2619 closed, assigned to slowbackspace

[2020-10-15 12:57] prusnak commented on #2644
Ah, great! Thanks for the info!

[2020-10-15 12:57] #2644 closed, assigned to nobody

[2020-10-15 13:20] tsusanka commented on #2560
We need to discuss this first on our Product mtg. I'll let you know

[2020-10-15 14:20] tsusanka commented on #2584
We want to do this eventually but let's wait for the first data coming in regarding how many people are using Linux. We are also thinking about writing some nice tutorial.

[2020-10-15 14:59] bosomt opened #2646 "XRP transactions are not matched after confirmation in Notification/Activity tab"
**Info:**
 - OS: Winsows 10
 - Wallet Version: app, commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
 - Firmware Version: TT model 2.3.4

**Describe the bug**

**Steps to reproduce:**
1. load suite with XRP funds
2. send transaction between accounts
3. observe activity section

**Expected result:**
Send and receive are matched after transaction is confirmed like rest of coins

**Actual result:**
On

[2020-10-15 17:32] darwin opened #2648 "Address labels metadata is not presented by TransactionItem component"
While testing PR #2642 after I noticed that some labels presented in the (old) web wallet at wallet.trezor.io are not present in the trezor suite wallet.

I decided to track this down. It turned out that all relevant metadata is properly extracted from a dropbox file and stored in the app state. This is just an UI issue that the `<TransactionItem>` component is only passed `txMetadata={account.met

[2020-10-15 19:06] xbach opened #2650 "Empty screen after update succeeds."
**Info:**
 - OS: macOS 10.14.6
 - Suite Version: macOS, 20.10.1
 - Firmware Version: Model T, update to 2.3.4

**Describe the bug**
Empty screen in Suite after the firmware update finishes. Clears after the device is unlocked. Not a serious issue, it just looks like Suite is stuck (see screenshot).

**Steps to reproduce:**
1. Update firmware
2. Finish updating firmware, device restarts
3. Suite sh

[2020-10-16 08:52] bosomt opened #2651 "Receive address not clickable when labeling enabled"
**Info:**
 - OS: Windows
 - Wallet Version: app commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
 - Firmware Version: T1 model 1.8.3 , revision 0xdf0963ec48f01f3d07ffca556e21ff0070cab099,

**Describe the bug**
See video. When you add label to address in used addresses list you then you can click on it but address it not shown.
+ Reveal address button is only visible when you navigate to this addres

[2020-10-16 09:36] xbach opened #2652 "Fresh address not updated when pending transaction on last fresh address"
**Info:**
- OS: macOS 10.14.6
- Suite Version: macOS, 20.10.1
- Firmware Version: Model T, 2.3.4

**Describe the bug**
When receiving a transaction to a fresh address, and the transaction is pending, the Suite sees it as pending. When going to the same account to get another fresh address, Suite will show the same (used) fresh address. As discussed in Slack tech_frontend, Suite should recognize an

[2020-10-16 09:46] bosomt commented on #2646
same behavior with **DOGE** /DGB,DASH OK/

![image](https://user-images.githubusercontent.com/31506317/96243523-25046e80-0fa5-11eb-8897-aa90d3a6e9f3.png)

[2020-10-16 10:42] slowbackspace opened #2653 "Label truncating"
20.10.1 desktop (probably web too)

Label truncating got broken and I'm sure it was working fine before. 2 issues:
1) placeholder space for the label button that is not imo necessary (I already fixed it once, auto truncated label could (and was) be automatically shortened if the button is visible). I think this behaviour is also in txs list.
2) truncating doesn't render ellipsis character

@mroz22

[2020-10-16 11:05] #2595 closed, assigned to keraf

[2020-10-16 11:07] sorooris opened #2654 "Send form - ETH - Missing gas limit input"
**Info:**
 - OS: any (tested NixOS)
 - Browser: any (tested Chromium 85.0.4183.102)
 - Suite Version: web 99959260d5639480dfb11e53a4f2ab1d789b0e7b
 - Firmware Version: 2.3.4 50854b921

**Describe the bug**
There is no way to edit gas limit in the send form compared to the Next Wallet.

**Steps to reproduce:**
1. Navigate to ethereum send form,
2. Observe the Fee section.

**Expected result:**
Inpu

[2020-10-16 11:15] bosomt opened #2655 "Suite doesn't kill all running processes when closing the app"
**Info:**
 - OS: Windows
 - Wallet Version: app, commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b

**Describe the bug**
See screenshot, when you close Suite app, one process is left in memory and can significantly drain OS resources.
I checked after 30 minutes and it was still not idling. Please implement some feature that will detect that will kill Trezor Bridge if ti was started along with Suite

[2020-10-16 12:43] mroz22 commented on #2650
Argh, this ineed happens if you have pin enabled on T2.If pin is not enabled on model T, success screen  appears correctly.
![image](https://user-images.githubusercontent.com/30367552/96258871-fabeab00-0fbc-11eb-80a7-4d6da62aa4f5.png)

I forgot about this feature of model T that host can't detect it until the device is unlocked.

[2020-10-16 13:10] slowbackspace commented on #2655
I think this is expected behaviour. it was decided long time ago that bridge should keep running even if suite is closed, but I also find it weird and would prefer we kill the bridge when user closes the app.
I've even experienced memory leaks in the bridge process in the past that caused it to eat over 1gb of memory, simply killing bridge would prevent it from eating all my ram.

[2020-10-16 14:56] mroz22 opened #2659 "Cancel fw update: cannot read read property error of null"
https://user-images.githubusercontent.com/31506317/95347757-8a79a080-08bd-11eb-99b4-306357c994e6.png

I suspect something in trezor-link / trezord

[2020-10-16 16:48] szymonlesisz commented on #2659
and i suspect connect :) since it works with "typed errors" now, obviously there is some bug there.
if you are able to simulate it try to track it near:

https://github.com/trezor/connect/blob/develop/src/js/device/DeviceList.js#L328
or
https://github.com/trezor/connect/blob/develop/src/js/device/DeviceCommands.js#L695
or
https://github.com/trezor/connect/blob/develop/src/js/device/Device.js#L255

[2020-10-16 16:50] szymonlesisz commented on #2654
reminder: gas limit was intentionally hidden because of lack of design (two "custom inputs")

[2020-10-16 16:52] slowbackspace opened #2660 "Spawning multiple websocket connections per coin"
**Info:**
 - Wallet Version: 20.10.1 (develop and production), web and electron

**Describe the bug**
With all coins enabled Suite sometimes spawns multiple websocket connections per coin to a blockbook server

**Steps to reproduce:**
(doesn't work all the time)
1. Enable all coins
2. Go to Dashboard/Accounts and hit refresh to trigger discovery for all coins
3. Open network tab in devtools, see m

[2020-10-16 16:53] mroz22 commented on #2659
I skimmed through connect looking for this but didn't spot it there. But will give it try another time.

[2020-10-16 16:57] slowbackspace opened #2661 "Lag on initial render of accounts page"
Steps to reproduce:
1. Go from Dashboard to Accounts page
2. ...
3. ...
4. ...
5. ...
6. ... still waiting?
7. accounts page rendered!

~Probably it has something to do with rendering of the graph or txs list (duh)~
The root cause is too many rerenders in accounts menu which are triggered on unnecessary changes in discovery state

[2020-10-16 21:01] prusnak commented on #2639
I added my GPG signatures as `.asc` files to the release: https://github.com/trezor/trezor-suite/releases/tag/v20.10.1

[2020-10-16 21:01] #2639 closed, assigned to prusnak

[2020-10-16 21:10] mroz22 commented on #2648
Hi,
first of all let me thank you for reporting bugs!

Just to make sure I understand you

1. wallet.trezor.io - first I label an address
![image](https://user-images.githubusercontent.com/30367552/96308420-a68ae980-1003-11eb-8e7c-95e07289d221.png)

2. wallet.trezor.io - then I can see the address label in transaction even though I had not labeled the transaction yet
![image](https://user-images.g

[2020-10-18 19:14] tsusanka commented on #2655
Btw was this decided in some larger audience? Because I find it also a bit ugly and unprofessional. I am okay with it in case we have specific reasons for that (such as that the discovery is X% faster) but I would like to have this decision based on some concrete arguments. Do we have that? We can discuss this on some standup :).

[2020-10-18 19:34] tsusanka opened #2662 "Ugly sidebar on landing page in mobile browser"
**Info:**
 - OS: iOS
 - Browser: Both Google Chrome 86 and Firefox 28.2
 - Wallet Version: current release suite.trezor.io

**Describe the bug**
Ugly sidebar on mobile page, see pictures. I know we do not optimize for mobile yet (I guess?) but in case it would be an easy fix..

**Steps to reproduce:**

**Screenshots:**
![IMG_4722](https://user-images.githubusercontent.com/1835345/96378003-7ec58e00

[2020-10-19 06:58] mroz22 commented on #2625
I'll check it. It is hard to mantain unified look on limited space with unpredictable strings lengths.

Unrelated. But what is "Advanced seed" and "standard seed". I'd say it is rather unfortunate to create new terminology here.

[2020-10-19 09:31] bosomt commented on #2628
Nixos
app commit 25b2e6bf56951532d0ba0364b691584dbbbbcf21
device TT 2.3.4

one more step that needs to be checked when issue is fixed

![image](https://user-images.githubusercontent.com/31506317/96427184-86734a00-11fe-11eb-8ad2-d05db163caaf.png)

[2020-10-19 09:40] wendys-cats commented on #2625
@mroz22 agree with unfortunate choice of creating new terminology. The advanced seed is Shamir. Standard was called Single seed before, I think. And this change of terminology is most likely why the words do not fit in anymore.

[2020-10-19 09:55] #2083 closed, assigned to slowbackspace

[2020-10-19 09:55] #2556 closed, assigned to slowbackspace

[2020-10-19 11:42] #2436 closed, assigned to tomexx

[2020-10-19 12:22] keraf opened #2667 "Service workers still running after disabling coin"
Each coin has its own blockbook service worker running, but when disabling that coin, the service worker is kept alive and still uses memory.

When disabling coins, we should dispose of the related service worker. Haven't looked too much into it, not sure if that's a connect issue or how we use connect in Suite.

[2020-10-19 13:44] bosomt opened #2668 "Invity - Trade allowed with values under minimum when Suite Coinmarket tab is accessed first time"
**Info:**
 - OS: Nixos
 - Browser: ,Chromium  version 85
 - Wallet Version: web, commit 2f07979a168660553abdf27d6b55149731509e0a
 - Firmware Version: 2.3.4 model T, revision 50854b921

**Describe the bug**
There is no information that value below or above minimum/maximum is entered and error is displayed only after
`Compare offers` button is selected.

**Steps to reproduce:**
1. load suite with Co

[2020-10-19 14:18] slowbackspace commented on #2617
I think this has already been resolved as there is linked merged PR above. Feel free to reopen if I missed something.

[2020-10-19 14:18] #2617 closed, assigned to szymonlesisz

[2020-10-19 14:21] slowbackspace commented on #2604
Can't we just delete all remembered wallets that belonged to the wiped device? 🤔

[2020-10-19 14:26] slowbackspace commented on #2370
magically fixed! (thanks to @tomexx )

[2020-10-19 14:34] glacierbits commented on #2651
@mroz22 Fix: Reveal address should be possible only from the `Reveal address` button on the right hand side (the same way it is revealed from the primary button above, not by clicking on the revealed address), regardless of whether label is used or not.

[2020-10-19 14:46] darwin commented on #2648
@mroz22 Yes, indeed that is what I mean. I reported it because viewing my wallet.trezor.io and the same account under suite wallet didn't show the same labels.

[2020-10-19 14:46] sorooris opened #2670 "Overview, Trade - Web page titles inconsistent with AppNavigation titles"
**Info:**
 - OS: any (tested NixOS)
 - Browser: Chromium 85.0.4183.102
 - Suite Version: web - production 99959260d5639480dfb11e53a4f2ab1d789b0e7b, /release/2020-10-beta/ 2f07979a168660553abdf27d6b55149731509e0a
 - Firmware Version: any (tested model T, 50854b921)

**Describe the bug**
Web page titles are inconsistent with AppNavigation titles.

**Steps to reproduce:**
1. Navigate to Accounts,
2.

[2020-10-19 14:50] slowbackspace opened #2671 "Action @metadata/account-loaded fired too often"
It seems that every time I add a new account I see bunch of `@metadata/account-loaded` actions fired.
bug?

<img width="621" alt="Screenshot 2020-10-19 at 16 47 41" src="https://user-images.githubusercontent.com/6961901/96467326-162eed80-122b-11eb-81a5-edee9a132a6e.png">
<img width="450" alt="Screenshot 2020-10-19 at 16 50 07" src="https://user-images.githubusercontent.com/6961901/96467393-2646cd0

[2020-10-19 14:53] mroz22 commented on #2671
Yes, let me address this. I already have a note somewhere on paper. There is one place in metadataActions that lacks one additional if clause

[2020-10-19 15:05] sorooris opened #2672 "Invity - Buy - redundant scrollbar in CoinmarketBuyTerms modal"
OS: any (tested NixOS)
Browser: Chromium 85.0.4183.102
Suite Version: /release/2020-10-beta/ 2f07979
Firmware Version: any (tested model T, 50854b921)

**Describe the bug**
Redundant scrollbar present in viewports under 729px in height.

**Steps to reproduce:**
Prerequisite - cleared storage; CoinmarketBuyTerms modal wasn't displayed yet.
1. Navigate to Accounts -> Trade -> Buy
2. Select an arbitr

[2020-10-19 15:07] slowbackspace commented on #2671
I would swear sometimes it is fired for no reason at all. maybe blockchain-block has something to do with it? or some timer? 🤕

<img width="458" alt="Screenshot 2020-10-19 at 17 06 51" src="https://user-images.githubusercontent.com/6961901/96469427-7cb50b00-122d-11eb-8fc7-060b8d8918f4.png">

[2020-10-19 15:13] slowbackspace commented on #2670
loool, good catch! 😁  (maybe we could finally stop renaming these things all the time)

[2020-10-19 15:18] MrMebelMan opened #2673 "Add OG meta tags 🚀"
**Is your feature request related to a problem? Please describe.**
Website looks unfinished without meta tags 😅

**Describe the solution you'd like**
Add them!

**Describe alternatives you've considered**
Add them later!

**Additional context**
![Selection_937](https://user-images.githubusercontent.com/15896005/96470538-b20e2880-122e-11eb-9aad-a297618a88f3.png)

[2020-10-19 15:22] #2541 closed, assigned to mroz22

[2020-10-19 15:22] #2627 closed, assigned to mroz22

[2020-10-19 15:22] #2650 closed, assigned to mroz22

[2020-10-19 15:27] mroz22 commented on #2671
Yes, there is timer every 3 minutes.

[2020-10-19 16:24] wendys-cats opened #2674 "INVITY Undesirable notification error message for incorrect input in Suite Coinmarket"
**Info:**
 - OS: NixOS
 - Browser: Chromium , version 85
 - Wallet Version: [web](https://suite.corp.sldev.cz/suite-web/release/2020-10-beta/web), commit 2f07979a168660553abdf27d6b55149731509e0a
 - Firmware Version: TT 2.3.4 , revision 50854b921 (public)

**Describe the bug**
invalid input: alphabet characters, number with more than two decimal places (for FIAT, it varies in coins), special charac

[2020-10-19 16:45] wendys-cats opened #2675 "INVITY Missing directional information for user in Trade"
OS: NixOS
Browser: Chromium , version 85
Wallet Version: web, commit 2f07979
Firmware Version: TT 2.3.4 , revision 50854b921 (public)

**Describe the bug**
When opening Suite Coinmarket, directional information for user is missing - amount resctriction and format.
amount it restricted to 30Eur or higher and format depends on coin (at most two decimal points for FIAT, 8 decimal points for BTC, 6 de

[2020-10-19 17:13] glacierbits commented on #2494
Copy improved:

<img width="1182" alt="Screenshot 2020-10-19 at 19 12 41" src="https://user-images.githubusercontent.com/29627086/96488966-12a56180-123f-11eb-9bb4-4dc52dbe50b3.png">

[2020-10-19 17:13] #2494 closed, assigned to glacierbits

[2020-10-19 17:36] tsusanka commented on #2672
Cc @matejzak. The dialog is not very nice imho.

[2020-10-19 17:43] tsusanka commented on #2526
Just for reference: I already tried it and it [failed](https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/204749618) for some reason. Will have a look later.

[2020-10-20 07:18] #2662 closed, assigned to tomexx

[2020-10-20 08:02] #2555 closed, assigned to slowbackspace

[2020-10-20 08:25] prusnak commented on #2526
I restarted the e2e jobs, they are quite flaky, so maybe they will pass this time :)

[2020-10-20 08:42] darwin opened #2685 "Suggestion: WebStorm has rich code inspections, maybe take advantage of it"
I'm using WebStorm and good news is that the project structure is well understood by WebStorm and works pretty well without further configuration.

The only annoyance is that it shows quite many warnings and suggestions (aka [code inspections](https://www.jetbrains.com/help/webstorm/code-inspection.html)). Many are false positives, some are just [nitpicking](https://github.com/trezor/trezor-suite/

[2020-10-20 09:34] mroz22 commented on #2410
should be fixed in https://github.com/trezor/trezor-suite/pull/2587
please test :pray:

[2020-10-20 09:34] #2410 closed, assigned to mroz22

[2020-10-20 09:37] prusnak opened #2687 "Investigate Deterministic/Reproducible desktop builds"
For Firmware having the deterministic/reproducible builds is a must. We'd love to have the same for Suite, but Electron + the whole JavaScript/TypeScript stack might be tricky. Let's investigate if having reproducibility is even possible.

Issues breaking the determinism:

- [x] ~https://github.com/trezor/trezor-suite/pull/2727 fix(suite-desktop): use static BuildId for Next.js~
- [x] ~https://git

[2020-10-20 09:38] mroz22 commented on #2659
from the suite perspective, this should be fixed in https://github.com/trezor/trezor-suite/pull/2587
please test :pray:

[2020-10-20 09:43] glacierbits opened #2688 "Discreet mode: Blur effect cut off"
Last commit: 95e158346c92d61492c40e7f66eae33f3101f864

<img width="1483" alt="Screenshot 2020-10-20 at 11 37 03" src="https://user-images.githubusercontent.com/29627086/96569192-209fc480-12c9-11eb-9ccf-02f52df9535c.png">

[2020-10-20 09:48] #2631 closed, assigned to robertbrada

[2020-10-20 09:49] #2636 closed, assigned to mroz22

[2020-10-20 10:12] #2323 closed, assigned to robertbrada

[2020-10-20 10:35] #2638 closed, assigned to robertbrada

[2020-10-20 10:57] #2599 closed, assigned to robertbrada

[2020-10-20 11:13] mroz22 commented on #2532
All of the above should be solved now, please test :pray:

[2020-10-20 11:13] #2532 closed, assigned to mroz22

[2020-10-20 11:40] #2651 closed, assigned to mroz22

[2020-10-20 13:36] tsusanka commented on #2526
It passed on the retry. But the problem is that the e2e tests are starting right away because they did not depend on anything in the first place. Let's see what happens with ddca118f4ce5a13e6347da7ee422194b279b2556.

![image](https://user-images.githubusercontent.com/1835345/96592093-4d170900-12e8-11eb-87c0-e8699911f2c7.png)

[2020-10-20 14:10] sorooris opened #2691 "Invity - Passphrase entry prompted after redirect from Buy payment gateway"
OS: any (tested NixOS)
Browser: Chromium 85.0.4183.102
Suite Version: /release/2020-10-beta/ 2f07979
Firmware Version: any (tested model T, 50854b921)

**Describe the bug**
The standard _Select wallet type_ modal is displayed after redirecting from Buy payment gateway which allows the user to enter other wallet's passphrase - which in case of passphrase mismatch results in the Buy transaction deta

[2020-10-20 14:11] sorooris commented on #2691
It's up for discussion if another wallet's pasphrase entry should be allowed.

[2020-10-20 14:19] bosomt opened #2692 "INVITY Tool-tip contains placeholder in Receiving address check page"
**Info:**
 - OS: Nixos
 - Browser: Chromium , version 85
 - Wallet Version: web, commit 39dd7f81f6eec3b02c834b80a8351e0965008346
 - Firmware Version: TT model 2.3.4 ,

**Describe the bug**
Coinmarket Receiving account/address check page contains placeholder in tool-tip.

**Steps to reproduce:**
1. When Receive address check step is required during purchase in Trade section
2. Receive address and R

[2020-10-20 15:20] bosomt commented on #2467
**QA NOK**

im not able to reproduce it **BUT** it happened to me 3 times today.
I will try to find steps to reproduce it

Labeling disabled
Autolock+PIN enabled
Suite web commit 39dd7f81f6eec3b02c834b80a8351e0965008346
OS and browser: Nixos + Chromium 85
Device model T 2.3.4

[2020-10-20 15:29] Kixunil commented on #2687
In case you don't know there's a tool called diffoscope (available in Debian 10 repo) that can show you the differences between two builds. Might be handy.

[2020-10-20 16:21] slowbackspace commented on #2688
fixed even before you opened PR! what a hard-working team! https://github.com/trezor/trezor-suite/pull/2669 😁

[2020-10-20 16:22] slowbackspace commented on #2688
grr, but probably not in transactions, only in accounts menu

[2020-10-20 16:53] #2562 closed, assigned to slowbackspace

[2020-10-20 16:54] #2130 closed, assigned to robertbrada

[2020-10-20 17:53] glacierbits commented on #2370
Is it?

76976eff883ff377438aac2c2143923f7b56630b

<img width="846" alt="Screenshot 2020-10-20 at 19 52 03" src="https://user-images.githubusercontent.com/29627086/96624992-db51b600-130d-11eb-90dd-590b232d9799.png">

[2020-10-21 06:25] #2670 closed, assigned to slowbackspace

[2020-10-21 07:49] slowbackspace commented on #2370
works on my machine ™️
Is it somewhere on "all" seed?

<img width="638" alt="Screenshot 2020-10-21 at 09 47 07" src="https://user-images.githubusercontent.com/6961901/96689238-69678400-1382-11eb-9305-6b6b845142bf.png">

[2020-10-21 08:12] slowbackspace opened #2694 "Graph tooltip overflow"
tooltip is overflowing outside of visible viewport area triggering horizontal scrollbar
<img width="616" alt="Screenshot 2020-10-21 at 10 10 27" src="https://user-images.githubusercontent.com/6961901/96691869-b1d47100-1385-11eb-9a49-0f68174ce511.png">

[2020-10-21 08:18] glacierbits commented on #2370
It's `Matej's seed` ™️

I am guessing it happens in the case when there is just 1 transaction?

[2020-10-21 09:30] glacierbits opened #2698 "Labeling: Yet more improvements"
- [x] Content jumps to the right when cursor appears

- [x]  ✔️  and ✖️   buttons should stay at the same position as the `Edit` button (instead they jump to left). See [design](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f3bf73d694a9912ac30606f)

- [x] Please treat the default label e.g. `Bitcoin 1#` or `Standard wallet` as a placeholder when first editing the label as well

-

[2020-10-21 09:38] prusnak opened #2699 "Landing page: add PGP Signatures + link to the verifying key"
On Github release page: https://github.com/trezor/trezor-suite/releases/tag/v20.10.1 we also present GPG signatures + link to the verifying key for our users.

We should add this to our landing page too (somewhere under the download button).

There should be two links added:

* [SatoshiLabs 2020 Signing Key](https://trezor.io/security/satoshilabs-2020-signing-key.asc)
* one of the following (if us

[2020-10-21 09:58] slowbackspace commented on #2688
woah, guys @robertbrada @tomexx I don't see an easy way out of this for txs list(and in general). The effect is cut off because of `overflow: hidden` which is rather essential. Any ideas?

The best I can think of is to add horizontal padding in the blurred overlay when discreet mode is activated, but this has a potential to break things and can look weird even when animated (I am gonna try it anyw

[2020-10-21 10:37] martinboehm commented on #2691
Actually, I do not think this is doable. We would have to store the original passphrase somewhere and compare it when the user comes back which would be a security risk.

[2020-10-21 10:37] slowbackspace opened #2700 "Uncaught Exception: Error: cannot run bridge binary"
**Info:**
 - OS: macOS
 - Wallet Version: latest build from develop (dmg and zip)

**Describe the bug**
Suite throws `Uncaught Exception: Error: cannot run bridge binary ` right after launch
**Steps to reproduce:**
1. download latest build from develop eg. https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/802058440
2. launch Suite

**Expected result:**
working app
**Actual result:**
App st

[2020-10-21 10:44] slowbackspace commented on #2700
There is one more issue I noticed thanks to this. Suite probably sees that bridge is not running and we have somewhere piece of code that sends request to start a bridge again and again causing the system running out of free file descriptors (my chrome extensions started crashing and if I try to do something in a terminal I get bunch of `zsh: pipe failed: too many open files in system`).

imo whol

[2020-10-21 10:49] glacierbits opened #2701 "Update Suite app icon + MacOS install background"
Please update:

- [ ] The app icon (it has a shadow now).
- [ ] MacOS installation background (the place where you move the app to apps folder)

Assets:
[Suite Icons Shadow.zip](https://github.com/trezor/trezor-suite/files/5414971/Suite.Icons.Shadow.zip)

[2020-10-21 11:08] prusnak commented on #2700
Related to https://github.com/trezor/trezor-suite/pull/2693

I renamed the mac binary to `trezord-mac-x64`, but this does not seem to be reflected in your build

[2020-10-21 11:11] prusnak commented on #2700
One idea: We could spawn the embedded bridge ONLY if there is not another bridge already running on https://127.0.0.1:21325/

[2020-10-21 11:34] tsusanka commented on #2691
Firmware sends _session id_ which when returned back in Initiialize will load the passphrase without the need to be entered again. So if this session id is stored inside local storage (as it is imho) we could remember the last session id being used nad load that state. I am not sure it is a good idea though, but I agree this UX sucks.

Maybe @szymonlesisz can help, does Connect has something like

[2020-10-21 11:40] tsusanka commented on #2700
@slowbackspace @mroz22 How does it work now? We launch it every time? It works even though both bridges (internal and external) are running? :thinking:

[2020-10-21 12:17] slowbackspace commented on #2700
@prusnak yup, but It wouldn't resolve the issue I mentioned as bridge wasn't running on my system
@tsusanka If there is bridge already running it will be killed first and then suite spawn its own. I am not sure if this works on linux because afaik if bridge was downloaded/installed separately it is run through a service which will restart the process if it is killed (?). But afaik both bridges can

[2020-10-21 12:43] slowbackspace commented on #2655
@tsusanka I don't really know, probably suite team was present 😀
@szymonlesisz do you remember why we want to keep bridge process running even after user exits the app?

[2020-10-21 13:59] #2674 closed, assigned to martinboehm

[2020-10-21 15:22] bosomt opened #2705 "INVITY invity.io link not clickable in Learn more modal"
**Info:**
 - OS: Nixos
 - Browser: Chromium and Firefox, current versions
 - Wallet Version: web, commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
 - Firmware Version: 2.3.4 model T

**Describe the bug**

`invity.io `link not clickable in `Learn more` modal in Coinmarket section.
It behaves as link / cursor changes as you hover over it but https://invity.io/ is not opened

**Steps to reproduce:**
1

[2020-10-22 08:16] bosomt commented on #2130
**QA OK**

Nixos + Chromium 85
Suite web dev master commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
Device Model T 2.3.4 commit 50854b921

[2020-10-22 08:25] szymonlesisz opened #2706 "Custom backend form with multiple fields"
**Describe the bug**
It's possible to add another row (input) while previous one is empty

**Steps to reproduce:**
1. goto /settings/coins, open "custom backend" modal
2. click on "+Add new"

**Expected result:**
"+Add new" should not be active

**Screenshots:**
![Screenshot 2020-10-22 at 10 24 16](https://user-images.githubusercontent.com/3435913/96845354-e4976b80-1450-11eb-8610-2260a399b3ca.png)

[2020-10-22 08:36] bosomt commented on #2323
QA OK

Nixos + Chromium 85
Suite web dev master commit 4d4a9f3
Device Model T 2.3.4 commit 50854b921

[2020-10-22 09:10] #2526 closed, assigned to tsusanka

[2020-10-22 09:22] prusnak commented on #2700
Fix most probably in https://github.com/trezor/trezor-suite/pull/2709

[2020-10-22 09:28] bosomt commented on #2627
QA OK

Nixos + 81.0.2 (64-bit)
Suite web dev master commit 4d4a9f3
Device Model T 2.3.4 commit 50854b921

[2020-10-22 09:49] bosomt opened #2710 "Firmware update - untranslated string in modal when cancelled"
**Info:**
 - OS: Nixos
 - Browser: Firefox , version 81.0.2 (64-bit)
 - Wallet Version: web, commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
 - Device Model One 1.9.1 commit 0xc6b2580cd245ee924507f45e9675f857a3d78768,

**Describe the bug**
 Untranslated string is displayed when firmware update is cancelled

**Steps to reproduce:**
1. Start Suite and connect Trezor model One with outdated firmware

[2020-10-22 10:58] bosomt commented on #2710
cancelled 2.3.3 > 2.3.4 update via device button:

![image](https://user-images.githubusercontent.com/31506317/96862746-2aaafa00-1466-11eb-82ba-68f0b2dab015.png)

[2020-10-22 11:01] bosomt commented on #2541
**QA OK**

Nixos + Firefox 81
Suite web dev master commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
Device model T FW 2.3.3 commit 0d5f00668

[2020-10-22 11:30] slowbackspace commented on #2673
@matejzak This is useful for eg. sharing a link to suite.trezor.io on facebook (or any other social net), without these cool tags it looks like this:
<img width="519" alt="Screenshot 2020-10-22 at 13 28 09" src="https://user-images.githubusercontent.com/6961901/96865593-752e7580-146a-11eb-96c6-59e45e260026.png">

Title tag is pretty obvious I guess (Trezor Suite), what should we put inside a descr

[2020-10-22 11:54] keraf opened #2711 "Desktop - Invity Buy - Change popup flow to default browser"
As discussed during the review, the popup flow should be replaced with a buy flow using the default browser and a local web server to catch incoming information (see oauth example).

[2020-10-22 11:57] bosomt opened #2712 "Start recovery button - incorrect name displayed during onboarding"
**Info:**
 - OS: Nixos
 - Browser: Firefox , version 81
 - Wallet Version: app/web, commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
 - Firmware Version: 2.3.3 model T, revision 0d5f00668

**Describe the bug**

Start recovery button has incorrect name displayed onboarding of model T /model One onboarding is OK/
Translation id `TR_START_RECOVERY`: “Install firmware”

**Steps to reproduce:**
1. Reset

[2020-10-22 12:06] robertbrada opened #2713 "Unaligned checkbox items in Backup modal"
See

![unaligned](https://user-images.githubusercontent.com/44506010/96868642-a741d680-146e-11eb-883d-8801c23641b3.png)

[2020-10-22 12:06] prusnak commented on #2673
Tools to test meta tags:

* universal: https://metatags.io/
* OG tags Facebook: https://developers.facebook.com/tools/debug/
* Twitter meta tags: https://cards-dev.twitter.com/validator

[2020-10-22 13:19] bosomt opened #2715 "Onboarding - switching between 2 devices not detected"
**Info:**
 - OS: Nixos
 - Browser: Firefox, version 81
 - Wallet Version: web, commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
 - Firmware Version: 2.3.3 + 2.3.4 model T, revision 0d5f00668

**Describe the bug**
Suite is not detecting that device was switched during onboarding

**Steps to reproduce:**
1. Clear Suite and connect seedless device
2. during onboarding disconnect and connect device tha

[2020-10-22 13:49] #2700 closed, assigned to nobody

[2020-10-22 13:51] prusnak opened #2719 "Rework launching and killing of the bundled bridge"
1. We should not try to start bridge if there is already one running on https://127.0.0.1/21325 and use that instead
2. We should kill the bridge on exit ONLY if it was started by us

We will use the same logic for launching the bundled Tor as well

[2020-10-22 13:51] prusnak commented on #2700
Created another issue for starting/killing the bridge https://github.com/trezor/trezor-suite/issues/2719

[2020-10-22 13:57] bosomt commented on #2595
**QA OK**

Nixos + Firefox 81
Suite web commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
Device model TT 2.3.3 FW commit 0d5f00668

[2020-10-22 14:39] bosomt commented on #2631
**QA OK**

Nixos + Firefox 81
Suite dev web commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
Device 2.3.3 model T commit 0d5f00668

[2020-10-22 14:43] tsusanka commented on #2668
We have agreed with @martinboehm that they will tackle this later since it is not a one-liner and it is not critical. Invity has number of providers it would have to contact first to find out the limits.

[2020-10-22 14:45] tsusanka commented on #2675
@wendys-cats I think this is a duplicate of #2668?

[2020-10-22 14:47] bosomt commented on #2638
**QA OK**

Nixos + Firefox 81
Suite dev web commit 4d4a9f3
Device 2.3.3 model T commit 0d5f00668

[2020-10-22 14:47] tsusanka commented on #2672
We have agreed with @martinboehm that we will tackle this later as it is not critical.

[2020-10-22 15:00] wendys-cats commented on #2675
@tsusanka not a duplicate. This issue specifies missing directional information for user such as price limit - usage information that should be displayed for the user. It does not address functionality of the feature nor faulty validation that #2668 is about.

[2020-10-22 15:07] bosomt commented on #2629
**QA OK**

Nixos + Firefox 81
Suite dev web commit 4d4a9f3
Device 2.3.3 model T commit 0d5f00668

[2020-10-22 15:13] slowbackspace opened #2720 "Inconsistent close buton in some modals"
Let's remove all "cancel"/"close" buttons in modals and replace them with default close btn in the upper right corner.

Be aware that probably not all steps have close button, so it won't be enough to set `cancelable` prop for the whole modal flow (eg in case of backup check/dry run there are steps where we don't want to allow user to cancel the modal).

![image](https://user-images.githubusercont

[2020-10-22 15:15] bosomt commented on #2634
I don't see landing page anymore, Chrome + Firefox, restarted browsers and VPN
It worked fine before.

Nixos + Firefox 81
Suite dev web commit 4d4a9f3f493613c0a86f905414dd8071c55ac69e
Device 2.3.3 model T commit 0d5f00668

![image](https://user-images.githubusercontent.com/31506317/96892515-02cd8d80-148a-11eb-8a3d-46226bf94cb6.png)

[2020-10-22 15:17] tsusanka commented on #2675
I am not sure I follow. So you are missing some info dialog where the limits are written? Could you elaborate on some example maybe?

I don't think #2668 is about faulty validation. It is about the fact that when the minimum is inserted to the input the error message is not displayed right away but only after clicking on the "Compare offers".

[2020-10-22 17:24] wendys-cats commented on #2675
Yes, missing info about price limit before entering anything.
The problem is that user does not know that there is a 30Eur minimum amount requirement. Since it is not an intuitive knowledge (like, f.e. not putting letters/special characters into field for FIAT/coin amounts) and it pertains to how the Suite Coinmarket works, it should be displayed somewhere (maybe via tooltip? placeholder?), so use

[2020-10-22 17:25] #2692 closed, assigned to martinboehm

[2020-10-22 18:06] szymonlesisz opened #2724 "Graph causes render errors"
![Screenshot 2020-10-22 at 19 40 01](https://user-images.githubusercontent.com/3435913/96912035-ffde9700-14a1-11eb-8d85-2809854510f0.png)

[2020-10-22 18:54] tsusanka commented on #2634
This might be related to the fact that our CI is f*cked. Let us fixed that first.

[2020-10-22 20:00] prusnak opened #2725 "Constant sessionId"
It seems to me that `sessionId` field is constant for everyone, not generated during the app start like it's supposed to be.

Offending line: https://github.com/trezor/trezor-suite/blob/5e1c2acef5657c520bcfdaf37b11423ec953f066/packages/suite/src/reducers/suite/analyticsReducer.ts#L15

When I look into the compiled sources, I can see the hardcoded value there:

[code]

[2020-10-22 20:18] martinboehm commented on #2675
We do not have this information (min-max range) before we request offers from our partners.

The limits are not simple - they depend on fiat/crypto pair, country from which the user is accessing the site, current market situation, if the user is recognized by the partners and even the time of the day (strangely enough some products, for example using bank transfers, are offered only during Europea

[2020-10-23 06:38] bosomt commented on #2410
**QA OK**

string issue will be fixed in this issue https://github.com/trezor/trezor-suite/issues/2710

Nixos + Firefox 81
Suite web dev  4d4a9f3f493613c0a86f905414dd8071c55ac69e
Device model One fw 1.9.1 commit 0xc6b2580cd245ee924507f45e9675f857a3d78768,

[2020-10-23 07:38] bosomt commented on #2650
**QA OK**

Nixos + Firefox 81
Suite dev web 4d4a9f3f493613c0a86f905414dd8071c55ac69e
Device model T fw 2.3.3 + 2.3.4 commit 50854b921

[2020-10-23 07:49] bosomt commented on #2617
QA OK

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model T fw 2.3.3 + 2.3.4 commit 50854b921

Looks like this:

![image](https://user-images.githubusercontent.com/31506317/96970952-b54a3280-1514-11eb-8a48-fe267ec97077.png)

[2020-10-23 08:19] bosomt commented on #2365
**QA OK**

In my opinion it looks strange that every tab starts after different  green "space" see : https://www.youtube.com/watch?v=4LkEVzUQi70&feature=youtu.be

QA OK

Nixos + Firefox 81 + Chrome 85
Suite dev web 4d4a9f3
Device model T fw 2.3.4 commit 50854b921

[2020-10-23 08:23] bosomt commented on #2619
QA OK

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model T fw 2.3.3 + 2.3.4 commit 50854b921

[2020-10-23 08:32] bosomt commented on #2556
QA OK

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model T 2.3.4 commit 50854b921

[2020-10-23 08:46] bosomt commented on #2555
**QA OK**

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model T 2.3.4 commit 50854b921

[2020-10-23 08:48] tomexx commented on #2688
I'll check and try to find a workaround

[2020-10-23 09:00] wendys-cats commented on #2675
@martinboehm thank you for taking the time to explain, it now makes sense why we do nto display the info.

[2020-10-23 09:04] bosomt commented on #2659
**QA NOK**

TT cancel update OK
T1 not OK

but there one more issue: https://github.com/trezor/trezor-suite/issues/2710
@slowbackspace close this issue and move to merged or wait till it's fixed ?

![image](https://user-images.githubusercontent.com/31506317/96979359-5ccc6280-151f-11eb-8323-dab3f611e833.png)

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model One 1.9.1 commit 0xc6b2580cd245ee924

[2020-10-23 09:09] mroz22 commented on #2725
This is probably due to how next.js servers prebuilt page along with javascript bundle. It seems to work (correctly change sessionId on page reloads) but I understand the problem with reproducible builds. Will investigate.

[2020-10-23 09:14] mroz22 opened #2731 "Metadata local provider"
Add possibility to save metadata locally on desktop

[2020-10-23 10:36] bosomt commented on #2636
**QA OK**

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model T 2.3.4 commit 50854b921

![suite](https://user-images.githubusercontent.com/31506317/96993928-41b41f80-152c-11eb-9fa5-12886947dfc2.png)
![old](https://user-images.githubusercontent.com/31506317/96993932-424cb600-152c-11eb-93ec-caf0ad4fd3bb.png)

[2020-10-23 10:42] glacierbits opened #2732 "Buy improvements"
### Closed beta:

### Public beta:

- [ ] "Connect Trezor"  (should be Trezor Suite branding?)
- To be fixed once wallet.trezor.io killed

- [ ] Incorrect font colors (multiple places). Please review with the design in Zeplin.

- [ ] Footer too high (should be fixed to the bottom of the page, multiple places)

- [ ] BTC direct: Transaction made > Pending: Go to payment >  404 > Redirect to _my-tre

[2020-10-23 11:53] bosomt commented on #2599
**QA OK**

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model T 2.3.4 commit 50854b921

[2020-10-23 13:09] bosomt commented on #2083
**QA OK**

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model T 2.3.4 commit 50854b921

[2020-10-23 13:59] bosomt commented on #2436
**QA OK**

Nixos + Firefox 81
Suite dev web 4d4a9f3
Device model T 2.3.4 commit 50854b921

[2020-10-23 16:24] glacierbits opened #2736 "Android mobile app 📱"

[2020-10-23 16:42] glacierbits opened #2737 "Bitcoin full node via Electrum Server 🌕"
**Design:** to be added
**Spec:** [Notion](https://www.notion.so/satoshilabs/Full-node-35335fa6d2f543f8853485ed56ed1ded)

---

## Tech Spec

### Main objective
Add support into [blockchain-link](https://github.com/trezor/trezor-suite/tree/develop/packages/blockchain-link) for Electrum Server. This way the user will have the ability to opt-out from our Blockbook backends and set Electrum server add

[2020-10-23 16:44] glacierbits opened #2738 "Dark mode 🌃"
Design: [Zeplin](https://zpl.io/beZg7nN)

[2020-10-23 16:58] glacierbits opened #2739 "Buy crypto 🛒"

[2020-10-23 17:12] glacierbits opened #2740 "Password manager 🔑"

[2020-10-23 19:14] glacierbits opened #2742 "Labeling"
Option to rename:

- Wallets
- Accounts
- Addresses

[2020-10-23 19:14] #2742 closed, assigned to glacierbits

[2020-10-24 07:25] glacierbits opened #2744 "Exchange 📊"
- Exchange crypto to crypto

[2020-10-24 07:32] glacierbits opened #2745 "CoinJoin 🎛️"

[2020-10-25 11:38] tsusanka opened #2747 "Incorrect version on landing page"
**Info:**
 - OS: NixOS
 - Browser: any
 - Wallet Version: develop, most likely 91d61f8
 - Firmware Version: any

**Describe the bug**
The version on the landing page says 20.11. but it should say 20.11.0

**Screenshots:**
![image](https://user-images.githubusercontent.com/1835345/97105104-e7949500-16b8-11eb-86af-d0061697e1bb.png)

[2020-10-25 12:19] tsusanka opened #2748 "Binaries not downloadable on suite.corp.sldev.cz"
**Info:**
 - OS: NixOS
 - Browser: any
 - Wallet Version: develop 91d61f8 and release/2020-10-beta 91d61f884c9a17cea3e338e45f915760c44cd751
 - Firmware Version: any
- URL: https://suite.corp.sldev.cz/suite-web/release/2020-10-beta/

**Describe the bug**
When clicking on Get desktop app I get a 404 Not Found.

**Note(s):**
Is this a long-term deficiency of our CI or it should work? cc @mroz22

Migh

[2020-10-26 07:54] bosomt commented on #2634
**QA OK**

Nixos + Chromium 86.0.4240.75
Suite dev master 91d61f884c9a17cea3e338e45f915760c44cd751

[2020-10-26 08:28] bosomt commented on #2562
**QA OK**

Nixos + Chromium 86.0.4240.75
Suite dev master 91d61f8

[2020-10-26 08:33] bosomt commented on #2651
**QA OK**

Nixos + Chromium 86.0.4240.75
Suite dev master 91d61f8
Device model T fw 2.3.4 commit 50854b921

[2020-10-26 08:59] #2747 closed, assigned to nobody

[2020-10-26 09:10] bosomt commented on #2632
**QA NOK**

@mroz22 text is till disappearing when i move cursor

Nixos + Chromium 86.0.4240.75
Suite dev master 91d61f8
Device model T fw 2.3.4 commit 50854b921

[2020-10-26 09:13] #2667 closed, assigned to szymonlesisz

[2020-10-26 09:13] #2660 closed, assigned to keraf

[2020-10-26 09:32] #2628 closed, assigned to glacierbits

[2020-10-26 09:32] bosomt commented on #2662
**QA OK**

Nixos + Chromium 86.0.4240.75 /switched to mobile view, tested via various mobile presets/
Suite dev master 91d61f8
Device model T fw 2.3.4 commit 50854b921

[2020-10-26 09:38] #2701 closed, assigned to slowbackspace

[2020-10-26 09:50] bosomt commented on #2536
**QA OK**

Nixos + Chromium 86.0.4240.75
Suite dev master 91d61f8
Device model T fw 2.3.4 commit 50854b921

[2020-10-26 10:08] glacierbits opened #2751 "Release notes"
### 🎉 New features
- Anonymous mode (via Tor)
- Buy crypto
- Import of BTC recipients from .csv
- Option to save labels locally (desktop app)

### 🎨 Improvements
- Labeling UI experience
- Device dis/connected visual cue
- Graph tooltip and shadows
- Custom OS navbar
- .. and much more!

[2020-10-26 10:13] mroz22 commented on #2632
Hmm, I don't say this can't happen..., but cant reproduce it right now. Will investigate.

[2020-10-26 10:18] bosomt commented on #2632
@mroz22

it's not happening in transaction tab,
it's happening in receive address tab

[2020-10-26 10:28] wendys-cats commented on #2632
@mroz22 [here](https://drive.google.com/file/d/18-U3dSpUjwLH6I9iTiGAzl2eN0owuOvW/view) you go

[2020-10-26 10:31] wendys-cats commented on #2319
**QA NOK**

browser Chromium 85
Suite web develop branch 4d5d94c51164f229f2f2f3796bc9f2c42f12a5fb
device TT 2.3.4 public revision 50854b921

**Preconditions:**

AccountSearchBox__CoinsFilter active on an arbitrary coin,
10 account limit is not exceeded on the other coin.

**Steps to reproduce:**

**1.** activate filter for an arbitrary coin (LTC for example) and select Add account
**2.** select a

[2020-10-26 10:36] slowbackspace commented on #2319
@wendys-cats  huh, I would expect it will only deactivates the filter so I see it as a feature, not a bug 😁  Ohh, It seems I haven't read the OG bug report properly 😞

@matejzak Just making sure, is this what we want? Should adding a new account activate the coin filter? Couldn't user get confused where are all his other accounts?

[2020-10-26 10:37] bosomt commented on #2667
For reference:
/waiting for deployment/

Incorrect behavior - active connections to blockbook when coins are disabled as a reference for future testing.

Nixos + Chromium 86.0.4240.75
Suite dev master 91d61f8
Device model T fw 2.3.4 commit 50854b921

![image](https://user-images.githubusercontent.com/31506317/97162452-82f03d80-177f-11eb-9168-042cc9ab6f6c.png)

[2020-10-26 10:54] prusnak opened #2752 "Remote secure messaging system"
Let's design and implement secure remote messaging system

We might need to send various messages to the desktop app, such as:
* emergencies (upcoming hard forks, splits, coin removal etc.)
* desktop app kill switch

Requirements:
* possibility to address different versions differently (version comparison)
* security - messages are signed

**Product specification:** [Notion](https://www.notion.so/

[2020-10-26 10:59] wendys-cats commented on #2602
QA NOK
Browser Chromium 85 OS nixOS
Suite [web](https://suite.corp.sldev.cz/suite-web/develop/) 4d5d94c51164f229f2f2f3796bc9f2c42f12a5fb
Device TT 2.3.4 public revision 50854b921

Issue still persists.
Note - unnecessary sidebar appears when user is choosing cryptocurrency, it is not there by default.

![image](https://user-images.githubusercontent.com/58593111/97164391-55f15a00-1782-11eb-92f0-ef7

[2020-10-26 11:01] tsusanka commented on #2748
We need to discuss if we need this.

[2020-10-26 11:02] slowbackspace commented on #2602
@wendys-cats  It's most likely because the fix was not deployed yet 😛 could you give it another shot in cca 30-60 mins? 🙇

[2020-10-26 11:10] tsusanka opened #2754 "App can't be closed on Linux"
**Info:**
 - OS: NixOS
 - Browser: desktop
 - Wallet Version: 34e505ec96de077e9064e76ac4e835e62d53a338

**Describe the bug**
You click on the "cross" icon but nothing happens.

**Steps to reproduce:**
1. Try to close the app

---

Probably introduced by the custom title bar. Most likely will be fixed by https://github.com/trezor/trezor-suite/pull/2733.

[2020-10-26 11:22] mroz22 commented on #2754
I can confirm this for Ubuntu

[2020-10-26 11:24] mroz22 commented on #2632
Thanks. Will fix.

[2020-10-26 12:30] #2724 closed, assigned to tomexx

[2020-10-26 12:32] #2602 closed, assigned to slowbackspace

[2020-10-26 12:39] #2688 closed, assigned to tomexx, slowbackspace

[2020-10-26 13:32] bosomt commented on #2754
I can confirm this for Windows 10 too.

minimise maximise close buttons are not working.
Even Task manager had problems to close app /it worked on 3. try/

Windows 10  with auto update enabled
Suite: app Commit 34e505ec96de077e9064e76ac4e835e62d53a338
Device: Trezor Model T firmware 2.3.4

[2020-10-26 13:37] sorooris commented on #2754
@bosomt pls add the following info in your comment as we usually do everywhere else:

Suite: app/web, version + commit hash
OS: version + build
Device: model, version + revision

T. Hanks.
![image](https://user-images.githubusercontent.com/10185314/97178963-89d77a00-1798-11eb-964d-78bc303fc982.png)

[2020-10-26 14:26] sorooris opened #2757 "Invity - Buy - flow blocked with any provider"
**Info:**
 - OS: macOS Catalina 10.15.7
 - Suite: app 20.11.0 staging 34e505ec96de077e9064e76ac4e835e62d53a338
 - Device: model T 2.3.4 50854b921
 - API server: staging-exchange

**Describe the bug**
Buy flow cannot be finished in the app version of Suite - provider's payment gateway.

**Steps to reproduce:**
1. Launch Suite and navigate to Accounts -> Trade -> Buy,
2. Enter an arbitrary amount ab

[2020-10-26 14:48] szymonlesisz commented on #2643
@bosomt is it still an issue on current develop? i gotta feeling that this may be solved by recent websocket fixes

[2020-10-26 14:52] bosomt commented on #2643
@szymonlesisz not anymore,
I think we can close it and move it to Merged.
If it won't happen I will move it to approved section

[2020-10-26 14:53] tsusanka commented on #2757
@martinboehm please have a look. Binaries are available at https://staging-wallet.trezor.io

[2020-10-26 15:10] #2754 closed, assigned to keraf

[2020-10-26 17:58] szymonlesisz commented on #2691
yes it has, it's stored in `device.state` string.
the problem here is that device is not persistently stored anywhere (not remembered) at this point so whenever you coming back from a trading page device is not recognized by suite/connect.

Solutions:
- "remember" device before redirection and "forget" after redirection back
- do not open trading page in the same tab but rather in new tab

[2020-10-26 18:43] glacierbits opened #2759 "Account: Transactions"
Protype: [**Figma**](https://www.figma.com/proto/MmQtIPoIggyJkBm7vMUHpI/Trezor-Suite?node-id=2616%3A1245&viewport=388%2C712%2C0.04994535446166992&scaling=min-zoom)

Full view: [**Zeplin**](https://app.zeplin.io/project/5f917a8fde13419d016ef2a2/screen/5f91ab5b2a2c344ec1bcd1fb)

Top navigation component: **#2760**

Account & bottom navigation: [**Zeplin**](https://app.zeplin.io/project/5f917a8fde134

[2020-10-26 18:49] glacierbits opened #2760 "Switch wallet navigation"
- [ ] Top navigation (device): https://zpl.io/bLepLLB
- [ ] Default: https://zpl.io/aBL76vq
- [ ] Remember / eject menu: https://zpl.io/aMeZQwm

Related to #2759

[2020-10-26 19:00] #2572 closed, assigned to glacierbits, robertbrada

[2020-10-26 19:00] vladimirvolek opened #2761 "Cannot move the desktop window by grabbing the top panel"
This happens only when dev tools are open.

![image](https://user-images.githubusercontent.com/3112191/97215309-91ad1380-17c4-11eb-819b-5df4fb1d24b9.png)

Also, Icons are different than the other mac os apps - padding, size, etc.

[2020-10-26 20:06] tsusanka commented on #2560
We want to do this later. Not a priority.

[2020-10-26 21:42] flgh commented on #2445
Maybe also an IP field default value=127.0.0.1 for users running tor daemon on another machine ?

[2020-10-26 22:11] prusnak commented on #2761
Which revision is this? Grabbing the top panel works with 48edc16001ac0aad3085575774c65bc3b30e5501 **on Linux**

[2020-10-26 22:17] prusnak commented on #2445
Good idea! If it's possible let's make the Tor IP configurable (127.0.0.1 as default). Otherwise, we'll add this in some of the future updates.

[2020-10-26 22:43] vladimirvolek commented on #2761
48edc16001ac0aad3085575774c65bc3b30e5501