[2021-09-06 12:28] wendys-cats commented on #4218
**QA NOK - Windows 10**

Behaviour still persists.

**Suite version**: app and web 21.9.1 (3aacb04b6dfffbacb1b2e60561354caf913d69b0)
**Browser**: Version 92.0.4515.159 (Official Build) (64-bit)
**OS**: Windows 10
**Device**: model T 2.4.2 regular

[2021-09-06 12:41] bosomt commented on #4218
**QA NOK**

fonts are missing in pdfmake in current devmaster 21.10.0

<img width="606" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/132218994-0f85411c-ef6e-4070-a4fb-dfa3d7781e56.png">

**Info:**
 - Suite version: web 21.10.0 (97259458f0e219cc8f2dc56649facdbf325db2e3)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: Mac

[2021-09-06 12:50] matejkriz commented on #4218
@wendys-cats the link https://github.com/trezor/trezor-suite/commit/3aacb04b6dfffbacb1b2e60561354caf913d69b0 is pointing before the "fix" commit, so you probably tested the old version.

@bosomt unfortunately pointing to current version with the "fix" included, so the issue still remains :-(

[2021-09-06 12:58] bosomt commented on #4218
@matejkriz too bat it was only change already deployed to staging few minutes ago :)
https://github.com/trezor/trezor-suite/compare/v21.9.0...v21.9.1

[2021-09-06 15:00] erickie1 opened #4240 "device detected in incorrect state"
**Describe the bug**
A clear and concise description of what the bug is.

**Info:**
 - Remembered Wallet: yes/no
 - Suite Version: app/web, commit
 - Browser: , version
 - OS: system, build
 - Bridge: build version
 - Firmware Version: model , revision

**Steps to reproduce:**
1. a
2. b
3. c

**Expected result:**
A clear and concise description of what you expected to happen.

**Actual result:**
A

[2021-09-06 15:08] erickie1 commented on #4240
If I connect my trezor, it says: Trezor Bootloader 1.10.0

Trezor says that I have to put my trezor in bootloader mode. They say that I have to hold both buttons pressed and connect the trezor, but nothing changes.

Remembered Wallet: yes/no   I don't know
Suite Version:   I don't know
OS: system, build   Windows 10
Bridge: build version   I don't understand
Firmware Version: model , revision   I

[2021-09-06 15:38] marekrjpolak commented on #4220
Proof of concept here: https://suite.corp.sldev.cz/suite-web/feat/4220-autodetect-theme-locale/web/

- I need some graphic design on how the inputs should look. Currently they are pretty ugly. For example, should it be an item in selectbox, even if 'system' is technically speaking neither color theme nor language? ![image](https://user-images.githubusercontent.com/26326960/132238857-e3961a6c-0fe7-

[2021-09-06 16:58] glacierbits commented on #4220
Great work @marekrjpolak!

Please:

- Use the same select for both cases
- Use "system" or "same as system" as one of the items to be selected
- Using system as default sounds as a nice thing to do (if not too complicated)

Thanks!

[2021-09-07 02:41] CruiseMan commented on #4224
Dude don't take picture of your fingerprints https://www.iheart.com/content/2021-05-25-drug-dealer-busted-due-to-photo-of-cheese-that-included-his-fingerprints/

[2021-09-07 05:47] bosomt commented on #4233
tested with different computers, works as expected.
@sorooris can you please try to replicate it on your mac ?

[2021-09-07 05:59] ravinalamada commented on #4072
@tomasklim, I added the dot in the analytic description message. If there are other things that I should fix in this issue, please let me know.

[2021-09-07 08:03] szymonlesisz commented on #2637
i guess it's roughly done

[2021-09-07 08:03] #2637 closed, assigned to nobody

[2021-09-07 08:14] marekrjpolak commented on #4045
Was partially resolved in #4085 and will be improved in #3706.

[2021-09-07 08:14] #4045 closed, assigned to marekrjpolak

[2021-09-07 08:27] jerechinsky commented on #4233
I was able to complete the FW update of my T1 on my M1 mac. It rebooted automatically into bootloader and then I only had to reconnect it once the update was done.

 - Suite version: desktop 21.9.1 (7d9ab031275907086a2a20f4f3118c3632ef4904)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari

[2021-09-07 08:40] marekrjpolak commented on #3706
I've tested it and Suite currently behaves almost exactly as trezorctl: doesn't allow to install 1.7.3 on 1.10.0 but allows to install 1.8.0 which results in `Unknown bootloader detected` error.

@tsusanka any idea how to detect this error from the firmware binary in advance?

[2021-09-07 08:58] bosomt commented on #4218
**QA OK**

**Info:**
 - Suite version: desktop 21.9.1 (7d9ab031275907086a2a20f4f3118c3632ef4904)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.3 regular

[2021-09-07 09:59] tomasklim opened #4243 "Desktop app titlebar actions do not work when app has no focus"
**Describe the bug**
If the desktop app does not have focus, it is not possible to close it (minimise it or use fullscreen). However, other macOS apps can be closed without focus. Moreover, if I click on actions, it does not give focus to the window.

https://user-images.githubusercontent.com/33235762/132324912-44b6b648-8e1f-43f7-a5b0-4b7b9b74dc30.mov

**Steps to reproduce:**
1. Open desktop app o

[2021-09-07 09:59] jerechinsky commented on #4206
@matejzak I believe a popup like to one I pasted above could be beneficial. Currently, there's no visual cue or indication as to why the user would have to go to the drop-down and select Apple Silicon, when the download button already shows an Apple icon, leading the user to believe he's good to go (when in fact he's not if he has M1).
![Screenshot 2021-09-07 at 11 57 32](https://user-images.githu

[2021-09-07 10:34] bosomt commented on #4233
looks like problem with "update" from 1.10.3 to 1.10.3

1.10.2 > 1.10.3 **QA OK**
1.10.2 > 1.10.3 **QA OK**

**Info:**
 - Suite version: desktop 21.9.1 (7d9ab031275907086a2a20f4f3118c3632ef4904)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050

[2021-09-07 11:03] tomasklim commented on #4072
Thank you for your help @ravinalamada! However, this issue will be solved by another issue: https://github.com/trezor/trezor-suite/pull/4086 😢

Closing.

[2021-09-07 11:03] #4072 closed, assigned to tomasklim

[2021-09-07 11:50] bosomt commented on #4233
Attached Suite log and screenshot of Trezor Bridge and Trezor Suite waiting forever for 1.10.3 in BL mode.

[trezor-suite-log-1631015194220.txt](https://github.com/trezor/trezor-suite/files/7121269/trezor-suite-log-1631015194220.txt)

<img width="1174" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/132339840-7d15fc73-6c1a-4117-845e-cb9f83ec7c45.png">

[2021-09-07 12:16] tsusanka commented on #3706
@matejcik will be able to answer your question properly. My few cents are that I think we should do this only if it is simple enough. We can also hardcode some table against which we would check..

[2021-09-07 12:20] matejcik commented on #3706
There is no reasonably easy way to do it.

What you _can_ do is look up firmware fingerprint in `releases.json` and check if the bootloader is older than what's currently on device.

[2021-09-07 12:36] sorooris commented on #4233
@bosomt retested and **QA NOK**

Firmwares with non-disconnecting bootloader mode reboot (1.10.1 and newer) are not detected after rebooting on macOS Intel.

Suite: app 21.9.1 7d9ab03
OS: macOS Intel Big Sur 11.5.2
Device: model One 1.10.1, 1.10.2, 1.10.3 (unsigned rc)
Bridge: Suite-bundled 2.0.31 5f53132

[2021-09-07 12:42] STew790 commented on #4233
Unfortunately, it is not a problem of just 1.10.3 FW reinstalling. I just tried 1.10.2 > 1.10.3 firmware update and it happened to me as well.
As @sorooris mentioned, it happens when I press the "Confirm" button on the device and the device to confirm the reboot into the bootloader mode.
Also unfortunately, for me it is not 100% reproducible. It doesn't happen every time I try this.

**Info**
- Su

[2021-09-07 13:23] jerechinsky commented on #4233
I just tried again on my my M1 mac 1.10.1 > 1.10.3 and 1.10.2 > 1.10.3 and it got stuck both times. If I reboot into the bootloader using the button, then I can complete the update, but the user doesn't know that ofc.

**Info:**
 - Suite version: desktop 21.9.1 (7d9ab031275907086a2a20f4f3118c3632ef4904)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Geck

[2021-09-07 13:33] bosomt commented on #4233
I was able to reproduce issue with 21.8.1 version of Suite. Not always but sometimes.

**Info:**
 - Suite version: desktop 21.8.1 (bde9e100c5ef37d7ef99c2953f14cc053cfd015d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10

[2021-09-07 14:10] tsusanka commented on #4233
Let's find out if this is a regression or not.

@bosomt Does this mean 1.10.1 -> 1.10.2?

[2021-09-07 14:18] bosomt commented on #4233
@tsusanka doesn't look like it's FW version related
i just tested 1.10.1 to 1.10.2 upgrade in 21.8.1 and it was 50/50% success.

[2021-09-07 17:15] tomasklim commented on #4233
@bosomt could you please test https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/366702367?

[2021-09-07 17:46] jerechinsky commented on #4233
I tried updating about 5 times both `1.10.1 > 1.10.3` and `1.10.2 > 1.10.3` and I've had only about 50% success rate. 😞

**Info:**
 - Suite version: desktop 21.10.0 (d42e5fec301e0d3bc19252a23285c0f1cef99da4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Scree

[2021-09-07 18:15] jerechinsky commented on #4233
Here's the log of when I tried to update `1.10.2 > 1.10.3` and Suite got stuck at the `Reboot your Trezor into bootloader mode` screen. Same version desktop 21.10.0 (d42e5fe).

[trezor-suite-log-1631038141637.txt](https://github.com/trezor/trezor-suite/files/7123544/trezor-suite-log-1631038141637.txt)

[2021-09-08 06:03] bosomt commented on #4233
**QA NOK**

I just tested https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/366702367

After reboot to BL mode and reconnection suite is not able to detect device correctly:

Device disconnected:

![obrazek](https://user-images.githubusercontent.com/31506317/132454995-3b11005a-570e-4cf9-8a94-77e5cc789afd.png)

Device connected in normal mode:

<img width="1269" alt="Screenshot 2021-09

[2021-09-08 09:04] tomasklim commented on #4233
@bosomt
You can test it again and please test that it does not break webusbplugin transport and that it also works on Linux/Windows.

(It should work in onboarding and in settings)

[2021-09-08 09:06] bosomt commented on #4243
i was able to reproduce issue

**Info:**
 - Suite version: desktop 21.9.1 (7d9ab031275907086a2a20f4f3118c3632ef4904)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.1 regular

[2021-09-08 09:07] alex-jerechinsky commented on #4243
Try this one please.
https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/367051191

[2021-09-08 09:08] alex-jerechinsky commented on #4243
It consistently works for me. 🎉

**Info:**
 - Suite version: desktop 21.10.0 (2debf49411803c570a43c66ea5eac84e61814710)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.3 regular

[2021-09-08 09:11] bosomt commented on #4243
**QA NOK**

**Info:**
 - Suite version: desktop 21.10.0 (2debf49411803c570a43c66ea5eac84e61814710)
 - Suite version: desktop 21.9.1 (7d9ab03)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.1 regular

https://user-image

[2021-09-08 09:19] jerechinsky commented on #4233
I just tested Tom's new fix. https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/367051191

And it works for me. Tried updating `1.10.2 > 1.10.3` about 5 times and each time the update went through. 👏

**Info:**
 - Suite version: desktop 21.10.0 (2debf49411803c570a43c66ea5eac84e61814710)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) Tr

[2021-09-08 14:19] Miaalexande commented on #4240
Hello, Have you been attended to and have you been able to resolve out the issue yet ? Have you tried to update your firmware via Trezor wallet ?

[2021-09-08 14:37] sorooris opened #4250 "Onboarding - device seemingly disconnected after completing onboarding with firmware update"
**Describe the bug**
Completing onboarding with a firmware update and selecting the Access Suite button redirects back to the Welcome page with the device seemingly disconnected, even though it's still connected and detected by Bridge.

**Info:**
 - Suite Version: app and web, 21.9.1 8b28b4c
 - Browser: none (app), Chromium 92.0.4515.107
 - OS: macOS Intel 11.5.2 Big Sur, NixOS 21.05
 - Bridge: Su

[2021-09-08 14:40] bosomt commented on #4250
**QA NOK**

i was able to reproduce issue with empty 1.10.2 device onboarding that included update.
Reconnection of device solved it.

**Info:**
 - Suite version: desktop 21.9.1 (8b28b4c5df6eebb039ee30a35fab0016dd30679a)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIn

[2021-09-08 14:42] sorooris commented on #4250
@bosomt's log [trezor-suite-log-1631109649788.txt](https://github.com/trezor/trezor-suite/files/7129682/trezor-suite-log-1631109649788.txt)

[2021-09-08 14:47] STew790 commented on #4250
**QA NOK**

I was able to reproduce this as well with 1.10.2 device updated in onboarding to 1.10.3.
Reconnection also solved the issue for me

**Info**:
 - Suite version: web 21.9.1 (8b28b4c)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36
 - OS: Win32
 - Screen: 1440x900
 - Device: model 1 1.10.3 regular

[2021-09-08 14:59] wendys-cats commented on #4250
Was not able to reproduce this issue on 21.8.1 - update from T1 1.10.1 to 1.10.2.

**Suite**: APP 21.8.1 (bde9e100c5ef37d7ef99c2953f14cc053cfd015d)
**OS**: Win10
**Device**: T1 1.10.2 regular

[2021-09-08 18:52] tsusanka commented on #4250
I tried to replicate this and it seems to me it happens only during an update from 1.10.x. When onboarding from an empty device (no FW) it seems to work. Just seemed worth pointing out :).

- Suite version: web 21.9.1 (8b28b4c)
- OS: NixOS Firefox 90.0.2
-  Device: T1 1.10.2 regular

[2021-09-08 19:17] w7xx commented on #2212
Zeplin is invite-only.. may I request one ?

[2021-09-08 19:40] w7xx commented on #3405
& Tornado.cash to add support for non bitcoin chains ?

[2021-09-09 07:06] bosomt commented on #4250
i had same result with empty Trezor model T with firmware 2.4.1

**Info:**
 - Suite version: desktop 21.9.1 (8b28b4c5df6eebb039ee30a35fab0016dd30679a)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-09-09 08:19] #4175 closed, assigned to matejkriz

[2021-09-09 08:35] #4223 closed, assigned to szymonlesisz

[2021-09-09 11:48] Hermez-cz opened #4254 "Account renaming and labelling counterintuitive behaviour"
**2023/11 update to a more abstract issue:**
Suite's renaming/labelling inputs behave in an counterintuitive manner in some cases. Please update the behaviour as follows:

- Account renaming
  - From the default state, when user clicks [Rename], leave the original text in the input and make it all selected no matter if it was a placeholder or a previously saved custom name. The selection will make

[2021-09-09 12:50] jerechinsky commented on #2643
@bosomt has this happened to you recently ?

[2021-09-09 12:57] bosomt commented on #2643
@alex-jerechinsky yes it did :) even during last 21.9.1 release testing
BUT only this two transactions to account 10 :)
👻

[2021-09-09 13:04] melroy89 commented on #3371
Actually daedalus should be listed as well imo

[2021-09-09 13:27] jerechinsky commented on #3364
I just tried to replicate and couldn't. Could you please try again sometime, @bosomt ?

**Info:**
 - Suite version: desktop 21.8.1 (bde9e100c5ef37d7ef99c2953f14cc053cfd015d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model 1 1.10

[2021-09-09 14:15] wendys-cats commented on #4254
@alex-jerechinsky I don't think this is a bug issue, since closable modals in Suite behave the same way - clicking outside the bounds results in closing the modal.

Maybe adding some effects would be the best option? F.e. some sort of overlay when labeling tag is active, or adding coloured bounds for the labeling tag field?

[2021-09-09 14:48] jerechinsky commented on #3471
@sorooris are you saying that range selection from the dashboard doesn't reflect upon the range selection in each of the accounts? I'm not sure I understand.

[2021-09-09 14:49] #3623 closed, assigned to jerechinsky

[2021-09-09 15:04] marekrjpolak commented on #4220
Current version here: https://suite.corp.sldev.cz/suite-web/feat/4220-autodetect-theme-locale/web/

Known issues:
- System theme detection is not working in Chrome on Linux
- Electron app detects system theme when starting, but doesn't respond to its changes while running, will be fixed by Electron update
- Autodetection is turned on by default, so it can potentially change user's preferences

Mor

[2021-09-09 15:42] #3810 closed, assigned to jerechinsky

[2021-09-09 15:53] jerechinsky commented on #3847
Let's remove the tooltip. @pingpwned

[2021-09-09 18:20] sorooris commented on #3471
Sorry for the confusion @alex-jerechinsky, it took me some time to decode as well - the issue described here is that the range selection is inside the graph's border on the Dashboard and outside the border in Accounts.
![image](https://user-images.githubusercontent.com/10185314/132741163-7f55beee-be38-44bb-8306-101acac96642.png)

[2021-09-10 08:56] bosomt commented on #3364
**QA OK**

i was not able to replicate issue any-more. Looks like it was already fixed.

**Info:**
 - Suite version: desktop 21.9.1 (8b28b4c5df6eebb039ee30a35fab0016dd30679a)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.

[2021-09-10 08:58] bosomt commented on #3364
**QA NOK**

i was able to reproduce issue.
Labels for Standard wallet are gone again :)
Used local storage for labels.

<img width="808" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/132828622-148e8693-92e1-441e-b6a5-85722416045f.png">

[2021-09-10 11:11] wendys-cats commented on #3364
**QA NOK - Confirming for Win10**

Clean install (cleared and deleted everything before testing)
Connected device with hidden wallet, enabled labeling and created labels. Connected second device with standard wallet (different seeds), enabled labeling and created labels. Returned to first device's wallet and labels were gone.

**Suite:** APP  21.9.1 8b28b4c5df6eebb039ee30a35fab0016dd30679a
**Devic

[2021-09-10 11:27] wendys-cats commented on #4224
Updated from 1.2.0 to the latest via Onboarding.

**Update OK**
**Fingerprint shown OK**

Info:
**Suite:** APP 21.9.1 8b28b4c5df6eebb039ee30a35fab0016dd30679a
**Device:** T1 1.2.0
**OS:** Windows 10

Video [here](https://drive.google.com/file/d/1DvAMN4Pij9B29bqqKcLURLjc99GKjc39/view)

![image](https://user-images.githubusercontent.com/58593111/132845948-2a882ebf-1506-423f-8e65-e3e44a74ce56.png)

[2021-09-10 12:46] wendys-cats commented on #4240
@erickie1 can you please send the Suite version that you tried the firmware update on?

[2021-09-11 20:11] karpaterna commented on #4067
@CruiseMan  supported by device, not trezor suite wallet

[2021-09-12 06:22] CruiseMan commented on #4067
What does it mean and why it's not supported ?

[2021-09-12 16:50] karpaterna commented on #4067
@CruiseMan ask here please, github issue is not the right place - https://forum.trezor.io/

[2021-09-12 21:44] wendys-cats commented on #4209
@DominikRocek ďakujeme za napísanie issue! Táto funkcionalita sa z aplikácie nevytratila, iba presunula do detailu transakcie.

Historická cena coinu vo FIAT prepočte je uvedená v detaile transakcie, tj. keď si rozkliknete konkrétnu transakciu a kliknete na Show FIAT. Objavia sa dva stĺpce, kde jeden ukazuje prepočet hodnôt na FIAT v čase, kedy bola transakcia vykonaná, a druhý stĺpec ukazuje prep

[2021-09-13 07:52] Hermez-cz commented on #4254
Hi @wendys-cats - I still see this as a bug from the user perspective, as input field is not a modal, so it really should behave like an input (not modal).

I'd suggest using an easy to find best known practice existing - Google documents renaming. The purpose of it is similar (maybe even the same) and it works pretty seamlessly. It even works differently for default and already renamed state.
We

[2021-09-13 07:53] DominikRocek commented on #4209
Dobrý den,
děkuji Vám za odpověď a ukázku. Nějak jsem nepostřehl, že je tam funkcionalita schovaná po rozkliknutí. :-)

Mějte se hezky a přeji krásný den.

S pozdravem,
Dominik Roček

[2021-09-13 07:59] Hermez-cz commented on #3847
👍 If it's possible, I'd remove it when the device is connected and keep when disconnected. But even removing it entirely is better than the current confusing tooltip.

[2021-09-13 09:11] mroz22 commented on #3364
so, this happens only when storing data locally? or does it happen for any "data provider"?

[2021-09-13 09:42] mroz22 commented on #3761
Can't reproduce but I remember seing this too some time ago.

@matejkriz does this appear in sentry?

we could maybe add some additional logging, something like this would do maybe: https://github.com/trezor/trezor-suite/commit/2dae099ee915249a725394a0d5d1efb3feaa282f

[2021-09-13 10:23] tomasklim opened #4261 "Design of fw update modal and install custom fw is not unified"
**Describe the bug**
Design of fw update modal and install custom fw is not unified. Custom fw modal has header but fw update modal has not.
Moreover, there is text `Install custom firmware` in the header but `Install firmware` in the body.

**Info:**
 - Suite Version: 21.8.1

**Expected:**
Same design with correct texts

**Screenshots:**
FW update modal
![Screenshot 2021-09-13 at 12 15 48](https:

[2021-09-13 10:56] marekrjpolak commented on #3706
AFAIK the functionality to obtain fingerprints of firmware binaries is currently not implemented in Suite, and if I'm looking correctly, in trezorctl there are at least 3 different ways how to calculate them based on firmware version. Moreover, it requires advanced parsing, so it would be rather complex task in javascript. Should I implement it anyway, @alex-jerechinsky?

[2021-09-13 11:56] wendys-cats commented on #4209
Resolved, closing issue

[2021-09-13 11:56] #4209 closed, assigned to nobody

[2021-09-13 12:18] wendys-cats commented on #4254
Hi @Hermez-cz, totally agree. The funcionality itself is rigid and not really user friendly. Attending to it will only benefit the app and its users.

[2021-09-13 12:46] matejcik commented on #3706
The easy way to go about is to do only the one method that is relevant here:

1. strip first 256 bytes
2. take a sha256 of the result

---

I also realized that we only care about bootloaders 1.8.0 and up, correct? There is a reasonably easy algorithm to either get the firmware version, or know that it's incompatible regardless of version.

1. If `firmware[:4] == "TRZR"` then strip first 256 bytes

[2021-09-13 12:54] bosomt commented on #3364
@mroz22 so far it looks like problem with local storage labels. I was not able to reproduce issue with Google storage

[2021-09-13 13:24] wendys-cats commented on #3995
Was able to reproduce as well.

Suite version: APP 21.9.1 8b28b4c5df6eebb039ee30a35fab0016dd30679a
OS: Windows 10
Device: model TT 2.4.0 public regular

[2021-09-13 13:38] matejkriz commented on #3761
yes, I found this in Sentry:
https://sentry.io/organizations/satoshilabs/issues/2534227802/

[2021-09-13 13:44] STew790 commented on #4135
**QA NOK**

I get a prompt to update to 2.1.1 first, unfortunately, the 2.1.1 FW is not in staging environment, so I can't finish the update.

**Info:**
 - Suite version: web 21.9.1 (8b28b4c5df6eebb039ee30a35fab0016dd30679a)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model

[2021-09-13 13:49] STew790 commented on #3153
**QA NOK**

Issue still present

**Info:**
 - Suite version: web 21.9.1 (8b28b4c5df6eebb039ee30a35fab0016dd30679a)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.2 regular

[2021-09-13 14:07] matejkriz commented on #4135
@STew790 I see where the issue is. It is broken for 2.0.5, 2.0.6 and 2.0.7. Could you please confirm that it is at least working with FW >= 2.0.8?

[2021-09-13 14:14] STew790 commented on #3667
**QA NOK**

Issue still present.

**Info:**
 - Suite version: web 21.9.1 (8b28b4c5df6eebb039ee30a35fab0016dd30679a)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.2 regular

[2021-09-13 14:28] matejkriz opened #4262 "Bundling (or not) intermediary firmwares inside desktop app"
**Is your feature request related to a problem? Please describe.**
To be able to do onboarding in app offline and test new FW before public release (see related issues) we are bundling newest FWs inside desktop app. We put them here https://github.com/trezor/trezor-suite/tree/develop/packages/connect-common/files/firmware and remove older ones so the size of desktop app is not growing with every n

[2021-09-13 14:31] STew790 commented on #4135
@matejkriz When I tried to update from 2.0.8, 2.0.9 and 2.0.10 I got prompt to update to 2.4.2 and I was able to install it as well.

![image](https://user-images.githubusercontent.com/48477147/133102502-e5974c86-7eec-4cf3-9b92-180454bd3917.png)

![image](https://user-images.githubusercontent.com/48477147/133101607-7582630f-9a32-48bb-a092-cd972bd292a2.png)

[2021-09-13 16:00] matejkriz commented on #4135
cool, thanks @STew790! and fix for oldest FWs is on the way (waiting just for deployment to staging)

[2021-09-13 16:30] robertkor opened #4264 "Ethereum - "Bump fee" 1) Improper balance 2) Pending transaction is not visible at all in trezor-suite"
Hello,

I have sent transaction 0x598e26ef1715b7eee24660bcb03032471241214669c28388c1320140023d6e46  with only 22 Gwei.

After that I wanted to "Bump Fee" but BUG 1 ----> application did not see my actual ETH balance (instead balance from the moment of transaction creation was seen).

as a result the transaction 0x598e26ef1715b7eee24660bcb03032471241214669c28388c1320140023d6e46 keeps blocking my ac

[2021-09-13 16:39] robertkor commented on #4264
My OS is Windows 10; Trezor 21.8.1

[2021-09-13 22:20] wendys-cats commented on #4090
@szymonlesisz it is about how Retry (button displayed in Dashboard after passphrase mismatch) works - it does not start the proccess again, but only the confirmation.

[2021-09-14 06:46] #3279 closed, assigned to glacierbits

[2021-09-14 07:02] mroz22 commented on #4195
Definitely not. It is a legacy stuff. I already have some WIP branch that tries to deal with it #3991

So far on the Suite's side we have global beforeEach hook that turns bridge off before every test. Each test is then responsible to do its own setup. So far I can live with that I'd say.

[2021-09-14 07:42] tomasklim opened #4267 "Reload app on "Install new firmware" prompt. App never loads."
**Describe the bug**
A user wants to abort firmware installation but doesn't notice the prompt on the device so he will try to reload the app. However, the app never loads.

**Info:**
 - Remembered Wallet: yes/no
 - Suite Version: web/desktop, 21.9.2
 - OS: macOS arm+Intel
 - Transport: Bridge 2.0.30, Webusb
 - Firmware Version: T1

**Steps to reproduce:**
1. Settings/Device
2. Update firmware
3.

[2021-09-14 07:51] Hermez-cz opened #4268 "Discovery crashes when opening device selector sometimes"
**Describe the bug**
When opening and closing device selector modal in Suite during discovery after connecting a device, the discovery process crashes randomly. See video below.

**Steps to reproduce:**
1. Open suite without having Trezor connected
2. Connect Trezor, enter PIN
3. Optional: try to open device selector modal before Suite asks for passphrase
4. Choose standard wallet (or enter passph

[2021-09-14 08:15] #2487 closed, assigned to glacierbits

[2021-09-14 08:17] glacierbits commented on #2040
Old design, closing issue.

[2021-09-14 08:17] #2040 closed, assigned to glacierbits

[2021-09-14 08:19] #4228 closed, assigned to dimasivan

[2021-09-14 08:20] #1793 closed, assigned to glacierbits

[2021-09-14 08:40] glacierbits commented on #3618
Related #1576

[2021-09-14 08:43] #3442 closed, assigned to glacierbits

[2021-09-14 09:15] bosomt commented on #2643
Yap still happening :)

<img width="397" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/133230657-6a556d84-33d4-4753-b0ef-9748c3bf827a.png">

[trezor-suite-log-1631608260788.txt](https://github.com/trezor/trezor-suite/files/7160532/trezor-suite-log-1631608260788.txt)

**Info:**
 - Suite version: desktop 21.9.2 (cc85c69e3d6556e673c4d30f39953179f690b663)
 - Browser: Mozilla/5.

[2021-09-14 09:15] marekrjpolak commented on #4267
Reproduced on production as well, with exception that in step 5 I have to refresh twice to encounter the error. After the first attempt, one refresh is enough to produce the error.

__Info__:
- Suite Version: web 21.8.1 (production)
- OS: NixOS
- Transport: Bridge 2.0.31
- Firmware Version: 1.10.3

[2021-09-14 09:19] matejkriz commented on #4135
fixed in 21.9.2

[2021-09-14 12:17] matejkriz commented on #897
It would be very nice to have it, it could save us from potential security issues.

The integration could be pretty easy, but setup process to benefit from it could be harder. And the [fees are pretty high](https://snyk.io/plans/).

I believe it's worth to test if for a month or so.

[2021-09-14 12:20] #2152 closed, assigned to matejkriz

[2021-09-14 12:20] STew790 commented on #4135
**QA OK**

Updated from 2.0.5 > 2.1.1 > 2.4.2 without any problem (multiple times).

**Info**:
 - Suite version: desktop 21.9.2 (cc85c69e3d6556e673c4d30f39953179f690b663)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.2 regular

[2021-09-14 12:24] bosomt opened #4270 "Missing Ethereum tooltip during onboarding"
**Describe the bug**
See screenshot, when you hover over Ethereum during coin selection during on-boarding you only see string name and not tool-tip.
Tool-tip for XRP /I was on-boarding model One/ is displayed correctly.

**Steps to reproduce:**
1. Onboard new device.
2. During coin selection dialogue hover cursor over Ethereum.
3. Observe tooltip

**Info:**
 - Suite version: web 21.9.2 (cc85c69e3

[2021-09-14 12:36] #2884 closed, assigned to matejkriz

[2021-09-14 12:38] matejkriz commented on #2569
Thanks @ravinalamada 👍

[2021-09-14 12:38] #2569 closed, assigned to matejkriz

[2021-09-14 13:07] #4080 closed, assigned to matejkriz

[2021-09-14 13:10] matejkriz commented on #4095
needs decision in team which library to keep react-spring / framer-motion / ?

[2021-09-14 13:32] bosomt commented on #3982
issue is still present in latest version of Suite

**Info:**
 - Suite version: web 21.9.2 (cc85c69e3d6556e673c4d30f39953179f690b663)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:92.0) Gecko/20100101 Firefox/92.0
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model 1 1.10.3 regular
 - Bridge Version: 2.0.31 (rev 5f53132)

[2021-09-14 18:29] asavis commented on #3950
This is resolved for me in by a new Windows 10 installation.

[2021-09-15 01:33] erickie1 commented on #4240
@Miaalexande No, it isn't resolved. When I click 'update to version 1.10.2', it starts, but then soon stops installing the firmware. The green bar stops at about 20%.

[2021-09-15 01:37] erickie1 commented on #4240
@wendys-cats I don't know how I can see my version. I don't see it at 'properties'

[2021-09-15 06:41] Miaalexande commented on #4240
Hello, thanks for the info. It seems you are encountering some sort of bug in how Suite interact with Trezor Bridge.
Send me an email let me put you through on how to update to a newer version! Miaalexander275@gmail.com

[2021-09-15 06:52] Miaalexande commented on #4264
@robertkor You’ll need to reconnect your wallet using the wallet dapps integrator to access the other coins on your wallet

[2021-09-15 09:08] Miaalexande commented on #4240
@erickie1 send me a direct mail ***@***.***

On Tue, Sep 14, 2021 at 9:37 PM erickie1 ***@***.***> wrote:

[2021-09-15 09:30] glacierbits commented on #3960
FYI our 3D designer should deliver the solution next week.

[2021-09-15 12:16] STew790 commented on #4051
**QA NOK**

Issue still present.

**Info:**
 - Suite version: web 21.9.2 (cc85c69e3d6556e673c4d30f39953179f690b663)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.10.2 regular

[2021-09-15 12:31] STew790 commented on #4071
**QA OK**

"Back" button is not present anymore when modal is opened. Although, the "floating" menu with "Application" "Device" "Crypto" disappears, not sure if this is intended or not.

![image](https://user-images.githubusercontent.com/48477147/133432280-ee9c12a4-c85c-41e3-acb1-9a78b0883c40.png)

**Info:**
 - Suite version: web 21.9.2 (cc85c69e3d6556e673c4d30f39953179f690b663)
 - Browser: Mozill

[2021-09-15 12:35] STew790 commented on #4075
Duplication of https://github.com/trezor/trezor-suite/issues/3960

[2021-09-15 12:35] #4075 closed, assigned to nobody

[2021-09-15 12:49] STew790 commented on #4243
**QA NOK**

The same happens on Windows. I need to click on the window once to focus it and then I can close it.

**Info**:
 - Suite version: desktop 21.9.2 (cc85c69e3d6556e673c4d30f39953179f690b663)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - D

[2021-09-16 08:04] matejcik commented on #3225
could also be a Bridge problem.
this forum user reports same problem: https://forum.trezor.io/t/sign-transaction-error-session-not-found-aug-29-2021-12-28/2463

in that case, using web suite + webusb resolved the problem

[2021-09-16 08:15] tomasklim opened #4277 "Suite Desktop debugging in VS Code does not work"
**Describe the bug**
When I hit F5 in VS Code, debugging never starts because there is an error in console.

[code]

**Info:**
 - OS: macOS

**Steps to reproduce:**
1. Hit F5 in VS Code

**Expected result:**
It will launch electron app.

**Actual result:**
No electron app just an error.

**Note(s):**
After merging `tschuss-next` probably some build scripts changed and we need to update `launch.jso

[2021-09-16 11:27] sentry[bot] opened #4278 "SyntaxError: Unexpected token e in JSON at position 0"
Sentry Issue: [TREZOR-SUITE-HP](https://sentry.io/organizations/satoshilabs/issues/2240885375/?referrer=github_integration)

[code]

[2021-09-16 11:29] sentry[bot] opened #4279 "TypeError: Failed to fetch"
Sentry Issue: [TREZOR-SUITE-X](https://sentry.io/organizations/satoshilabs/issues/1680018913/?referrer=github_integration)

[code]

[2021-09-16 12:37] tomasklim opened #4280 "Auto Updater changelog content could not be retrieved for a moment"
**Describe the bug**
When auto-updater modal is displayed it shows `Could not retrieve the changelog` in as changelog and then after a while actual changelog is displayed.

**Info:**
 - Suite Version: app, 21.8.1

**Steps to reproduce:**
1. Launch an older version of app

**Expected result:**
It shows loader until real changelog is fetched.

**Actual result:**
It shows `Could not retrieve the chan

[2021-09-16 14:13] ppriorfl commented on #3550
ADA needed please - I don't understand when I buy Trezor wallet and it says ADA supported but then I can't see it in the Suite application - it's not really supported then is it - might as well just use my yoroi wallet alone.

[2021-09-16 14:58] drsgomes opened #4282 "Suite offered update to Trezor one for v1.10.13, is this an official release?"
**Describe the bug**
I'm not sure if that's a bug or would be a security vulnerability issue. Or if that should be reported under trezor-firmware.

I've just opened my trezor suite today and saw an option to update to firmware 1.10.13. I was on 1.10.12. *After I did the update* I noticed something weird when I wanted to check the change logs:

1.10.13 it's not there
https://wiki.trezor.io/Firmware

[2021-09-16 15:00] drsgomes commented on #4282
I saw there was a bump in the version here: https://github.com/trezor/trezor-firmware/commit/cec1f39a90b8eff65fa2672f258829464ba28fd0

[2021-09-16 15:04] melroy89 commented on #3550
Yeah its supported by Daedalus, adalite or yoroi in combination with the trezor device. But I agree ada isn't supported out of the box with the trezor suite.

[2021-09-16 15:10] matejkriz opened #4283 "Handle user feedback from error page"
**Send report** button from error page openning Sentry dialog (see screenshots) and messages from users are sent to Sentry:
https://sentry.io/organizations/satoshilabs/user-feedback/

I believe we need to report those feedbacks the same way we did in Guide (send it to https://data.trezor.io/suite/bugs/stable.log)

Error page:
![image](https://user-images.githubusercontent.com/3729633/133634777-2f3

[2021-09-16 15:29] drsgomes commented on #4282
https://blog.trezor.io/trezor-suite-and-firmware-updates-september-2021-a490f2ea16c1

[code]

On that page I saw this link, that is accessible:
https://github.com/trezor/trezor-firmware/blob/legacy/v1.10.3/legacy/firmware/CHANGELOG.md

Now when I try to access https://github.com/trezor/trezor-firmware/commit/9276b1702361f70e094286e2f89e919d8a230d5c I can see the content. Sounds like it was somethi

[2021-09-16 16:27] drsgomes commented on #4282
closing it, now I even see it on https://wiki.trezor.io/Firmware_changelog .

Pheww, for a second I thought I'd lose all my cents hehehe

[2021-09-16 16:27] #4282 closed, assigned to nobody

[2021-09-16 16:30] tsusanka commented on #4282
Apologies, it (a) takes us a while (b) takes some time to clear caches etc. It should be all good now :).

[2021-09-16 18:45] mysliwiec-tech commented on #3882
Seems like new firmware has arrived today: https://github.com/trezor/trezor-firmware/blob/master/core/CHANGELOG.md#242-16th-september-2021

[2021-09-16 21:44] jrm2194 commented on #3882
@mysliwiec-tech Also available for Trezor One? Doesn't seem so :/

[2021-09-17 03:25] mysliwiec-tech commented on #3882
Seems like unfortunately not. Here's why: https://twitter.com/FrederikBolding/status/1438580809582194689?s=19

[2021-09-17 17:18] tsusanka commented on #4233
I think this is fixed?

[2021-09-17 20:14] nater98 opened #4285 "Preserve Integrity of Trezor Wallet When Airdropped Scam Tokens"
Hello!

Lately there has been a lot of Airdrop scamming.  For example, a scammer may monitor Etherscan transactions to target a crypto consumer.  Once they have found a target, the scammer will copy the target's Ethereum Wallet address they just transacted from and airdrop them a significant amount (thousands) of (likely ERC-20) tokens.  The target will then do some research on the token to find i

[2021-09-17 20:57] prusnak commented on #4285
[ethereum-lists/tokens](https://github.com/ethereum-lists/tokens) repository contains [`redFlags`](https://github.com/ethereum-lists/tokens/pull/376) flag that can be added tokens.

So far no token has been labeled with such flag, but we might want to hide such tokens from the Suite. Or at least show a big warning.

@nater98 If you know some tokens that should be marked with redFlag, please send a

[2021-09-18 02:45] Hindsightgenius commented on #3550
Was also the main reason I bought my Model T.  Have to say I was disappointed to see this integration.

[2021-09-18 03:31] xanoni commented on #3550
Well to defend Trezor (oops) here, just because the device supports it doesn't mean that Trezor Suite has to support it.

Many people use Trezor without Trezor Suite.

Also, it may just not be the best use of the Trezor team's time to re-implement what someone else has already done well.

[2021-09-18 03:48] Hindsightgenius commented on #3550
I'd say at minimum and in the interest of fair marketing there should be an asterisk next to Cardano on their supported coins list saying "supported on device but not on suite".  That being said, the addition of Cardano to suite has recently been tagged "high priority" so I guess they think it's a worthwhile use of their time.

[2021-09-18 04:39] ppriorfl commented on #3550
Agree 100% - wouldn’t have spent the extra money. I want ONE wallet not to have to remember multiple different browser plugins etc

Sent from my iPhone

[2021-09-18 12:33] Foxnox commented on #3550
Really happy to see the status change to HIGH. Love the device and appreciate the time and dedication from the people working to realize this feature for all of us. Keep at it guys :)

[2021-09-18 12:42] nater98 commented on #4285
@prusnak Thank you for the insight and recommendation!  I'll make a PR to the repository.

I personally have been airdropped 250,000 AKswap.io tokens on two occasions which I found to be malicious after investigating.  In doing so, I also found other resources/forums of people reporting similar scams with other tokens.

[2021-09-19 11:19] prusnak commented on #2737
I experimented with https://github.com/janoside/electrum-client and this script works for me:

[code]

[2021-09-20 06:45] bosomt commented on #4167
i just found one more account on our testing passphrase

<img width="814" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/133964794-26aee3b4-281e-4507-a568-faaabfc90b07.png">

0x68A896f9969c52DDb3f05E543D16AEe21893e16a

**Info:**
 - Suite version: desktop 21.10.0 (0244ceff3e6200b020c02586729aa4586067289c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit

[2021-09-20 08:24] tsusanka opened #4287 "Inform users about broken autoupdater on 21.9.1"

[2021-09-20 08:24] tsusanka commented on #4287
Closed by https://github.com/trezor/trezor-suite/pull/4284.

[2021-09-20 08:24] #4287 closed, assigned to tsusanka

[2021-09-20 09:23] tomasklim commented on #4287
Config is alive on develop and should be visible only on develop desktop 21.9.1. Download here: https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/373577159

NOT YET AVAILABLE ON PRODUCTION https://github.com/trezor/trezor-suite/releases/tag/v21.9.1

[2021-09-20 10:49] bosomt commented on #4233
**QAOK**

@tsusanka yes it was and AFAIK it was fixed in 21.9.2 public release

[2021-09-20 10:49] #4233 closed, assigned to jerechinsky

[2021-09-20 11:01] sm3434 commented on #3882
So when can we expect support for Trezor one gusys

[2021-09-21 08:57] stepmes commented on #4210
Thanks @DominikRocek very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-09-21 08:57] #4210 closed, assigned to stepmes

[2021-09-21 09:02] stepmes commented on #4177
Thanks, I'm noting it down to the list of feature requests/suggestions!

[2021-09-21 09:02] #4177 closed, assigned to stepmes

[2021-09-21 09:06] stepmes commented on #4091
Hi, Thanks, this sounds great, I'm adding it to our internal database of feature requests and suggestions.

[2021-09-21 09:06] #4091 closed, assigned to stepmes

[2021-09-21 09:08] stepmes commented on #3666
@tsusanka I haven't seen it yet, but I'll note it down. Thanks, @slowbackspace for pointing it out.

[2021-09-21 09:08] #3666 closed, assigned to stepmes

[2021-09-21 21:09] jerechinsky commented on #4071
I'm observing the same thing as @STew790, which seems like intended behaviour. Reopen the issue if you disagree.

![Screenshot 2021-09-21 at 23 06 59](https://user-images.githubusercontent.com/75733878/134247904-b923c032-3b60-43d8-bba3-3822f27de3e5.png)

**Info:**
 - Suite version: desktop 21.9.2 (6b68428cc0e94f3c636df43f4f1add14b5f6fab3)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2)

[2021-09-21 21:09] #4071 closed, assigned to jerechinsky

[2021-09-21 21:25] jerechinsky commented on #4051
Thanks! I've updated the copy in Crowdin. Please test it only after freeze (6th of October) as the changes are not reflected yet.

[2021-09-21 21:25] #4051 closed, assigned to jerechinsky

[2021-09-22 07:30] #4195 closed, assigned to mroz22

[2021-09-22 09:42] jerechinsky commented on #3950
I tried replicating the error myself per Stew's steps, but couldn't. I'll assume this is an edge case and close this now. Please let me know if you experience this again.

**Info:**
 - Suite version: desktop 21.9.2 (6b68428cc0e94f3c636df43f4f1add14b5f6fab3)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.2 Chrome/89.0.4389.69 Elect

[2021-09-22 09:42] #3950 closed, assigned to jerechinsky

[2021-09-22 10:21] jerechinsky commented on #4270
The `TR_NETWORK_ETHEREUM_TOOLTIP` string is supposed to say `Supported tokens` according to crowdin. Could you please look into it @marekrjpolak ?

[2021-09-22 10:22] #4135 closed, assigned to matejkriz

[2021-09-22 10:32] marekrjpolak commented on #4270
The thing is that the 'unavailable' coin tooltips are translated, while the common coin tooltips are currently handled as simple strings. I'll fix it.

[2021-09-22 11:58] wendys-cats commented on #4270
**QA OK - will close when merged with develop**

**OS:** Win 10
**Suite:** 21.10.0 d0abe853eedf3fd49a746deb9c8661e2aa0b43d3
**Device:** TT 2.4.2 public regular

Tooltip has translation!
![image](https://user-images.githubusercontent.com/58593111/134339422-3b9ece6e-d9d4-46cc-9b2d-bdf24c8f2654.png)

[2021-09-22 12:06] wendys-cats commented on #4264
@robertkor hello, thank you for taking the time to write down errors you have encountered!

I checked several ETH blockchain exporers and your transaction 0x598e26ef1715b7eee24660bcb03032471241214669c28388c1320140023d6e46 is nowhere to be found, looks like it got rejected by the mempool, which should make the balance available again.

[2021-09-22 12:52] wendys-cats commented on #4227
**QA OK - will close when merged into develop**

**OS:** Windows10
**Suite:** WEB 21.10.0 f8fe218bdcd8ccea71857d334b610242ef69961b branch fix/4227
**Device:** TT 2.4.2

Tooltip does not fold beneath the header area anymore.
![image](https://user-images.githubusercontent.com/58593111/134346604-39798b53-f132-474e-9344-8b4fccdb9cb2.png)

[2021-09-22 13:43] jerechinsky commented on #3415
Let's make the currency consistent across SendForm and the ReviewTransaction modal according to what the user selected in the SendForm. @marekrjpolak

I don't believe this feature request is urgent, so I'll remove the High priority label. Please correct me if I'm wrong @matejzak.

[2021-09-22 13:50] jerechinsky commented on #4268
@bosomt have you experienced something similar before? Could you please try to replicate it sometime?

[2021-09-23 05:33] bosomt commented on #4268
@alex-jerechinsky yes it's common behaviour of suite since I remember ;)

It usually ends up in state that you are not able to add another wallet even suite says that device is connected.
I usually just reconnect device.

[2021-09-23 07:01] #4270 closed, assigned to marekrjpolak

[2021-09-23 07:04] bosomt commented on #4228
**QA OK**

**Info:**
 - Suite version: desktop 21.10.0 (57444ffb2b000cfb37f543c3a86882ccbe2786cf)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-09-23 07:42] bosomt commented on #4270
**QA OK**

now it says `Supported tokens`

**Info:**
 - Suite version: web 21.10.0 (523970cf503c66effaf1f556d903447e7b2e2302)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-09-23 08:10] jerechinsky commented on #4250
fixed by #4258, I believe

[2021-09-23 08:10] #4250 closed, assigned to jerechinsky

[2021-09-23 11:24] wendys-cats commented on #4161
**QA OK - will close once merged into develop**

tested update to 2.1.1 (no blog post), 2.4.2 (blog post present), 1.10.3 (blog post present)

**OS:** Windows 10
**Device:** TT (update from 2.0.5 and 2.3.6) and T1 (update form 1.10.1)
**Suite:** WEB 21.10.0 694100cd86a6e3a7f5863c45b43ff4995ba16578 branch fix/4161

[2021-09-23 12:46] marekrjpolak commented on #3706
1. Could it be `version_bytes = firmware[16 : 16 + 4]` instead? There seems to be nothing useful at indexes you wrote.
2. This method could only eliminate our 'official' firmware incompatibilities between 1.8.0 and 1.9.4, right? There is no way how to prevent bootloader version incompatibility for 'truly' custom firmware?

[2021-09-23 12:55] wendys-cats commented on #4074
QA OK for  TT, T1 WIP

**Suite:** WEB 21.10.0 62b9f7dab878b6edd8ff1d8e58ca6ac84f1b9fb4 branch fix/4074
**OS:** Windows 10
**Device:** TT and T1

Tried TT 2.0.5 update OK
         TT 2.1.1 update OK
         TT 2.4.0 update OK
         T1 1.10.1 update OK

[2021-09-23 13:18] matejcik commented on #3706
yes, you're right, i was wrongly counting in bits :)

The message "Unknown bootloader detected" is coming from the _firmware_ newly installed on the device, not from the bootloader. If someone builds a heavily customized firmware based on our sources, they are most likely going to
(a) either keep the bootloader cross-check as is, in which case the detection works exactly as advertised,
(b) or remo

[2021-09-23 15:25] marekrjpolak commented on #3415
Technically it's doable, the question is what to do when there are multiple recipients and the user selects different fiat currency for each of them. It seems that the currency in this context is rather a helper how much crypto to send to the specific recipient, and all other amounts on the page are meant to be based on the global settings. @alex-jerechinsky
![image](https://user-images.githubuser

[2021-09-24 08:41] tsusanka commented on #4287
The config is alive on develop finally. @trezor/qa can you please test the build from @tomasklim? **Not** the production yet. @tomasklim can provide more details if needed.

[2021-09-24 08:42] STew790 commented on #4220
**QA OK**
I just tried this on Windows 10 in Chrome, in Firefox and also in the electron app. In all of these it works just fine and I could even change the color of the electron app while it was running.

**Info**:
 - Suite version: web 21.10.0 (d16a22359a51f3c11e8eaf82b8428135ef1a3c25)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.5

[2021-09-24 09:36] STew790 commented on #4287
**QA OK**

MacOS M1
21.9.1 app shows message
21.9.1 web no message
21.10.0 app no message

Windows 10
21.9.1 APP OK shows message
21.9.1 WEB OK no message
21.10.0 APP OK no message

Linux
21.9.1 APP OK shows message
21.9.1 WEB OK no message
21.10.0 APP OK no message

[2021-09-24 11:15] tsusanka commented on #4287
Great. Let's deploy on production on Monday, just in case.

[2021-09-24 13:30] bosomt commented on #4220
is this expected result ? it looks really strange see `System` in language or color scheme field :)
Can we change it for example `English / System` ?
@matejzak @marekrjpolak

<img width="813" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/134682226-9d189093-afb0-49ab-a339-0950667c9eae.png">

<img width="790" alt="obrazek" src="https://user-images.githubusercontent.com/315063

[2021-09-24 14:28] matejkriz opened #4302 "NPM script refactoring"
- [x] fix `yarn run suite:dev:desktop` to build with NODE_ENV=development (production is hardcoded now)
- [x] enable logs to console from [runAfterBuild hook in desktop.webconfig](https://github.com/trezor/trezor-suite/blob/develop/packages/suite-build/configs/desktop.webpack.config.ts#L55)
- [x] nice to have: add script for local lint on staged files only
- [ ] add some consistency for scripts (e

[2021-09-24 15:10] marekrjpolak commented on #4220
It is totally expected and undeniably strange :)
If we decide that we want it, the solution is practically ready. The only issue is that the string (e.g. `System / Español (BETA)`) may become too long for current combobox width.
![image](https://user-images.githubusercontent.com/26326960/134697729-4ba9aad0-901e-48bc-b9fa-ff7cd5d4d305.png)

[2021-09-24 16:13] timemaster5 commented on #3550
+1 :)

[2021-09-25 21:47] facundomedica commented on #3882
Hello! This is affecting all of Trezor One+Metamask users, which I think we are quite a lot of people.
Is there any ETA or guide on how to transact in the meantime? Thank you!

[2021-09-25 22:13] facundomedica commented on #3882
A workaround can be found here: https://twitter.com/benlakoff/status/1441174886114680833
Basically install an older version of Metamask (9.8.4) in Firefox and that's it! Happy transacting while waiting 😄

[2021-09-27 07:29] tomasklim commented on #4302
- [x] fix `yarn run suite:dev:desktop` to build with NODE_ENV=development (production is hardcoded now)
- [x] enable logs to console from [runAfterBuild hook in desktop.webconfig](https://github.com/trezor/trezor-suite/blob/develop/packages/suite-build/configs/desktop.webpack.config.ts#L55)
- [x] nice to have: add script for local lint on staged files only

Are merged in #4303

[2021-09-27 07:30] #3847 closed, assigned to dimasivan

[2021-09-27 09:53] STew790 commented on #3847
**QA OK**

There is no tooltip when hovering over "Add hidden wallet".

**Info:**
 - Suite version: web 21.10.0 (33dc0f16010316d293fdeb4e262ac969c723985f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.10.3 regular

[2021-09-27 09:53] tsusanka commented on #4287
Deployed to production.

[2021-09-27 11:29] tomasklim opened #4304 "Desktop update - manually skipped - UI info"
**Is your feature request related to a problem? Please describe.**
If the user uses an old version of the desktop app and he clicks on ```Skip``` button in the update modal, we do not indicate anywhere in the UI that he uses the old version (because he skipped the update). However, if he clicks on ```X``` button, we indicate that there is a new version. What do you think about adding a note to set

[2021-09-27 11:30] tomasklim commented on #4304
Partially implemented in #4274. Only text ```Update to the latest version has been skipped``` without skipped version number.

[2021-09-27 11:36] tomasklim commented on #4304
@Hermez-cz would like to display the version number of the latest version and later try and design a new better complex solution.

[2021-09-27 11:48] tomasklim opened #4305 "Indicate Dev mode in the UI and command line"
**Is your feature request related to a problem? Please describe.**
There was a bug that auto-updater was mocked in "production" desktop app. If we indicated `dev` mode in UI, we would find the bug earlier. #4273

**Describe the solution you'd like**
Add `-dev` to version in settings and to feedback panel if the app is built in `development` mode.
Show mode when launching and building app in comman

[2021-09-27 12:27] 21isenough commented on #4512
Hey, dear Trezor Team

We are Pocket Bitcoin. A growing Bitcoin DCA-platform from Switzerland 🇨🇭

Many of our clients sign up to Pocket Bitcoin with their Trezors and receive their bitcoin straight to their cold storage. In order to sign up, the users needs to sign a message with their Trezor and for this particular case, AOPP support would be super convenient.

Very happy to find this open issue

[2021-09-27 14:00] facundomedica commented on #3882
@matejcik I think this issue should have a high priority tag given that Trezor One basically stopped being compatible with the most used wallet (Metamask).

[2021-09-27 14:56] matejkriz opened #4306 "Stuck transaction signing (coin stuck)"
**Describe the bug**
People are complaining about stucked transaction signing. See more info here https://satoshilabs.slack.com/archives/CL1D61PQF/p1632439318059100 and support ticket #96208.

**Note(s):**
- probably Connect issue
- it happens in Suite and old wallet too
- happens on T1
- resolved using Electrum
- it's probably not about complexity of the transaction

[2021-09-27 15:49] marekrjpolak commented on #3994
Current preview here: https://suite.corp.sldev.cz/suite-web/feat/3994-guide-search/web/

As decided at meeting, this solution is less sophisticated, but more precise (variant D, see above). There is still a lot of room for improvement (e.g. multi-word queries, different scoring when the searched term is in a header etc.), but unless everything is up to me, more product input is welcome.

@matejzak

[2021-09-27 18:55] wminshew commented on #3882
agreed -- probably going to buy & switch to a ledger because of this

[2021-09-28 08:57] #4305 closed, assigned to tomasklim

[2021-09-28 09:14] wendys-cats commented on #4220
**QA OK**
Tried it on Chrome (artifacts are no longer present)

**Info:**
**Suite:** WEB 21.10.0 (d16a223) branch 4220-autodetect-theme-locale
**Browser:** Chrome Version 93.0.4577.82 (Official Build) (64-bit)
**OS**: Win10
**Device:** model T 2.4.2 public regular

[2021-09-28 10:21] matejkriz commented on #4227
@matejzak please confirm if it's ok to keep it beneath the sticky header (on scroll) or the tooltip should be even above the sticky header - see video in:
https://github.com/trezor/trezor-suite/pull/4266#discussion_r710801519

[2021-09-28 12:28] jrm2194 commented on #3882
Same @wminshew @matejcik  Buying my Ledger today.

[2021-09-28 13:26] #2675 closed, assigned to martinboehm

[2021-09-28 13:59] zaplmi opened #4307 "After the fw update, the application shows two devices"
**Describe the bug**
Trezor Suite shows two devices

Few customers has recently reported this sort of an issue in Trezor forum thread:
https://forum.trezor.io/t/info-trezor-stuck-in-bootloader-mode-1-10-0-during-firmware-update/2402/14

After updating from from previous to the latest FW version on MacOS the desktop application shows two devices connected.
After entering passphrase (in order to get

[2021-09-28 14:08] bosomt commented on #4307
i was able to reproduce issue /see my video in issue/ on my macOS M1.
And I was not able to reproduce issue with KUbuntu linux
Issue occurs when you use old 2.0.27 and new 2.0.31 versions of Trezor Bridge.

[2021-09-28 16:58] wendys-cats commented on #4223
**QA OK**

Was able to [bump ](https://btc5.trezor.io/tx/390c15a0928847577758619456af694a6120d4d48e9dafafe00bff1d9eec74fa)and [finalise ](https://btc3.trezor.io/tx/a0b4decff2ed48cca1750d28ea538128f252daa0c1d49fbde3542d004a33ef43)a transaction sent to myself (from and to the same account).

**Info:**
**Suite version:** web 21.10.0 8062c36dbafbaa5cb51a154c795c447b4e2edd3e branch develop
**Browser:**

[2021-09-29 05:14] angyts commented on #3882
This trezor one breaks support for most web 3.

Doesn't work with placing bids on openseas, rarible. No limit orders on decentralised exchanges. Breaks coordinape. Pays more gas fee. Seriously just junk right now.

[2021-09-29 05:14] angyts commented on #3882
I already got my ledger nano X few months back and enjoying it.

[2021-09-29 05:55] bosomt commented on #4307
Latest info from customer :
https://forum.trezor.io/t/info-trezor-stuck-in-bootloader-mode-1-10-0-during-firmware-update/2402/15
I ended with same result, I'm not able to access my Suite any more. Doesn't matter if i have connected device or not it shows this:

<img width="784" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/135210687-03d39e34-e441-4c97-9072-21738218b6bf.png"

[2021-09-29 08:25] martinboehm opened #4308 "Trading - improve destination address selection in exchange and buy"
Based on feedback from a user:

1) display labels in account selection
2) make it possible to choose any account address (show derivation path of the addresses for easier address choice)

[2021-09-29 08:56] tomasklim opened #4309 "Update desktop app libs"
We use old versions of libs in `packages/suite-desktop`

E.g. `electron 12` instead of `electron 14`,...

[2021-09-29 08:57] #4309 closed, assigned to tomasklim

[2021-09-29 11:30] matejkriz commented on #4216
from Szymon: it doesn't affect Connect, so OK

summary for Suite use cases:

- `name` we could know which screen is it (TBD where to put those definitions? Some shared JSON/MD/whatever probably)
- `confirm_output` + `index` which of outputs (we know the total count)
- `pages` no use case so far?

[2021-09-29 11:30] #4216 closed, assigned to matejkriz

[2021-09-29 12:59] #4306 closed, assigned to nobody

[2021-09-29 14:29] #2303 closed, assigned to nobody

[2021-09-29 14:29] #3294 closed, assigned to tomasklim

[2021-09-29 15:02] matejkriz commented on #3923
It's not happening to many users, but there are many events (tens of thousands for each user). I believe, that it was caused by user deleting indexdb in browser (breadcrumbs of all events including `Unexpected IDB close` warning). That is also a way to reproduce it.

PR https://github.com/trezor/trezor-suite/pull/4312 allows to reopen/recreate DB in that case so the error is gone.

[2021-09-30 04:59] neokry commented on #3882
This issue breaks metamask support for trezor one. Seriously need a fix for this soon.

[2021-09-30 08:59] tomasklim opened #4313 "URI Protocol Handler follow-up"
Follow-up issue of #3294 (#991)

**Current implementation**
Info can be found [here](https://github.com/trezor/trezor-suite/blob/develop/docs/features/protocols/coin_handler.md).
Video example: [Web](https://user-images.githubusercontent.com/33235762/134486746-85719580-ce5c-4f58-898c-1907823014eb.mov)
Video example: [Desktop](https://user-images.githubusercontent.com/33235762/134506192-7a533cf9-e6

[2021-09-30 09:00] tomasklim commented on #3294
Ideas, bugs,... to follow-up issue #4313

[2021-09-30 09:09] tomasklim commented on #3294
Info about current implementation can be found [here](https://github.com/trezor/trezor-suite/blob/develop/docs/features/protocols/coin_handler.md).

**Video example**
Web
https://user-images.githubusercontent.com/33235762/134486746-85719580-ce5c-4f58-898c-1907823014eb.mov

Desktop
https://user-images.githubusercontent.com/33235762/134506192-7a533cf9-e6e8-4c63-8d13-f223f0d41ff1.mov

[2021-09-30 11:34] #3923 closed, assigned to matejkriz

[2021-09-30 15:46] bosomt opened #4316 "XRP account minium is set to 20 even it's currently 10"
**Describe the bug**
See link : https://xrpl.org/reserves.html

`
The current minimum reserve requirement is 10 XRP. (This is the cost of an address that owns no other objects in the ledger.) Each new account must set aside this much XRP. Some of this XRP can be recovered by deleting the account.
`

**Info:**
 - Suite version: desktop 21.9.2 (6b68428cc0e94f3c636df43f4f1add14b5f6fab3)
 - Browser: M

[2021-09-30 23:15] wendys-cats commented on #2646
**Confirming on Windows 10 for XRP and TXXP**

**Info:**
**Suite:** APP 21.9.2 6b68428cc0e94f3c636df43f4f1add14b5f6fab3
**OS:** Windows 10
**Device:** TT 2.4.2 public regular

**- for XRP, one transaction creates 4 notifications**
![image](https://user-images.githubusercontent.com/58593111/135452008-266fac98-ebf7-48fb-838d-ed965e2a78bc.png)
![image](https://user-images.githubusercontent.com/585931

[2021-10-01 10:07] tomasklim commented on #4189
Renamed:
`wallet/created` => `select-wallet-type`

Deleted:
`desktop-init`

Added:
`switch-device/add-hidden-wallet`

[2021-10-01 12:50] #4074 closed, assigned to dimasivan

[2021-10-01 16:29] tsusanka commented on #2575
We have set the short-lived tokens in Dropbox settings and released a fix for TPM. So far nothing seems to indicate that this would break Suite or old wallet. We'll keep an eye on it but let's close for now.

[2021-10-01 16:29] #2575 closed, assigned to mroz22

[2021-10-01 20:27] ndroo commented on #3882
We are using presently using Trezor for our defi fund, if we cannot rely on Trezor to support features like this, we cannot rely on Trezor. Someone taking this seriously (more seriously than @prusnak took it in the other thread) would go a long way.

[2021-10-01 20:49] ndroo commented on #3882
![image](https://user-images.githubusercontent.com/709085/135684573-f9b3dcaf-8b75-4105-b1ff-47f92a7931c5.png)

Opted for this fix...

[2021-10-02 15:13] bosomt commented on #4036
@bunkaq can you please give us more information or at least Eth address that we can import and check how it behaves in current version of suite ? Or we can close this issue ?

[2021-10-02 15:18] bosomt commented on #4230
@LukAss741 can you please confirm that issue still persists in current version of Suite ?

Can you please give us more information like : Firmware version of your device, operating system and platform that are you using /browser or application/ ?

[2021-10-02 15:21] bosomt commented on #4264
@robertkor can you please confirm that your issue was solved and we can close it ?

[2021-10-02 15:51] bosomt commented on #4226
@STew790 please retest, i was not able to replicate it , connected via webUSB , i was never asked to re-aquire and i always saw passphrase modal after reload of Suite /current dev master/

**Info:**
 - Suite version: web 21.10.0 (fb77977a704f69423947d850153fe54fedeaf6fe)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/53

[2021-10-02 20:15] bosomt commented on #3919
closing in favour of https://github.com/trezor/trezor-suite/issues/3364

[2021-10-02 20:15] #3919 closed, assigned to nobody

[2021-10-02 20:34] bosomt commented on #3186
works for me now,
can you please confirm and close issue @prusnak ?

**Info:**
 - Suite version: desktop 21.10.0 (3b62745211045c3e0ab7472200c69c5388593052)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.0 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.9.4 regular

[2021-10-02 20:44] prusnak commented on #3186
Works for me

[2021-10-02 20:44] #3186 closed, assigned to nobody

[2021-10-03 08:13] gliinbox commented on #3882
Hi Trezor team, seems like alot of comments were deleted  yesterday - curious, what was the reason?

I imagine there's a large number of Trezor one users, and metamask/ eth is probably the #1 use case outside of cold storage. I'm curious if this is seen as important for Trezor, if not, why? This way users can prepare for the future by looking at alternatives ...

thanks ya'll - still think ya'll t

[2021-10-03 08:28] monomesa commented on #3882
It will be good to have clarity here!

[2021-10-03 13:44] bosomt commented on #3970
Same behaviour in current dev master 21.10.0

[2021-10-03 22:13] darwin opened #4321 "Consider blocking sleep when initiating wallet setup/restore/check"
I have a MacBook Air M1 (late 2020) with fresh installation of macOS 12.0 (Monterey beta) with default power settings. This affected me multiple times already when working with Trezor (model T) with the notebook running on battery. Some user workflows like wallet restore, initial wallet backup or backup check could take more time entering seed words on the trezor device. If notebook goes to sleep

[2021-10-04 07:36] jerechinsky commented on #4307
@matejkriz do you think it's feasible to try to fix this issue or should I request that product team considers the "delete storage" button per Bošo's tip?

[2021-10-04 07:49] matejkriz commented on #4307
@alex-jerechinsky I believe it's worth a try to fix it.

BTW, we should fix the referenced issue https://forum.trezor.io/t/info-trezor-stuck-in-bootloader-mode-1-10-0-during-firmware-update/2402  too! It is this issue: https://github.com/trezor/trezor-suite/issues/4132 (not related to two devices after update, but to intermediary...)

[2021-10-04 07:50] #3299 closed, assigned to LukasRada, martinboehm

[2021-10-04 08:29] wendys-cats commented on #3847
**QA OK**

Tooltip not present when device is connected - OK
![image](https://user-images.githubusercontent.com/58593111/135818351-f6470a46-0a8c-4605-b4ee-9356f1c4be98.png)

Tooltip present when device is disconnected - OK
![image](https://user-images.githubusercontent.com/58593111/135818471-de0cfd36-3bff-477b-bb10-089ac600129e.png)

**Info**
**Suite:** 21.10.0 f14989d7ed4081ed45c65475c6aa85602ea2

[2021-10-04 09:43] jerechinsky commented on #3320
I believe this is addressed by #3713, #4076, #3992.

[2021-10-04 09:43] #3320 closed, assigned to nobody

[2021-10-04 09:48] jerechinsky commented on #4227
For now let's keep it beneath the sticky header and merge the PR as is. If the product team objects later, then we'll follow up. @pingpwned

[2021-10-04 10:11] #4227 closed, assigned to glacierbits, dimasivan

[2021-10-04 10:22] jerechinsky opened #4323 "Crowdin sync"
- [x] update copy in Suite from Crowdin English & Spanish
- [x] upload new messages to Crowdin from Suite

[2021-10-04 10:51] szymonlesisz commented on #4316
@bosomt good catch, should be fixed here:
https://suite.corp.sldev.cz/suite-web/fix/xrp-reserve/web/

![Screenshot from 2021-10-04 12-49-08](https://user-images.githubusercontent.com/3435913/135838919-843d4b08-eb67-4355-9007-75f7ed0de604.png)

![Screenshot from 2021-10-04 12-49-55](https://user-images.githubusercontent.com/3435913/135838928-79a3344e-eb1e-4cf5-adeb-f2711f755066.png)

[2021-10-04 11:02] bosomt commented on #4316
**QA OK**

tXRP and XRP txs tested
all we need is to change it in wiki

**Info:**
 - Suite version: web 21.10.0 (9c06f475043a4dc816465a5e4068271b23b6d69c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:92.0) Gecko/20100101 Firefox/92.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-10-04 11:02] #4316 closed, assigned to jerechinsky

[2021-10-04 12:07] wendys-cats commented on #3294
**QA NOK** (WIP, results will be added to this comment)

**1. Send button is disabled when autofill is applied BUG
When info from bitcoin: URI handler is autofilled, Suite does not automatically convert the coin amount into FIAT amount and fill the FIAT field, which is needed for Send button to become enabled.
Once coin amount is changed, or FIAT type is (re-)selected, Suite converts the coin amou

[2021-10-04 12:43] STew790 commented on #4226
I still managed to replicate this. I recorded video as well.

**Info**

- Suite version: web 21.10.0 (f14989d)
- Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 - -- Safari/537.36
- OS: Windows 10
- Screen: 1366x768
- Device: model 1 1.10.3 regular

**Video**
https://youtu.be/3q-4i1WgFFY

[2021-10-04 13:38] #3547 closed, assigned to nobody

[2021-10-04 14:00] jerechinsky commented on #4264
@robertkor let us know if you still experience this.

[2021-10-04 14:00] #4264 closed, assigned to nobody

[2021-10-04 14:06] jerechinsky commented on #3947
iOS is not supported.

[2021-10-04 14:06] #3947 closed, assigned to nobody

[2021-10-04 14:35] #4189 closed, assigned to tomasklim

[2021-10-04 15:35] mroz22 opened #4327 "react-select in used directly in suite package"
`packages/suite/src/views/wallet/sign-verify/components/SignAddressInput.tsx`

`packages/suite/src/components/suite/WordInput/index.tsx`

is accessing `react-select` directly. In ideal world react-select should be accessed through facade of `@trezor/components`. `react-select` is not dependency of @trezor/suite` after all.

[2021-10-04 15:42] #2854 closed, assigned to marekrjpolak

[2021-10-04 16:00] mroz22 commented on #4055
Hello, for the reason of RSOD you can check this article https://wiki.trezor.io/RSOD

Once you recover your device (the same device or a new one) from your seed, you should be able to see all of your previous labels.

So I think this is not a feature request actually.

[2021-10-04 19:44] bosomt commented on #4227
**QA OK**

**Info:**
 - Suite version: web 21.10.0 (ec1486f8f6086545526b8ec1c01174906213669a)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:92.0) Gecko/20100101 Firefox/92.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-10-05 05:24] bosomt commented on #4067
Looking forward for design change of `activate more coins` and `testnet coins` button design.
One is designed as link and one not. One is drop down menu and one has `x` button

https://user-images.githubusercontent.com/31506317/135964760-b8922545-160f-4476-8e31-ce77ea0276a6.mov

[2021-10-05 06:19] bosomt commented on #2854
@marekrjpolak as soon i leave `Sign message` page /usually to `Verify message` page/ all fields are cleared and i'm not able to copy them to verify message.

Of course i can copy them to text editor but it's different design compared to MyTrezor wallet and Trezor Next wallet.

Is that expected or should i send issue ?

++ edit:

any idea why `x Clear all` button is always present in `Sign` section

[2021-10-05 07:02] jerechinsky commented on #4240
Hi @erickie1, I'm sorry, but your bug report lacks essential information. Without knowing which steps you took before you experienced the bug, we can't help you nor fix the bug. I will close this issue, but feel free to open a new one and fill the bug report form.

Here's how you can find out Suite Version:
https://satoshilabs.notion.site/How-to-open-issue-from-Suite-eb22fda0487349cc8bf92b3964740a

[2021-10-05 07:02] #4240 closed, assigned to nobody

[2021-10-05 07:17] jerechinsky commented on #4036
Hi @bunkaq, I'm sorry, but your bug report lacks essential information. If you don't use the bug report template, we can't help you nor fix the bug. I will close this issue, but feel free to open a new one and fill the bug report form.

You can use this feature to get basic info like Suite and FW version pre-filled:
https://satoshilabs.notion.site/How-to-open-issue-from-Suite-eb22fda0487349cc8bf92

[2021-10-05 07:17] #4036 closed, assigned to nobody

[2021-10-05 08:02] marekrjpolak commented on #2854
I presumed that you usually don't need to verify your own signed message. If you want, the best way is to use the Copy button which appears after the signing and copies whole signed message (hopefully in widely used format) to clipboard:
![image](https://user-images.githubusercontent.com/26326960/135982944-11069d5b-bdcc-4f27-84c4-4d00a89ac66b.png)

Clear button should be visible under the same con

[2021-10-05 09:59] marekrjpolak commented on #2854
I know it's kind of late, but I should still write a little overview of Sign&Verify functionality.

1. Sign&Verify is enabled for most Bitcoin-like and Ethereum-like coins and accessible through … button in Account menu. ![image](https://user-images.githubusercontent.com/26326960/135984614-228d0da0-67d4-4d75-9d94-a779506a399f.png)
2. Both forms:
	1. You can write any message up to 255 characters i

[2021-10-05 11:44] #4313 closed, assigned to nobody

[2021-10-05 13:12] #4323 closed, assigned to mroz22

[2021-10-05 14:08] STew790 commented on #4051
**QA OK**
The copy in the Portfolio section is changed, although, @alex-jerechinsky  I am not sure if the "error" copy in the Assets section shouldn't be changed as well, because the "Assets were not loaded properly" might be confusing as well.

**Info:**
 - Suite version: web 21.10.0 (35264277873f8c09078d71f31ac11f07d467950f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML,

[2021-10-05 14:33] STew790 commented on #4323
**QA OK**

Since this issue https://github.com/trezor/trezor-suite/issues/4051 is QA OK and is synced, the Crowdin sync is approved as well.

[2021-10-05 18:33] bosomt opened #4336 "Labelling button does not fit to Wallets modal in Czech translation"
**Describe the bug**
See screenshot, after translation to Czech language labelling button does not fit to `Wallets` modal.
English and Spanish version looks as expected.

**Info:**
 - Suite version: desktop 21.10.1 (ea82dd4a00ad06e3c36a267be1c08ade554dac58)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Ele

[2021-10-05 19:26] bosomt opened #4337 "Suite ask you not to hold any buttons when you connect Trezor model T in bootloader mode"
**Describe the bug**

Suite asks you to:
`Please make sure you are not holding any buttons while connecting your device.`
even you connect Trezor model T in bootloader mode.

**Steps to reproduce:**
1. Start Suite
2. Connect Trezor model T in bootloader mode
3. Observe instructions

**Info:**
 - Suite version: desktop 21.10.1 (ea82dd4a00ad06e3c36a267be1c08ade554dac58)
 - Browser: Mozilla/5.0 (Maci

[2021-10-05 20:33] bosomt opened #4338 "Missing Czech translations"
**Describe the bug**
Found some English sentences that are not translated.

**Info:**
 - Suite version: desktop 21.10.1 (ea82dd4a00ad06e3c36a267be1c08ade554dac58)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regula

[2021-10-06 08:51] glacierbits commented on #3960
@stepmes any objections regrading this design proposal? 👇🏽 🙏🏽

https://www.dropbox.com/s/arnj76udq4gbubt/Dark_mode.mp4?dl=0

[2021-10-06 09:02] prusnak commented on #3882
@jrm2194 @sm3434 @facundomedica  @neokry @gliinbox @monomesa
We are investigating EIP-1559 for Trezor Model One in https://github.com/trezor/trezor-firmware/issues/1834

[2021-10-06 13:38] marekrjpolak commented on #2854
Small fixes:

- `Clear all` button is now hidden on Ethereum signing page as well, until you change something.
- `Copy` button is now visible after signing even if message was empty.
- Action buttons (Clear & Copy) are now without icons as in Zeplin design.

[2021-10-06 14:00] matejkriz commented on #4156
yes, it's basically the same issue

[2021-10-06 14:22] STew790 commented on #4338
So far I found these that are not translated (will edit as I found other ones):

**6.** "Search" in Accounts section:
![image](https://user-images.githubusercontent.com/48477147/136222023-1c845c51-ca81-4061-89c8-8946840f77f7.png)

**7.** "All" in Account, under the graph.
![image](https://user-images.githubusercontent.com/48477147/136223098-04a2e545-14c2-46b4-a811-c4ae686286b6.png)

**8.** "Sent"/

[2021-10-06 14:24] jerechinsky commented on #4338
**14.**

1st troubleshooting step on "connect your trezor" screen

![Screenshot 2021-10-06 at 16 03 47](https://user-images.githubusercontent.com/75733878/136222279-07685f52-033d-455a-b435-f656ef343d1b.png)

[2021-10-06 14:43] matejkriz opened #4344 "Use ButtonRequest POC for transaction review"
To verify FW Proof of Concept of new scheme for ButtonRequests
https://github.com/trezor/trezor-firmware/issues/35

Try to use `confirm_output` + `index` from new ButtonRequest to display active step instead of just "guessing".

Use https://github.com/trezor/trezor-firmware/tree/matejcik/buttonrequests branch, it will go to develop only after verification.

[2021-10-06 15:10] matejkriz opened #4345 "Suite UI 1.5 - General updates"
[Figma link](https://www.figma.com/file/pIibgxmxD0jrAa9UGJd9da/Neue-Desktop-1.5?node-id=7433%3A66228)

- Each part (Colors, TextStyles, ...) can come in its own PR, they don't have to go together.
- We want to iterate, so do the change and ask UI guys for feedback and also give any feedback to them directly.

### Colors:

- [ ] Type/Green: #279503 > #00854D
- [ ] BG/Green: #39A814 > #00854D
- [ ]

[2021-10-06 16:11] bosomt commented on #2854
@marekrjpolak amazing, thank you looks good for me now
/sorry i haven't noted `copy` button during my first test session ;)/

[2021-10-06 17:36] glacierbits commented on #3900
Design linked at the description 🙏🏽

[2021-10-06 17:52] bosomt commented on #4338
**15.**
I'm not sure if it's expected or not.
But . appeared in Czech version of suite :)

<img width="305" alt="Screenshot 2021-10-06 at 19 49 59" src="https://user-images.githubusercontent.com/31506317/136257027-5eb353ec-b7fb-4156-bbe2-8f28b8c4445c.png">
<img width="243" alt="Screenshot 2021-10-06 at 19 50 15" src="https://user-images.githubusercontent.com/31506317/136257020-bb7bed0e-3f4f-473c-8

[2021-10-06 18:24] bosomt commented on #4338
**16.**
it suppose to say 13 minci and not 13 mince

<img width="505" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/136261332-422c4a14-5508-4677-bfcc-175cd305b301.png">

[2021-10-06 19:05] bosomt commented on #4305
**QA OK**

**Info:**
 - Suite version: desktop 21.10.1 (4b0ade9e0732a14970bd484465b1658044cdea30)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-10-06 19:13] wendys-cats commented on #4338
**17.**
Error: Device call in progress - English should not be present
![image](https://user-images.githubusercontent.com/58593111/136268008-8ea0db13-af90-44b8-8a62-4f6b6d4832e4.png)

[2021-10-06 19:46] wendys-cats commented on #4338
**18.**
Error: Pin entry cancelled - English should be not present
![image](https://user-images.githubusercontent.com/58593111/136272725-4b389549-4da3-46a3-aa84-5170cf7b95d3.png)

[2021-10-06 20:19] wendys-cats commented on #4338
**19.**
Error message in Dashboard: incorrect message (entering passphrase was cancelled, not PIN)
![image](https://user-images.githubusercontent.com/58593111/136277039-23cb0fdf-af26-414b-a7ec-0761351d7f7e.png)

[2021-10-07 06:02] bosomt commented on #2854
@marekrjpolak

it's common behaviour of suite that buttons are not active/green when you are not able to perform action /fields are not filled in/

otherwise overall Sign&Verify functionality is great

<img width="734" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/136328258-c8e22c24-8830-4bf8-958b-a7367cffceb7.png">

<img width="731" alt="obrazek" src="https://user-images.g

[2021-10-07 06:37] glacierbits commented on #3960
3D animation for implementation: https://www.dropbox.com/s/1jszt6ugshc0k9t/Dark_mode.mov?dl=0

[2021-10-07 07:33] jerechinsky commented on #4230
Hi @LukAss741, I'm sorry, but your bug report lacks essential information that we can't help you nor fix the bug without. I will close this issue, but feel free to open a new one and fill the bug report form.

You can use this feature to get basic info like Suite and FW version pre-filled:
https://satoshilabs.notion.site/How-to-open-issue-from-Suite-eb22fda0487349cc8bf92b3964740ab2

[2021-10-07 07:33] #4230 closed, assigned to jerechinsky

[2021-10-07 08:33] glacierbits commented on #2542
Closely related to #3729

[2021-10-07 08:57] tsusanka commented on #3706
Upon further discussion we have decided this is not worth the effort. It requires complex implementation and solves minor use  case.

[2021-10-07 08:58] #3706 closed, assigned to marekrjpolak

[2021-10-07 09:58] wendys-cats commented on #4338
**20.**
English should not be present.
![image](https://user-images.githubusercontent.com/58593111/136362911-9a18ca36-d66e-478f-950e-983d09e94d33.png)

[2021-10-07 10:20] bosomt commented on #4338
**21.**
Czech vs English hint in wallet selector modal

<img width="318" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/136366183-49151432-6c38-4d9d-b785-0c6a8fb2e914.png">

<img width="299" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/136366213-18cd5cbc-42dc-490f-93a9-0631b9210159.png">

[2021-10-07 10:36] wendys-cats commented on #4338
**22.**
Sign and Verify - placeholder for address dropdown is in English
![image](https://user-images.githubusercontent.com/58593111/136368410-8634f72b-91b4-4eb6-821a-b8b8d0f4bc9a.png)

[2021-10-07 10:44] jerechinsky commented on #4073
Moved here so product can decide whether we should re-write the error message to make it more comprehensible.

[2021-10-07 11:16] tomasklim commented on #4338
Fixed in https://github.com/trezor/trezor-suite/pull/4348 (new strings are not yet translated into Czech/Spanish, but in debug mode it should have green border)

| № | status |
| ------------- | ------------- |
| [**1 - 4**](https://github.com/trezor/trezor-suite/issues/4338#issue-1016798481)| ✅ fixed |
| [**5**](https://github.com/trezor/trezor-suite/issues/4338#issue-1016798481) | needs to be mo

[2021-10-07 11:25] matejkriz commented on #4161
design needed : Ideally we would have 2 buttons there — (1) give me more details (link to blogpost as Susi suggests) and (2) show all changes throughout the history of the FW universe (link to all changelogs on wiki) :slightly_smiling_face:

see conversation: https://satoshilabs.slack.com/archives/C01SXSHGK44/p1630653496010000

[2021-10-07 11:43] bosomt commented on #4338
**23.**
Enable labelling is translated as Popisky povoleny, correct translation should be Povolení popisků" nebo "Zapnutí popisků"

![obrazek](https://user-images.githubusercontent.com/31506317/136377410-f6ace173-9342-4058-a78f-61be0e3932ef.png)

[2021-10-07 12:46] wendys-cats commented on #4338
**24.**
Translation is OK, but alignment is a bit wonky
![image (2)](https://user-images.githubusercontent.com/58593111/136386706-d020f1ce-4f37-40c6-969c-942590df1cad.png)

[2021-10-07 13:02] wendys-cats commented on #4338
**25.**

Exchange - English should not be present.
![image](https://user-images.githubusercontent.com/58593111/136388880-de13bfea-d0aa-4a4f-9aa8-3efae7c1f646.png)

**26.**
Sell - English should not be present.
![image](https://user-images.githubusercontent.com/58593111/136389068-fbc3f42a-960b-4a58-8075-afc826f66c97.png)

**27.**
Buy - wouldn't something like "Způsoby platby" be better than "Zaplac

[2021-10-07 13:05] wendys-cats commented on #4338
**28.**
Wallet modal - long Czech translation moves the labeling icon and it is really cropped
![image](https://user-images.githubusercontent.com/58593111/136389566-37ab78dc-a95b-40ea-8139-f9bdad68ebba.png)

[2021-10-07 13:15] wendys-cats commented on #4338
**29.**
Exchange and Buy - "Receive address" translation is incorrect and inconsistent (see exchange vs receive)

Exchange/Buy
![image](https://user-images.githubusercontent.com/58593111/136390363-0bd75a60-96b1-4553-96cf-0c5e00d763c0.png)
**30.**
Receive - action in Account that shows your next unused receive address
![image](https://user-images.githubusercontent.com/58593111/136390691-fa76b2a6-ff

[2021-10-07 13:32] STew790 commented on #4074
**QA OK**

Suite shows the correct changelog information when updating from an older firmware. In this case it is uninitialized new device with BL 1.4.0.

**Info**
 - Suite version: web 21.10.1 (4b0ade9e0732a14970bd484465b1658044cdea30)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - De

[2021-10-07 17:05] jerechinsky commented on #4338
I numbered everything so we can reference everything more easily. Especially during re-testing.

Most of the following changes will apply after we sync Crowdin with Suite. I will let you know.

| №  | status |
| ------------- | ------------- |
|[**5**](https://github.com/trezor/trezor-suite/issues/4338#issue-1016798481)| ✅ Fixed. New copy:`Nastavení kryptoměn také určuje, jak Trezor Suite provede

[2021-10-07 19:11] bosomt commented on #4051
and of course we need to change it in all language versions 🤷🏿‍♂️

`Je tu tak prázdno. Ani nedokážu popsat tu prázdnotu, kterou tu cítím…`

<img width="992" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/136447473-49ef2e2e-96f0-42bd-94e8-653aefb4166f.png">

**Info:**
 - Suite version: desktop 21.10.1 (4b0ade9e0732a14970bd484465b1658044cdea30)
 - Browser: Mozilla/5.0 (Macinto

[2021-10-08 06:54] bosomt opened #4349 "Unknown transaction in DOGE transaction history"
**Describe the bug**
See screenshots. There is `Unknown transaction` in transaction history. MyTrezor wallet works as expected.
All seed, no passphrase, account #1.

https://doge4.trezor.io/tx/e5891f47995e6f79c4f467d755b0026d2cd1524b6d7774b2b4a1f6a841779684
XPUB: dgub8sbe5Mi8LA4dXB9zPfLZW8armvaRkaqT37y6xfT1QA12ErATDf8iGEG8y7kamAnjLuEk9AMpTMMp6EK9Vjp2HHx91xdDEmWYpmD49fpoUYF

**Steps to reproduce:**

[2021-10-08 09:00] tsusanka opened #4350 "Remote Secure Messaging: on-top banner over toast"
<img width="949" alt="Screenshot 2021-09-17 at 11 00 32" src="https://user-images.githubusercontent.com/33235762/133756054-b472febe-f140-4afa-8f31-b08fb0e67c26.png">

[2021-10-08 09:03] tsusanka opened #4351 "Remote Secure Messaging: architecture conditions in config"
To differentiate e.g. ARM and Intel.

[2021-10-08 09:04] tsusanka opened #4352 "Remote Secure Messaging: bitcoin-only/regular firmware"

[2021-10-08 09:10] tsusanka opened #4353 "Remote Secure Messaging: e2e tests"

[2021-10-08 11:44] tsusanka opened #4354 "Banner transition from one to another"
Currently one a banner (such as a notification from the messaging system) is displayed and then dismissed it is directly replaced by another with no animation. Do we want to tackle this?

[2021-10-08 11:44] tsusanka opened #4355 "Remote Secure Messaging: show messages in context"
We might want to extend our RSM to not only show notifications but also some contextual information.

@tomasklim could you provide more info if needed?

[2021-10-08 11:48] tsusanka commented on #4354
@tomasklim could you make a gif/video please to give the product team an idea of what we are talking about?

[2021-10-08 11:49] tsusanka commented on #3693
Moved to separate issues.

[2021-10-08 11:49] #3693 closed, assigned to tsusanka

[2021-10-08 13:09] jerechinsky commented on #3864
If the problem was that the icon was huge, then I believe this might've been fixed already.

[2021-10-08 13:09] #3864 closed, assigned to jerechinsky

[2021-10-08 13:27] jerechinsky commented on #4168
I will leave it in the product column for now. I'm capable of fixing it myself but I need confirmation since changing it to `Download on github.com` could confuse some people who don't know what github is or something...
Please suggest what to do.

[2021-10-08 13:31] jerechinsky commented on #3414
Leaving this in the product column for now so product team can decide whether we need such a feature.

[2021-10-08 13:34] wendys-cats commented on #4338
**31.**
Safety Check Promts - shouldn't "Kompletní zabezpečení Trezor." be something like "Kompletní zabezpečení zařízení Trezor." ?

![image](https://user-images.githubusercontent.com/58593111/136566297-b38649c1-f025-4e13-a09a-bbdd3230295b.png)

[2021-10-08 13:37] jerechinsky commented on #3858
Duplicate of #3414

[2021-10-08 13:37] #3858 closed, assigned to nobody

[2021-10-08 13:41] bosomt commented on #4338
**32.**
`Your address is where you'll receive your ETH.`
vs
`= obdržíte svůj ETH na tuto adresu`
:)

<img width="585" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/136567282-4749a278-595f-4ed7-8280-087aaed4d77e.png">

![obrazek](https://user-images.githubusercontent.com/31506317/136567311-21a2b748-7734-407a-99ba-6758b7f9bdf1.png)

[2021-10-08 13:48] bosomt commented on #4338
**33.**
Current: `Odesláno z`
Correct: `Odeslat z`

<img width="543" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/136568459-7e70b44c-d465-406d-a410-628adf229b92.png">

[2021-10-08 15:46] bosomt commented on #4338
**34.**
Invity modal in Exchanges is missing some information.

<img width="429" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/136586021-fbbfbb8a-9d2d-4e63-a003-88d13e16070f.png">

[2021-10-08 18:12] pedroslynch commented on #3198
I´m passing though the same problem, I had to disable TOR so I can see my balances loaded correctly, exactly as described by @mavazdel .

So I think the bug is back, because It was working fine since a few days ago.

[2021-10-08 18:14] pedroslynch commented on #3198
Sorry about my english, I´m from Brazil and not fluently in english

[2021-10-09 17:33] jerechinsky commented on #3198
Hello @pedroslynch. I'm sorry, but the Tor network is currently having issues. Please keep Tor off for now.

[2021-10-09 17:39] jerechinsky commented on #4336
I know you were first @bosomt, but Simona later reported it in #4338, so I guess let's keep the reports contained in that issue.

[2021-10-09 17:39] #4336 closed, assigned to jerechinsky

[2021-10-09 18:11] jerechinsky commented on #4051
Yes, it's fixed in the new copy. The changes will reflect once the new copy is uploaded to Suite.

[2021-10-10 09:48] Hermez-cz commented on #4168
Hi @alex-jerechinsky thanks for your suggestion. I agree, that a change to correct copy will help.
My guess would be, that there won't be many users trying to `Install custom firmware` while not knowing what GitHub is. Furthermore, the link will really lead them to GitHub anyways, so they will have to learn what GitHub is to some extent. Mentioning GitHub openly will also help users that don't und

[2021-10-10 11:49] jerechinsky commented on #3810
Thank you for the feedback @caglorithm.
This is being addressed in #3454.

[2021-10-10 15:20] mroz22 commented on #3960
@matej you sure about this .mov extension? Probably should be .mp4.

[2021-10-10 17:20] jerechinsky commented on #3415
Thank you, @marekrjpolak. I will leave this one up to the product team.

[2021-10-11 10:27] jerechinsky commented on #4338
| №  | status |
| ------------- | ------------- |
|[**31.**](https://github.com/trezor/trezor-suite/issues/4338#issuecomment-938647947)| ✅ Fixed. New copy:`Kompletní zabezpečení Trezoru.` |
|[**32.**](https://github.com/trezor/trezor-suite/issues/4338#issuecomment-938652556)| ✅ Fixed. New copy:`Svůj {symbol} obdržíte na svoji adresu.` |
|[**33.**](https://github.com/trezor/trezor-suite/issues/4338

[2021-10-11 13:17] mroz22 commented on #3970
I think this had already been fixed by this https://github.com/trezor/trezor-suite/pull/4347
and this fix should be available from dev server already

[2021-10-11 13:34] bosomt commented on #3970
**QA OK**

**Info:**
 - Suite version: web 21.11.0 (f9651145c08c7b5dd5ad9d658ee7bba96891fbfb)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.9.4 regular

[2021-10-11 15:40] jerechinsky opened #4360 "Crowdin sync"
- [x] update copy in Suite from Crowdin English & Czech

[2021-10-12 06:41] bosomt commented on #4338
Device recovery is has broken text/link.
It says `{TR_LEARN_MORE}` at end.

+edit: maybe we can consider changing names of recovery to Zakladni and Pokrocile, it looks strange with lower case

![obrazek](https://user-images.githubusercontent.com/31506317/136904848-586b35b3-0bd2-414d-9f68-bf61039effb8.png)

[2021-10-12 08:16] tomasklim commented on #4338
Both problems are in crowdin.

Btw. e.g. `TR_BASIC_RECOVERY` has `\n` in English text but in Czech text it is not there (It is required in neither of them). I think, we should get rid of `\n` as much as possible to avoid future inconsistencies between languages.

[2021-10-12 08:26] #4360 closed, assigned to mroz22

[2021-10-12 09:12] tsusanka commented on #4224
Probably fixed, @STew790 will double-check.

[2021-10-12 09:16] tsusanka commented on #4268
Let's retest this on 21.10.1.

[2021-10-12 09:18] tsusanka commented on #3667
Closing as a duplicate of https://github.com/trezor/trezor-suite/issues/4051.

[2021-10-12 09:18] #3667 closed, assigned to glacierbits

[2021-10-12 09:24] tsusanka commented on #4139
Let's retest on 21.10.1.

[2021-10-12 09:26] tsusanka commented on #3942
Alex will discuss with @tomasklim if this issues still persists.

[2021-10-12 09:28] tsusanka commented on #4280
QA has never experienced this so I am assigning LOW priority.

[2021-10-12 09:29] tsusanka commented on #4267
Let's retest on 21.10.1.

[2021-10-12 12:20] bosomt commented on #3982
issue is still present in latest version of Suite

![image](https://user-images.githubusercontent.com/31506317/136954367-3f9e0931-0926-4e2e-88f4-64c1596d8598.png)

**Info:**
 - Suite version: desktop 21.10.1 (30698b091e0eff94a2adddf92b15998092d7a3c9)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537

[2021-10-12 12:47] tsusanka opened #4363 "Connect: refactor connect-popup"
### 1) We need redesign. That means we need to instruct the Product team to redesign.

- [x] #5050
- [ ] Create new design.

### 2) Decide what browsers we support.
- [x] Discuss with Product team and QA.

### 3) Start writing views
- [ ] Generate the same views in Suite monorepo.
- [ ] Make a "hello world".
- [ ] Apply the new design.
- [ ] make it translatable

### 4) Resolve connect issues
- [

[2021-10-12 12:48] tsusanka commented on #2924
Let's do https://github.com/trezor/trezor-suite/issues/4363 as the first step.

[2021-10-12 13:27] STew790 commented on #4139
**QA NOK**
Issue still present. After you select on your device, how many recovery seed words you want to enter, you close the Suite and press "X" on the device an it will freeze. Although, the difference now is that the device will unfreeze if you go to Suite page again but the problem now is that if you want to acquire it, the Suite won't load and it will stay in the phase as shown in the screen

[2021-10-12 15:40] STew790 commented on #4224
**QA NOK**
Unfortunately, it is not fixed. I just tried this again on staging today and I was able to reproduce it.
I tried to update from 1.5.1 FW (1.3.2 BL) and it again stuck on 92% installing FW and the device showed the fingerprint.

**Info**:
 - Suite version: web 21.10.1 (aa3adfa347d0416f970a7fae720d3350f29f8916)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTM

[2021-10-12 17:02] jerechinsky commented on #4338
I think most of these should be fixed now as copy has been updated. It's also been cherry-picked onto staging. I think there's no need to re-test every single thing. I've only confirmed that **28.** got fixed since I wasn't sure about that one and it looks good on my end!

![Screenshot 2021-10-12 at 19 01 56](https://user-images.githubusercontent.com/75733878/136998924-7ceb953c-40b1-4597-8a42-3bd5

[2021-10-13 07:39] bosomt commented on #4338
this is how disco-very error looks like in Czech , looks confusing to me.

`Chyba při detekci.
Popis chyby při zjišťování`

<img width="793" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/137088547-b1dc32b2-46f8-4c63-912f-0b62109f2443.png">

[2021-10-13 08:28] bosomt commented on #4306
**QA OK**

so far it looks like it fixed multiple problems with Suite/Bridge 👏🏿

**Info:**
 - Suite version: desktop 21.10.1 (30698b091e0eff94a2adddf92b15998092d7a3c9)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model 1 1.10.3 regular

[2021-10-13 08:30] bosomt commented on #4051
so far not updated, in latest version, we will check it after sync and release of Suite

**Info:**
 - Suite version: desktop 21.10.1 (30698b091e0eff94a2adddf92b15998092d7a3c9)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model 1 1.10.3 regu

[2021-10-13 08:34] wendys-cats commented on #4051
**QA OK** for staging, waiting for app

**Info**
**Suite version:** web 21.10.1 aa3adfa347d0416f970a7fae720d3350f29f8916
**Browser:** Chrome Version 94.0.4606.81 (Official Build) (64-bit)
**OS:** Windows 10
**Device:** T1 1.10.3

![image](https://user-images.githubusercontent.com/58593111/137097298-088a4d73-89f6-43ac-88e4-e26edb324db2.png)

[2021-10-13 08:37] jerechinsky commented on #4051
It's fixed for me on staging.

<details>
<summary>Screenshots</summary>

![Screenshot 2021-10-13 at 10 32 45](https://user-images.githubusercontent.com/75733878/137097717-173f7bb9-77e0-4efa-bc09-98386c1b4684.png)
![Screenshot 2021-10-13 at 10 35 39](https://user-images.githubusercontent.com/75733878/137097681-a5ad88ba-59fa-4f60-80e4-fb3210ebd63d.png)
</details>

 - Suite version: web 21.10.1 (aa3a

[2021-10-13 08:44] STew790 commented on #4051
**QA OK**
Linux app is correct.

**Info:**
 - Suite version: desktop 21.10.1 (aa3adfa347d0416f970a7fae720d3350f29f8916)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.2 regular

![image](https://user-images.githubusercontent.com/4

[2021-10-13 08:47] bosomt commented on #4189
**QA OK**

**Info:**
 - Suite version: desktop 21.10.1 (30698b091e0eff94a2adddf92b15998092d7a3c9)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 3072x1728

log:

[code]

[2021-10-13 08:54] bosomt commented on #2854
**QA OK**

**Info:**
 - Suite version: desktop 21.10.1 (30698b091e0eff94a2adddf92b15998092d7a3c9)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 3072x1728

[2021-10-13 09:32] STew790 commented on #3294
**QA OK**

I tried this on Linux and it works as intended in FF (93.0) as well as in Chorme. It is the same as @wendys-cats described. When I first open Suite it correctly asks if I want to add it as a Bitcoin URI handler. If I open any BTC URI link, it opens Suite and a pop-up tells me to go to Suite send form and then it fills up the send from with the info correctly (screenshot below).

**Info:

[2021-10-13 09:48] STew790 commented on #4338
Unfortunately, [4](https://github.com/trezor/trezor-suite/issues/4338#issue-1016798481) is still not fixed.
Staging version web 21.10.1 (aa3adfa347d0416f970a7fae720d3350f29f8916)

edit:
My bad, I didn't realize this fix wasn't on staging yet. Disregard, please.

![image](https://user-images.githubusercontent.com/48477147/137109527-6b6c4039-5192-4145-8c71-d60205b19fef.png)

[2021-10-13 09:49] wendys-cats commented on #3294
**QA OK**

**Windows 10**
Protocol handler bitcoin: is defaultly set to open in Chrome.
**Chrome web** - removing/adding settings OK. Opening when site is added OK, not opening when there is no default OK. Suite/Wallet asking for permission OK.
**Chrome+app** - Chrome opens handler in web. If no default is set, handler is not opened (even if app is open). Needs to be re-set in Win system, but only

[2021-10-13 10:03] STew790 commented on #2854
**QA OK**

**Info:**
 - Suite version: desktop 21.10.1 (aa3adfa347d0416f970a7fae720d3350f29f8916)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.2 regular

[2021-10-13 10:11] STew790 commented on #4309
Already tested with @tomasklim before, as well as a part of this release.

[2021-10-13 10:39] #3016 closed, assigned to glacierbits

[2021-10-13 10:39] #2302 closed, assigned to nobody

[2021-10-13 10:58] bosomt commented on #2575
**QA OK**

**Info:**
 - Suite version: desktop 21.10.1 (30698b091e0eff94a2adddf92b15998092d7a3c9)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model 1 1.10.3 regular

[2021-10-13 11:22] jerechinsky commented on #4338
Tom's fixes in #4348 didn't make it in this release, so I'll leave this in the November project, because they still need QA approval for next release.

[2021-10-13 12:28] tsusanka opened #4364 "Push more for Suite update"
We currently have only about 30% on the latest version. We should push people more to update.

When user skips the autoupdate they are not prompted again on the next launch. This is maybe even a bug? The user needs to go to Settings and click Check for updates which of course none is doing.

@STew790 could you please confirm that this is true for versions 21.7.1, 21.8.1 and 21.9.2? That once click

[2021-10-13 14:01] STew790 commented on #4364
I just tried it only on Linux so far and it is, unfortunately, as you mention. When I skip the autoupdate on every version you listed, I don't get prompted again when I open the Suite again. Only when I clear the cache I get prompted again. I will try it on Win10 again later today as well.

[2021-10-13 14:30] #3970 closed, assigned to jerechinsky

[2021-10-13 14:32] amadejpapez commented on #4364
Looks like something similar is discussed in issue [#4304](https://github.com/trezor/trezor-suite/issues/4304)

[2021-10-14 07:54] bosomt commented on #4268
**QA NOK**

i was able to reproduce issue on first attempt

<img width="996" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/137274929-b3080abb-fe87-421e-9c37-f4946d79f718.png">

**Info:**
 - Suite version: desktop 21.10.1 (aa3adfa347d0416f970a7fae720d3350f29f8916)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/2

[2021-10-14 08:00] #3761 closed, assigned to mroz22

[2021-10-14 08:02] tomasklim commented on #3761
How to test:
1. Install Waves Keeper extension (Metamask for Waves blockchain) (https://chrome.google.com/webstore/detail/waves-keeper/lpilbniiabackdjcionkobglmddfbcjo?hl=en)
2. Open Suite web
3. Enable labeling
4. Choose Google Drive
5. Error was available in the console but it should not be anymore

[2021-10-14 09:55] Hermez-cz commented on #4268
I was able to reproduce it as well. Just instead of any error message, the discovery still runs after several minutes with no result. Showing balance 0.00 and skeleton loaders still present

https://user-images.githubusercontent.com/88533514/137294115-8d25497c-7d30-48fd-a17a-23e51351ff71.mov

10 minutes later:
<img width="808" alt="image" src="https://user-images.githubusercontent.com/88533514/137

[2021-10-14 12:32] bosomt commented on #4193
@LukAss741 can you please confirm that behaviour changed with latest versions of Suite ?
So far we were not able to reproduce issue during our release testing cycle.

[2021-10-14 12:45] LukAss741 commented on #4193
I confirm. After update to the latest version I diddn't have to go through the process of giving access to google drive as before. It loaded labels straight away.
Thank you.

[2021-10-14 12:46] #4193 closed, assigned to mroz22

[2021-10-14 13:48] sentry[bot] opened #4371 "TypeError: e[a].label.toLowerCase is not a function"
Sentry Issue: [TREZOR-SUITE-2JC](https://sentry.io/organizations/satoshilabs/issues/2699471420/?referrer=github_integration)

[code]

[2021-10-14 13:53] sentry[bot] opened #4372 "TypeError: i.utxo is undefined"
check 21.10.

Sentry Issue: [TREZOR-SUITE-2K6](https://sentry.io/organizations/satoshilabs/issues/2714553639/?referrer=github_integration)

[code]

[2021-10-14 14:02] sentry[bot] opened #4373 "Error: Cannot read properties of undefined (reading 'indexOf')"
Sentry Issue: [TREZOR-SUITE-29V](https://sentry.io/organizations/satoshilabs/issues/2631373552/?referrer=github_integration)

[code]

[2021-10-14 14:08] sentry[bot] opened #4374 "ETH bump fee leads to crash"
Sentry Issue: [TREZOR-SUITE-2K4](https://sentry.io/organizations/satoshilabs/issues/2714528960/?referrer=github_integration)

[code]

[2021-10-14 14:11] sentry[bot] opened #4375 "TypeError: Cannot read property 'empty' of null"
Sentry Issue: [TREZOR-SUITE-2E7](https://sentry.io/organizations/satoshilabs/issues/2653995343/?referrer=github_integration)

[code]

[2021-10-14 14:17] matejkriz commented on #4375
duplicate of https://github.com/trezor/trezor-suite/issues/3461

[2021-10-14 14:17] #4375 closed, assigned to mroz22

[2021-10-14 14:20] marekrjpolak commented on #3461
Possible connection with connect: https://github.com/trezor/connect/blob/ebb60ddd683658276e2b6f430611c5dad39d54cd/src/js/core/methods/GetAccountInfo.js#L321

[2021-10-14 14:25] matejkriz commented on #3926
still an issue https://sentry.io/organizations/satoshilabs/issues/2511179221/?project=5193825

[2021-10-14 14:27] matejkriz commented on #3435
CORS issue or just poor internet connection?

[2021-10-14 16:25] bosomt commented on #4374
**QA NOK**

i was able to reproduce issue, as soon i try to bump ETH TX Suite crashes

<img width="640" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/137358158-aa0a4ce8-cf42-43f1-b3bd-cb19680b06c1.png">

**Info:**
 - Suite version: desktop 21.10.1 (aa3adfa347d0416f970a7fae720d3350f29f8916)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML

[2021-10-14 16:29] jerechinsky commented on #4374
Likely related to https://github.com/trezor/trezor-suite/issues/4372

[2021-10-15 07:26] bosomt commented on #4051
**QA OK** on production

But it looks like it was not changed in Spanish language. I'm not sure who's responsible for that but from now on we have to change it manually in every language ? 🤣

<img width="475" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/137448669-eeff0f29-2403-40aa-a885-6ebf7cb296db.png">

Esto está muy vacío. No puedo ni describir el vacío que siento aquí

[2021-10-15 11:24] mroz22 commented on #4374
fixed in #4378

[2021-10-15 11:24] #4374 closed, assigned to matejkriz

[2021-10-15 12:14] bosomt commented on #4374
**QA OK**

tested on multiple computers

**Info:**
 - Suite version: desktop 21.10.2 (3cb57ead18474b380841b479a542c0b910b3d936)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.10.2 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-10-15 12:25] bosomt commented on #4372
@matejkriz  Maybe we can close this issue ?

This issue last appeared 15 hours ago  and happened only 7 times.
I hope it was fixed by latest 21.10.2 release.

[2021-10-15 13:17] tomasklim opened #4379 "Remote Secure Messaging: target ChromeOS users"

[2021-10-15 13:17] matejkriz commented on #4373
I believe https://github.com/trezor/trezor-suite/issues/4041 is the same issue, just reported from Chrome older than 93 so with slightly different message.

[2021-10-15 13:17] #4373 closed, assigned to marekrjpolak

[2021-10-15 13:18] matejkriz commented on #4041
see also [TREZOR-SUITE-29V](https://sentry.io/organizations/satoshilabs/issues/2631373552/?referrer=github_integration) (I believe it's the same error reported from newer Chrome versions)

[2021-10-15 13:20] tomasklim opened #4380 "Android is detected as Linux"
**Describe the bug**
Android devices are detected as `Linux`. So `Linux` is being sent to analytics instead of `Android` and also `Android` users see tooltip with `Udev` rules.

_We also detect `ChromeOS` as `Android`_

[2021-10-15 13:22] matejkriz commented on #4372
yes, I believe it's the very same issue just reported from Firefox so with slightly different message.

[2021-10-15 13:22] #4372 closed, assigned to matejkriz

[2021-10-15 13:33] tomasklim opened #4382 "Web: webpack chunk optimizations does not work"
**Describe the bug**
`cacheGroups` in `base.webpack.config.ts` are ignored

We should separe the main vendor (orange) bundle into smaller chunks.
![Screenshot 2021-10-11 at 16 42 28](https://user-images.githubusercontent.com/33235762/137495333-834092e0-d731-41de-9e5e-79dafc644945.png)

Maybe remove `components/lib` bundle (purple) from app bundle

[2021-10-15 14:09] matejkriz commented on #4042
this one (and many same sentry issues) was resolved by removing Nextjs

[2021-10-15 14:09] #4042 closed, assigned to matejkriz

[2021-10-15 14:14] bosomt commented on #3761
**QA OK**

Metamask for Waves blockchain instaled

**Info:**
 - Suite version: web 21.11.0 (a1c3485131b680c2916b51654f26ebf4addba3cc)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

<img width="1488" alt="obrazek" src="https://user-images.githu

[2021-10-15 14:27] STew790 opened #4383 "Error when trying to update firmware while discovery is going on"
**Describe the bug**
When I tried to do a FW update from 1.10.1>1.10.3 on T1 (connected through WebUSB) that I got prompted to do, while the discovery was still going on, I got an error and I couldn't proceed with the update. The device got stuck on the "restart to bootloader" screen and Suite suddenly tells me to reconnect the device in bootloader mode. Although, if I reconnect the device in boot

[2021-10-15 14:31] sentry[bot] opened #4384 "RangeError: Maximum call stack size exceeded"
Sentry Issue: [TREZOR-SUITE-3FS](https://sentry.io/organizations/satoshilabs/issues/3040025707)

https://sentry.io/organizations/satoshilabs/issues/?groupStatsPeriod=auto&page=0&project=5193825&query=is%3Aunresolved+%22Maximum+call+stack+size+exceeded%22&statsPeriod=30d

probably multiple issues

[code]

[2021-10-15 14:48] matejkriz commented on #3431
It looks like the first checkbox (https://github.com/trezor/trezor-suite/pull/3462) is not resolved properly:
https://sentry.io/organizations/satoshilabs/issues/1730980450/events/dce5c836bece43c98d20ef173fa6f194

Some of the events has `Migrating database from version 23 to 24` in breadcrumbs and then throw error `Loading takes too long`.

[2021-10-18 07:54] bosomt commented on #3153
**QA OK**

cursor does not disappear anymore.
But I still don't get it why I can click to label when i'm not able to change and i just can create new one

https://user-images.githubusercontent.com/31506317/137689459-1f249108-86ef-4252-9517-eca8063cd7b2.mov

**Info:**
 - Suite version: web 21.11.0 (a1c3485131b680c2916b51654f26ebf4addba3cc)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; r

[2021-10-18 08:33] tomasklim opened #4385 "Change of device settings when discovery is not finished kills my device"
**Describe the bug**
This bug affects only me from dev team. I am the only one using Intel mac.
When I want to change settings of device before discovery is done, it kills my device. It happens on both Bridge and Web USB.

**Background**
When user navigates to different route than `Dashboard` and `Accounts` when discovery is in progress, the discovery process is paused.

**Steps to reproduce:**
1.

[2021-10-18 09:21] mroz22 opened #4386 "Blockchain-link refactoring websocket classes"
There are 2 very similar files in @trezor/blockchain-link package

https://github.com/trezor/trezor-suite/blob/a1c3485131b680c2916b51654f26ebf4addba3cc/packages/blockchain-link/src/workers/blockbook/websocket.ts#L40

todo: add link to the other file after #3627 is merged

I suggest refactoring it using [abstract class](https://www.typescriptlang.org/docs/handbook/2/classes.html#abstract-classes-an

[2021-10-18 10:44] tsusanka commented on #4385
Might be related https://github.com/trezor/trezor-suite/issues/4268 and https://github.com/trezor/trezor-suite/issues/4383

[2021-10-18 10:44] #3364 closed, assigned to mroz22

[2021-10-18 10:46] #4236 closed, assigned to mroz22

[2021-10-18 10:47] wendys-cats commented on #4383
Was also able to reproduce the bug.

Install after discovery run finishes [here](https://watch.screencastify.com/v/uqxsE4cG0jtRK3ztuN3s).
Install during discovery [here](https://watch.screencastify.com/v/MjLCyWzUv9sbdSNXVZXW).

Do note that the screenshot below was taken during second scenario (Install during discovery). Error probably comes from conflicting actions Suite and device want to take.

[2021-10-18 14:30] tomasklim opened #4387 "Persist analytics instance id"
**Is your feature request related to a problem? Please describe.**
If our user resets the app using `Reset app` button, we start tracking him as new customer because he will get a new `instanceId`. We should try to persist the `instanceId` to have the most accurate analytics data possible.

**Describe the solution you'd like**
We reset only `indexDB`, we do not reset `localStorage` so we can store

[2021-10-18 15:27] bosomt commented on #4236
**QA OK**

tested in app and in web version,
additional testing on different OS platform needed

**Info:**
 - Suite version: web 21.11.0 (60ba7ae6f1eea65dfa8692bff0cb3cf9dbcea977)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:92.0) Gecko/20100101 Firefox/92.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-10-18 16:10] bosomt commented on #4236
**QA OK**

app + web version

**Info:**
 - Suite version: web 21.11.0 (60ba7ae6f1eea65dfa8692bff0cb3cf9dbcea977)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:93.0) Gecko/20100101 Firefox/93.0
 - OS: Win32
 - Screen: 1536x864
 - Device: model T 2.4.2 regular

[2021-10-18 16:29] #3166 closed, assigned to glacierbits

[2021-10-18 16:56] #3452 closed, assigned to nobody

[2021-10-19 07:43] wendys-cats commented on #4267
Confirming for Suite APP 21.10.2, both for Windows10 and macOS (intel) Big Sur.

Once the install firmware prompt is present on device, refreshing Suite leads to forever loading.

**Info:**
**OS**: Windows10 AND macOS Big Sur 11.6 (intel)
**Device**: TT FW 2.4.2
**Suite**: APP 21.10.2 3cb57ead18474b380841b479a542c0b910b3d936

**Another bug is present** - reported here #4388
Moreover, once the inst

[2021-10-19 08:08] bosomt commented on #3898
@IAmIntractable so far we were not able to reproduce your issue, does the issue still persists?

can you please give us Eth address so we can import it to Trezor Suite and debug your problem ?

[2021-10-19 09:13] tsusanka commented on #4349
@tomasklim would it makes sense to do this along with https://github.com/trezor/trezor-suite/issues/4167 and https://github.com/trezor/trezor-suite/issues/3848?

[2021-10-19 09:15] tsusanka commented on #3181
@STew790 retest please.

[2021-10-19 09:19] tsusanka commented on #3355
Moved to product - I believe this a feature request and should be prioritized by the product team. Also note this makes sense to do along with https://github.com/trezor/trezor-firmware/issues/1294.

[2021-10-19 09:22] tsusanka commented on #4307
@bosomt please retest.

[2021-10-19 09:26] tsusanka commented on #3940
@wendys-cats please retest with TT with old firmware installed (update). We want to know if there is a confirmation in Suite along with the confirmation on the device.

[2021-10-19 09:28] tsusanka commented on #3650
@tomasklim we could this one along with the other transactions issues..

[2021-10-19 11:31] STew790 commented on #4236
**QA OK**
Linux app and web version

**Info:**
 - Suite version: web 21.11.0 (9b398dbee120846b7efe9522b6a66b175daaee2f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.10.1 regular

[2021-10-19 11:53] STew790 commented on #3181
**QA OK**

I tested this on Linux as well as on Windows 10, both app and web version, and I got immediately prompted to install new FW. This was most probably solved by implementing the new onboarding. Closing.

![image](https://user-images.githubusercontent.com/48477147/137903825-91f4ded0-1c1e-49fc-8abe-2e6d706c23bc.png)

**Info:**
 - Suite version: web 21.10.2 (3cb57ead18474b380841b479a542c0b910

[2021-10-19 11:53] #3181 closed, assigned to STew790

[2021-10-19 12:15] tsusanka opened #4391 "Remove Sentry's User feedback form"
Upon error in Suite Sentry shows a [dialog](https://docs.sentry.io/platforms/javascript/enriching-events/user-feedback/) where user can fill in some data. Let's completely remove this, we have an exception in Sentry and that's enough.

[2021-10-19 12:18] STew790 commented on #4156
@matejkriz if it is basically the same issue, should we close this as well since #4074 is fixed already?

[2021-10-19 12:31] STew790 commented on #3364
**QA OK**

I tried this with Dropbox as well as Google drive.

**Info:**
 - Suite version: web 21.11.0 (9b398dbee120846b7efe9522b6a66b175daaee2f)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36
 - OS: Win32
 - Screen: 1440x900
 - Device: model T 2.4.2 regular

[2021-10-19 12:38] STew790 commented on #3153
Also, I am not sure if this is the same issue but when I try to change the label for the wallet and click into the text of the label, the select wallet modal just closes. Video attached.

**Info:**
 - Suite version: web 21.11.0 (9b398dbee120846b7efe9522b6a66b175daaee2f)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36
 -

[2021-10-19 12:52] tomasklim opened #4392 "Number of accounts per user"
To make Trezor better, we miss information if users use accounts.

**Step 1**
Remove `account-create` event which does not give relevant data.
Why? When user has e.g. `bitcoin` coin activated, this event is sent 4x (2x for `normal`, 1x for `segwit`, 1x for `normal`). However, this information tells us nothing, because we do not know if he ever used these accounts or not.

**Step 2**
Add event whic

[2021-10-19 12:54] tsusanka opened #4393 "Remove the "Improve" column on landing page"
Let's remove this column, it is obsolete:

![image](https://user-images.githubusercontent.com/1835345/137913133-9876df51-36df-4b5a-bfc6-5c32063c2a3e.png)

Or should we link to support? And Terms & Conditions?

[2021-10-19 12:58] bosomt commented on #3153
I have same result in Chrome on Mac, Wallet/device selector modal just disappears.
edit: I'm not sure if https://github.com/trezor/trezor-suite/pull/4389 ended in current staging version or not.

**Info:**
 - Suite version: web 21.11.0 (9b398dbee120846b7efe9522b6a66b175daaee2f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Sa

[2021-10-19 13:17] matejkriz commented on #4156
nope, almost the same changes needs to be done for fignerprint too...

[2021-10-19 14:12] #4380 closed, assigned to tomasklim

[2021-10-19 14:30] bosomt commented on #4307
**QA NOK**

@tsusanka issue is still present in current dev master. I was able to reproduce it with model One and not with model T.
I think that issue is related to reboot to bootloader ability of model One. it's never reconnected during fw update.

<img width="725" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/137931117-8b0f3c0c-1839-47b3-aa57-9e8468c73bfb.png">

**Info:**

[2021-10-19 17:05] martinboehm commented on #2782
Obsolete

[2021-10-19 17:05] #2782 closed, assigned to martinboehm

[2021-10-19 17:07] martinboehm commented on #2732
Majority done in various PRs, the rest is obsolete.

[2021-10-19 17:07] #2732 closed, assigned to martinboehm

[2021-10-19 17:07] martinboehm commented on #3012
Majority done in various PRs, the rest is obsolete.

[2021-10-19 17:07] #3012 closed, assigned to martinboehm

[2021-10-20 06:32] #3793 closed, assigned to mroz22

[2021-10-20 07:30] mroz22 commented on #4307
Hmm this is not happening on my machine. Looks like we will need @tomasklim again to debug this :( sorryy :sob:

[2021-10-20 09:04] jerechinsky commented on #2269
@matejkriz will investigate further.

[2021-10-20 09:09] jerechinsky commented on #3527
There's is no feasible, good alternative for this google-auth-lib.

[2021-10-20 09:09] #3527 closed, assigned to nobody

[2021-10-20 09:10] jerechinsky commented on #3653
Irrelevant currently.

[2021-10-20 09:10] #3653 closed, assigned to nobody

[2021-10-20 09:22] alex-jerechinsky commented on #3905
Moving to product column so product team can prioritize it.

[2021-10-20 09:23] jerechinsky opened #4400 "add server-side (blockbook) address validation, check if recipient is not a smartcontract"
Created from https://github.com/trezor/trezor-suite/issues/4400

[2021-10-20 09:24] jerechinsky commented on #4400
Leaving this in product column so product team can decide the priority.

[2021-10-20 14:27] bosomt commented on #3793
**QA OK**

 - Suite version: desktop 21.11.0 (d7c96df8f3d4d41cb4fed0aaad8a4d648ba6fa08)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.11.0 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-10-20 14:37] matejkriz opened #4401 "Update generic error page"
In case something bad happen and there is an unhandled error in Suite, user see this generic error screen (instead of `foo` there is an actual error message e.g. "Cannot read properties of undefined (reading 'filter')"):
![138050678-0ac1882a-2309-421d-a1aa-e883305996e1](https://user-images.githubusercontent.com/3729633/138113334-92656657-2bfd-4051-9599-4e91af5514af.png)

(We removed "Send report"

[2021-10-20 14:39] #4391 closed, assigned to mroz22

[2021-10-20 14:40] #4393 closed, assigned to mroz22

[2021-10-20 14:46] STew790 commented on #4380
**QA OK**

Android and ChromeOS correctly NOT showing Udev rules tooltip. Is it safe to assume that it will show correctly in the analytics as well?

**Android**
![image](https://user-images.githubusercontent.com/48477147/138116069-b8bf1a6e-d820-4ad2-8e52-75003d12b1b3.png)
**ChromeOS**
![image](https://user-images.githubusercontent.com/48477147/138116109-8a9be80e-c59a-40a6-ad4b-1d1e31bf6145.png)

[2021-10-20 14:57] bosomt commented on #4380
**QA OK**

**Environment**:
SLdev master
Chrome browser

LInux, macOS and Windows 10 tested

![obrazek](https://user-images.githubusercontent.com/31506317/138118019-62bec1b7-beb1-43a1-8939-c994adc25b38.png)

[2021-10-20 17:16] wendys-cats opened #4402 "Call In Progress Error Notification Response When Clicking On Reveal Address During Discovery"
**Describe the bug**
If user interacts with "Reveal address" button in Sign message tab during discovery, "Verify address error: Device call in progress" error is a response from Suite.

**Info:**
 - Remembered Wallet: no
 - Suite Version: web 21.10.2 3cb57ead18474b380841b479a542c0b910b3d936
 - Browser: Chrome Version 94.0.4606.81 (Official Build) (64-bit)
 - OS: Windows 10
 - Bridge: 2.0.27
 - Fi

[2021-10-20 17:54] wendys-cats opened #4403 "Various error notifications for Wipe memory during discovery"
**Describe the bug**
Suite responds with various error notifications when Wipe memory button is clicken on while discovery is running.

**Info:**
 - Remembered Wallet: no
 - Suite Version: app and web 21.10.2 3cb57ead18474b380841b479a542c0b910b3d936
 - Browser: Chrome Version 94.0.4606.81 (Official Build) (64-bit)
 - OS: Windows 10
 - Bridge: 2.0.31 trezord for APP, WEBUSB for web version
 - Firmw

[2021-10-21 09:10] wendys-cats commented on #3940
QA OK, closing this issue, it is no longer present in Suite, Progress bar will appear only after device prompt for FW installation is dealt with by user.

**Info:**
**OS:** Windows 10
**Browser:** Version 94.0.4606.81 (Official Build) (64-bit)

**21.10.2 APP (trezord 2.0.31)**
2.0.5 -> 2.1.1 OK progress bar is not visible before device prompt is dealt with
2.1.1->2.4.2 OK progress bar is not visib

[2021-10-21 09:10] #3940 closed, assigned to wendys-cats

[2021-10-21 16:04] IAmIntractable commented on #3898
You're looking for my public ETH address. Is there any way I can provide without it being permanently displayed here?

[2021-10-21 17:00] #4400 closed, assigned to nobody

[2021-10-22 08:53] Tea-Cake opened #4406 "Disabling Passphrase for Ronin"
I am currently using a passphrase for my Ronin wallet transactions, I do about 30 transactions daily and found that the passphrase is troublesome.

I decided to turn it off, after doing that I can no longer do transactions in Ronin
-nothing happens when I click sell/gift/buy, usually a window pops up and lets me enter the passphrase but now nothing happens both on the web and trezor.

I can only d

[2021-10-22 08:58] jerechinsky commented on #4307
@tomasklim will try to replicate on his machine.

[2021-10-22 09:05] tsusanka opened #4407 "Allow to attach a screenshot when reporting a bug"
Allow to attach a screenshot when reporting a bug (backend needed).

[2021-10-22 09:08] tsusanka opened #4408 "Rich accordion type transformation from markdown"
TODO: @tomasklim add description

[2021-10-22 09:08] tsusanka opened #4409 "Allow Guide to be open while a modal is open too"
Currently you can't open a Suite Guide when another modal is displayed. This hurts especially in the "Connect your Trezor" modal.

[2021-10-22 09:12] tsusanka opened #4410 "Suite Guide on mobile?"
Do we need to worry about Suite Guide on mobile? I suggest to deal with it as part of the whole mobile process then.

[2021-10-22 09:14] tsusanka opened #4411 "Suite Guide: Resize the guide section or open as a new page within suite?"
Suite Guide is on the right side which is of course quite a small window. Do we want to have an option to enlarge the window (either into a new page or somehow enlarge it)? If so this needs to be designed.

[2021-10-22 09:16] tsusanka opened #4412 "Suite Guide: Linking between articles"
It would be nice to be able to link from one article to another.

[2021-10-22 09:17] tsusanka opened #4413 "Suite Guide: Article with more articles"
For example, we have a PIN article. We can move its subsections: `Setting a PIN`, `Changing a PIN`, `Trezor Model One PIN`,... subsections into a new article to have it better organised.

![Screenshot 2021-11-08 at 15 21 15](https://user-images.githubusercontent.com/33235762/140758523-aaa4551e-e2b6-46d2-878d-026bb376f879.png)

[2021-10-22 09:18] tsusanka opened #4414 "Nice categories images for Suite Guide"
Currently we use only smiple categories boxes that are black & white. Let's put mages there.

[FIGMA](https://www.figma.com/file/fu1f9wihpfaT37QzvCkl4K/UI-Sync?node-id=1%3A33)

![image](https://user-images.githubusercontent.com/3729633/161992821-42c85682-83bd-4383-bc4f-34ae5ee1714e.png)

Export:
[ikones.zip](https://github.com/trezor/trezor-suite/files/8427518/ikones.zip)

[2021-10-22 09:19] tsusanka opened #4415 "Suite Guide: Transitions between categories and articles"
Currently we just swap between categories and articles directly. Do we want this to be animated somehow for a better experience?

[2021-10-22 09:19] tsusanka opened #4416 "Suite Guide: Check that learn more links in tooltips lead to existing articles"
Check that learn more links in tooltips lead to existing articles in build time.

[2021-10-22 09:31] tsusanka commented on #4364
@Hermez-cz is working on how to approach this from the product side with a deadline set to the end of Oct. So let's have this issue in December planning.

[2021-10-22 10:17] #2466 closed, assigned to nobody

[2021-10-22 10:38] bosomt commented on #4338
Drop image should not be translated to Pustit obrazek, correct translation is probably Zmazat/zahodit/odstranit obrazek.

<img width="785" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/138440247-e13e533c-21a1-4b05-83d2-5de62caa7d59.png">

[2021-10-22 11:17] tsusanka commented on #4412
I would use the original markdown hrefs that means `[text](../relative/path)` if possible.

[2021-10-22 11:19] tsusanka opened #4417 "Polish Suite for Android"
As the React Native is not yet being tackled let's give Android a few days to improve the web experience as much as possible. In another words let's do as many "low hanging fruits" in a few days as possible.

Let's bother Product as much as needed in this issues.

[2021-10-22 11:28] tsusanka commented on #3992
Separated into own issues. QA: issues being done in November have their own issue so there is nothing to test here AFAIK.

[2021-10-22 11:28] #3992 closed, assigned to dimasivan

[2021-10-22 11:56] tomasklim commented on #4307
@mroz22 ez
<img width="446" alt="Screenshot 2021-10-22 at 13 47 54" src="https://user-images.githubusercontent.com/33235762/138449494-9caaef2d-9156-406d-adcc-766be22a53f5.png">
<img width="769" alt="Screenshot 2021-10-22 at 13 47 30" src="https://user-images.githubusercontent.com/33235762/138449499-d0415095-8b0b-4741-b720-2af1c418982a.png">

It makes app unusable and you have to reset it.

[2021-10-22 12:09] mroz22 commented on #4406
This is not how it works

This is how it works. But you can always move your funds from your hidden wallet to your standard wallet.

[2021-10-22 13:20] glacierbits commented on #4168
Agreed! Thanks bois.

[2021-10-22 13:31] glacierbits commented on #3960
@mroz22 .mp4 (both light & dark) [hier](https://www.dropbox.com/sh/cbh5qdr8rnieuha/AADWOUJCf3LZoYcOtZHWU5c8a?dl=0)

[2021-10-22 14:03] Hermez-cz commented on #3852
@alex-jerechinsky discussed with UX, we should word the CTA "Submit" - that will even work consistently for Bugs and Suggestions.
Please mind translations.

Huh, in my case it's already worded "Submit" in English (Web app and Mac app 21.10.2.13755).
<img width="339" alt="image" src="https://user-images.githubusercontent.com/88533514/138467850-a0735234-82e5-4ed2-beeb-f76d91b37466.png"><img width="3

[2021-10-23 08:17] Tea-Cake commented on #4406
Ahh I see, makes sense.
Soo apparently my tokens(Axies, AXS, SLP) are not in the trezor hidden wallet and the main one. They are in my cold wallet, Ronin.

Currently still searching ways on how I could by pass the passphrase.

[2021-10-23 13:20] mroz22 commented on #4406
If still not sure how it all works, please read this article https://wiki.trezor.io/Passphrase

In case you have further questions try to look here https://trezor.io/support/

I am closing this as this does not appear to be issue related to trezor-suite codebase.

[2021-10-23 13:20] #4406 closed, assigned to nobody

[2021-10-24 18:01] prusnak commented on #4351
This might be tricky for the Web version:
* on macOS the user agent shows Intel even when running on Apple Silicon (to disallow fingerprinting), however there is a trick described how to fingerprint via `UNMASKED_RENDERER_WEBGL` [here](https://stackoverflow.com/questions/65146751/detecting-apple-silicon-mac-in-javascript); the trick is even more complicated on Safari because it returns "Apple GPU"

[2021-10-24 18:28] j2d3 commented on #2542
I have a trezor one, which I have never transferred any funds to, thankfully, and I doubt I ever will. Feels safer on an exchange to be honest. I cannot reset the PIN. The instructions to wipe it say to dismiss the pin matrix when you connect it, but that is not possible, there is not an X to do that. I tried in the websuite using inspect to delete the pin matrix, but there is no "advanced" tab th

[2021-10-24 18:47] prusnak commented on #4351
I added PR https://github.com/trezor/trezor-suite/pull/4420 which adds the WebGL trick mentioned in the previous comment to the landing page.

If refactored properly we could use the code in  `packages/suite-web-landing/utils/navigator.ts` for detection of architecture in the Suite Web.

[2021-10-25 12:15] tomasklim commented on #4364
Note: We can use message system banner to push people in old versions.

[2021-10-25 15:06] matejkriz opened #4424 "Selection of macOS platform needs better UI"
On landing page https://suite.trezor.io/ (and https://suite.trezor.io/start) there is no feedback on selection of mac platform. The only option to see what mac platform is selected is to check the link and looking for x64 or arm64 in the filename...
<img width="244" alt="image" src="https://user-images.githubusercontent.com/3729633/138718210-564a1958-0f2d-4df5-b1a4-3ec819bdc994.png">

Check how e.

[2021-10-25 18:32] tomasklim commented on #4338
`Powered by` is not translated in Crowdin
![Screenshot 2021-10-25 at 20 31 38](https://user-images.githubusercontent.com/33235762/138750538-4e67d3f9-d093-4e44-94c1-747a3618134d.png)

[2021-10-25 18:50] tomasklim commented on #4338
25. and 26. cannot be translated in code. The string are coming from INVITY AP
![Screenshot 2021-10-25 at 20 49 18](https://user-images.githubusercontent.com/33235762/138752966-86239597-a59c-483d-b05e-a4a8f9bad702.png)
![Screenshot 2021-10-25 at 20 33 58](https://user-images.githubusercontent.com/33235762/138752973-cd95513a-80f3-4da8-806f-ef3b243fd2ad.png)
I.

[2021-10-25 18:53] #4350 closed, assigned to tomasklim

[2021-10-26 11:42] jerechinsky commented on #4424
Duplicate of https://github.com/trezor/trezor-suite/issues/4206

[2021-10-26 11:42] #4424 closed, assigned to nobody

[2021-10-26 11:44] jerechinsky commented on #4206
_Originally posted by @matejkriz  in https://github.com/trezor/trezor-suite/issues/4424#issuecomment-951850978_

[2021-10-26 11:55] wendys-cats opened #4427 "Transaction history export fails when only pending transactions are present on account"
**Describe the bug**
When new account is created and it contains only pending transactions, transaction history export fails.

**Info:**
 - Remembered Wallet: yes/no
 - Suite Version: web 21.10.2 3cb57ead18474b380841b479a542c0b910b3d936
 - Browser: Chrome Version 95.0.4638.54 (Official Build) (64-bit)
 - OS: Windows 10
 - Bridge: 2.0.27
 - Firmware Version: 2.4.3 47e17aab

**Steps to reproduce:**

[2021-10-26 16:00] bosomt commented on #4338
I just found incorrect text strings. See screenshot, same device same step during onboarding.
Different wording `Advanced recovery` vs `Šamirova záloha` but with same results. Advanced recovery is started.
It would be great to fix it in next Suite release /i was able to reproduce is issue in 21.10.2 and 21.11.0 versions of Suite/

<img width="913" alt="obrazek" src="https://user-images.githubuserc

[2021-10-27 07:33] bosomt commented on #4350
**QA OK**

_web_
<img width="381" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/139020099-9ff32326-6105-404a-9a8a-54d316d3dbf0.png">

_app_

<img width="366" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/139020439-6b8d2c94-0a2a-4047-bfd4-a718b56be5bb.png">

**Info:**
 - Suite version: web 21.11.0 (55f600be15addfc47aeffc45443137c7c5fef458)
 - Browser:

[2021-10-27 17:22] ghost opened #4431 "rewrite"
rewrite

[2021-10-27 17:23] #4431 closed, assigned to nobody

[2021-10-29 15:56] #4379 closed, assigned to tomasklim

[2021-10-30 19:30] tsusanka opened #4437 "Solve Cardano incompatibilities in Connect"
We can't release firmware in December until we solve the Cardano incompatibilities in Connect as described in https://github.com/trezor/trezor-firmware/pull/1873. We'll also might need to coordinate with Cardano wallets.

[2021-11-01 07:44] #4412 closed, assigned to dimasivan

[2021-11-01 10:55] #3994 closed, assigned to marekrjpolak

[2021-11-01 15:34] tsusanka commented on #3999
I have tested this in tor-browser (10.5.8 (based on Mozilla Firefox 78.15.0esr)) and I do see the components just fine:

![image](https://user-images.githubusercontent.com/1835345/139697557-4f302226-14de-41c7-b784-dbdd8b040586.png)

I can't however connect to Bridge (2.0.31):  `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://127.0.0.1:21325/. (R

[2021-11-01 15:40] prusnak commented on #3999
There used to be the instructions in the Wiki, but Alex deleted them:

old revision: https://wiki.corp.sldev.cz/index.php?title=Glossary:Tor&oldid=60123

TL;DR you need to set `network.http.referer.hideOnionSource` to `true` in the Advanced settings. Otherwise pages do not report referers for onion pages.

[2021-11-01 15:53] marekrjpolak commented on #4371
___How to reproduce:___

1. Go to application settings
2. Open *Language* or *Color scheme* select input
3. Press any key

___Reason:___
Select input technically allows any React component as option label, but when searching by text, it expects only strings, therefore `<Translation>` components caused an error.

___Solution:___
Any localized option label must be translated with `useTranslation` ho

[2021-11-01 15:59] tsusanka commented on #3999
Thanks. I vaguely remember I have ACKed this, so this is on me. We'll put it back, I probably haven't realized this a legitimite  use-case.

So I am closing this issue then, thanks.

[2021-11-01 15:59] #3999 closed, assigned to STew790

[2021-11-01 16:14] #3671 closed, assigned to tomasklim

[2021-11-01 16:17] #3650 closed, assigned to nobody

[2021-11-01 16:17] #3848 closed, assigned to nobody

[2021-11-01 20:05] jerechinsky opened #4442 "Send form: validate FW version when user enters taproot address"
If a user enters a taproot address while using a FW version that doesn't support it, the copy should suggest that user updates their device. Something like this
<img width="564" alt="Screenshot 2021-11-01 at 20 04 57" src="https://user-images.githubusercontent.com/75733878/139734459-834bae2c-97c6-4e69-abd8-a67636a7d667.png">

[2021-11-02 10:26] #4371 closed, assigned to marekrjpolak

[2021-11-02 11:17] #4392 closed, assigned to tomasklim

[2021-11-02 11:50] #4304 closed, assigned to Hermez-cz

[2021-11-02 12:04] #4352 closed, assigned to tomasklim

[2021-11-02 12:12] #4243 closed, assigned to tomasklim

[2021-11-02 12:58] #4055 closed, assigned to stepmes

[2021-11-02 13:09] #3942 closed, assigned to jerechinsky

[2021-11-02 13:39] yohaaan commented on #4417
Adding issue:
If the device is in an inconsistent state user is asked to disable WebUSB and use Bridge instead which is not possible on Android - instructions do not make sense. See screenshot:
![image](https://user-images.githubusercontent.com/37402530/139857786-080bf01b-5dc0-4def-97d1-213027b1f5e2.png)

[2021-11-02 14:08] tomasklim commented on #2643
@bosomt could you please report if you still have this problem after releasing #4418?

If yes, bug must be somewhere in `analyzeTransactions` method or its params in `transactionUtils.ts`.

[2021-11-02 14:19] #4031 closed, assigned to tomasklim

[2021-11-02 15:16] melroy89 commented on #3550
Nice, december 8 it is 🙏🎂!

[2021-11-02 15:17] tomasklim commented on #4041
This problem happens only in the `web` app to a few `Chrome` users after launching the app. It is available there for more than a year.
I was not able to find a problem 😞  Source maps are not available.

Those users were never able to access `web` app (According to `analytics` as we do not have any event from them)

Maybe it is caused by a specific extension as it does not happen in `desktop` app?

[2021-11-02 15:49] tomasklim commented on #4278
Does not happen anymore in new versions of app

[2021-11-02 15:49] #4278 closed, assigned to tomasklim

[2021-11-02 15:56] tomasklim commented on #4279
This error is not available in sentry anymore

[2021-11-02 15:56] #4279 closed, assigned to tomasklim

[2021-11-02 16:05] tomasklim commented on #4349
@tsusanka Those issues are not related. I checked Ethereum and Doge accounts on our fixed development. Ethereum and Doge issues are still there.

[2021-11-02 17:38] #4345 closed, assigned to dimasivan

[2021-11-02 19:40] bosomt commented on #4352
2x QA OK
https://github.com/trezor/trezor-suite/pull/4433#issuecomment-955345940
https://github.com/trezor/trezor-suite/pull/4433#issuecomment-956025929

[2021-11-02 19:58] bosomt commented on #4031
@tomasklim is there anything that can/needs to be tested by QA ?

[2021-11-02 20:11] bosomt commented on #2643
@tomasklim I was never able to replicate this issue :)
As soon this problem re-appears we will report it.

[2021-11-02 20:35] bosomt commented on #4243
**QA OK**

**Info:**
 - Suite version: desktop 21.11.0 (4a56ae794159091a4f2c4de847d237a47657dc1c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.11.0 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

@STew790 please retest on Windows if possible

[2021-11-02 20:45] bosomt opened #4446 "Application icon size different compared to rest of system"
**Describe the bug**
See screenshots from macOS.
Trezor Suite app icon has different size compared to rest of applications.

**Info:**
 - Suite version: desktop 21.11.0 (4a56ae794159091a4f2c4de847d237a47657dc1c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.11.0 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 -

[2021-11-03 11:56] jerechinsky opened #4450 "Update icons"
**Design:** [Figma](https://www.figma.com/file/pIibgxmxD0jrAa9UGJd9da/Neue-Desktop-1.5?node-id=8006%3A82796)

**Preview:**
<img width="335" alt="Screenshot 2021-11-03 at 11 55 31" src="https://user-images.githubusercontent.com/75733878/140055636-eae68dbf-72f8-445d-87f4-6cf8b439f200.png">

[2021-11-03 20:28] bosomt commented on #4392
Is there anything that can/needs to be tested by QA dept ?

[2021-11-03 20:54] bosomt commented on #3671
`Account does not exist` problem is still present :(
looks like different issue.

<img width="982" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140190956-93609f30-f915-48e7-9f80-7574d09349c3.png">

**Info:**
 - Suite version: desktop 21.11.0 (4a56ae794159091a4f2c4de847d237a47657dc1c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, lik

[2021-11-03 21:06] bosomt commented on #3994
**QA OK**

**Info:**
 - Suite version: desktop 21.11.0 (4a56ae794159091a4f2c4de847d237a47657dc1c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.11.0 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.3 regular

[2021-11-04 07:56] jerechinsky commented on #3960
We've decided to merge and test this when there's more changes to the update process so QA wouldn't have to waste a device with old FW on an issue that affects so few users.

[2021-11-04 08:36] tomasklim commented on #3671
Is this the problem with two devices? If yes, please create a new issue for it.

The problem this issue is talking about should be fixed.

[2021-11-04 08:38] tomasklim commented on #4392
You can check in network tab, that it sends current number of accounts and info for all eligible accounts

[2021-11-04 08:40] tsusanka commented on #3689
@LukasRada @martinboehm how is this looking?

[2021-11-04 08:43] matejkriz opened #4454 "Start using Bitcoin regtest from trezor-user-env"
Introduce first e2e test using Bitcoin regtest from [trezor-user-env](https://github.com/trezor/trezor-user-env)

[2021-11-04 08:46] tsusanka commented on #3057
Duplicate of https://github.com/trezor/trezor-suite/issues/3658.

[2021-11-04 08:46] #3057 closed, assigned to stepmes

[2021-11-04 09:30] bosomt commented on #3671
@tomasklim it was just one T1 device and only Standard wallet was loaded
Suite storage was wiped less than hour before.
As soon i will reproduce it again i will send proper issue

[2021-11-04 10:00] tsusanka opened #4457 "Measure Discovery speed"
This is very "soft" and based on some non-exact feelings and experience but it seems to me that the wallet discovery upon Suite launch takes a bit longer than it used to (let's say during the Beta state). Blockbook infrastructure however is doing just fine. Could we please measure if there is not some ineffectiveness going on?

[2021-11-04 11:29] #3522 closed, assigned to szymonlesisz

[2021-11-04 13:17] prusnak commented on #4457
I assume lots of changed under the hood with the merge of PR https://github.com/trezor/trezor-suite/pull/4421

But I agree with tsusanka that we could try measure some performance metrics between individual commits.

[2021-11-04 16:04] bosomt commented on #4392
**QA OK**

found it in Chrome, no luck in Firefox dev tools ;)
@tomasklim thanks for help !

<img width="183" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140375142-30d897ef-3055-40a3-ae8d-c4c86eb80c2f.png">

**Info:**
 - Suite version: web 21.11.1 (80f65d680e530c601705cd52f033e424d75d2c9a)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHT

[2021-11-04 17:43] bosomt commented on #2643
**QA NOK**

so i was able to replicate issue, after some time and reconnection to internet one transaction was marked as new.
But it's nothing compared to previous states when i used to have 100+ new transactions :)

<img width="1049" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140391488-3e9e11a4-9533-4cd9-8d16-c75bcd906e58.png">

ypub6XRiqb2wR5dXP7wAQgzbVoLmd23AjaHVVX3Sb

[2021-11-05 03:34] benjamintshi opened #4460 "is there any test case about zcash"
lib: packages/utxo-lib.

[2021-11-05 03:35] benjamintshi commented on #4460
please give me some help .

[2021-11-05 04:40] #4460 closed, assigned to nobody

[2021-11-05 07:25] bosomt commented on #4167
**QA NOK**

issue is still present

<img width="800" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140473384-885045b0-10e6-4a15-9bd4-be0cec0c3ade.png">

<img width="810" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140473427-6cff1f74-e5c0-4901-93d9-6f0c1b776c15.png">

**Info:**
 - Suite version: desktop 21.11.0 (4a56ae794159091a4f2c4de847d237a47657d

[2021-11-05 07:27] bosomt commented on #2643
**QA NOK**

<img width="453" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140473721-18d53cf2-eea5-45a9-91b9-3dbaaada2c07.png">

**Info:**
 - Suite version: desktop 21.11.0 (4a56ae794159091a4f2c4de847d237a47657dc1c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.11.0 Chrome/93.0.4577.58 Electron/14.0.0 Safar

[2021-11-05 08:26] #2740 closed, assigned to glacierbits

[2021-11-05 08:26] #2736 closed, assigned to glacierbits

[2021-11-05 08:35] matejkriz commented on #4132
possible solution https://github.com/trezor/trezor-suite/issues/3729

[2021-11-05 08:45] matejkriz commented on #4215
could be solved together with https://github.com/trezor/trezor-suite/issues/3972

[2021-11-05 09:14] #4161 closed, assigned to glacierbits

[2021-11-05 09:15] tsusanka commented on #4161
We are happy with this for now like this :).

[2021-11-05 09:22] #3725 closed, assigned to glacierbits

[2021-11-05 11:29] tsusanka commented on #4364
Fixed for now by https://github.com/trezor/trezor-suite/pull/4441. There will be two new follow-up issues that we'll link here then.

[2021-11-05 11:30] #4364 closed, assigned to tsusanka

[2021-11-05 11:32] tsusanka opened #4462 "Inform users with old versions to update via messaging system"
Follow-up of https://github.com/trezor/trezor-suite/issues/4364. Let's please inform all users with older versions (let's say 2 months back?) that they should update.

- [x] @Hermez-cz please decide the details (CTA, versions).
- [x] @b-irving please come up with the copy.
- [x] @tomasklim please implement it after the above is done :).
- [x] @vdovhanych deploy stable config

[2021-11-05 11:34] tsusanka commented on #4364
Messaging system moved to #4462.

[2021-11-05 12:11] Hermez-cz opened #4463 "Update ready for installation in Settings contextual improvement"
Design is OK, we just should differentiate two states:
1. When an update is available to download and install (this state is covered well):
<img width="790" alt="image" src="https://user-images.githubusercontent.com/88533514/140507758-f07bf923-bbee-4bc2-a598-832335a0573b.png">
2. When the update has already been updated, but not installed well:
<img width="788" alt="image" src="https://user-images

[2021-11-05 12:15] Hermez-cz commented on #4364
Related issue created: #4463

[2021-11-05 12:49] b-irving commented on #4462
Update Trezor Suite for enhanced security, all the latest features, and to keep everything running as smoothly as possible.

[2021-11-05 12:52] b-irving commented on #4463
Update ready for installation
You are currently running version [current version nr.]
Version [downloaded (updated) version nr.] has been downloaded and is ready for installation.

This is totally fine, very clear for the user @Hermez-cz

[2021-11-05 15:09] karliatto commented on #4450
@alex-jerechinsky Could you help me to find the `.svg` files?

[2021-11-05 16:43] #4446 closed, assigned to dimasivan

[2021-11-06 08:42] bosomt opened #4465 "Account does not exist often displayed in Suite"
**Describe the bug**

`Account does not exist ` is often displayed in Trezor Suite.
So far i was not able to find reason how and why it's happening. But it occurs since i remember.
Of course reload/restart or reconnection of device helps. Attached log generated by Suite.

**Info:**
 - Suite version: desktop 21.11.0 (4a56ae794159091a4f2c4de847d237a47657dc1c)
 - Browser: Mozilla/5.0 (Macintosh; Inte

[2021-11-06 08:43] bosomt commented on #3671
created separate issue, it happened to me twice in last 24 hours.
https://github.com/trezor/trezor-suite/issues/4465

[2021-11-06 10:17] bosomt commented on #3153
**QA NOK**

Wallet selector modal still disappears when you click outside label space during label editting.

**Info:**
 - Suite version: web 21.11.1 (80f65d680e530c601705cd52f033e424d75d2c9a)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:93.0) Gecko/20100101 Firefox/93.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-11-06 18:41] bosomt commented on #4345
**QA OK**

looks much nicer /separate minor issues were/will be sent in separate issues/

**Info:**
 - Suite version: desktop 21.11.0 (4a56ae794159091a4f2c4de847d237a47657dc1c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.11.0 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model

[2021-11-07 09:31] bosomt commented on #4446
I'm not sure if it's OK or not :)
it got better but command + tab icon still looks too big compared to rest of system.

![obrazek](https://user-images.githubusercontent.com/31506317/140639593-7f3353ad-613c-4d94-a4d2-c0d6e5dafaca.png)

<img width="378" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140639632-850061f0-f0bd-4292-b766-a86807576e04.png">

[2021-11-07 09:51] amadejpapez commented on #4446
@bosomt It could be that the icon showing there is the previous one still in cache. You could try clearing icon cache with [this](https://gist.github.com/ismyrnow/e92c6010cda9325b2d8811387a05f224) and see if it works then. :)

[2021-11-07 09:57] bosomt commented on #4446
@amadejpapez perfect :) /but had to kill Suite app first and then clear the cache :)

**QA OK**

**Info:**
 - Suite version: desktop 21.11.1 (5c7e4065e380923b75fdf8543196d25963de538b)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.11.1 Chrome/93.0.4577.58 Electron/14.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:

[2021-11-07 16:28] aza0092 commented on #3260
any updates on WalletConnect integration?

[2021-11-07 20:28] IAmIntractable commented on #3898
I reported June 14 and gave you a ton of information. You can clearly see from the picture that SNX is displayed twice meaning that your code is not able to determine which one should not be displayed. I responded above to your question and 17 days later you have not responded. Is the cycle here that you pay attention to this once every 5 months? I spent a considerable amount of time conversing wi

[2021-11-08 10:33] jerechinsky commented on #4353
@tomasklim will create another issue about what other tests could fail as a consequence of this failing

[2021-11-08 10:37] jerechinsky commented on #4147
Since we're not getting rid of next, I'm closing this.

[2021-11-08 10:37] #4147 closed, assigned to nobody

[2021-11-08 10:40] #3670 closed, assigned to nobody

[2021-11-08 10:44] jerechinsky commented on #3497
Not relevant.

[2021-11-08 10:44] #3497 closed, assigned to nobody

[2021-11-08 10:45] jerechinsky commented on #3372
Not relevant.

[2021-11-08 10:45] #3372 closed, assigned to nobody

[2021-11-08 10:49] jerechinsky commented on #3479
Not relevant until product team requests something like this.

[2021-11-08 10:49] #3479 closed, assigned to nobody

[2021-11-08 10:56] tsusanka commented on #4457
Intuitively it seems to me this was even sooner. Like 3 - 6 months ago it just felt faster..

[2021-11-08 11:22] dspicher commented on #4512
@andrewkozlik see the PR linked above for an initial attempt. Feedback would be greatly appreciated.

[2021-11-08 12:58] andrewkozlik commented on #4512
Firmware PR ready: https://github.com/trezor/trezor-firmware/pull/1903

@qa Once the PR has been merged, please test that the following features work correctly:
- T1 support of pagination in SignMessage and Verify message for Bitcoin and Ethereum.
- T1 and TT show the address in SignMessage and VerifyMessage for Bitcoin and Ethereum.

[2021-11-08 14:10] tomasklim commented on #4462
We also need Czech and Spanish version of

@Hermez-cz With CTA we have 2 options:

- navigate user to https://suite.trezor.io/
- navigate user to settings

[2021-11-08 14:43] jerechinsky commented on #4462
Spanish (verified by @karliatto)

Czech (verified by me :)

[2021-11-08 14:57] tomasklim commented on #4354
Not sure if we need to spend time on it 😀
https://user-images.githubusercontent.com/33235762/140764637-aee3b568-e56b-4731-8323-691a0fbcd6b6.mov

[2021-11-08 15:07] tomasklim opened #4471 "Failing e2e tests when a message from message system config is valid in e2e environment."
Snapshots of e2e tests start to fail if we deploy develop message system config which is valid in integration test environment.

Solution:

- disable message system config in Cypress (👮‍♀️ ? #4353)
- ignore the banner
- ?

[2021-11-08 15:08] tomasklim commented on #4353
#4471

[2021-11-08 16:31] tsusanka commented on #4354
@Hermez-cz I think you could decide this one :).

[2021-11-08 19:36] lf94 opened #4473 "Sign and verify output not the same between Trezor Suite and wallet.trezor.io"
At Bity we have designed a wallet identification system which relies on signatures and their verification. This system is implemented for Ethereum and Bitcoin and their various signature algorithms (painful, but reality.).

A customer reported to us that signing / verifying with a Trezor is no longer working, which I found very surprising. A quick test with my Trezor demonstrated the broken behavi

[2021-11-08 19:53] lf94 commented on #4473
I think the issue is P2SH signing is no longer possible in Trezor Suite. When creating a P2SH address and then going to Sign and Verify, it only displays Bech32 addresses. Is this a bug, because when selecting Legacy addresses and then going to Sign and Verify, it properly displays legacy addresses?...

[2021-11-08 19:55] lf94 commented on #4473
(This issue is also probably extremely particular and probably easy to miss. I only see this stuff quickly because I spent a couple months researching all these cryptographic signature schemes and learned how fragmented the ecosystem is. I would like to avoid further fragmentation if we can, as a community.)

[2021-11-08 19:59] lf94 commented on #4473
This issue should be easily recreated by invoking this https://github.com/BitySA/orianne/blob/master/src/wallets/trezor.ts .

I think the issue is also easily resolvable if we simply request a Bech32 address instead of a P2SH one. I think we originally stuck with P2SH because Trezor did not support signing Bech32 for the longest time.

[2021-11-09 06:06] Hermez-cz commented on #4462
**Preferably, we could just open the "Update available" modal right from the CTA.**
- If not possible, then we should navigate users to settings. Can we also scroll to the bottom to the Suite version element in such case? If not, we need to mention the location in the copy like "Go to Settings/Application/Suite version" - this solution has one important edge case to keep in mind: We shouldn't show

[2021-11-09 06:17] Hermez-cz commented on #4462
We need to launch the notification after production release of **v21.11.*** and focus it on users with all previous versions, mainly on:
- 21.10.2
- 21.10.1 (pre-release)
- 21.9.2
- 21.8.1
- 21.7.1
- 21.6.2
- 21.6.1
- 21.5.1

[2021-11-09 06:20] Hermez-cz commented on #4462
Notifications should be dismissable (closeable).

[2021-11-09 07:05] bosomt commented on #4473
**QA OK**

tested multiple wallets /standard and passphrase wallet.
Same accounts and same addresses produced same signatures.
See screenshots.
It's probably really problem with Bech32 addresses /they are not supported in old wallet that is deprecated and won't be updated in future

<img width="397" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140876300-4f59c8b6-4b25-43ca-

[2021-11-09 08:58] dimasivan opened #4475 "UI 1.5 consistency"
Consistency fixes for

- [x] Dashboard Graph colors for DM
- [x] Border radius of Dropdown Button
- [x] Font weight for Modal Headline
- [ ] Suite Web Landing Main Headline letter spacing should be decreased, but it is already set to 0

[2021-11-09 09:14] Hermez-cz opened #4477 "Settings menu UX fix"
**Describe the bug**
Going to settings requires unnecessary amount of clicks.
The dropdown menu should emerge already on hover, not on click. Click on the settings button should go to Settings/Application right away.

**Steps to reproduce:**
1. Open suite
2. Hover on Settings button ⚙️ > it only becomes highlighted
3. Click on Settings button ⚙️ > dropdown menu opens
4. Click on All/Application/De

[2021-11-09 10:58] tomasklim commented on #4167
The problem is caused by `Ethereum internal transactions`, which are not yet supported by Blockbook #3658.

The transaction which is causing problems on all seed is this one https://eth1.trezor.io/tx/0x9dc9b9c884aad768328f28e8194f1f86121f6c2a1742fa817c33bcc2f3b7aa3c
https://etherscan.io/tx/0x9dc9b9c884aad768328f28e8194f1f86121f6c2a1742fa817c33bcc2f3b7aa3c

[2021-11-09 10:58] #4167 closed, assigned to tomasklim

[2021-11-09 12:43] lf94 commented on #4473
How are you able to select and sign with a P2SH address? It's simply not possible for me. The UI will just generate Bech32 addresses when I create a P2SH account...

[2021-11-09 16:00] karliatto commented on #4454
## Thoughts
* The purpose of this task is to make changes in the e2e tests that currently are using the production blockbook websocket API to use a blockbook that will have backend  regtest instance of bitcoind running in locally/CI.
* If we use a regtest instance of bitcoind, we will have to initially "mine" until we get segwit activated so we can use bip84 type of addresses as we use in the e2e

[2021-11-09 18:14] bosomt commented on #4473
@lf94

you have to select in in left list of accounts in Segwit section first

<img width="1365" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/140981000-1d542bff-2ef9-45bf-b82b-9b4547b90eef.png">

[2021-11-09 20:22] szymonlesisz opened #4480 "update DOGE fee policy"
https://github.com/dogecoin/dogecoin/blob/master/doc/fee-recommendation.md

[2021-11-09 20:42] szymonlesisz commented on #4349
i've found this recently.
it's because address `DKu2a8Wo6zC2dmBBYXwUG3fxWDHbKnNiPj` is a change address on path `m/44'/3'/0'/1/0`

usually we don't show change address in target field because they are meant to be hidden.
but this is exception, somehow someone sent DOGE to "hidden" like on every other address.

@tomasklim could you try this?
https://github.com/trezor/trezor-suite/pull/4481

[2021-11-09 20:54] szymonlesisz commented on #4349
and @bosomt link 4 you:
https://suite.corp.sldev.cz/suite-web/fix/bl-self-change-targets/web/

[2021-11-09 20:57] bosomt commented on #4349
@szymonlesisz
**QA OK**

<img width="799" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/141003312-7fd735ac-bff6-4356-bbca-7617838d1bda.png">

**Info:**
 - Suite version: web 21.12.0 (e934c84430b5cdf74b83b4816b111b8314ace4e1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T

[2021-11-09 21:39] ounrequitedo commented on #4009
I see this has been removed from the backlog, is it dead or is it being implemented eventually?

[2021-11-09 22:28] ConanChou commented on #4878
same for me. before it happens, I added a test hidden account. not sure if it is relevant.

[2021-11-10 07:51] #4349 closed, assigned to jerechinsky

[2021-11-10 08:53] jerechinsky commented on #4477
Moving this into the product column for product team to prioritize.

[2021-11-10 09:04] wendys-cats commented on #4412
**QA OK**
**OS:** Win10
**Suite version:** App and Web 21.11.1 5c7e4065e380923b75fdf8543196d25963de538b
**Device:** TT 2.4.2 public regular

**Checked article links**
Remember and Eject OK
Send OK
OP_Return OK
RBF (Replace by fee) OK
Locktime OK
Passphrase OK

[2021-11-10 09:08] tomasklim commented on #4307
Info:
This issue happens only on `macOS` both in `web` and `desktop` app. It does not matter if `webUSB` or `Bridge` is used.

The problem is following:

1. Remembered devices are stored in Redux state in `devices`
2. On `non-macOS` devices, when device is reconnected into `bootloader`, `device-disconnect` event is fired, which makes remembered devices disconnected. However, on `macOS` this does n

[2021-11-10 10:35] tsusanka commented on #4462
@Hermez-cz we usually do nut bump the version if everything works, so what we are releasing today is 21.11.1 AFAIK. So I would omit 21.11.* in general.

[2021-11-10 10:40] tsusanka commented on #4031
@bosomt just a code stuff, moving to Approved

[2021-11-10 11:24] bosomt commented on #3848
**QA OK**

AFAIK issue will be fixed in 21.11.1 release that will be released today
https://github.com/trezor/trezor-suite/pull/4418

[2021-11-10 11:24] bosomt commented on #3650
**QA OK**

AFAIK issue will be fixed in 21.11.1 release that will be released today
https://github.com/trezor/trezor-suite/pull/4418

[2021-11-10 12:19] szymonlesisz commented on #4457
new (and the previous) utxo-lib have nothing to do with discovery process. i will be surprised if that will be it.
utxo-lib only have influence on transaction compose (send form) and sending/veryfing process.

[2021-11-11 13:31] tomasklim commented on #4268
I cannot replicate this issue.
Maybe it is not available in `21.11.1` anymore or my computer got recovered and no longer has a problem with everything.

@bosomt could you try please?

[2021-11-11 13:35] tomasklim commented on #2643
So far, I've not experienced this problem. Do you have experience with this? @matejkriz

[2021-11-11 14:25] tomasklim commented on #4463
(I contacted Alex about the `.`)
<img width="830" alt="Screenshot 2021-11-11 at 15 18 38" src="https://user-images.githubusercontent.com/33235762/141313856-e470caf2-263e-44c0-831e-317a174f0d5b.png">
<img width="799" alt="Screenshot 2021-11-11 at 15 18 45" src="https://user-images.githubusercontent.com/33235762/141313869-524190a6-0034-4463-8454-f4296d10e246.png">
<img width="802" alt="Screenshot 20

[2021-11-11 14:39] sentry[bot] opened #4492 "Do not log: Unsupported scheme 'bitcoin' error"
Sentry Issue: [TREZOR-SUITE-2SB](https://sentry.io/organizations/satoshilabs/issues/2779189543/?referrer=github_integration)

[2021-11-11 14:43] sentry[bot] opened #4493 "Suite log [object]"
Sentry Issue: [TREZOR-SUITE-2SS](https://sentry.io/organizations/satoshilabs/issues/2781583498/?referrer=github_integration)

[code]

[2021-11-11 14:46] sentry[bot] opened #4494 "TypeError: Cannot read properties of undefined (reading 'txid')"
Sentry Issue: [TREZOR-SUITE-2SA](https://sentry.io/organizations/satoshilabs/issues/2776752666/?referrer=github_integration)

[code]

[2021-11-11 14:48] sentry[bot] opened #4495 "TypeError: Cannot read properties of undefined (reading 'clientReady')"
Sentry Issue: [TREZOR-SUITE-2S9](https://sentry.io/organizations/satoshilabs/issues/2775269148/?referrer=github_integration)

[code]

[2021-11-11 14:58] matejkriz commented on #4384
another occurence https://sentry.io/organizations/satoshilabs/issues/2768616409

[2021-11-11 18:14] bosomt commented on #4268
no problem to replicate in on 21.11.x staging :0
all you have to do is to click on device/modal multiple times during discovery,
pretty much anything that you do during discovery and depends on device will raise error

<img width="1286" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/141348155-dff809c3-111c-4411-b3c3-f645682a6607.png">

<img width="421" alt="obrazek" src="htt

[2021-11-12 18:32] prusnak opened #4501 "Investigate the use of yarn-deduplicate"
Yarn v2 deduplicates automatically, but since we are stuck with Yarn v1 for now, we could investigate the use of [yarn-deduplicate](https://www.npmjs.com/package/yarn-deduplicate).

The reason why I started to look into this was the following fragment from `yarn.lock`:

[code]

To me, it seems there is no reason why electron 12.0.0 should be in the `yarn.lock`, when obviously `*` can be resolved t

[2021-11-13 09:13] andrewkozlik opened #4502 "Revise RBF texts"
The RBF tooltip in Suite states:

"at least one of the same inputs" -> "at least all of the same inputs" (that is how it's implemented in Trezor for security reasons)

RBF manual page in Suite:

This gives the impression that a transaction may stay unconfirmed because the recipient does not accept RBF transactions. That's nonsense.

Again doesn't make sense. How is finalizing related to a transact

[2021-11-13 14:54] prusnak commented on #4501
Wondering whether the same could be achieved by `rm yarn.lock && yarn`

[2021-11-14 10:33] prusnak opened #4503 "QR code generated in receiving address dialog must be bigger"
QR code generated in receiving address dialog must be bigger.

Currently it is quite small (~2cm x ~2cm) and very hard to scan from an (Android) phone = you need to put your phone very close to the screen to fill in the necessary space, but then the camera can't get focus and is unable to read the blurry code.

There is plenty of space. We can even position the QR code above the address:

before:

[2021-11-14 16:38] bosomt commented on #4465
looks like it happens when you put your device to sleep and it looses connectivity to Bridge and blockbook.
it just happened to me again

<img width="1665" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/141689629-19345f11-3725-4e47-bfee-0394be96ebfe.png">

[2021-11-14 17:51] patoshii opened #4883 "Popup auto closes when trying to type in passphrase for hidden wallet."
I clicked the checkbox where it asks to remember my option, but it seems to now not let me type in any passphrase in the popup when using Trezor with with other applications. I tried uninstalling trezor bridge and also removed all cookies and even tried another browser. It still just auto closes the popup when it loads.

[2021-11-14 21:08] tsusanka commented on #4220
Closing?

[2021-11-14 21:32] marekrjpolak commented on #4220
Yes, if we're happy with `System` option for now.

[2021-11-14 21:37] tsusanka commented on #3760
Hey @fredddd1 thank you for your issue. As the binaries are served via TLS (HTTPS) the very same way as the website, there is no added security in displaying the hash. Our binaries are however signed using our [SatoshiLabs 2021 Signing Key](https://trezor.io/security/satoshilabs-2021-signing-key.asc), exactly as the website says.

As per your request, we do not have the ability to delete issues, y

[2021-11-14 21:37] #3760 closed, assigned to stepmes

[2021-11-14 21:42] tsusanka commented on #3755
@matejkriz I am voting for closing this, we are using conventional commits and it works good enough. The only setting we do not have set is

I can set it if you want.

[2021-11-14 21:59] #4220 closed, assigned to marekrjpolak

[2021-11-15 00:55] solumos opened #4884 "Connect webextension example doesn't work?"
I click the button and nothing happens

[2021-11-15 09:11] matejkriz opened #4504 "Unify case style for enums"
Would be nice to have consistent case style for all enums. And it's easier to change it as long as we only have a few of them...

[Typescript docs](https://www.typescriptlang.org/docs/handbook/enums.html) use PascalCase for both - name of the enum and the key names. We could stick with that, but would be nice to have it confirmed in the team.

(The reason why I didn't change it right away is that

[2021-11-15 09:13] #4463 closed, assigned to STew790

[2021-11-15 09:17] #4475 closed, assigned to dimasivan

[2021-11-15 09:32] mroz22 opened #4505 "Cypress tests improvements"
This issue is intended to serve as a source of inspiration for occasional mainatance sessions on cypress tests

- [x]  account-metadata.test has some `wait` commands. we would like to get rid of them in favor of something more reliant. maybe look at this https://www.npmjs.com/package/cypress-wait-until
- [x] ~~consider using other than 'all all' seed in tests. this could improve performance reason

[2021-11-15 10:19] matejkriz commented on #3498
There is an open pull request for it https://github.com/trezor/trezor-suite/pull/2359

[2021-11-15 10:45] wendys-cats opened #4508 "Onion format links present although this setting is disabled"
**Describe the bug**
1. Once user enables Tor and onion format links and then disables onion links, they are still present in Suite - in backends and in transcations. Only blockbook related external links seem to be affected - blog and wiki links keep the standard format once the onion links toggle is disabled.
2. If the user only enabled Tor, but onion format link settings is disabled. Again, onl

[2021-11-15 10:51] tomasklim opened #4510 "Unable to discover wallet of 2nd device when wiping 1st device"
**Describe the bug**
More than 1 device is connected. One of them is wiped. Some accounts are not discovered without refreshing app.

**Info:**
 - Remembered Wallet: both
 - Suite Version: both, 21.11.2
 - OS: macOS
 - Firmware Version: 1

**How to reproduce**
Steps to reproduce the behavior:
1. Connect 2 devices with 2 wallets
2. Wipe 1 device
3. Open select wallet modal
4. Click on "Click to dis

[2021-11-15 11:58] #4307 closed, assigned to tomasklim, jerechinsky

[2021-11-15 13:45] andrewkozlik commented on #4512
The AOPP-related changes in firmware have been merged into the master branch and will be released in the next firmware update, which is planned in December.

The rest of the work is in trezor-suite. A PR is already open: https://github.com/trezor/trezor-suite/pull/4468

[2021-11-15 14:38] prusnak commented on #3619
This should be working with NixOS 21.05, since this commit added `xorg.libxshmfence` to appimage environment: https://github.com/NixOS/nixpkgs/commit/dd9f4e8517a4993ed00178a2963b51fc7d80225a

If it is not working, please reopen the issue.

[2021-11-15 14:38] #3619 closed, assigned to nobody

[2021-11-15 14:59] mroz22 opened #4885 "Cardano maintanance on 2022/Q2"
Consider removing some of the cardano backwards compatibility code branches future. Aprox Q1/Q2 2022?

https://github.com/trezor/connect/blob/0114078d4cd31abd0a23f530607340f67f6c2a19/src/js/core/methods/CardanoGetAddress.js#L186

https://github.com/trezor/connect/blob/0114078d4cd31abd0a23f530607340f67f6c2a19/src/js/core/methods/CardanoSignTransaction.js#L373

todo: add link to relevant code once t

[2021-11-15 15:31] tomasklim commented on #4041
@matejkriz any ideas?

[2021-11-15 15:36] tomasklim commented on #4268
@matejkriz could you please try this on your device? No success to replicate the issue

[2021-11-15 15:50] #4492 closed, assigned to tomasklim

[2021-11-15 16:48] matejkriz commented on #4041
I just try to look at it with source maps (locally), but it just leads me here https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/components/suite/Preloader/index.tsx#L86 so I would expect to be logged not via console logger, but from ErrorBoundary.

So I believe those are the same issues:
https://sentry.io/organizations/satoshilabs/issues/?project=5193825&query=indexOf+%21logg

[2021-11-16 03:38] anatoli26 commented on #3696
This would definitely be useful. Downloaded and executed today for the first time the trezor-suite on Ubuntu 18.04 and though the AppImage worked correctly, it had no icon in the launcher and there was no possibility to pin it to the launcher. Also had to change permissions on the file and similar minor issues.

Also, had to create a .desktop file to be able to start it in a convenient way (the se

[2021-11-16 09:58] szymonlesisz opened #4517 "Collection of future breaking-changes in @suite/storage"
Lets track potential breaking changes, issues/improvements which will require full wipe of DB and try to synchronize them in to one single release to avoid writing complicated migrations.
Once we agree we can do one-time full reset including current migrations (let say in Q1 2022)

- [ ] Account descriptor. format `xpub...`
Currently it is used as account key, in the future we would like to use bi

[2021-11-16 11:02] prusnak opened #4518 "Further Linux integrations [epic]"
1. Install handlers (these should be possible via already deployed AppImage, but will apply for other methods below):

- [x] udev rules - https://github.com/trezor/trezor-suite/issues/3664
- [ ] desktop file
- [ ] URI handler (this is probably done via desktop file)

2. Enable new Linux build targets:
- [ ] DEB (signed with GPG)
- [ ] RPM (signed with GPG)

3. Create repositories:
- [ ] for DEBs f

[2021-11-16 11:09] bosomt commented on #4161
**QA OK**

<img width="1139" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/141974629-eaa58429-1479-4aa7-a695-05f9c3429f0a.png">

**Info:**
 - Suite version: web 21.12.0 (0ebc97c99e03ed4d2f9a98ab272875430674d3ec)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-11-16 11:36] bosomt commented on #4307
**QA OK**

**Info:**
 - Suite version: web 21.12.0 (d37ce6043f3285ec3ef09901859607275c24ac84)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.3 regular

[2021-11-16 13:44] jerechinsky opened #4519 "sdfgsadfg"
**Describe the bug**
A clear and concise description of what the bug is.

**Info:**
 - Remembered Wallet: yes/no
 - Suite Version: app/web, commit
 - Browser: name, version
 - OS: name, version
 - Bridge: version
 - Firmware Version: model, version/commit

**How to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behav

[2021-11-16 13:46] #4519 closed, assigned to nobody

[2021-11-16 14:23] jerechinsky commented on #4518
Moving this to product column for product team to decide the priority of these Linux integrations.

[2021-11-16 15:25] #4493 closed, assigned to tomasklim

[2021-11-16 16:15] Hermez-cz commented on #4268
@tomasklim @matejkriz

I might be onto something..

- I have uninstalled Trezor Bridge recently (when testing onboarding edge cases).
- Today, I have updated to v21.10.2.
- Now I have tried to reproduce the bug (without having standalone Bridge) in the desktop app.
- I haven't been able to reproduce the bug. Everything worked well no matter how much I've tried clicking anything on multiple discove

[2021-11-17 09:54] jbruchanov opened #4522 "Better transactions export"
Add please some overall wallet export into CSV so data can be easily used for example for https://github.com/BittyTax/BittyTax (new format doesn't work nicely if the coin is not included) or any bulk data processing.

Currently I have to export each wallet & coin manually and the CSV file doesn't have a coin column which needs some tedious updates as 1st step.

[2021-11-17 10:33] szymonlesisz opened #4523 "Enhance scan QR code modal"
- Add possibility to read QR not only from fron camera but also with [screen capture api](https://developer.mozilla.org/en-US/docs/Web/API/Screen_Capture_API/Using_Screen_Capture) if it's possible (allow switch between camera/screen capture)

- Add possibility to manual upload (drag-n-drop) QR image (like in import transaction)

usecase: I want to scan qr code from my own machine (different tab/br

[2021-11-17 14:25] mroz22 opened #4524 "onboarding: advanced backup czech translation"
This screen should not have option with shamir backup for T1 devices and outdated TT devices.

![image](https://user-images.githubusercontent.com/30367552/142218459-a6696f69-10aa-41e2-928e-392cc4591f7f.png)

Seen with with device 1.8.1 device:

[code]

[2021-11-17 15:13] MarMun opened #4525 "Different fonts used on Trezor Model T and Trezor Suite"
**Describe the bug**
I just noticed that the font used on Trezor Model T screen and the font used in Trezor Suite don't match.

Specifically, I have a hard time to distinguish "1" (number one) from "l" (lower case "L"? or upper case "i"?) in the Suite.

Looking at the Model T screen, it looks like a lower case "L", while in the Suite, I'm not sure.

**Info:**
 - Remembered Wallet: yes
 - Suite Ver

[2021-11-18 08:49] matejkriz commented on #4524
It's just a wrong czech translation of TR_ADVANCED_RECOVERY key... cc @alex-jerechinsky

[2021-11-18 09:00] mroz22 commented on #4524
Ah, sorry. Indeed. This screen is for selection of "input type". whether it be standard where user is inputting words directly, or 'advanced' where "pin-like" matrix is used intead. Totally missed that.

[2021-11-18 10:12] martinboehm opened #4526 "Ethereum transaction with token transfers shown incorrectly"
I have done a DEX token swap, transaction https://eth1.trezor.io/tx/0x0029b595e3a7d07d7a4fcdff71e5496d850d7953718a1243985c8de54285eee3, account
https://eth1.trezor.io/address/0x8185b57ac7ee339245dd2c06Bdd056Aec2844d4D.

The suite shows all token transfers with negative sign, out of the account, see image
![image](https://user-images.githubusercontent.com/11609674/142394639-450a4d51-f3c8-46cb-8865-

[2021-11-18 10:54] wendys-cats opened #4527 "Suite cannot re-acquire device after wipe (webUSB only)"
**Describe the bug**
Suite is unable to re-acquire device after wipe if it is connected via webUSB (bridge works fine). After wipe, the start page is shown with "Begin setup" button, but the button does not react when clicked on. If user wants to start the onboarding process after wipe, Suite needs to be refreshed - after refresh, Suite has no problem acquiring the device.

**Steps to reproduce:**

[2021-11-18 12:42] #2838 closed, assigned to glacierbits

[2021-11-18 12:44] #3405 closed, assigned to glacierbits

[2021-11-18 13:22] szymonlesisz opened #4528 "@trezor/utxo-lib followup"
- [ ] refactor compose module especialy index,request and coinselect files
- [ ] accept inputs/outputs in protobuf format to avoid object transformation back and forth
- [ ] Transaction module weight calculation should be the same as in coinselect module

[2021-11-18 15:38] #4495 closed, assigned to tomasklim

[2021-11-18 20:12] MCM-Mike opened #4530 "CSV export including labels (metadata) for Desktop suite (Win/Linux) ?"
From the current development (https://github.com/trezor/trezor-suite/pull/3867 & https://github.com/trezor/trezor-suite/issues/3185 https://github.com/trezor/trezor-suite/issues/3892  ) and my understanding the CSV export is only working on the "web-suite" (https://suite.trezor.io/) using Dropbox and G-Suite (google).

But are you going to implement it also on the desktop (Windows, Linux) suite ?

[2021-11-18 21:26] lf94 commented on #4473
The issue is still present.

Now I think the issue is moved to the fact that some change in payload size prevents our full message from being signed.

The old payload size for messages was 1024 bytes. What is the new payload size? I'm looking around but from what I can tell there is no limit, and maybe the limit is now imposed elsewhere instead of in the firmware.

Edit: After looking around every

[2021-11-18 21:33] lf94 commented on #4473
I noticed that when we sign, it shows up as hex on the Trezor display, but signing through Trezor Suite it's plain text? Could this affect anything?

[2021-11-19 09:50] jerechinsky commented on #4437
@ping mroz22

[2021-11-19 09:55] #4450 closed, assigned to matejkriz

[2021-11-19 16:29] STew790 opened #4533 "Add a "Clear internal data" into the Suite"
**Describe the bug**
Add a "Clear internal data" into the Suite, so that it deletes all the files that were created by Suite (for example when autoupdating Suite)

**Expected behavior**
A button, that clears all internal data that Suite created in the system.

[2021-11-19 16:37] lf94 commented on #4473
@alex-jerechinsky @bosomt

[2021-11-19 16:50] szymonlesisz opened #4534 "Naming accounts"
Taproot PR https://github.com/trezor/trezor-suite/pull/4486 will require some followup. Moved from [notion](https://www.notion.so/satoshilabs/Taproot-product-copy-db17b96784a74ad4bc1cc2d47d9f1bc1).

Naming accounts

Add account dialog and Account details page should be reworked regarding account names.
there are 4 pieces of information we might want to present here:

- "human readable account type

[2021-11-19 20:04] prusnak commented on #4534
Before:

<img width="658" alt="Screenshot 2021-11-19 at 20 26 06" src="https://user-images.githubusercontent.com/42201/142680484-13a4b4e4-b699-44ac-84d1-33690817c881.png">

My suggestion:

* SegWit | BIP84, P2WPKH, Bech32
* Taproot | BIP86, P2TR, Bech32m
* Legacy SegWit | BIP49, P2SH-P2WPKH, Base58
* Legacy | BIP44, P2PKH, Base58

[2021-11-20 16:44] prusnak commented on #4534
I sent a PR to your `feat/taproot` branch which implements the above suggestion and also cleans up the stuff so it is more consistent: https://github.com/trezor/trezor-suite/pull/4535

[2021-11-20 22:14] Cesper1968 opened #4536 "Invalid transaction params: Params specify an EIP-1559"
Hello, I'm trying to Withdraw some rewards from Polygon to my wallet and received the message "Invalid transaction params: Params specify an EIP-1559 trans

This is affecting all of Trezor One+Metamask users.
Is there any ETA or guide on how to transact in the meantime? Thank you!

[2021-11-20 22:33] prusnak commented on #4536
Metamask team are working on a fix - see https://github.com/MetaMask/metamask-extension/issues/12130

[2021-11-20 22:33] #4536 closed, assigned to nobody

[2021-11-21 02:56] uj commented on #4533
It already has that function.  "Reset App" in the application settings.

[2021-11-21 20:05] martinboehm opened #4537 "Ethereum ERC20 approval transactions do not show fees in transaction history"
The ERC20 approval transactions necessary for DEX do not show fees in the transaction history:
![image](https://user-images.githubusercontent.com/11609674/142777063-a7ec72a1-e2e9-48c4-9ac7-749f565d78f4.png)
The detail is correct:
![image](https://user-images.githubusercontent.com/11609674/142777077-af4737ab-d8cd-4890-9eee-c6d75dc5e11d.png)
The issue is reported on transaction https://eth2.trezor.i

[2021-11-22 01:36] flawedworld opened #4538 "Microsoft Edge Chromium is wrongly detected as unsupported on https://suite.trezor.io/web/"
**Describe the bug**
When I use Microsoft Edge Chromium to navigate to https://suite.trezor.io/web/ I get told I need to install a supported browser.

**Info:**
 - Remembered Wallet: N/A
 - Suite Version: Web hosted on https://suite.trezor.io/web/
 - Browser: Microsoft Edge 96.0.1054.29
 - OS: Windows 11
 - Bridge: N/A
 - Firmware Version: N/A
 - User Agent: ```Mozilla/5.0 (Windows NT 10.0; Win64;

[2021-11-22 08:00] mroz22 commented on #4883
Hey, we are going to need a reproducible example. Which wallet did you use?

[2021-11-22 08:31] mroz22 commented on #4530
Hello, it is implemented and it works on my machine. If it does not work on yours, please provide more info about what exactly does not work for you.

[2021-11-22 09:16] bosomt commented on #4534
Maybe you can fix it in Firmware when on it ? See https://github.com/trezor/trezor-firmware/issues/1341

[2021-11-22 10:04] jerechinsky commented on #2944
Irrelevant.

[2021-11-22 10:04] #2944 closed, assigned to nobody

[2021-11-22 10:05] jerechinsky commented on #3109
Moving this to product column to prioritize, since this is more user-centered.

[2021-11-22 10:10] jerechinsky commented on #3150
Moving this to product column to prioritize or close this issue.

[2021-11-22 10:12] prusnak commented on #4534
Good point! PR in https://github.com/trezor/trezor-firmware/pull/1930

[2021-11-22 10:28] prusnak commented on #4538
This is intentional. We do not do QA on Microsoft Edge, so it is unsupported.

Please install Chrome to use WebUSB or install the desktop version of the Suite.

[2021-11-22 10:28] #4538 closed, assigned to nobody

[2021-11-22 11:02] MCM-Mike commented on #4530
Could you verify, the local download of a CSV including labels is working for you ?
Without the integration into Google-Drive or dropbox.

[2021-11-22 13:36] tsusanka commented on #3211
Let's do this, as I believe it could be a low hanging fruit. Moving to Product to prioritise. Also this is more interesting after #4500 is merged.

[2021-11-22 17:21] STew790 commented on #4450
**QA NOK**

The icon for the error is still as it was before:

![image](https://user-images.githubusercontent.com/48477147/142896524-fcf8d16d-427c-4dd7-b45c-c060951ee764.png)

**QA OK**

The other icons were changed correctly:
![image](https://user-images.githubusercontent.com/48477147/142897404-b8856522-4b52-40e1-8397-33d50d91144d.png)
![image](https://user-images.githubusercontent.com/48477147/1

[2021-11-23 07:43] bosomt commented on #3839
is there anything than needs to be tested by QA ? /except regress testing after freeze ? /

[2021-11-23 08:37] tsusanka commented on #4533
@matejkriz does the Reset App clear the whole internal storage? In another words shall we close?

[2021-11-23 10:10] tsusanka commented on #4510
Doing anything during discovery seems to be problematic. Probably related with https://github.com/trezor/trezor-suite/issues/4402 and https://github.com/trezor/trezor-suite/issues/4268.

[2021-11-23 10:16] tsusanka commented on #4465
@matejkriz do you think this could be a low hanging fruit? Just refresh the app on some connection issues?

[2021-11-23 11:30] soucek87 commented on #4533
Unfortunately, Reset App sometimes is not good enough and deleting folder @trezor in Appdata is needed.

[2021-11-23 12:45] mroz22 commented on #4533
Yep, it only removes database. @soucek87 is right that even after clicking Reset App button there may be some data left behind.

[2021-11-23 12:47] mroz22 commented on #4524
I suggest moving it to December 8. Basically all we need is to update translation in crowdin and sync it.

[2021-11-23 12:53] mroz22 commented on #4527
This should be obviously solved on some lower level, connect or trezor-link and I am planning to have a look at it.

But so far there was a workaround in place that we manually display modal "disconnect you device now" if user does wipe using webusb transport

https://github.com/trezor/trezor-suite/blob/0b4323d719c80641091bfa72302d1ad5b4886651/packages/suite/src/actions/settings/deviceSettingsActi

[2021-11-23 14:12] hynek-jina opened #4544 "Unify signature input message properties"
- [x] Validate ASCII only message input for signature.
- [x] Unify max message input size to 1024 bytes.
- [x] Allow longer message insertion with warning about the size limit.

Related to: https://github.com/trezor/trezor-suite/issues/4473

[2021-11-23 14:16] mroz22 commented on #4527
At the moment there are no modals allowed to be displayed over the landing screen which had changed some time ago. So I somehow reintroduced the old behavior here #4545 but it still needs some more considertions.

[2021-11-23 14:22] hynek-jina commented on #4473
@lf94
I've created a separate issue [#4544 ](https://github.com/trezor/trezor-suite/issues/4544) to unify message properties. Therefore this one will be closed.

[2021-11-23 14:22] #4473 closed, assigned to hynek-jina

[2021-11-23 15:01] matejkriz commented on #4533
just the other day, I thought it might be a good idea to provide some kind of "Uninstaller"...

I don't think this is a bug, but more likely a product feature.

[2021-11-23 15:52] aspiers opened #4546 "Trezor should not block account creation with "Previous account is empty""
## Bug description

With Trezor Suite 21.11.2, attempts to create a new account are met with "Previous account is empty" if the Suite thinks the previous account is empty.  This is most likely the intended behaviour, but I contend that it is not correct.  There are many use cases where there is a valid need for allowing consecutive "empty" accounts.  These fall mostly into two categories:

1. The

[2021-11-23 16:59] shenhab commented on #3260
Any update on this Feature request?

[2021-11-23 18:09] tsusanka commented on #4533
@matejkriz and how about we just remove all the data on clicking Reset App? Of course with the right copy. That sounds like a low hanging fruit isn't it?

[2021-11-23 18:52] prusnak commented on #4546
This is a bug and we should fix it.

This is a desired feature and we are not going to implement it, because it goes against the "Account discovery" described in BIP44: https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki#Account_discovery

[2021-11-23 18:53] prusnak commented on #4546
@aspiers I assume you have not found a new bug (1) and you are just expressing your desire for (2), right?

[2021-11-23 20:48] mroz22 commented on #4533
I think it is relatively low hanging fruit. Did some preliminary investigations and POC here #4547

[2021-11-24 09:16] matejkriz commented on #4465
I'm not sure, but I don't think it's a low hanging fruit.

[2021-11-24 12:32] aspiers commented on #4546
Firstly thanks a lot for the quick response.

[**@prusnak**](https://github.com/prusnak) commented on [November 23, 2021 6:53 PM](https://github.com/trezor/trezor-suite/issues/4546#issuecomment-977013836 "2021-11-23T18:53:26Z - Replied by Github Reply Comments"):

Not really; it's not (just) about bugs:

[**@prusnak**](https://github.com/prusnak) commented on [November 23, 2021 6:52 PM](https://gi

[2021-11-24 13:16] #3960 closed, assigned to mroz22

[2021-11-24 13:19] tomasklim commented on #4337
@alex-jerechinsky

Please change the translation of `FIRMWARE_CONNECT_IN_NORMAL_MODEL_2`
to `Please make sure you are not holding any buttons while connecting your device.`

After that please ping @mroz22 to update default translation strings.

[2021-11-24 13:41] #3153 closed, assigned to dimasivan

[2021-11-24 14:39] #4526 closed, assigned to nobody

[2021-11-24 16:09] tomasklim opened #4552 "DEX swaps are shown incorrectly in transaction history"
**Describe the bug**
Swap transaction of ETH to ERC20 token is displayed incorrectly.

**How to reproduce**
1. Swap ETH for ERC20 on Uniswap, 1inch,...
2. Check transaction history

**Current behavior**
I swapped ETH to UFI. Suite shows:

- `Sent UFI` instead of `Receive UFI`
- Minus sign before UFI instead of plus sign.
- no ETH spent

**Expected behavior**
- How much ETH I spent
- Correct header

[2021-11-24 16:14] bosomt commented on #4349
I just found same problem on legacy BTC account.
Unknown in Suite 21.10.2 but OK in dev master 🎉 21.12.0

[2021-11-24 17:38] mroz22 opened #4553 "inconsitent messages.ts"
this is ok
https://github.com/trezor/trezor-suite/blob/62bf5c0984dc9ea64ce7df8feff70768aae45e5e/packages/suite/src/support/messages.ts#L1019-L1022

this is imho not. defaultMessage is duplicated and id does not match message key
https://github.com/trezor/trezor-suite/blob/62bf5c0984dc9ea64ce7df8feff70768aae45e5e/packages/suite/src/support/messages.ts#L387-L390

https://github.com/trezor/trezor-sui

[2021-11-25 08:35] #4505 closed, assigned to mroz22

[2021-11-25 09:00] tomasklim opened #4557 "Transaction daily summary is missing fees"
**Describe the bug**
The daily summary in tx history is missing fees.
Related to #4537.

**Info:**
 - Suite Version: 21.11.1

**How to reproduce**
Steps to reproduce the behavior:
1. Check tx history

**Expected behavior**
It should contain fees.

**Screenshots**
![Screenshot 2021-11-25 at 9 57 31](https://user-images.githubusercontent.com/33235762/143410860-553c3348-7581-4786-ab9f-ea28b6f29943.pn

[2021-11-25 09:56] jerechinsky commented on #4139
@STew790 will try to replicate.

[2021-11-25 11:15] #4553 closed, assigned to nobody

[2021-11-25 11:19] #4524 closed, assigned to jerechinsky

[2021-11-25 17:38] #4534 closed, assigned to nobody

[2021-11-26 12:35] tomasklim commented on #4462
We cannot open this modal from there.
We cannot scroll to the bottom.
We cannot distinguish cases when settings is not available.

So what should I do? 😀

Another thing, should the notification be blue, yellow or red? (info, warning, critical)

[2021-11-26 14:12] STew790 commented on #4139
I wasn't able to replicate this on 3 different Windows 10 machines. Closing.

[2021-11-26 14:12] #4139 closed, assigned to dimasivan

[2021-11-26 15:09] bosomt commented on #4534
**QA OK**

**Info:**
 - Suite version: web 21.12.0 (312a355e355722a2bb67e43133434b4e2abebbfc)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.4 regular