[2021-05-06 08:33] bosomt commented on #2149
@tsusanka yes it is, i was able to reproduce it

**Info:**
 - Suite version: web 21.5.0 (c9d3680eb6b575f588265f541b07dd82bbd6a6ad)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.6 regular

[2021-05-06 08:34] jerechinsky commented on #3661
@tomasklim Maros couldn't reproduce it. Could you please try?

[2021-05-06 08:37] slowbackspace commented on #3181
@tsusanka there wasn't much of the logic that changed in newer onboarding. If it doesn't work in old one, it won't work in new one, which was mostly presented as design refresh :)

We've briefly tried to troubleshoot this with boso, but no luck. Someone needs physical access to such device to be able to debug this properly 😁

[2021-05-06 08:56] tomasklim commented on #3691
@alex-jerechinsky should this be tested by QA now? or we will prepare some testing analytics guide when 1.9 version is done?

[2021-05-06 09:10] tsusanka opened #3718 "Support T1's Go to bootloader feature"
Now that we have https://github.com/trezor/trezor-firmware/issues/1047 we have the ability to go to bootloader on T1 using [Protobuf message](https://github.com/trezor/trezor-firmware/blob/master/common/protob/messages-management.proto#L414). For any new firmware updates from 1.10.1 Suite should use this feature. Users won't have to enter the bootloader on their own then!

[2021-05-06 09:25] slowbackspace opened #3719 "Dump the content of reducers"
into a file or some textarea to it can be copy pasted.

In first iteration we could hide it in debug settings, so only QA will use this and we don't have to bother with redacting sensitive data.

my thoughts
https://github.com/trezor/trezor-suite/issues/239#issuecomment-762968914

[2021-05-06 09:44] tsusanka commented on #3714
The design also has "upload image" feature. We need to think about it in the back-end architecture.

[2021-05-06 11:09] bosomt commented on #3672
**QA OK**

**Info:**
 - Suite version: web 21.5.1 (974429bab27c43502251b646a485d792a4ab4180)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.3.6 regular

[2021-05-06 11:32] #2661 closed, assigned to slowbackspace

[2021-05-06 12:31] LukasRada opened #3721 "Window resize causes clearing form values"
**Describe the bug**
Window resize causes clearing form values.

**Info:**
 - Remembered Wallet: yes
 - Suite Version: web, 21.5.0, c1daedd8227baaac99c1f89e91005739d6e572a4
 - Browser: Firefox 88
 - OS: Ubuntu 20.10 Groovy

**Steps to reproduce:**
1. Open browser with Suite, but not in full screen and with left side menu visible.
2. Go to Accounts -> Send.
3. Input value into any input field.
4. R

[2021-05-06 13:06] #3306 closed, assigned to tomexx, slowbackspace

[2021-05-06 18:29] glacierbits opened #3723 "Navigation: Tor"
**Design:** [Zeplin](https://zpl.io/VDgEd6g)

The main idea:

- Move Settings to the right (on both web & desktop) › Notifications › Tor (desktop only) › Discreet
- Security / Privacy Settings and statuses (will include BTC Core in future) on the left side
- For the June release: It's OK if don't manage to implement the new drop down menu in Tor
- Hovers on all icons (related to #3712)

[2021-05-07 06:17] tsusanka commented on #3713
@goodhoko I have created a [trezor-suite-guide](https://github.com/trezor/trezor-suite-guide/) repository. As discussed in the [spec](https://www.notion.so/satoshilabs/Product-guide-394602e300cd46639233df53f31ed715?d=40dfec81-588d-4492-b108-1468861e450f) copywriters will write content there using markdown. Please:

- Prepare a simple structure in the repo (let's not forget about localization, the

[2021-05-07 06:35] bosomt commented on #3279
**QA OK**

**Info:**
 - Suite version: web 21.5.1 (974429bab27c43502251b646a485d792a4ab4180)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.3.6 regular

[2021-05-07 06:39] bosomt commented on #3457
**QA OK**
edit **QA OK** in neu onboarding

**Info:**
 - Suite version: web 21.5.1 (974429bab27c43502251b646a485d792a4ab4180)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.3.6 regular

[2021-05-07 06:52] bosomt commented on #2961
**QA OK**

**Info:**
 - Suite version: web 21.5.1 (974429bab27c43502251b646a485d792a4ab4180)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.3.6 regular

[2021-05-07 07:26] bosomt commented on #3592
**QA OK**

**Info:**
 - Suite version: web 21.5.1 (974429bab27c43502251b646a485d792a4ab4180)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.3.6 regular

[2021-05-07 07:31] glacierbits opened #3724 "Add Account: New design"
Design: [Zeplin](https://zpl.io/a8Q71AK)
Add Account modal prototype: [Figma prototype](https://www.figma.com/proto/hZ22ckyTRlCYRLTNUbTdWO/Exploring-Accounts?page-id=2%3A26281&node-id=90%3A2&viewport=779%2C568%2C0.049047525972127914&scaling=min-zoom) (start by clicking on Plus button, reset by pressing `R` key)

**The objective:**

- Current design is outdated
- Same visual language of coin manage

[2021-05-07 07:54] glacierbits commented on #3614
Yes.

[2021-05-07 07:55] tsusanka commented on #3614
Works as expected then. Closing.

[2021-05-07 07:55] #3614 closed, assigned to glacierbits

[2021-05-07 07:58] tsusanka commented on #3445
@vdovhanych I am assigning you since this a DevOps issue but there are other more important issues, let's do those first.

[2021-05-07 08:00] glacierbits opened #3725 "New Dashboard 📈"
- The current Dashboard is outdated & missing functionality.
- The product team is working on a new Dashboard.

[2021-05-07 09:43] bosomt commented on #3692
@LukasRada so we can skip this issue till Invity implemnt/enable it on their servers ?

[2021-05-07 10:18] LukasRada commented on #3692
@bosomt Yep.

[2021-05-07 10:38] MarMun opened #3726 "Exchange tab stuck in 'loading' state if wallet not connected"
**Describe the bug**
Exchange tab stuck in 'loading' state if wallet is not connected.

**Info:**
 - Remembered Wallet: yes
 - Suite Version: app 21.4.1, https://github.com/trezor/trezor-suite/commit/1baa8ced16f2f6a5d60e9f4d7911669f856123d8
 - Browser: -
 - OS: Ubuntu 20.04.2 LTS, 64bit
 - Bridge: -
 - Firmware Version: model T

**Steps to reproduce:**
1. disconnect remembered wallet
2. go to an a

[2021-05-07 12:44] tsusanka opened #3727 "Investigate required firmware feature"
We have a feature to enforce firmware update in Connect by marking the firmware "required". We should investigate both from the technical and UX point of view if it works in Suite so we can start using it again.

[2021-05-07 12:46] tsusanka commented on #3727
We currently have versions 1.6.1 and 2.0.5 labeled as required. @STew790 could you please investigate if Suite when accessed with older firmware forces you to update? In another words if you can send BTC for example or you are blocked by a firmware update modal.

[2021-05-07 12:49] tsusanka opened #3728 "Mark firmwares older than two years as required"
<s>Upon successful investigation of https://github.com/trezor/trezor-suite/issues/3727</s> we should consider marking firmwares that are two years old as mandatory. This will help us cleaning up some legacy code.

Note that this applies for firmwares only, not bootloaders! We support all bootloaders to allow updates in all cases.

[2021-05-07 16:19] glacierbits opened #3729 "Access Settings: Trezor disconnected 🔌"
The option to modify Application and Coin Settings before the keys are shared (device is connected) with the application.

Design in [Figma](https://www.figma.com/file/BUMem1C7j4roQDyJf9yxQT/Exploring-Onboarding?node-id=862%3A536)

----
![image](https://user-images.githubusercontent.com/3729633/146195566-fd7d025f-b52f-404f-a43e-8d41dbedaac4.png)
- Settings icon should be available on all Welcome s

[2021-05-07 16:49] glacierbits opened #3730 "Onboarding: Copy improvements w/ Support"
@alex-jerechinsky Can you please review with Nika this copy? 🙏🏽

Nika brought to my attention we should emphasize CABLE troubleshooting (proper "click" connection / trying different cable altogether). Bases on the occurrence (#), I am guessing it would make send to put it as a first step.

<img width="741" alt="Screen Shot 2021-05-07 at 18 38 34" src="https://user-images.githubusercontent.com/2962

[2021-05-09 10:11] glacierbits commented on #1871
We are working on and advance fold/group option within each tab. The design proposal will be available for then next (July) sprint, but is not necessarily a prerequisite for this feature. FYI I have added the "general" Settings component to the issue description.

[2021-05-09 17:05] bosomt opened #3733 "Discreet mode nitpicks"
**Describe the bug**
Please see screenshots and adjust discreet mode

1) you can see Inputs in transactions detail
2) smooth out TX ID blur “frame” in transactions detail

**Info:**
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: mode

[2021-05-10 06:10] bosomt commented on #2282
**QA OK**

**Info:**
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.6 regular

[2021-05-10 06:11] bosomt commented on #2242
**QA OK**

**Info:**
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.6 regular

[2021-05-10 06:50] tomasklim commented on #2752
@bosomt @sbstrd Feel free to contact me for more info and better explanation

I created two configs to be tested by QA.
**1.**
[code]

Web:
https://suite.corp.sldev.cz/suite-web/qa/msg-system-test-1/web/

Linux:
https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/1248216869
Mac:
https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/1248216868
Windows:
https://gitlab.com/satoshilabs/trezo

[2021-05-10 07:57] sorooris commented on #3671
@slowbackspace Oui monsieur, confirming the issue according to your steps!

Suite: app 21.4.1 1baa8ce
OS: macOS Big Sur 11.3
Device: T1 1.10.0

Screenshot:
![image](https://user-images.githubusercontent.com/10185314/117625059-e8cd7100-b175-11eb-8279-7d1374b379cf.png)
Log:
[code]

[2021-05-10 08:16] goodhoko opened #3734 "Automate connect build in Suite"
Stemmed from [this thread](https://github.com/trezor/trezor-suite/pull/3722#discussion_r628054227).

Some parts of connect that are used in Suite are not published to NPM connect package. (Instead they're published to connect.suite.io to satisfy same-origin policies).

In https://github.com/trezor/trezor-suite/pull/3722 we to stoped fetching these parts from connect.suite.io and bundled them in su

[2021-05-10 12:20] wendys-cats commented on #2242
**QA OK**
- Safety checks is available in Settings
- can be changed from Settings
- shows notification when safety checks are disabled

**Info:**

- Suite version: web 21.5.1 (4d09d88)
- Browser: Chromium Version 88.0.4324.182 (Official Build) (64-bit)
- OS: nixOS 21.03
- Device: model T 2.3.6 public

[2021-05-10 13:30] wendys-cats commented on #3279
QA NOK
- ETH Send is not implemented

List
- [ ] Switch wallets modal: Remember, Eject OK
- [ ]  Send: OP_Return, Send raw transaction OK
- [ ]  ETH Send: Data, Gas limit & Gas price (once #2970 implemented) **NOK**
- [ ]  XRP Send: Destination tag **NOK**
- [ ]  Dashboard graph when XRP and/or ETH enabled OK
- [ ]  Settings not omplemented yet
- [ ] ..and possibly other places bulb EH? not checke

[2021-05-10 13:33] wendys-cats commented on #2961
**QA OK**

**Info:**
- Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
- Chromium Version 88.0.4324.182 (Official Build) (64-bit)
- NixOS 21.03
- Device TT 2.3.6 public

[2021-05-10 13:35] wendys-cats commented on #3691
@alex-jerechinsky should we test it?

[2021-05-10 13:49] STew790 commented on #2961
**QA OK

Info:**

- Suite version: App 21.5.1 (974429b)
- OS: Win10
- Device Model T 2.3.6 regular

[2021-05-10 13:56] martinboehm commented on #3726
Duplicity with https://github.com/trezor/trezor-suite/issues/3297, there is already PR with fix.

[2021-05-10 13:56] #3726 closed, assigned to martinboehm

[2021-05-10 14:24] jerechinsky commented on #3691
@wendys-cats Sorry, no. Not during this freeze. We're currently aware of several bugs and major flaws with analytics and we're working towards fixing those. In the meantime I'm working on creating documentation and testing scenarios so you can help us later. Thank you.

[2021-05-10 14:38] STew790 commented on #2242
QA OK

Info:

Suite version: web 21.5.1 (4d09d88)
Browser:  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
OS: NixOS
Device: model T 2.3.5 regular

[2021-05-10 15:08] prusnak commented on #4512
It seems we are not showing the address being used for signing during the confirmation step. This needs to be done for both T1 and TT while implementing this feature.

[2021-05-10 15:12] goodhoko commented on #3713
Here's our take on this as discussed with @tomexx and @matejzak.

@tsusanka kindly asking you for ✅ on this.
@tomexx Please, see the **Integration with Suite** section and ack if it makes sense to you.
@matejzak This builds on what we've said at the meeting today. Still, I'd like you to ack the **Indexing** step. Particularly the idea of English version **defining** the content tree's shape and ot

[2021-05-10 15:13] STew790 commented on #2282
**QA OK**

Info:

- web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
- Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
- OS: NixOS
- Device Model T 2.3.5 regular

[2021-05-10 16:04] wendys-cats commented on #3691
@alex-jerechinsky thank you for responding, will inform the rest.

[2021-05-10 18:58] wendys-cats commented on #2282
**QA OK**
- notification panel is visible when safety checks are disabled through Suite or when trezorctl set safet-checks prompt (--always) is used.

**Info:**
- Suite version: web 21.5.1 (4d09d88)
- Browser: Chromium Version 88.0.4324.182 (Official Build) (64-bit)
- OS: NixOS 21.03
- Device:  TT 2.3.6 regular

[2021-05-11 07:43] sorooris commented on #3279
hey @alex-jerechinsky it looks like the automation for this issue didn't work after reopening - where should we move this?

[2021-05-11 07:46] sorooris commented on #3691
@alex-jerechinsky should we move this to the next release then?

[2021-05-11 07:53] jerechinsky commented on #3691
@sorooris No. We have #3717 for next release. :)

[2021-05-11 08:26] jerechinsky commented on #3279
Thank you @sorooris and @wendys-cats. Moving this one to next release.

[2021-05-11 10:09] sorooris commented on #3592
**QA OK**

Suite: app 21.5.1 (4d09d884)
OS: macoS Big Sur 11.3
Device: T1 1.9.4 public

[2021-05-11 10:13] goodhoko commented on #3713
@tomexx pointed out (personally in the office) that he'd like each category and/or page to have an ID. That's a good point as IDs will be definitely needed for the full text search as well.

GitBook doesn't assign any IDs to pages nor groups. What uniquelly defines them is their path and so we'll use it as the ID. This would yield a JSON like this:
[code]

I removed the `path` field from the pages

[2021-05-11 10:20] tsusanka commented on #3713
Looks great :+1: :+1:. I have just one question regarding the git submodules:

I am ok with not using git submodules, however I am against using some custom scripts or workflow. Do we already have some processes for 1. clone a repo 2. do something? Is it being used somewhere? In a nutshell I prefer an established solution rather than in-house one.

[2021-05-11 10:20] andrewkozlik opened #3737 "Support 50-digit PIN for T1"
Starting with firmware version 1.10.0 Trezor 1 will support a 50-digit PIN and a 50-digit wipe code. Suite currently limits the length of the PIN that the user may enter to 9 digits. This limit needs to be raised to 50.

The Suite dialog states "Enter up to 9 digits on your Trezor's keypad":
1. This number needs to be also changed to 50.
2. For Trezor 1 this sentence doesn't make sense, because th

[2021-05-11 10:38] tsusanka opened #3738 "Bundle (newest) firmware in Suite"
To simplify some Freeze & Release processes it would help us a lot to bundle the actual firmwares inside Suite directly instead of fetching them from data.trezor.io. Currently we need to deploy the firmwares to data.trezor.io before we can actually test Suite with the firmwares which is suboptimal because we 1. make the firmware public 2. `trezorctl` starts offering them in the first moment they a

[2021-05-11 10:40] STew790 commented on #3457
QA OK

Info:
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: NixOS
 - Device: model T 2.3.5 regular

[2021-05-11 10:56] keraf commented on #3445
Tagging #3446 as there will be some changes required if it gets implemented before the new pipeline is merged.

[2021-05-11 11:41] glacierbits commented on #3460
Just discussed with @szymonlesisz:

- Let's use already existing context warning message saying the amount has been decreased + the new amount.

_(Example)_
<img width="736" alt="Screen Shot 2021-05-11 at 13 39 40" src="https://user-images.githubusercontent.com/29627086/117809327-581e9000-b25e-11eb-87b0-9d663a7a34f7.png">

- Let's add the confirmation items (as per FW request) to the transaction c

[2021-05-11 12:59] goodhoko commented on #3713
As far as I know we don't. I assumed that 1. would be as simple as invoking a simple shell command along the lines of `git clone <remote> tmp && cd tmp && git checkout <commit sha>` and 2. have to be custom anyway and will be implemented as somewhat complex typescript script.

My case against git submodule is that I don't want GB mirror to be part of the monorepo. I want it to be a mere external d

[2021-05-11 13:05] goodhoko commented on #3713
Last thing: I realised the proposed JSON doesn't account for titles to be localised. Let's do it this way:
[code]

Once we settle with @tsusanka on the git fetching strategy I'll incorporate all the remarks to my original comment and then the implementation can begin.

[2021-05-11 13:06] sorooris commented on #3457
**QA OK**

Suite: app 21.5.1 4d09d884
OS: macoS Big Sur 11.3.1
Device: T1 1.9.4 public

[2021-05-11 14:18] bosomt commented on #2643
Still happening in 21.5.1
https://github.com/trezor/trezor-suite/commit/4d09d88476dab2e6b2fbfb833b749e9ac62251c2

[2021-05-11 14:36] sorooris opened #3744 "Non-onion custom backends stay enabled when Tor is enabled"
**Describe the bug**
Enabling Tor seemingly does not disable any custom backends that are set in the Advanced settings which could compromise the level of protection provided by connecting to the Tor network.

**Info:**
 - Suite Version: app 21.5.1 (4d09d88)
 - OS: macoS Big Sur 11.3.1
 - Bridge: any
 - Firmware Version: any (tested T1 1.9.4 public)

**Steps to reproduce:**
Precondition: custom ba

[2021-05-11 15:16] tsusanka commented on #2917
Closed by #3629. Thanks a lot for your contribution @waltonzt!

[2021-05-11 15:16] #2917 closed, assigned to glacierbits

[2021-05-11 20:20] vdovhanych commented on #3424
The only other option then is to enable debug login as described [here](https://docs.gitlab.com/ee/ci/variables/#enable-debug-logging). This should show everything that is shown on the runner.

[2021-05-12 06:33] bosomt opened #3745 "Blinking cursor is present in Firefox"
**Describe the bug**
You can click on most menu items and you will see cursor present, see videos.
I was able to reproduce it on Fedora linux and MacOS

**Steps to reproduce:**
1. Load web version in Firefox
2. Click on item like Dashboard or Accounts
3. observe

**Info:**
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.

[2021-05-12 08:13] bosomt commented on #3745
looks like Firefox issue, i just noticed that it's happening on all sites /slack,clockify and so on/

[2021-05-12 08:30] jerechinsky commented on #3744
@matejzak @tsusanka do you agree with the expected result?

[2021-05-12 08:37] jerechinsky commented on #3745
You may have enabled caret browsing - an accessibility feature in firefox. I think you can disable it by "fn + F7" on a Mac.

[2021-05-12 08:41] bosomt commented on #3745
lol, you are right and it synced to all my computers :)  thanks !

[2021-05-12 08:41] #3745 closed, assigned to jerechinsky

[2021-05-12 08:49] glacierbits commented on #3744
Looping in @tomexx since we talked about this particular case, and came to a conclusion the current behavior is OK (for now at least since it is an advance feature).

That being said, OK is not necessarily perfect, therefore I kindly ask @tsusanka to weigh in and provide an opinion whether the custom BE URLs should be automatically routed through the Tor network once Tor is enabled.

If so, 2 UX c

[2021-05-12 09:30] andrewkozlik opened #3746 "Improve locktime field"
**Is your feature request related to a problem? Please describe.**

When entering a locktime users need to use an external resource to either:
- calculate the timestamp of the date and time they want to enter, or
- look up the current block height.

Suite should provide a simple means for them to do so inside the application.

![Image](https://github.com/user-attachments/assets/644ae482-bc83-4616-

[2021-05-12 10:56] glacierbits opened #3747 "Better UX/UI: Account menu + ERC20"
**Design:** [Zeplin](https://zpl.io/Vk148OZ)

**This release (June 9th):**

- [x] Tag on ETH indicating number of individual Tokens
- [x] Tab `Tokens` next to the Overview tab on ETH _(Zeplin to be added here)_
- [x] Add account button
- [x] Fonts (weight, size etc.)
- [x] Hover + Selected Account state: [Zeplin](https://zpl.io/ad3398E)

**Future release (July 14th):**

- Un/Archive + Un/Favourite

[2021-05-12 11:01] glacierbits opened #3748 "Accounts: Archive + Favourite + Sort ⭐"
**Design:** [Zeplin](https://zpl.io/Vk148OZ)

[2021-05-12 11:06] goodhoko opened #3749 "Fetch Zcash transcation enhancements from blockbook"
Based on [this comment](https://github.com/trezor/trezor-suite/pull/3736#issuecomment-839584963) fetch the zcash transaction enhancments from blockbook replacing hardcoded values.

cc @szymonlesisz @tsusanka

[2021-05-12 12:35] #3709 closed, assigned to goodhoko

[2021-05-12 13:09] bosomt commented on #3165
tested via Xiaomi Redmi Note 10 4GB/128GB Pebble White  with **Android 11**
yes Chrome freezes , but when i switch to other app and back immediately address is correctly scanned

[2021-05-12 15:11] Daddy-C commented on #3650
I'm having the same issue with one of my BTC (Bech 32) accounts as well as my ETH ac
![Screenshot 2021-05-12 111046](https://user-images.githubusercontent.com/83146669/117999336-bc9b2700-b312-11eb-94cb-62a85ba13f52.jpg)
count - same error.

[2021-05-12 18:23] firepacket commented on #3694
You want to use secp256k1 for asymmetric message encryption, and signing verifying I presume?
Is there any research in regards to this curve when it comes to encrypted messages spaced over time? Has this been deployed as a solution in any other public cases? Any research pointing to possible strengths and weaknesses of this?

[2021-05-12 18:44] PostPollux opened #3751 "warning when verifying binaries"
**Is your feature request related to a problem? Please describe.**
I'm not an expert when it comes to verifying signatures of applications. I guess that is the case with most of your userbase.
I downloaded trezor suit as appimage from https://suite.trezor.io/
I followed the instructions of https://wiki.trezor.io/Apps:Trezor_Suite#How_to_run  to verify the binaries. It worked.
BUT there are two thi

[2021-05-12 18:46] prusnak commented on #3694
There is no encryption, just signing/verification.

[2021-05-12 23:34] firepacket commented on #3694
Oh I apologize. Is there something else providing confidentiality of a message? Didn't see anything about it. Maybe I am confusing this with another feature I read about regarding end to end secure messaging?

[2021-05-13 08:00] prusnak commented on #3694
Yes you are. This is just for messaging settings.

[2021-05-13 08:11] tsusanka commented on #3744
Hm, this is a complicated topic IMHO. Because you might want to set up a private non-tor BE and you still want to route to there via Tor. What makes more sense is if you enable Tor and as well have a custom .onion BE. But I can image a use case where you want to enable Tor, don't want to use our .onion service and for some reasons can't run your own .onion BE, you can run only the traditional one.

[2021-05-13 08:20] prusnak commented on #3744
Yes, connecting to clearnet backends via Tor is a legit use-case. But in this case the clearnet BE has to run HTTPS. Connecting to clearnet HTTP via Tor is dangerous and should not be allowed.

[2021-05-13 08:22] tsusanka commented on #3713
Well okay, let's try your way and see :). Just please take into account that when your script gets too big we might want to reevaluate :). Yeah, yeah, I know it shouldn't be that case.

-----------

Great point!

[2021-05-13 08:29] tsusanka commented on #3744
How about we simplify it altogether and warn if user enters a HTTP (non-HTTPS) backend? For both Tor enabled and disabled. We want to push HTTPS everywhere anyway. It is a nice feature, simple and useful.

[2021-05-13 08:34] matejkriz commented on #3733
@keraf `disableHiddenPlaceholder` param has been added to Inputs amount in this [commit](https://github.com/trezor/trezor-suite/commit/bcb903a202ef82cc03c90d5f7b92eadd6f614b7a#diff-1dacbf61f9133f49828650c085c9209b016cadef8047d3d98ffcf7d754e95c43R83), do you have any idea why?

And the addresses should be also blurred, right? Same as on the other places...

[2021-05-13 08:49] prusnak commented on #3744
Well, there are still many people who run their nodes on local network (Raspberry Pi) reachable via IP address with no HTTPS on it (you can't issue a HTTPS cert for an IP or local hostname).

[2021-05-13 09:01] bosomt commented on #3733
one more blurring that's not smoothed

![image](https://user-images.githubusercontent.com/31506317/118103741-888b3900-b3da-11eb-8ec4-df17ef44c4b5.png)

**Info:**
 - Suite version: desktop 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.5.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Lin

[2021-05-13 09:05] STew790 commented on #2752
Test case 2:

Tried this on Win10 machine and works as intended, just one little thing is that the blue bar is missing an "X" to hide it.

Info:
 - Suite version: desktop 21.5.0 (4a91b40e005a1e94255aaf80e2169c195b600852)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.5.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win 10
 -

[2021-05-13 09:16] tomasklim commented on #2752
@STew790 it should not be dismissible, sorry, copy-paste error in the description. The config has `dismissible: false`, so it works as it should.

[2021-05-13 09:19] goodhoko commented on #3709
@trezor/qa I'd really like to link you to a specification of how this should behave but I couldn't find any existing one. The tor feature spec is partially described in these issues
- https://github.com/trezor/trezor-suite/issues/2445
- https://github.com/trezor/trezor-suite/issues/2843
- and maybe some more

However I can't say if these are on par with what was actually implemented.

---

What I

[2021-05-13 09:33] szymonlesisz commented on #3749
I'm not sure if this is a "first good issue"
It's quite complex change and you need to know what you are doing here.

Steps:
1. modify `getInfo` method in [blockchain-link](https://github.com/trezor/trezor-suite/blob/develop/packages/blockchain-link/src/workers/blockbook/index.ts#L84), write tests, keep in mind that those values are optional
2. publish blockchain-link to npm
3. import blockchain-l

[2021-05-13 09:44] szymonlesisz commented on #3721
resize (mobile layout change) causes unmount of send component (and send form hook)
values are not cached since they are not valid (they have errors), try to do the same with valid data (green)

decision has to be made, if we want to cache invalid values like above (not recommended)

[2021-05-13 10:04] LukasRada commented on #3721
I can confirm the "green case" (valid form values) behaves correctly.
Yet with validation not invoked the behavior stays as described:
![Peek 2021-05-13 11-52](https://user-images.githubusercontent.com/7394177/118110350-98a71680-b3e2-11eb-859d-dce48952ba87.gif)

But it's really an edge case IMHO. Decision is up to you guys :)

[2021-05-13 10:10] goodhoko commented on #3713
Sure. I'll ping you in the PR where that will get introduced. We'll be wiser looking at the real code. Thanks.

I incorporated all the remarks into the original comment and will start bringing this into code soon. (Working closely with @tomexx.)

Here's a rough roadmap for me:
- [ ] <s>make GitBook to sync with the `main` branch instead of the `master` branch in the GB mirror. @tsusanka</s>
- [x]

[2021-05-13 10:12] goodhoko commented on #3749
Right, sorry. That was a mistake. Removed the label. Thanks for outlining the steps though!

[2021-05-13 11:09] szymonlesisz commented on #3721
afaik exchanges doesn't have "cache" logic implemented yet (or im wrong?) this is why it doesnt work there

[2021-05-13 13:17] glacierbits opened #3752 "Headers: Send, Receive, Trade"
**Prototype:** [Figma](https://www.figma.com/proto/hZ22ckyTRlCYRLTNUbTdWO/Exploring-Accounts?node-id=2%3A27135&scaling=min-zoom&page-id=2%3A26281) _( 👀 See the animation)_

- [x]  Send: https://zpl.io/amk0Q3K
- [x]  Receive: https://zpl.io/bLed1X7
- [x]  Trade: https://zpl.io/anxjJXQ
- [x] Sticky headers: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/609e6b6f9b2b15183646e1

[2021-05-13 13:17] keraf commented on #3744
I think using non-HTTPS backends on non-local domains/IPs will break because of the browser policy (mixed content). To be confirmed but I would still think having validation on the input would be nice.

I'm not sure if it would make sense to have two settings for custom backends, one for normal and the other one for Tor,  defaulting to t.io and t.onion backends respectively.

[2021-05-13 15:50] bosomt commented on #3654
@keraf @tsusanka
how do we treat Local Labelling storage ? You can choose local storage as storage of labels in Suite app.

[2021-05-13 16:37] STew790 commented on #3165
Tested this on Redmi Note 9 Pro 6GB RAM with Android 10 QKQ1 and Chrome 90.0.4430.210 and works just fine.

[2021-05-13 19:16] vaclav-dvorak opened #3753 "Ability to set different currency for prices in dashboard"
Every time I'm inspecting my portfolio I have a need to see my balance in national currency however when I'm checking dashboard I would like to see prices in USD.

I would like to suggest new input in settings where you would be able to set secondary currency to be used on dashboard page.

Maybe a checkbox with label like "Show dashboard prices in your main currency" and when uncheck you could set

[2021-05-13 19:54] goodhoko commented on #3654
@bosomt Great point! this PR does not delete labels. It only clears something called a _desktop storage_ which currently includes:
- tor settings
- window dimensions
- skipped suite versions (to not offer them to a user multiple times)

This raises a product question: _should the `Reset App` buton also clear the labels?_

I think it should not. Two of the three label-storage providers are cloud-ba

[2021-05-13 20:28] goodhoko commented on #3714
@matejzak it would be very nice if answers to these questions could be incorporatedv into the feature spec (Notion) and, if applicable, to the design (Zeplin). I don't have privileges to edit Notion so asking you.

- Do we really want to constraint the lenght of the submitted text as hinted by the designs?
    - **no**
- How the bug submission feature relate to the feedback submission feature?

[2021-05-14 09:50] goodhoko opened #3755 "Establish Git Conventions"
As discussed on the last stand-up, propose a set of git conventions that should be held in the Suite team. Once written up review it with the rest of the team to reach a consensus. The goal is to boost developer happiness and productivity in the long term and to ease delivering big features, bug fixing and development in general. Keep in mind that this is a balancing act and neither git fascism no

[2021-05-14 10:49] tomasklim commented on #3717
After discussion with @tsusanka:
- Analytics tracking destination will not be determined by hostname anymore
  - Production builds will send its analytics events to `stable.log`
    - This includes staging (to achieve exactly the same behaviour on prd and stg)
  - Events from all other builds except the ones running on `localhost` will be sent to `develop.log`
  - Events from `localhost` are not s

[2021-05-14 11:01] wendys-cats commented on #2752
**QA OK**

**test case1 OK**
1. Banner from RSMS has the highest priority - OK.
2. Once newer config (config from TC2) is present, config from TC1 is replaced by it.

**Windows APP**
Suite version: desktop 21.5.0 (4a91b40)
TT 2.3.6 - bridge 2.0.27 - BTC + tor  = banner shown
TT2.3.6 - bridge 2.0.27 - LCT  = banner shown
TT 2.3.6 - bridge 2.0.27 - BTC + tor + LTC OK = banner shown
TT 2.3.6 - bridge

[2021-05-14 11:37] bosomt commented on #3654
**QA OK**

tor settings and window dimensions deleted, im not able to check skipped suite version now.
labels from local storage were not deleted
worked as expected

**Info:**
 - Suite version: desktop 21.6.0 (9d8cea584b1f655f0964d80f863b02b1523e2cad)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537

[2021-05-14 12:43] nardew opened #3756 "Support BEP20 in Trezor Suite"
Could you please support BEP20 tokens directly in Trezor suite? Currently the only solution is to use Metamask.

[2021-05-14 12:52] bosomt commented on #3709
**QA OK**

- changed port of Tor server, enabled Tor, connection failed as expected
- changed port of Tor server and re-enabled Tor, suite connected to Tor server as expected

**Info:**
 - Suite version: desktop 21.6.0 (9d8cea584b1f655f0964d80f863b02b1523e2cad)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0

[2021-05-14 13:16] bosomt opened #3757 "Link to changelog missing in firmware update modal"
**Describe the bug**
Link to changelog says TODO in firmware update modal #3757
Present in 21.5.1 and 21.6.0 dev master

**Steps to reproduce:**
1. connect T1 device with outdated firmware
2. Click update now
3. Click on `Learn more` for 1.10.0 firmware

**Info:**
 - Suite version: desktop 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537

[2021-05-14 14:07] bosomt commented on #3155
see https://github.com/trezor/trezor-suite/pull/3741#issuecomment-841262066

[2021-05-14 14:10] LukasRada commented on #3155
I'd say there is need of redesign? @martinboehm

[2021-05-14 14:24] martinboehm commented on #3155
Yes, the final solution will require redesign.  I think we have done the maximum within current design limits and the usability is a lot better than before.

[2021-05-14 14:46] waltonzt commented on #3633
@szymonlesisz I can give this a go. What were you thinking about which ones to remove? I was thinking to remove the use of `styled.a` and `ExternalLink`. Replace them with `TrezorLink` with `EXTERNAL_LINK` icon when needed.

[2021-05-14 17:17] goodhoko commented on #3714
@matejzak One more product consideration I just realised is that the feature as designed now gives us no way to reach the person who reported a bug or feedback. That could render big portion of the reports useless as it's usually pretty rare for people to provide all information needed for reproducing a bug on a first try.

An optional email input could be a good idea. .)

[2021-05-15 08:38] tsusanka commented on #3744
I am personally in favor of closing this. It seems to me as too niche and having too many different variants to deal with it. We should try setting up HTTP backend though to validate what Raf is saying but we should make a new issue about that.

[2021-05-15 09:56] ghost opened #3758 "Trezor Bridge install / update module"
**Is your feature request related to a problem? Please describe.**

When one installs Trezor Bridge to connect to third party wallets, it is up to the user to check and install for updates, as this application has no updater, or even an interface to begin with.

**Describe the solution you'd like**

Trezor Suite is an application that is pretty much going to be a standard necessity. While I do not

[2021-05-15 10:07] ghost opened #3759 "Get Trezor files to become trusted on VirusTotal"
**Is your feature request related to a problem? Please describe.**

Not many people know are interested in PGP verifying a file, nor are as technically inclined. What many of us do is upload files to services such as VirusTotal. A large company can become a trusted source on there and get their files verified or white listed as explained here: https://blog.virustotal.com/2015/02/a-first-shot-at-fa

[2021-05-15 10:22] ghost opened #3760 "Mention SHA256 checksum for files on website"
**Is your feature request related to a problem? Please describe.**

Mention SHA256 checksums of files like Trezor Bridge and Trezor Suite offered on the website for checksum verification.

**Describe the solution you'd like**

Trezor:

![image](https://user-images.githubusercontent.com/80743272/118357011-223c1d00-b578-11eb-8d82-48520cbab8ea.png)

Daedalus wallet:

![image](https://user-images.gith

[2021-05-15 12:00] xanoni commented on #2740
So what's the idea here? To integrate a multi-purpose password manager into the Trezor Suite, and the passwords are unlocked/decrypted via a Trezor device?

[2021-05-15 12:06] xanoni commented on #2745
Yea would love more detail on what's planned here. Sounds amazing. Show them.

[2021-05-15 12:26] xanoni commented on #2770
Woah. Trezor Suite quickly turning into "teh shit". Great priorities!

[2021-05-16 19:00] tsusanka commented on #3714
@goodhoko I have added your info into Notion.

@matejzak I think we really should split this into two Specs and two Github isses. It is somewhat connected in design but apart from that these are two distinct features.

@goodhoko I am actually not sure this is a good idea. Asking for email might give users the idea we will get back to them which is unrealistic at the moment. On the other hand when

[2021-05-17 08:06] tomasklim opened #3761 "Labeling - e.split is not a function"
**Describe the bug**
There is an error in console when user wants to enable labeling

**Steps to reproduce:**
1. Enable labeling
2. Confirm on device

**Info:**
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
 - OS: MacIntel
 - Screen: 3440x14

[2021-05-17 08:36] tomasklim opened #3762 "Sell/Exchange with zero balance"
**Describe the bug**
Three different error messages appear when I fill zero into Exchange/Sell inputs while having zero balance.

**Steps to reproduce:**
1. Accounts>Trade on coin with zero balance
2. Sell/Exchange tab
3. Click on 1/4, 1/2,.. or fill 0 to input

**Info:**
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_1

[2021-05-17 11:06] goodhoko commented on #3714
Thanks!

The underlying infrastructure is basically identical for both. I think it's good to have this single issue where we can design and implement the common parts. But yeah I'd be for two other sub-issues for each of the features especially for the UI and data processing parts wich will differ the most.

Very good point! (Though a bit sad.) Let's leave that to @matejzak. .)

---

Anyway I fina

[2021-05-17 15:43] martinboehm opened #3765 "fix(invity): Sell Crypto: functionality of the button "Get this Offer""
The button "Get this Offer" in the sell quote has in certain cases incorrect functionality, see https://github.com/trezor/trezor-suite/pull/3603#issuecomment-839594063.

In case of BTCDirect provider, there are 4 different cases of the sell quote:

1) Suite account is not linked to BTCDirect account

![image](https://user-images.githubusercontent.com/11609674/118516988-1e0a2e00-b737-11eb-997b-1f43

[2021-05-17 18:07] STew790 commented on #3709
**QA OK**

changed port of Tor server, enabled Tor, connection failed as expected
changed port of Tor server and re-enabled Tor, suite connected to Tor server as expected

**Info:**

Suite version: desktop 21.6.0 (9d8cea5)
Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
OS: Windows 10
Scr

[2021-05-17 18:10] STew790 commented on #3654
QA OK

Works as expected, desktop settings were deleted after clearing the storage.

Info:

Suite version: desktop 21.6.0 (9d8cea5)
Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
OS: Windows 10
Screen: 1920x1080
Device: model T 2.3.6 regular

[2021-05-17 19:40] bosomt commented on #3306
**QA OK**

**Info:**
 - Suite version: desktop 21.6.0 (9d8cea584b1f655f0964d80f863b02b1523e2cad)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_3_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.4 regular

[2021-05-18 06:21] bosomt commented on #3306
@prusnak @sorooris
can you please confirm that issue was resolved so we can move it to approved section ?

[2021-05-18 06:28] tsusanka commented on #3713
GitBook is doing funny things when I am trying to accomplish this. I am talking to support..

[2021-05-18 07:31] tsusanka commented on #3757
Damn :confused:. @szymonlesisz this is probably just a mistake where you have copied & paste the previous version of releases.json from webwallet-data right? In https://github.com/trezor/trezor-suite/commit/e9558d17e0a3956b5cda7758a97bfac1971637a3.

 We need to have this file just in one repo in future

[2021-05-18 07:41] jerechinsky commented on #3758
Trezor Bridge is bundled with the desktop version of Trezor Suite and is automatically updated. Updates of the standalone version are handled separately.

[2021-05-18 07:41] #3758 closed, assigned to nobody

[2021-05-18 09:37] tomasklim opened #3767 "Unable to update firmware"
**Describe the bug**
After merging [#3629](https://github.com/trezor/trezor-suite/pull/3629), I am unable to update firmware on my device because app crashes. The reason is that revision is not obtained in bootloader mode.

**Steps to reproduce:**
1. Update firmware in settings
2. Connect device in bootloader

**Info:**
 - Suite version: web 21.6.0 (9d8cea584b1f655f0964d80f863b02b1523e2cad)
 - Bro

[2021-05-18 10:06] #3589 closed, assigned to LukasRada, martinboehm

[2021-05-18 11:03] tomasklim commented on #3767
![Screenshot 2021-05-18 at 13 00 05](https://user-images.githubusercontent.com/33235762/118640502-56fadf00-b7d9-11eb-8346-147a5b8cb6fd.png)
Another issue is bad encoding of revision because it takes me to https://github.com/trezor/trezor-firmware/commit/�BN�������@��O

On TT: the revision is in hex raw bytes (This is correct)
On T1: it is in UTF-8

However, in code, the revision is always enc

[2021-05-18 17:54] bosomt commented on #3589
**QA OK**

**Info:**
 - Suite version: web 21.6.0 (5cf184412289711766c25ed43c3f6f8fce448968)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.4 regular

[2021-05-19 07:24] bosomt commented on #3643
@Dehumanizer77 maybe we can close this issue ?

[2021-05-19 08:01] bosomt commented on #3360
I was able to reproduce issue with latest version of Tor browser.
Device connected, Trezor Bridge is runnning.

<img width="1403" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/118776917-cb408b80-b888-11eb-8421-1c4b607666c4.png">

**Info:**
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)

 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.3.4 re

[2021-05-19 08:23] bosomt commented on #3360
looks like Tor browser doesn't have access to localy running bridge

<img width="734" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/118780268-26c04880-b88c-11eb-8a82-dcad010618d8.png">

[2021-05-19 08:29] keraf commented on #3360
@bosomt Looks like a different issue from what is originally described. The issue you encounter seems to be related with the Tor browser not letting you communicate with the bridge. There's a setting to change for that: https://wiki.trezor.io/Glossary:Tor

[2021-05-19 09:36] tairosonloa opened #3772 "Add support for Stellar Lumens (XLM)"

[2021-05-19 13:24] matejkriz commented on #3733
There was one more:
![118731794-70337800-b839-11eb-83c8-c062a283ff6f](https://user-images.githubusercontent.com/3729633/118820123-453b3980-b8b6-11eb-9af9-1cf12f8b6e85.png)

[2021-05-19 16:15] bosomt commented on #3360
@keraf I thought that i need to adjust configuration so i went to google, to bad that not to our Wiki ;)

So i passed Bridge quest, but 5 of 5 tries i got `Init_IframeTimeout: Iframe timeout`
I'm not sure if this is problem on my side or same problem as when we released 21.5.1 and all users got this error

<img width="734" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/11884

[2021-05-19 16:38] bosomt commented on #3360
**QA OK**

I was not able to reproduce problem, it just took some time due to Tor connectivity.
Standard and passphrase wallet loaded correctly. Loaded even when I enabled all coins

<img width="233" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/118850264-e505c100-b8d0-11eb-8e4c-4f5929666c5d.png">

<img width="1131" alt="obrazek" src="https://user-images.githubusercontent.c

[2021-05-19 17:30] tsusanka commented on #3360
Closing then. Please reopen if this occurs again.

[2021-05-19 17:30] #3360 closed, assigned to jerechinsky

[2021-05-19 20:22] tomasklim commented on #3767
@szymonlesisz should the revision encoding fix be available in Suite or connect?

[2021-05-20 01:31] indolering commented on #3697
Flatpak offers a lot of advantages over AppImage and Snaps [[1](https://github.com/obsproject/rfcs/pull/21), [2](https://github.com/BiglySoftware/BiglyBT/issues/250)]:
1. AppImage's reliance on bundling libraries translates into relying on each distro's security backports, whereas Flatpak's runtimes are updated automatically.
2. The best-case scenario for sandboxing on AppImage is fragile seccomp

[2021-05-20 07:21] glacierbits commented on #3714
Email:

- The feature is not meant to open a 2 way communication channel, but rather quantify problems and point in the the direction where we should look for them
- Bear in mind, the fact user thinks it's a bug and/or feature request doesn't necessarily means it's in fact bug and/or feature request. Again, this distinction is just suppose to help us label them and triage with that user story in m

[2021-05-20 07:36] prusnak commented on #3697
@indolering can you help us with the flatpak packaging?

[2021-05-20 07:59] goodhoko commented on #3714
@matejzak Ack. Makes sense. Thanks.

_meta: this bit would be a perfect non-goal for the product spec. 😉_

[2021-05-20 09:08] jerechinsky opened #3775 ""X-Frame-Options: DENY" header"
Suite does not like "X-Frame-Options: DENY" header. It worked fine in v21.4.1. Likely related #3722, according to @tsusanka.

[2021-05-20 09:11] soucek87 opened #3776 "Upper/lowercase inconsistency in Trezor/Suite ETH format address"
**Issue**
Suite and Trezor are displaying upper/lowercase letters differently in ETH addresses.

**Describe the solution you'd like**
Suite and Trezor should display addresses in exactly the same format.

**Additional context**
Related to checksum, EIP55 https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md

[2021-05-20 09:42] sorooris commented on #3306
**QA OK**

Couldn't replicate issue, moving to Approved.

Suite: app 21.6.0 9d8cea5
OS: macOS Big Sur 11.3.1
Device: model One 1.10.0 public regular

[2021-05-20 11:51] STew790 commented on #3727
I tried it with FW 1.6.1 (BL 1.4.0) as you mentioned and this one lets you in just fine without any restrictions. I tried an older FW as well, 1.5.2 (BL 1.3.2), and this one requires you to update the FW otherwise it won't let you into the suite at all.
With TT, the FW 2.0.5 lets you in the suite as well without any restrictions.

[2021-05-20 12:28] x80486 commented on #3697
Started [working](https://github.com/x80486/flathub/tree/io.trezor.TrezorSuite/) on it. I don't have a Trezor device yet, but I'm planning on getting one some time in the future — so initially I would rely on someone to test the application (if I can get it done).

Have one question: is Trezor interested on maintaining it? The only reason I ask is because this application is going to be very sensi

[2021-05-20 14:08] tsusanka commented on #3713
I was unable to change gitbook to `main` and did not get anything reasonable from Gitbook support. I did it the other way around and set `master` as the main branch on Github. So let's go ahead with master for now and we can change it later on when Gitbook fixes it on their side.

[2021-05-20 14:40] tsusanka commented on #3727
Awesome, so it seems to work! Just in case you still have the FW available could you please printscreen/record how it looks when you plug in 1.5.2?

[2021-05-21 13:34] LukasRada opened #3781 "Pending buy - double transaction ID"
**Describe the bug**
Double transaction ID, when a buying process is in progress.

**Expected result:**
To show only transaction ID on the right (see screenshot).

**Screenshots:**
![image](https://user-images.githubusercontent.com/7394177/119144397-e823bd00-ba48-11eb-828c-6a9a1591908a.png)

[2021-05-21 15:34] andrewkozlik commented on #3405
@matejzak @tsusanka @goodhoko The safety checks setting will be available on the T1 soon. Please see https://github.com/trezor/trezor-firmware/issues/1627.

[2021-05-21 16:51] tsusanka commented on #3405
@goodhoko since [the code in Suite](https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/views/settings/device/index.tsx#L345-L364) depends on device's Features, this could work out of the box for T1?

[2021-05-21 21:27] andrewkozlik commented on #3405
Awesome! Works like a charm.

[2021-05-23 16:24] glacierbits opened #3784 "Send form improvements"
There are a few possible improvement the current look & behavior:

1. Users enters Send form, **` Review & Send` button is disabled by default**, and actually doesn't look like a button considering the same background color.

<img width="931" alt="Screen Shot 2021-05-23 at 17 16 00" src="https://user-images.githubusercontent.com/29627086/119268568-7172f500-bbeb-11eb-8572-876a238bedb6.png">

- [ ]

[2021-05-23 19:01] bosomt commented on #3733
@alex-jerechinsky maybe we can move it to June release ?
Is there reason why ti went to July release project ? :)

**QA OK**

**Info:**
 - Suite version: web 21.6.0 (a7b30017426099918850f5a883a501fcc78ae230)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3

[2021-05-23 22:40] glacierbits opened #3785 "Remove the discovery loading modal"
Please remove this loading modal

<img width="629" alt="Screen Shot 2021-05-23 at 23 32 50" src="https://user-images.githubusercontent.com/29627086/119278868-f841c500-bc1f-11eb-8bb2-0f779dc102dc.png">

_If I am not mistaken, the modal is shown only on a Hidden (passphrase) wallet._

**Rationale:**

1. It's redundant › The user has a clear feedback the accounts are being loaded via skeleton loaders

[2021-05-23 22:54] glacierbits opened #3786 "Remove shake from the wallet navigation"
Please remove the "shake" animation from the switch wallet navigation.

Steps to reproduce:

1.Standard wallet loaded
2. Click `+ Add Hidden Wallet`
3. The wallet switch in the top navigation shakes

https://user-images.githubusercontent.com/29627086/119279183-f5e06a80-bc21-11eb-8a2b-3006e80ac98c.mov

[2021-05-23 22:59] glacierbits opened #3787 "Remove bounce from snack bar notifications"
Remove the "bounce" from the notifications.

Please try to smooth out the animation 🙏🏽

https://user-images.githubusercontent.com/29627086/119279320-d990fd80-bc22-11eb-9801-9ddb183ffabc.mov

[2021-05-24 08:12] slowbackspace commented on #3785
I think the arguments for removing this modal are wrong (not saying it couldn't be replaced with something else). The purpose of this loading is to prevent a user making a typo. That modals indicates that we are looking through accounts on given passphrase and searching for non-zero balance. If there is such an account we can be sure that the passphrase was used before and thus it was not a typo b

[2021-05-24 08:29] szymonlesisz commented on #3785
this modal was added exactly to prevent (2), we didn't want to allow interaction with the account until we (and the user) were sure that he is using a proper passphrase.
Example: prevent copy receive address before passphrase confirmation.

Another motivation is to keep the context and prevent navigation. Example:
- accounts are loading
- user goes somewhere else (let say settings)
- user goes bac

[2021-05-24 15:20] tsusanka commented on #3775
@szymonlesisz do you think this is indeed due to #3722?

[2021-05-24 18:11] #3765 closed, assigned to LukasRada

[2021-05-25 11:51] tomasklim opened #3790 "Update of bitcoin-only fw"
**Describe the bug**
When I update bitcoin-only firmware, I get the regular fw.

**Steps to reproduce:**
1. Have device with old bitcoin-only fw
2. Update fw
3. Check new version

**Info:**
 - Suite version: web 21.5.1 (4d09d88476dab2e6b2fbfb833b749e9ac62251c2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36
 - O

[2021-05-25 16:08] sorooris opened #3793 "App, Settings - Tor - Onion links switch does not reflect OFF state with blog posts"
**Describe the bug**
Selecting any article link from the Dashboard's News section (blog.trezor.io/*) redirects to an onion link when _Tor_ connection is **ON** and the _Open trezor.io links as .onion links_ button is **OFF** ; however all other *.trezor.io (Support link in the floating BETA badge, wiki.trezor.io links) are not affected and reflect the button's state correctly.

**Info:**
 - Rememb

[2021-05-25 16:38] sorooris commented on #3692
@martinboehm Hi Martin, could we please link this issue with an issue or pull request from Invity's side so we can either test it, end to end, when it's finally implemented, or close this? The reason being I'm hesitant to approve this issue without having actually tested it, there's no apparent blocker and I'd like to move it to next sprint. DIKI

[2021-05-25 20:51] martinboehm commented on #3692
@sorooris Hi. Thank you for keeping an eye on it.
It is already enabled in our server.
However, it will be hard to test it artificially as it is part of the flow at the partner's (SimpleCoin) side. The status is only set in very specific (yet not known to us in detail) cases when SimpleCoin needs some additional KYC information.
I would suggest to close it. If there are some issues with the functi

[2021-05-26 09:27] jerechinsky commented on #3158
@matejzak please suggest how it should behave. Unable to skip unless you check all the boxes? Or perhaps change the copy in some way?

[2021-05-26 10:23] andrewkozlik commented on #4512
- [x] Add a new `bool` parameter to `SignMessage` called `no_script_type`, which will be `false` by default and when set to `true` `SignMessage` will not include script type information in the recovery byte of the signature, same as in Bitcoin Core.
- [x] Implement pagination in `SignMessage` on T1 so that up to 1024 characters can be displayed.
- [x] Show the address being used for signing in `Si

[2021-05-26 10:57] slowbackspace commented on #3277
just fyi, I had kinda working fix in https://github.com/trezor/trezor-suite/pull/3511, but it wasn't very clean and could complicate things in the future (more info in the PR). I've closed the PR and I'll let this tiny issue live for now.

[2021-05-26 15:03] tsusanka commented on #3727
Ping @STew790

[2021-05-27 01:45] indolering commented on #3697
@prusnak I don't have a lot of spare time : (

[2021-05-27 07:13] lclc commented on #4512
That's great to hear. Thanks for moving swiftly!

Can we put the Trezor logo here https://aopp.group/#wallets ?

If you have any questions: We're watching this issue and also have a Telegram group with other wallet developers and VASPs that have implemented AOPP: https://t.me/joinchat/HjHCr6atTZqVE8Wf

[2021-05-27 07:35] tomexx commented on #3279
@matejzak Hi Matej, can we resolve the NOK items together? Thx

[2021-05-27 09:15] tomasklim commented on #3661
Unable to replicate on macOS 11.4 with Suite version 21.5.1.

If app is in background, it fetches all request the time it wants to.
If I sleep my computer and wake it up after some time, it does not fire any request from the time it slept. It just continues as nothing happens.

[2021-05-27 09:17] jerechinsky commented on #3661
Thank you @tomasklim. Since neither you or Maros could reproduce this, I will be closing this for now.

[2021-05-27 09:17] #3661 closed, assigned to tomasklim

[2021-05-27 09:25] tomasklim commented on #3717
Changing HTTP request method from `GET` to `POST` is postponed as there is problem with `Allowed HTTP Methods` settings in AWS s3.

[2021-05-27 09:36] tsusanka commented on #3717
@alex-jerechinsky I would close this issue as a "won't fix" since it will need a complete overhaul to make it work. Also @alex-jerechinsky maybe let's remove the "session length" metric in Tablue completely? So it does not confuse readers.

[2021-05-27 12:49] #3781 closed, assigned to LukasRada

[2021-05-27 18:08] LDS90 commented on #2838
Hi @matejzak, Perhaps I could help with adding Dutch to the list. Feel free to contact me!

[2021-05-27 22:22] glacierbits opened #3796 "MacOS: Resizing window with double-click"
The double-click on the (black) navbar on MacOS desktop should enter full screen. Another double-click will resize the window back to the original size.

[2021-05-27 22:56] glacierbits opened #3797 "Autoupdate: Unclear cancel/minimaze UX"
The `X` and `x Cancel` buttons are confusing, since it is not clear which one does what.

The original [design proposal ](https://zpl.io/2vj1LQY) counted on the option to (1) minimize the autoupdate modal to a notification and (2) maximize it back to the progress modal via `view` button. The option to cancel the autoupdating process hasn't been designed yet.

1. I assume the option to cancel the d

[2021-05-28 08:08] tsusanka commented on #3797
At first I wasn't sure we need such option if you can minimize the window and carry on. But I can image a scenario where you may end up in a situation where your resources are limited (let's say you are on a mobile hotspot) and you really do not want to update now. So I agree we should have both minimize and cancel.

[2021-05-28 09:02] STew790 commented on #3727
Sorry for the delay. Yes, it works just as described. You can see a video with 1.5.2 below.

https://user-images.githubusercontent.com/48477147/119959236-1a32a300-bfa4-11eb-8722-27b9766e9fde.mp4

[2021-05-28 09:04] #3757 closed, assigned to tsusanka

[2021-05-28 09:04] #3767 closed, assigned to tomasklim

[2021-05-28 09:15] glacierbits commented on #2838
@LDS90 @PBWrzal @FrankyFFV

Many thanks guys for your proactivity in helping us to make Trezor Suite a truly global product. 🌍

Our IT project manager @alex-jerechinsky has kicked-off the translation process, and will reach out to you with the contribution manual.

Once again, many thanks, your help will be very much appreciated! 🙏🏽

[2021-05-28 09:34] FrankyFFV commented on #2838
Roger! 😬

[2021-05-28 09:48] glacierbits opened #3799 "Update T&Cs in Onboarding"
We have a new T&Cs. Please update them in the new Onboarding.

[01_Suite Terms and Conditions_202105.pdf](https://github.com/trezor/trezor-suite/files/6560038/01_Suite.Terms.and.Conditions_202105.pdf)

[2021-05-28 09:57] glacierbits opened #3800 "Update T&Cs: Invity"
Updated T&Cs from our legal department. Please update the document in old Wallet as well as in Suite.

[02_Trezor Suite Services by Invity_Terms of Use_202105.pdf](https://github.com/trezor/trezor-suite/files/6560090/02_Trezor.Suite.Services.by.Invity_Terms.of.Use_202105.pdf)

[2021-05-28 11:10] #1772 closed, assigned to slowbackspace

[2021-05-28 11:10] #3365 closed, assigned to tomexx, slowbackspace

[2021-05-28 11:10] #3459 closed, assigned to slowbackspace

[2021-05-28 11:18] slowbackspace commented on #3799
We are just linking the document that is uploaded to `https://data.trezor.io/legal/wallet-terms.pdf` as we want one ultimate source of T&Cs. Maybe it should be also uploaded there (either as a replacement or addition to `wallet-terms.pdf`)?

cc @tsusanka

[2021-05-28 11:30] glacierbits commented on #3799
FYI These are intended (from our legal department point of view) for both old Wallet and Suite.

[2021-05-28 12:53] vdovhanych commented on #3424
Maybe this could be closed as the debug option didn't do what we wanted and we will be getting the logs from runners?

[2021-05-28 13:04] tsusanka commented on #3727
Great, thx. Closing then!

[2021-05-28 13:04] #3727 closed, assigned to STew790

[2021-05-28 13:04] tsusanka commented on #3728
While doing this we might also consider improving copy on this page such as adding more info:

![image](https://user-images.githubusercontent.com/1835345/119988062-0009bc80-bfc6-11eb-8178-025f6f7068fe.png)

[2021-05-28 13:07] tsusanka commented on #3728
The passphrase redesign is from April 2020 (2.3.0 & 1.9.0). We might considering do this on April 2022 then (or a bit later ideally).

[2021-05-28 13:16] tsusanka commented on #3799
Wait @slowbackspace I am confused. On one side you are saying we link to data.trezor.io on the other you have already filled a PR where you are changing the file. So we do not link to data.trezor.io?

[2021-05-28 13:18] tsusanka commented on #3424
Yes I agree. And you documented it nicely on [Notion](https://www.notion.so/satoshilabs/Accessing-detailed-logs-from-CI-4027d4482e9a499f9d31922a5617e88f) so it's a solve!

[2021-05-28 13:18] #3424 closed, assigned to nobody

[2021-05-28 13:23] slowbackspace commented on #3799
We do link to data.trezor.io, isn't the content of webwallet-data repository, where I opened PR, published to data.trezor.io? If not then I have no idea how to update the file.

[2021-05-28 14:03] tsusanka commented on #3799
Fuck sake, I am stupid. I thought it is a PR into Trezor Suite :facepalm:. All good then. It says it is valid from June 1st so I will merge it then :).

[2021-05-28 14:46] tsusanka commented on #2737
@prusnak feel free to check my Tech Spec draft in the original post.

[2021-05-28 17:29] Transisto opened #3802 "Constant GPU usage arround 66% while on the initial screen asking to connect the device."
![image](https://user-images.githubusercontent.com/388716/120021328-eca42480-bfb8-11eb-8960-637fa518ef1b.png)

"C:\Program Files\Trezor Suite\Trezor Suite.exe" --type=gpu-process --field-trial-handle=1564,530356497636322665,14114444165887088555,131072 --enable-features=WebComponentsV0Enabled --disable-features=CookiesWithoutSameSiteMustBeSecure,SameSiteByDefaultCookies,SpareRendererForSitePerProce

[2021-05-28 17:53] glacierbits opened #3803 "Incorrect font properties: Setting & Account details"
Please apply the weights, size, and colors exactly as designed: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5faaa48ab6e7968540370da5)

**Incorrect in Settings:**

- [x] Section header
- [x] Item header
- [x] Item description

<img width="351" alt="Screen Shot 2021-05-28 at 18 36 18" src="https://user-images.githubusercontent.com/29627086/120021925-9a2c2d80-bfe3-11eb-8ce7

[2021-05-28 18:05] glacierbits opened #3804 "Hover states"
**Spec:** [Notion](https://www.notion.so/satoshilabs/Hover-states-78c3753ed8874fdbb224cb2d9e3b6af7)

- [x] Top navigation (Dashboard, Accounts)
- [x] Account tabs (Overview, Account details, Tokens)

FYI @tomexx has done some hover work on the navigation icons, feel free to consult him.

Also, if we'd be able to create that cute expanding-animation-trick shown in the spec & prototype, that would b

[2021-05-28 21:41] glacierbits opened #3805 "Send raw: Close button inconsistency"
The _Send raw_ has has the close button outside of the white box, while the OP_Return has the closed `X` nested within the white box › That's the correct & preferred way.

Good 👇🏽
<img width="814" alt="Screen Shot 2021-05-28 at 22 35 15" src="https://user-images.githubusercontent.com/29627086/120044325-85609180-c005-11eb-9784-2d391b2efbd7.png">

Bad 👇🏽 (Should be nested within the white box)
<img

[2021-05-29 08:09] bosomt commented on #3767
**QA OK**

2.4.0

<img width="626" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120063043-2d557980-c05d-11eb-91e7-8aeeeb1929d5.png">

1.6.2

<img width="819" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120063112-7c031380-c05d-11eb-90ff-766e13484818.png">

**Info:**
 - Suite version: desktop 21.6.0 (b65e29291276cd6a03c2fa8035966139a2847f90)
 - Brow

[2021-05-29 08:23] bosomt commented on #3757
**QA OK**

**Info:**
 - Suite version: desktop 21.6.0 (b65e29291276cd6a03c2fa8035966139a2847f90)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_3_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model One 1.6.2 regular + 2.3.4 regular

[2021-05-29 08:53] bosomt commented on #3781
**QA OK**

**Info:**
 - Suite version: desktop 21.6.0 (b65e29291276cd6a03c2fa8035966139a2847f90)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_3_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.4 regular

[2021-05-29 09:33] bosomt commented on #1772
@slowbackspace is it possible to replicate this issue to test it between 21.5.1 and 21.6.0 versions or we have to wait and see ? :)

[2021-05-29 09:49] bosomt commented on #3747
**QA OK**

**Info:**
 - Suite version: desktop 21.6.0 (b65e29291276cd6a03c2fa8035966139a2847f90)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_3_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.4 regular

[2021-05-29 10:03] bosomt commented on #3747
ok not so OK after all :)

how to replicate:

1) open ETH tokens in one passphrase wallet
2) add another passphrase wallet
3) you are navigated to BTC token tab ;)

<img width="603" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120066000-3ef24d80-c06c-11eb-94ef-b42aa70d5fbe.png">

[2021-05-29 11:46] bosomt commented on #3733
New  feature introduced new items that need attention

See:

<img width="668" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120068916-03ab4b00-c07b-11eb-8156-174e9ca95c11.png">

<img width="185" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120069038-b7143f80-c07b-11eb-8bf3-280d8118e7cf.png">

<img width="941" alt="obrazek" src="https://user-images.g

[2021-05-29 11:52] glacierbits opened #3807 "Authorization error: Copy improvement"
Can we please improve (and shorten) text of this authorization error? 🙏🏽

Maybe just `Authorization error`?

<img width="730" alt="Screen Shot 2021-05-29 at 12 49 19" src="https://user-images.githubusercontent.com/29627086/120069182-694c0700-c07c-11eb-8999-62efb6bc0d9b.png">

[2021-05-29 11:57] glacierbits commented on #3747
I would also like to kindly ask you @matejkriz  to keep the Account details / Tokens white box at the same distance as are the other tabs (Send, Recieve, Overview), so the content doesn't jump around when the uses is switching context. Thanks!

<img width="157" alt="Screen Shot 2021-05-29 at 12 54 09" src="https://user-images.githubusercontent.com/29627086/120069311-33f3e900-c07d-11eb-9afa-dcd4ca1

[2021-05-29 12:22] bosomt commented on #3747
Maybe you can adjust this one too when on it. Looks as expected when there are no transactions.
But as soon transaction graph range selector appears it doesn't keep same distance.

https://user-images.githubusercontent.com/31506317/120069984-9ac6d180-c080-11eb-8de8-74854162fc88.mov

[2021-05-29 14:45] bosomt commented on #3365
**QA OK**

**Info:**
 - Suite version: web 21.6.0 (b65e29291276cd6a03c2fa8035966139a2847f90)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0 regular

[2021-05-29 14:48] bosomt commented on #3459
**QA OK**

Info:

    Suite version: web 21.6.0 (b65e292)
    Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
    OS: MacIntel
    Screen: 1440x900
    Device: model T 2.4.0 regular

[2021-05-29 14:50] glacierbits commented on #3279
Sure thing @tomexx

I see the button & the header have different copy, so I am guessing there is some issue..

[2021-05-29 14:58] keraf commented on #3802
Not sure why there are so many parameters and even what they are used for. Have you installed the application using the provided installer? Have you done any other manipulations with the application installation/launch?

[2021-05-29 17:07] bosomt commented on #3765
I was able to get 1. and 2. case and that's probably all we can do on our side, other require us to register SEPA credit card that i don't have.

<img width="988" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120078651-5b13e000-c0a8-11eb-908a-720541b87747.png">

**Info:**
 - Suite version: desktop 21.6.0 (b65e29291276cd6a03c2fa8035966139a2847f90)
 - Browser: Mozilla/5.0 (Ma

[2021-05-29 22:33] indolering commented on #3697
AFAICT the only way around the Ubuntu app store restrictions would be to submit a stand-in package to the Universe repo that includes flatpak as a dependency and kicks off the flatpak install process using a `postinit` script.  However, I doubt Ubuntu's package managers would be very open to this end run around the Ubuntu app store policies as it is part of an explicit monetization strategy for Ca

[2021-05-29 22:44] prusnak commented on #3697
Thanks for the info. In this case, there's no real benefit in dealing with Flatpak/Flathub now and it will make sense to start the effort once the USB permissions portal is implemented.

[2021-05-30 17:13] bosomt commented on #3796
And I thought that it was problem on my side :)
I was able to reproduce the issue ;)

**Info:**
 - Suite version: desktop 21.6.0 (b65e29291276cd6a03c2fa8035966139a2847f90)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_3_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0

[2021-05-30 17:17] glacierbits commented on #3796
I believe it's more of a feature request than a bug, but as a MacOS user I am pretty used to resizing windows in this way, so it would be great.. 🙏🏽 😊

[2021-05-30 17:29] Transisto commented on #3802
I haven't done anything special,  I barely ever used the app because it's always been a heavy bloat.

[2021-05-30 17:58] Transisto commented on #3802
![image](https://user-images.githubusercontent.com/388716/120114860-1ee78a80-c14f-11eb-920b-a6e24ad089eb.png)

These are sub process launched by the main exe itself.

[2021-05-30 20:46] Transisto opened #3808 "Should be possible to do something with the app, like updating before unlocking the device."
![image](https://user-images.githubusercontent.com/388716/120119568-71807100-c166-11eb-84d6-86b7e60ff8b5.png)

[2021-05-30 23:51] Transisto commented on #3802
Fixed after updating,  https://github.com/trezor/trezor-suite/issues/3808

[2021-05-30 23:51] #3802 closed, assigned to keraf

[2021-05-31 06:47] #3712 closed, assigned to tomexx

[2021-05-31 06:47] #3723 closed, assigned to tomexx

[2021-05-31 07:00] caglorithm opened #3810 ""Show public key" button not clickable (& transactions not showing up)"
**Describe the bug**
The button to show the public key for any account is not clickable. The rotating indicator keeps spinning. Happens with and without Tor since I thought the connection to the backend might be broken. Even if, I don't see the reason why it wouldn't be clickable.

**Info:**
 - Suite Version: app, Version 21.5.1 (21.5.1.11425)
 - OS: macOS Big Sur, 11.2.2 (20D80)

**Steps to repro

[2021-05-31 07:49] jerechinsky commented on #3810
Was this a one time occurrence or is this something that happens often for you?

[2021-05-31 07:59] caglorithm commented on #3810
Hey! It's been the first time and has been stuck in this day for some days... I don't want to delete all the app data because of the labeling of my accounts but maybe that's the only way to go?

[2021-05-31 09:10] MCM-Mike commented on #3185
I really would like to see this feature implemented as well, as it helps for accounting.

[2021-05-31 09:44] tsusanka commented on #3775
Discussed with @szymonlesisz. It is indeed due to #3722. We should allow SAMEORIGIN. So unless @prusnak protests I will add  "X-Frame-Options: SAMEORIGIN" to staging. And after some time and thorough test we can add this to production.

[2021-05-31 09:47] prusnak commented on #3775
ACK for SAMEORIGIN

[2021-05-31 10:29] jerechinsky commented on #3730
I talked to Nika and we decided to do it like this.

![Screenshot 2021-05-31 at 12 15 03](https://user-images.githubusercontent.com/75733878/120180129-b1e5fa80-c20b-11eb-9187-1c4df17bec23.png)

I updated the copy cc @slowbackspace.

[2021-05-31 10:34] glacierbits commented on #3730
Perfecto. Thanks! 🙏

[2021-05-31 13:04] goodhoko commented on #2796
This was done some time ago. Forgot to close. Closing now.

[2021-05-31 13:04] #2796 closed, assigned to goodhoko

[2021-05-31 13:23] goodhoko opened #3812 "Unit tests for suite-data"
`suite-data` now contains some [non-trivial code](https://github.com/trezor/trezor-suite/tree/develop/packages/suite-data/src) and [more is coming](https://github.com/trezor/trezor-suite/pull/3811). Setup a testing rig and write at least basic unit-tests. Most of the code is only run at build-time so the stakes aren't as high but bugs that could be easily caught with tests can still slip through.

[2021-05-31 13:45] matejkriz commented on #3747
the routing issue on switching the wallet is more general -
the issue is switching wallet on some tab not available on the first available account

how to replicate some case:
1. open Trade dialog on non-BTC account in one passphrase wallet
2. switch to another passphrase wallet
3. you are navigated to Trade dialog on first account available
![routing_issue](https://user-images.githubusercontent.c

[2021-05-31 15:22] goodhoko commented on #3713
Status update:
- Pulling content from GitBook to Suite is awaiting code review [here](https://github.com/trezor/trezor-suite/pull/3811).
- In the meantime I wrote a [Guide for Guide writers](https://github.com/trezor/trezor-suite-guide/tree/master#readme) in the GitBook to instruct future writers of the content how to maintain it so that it integrates well with Suite.
- @tomexx is awaiting content

[2021-06-01 10:11] tomexx opened #3817 "Suite Guide improvements"
Improvements of Suite Guide (Spec #3713, PR of the first version #3815)

Resolved in  #3859
- [x] preselect category according to the current route when reporting a bug
- [x] add nicer animations
- [x] F1 hotkey to toggle the visibility of the Guide

Resolved in #3949
- [x] add shadow under the top part of the Guide when contents of the Guide panel is scrolled down
- [x] emoji background
- [x] lat

[2021-06-01 11:06] matejkriz commented on #3817
- [ ] enable on mobile layout?

[2021-06-01 12:13] #3762 closed, assigned to LukasRada

[2021-06-01 12:59] tomasklim commented on #3817
[] resize the feedback bar or open as a new page?

[2021-06-01 13:17] #3733 closed, assigned to tomexx, matejkriz

[2021-06-01 13:24] #3790 closed, assigned to tomasklim

[2021-06-01 13:34] #3675 closed, assigned to slowbackspace, glacierbits

[2021-06-01 13:58] matejkriz commented on #3747
@bosomt
- First boxes in all the tabs on Account screen should be at the same vertical position now.

- The logic of redirection on device/wallet switch has changed, so would be nice to test switching device/wallet on all types of screens. The new logic is:

1. User is not on Dashboard or Accounts route? Go to Dashboard.
2. User is on Accounts route but on any of the "sub-routes"/tabs? Go to Accou

[2021-06-01 14:49] bosomt commented on #2715
Maybe we should consider raising priority of this issue , i was asked to generate standard or shamir seed for T1 after my 1.10.1 update and auto reboot of device /of course i had one TT wallet remembered/  isn't somehow possible to ignore or temporarily remove remembered wallet or other connected device during onboarding ?

![obrazek](https://user-images.githubusercontent.com/31506317/120343584-bf

[2021-06-01 15:12] #3717 closed, assigned to tomasklim

[2021-06-01 15:22] #3714 closed, assigned to tsusanka, tomexx, goodhoko

[2021-06-01 17:57] slowbackspace commented on #3707
implemented the rest of my todo list, closing the issue

[2021-06-01 17:57] #3707 closed, assigned to slowbackspace

[2021-06-01 18:24] glacierbits commented on #3713
Looks like the floating action button is not being rendered properly (looks as there are 2 icons stacked on top of each other + distorted shadow).

<img width="285" alt="Screen Shot 2021-06-01 at 19 23 04" src="https://user-images.githubusercontent.com/29627086/120372227-cced6300-c30e-11eb-9e3f-e1113c280c3c.png">

[2021-06-01 18:39] glacierbits opened #3822 "Remove BETA tag"
Please:

- [x] Remove `BETA` tag and all it's contents
- [x] Move the floating action button with the 3D image to the bottom right corner (cca 16-24 px from the sides)

<img width="168" alt="Screen Shot 2021-06-01 at 19 29 08" src="https://user-images.githubusercontent.com/29627086/120373865-c3fd9100-c310-11eb-9abe-5a71e7150c38.png">

[2021-06-01 19:28] tomexx commented on #3713
Requested a new icon from Ondra. Regarding shadow I tried to use the same as for Dropdown component, but I can change it if it is bad.

[2021-06-02 02:28] indolering commented on #3697
It should reduce your maintenance burden, improve security, and increase availability.

IMHO blocking this on the USB permissions system just complicates the initial port.

Even if the USB portal system were available today, I would get Trezor Suite working on Flatpak communicating with bridge over dbus before refactoring it to use a new USB permissions system.  Won't you need to maintain equivale

[2021-06-02 08:21] tomexx commented on #3817
Good points! A design will be needed for this.

[2021-06-02 08:47] szymonlesisz commented on #1576
yes it should be possible now, like in "send" modal

[2021-06-02 11:25] sorooris opened #3823 "Feedback & Suggestion - missing empty input validation"
**Describe the bug**
Both Feedback and Bug inputs/textareas are missing empty input validation and can be sent without any info provided.

**Info:**
 - Remembered Wallet: any
 - Suite Version: web 21.6.1 7d50da6b
 - Browser: Chromium 91.0.4472.77
 - OS: NixOS 20.09
 - Bridge: any
 - Firmware Version: T1 1.10.0

**Steps to reproduce:**
1. Navigate to the top-right settings menu -> Learn & Discover

[2021-06-02 11:32] sorooris commented on #3817
Would it make sense to induce/open Guide with the F1 key (at least in the desktop version)?

[2021-06-02 12:39] keraf commented on #3817
F1 is a common key for help in programs. I think it would be a great idea to map it, maybe even on web.

[2021-06-02 15:46] bosomt opened #3830 "Remove . from firmware version sentence"
**Describe the bug**
Please consider removing . in `Your current firmware version is . ` sentence.
It's not present in Suite version and it's triggering my OCD.

**Info:**
 - Suite version: web 21.6.1 (7d50da6b9fe39ddd934fdf6153b4c4afb2d7fd88)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model One 1.10

[2021-06-02 16:07] bosomt opened #3831 "Recovery/dryrun dropdown menu not aligned"
**Describe the bug**
See screenshots.  ̶B̶u̶g̶ ̶i̶s̶ ̶o̶n̶l̶y̶ ̶p̶r̶e̶s̶e̶n̶t̶ ̶i̶n̶ ̶l̶i̶g̶h̶t̶ ̶v̶e̶r̶s̶i̶o̶n̶ ̶o̶f̶ ̶S̶u̶i̶t̶e̶.
EDIT: i can see it in dark mode too, it was impossible to see it during day.
It's present in web and app version of suite.

**Steps to reproduce:**
1.  ̶S̶w̶i̶t̶c̶h̶ ̶o̶f̶f̶ ̶D̶a̶r̶k̶ ̶m̶o̶d̶e̶ ̶o̶f̶ ̶S̶u̶i̶t̶e̶ ̶
2. Start standard recovery or dry run of T1 device
3.

[2021-06-02 19:16] buzzlightyear2000 commented on #3550
A big YES for ADA support (and also XLM and DOT). Thanks for all your hard work on this project.

[2021-06-03 06:49] tsusanka commented on #3317
Seems to be working now :shrug:.

[2021-06-03 06:49] #3317 closed, assigned to nobody

[2021-06-03 08:38] tsusanka commented on #3706
We should consider doing this along with #1871.

[2021-06-03 10:05] bosomt commented on #3799
I still see 2019 T&C during onboarding on staging Suite.

<img width="484" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120627260-6590f980-c45b-11eb-8937-52f6b807e888.png">

**Info:**
 - Suite version: web 21.6.1 (7d50da6b9fe39ddd934fdf6153b4c4afb2d7fd88)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Scree

[2021-06-03 10:11] slowbackspace commented on #3799
cc @tsusanka
it should work right?

[2021-06-03 10:27] tsusanka commented on #3799
Apologies I haven't deployed it yet.

[2021-06-03 10:28] tsusanka commented on #3799
Done.

[2021-06-03 10:28] #3799 closed, assigned to tsusanka

[2021-06-03 11:06] bosomt commented on #3790
Was this change merged to June freeze release ? Maybe it belongs to July release cycle ?

1) Installed `trezorctl firmware-update -f trezor-2.3.5-bitcoinonly.bin`
2) Got offered 2.3.6 during onboarding and got regular FW installed.

**Info:**
 - Suite version: web 21.6.1 (7d50da6b9fe39ddd934fdf6153b4c4afb2d7fd88)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Fir

[2021-06-03 11:32] bosomt commented on #3790
retested in same environment, when updated via settings/device and not via onboarding correct BTC-only FW was installed correctly.

@tomasklim @slowbackspace do you want me to create separate issue for BTConly firmware update in current/old onboarding ?

<img width="396" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120638083-9a0ab280-c467-11eb-8116-6628d49a430e.png">

[2021-06-03 12:05] tomasklim commented on #3790
@bosomt I can see the issue. I forgot about this specific case. Fix is available in https://github.com/trezor/trezor-suite/tree/fix/btc-only-fw-update-in-onboarding. I will ask @tsusanka if we want to fix it in this release.

[2021-06-03 12:29] bosomt commented on #3790
I'm currently not able to test on domain suite.corp.sldev.cz
Firefox doesn't have access to bridge and chrome webusb is not working ;)
Is it possible to disable CORS in Firefox ?

<img width="1199" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120644624-75b2d400-c46f-11eb-8d8b-a5b1dfabbc30.png">

[2021-06-03 12:32] tomasklim commented on #3790
https://addons.mozilla.org/en-US/firefox/addon/access-control-allow-origin/ maybe or you can download downgrade chrome

[2021-06-03 13:13] bosomt commented on #3790
**QA OK**

My problem was fixed by starting new version of Trezor Bridge via Suite app.
And update of BTC only firmware during onboarding was fixed too :)

**Info:**
 - Suite version: web 21.7.0 (1d88a2f3e51dea35f00ab4cdcffa39d70b3169f7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.6 Bitcoi

[2021-06-03 14:14] bosomt commented on #3799
**QA OK**

Info:

    Suite version: web 21.6.1 (7d50da6)
    Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
    OS: MacIntel
    Screen: 1440x900

[2021-06-03 15:01] bosomt commented on #3717
is there anything that need to be tested on our side ?

[2021-06-03 19:40] tomasklim commented on #3717
@bosomt I updated docs, you can read it and it will probably prepare you a little bit for testing as there are described ways how to test it. We still did not define an exact process how to test this feature.

However, for now you can check that:
-  events are sent to correct endpoints (see docs)
-  `suite-ready` event is sent when you finish onboarding and also when you launch initialised app
-

[2021-06-03 19:44] tomasklim commented on #3831
This is an old onboarding, right?

I think this should be fixed in the new one right? @slowbackspace

[2021-06-03 19:45] bosomt commented on #3712
**QA OK**

**Info:**
 - Suite version: web 21.6.1 (7d50da6b9fe39ddd934fdf6153b4c4afb2d7fd88)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0 + MacOS app
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model One 1.10.0 regular

[2021-06-03 20:01] bosomt commented on #3831
@tomasklim

it looks like this during recovery

<img width="479" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120704160-293ab900-c4ae-11eb-8f4b-0816bb07e92f.png">

and like this during dry run

<img width="747" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120704487-8c2c5000-c4ae-11eb-9bb4-02bbaa9e733c.png">

<img width="455" alt="obrazek" src="http

[2021-06-03 21:20] bosomt commented on #3799
@tsusanka @slowbackspace
any plans to update TOS here : https://trezor.io/static/pdf/tos.pdf
this address is displayed on TT display during onboarding

edit: actually it's trezor.io/tos but it's redirected to https://trezor.io/static/pdf/tos.pdf so maybe you can just change redirect

<img width="636" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120713419-c64f1f00-c4b9-11eb

[2021-06-04 08:09] jerechinsky commented on #3830
Removed it via copy. Thanks, @bosomt.

[2021-06-04 10:29] goodhoko commented on #3823
@sorooris Thanks for detailed description of the bug. I'll assign this to @tomasklim who'll work on the UI part, that handles (or should) the validation soon.

[2021-06-04 13:07] #1634 closed, assigned to slowbackspace

[2021-06-04 13:07] #2338 closed, assigned to slowbackspace

[2021-06-04 13:07] #2715 closed, assigned to slowbackspace

[2021-06-04 13:07] #3332 closed, assigned to slowbackspace

[2021-06-04 13:07] #3576 closed, assigned to slowbackspace

[2021-06-04 13:07] #3730 closed, assigned to slowbackspace

[2021-06-04 13:13] szymonlesisz opened #3839 "Fix depreacated KeyboardEvent.keyCode"
we have 8 occurrences mostly in `@trezor/components` package

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode

![Screenshot from 2021-06-04 15-09-52](https://user-images.githubusercontent.com/3435913/120806666-6c953600-c547-11eb-8b3a-0a3abb3a3e91.png)

[2021-06-04 13:57] goodhoko commented on #3714
@trezor/qa Sorry for late update. We had some troubles in the development and it resulted in scoping down this feature for this release. Here are acceptance criteria for *this release*:
- The user can open the bug/feedback submission forms by clicking on the bulb icon floating on the bottom-right corner of the app and then clicking on 'Feedback or Suggestion` button at the bottom.
- There should b

[2021-06-04 14:36] STew790 commented on #3714
I have 2 questions regarding this.

1. Should the points from screenshot 1 in the "Suite guide" article be links or not?
2. Shouldn't the button in the screenshot 2 say "Send suggestion" rather then "Send report"?

Scr.1
![image](https://user-images.githubusercontent.com/48477147/120818367-d8c96700-c552-11eb-9b7f-30ce4baee94e.png)
Scr.2
![image](https://user-images.githubusercontent.com/48477147/1

[2021-06-04 14:39] STew790 commented on #3712
QA OK

Info:
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.0 regular

[2021-06-04 14:45] STew790 commented on #3723
Why is there the little "arrow" when the Tor notification pops up?
![image](https://user-images.githubusercontent.com/48477147/120819792-34482480-c554-11eb-9233-83c21152c034.png)

[2021-06-04 14:54] STew790 commented on #3757
QA OK

**Info:**
 - Suite version: web 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7) / same version desktop
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
 - OS: Linux x86_64 / Win10
 - Screen: 1920x1080
 - Device: model One 1.6.1 regular

[2021-06-04 15:11] goodhoko commented on #3714
1. I believe they should.
2. Yeah, that sounds better.

Can you file an issue for these fixes (and any more you'll find) so that we can track and fix them in this release? .)

[2021-06-04 17:04] bosomt commented on #3799
sent separate issue https://github.com/satoshilabs/trezor.io/issues/233

[2021-06-04 19:03] tsusanka commented on #3775
Changed to SAMEORIGIN on staging and confirmed it is indeed sent, everything seems to work. I'll keep it on staging for a week or two and then apply to production if no problems arise.

[2021-06-04 21:16] TaseerAhmad commented on #3839
I am on it.

[2021-06-05 09:21] bosomt commented on #3277
Issue present in current version 21.6.1 with passphrase on device ` trezorctl set passphrase enabled -f`

<img width="654" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120886802-b5043080-c5e7-11eb-9aec-0b80c6cd9842.png">

**Info:**
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_3_1) AppleWeb

[2021-06-05 17:48] bosomt commented on #3831
Guess it's not problem with alignment, it's part of design.
It's just missing borders of drop-down menu so it looks unaligned.

<img width="674" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120900754-75ad0280-c62e-11eb-85e2-aace09c1368e.png">

[2021-06-06 08:16] bosomt opened #3846 "ERC20 tokens transaction fees too low compared to Next wallet"
**Describe the bug**

See transaction fees screenshots compared with Next wallet.
When you send ETH fees are same, but when you try to send ERC0 tokens fees are completely different in Next wallet but same in Suite.

**Steps to reproduce:**
1. Send ERC20 in Next wallet
2. Send ERC0 in Suite
3. Compare fees

**Info:**
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Br

[2021-06-06 08:51] bosomt opened #3847 "Toooltip ask you to connect device even when connected"
**Describe the bug**
Tooltip ask you to connect device even when connected.
Im not sure if this is correct/expected behaviour, but i rather point it out.
It's present in web version 21.5.1 too /dark mode screenshot/

**Steps to reproduce:**
1. Connect your device/devices
2. Open Wallets modal
3. hover over `+ add hidden wallet`

**Info:**
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a85

[2021-06-06 17:53] bosomt commented on #3714
Maybe we can now  remove link to typeform feedback ?

<img width="187" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/120934952-7742fd00-c6f8-11eb-9dc0-7f00ff220c33.png">

[2021-06-06 21:46] bosomt commented on #3675
**QA OK**

**Info:**
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model One 1.10.0 regular

[2021-06-06 22:04] bosomt commented on #3723
**QA OK**
_design and functionality in progress..._

**Info:**
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model One 1.10.0 regular

[2021-06-07 02:06] uj opened #3848 "Suite sometimes doesn't refresh or show all transactions"
Suite sometimes doesn't refresh or show all transactions.  I have read about this from several other people on forums, similar issues, and today it happened to me.  I sent btc from coinbase to trezor btc address.  A couple minutes later, I sent another identical amount of btc to the exact same trezor btc address, so that I would have 2 transactions.

Both transactions showed up in Suite as pending

[2021-06-07 03:08] uj commented on #3671
Is this possibly related to https://github.com/trezor/trezor-suite/issues/3848 ?

[2021-06-07 07:56] tsusanka commented on #3846
@bosomt will the ERC-20 transaction go through or not?

[2021-06-07 08:03] tomasklim commented on #3294
I created a basic flowchart that will help us to find a solution how to solve this issue.

https://miro.com/app/board/o9J_lBcHBug=/

[2021-06-07 08:49] glacierbits commented on #2759
New issues will be created with updated design.

[2021-06-07 08:49] #2759 closed, assigned to slowbackspace

[2021-06-07 10:29] bosomt commented on #3846
still pending after 48 hours

https://eth1.trezor.io/tx/0x08c551ff4b3654a0d483e009a4ca36fa340d701789b86ec1ab83b3ca6b84a549
https://eth1.trezor.io/tx/0x9fbf01f889f34d067fefbb9e1676fddeb171a350c38b7b9c298af280da37b732

ETH tx was confirmed in few hours

[2021-06-07 10:50] tsusanka commented on #3846
@szymonlesisz mentioned on Slack the fees in Next are hard-coded so it is not something we should compare Suite to.

However, if the TX is still not mined there might be smth wrong in the estimate I guess.

[2021-06-07 10:54] szymonlesisz opened #3849 "Pin modal buttons layout"
**Describe the bug**
Buttons in PIN modal looks different (kinda broken) and goes blur after entering pin.

current develop vs current production
![Screenshot from 2021-06-07 12-10-30](https://user-images.githubusercontent.com/3435913/121004839-6c877700-c78f-11eb-915e-a066b3b08e01.png)
![Screenshot from 2021-06-07 12-10-18](https://user-images.githubusercontent.com/3435913/121004853-714c2b00-c78f-

[2021-06-07 12:15] szymonlesisz commented on #3846
yes, we are investigating it with @martinboehm , it's not exactly suite related.
there is something wrong with blockbook backend (geth) which occasionally returns gas price as "0" instead of correct values.

![Screenshot from 2021-06-07 13-48-04](https://user-images.githubusercontent.com/3435913/121014804-add15400-c79a-11eb-9257-8ca366ad1cb2.png)

even if we catch this 0-value in suite and we will

[2021-06-07 12:35] goodhoko commented on #3714
@matejzak should know the answer to this. .)

[2021-06-07 12:43] szymonlesisz commented on #3846
may be related to [this issue](https://github.com/ethereum/go-ethereum/pull/22722)
we need to upgrade our backends first and see if it helps

[2021-06-07 12:53] tsusanka opened #3850 "Do onboarding completely offline"
Add an ability to completely onboard yourself offline. In another words download Suite, turn off your internet and do onboarding offline. https://github.com/trezor/trezor-suite/issues/3738 is a prerequisite. After that is done maybe this will work "out of box".

[2021-06-07 13:20] tomexx commented on #3714
beta badge will be removed with this PR
https://github.com/trezor/trezor-suite/pull/3833

[2021-06-07 14:41] STew790 opened #3851 "Missing links in Suite guide"
**Describe the bug**
In the new Suite guide, there are missing links in the "Features" section of the guide. None of the points have functional links on them.

Info:
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537

[2021-06-07 14:49] tsusanka commented on #3800
Uploaded to https://data.trezor.io/legal/invity-terms-of-use.pdf. Should I close the issue @LukasRada?

[2021-06-07 14:52] LukasRada commented on #3800
@tsusanka Not yet. I need to update the footer in Suite coin market. And then also in the old Wallet. Thank you.

[2021-06-07 14:54] STew790 opened #3852 "Button in "Suggestion" section should say "Send feedback/suggestion""
**Describe the bug**
The button in the new "Suggestion" section in Suite should say "Send feedback (or suggestion)." instead of  "Send report" as it says now, which is the same as in the "Report a bug" section.

Info:
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/2

[2021-06-07 14:55] STew790 commented on #3714
@goodhoko Issues created here https://github.com/trezor/trezor-suite/issues/3852 and here https://github.com/trezor/trezor-suite/issues/3851

[2021-06-07 15:00] STew790 commented on #3675
QA OK

Info:
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model One 1.10.0 regular

[2021-06-07 15:31] wendys-cats commented on #3365
**QA OK**

**Info:**

**Suite** version: web 21.6.0 4f358fd151fc1962f30f84a855b82213d958aae7
**Browser**: Version 88.0.4324.182 (Official Build) (64-bit)
**OS**: NixOS 21.03
**Device**:  TT 2.4.0 regular

[2021-06-08 07:35] szymonlesisz opened #3855 "Extend wiki information "how to run on Linux""
I've tried to run suite app on two totally fresh instances of Linux (debian/centos)
in both cases i've ended up with error `The SUID sandbox helper binary was found, but is not configured correctly.`

It would be nice to extend the [wiki description](https://wiki.trezor.io/Apps:Trezor_Suite#How_to_run) how to deal with it

https://authmane512.medium.com/solve-the-suid-sandbox-helper-binary-was-fou

[2021-06-08 07:36] bosomt opened #3856 "Missing Trezor picture during onboarding"
**Describe the bug**
Tested in application and in browser, both time missing Trezor model T graphics, other steps contains it.
21.5.1 **OK**
21.6.1 **NOK**

**Steps to reproduce:**
1. Connect device without firmware
2. Install firmware during on-boarding
3. Observe `Installation completed` screen

**Info:**
 - Suite version: web 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla

[2021-06-08 07:47] jerechinsky commented on #3852
@matejzak do you agree that it should say "Send feedback"/"Send suggestion" ?

[2021-06-08 07:57] szymonlesisz opened #3858 "Scroll to current/active output in ReviewTransaction modal"
while confirming tx (btc-like) with multiple outputs (or rbf) the list in ReviewTransaction modal is quite long.

i happens that current output displayed on Trezor is not corresponding with the view in suite (the output you confirming is below the viewport and not currently visible in modal, you need to scroll to it manually)

[2021-06-08 09:03] wendys-cats commented on #3459
**QA OK**

Info:

Suite version: web 21.6.1 4f358fd151fc1962f30f84a855b82213d958aae7
Browser: Version 88.0.4324.182 (Official Build) (64-bit)
OS: NixOS 21.03
Device: model T 2.4.0 071c6c0

[2021-06-08 09:04] STew790 commented on #3790
QA OK

Info:

Suite version: desktop 21.7.0 (1d88a2f)
Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
OS: Win32
Screen: 1920x1080
Device: model T 2.3.6 Bitcoin only

[2021-06-08 09:25] wendys-cats commented on #3799
**QA OK**

**Suite version:** web 21.6.1 4f358fd151fc1962f30f84a855b82213d958aae7
**Browser:** Chromium Version 88.0.4324.182 (Official Build) (64-bit)
**OS:** NixOS 21.03

![image](https://user-images.githubusercontent.com/58593111/121160078-12002080-c84c-11eb-9acf-3132420a3180.png)

[2021-06-08 09:46] STew790 commented on #3799
QA OK

**Info:**
 - Suite version: web 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
 - OS: Linux x86_64

[2021-06-08 09:48] STew790 commented on #3767
QA OK

Info:

Suite version: desktop 21.6.1 (4f358fd)
Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
OS: Win32
Screen: 1920x1080
Device: model T 2.4.0 regular & One 1.9.4 regular

[2021-06-08 10:41] tsusanka commented on #3855
This is really weird, I have definitely successfully run Suite on clean Linux Mint and @trezor/qa would definitely report this (but yes they do not have clean installations). @prusnak do you by any chance understand the problem? I really do not want to add instructions to wiki until we understand the reasons well.

[2021-06-08 10:47] prusnak commented on #3855
Debian has extra security feature when running an AppImage file. One needs to add `--no-sandbox` to the commandline:

[code]

Agree on documenting this on the wiki and/or directly on the download page.

[2021-06-08 10:51] tsusanka commented on #3855
Ah ok. I'm still a bit confused this does not occur on my Linux Mint (because it is Debian-based as well right?) but maybe this feature is kind of new? Anyway, @alex-jerechinsky please add the info on Wiki and feel free to close the issue then.

[2021-06-08 10:54] goodhoko commented on #3822
@matejzak Would you like to ship this with the next release or wait for the public launch one release later? The PR is ready and approved so it's just a question of when we'll hit the button. .)

[2021-06-08 10:55] prusnak commented on #3855
It is debian based, but has different kernel configuration. This is a setting of the kernel that breaks things. Looking at szymon's post, this can be also fixed by using `sysctl kernel.unprivileged_userns_clone=1`

[2021-06-08 12:40] tsusanka commented on #3855
Thanks! So let's just add `On Debian and similar distributions you might need to add --no-sandbox` or similar and that's it.

[2021-06-08 12:49] wendys-cats commented on #3723
**QA OK**
design in progress

**Info:**

**Suite version**: desktop 21.6.1 4f358fd151fc1962f30f84a855b82213d958aae7
**OS**: Windows 10
**Device**: TT 2.4.0 ea3596a

[2021-06-08 13:16] tomasklim commented on #3851
This is a problem with the content.

Links have to be in this format:
[code]
![Screenshot 2021-06-08 at 15 14 03](https://user-images.githubusercontent.com/33235762/121191339-2ce28d00-c86c-11eb-8aa6-1af8a46e1920.png)

They are just plain text now.

I will fix it in the project for next release, but for public launch it has to be fixed in GB. @goodhoko do you have access to fix it?

[2021-06-08 13:27] wendys-cats commented on #3781
**QA OK**

**Info:**

**Suite version:** desktop 21.6.1 4f358fd151fc1962f30f84a855b82213d958aae7
**OS**: Windows 10
**Device**: TT 2.4.0 ea3596a

[2021-06-08 13:56] szymonlesisz commented on #3846
this should be fixed here:
https://suite.corp.sldev.cz/suite-web/fix/3846/web/accounts/send/#/eth/0

Amount and recipient address **have influence** on calculated "Fee limit" in send form
"Gas limit" should never be 0 (like in screenshots above)

example scenarios:

- when using ERC20 set-max "Fee Limit" should be greater than when using lower amount (0.1 or lowest possible like 0.00001 - dependin

[2021-06-08 14:38] szymonlesisz commented on #3855
not only debian, it happens to me on `centos` as well

for example `cypress` (testing environment) is solving it by adding `--no-sandbox` param automatically to every "linux-like" app

https://github.com/cypress-io/cypress/pull/5458/files

[2021-06-08 15:02] szymonlesisz commented on #3784
@matejzak regarding "send button", read my [comment here](https://github.com/trezor/trezor-suite/pull/3853#discussion_r647527093)

[2021-06-08 15:05] goodhoko opened #3863 "Migrate content to GitBook"
In the first version of Guide we had [5 articles](https://github.com/trezor/trezor-suite/tree/e34d1748b5636fb064a860cd1b3f9fc2d480c87a/packages/suite-data/files/guide/en/trezor-suite) hardcoded into the suite repo.

Before we proceed with [fetching content from GitBook](https://github.com/trezor/trezor-suite/issues/3817) we need to migrate them to the GitBook.

@alex-jerechinsky we (devs) can cert

[2021-06-08 15:05] goodhoko commented on #3851
@tomasklim The current content is hardocded in Suite repo - it's not fetched from GitBook.

Before we start using content from GitBook we'll have to migrate it there first. I've created an issue for that: https://github.com/trezor/trezor-suite/issues/3863

[2021-06-08 15:08] #3851 closed, assigned to tomasklim

[2021-06-08 15:10] bosomt commented on #3846
fix vs mycrypto comparison, same accounts, same coins

![image](https://user-images.githubusercontent.com/31506317/121209912-8900dd80-c87b-11eb-9ae7-32b14540e58c.png)

![image](https://user-images.githubusercontent.com/31506317/121210076-ac2b8d00-c87b-11eb-80c9-860a6687642c.png)

[2021-06-08 15:22] martinboehm commented on #3846
You are using TUSD (OLD) in mycrypto.com, please try with TUSD

[2021-06-08 15:26] #3800 closed, assigned to LukasRada

[2021-06-08 15:29] sorooris commented on #3155
@matejzak @alex-jerechinsky Could we please arrange the redesign Martin's mentioning? The #3741 pull request ended up in Needs QA column again but the fix does not resolve the issue.

[2021-06-08 15:58] sorooris commented on #3589
**QA OK**
 Receiving account tooltip | Receiving address tooltip
 -|-
 ![image](https://user-images.githubusercontent.com/10185314/121215979-c61b9e80-c880-11eb-9538-05482f9760d3.png) | ![image](https://user-images.githubusercontent.com/10185314/121218067-b3a26480-c882-11eb-8a61-8488b18d2da9.png)

Checked ADA, LTC and BTC.

Suite: 21.6.1 4f358fd1
Browser: Chromium 91.0.4472.77
OS: NixOS 21.05
Devic

[2021-06-08 16:24] bosomt commented on #3846
ok different token an latest staging ETH backend

![image](https://user-images.githubusercontent.com/31506317/121222316-bb640800-c886-11eb-9b70-1b2cfa08f031.png)

[2021-06-08 16:26] szymonlesisz commented on #3846
gas limit looks the same

[2021-06-08 16:34] bosomt commented on #3846
**QA OK**

yes it does and when it's not same it's lower on mycrypto side
see screenshot.

![image](https://user-images.githubusercontent.com/31506317/121223671-0fbbb780-c888-11eb-8f1e-aa0a9dfa2068.png)

**Info:**
 - Suite version: web 21.7.0 (5277e17560f96d1fbb307f0c555f671f4cc5444c)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Sc

[2021-06-08 16:40] mroz22 opened #3864 "Backup failed in the new onboarding [bug or feature?]"
**Steps to reproduce:**
1. go to onboarding with fresh device (seen with t1 but probably does not matter)
2. disconnect during backup

![image](https://user-images.githubusercontent.com/30367552/121224484-e64f5b80-c888-11eb-829d-f3424ff43e84.png)

I am not sure if the icon above "go to settings" button is expected? Maybe this is a feature, not a bug?

[2021-06-08 16:52] goodhoko commented on #3335
forme: todo:
- [x] mark private packages as private
- [x] use `1.0.0` for all private packages
- [x] update `docs/releases/versioning.md`
- [x] make electron-builder use version from the root `package.json` https://github.com/electron-userland/electron-builder/issues/5946
- [x] fix CI failures
- [x] profit

[2021-06-08 18:48] glacierbits commented on #3863
Thanks @goodhoko!

I will take care of it asap. Just to manage the expectations, I am afraid it will take us at least a week.

`It` meaning:

- Define what the essential articles are (upgrade of the current ones needed - in terms of volume and quality)
- Re-write the actual articles + add new ones (sync with Ray & Anthony needed - aiming for 10 essentials posts)
- Move it to Gitbook

[2021-06-08 22:07] mroz22 commented on #3185
first good issue indeed.
the question is how it should look like. it might get quite complex

![image](https://user-images.githubusercontent.com/30367552/121263943-abfcb300-c8b6-11eb-83b3-32aa287a1fbe.png)

[2021-06-09 02:25] galenyuan commented on #4878
same problem, and found this error in background console:
![image](https://user-images.githubusercontent.com/10335062/121282891-d1b4a700-c90c-11eb-8453-0259b9211e98.png)
looks like Chrome update cross-origin iframe policy in Chrome 91.0.4472.77

[2021-06-09 05:24] #3846 closed, assigned to szymonlesisz

[2021-06-09 06:53] #3822 closed, assigned to dimasivan

[2021-06-09 06:53] szymonlesisz opened #3869 "Guide lamp icon on dark mode with white background"
after this change https://github.com/trezor/trezor-suite/pull/3854

guide lamp in dark mode has white background:

![Screenshot from 2021-06-09 08-50-08](https://user-images.githubusercontent.com/3435913/121307254-184fd480-c900-11eb-99a1-0059829f02a8.png)

[2021-06-09 07:03] tsusanka commented on #3713
I believe this is closed by https://github.com/trezor/trezor-suite/pull/3854.

[2021-06-09 07:03] #3713 closed, assigned to tomexx, goodhoko

[2021-06-09 07:14] szymonlesisz commented on #3713
ah, sorry i didn't noticed that issue so i've created another one https://github.com/trezor/trezor-suite/issues/3869

[2021-06-09 07:29] goodhoko commented on #3822
@tomasklim I guess you just answered it .D .)

[2021-06-09 07:34] goodhoko commented on #3869
This still applies on `develop`. I guess we'll need this file https://github.com/trezor/trezor-suite/blob/4bc2641fa41d0b2103ad6c43b0b2a5ba7bedfc40/packages/suite-data/files/images/suite/lamp.png but with a transparent background.

[2021-06-09 07:35] tomasklim commented on #3822
https://github.com/trezor/trezor-suite/pull/3833#issuecomment-857005901 😉

[2021-06-09 07:36] goodhoko commented on #3713
@tsusanka yup, this can be closed. There's a follow-up issue here https://github.com/trezor/trezor-suite/issues/3817.

[2021-06-09 07:45] goodhoko opened #3870 "Setup a linter for suite-data"
The suite-data package now contains some non-trivial code. Setup a linting script similarly to how its done in other packages and invoke it in CI. This should prevent the most basic styling and semantic errors.

Could make sense to do along https://github.com/trezor/trezor-suite/issues/3812

[2021-06-09 08:09] sorooris commented on #3714
Reported an issue as well https://github.com/trezor/trezor-suite/issues/3823

Anyway, let's approve yo!

[2021-06-09 08:44] sorooris commented on #1772
**QA OK**

Transaction rates are fetched correctly.

 web 21.5.1 4d09d884 | app 21.6.1 4f358fd1
 -|-
![image](https://user-images.githubusercontent.com/10185314/121320856-d3329f00-c90d-11eb-8ab4-797e7575c5bd.png) | ![image](https://user-images.githubusercontent.com/10185314/121320805-c7df7380-c90d-11eb-9ff7-7d31fd42edd2.png)

Suite: app 21.6.1 4f358fd1 (compared to web 21.5.1 4d09d884)
Browser: N/

[2021-06-09 08:54] bosomt commented on #3714
**QA OK**

Info:
 - Suite version: desktop 21.6.1 (4f358fd151fc1962f30f84a855b82213d958aae7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.6 regular

[2021-06-09 10:23] szymonlesisz opened #3872 "remove eslint-disable react/no-array-index-key"
11 occurrences,
looks like this rule is not enabled anymore and so can remove `eslint-disable` comments with it

thoughts?

[2021-06-09 11:46] tomasklim opened #3874 "Message System config: WebUSB API not working on macOS in Google Chrome 91"
**Describe the bug**
WebUSB API is not working on macOS in Google Chrome 91 so users are not able to use the application without Bridge installed.

**Steps to reproduce:**
1. Have Google Chrome 91
2. Launch the app
3. Connect the device

**Expected result:**
Device is connected.

**Actual result:**
Device cannot be connected.

**Screenshots:**
https://user-images.githubusercontent.com/33235762/121

[2021-06-09 12:02] tomasklim opened #3875 "Clean up of css "z-index" attributes in the project"
Right now we use a wide spectre of values of css z-index attribute. One unaware change can cause problems in the whole project. Let's make one file with those z-indexes and let's specify what z-index should be used where.

**Is your feature request related to a problem? Please describe.**
It can cause UI bugs in the future.

**Describe the solution you'd like**
Put z-index values into variables in

[2021-06-09 12:02] tomasklim commented on #3875
@matejkriz

[2021-06-09 13:25] sorooris commented on #3717
- [x] track events only from production builds to stable.log, all others to develop.log :x:

  - seems that actions on staging are not logged in /suite/log/desktop/staging.log (which is empty) and are instead logged in /suite/log/desktop/stable.log - needs to be verified
- [x] session-end is not sent on desktop app close -  :x: still not being sent
- [x] update docs -  :x: to be finalized
- [x] tr

[2021-06-09 13:28] sorooris commented on #3717
:x: events are sent to correct endpoints (see above https://github.com/trezor/trezor-suite/issues/3717#issuecomment-857692597)
:heavy_check_mark: `suite-ready` event is sent when you finish onboarding and also when you launch initialised app
:heavy_check_mark: `transaction-created` is sent when you sent/copy/download/replace a transaction

[2021-06-09 13:43] wendys-cats commented on #3747
**QA OK**

Tag on ETH indicating number of individual Tokens OK
Tab Tokens next to the Overview tab on ETH (Zeplin to be added here - was NOT added am upset) OK
Add account button OK
Fonts (weight, size etc.) OK
BTC token bug OK
redirection logic OK

**info**
**Suite version** web 21.6.1 0ce310eb30cff6396b91939d3293b34e8e50d7c1
**Device** TT 2.4.0 regular
**Browser** Chromium Version 88.0.4324.182

[2021-06-09 13:43] tomasklim commented on #3717
That is correct. Production build is available on staging. ✅

Yep, it was postponed. ✅

[2021-06-09 13:57] sorooris commented on #3713
- [X] Top navigation (via Settings menu) #3712
- [X] Floating action button (3D image, bottom right app corner cca 16-24px): Zeplin
- [X] The Feedback | Bug report part of the Guide: #3714

However I'd prefer to do an end to end test of the Guide content before approving.
Also could anyone please point me somewhere where it is specified that Accounts menu is hidden when Guide is opened?

[2021-06-09 15:03] jerechinsky commented on #3855
updated https://wiki.trezor.io/Apps:Trezor_Suite

[2021-06-09 15:03] #3855 closed, assigned to jerechinsky

[2021-06-09 15:10] goodhoko commented on #3713
I think it follows from the 'responsivity' of the layout or that's what Ondra Dostal [says on Slack](https://satoshilabs.slack.com/archives/C01SXSHGK44/p1623228394010700?thread_ts=1623224777.009500&cid=C01SXSHGK44):

[2021-06-09 17:49] #3644 closed, assigned to mroz22

[2021-06-09 19:29] damirissimo opened #3878 "No Windows package in latest release (21.6.1)"
Just letting you know that there is no package for Windows OS in your latest 21.6.1 release here on GitHub: https://github.com/trezor/trezor-suite/releases/tag/v21.6.1

Thank you for your hard work

[2021-06-09 19:34] damirissimo commented on #3878
I'm sorry, just read your blog post regarding that: https://blog.trezor.io/trezor-suite-and-firmware-updates-june-2021-c70aba9f0e3f

[2021-06-09 19:34] #3878 closed, assigned to nobody

[2021-06-10 04:43] szymonlesisz commented on #3872
ha! turns out that eslint is not reporting it when using `array.flatMap` but it does when using `array.map`

so i guess it is here to stay

[2021-06-10 04:43] #3872 closed, assigned to nobody

[2021-06-10 04:44] #3874 closed, assigned to tomasklim

[2021-06-10 05:29] szymonlesisz commented on #3713
i think what Ondra meant in slack is that the account menu should be hidden in a "responsive way" but should be accessible.
currently it's not, it's just gone regardless of the app width, so i guess it's a bug

[2021-06-10 06:13] szymonlesisz commented on #3784
closing this in favour of https://github.com/trezor/trezor-suite/pull/3879

[2021-06-10 06:18] szymonlesisz commented on #3784
as discussed in person, first improvement needs to be done in the design of the button, enabling button doesn't solve anything and even brings more trouble.

[2021-06-10 06:54] #3805 closed, assigned to dimasivan

[2021-06-10 08:58] goodhoko opened #3881 "Account menu disappears when guide is open"
discussed on standup today. cc @szymonlesisz @matejzak

stems from https://github.com/trezor/trezor-suite/issues/3713#issuecomment-857716962

[2021-06-10 10:58] matejcik opened #3882 "Priority fees EIP-1559 in Suite launch overview"
Introduce Priority fees ([EIP-1559](https://eips.ethereum.org/EIPS/eip-1559)) to Suite

**Firmware:**
- https://github.com/trezor/trezor-firmware/issues/1604 ✅  Released in `2.4.2`
- https://github.com/trezor/trezor-firmware/issues/1834 ✅  Released in `1.10.4`
- https://github.com/trezor/trezor-firmware/issues/4819

**Data:**
- source for Blockbook [Infura](https://www.infura.io/platform/gas-api),

[2021-06-10 11:25] matejzak commented on #3869
I hope this (png, transparent background) export fixes it. Two different sizes, if it helps.

<img width="15" alt="Lamp (1)" src="https://user-images.githubusercontent.com/29627086/121517105-dea5c900-c9e6-11eb-9d7a-32bc63492854.png">
![Lamp (2)](https://user-images.githubusercontent.com/29627086/121517106-df3e5f80-c9e6-11eb-95fb-b8c684c60bc1.png)

[2021-06-10 11:31] glacierbits commented on #3869
My bad, previous comment included png with white background. I am reaching out to designers for help (Ondra is off today).

[2021-06-10 12:02] bosomt opened #3883 "Manually added ERC20 tokens not present after wallet reload/reconnect"
**Describe the bug**
There is inconstancy between remembered coins and ER20 tokens  that were added manually.
When you reload wallet enabled/disabled coins are remembered but added ER20 tokens not.

**Steps to reproduce:**

1. Add sUSD token
2. Balance shows
3. Eject Trezor, exit Suite
4. Open Suite, connect Trezor
5. Token is missing, needs to be added again, shows correctly
6. same issue after d

[2021-06-10 12:40] tsusanka opened #4880 "Passphrase is turned on by default in Suite and Connect UX does not reflect that"
Suite turns on passphrase by default. That means this UI is shown to every Suite user who uses third party via Connect even to those who have no idea what passphrase is.

![image](https://user-images.githubusercontent.com/1835345/121526325-8deb9b80-c9f9-11eb-9981-e8b7bd173fb2.png)

We should rework this dialog basically to something like this

![image](https://user-images.githubusercontent.com/183

[2021-06-10 12:49] goodhoko commented on #3881
For the record, just found out the original [figma prototype](https://www.figma.com/proto/PVqDKfI5VvzbCJ5kheBPfS/Learn-%26-Discover?page-id=0%3A1&node-id=1%3A30&viewport=672%2C292%2C0.12598536908626556&scaling=min-zoom) actually hides the account menu when guide is opened so that's probably why it was implemented this way.

[2021-06-10 12:52] szymonlesisz commented on #4880
this is not the only layout which is not reflecting suite :) but i guess we can start here with redesign

[2021-06-10 13:08] szymonlesisz commented on #3883
it's also not present if you add it but you don't have it.
example:

add `0x4e3a36a633f63aee0ab57b5054ec78867cb3c0b8` to empty ETH account

notification says: "token added" yet nothing happened

then you can repeat this operation endlessly :)

-----
@bosomt
as far as i remember tokens are added "per account" not globally. your account was not remembered, therefore token is gone - maybe this is the

[2021-06-10 13:11] glacierbits commented on #3881
I remember specifically talking about this use case with Tom & Maros on the feature kickoff. It's here in [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/6086f65ed4cdec143d289fd5).

In general, the prototypes are to be used with caution, they are not the "go-to pixel perfect" proposal because of many limitations Figma has with that regard. It's just to show the general featu

[2021-06-10 13:48] glacierbits commented on #3869
Fixed 🙏🏽

[lamp_no_bg.zip](https://github.com/trezor/trezor-suite/files/6631864/lamp_no_bg.zip)

[2021-06-10 14:13] szymonlesisz opened #3884 "Safety checks notification button doesn't work when im in device/settings"
**Steps to reproduce:**
1. go to `device/settings`
2. disable safety checks (prompt), confirm on device
3. then click on "change" button in notification
![Screenshot from 2021-06-10 16-01-09](https://user-images.githubusercontent.com/3435913/121539979-63eca600-ca06-11eb-9009-f255a750cabe.png)

**Expected result:**
either it should enable safety checks right away instead of redirection to `device/s

[2021-06-10 14:24] yohaaan opened #3886 "Link to given support page section at "device not recognized" instead of the support mainpage"
**Current state**
When the device is not recognized by Suite (see screen below) the support link links to main support page

**Suggested solution**
In such case it would be more Suitable to link directly to "device not recognized by wallet" section at https://trezor.io/support/technical/i-cannot-access-the-wallet/

![image](https://user-images.githubusercontent.com/37402530/121541793-e32ea980-ca07

[2021-06-10 14:27] #3869 closed, assigned to goodhoko

[2021-06-10 15:12] goodhoko commented on #3884
Thanks for reporting @szymonlesisz.

@matejzak Originally, the button was implemented to open the device settings. Could you elaborate what is the ideal behaviour of the button when the user already is in device settings?

[2021-06-10 15:54] sorooris commented on #3747
Can or should we close this issue and approve?

[2021-06-10 15:54] #3747 closed, assigned to matejkriz

[2021-06-10 16:19] glacierbits opened #3888 "Connect device (no longer modal)"
The new "onboarding" design was suppose to bring a new _startup_ page of the Suite application even for initialized devices. It seems that even though the New onboarding has been merged, the CTA to connect device for initialized devices is still a modal. It should be a full page instead.

## Old (modal)

<img width="1224" alt="Screen Shot 2021-06-10 at 17 12 26" src="https://user-images.githubuser

[2021-06-10 17:30] glacierbits opened #3889 "Anchor links"
_A link that helps to link to the content on the same page that has an anchor attached. It is a unique id (identifier) attached to the content block or specific element._

**Examplary problem:** User want to switch off Tor from the top navigation. They click on the chevron in the menu. Application Settings get opened, but they have no idea which element they should focus on or why they were sent t

[2021-06-10 17:54] glacierbits commented on #3884
Before #3889 gets implemented in some way or another (out of scope for this sprint), I suggest we change the copy on the button from `Change` to `Settings` at least indicating where is the user being taken (or why nothing happens if they are there already).

[2021-06-10 18:12] glacierbits commented on #2048
I believe we can close this issue since the changelog looks different now altogether.

[2021-06-10 18:12] #2048 closed, assigned to robertbrada

[2021-06-10 18:16] glacierbits commented on #3803
One more thing 🙏🏽

Can we please [add a hover](https://www.notion.so/satoshilabs/Hover-states-78c3753ed8874fdbb224cb2d9e3b6af7) (4% black / 8% white) to the tertiary buttons instead of the underline?

<img width="116" alt="Screen Shot 2021-06-10 at 19 15 54" src="https://user-images.githubusercontent.com/29627086/121576448-4a585800-ca20-11eb-815a-a39280df2c1c.png">

[2021-06-10 18:20] glacierbits commented on #3817
It would be nice to fix the gap. Although, I suspect we may need to do a bigger refactor to the scrollbars globally.

<img width="291" alt="Screen Shot 2021-06-10 at 19 17 55" src="https://user-images.githubusercontent.com/29627086/121576811-b470fd00-ca20-11eb-8ffd-73391f93f7d8.png">

[2021-06-11 10:21] aspiers commented on #3057
This is extremely disappointing I'm afraid :-(  It has caused my first experience with a Trezor device to look like this:

1. Install Trezor Suite
2. Enable Ethereum as one of the coins.
3. Use the deposit address of the first account to receive some ETH from a service, which happens to have been transferred as an internal contract transaction.
4. Not only does the transaction not show up in the S

[2021-06-11 10:33] aspiers commented on #3057
Some more info - despite Trezor Suite claiming the balance was 0 ETH, I was able to send some of the ETH elsewhere via MetaMask.  After this, the balance is finally showing correctly in Suite's UI, but the original internal transaction is still not shown there.

[2021-06-11 13:04] tomasklim commented on #3874
![Screenshot 2021-06-11 at 14 44 14](https://user-images.githubusercontent.com/33235762/121690552-48e16b00-cac6-11eb-880a-487d4ded7da0.png)
![Screenshot 2021-06-11 at 14 46 21](https://user-images.githubusercontent.com/33235762/121690555-4a129800-cac6-11eb-95ed-60280591913a.png)

[2021-06-11 13:20] goodhoko commented on #3884
@matejzak Updated the copy in Crowdin.

@szymonlesisz The error in console seems to be another instance of the `Encountered two children with the same key` problem. @matejkriz mentioned that he might have a global fix for this. I'm not sure if it's worth tackling it within this issue.

I'll opportunistically close this. We'll need to sync Crowdin translations before the next release. @matejzak I'm

[2021-06-11 13:20] #3884 closed, assigned to goodhoko

[2021-06-11 13:26] bosomt opened #3892 "csv/pdf export of transaction history is missing labels"
**Describe the bug**
CSV/PDF export of transaction history is missing labels + export form Suite is using am/pm even we already changed to 24 hour time.
see screenshot.

**Steps to reproduce:**
1. load wallet and saved labels in wallet
2. load wallet and saved labels in Suite
3. export transactions and compare exported files

**Info:**
 - Suite version: web 21.6.1 (0ce310eb30cff6396b91939d3293b34e

[2021-06-11 14:22] bosomt commented on #3869
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (b6021aea87a5f683069efac15473e8028fd5b869)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.0 regular

[2021-06-11 14:23] bosomt commented on #3822
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (b6021aea87a5f683069efac15473e8028fd5b869)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.0 regular

[2021-06-11 14:32] tsusanka commented on #3874
Config deployed to develop. That means this should be working on develop branches.

QA: please verify the message is displayed on MacOS on Chrome 91 and nowhere else without Bridge being installed. This applies for versions >=21.6.2.

[2021-06-11 14:32] bosomt commented on #3800
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (b6021aea87a5f683069efac15473e8028fd5b869)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.0 regular

[2021-06-11 14:39] bosomt commented on #3830
@alex-jerechinsky  was it merged already ?

![image](https://user-images.githubusercontent.com/31506317/121703878-87315700-cad3-11eb-89d5-cd253db5eef6.png)

**Info:**
 - Suite version: web 21.7.0 (b6021aea87a5f683069efac15473e8028fd5b869)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.0 regula

[2021-06-11 14:46] bosomt commented on #3733
**QA OK**

token count is not blurred, im not sure if  this it par tof design or not but everything else looks good.

![image](https://user-images.githubusercontent.com/31506317/121705012-8fd65d00-cad4-11eb-8f3f-3995db02289b.png)

**Info:**
 - Suite version: web 21.7.0 (b6021aea87a5f683069efac15473e8028fd5b869)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.

[2021-06-12 05:10] Saladin1812 commented on #3260
+1 for this as I want this for Gitcoin bounties and other Dapps. Gitcoin can connect to a wallet with WalletConnect. Gitcoin itself is not on trezor but payments in ETH/ETH or others can easily be reached to the wallets compatible with WalletConnect. Currently I use metamask

[2021-06-14 08:55] wendys-cats commented on #3805
**QA OK**

**Suite:** web version 21.7.0 b6021aea87a5f683069efac15473e8028fd5b869
**Browser:** Chromium Version 88.0.4324.182 (Official Build) (64-bit)
**OS:** nixOS 21.03 unstable
**Device:** TT 2.4.0 regular

![image](https://user-images.githubusercontent.com/58593111/121865992-d0192380-ccfe-11eb-9f57-22c16d142741.png)

[2021-06-14 09:05] wendys-cats commented on #3869
**QA OK**

**Info:**

**Suite** version: web 21.7.0 b6021aea87a5f683069efac15473e8028fd5b869
**Browser:** Chromium Version 88.0.4324.182 (Official Build) (64-bit)
**OS:** NixOS 21.03 unstable
**Device:** model T 2.4.0 regular

[2021-06-14 09:09] wendys-cats commented on #3822
**QA OK**

**Info**

**Suite version:** web 21.7.0 b6021aea87a5f683069efac15473e8028fd5b869
**Browser:** Chromium Version 88.0.4324.182 (Official Build) (64-bit)
**OS:** NixOS 21.03 unstable
**Device:** model T 2.4.0 regular

[2021-06-14 09:17] wendys-cats commented on #3800
**QA OK**

Suite and Wallet - https://data.trezor.io/legal/invity-terms-of-use.pdf OK

**Info**
**Wallet version:** 3a553b24e498c56a2e03897fded706dffb4a6d6b
**Suite version:** web 21.7.0 b6021aea87a5f683069efac15473e8028fd5b869
**Browser:** Chromium Version 88.0.4324.182 (Official Build) (64-bit)
**OS:** NixOS 21.03 unstable
**Device:** model T 2.4.0 regular

[2021-06-14 09:27] tomasklim commented on #3817
@matejzak Question regarding:

![Screenshot 2021-06-14 at 11 21 28](https://user-images.githubusercontent.com/33235762/121869776-ac57dc80-cd02-11eb-8184-5e9b275f721b.png)

Should **web** show `Up to date` or current version?

If the **desktop app** is not `Up to date` should it show just plain text version or also some link to update app modal?

The same question applies for the firmware version

[2021-06-14 09:52] dimasivan commented on #3886
@yohaaan @matejzak Wouldn't it be too confusing for users to go to this support page which is about the Wallet (wallet.trezor.io) ?
Don't want to make it more messy adding another path in the support page, but maybe this one can be edited to mention Suite as well? :pray:

[2021-06-14 10:34] glacierbits commented on #3817
I suggest to keep current versions (e.g. X.Y.Z) fro both App and FW to keep things simple.

Notifications should handle the CTA & warnings to update the app and FW.

[2021-06-14 13:25] wendys-cats commented on #3830
**QA NOK**

Not merged yet, bošo is upset. @alex-jerechinsky
![image](https://user-images.githubusercontent.com/58593111/121895105-29457f00-cd20-11eb-9f25-01dced79c2a5.png)

**Info:**
**Suite** web version 21.7.0 b6021aea87a5f683069efac15473e8028fd5b869
**OS** NixOS 21.03 unstable
**Device** TT 2.4.0 regular

[2021-06-14 15:51] IAmIntractable opened #3898 "Token List Displays the Same Ticker Multiple Times"
**When I review my token list in the suite, I note that it displays the same token twice. One entry shows the correct quantity but no value. The other entry shows the correct quantity and the correct value. The suite is likely displaying 2 entries because either:**

1)	There are two SNX contract addresses being reporting by CoinGecko

2)	The Suite is seeing SNX in my ETH transactions under two dif

[2021-06-14 16:30] wendys-cats commented on #3733
**QA OK**

Inputs in transactions detail **OK**
smooth out TX ID blur “frame” in transactions detail **OK**
smooth out FIAT in transaction detail **OK**
smooth out token value **OK**

**Info**
**Suite version:** web 21.7.0 b6021aea87a5f683069efac15473e8028fd5b869
**Browser:** Chromium Version 88.0.4324.182 (Official Build) (64-bit)
**OS:** NixOS 21.03 unstable
**Device:** model T 2.4.0 regular

[2021-06-14 21:52] Oliv95 commented on #1463
Any idea when this might be added?

[2021-06-15 07:45] jerechinsky commented on #2838
@FrankyFFV @PBWrzal @LDS90

Could you please shoot me a quick email at alexandr.jerechinsky@satoshilabs.com so I can onboard you into our translation project? 🙂

Thank you!

[2021-06-15 08:01] tsusanka commented on #3550
Let's review https://github.com/trezor/trezor-suite/pull/3627 in August sprint.

[2021-06-15 08:27] PBWrzal commented on #2838
Just send you the E-Mail for German, New Javanese and Indonesian (Bahasa Indonesia). ;)

[2021-06-15 09:47] goodhoko commented on #3881
Done in https://github.com/trezor/trezor-suite/pull/3887

@trezor/qa The desired behaviour is described in [this commit message](https://github.com/trezor/trezor-suite/pull/3887/commits/7ec61832847d30d7a35e861dc0498d82b2719b2a):

[2021-06-15 09:47] #3881 closed, assigned to goodhoko

[2021-06-15 10:30] goodhoko commented on #3863
@matejzak FIY I just filled GitBook with the current articles so that @tomasklim have a content to work/test against in https://github.com/trezor/trezor-suite/issues/3817.

[2021-06-15 11:16] tsusanka opened #3900 "Early Access Program"
**Design:** [Figma](https://www.figma.com/file/stayh4edU3aeLULpcvYSMu/Exploring-Settings?node-id=601%3A2)

**Spec:** [Notion](https://www.notion.so/satoshilabs/Early-access-program-4385b04f97114b3db6e1e3e0f0d1e036#2f20b677acbb4fc2a43d65296912a11c)

In Suite we will have a new feature: "Early access toggle". If enabled Suite will behave as when started with `--pre-release` flag. That means it will

[2021-06-15 11:17] tsusanka opened #3901 "Remove all closed beta code"
As we are killing beta-wallet.trezor.io we should remove all beta-related code. We will replace this by the #3900.

I believe we can also completely remove the `landing-page` package as it was used for the closed beta solely.

[2021-06-15 11:43] bosomt opened #3902 "Latest release 21.6.2 offers outdated firmware versions"
**Describe the bug**
See screenshot, latest public version that we started to test contains outdated firmware versions.

**Steps to reproduce:**
1. Onboard device with 2.3.6 firmware
2. No firmware is offered

1. Try to update device with 2.4.0 firmware
2. Older than 2.4.0 firmware is offered

**Info:**
 - Suite version: desktop 21.6.2 (97d032adf84e5b7c5dd82fb3085fdeb4434ad7f8)
 - Browser: Mozilla

[2021-06-15 12:01] tsusanka commented on #3902
@szymonlesisz I guess this is because we have not published Connect right? So I will simply cherry-pick https://github.com/trezor/trezor-suite/commit/0ce310eb30cff6396b91939d3293b34e8e50d7c1 ? Is there a reason not to push it to `develop` directly btw?

[2021-06-15 13:53] tsusanka commented on #3874
QA: please when you start testing this on staging, ping me I will deploy the config.

[2021-06-15 15:15] szymonlesisz commented on #3902
exactly,  cherrypick should be enough

[2021-06-15 15:20] tsusanka commented on #3902
And I can do it to `develop`?

[2021-06-15 15:21] szymonlesisz commented on #3902
exactly, cherrypick **to develop** should be enough

[2021-06-15 15:23] tsusanka commented on #3902
Closed by 3fad508ccee65687b2921a5a752803ed30a6f90b.

[2021-06-15 15:23] #3902 closed, assigned to tsusanka

[2021-06-16 07:59] szymonlesisz commented on #3787
@matejzak like this?
![Peek 2021-06-16 09-58](https://user-images.githubusercontent.com/3435913/122181343-932d6800-ce89-11eb-9f71-aaf850c136f8.gif)

[2021-06-16 08:22] jerechinsky commented on #3883
@szymonlesisz does this require better design to explain to the user that tokens are added "per account" and therefore are not remembered if the account isn't remembered?

[2021-06-16 08:23] bosomt commented on #3784
**QA OK**

**Info:**
 - Suite version: desktop 21.6.2 (97d032adf84e5b7c5dd82fb3085fdeb4434ad7f8)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.0 regular

[2021-06-16 08:24] jerechinsky commented on #3856
@bosomt Can you reproduce this even in 21.6.2 ?

[2021-06-16 08:38] bosomt commented on #3874
@tsusanka please deploy it, I don't see it now on / MacOS + Chrome 91 - Bridge setup/ staging

[2021-06-16 08:42] glacierbits commented on #3787
Looks great!

[2021-06-16 08:51] bosomt commented on #3856
@alex-jerechinsky  i can't

so as soon we approve andrelease new onborading we can close this issue.

**Info:**
 - Suite version: web 21.6.2 (97d032adf84e5b7c5dd82fb3085fdeb4434ad7f8)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.6 regular

[2021-06-16 08:52] tsusanka commented on #3786
@matejzak we will remove the shake animation for all use cases correct? It was also triggered for new device connected for example.

[2021-06-16 08:57] #3787 closed, assigned to nobody

[2021-06-16 08:58] jerechinsky commented on #3849
Mine looks like this. I think @matej confirmed that this is not intended, so let's fix it.
![pin](https://user-images.githubusercontent.com/75733878/122187214-20bf8680-ce8f-11eb-833f-427fef26d184.gif)

[2021-06-16 09:58] bosomt commented on #3644
**QA OK**

**Info:**
 - Suite version: desktop 21.6.2 (97d032adf84e5b7c5dd82fb3085fdeb4434ad7f8)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-06-16 09:59] szymonlesisz opened #3904 "Replace transaction followup"
- [ ] Do not use unconfirmed utxo in BTC-like replacement transaction (need UI explaining why do you see 0.1 BTC on your account, but form is showing "not enough funds" @matejzak , @alex-jerechinsky, related to https://github.com/trezor/trezor-suite/issues/3578 )
- [ ] Make "decrease output" possible for ETH-like coins
- [ ] Make more tests for useRbfForm, follow TODOS in https://github.com/trezor

[2021-06-16 10:04] szymonlesisz opened #3905 "ETH compose transaction - handle errors returned by estimateFee method"
handle [errors](https://github.com/ethereum/go-ethereum/blob/c503f98f6d5e80e079c1d8a3601d188af2a899da/core/error.go) returned by `estimateFee` [method ](https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/actions/wallet/send/sendFormEthereumActions.ts#L123) (related https://github.com/trezor/trezor-suite/issues/3283)

[2021-06-16 10:08] szymonlesisz commented on #3460
this is already merged by https://github.com/trezor/trezor-suite/pull/3827

[2021-06-16 10:08] #3460 closed, assigned to szymonlesisz

[2021-06-16 10:10] szymonlesisz commented on #3883
@alex-jerechinsky  firstly we need decision:
- should custom token be available in other accounts? if not then yes, it will require some explanation in UI
- should custom token be visible even if it's 0-balance (see my comment above)

[2021-06-16 10:15] szymonlesisz commented on #3807
@matejzak in this given case it's long but i think this error should be present here for debugging purposes.

error message is generic, could be anything, like "device disconnected during action", "device is used in another window" or  "lib_usb_error"... etc

without this message it will be hard to find the reason what is going on

[2021-06-16 10:24] bosomt commented on #3881
**QA OK**

**Info:**
 - Suite version: desktop 21.6.2 (97d032adf84e5b7c5dd82fb3085fdeb4434ad7f8)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.0 regular

[2021-06-16 11:29] tsusanka commented on #3874
@bosomt deployed. Please also make a quick check that this does not affect production in any way. The warning will be displayed from 21.6.2 so it should not be displayed on production yet (as it has 21.6.1 currently).

[2021-06-16 11:48] bosomt commented on #3874
@tsusanka i can see it in Chrome 91

21.6.2
<img width="654" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/122213449-40fc3f00-cea9-11eb-92a9-576a272c8d99.png">

21.6.1
<img width="658" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/122213641-743ece00-cea9-11eb-8752-e29566171be6.png">

[2021-06-16 12:28] STew790 commented on #3202
**QA NOK**

Unfortunately, this is happening again. Video attached. The update is downloaded but the progress bar is not reflecting the downloading progress.

https://user-images.githubusercontent.com/48477147/122218536-d8b05c00-ceae-11eb-915b-2cd8895f12d1.mp4

Suite: app 21.5.1 -> 21.6.2 4e29f3d
OS: Win10
Device: 2.3.6

[2021-06-16 12:38] tsusanka commented on #3202
@STew790 could you please test with 21.4.1 -> 21.5.1? Without `--pre-release` flag - these are production versions.

[2021-06-16 13:17] STew790 commented on #3202
@tsusanka Unfortunately, this is not possible. 21.4.1 is not showing me an update and even when I try to check for update in the settings it won't find any.

[2021-06-16 13:22] STew790 commented on #3881
**QA OK**
**Info**

- Suite version: desktop 21.6.2 (4e29f3d6e527618670936bf6d1d3617b217be30c)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.0 regular

[2021-06-16 14:12] tsusanka commented on #3202
Ok, so we have simulated this and it does the same for 21.4.1 -> 21.5.1.

[2021-06-16 14:21] tomasklim opened #3907 "Dependencies(components): Storybook replace deprecated code"
Issues to solve with Storybook used in **components** package:

- [ ] update to newest versions `7` https://storybook.js.org/blog/storybook-7-0/
- [ ] replace deprecated [@storybook/addon-knobs](https://storybook.js.org/addons/@storybook/addon-knobs/) package by [@storybook/addon-controls](https://storybook.js.org/addons/@storybook/addon-controls/)
- [ ] get rid of deprecated  `storiesOf` from  `@

[2021-06-16 14:39] goodhoko opened #3908 "Wallet cannot be renamed"
**Describe the bug**
When I try to rename a hidden wallet, nothing happens.

**Info:**
 - Remembered Wallet: yes
 - Suite Version: web, 0ce310eb30cff6396b91939d3293b34e8e50d7c1
 - Browser: Firefox 89.0
 - OS: macOS, M1 MB air
 - Firmware Version: TT , https://github.com/trezor/trezor-firmware/commit/ea3596ad8, setup with a shamir seed

**Steps to reproduce:**
1. Open the "wallets" modal by clickin

[2021-06-16 16:55] goodhoko commented on #3901
It would be nice if someone knowledgable of the codebase could outline the scope of this. I.e. I have no idea what "all closed beta code" can include or where should I look for it. Maybe @szymonlesisz may know better?

I'll start digging into this either way a but advice on direction would be appreciated.

[2021-06-16 16:59] jerechinsky commented on #3901
That's very fair. I'll probably reassign to @szymonlesisz for his extensive knowledge of the codebase. Thank you, Jen.

[2021-06-16 20:04] goodhoko commented on #3901
@alex-jerechinsky That's not necessary nor what I wanted. .) I'll happily do this I'd just be glad for a more detailed description of what needs to be done.

[2021-06-17 06:04] bosomt commented on #3902
**QA OK**

**Info:**
 - Suite version: desktop 21.6.2 (4e29f3d6e527618670936bf6d1d3617b217be30c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model One 1.10.1 regular

[2021-06-17 07:52] nappex commented on #3350
I'v got same error when I want to startup TrezorSuite on my Fedora by this [tutorial](https://wiki.trezor.io/Apps:Trezor_Suite#How_to_run). GUI of trezor suite've started anyway but it does not recognize my Trezor HW wallet which has connected already. When I wanna install `dbuv` buttons as download or other link does not working at all.

Error text:
[code]

**Reproduce**

- [download](https://sui

[2021-06-17 08:12] tsusanka commented on #3439
I think we can close this one, because this happens in case the `latest.yml` is removed such as we are doing now for 21.6.1 (because of the certificate expiry). Let's reopen if this returns for versions >21.7.0.

[2021-06-17 08:12] #3439 closed, assigned to jerechinsky

[2021-06-17 08:13] tsusanka commented on #3214
Let's retest on 21.6.1.

[2021-06-17 10:01] bosomt commented on #3851
**QA OK**

**Info:**
 - Suite version: desktop 21.7.0 (6796f451738b4cd59ecd9efb3257743bbe8398a1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0 regular

[2021-06-17 10:26] forgiSL commented on #3883
hi, just a side note, this came from support tickets. User has one account, remembering wallet did not work either. Token is not 0 balance it shows correct balance, but doesn't show at all after reconnecting.

[2021-06-17 12:13] sorooris commented on #3214
After quick check with @tsusanka Windows build will be tested with build version 21.6.2, macOS 21.6.1.

[2021-06-17 12:44] #2149 closed, assigned to tomasklim

[2021-06-17 13:56] bosomt opened #3910 "Huge icon during onboarding"
**Describe the bug**
Huge icons are back and it appeared in newly designed onboarding.
I tested new onboarding multiple times but saw it for first time /at least in recent time/
I was able to replica it and record it. See video link.

**Steps to reproduce:**
1. Start suite that includes new onboarding
2. Disconnect device during seed backup
3. Reconnect it and observe

**Info:**
 - Suite version:

[2021-06-17 13:58] STew790 commented on #3851
**QA OK**

**Info:**

Suite version: desktop app 21.6.2 (4e29f3d)
Browser: -
OS: Windows 10
Screen: 1440x900
Device: model One 1.10.1 regular

[2021-06-17 14:27] bosomt opened #3911 "Intermediary firmware not offered during onboarding/updating of old device"
**Describe the bug**
Indermediary firmware was introduced to remove need to install 1.6.3 before you can install latest firmware.
But suite 21.6.2 still offers 1.6.3

**Steps to reproduce:**
1. Connect device with firmware older than 1.6.3
2. Start onboarding or update of device
3. Observe offered version

**Info:**
 - Suite version: desktop 21.6.2 (4e29f3d6e527618670936bf6d1d3617b217be30c)
 - Bro

[2021-06-17 14:35] tsusanka commented on #3911
@bosomt so this happens also for new 1.4.0 devices in onboarding? So in another words the intermediary FW is never offered?

[2021-06-17 15:04] szymonlesisz commented on #3883
@forgiSL i guess it is the same case as mentioned by @bosomt ?
wallet was not remembered > custom token is gone after disconnection because it was assigned to account which was "forgotten"

[2021-06-17 18:42] bosomt commented on #3883
@szymonlesisz yes it's same case, issue was created as "feature request" or "suggestion" from customer feedback.

[2021-06-17 18:53] bosomt commented on #3911
@tsusanka

sorry I only have two devices older that 1.6.x
1.3.1 BL 1.6.0 FW - upgrade to 1.6.3 is offered
1.5.0 BL 1.6.1 FW - upgrade to 1.10.1 is offered

see screenshot

I think that there is some error in wording.
Why does it say `Your device is already updated to latest firmware`

![obrázok](https://user-images.githubusercontent.com/31506317/122456476-e8fb3080-cfad-11eb-9bb3-ce8bdfca9511.png)

[2021-06-18 00:44] rbmag opened #3912 "Reading of accounts failed. Error details: Response of unexpected type: Features Loading of accounts failed."
**Describe the bug**
A clear and concise description of what the bug is.
I'm using the Trezor Model T. I just upgraded to the new firmware. My BTC account loads, but DOGE wallet does not load it returns this error.  In addition, the my lite coin wallet does the same thing with the same error code.  My DGB wallet says there is an action interrupted.
Action was interrupted
Error details: Response of

[2021-06-18 00:49] rbmag commented on #3912
NVM. A second complete unplug, browser close and reauthorization did the trick. It sees all the wallets.

[2021-06-18 00:49] #3912 closed, assigned to nobody

[2021-06-18 07:07] tsusanka commented on #3911
And both of these devices were <s>not</s> initialized right? Because the first thing might be connected to https://github.com/trezor/trezor-suite/issues/3727 maybe?

Edit: I actually wanted to say that I suspect them being initialized :facepalm:.

[2021-06-18 08:42] bosomt opened #3913 "Trezor model T hologram displayed during onboarding even when model One connected"
**Describe the bug**
Trezor  T hologram displayed during onboarding even when Trezor model One is connected.

**Steps to reproduce:**
1. Start Suite 21.6.2
2. Connect not initialized device model One
3. Hover over hologram tooltip

**Info:**
 - Suite version: desktop 21.6.2 (c0e30df7aa3c7b37e6f0a19b5201744a5de66a90)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko)

[2021-06-18 08:48] #3886 closed, assigned to dimasivan

[2021-06-18 08:56] bosomt opened #3914 "Firmware update says already updated to latest firmware even when device has old firmware"
**Describe the bug**

When trigger firmware update manually from Suite seeings it says already updated to latest firmware even when device has old firmware.
+ There is no message about availability of new firmware in application or during onboarding.

`Your device is already updated to latest firmware. You may reinstall the firmware if needed.`

**Steps to reproduce:**
1. Connect initialized devic

[2021-06-18 09:09] bosomt commented on #3911
@tsusanka
1.5.0 BL 1.6.1 FW     initialized: True
1.3.1 BL 1.6.0 FW      initialized: True,

do you want me to wipe seed OR firmware and retest onboarding behavior ?
i will send separate issue for onboarding wording

[2021-06-18 09:18] tsusanka commented on #3911
Wipe seed only. To clarify: my process of thinking is that it might work correctly in onboarding but we have forgotten about this dialog which basically says "your FW is not supported anymore, please update" and we do not utilize the intermediary FW there.

[2021-06-18 09:20] tsusanka commented on #3911
But as I think of it it does not make sense, because 1.6.1 FW is not supported as well.. Well, please retry with wiped seed and let's see.

[2021-06-18 09:44] bosomt commented on #3911
So i tested empty BL 1.3.2 device

1) intermediary firmware was installed,
2) I was asked to reconnect device
3) I was offered update device from 1.10.0 to 1.10.1
4) Confirmed,installed auto rebooted.

attaching log
[trezor-suite-log-1624006347775.txt](https://github.com/trezor/trezor-suite/files/6676158/trezor-suite-log-1624006347775.txt)

[code]

![image](https://user-images.githubusercontent.co

[2021-06-18 11:17] bosomt opened #3915 "Suite crashes when you connect device with 1.6.0 firmware when asked to connect device"
**Describe the bug**
Suite crashes when you connect device with 1.6.0 firmware when asked to connect device.
It's happening in Windows/Linux and macOS too.
When you connect it during onboarding of fresh Suite it asks you to install 1.6.3.
When you connect it when Suite is already started it crashes. You need to see old modal connect your device and not new modal from onboarding.
Logs from Linux at

[2021-06-18 12:12] dimasivan commented on #3803
@matejzak I'll add hover to tertiary button in another PR #3829

[2021-06-18 12:17] tsusanka commented on #3911
So that seems correct right? :)

[2021-06-18 12:18] tsusanka commented on #3911
So we could assume this concerns only initialized devices?

[2021-06-18 12:32] bosomt commented on #3911
@tsusanka yes we can

[2021-06-18 13:11] tsusanka commented on #3915
Could you please test whether this is a regression from Suite version 21.6.1 or 21.5.1?

[2021-06-18 13:18] bosomt commented on #3915
@tsusanka 21.5.1 "works" as expected, this was common issue with unsupported firmware, now it just crashes

<img width="558" alt="image" src="https://user-images.githubusercontent.com/31506317/122566841-4e036480-d048-11eb-8c8b-4f29cc9b634c.png">

[2021-06-18 13:20] bosomt commented on #3915
@tsusanka see my old issue https://github.com/trezor/trezor-suite/issues/3181

[2021-06-18 13:36] tsusanka commented on #3911
@bosomt and upon clicking "Install firmware" you indeed get offered 1.6.3 right? I mean do not to through with it because you do not want to get rid of your old device but I am just curious :). Is there a way to find out actually? :thinking: Maybe check what is being downloaded from data.trezor.io?

[2021-06-18 14:01] #3669 closed, assigned to mroz22

[2021-06-18 15:05] yohaaan commented on #3886
@pingpwned  IIRC the troubleshooter should be updated with Suite content as well once it's launched. The truth is that at the moment there aren't many sections reflecting Suite due to lack of documentation, but that applies to the whole support page, not just the not recognized section. On the other hand, the troubleshooting tips are still relevant. It's rather a matter of the copy and form.

[2021-06-19 05:56] glacierbits commented on #3803
Thanks!

[2021-06-19 13:57] maravac opened #3919 "labelling is gone when switching from hidden to standard wallet"
**Describe the bug**
When I switch from hidden to standard wallet, then all labels (custom labels of my transactions) and custom account names are gone.

**Info:**
 - Remembered Wallet: yes
 - Suite Version: Windows app v. 21.5.1
 - OS: Windows 10 Pro 21H1
 - Bridge: not sure
 - Firmware Version: Trezor T fw

**Steps to reproduce:**
1. switched from standard to hidden wallet
2. switched from hidde

[2021-06-19 14:05] maravac opened #3920 "Connecting to a custom btc full node (f.e. Umbrel)"
Please, would it be possible to add a new features and functions to a TREZOR hw wallet or Trezor Suite so it could connect to a custom full node? I am using my own Umbrel btc full node running on Raspberry Pi4 in my local home network and it would be great to connect somehow the TREZOR to this full node.
Thank you.

[2021-06-20 21:09] tsusanka commented on #3915
@bosomt could you prepare the device with 1.6.0 to @matejkriz? We do not have 1.6.0 in trezor-user-env unfortunately.

[2021-06-21 09:37] tomasklim commented on #3294
@tsusanka

Questions:
1) By @matejzak: What will happen if you have more apps like Exodus, Ledger Live and Trezor Suite and you want to use **bitcoin:** handler? Will you get some dialog where you can choose an app?
2) By ondra: Can we somehow find out, that user has Trezor Suite installed? Do we need something like Figma has?
<img width="1052" alt="Snímek obrazovky 2021-06-16 v 16 44 28" src="htt

[2021-06-21 10:43] glacierbits commented on #3786
Thanks! Just wondering, do we have a complete list of triggers for the action?

[2021-06-21 10:48] wendys-cats commented on #3332
from original comment https://github.com/trezor/trezor-suite/pull/3677#issuecomment-863248363 :

FW 1.10.1. results in reinstall OK
BL 1.8.0 no FW results in latest (1.10.1) installed OK
FW 1.9.3 results in latest (1.10.1) installed OK
FW 1.7.3 results in latest (1.10.1) installed **OK**
FW 1.9.2 results in latest (1.10.1) installed **OK**
FW 1.10.0 results in latest (1.10.1) installed **OK**

Bra

[2021-06-21 10:52] glacierbits commented on #3185
@mroz22 Do you see any issue with the current implementation on my-trezor?

Because if not, we can simply format it in the same way and perhaps just move the label to a separate column for easier comprehension.

<img width="1009" alt="Screen Shot 2021-06-21 at 12 48 50" src="https://user-images.githubusercontent.com/29627086/122750915-6b763f80-d28f-11eb-8c0c-09915c279921.png">

[2021-06-21 10:57] bosomt commented on #3332
**QA OK**

original comment: https://github.com/trezor/trezor-suite/pull/3677#issuecomment-862987407

QA OK 2.0.3 BL empty device > 2.4.0 installed and created new wallet correctly
QA OK 1.8.0 BL, NOFW > 1.10.1 installed
QA OK 1.9.4 FW not init > 1.10.1 asked to reconnect device 2x
QA OK 1.9.4 FW initialized > 1.10.1 asked to reconnect device 2x
QA OK 1.10.1 > 1.10.1 reinstalled correctly
QA OK 1.

[2021-06-21 11:23] STew790 commented on #3332
Info:

QA OK 1.10.1 > 1.10.1 reinstalled correctly
QA OK 2.0.3 BL empty device > 2.4.0 installed and created new wallet correctly
QA OK 1.8.3 FW 1.8.0 BL initialized > 1.10.1 FW asked to reconnect 2x
QA OK 1.4.0 BL empty fresh device onboarded in Win10 app
QA OK 1.4.0 BL fresh device onboarded in Win10 web (tried with Webusb as well and suite forces you to install Trezor Bridge 2.0.27)

[2021-06-21 11:25] sentry[bot] opened #3923 "Error: InvalidStateError: Failed to execute 'transaction' on 'IDBDatabase': The database connection is c..."
Sentry Issue: [TREZOR-SUITE-10](https://sentry.io/organizations/satoshilabs/issues/1683451091/?referrer=github_integration)

[code]

[2021-06-21 11:26] matejkriz commented on #3923
tip from @szymonlesisz : look for `closeAfterTimeout`, try to increase or decrease the timeout

[2021-06-21 11:39] sentry[bot] opened #3924 "auto-updater Error: Uncaught Error: Cannot find latest.yml in the latest release artifacts (https..."
Sentry Issue: [TREZOR-SUITE-1FK](https://sentry.io/organizations/satoshilabs/issues/2454009785/?referrer=github_integration)

[code]

[2021-06-21 11:42] sentry[bot] opened #3925 "FiatRatesFetchError: Failed to fetch: https://cdn.trezor.io/dynamic/coingecko/api/v3/simple/token..."
Sentry Issue: [TREZOR-SUITE-J1](https://sentry.io/organizations/satoshilabs/issues/2276743603/?referrer=github_integration)

[code]

[2021-06-21 11:42] matejkriz commented on #3925
TODO: handle by catch block

[2021-06-21 11:44] sentry[bot] opened #3926 "TypeError: Cannot read property 'blockHeight' of undefined"
Sentry Issue: [TREZOR-SUITE-15Q](https://sentry.io/organizations/satoshilabs/issues/2398085096/?referrer=github_integration)

[code]

[2021-06-21 11:45] tomasklim opened #3927 "Sentry: add source maps"
To make solving issues in Sentry easier, we should solve a problem with missing source maps in Sentry.

We can upload source maps [manually](https://docs.sentry.io/platforms/javascript/sourcemaps/uploading/) or add a plugin to webpack config and it will be solved [automatically](https://docs.sentry.io/platforms/javascript/sourcemaps/) on each release.

[2021-06-21 12:09] goodhoko opened #3928 "Enable Sentry on Dev"
To catch bugs and errors early enable Sentry in staging and development environments. Consider enabling it in integration tests. (To be clear: this doesn't comprise local environments.)

Preferably use Sentry's canonical way to manage multiple environments.

[2021-06-21 13:04] sorooris commented on #3214
I let the apps run again on each device, first with all coins enabled and labelling on (25 hours), then additionally with Tor enabled (25 hours), and did not experience any peaks in memory usage - probably solved by the [Connect PR](https://github.com/trezor/trezor-suite/commit/564b3327af5c56659a20710a761f3c8462c292b8). I propose we close this issue and reopen in case anyone reports again.

 -| Wi

[2021-06-21 14:20] matejkriz commented on #3915
It wasn't only desktop issue nor only 1.6.0 firmware issue - any firmware that requires upgrade on both platforms (native/browser) could do the crash. Fix is on the way (in the review).

[2021-06-21 14:43] #3915 closed, assigned to matejkriz

[2021-06-21 15:52] brad-decker commented on #3882
@matejcik

Just to clarify:

`maxFeePerGas` - the maximum amount you will pay per gas, inclusive of your priority fee and the base fee of the block.
`maxPriorityFeePerGas` - The maximum *tip* that will be paid to the miner to prioritize your transaction above others.

a user could set a really high maxFeePerGas, to ensure that no matter how congested the network their transaction can still be cons

[2021-06-21 20:08] #3214 closed, assigned to tsusanka

[2021-06-22 07:08] bosomt commented on #3915
**QA OK**

Suite offers update to 1.6.3 /see https://github.com/trezor/trezor-suite/issues/3911 /
But it doesn't crash anymore

**Info:**
 - Suite version: desktop 21.6.2 (1ff4cbc91f640b645aa72c59047ffeff01819b1b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 256

[2021-06-22 07:12] bosomt commented on #3915
**QA OK**

Suite offers update to 1.6.3 and updates device over and over again /see https://github.com/trezor/trezor-suite/issues/3911 /
But it doesn't crash anymore

**Info:**
 - Suite version: desktop 21.6.2 (1ff4cbc91f640b645aa72c59047ffeff01819b1b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.2 Chrome/89.0.4389.69 Electron/12.0.0 Safari/53

[2021-06-22 07:18] tomasklim commented on #3913
@bosomt could you please test it once more? I cannot replicate. Moreover, you have `Device: model T 2.4.0 regular` in the info.

[2021-06-22 07:21] bosomt commented on #3911
@tsusanka firmware is installed, and 1.10.1 fw is installed too but suite installs it over and over again with this dialogue till device glitched and crashed and I ended up with device with bootloader 1.10.0 and no seed or firmware. Attached video of that loop + log from suite.

https://youtu.be/044_JQynLK4
[trezor-suite-log-1624345728858.txt](https://github.com/trezor/trezor-suite/files/6692021/t

[2021-06-22 07:50] tomasklim commented on #3913
![Screenshot 2021-06-22 at 9 44 02](https://user-images.githubusercontent.com/33235762/122885354-4d681800-d33f-11eb-8e76-13aa1ab89ce5.png)
![Screenshot 2021-06-22 at 9 50 14](https://user-images.githubusercontent.com/33235762/122885364-4f31db80-d33f-11eb-980d-f5f8190e2012.png)

[2021-06-22 08:03] bosomt commented on #3913
**QA OK**

sorry about confusion with firmware version, Yes I checked it multiple times with model One and it really showed model T hologram.
But I'm glad that it works with latest version that we received last night.
Is it possible that incorrect hologram was only displayed when you connected device with old firmware ?

**Info:**
 - Suite version: desktop 21.6.2 (1ff4cbc91f640b645aa72c59047ffeff0

[2021-06-22 08:09] bosomt commented on #3913
**QA NOK**

I just unpacked fresh device that our customers are currently receiving and it shows model T hologram ;)
It's in deed problem with devices with older bootloader /older but currently shipped to cutomers/

![image](https://user-images.githubusercontent.com/31506317/122888001-b781bc80-d341-11eb-8cfd-5ca61405e891.png)

**Info:**
 - Suite version: desktop 21.6.2 (1ff4cbc91f640b645aa72c59047

[2021-06-22 09:08] jerechinsky commented on #3914
@bosomt could you please try to find out what are the exact differences between this case and for example #3911. Here it says `Your device is already updated to latest firmware. You may reinstall the firmware if needed.` while there it says `Your device has firmware that is no longer supported. You will need to update it`. Is the firmware version the only difference? This leads me to believe that

[2021-06-22 09:47] bosomt commented on #3914
@alex-jerechinsky

I tried to connect device whit 1.9.4 firmware and I have same result. So it doesn't look like problem with old device update logic.
It says `Your device is already updated to latest firmware` again before update is started.

![image](https://user-images.githubusercontent.com/31506317/122903187-742e4a80-d34f-11eb-9930-707063f6b072.png)

[2021-06-22 10:26] jerechinsky commented on #3914
Thank you @bosomt.

For now I updated the copy to be less confusing. @matejkriz could you please try to find out why is Suite showing the `reinstall` modal and not `update`? I'm not sure what was the initial purpose of the `reinstall` modal. In crowdin, I see the `reinstall` string as `TR_FIRMWARE_REINSTALL_FW_DESCRIPTION` while I would be expecting so see `TR_FIRMWARE_NEW_FW_DESCRIPTION` as 1.9.4

[2021-06-22 12:14] #3796 closed, assigned to tomexx

[2021-06-22 13:46] #3910 closed, assigned to tomasklim

[2021-06-22 15:23] sorooris commented on #3881
**QA OK**

- XLarge viewport displays My accounts menu, body and guide in three columns along each other correctly
- smaller than XLarge viewport hides the My accounts menu correctly
- resize hides and displays the menu after reaching viewport breakpoint correctly

Suite: app 21.6.2 1ff4cbc
OS: Windows 10 19042.1052
Device: T1 1.10.1 [3204fd68](https://github.com/trezor/trezor-firmware/commits/320

[2021-06-22 15:29] LukasRada opened #3933 "Eject device doesn't remove send form draft"
It seems there might be questionable behavior about the device eject feature when handling send form drafts.

**Reprosteps:**
1. Open Suite
2. Connect & unlock Trezor
3. Switch 'Rember device' on
4. Open Send form
5. Input any valid value (so the draft is created)
6. Eject device in Suite
7. Connect & unlock the device again
8. Open Send form

**Actual behavior**
Send form draft persists in `index

[2021-06-22 17:12] szymonlesisz opened #3934 "new onboarding inconsistency"
### bridge not installed + webusb is not available (firefox)
current state:
"connect your device" + troubleshooter: "bridge is not running"
after opening troubleshooter:
- "Make sure Trezor Bridge is installed and running" (i don't know HOW to check if its running - there should be a link to bridge status page + it's pointless since we already know that it's not running)
- "Try restarting your com

[2021-06-23 11:33] 573 commented on #3619
See https://discourse.nixos.org/t/add-package-to-appimage-run-without-write-a-new-derivation/11888/2

[2021-06-23 15:02] #3933 closed, assigned to szymonlesisz

[2021-06-23 17:29] bosomt commented on #3910
**QA OK**

<img width="489" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/123141974-41707900-d459-11eb-90a5-c68b7a73b062.png">

**Info:**
 - Suite version: web 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model One 1.10.1 regular

[2021-06-23 17:34] bosomt commented on #3787
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model One 1.10.1 regular

[2021-06-23 17:44] bosomt commented on #3886
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model One 1.10.1 regular

[2021-06-24 05:39] bosomt commented on #3830
**QA NOK**

still present in current dev master

**Info:**
 - Suite version: web 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0 regular

[2021-06-24 09:01] bosomt commented on #3460
**QA OK**

https://github.com/trezor/trezor-suite/pull/3827#issuecomment-863163586

[2021-06-24 09:15] jerechinsky commented on #3355
@trezor/qa could you please retest?

[2021-06-24 09:28] bosomt commented on #3874
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0 regular

[2021-06-24 09:52] tomasklim opened #3938 "T1 bootloader instruction text vs animation inconsistency"
**Describe the bug:**
The animation shows that only 1 button (on T1 >1.8.0) should be pressed to get into bootloader, but the text says to press both.

**Steps to reproduce:**
1. Update firmware
2. Read instructions

**Screenshots:**
<img width="522" alt="Screenshot 2021-06-24 at 9 36 56" src="https://user-images.githubusercontent.com/33235762/123242464-57764c00-d4e2-11eb-979a-222502d33d5f.png">

[2021-06-24 10:10] goodhoko commented on #3797
We agreed on the stand-up today that we'll remove the cancel button altogether. Our general intention is to push users to do the update. Removing the option to cancel it mid-downloading will slightly help us in this manner while affecting the UX minimally.

[2021-06-24 10:29] tomasklim opened #3940 "New onboarding - install firmware - confirm on device missing"
**Describe the bug**
The user is not informed about the fact, that he has to confirm the installation of firmware on device in onboarding.

**Info:**
 - Firmware Version: Trezor T

**Steps to reproduce:**
1. Have TT without firmware
2. Open Suite
3. Get to install firmware step

**Actual result:**
?Sometimes? It is required to confirm installation of fw on device. However, there is no prompt to co

[2021-06-24 10:34] przlada opened #3941 "Transaction with bumped fees don't disappear from the list"
**Describe the bug**
After bumping fees, a new transaction (with updated fees) appears on the transaction list but the previous (one present before fees bump) won't disappear. The previous (unconfirmed) transaction is still present on the send transaction list even after the new transaction is confirmed. The previous transaction disappears from the transaction list after the `trezor-suite` app res

[2021-06-24 10:35] tomasklim opened #3942 "New onboarding - install firmware fails UI"
**Describe the bug**
When the installation of fw in new onboarding fails, user can retry the installation. However, when device is dead, it looks like that it is doing something, but it does not.

**Info:**
 - Firmware Version: T1

**Steps to reproduce:**
1. Device without fw
2. Install fw in onboarding
3. Fail installation of fw
4. Hit retry

**Expected result:**
I should not be able to retry ins

[2021-06-24 11:17] bosomt commented on #3355
@alex-jerechinsky same behvior, see screenshots 11 vs 9 and 5 vs 4

**QA NOK**

**Info:**
 - Suite version: web 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.10.1 regular

_TBTC_12

![image](https://user-images.gith

[2021-06-24 11:42] jerechinsky commented on #3776
@szymonlesisz this was discussed on slack [here](https://satoshilabs.slack.com/archives/C016ACNF1BN/p1621500445003900).

[2021-06-24 11:46] tsusanka commented on #3786
You mean what actions cause this animation? AFAIK it happens only if the number of wallets change.

[2021-06-24 11:54] bosomt commented on #3730
**QA OK**

@alex-jerechinsky
maybe we can consider to change link to support like in old onboarding modal ?
Current `Contact support` leads to https://trezor.io/support/
maybe you can change it to https://trezor.io/support/technical/i-cannot-access-the-wallet/ ?

See https://github.com/trezor/trezor-suite/issues/3886

**Info:**
 - Suite version: web 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f

[2021-06-24 12:05] bosomt opened #3944 "New Onboarding: Copy improvements link to support"
**Describe the bug**

See https://github.com/trezor/trezor-suite/issues/3886 and https://github.com/trezor/trezor-suite/issues/3730#issuecomment-867576763

Please consider to change link to support
Current Contact support leads to https://trezor.io/support/
maybe you can change it to https://trezor.io/support/technical/i-cannot-access-the-wallet/ ?

**Info:**
 - Suite version: web 21.7.0 (89aee551

[2021-06-24 13:41] bosomt commented on #3669
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (89aee5512ea0059de309935684b5be5fb3b1843b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.10.1 regular

+

**Info:**
 - Suite version: desktop 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f)
 - Browser: Mozilla/5.0

[2021-06-25 06:05] bosomt commented on #3805
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (89aee5512ea0059de309935684b5be5fb3b1843b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.10.1 regular

[2021-06-25 08:31] stanislavkozlovski opened #3945 "Issue verifying signature"
**Describe the bug**
Trying to verify the signature of the Trezor Suite I downloaded from https://suite.trezor.io, I had trouble cleanly verifying the GPG signature.

**Info:**
 - Suite Version: 21.6.1
 - OS: Ubuntu 20.04

**Steps to reproduce:**
Following https://wiki.trezor.io/Apps:Trezor_Suite#How_to_run
1. `gpg --import satoshilabs-2021-signing-key.asc`
2. `gpg --verify ./Trezor-Suite-21.6.1-l

[2021-06-25 14:16] bosomt commented on #1634
**QA OK**

both places are offering Bridge download.

<img width="607" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/123438092-a7334100-d5d0-11eb-9e0b-23b901579735.png">

<img width="603" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/123438127-ae5a4f00-d5d0-11eb-9b5b-ea15e3f25e1c.png">

**Info:**
 - Suite version: web 21.7.0 (89aee5512ea0059de3099356

[2021-06-25 15:41] bosomt commented on #2149
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (89aee5512ea0059de309935684b5be5fb3b1843b)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model One 1.10.1 regular

+

**Info:**
 - Suite version: desktop 21.7.0 (b0ea8be015a610b83246d99a57761105259ea84f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS

[2021-06-25 16:09] bosomt commented on #3802
**QA OK**

**Info:**
 - Suite version: desktop 21.6.1 (0ce310eb30cff6396b91939d3293b34e8e50d7c1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.6.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1280x720
 - Device: model One 1.10.1 regular

[2021-06-27 18:17] hiteshpanwar8926 opened #3947 "ReferenceError: Can't find variable: HTMLAnchorElement"
Getting following error while trying to run a dev build for ios (yarn suite:dev:ios).

ReferenceError: Can't find variable: HTMLAnchorElement
Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)

**Info:**
 - Remembered Wallet: yes/no
 - Suite Version: 21.7.0
 - Browser: , version
 - OS:MacOS Big Sur, build
 - Bridge: build version
 - Firmware Versio

[2021-06-28 09:15] #3797 closed, assigned to goodhoko

[2021-06-28 10:06] LukasRada commented on #3299
Unfortunately, it's impossible to determine the minimum threshold reasonably, because of the market volatility. One day the threshold could be $10 and the day after it could be $30 or similar. The question is what's the signal to set the threshold. We suggest to close this issue or if anyone has an idea/solution let's hear it.

[2021-06-28 11:38] asavis opened #3950 "Desktop app: Tor connection issues"
Desktop app Version: 21.6.1
OS: Windows 10 21H1

The same symptoms as in closed #3218 and #2876

Errors seen:

Account discovery error Failed to fetch
Discovery error
Accounts were not loaded properly
Bitcoin: All backends are down
Ethereum: All backends are down

Everything works fine when Tor is disabled. I was not able to get Tor working on previous builds neither.

[2021-06-28 11:42] zmluvny-jednorozec commented on #3910
**QA OK**
- no more huuuge icons.

Info:
**Suite** app version 21.7.0 c6316619a13802197a5a58c0fc1f39aae18db1a7
**OS** Windows 10 Version 10.0.19042.1052
**Device** TT 2.4.0 regular

![image](https://user-images.githubusercontent.com/59280808/123630546-f322f780-d815-11eb-9b0e-283dedfa8d61.png)

[2021-06-28 11:45] wendys-cats commented on #3910
**QA OK**
- no more huuuge icons.

**Info:**
**Suite** app version 21.7.0 c6316619a13802197a5a58c0fc1f39aae18db1a7
**OS** Windows 10 Version 10.0.19042.1052
**Device** TT 2.4.0 regular

![image](https://user-images.githubusercontent.com/59280808/123630546-f322f780-d815-11eb-9b0e-283dedfa8d61.png)

[2021-06-28 11:59] wendys-cats commented on #3669
**QA OK**

Disabling labeling no longer disconnects storage provider.

Info:
**Suite** app version 21.7.0 c6316619a13802197a5a58c0fc1f39aae18db1a7
**OS** Windows 10 Version 10.0.19042.1052
**Device** TT 2.4.0 regular

[2021-06-28 12:38] stepmes opened #3951 "Add new URL for Suite's landing page feedback form"
The link in the bottom left corner at http://suite.trezor.io/ saying "Give feedback" (s. screenshot) should now lead to a new feedback form at "https://satoshilabs.typeform.com/to/BNMEfPun"

<img width="1276" alt="Screen Shot 2021-06-28 at 2 35 03 PM" src="https://user-images.githubusercontent.com/54173889/123637316-29fd0b80-d81e-11eb-8a06-351f7a899dfc.png">

[2021-06-28 13:31] wendys-cats commented on #2149
**QA OK**
- canceling the action results in correct behaviour (toggle no longer switches after canceling)

**Info:**
**Suite** app version 21.7.0 c6316619a13802197a5a58c0fc1f39aae18db1a7
**OS** Windows 10 Version 10.0.19042.1052
**Device** TT 2.4.0 regular

[2021-06-28 13:50] #3913 closed, assigned to tomasklim

[2021-06-28 13:50] #3938 closed, assigned to tomasklim

[2021-06-28 13:50] tomasklim opened #3952 "Analytics 1.11: add timestamp"
After discussion with our analyst, we want to add `timestamp` to every event.

[2021-06-28 14:26] jerechinsky commented on #3849
This design is actually intended as I just found out by digging through a 3 week old slack [thread](https://satoshilabs.slack.com/archives/C01SXSHGK44/p1623060709004000).

Even the vertical paddings are fixed judging by my screencap.

Sorry for disturbance everyone...

[2021-06-28 14:26] #3849 closed, assigned to goodhoko

[2021-06-28 17:08] bosomt commented on #3913
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (d1f46900b29015f165fcc20937538222a0c4cf6c)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model 1 1.4.0 BL

[2021-06-28 17:14] goodhoko commented on #3663
As explained [here](https://github.com/trezor/trezor-suite/pull/3917#issuecomment-869552644) this gets postponed until more work is done on the refactoring of Link itself. Marking as blocked.

[2021-06-29 08:57] CoelWu opened #3957 "Display ERC20 Token Icon before its name"
**Is your feature request related to a problem? Please describe.**
From my opinion, it's easier to distinguish between coins by using their icon instead of names.

**Describe the solution you'd like**
Adding token icon to the position labeled in the picture.
![image](https://user-images.githubusercontent.com/76829607/123767852-61d98100-d8fa-11eb-8076-ef7c5b525166.png)

**Describe alternatives you'

[2021-06-29 11:00] #3952 closed, assigned to tomasklim

[2021-06-29 11:58] stepmes opened #3960 "New onboarding - wrong 3D instruction during Trezor One firmware installation"
**Describe the bug**
When onboarding asks the users to reconnect their Trezor One after a new firmware has been installed, the instruction text says correctly "Do not hold any buttons while connecting the cable", but there is also a 3D animation showing a hand that is holding one button on Trezor One.

**Steps to reproduce:**
Launch new onboarding
Connect Trezor One without any firmware
Proceed wi

[2021-06-29 12:19] jerechinsky commented on #3960
@matejzak do we have an animation where the hand is not holding any buttons?

[2021-06-29 13:31] wendys-cats commented on #3913
**QA OK**

Hologram displayed for T1 is correct.

**Info:**

**Suite version:** app 21.7.0 c6316619a13802197a5a58c0fc1f39aae18db1a7
**OS**: Windows Version 10.0.19042.1052
**Device**: T1 1.4.0 BL and T1 1.10.0 BL

[2021-06-29 14:37] matejkriz commented on #3914
It was a logic issue, wrong condition.

[2021-06-29 14:48] matejkriz commented on #3914
Because "No backup" banner has priority 70 but "Update available" banner has priority 10 - only one of them could be shown.

[2021-06-29 16:12] sorooris commented on #3938
**QA OK**
 1.5.2 | 1.10.0
 -|-
![image](https://user-images.githubusercontent.com/10185314/123830663-cc42ef00-d903-11eb-87e4-4bc566698a0a.png)|![image](https://user-images.githubusercontent.com/10185314/123831840-05c82a00-d905-11eb-8d0a-13bee41fa9cd.png)

Suite: web 21.7.0, develop 550942d
Browser: Chromium 91.0.4472.77
OS: Nixos 21.05
Devices: T1 1.5.2 & 1.10.0

[2021-06-30 08:03] goodhoko commented on #3952
A bit late, but still: What is the motivation for this? A timestamp is currently added to the submitted events *on backend*. Doing that on the client can be unreliable as the client's clock can be off. This seems like we're replacing a working solution with something less reliable. Why?

[2021-06-30 08:07] tomasklim commented on #3952
On the client it is definitely not less reliable. We do not care about user's current system time, we care about time between events. We cannot do that with backend time because it is unreliable because of delays of network.

[2021-06-30 08:23] goodhoko commented on #3952
Very good point that would be very cool to mention in the commit message/PR description/code comment. ,)

[2021-06-30 10:23] slush0 commented on #4512
What's the payload of AOPP signing message? Is that human readable so we don't need to care and only reuse plain signMessage? I don't see any discussion here about how to particularly render AOPP screen.

[2021-06-30 10:33] haarts commented on #4512
The payload can be decided by the exchange/VASP/what have you. I think a short, intelligible message makes sense since the end user is going to sign it. See bullet point 2 here: https://gitlab.com/aopp/address-ownership-proof-protocol/-/blob/master/README.md#specification
An other example can be found on https://demo.aopp.group. Just inspect the link under 'register bitcoin address' (or decode the

[2021-06-30 10:37] andrewkozlik commented on #4512
The payload is required to be ASCII, thus human readable, so we intend to reuse `SignMessage`. It can be up to 1024 ASCII characters, but it is recommended to choose a small message to improve UX using hardware wallets (small screens). The specification will also contain a recommended message style.

[2021-06-30 14:19] stepmes opened #3964 "Settings button: Categories in the popup don't correspond with top navigation tabs in the Settings section."
**Describe the bug**
The categories that appear when a user clicks on the "gear" settings icon in the top right corner of Suite are "Application" "Device" and "Coins". However the top navigation tabs in the Settings section are "General" "Device" and "Coins".

As the "General" top navigation tab in the settings section includes an own subsection that is called "application", I believe that the pop

[2021-06-30 14:40] STew790 commented on #3805
**QA OK**
Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.0 regular

[2021-06-30 14:44] STew790 commented on #3730
**QA OK**

Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.0 regular

[2021-06-30 15:09] STew790 commented on #3802
**QA OK**

Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.0 regular

[2021-06-30 15:11] jerechinsky opened #3965 "remove WebUSB banner"
The macOS WebUSB Chromium bug that stick reported [here](https://bugs.chromium.org/p/chromium/issues/detail?id=1216324) appears to be fixed now. It works in my Chrome 91.0.4472.114. Could we have the WebUSB banner removed?

**Info:**
 - Suite version: web 21.6.1 (0ce310eb30cff6396b91939d3293b34e8e50d7c1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Ge

[2021-06-30 15:15] STew790 commented on #3886
**QA OK**

Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.0 regular

[2021-06-30 16:20] #3934 closed, assigned to glacierbits

[2021-06-30 18:48] goodhoko commented on #3202
Just spent a good portion of my day digging through this. My findings so far:

Despite this issue was closed and then re-opened it was probably never directly addressed. The [linked PR](https://github.com/trezor/trezor-suite/pull/3224) mentioned this issue initially but the mention was later removed and the commits don't seem to do anything in this direction neither. I suspect the [QA](https://git

[2021-06-30 18:51] tsusanka commented on #3965
Removed for `develop`. Could you confirm on `https://suite.corp.sldev.cz/suite-web/develop/`?

[2021-06-30 19:10] vdovhanych commented on #3965
@tsusanka can confirm that it is indeed gone.

[2021-07-01 02:02] uj commented on #3848
Several more reports of this happening recently on forums.

Transactions not showing up in desktop suite, but they show up in web site, for example.

Here are just 3 examples I found with a quick search.  These are not my conversations, so I don't know any details for these, this is just to show that it is happening to multiple people and not just a one-time issue.

https://www.reddit.com/r/TREZOR

[2021-07-01 07:40] glacierbits commented on #3964
@alex-jerechinsky Can you please change the "General" to "Application" in Crowdin? Thanks!

[2021-07-01 08:16] tsusanka commented on #3202
@goodhoko btw are we on latest `electron-builder` and/or `electron-updater`?

[2021-07-01 08:25] tsusanka commented on #3202
Also this could be related? https://github.com/electron-userland/electron-builder/issues/5800

[2021-07-01 08:26] tsusanka commented on #3202
I think we should:
1. Wait for #3670 where node is upgraded (right?)
2. Update electron stuff to latest
3. Check if this does not get fixed

[2021-07-01 08:54] glacierbits opened #3968 "Landing page for new devices"
Let's create a new landing page for new devices: **suite.trezor.io/start** (also redirected from trezor.io/start).

The design will be identical to: **suite.trezor.io** however the copy will be changed (via Crowdin).

[2021-07-01 11:25] sorooris opened #3969 "New onboarding - Analytics opt-out skipped after connecting a device in recovery mode"
**Describe the bug**
Connecting a Model T in recovery mode very briefly displays the Analytics opt-out and redirects to the second step of the onboarding process, preventing the user to opt-out of anonymous data collection.

**Info:**
 - Suite Version: app + web 21.6.2, commit 41f736b3bfb09303a2acfbae5ef2bd55ee73985c
 - Browser: Chrome 91.0.4472.77, Firefox 88.0.1
 - OS: NixOS 21.05, Win10 19042.1

[2021-07-01 11:40] sorooris opened #3970 "New onboarding - Find Trezor button expands CollapsibleBox and opens webUSB modal at the same time"
**Describe the bug**
Selecting the _Find Trezor_ button opens the webUSB modal and expands the CollapsibleBox at the same time when connecting via webUSB in Chrome.

**Info:**
 - Suite Version: web, 21.6.2, commit 41f736b
 - Browser: Chrome 91.0.4472.77
 - OS: NixOS 21.05, Win10 19042.1052
 - Bridge: N/A, **webUSB**
 - Firmware Version: model 1 1.10.1, model T 2.4.0

**Steps to reproduce:**
1. Dis

[2021-07-01 11:47] sorooris opened #3971 "New onboarding - ConnectDevicePrompt inconsistencies"
**Describe the bug**
Implementation of the ConnectDevicePrompt's copy and icon differs from the design provided, suggesting an error state was achieved instead of just a different or other device state.

**Info:**
 - Suite Version: app + web 21.6.2, commit 41f736b3bfb09303a2acfbae5ef2bd55ee73985c
 - Browser: Chrome 91.0.4472.77, Firefox 88.0.1
 - OS: NixOS 21.05, Win10 19042.1052
 - Bridge: 2.0.27

[2021-07-01 12:03] #3823 closed, assigned to goodhoko

[2021-07-01 12:04] #3951 closed, assigned to dimasivan

[2021-07-01 12:05] sorooris opened #3972 "New onboarding - selecting the Download Trezor Bridge link removes the onboarding overlay"
**Describe the bug**
Selecting the Download Bridge link removes the onboarding overlay and displays a download modal - which is inconsistent with the new design

**Info:**
- Suite Version: web 21.6.2, commit 290aab68
- Browser: Chrome 91.0.4472.77
- OS: NixOS 21.05, Win10 19042.1052
- Bridge: N/A, webUSB
- Firmware Version: model 1 1.10.1, model T 2.4.0

**Steps to reproduce:**
1. Disable Bridge p

[2021-07-01 12:31] goodhoko commented on #3202
Good point! We're currently 5 patches behind the latest. Here's a [PR](https://github.com/trezor/trezor-suite/pull/3974) that bumps it to the latest version. That should be safe operation supposing `electron-updater` maintainers obey the semver semantics.

I have that issue in mind. I wanted to enable the `electron-updater` logs to asses whether it's the same problem or not.

ACK. We can also do 2

[2021-07-01 12:40] sorooris commented on #3079
**QA NOK**

Restarting app after autoupdate triggers an install wizard.

Suite: app 21.6.2
OS: NixOS 21.05, Win10 19042.1052
Bridge: 2.0.31
Device: model T 2.4.0

[2021-07-01 12:42] #3776 closed, assigned to szymonlesisz, jerechinsky

[2021-07-01 12:44] prusnak commented on #3079
The silent behaviour was reverted in 73bf160cbfe9c869815cbe941efede72554f91d7 which was part of PR https://github.com/trezor/trezor-suite/pull/3224

Not sure what was the reason for that, because the commit message does not say anything about it. Maybe it was an attempt to fix https://github.com/trezor/trezor-suite/issues/3203 ?

[2021-07-01 13:50] goodhoko commented on #3823
@trezor/qa  The intended behaviour is described in [this commit](https://github.com/trezor/trezor-suite/commit/3d123d44b5d65bb825a19c403f7a366e89efa6e7):

[2021-07-01 14:40] czee opened #3977 "Keep existing label when editing"
Editing a label for a transaction currently clears the entire label.

It would be nice to be able to simply edit a label without it being cleared.

[2021-07-01 15:58] tsusanka commented on #3079
Yeah I believe so but I guess we can try again. However, I would like this assessed this first from Product whether we really should deal with it, for example @STew790 mentioned it did not seem _that_ weird to him and that he saw it in other apps. @stepmes have you seen this in the user feedback by any chance?

[2021-07-02 10:07] stepmes opened #3981 "New onboarding: Trezor One FW update contains instruction for TT instead of T1."
**Describe the bug**
Updating FW on Trezor One through new onboarding. Suite asks to "Reconnect your Trezor in bootloader mode"
- First screen shows two steps 1) Disconnect your Trezor 2) Hold left button while connecting the cable
- Second screen after users disconnects Trezor shows two steps 1) "Disconnect your Trezor" 2) "Swipe your finger across the screen while connecting the cable", which is

[2021-07-02 10:46] bosomt opened #3982 "LIBUSB_ERROR_ACCESS when starting T1 recovery"
**Describe the bug**
Happened 2 times of 4 times i wiped and recovered my device today. This error sometimes occur but so far no idea why and how to trigger it every-time.
Attached one screenshot and log /happened twice during this Suite run/

**Steps to reproduce:**
1. Wipe device model One
2. Start recovery without disconnecting device
3. Repeat till you see error

**Info:**
 - Suite version: de

[2021-07-02 11:03] #3807 closed, assigned to szymonlesisz, glacierbits

[2021-07-02 11:05] goodhoko commented on #3807
@trezor/qa @szymonlesisz desribed the desired behaviour in the [PR description](https://github.com/trezor/trezor-suite/pull/3980#issue-682104745).

[2021-07-02 11:27] tsusanka commented on #3982
Using bundled-in Bridge therefore version 2.0.31?

[2021-07-02 11:41] glacierbits opened #3983 "Replace 3D image with 2D icon"
Usability test carried out by @stepmes proved the current 3D image (entry point to the product Guide placed at the right bottom corner of the app - see screenshot) is confusing to users.

Please replace it with 2D image: [**Zeplin**](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/styleguide/components?coid=60b760283ec16c6a2ad345b1)

<img width="75" alt="Screen Shot 2021-07-02 at 13 40 43"

[2021-07-02 11:55] bosomt commented on #3982
@tsusanka using ` Version: 2.0.31 (rev 5f53132) `

[2021-07-02 12:38] goodhoko commented on #3968
Done in #3978

I'll push the translation keys to crowdin soon.

[2021-07-02 13:27] goodhoko commented on #3968
## Next steps
@matejzak The translations keys are now in Crowdin. You can find all of them in the green-highlighted area [here](https://github.com/trezor/trezor-suite/pull/3978/files#diff-988baecac61429698981f7b86b979d1627f33f484918f65402c4b345b5c57cba). Please edit the copy as you wish and then assign this back to me.

## Before launch
- We'll need to do the Crowdin sync once again before release

[2021-07-02 13:47] tsusanka commented on #3968
The landing page is part of the deployment process as well so there is nothing to do extra luckily.

[2021-07-02 13:59] STew790 commented on #3787
**QA OK**

Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model 1 1.10.1 regular

[2021-07-02 14:06] STew790 commented on #3460
**QA OK**

Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.0 regular

[2021-07-02 14:16] STew790 commented on #1634
**QA OK**

Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model 1 1.10.1 regular

[2021-07-02 14:20] STew790 commented on #3888
**QA OK**![image](https://user-images.githubusercontent.com/48477147/124288297-4f0cb980-db51-11eb-9e90-9a33a6b0155b.png)
Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080

[2021-07-02 14:33] STew790 commented on #3776
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/124289878-153cb280-db53-11eb-879a-4362a06bcb2d.png)
![image](https://user-images.githubusercontent.com/48477147/124289900-1b329380-db53-11eb-944d-f380f28df08b.png)

Info:
 - Suite version: desktop 21.7.0 (550942dcbdb7b2ffc17519f8307a47f2d8d060f1)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, l

[2021-07-02 15:13] stepmes opened #3986 "New onboarding: Trezor T FW update is missing animated instructions to enter bootloader mode"
**Describe the bug**
Starting FW update on TT through new onboarding: Animated instructions are missing, s. screenshot.

**Info:**
Suite Version: https://suite.corp.sldev.cz/suite-web/develop/web
Browser: Chrome Version 91.0.4472.114
OS: MacOS BigSur 11.4

**Steps to reproduce:**
1. Connect Trezor T with an outdated FW
2. Go through new onboarding
3. Start firmware update

**Screenshots:**
insert

[2021-07-02 15:33] stepmes opened #3987 "New onboarding: Activate coins screen contains a broken string"
Description:
The activate coins screen in the new onboarding seems to contain a broken string - the info about how many coins are available and how many are activated. please s. screenshot

Info:
Suite Version: https://suite.corp.sldev.cz/suite-web/develop/web
Browser: Chrome Version 91.0.4472.114
OS: MacOS BigSur 11.4

Steps to reproduce:
1. Connect TT
2. Progress through the new onboarding to th

[2021-07-02 16:35] stepmes opened #3988 "New onboarding: Missing picture of Trezor on the last screen"
Description:
At the very end of the new onboarding, the picture of Trezor is missing. Please s. screenshot

Info:
Suite Version: https://suite.corp.sldev.cz/suite-web/develop/web/
Browser: Chrome Version 91.0.4472.114
OS: MacOS BigSur 11.4

Steps to reproduce:
- Connect Trezor T
- Go through new onboarding until you reach the last screen with "Edit name" "Change Homescreen"

Screenshot
<img width=

[2021-07-02 23:24] Dominator1013 commented on #3550
Hi when can we expect full support for Cardano to be finished? Any possible date estimation? Also would it be for both trezor model 1 and model T ? Or only Model T? @matejzak

Thanks!