[2020-10-27 02:57] HikariWS commented on #2445
I guess that we can expect Tor users to know how to install it. It's better than having it bundled and get outdated.

Anyway, I'd rather have good old proxy feature. Let us just set our proxy. We can use HTTP or HTTPS for any proxy we have, or SOCKS5 for Tor installed locally or in a LAN server or hidden server anywhere.

I don't run Tor locally anymore, but I used to use Vidalia. It's not maintai

[2020-10-27 09:20] #2705 closed, assigned to martinboehm

[2020-10-27 09:54] #2694 closed, assigned to tomexx

[2020-10-27 09:55] tsusanka commented on #2691
We have agreed with Invity they will try to do this asap. They will aim to Friday/Monday to make it into the release.

[2020-10-27 10:23] sorooris commented on #2757
Neither staging exchange nor production API servers are accessible.

OS: macOS Catalina 10.15.7
Suite: app 20.11.0 staging 46ab9e5b99354942d8ddec2df8ccc5db734c12be
Device: model T 2.3.4 50854b921

[2020-10-27 12:09] tsusanka opened #2764 "Support Zcash Canopy hardfork"
The Zcash network will undergo its next network upgrade, named Canopy, at blockheight 1046400, which is expected to be mined on approximately November 18th.

We need to start sending `0xE9FF75A6` as the new consensus branch id. That should be all that's required.

This PR could help: https://github.com/trezor/trezor-suite/pull/2072/files.

We should include this in the upcoming release :/.

----

[2020-10-27 12:12] tsusanka commented on #2764
And I am afraid we need to do that for the old wallet as well :/. https://github.com/satoshilabs/mytrezor/issues/958

[2020-10-27 12:26] martinboehm commented on #2757
You will have to use new binaries when the PR #2762 is merged to develop.

[2020-10-27 12:40] glacierbits opened #2765 "Receive icon in TX detail"
Incorrect receive icon.

Receive and Sent icon in TX detail should be different (inboud vs. outbound arrow).

<img width="836" alt="Screenshot 2020-10-27 at 13 22 14" src="https://user-images.githubusercontent.com/29627086/97300972-72ab9180-1857-11eb-8be5-e0ca37675d5d.png">

[2020-10-27 12:45] glacierbits commented on #1856
@robertbrada Please make the `Fiat` amount in transaction detail the actual amount the user sent (not just the fee).

[2020-10-27 13:05] #2711 closed, assigned to nobody

[2020-10-27 13:08] #2632 closed, assigned to mroz22

[2020-10-27 13:19] bosomt opened #2768 "Firmware update modals inconsistency"
**Info:**
 - OS: Kubuntu 20.04
 - Wallet Version: app, commit 46ab9e5b99354942d8ddec2df8ccc5db734c12be
 - Firmware Version: model T firmware 2.3.3,

**Describe the bug**
+ Firmware update modals look inconsistent. They use different headers and alignments.
+ Main reason why i'm sending this issue: it's not possible to close second step.
Only thing you can do is to confirm that you have seed, First

[2020-10-27 13:36] #2731 closed, assigned to mroz22

[2020-10-27 13:38] #2477 closed, assigned to szymonlesisz

[2020-10-27 14:00] glacierbits opened #2770 "Coin control 🎯"
**The aim is to allow users to opt-in for manual coin selection instead of automatic coin selection when making an outgoing transaction.**

Automatic coin selection should remain default, users have to be informed, that switching to manual will let them take control of their strategy for transaction optimisation.

<details close>
<summary>Default Send flow in Suite will remain almost untouched, ex

[2020-10-27 14:02] tomexx commented on #2761
I cannot reproduce the moving issue on my Mac. I tried dev mode and Mac build from both release branch `46ab9e5b99354942d8ddec2df8ccc5db734c12be` and commit `48edc16001ac0aad3085575774c65bc3b30e5501`) but it does work as expected.

Regarding the design, it was approved by @matejzak so if you think it is not correct, please discuss with him first. Thx

[2020-10-27 14:20] keraf commented on #2761
I can reproduce it on the test Mac but I have no idea what could cause this. I've played around with `-webkit-app-region: drag;` but nothing helped. I have the feeling that I'm missing something really obvious :sweat_smile: I'm also very unfamiliar with this platform, any help would be appreciated!

Edit: The issue only happens while the Dev Tools are open. Not sure why and the fix from what I see

[2020-10-27 14:25] #2761 closed, assigned to tomexx

[2020-10-27 14:28] vladimirvolek opened #2771 "Unify the desktop app header on Mac OS"
Screenshot of different apps and the suite.

![image](https://user-images.githubusercontent.com/3112191/97315189-be1a6b80-1868-11eb-8db2-24c59789590e.png)

[2020-10-27 14:29] vladimirvolek commented on #2761
Created https://github.com/trezor/trezor-suite/issues/2771

[2020-10-27 16:57] martinboehm opened #2774 "Invity - improve external pages opening in the desktop version"
- move invity urls from allowedExternalUrls to invityUrls
- drop ELECTRON_RECEIVER_SERVER usage (buyUtils), always redirect to the same url regardless of the environment and handle request in electron handleExternalLink function (invityUrls validation)

[2020-10-27 17:16] wendys-cats commented on #2602
**QA OK**
Browser Chromium 85 OS nixOS
Suite web d9ca3ad66cc33ddecb9b55121891d1a456d16e4c
Device TT 2.3.4 public revision 50854b921

[2020-10-27 20:43] mroz22 commented on #2467
Could not reproduce today. I am removing the "high priority" label until someone can repro

[2020-10-28 00:03] sorooris commented on #2757
Flow is functionally **OK** but it's not apparent in the default desktop app window size that there is a list of transactions on the screen when returning from the provider's payment gateway -> payment detail -> the Account/Trade tab.

There are missing indications that the list of transactions is present under the CoinmarketLayout__Content element - user has to (accidentally) scroll down the scre

[2020-10-28 11:13] wendys-cats opened #2779 "Country select does not stay selected after going back to account"
**Info:**
 - OS: Nixos
 - Browser: Chromium , version 85
 - Suite Version: web, commit aa1c2341473ee9285ced799ddbb23229627874bc
 - Firmware Version: model 2.3.4, revision 50854b921

**Describe the bug**
Country select does not stay saved after going back from Compare offers via upper left button with account name, like the rest (FIAT type, price input) is.

**Steps to reproduce:**
1. Go to Account

[2020-10-28 11:38] #2765 closed, assigned to robertbrada

[2020-10-28 11:53] tsusanka commented on #2757
@sorooris could you open a new issue for this? So we can tackle it properly later. You're right it would be nice if it would get scrolled down so you get some visual feedback. Seems like a new issue though.

[2020-10-28 12:52] #2706 closed, assigned to keraf

[2020-10-28 13:15] tsusanka commented on #2719
To elaborate on this: yes if the user has an older bridge installed they will use the older one than what is bundled inside suite. We believe we can live with that since:

1) If the older bridge is working just fine then why not.
2) Bridge changes are quite rare.
3) If any problem arises we can simply instruct the user to uninstall.

[2020-10-28 14:11] sorooris opened #2782 "Trade, Buy - Missing visual indication of previous trade transactions in default app window size"
OS: macOS Catalina 10.15.7
Suite: app 20.11.0 staging aa1c2341473ee9285ced799ddbb23229627874bc
Device: model T 2.3.4 50854b921

**Describe the bug**
It's not apparent in the default desktop app window size that there is a list of trades on the screen when returning from the provider's payment gateway -> payment detail -> the Account/Trade tab.

**Steps to reproduce:**
Prequisite - default app wind

[2020-10-28 14:17] sorooris commented on #2757
Opened a new issue #2782, closing this one.

[2020-10-28 14:17] #2757 closed, assigned to tsusanka, martinboehm

[2020-10-28 14:58] glacierbits opened #2784 "Send: Design improvements"
- [x] **Avoid custom fee "jumpy" white box** : [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5efc87aefaf0aa9cd861d17f)
Fee segmented control > e.g. change from Normal to Custom > Result: White box decreases in height

~~- [ ] **Fiat dropdown** (Should be fixed by #2480)
The arrow should appear on hover on the whole input (discussed with Invity, they need for it to work thi

[2020-10-28 14:58] glacierbits commented on #2280
To be continued in #2784

[2020-10-28 15:03] glacierbits opened #2785 "Update copy"
- [x] Danger area (Coin Settings)

[2020-10-28 15:16] slowbackspace commented on #2280
reopening as the PR is not merged yet

[2020-10-28 17:12] szymonlesisz commented on #2193
i did variant "d"

![Screenshot 2020-10-28 at 17 14 03](https://user-images.githubusercontent.com/3435913/97468243-584fe180-1945-11eb-9ff6-f05411c39225.png)
![Screenshot 2020-10-28 at 17 42 53](https://user-images.githubusercontent.com/3435913/97468262-5dad2c00-1945-11eb-823a-2c8254654589.png)

[2020-10-28 18:21] keraf commented on #2785
Let's call it.... danger zone :sunglasses:

[2020-10-28 18:52] #2193 closed, assigned to szymonlesisz

[2020-10-28 20:41] glacierbits commented on #2771
@tomexx, please also consider:

- [x] MacOS standard icons within the `close – maximaze – minimaze` buttons.  <img width="60" alt="Screenshot 2020-10-28 at 21 32 14" src="https://user-images.githubusercontent.com/29627086/97493296-0d45c680-1965-11eb-88ed-e0a1ec106c33.png">

- [x] Make the buttons disabled when other window is active ([Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/

[2020-10-28 21:34] glacierbits commented on #2673
@tomexx Share image and metatags below 🤗

![Frame 74](https://user-images.githubusercontent.com/29627086/97498925-4eda6f80-196d-11eb-8f54-ae8cfe76ce62.png)

[code]

[2020-10-28 22:00] glacierbits commented on #2625
Assigning to myself. I agree the copy (written in good faith by our colleagues hired after Shamir launch) is not ideal to begin with.

[2020-10-29 09:08] bosomt opened #2790 "Trade - country flag icons missing in Windows"
**Info:**
 - OS: Windows 10
 - Browser: Firefox 82 + Chrome 81
 - Wallet Version: app + web, commit aa1c2341473ee9285ced799ddbb23229627874bc
 - Firmware Version: 2.3.3 model T

**Describe the bug**

There are missing country flags in `Offers for` country selector in Trade tab.
They are replaced by misaligned text.

**Steps to reproduce:**
1. Start or load Suite in current Windows 10
2. Visit Trade

[2020-10-29 09:11] mroz22 commented on #2659
Ah, I see. This was hotfixed for chrome only by error string matching and replacing it with something reasonable only until this is fixed where it should be fixed (connect or maybe even lower). But different browsers vary in "copy" for errors. So I guess this workarounding does not make sense and I shall focus on fixing it in connect.

[2020-10-29 09:16] #2648 closed, assigned to glacierbits, mroz22

[2020-10-29 10:02] bosomt opened #2792 "Trade - fiatInput and cryptoInput validations logic"
**Info:**
 - OS: Nixos + Windows
 - Browser:Chromium  , version 86.0.4240.111
 - Wallet Version: app + web, commit aa1c2341473ee9285ced799ddbb23229627874bc
 - Firmware Version: FW 2.3.3 + 2.3.4 model T

**Describe the bug**
Input of fields fiatInput and cryptoInput have issue with validations when you try to display trade offers
Please see video.

**Steps to reproduce:**
1. load suite and navigate

[2020-10-29 11:05] slowbackspace commented on #2319
Discussed with @matejzak, the current implementation is indeed what the product wanted, but it was noted that UX is lacking and it will be improved in the future. Thank you all! 🙇

[2020-10-29 11:05] #2319 closed, assigned to slowbackspace

[2020-10-29 11:18] wendys-cats opened #2793 "Accounts bar in APP is missing bottom part"
**Info:**
 - OS: Windows 10 Home Edition (happens also on NixOS)
 - Suite Version: app commit 46ab9e5b99354942d8ddec2df8ccc5db734c12be
 - Firmware Version: model  TT 2.3.4 , revision public

**Describe the bug**
Accounts bar is missing a small part on the bottom of the app when scrolling is necessary - FIAT amount for the last account is not seen. And if legacy accounts are wrapped up and scrollin

[2020-10-29 11:45] mroz22 commented on #2671
I am moving this to another release. It could be optimized but I'd rather not touch it now.

[2020-10-29 12:05] szymonlesisz opened #2796 "remove zcash fork temporary code after 18.11"
https://github.com/trezor/trezor-suite/pull/2795/commits/33e524beac69640ebd4a3914a1b8514cfe56e8a8

And think how to do it better in the future, ideal candidate for remote updates #2752

[2020-10-29 14:52] #2280 closed, assigned to slowbackspace

[2020-10-29 15:03] #2653 closed, assigned to mroz22

[2020-10-29 16:19] glacierbits commented on #2445
@keraf Design 🎁

[Navigation](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f6b0073aa3cbd1a4cd1a5af)
[Settings](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f9ada84ded3b42328e3152d)

[2020-10-29 16:33] szymonlesisz commented on #2764
suite part is ready, there is no way to test it on mainnet. but i did it in exact same way as previous fork so in 99.9% it will work :)
https://github.com/trezor/trezor-suite/pull/2795/commits/33e524beac69640ebd4a3914a1b8514cfe56e8a8

additionally i've created a branch with added "Zcash Testnet" coin where this fork is already implemented (new branch id is required) and looks like it's working
htt

[2020-10-29 16:39] sorooris opened #2799 "Send, csv Import - empty line break imported into form as an empty entry"
Suite: web, _feat/import-tx/_ bf0b16915a034010cebf1c825e7fca47dbe9771d
Browser: Chromium 86.0.4240.111
OS: NixOS 20.09
Firmware Version: 2.3.4 50854b921

**Describe the bug**
A line with no characters imported as an empty entry when importing a csv file with transactions.

**Steps to reproduce:**
1. Navigate to Send tab of an arbitrary coin,
2. Select import in the Send form menu,
3. Import a csv

[2020-10-29 17:35] sorooris opened #2801 "Send, csv Import - currency selector filled with coin abbreviation"
Suite: web, _feat/import-tx/_ bf0b16915a034010cebf1c825e7fca47dbe9771d
Browser: Chromium 86.0.4240.111
OS: NixOS 20.09
Firmware Version: 2.3.4 50854b921

**Describe the bug**
Fiat select filled with coin abbreviation.

**Steps to reproduce:**
1. Navigate to Send tab of an arbitrary coin,
2. Select import in the Send form menu,
3. Import a csv file with mixed coins (for example BTC and LTC) in the

[2020-10-29 17:44] sorooris opened #2802 "Send, csv Import - Fiat dropdown select clipped"
Suite: web, _feat/import-tx/_ bf0b16915a034010cebf1c825e7fca47dbe9771d
Browser: Chromium 86.0.4240.111
OS: NixOS 20.09
Firmware Version: 2.3.4 50854b921

**Describe the bug**

**Steps to reproduce:**
1. Navigate to Send tab of an arbitrary coin,
2. Select the dropdown select,
3. Observe.

**Actual result:**
Currency dropdown select is clipped when selected.

**Expected result:**
Currency dropdown

[2020-10-29 18:46] #2655 closed, assigned to keraf

[2020-10-29 18:46] #2719 closed, assigned to keraf

[2020-10-29 18:53] szymonlesisz commented on #2802
@slowbackspace animation wrapper overflow hidden?

[2020-10-29 19:21] sorooris opened #2803 "Send, csv Import - Suite freezes after importing 3+ address csv file"
Suite: web, _feat/import-tx/_ bf0b16915a034010cebf1c825e7fca47dbe9771d
Browser: Chromium 86.0.4240.111
OS: NixOS 20.09
Firmware Version: 2.3.4 50854b921

**Describe the bug**
Importing a csv file with more than 3 addresses causes the app to freeze.

**Steps to reproduce:**
1. Navigate to Send tab of an arbitrary coin,
2. Select import in the Send form menu,
3. Import a csv file with at least 4 add

[2020-10-29 19:29] szymonlesisz commented on #2801
turns out we do have rates in other cryptocurrencies, so it was false-positive rate was found it it wasn't a fiat rate :)

[2020-10-29 21:17] szymonlesisz commented on #2802
yes, thats it, tmp solution: https://github.com/trezor/trezor-suite/pull/2704/commits/cfeb4eb7638bbdf50fd908c366ab13dcf924369c

[2020-10-29 21:33] vladimirvolek opened #2807 "Weird behavior in the passphrase input"
Test case:

1. write some words

![image](https://user-images.githubusercontent.com/3112191/97634068-64b36780-1a35-11eb-9f69-15fcae0fe214.png)

2. move cursor

![image](https://user-images.githubusercontent.com/3112191/97634135-7a289180-1a35-11eb-9d49-86e6b5517478.png)

3. click backspace

![image](https://user-images.githubusercontent.com/3112191/97634183-890f4400-1a35-11eb-894a-21de28014c7a.png)

[2020-10-29 22:56] glacierbits opened #2808 "Misaligned labels"
`Sent to myself` label is positioned lower than `12:22 PM`

<img width="305" alt="Screenshot 2020-10-29 at 23 52 28" src="https://user-images.githubusercontent.com/29627086/97640810-d5f91780-1a41-11eb-8d31-39c464d3402a.png">

[2020-10-29 22:59] glacierbits opened #2809 "Multiple recipients sent misalignment"
Might be related (🤷🏽‍♀️) to #2808

<img width="828" alt="Screenshot 2020-10-29 at 23 57 15" src="https://user-images.githubusercontent.com/29627086/97641186-954dce00-1a42-11eb-8ce0-837d738f9a3f.png">

[2020-10-29 23:27] glacierbits opened #2810 "Account tabs: Fixed content"
Let's fix the white boxes in all Accounts tabs in the same position, so they don't seemingly jump up and down when switching between Overview – Receive – Send – Trade.

Thats means moving the white box in `Receive` and `Trade` down to match the exact position of the white box in `Overview` and `Send`.

[2020-10-29 23:44] glacierbits opened #2811 "Add link to our roadmap to Suite landing page"
Let's add link to our roadmap to the footer of the suite.trezor.io landing page.

Please add "Roadmap" under the **Follow** category.

Link to the roadmap: https://github.com/orgs/trezor/projects/28?fullscreen=true

<img width="377" alt="Screenshot 2020-10-30 at 00 41 35" src="https://user-images.githubusercontent.com/29627086/97643741-d34df080-1a48-11eb-8bfb-2268eff30221.png">

[2020-10-29 23:59] glacierbits commented on #2625
Fixed in Crowind. Changes to propagate upon @slowbackspace's sync magic.

[2020-10-30 00:00] glacierbits commented on #2785
Copy updated.

[2020-10-30 00:00] #2785 closed, assigned to glacierbits

[2020-10-30 00:25] glacierbits opened #2812 "Add context notification to BCH accounts"
We need to inform the users about the upcoming hard fork on November 15.

Copy (±): "Bitcoin Cash will undergo a contentious fork on the 15th of November 2020, which could cause a split in the network. Learn more {link to our blog}

[2020-10-30 07:02] mroz22 commented on #2808
Ah, I guess this might be due to the button which is little higher then the text

[2020-10-30 07:44] mroz22 commented on #2710
Shall be fixed by https://github.com/trezor/connect/pull/700

[2020-10-30 07:49] mroz22 opened #2813 "Fw update - multiple devices"
Investigate

[2020-10-30 07:50] mroz22 opened #2814 "Fw update - privacy badger"
Investigate.

[2020-10-30 09:04] szymonlesisz commented on #2803
should be fixed

[2020-10-30 09:04] szymonlesisz commented on #2802
should be fixed (temporary solution, will be done better)

[2020-10-30 09:05] szymonlesisz commented on #2801
should be fixed

[2020-10-30 09:05] szymonlesisz commented on #2799
should be fixed

[2020-10-30 09:27] prusnak commented on #2812
I'd like to put more emphasis on reading our detailed blogpost; maybe this will do?

**Bitcoin Cash will undergo a contentious fork on the 15th of November 2020, which could cause a split in the network.**
**Read <ins>our blogpost</ins> to understand the risks!**

[2020-10-30 09:43] #2673 closed, assigned to tomexx

[2020-10-30 09:58] tsusanka commented on #2613
Actually I would also like to get into settings before plugging in device. That's even a prerequisite for people that want to set their own blockbook instance.

[2020-10-30 10:54] glacierbits opened #2818 "Tor design"
Navigation: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f6b0073aa3cbd1a4cd1a5af)

- Let's have the Tor icon present at all times. Active state with the green check. Inactive state without.
- Tooltip on hover. The only copy change is "inactive" or "active" base on the state.

Settings: [Zeplin ](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f9ada84ded3b4

[2020-10-30 11:31] vladimirvolek opened #2820 "Send - fiat and token options are not visible"
**Info:**
https://suite.corp.sldev.cz/suite-web/develop/web/accounts/send/#/eth/0

**Describe the bug**
Token and fiat options are not visible

**Steps to reproduce:**
1. Go to send the send form
2. Click token or fiat select

**Expected result:**
Options are visible

**Actual result:**
Options are not visible

**Screenshots:**
![image](https://user-images.githubusercontent.com/3112191/97700123-96

[2020-10-30 12:17] #2771 closed, assigned to tomexx

[2020-10-30 12:52] bosomt commented on #2193
**QA OK**

very nice solution, tested with standard,segwit and legacy accounts

Nixos + Chromium 86.0.4240.111
suite dev web master commit fd905e582511d130cc5611bc32729ad2d3b9db18
Device model T firmware 2.3.3 commit 0d5f00668

[2020-10-30 14:31] #2453 closed, assigned to robertbrada

[2020-10-30 14:32] #2820 closed, assigned to nobody

[2020-10-30 14:39] slowbackspace commented on #2652
should be fixed in https://github.com/trezor/trezor-suite/pull/2821
@trezor/qa please test the s..t out of it

[2020-10-30 14:39] #2652 closed, assigned to slowbackspace

[2020-10-30 15:16] sorooris commented on #2803
**QA OK**

Suite: web, _feat/import-tx/_ cfeb4eb7638bbdf50fd908c366ab13dcf924369c
Browser: Chromium 86.0.4240.111
OS: NixOS 20.09
Firmware Version: 2.3.4 50854b921

[2020-10-30 15:16] #2803 closed, assigned to szymonlesisz

[2020-10-30 15:17] sorooris commented on #2799
**QA OK**

Suite: web, _feat/import-tx/_ cfeb4eb7638bbdf50fd908c366ab13dcf924369c
Browser: Chromium 86.0.4240.111
OS: NixOS 20.09
Firmware Version: 2.3.4 50854b921

[2020-10-30 15:17] #2799 closed, assigned to szymonlesisz

[2020-10-30 15:18] sorooris commented on #2802
**QA OK**

Suite: web, _feat/import-tx/_ cfeb4eb7638bbdf50fd908c366ab13dcf924369c
Browser: Chromium 86.0.4240.111
OS: NixOS 20.09
Firmware Version: 2.3.4 50854b921

[2020-10-30 15:18] #2802 closed, assigned to slowbackspace

[2020-10-30 15:20] sorooris commented on #2801
**QA OK**

Suite: web, _feat/import-tx/_ cfeb4eb7638bbdf50fd908c366ab13dcf924369c
Browser: Chromium 86.0.4240.111
OS: NixOS 20.09
Firmware Version: 2.3.4 50854b921

[2020-10-30 15:20] #2801 closed, assigned to szymonlesisz

[2020-10-30 16:12] bosomt commented on #2706
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite web dev master commit a5b13d5d92e15f9ee9c1af1b117804cd671c248b
Device model TT FW 2.3.3 commit 0d5f00668

[2020-10-30 16:15] bosomt commented on #2765
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite web dev master commit a5b13d5
Device model TT FW 2.3.3 commit 0d5f00668

[2020-10-30 16:16] bosomt commented on #2688
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite web dev master commit a5b13d5
Device model TT FW 2.3.3 commit 0d5f00668

[2020-10-30 16:19] bosomt commented on #2694
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite web dev master commit a5b13d5
Device model TT FW 2.3.3 commit 0d5f00668

[2020-10-30 16:22] bosomt commented on #2453
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite web dev master commit a5b13d5
Device model TT FW 2.3.3 commit 0d5f00668

[2020-10-30 16:28] tsusanka commented on #2764
So we can close?

[2020-10-30 22:21] tomexx commented on #2818
I tried to make it close to the design, it's pushed to Raf's Tor PR https://github.com/trezor/trezor-suite/pull/2576

@matejzak Please later specify texts for Tor settings, there are dummy texts for now. Thx

[2020-11-02 09:09] #2625 closed, assigned to glacierbits

[2020-11-02 09:16] glacierbits opened #2826 "Tor copy"

[2020-11-02 09:40] #2713 closed, assigned to robertbrada

[2020-11-02 09:48] szymonlesisz commented on #2764
from the suite point of view yes, its ready but maybe leave it opened until implemented in old wallet

[2020-11-02 09:50] glacierbits commented on #2818
@keraf Can you please add description for Tor Settings? I think you are the best candidate to nail it..

[2020-11-02 09:54] prusnak commented on #2764
Old wallet has it's own issue - https://github.com/satoshilabs/mytrezor/issues/958

Closing

[2020-11-02 09:54] #2764 closed, assigned to szymonlesisz

[2020-11-02 11:19] tsusanka opened #2828 "Update BCH fork blog link when available"
Cont of https://github.com/trezor/trezor-suite/pull/2819

[2020-11-02 11:30] keraf opened #2829 "Chore(suite-desktop): Refactor/Reorganise code in electron source"
The electron file grew a bit messy. We should look at refactoring/reorganising the code and split it out in separate files.

Ideally, this should also prepare the field for testing.

[2020-11-02 11:44] #2691 closed, assigned to martinboehm

[2020-11-02 13:55] wendys-cats commented on #2558
**QA NOK**
**Suite** web develop branch commit f06aff6c9282977e76f17857073fd85704fb7118
**OS** NixOS + Chromium 85
**Device** TT 2.3.4 public **AND** T1 1.8.3 revision 0xdf0963ec48f01f3d07ffca556e21ff0070cab099

**Actual**
Images are not the same (disconnected device has the same icon as a connected). No animation, sadly.

**Expected**
Promies animation. Icons will correspond with Zeplin (differen

[2020-11-02 14:00] szymonlesisz commented on #2659
should by fixed by https://github.com/trezor/connect/commit/966f51d897e7d84cffe169a51aed13fb0377da31

[2020-11-02 14:00] szymonlesisz commented on #2364
already merged

[2020-11-02 14:00] #2364 closed, assigned to szymonlesisz

[2020-11-02 14:05] wendys-cats commented on #2713
**QA OK**

**Suite** Web develop branch commit f06aff6c9282977e76f17857073fd85704fb7118
**OS** NixOS + Chromium 85
**Device** T1 1.9.3 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8

Create Backup checkboxes are aligned.

[2020-11-02 14:30] bosomt commented on #2673
**QA OK**

Nixos + Chromium 86.0.4240.111
Suite web dev master commit f06aff6c9282977e76f17857073fd85704fb7118

[2020-11-02 14:31] keraf opened #2832 "Invity: DBObjectSore error when buying"
**Info:**
 - OS: Ubuntu 20.04
 - Browser: Desktop (dev)
 - Wallet Version: develop / a5b13d5d92e15f9ee9c1af1b117804cd671c248b
 - Firmware Version: 2.3.4

**Describe the bug**
An error is thrown when trying to buy coins via Invity.

**Steps to reproduce:**
1. Go to accounts / Bitcoin
2. Buy 10000 CZK
3. Proceed with one of the offers
4. Validate the address on the device
5. Observe

**Expected resu

[2020-11-02 14:39] bosomt commented on #2477
**QA OK**

Nixos + Chromium 86.0.4240.111
Suite web dev master commit f06aff6
Device model One FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-02 15:05] wendys-cats commented on #2625
**QA OK**

**Suite** web develop branch commit f06aff6
**OS** NixOS + Chromium 85
**Device** TT 2.3.4 public **AND** T1 1.9.3 public

[2020-11-02 15:36] slowbackspace commented on #2036
what a ancient issue! I assume it has been fixed already, if not then please reopen the issue 🙇

[2020-11-02 15:36] #2036 closed, assigned to nobody

[2020-11-02 15:38] wendys-cats opened #2833 "Suite allows TT to load 24 word seed when creating a new wallet"
**Info:**
 - OS: NixOS
 - Browser: Chromium 85
 - Wallet Version: web develop branch, commit f06aff6
 - Device TT 2.3.3 public AND T1 1.9.3 public

**Describe the bug**
When Suite has a remembered T1 device that has been wiped, it can be used to trick Suite into loading 24 word seed into a TT device. This bug relies on user reconnecting TT device during the FW update part.
Important to note: TT ne

[2020-11-02 15:44] bosomt commented on #2036
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
Device model One unsigned 1.9.0 + signed latest 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-02 16:03] mroz22 commented on #2710
Connect updated, should be fixed.

[2020-11-02 16:03] #2710 closed, assigned to mroz22

[2020-11-02 16:37] robertbrada commented on #2558
**According to the animation behavior:**

For now, the animation works only on hover effect in the following component:
![wallet-anim-1](https://user-images.githubusercontent.com/44506010/97892786-5d87a480-1d28-11eb-9586-1ea4da03fa58.png)

The animation reacting on device dis/connected status change will be implemented until the next freeze in December. So this animation issue should be opened.

*

[2020-11-02 18:13] glacierbits opened #2835 "Device Dis/connected: Switch Wallet Modal"
Continuing from #2558

The device connection status in the "Switch wallet modal".

Feel free to use the **red color** for the `DISCONNECTED` status as you rightly did in the navigation component.

It wasn't designed so, but it is consistent with the red dot in the navigation when device disconnected.

[2020-11-02 18:15] glacierbits commented on #2558
Correct. This issues was to deal with the "navigation" component only. I corrected (improved) the title and created a new issue for the "switch wallet modal" for upcoming sprint. My apologies for the confusion.

[2020-11-02 18:15] #2558 closed, assigned to robertbrada

[2020-11-02 18:45] #2445 closed, assigned to keraf

[2020-11-02 18:45] #2818 closed, assigned to tomexx

[2020-11-02 19:21] tsusanka opened #2836 "Requests being blocked in the desktop version"
**Info:**
 - OS: NixOS
 - Browser: desktop
 - Wallet Version: 89fbdfc285f5d1506fa922b336349e5fe8ae3e1a
 - Firmware Version: emulator master 89fbdfc285f5d1506fa922b336349e5fe8ae3e1a

**Describe the bug**
On launch I get a few warnings about requests being blocked. I have tried to clear cache but it went bananas then completely.

**Screenshots:**
After launch:

![image](https://user-images.githubuse

[2020-11-02 19:24] #2807 closed, assigned to mroz22

[2020-11-02 19:33] tsusanka opened #2837 "Print revision after Suite launch"
Print git revision directly in console output so we do not have to search it in settings :).

[2020-11-02 19:57] glacierbits opened #2838 "Multilingual interface 🌎"
Let's translate Trezor Suite to the most popular languages. Planned:

- [x] Spanish
- [ ] Portuguese
- [ ] German
- [ ] Russian
- [ ] Mandarin
- [x] Czech
- [ ] Dutch

[2020-11-02 20:47] keraf opened #2839 "suite-desktop: "Clear storage and reload" button on error page does not work"
When an error occurs, the button "Clear storage and reload" does not do anything on suite-desktop.
![2020-11-02_21-45](https://user-images.githubusercontent.com/30026749/97917595-faf8cd80-1d54-11eb-86a9-2ba07ba37a99.png)

[2020-11-02 20:59] tsusanka opened #2840 "Landing page contains old version"
Landing page contains links to 20.10.1 instead of 20.11.1. I am not sure if this is not just a cache thing, will investigate tomorrow.

[2020-11-03 08:13] tsusanka commented on #2840
It was just cache indeed :).

[2020-11-03 08:13] #2840 closed, assigned to nobody

[2020-11-03 08:29] bosomt opened #2841 "Unwanted scrolling of Suite in background"
**Info:**
 - OS: Nixos
 - Browser: Firefox , version 82.0 (64-bit)
 - Wallet Version: web, commit 11ef2d377f2131ca74ddc6c7979e013082b9b061
 - Firmware Version: 2.3.2 model t  , revision **63ebb8ccb**

**Describe the bug**
I noticed unwanted scrolling of Suite in background of modal in Firefox.
Chromium works fine / see video from chromium/

**Steps to reproduce:**
1. Load suite in Firefox
2. Open

[2020-11-03 08:29] bosomt commented on #2841
is it possible that it's related to this bug ?
https://github.com/trezor/trezor-suite/issues/2165

[2020-11-03 08:39] glacierbits opened #2842 "Tor: Toggle behaviour & presence"
Browser: Chrome
Version: 8f4d1eedd6eb7648b17853a9a780a0688c0370e6

- Tor settings should be available only in the desktop version
- Strange toggle behaviour

![ezgif com-gif-maker](https://user-images.githubusercontent.com/29627086/97963876-1f39c600-1db8-11eb-8b85-9fe8b162bfdc.gif)

[2020-11-03 08:41] glacierbits opened #2843 "Discreet mode menu"
Browser: Chrome
Version: 8f4d1eedd6eb7648b17853a9a780a0688c0370e6

- [x]  The line above the discreet mode icon should not be present.

- [x]  Icon jumps when used for the first time during the given session

<img width="217" alt="Screenshot 2020-11-03 at 09 40 17" src="https://user-images.githubusercontent.com/29627086/97964166-996a4a80-1db8-11eb-9ee5-8f2982e7c7d5.png">

![ezgif com-gif-maker (1)

[2020-11-03 08:59] glacierbits opened #2844 "Tor: Navbar color"
When Tor enabled, navbar should keep it's default color.

While Ondra (the designer) considered the option to turn the navbar purple, it's been decided it's too "aggressive" approach and the colour itself could be confusing for users who are not particularly familiar with Tor Project branding.

[2020-11-03 09:14] glacierbits opened #2845 "Button misalignment: Add hidden wallet"
Browser: Chome
Version: 8f4d1eedd6eb7648b17853a9a780a0688c0370e6

The button should be centered.

<img width="912" alt="Screenshot 2020-11-03 at 10 13 48" src="https://user-images.githubusercontent.com/29627086/97967263-45ae3000-1dbd-11eb-9d12-4efd0cb43b60.png">

[2020-11-03 09:21] glacierbits opened #2846 "Device refresh: Disconnected"
Platform: Chrome
Version: 8f4d1eedd6eb7648b17853a9a780a0688c0370e6

It seems the `disconnected` animation replaced the refresh option altogether.

User is no longer able to refresh the device session from the navigation.

Steps to reproduce:

- Make device unacquired (e.g. reload page on passphrase input modal)
- Navigation says device disconnected, even though that's not the case
- Switch device

[2020-11-03 09:33] glacierbits commented on #2846
FYI I am unable to reproduce this. So just heads up, perhaps try to look at it just briefly and feel free to close afterwards.

[2020-11-03 09:37] wendys-cats commented on #2558
@matejzak should I report [this](https://github.com/trezor/trezor-suite/issues/2558#issuecomment-720486647) in a separate issue?

[2020-11-03 09:39] prusnak commented on #2836
I guess we will need to add `api.github.com` and `ingest.sentry.io` to `allowedDomains` here for the time being:

https://github.com/trezor/trezor-suite/blob/8e6ef2b6c60933fd66cb8bc327c640efd037328c/packages/suite-desktop/src-electron/config.ts#L27

[2020-11-03 09:40] glacierbits commented on #2558
Yes please. Thanks! it skipped my attention totally.

[2020-11-03 09:51] wendys-cats opened #2847 "Discrepancy in icons used for device connection states"
**Suite** web develop branch commit f06aff6c9282977e76f17857073fd85704fb7118 AND staging 20.11.1 commit 11ef2d377f2131ca74ddc6c7979e013082b9b061
**OS** NixOS + Chromium 85
**Device** TT 2.3.4 public **AND** T1 1.8.3 revision 0xdf0963ec48f01f3d07ffca556e21ff0070cab099

**Actual**

Images for connected/disconnected devices in Choose account/wallet modal are not the same (disconnected device has the

[2020-11-03 09:52] wendys-cats commented on #2558
Thank you. Issue is reported [here](https://github.com/trezor/trezor-suite/issues/2847).

[2020-11-03 09:53] wendys-cats commented on #2558
**QA OK**
**Suite** web staging 20.11.1 commit 11ef2d3
**OS** NixOS + Chromium 85
**Device** TT 2.3.4 public **AND** T1 1.9.3 public

[2020-11-03 09:57] bosomt opened #2848 "Unconfirmed transaction caching issue"
**Info:**
 - OS: Nixos
 - Browser: Chromium + Firefox , latest versions
 - Wallet Version: web, commit c436bacae06bb4a2dd42af37edb7861b41f66b35
 - Suite Version: web, commit 99959260d5639480dfb11e53a4f2ab1d789b0e7b
 - Firmware Version: 2.3.3 model T, revision 0d5f00668

**Describe the bug**
Looks like problem with unconfirmed transactions caching. When you load same wallet in wallet and in suite y

[2020-11-03 09:58] #2826 closed, assigned to glacierbits

[2020-11-03 10:03] wendys-cats commented on #2812
@matejzak @prusnak so we tell the user to learn more in out blogPOST about it, but the link is only a general one to our BLOG? Shouldn´t there be either "read our blog" (to reflect the link) or link directly to said blogpost?

[2020-11-03 10:36] #2808 closed, assigned to slowbackspace

[2020-11-03 10:45] slowbackspace commented on #2848
it almost sounds like we are not getting or ignoring some of blockchain-notification events that are sent from blockbook. 🤔
(or maybe some weird memoization side-effect)

[2020-11-03 11:00] vladimirvolek commented on #2832
@keraf I cannot reproduce this :( Can you please try to delete your storage and try again? Thanks

[2020-11-03 11:34] glacierbits opened #2854 "Sign & verify 🔏"
**Design:** [Zeplin](https://zpl.io/aMrekQz)

Sign and verify messages and addresses.

[2020-11-03 11:36] slowbackspace commented on #2841
@bosomt I think it's different bug (the linked "bug" is on purpose on our side since firefox doesn't support the blur effect), but I definitely check it. A lot of weird things can happen in css world 😁

So this is only happening on firefox right?

[2020-11-03 11:49] slowbackspace commented on #2846
This is a legit state. How Suite sees it: You have one remembered wallet "Ferda" and one connected device which couldn't be acquired so Suite doesn't know anything about it. It can't tell if it is the same device or not until it is acquired. It might be the case that you have connected completely different device, that's why you see 2 devices.

There is not much we can do about it. If you have any

[2020-11-03 11:49] #2846 closed, assigned to slowbackspace

[2020-11-03 12:06] #2836 closed, assigned to keraf

[2020-11-03 12:07] #2811 closed, assigned to robertbrada

[2020-11-03 12:09] slowbackspace commented on #2845
This got broken in  [Tor navigation design](https://github.com/trezor/trezor-suite/pull/2576/commits/c4a75cfae084db5d424023e5e7e279473efaef1d)

Moving classname from Tooltip's wrapper to Tippy is ~potentially~ breaking change and probably not necessary. `className` is used by styled components to... style components, (re)moving it like that is almost always bad idea unless you want to cause headac

[2020-11-03 12:17] szymonlesisz commented on #2848
nope, if you forget the device and do the discovery again this pending tx is shown properly and then it's gone again (see slack thread)
its not about notificiation bc. this tx is "old" from the BB point of view, notification is emitted 1 time only when tx appears in mempool
my guess is that this pending transaction is not properly sorted and displayed elsewhere (there was already issue with that i

[2020-11-03 12:45] tsusanka opened #2856 "Consider removing custom navigation bar on linux"
It just seems very un-linuxy thing to do and I personally find it a bit ugly. I don't want apps to mess with my OS (gnome) setup.

Let's see what others think @prusnak @keraf.

[2020-11-03 12:58] tsusanka commented on #2828
The blog post should go live at tomorrow at 18:00ish. I'll post it here then.

[2020-11-03 13:10] prusnak commented on #2856
Since Matej indicated we'd like to add more active elements in the top bar (such as search) I think this should stay.

[2020-11-03 13:21] tsusanka commented on #843
@matejzak maybe this is a duplicate of #2854?

[2020-11-03 13:22] tsusanka commented on #2854
We should also discuss what the limits should be (what is the longest data T1/TT can take in). cc @matejcik

[2020-11-03 14:05] #2839 closed, assigned to slowbackspace

[2020-11-03 14:24] slowbackspace opened #2858 "Can't send another transaction after sending first one"
**Describe the bug**
When I want to send another transaction to the same account as before (tried on BTC testnet n1 on all seed), just with different amount sometimes I get an error. Oh, same thing happens while sending to different address.
`Sign transaction error: -26: txn-mempool-conflict”` each time I hit sent button.

**Info:**
 - Suite Version: tested on web, develop and production
 - Browse

[2020-11-03 14:50] bosomt commented on #2841
Firefox only :) :fox_face:

[2020-11-03 14:53] prusnak commented on #2858
`txn-mempool-conflict` means you are trying to spend the UTXO of a transaction that is already present in the mempool of the node.

In order to be able to do this, the first transactions needs to have the RBF flag ON which it does not currently.

TL;DR this is expected if the first transactions was not RBF

[2020-11-03 15:01] glacierbits opened #2859 "XRP history not available"
Unable to load transaction history (for the past ± 8 hours).

<img width="1206" alt="Screenshot 2020-11-03 at 15 52 05" src="https://user-images.githubusercontent.com/29627086/98000199-883b3100-1dec-11eb-8c13-f5310e43a267.png">

[2020-11-03 15:11] szymonlesisz commented on #2858
i think its a race condition between composing new tx and account update process:
1. you did use utxo[0] from account, its sent and blocked by mempool
2. suite waits for either tx notification or new block notification to update this account (which remove uxto[0]) BUT:
3. meanwhile you compose another tx using utxo[0] from not updated account  (it's still available there util 2. finish)

[2020-11-03 15:16] szymonlesisz commented on #2858
possible solution:
store utxo[0] reference as "spent" in suite (do not use it in next sign tx process) until next account update occurs

[2020-11-03 15:23] slowbackspace commented on #2859
try to send fresh tx, if it'll appear in txs list then it is as I said on slack and there is nothing I can do about it.
Well even if it won't appear, it is completely out of scope 😁

[2020-11-03 15:51] #2859 closed, assigned to slowbackspace

[2020-11-03 16:26] szymonlesisz opened #2861 "Strange 1px grey line over the "discreet mode" button"
**Describe the bug**
![Screenshot 2020-11-03 at 17 24 23](https://user-images.githubusercontent.com/3435913/98012635-9e9bb980-1df9-11eb-9e80-00c3f2f2723f.png)

[2020-11-03 16:27] prusnak commented on #2861
Duplicate of https://github.com/trezor/trezor-suite/issues/2843

[2020-11-03 16:27] #2861 closed, assigned to nobody

[2020-11-03 16:47] bosomt opened #2862 "Dropbox API is blocked"
**Describe the bug**
A clear and concise description of what the bug is.

**Info:**
 - Suite Version: app, commit 8d81bfdd64d716bd905d599e83113aff7b4f12c4
 - OS: Windows 10
 - Firmware Version: 2.3.4 model T

**Steps to reproduce:**
1. Start latest version of Suite
2. Try to enable labeling when asked
3. See error at end of labeling flow

**Expected result:**
Suite has access to Dropbox API

**Act

[2020-11-03 16:53] prusnak commented on #2862
Fixed in https://github.com/trezor/trezor-suite/commit/8e1d1794dfac8b372e22991f65a6b182dc002f81

and cherry-picked to `release/2020-11` in 53e0e15a3652c0ee48b4717846305be57404c6a7

[2020-11-03 16:53] #2862 closed, assigned to glacierbits

[2020-11-04 07:36] #2845 closed, assigned to tomexx, slowbackspace

[2020-11-04 08:58] bosomt commented on #2653
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite web commit 53e0e15a3652c0ee48b4717846305be57404c6a7
Device model One fw 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-04 09:00] bosomt commented on #2643
**QA OK**

I have not experienced this anymore with latest apps or web versions

Nixos + Firefox 82.0 (64-bit)
Suite web commit 53e0e15
Device model One fw 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-04 09:35] glacierbits opened #2867 "React-native builds"

[2020-11-04 10:14] szymonlesisz opened #2868 "Unify @trezor/components/Icon sizes"
- [x] make sure that all icons are square shaped and implement width in `SvgWrapper` based on `props.size`
- [x] get rid off all `StyledIcons` where width and height is set

related to https://github.com/trezor/trezor-suite/pull/2865#discussion_r517178148

[2020-11-04 10:29] mroz22 commented on #843
it is

[2020-11-04 10:29] #843 closed, assigned to nobody

[2020-11-04 10:55] wendys-cats opened #2869 "APP Windows suite app reporting an error (Loading takes too long) after launching"
**Describe the bug**
Suite app for Win10 reports an error after launching. Reloading the app results in the same error. Clearing cache and reloading the app results in part of Onboarding (the part where user does not need device to be unlocked) working and when trying to load Dashboard and accounts, suite app crashes on the same error (see screenshot below).

Message: "Error occured. It appears so

[2020-11-04 11:20] tsusanka commented on #2869
@wendys-cats will retest on 11888946

[2020-11-04 11:23] mroz22 opened #2871 "A dot at the beginning of "Reconnecting in...""
**Describe the bug**
A wild dot appears.

**Info:**
 - Suite Version: app, acde0380f64040f1567f481f92aa4f5f5aba8b2a
 - OS: ubuntu

**Steps to reproduce:**
1. Somehow make app fail to connect to backends
1. See result on accounts page

**Expected result:**
No dot at the beginning of the text

**Actual result:**
There is a dot.

**Screenshots:**
insert here
![image](https://user-images.githubusercon

[2020-11-04 11:50] wendys-cats commented on #2869
@tsusanka still persists on build 1188894

![photo_2020-11-04_12-49-53](https://user-images.githubusercontent.com/58593111/98108479-4ec1fe80-1e9c-11eb-93c3-d10583accbde.jpg)

[2020-11-04 11:57] bosomt commented on #2653
**QA OK**

Nixos
Suite app commit 11888946531d3bf641d83bdbfddae8e0143b0738
Device model one FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-04 11:57] tsusanka commented on #2869
Ok :(. Not sure who should have a look then, maybe @keraf, @mroz22 or @szymonlesisz?

[2020-11-04 11:59] tsusanka commented on #2856
Search bar here :scream:?

![image](https://user-images.githubusercontent.com/1835345/98109251-8da48400-1e9d-11eb-9b7f-a4a8ef4d64ac.png)

Or are we talking about smth else?

[2020-11-04 12:08] bosomt opened #2873 "content.dropboxapi.com domain blocked in Suite app"
**Describe the bug**
content.dropboxapi.com is still blocked in Suite Linux App

**Info:**
 - Suite Version: app, commit  11888946531d3bf641d83bdbfddae8e0143b0738
 - OS: Nixos
 - Firmware Version: 1.9.3 model One , revision  0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

**Steps to reproduce:**
1. Start Suite app
2. Enable Labeling
3. Select Dropbox and login via web interface

**Expected result:**

[2020-11-04 12:23] keraf commented on #2873
Fixed in 84e3918

[2020-11-04 12:26] glacierbits commented on #2856
A lot of different options to consider (e.g. search, commands, privacy settings, breadcrumb etc.). The idea is make use of the space efficiently and take advantage of the desktop "nativity".

Slack:
<img width="1516" alt="Screenshot 2020-11-04 at 13 13 26" src="https://user-images.githubusercontent.com/29627086/98111372-c8f48200-1ea0-11eb-8059-c4ffa5f39471.png">

Notion:
<img width="1641" alt="Scr

[2020-11-04 12:31] tsusanka commented on #2856
JFYI this is what Slack looks like at Linux with Gnome3

![image](https://user-images.githubusercontent.com/1835345/98112181-09083480-1ea2-11eb-8829-b4b6117daaaa.png)

[2020-11-04 12:42] #2563 closed, assigned to glacierbits

[2020-11-04 12:43] slowbackspace commented on #2848
hopefully fixed by https://github.com/trezor/trezor-suite/pull/2870,
pls reopen if the issue persist

[2020-11-04 12:43] #2848 closed, assigned to slowbackspace

[2020-11-04 13:06] prusnak commented on #2873
Cherry picked to release branch in 00cc44a9c26801a86a688f5f5dbea3aee2ba4b17

[2020-11-04 13:07] prusnak commented on #2869
This means we've exceeded our Sentry plan - can you please check this?

[2020-11-04 13:24] slowbackspace commented on #2869
@prusnak that might be true, but I don't think that's the reason app crashes in the first place. Sentry report is sent only AFTER the crash. (suite.trezor.io works just fine)

https://github.com/trezor/trezor-suite/commit/11888946531d3bf641d83bdbfddae8e0143b0738 also works fine for me on macos

[2020-11-04 13:48] #2873 closed, assigned to glacierbits

[2020-11-04 13:49] prusnak commented on #2873
I added `notify.dropboxapi.com` in aac3e96d3e4b4e9c454820a404a6f6af15b47d4b (cherry-picked in 39d1b9690756482310a3970de0d1a29b0d4d2e89)

[2020-11-04 13:57] szymonlesisz opened #2874 "Desktop app: electron window multiplication on macos"
**Describe the bug**
desktop app creates new window on every focus change

**Info:**
 - Suite Version: desktop app, 05ab25f
 - OS: mac
 - Firmware Version: any

**Steps to reproduce:**
1. install desktop app
2. click somewhere outside (or [tab] to different window)
3. click on Trezor suite icon in dock

**Expected result:**
electron app should have only 1 window

**Actual result:**
got multiple wi

[2020-11-04 14:35] szymonlesisz opened #2875 "Desktop app: update bridge forever loading"
**Describe the bug**
I've just run desktop app on some old setup which has trezor bridge v 2.0.12 installed (quite outdated)
desktop app notifies me about outdated bridge (correctly) but when i click on "update bridge" button it ends up with "forever loading" state

**Info:**
 - Suite Version: desktop app
 - OS: windows 10
 - Installed Bridge Version: 2.0.12 (outdated)

**Expected result:**
Not su

[2020-11-04 14:35] szymonlesisz commented on #2869
i've successfully run it on some archaic win10 setup from the bottom of my drawer (with trezord 2.0.12!) and it works, strange.
However i have found another problem but idk if its windows related so i'm creating [separated issue](https://github.com/trezor/trezor-suite/issues/2875)

[2020-11-04 14:41] szymonlesisz commented on #2869
@wendys-cats could you try to uninstall the app and remove all content from
~`C:/Users/[your-user]/AppData/Local/Programs/Trezor Suite`~ and install again? idk what is the reason

[2020-11-04 14:50] slowbackspace commented on #2869
I checked with @bosomt, he was also able to launch the app just fine on his windows machine. So it really should be something specific to this one machine. As @szymonlesisz said, removing all caches is a good start, but please backup the folder first so we may troubleshoot this later! @wendys-cats

[2020-11-04 14:55] wendys-cats commented on #2869
@szymonlesisz it is actually C:/Users/[your-user]/AppData/Local/Programs/@trezorsuite-desktop/Trezor Suite .

Removing all caches did not help, error still occured (tested 1188894).

[2020-11-04 15:06] szymonlesisz opened #2876 "Desktop app: Tor connection issues"
**Describe the bug**
discovery with enabled TOR always ends up with an error (works like a charm with disabled TOR)

**Info:**
 - Suite Version: desktop app, 1188894
 - OS: Windows 10
 - Firmware Version: any

**Screenshots:**
![tor-discovery-error](https://user-images.githubusercontent.com/3435913/98128026-aae64c00-1eb7-11eb-8ccd-715be4115f73.jpg)

![tor-ws-connection](https://user-images.githubu

[2020-11-04 15:09] samay-v commented on #2871
Hey, I'd like to fix this 😀
The dot seems to come from [here](https://github.com/trezor/trezor-suite/blob/f705225ba8195bc0724d719dad4227ea56769eb2/packages/suite/src/support/messages.ts#L613).
I'd also fix it in the [translations/en.json](https://github.com/trezor/trezor-suite/blob/f705225ba8195bc0724d719dad4227ea56769eb2/packages/suite-data/files/translations/en.json#L138) just in case

[2020-11-04 15:12] prusnak commented on #2871
Great @samay-v - will you send a pull request with the fix?

[2020-11-04 15:28] szymonlesisz commented on #2875
similar loading is happening when i kill the `trezord.exe` process (pre-installed one)
the suite is trying to run bundled `trezord` (correctly) but for a while i see this "gathering information, please wait..." modal
Maybe desktop build should have additional modal/view with different wording, like "restarting bridge..."

[2020-11-04 15:31] wendys-cats commented on #2869
@szymonlesisz also tried older APPs from last month and everything is working as expected.
99959260d5639480dfb11e53a4f2ab1d789b0e7b commit hash version 20.10.1
OS specification Windows 10 Home 19041.572

After removing cache from AppData/Local/Programs AND AppData/Local/Roaming, newest build (commit 11888946531d3bf641d83bdbfddae8e0143b0738) IS WORKING! (@slowbackspace and me have no idea what happ

[2020-11-04 15:33] szymonlesisz commented on #2875
and when i kill the `trezord` sub-process (bundled one) it end up in "forever gathering information"
so there should be definitely additional view with a button for restarting sub-process

[2020-11-04 15:46] szymonlesisz commented on #2869
yeah, i was pointing to invalid directory :)

it might be related to recent changes (tor/sub-process management)

i would definitely focus on that issue! it might affect users after update as well

could you try to simulate this process again?
- uninstall current app, clear cache
- install previous (20.10.1)
- install current without clearing cache

[2020-11-04 15:48] bosomt commented on #2862
**QA OK**

Nixos
Suite app commit 39d1b9690756482310a3970de0d1a29b0d4d2e89
Device model One firmware 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-04 15:48] bosomt commented on #2873
**QA OK**

Nixos
Suite app commit 39d1b9690756482310a3970de0d1a29b0d4d2e89
Device model One firmware 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-04 16:34] bosomt commented on #2364
**QA OK**

Nixos
Suite app commit 39d1b9690756482310a3970de0d1a29b0d4d2e89
Device model One firmware 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-04 16:41] szymonlesisz opened #2878 "Desktop app: missing app frame border on windows"
**Describe the bug**
App border is completely missing

**Info:**
 - Suite Version: desktop app, 1188894
 - OS: Windows 10

**Expected result:**
Other applications got at least thin 1px around itself

**Screenshots:**
![missing-border](https://user-images.githubusercontent.com/3435913/98139793-e4718400-1ec4-11eb-87f8-f1187e2ced2b.jpg)

[2020-11-04 16:42] bosomt commented on #2836
**QA OK**

Nixos
Suite app commit 39d1b9690756482310a3970de0d1a29b0d4d2e89
Device model One firmware 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-04 16:43] wendys-cats commented on #2869
**1.** Installed 20.10.1 public commit hash 9995926
**2.** cleared cache from appData/Local/Roaming
**3.** installed build commit hash commit 1188894

eveything is working

[2020-11-04 17:05] wendys-cats commented on #2808
**QA OK**

**OS** NixOS + Chromium 85
**Suite** web 20.11.1 39d1b9690756482310a3970de0d1a29b0d4d2e89
**Device** 2.3.4 public 50854b921

[2020-11-04 17:09] wendys-cats commented on #2839
**QA OK**

Encountered issues and errors today, clear cache+reload definitely works ([here](https://github.com/trezor/trezor-suite/issues/2869))

**OS** Windows 10 home
**Suite** APP 20.11.1 11888946531d3bf641d83bdbfddae8e0143b0738
**Device** 2.3.4 public 50854b921

[2020-11-04 17:10] bosomt commented on #2652
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/98142797-91013500-1ec8-11eb-9cbf-bf4c9ddf736a.png)

Nixos
Suite app commit 39d1b9690756482310a3970de0d1a29b0d4d2e89
Device model One firmware 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-04 17:39] glacierbits commented on #2467
What you can't reproduce, @mroz22 's robot can (at 11s):

https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/829563583/artifacts/file/packages/integration-tests/projects/suite-web/videos/metadata/wallet-metadata.test.ts.mp4

[2020-11-04 17:42] slowbackspace commented on #2467
@matejzak holy shit! how did you managed to notice it? This is GOLD

[2020-11-04 17:44] wendys-cats commented on #2280
**QA OK**

**OS** NixOS + Chromium 85
**Suite** web 20.11.1 39d1b9690756482310a3970de0d1a29b0d4d2e89 (compared the change with beta to double check)
**Device** TT 2.3.4 public

**1.** Incorrect size of the arrow between crypto <> fiat inputs **OK**

**2.** Error / divider spacing
Make the spacing for error between input and divider even **OK**

**3.** Remove loading from the disabled primary butto

[2020-11-04 17:51] glacierbits commented on #2467
The credit goes to the Frankenstein himself who made me aware of it while selling his robots. 😬

[2020-11-04 17:59] #2868 closed, assigned to tomexx

[2020-11-04 18:08] glacierbits opened #2882 "Data: More items"
Overview & todos: [Notion](https://www.notion.so/satoshilabs/e19845789ccb47a0baf36d7f8463f196?v=16dd37b30ce549cc89ca41894e8dcd0b)

[2020-11-04 18:35] tsusanka commented on #2828
Published: https://blog.trezor.io/what-trezor-users-need-to-know-about-the-bitcoin-cash-fork-a21ceafdc03e

[2020-11-04 19:11] #2725 closed, assigned to mroz22

[2020-11-04 20:20] szymonlesisz opened #2884 "suite rerenders and blinks"
**Describe the bug**
I didn't find a pattern and a reason yet but it happens even in prod. builds
Once in a time the whole app re-renders which causes visible "white-blink", i've noticed this before but i blamed dev build and overloaded computer.
Especially happens when i'm working on two displays/monitors
From what i noticed it has nothing to do with device or blockchain connections, it's happeni

[2020-11-04 21:09] #2874 closed, assigned to keraf

[2020-11-04 21:31] wendys-cats commented on #2811
**QA OK**

NixOS + Chromium 85
Suite web 39d1b9690756482310a3970de0d1a29b0d4d2e89

[2020-11-04 21:45] wendys-cats commented on #2659
**QA NOK**

NixOS + Chromium 85
Suite web 20.11.1 39d1b9690756482310a3970de0d1a29b0d4d2e89
Device TT 2.3.3

**note:** Still spams the Network with requests (status 400 named null) every second after canceling TT FW update - even when the device is disconnected and reconnected. Got more than 500 requests by the time I recovered a wallet. T1 does not exhibit this quirk.

**Expected**
"Error: Firmwar

[2020-11-04 23:41] glacierbits opened #2886 "Discreet mode: Accounts"
<img width="357" alt="Screenshot 2020-11-05 at 00 39 09" src="https://user-images.githubusercontent.com/29627086/98179568-549cfb80-1eff-11eb-9cfa-f5d899812601.png">

[2020-11-05 06:55] bosomt commented on #2812
**QA NOK**

When i click learn more im redirected to https://blog.trezor.io/ and not to https://blog.trezor.io/what-trezor-users-need-to-know-about-the-bitcoin-cash-fork-a21ceafdc03e

![image](https://user-images.githubusercontent.com/31506317/98207492-0a863b00-1f3c-11eb-9e82-17c6afd403b0.png)

Nixos
Suite app commit 39d1b9690756482310a3970de0d1a29b0d4d2e89
Device mdoel One FW 1.9.3 commit 0x0d5f0

[2020-11-05 06:57] bosomt commented on #2764
@tsusanka @prusnak
it there anything that we can test on our side ?

[2020-11-05 07:08] bosomt commented on #2731
**QA OK**

Nixos
Suite app commit 39d1b96
Device mdoel One FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-05 08:03] bosomt commented on #2670
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite app commit 39d1b96
Device model One FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-05 08:19] prusnak commented on #2812
This needs to be merged first to include the correct link https://github.com/trezor/trezor-suite/pull/2883

[2020-11-05 08:57] glacierbits commented on #2573
Closing this issue in favor of #2882

[2020-11-05 08:57] #2573 closed, assigned to mroz22

[2020-11-05 09:15] #2871 closed, assigned to nobody

[2020-11-05 09:18] #2828 closed, assigned to tsusanka

[2020-11-05 09:23] bosomt commented on #2660
**QA OK**

Nixos + Firefox 82.0 (64-bit)
Suite web commit 39d1b96
Device model One FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-05 09:35] wendys-cats commented on #2691
**QA OK**

No Select wallet modal after redirecting from Buy payment gateway is displayed (tested against beta).

**OS** NixOS
**Suite** web 20.11.1 39d1b9690756482310a3970de0d1a29b0d4d2e89
**Device** TT 2.3.4 public

[2020-11-05 09:38] tsusanka commented on #2812
Done. Will be moved to staging after the CI passes (~30 minutes).

[2020-11-05 09:38] #2812 closed, assigned to slowbackspace

[2020-11-05 10:23] glacierbits opened #2888 "New coin icons"
Please update the coin icons. The current set is a mix of styles and colors.

Therefore we created this custom set instead: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/styleguide/components?cseid=5fa3cd3a61208235de302db6)

[2020-11-05 10:31] tomexx commented on #2886
I saw this issue in the list so I quickly fixed it in a similar manner as the previous discreet mode cut off issues.

[2020-11-05 10:33] glacierbits commented on #2886
Thanks!

[2020-11-05 10:43] wendys-cats commented on #2818
**QA OK**

**OS** Windows 10 home
**Suite** APP 20.11.1 11888946531d3bf641d83bdbfddae8e0143b0738
**Device** TT 2.3.4

[2020-11-05 11:27] keraf opened #2892 "Tor: Opening links"
Currently we have a TrezorLink component that converts trezor.io links to .onion links if Tor is on. This behaviour is correct for the web as the user might want to open new links as onion links. On desktop however, the links open in the default browser that might not be configured for Tor as it is most likely that the user will have Tor configured for the app only (Tor being bundled with). We sho

[2020-11-05 11:31] keraf commented on #2876
Looks like a dev build only issue. Can someone from QA confirm please?

[2020-11-05 11:40] bosomt commented on #2812
**QA OK**

Nixos + Firefix 82
Suite web commit 513631a9fa62c438e60397a9942b04275bcd621a
Device model One FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-05 11:56] prusnak commented on #2876
What does http://127.0.0.1:9050/ show in your browser?

Does it show: **This is a SOCKs proxy, not an HTTP proxy.** - meaning the Tor is running?

[2020-11-05 12:38] mroz22 commented on #2876
This happens to me running desktop version in dev setup. Broser shows "This site can’t be reached. ERR_CONNECTION_REFUSED" (http://127.0.0.1:9050/)

[2020-11-05 12:40] prusnak commented on #2876
This is fixed in https://github.com/trezor/trezor-suite/pull/2890

[2020-11-05 12:46] bosomt opened #2894 "Missing scrollbars in Firefox"
**Describe the bug**
Missing scollbars in borh left and right panels.

**Info:**
 - Suite Version: web, commit 513631a9fa62c438e60397a9942b04275bcd621a
 - Browser: Firefox , version 82.0 (64-bit)
 - OS: Nixos
 - Firmware Version: model One FW 1.9.3  , revision 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

**Steps to reproduce:**
1. Load Suite in Firefox
2. Load wallet with enough accounts and coins

[2020-11-05 14:22] FrankyFFV commented on #2838
@matejzak How can I join to translate?

[2020-11-05 14:44] wendys-cats commented on #2843
**QA OK**

OS NixOS + Chromium 85
Suite web 20.11.1 513631a9fa62c438e60397a9942b04275bcd621a
Device TT 2.3.4 public

**note** @matejzak  WHY is TOR in the name?

[2020-11-05 14:45] sorooris commented on #2843
@matejzak pls how is the discreet mode icon in any way related to Tor?

[2020-11-05 14:50] glacierbits commented on #2843
They are both nested in the same "privacy box" navigation in the desktop app. The line above the icon here looked like a residue of that design in the browser version (bug).

[2020-11-05 15:11] szymonlesisz commented on #2876
reopening, still happening on fresh artifacts from the develop 491f31e

1. start app without tor, do first discovery (discovery success)
2. enable tor
3. add hidden wallet and do second discovery (discovery fails, caused by ws connection errors)
4. disable tor and hit "retry" (discovery success)

tor.exe is up and running as a subprocess of Trezor Suite during step 2 and 3
i can access http://127.

[2020-11-05 15:24] bosomt commented on #2828
**QA OK**

Nixos + Firefox 82
Suite web commit 513631a9fa62c438e60397a9942b04275bcd621a
Device model One fw 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-05 15:29] wendys-cats commented on #2844
@matejzak does this apply to Suite APP? Or web version?

[2020-11-05 15:31] wendys-cats commented on #2842
@matejzak what exactly is the problem here? That tor should be only for desktop versions, or that the toggle works weirdly on app version?

[2020-11-05 15:31] mroz22 commented on #2659
Expectations by QA differ from actual behaviour only in copy. That can be seen as low priority and moved to the next project.

[2020-11-05 15:33] glacierbits commented on #2844
Desktop app only

[2020-11-05 16:14] tsusanka commented on #2842
@wendys-cats both :).

A) Tor should be only in the desktop apps.
B) The toggl did not toggl :). Since it should not be on a web we care only about the desktop.

[2020-11-05 16:19] sorooris commented on #2701
**QA OK**

Icons & colors match the icons in the zip.

Suite version: app 513631a9fa62c438e60397a9942b04275bcd621a
OS: macOS Catalina 10.15.7
Device: N/A

[2020-11-05 16:21] sorooris commented on #2630
**QA OK**

Couldn't replicate issue.

Suite version: app 513631a9fa62c438e60397a9942b04275bcd621a
OS: macOS Catalina 10.15.7
Device: 2.3.4 50854b921

[2020-11-05 16:23] sorooris commented on #2771
**QA OK**

App header appears consistent and behaves correctly.

Suite version: app 513631a9fa62c438e60397a9942b04275bcd621a
OS: macOS Catalina 10.15.7
Device: 2.3.4 50854b921

[2020-11-05 16:23] sorooris commented on #2874
**QA OK**

Couldn't replicate issue.

Suite version: app 513631a9fa62c438e60397a9942b04275bcd621a
OS: macOS Catalina 10.15.7
Device: 2.3.4 50854b921

[2020-11-05 16:25] sorooris commented on #2582
**QA OK**

Couldn't replicate issue, behavior is consistent and window size is remembered when closed and launched again.

Suite version: app 513631a9fa62c438e60397a9942b04275bcd621a
OS: macOS Catalina 10.15.7
Device: 2.3.4 50854b921

[2020-11-05 16:30] sorooris commented on #2319
**QA OK**

Current behavior is that the coin filter is reset and the newly created account is focused.

Suite version: app 513631a9fa62c438e60397a9942b04275bcd621a
OS: macOS Catalina 10.15.7
Device: 2.3.4 50854b921

[2020-11-05 16:32] sorooris commented on #2807
**QA OK**

Couldn't replicate issue.

Suite version: app 513631a9fa62c438e60397a9942b04275bcd621a
OS: macOS Catalina 10.15.7
Device: 2.3.4 50854b921

[2020-11-05 16:44] sorooris commented on #2412
- [x] MacOS app 513631a9fa62c438e60397a9942b04275bcd621a **OK**
 - [x] Win10 (see [comment](https://github.com/trezor/trezor-suite/issues/2412#issuecomment-723236148))
 - [ ] Linux

[2020-11-05 17:14] freakyleader opened #2897 "Wallet stuck on loading screen"
I have followed all instruction from trezor i.e. clear cache, different browsers, etc.
Even when I click on the link trezor sent me to download newest version its also was stuck on the loading screen. Downloaded different versions from github and still stuck on loading screen. Tried app and get error message.

[2020-11-05 17:23] MatveiP opened #2898 "Mistype on the firmware update screen"
**Describe the bug**
Mistype on the firmware update screen in Suite (the one asking to reconnect the device). “It” instead of “In”.

**Info:**
 - Suite Version: app, commit (?)
 - OS: Mac OS

**Screenshots:**
![image](https://user-images.githubusercontent.com/50269230/98274347-5e2c6f00-1fa4-11eb-9164-64e835ca5bb3.png)

[2020-11-05 17:24] prusnak commented on #2897
Please post a screenshot

[2020-11-05 17:28] freakyleader commented on #2897
[
<img width="1671" alt="Screen Shot 2020-11-05 at 12 28 11 PM" src="https://user-images.githubusercontent.com/74014409/98275258-767b9a00-1f62-11eb-9dcc-4f36df3e9122.png">
](url)

[2020-11-05 17:30] freakyleader commented on #2897
<img width="1670" alt="Screen Shot 2020-11-05 at 12 29 53 PM" src="https://user-images.githubusercontent.com/74014409/98275472-a6c33880-1f62-11eb-985c-c48c24d7cd13.png">

[2020-11-05 19:03] wendys-cats commented on #2876
@szymonlesisz tried step by step (even toggled tor on mid-discovery). No discovery error.

Cannot reproduce (but will try further on the newest build)

OS Windows 10 home
suite APP 20.11.1 11888946531d3bf641d83bdbfddae8e0143b0738
device TT 2.3.4

http://127.0.0.1:9050/ says "This is a SOCKs proxy, not an HTTP proxy." I can see tor running as a background process.

[2020-11-05 19:08] wendys-cats commented on #2842
@tsusanka so two separate issues, oki. Threw me off that you want to check toggl animation where it is not even supposed to be :D

[2020-11-05 19:18] wendys-cats commented on #2876
@szymonlesisz reproduced on fourth attempt. After hitting retry, everything loads properly.

OS Windows 10 home
suite APP 20.11.1 491f31ee27067b57e273e79cd1a6e1cad91459bb
device TT 2.3.4 public
http://127.0.0.1:9050/ says "This is a SOCKs proxy, not an HTTP proxy." I can see tor running as a background process.

![photo_2020-11-05_20-17-15](https://user-images.githubusercontent.com/58593111/982862

[2020-11-05 20:00] wendys-cats commented on #2876
reporting similar issue

When network is throttle to Slow 3G and user repeatedly turns TOR on and off, Accounts tab will show "Backend is diconnect" and eventually console will return request 429 (too many requests). Since getting back 429, no request has appear (it has been around 10 minutes of wait) and Accounts still show "Connecting". But Dashboard does not say "Discover error".
http://127.0.0

[2020-11-06 08:14] bosomt opened #2903 "CDN throws away the GET parameters in the URL"
**Describe the bug**
See screenshots, we are experiencing lots of errors in browser logs during accounts/transactions loading in Suite

**Info:**
 - Suite Version: /web, commit 513631a9fa62c438e60397a9942b04275bcd621a
 - Browser: Chrome, version 86.0.4240.111 + Firefox 82
 - OS: Nixos
 - Firmware Version: model T 2.3.3 , revision 0d5f00668

**Steps to reproduce:**
1. Load suite
2. Enable all coins

[2020-11-06 08:33] bosomt commented on #2667
**QA OK**

Suite Version: /web, commit 513631a
Browser: Chrome, version 86.0.4240.111 + Firefox 82
OS: Nixos
Firmware Version: model T 2.3.3 , revision 0d5f00668

[2020-11-06 09:40] prusnak commented on #2903
This is a CDN issue - I'll take care of this

[2020-11-06 09:43] bosomt commented on #2719
**QA OK**

**Fedora + Windows 10** /current versions/
Suite app commit 513631a9fa62c438e60397a9942b04275bcd621a
Device 1.9.3 model One commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8

tested with Trezor Bridge present and not present in system and Suite behaved correctly

[2020-11-06 10:05] prusnak commented on #2903
Found the culprit - our CDN does throw away the GET arguments, which was not a problem for most of the requests, but since this particular request has 2 URL arguments, it causes trouble.

Coingecko throws HTTP 422 error in case no GET arguments are provided, but this error response does not have CORS headers, that's why this looked like a CORS error.

Fix is on the way.

[2020-11-06 10:39] keraf commented on #2832
Wasn't able to reproduce it again. Closing for now, re-opening if it happens again.

[2020-11-06 10:39] #2832 closed, assigned to martinboehm

[2020-11-06 11:18] bosomt commented on #2655
QA OK

Fedora + Windows 10 /current versions/
Suite app commit 513631a
Device 1.9.3 model One commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8

tested with Trezor Bridge present and not present in system and Suite behaved correctly

[2020-11-06 12:31] bosomt opened #2904 "Labeling context menu misplaced in Firefox"
**Describe the bug**
Labeling context menu are misplaced in Firefox, sometimes are not displayed at all.
Chromium works fine. See screenshots please.

**Info:**
 - Suite Version: app/web, commit caabdcb1ab7b32edc6c47f47d49035a9b043f19f + Staging
 - Browser: Firefox , version 82
 - OS: Nixos
 - Firmware Version: FW 2.3.3 model T, revision 0d5f00668

**Steps to reproduce:**
1. Load suite in Firefox

[2020-11-06 12:39] prusnak commented on #2903
The issue with the CDN should be fixed now - https://cdn.trezor.io/dynamic/coingecko/api/v3/coins/ripple/market_chart?vs_currency=usd&days=7 returns correct data now.

@bosomt please re-test

[2020-11-06 12:39] #2903 closed, assigned to prusnak

[2020-11-06 12:52] mroz22 opened #2905 "google provider registration (web)"
- Register ouath client with google (web application type) ![image](https://user-images.githubusercontent.com/30367552/98368159-2a4e5980-2037-11eb-8524-d371d2804d69.png)

- Please also set "Authorized JavaScript origins" and "Authorized redirect URIs" to the same values that are registered with Dropbox

[2020-11-06 12:57] wendys-cats commented on #2719
**QA OK**

Tested with and without Trezor Bridge present and Suite behaved correctly.

**OS** Windows 10 home
**Suite** app 513631a
**Device** TT 2.3.4 public

[2020-11-06 13:09] wendys-cats opened #2906 "Coin filter disappears after clicking on a TX Sent notification"
**Describe the bug**
Suite disables the coin filter after Sent transaction (view details) is clicked on. Clicking on this notification redirects the user to account transaction history and simultaneously disables the coin filter.

**Info:**
 - Suite web 513631a9fa62c438e60397a9942b04275bcd621a
 - Browser: Chromium 85
 - OS: NixOS
 - Firmware Version: TT 2.3.4 public

**Steps to reproduce:**
1. Act

[2020-11-06 14:13] wendys-cats commented on #2903
**QA OK**

Console shows no CDN errors during transactions/accounts loading.

**Suite** web 513631a
**Browser**: Chromium 85
**OS**: NixOS
**Firmware** Version: TT 2.3.4 public

[2020-11-06 14:24] bosomt opened #2907 "Onboarding - underlined Contact support button hyperlink in modal"
**Describe the bug**
See screenshots, one button is underlined when you hover over it with cursor during onboarding of device.
I was not able to find any other button in suite with same behavior.

**Info:**
 - Suite Version: web + app dev master + staging , commit 513631a9fa62c438e60397a9942b04275bcd621a and caabdcb1ab7b32edc6c47f47d49035a9b043f19f
 - Browser: Firefox 82 + Chromium 86
 - OS: Nixos

[2020-11-06 15:46] tsusanka commented on #2843
Yeah I think the idea is that they are both connected to privacy. @sorooris should we close?

[2020-11-06 15:47] tsusanka commented on #2844
@wendys-cats please test and close (and move to Approved ) if it works :). Or is there any action we should take?

[2020-11-06 15:48] tsusanka commented on #2842
@wendys-cats please test and close (and move to Approved) if it works :). Or is there any action we should take?

[2020-11-06 15:49] tsusanka commented on #2869
So this seems to work? Closing?

[2020-11-06 15:53] IvaFingerova opened #2909 "Transaction history deleted when app data deleled (webapp)"
**Describe the bug**
A clear and concise description of what the bug is.
while testing exchange, I got a fail and went to the inspector and deleted app data, went back to the transaction tab in the account and couldn't see my failed transaction any more

**Info:**
 - Suite Version:web, commit ???
 - Browser: Brave, Version 1.14.84 Chromium: 85.0.4183
 - OS: MAC OS Catalina 10.15.7 (19H2)
 - Firmwa

[2020-11-06 16:09] sorooris commented on #2843
alright, let's close.

[2020-11-06 16:09] #2843 closed, assigned to tomexx

[2020-11-06 17:18] wendys-cats commented on #2869
@tsusanka yes please, close this issue.

[2020-11-06 17:24] #2869 closed, assigned to glacierbits

[2020-11-06 18:09] wendys-cats commented on #2844
@tsusanka thanks for the reminder!

**QA OK**

**OS** Windows 10 home
**Suite** APP 20.12.0 491f31ee27067b57e273e79cd1a6e1cad91459bb
**Device** TT 2.3.4

Did not encounter any colour changes to purple anywhere in the APP.

[2020-11-06 18:27] wendys-cats commented on #2842
**QA OK**

**OS** Windows 10 home
**Suite** APP 20.12.0 491f31e
**Device** TT 2.3.4

Chromium on Nixos does not show TOR. TOR toggl in WinAPP does toggle correctly.

[2020-11-06 18:36] wendys-cats commented on #2412
**Windows10 Home  OK**
20.12.0 commit 491f31ee27067b57e273e79cd1a6e1cad91459bb
Device 2.3.4 public

Exit having red background on hover for Win10 is a lovely touch!

![photo_2020-11-06_19-35-13](https://user-images.githubusercontent.com/58593111/98402286-55e93800-2067-11eb-9865-ac1f5f0a2399.jpg)

[2020-11-06 19:01] #2842 closed, assigned to keraf

[2020-11-06 19:01] #2844 closed, assigned to keraf

[2020-11-08 14:44] mroz22 commented on #2904
@slowbackspace assistance might be needed here :sos:

[2020-11-08 20:34] slowbackspace commented on #2904
@mroz22  😱  I'll look into it!

[2020-11-09 07:42] tsusanka commented on #2764
@bosomt as Szymon says it can be tested at https://suite.corp.sldev.cz/suite-web/test/zcash-testnet/web/accounts/send/#/taz/0 . But since Szymon already tested it I am not sure it is still needed. If you have a testnet zcash easily available go for it.

[2020-11-09 08:36] mroz22 opened #2916 "NixOS related [tracker]"
Issue for tracking NixOS related issues:

- [x] https://github.com/trezor/trezor-suite/issues/1578
- [x] https://github.com/trezor/trezor-suite/issues/2614
- [ ]  https://github.com/trezor/trezor-suite/issues/2615
- [x]  https://github.com/trezor/trezor-suite/issues/2921
- [ ]  https://github.com/trezor/trezor-suite/issues/2211
- [x]  ~~https://github.com/trezor/trezor-suite/issues/2962~~ autoupda

[2020-11-09 08:52] #2907 closed, assigned to glacierbits, mroz22

[2020-11-09 09:06] tsusanka opened #2917 "Print firmware revision in Settings"
In Suite we print its version and we make it clickable. It goes to Github on the particular commit.

![image](https://user-images.githubusercontent.com/1835345/98520952-155e0a00-2273-11eb-8a9c-10a726ba03c9.png)

We could do the very same for firmware. We currently print only the version but we could also make the version clickable and link it to the particular firmware's commit.

![image](https://

[2020-11-09 10:11] michnovka opened #2918 "Self-hosted labeling sync using WebDAV (Nextcloud, etc.) ⛈️"
**Is your feature request related to a problem? Please describe.**
Right now only Dropxbox is supported on my Linux distro. I have a self-hosted Nextcloud solution and as the leading opensource cloud hosting I think Trezor should aim to support this.

**Describe the solution you'd like**
Add Nextcloud to the list of supported cloud storeage providers.

**Describe alternatives you've considered**
A

[2020-11-09 10:15] wendys-cats opened #2919 "Incorrect error notification for FW installation fail"
**Describe the bug:**
TT and T1 update both show "Error: Firmware install failed" instead of "Error: Firmware installation failed" in Onboarding/Update FW process when FW installation is canceled.

NixOS + Chromium 85
Suite web 20.11.1 39d1b96
Device TT 2.3.3

**Steps to reproduce**
**1** Connect device with outdated FW
**2** Initiate FW update
**3** Cancel FW update

**Expected**
"Error: Firmware

[2020-11-09 10:16] wendys-cats commented on #2659
Closing issue. Reported separately [here](https://github.com/trezor/trezor-suite/issues/2919) on @mroz22´s request.

[2020-11-09 10:16] #2659 closed, assigned to mroz22

[2020-11-09 10:26] bosomt commented on #2412
Just checked 3 Linux distros with KDE and Gnome and Suite ignores native environment.

Suite staging app commit 513631a9fa62c438e60397a9942b04275bcd621a

See colors and icons.

**KDE + KUbuntu**

![image](https://user-images.githubusercontent.com/31506317/98528907-3cb9d480-227d-11eb-9ba2-fd4f9217d224.png)
![image](https://user-images.githubusercontent.com/31506317/98528928-417e8880-227d-11eb-8c4a-

[2020-11-09 10:28] sorooris commented on #2412
@matejzak @tsusanka could you please look at the Linux distros screenshots above and confirm whether the current state is intended?

[2020-11-09 10:37] tsusanka commented on #2412
I am a bit confused about the Mint + KDE pictures. On the first pic you are showing two navbars (one Suite's and one OS's) but on the second one Suite has only one, nope?

[2020-11-09 10:39] bosomt commented on #2412
@tsusanka those are two separate apps, just move them close so you can compare them ;)

sorry for confusion :)

[2020-11-09 10:46] wendys-cats opened #2921 "APP blockbook transaction links in nixos are broken"
**Describe the bug**
Transaction detail links in NixOS app are broken. There is an additional character in URL link that breaks it (a hyphen)

**Info:**
 - Suite Version: APP 513631a9fa62c438e60397a9942b04275bcd621a
 - OS: NixOS
 - Firmware Version: T1 1.9.3 public

**Steps to reproduce:**
1. Connect device
2. Go to Accounts> Overview > Transaction history
3. Click on Details for any transaction

[2020-11-09 10:59] prusnak opened #4875 "Path discrepancy between Connect methods"
Method `getAccountInfo` returns paths of UTXOs as strings, but inputs in `signTransaction` expects the paths to be in `Array<number>` format.

It is possible to do the conversion using `getHDPath` from https://github.com/trezor/connect/blob/develop/src/js/utils/pathUtils.js, but this method is not exported from Connect.

Suggestion: either export `getHDPath` utility function from Connect or update

[2020-11-09 11:00] tomexx commented on #2412
Right now we are using custom HTML/CSS title bar and we have detection for:
- Mac
- any other device

If we want to support custom designs for different linux distros (UIs) we'll need a list which ones to support and then find a detection mechanism (Electron built-in detection won't be enough I guess). The app with custom title bar can't mimic the native controls design automatically, unfortunatel

[2020-11-09 11:01] mroz22 commented on #2918
Hi @michnovka
Thanks for your proposal. First of all, this is something that should be validated by the product department, so I am assigning @matejzak at the moment.

As for now, my question is, would you like to contribute implementing this?

[2020-11-09 11:04] keraf commented on #2921
The hyphen is only added for displaying the text (done automatically by the alert box), it shouldn't be in the actual link. But also that made me realize that not all trezor.io links are exempt to the external link warning. In regards to the link not opening after pressing continue, I believe this is a Nix related issue as it has been working well for me on other platforms (Ubuntu, Win 10, Mac OS)

[2020-11-09 11:21] prusnak commented on #2412
It is impossible to detect all Linux distro UIs - there are two options - keep it as it is (preferred) or remove it on Linux (as being discussed here - https://github.com/trezor/trezor-suite/issues/2856)

I think this issue is done and can be closed

[2020-11-09 11:25] #2892 closed, assigned to keraf

[2020-11-09 11:28] sorooris commented on #2412
Agreed, closing and moving to approved as there's a follow-up issue. Thank you everyone!

[2020-11-09 11:28] #2412 closed, assigned to tomexx, glacierbits

[2020-11-09 12:21] tsusanka commented on #2921
@wendys-cats if you click Continue will the link open in the browser correctly? Or it includes the hyphen as well? Maybe it's just a "display" thing.

[2020-11-09 12:25] tsusanka commented on #2921
Interesting, clicking on Continue works just fine on my NixOS. So this is most likely specific to some weird cases. Let's not worry about this one for now and we'll try later when @wendys-cats upgrades her system if the issue persists :).

[2020-11-09 12:38] keraf opened #2923 "Pay technical debt in trezor-link"
High level issue for the [trezor-link](https://github.com/trezor/trezor-link) work we need to do:

- [ ] [Move to monorepo as `@trezor/transport`](https://github.com/trezor/trezor-suite/issues/3663)
- [x] Unit tests
- [x] TypeScript support
- [x] Bump protobuf lib
- [ ] Refactor:
  - [ ] use .proto files
  - [ ] allow multiple protobuf sets/instances
  - [ ] http requests cancelation
  - [ ] gener

[2020-11-09 12:41] keraf opened #2924 "Epic: Move Connect to monorepo and refactor it"
High level issue for the [trezor-connect](https://github.com/trezor/trezor-connect) work we need to do:

## P1 High:

_Being done by @szymonlesisz._

- [ ] Move to monorepo. create multiple packages:
    - [x] core (nodejs essential)
    - [x] https://github.com/trezor/trezor-suite/issues/4363
    - [x] UI (landingpage/connect-explorer),
    - [ ] web wrapper(3rd party popup usage),
    - [ ] webe

[2020-11-09 12:53] tsusanka commented on #2919
@mroz22 is this due to https://github.com/trezor/trezor-firmware/issues/1334?

[2020-11-09 13:00] mroz22 commented on #2919
Firmware does not send any message, so yes. I've added custom fallback message for this case into trezor-connect, that sounds "Firmware install failed".

But QA would be happier if it was "Firmware installation failed".

I could have added `Firmware install cancelled` just the same as trezor T sends. But I was more like let's do it more abstract and cover all possible error cases that do not send

[2020-11-09 13:22] prusnak commented on #2687
After fixing issues from the original post I confirm the desktop builds are deterministic.

[2020-11-09 13:22] #2687 closed, assigned to prusnak

[2020-11-09 13:33] martinboehm commented on #2909
Works as expected. The trade data are stored in the storage, if the storage is deleted, the data is gone.

[2020-11-09 14:10] #2875 closed, assigned to keraf

[2020-11-09 15:04] mroz22 commented on #2909
I am closing this as it appears to be resolved. If any parts to the conversation don't feel it the same, please reopen.

[2020-11-09 15:04] #2909 closed, assigned to martinboehm

[2020-11-09 16:14] #2898 closed, assigned to glacierbits

[2020-11-09 16:17] wendys-cats commented on #2921
@keraf definitely Nix related, links on other platforms are working fine. It seems like my external links in Suite are not working at all (have not noticed this outside of Suite APP). @bosomt reports his external links are good and working. I will try to find out what exactly is wrong (maybe reinstall/system update will help).

@tsusanka I will close the issue now and reopen is it persists after s

[2020-11-09 16:18] #2921 closed, assigned to glacierbits

[2020-11-09 16:22] szymonlesisz commented on #2774
related to https://github.com/trezor/trezor-suite/pull/2762/files

refactor buyUtils:
- getAmountLimits
- createTxLink
- submitRequestForm

and use the same requests regardless of env

catch request in electron, similar to `handleExternalLink`, filter invity urls (electron config), lookup at incoming request if it's a POST (submitRequestForm) or GET with redirection (getAmountLimits, createTxLink)

[2020-11-09 18:15] prusnak opened #2926 "Update to bridge 2.0.30"
- [x] PR https://github.com/trezor/trezor-suite/pull/2925 - Suite Desktop
- [x] PR https://github.com/trezor/connect/pull/704 - Connect
- [x] PR https://github.com/trezor/trezor-suite/pull/2931 - add updated Connect to Suite
- [x] deploy Bridge 2.0.30 to data.trezor.io and wallet.trezor.io (keep 2.0.27 as default)

[2020-11-10 09:53] bosomt commented on #2764
**QA OK**

https://blockbook-dev.corp.sldev.cz:19132/tx/7e530e41f1ed06bd220bc4d4e5506cc300e6ada8728e9bb16484531b9c154444

Nixos + Chromium 86
Suite web commit 9959d18d60612922d52550cea22f69d71ee0467f
Device model One FW 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-11-10 10:01] sorooris commented on #2719
**QA OK**

OS: macOS Catalina 10.15.7
Suite: app 513631a9
Device: model T 2.3.4 50854b921

[2020-11-10 10:03] sorooris commented on #2700
**QA OK**

Haven't encountered the issue in the latest Bridge release candidate (RC5) and staging Suite.

OS: macOS Catalina 10.15.7
Suite: app 513631a9
Device: model T 2.3.4 50854b921

[2020-11-10 11:04] bosomt commented on #2904
**QA NOK**

Nixos + Firefox
Suite web dev master commit 84550f4b5e4fd96c9515ffeaa11fd6a20fdde3d6
Device model One firmware 1.9.3 commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

please see what happens when i press `copy address`. it scrolls to bottom of page.
Maybe it's related to issue https://github.com/trezor/trezor-suite/issues/2894

![Peek 2020-11-10 11-55](https://user-images.githubuserc

[2020-11-10 11:28] #2919 closed, assigned to mroz22

[2020-11-10 12:41] prusnak commented on #2905
client id: `705190185912-nejegm4dbdecdaiumncbaa4ulrfnpk82.apps.googleusercontent.com`

Authorised JavaScript origins
https://wallet.trezor.io
https://suite.trezor.io
https://beta-wallet.trezor.io
https://staging-wallet.trezor.io
https://suite.corp.sldev.cz

Authorised redirect URIs
https://staging-wallet.trezor.io/wallet/web/static/oauth/oauth_receiver.html
https://staging-suite.trezor.io/web/stat

[2020-11-10 15:22] jpph opened #2933 "U2F counter restoration not working"
When restoring trezor one (using trezor suite), the u2f counter is reset to 0. That can make authentication fail if counter is lower than one used before. Should be unix time ?

trezor used : trezor one
firmware : 1.9.3
trezor suite : 20.10.1
website used for checking counter, with chrome on windows 10 : https://mdp.github.io/u2fdemo/

I have tested with wallet.trezor.io, it is working, counter is

[2020-11-10 15:24] cryptomar1o opened #2934 "Recognize that the latest firmware is already installed for TT in the bootloader mode"
When connecting with Trezor Model T, the application could recognize what bootloader version is used. If the latest one is already installed, the user should be informed, not necessary to do any additional checks.

Trezor Suite version 20.0.12 connected with Trezor Model T firmware version 2.3.4, still asked to check the firmware version and reconnect the device:

![01](https://user-images.githubu

[2020-11-10 15:48] michnovka commented on #2918
@mroz22 sorry, my node.js skills are poor. I am willing to fund this should there be some bounty program tho.

[2020-11-10 17:17] tsusanka opened #2935 "Do not ask if the user wants to set up device if they do not have another choice"
What's the point of the "Starting up or coming back?" screen if I have an uninitialized device? It seems to me it does not have any point. We can keep the screen but I think we should ditch the "Use device" option then. Because you can't use it :).

![xxx](https://user-images.githubusercontent.com/1835345/98707348-3c563200-2380-11eb-99ae-e37670058f71.gif)

[2020-11-10 17:32] tsusanka opened #2936 "Do not instruct the user to restart bridge in desktop"
**Describe the bug**
Instructing the user to restart Trezor Bridge does not make sense when the user uses the desktop app. Also instruction to restart sounds a bit.. amateurish doesn't it?

I mean we can consider some "bridge restart" button in the desktop but obviously the Bridge should work without any restarting voodoo.

**Info:**
 - Suite Version: desktop https://github.com/trezor/trezor-suite

[2020-11-10 17:38] tsusanka opened #2937 "Open desktop Suite in larger window"
**Describe the bug**
On my PC the desktop opens quite small (like 1/3 of my screen). Could we make it bigger? And proportional to my view port maybe?

**Info:**
- Suite Version: desktop 36c7716
- OS: NixOS
- Firmware Version: 1.9.3
- Viewport: 1920 x 975

**Steps to reproduce:**
1. Launch Suite :)

**Note(s):**
Related to https://github.com/trezor/trezor-suite/issues/2938. If #2938 would be done w

[2020-11-10 17:39] tsusanka opened #2938 "Remember desktop Suite window size"
**Describe the bug**
Maybe this is a NixOS thing but when I launch Suite via appimage-run and resize the window it is not remembered on a next launch.

**Info:**
- Suite Version: desktop 36c7716
- OS: NixOS
- Firmware Version: 1.9.3
- Viewport: 1920 x 975

**Steps to reproduce:**
1. Launch Suite
2. Enlarge its window
3. Close it
4. Lauch again

**Expected result:**
The window size is remembered.

[2020-11-10 17:45] tsusanka commented on #2904
Let's fix this in the following release properly (no rushing to tomorrow's release).

[2020-11-10 17:47] tsusanka commented on #2876
With error in my eyes I have found this issue :). But luckily this seems very edge-casy and I think we can live with that. @wendys-cats can you confirm that Tor works just fine on Windows, just when you "press" a bit you can see these issues?

[2020-11-10 17:49] prusnak commented on #2938
I am wondering whether this is a:
- [ ] NixOS issue
- [ ] all Linux issue
- [ ] all OS issue

[2020-11-10 18:00] slowbackspace commented on #2938
macOS build from staging works fine on my machine ™️
so that's leaving all linuxes or NixOS :)

[2020-11-10 18:10] tsusanka commented on #2938
@slowbackspace forgetting Bill Gates :P.

[2020-11-10 20:05] wendys-cats commented on #2876
@tsusanka works fine on my Win (produced some [errors](https://github.com/trezor/trezor-suite/issues/2869) again, but it seems to happen strictly within my system and clearing cache + killing trezord fixes it). Managed to produce it once in 15 attempts (with network throttled to 3G).

[2020-11-11 10:19] wendys-cats commented on #2892
@keraf are the invity.io links also included in this issue, or is it out of scope?

[2020-11-11 10:44] prusnak commented on #2892
Right, only trezor.io links are available via trezorio.....onion. So invity.io is out of scope

[2020-11-11 10:48] wendys-cats commented on #2892
@prusnak tanks for aswer!

OK for Win10 app.

[2020-11-11 11:01] slowbackspace commented on #2938
@tsusanka ohh right, the windows people. I just checked with @wendys-cats and it indeed doesn't work on Windows, same with my Ubuntu. Kinda weird it only works on macOS. I'll investigate a bit more since I already started digging into it :)

[2020-11-11 11:07] prusnak commented on #2938
It seems Electron does not do that automatically, so most macOS does that instead of Electron

There are several ways how to do this:
* use of the shelf solution: https://github.com/mawie81/electron-window-state
* store stuff manually in the current storage (probably preferred as it does not add any new dependency): https://medium.com/@hql287/persisting-windows-state-in-electron-using-javascript-c

[2020-11-11 11:09] keraf commented on #2918
As a NextCloud user I think that would be awesome to support, especially since the reason I moved to NextCloud was to avoid Drive, Dropbox and co :smile:  @mroz22 @matejzak I can take this task and test it against my own instance.

[2020-11-11 11:17] slowbackspace commented on #2938
@prusnak Where did you find that mac is handling this by itself ? We have an implementation for storing window size in desktop suite for a long time, imo that's why it works at least on macOS. Now for some reason it is broken on windows and linux.

edit: hehe, it was there in nov 2019 already! https://github.com/trezor/trezor-suite/issues/813

[2020-11-11 11:18] prusnak commented on #2938
It was just my speculation, which was obviously wrong if there is already our custom code dealing with that. :-)

[2020-11-11 11:43] mroz22 commented on #2918
Could you post link to the relevant next cloud API documentation? I could read through it very quickly just to give idea on how complicated this would be. Chances are that it could be implemented pretty easily.

[2020-11-11 12:04] keraf commented on #2918
Here's the client API documentation from NextCloud: https://docs.nextcloud.com/server/latest/developer_manual/client_apis/index.html

I think maybe we can offer a wider support of platforms by implementing a WebDav client so that people can use other products such as Pydio or their own NAS.

[2020-11-11 12:23] prusnak commented on #2918
WebDAV would be great! It seems there is a maintained webdav client package here: https://www.npmjs.com/package/webdav

[2020-11-11 12:27] tsusanka opened #2942 "Restarting bridge using "five clicks" is not working"
**Describe the bug**
The debug feature introduced in #2153 was working and now it is not :). Might have been broken by #2693.

**Info:**
 - Suite Version: 36c7716bd5
 - OS: NixOS but tested also on Mac with the same result

**Steps to reproduce:**
1. Disconnect all devices
2. Launch Suite
3. On the "connect your device" click 5x times on the image (see #2153 for details)
4. Launch emulator

**Expe

[2020-11-11 12:27] tsusanka commented on #2942
Not sure whom to assigned. @keraf you did the refactoring so maybe to you? Low prio though definitely.

[2020-11-11 12:42] #2751 closed, assigned to glacierbits

[2020-11-11 12:47] glacierbits commented on #2751
@prusnak Release notes for today's release. Thanks!

[2020-11-11 12:47] keraf commented on #2942
If you're trying to run Suite with Bridge in dev mode, you have to use the `--bridge-dev` flag. No clicking needed :slightly_smiling_face:

[2020-11-11 13:37] #2467 closed, assigned to mroz22

[2020-11-11 13:37] #2578 closed, assigned to szymonlesisz

[2020-11-11 14:05] slowbackspace commented on #2937
heh so this is most likely caused by https://github.com/trezor/trezor-suite/issues/2938 (we have already implemented saving the window size, there is a bug tho), it seems that we get incorrect window dimensions (perhaps dimensions of closed window) on `before-quit` event, so instead of these wrong dimensions some default values are saved instead. I am working on a fix in #2938. Stay tuned!
Ohh and

[2020-11-11 14:06] mroz22 commented on #2904
isn't that a new issue? I agree that it is probably related to the initial one but "Labeling context menu misplaced in Firefox" seems somewhat misleading.

[2020-11-11 14:08] slowbackspace commented on #2937
Hmm, I think we can actually close this since it is already implemented, but not working due to bug for which there is another issue.

cc @tsusanka

[2020-11-11 14:13] FrankyFFV commented on #2838
@matejzak How can I join to translate?

[2020-11-11 14:31] tsusanka commented on #2937
Ok by that you mean https://github.com/trezor/trezor-suite/issues/2938?

[2020-11-11 15:24] slowbackspace opened #2944 "Upgrade to styled-components 5.2 breaks some css styles"
most likely caused by https://github.com/trezor/trezor-suite/pull/2940 at least I can't think of anything else that could cause this.

<img width="1601" alt="Screenshot 2020-11-11 at 16 23 30" src="https://user-images.githubusercontent.com/6961901/98830084-450b3e80-243a-11eb-9358-87a7091c8f93.png">

[2020-11-11 15:31] prusnak commented on #2938
I confirmed that when I edit `$HOME/.config/@trezor/suite-desktop/config.json` manually and modify the `winBounds` object there, the Suite will pick-up the settings from there. However, when I close the Suite these will get overwritten with the default values. This is all aligned with @slowbackspace's observation in https://github.com/trezor/trezor-suite/issues/2937#issuecomment-725441722 so I bel

[2020-11-11 15:32] #2739 closed, assigned to glacierbits

[2020-11-11 15:36] #2926 closed, assigned to nobody

[2020-11-11 15:37] prusnak commented on #2933
This is a regression (missing feature) when compared to Trezor Wallet. I think this should be included in the December's sprint and I think the fix is rather easy.

[2020-11-11 17:27] #2938 closed, assigned to slowbackspace

[2020-11-11 17:57] glacierbits opened #2946 "Download menu width"
Nitpick alert.

The menu width should be the same as the button.

<img width="595" alt="Screenshot 2020-11-11 at 18 54 45" src="https://user-images.githubusercontent.com/29627086/98846622-88bc7300-244f-11eb-975f-ad00bf5dc055.png">

[2020-11-11 23:30] glacierbits commented on #2838
@FrankyFFV We are yet to set up to official process (review etc.) for external contribution when it comes to translations. Once done, we will announce it to the community. What language are you interested in? Thanks!

[2020-11-11 23:37] glacierbits commented on #2918
@mroz22 Product department approves. :) Something we have discussed quite recently as a matter of fact. Putting it on the public roadmap, due date is yet to be agreed upon based on your evaluation of the relative implementation effort. Thanks!

[2020-11-12 00:00] FrankyFFV commented on #2838
Perfect! I’m translator of anothers projects such as Brave Browser & ProtonMail. I’m interested in Spanish.

[2020-11-12 00:01] vladimirvolek opened #2948 "Missing padding in Accounts view"
**Describe the bug**
NITPICK ALERT! Feels like there should be some padding in "No transactions" view

**Screenshots:**
![image](https://user-images.githubusercontent.com/3112191/98878063-4c563a80-2482-11eb-80ba-ea11967fa52a.png)

[2020-11-12 00:04] jpph opened #2949 "trezor suite should not warn and ask to update bridge if bridge is not installed stand alone"
latest version show that bridge is out date (0.28 instead of 0.30) and ask for update of the bridge.
it is using the bridge inside the  programfile / suite folder, so it shouldn't warn because it is maintained by the suite itself.

[2020-11-12 08:00] bosomt opened #2950 "Update Trezor Bridge modal doesn't fit to Suite window and offers Linux version of Bridge"
**Describe the bug**
+ when maximized and in full HD version of Suite modal doesn't fit to Suite window.
+ see screenshot, you have to scroll down to see that you can close this modal and drop down menu doesn't fit suite at all.
+ even i'm in Windows Suite offers me `Linux` version of Bridge.

**Info:**
 - Suite Version: app, commit 36c7716bd5c2a01de4b8981a2ac680f80c79164c
 - OS: Microsoft Windows

[2020-11-12 08:45] mroz22 opened #2951 "Fix unhandled rejections in unit tests"
![image](https://user-images.githubusercontent.com/30367552/98916721-c959d200-24cb-11eb-83e0-3a0f0c7b1b47.png)

[2020-11-12 08:50] mroz22 commented on #2948
And I add this.
![image](https://user-images.githubusercontent.com/30367552/98917226-66b50600-24cc-11eb-836d-dddede6aaa83.png)

[2020-11-12 10:43] glacierbits opened #2954 "Bridge issues"
Related:

- [ ] https://github.com/trezor/trezor-suite/issues/2949
- [ ] https://github.com/trezor/trezor-suite/issues/2950

### Bad UX

(To be solved by Stick's patch: Notification in desktop app populated only if Bridge version 27 and/or older detected.)

**General concern:**

- User never used Bridge, doesn't know what is it for or why they need to download it now
- They might have come across

[2020-11-12 10:50] slowbackspace commented on #2948
@mroz22 that was most likely caused by the styled-components upgrade we reverted

[2020-11-12 11:25] szymonlesisz commented on #2954
3rd party concern:
- `suite-desktop` opened (bundled trezord running) => go to suite-web or 3rd party app web/webextension => 3rd party app is working
- `suite-desktop` closed (bundled trezord IS NOT running) => go to 3rd party app => 3rd party app forces you to install bridge (via connect popup)
  confusion: yesterday it was working today it's not and forces me to install something new, why?

Uni

[2020-11-12 11:32] slowbackspace commented on #2944
update: indeed caused by new version of styled-components, breaking change introduced in 5.2 I don't feel like dealing with it right now (It could be rather tedious process to find everything that got broken because of it). We've reverted to previous version for now.

https://github.com/styled-components/styled-components/issues/3273

[2020-11-12 11:34] szymonlesisz commented on #2954
the best solution is to rewrite trezord-go and reverse desktop app architecture where trezord is the MAIN/parent daemon app which handle intents like: device-connection, 3rd party request and opens electron app (suite) as a child process :)

[2020-11-12 12:15] slowbackspace commented on #2937
@tsusanka it should work fine now, bug described in https://github.com/trezor/trezor-suite/issues/2938 is fixed making this feature request (for feature that is already implemented) unnecessary.
feel free to reopen PR if something's wrong 🙇

[2020-11-12 12:15] #2937 closed, assigned to keraf

[2020-11-12 12:32] martinboehm opened #2956 "Invity features in Tor mode"
We should think about how to handle Invity features (which contact our API server and in case of buy also partner's payment gateway) with regards to increased anonymity requested by user by switching to the Tor mode.

My suggestion is to show, when you choose a Trade tab while in Tor mode, a confirmation page with text like "Trade functionality requires to contact our API server and possibly partn

[2020-11-12 12:45] vladimirvolek commented on #2672
This is not a bug. You can see on the screenshot the content is bigger than your window. So there is a scrollbar.
Please reopen if I am wrong @slowbackspace @robertbrada @tomexx.

![image](https://user-images.githubusercontent.com/3112191/98940848-e43c3e80-24eb-11eb-98ba-0b4890bb311f.png)

[2020-11-12 12:45] #2672 closed, assigned to martinboehm

[2020-11-12 14:55] bosomt opened #2958 "Desktop - Buy - Payment gateway redirect opens a local file"
**Describe the bug**
Payment gateway redirect to text editor and not to browse in Kubuntu.
tested in Mint Linux with KDE and it works fine.

**Info:**
 - Suite Version: app, commit 36c7716bd5c2a01de4b8981a2ac680f80c79164c
 - OS:  Kubuntu 20.04
 - Firmware Version: 2.3.4

**Steps to reproduce:**
1. Start Suite app in Kubuntu
2. Proceed with Buy feature
3. Hit Go to payment button

**Expected result

[2020-11-12 15:14] martinboehm commented on #2958
@bosomt  Could you please check that you have some default browser on the system? Also, is labelling working?

[2020-11-12 15:26] bosomt commented on #2958
@martinboehm after I changed it from based on content to browser it works fine.
Is there anything that we can change in app so this default behavior doesn't need to be changed ?

![image](https://user-images.githubusercontent.com/31506317/98959365-7f8cde00-2503-11eb-96f8-82723d48d4f2.png)

[2020-11-12 15:41] prusnak opened #2959 "ARM64 support (Linux and macOS)"
It should be possible to run Trezor Suite on ARM64 systems:
* Linux - e.g. Raspberry [Pi 4](https://www.raspberrypi.org/products/raspberry-pi-4/) or [Pi 400](https://www.raspberrypi.org/products/raspberry-pi-400/)
* Windows - e.g. Microsoft Surface Pro X
* macOS - e.g. the new Macbook Air

**Progress:**

Landing pages - merged via PR https://github.com/trezor/trezor-suite/pull/2969 :tada:
- [x] ad

[2020-11-12 15:47] martinboehm commented on #2958
I am not aware of a method in Electron how to detect what default browser is selected. Maybe @keraf or @szymonlesisz would know more?

[2020-11-12 15:47] prusnak commented on #2959
Work is being done in https://github.com/trezor/trezor-suite/pull/2960

[2020-11-12 15:55] yohaaan opened #2961 "Account scroll window glitch"
**Describe the bug**
- when scrolling the account bar accounts are being covered by each other and some of them cannot be accessed properly due to being overlapped by others.

**Info:**
 - Suite Version: app, Trezor-Suite-20.11.0-mac
 - OS: macOS Mojave (version 10.14.6)

**Steps to reproduce:**
1. Go to My Accounts
2. Add enough accounts to activate the scroll bar
3. Scroll and change the size of

[2020-11-12 15:59] keraf commented on #2958
I don't think there's such method in Electron but the problem seems to be related with the responses (not just this one) from `packages/suite-desktop/src-electron/http-receiver.ts`. Adding a `Content-Type` header to all responses should probably do the trick. Or maybe output valid HTML (doctype and head tag are missing).

[2020-11-12 16:07] prusnak commented on #2956
Here I am not worried about our API server, which should work via Tor with no issues IMHO.

The problem lies in the steps after, where some payment gates may either:
a) actively block Tor connections
b) open a popup-window outside of desktop Suite breaking anonymity

I am not sure if b) is even possible - maybe @keraf knows more?

So maybe the Trade tab should be hidden behind a bar that says some

[2020-11-12 16:17] tsusanka opened #2962 "Autoupdate failing on NixOS"
Part of #2916. Throws `Error: Error: APPIMAGE env is not defined` during an update.

[code]

[2020-11-12 16:26] prusnak commented on #2962
This is most probably an issue with the `appimage-run` tool from NixOS which does not define APPIMAGE env variable. Oddly enough I was able to find this issue on other Linux-based OS as well - https://stackoverflow.com/questions/52442650/electron-builder-linux-updates-appimage-env-is-not-defined

The error comes from https://github.com/electron-userland/electron-builder/blob/master/packages/electr

[2020-11-12 16:44] mroz22 commented on #2630
I have just run into this again. Can't close app.

OS: Windows 10 pro, version 1903
commit 36c7716b

Also maybe it's worth mention that it does not find the latest update.

[2020-11-12 16:45] sorooris opened #2964 "Desktop: Not able to quit the app on Win10"
I have just run into this again. Can't close app.

OS: Windows 10 pro, version 1903
commit 36c7716b

Also maybe it's worth mention that it does not find the latest update.

_Originally posted by @mroz22 in https://github.com/trezor/trezor-suite/issues/2630#issuecomment-726196662_

[2020-11-12 16:46] sorooris commented on #2630
macOS only - opening a new issue
couldn't replicate issue in the latest 20.11.2 build (commit b0dacc34)

[2020-11-12 16:46] #2630 closed, assigned to keraf

[2020-11-12 16:47] mroz22 commented on #2630
ok thanks.

[2020-11-12 16:49] mroz22 commented on #2964
After that I checked task-manager. There were number of Trezor Suite process (not meaning those clustered in single record which is expected) so I killed all of them, started the app again and quit started to work. But still no update offered.

[2020-11-12 16:57] sorooris opened #2965 "Desktop - macOS update install not initiated when prompted to update immediatelly"
**Describe the bug**
Checking for an update and prompting an app restart/installation results in minimizing the Suite window.

**Info:**
 - Suite Version: app b0dacc34
 - OS: macOS Catalina 10.15.7
 - Firmware Version: model T 2.3.4 50854b921

**Steps to reproduce:**
Prerequisite - newer build available
1. Navigate to Settings -> General - select Check fo updates button,
2. Confirm any dialog/moda

[2020-11-12 17:54] mroz22 opened #2967 "Exchange unexpected warning"
1. take device without backup
1. go to exchanges tab
1. click 1/4 amount

observe
![image](https://user-images.githubusercontent.com/30367552/98976991-54f95000-2518-11eb-81b4-9daf21219709.png)

note it does not trigger any on device dialog.

[2020-11-12 19:41] prusnak opened #2968 "Make errors silent when auto-update is not available"
**Short version:**

Currently we show a red notification when it's impossible to fetch auto-update information from GitHub.

I think this has no informational value and should be silenced.

**Long version:**

While working on https://github.com/trezor/trezor-suite/pull/2969 I stumbled upon the following auto-update error:

[code]

That happened, because the last release did not have `latest-linux-

[2020-11-13 08:18] bosomt commented on #2875
**QA OK**

Windows 10
Suite app commit b0dacc34e574235daa2427c08b8d2985baa2dc13
Device model T FW 2.3.4

[2020-11-13 08:19] bosomt commented on #2892
**QA OK**

Windows 10
Suite app commit b0dacc3
Device model T FW 2.3.4

[2020-11-13 08:35] bosomt commented on #2532
**QA OK**

Windows 10
Suite app commit b0dacc3
Device model T FW 2.3.4

[2020-11-13 08:43] bosomt commented on #2445
**QA OK**

Windows 10
Suite app commit b0dacc3
Device model T FW 2.3.4

[2020-11-13 09:30] glacierbits opened #2970 "ETH: Custom fee"
Design for custom fee on ETH: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f0c3209d6b0239f5ed31ef4)

- Click on `Custom` will expand the box with the two inputs.

[2020-11-13 09:34] glacierbits commented on #2654
Closing in favour of #2970

[2020-11-13 09:34] #2654 closed, assigned to glacierbits

[2020-11-13 09:36] glacierbits commented on #2310
Closing in favour of #2784

[2020-11-13 09:36] #2310 closed, assigned to glacierbits

[2020-11-13 11:51] #2951 closed, assigned to mroz22

[2020-11-13 11:57] bosomt commented on #2958
**QA OK**

fixed in https://github.com/trezor/trezor-suite/pull/2963

[2020-11-13 11:57] #2958 closed, assigned to keraf

[2020-11-13 12:25] #2904 closed, assigned to mroz22

[2020-11-13 13:49] wendys-cats opened #2973 "Normal fee for DOGE too small"
**Describe the bug**
There has been a change recently in fees for DOGE coin where any transaction with fee under 1 DOGE will be labeled as zero fee transaction and gets stuck in mempool without proccessing, blocking any coins in that transaction from further use.

**Info:**
 - Suite : app 20.11.1 36c7716bd5c2a01de4b8981a2ac680f80c79164c
 - OS: Windows 10 home
 - Firmware Version: TT model , revisi

[2020-11-13 14:23] #2779 closed, assigned to martinboehm

[2020-11-13 14:26] #2858 closed, assigned to szymonlesisz

[2020-11-13 14:35] slowbackspace commented on #2961
@yohaaan  that gif would be really helpful :D
<img width="386" alt="Screenshot 2020-11-13 at 15 35 05" src="https://user-images.githubusercontent.com/6961901/99083402-cfcc7480-25c5-11eb-816a-6ea6f8020a87.png">

[2020-11-13 15:46] prusnak commented on #2918
Found this neat Go implementation of WebDAV server - https://github.com/hacdias/webdav - might be useful for testing

[2020-11-14 08:18] MCM-Mike commented on #2918
Do we know where the labels from the Trezor-Suite are stored on a Linux file system?

[2020-11-14 11:17] prusnak opened #2977 "Error loading page when running on Linux and no udev rules are installed"
**How to reproduce:**

1. run Suite on a Linux machine where no udev rules are installed (and ideally no bridge)
2. observe Error occured - Loading takes too long screen

**Description of the problem:**

1. The Suite runs the bundled Bridge as expected
2. Bridge cannot access USB devices so it responds with `{error: "LIBUSB_ERROR_ACCESS"}`
3. Suite thinks the bridge is not responding, so it tries

[2020-11-14 11:21] prusnak commented on #2968
Maybe this does the trick? (untested)

[code]

[2020-11-16 07:11] mroz22 commented on #2933
Yes. wallet.trezor.io sets this to unix time in seconds
https://github.com/satoshilabs/mytrezor/blob/b030ebae4de01aaf2e09f320d112837b668b3379/app/scripts/trezor/TrezorDevice.js#L1207

This will be fixed in the December's release.

[2020-11-16 10:01] slowbackspace commented on #1806
closing this, either it is fine or no one cares enough to report it :)

[2020-11-16 10:01] #1806 closed, assigned to slowbackspace

[2020-11-16 10:17] sorooris opened #2981 "Exchange - below-minimum offers are displayed (as N/A)"
**Describe the bug**
Selecting an exact minimum value in receive inputs results in offers below each their minimum being displayed in the Offers list. It is possible to finish the exchange flow with these offers.

**Info:**
 - Suite Version: web, commit 8209171d71df3d6f34c367274f2aca6cdded4c57
 - Browser: Chromium 86.0.4240.111
 - OS: any (tested NixOS 20.09)
 - Firmware Version: 2.3.4 50854b921

[2020-11-16 10:29] szymonlesisz commented on #2796
get branch id from blockbook
https://github.com/trezor/blockbook/pull/508

[2020-11-16 10:58] sorooris opened #2982 "Exchange, Offer detail - untranslated tooltips"
**Describe the bug**
Tooltips display untranslated strings, copy is missing.

**Info:**
 - Suite Version: web, commit 8209171d71df3d6f34c367274f2aca6cdded4c57
 - Browser: Chromium 86.0.4240.111
 - OS: any (tested NixOS 20.09)
 - Firmware Version: 2.3.4 50854b921

**Steps to reproduce:**
1. Navigate to the Trade tab, Exchange sub-tab,
2. Fill the form with arbitrary values, confirm,
3. Select an ar

[2020-11-16 11:56] vladimirvolek commented on #2982
Exchange translations are currently in progress.

[2020-11-16 12:03] glacierbits commented on #2699
@slowbackspace Signature link added to [Zeplin](https://zpl.io/VqNJxZJ) (below primary buttons). Thanks!

[2020-11-16 13:01] MatveiP opened #2983 "Typo on one of the "Check Backup" screen"
User's feedback

There's a typo on the "Backup seed successfully checked!" step

The word "goint" instead of "going" in the last line on the screenshot:
<img width="865" alt="Screenshot 2020-11-12 at 15 42 40" src="https://user-images.githubusercontent.com/50269230/98941464-b5c75f00-24fd-11eb-9e1d-b6136aff6d6c.png">

[2020-11-16 13:13] slowbackspace commented on #2906
I looked into it and it is technically valid behaviour as the same logic is used for all notifications 😁

Imagine scenario where you have active BTC filter, you get notification about recv transaction that was sent to your LTC account, it is necessary to reset the filter otherwise you will be redirected to LTC account but only see BTC accounts due to activated filter.

Technical reasoning why we r

[2020-11-16 13:49] sorooris commented on #2981
Exchange resulted in an error.
![image](https://user-images.githubusercontent.com/10185314/99259886-f59e8700-281a-11eb-9ea6-b3083d7b5fb9.png)

[2020-11-16 14:05] sorooris opened #2984 "Exchange, SendCryptoSelect - unable to filter by coin name"
**Describe the bug**
SendCryptoSelect allows only to filter by coin abbreviation - not coin full name.

**Info:**
 - Suite Version: web, commit 8209171d71df3d6f34c367274f2aca6cdded4c57
 - Browser: Chromium 86.0.4240.111
 - OS: any (tested NixOS 20.09)
 - Firmware Version: 2.3.4 50854b921

**Steps to reproduce:**
1. Navigate to the Exchange sub-tab in Trade tab of any coin (e.g. BTC),
2. Click into

[2020-11-16 14:22] szymonlesisz commented on #674
already solved here #2714

[2020-11-16 14:22] #674 closed, assigned to szymonlesisz

[2020-11-16 15:31] sorooris opened #2987 "Exchange, FiatInput + receiveCryptoInput - 0 allowed in inputs and validated in Offers list"
**Describe the bug**
FiatInput and receiveCryptoInput do not validate the 0 amount and allow to continue to Offers list, where it is validated by the providers.

**Info:**
 - Suite Version: web, commit 8209171d71df3d6f34c367274f2aca6cdded4c57
 - Browser: Chromium 86.0.4240.111
 - OS: any (tested NixOS 20.09)
 - Firmware Version: 2.3.4 50854b921

**Steps to reproduce:**
1. Navigate to the Exchange

[2020-11-16 15:44] #2983 closed, assigned to nobody

[2020-11-16 15:49] slowbackspace commented on #2961
@matejzak are we going to finally remove sticky  account feature? 🙏 I already once shared my concerns that this feature really might confuse people.

[2020-11-16 15:56] bosomt commented on #2898
**QA OK**

Firefox 82 + Nixos
Suite web dev master commit f6f781c4f50bc1d8f990107bcd5d8da12b8afbc4
Device model One FW 1.8.3 commit 0xdf0963ec48f01f3d07ffca556e21ff0070cab099,

[2020-11-16 18:00] #2981 closed, assigned to martinboehm

[2020-11-16 18:01] #2987 closed, assigned to martinboehm

[2020-11-16 18:52] #2984 closed, assigned to martinboehm

[2020-11-16 19:36] #2792 closed, assigned to martinboehm

[2020-11-17 05:59] bosomt commented on #2977
is this same problem ?

i have `Loading takes too long` in Firefox Browser 82.0 (64-bit) in private window, in standard window suite loads immediately.
It was confirmed that there are colleagues with same problems.I was not able to resolve it via clear cache
OS Nixos

**Screenshots**

![image](https://user-images.githubusercontent.com/31506317/99351916-f75f5d80-28a1-11eb-88ae-05040cfa61d0.png)

![

[2020-11-17 06:03] bosomt commented on #2859
**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027cdf94370dc09fc17c448cdfd7a3543b8c
Device model T fw 2.3.4 commit 50854b921

[2020-11-17 06:19] bosomt commented on #2904
**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

[2020-11-17 06:48] bosomt commented on #2905
**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

[2020-11-17 07:12] bosomt commented on #2907
**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

[2020-11-17 08:06] bosomt commented on #2768
**QA OK**

it looks like you missed two steps. that have different alignment.
If it's part of design please close and move to approved @matejzak

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

1
![image](https://user-images.githubusercontent.com/31506317/99362304-9b053980-28b3-11eb-97dd-c2f164ba395c.png)

2
![image](https://user-images.gith

[2020-11-17 08:47] bosomt opened #2992 "Onboarding - Recovery completed message when device disconnected before recovery"
**Describe the bug**
You will see `Recovery completed` message when you disconnected device during select recovery type modal.
Strange that it only happens on first time, you have to restart onboarding to see this message one more time.
Otherwise you will see proper `Reconnect your Trezor` message

**Info:**
 - Suite Version: web, commit 374d027cdf94370dc09fc17c448cdfd7a3543b8c
 - Browser: Firefox

[2020-11-17 09:00] prusnak commented on #2977
I don't know if this is the same problem, but pleased open a separate issue for this

[2020-11-17 09:03] bosomt commented on #2909
**QA OK**

works as expected, all suite data is deleted

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

[2020-11-17 09:05] bosomt commented on #2858
**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

[2020-11-17 09:07] bosomt commented on #2845
**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

![image](https://user-images.githubusercontent.com/31506317/99369390-ac9f0f00-28bc-11eb-8972-276b789f015d.png)

[2020-11-17 09:08] bosomt commented on #2992
same behavior when you disconnect device and replace it with already on-boarded device

[2020-11-17 09:12] tsusanka commented on #2738
@slowbackspace we could use https://github.com/sindresorhus/electron-util#darkmode to enable dark mode by default if it is turned on in the OS (for Mac). We might extrapolate that feature not to depend on the whole electron-util thingie.

[2020-11-17 09:20] bosomt opened #2993 "Firefox - Suite not loading in private window"
**Describe the bug**
Suite is not loading in private window, checked on multiple computers, clear of cache or tracking protection didn't helped.
Chrome works fine. Firefox normal window works fine, computer already restarted.

Nothing suspicious in command line /started via firefox --private/

`JavaScript error: , line 0: InvalidStateError: A mutation operation was attempted on a database that did

[2020-11-17 09:22] slowbackspace commented on #2738
@tsusanka I think can be done with just electron, no need for 3rd party solutions https://www.electronjs.org/docs/api/native-theme

[2020-11-17 09:24] slowbackspace commented on #2738
anyway I am not doing any additional changes til I have my PR merged since it is big enough :)
(retrieving OS theme is the easy part really, making sure we pass that to javascript and use this instead of theme stored in reducer could be a bit tricky)

[2020-11-17 09:24] prusnak commented on #2738
Yes, the electron-util thingie just calls `api.nativeTheme.shouldUseDarkColors` to get the value for `darkMode`.

[2020-11-17 09:25] tsusanka opened #2994 "Open a github issue directly from Suite"
Let's add a button into the "hidden settings" (`settings/debug`) which will create a Github issue draft with all debug info prefilled.

We can use https://github.com/sindresorhus/new-github-issue-url or https://github.com/sindresorhus/electron-util#opennewgithubissueoptions. This will open a link at `github.com/trezor/trezor-suite/issues/new` with the data prefilled.

This is huge for QA: we will

[2020-11-17 09:26] tsusanka commented on #2994
We can either:
1. Add [electron-util](https://github.com/sindresorhus/electron-util) and also use its [debug info method](https://github.com/sindresorhus/electron-util#debuginfo). <s>This library might be helpful also for [dark mode](https://github.com/trezor/trezor-suite/issues/2738#issuecomment-728794474)</s>.
2. Use [new-github-issue-url](https://github.com/sindresorhus/new-github-issue-url) di

[2020-11-17 09:27] tsusanka commented on #2738
Great :rocket:.

[2020-11-17 10:01] slowbackspace commented on #2993
I will look into it. Firefox doesn't support idb in incognito mode, but whole app should work just fine without it. (Mozilla has issue open for this and last time I checked they were planning to implement it because right now this really helps websites detecting an incognito mode and preventing access to eg. news articles.)

[2020-11-17 10:13] bosomt commented on #2659
**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device 1.9.2 + 2.3.2

[2020-11-17 10:19] bosomt commented on #2832
**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

[2020-11-17 10:36] glacierbits commented on #2906
@slowbackspace I agree the issue/fix is not worth pursuing (unless user feedback proves us otherwise). So far I haven't seen a single user complaint about the coin filter.

@wendys-cats Don't let that demotivate you. Thanks for challenging the functionality and make us think.

[2020-11-17 10:36] #2906 closed, assigned to slowbackspace

[2020-11-17 10:59] slowbackspace commented on #2993
@mroz22 someone deleted very much needed await 🤔

[2020-11-17 11:29] #2226 closed, assigned to slowbackspace

[2020-11-17 11:29] #2793 closed, assigned to slowbackspace

[2020-11-17 11:29] #2841 closed, assigned to slowbackspace, glacierbits

[2020-11-17 11:29] #2888 closed, assigned to slowbackspace

[2020-11-17 11:29] #2894 closed, assigned to slowbackspace

[2020-11-17 11:40] slowbackspace opened #2997 "🌃 Dark mode bugs and needed improvements"
Placeholder issue to track all dark mode related issues. Maybe it would be the best if each problem will get separate issue, but let's see how it goes.

cc @matejzak so you don't miss this issue :)

- [x] analytics on dark mode usage (pretty please @mroz22)
- [ ] desktop dark mode without flash of default theme (will be refactored after suite-native dark mode)
- [x] UI improvements (dropdown menu

[2020-11-17 11:41] slowbackspace commented on #2738
Created a new issue for tracking bugs and future improvements https://github.com/trezor/trezor-suite/issues/2997

[2020-11-17 14:49] prusnak commented on #2528
Fixed via https://github.com/trezor/trezor-suite/pull/2753

[2020-11-17 14:49] #2528 closed, assigned to mroz22

[2020-11-17 14:50] prusnak commented on #2528
I guess this should go into Approved because this was tested already via https://github.com/trezor/trezor-suite/issues/2905 ?

[2020-11-17 15:00] prusnak opened #2999 "Update Electron to 11.x"
Electron 11.x was just released: https://www.electronjs.org/releases/stable?version=11

We need this for enabling macOS/arm64 build

[2020-11-17 16:40] bosomt commented on #2528
@prusnak yes, both providers are working, tested today

**QA OK**

Nixos + Firefox Browser 82
Suite web dev master commit 374d027
Device model T fw 2.3.4 commit 50854b921

[2020-11-17 16:46] bosomt commented on #2841
**QA OK**

Firefox 82 + Nixos
Suite web dev master commit 9a39d54d228aa9421939117d597bb5f61779a97d
Device model TT FW 2.3.4 commit 50854b921

[2020-11-17 16:52] bosomt commented on #2888
**QA OK**

Firefox 82 + Nixos
Suite web dev master commit 9a39d54
Device model TT FW 2.3.4 commit 50854b921

[2020-11-17 17:26] bosomt commented on #2846
**QA OK**

Firefox 82 + Nixos
Suite web dev master commit 9a39d54
Device model TT FW 2.3.4 commit 50854b921

[2020-11-17 17:38] #2993 closed, assigned to slowbackspace

[2020-11-17 19:42] glacierbits commented on #2961
@slowbackspace Ship it!

[2020-11-17 19:44] glacierbits commented on #2997
Thanks! Managers will soon lose their jobs, should you continue be this meticulous. :)

[2020-11-17 19:48] glacierbits opened #3002 "Labels on SD card 🗃️"
Give user the option to save labels on SD card via the built in slot in Trezor T.

[2020-11-18 07:33] bosomt commented on #2993
**QA OK**

Firefox 82.0 (64-bit) + Nixos
Suide web dev maser commit da17a8545b7b0342cd85c68132dbe1119ef878c1
Device mdoel T fw 2.3.4 commit 50854b921

[2020-11-18 07:42] bosomt commented on #2894
**QA OK**

Firefox 82.0 (64-bit) + Nixos
Suide web dev maser commit da17a85
Device mdoel T fw 2.3.4 commit 50854b921

[2020-11-18 07:50] bosomt commented on #2738
I'm not able to enable Dark mode in Firefox. please see

Firefox 82.0 (64-bit) + Nixos
Suide web dev maser commit da17a85
Device mdoel T fw 2.3.4 commit 50854b921

![Peek 2020-11-18 08-48](https://user-images.githubusercontent.com/31506317/99500726-082fd200-297b-11eb-8b6c-60696e05d572.gif)

[2020-11-18 07:57] prusnak commented on #2738
It works for me - I just need to wait 2-3 seconds until it appears for the first time. The second, third switch, etc. is instant.

[2020-11-18 08:20] bosomt commented on #2738
I recorded new video with fresh private window
Firefox 82.0 (64-bit) + Nixos

![Peek 2020-11-18 09-19](https://user-images.githubusercontent.com/31506317/99504042-429b6e00-297f-11eb-9716-2223275e0cb7.gif)

Commit da17a8545b7b0342cd85c68132dbe1119ef878c1

[2020-11-18 09:15] szymonlesisz commented on #2973
ah, yes. DOGE miners changed some fee policies

looks like minimum fee for a transaction is now 1 DOGE. They are claiming that this is an attempt to fight with spam transactions.

there is a lot of similar issues in their repo:
https://github.com/dogecoin/dogecoin/issues/

[2020-11-18 09:17] tsusanka commented on #1946
In https://github.com/trezor/trezor-firmware/issues/1351 we are changing the minimum value from 10 seconds to 1 minute.

[2020-11-18 09:34] #2999 closed, assigned to keraf

[2020-11-18 09:42] bosomt commented on #2973
1 DOGE base fee
1 DOGE per 1000 bytes
1 DOGE for every output below 1 DOGE (to prevent dust)

source: https://github.com/dogecoin/dogecoin/issues/1650#issuecomment-722229742

[2020-11-18 10:03] bosomt commented on #2654
**QA OK**

Firefox 82.0 (64-bit) + Nixos
Suide web dev maser commit da17a85
Device mdoel T fw 2.3.4 commit 50854b921

[2020-11-18 10:04] bosomt commented on #2573
**QA OK**
nothing to test here

Firefox 82.0 (64-bit) + Nixos
Suide web dev maser commit da17a85
Device mdoel T fw 2.3.4 commit 50854b921

[2020-11-18 10:06] bosomt commented on #2226
**QA OK**

Firefox 82.0 (64-bit) + Nixos
Suide web dev maser commit da17a85
Device mdoel T fw 2.3.4 commit 50854b921

[2020-11-18 10:35] wendys-cats opened #3003 "Exchange - FiatInput alowing too many digits right of the decimal point (scale too high?)"
**Describe the bug**
FiatInput alows too many digits right of the decimal point (0.014524545135433563 - 18 instead of two). More than 2 digits right of the decimal point are typically not used when handling FIAT.

FiatInput also alows too many digits, period. Example - 1111111111111111111111111111111111111111116458456456465465456856456456456465465465465456456464894984984984984984987445764965691651

[2020-11-18 10:42] bosomt commented on #2793
**QA OK**

Nixos
Suide app dev maser commit 9a39d54d228aa9421939117d597bb5f61779a97d
Device mdoel T fw 2.3.4 commit 50854b921

[2020-11-18 10:43] bosomt commented on #2938
**QA OK**

Nixos
Suide app dev maser commit 9a39d54
Device mdoel T fw 2.3.4 commit 50854b921

[2020-11-18 10:51] bosomt commented on #2906
QA OK
nothing to test

Nixos
Suide app dev maser commit 9a39d54
Device mdoel T fw 2.3.4 commit 50854b921

[2020-11-18 10:51] MatveiP opened #3004 "Show Bitcoin value in Satoshis (sat)"
_User's request:_
_"Add an option for viewing as whole btc or as satoshis. So if you have 0.1 btc it would show 10.000.000 satoshis"_

- Use only BTC/Sats (no bits, mBTC, uBTC, ... )
    - Bitcoin units whole names: `Bitcoin` / `Satoshis`
    - Next to amounts: `BTC` / `sat`

- [ ] Select in settings (not in Bitcoin card detail)
<img width="213" alt="image" src="https://user-images.githubuserconte

[2020-11-18 10:58] prusnak commented on #3004
This needs to be synchronized with the firmware change, so we end up with showing the same on both Suite and Trezor - https://github.com/trezor/trezor-firmware/issues/324

[2020-11-18 10:59] slowbackspace opened #3005 "Refactor Select and CleanSelect"
These 2 components are basically the same yet each one has its own ugly styles override. It shouldn't be very hard to find all things in common and share it, but as we know things aren't always as easy as it may seem :)
(I don't even know why are these 2 separate components, sorry for my ignorance)

[2020-11-18 12:00] bosomt commented on #2848
**QA OK**

i was noe able to reproduce it anymore

Nixos + Firefox + Suite app + wallet.trezor.io
Suite commit a7554fff457b49cd4898912e74e3063f3e8244f8
Device mdoel One fw 2.3.2 commit 63ebb8ccb

[2020-11-18 12:23] wendys-cats commented on #2987
**QA OK**

Suite Version: web, commit a7554ff
Browser: Chromium 85
OS: NixOS 20.09
Firmware Version: 2.3.4 public 50854b921

Result:
Zero value is not valid, Suite shows "Amount is too low". Show offers button stays disabled.

[2020-11-18 13:41] keraf commented on #1946
I started some work on this to learn my way around Suite and experiment with the communication between the app and device. But it never got finished because I didn't have the design read. Functionality is there though! cc'ing @matejzak for the design.

Here's the branch for reference (needs to be rebased): https://github.com/trezor/trezor-suite/tree/feat/auto-lock-setting

[2020-11-18 14:18] wendys-cats commented on #2984
**QA OK**

Suite Version: web, commit a7554ff
Browser: Chromium 85
OS: NixOS 20.09
Firmware Version: 2.3.4 public 50854b921

Result:
Search in SendCryptoSelect works for abbreviatons and full coin names as well.

[2020-11-18 14:33] vladimirvolek commented on #2982
translated

[2020-11-18 14:33] #2982 closed, assigned to martinboehm

[2020-11-18 14:38] wendys-cats commented on #2982
**QA OK**

Suite Version: web, commit cefce60f91b3e4af9bc5aabafa86193b988fe6ce
Browser: Chromium 85
OS: NixOS 20.09
Firmware Version: 2.3.4 public 50854b921

Result:
Tooltips in exchange, specifically part where user picks Receiving account for exchange offer, are translated.

[2020-11-18 14:54] martinboehm commented on #2668
Duplicity with #2675

[2020-11-18 14:54] #2668 closed, assigned to martinboehm

[2020-11-18 16:02] andrewkozlik commented on #675
@szymonlesisz the documentation for replacement transactions is located here:
https://docs.trezor.io/trezor-firmware/common/communication/bitcoin-signing.html#replacement-transactions.
Note that there are two new request types `TXORIGINPUT` and `TXORIGOUTPUT` documented here:
https://docs.trezor.io/trezor-firmware/common/communication/bitcoin-signing.html#original-transaction-input

We have two de

[2020-11-18 17:17] mroz22 commented on #2992
Hmmm couldn't reproduce today (using later commit 3a29cd9c1e734057c48953660e3dc87db282a9f7)
Are there maybe any more steps that you didn't include in "how to reproduce"? Also you write that you disconnected device, but onboarding should react with "device disconnected screen" and I don't see that.

Isn't that related to nixOS again?

[2020-11-18 17:20] mroz22 commented on #2768
I'd say this is not related strictly to firmware modals but to components in general. What does @slowbackspace means about this?

[2020-11-18 19:19] tsusanka commented on #2997
- [ ] Create Backup button (I apologize if already reported)
![image](https://user-images.githubusercontent.com/1835345/99577257-6096bc00-29db-11eb-8799-d4bf398b2b65.png)

[2020-11-18 20:20] glacierbits opened #3012 "Exchange improvements"
## Design › Implementation irregularities
 Please review design: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f7eead93596205177b8a537) and [Zeplin](https://zpl.io/V1P0W1E)

- [x]  Form draft should be saved when hitting back button

<img width="401" alt="Screenshot 2020-11-18 at 21 19 24" src="https://user-images.githubusercontent.com/29627086/99583508-def75c00-29e3-11eb

[2020-11-18 21:30] langerhans commented on #2973
Just to set some facts straight: The fee structure has not changed, it is just enforced more strictly now. We are aware that is an issue and are working on a fix. It just turns out to be not as easy as it may look like. For now we'd advise people to use a custom fee. For a bog standard 1 in 1 out tx you'd use about 520k sat/byte. With change that needs to go up accordingly. Not sure how Trezor Sui

[2020-11-18 22:23] shibe2 commented on #2973
AFAIK, transactions with less than recommended fee were always treated the same way as free transactions. These transactions were processed, but only a small part of the bock was available for them. This feature was inherited from Bitcoin. Then this feature was deprecated in Dogecoin but worked until recently. In the latest version of Dogecoin Core it's disabled or maybe just broken. When all mine

[2020-11-19 00:31] wendys-cats opened #3014 "Exchange form fields should be disabled when suite is fetching offers"
**Describe the bug**

User can successfully change fee type AFTER clicking on Compare offers.
User is also able to alter input value in the rest of the form (BTC amount input, FIAT input, coin select), but without change to fetched offers.
If user changes coin select from LTC to XRP during fetching, resulting offers will show for LTC.
If user changes BTC amount input value OR FIAT input value, loa

[2020-11-19 06:40] mroz22 commented on #2905
yay, just one last thing here:

Authorised JavaScript origins

++ `http://localhost:3000`

Authorised redirect URIs

++ `http://localhost:3000/static/oauth/oauth_receiver.html`

These seem to be necessary to list as well to make it work on localhost. May I please ask you @prusnak to do so?

[2020-11-19 06:44] mroz22 commented on #2454
OK, I'd say this may be closed now.

[2020-11-19 06:44] #2454 closed, assigned to mroz22

[2020-11-19 08:44] #3003 closed, assigned to martinboehm

[2020-11-19 08:48] #2886 closed, assigned to slowbackspace

[2020-11-19 09:41] bosomt commented on #2992
maybe it's related that Nixos is still running old 2.0.28 Bridge ?
I will try to reproduce it via Windows 10 + bridge 2.0.28 + public version of suite

[2020-11-19 09:52] glacierbits commented on #2370
I am closing this until we'll be able to reproduce.

[2020-11-19 09:52] #2370 closed, assigned to slowbackspace

[2020-11-19 10:13] bosomt commented on #2992
I was not able to reproduce it with Bridge 2.0.30
in suite.trezor.io

[2020-11-19 10:13] #2992 closed, assigned to mroz22

[2020-11-19 10:40] bosomt commented on #2992
I was able to reproduce it now :)
I reconnected already onboarded device and i see
`Select recharge methodRecovery completedmessage` message

do you want me to create separate issue or is this too much corner case ? :)
@mroz22

and what is recharge method ? thy not recovery method ???

[2020-11-19 12:38] tsusanka commented on #2942
Ah, just when I documented it on our internal wiki :cry: :smile:. My general idea was to allow this also for non-command-line-aware people but since one needs to launch the emulator from CLI or even from trezor-user-env it is not a very valid point. So very well then.

I will document into docs/, it's missing.

[2020-11-19 12:49] tsusanka commented on #2942
Done in 7dace409cb7866cde59490f098bd6196a6e7e21c.

[2020-11-19 12:49] #2942 closed, assigned to tsusanka

[2020-11-19 13:10] glacierbits opened #3016 "Time range in transaction history 📆"
Features:

- View custom time range of transaction history
- Export custom time range of transactions history

[2020-11-19 13:24] bosomt opened #3017 "Invity - missing character limit in fiat/crypto selector fields"
**Describe the bug**
There is no character limit in fiat or coin selector fields. See screenshot

**Info:**
 - Suite Version: web, commit b98f0b3a9dd168b13496127f4606b32532490401
 - Browser: Firefox , version 82
 - OS: Nixos
 - Firmware Version: 2.3.2 model T, revision 63ebb8ccb

**Steps to reproduce:**
1. load suite with buy/exchange feature
2. go to sell/buy section and paste or enter long test

[2020-11-19 14:04] bosomt commented on #2643
issue is back in latest dev master.
Transactions appeared after I added new wallet via passphrase.
Transaction list looks ok and transactions in notifications are linked to transaction in list with correct confirm time.

Firefox 82 + Nixos
Suite web dev master commit b98f0b3a9dd168b13496127f4606b32532490401
Device model T fw 2.3.2 commit 63ebb8ccb

![image](https://user-images.githubusercontent.co

[2020-11-19 14:11] bosomt commented on #2643
I still have wallet opened and new notifications /with same transactions/ are still incoming every few minues if you need to collect/troubleshoot anything in Firefox

[2020-11-19 15:51] wendys-cats opened #3020 "Exchange - custom fee in ETH exchange is always zero"
**Describe the bug**
In exchange from ETH to another coin, when fee is changed to custom and the amount is altered, suite will always mark it as zero FIAT/ETH amount instead of the actual cost. These transaction then cannot be completed, as fee is set to zero.

**Info:**
Suite Version: web develop branch, commit 43328cfdf47e74c53d385b7f453de5affbc3f8fe
Browser: Chromium 85
OS: NixOS 20.09
Firmware

[2020-11-19 18:44] wendys-cats opened #3023 "Exchange - Account with 0 balance allowed for an ERC20 transaction"
**Describe the bug**
ETH account with 0 balance is allowed for and ERC20 transaction.

**Info:**
Suite Version: web, commit 43328cfdf47e74c53d385b7f453de5affbc3f8fe
Browser: Chromium 85
OS: NixOS 20.09
Firmware Version: 2.3.4 public 50854b921

**Steps to reproduce:**
1. Go to Accounts > Trade > Exchange
2. Set exchange for an ERC20 token
3. Set the receiving ETH account to one with 0 balance

**Ex

[2020-11-19 19:16] szymonlesisz commented on #2360
reopening "sat/B" is floating out of the input box when error is present

![Screenshot 2020-11-19 at 20 11 35](https://user-images.githubusercontent.com/3435913/99712932-07468f80-2aa4-11eb-916f-89127f461bc4.png)

[2020-11-19 20:06] martinboehm commented on #3023
I do not see this as a problem. While the user will have to send some ETH to the account for manipulation of the tokens, it can be any time later.

[2020-11-19 20:07] szymonlesisz commented on #2973
hi @langerhans, @shibe2
thanks for clarification

i did some [workaround in calculation ](https://github.com/trezor/hd-wallet/blob/0e466a1d5362d220ac31a26e62b142e65e2ebb6b/src/build-tx/coinselect-lib/utils.js#L85-L97)
now we basically do: `1 DOGE for every started kb` (regular tx < 1kb = 1 DOGE, above 1kb = 2DOGE, above 2kb = 3 DOGE and so on...) not dealing with `satoshi` anymore

do you think it

[2020-11-19 20:13] szymonlesisz commented on #2997
tracker:
- [x] QR code reader placeholder is white

[2020-11-19 21:22] langerhans commented on #2973
This seems fine to me, thank you for taking the time to work on this! What you say about dust being rejected is curious. I wasn't aware of that. I saw a bunch of transaction below 1 DOGE. I'll look into checking that out.

[2020-11-20 00:02] wendys-cats commented on #3003
**QA OK**

**Info:**
Suite Version: web, commit 43328cfdf47e74c53d385b7f453de5affbc3f8fe
Browser: Firefox 82.0.2
OS: NixOS 21.03
Firmware Version: 2.3.4 public 50854b921

Result:
More than 2 digits right of the decimal point results in error notification "Maximum 2 decimals allowed"

![image](https://user-images.githubusercontent.com/58593111/99738759-87342000-2acb-11eb-8536-eed277cd5c14.png)

[2020-11-20 07:26] bosomt commented on #2370
**QA OK**

Nixos + Firefox 82.0.3 (64-bit)
Suite web dev master commit 43328cfdf47e74c53d385b7f453de5affbc3f8fe
Device model One FW 1.9.1

[2020-11-20 07:52] bosomt commented on #2454
**QA OK**

Nixos + Firefox 82.0.3 (64-bit)
Suite web dev master commit 43328cf
Device model One FW 1.9.1

[2020-11-20 10:23] sorooris commented on #3023
@martinboehm shouldn't we at least inform the user that _some_ ETH balance is needed for later token manipulation?
@matejzak @tsusanka please advise

[2020-11-20 11:51] tsusanka commented on #3023
I think we do not have to worry about this. The user will find out pretty soon after that they need some ETH to manipulate the token. I don't see big advantage of informing them beforehand and we are a bit worried about "UI hell" where you confirm one dialog after another.

I am closing and let's see if @matejzak has another opinion. Thanks for bringing it up though, good catch!

[2020-11-20 11:51] #3023 closed, assigned to martinboehm

[2020-11-20 12:07] #3020 closed, assigned to martinboehm

[2020-11-20 13:10] bosomt opened #3031 "Exchange - Web page title says Coinmarket and not Trade"
**Describe the bug**

Please see screenshots.
When you proceed with your coin trade
Web page title changes from `Trade | Trezor Suite` to `Trezor Suite | Coinmarket | Trezor Suite`

**Info:**
 - Suite Version: web, commit 964237f8458a96b9b719771582521bcbc6b78cf5
 - Browser: Firefox , version 82
 - OS: Nixos
 - Firmware Version: 1.9.1 model One

**Steps to reproduce:**
1. load Suite with Exchange e

[2020-11-20 13:43] #3014 closed, assigned to martinboehm

[2020-11-20 13:55] martinboehm commented on #3031
Fix is already in progress in #3021

[2020-11-20 14:12] vladimirvolek opened #3033 "Missing translations in Layout"
`in packages/suite-native/src/components/suite/Layout/index.tsx`

![image](https://user-images.githubusercontent.com/3112191/99809580-c6518800-2b42-11eb-8dc8-74854ccb8a20.png)

[2020-11-20 15:27] slowbackspace commented on #3033
We are so lucky there is no working rn app yet! 😀

[2020-11-20 15:28] #3033 closed, assigned to nobody

[2020-11-20 20:37] mroz22 opened #3036 "Fw update - fingerprint"
It used to work but is broken now

- Modal redurer reacts to the corresponding button request
- modal component does not havy any corresponding view for this button request
- Fingerprint component is rendered but overlayed by empty modal.

[2020-11-21 00:32] wendys-cats opened #3037 "Exchange Receiving address ExtraField requires interaction"
**Describe the bug**

During Receiving address step in Exchange of certain coins/tokens (f.e. exchange to XMR, XML, XRP  - ones with additional info input field with name ExtraField) user needs to interact with ExtraField to continue with transaction. These additional input fields vary for each coin (f.e.Destination Tag, Memo ID and so on), but are usually described as "another way to indentify th

[2020-11-22 09:18] mroz22 opened #3038 "Error output in tests"
Not sure but I'd say tests output should not contain errors like this

![image](https://user-images.githubusercontent.com/30367552/99899743-fa948800-2cab-11eb-87ff-83424189e5ae.png)

[2020-11-22 09:40] mroz22 opened #3039 "Standard wallet -> new hidden wallet (empty pass) -> hidden wallet 1 selected"
1. start like this
![image](https://user-images.githubusercontent.com/30367552/99900195-8effea00-2cae-11eb-8931-4ecb28ddd4a3.png)

2. click 'add hidden wallet', passphrase input appears

![image](https://user-images.githubusercontent.com/30367552/99900225-ad65e580-2cae-11eb-9e60-1f56c6943db2.png)

3. enter nothing and submit, passphrase duplicated modal appears

![image](https://user-images.github

[2020-11-22 10:10] mroz22 commented on #3039
hmm.. can't reproduce now. weird.

[2020-11-22 10:10] #3039 closed, assigned to nobody

[2020-11-22 14:02] STew790 opened #3041 "Trezor Suite (web) doesn't work with WebUSB on latest Chrome"
**Describe the bug**
Trezor Suite doesn't work with Trezor in the latest Chrome when you connect via WebUSB (don't have Trezor Bridge running).
It recognizes the Trezor device but it won't connect. The same goes for Trezor Wallet, it just shows an error "Unable to reset the device".
**Info:**
 - Suite Version: web, production
 - Browser: Chrome , version 87.0.4280.66
 - OS: Windows 10
 - Firmware

[2020-11-22 14:43] prusnak commented on #3041
Google changed their USB implementation in Chrome 87 for Windows. I've seen the same error with Ledger, so this is not specific to Trezor. Let's hope Google fixes this soon. Meanwhile we can investigate whether it is possible to workaround this issue somehow.

[2020-11-22 18:24] wendys-cats opened #3043 "Exchange - custom fee in ETC exchange is always zero"
**Describe the bug**

In exchange from ETC to another coin, when fee is changed to custom and the amount is altered, suite will always mark it as zero FIAT/ETC amount instead of the actual cost. These transaction then cannot be (most likely, ETC cannot be traded right now) completed, as fee is set to zero.

**Info:**

Suite Version: web staging 964237f8458a96b9b719771582521bcbc6b78cf5
Browser: Fir

[2020-11-22 18:32] martinboehm commented on #3043
I think this has been already fixed together with #3020.

[2020-11-22 18:44] wendys-cats opened #3044 "Exchange - Cannot trade ETC for other coins"
**Describe the bug**
ETC cannot be exchanged for any other coin.
After Exchange form has been filled, Suite fetches offers and redirects user to page where every single exchange offer is inactive with error notifications "_Cannot trade pair ETC-COIN"_ , _"Invalid currency: etc temporary disabled"_ and _"No response from exchange."_
Console shows no errors when fetching offers.

**Info:**

Suite Ve

[2020-11-22 19:22] martinboehm commented on #3044
This is not a bug. Currently none of our partners is willing to do any ETC trade. I assume it is because there were deep rollback attacks on ETC.

[2020-11-23 00:07] wendys-cats opened #3046 "Exchange - Custom Fee does not load correctly"
**Describe the bug**

Custom fee in exchange is not loaded correctly. When custom fee ich changed and only ONE digit is filled in the CustomFee Input, FIAT and COIN amount of fee will stay at zero. Suite will calculate FIAT/COIN custom fee amount only after a second digit is added (can be seen on [video](https://drive.google.com/file/d/1EoP2iT6kA_akNZcUUtmVABBmg26qgoQw/view)).

Not only that, but

[2020-11-23 00:20] wendys-cats opened #3047 "Exchange - Suite does not offer ETH accounts for receiving TUSD or USDT"
**Describe the bug**
Suite does not offer ETH accounts for receiving TUSD or USDT, even though Suite shows both among other tokens.

**Info:**
Suite Version: web staging 964237f
Browser: Firefox 82
OS: NixOS 21.03
Firmware Version: 1.9.3 public

**Steps to reproduce:**
**1.** Go to ETH Accounts > Trade > Exchange
**2.** Fill in Exchange form
**3.** Choose TUSD or USDT
**4.** Continue to Receive ad

[2020-11-23 08:41] #3031 closed, assigned to martinboehm

[2020-11-23 08:42] #3017 closed, assigned to martinboehm

[2020-11-23 08:42] #2882 closed, assigned to mroz22

[2020-11-23 08:46] #2398 closed, assigned to mroz22

[2020-11-23 09:37] karelbilek commented on #3041
https://source.chromium.org/chromium/chromium/src/+/master:services/device/usb/usb_device_handle_win.cc;l=351

Here is the new implementation. Seems like this is the culprit

[code]

[2020-11-23 09:48] martinboehm commented on #3047
1) USDT is OMNI not ERC20 token, you cannot use ETH account for it. If you want to trade ERC20 version of USDT, you have to choose USDT20. We know that it is confusing, we are preparing with product some solution how to make it clearer
2) TUSD - lives on BNB and ETH blockchains. It is fixed now by switching it from BNB blockchain to ETH.

[2020-11-23 10:33] bosomt commented on #2882
@matejzak is there anything that can be tested on our side ?

[2020-11-23 10:39] keraf commented on #2956
A popup can be opened from Suite-Desktop (just by opening an external link). A warning will be displayed (with the link) when Tor is enabled. I think displaying a warning on the Trade tab when using Tor is a good idea.

[2020-11-23 10:59] bosomt opened #3048 "Image in fw update needs improvements in a dark mode"
![image](https://user-images.githubusercontent.com/31506317/99954507-2e8eac80-2d83-11eb-9474-764f85b37b28.png)

[2020-11-23 11:01] bosomt commented on #3048
![image](https://user-images.githubusercontent.com/31506317/99954815-a066f600-2d83-11eb-8ba2-aafa4ee7bd2a.png)

[2020-11-23 11:02] bosomt commented on #3048
![image](https://user-images.githubusercontent.com/31506317/99954866-b379c600-2d83-11eb-95a6-6622e84bd21f.png)

[2020-11-23 11:34] prusnak commented on #3004
We've decided that we'll add the denomination attribute to SignTx and Trezor will show amounts according to this.

The setting will be stored in the Suite.

[2020-11-23 13:26] vladimirvolek commented on #3046
Same as https://github.com/trezor/trezor-suite/issues/3043.
Should be fixed by https://github.com/trezor/trezor-suite/pull/3028.

[2020-11-23 13:26] #3046 closed, assigned to martinboehm

[2020-11-23 14:09] bosomt commented on #2398
**QA OK**

Nixos + Chrome 86 + Firefox 82
Suite web dev master commit e8f863e907035d66c4eaf4f287a2902076b5452a
Device mdoel T fw 2.3.2 commit 63ebb8ccb

[2020-11-23 14:44] slowbackspace commented on #3048
I've fixed the select component. Image on first screenshot will need someone more skilful in vector graphics. I'll change the title to better describe the the leftover issue.

[2020-11-23 16:47] #3037 closed, assigned to martinboehm

[2020-11-24 13:20] gulikoza opened #3057 "ETH internal contract transactions not shown"
**Describe the bug**
ETH internal contract transactions are not shown and accounts with only contract transactions are not detected.
Some exchanges (eg. Bitstamp) withdraw through a smart contract. When withdrawing to a fresh address, the balance will not be seen unless the account is manually added. Even if account is manually added, no transactions are shown in history although balance is > 0.

[2020-11-24 13:25] keraf commented on #2968
@prusnak That should work, added in a PR.

[2020-11-24 13:26] keraf commented on #2962
I think the easiest fix for that one is to define APPIMAGE on Linux if it doesn't exist. I guess it's based on where the application is running from?

[2020-11-24 13:50] vladimirvolek commented on #3012
@matejzak
In
![image](https://user-images.githubusercontent.com/3112191/100102615-23f81400-2e64-11eb-8ad7-2bd0016e79d1.png)

Where is the white design, please? I only see this. The white color is on hover only.

![image](https://user-images.githubusercontent.com/3112191/100102594-1cd10600-2e64-11eb-8fa9-62a5cbbaba98.png)

[2020-11-24 14:44] bosomt commented on #3048
![image](https://user-images.githubusercontent.com/31506317/100109231-eac3a200-2e6b-11eb-9de3-9994f1967c0d.png)

@slowbackspace

[2020-11-24 16:52] bosomt commented on #3048
![image](https://user-images.githubusercontent.com/31506317/100126101-d5f00a00-2e7d-11eb-86d6-01d3fa6c08d0.png)

[2020-11-24 19:10] MCM-Mike commented on #3002
Update: (rephrasing)
How are the labels stored under Linux in my case Ubuntu under `/home/$USER/.config/@trezor/suite-desktop`

[2020-11-24 19:31] keraf opened #3062 "Persistent browser storage data on desktop"
When the app updates, browser data (IndexedDB and LocalStorage) get lost. We should save them on disk and re-apply them when the app is opened again.

[2020-11-25 08:11] #2968 closed, assigned to keraf

[2020-11-25 09:13] glacierbits opened #3065 "Account: Empty states"
[**Zeplin**](https://zpl.io/brDGlX7)

- Add the empty account state to all (empty) accounts
- The notification goes to empty Bech 32 accounts only, and is close-able via `Got it!`. The empty state box is to then move up to replace the notification.

[2020-11-25 11:12] szymonlesisz commented on #675
turns out blockbook doesn't send required data yet, see https://github.com/trezor/blockbook/issues/522

[2020-11-25 11:49] keraf commented on #3062
Did some more testing, I believe this was a false positive due to testing configuration. Closing issue.

[2020-11-25 11:49] #3062 closed, assigned to keraf

[2020-11-25 21:44] #2784 closed, assigned to slowbackspace

[2020-11-25 21:44] #2698 closed, assigned to mroz22

[2020-11-25 21:45] glacierbits commented on #2882
Nothing to be tested here manually, moving to Approved.

[2020-11-26 08:53] bosomt opened #3069 "Missing notification margin in application"
**Describe the bug**
See screenshots, application is missing margin between app border and notification.
Web version works fine

**Info:**
 - Suite Version: app, commit 887ea0551eb987b2ac61ef5a15764da0f2da9971
 - OS: Nixos + Windows
 - Firmware Version: 2.3.5 model T, revision 1c28a57

**Steps to reproduce:**
1. Start current dev master or released 20.12.0 version
2. Copy address or any other oper

[2020-11-26 10:13] bosomt commented on #2604
**QA NOK**

Still broken in latest builds.
When you wipe device and recover/create new wallet old. **NOT** remembered wallet is still loaded when you don't disconnect device, and you will get this error.

Probably best practice would be Wipe = delete loaded/saved wallet, or at least ask user.

Suite app commit 887ea0551eb987b2ac61ef5a15764da0f2da9971

![image](https://user-images.githubusercontent

[2020-11-26 11:37] yohaaan opened #3071 "Add "Ripple" keyword to account selection"
**Is your feature request related to a problem? Please describe.**
In the account menu you can add XRP but the selection menu does not say "Ripple" and also if you type the coin's name in, "XRP" keyword works, but "Ripple" won't show any result -> seems that Ripple is not supported

Ripple is the name of the system and XRP is the currency so technically this seems to be correct but CX-wise I'd add

[2020-11-26 11:49] #3065 closed, assigned to slowbackspace

[2020-11-26 12:50] Chytrazenacz opened #3072 "Pink Mode"
Hi, as you've already implemented [Dark mode](https://github.com/trezor/trezor-suite/issues/2738) and as we (http://www.chytrazena.cz/) do have an ongoing marketing partnership with Trezor, it would be nice if you could bring a pink mode that would match our site's color (#FFD3DF). I believe that our readers would really appreciate the possibility to have Trezor Suite in their favorite CW especial

[2020-11-26 12:51] #2835 closed, assigned to robertbrada

[2020-11-26 13:07] slowbackspace commented on #3072
Say no more. I have a dark mode prototype ready for quite some time already.

![image](https://user-images.githubusercontent.com/6961901/100353977-ac56f000-2fef-11eb-9e85-16ea7e2dd9b0.png)

[2020-11-26 13:18] prusnak commented on #3072
Stokrat opakovany vtip prestava byt vtipom

[2020-11-26 13:18] #3072 closed

[2020-11-26 13:30] vladimirvolek commented on #3043
Already fixed in develop.

[2020-11-26 13:30] #3043 closed, assigned to martinboehm

[2020-11-26 13:31] tsusanka commented on #2964
@sorooris could you retest this on current develop if the app can be closed on Windows please? The missing update is expected at the moment.

[2020-11-26 13:32] #3044 closed, assigned to martinboehm

[2020-11-26 15:26] wendys-cats commented on #2835
**QA OK**

**Suite** web develop ac55c97a1e017226e61e340d93b2e7e26b00a0f3
**Browser** Chromium Version 86.0.4240.111 (Official Build) (64-bit)
**System** NixOS 21.03
**Device** TT 2.3.4 public + T1 1.9.3 public

![image](https://user-images.githubusercontent.com/58593111/100368072-699f1300-3003-11eb-9c10-d6f493ea3916.png)

[2020-11-26 15:39] wendys-cats commented on #3065
**QA OK**

**Suite** web develop ac55c97
**Browser** Chromium Version 86.0.4240.111 (Official Build) (64-bit)
**System** NixOS 21.03
**Device** TT 2.3.4 public + T1 1.9.3 public

[2020-11-26 15:57] sorooris commented on #2964
@tsusanka **QA OK**

Build: app 680b541
OS: Microsoft Windows [Version 10.0.19042.630]
Device: 2.3.4 public

Tested closing the app, verified in Task Manager all nested processes are closed.
![image](https://user-images.githubusercontent.com/10185314/100371337-e9c77780-3007-11eb-9c4f-5bf3942a078f.png)

[2020-11-26 16:01] wendys-cats commented on #2085
**QA NOK**

**Suite** web develop ac55c97
**Browser** Chromium Version 86.0.4240.111 (Official Build) (64-bit)
**System** NixOS 21.03
**Device** T1 1.9.3 public

**Expected:**
Search bar as shown in Zeplin.

**Actual:**
There is no search transaction search bar.

**Note:**
PDF and CSV export OK.

![image](https://user-images.githubusercontent.com/58593111/100371645-65c1bf80-3008-11eb-81a3-bc5da5df

[2020-11-26 16:18] bosomt opened #3075 "Incorrect redirect for a already loaded hidden wallet"
**Describe the bug**
When you click on `take me to loaded wallet` it always takes you to standard wallet and not to wallet that you are trying to add to suite. Doesn't matter if you current open wallet is standard wallet or passphrase wallet, everytime you click on `take me to loaded wallet` to get to passphrase wallet you are redirected to standard wallet.

**Info:**
 - Suite Version: app/web, co

[2020-11-26 16:47] wendys-cats commented on #2698
**QA OK**

**Suite** web develop ac55c97
**Browser** Chromium Version 86.0.4240.111 (Official Build) (64-bit)
**System** NixOS 21.03
**Device** T1 1.9.3 public

[2020-11-26 16:50] wendys-cats commented on #3043
**QA OK**

**Suite** web develop ac55c97
**Browser** Chromium Version 86.0.4240.111 (Official Build) (64-bit)
**System** NixOS 21.03
**Device** T1 1.9.3 public

![image](https://user-images.githubusercontent.com/58593111/100376463-dcae8680-300f-11eb-9374-4942719c54df.png)

[2020-11-26 17:54] #2964 closed, assigned to mroz22

[2020-11-27 08:07] tsusanka opened #3079 "Windows: autoupdater uses the installation wizard"
**Describe the bug**
During the autoupdate Suite shows the installation wizard which is quite confusing.

**Info:**
 - Suite Version: desktop, commit 8b5c9b45, which is ac55c97a1e017226e61e340d93b2e7e26b00a0f3 with a version downgrade
 - OS: Windows 10
 - Firmware Version: T1, 1.9.4 (to be confirmed)

**Steps to reproduce:**
1. Install "fake" 20.9. version from [Gitlab](https://gitlab.com/satoshil

[2020-11-27 08:17] tsusanka commented on #3062
This is happened to me as well when updating from "[fake" 20.9.0](https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/221686375) to 20.10.0. So do you think this will not happen for the newer versions?

[2020-11-27 08:51] prusnak commented on #3079
I guess this is expected, since we publish only .exe artefact which is an installer.

Just thinking out loud: if we re-enabled ZIP artefact for Windows, would that do the trick and update like on Mac? My guess is that this does not work that easily ... Maybe @keraf knows more

[2020-11-27 09:23] glacierbits commented on #2384
Closing this issue, will be fixed (handled differently) by new Onboarding design.

[2020-11-27 09:23] #2384 closed, assigned to glacierbits

[2020-11-27 09:24] #2946 closed, assigned to robertbrada

[2020-11-27 09:51] slowbackspace commented on #2738
@bosomt it could be related to the incognito mode, I'll look into it. Thanks!

[2020-11-27 09:52] #2810 closed, assigned to robertbrada

[2020-11-27 10:02] tomexx commented on #2360
Will be addressed with merge of RBF feature `feature/rbf`

[2020-11-27 10:06] slowbackspace commented on #2360
@szymonlesisz @tomexx Are you sure it is not fixed already? I can't reproduce it in current develop.

[2020-11-27 10:35] bosomt commented on #2360
@szymonlesisz i was not able to reproduce it ? what witch coin are you testing ?

[2020-11-27 11:45] tsusanka commented on #3079
As discussed with @keraf this [might](https://github.com/trezor/trezor-suite/commit/f71a2f78a6c372ae98ffbfafa154382e5dd06059) fix it. Will test.

[2020-11-27 12:06] #2738 closed, assigned to slowbackspace

[2020-11-27 12:08] #2699 closed, assigned to slowbackspace

[2020-11-27 12:57] #3048 closed, assigned to slowbackspace

[2020-11-27 13:13] bosomt opened #3083 "Not able to send DASH via 2.3.5 FW"
**Describe the bug**

When trying to send DASH transaction in Trezor suite you will see this error:
`Sign transaction error: Failed to decode message: Required field 'amount' was not received`
other coins including Bitcoin are working fine.
This error is displayed before anything is signed via device.

**Info:**
 - Suite Version: app + web, commit 20.12.0 + 716af2f4a24a32aa801027d915269f6ce59733c8

[2020-11-27 13:22] prusnak commented on #3079
Fixed in https://github.com/trezor/trezor-suite/commit/b6aca16166b3cfc0dd4d89e205b39792e937819c

[2020-11-27 13:26] slowbackspace commented on #3071
related issue, why are we not allowing to search for coin by typing its symbol? 🤔

<img width="783" alt="Screenshot 2020-11-27 at 14 25 54" src="https://user-images.githubusercontent.com/6961901/100454078-7cc1e980-30bc-11eb-80b1-8bb37ece64bb.png">

[2020-11-27 13:40] bosomt commented on #3083
same problem with DOGE and NMC/Name coin

[2020-11-27 13:45] bosomt commented on #3048
edit: already fixed in master

[2020-11-27 16:05] prusnak opened #3085 "Coin not supported"
When a Coin is not supported on the device, this is shown:

![En1bXQKW4AEdzp-](https://user-images.githubusercontent.com/42201/100467292-80f90180-30d2-11eb-87c2-3e7e7f3ebc26.jpg)

I think we should explain why the coin is not supported ("This coin is supported only on Trezor Model T"). This has potential to up-sell Model T even.

The other option would be to hide the element if the coin is not sup

[2020-11-28 13:57] prusnak commented on #2905
done

[2020-11-28 13:57] #2905 closed, assigned to prusnak

[2020-11-28 14:25] tsusanka commented on #3083
@bosomt could you retry on old wallet please?

[2020-11-28 18:16] #2994 closed, assigned to tsusanka

[2020-11-29 02:39] mercurytoxic opened #3091 "trezor-suite AppImage displays an empty window when using ssh X11 forwarding"
When running Appimage version of trezor-suite using ssh X11 forwarding, in Linux, will cause a blank/white/empty screen locally.

 - 20.11.2
 - Linux archlinux 5.9.10-arch1-1 #1 SMP PREEMPT Sun, 22 Nov 2020 14:16:59 +0000 x86_64 GNU/Linux

When creating an X11 forwarding environment

sshd_config on host/remote
[code]

env on client/local
[code]

and trezor-suite is run in remote, the screen that a

[2020-11-29 02:41] mercurytoxic commented on #3091
This is solved by running trezor with the environment variable QT_X11_NO_MITSHM set to 1
[code]

[2020-11-29 09:56] prusnak commented on #3091
This is not a Suite issue, but Electron issue. You can't use X11 forwarding with Electron unless you set `QT_X11_NO_MITSHM=1` or provide `--no-xshm` command-line argument as mentioned in the comment you found: https://github.com/electron/electron/issues/22775#issuecomment-616023334

The changes you see in `docker/docker-compose.suite-*.yml` files are used to achieve exactly this.

Older releases o

[2020-11-29 09:56] #3091 closed, assigned to nobody

[2020-11-29 17:46] grantwest opened #3093 "Labels Dissapearing"
I created labels for multiple wallets and multiple accounts. After reconnecting my Trezor and starting up Suite again some of the labels are missing, but not all. I am using Dropbox for the storage. I tried turning labeling off and then back on, but it did not restore all of the labels.

 - Suite Version: 20.11.1
 - OS: macOS 11.0.1
- Device: Model T
 - Firmware Version: 2.3.4

I did connect a sec

[2020-11-30 07:59] bosomt opened #3094 "Bitcoin Cash fork - change wording or remove notification"
**Describe the bug**
Please change wording or remove notification of BCH fork from suite.

**Info:**
 - Suite Version: web, commit 0dd2b515fba0ae875878d3e2a17ff8b89d512c42
 - Browser: Firefox , version 82.0.3 (64-bit)
 - OS: Nixos
 - Firmware Version: 1.9.3 model One , revision 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

**Steps to reproduce:**
1. Start any version of suite
2. Load BCH accounts
3

[2020-11-30 08:33] mroz22 commented on #3093
It seems like some of the labels did not save correctly and UI still let you think they did. I ll keep an eye open for this.

Please @trezor/qa could you try to reproduce this?

[2020-11-30 08:38] prusnak commented on #3094
I think we can just remove the notification - PR https://github.com/trezor/trezor-suite/pull/3095

[2020-11-30 09:17] #3094 closed, assigned to glacierbits

[2020-11-30 09:51] glacierbits commented on #2085
Title has been changed to "Export" only. Our apologies for the confusion.

[2020-11-30 09:51] #2085 closed, assigned to keraf

[2020-11-30 09:53] bosomt commented on #3083
@tsusanka same problem with same FW/device

wallet commit 98bf3eb12c1d85029310448e24ba4d88b312cb7c

![image](https://user-images.githubusercontent.com/31506317/100594426-f5fa5000-32f9-11eb-9b70-c366e6385803.png)

![image](https://user-images.githubusercontent.com/31506317/100594655-407bcc80-32fa-11eb-9f2b-1c813b597e43.png)

[2020-11-30 09:54] yohaaan commented on #3071
@slowbackspace good point +1 on that

[2020-11-30 10:11] slowbackspace commented on #3085
just few days ago @robertbrada mentioned it too! We discussed we could add a tooltip explaining what's happening and maybe a link to trezor.io/coins. @matejzak let's make it happen!

[2020-11-30 10:26] slowbackspace opened #3096 "landing-page (for closed beta) is broken on sldev"
Looks like resources are not deployed correctly as it happens in every branch I tried.

<img width="1473" alt="Screenshot 2020-11-30 at 11 24 27" src="https://user-images.githubusercontent.com/6961901/100598214-b7b35f80-32fe-11eb-934e-45e28fac4adf.png">

[2020-11-30 10:28] bosomt commented on #2946
**QA OK**

https://suite.corp.sldev.cz/suite-web-landing/develop/

![image](https://user-images.githubusercontent.com/31506317/100598299-d4e82e00-32fe-11eb-8a7f-baa2c87ff77f.png)

[2020-11-30 10:37] bosomt commented on #2699
**QA OK**

checked at https://suite.corp.sldev.cz/suite-web-landing/develop/
We will test it when deployed to staging  with binaries

![image](https://user-images.githubusercontent.com/31506317/100599543-7623b400-3300-11eb-9aa3-bc9048283aa8.png)

[2020-11-30 10:40] bosomt commented on #3094
**QA OK**

Nixos + Firefox
Suite web dev master commit 3cfa1ae56f61635c77e4046a76577bfd027fb05e
Device fw 2.3.5 model T

[2020-11-30 11:34] bosomt commented on #2810
**QA OK**

Nixos + Firefox 82.0.3 (64-bit)
Suite web dev master commit 3cfa1ae56f61635c77e4046a76577bfd027fb05e
Device 2.3.5 model T

[2020-11-30 12:18] bosomt commented on #2085
@matejzak is this part of design or bug ? I'm missing header of PDF file compared to mytrezor wallet

![image](https://user-images.githubusercontent.com/31506317/100609540-7460ed00-330e-11eb-8851-96600743b8ae.png)

[2020-11-30 12:58] bosomt commented on #2085
**QA OK**

i will create separate issue for pdf file header

Nixos + Firefox 82.0.3 (64-bit)
Suite web dev master commit 3cfa1ae
Device 2.3.5 model T

[2020-11-30 13:04] bosomt opened #3097 "Export transactions - design is missing pdf file header"
**Describe the bug**
Can you please add Trezor logo account and coin name to pdf files that's generated from transaction history ?

https://github.com/trezor/trezor-suite/issues/2085

**Info:**
 - Suite Version: web, commit 3cfa1ae
 - Browser: Firefox, version 82.0.3 (64-bit)
 - OS: Nixos
 - Firmware Version: 2.3.5 model T

**Steps to reproduce:**
1. export transaction history to pdf via Suite
2.

[2020-11-30 13:07] keraf commented on #2950
Separate issue created in connect for the incorrect pre-selected download: https://github.com/trezor/connect/issues/715

[2020-11-30 13:14] bosomt commented on #2784
**QA OK**

Nixos + Firefox 82.0.3 (64-bit)
Suite web dev master commit 3cfa1ae
Device 2.3.5 model T

[2020-11-30 13:15] bosomt commented on #2738
**QA OK**

Dark mode works fine in both browsers and app now.
Some minor color flaws were fixed in separate issue that I created.

Nixos + Firefox 82.0.3 (64-bit)
Suite web dev master commit 3cfa1ae
Device 2.3.5 model T

[2020-11-30 13:19] tsusanka commented on #3083
@bosomt could you please open an issue at mytrezor as well? Linking this issue and providing these screenshots is enough.

[2020-11-30 13:24] bosomt commented on #3083
@tsusanka :+1:

[2020-11-30 13:48] tsusanka commented on #3079
Tested by me, works.

[2020-11-30 13:51] #2437 closed, assigned to tomexx

[2020-11-30 14:10] #2950 closed, assigned to keraf

[2020-12-01 08:14] mroz22 commented on #3096
It happens even on deployments from October so none of the recent changes to CI configuration are to be blamed.

[2020-12-01 09:43] #3096 closed, assigned to nobody

[2020-12-01 09:49] #3036 closed, assigned to mroz22

[2020-12-01 10:21] bosomt commented on #3093
i was able to replica it via 20.11.2 in Firefox
Looks like connection to Dropbox is not reestablished after i woke up my Linux laptop.

[2020-12-01 13:20] mroz22 commented on #3093
Didn't have luck reproducing it so far, but I ll keep trying.

[2020-12-01 15:20] bosomt commented on #2437
**QA OK**

Nixos + Firefox
Suite web dev master commit 5dd771fc22dc9a97fb20e820bd8d3ff373c488cd
Device 1.8.3 public version

[2020-12-01 17:29] bosomt commented on #2950
**QA OK**

Windows 10
Suite dev app commit  c2418811
Device Model One fw 1.9.3 public

[2020-12-02 08:07] glacierbits opened #3105 "Google Drive sync"
- Option to sync labels via Google Drive
- More option to be added: #3002 & #2918

[2020-12-02 08:17] glacierbits opened #3106 "Search transactions"
[Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/5f5208531549bf4b24ebdb88)

[2020-12-02 08:42] sorooris commented on #2965
Will be tested during the release testing, after freeze.

[2020-12-02 09:21] #3105 closed, assigned to glacierbits

[2020-12-02 11:59] keraf opened #3108 "Improvements on date range picker"
Few improvement suggestions for the date range picker:
- Go to month/year by clicking on the header (where the month and year is displayed).
- Display the dates in the user's local format (or based on preferences).

[2020-12-02 12:52] keraf opened #3109 "Add localization to Electron"
Some messages in the Electron source are not localized (dialogs, alerts, ...). We should look into localizing them.

[2020-12-02 15:10] vladimirvolek opened #3112 "JS scripts in electron"
I guess this should be in typescript?

![image](https://user-images.githubusercontent.com/3112191/100890383-7797dc80-34b8-11eb-9b22-66fe3cf0fd06.png)

[2020-12-02 15:53] keraf commented on #3112
These are just small node scripts, no need to have them typed (which would also require transpiling them).

[2020-12-02 15:53] #3112 closed, assigned to nobody

[2020-12-02 15:55] #2878 closed, assigned to tomexx

[2020-12-02 17:42] glacierbits commented on #3108
A few more ideas:

- Consider increasing the minimum touch target slightly around the chevrons `‹ Month YEAR ›`
- Display the dates by default in the same format as below the graph and elsewhere in the app, e.g. `Dec 12, 2020`

[2020-12-03 09:39] #2897 closed, assigned to nobody

[2020-12-03 11:48] bosomt opened #3116 "Reset app button doesn't wipe app storage"
**Describe the bug**
When you press `Reset app` in app, app is restarted but storage is not wiped. Suite doesn't show splash screen, Doesn't change to white mode and saved and loaded wallets are remembered.

**Info:**
 - Suite Version: app, commit 78c9fd3b
 - OS:  Nixos + Windows
 - Firmware Version: 1.9.3 model One commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

**Steps to reproduce:**
1. Dow

[2020-12-03 11:56] tsusanka commented on #2973
@szymonlesisz is this closed by https://github.com/trezor/trezor-suite/pull/3026 ?

[2020-12-03 11:56] bosomt commented on #2878
**QA OK**

Suite Version: app, commit 78c9fd3
OS: Windows
Firmware Version: 1.9.3 model One commit 0x0d5f00668fb3d1c093ff3c879311a91d3a7175c8,

[2020-12-03 13:35] slowbackspace commented on #3116
😮  macOS works again, we should give free mac with every trezor!

[2020-12-03 13:58] szymonlesisz commented on #2973
right, closing

[2020-12-03 13:58] #2973 closed, assigned to szymonlesisz

[2020-12-03 14:14] sorooris opened #3117 "test"
**Describe the bug**
this is a test issue, pls ignore

**Info:**
 - Suite Version: app/web, 78c9fd3b1ab100fea33c1b63256deae31b64840e
 - Browser: Chromium, 87.0.4280.66
 - OS: NixOS 20.09
 - Firmware Version: model , revision

**Steps to reproduce:**
1. stand up
2.
3. c

**Expected result:**
A clear and concise description of what you expected to happen.

**Actual result:**
A clear and concise desc

[2020-12-03 15:56] #3117 closed, assigned to nobody

[2020-12-03 16:06] #2671 closed, assigned to mroz22

[2020-12-04 08:49] tsusanka commented on #3083
@bosomt could you please retest on 20.12.1 (current freeze, https://github.com/trezor/trezor-suite/commit/78c9fd3b1ab100fea33c1b63256deae31b64840e) with the very same FW.

[2020-12-04 09:01] bosomt commented on #3083
**QA OK**

Windows 10
Suite app commit 78c9fd3b1ab100fea33c1b63256deae31b64840e
Device FW 2.3.5 commit 1c28a57

https://doge1.trezor.io/tx/0c9cfeac97fefa4a244bc6b502a3cfc9f3ee02102772ec263e5314e23fc6efcd
https://nmc1.trezor.io/tx/8851a738a617812568d105aa46d848614ed7eccfac15d66c262a199a137e867d
https://dash1.trezor.io/tx/a0f2d1d8657144c2049e5b6090d79986c98a99fc932e88390bc5ab9442a94548

[2020-12-04 09:01] #3083 closed, assigned to mroz22

[2020-12-04 09:08] tsusanka opened #3123 "Exchange - does not work for undiscovered accounts?"
**Describe the bug**
It seems to me I can't exchange to a coin that has not been previously discovered. The address does not get pre-filled and I can't continue.

**Steps to reproduce:**
1. Go to exchanges
2. Select a coin that you have not discovered yet and has Suite support (such as an empty altcoin account)
3. Create a new account
4. Unable to continue?

**Info:**
 - Suite version: web 20.12.1

[2020-12-04 09:55] slowbackspace opened #3125 "Select's options background on focus"
clicking on an option makes it light blue.
clicking on a preselected option makes it darker blue.

Let's keep the same style as we use on hover to not complicated things more than necessary.

![image](https://user-images.githubusercontent.com/6961901/101149231-e98a3600-361e-11eb-8493-5a4e01387133.png)
![image](https://user-images.githubusercontent.com/6961901/101149239-ed1dbd00-361e-11eb-8160-57ad

[2020-12-04 10:00] slowbackspace commented on #3116
@wendys-cats's windows also works fine even though it seems she doesn't want to admit it publicly! this is gonna be something weird 😁  anyone wanna help test this?
Steps:
1. load suite (electron app, staging version to keep it scientific enough) with device connected, hit remember wallet
2. disconnect device
2. click on clear storage btn in Settings
3. do you see onboarding (thus storage was clear

[2020-12-04 10:19] wendys-cats commented on #3116
@tsusanka I waited to see if it will happen, but no luck.

Looks like @bosomt is the one with weird bugs this release (I had the horrible error situations last time).

[2020-12-04 11:18] bosomt opened #3127 "Transaction graph range misleading"
**Describe the bug**

Looks like new range in graph is casing issue in ALL transactions view. See screenshots.
There is 50+ transactions in this account this year and current balance is 1642.39409405 DOGE
Previous version 20.12.0 OK /without range / ok  https://github.com/trezor/trezor-suite/commit/ffa20e9fd792abc2a55fa9fec8402044e204a911

**Info:**
 - Suite Version: app, commit 78c9fd3b
 - OS: Wi

[2020-12-04 11:44] #2829 closed, assigned to keraf

[2020-12-04 12:18] bosomt commented on #3127
After reinstalled and wiped app data it's not happening anymore.
Hard to say how to trigger it again.

[2020-12-04 12:30] #3123 closed, assigned to martinboehm

[2020-12-04 14:11] #3069 closed, assigned to tomexx

[2020-12-04 15:12] bosomt opened #3130 "Labeling Dropbox and Google Drive never connects in app"
**Describe the bug**
Labeling storage to  Dropbox and Google Drive is never established in application.
Browser connection is successful and it asks you to to close browser window
But app waits forever. When you close modal nothing changes and labeling is still disabled.

Works fine in Firefox browser

**Info:**
- Suite Version: app, commit 78c9fd3
- OS: Windows 10 + Mac OS
- Firmware Version: 1.9

[2020-12-04 15:19] tsusanka commented on #2360
@bosomt please retest on f997134b as sent to QA few hours ago.

[2020-12-04 15:19] #2360 closed, assigned to robertbrada

[2020-12-04 18:27] tsusanka commented on #3130
Replicated :(. Same commit and on both Windows 10 and my NixOS.

[2020-12-04 18:31] glacierbits opened #3133 "Hidden wallet number is missing"
**Info:**
 - Suite version: web 21.1.0 (ff99ab56c3837e41ad0c243d242dceea22bedf6e)
 - Browser: Chrome
 - OS: MacIntel
 - Screen: 1792x1120
 - Device: model T 2.3.4 regular

<img width="350" alt="Screenshot 2020-12-04 at 19 29 49" src="https://user-images.githubusercontent.com/29627086/101200861-28dc7500-3667-11eb-8151-e6e4d109ee63.png">

[2020-12-04 19:08] glacierbits commented on #3097
Good point @bosomt, thanks!

@keraf Can you please also add the `labeled` account name if possible / worthwhile? To recap, please add:

- Default label .e.g. `Account #1 `
- Custom label e.g. `Savings`
- Crypto abbreviation all caps
- Trezor Suite logo 👇🏽

![Group 26 10@3x](https://user-images.githubusercontent.com/29627086/101204073-f2552900-366b-11eb-9fa8-4432d718d40b.png)

[2020-12-05 18:49] mroz22 commented on #3133
confirm that this happens when user adds hidden wallet first without pre-existing standard wallet. If user adds hidden wallet after there is already a standard wallet, everything works smooth as covered in this test https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/892753023/artifacts/file/packages/integration-tests/projects/suite-web/videos/suite/passhprase-numbering.test.ts.mp4

[2020-12-05 19:16] mroz22 commented on #3133
fixed in #3136
with a [test](https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/892787566/artifacts/file/packages/integration-tests/projects/suite-web/videos/suite/passhprase-numbering.test.ts.mp4) we shall never see this again

[2020-12-07 08:58] #3133 closed, assigned to mroz22

[2020-12-07 08:59] #2933 closed, assigned to mroz22

[2020-12-07 09:04] bosomt commented on #3069
**QA OK**

Windows 10
Suite app commit e16f9ff0
Device model One FW 1.9.3

[2020-12-07 09:44] bosomt commented on #2360
QA OK

Windows 10
Suite app commit e16f9ff
Device model One FW 1.9.3

[2020-12-07 09:56] #3130 closed, assigned to mroz22

[2020-12-07 10:22] bosomt commented on #2997
Show log scroll bar is leaking white color ;)

![image](https://user-images.githubusercontent.com/31506317/101338872-dd4fe400-387d-11eb-8b07-d88d87475c27.png)

Windows 10
Suite app commit e16f9ff
Device model One FW 1.9.3

[2020-12-07 11:03] #2290 closed, assigned to slowbackspace

[2020-12-07 11:03] #2373 closed, assigned to slowbackspace

[2020-12-07 13:26] #2613 closed, assigned to keraf

[2020-12-07 13:50] bosomt opened #3140 "Sell all button fills ETH balance when trying to exchange some ERC20 tokens"
**Describe the bug**
Sell all button fills ETH balance when trying to exchange some ERC20 tokens.
Even when you fill it out manually it won't accept them. Please see video.
USDT20 works fine, TUSD a USDC not.

**Info:**
 - Suite Version: app + web, commit e16f9ff
 - Browser: Chromium + app
 - OS: Nixos + Windows
 - Device model One FW 1.9.3

**Steps to reproduce:**
1. start suite and load accounts

[2020-12-07 16:25] sorooris commented on #2360
**QA OK**

Suite: app e16f9ff0d8455d1b3a40f88dd878946fbe8f7115
OS: macOS Big Sur 11.0.1
Device: model T 2.3.4 public

[2020-12-07 17:12] sorooris commented on #3123
**QA OK**

Previously _NOK_ in Chromium, now _OK_.

Suite: app e16f9ff, web 78c9fd3
OS: macOS Big Sur 11.0.1, NixOS 20.09
Device: model T 2.3.4 public

[2020-12-07 19:42] #3140 closed, assigned to martinboehm

[2020-12-08 08:08] bosomt commented on #3140
two nitpicks, are they worth fixing ? @martinboehm

1) there is too many zeros filled when i press all, it looks strange ;)
![image](https://user-images.githubusercontent.com/31506317/101456366-3bd79980-3934-11eb-9fb6-b5cbcd4bc426.png)
![image](https://user-images.githubusercontent.com/31506317/101456406-47c35b80-3934-11eb-8be4-54a57849e4ab.png)

2) when I change token it says `Not enough funds` b

[2020-12-08 09:08] tsusanka commented on #3140
@bosomt please open a new issue, we are already signing so this will have to go to the next release.

[2020-12-08 09:38] bosomt opened #3148 "Exchange ERC20 receiveCryptoInput field value details"
**Describe the bug**
Created as descendant of https://github.com/trezor/trezor-suite/issues/3140#issuecomment-740456628

1) there is too many zeros filled when i press all, it looks strange
2) when I change token it says `Not enough funds` because value from previous token is used. after i press all button value is changed to correct value

**Info:**
 - Suite Version: web, commit  8f22076912f27406

[2020-12-08 10:02] wendys-cats commented on #2973
**copied from:** https://github.com/trezor/trezor-suite/pull/3026#issuecomment-740518108

**QA OK**

**OS** NixOS okapi (21.03)
**Suite** web /develop branch a3f8029
**Device** TT 2.3.4 public

Fee below 100000 sat/b (1DOGE) is not allowed.
If remaining balance after calculating transaction is below 1DOGE (example: there is 2.5DOGE in the account, 1DOGE will be sent, 1DOGE is tx fee, leaving 0.5DO

[2020-12-08 10:53] glacierbits opened #3149 "Changelog"
### 🚀   New features

- Dark mode
- Exchange (crypto to crypto)
- Time range in graphs
- Export transactions
- Labeling: Google Drive sync

### 🎨 Improvements

- Account empty state (3D)
- Send form and labeling UI
- Device dis/connected animation

.. and much more!

[2020-12-08 11:21] prusnak commented on #3149
Created a release here and the changelog is copy-pasted there: https://github.com/trezor/trezor-suite/releases/tag/v20.12.1

Closing the issue

[2020-12-08 11:21] #3149 closed, assigned to glacierbits

[2020-12-08 11:56] robertbrada commented on #1856
I found out that if I send Ethereum tokens to myself, the transaction does not have  **sent  to myself** status. (see the screenshot, both of the transactions in the picture were sent to the same address)

I guess this is not a big deal, I just wanted to mention it's there.

(It probably has something to do with the fact, that if the user makes an Ethereum token transfer, he is not literally sendi

[2020-12-08 12:47] bosomt commented on #3130
**QA OK**

Suite app commit be4e3a36f7dbe15b2b203f66de11edc50a6665b8
Windows 10
Device 1.9.3 public version

[2020-12-08 13:01] keraf opened #3150 "Device setting overhaul"
As discussed with @andrewkozlik, it would be great to have an easier way to maintain device settings displayed in Suite so we can match the ones available in `trezorctl`. The idea would be to have a configuration file (JSON most likely) with setting definitions that would then be rendered on that page.

Some of the missing settings in suite currently are:
- Set U2F counter
- Set wipe pass code
- E

[2020-12-08 13:55] andrewkozlik commented on #3150
Links to wiki:
- https://wiki.trezor.io/User_manual:Wipe_code
- https://wiki.trezor.io/Using_trezorctl_commands_with_Trezor#Safety-checks
- https://wiki.trezor.io/SD_card_protection
- `trezorctl fido counter set {COUNTER}`

The definition file should also contain flags indicating whether the given setting is applicable to T1-legacy, T1-core (this doesn't exist yet) and TT-core and whether it's app

[2020-12-08 14:11] sorooris opened #3151 "macOS - update from older versions cannot be executed"
**Describe the bug**
Update modal was displayed and accesible only until update download was finished.

**Info:**
 - Suite Version: app 20.10.1 9995926, app 20.11.2 b0dacc3 (-> 20.12.1 be4e3a3)
 - OS: macOS Big Sur 11.0.1
 - Firmware Version: model T 2.3.4 public

**Steps to reproduce:**
1. Run Suite app with --pre-release flag,
2. Access Suite and navigate through initial setup,
3. Skip update do

[2020-12-08 14:12] sorooris commented on #3151
#2965

[2020-12-08 14:13] sorooris commented on #2965
Testing of this issue is blocked by #3151.

[2020-12-08 14:23] sorooris opened #3152 "Update - No up-to-date info displayed"
**Describe the bug**
Selecting the Check for updates button (Settings -> General -> Application) does not display any information about the app being up-to-date and the button stays enabled.

**Info:**
 - Suite Version: app 20.12.1 be4e3a3
 - OS: macOS Big Sur 11.0.1
 - Firmware Version: model T 2.3.4 public

**Steps to reproduce:**
1. Run Suite,
2. Navigate to Settings -> General -> Application,

[2020-12-08 14:42] sorooris opened #3153 "Labelling - Cursor dismissed when clicking account title during editing label"
**Describe the bug**
Clicking anywhere during label editing results in cursor dismissal and needs to be confirmed or

**Info:**
 - Suite Version: app/web, commit
 - Browser: , version
 - OS:
 - Firmware Version: model , revision

**Steps to reproduce:**
Prerequisite - labelling enabled.
1. Select an arbitrary account and select edit label
2. Click into the account name field (instead of typing),
3

[2020-12-08 15:47] glacierbits opened #3154 "Spend 🪙"
- Spend crypto on services (vouchers)

[2020-12-08 15:48] sorooris opened #3155 "Exchange - contents (decimals) of ReceiveCryptoInput and FiatInput clipped"
**Describe the bug**
Contents (decimals) of ReceiveCryptoInput and FiatInput are clipped; prominent especially when selecting the fractions buttons.

**Info:**
 - Suite Version: app 20.12.1 be4e3a3, web beta b9113e2
 - Browser: Chromium 87.0.4280.66
 - OS: macOS Big Sur 11.0.1, Nixos 20.09
 - Firmware Version: model T 2.3.4 public

**Steps to reproduce:**
1. Run Suite in the default viewport,
2. S

[2020-12-08 18:10] martinboehm commented on #3154
Preview (web only version) is here https://suite.corp.sldev.cz/suite-web/feat/invity-spend/web

[2020-12-08 18:36] tsusanka commented on #3152
Just as a side note: it prints info into the command line but that is obviously not sufficient.

[2020-12-08 18:37] tsusanka commented on #3151
After tomorrow's release let's create a new "fake" 21.1.0 version during the course of next week and retest then. Because these might be bugs (and are hopefully) in the previous versions.

[2020-12-08 18:48] glacierbits opened #3157 "Remove "Soon" from Suite landing page"
- Both features are already in Suite (Exchanges to be released tomorrow).

<img width="451" alt="Screenshot 2020-12-08 at 19 47 10" src="https://user-images.githubusercontent.com/29627086/101527356-2d1dd080-398e-11eb-8c03-f1dda58e44b0.png">

[2020-12-09 09:13] bosomt opened #3158 "You don't need to acknowledge seed safety measures during onboarding"
**Describe the bug**
You don't need to acknowledge seed safety measures during onboarding
You can just press `Skip PIN` button after your seed is displayed during creation of new wallet.
And i wouldn't expect ` Skip PIN ` button during seed backup but during PIN setup.

**Info:**
 - Suite Version: app, commit be4e3a36f7dbe15b2b203f66de11edc50a6665b8
 - OS: Windows 10
 - Firmware Version: 1.9.3 mod

[2020-12-09 09:55] sorooris commented on #3036
**QA OK**

Verified the presence of a fingerprint comparison in firmware update modal during incremental update.

Suite | Device
------------ | -------------
![image](https://user-images.githubusercontent.com/10185314/101613957-a4924500-3a0c-11eb-9132-b23f8dfad332.png) | ![image](https://user-images.githubusercontent.com/10185314/101614245-00f56480-3a0d-11eb-99ba-4b89d376ffc7.png)

Suite: app 20.1

[2020-12-09 09:59] tsusanka commented on #2965
I am moving this to the next project, since we need to test 20.12.1 -> 20.1.1 as commented [here](https://github.com/trezor/trezor-suite/issues/3151#issuecomment-740828740).

[2020-12-09 10:27] sorooris commented on #2965
@tsusanka you mean 20.12.1 -> 21.1.0, right?

[2020-12-09 11:50] tsusanka commented on #2965
Yes, thanks.

[2020-12-09 12:22] #3005 closed, assigned to robertbrada

[2020-12-09 12:22] #3125 closed, assigned to robertbrada

[2020-12-09 12:53] #3157 closed, assigned to robertbrada

[2020-12-09 13:44] #2774 closed, assigned to martinboehm

[2020-12-09 16:40] prusnak opened #3164 "Update Electron to latest 11.x"
Electron 11.0.1 blocks Rosetta, because it used to crash. This has been fixed later and reverted in https://github.com/electron/electron/pull/26568 - since Electron 11.0.2 can run on Rosetta. If we want to support Apple M1 devices, we need to update Electron to 11.0.2 or later.

[2020-12-09 17:21] schulzemic opened #3165 "Chrome Freezes When Scanning QR Code"
When testing https://github.com/btcpayserver/btcpayserver/issues/2110, I noticed that the Chrome browser on Android freezes each time when scanning QR Code.

**Info:**
 - Suite Version: suite.trezor.io, https://github.com/trezor/trezor-suite/commit/6629e9f2c9712322ed2d0a1c93b6b328071c1418
 - Browser: Chrome, version 86.0.4240.198
 - OS:  Android 11, Oxygen OS 11.0.5.6.KB05BA
 - OnePlus 8T

**Steps

[2020-12-09 17:44] glacierbits opened #3166 "Un/lock desktop app by password 🔒"
_(To be specified)_

[2020-12-09 23:20] ghost opened #3168 "Change (utxo) address type output should match the spend address type"
**Is your feature request related to a problem? Please describe.**
- This creates privacy issue. It allows to clearly distinguish the change from the amount spend.

**Describe the solution you'd like**
- Match change address type with spend-to address type.

**Describe alternatives you've considered**
- I don't see any.

**Additional context**
- For example Samurai Wallet has this feature called:

[2020-12-09 23:45] ghost commented on #2918
**Disclaimer**: I am not a dev of Satoshilabs, just a random dude digging in the code. No guaranties!

@MCM-Mike

I did a digging and I have found it:
`/home/<user>/.config/@trezor/suite-desktop/metadata/<some hash>.mtdt`

And according to [this](https://github.com/trezor/trezor-suite/blob/e3f87c7ad425365772dd4972d71e292bec1cf75e/packages/suite/src/actions/suite/metadataActions.ts#L450) data there

[2020-12-10 08:00] bosomt commented on #3157
**QA OK**

Nixos
Firefox 82.0.3 (64-bit)
Suite web dev master commit f93bd329a2428deb5832953f99cced41e4169aa9
Device 2.3.5

[2020-12-10 08:06] bosomt commented on #2373
**QA OK**

Nixos
Firefox 82.0.3 (64-bit)
Suite web dev master commit f93bd32
Device 2.3.5

[2020-12-10 08:15] bosomt commented on #2290
@matejzak

This is what I see when I disable all coins, is this part of Skeleton implementation ?

![image](https://user-images.githubusercontent.com/31506317/101739699-31e69f80-3ac8-11eb-88c9-efb80a683b07.png)

Nixos
Firefox 82.0.3 (64-bit)
Suite web dev master commit f93bd32
Device 2.3.5

[2020-12-10 08:19] bosomt commented on #3133
**QA OK**

looks OK now
![image](https://user-images.githubusercontent.com/31506317/101740116-bafdd680-3ac8-11eb-9834-a35490e94155.png)

Nixos
Firefox 82.0.3 (64-bit)
Suite web dev master commit f93bd32
Device 2.3.5

[2020-12-10 08:21] bosomt commented on #3083
**QA OK **

https://dash1.trezor.io/tx/a3fc6fb6e15b864af9f4bac7d96f00c02482aa8ef83f68a4f31e26c8dc393eb4

Nixos
Firefox 82.0.3 (64-bit)
Suite web dev master commit f93bd32
Device 2.3.5

[2020-12-10 08:32] bosomt commented on #2933
**QA OK**

The current Unix epoch time is  1607589143

![image](https://user-images.githubusercontent.com/31506317/101741587-89860a80-3aca-11eb-8aa9-efb09257eddd.png)

Nixos
Firefox 82.0.3 (64-bit)
Suite web dev master commit f93bd32
Device 2.3.5

[2020-12-10 08:35] bosomt commented on #3125
**QA OK**

Nixos
Firefox 82.0.3 (64-bit)
Suite web dev master commit f93bd32
Device 2.3.5

[2020-12-10 09:21] bosomt commented on #3155
current dev master looks still broken

Nixos
Firefox 82.0.3 (64-bit)
Suite web dev master commit f93bd32
Device 2.3.5

![image](https://user-images.githubusercontent.com/31506317/101751997-41b6b180-3ad1-11eb-9f98-d75063ecb50b.png)
![image](https://user-images.githubusercontent.com/31506317/101752012-467b6580-3ad1-11eb-921a-dd193632d49a.png)
![image](https://user-images.githubusercontent.com/315063

[2020-12-10 10:00] #2967 closed, assigned to martinboehm

[2020-12-10 10:15] prusnak commented on #3168
This unfortunately violates BIP44 standard :-/

This will be eventually sorted out when all switch to Bech32 addresses

[2020-12-10 11:25] ghost commented on #3168
Thank you for info. Do I understand it coreectly, that Samouri is violating standard but it "just works"?

Edit:

I am reading through BIP44 and I see this

This means the change and payment are defined by its output position.

This itself is quite bad for privacy? Do I understand it correctly?

[2020-12-10 12:10] bosomt commented on #3165
**QA OK**

Chrome 87
Andorid 9 /Huawei P20 Lite/
Suite.trezor.io commit 6629e9f2c9712322ed2d0a1c93b6b328071c1418

I was able to scan same BTC address, suite says unsupported address format and you have to click on `Convert to lowercase format` but it works.

[2020-12-10 12:33] slowbackspace commented on #3165
Hello @schulzemic! Thanks for filling a bug report.
 It seems like an issue with newer Android release as I also wasn't able to reproduce it on Android 9 (oneplus 3t), but also ran into issues on Android 11 (pixel 3a). I'll look into it.

edit: chrome 86.0.42... on android 10 oneplus 7t also works fine.
edi2: I also can't reproduce it inside android emulator running x86 android 11 & chrome 83/87.

[2020-12-10 12:43] prusnak commented on #3168
I am not sure they even claim they are BIP44/BIP84 compatible wallet. Do they?

Why do you think so?

[2020-12-10 12:55] robertbrada commented on #2401
I am closing this issue because it's not a bug, but a valid behavior according to the way how Ethereum blockchain works (see https://github.com/trezor/trezor-suite/pull/3160#issuecomment-742375964). The current way how we handle this in the UI is for now.

[2020-12-10 12:55] #2401 closed, assigned to robertbrada

[2020-12-10 13:24] keraf commented on #3152
Fixed by #3161

[2020-12-10 13:24] #3152 closed, assigned to keraf

[2020-12-10 14:39] martinboehm opened #3169 "Optimize communication with the backend"
Suite makes request `getAccountInfo` with detail level `txs` for each of the registered accounts, after a notification that a new block has been mined. As only few blocks contain transactions related to given account, it would make sense to query only `basic` info about the account and fetch full information only if the `basic` info is different from previous request.

On the image is an example o

[2020-12-10 18:44] ghost commented on #3168
When I know which output is the spend and which is the change I can determine with 100% accuracy, that multiple spends were made by the very same person (wallet owner).

Lets assume I have 1 BTC at address A.

I will buy a beer.

A ---->
- Beer spend: 0.0001 -> to address B
- Change: 0.9999 (minus fee) -> to address C.

Now by BIP44 I can be *sure* that both addresses A and C are owned by same per

[2020-12-10 18:51] prusnak commented on #3168
You misunderstood. The constants 0 and 1 are for BIP32 derivation, not position of the outputs. Outputs are sorted via BIP69 (by their script).

[2020-12-11 09:54] amovah opened #4876 "Error while trying to use stellarSignTransaciton in Connect"
How to reproduce:
1. create an transaction consist of path payment strict send
2. send to your trezor device to sign the transaction
3. after pressing next couple times, it throws this error to your console or where ever you tried to log the error:
in Firefox: `o is undefined`, in Chrome: `Cannot read property 'type' of undefined`
![image](https://user-images.githubusercontent.com/6108180/10188907

[2020-12-11 10:29] prusnak commented on #4876
How? Which tool do you use for that?

[2020-12-11 12:15] slowbackspace opened #3172 "Scan qr btn missing when focused on address input"
first touch was directly in the input. Scan QR button didn't show up. It appears on second try when I tap on another input and then on the address input again.

<img width="367" alt="Screenshot 2020-12-11 at 13 12 11" src="https://user-images.githubusercontent.com/6961901/101902191-89613a00-3bb2-11eb-97e4-3f9bde54ef2c.png">

[2020-12-11 13:22] martinboehm commented on #3155
I think it will need some design change.

[2020-12-11 13:44] ghost commented on #3168
Cool, thank you for explanation and sorry for the confusion.

However the issue with address types is still there.

I would object, that waiting for all wallets to use correct format would be never-ending waiting.

[2020-12-11 14:08] prusnak commented on #3168
Well, you can always send coins to native segwit address from native segwit account and to p2sh-segwit address from a p2sh-segwit account. I don't think there is a better solution without violating standards describing discovery of the accounts (bip44, bip49, bip84).

I am closing this as this is a non-actionable issue at the moment.

[2020-12-11 14:08] #3168 closed, assigned to nobody

[2020-12-11 15:30] glacierbits opened #3173 "Accounts menu: Non BTC-like categories"
ETH filter activated:

Segwit + Legacy account categories shouldn't be present with irrelevant coins (e.g. ETH).

<img width="357" alt="Screenshot 2020-12-11 at 16 28 14" src="https://user-images.githubusercontent.com/29627086/101922024-eae2d200-3bcd-11eb-9219-a9766957e31c.png">

[2020-12-11 15:34] glacierbits opened #3174 "Negative balance"
<img width="871" alt="Screenshot 2020-12-11 at 16 33 20" src="https://user-images.githubusercontent.com/29627086/101922609-98ee7c00-3bce-11eb-9e29-856056f5eee2.png">

[2020-12-11 16:23] slowbackspace commented on #3174
most likely related to recent implementation of time range (it is probably same issue as https://github.com/trezor/trezor-suite/issues/3127) as AFAIK nothing else changed around graphs in months.
Hmm @bosomt said clearing storage helps with this, could you also try it please?

@tomexx Did you find the problem?