[2021-07-03 01:03] xanoni commented on #2770
Sad to see this being pushed back :( This is the main gap keeping me from using Trezor Suite for UTXO-based coins.

When I do use it, I have to perform "manual coin control". That is, I carefully set the tx amount and tx fee such that the Trezor algorithm selects the coins that I want to use. (And then confirm that it will do what I expect by inspecting the JSON in the transaction details.

Howeve

[2021-07-03 02:23] xanoni opened #3989 "Add switch to only show accounts with a positive balance (useful when multiple wallets are used)"
**Is your feature request related to a problem? Please describe.**
Trezor Suite allows users to enable/disable coins in the settings screen, however this setting applies to all imported wallets. This can be confusing (bad UX) when the user has multiple Trezor devices or when hidden passphrases are used, and when the wallets contain different sets of coins.

Besides, for non-UTXO based coins such a

[2021-07-03 11:35] #3888 closed, assigned to mroz22

[2021-07-03 20:31] katalinl opened #4881 "Simplestaking app cant send tezos to a wallet"
Simplestaking app cant send tezos to a wallet, it comes up with a warning, no description, and DONE button, on the last step for verification. Although I did verify on the trezor wallet.

[2021-07-04 15:39] tsusanka commented on #3965
Done.
- [ ] for me: remove the backup after testing

[2021-07-04 15:39] #3965 closed, assigned to tsusanka

[2021-07-05 10:02] bosomt opened #3990 "Suite modal says Confirmed before you confirm it via Trezor when replacing transaction"
**Describe the bug**
Suite modal says Confirmed even when device says Hold to Confirm when replacing transaction.
See screenshots as comparison. In both times device says hold to confirm.

**Steps to reproduce:**
1. Send transaction that you can replace via RBF
2. Replace fee
3. Observe top of modal during transaction confirmation/signing

**Info:**
 - Suite version: desktop 21.6.2 (aaf0b56bec9f66

[2021-07-05 10:03] #3983 closed, assigned to marekrjpolak

[2021-07-05 10:16] matejkriz commented on #3911
the original issue is resolved and the current version of firmware should be offered for all devices, but the issue with intermediary firmware on old and already initialized devices still remains and has to be addressed.

[2021-07-05 10:16] #3914 closed, assigned to matejkriz

[2021-07-05 10:17] matejkriz commented on #3914
@alex-jerechinsky please get back the original copy for TR_FIRMWARE_REINSTALL_FW_DESCRIPTION

[2021-07-05 12:49] #3803 closed, assigned to dimasivan

[2021-07-05 15:14] bosomt commented on #3983
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (8b018e2f06a7e36d9a650c2b7327c13da125dcdc)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model 1 1.10.2 regular

[2021-07-05 15:44] bosomt commented on #3776
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (8b018e2f06a7e36d9a650c2b7327c13da125dcdc)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model 1 1.10.2 regular

[2021-07-05 16:16] glacierbits commented on #3964
FYI I changed it with other copy-related changes. It will populate with the next Crowdin sync.

[2021-07-05 16:16] #3964 closed, assigned to jerechinsky

[2021-07-05 18:58] tomasklim opened #3992 "Suite Guide followup"
Suite Guide improvements not resolved in  #3817

- [x] #3994
- [x] #4407
- [x] #4408
- [x] #4409
- <s>[ ] send also Github issue template when reporting a bug **(Product needed)**</s>
- [x] #4410
- [x] #4411
- [x] open link in a new tab
- [x] do not close on escape when modal is opened

New improvements
- [x] #4412
- [x] #4413
- [x] unit tests
- [x] e2e tests
- [x] #4414
- [ ] more than 2 levels

[2021-07-05 18:59] tomasklim commented on #3817
Followup issue: #3992

Scrollbar issue: #3993

[2021-07-05 19:03] tomasklim opened #3993 "Accounts - scrollbar gap"
When scrollbar is missing in Accounts, there is an empty space, instead of wider account bar.

@matejzak mentioned in #3817

![Screenshot 2021-07-05 at 21 06 04](https://user-images.githubusercontent.com/33235762/124510770-d9188480-ddd4-11eb-8bba-e028b57e7a9e.png)
![Screenshot 2021-07-05 at 21 06 00](https://user-images.githubusercontent.com/33235762/124510774-da49b180-ddd4-11eb-84a6-ecbdbee3ca4a.

[2021-07-05 19:53] #2977 closed, assigned to szymonlesisz

[2021-07-05 20:37] tsusanka opened #3994 "Suite Guide: search in markdown files"

[2021-07-06 07:18] sorooris commented on #3952
**QA OK**

Timestamp attribute present in logs (as "c_timestamp=1625485437378").

Checked in our analytics tool.
Analytics version: 1.11

[2021-07-06 07:42] bosomt commented on #2977
@prusnak

to properly test it all we have to do is to

1) kill bridge
2) remove
[code]
3) start Suite

right ?

[2021-07-06 07:48] prusnak commented on #2977
Right.

If for some reason the system does not register you have deleted the udev rules, you can try running this:

`udevadm control --reload-rules && udevadm trigger` as root.

Or restart the computer after deleting the udev files.

[2021-07-06 07:57] sorooris commented on #3823
**QA OK**

Suite: 21.7.0 8b018e2f
Browser: Chrome 91.0.4472.77
OS: NixOS 21.05
Device: model T 2.4.0 ea3596ad8

[2021-07-06 08:49] bosomt commented on #2977
This is what i see in Firefox when i removed udev rules and bridge  Version: 2.0.31 (rev 5f53132)  is running.
I don't see any information about udev rules / i was not able to test it yet in app because there is no current master build/

Version 21.7.0 Commit 8b018e2f06a7e36d9a650c2b7327c13da125dcdc
Kubuntu 21.04
Trezor T

![image](https://user-images.githubusercontent.com/31506317/124570511-4238e

[2021-07-06 08:59] tsusanka commented on #2977
The CI died for some reason, so you were testing on old commit (8b018e2) instead of https://github.com/trezor/trezor-suite/commit/9d473f00215843741241e13ff3b857667fdf3e3f which contains these changes. I have [restarted the CI](https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines/332125913) so let's wait for it.

[2021-07-06 09:21] bosomt commented on #2977
@tsusanka my bad :( :) haven't checked commit :)  i will wait for CI :)

[2021-07-06 09:34] tsusanka commented on #2977
@bosomt it did not finish completely yet but the deploy should be done to `https://suite.corp.sldev.cz/suite-web/develop/`, so try now :).

[2021-07-06 10:39] bosomt commented on #2977
**QA OK**

works as expected in app and in browser when there is app with bridge running in background

**Info:**
 - Suite version: desktop 21.7.0 (9d473f00215843741241e13ff3b857667fdf3e3f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: KUbuntu 21.04 Linux x86_64
 - Screen: 2560x1440
 -

[2021-07-06 11:05] bosomt commented on #3964
Current dev master still contain different icons and headers.

![image](https://user-images.githubusercontent.com/31506317/124589806-afa23c00-de5a-11eb-962e-b2f1633e4f61.png)

**Info:**
 - Suite version: web 21.7.0 (9d473f00215843741241e13ff3b857667fdf3e3f)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: m

[2021-07-06 11:07] #3817 closed, assigned to tomasklim

[2021-07-06 11:10] sorooris commented on #2338
Tested extensively in 21.6.2 290aab68 in issues #[1597](https://github.com/trezor/trezor-firmware/issues/1597) #[1619](https://github.com/trezor/trezor-firmware/issues/1619) and #3911, can I approve?

[2021-07-06 11:17] tsusanka commented on #2338
@sorooris yes we have new issues so let's do it :+1:

[2021-07-06 11:23] sorooris commented on #3874
**QA OK**

![image](https://user-images.githubusercontent.com/10185314/124591823-0a3c9780-de5d-11eb-9eb8-eca01415edf6.png)

Suite: web 21.7.0 b606e96f
Browser: Chrome 91.0.4472.114
OS: MacOS Big Sur 11.4
Device: model One 1.10.1

[2021-07-06 11:29] bosomt commented on #3803
I'm not sure if it's caused by this change or it just made to stand out but can you please center enable/disable all buttons or  align it with section headers? Looks kinda broken. Do you want me to create issue ? @matejzak

**screen # 1**

![image](https://user-images.githubusercontent.com/31506317/124592501-d6ae3d00-de5d-11eb-80f2-b259e94c69d5.png)

**screen # 2**
![image](https://user-images.git

[2021-07-06 11:30] sorooris commented on #3965
**QA NOK**

Not sure what went wrong here, the banner is still displayed.

Suite: web 21.7.0 b606e96
Browser: Chrome 91.0.4472.114
OS: MacOS Big Sur 11.4
Device: N/A

https://github.com/trezor/trezor-suite/issues/3874#issuecomment-874678639

![image](https://user-images.githubusercontent.com/10185314/124592643-f6ddfc00-de5d-11eb-9a4c-d19727b7ffaa.png)

[2021-07-06 11:32] tsusanka commented on #3965
Well that is interesting because it seems correct on my side. Could you please:
1. Run Ctrl + F5 to refresh properly just in case.
2. Try on suite.trezor.io/web?

[2021-07-06 11:36] smitd21 commented on #290
Select component needs an instanceId, id mandatory
So Just add

**id="long-value-select"
instanceId="long-value-select"**

to your Select component it will remove the Warning :)

[2021-07-06 11:38] sorooris commented on #3965
**QA OK**

Confirming that a new browser session and a hard refresh resolved it in develop, suite.trezor.io/web did not have the banner displayed.

![image](https://user-images.githubusercontent.com/10185314/124593807-5dafe500-de5f-11eb-881b-c7a0efe67d5e.png)

Suite: web 21.7.0 b606e96, 21.6.2 290aab68
Browser: Chrome 91.0.4472.114
OS: MacOS Big Sur 11.4
Device: N/A

[2021-07-06 11:50] bosomt commented on #3968
@tsusanka https://suite.corp.sldev.cz/suite-web/develop/start/ right ?

[2021-07-06 11:52] sorooris commented on #3968
@bosomt let's please retest as soon as the copy is ready, as Jen mentions above; i.e when the issue is closed.

[2021-07-06 12:20] bosomt commented on #3888
**QA OK**

**Info:**
 - Suite version: web 21.7.0 (b606e96f4fa2418e0b44d54345c334e23a6a09de)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.1 regular

[2021-07-07 06:38] #3863 closed, assigned to glacierbits

[2021-07-07 07:39] glacierbits commented on #3968
Copy edited ✅ Thanks!

[2021-07-07 07:54] bosomt commented on #3968
Please keep us updated, they are still not identical, start version is using old version that not include spend info from invity

<img width="1422" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/124721331-4fb69e80-df09-11eb-8a13-5097d82a9955.png">

[2021-07-07 09:04] tomasklim opened #3995 "Send form - "Clear all" button when form is empty"
**Describe the bug**
Clear all button is available in send section without anything being filled.

**Steps to reproduce:**
1. Send section
2. Add OP Return
3. Hit OP RETURN cross button
4. Clear all button appears but nothing was filled.

**Screenshots:**
![Screenshot 2021-07-07 at 10 50 12](https://user-images.githubusercontent.com/33235762/124729889-1da93a80-df11-11eb-96a7-adac931f2093.png)

**V

[2021-07-07 10:35] matejkriz commented on #3752
The link on Prototype is probably wrong? It leads me to "Add account modal" prototype, but the issue could be on my site...

[2021-07-07 14:42] bosomt commented on #3965
**QA OK**

**Info:**
 - Suite version: web 21.7.1 (34de15f6b0dcdbf8dc69a34fc65e6abab6a8213d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-07-07 15:00] sorooris commented on #3308
**QA NOK**

The notification is now **displayed correctly** after update, however it is **displayed after every launch** of the app.

Suite: app (tested 21.7.1 -> 21.8.1)
OS: MacOS, Win10
Device: model One 1.10.1

[2021-07-07 16:38] bosomt commented on #3797
**QA OK**

**Info:**
 - Suite version: desktop 21.7.1 (34de15f6b0dcdbf8dc69a34fc65e6abab6a8213d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-07-08 07:18] #3507 closed, assigned to glacierbits

[2021-07-08 07:52] #3277 closed, assigned to szymonlesisz

[2021-07-08 08:04] #3313 closed, assigned to tsusanka

[2021-07-08 08:13] goodhoko commented on #3968
This is done.

@trezor/qa Sorry for the delays. The page should be now ready for your review. (Thanks for reporting the discrepancy @bosomt) The only difference from the index page should be the main heading and its subheading.

[2021-07-08 08:28] goodhoko commented on #3630
This will have to wait for someone else.

[2021-07-08 08:55] sorooris opened #3999 "Tor browser, Welcome screen - some elements not loaded"
**Describe the bug**
Elements @connect-device-prompt and @onboarding/expand-troubleshooting-tips are loaded but invisible in the Tor browser.

**Info:**
 - Remembered Wallet: N/A
 - Suite Version: web 21.6.2 [290aab68e](https://github.com/trezor/trezor-suite/commits/290aab68e418b837f9bed8a8839143dddaefb81c)
 - Browser: Tor browser 10.0.17
 - OS: any (tested NixOS 21.05)
 - Bridge: 2.0.31
 - Firmwa

[2021-07-08 09:03] matejkriz commented on #3993
@matejzak what about to get rid of custom scrollbar styles completely and switch to default/system scrollbars? I believe it's better for the UX...

[2021-07-08 09:07] tomasklim commented on #3993
@matejkriz @slowbackspace explained this question to me. There was a requirement for the scrollbar to look like on macOS everywhere (Windows, Linux).

[2021-07-08 09:44] glacierbits commented on #3993
I think that getting rid of the custom scrollbar makes sense (e.g. on MacOS I expect the scrollbar to appear/disappear as in other apps - something the Suite doesn't support). Not sure where the original requirement came from, but we don't have to keep it.

[2021-07-08 09:45] matejkriz commented on #3993
And I want to challenge that requirement... Even on MacOS it changes with every version and also with theme. But in general, I believe, that it's better to keep the system UI of the user's platform.

[2021-07-08 09:47] bosomt opened #4002 "Notion is linked in Suite Guide"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce:**
1. Start latest version of Suite
2. Start Guide and go to `Dashboard/Supported Crypto/Custom ERC20 Token`
3. Click on `Account` in `How to store custom tokens` section

**Info:**
 - Suite version: desktop 21.7.1 (34de15f6b0dcdbf8dc69a34fc65e6abab6a8213d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac O

[2021-07-08 10:06] tsusanka commented on #3968
(It will be on staging tomorrow)

[2021-07-08 10:06] goodhoko commented on #3616
This will have to wait for someone else.

[2021-07-08 10:29] goodhoko commented on #3202
@trezor/qa  I just merged [a commit](https://github.com/trezor/trezor-suite/commit/92ffdec083487d6de6652332b696b1af5ffb3704) that *may* fix this. It **won't** be included in the upcoming release (July 14) to give us enough time to test it.

I assume you have the needed tools/procedures to test the autoupdate of develop builds, right?

I'll  optimistically close this. Let's reopen if the issue pers

[2021-07-08 10:29] #3202 closed, assigned to mroz22

[2021-07-08 10:58] goodhoko commented on #3784
@szymonlesisz This was maybe already resolved in https://github.com/trezor/trezor-suite/pull/3879?

If so, can we close this?*

[2021-07-08 11:37] #3308 closed, assigned to mroz22

[2021-07-08 12:25] goodhoko commented on #3924
The `latest.yml` is a file included in the release's assets on GitHub used by `electron-updater` package to fetch information about the latest release (surprise!) for the *windows* platform. (Note the subtle detail, that for other platforms this file contains the platform in its name. Eg. `latest-mac.yml` or `latest-linux.yml`. For windows, though, it's just `latest.yml`.)

This issue occurred in

[2021-07-08 12:28] sorooris commented on #3202
@goodhoko FYI I've tested this yesterday with 21.7.1 and deleting the contents of the C:\Users\0xdeadbeef\AppData\Local\@trezorsuite-desktop-updater (and C:\Users\user\AppData\Roaming\@trezor\ for good measure as well) folder(s) resolves this issue for one update. Not sure if it's of any help for you.

Let's see what future testing brings us.

[2021-07-08 12:48] bosomt commented on #4002
I found one more issue.
Dead link to RBF explanation.
Do you want me to go through whole Suite guide and check for dead/bad links ?

<img width="197" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/124924034-4f96cb80-dffb-11eb-9bd4-6900c1ecf876.png">

--

<img width="320" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/124923972-4279dc80-dffb-11eb-9586-0

[2021-07-08 13:11] matejkriz commented on #3924
Agree with closing and resolving 👍

Thanks for nice and clear explanation 🎖️

[2021-07-08 13:11] #3924 closed, assigned to goodhoko

[2021-07-08 14:48] tsusanka commented on #3924
Yes, I confirm and agree with everything :).

[2021-07-08 15:49] #3752 closed, assigned to dimasivan

[2021-07-08 19:39] AdamSHurwitz commented on #3945
The same warning message, _This key is not certified with a trusted signature!_, is occurring with the following steps.

**Steps**

1. Download the .dmg file, signature, and signing key from [https://suite.trezor.io/][1].
   - Signature: _Trezor-Suite-21.6.2-mac.dmg.asc_
   - Signing key: _satoshilabs-2021-signing-key.asc_

2. Run the verify command: `gpg --verify Trezor-Suite-21.6.2-mac.dmg.asc`

[2021-07-08 19:52] AdamSHurwitz commented on #3945
@stanislavkozlovski, Also, it may help this issue getting attention from the Trezor team by adding the warning message in the title, i.e, **Warning Verifying Signature - This key is not certified with a trusted signature!**

[2021-07-08 19:57] adam-hurwitz commented on #3945
This issue is a duplicate of [warning when verifying binaries #3751](https://github.com/trezor/trezor-suite/issues/3751) and should be closed.

[2021-07-08 19:59] adam-hurwitz commented on #3751
The same warning message, _This key is not certified with a trusted signature!_, is occurring with the following steps on macOS.

## Steps

1. Download the .dmg file, signature, and signing key from [https://suite.trezor.io/][1].
   - Signature: _Trezor-Suite-21.6.2-mac.dmg.asc_
   - Signing key: _satoshilabs-2021-signing-key.asc_

2. Run the verify command: `gpg --verify Trezor-Suite-21.6.2-mac.d

[2021-07-08 20:00] adam-hurwitz commented on #3751
@PostPollux, It may help this issue to receive more attention from the Trezor team by adding the warning message in the title, i.e., **Warning Verifying Signature - This key is not certified with a trusted signature!**

Also, it seems the label **Bug** should be applied.

[2021-07-09 09:35] matejkriz commented on #3927
I just came across this https://github.com/trezor/trezor-suite/blob/develop/docs/misc/notes.md#upload-source-maps-to-sentry

[2021-07-09 10:30] bosomt commented on #3968
**QA OK**

Only difference I see is welcome text, but this is expected as i expect ;)

<img width="1669" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/125064744-436d4580-e0b1-11eb-88c7-8d3879287cbe.png">

[2021-07-09 10:51] matejcik commented on #3990
will be fixed in firmware, by backing out of (part of) https://github.com/trezor/trezor-firmware/pull/1671

[2021-07-09 11:06] sorooris commented on #3968
Should we congratulate anyone who visits the landing page on getting a Trezor? What about people who didn't buy one or people who aren't visiting the first time?

[2021-07-09 11:25] goodhoko commented on #3968
@sorooris The page that congratulates is *only* the `/start` which is the page a user navigates to after booting up their trezor for the first time. AFAIK we don't plan to link to this page from anywhere else. The current landing page `/` should remain intact.

[2021-07-09 11:33] goodhoko commented on #3755
I'm sorry to say this but this will have to wait for someone else.

[2021-07-09 11:44] sorooris commented on #3968
@goodhoko Okay, didn't know that and it makes sense now, thanks!

[2021-07-09 11:50] goodhoko commented on #3755
My hot tips for the conventions: (quite opinionated)
- link issue numbers in commit messages
- write commit messages as imperative in simple present tense. (https://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html)
- Don't mix refactoring and features, commit these separately.
- GitHub repository settings
    - protect `develop` branch to prevent accidental pushes.
    - require all t

[2021-07-09 12:06] bosomt opened #4007 "Missing space in Settings idem description text"
**Describe the bug**
It says: `Your standard wallet will still be accessible without a passphrase.Do not forget your passphrase. Unlike`
There is space missing between . and Do

**Steps to reproduce:**
1. Open suite settings and navigate to Device section.
2. Check Passphrase information

**Info:**
 - Suite version: desktop 21.7.1 (ca85ae5c485fd0291952f50bc9d7a06076fddaa4)
 - Browser: Mozilla/5.0

[2021-07-09 14:18] tsusanka commented on #3920
Yes, this will be soon possible via Electrum Server support. Tracked in #2737.

[2021-07-09 14:18] #3920 closed, assigned to nobody

[2021-07-09 15:14] jerechinsky commented on #3914
Will do. Thank you. @matejkriz

[2021-07-09 18:19] adam-hurwitz commented on #3751
[According to matejcik](https://forum.trezor.io/t/signature-verification-issues-in-trezor-suite/308/5?), who seems to be a part of the Trezor engineering team, this warning can be ignored.

gpg --sign-key EB483B26B078A4AA1B6F425EE21B6950A2ECB65C

However, the concern with downloading both the Trezor Suite application *Trezor-Suite-21.6.2-mac.dmg* and the signing key, *satoshilabs-2021-signing-key.

[2021-07-10 10:04] maravac commented on #3920
Skvělé, díky za zprávu. Kdy to asi tak bude?

[2021-07-10 12:18] tsusanka commented on #3920
[Roadmap](https://github.com/orgs/trezor/projects/28)

[2021-07-10 12:23] maravac commented on #3920
SUPER!

[2021-07-10 15:51] guiand888 commented on #3395
Under Manjaro Linux with KDE Plasma 5.21.5 the icon is also missing.
I ran `appimagelint` on the package and it seems to be a related to the resolution of the icon.

Surely, it shouldn't be too hard to fix?

[code]

[2021-07-10 16:25] IAmIntractable commented on #3883
I reported the issue and I have one ETH account only. The ETH account clearly has transactions for SUSD so the token needs to be resolved. I dont think adding ERC 20 tokens should be by account. There should be a master list stored by the suite for all ETH accounts. That list should also be editable by the user.

[2021-07-10 16:27] IAmIntractable commented on #3883
Not sure how this issue was labeled as a feature request. It's clearly a bug. Also need others to confirm it is not happening anymore with the latest suite release. For me, SUSD is remaining in the list between disconnections.

[2021-07-10 16:39] IAmIntractable commented on #3883
My Bad. I did not open this one but I did open one just like it.

[2021-07-10 16:53] IAmIntractable opened #4009 "Dashboard - Add Token Total Value to Make Dashboard More Accurate"
When viewing the dashboard there are situations where valuations are not being displayed. This makes it difficult to jibe the portfolio total value with the assets displayed. The total value of tokens should be displayed so that it's clear there are tokens with value present.

Suggestions:
1 Show the total Token Value with the associated asset
2 Show each token as an Asset
3 Create an Asset Classi

[2021-07-10 18:38] tsusanka commented on #4002
I have removed the notion links from Gitbook.

-----

@goodhoko as per the [second comment from @bosomt ](https://github.com/trezor/trezor-suite/issues/4002#issuecomment-876410685) the links are correct in gitbook, does our current Suite Guide implementation support these links or it does not?

[2021-07-10 21:17] prusnak commented on #3395
[code]

This is casued by an unresolved issue with electron-builder - broken icon size detection - see https://github.com/electron-userland/electron-builder/issues/5294

[2021-07-11 05:45] goodhoko commented on #3663
This will have to wait for someone else.

[2021-07-11 11:45] bosomt commented on #3914
**QA OK**

<img width="468" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/125193714-2d48bc00-e24e-11eb-9180-a35e21adffbd.png">

**Info:**
 - Suite version: web 21.7.1 (ca85ae5c485fd0291952f50bc9d7a06076fddaa4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.3.4 regular

[2021-07-11 13:49] #3775 closed, assigned to tsusanka

[2021-07-11 13:49] tsusanka commented on #3775
Done in Production as well.

QA: I did a quick check so everything seems OK so nothing in particular needs to be tested. If you find anything funny going on in production let me know.

[2021-07-12 04:55] CoelWu commented on #4009
This is indeed an import issue. When I only hold ERC20 tokens, every time I use my hidden wallet on another device, it pop up an warning shows that this is an empty wallet because it does not count ERC20 token value

[2021-07-12 09:51] sorooris commented on #3983
**QA OK**

Suite version: web 21.7.1 ca85ae5
Browser: Chromium 91.0.4472.77
OS: NixOS 21.05
Device: model One 1.10.1 3204fd682

[2021-07-12 09:55] bosomt commented on #3990
**QA OK**

bump fee AND bump fee with amount decrease works as expected

**Info:**
 - Suite version: web 21.8.0 (755c2cda15ba92854605d2778b0d035e84d75140)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:89.0) Gecko/20100101 Firefox/89.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 version trezor-fw-regular-2.4.1-46e05307

[2021-07-12 09:55] #3990 closed, assigned to szymonlesisz

[2021-07-12 10:39] sorooris commented on #3964
**QA OK**

![image](https://user-images.githubusercontent.com/10185314/125274374-339e6d00-e30e-11eb-9a28-332dc86b65b5.png)

Suite version: web 21.7.1 ca85ae5
Browser: Chromium 91.0.4472.77
OS: NixOS 21.05
Device: model One 1.10.1 3204fd682

[2021-07-12 11:35] goodhoko commented on #3335
As [the PR that blocks this](https://github.com/trezor/trezor-suite/pull/3446) will be most probably merged after I leave this will have to be overtaken by someone else.

I implemented this [here](https://github.com/trezor/trezor-suite/pull/3894). The diff-set is complete but one should verify the CI produces valid builds especially with regards to the auto-updater and Suite version exposed within

[2021-07-12 11:39] goodhoko commented on #4002
It does not. That would require some additional logic application logic as displaying Guide articles isn't handled by URL and the browser but within the app itself. cc @tomasklim

[2021-07-12 11:43] tsusanka commented on #4002
We should remove the links then. <s>I'll ask Anthonny.</s> He is on vacation, I'll do it myself.

[2021-07-12 11:47] wendys-cats opened #4011 "Missing pictures and gifs in Suite"
**Describe the bug**
Suite is missing gifs and pictures. Noticed in onboarding when Suite is installing new firmware for TT device that there is gif missing (the one showing how to reconnect the device in bootloader mode).

**Info:**
 - Remembered Wallet: no
 - Suite Version: app and web, 21.7.1 ca85ae5c485fd0291952f50bc9d7a06076fddaa4
 - Browser: Chrome 91
 - OS: Windows 10, MacOS Big Sur 11.4
 -

[2021-07-12 11:52] tsusanka commented on #4002
Done in https://github.com/trezor/trezor-suite-guide/commit/7defb3d8fd61bd7cc6d7602955f54b95698f5ed2.

[2021-07-12 12:00] goodhoko commented on #4002
@tsusanka For this to take effect in the upcomming release we need to change the [gitbook ref](https://github.com/trezor/trezor-suite/blob/0868666b806a04ab22f7bb121e8a537d62717d94/packages/suite-data/src/guide/constants.ts#L4) in Suite repo. Shall I do it?

[2021-07-12 12:00] sorooris commented on #4011
Missing video tT_success_light.webm
![image](https://user-images.githubusercontent.com/10185314/125284144-626e1080-e319-11eb-9363-c95dafa3e327.png)
![image](https://user-images.githubusercontent.com/10185314/125284194-7285f000-e319-11eb-9fbb-bb0758a8205f.png)

Suite: app 21.7.1 ca85ae5c
OS: macOS Big Sur 11.4
Device: any (tested model T 2.3.6 -> 2.4.0 ea3596ad8)

[2021-07-12 12:04] tsusanka commented on #4002
Ah yes please. Could you please add a short info how to update the guide in `docs/misc/guide.md` or similar? I haven't found this info anywhere.

[2021-07-12 12:11] tomasklim commented on #3993
If we want an app without custom scrollbars, it looks like this:

macOS without mouse:
![Screenshot 2021-07-12 at 14 06 55](https://user-images.githubusercontent.com/33235762/125285259-c0e7be80-e31a-11eb-8ce3-fa6b1af12306.png)

macOS with mouse:
![Screenshot 2021-07-13 at 14 48 32](https://user-images.githubusercontent.com/33235762/125456809-df9c3dd3-b7cb-415f-b8b8-1bb34d7489e4.png)

Windows: (scr

[2021-07-12 12:15] goodhoko commented on #4002
[Here](https://github.com/trezor/trezor-suite/pull/4012) you go.

It's right [there](https://github.com/trezor/trezor-suite/blob/develop/docs/misc/guide.md). Maybe it could be put more prominently?

[2021-07-12 12:19] goodhoko commented on #4002
... The update 'workflow' is also described in the [Guide manual](https://github.com/trezor/trezor-suite-guide/tree/master#how-to-publish)

[2021-07-12 12:39] IAmIntractable commented on #4009
It seems to me that its an easy job to call the code that compiles the list of tokens from the Dashboard and simply total all of the value. I dont need to see every token on the dashboard.

[2021-07-12 14:18] jerechinsky commented on #3810
Has updating the app perhaps helped? Have you encountered this bug ever since?

[2021-07-12 14:21] STew790 commented on #3914
**QA OK**

**Info:**
 - Suite version: web 21.7.1 (ca85ae5c485fd0291952f50bc9d7a06076fddaa4)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.6 regular

![image](https://user-images.githubusercontent.com/48477147/125303397-0f05bd80-e32d-11eb-9648-3306833e8a66.png)

[2021-07-12 14:54] tsusanka commented on #4002
Ah I am blind then :). I made it a little bit more explicit in https://github.com/trezor/trezor-suite/pull/4016. Could you review please?

[2021-07-12 15:16] marekrjpolak commented on #4011
The onboarding video files were all lower-case, but the application requested paths with 'T' as in model T. The issue is probably fixed, but I see similar possible issue e.g. with 'custom' suite theme.

[2021-07-12 15:35] sorooris commented on #3775
**QA OK**

Nothing funny was found; only serious business. Approving.

Suite: app + web (tested 21.7.1 ca85ae5)
Browser: N/A, Chromium 91.0.4472.77
OS: macOS Big Sur 11.4, NixOS 21.05
Device: model One 1.10.1

[2021-07-12 15:52] sorooris commented on #3968
**QA OK**

Suite: landing page, 21.7.1 ca85ae5c
Browser: Chromium 91.0.4472.77
OS: NixOS 21.05
Device: model T 2.4.0 ea3596ad8

[2021-07-12 16:04] tsusanka commented on #4002
Fixed by https://github.com/trezor/trezor-suite/pull/4012. Will be on staging tomorrow.

[2021-07-12 16:04] #4002 closed, assigned to tsusanka

[2021-07-12 16:18] #4011 closed, assigned to marekrjpolak

[2021-07-13 07:22] #3925 closed, assigned to matejkriz

[2021-07-13 09:08] tsusanka commented on #3313
Duplicate. Tracked in https://github.com/trezor/trezor-suite/issues/991 and https://github.com/trezor/trezor-suite/issues/3294.

[2021-07-13 09:54] bosomt commented on #4011
**QA OK**

**Info:**
 - Suite version: desktop 21.7.1 (3d90909aa68da250490f474b2d4cab02c0aad272)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-07-13 10:06] sorooris commented on #3986
Duplicate of #4011, closing.

[2021-07-13 10:06] #3986 closed, assigned to jerechinsky

[2021-07-13 10:55] marekrjpolak opened #4021 "No prompt which coins to enable when you reset Trezor Suite app"
When you reset your Trezor device, you are asked to select which coins you want to enable during the setup phase. But if you reset Trezor Suite app, there is no such prompt, so it can be confusing for users to see only Bitcoin in their accounts.

There could be some modal similar to the onboarding process, where you can select initially activated coins.

[2021-07-13 11:16] STew790 opened #4022 "Firmware update/installing new firmware is not showing to which FW version you are updating to"
**Describe the bug**
When you are trying to update your FW or when you have a new device and you want to install a FW on your device, Suite is not showing you to which version you are updating to. There is just a blank space.

**Steps to reproduce:**
1. Go to settings>device
2. Try to update your device (even if you have up to date FW version)
3. The modal that opens up doesn't show the version yo

[2021-07-13 11:32] CoelWu commented on #3957
![Screen Shot 2021-07-13 at 7 32 09 PM](https://user-images.githubusercontent.com/76829607/125444794-a8759648-d5d5-420f-adb3-4bcaf1bed977.png)
Something like this

[2021-07-13 11:34] sorooris commented on #3817
**QA OK**

Resolved in #3859

- [x]  preselect category according to the current route when reporting a bug
- [x]  add nicer animations
- [x]  F1 hotkey to toggle the visibility of the Guide

Resolved in #3949

- [x]  add shadow under the top part of the Guide when contents of the Guide panel is scrolled down
- [x]  emoji background
- [x]  latest version check in bug reporting section
- [x]  list

[2021-07-13 11:35] STew790 opened #4023 "Wrong wording when reinstalling firmware"
**Describe the bug**
When you are reinstalling firmware, Suite tells you that new version is available and you can update your firmware even though you have the latest firmware version installed.

**Steps to reproduce:**
1. Open Suite
2. Connect a device with latest available firmware
3. Go to Settings>Device
4. Click on "Up to date" button
5. Firmware update modal opens up with wrong wording (see

[2021-07-13 12:02] wendys-cats commented on #3968
**QA OK**

**Suite**: landing page, 21.7.1 3d90909aa68da250490f474b2d4cab02c0aad272
**Browser**: Chromium 88.0.4324.182 (Official Build) (64-bit)
**OS**: NixOS 21.03
**Device**: T 2.4.0 regular public

[2021-07-13 12:12] wendys-cats commented on #4011
**QA OK**

GIF is back!

Info:

**Suite** version: APP 21.7.1 3d90909aa68da250490f474b2d4cab02c0aad272
**OS**: Windows10
**Device**:  TT 2.3.6 regular

[2021-07-13 12:15] sorooris commented on #4011
[ALRIGHT](https://youtu.be/6M6samPEMpM?t=113)!

[2021-07-13 12:36] tsusanka commented on #4022
Whis won't get resolved by any chance by simply adding the new firmwares (planed for tomorrow) right? Asking no one in particular, just brainstorming.

[2021-07-13 12:52] sorooris commented on #4022
It was functional in [this commit](https://github.com/trezor/trezor-suite/commit/ca85ae5c485fd0291952f50bc9d7a06076fddaa4), see this [comment](https://github.com/trezor/trezor-suite/issues/3914#issuecomment-877785274).

[2021-07-13 13:09] tsusanka commented on #4022
Uf that is very weird! We either broke it by 7adfe196624ad0a274697a8cbd6a6d2231fbc607 or 3d90909aa68da250490f474b2d4cab02c0aad272. Probably the first thing.

[2021-07-13 13:34] sorooris commented on #3968
What about the redirect from the **/start/** page to **/web/**? @vdovhanych reported and I verified that the redirect is to **/start/web/** which results in 404.

[2021-07-13 13:39] tsusanka commented on #3968
We need to fix this for the release @alex-jerechinsky. @goodhoko any chance you could have a look?

[2021-07-13 13:59] wendys-cats commented on #3817
**QA OK**
- am sad about the emoji background bit, it was not clear

**Info**:
**Suite** APP 21.7.1 3d90909aa68da250490f474b2d4cab02c0aad272
**OS**: Windows 10
**Device**: TT 2.4.1

WIP Improvements of Suite Guide (Spec #3713, PR of the first version #3815)

**Resolved in #3859**

 preselect category according to the current route when reporting a bug **OK**
 add nicer animations **OK**
 F1 hotkey

[2021-07-13 14:12] tomasklim commented on #3817
according to design, emoji in the feedback section should not have hover effect

[2021-07-13 14:31] tsusanka commented on #4022
Fixed in #4025, will be on staging tonight.

[2021-07-13 14:31] #4022 closed, assigned to matejkriz

[2021-07-13 14:46] tsusanka commented on #3968
@matejkriz was so kind: https://github.com/trezor/trezor-suite/pull/4026.

[2021-07-13 15:06] mmhorda commented on #3550
I also cannot wait for ADA and XLM in Trezor Suite!

[2021-07-13 15:48] tsusanka commented on #4022
On staging.

[2021-07-13 15:49] dimasivan commented on #3992
![image](https://user-images.githubusercontent.com/42174681/125483742-49af7002-e6c7-4e33-8c7f-bb1d85f1fe77.png)

[2021-07-13 15:49] sorooris opened #4027 "Suite Guide further improvements 🍰"
**Describe the bug**
Found a couple of things when testing #3817 that could be further improved in Suite Guide:

- Redirect to a different part of the Guide - namely seed,
- Consistency of hyperlinks,
- Redirect to a hero page and then to wiki - btc-only firmware,
- How to tackle external links and links to wiki - do we even want to redirect to wiki?
- Order of the topics/articles,

**Screenshots:

[2021-07-13 15:51] tsusanka commented on #4022
On staging.

[2021-07-13 16:58] STew790 commented on #3308
QA OK

The message appeared only once after the autoupdate and the installation was done.
Auto update 21.7.1 > 21.8.0

Info:
 - Suite version: desktop 21.8.0 (2d590edbb3b5e8e2d07db3e9d83e8e9c2de75618)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 -

[2021-07-13 17:04] STew790 commented on #3797
**QA OK**

Info:
 - Suite version: desktop 21.7.1 (1abd1be)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.3.6 regular

[2021-07-13 21:44] wendys-cats commented on #3308
**QA OK**

Update message appeared after update. It did not appear when the (already updated) app was opened later.

**Info:**

**version** 21.7.1 > 21.8.0
**Suite**: APP 21.8.0 2d590edbb3b5e8e2d07db3e9d83e8e9c2de75618
**OS**: Windows10
**Device**: TT 2.4.0 public regular

[2021-07-13 21:58] wendys-cats commented on #3797
**QA OK**

Cancel on auto update modal is no longer present when version 21.7.1 is being updated.

**Info**:

**Suite**: APP 21.7.1 1abd1be26f5ae166ec910fe193c4a804d5949a86
**OS**: Windows 10
**Device**:  TT 2.4.1 regular

[2021-07-14 07:31] sorooris commented on #3817
Created #4027 so we can approve this.

[2021-07-14 08:12] matejkriz commented on #3968
the Download buttons and Signature links are also wrong... fix coming soon
![image](https://user-images.githubusercontent.com/3729633/125587436-acaba3ab-8e46-4587-9d45-3073756f2e0e.png)

[2021-07-14 08:24] cryptomar1o opened #4029 "Add camera selector for Trezor Suite app"
**Describe the request**
With multiple cameras, it is not possible to change which camera is being used by Trezor Suite to scan a QR code. It may be causing difficulties especially when some virtual cameras are installed on the computer.

**Describe the solution**
Add camera selector in the UI of the Trezor Suite application.

**Info:**
 - Suite Version: web 21.7.1 [3d90909](https://github.com/tre

[2021-07-14 08:26] STew790 commented on #4022
**QA OK**

**Info:**
 - Suite version: web 21.7.1 (1abd1be26f5ae166ec910fe193c4a804d5949a86)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.6 regular

 Updating FW
![image](https://user-images.githubusercontent.com/48477147/125588994-c535786d-c198-4077-a95a-5f9bc11

[2021-07-14 08:32] sorooris commented on #4027
Another improvement/feature request:
Open external links in new tab (web Suite) - currently any external links in the Guide are opened in the same tab.

[2021-07-14 08:56] sorooris commented on #3308
**QA OK**

Suite: app 21.7.1 3d90909a -> 21.8.0 2d590edb
OS: macOS Big Sur 11.4
Device: any (model T 2.4.0)

[2021-07-14 09:11] bosomt commented on #3308
**QA OK**

**Info:**
 - from Suite version: desktop 21.7.1 (1abd1be26f5ae166ec910fe193c4a804d5949a86)
 - to Suite version: desktop 21.8.0 (2d590edbb3b5e8e2d07db3e9d83e8e9c2de75618)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: mode

[2021-07-14 10:04] #3968 closed, assigned to matejkriz

[2021-07-14 10:47] SlugFiller commented on #3260
On Desktop, the WalletConnect image can be transferred via clipboard or screen capture instead of a camera. OLE drag and drop is also an option on Windows specifically (linux should have something similar as well).

WalletConnect is quickly gaining ground as a standard, due to the fact that it doesn't require any extra plugins, drivers, services, or even a modern browser.

[2021-07-14 10:50] tomasklim commented on #4027
There is a followup issue #3992 for feature requests

[2021-07-14 10:52] tomasklim opened #4031 "Activate automatic formatting of markdown files in docs folder"
Currently, we have disabled automatic formatting of markdown files in docs folder.

Let's remove this rule in `.prettierignore` file and reformat all markdown files.

[2021-07-14 11:14] matejkriz commented on #4023
@alex-jerechinsky please update `TR_FIRMWARE_REINSTALL_FW_DESCRIPTION` translation...

[2021-07-14 11:17] jerechinsky commented on #4023
Sorry. Done now.

[2021-07-14 11:17] jerechinsky commented on #4023
I'll actually close it when someone syncs crowdin.

[2021-07-14 11:43] tomasklim opened #4032 "Remote message system config got incorrectly rolled back"
**Describe the bug**
The newest sequence of message system was `2` which contained information about WebUsbPlugin problem on macOS in Chrome 91. This config was deleted and replaced by old config with sequence `1`.

**Info:**
 - Suite Version: 21.6.2

**Steps to reproduce:**
1. Open Suite instance which has config with sequence 2 in indexDB
2. See the error in the console

or
1. Open Suite
2. Open

[2021-07-14 11:44] tomasklim commented on #4032
Fix #4019

[2021-07-14 11:44] #4032 closed, assigned to tomasklim

[2021-07-14 11:49] STew790 commented on #3968
**QA OK**

Links are working. They all link to /web/whatever and not to /start/web/whatever.

[2021-07-14 11:54] sorooris commented on #3968
**QA OK**

Redirected from /start/ to /web/ correctly; Suite builds offered and downloaded correctly.

Suite: web 21.7.1 24cc565a
OS: NixOS 21.05
Device: N/A

[2021-07-14 11:59] bosomt commented on #3968
**QA OK **

staging works as expected

 - Suite version: browser 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-07-14 12:09] tomasklim commented on #4032
Configs with sequence 3 available at
 https://data.trezor.io/config/stable/config.v1.jws
 https://data.trezor.io/config/develop/config.v1.jws

[2021-07-14 15:33] matejkriz opened #4034 "Move from NextJS to custom build pipeline"
see https://github.com/trezor/trezor-suite/pull/3446

[2021-07-14 15:39] matejkriz opened #4035 "Unrecognized props on a DOM element"
Resolve the warnings in dev mode:

[2021-07-14 17:17] bunkaq opened #4036 "ETH transactions are not visible at history"
Windows version 21.6.1 and 21.7.1 have same issue. I do not see my incoming transactions on ETH anymore. Last incoming transaction I can see is May 2021 and I have weekly ETH transaction comming from ethmine.org. It was showing fine at dashboard and transaction history up to May but nothing is showing at June/July even there are transactions and amount of ETH at wallet is growing.

I am using Trez

[2021-07-14 18:09] jerechinsky commented on #3908
@trezor/qa could you please try to replicate ?

[2021-07-14 19:17] jerechinsky commented on #3942
@mroz22 is it technically possible to fix this?

[2021-07-14 19:24] jerechinsky commented on #3987
I couldn't replicate. Maybe it was only on develop? Please reopen if it happens again.

[2021-07-14 19:24] #3987 closed, assigned to jerechinsky

[2021-07-14 19:34] jerechinsky commented on #3988
I believe this was fixed by #4017

[2021-07-14 19:34] #3988 closed, assigned to jerechinsky

[2021-07-14 19:45] jerechinsky commented on #4007
Fixed via copy. Will close when crowdin is synced.

EDIT: Didn't work.

[2021-07-14 20:15] rating89us opened #4037 "Settings > Passphrase: missing space"
![image](https://user-images.githubusercontent.com/45968869/125686844-9cfaca68-fd7c-460e-885b-7d797a4f21b7.png)

[2021-07-14 21:17] mroz22 commented on #3942
What does dead device mean? Red screen of death? If yes then we do not have any information about this available. We probably only got something like device disconnected error from TrezorConnect.

So the goal here is to identify why RSOD happened. Was it hardwarware malfunction (rare but possible) or did we (suite) somehow contribute to this (possibly but unlikely)

[2021-07-15 06:22] bosomt commented on #3908
i think it was already fixed here, https://github.com/trezor/trezor-suite/issues/3644
but i will check it ;)

[2021-07-15 06:30] bosomt commented on #3908
**QA OK**

I was able to change name of both wallets BUT first i hat to enable labelling on both devices

<img width="361" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/125739356-67786ca2-0105-4721-b66e-9600b1cab6ed.png">

**Info:**
 - Suite version: desktop 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWeb

[2021-07-15 09:19] sorooris commented on #4027
Cool, thanks! Closing this one then :)

[2021-07-15 09:19] #4027 closed, assigned to jerechinsky

[2021-07-15 09:46] MarekPasnikowski commented on #3550
I am very happy to see Cardano being considered seriously.

[2021-07-15 10:17] jerechinsky opened #4039 "Improve troubleshooting step in onboarding"
In the desktop app, it would be more fitting to suggest that a user quits and reopens their app rather than "refreshes".

If a user is on desktop, please change the troubleshooting subtitle to: "After closing other browser tabs and windows, try quitting and reopening the Suite app."

![image (3)](https://user-images.githubusercontent.com/75733878/125771804-db7c2d6f-6b30-4d16-82a4-2ad839ea63df.png)

[2021-07-15 11:37] sentry[bot] opened #4041 "Error: Cannot read property 'indexOf' of undefined"
Sentry Issue: [TREZOR-SUITE-1R](https://sentry.io/organizations/satoshilabs/issues/1706649915/?referrer=github_integration)

[code]

[2021-07-15 11:39] sentry[bot] opened #4042 "RangeError: Maximum call stack size exceeded"
Sentry Issue: [TREZOR-SUITE-1H5](https://sentry.io/organizations/satoshilabs/issues/2512060829/?referrer=github_integration)

[code]

[2021-07-15 12:47] tomasklim opened #4043 "Improve sentry configuration"
- **release**
  - concatenation of:
    - Git commit revision
    - Suite version
      - Why? easier identification
    - isCodesignBuild
      - Why? production or develop builds
    - Environment (desktop/web)
      - Why? Source maps for desktop and web are different
- **sampleRate**
  - now set to 10%, which means that only 10% of errors that appear in the app is sent to the sentry
  - probab

[2021-07-15 15:23] szymonlesisz opened #4044 "use current connected backend url for explorer links"
`transactionUtils.getBlockExplorerUrl` should use current connected backend url (from the reducer) if connected/defined and if not should fallback for default (current sollution)

[2021-07-15 15:52] szymonlesisz opened #4045 "improve @trezor/rollout FW validation"
in rollout@1.2.0 validation of FW binary  was added.
i think this validation need some improvements basing on previous implementations.

header validation python-trezor:
https://github.com/trezor/trezor-firmware/blob/master/python/src/trezorlib/firmware.py

header validation old-wallet:
https://github.com/satoshilabs/mytrezor/blob/10d5e61b98df8067854d92669cab489f80c3c80c/app/scripts/utils/validate

[2021-07-15 18:59] sorooris commented on #3803
**QA OK**

Settings:
- [x] Section header
- [x]  Item header
- [x] Item description
- [x]  Hover in tertiary buttons

Account details:
- [x]  Learn more in as tertiary button
- [x]  Max width for description text
- [x]  Hover in tertiary buttons

Suite: web 21.7.1 24cc565a
Browser: Chromium 91.0.4472.77
OS: NixOS
Device: model One 1.10.2

[2021-07-15 19:01] sorooris commented on #3830
@alex-jerechinsky Let's move to the next month's project please, thanks.

[2021-07-15 19:12] sorooris commented on #4002
**QA OK**

Haven't found any Notion links in the Guide; #4027 created as a follow-up.

Suite: web 21.7.1 24cc565a
Browser: Chromium 91.0.4472.77
OS: NixOS
Device: model One 1.10.2

[2021-07-15 19:24] sorooris commented on #4032
**QA OK**

![image](https://user-images.githubusercontent.com/10185314/125844949-b91b84c3-2c51-4a2b-9cda-cbc8da94eea3.png)

Suite: web 21.7.1 24cc565a
Browser: Chromium 91.0.4472.77
OS: NixOS
Device: model One 1.10.2

[2021-07-15 19:46] trymeouteh opened #4046 "Get Trezor Suite in Linux Repositories"
Please add and maintain the Trezor Suite app in the Debian, Ubuntu and Arch repos. This way there is a simple and secure way to install Trezor Suite on any Linux Distros.

[2021-07-16 08:40] tsusanka commented on #3786
This was a bad idea, let's do it someone more knowledgeable in this area :).

[2021-07-16 09:50] tsusanka opened #4047 "Improve copy when installing intermediary FW"
**Describe the bug**
Due to https://github.com/trezor/trezor-firmware/issues/1674 there is an extra confirmation that we did not take into account AFAIK. This means that Suite says "Installing firmware" once however user sees two "Installing firmware" screens with a confirmation in the middle. This is confusing and seems like you are installing two firmwares (which you actually are, first Intermed

[2021-07-16 09:51] tsusanka commented on #4047
@trezor/qa could you please make a complete video of what is happening on the device and in Suite when onboarding with a completely new device?

@sorooris assigning to you, please reassign as you see fit. Low prio.

[2021-07-16 10:35] sorooris commented on #4047
aye aye captain, @STew790 will look into this

[2021-07-16 12:39] tsusanka commented on #2924
We have agreed with @szymonlesisz the first step is to make a `connect-common` / `connect-data` package that will contain static files (protobuf etc.) taken from trezor-common. Connect will start using this package until the point we move it itself to the monorepo, very similarly to `rollout`.

@szymonlesisz we have also discussed github.com/trezor/trezor-common with @matejcik and we want to keep

[2021-07-17 06:59] bunkaq commented on #4036
I probably understand why from this picture

![image](https://user-images.githubusercontent.com/83916838/126028868-a4f21abf-a32b-4ea0-98cd-d59d74fda7ef.png)

[2021-07-18 19:19] ybaidiuk opened #4048 "Trezor freeze by signing transaction with disabled broadcast."
Last Suite version.
Last Trezor version.

<img width="381" alt="Screenshot 2021-07-18 at 21 18 38" src="https://user-images.githubusercontent.com/11969255/126079584-4bcd9a71-761b-472a-84a5-83e0f70b34fd.png">

[2021-07-18 19:24] ybaidiuk commented on #4048
With enabled broadcast i have the same issue.

[2021-07-18 20:07] ybaidiuk commented on #4048
Trezor suite was removed from mac.
After installing, it again it works well.

[2021-07-18 20:07] #4048 closed, assigned to nobody

[2021-07-19 07:54] matejkriz commented on #4034
already on board as PR

[2021-07-19 07:54] #4034 closed, assigned to matejkriz

[2021-07-19 12:50] sorooris opened #4051 "Accounts - Old copy when all coins are disabled"
**Describe the bug**
Placeholder text is displayed in Account Overview when all coins are disabled.

**Info:**
 - Suite Version: app + web (tested web 21.7.1 24cc565a)
 - Browser: Chromium 91.0.4472.77
 - OS: any (tested NixOS 21.05)
 - Bridge: any
 - Firmware Version: any

**Steps to reproduce:**
1. Disable all coins in Settings -> Crypto,
2. Navigate to Accounts -> Overview,
3. Observe.

**Expec

[2021-07-19 15:03] matejkriz commented on #3923
I suspect https://github.com/trezor/trezor-suite/blob/develop/packages/suite-storage/src/web/index.ts#L178

[2021-07-19 15:59] STew790 commented on #4047
Hello, I hope this will suffice. Let me know if it should be any different, please.

[![IMAGE ALT TEXT](http://img.youtube.com/vi/QuOF7StErCM/0.jpg)](https://youtu.be/QuOF7StErCM "Video Title")

**Info**:
 - Suite version: desktop 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.7.1 Chrome/

[2021-07-19 17:48] tsusanka commented on #4047
@matejzak on the video from @STew790:

- At about 0:32 we inform the user about "Installing firmware"
- At 0:38 we inform "New firmware successfully installed"
- At 1:00 we ask the user for a confirmation on the device again with the prompt "Install new firmware?"

I think this needs to be confusing as the user was just informed the firmware has been installed and now confirms another FW update :t

[2021-07-19 17:53] tsusanka commented on #4047
@STew790 btw I see two imperfections on the video and I think they would deserve their own issues:
1. At 0:21 you hover the FW version and it shows the changelog. It shows v1.6.3 which seems as a bug. Could you confirm and open an issue? (if there isn't one yet)
2. At 0:35 we display the same gif for cases when the button should be pressed. I find that confusing. Could you confirm and open an issu

[2021-07-20 08:30] bosomt commented on #1904
I think it was already solved. @szymonlesisz close ?

ETH: see screenshot
BTC: you can see bump button when RBF tx before it's confirmed

![image](https://user-images.githubusercontent.com/31506317/126288164-000a3718-05b8-4ec0-b075-c94aef84389e.png)

[2021-07-20 08:31] bosomt commented on #1396
**QA OK**

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.2 regular

[2021-07-20 08:31] #1396 closed, assigned to nobody

[2021-07-20 09:01] bosomt commented on #1455
Still same

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.2 regular

[2021-07-20 11:16] tsusanka opened #4054 "Enable `eslint` for integration-test package"
Mainly to check formatting. @mroz22 any objections?

[2021-07-20 11:41] STew790 commented on #4047
@tsusanka Thanks for pointing that out, I actually saw the 1. after I saw the video as well and I want to try it again with a new device again, just to be sure.
Regarding 2., that's true, I didn't even realize it. There should be definitely just a gif/video with the device being connected. I will open an issue as well

[2021-07-20 12:24] czee opened #4055 "Suite wallet label import/export"
It would be nice to have labels imported and exported between the Suite Wallets of 2 different instances of a Trezor model T.

Background:
I updated to 2.4.1 of the Trezor model T and got a USB read error and had to recover the device. I'm not sure why, but I believe something with the USB connection made the device disconnect. Maybe this needs a new Github issue? I've previously upgraded without

[2021-07-20 13:19] bosomt commented on #1844
**QA OK**

Solved via new modal, you can see device name in left corner of Suite

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.2 regular

[2021-07-20 13:19] #1844 closed, assigned to glacierbits

[2021-07-20 13:42] bosomt commented on #3454
**QA NOK**
Still same behavior.

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.2 regular

[2021-07-20 13:43] bosomt commented on #3477
**QA OK**

Suite ERC20 transactions are working fine now.

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.2 regular

[2021-07-20 13:43] #3477 closed, assigned to nobody

[2021-07-20 13:50] bosomt commented on #3643
**QA OK**

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.2 regular

[2021-07-20 13:50] #3643 closed, assigned to jerechinsky

[2021-07-20 13:52] bosomt commented on #3667
**QA NOK**

Still same _Assets were not loaded properly_ misleading error.

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.4.2 regular

[2021-07-20 14:24] bosomt commented on #3695
**QA OK**

closing, only difference could be caused by different mempools of unconfirmed transactions.
In last months there were 250.000 tx in mempool. Now empty. Closing

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model

[2021-07-20 14:24] #3695 closed, assigned to jerechinsky

[2021-07-20 14:33] bosomt commented on #3808
**QA OK**

you now can perform update before you connect your device and of course you can perform some available actions with app when you have locked or disconnected device when you have remembered already loaded wallet

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS:

[2021-07-20 14:33] #3808 closed, assigned to nobody

[2021-07-20 14:39] tomasklim opened #4057 "Buttons on T2 in Welcome screen"
**Describe the bug**
Text: Please make sure you are not holding any buttons while connecting your device.

**Info:**
 - Suite Version: 21.7.1
 - Device: Trezor T

**Steps to reproduce:**
1. Connect Trezor T in Bootloader
2. Open troubleshouting

**Screenshots:**
![Uploading Screenshot 2021-07-20 at 16.36.43.png…]()

[2021-07-20 14:57] bosomt commented on #3831
**QA OK**

not bug but feature :)
New account has new modal and dry run drop-down is just border-less.

**Info:**
 - Suite version: desktop 21.8.0 (566ba345c50b6fd7e773a905d5d8f40c7f8056f2)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model

[2021-07-20 14:57] #3831 closed, assigned to jerechinsky

[2021-07-21 11:52] jerechinsky opened #4059 "Copy improvement for plural in other languages"
The string `TR_PENDING_TX_HEADING` shows as the following in crowdin:

`Pending {count, plural, one {transaction} other {transactions}}
`

It only allows translators to use plural for the `transaction` word but not for `pending`. Please allow translators to also add the plural form of `pending`.

[2021-07-21 15:40] jerechinsky opened #4060 "Add Spanish 🇪🇸"
Now that Spanish is nearly finished thanks to @FrankyFFV, let's add it to Suite.

Please download the Spanish translation from crowdin and add it to the language switcher in Suite. Please add a beta tag so it says `Spanish (BETA)`.

[2021-07-21 15:47] jerechinsky opened #4061 "Allow translators to pick their language."
Suite already has a great feature that Maroš initially built that allows translators to click any string and be redirected into crowdin to translate it.

However, changing the language requires the translator to use a command in the console.

For example `__NEXT_REDUX_STORE__.dispatch({type: "@suite/set-language", locale: "ru"})` for russian.

Let's add a dropdown menu in the hidden settings of su

[2021-07-22 06:56] bosomt commented on #3454
this "forever loading" also happens when you disable all coins on disconnected device, see start of video.

https://youtu.be/rXOdAqRVPws

![image](https://user-images.githubusercontent.com/31506317/126600405-18b8ac7a-9ce5-4c17-abb8-ce372b20f1ec.png)

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/

[2021-07-22 07:27] #3993 closed, assigned to tomasklim

[2021-07-22 08:49] bosomt commented on #3671
I was able to reproduce issue with disconnected device.See video.
https://www.youtube.com/watch?v=rXOdAqRVPws&feature=youtu.be

![image](https://user-images.githubusercontent.com/31506317/126612507-36ba9557-c057-4d75-951e-9145a23473e5.png)

**Steps to reproduce:**
1) remember first wallet and disconnect it
2) disable all coins
3) connect different device
4) enable some coin
5) switch to saved wall

[2021-07-22 09:13] bosomt commented on #1215
Video tutorials are already gone from settings and onboarding.
Just simple text instructions.
Is this final version and we can close this issue or there is different issue in progress for new videos that will be added later ?

![image](https://user-images.githubusercontent.com/31506317/126615709-1bb22a07-7c29-4bc1-aeb7-beac74025783.png)

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b

[2021-07-22 12:00] bosomt commented on #3478
**QA OK**

changed as expected in new add coin and in crypto section of settings.

**Info:**
 - Suite version: desktop 21.8.0 (566ba345c50b6fd7e773a905d5d8f40c7f8056f2)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model 1 1.10.1 regular

[2021-07-22 12:00] #3478 closed, assigned to glacierbits

[2021-07-22 12:15] bosomt commented on #3759
Closing. Both Bridge and Suite are marked as:

**No security vendors flagged this URL as malicious**

https://www.virustotal.com/gui/url/9796ce4150d1e0eebb4d2e3bd6a899b2fb8b36f306d7a8195b02e6e12116163d/detection
https://www.virustotal.com/gui/url/14d9bdfb188fe26dd1e3b3b310f129689b59010bd79f18fd34a5eaca230904d7/detection

[2021-07-22 12:15] #3759 closed, assigned to nobody

[2021-07-22 12:41] #4043 closed, assigned to tomasklim

[2021-07-22 12:43] bosomt commented on #3793
**QA NOK**

still same behavior

**Info:**
 - Suite version: desktop 21.8.0 (566ba345c50b6fd7e773a905d5d8f40c7f8056f2)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model 1 1.10.1 regular

[2021-07-22 13:42] bosomt commented on #3941
**QA OK**

i was not able to reproduce issue, previous transaction disappears and new updated tx is present.
Same for sending and receiving account.

![image](https://user-images.githubusercontent.com/31506317/126648523-dc1b4509-a5ad-403b-9b16-50fbb7574a36.png)

![image](https://user-images.githubusercontent.com/31506317/126648655-8c415568-4738-4fe4-8a0b-6322057d7e36.png)

![image](https://user-im

[2021-07-22 13:42] #3941 closed, assigned to nobody

[2021-07-22 13:51] bosomt commented on #3545
same behavior in latest version

**Info:**
 - Suite version: desktop 21.8.0 (566ba345c50b6fd7e773a905d5d8f40c7f8056f2)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model 1 1.10.1 regular

[2021-07-22 15:05] glacierbits opened #4067 "Add account: Improvements"
- [x] `Activate more coins `font doesn't seem to be correct (weight)
- [x] Plus sign is not vertically alligned with `Activate more coins`
- [ ] Improve animation from the `activate more coins` button

<img width="227" alt="Screen Shot 2021-07-22 at 15 53 06" src="https://user-images.githubusercontent.com/29627086/126660265-b973f086-f0ef-400c-ad5e-f3399a571b43.png">

***

- [x] The boarder of the

[2021-07-22 16:04] bosomt commented on #4043
@tomasklim is there any activity needed on our side or we can move it to approved tasks ? /if needed I have Sentry account/

[2021-07-23 07:08] tomasklim commented on #4043
@bosomt probably there is no activity required from QA

[2021-07-23 13:27] tsusanka opened #4069 "Replace all old firmwares with newest one in e2e Suite tests"
As per discussion [here](https://github.com/trezor/trezor-suite/pull/4066#issuecomment-885632040).

We will in future introduce some "old firmwares test" but for now let's improve and stabilize tests for the newest FW (2.4.1).

[2021-07-23 13:29] tsusanka commented on #4069
Also let's increate the cypress timeout.

[2021-07-25 00:49] melroy89 commented on #3550
Native support would be awesome in Trezor Suite! Very much appreciated.

I noticed that @matejzak removed this issue from the TODO list, which is not a good sign I think.

[2021-07-26 06:16] bosomt commented on #3993
**QA OK**

**Info:**
 - Suite version: app + web 21.8.0 (7f2b12206bca4149b2c30bf3696bf337a064a60e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-07-26 06:26] bosomt commented on #3752
Maybe too sticky ? :) @matejkriz @matejzak  issue ? Or it's just minor detail.

https://user-images.githubusercontent.com/31506317/126942586-0ba11f17-a907-4d94-bd29-14c2a037f499.mov

edit: + graph range has same issue

<img width="844" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/126943235-5883bea3-b89a-4644-b57e-ca321c20ec96.png">

**Info:**
 - Suite version: web 21.8.0 (

[2021-07-26 09:07] jerechinsky commented on #3181
@trezor/qa Have you perhaps experienced this recently? Could you please try to replicate?

[2021-07-26 09:10] jerechinsky commented on #3892
Closing in favor of #3185

[2021-07-26 09:10] #3892 closed, assigned to mroz22

[2021-07-26 09:25] bosomt commented on #3724
**QA OK**

2of3 that are done are OK

**Info:**
 - Suite version: web 21.8.0 (7f2b12206bca4149b2c30bf3696bf337a064a60e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-07-26 09:53] #4039 closed, assigned to marekrjpolak

[2021-07-26 11:46] STew790 commented on #3181
I tried it with a freshly unpacked device and installed FW 1.5.2. via trezorctl but still got the same error, as can be seen in the screenshot. Let me know if you need anything else.

**INFO**

- Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Safari/537.36
 - OS:

[2021-07-26 12:26] tomasklim opened #4071 "Settings is jumping when modal is opened/closed"
**Describe the bug**
Navigation bar in Settings changes from "Application |  Device | Coins" to "<- Back" button when modal is opened.

**Info:**
 - Suite Version: 21.7.1

**Steps to reproduce:**
1. Go to settings/device
2. Update firmware

**Expected result:**
Navigation bar remains the same or at least "<- Back" have same height

**Screenshots:**
![Screenshot 2021-07-26 at 9 06 02](https://user-

[2021-07-26 12:36] tomasklim opened #4072 "Usage data description acts incomplete"
**Info:**
 - Suite Version: 27.1.0

**Steps to reproduce:**
1. Go to Settings / Application

**Expected result:**
The sentence ends with `.`

**Actual result:**
`Trezor Suite does NOT track any balance-related or personal data, all anonymously`

**Note(s):**

**Usage data** title acts vague and description acts incomplete incomplete.

I would suggest to unite it with onboarding
![Screenshot 2021-0

[2021-07-26 12:40] tsusanka commented on #3181
@STew790 same thing if you enter the device into the bootloader?

[2021-07-26 12:50] tomasklim opened #4073 "Human readable discovery error"
**Describe the bug**
The error message is incomprehensible.

**Info:**
 - Suite Version: 21.7.1

**Screenshots:**
![Screenshot 2021-07-26 at 14 50 19](https://user-images.githubusercontent.com/33235762/126991455-5e46a33d-1445-4441-8aca-d58f113828e5.png)

[2021-07-26 14:17] STew790 commented on #3181
@tsusanka  Yes, same thing except there are no errors in console and Suite says that the device is in BL mode.
![image](https://user-images.githubusercontent.com/48477147/127004038-3ba97d0e-017a-459a-b81b-a155710e22a5.png)

[2021-07-26 14:26] STew790 commented on #3181
Ok, I really don't know what happened, because I didn't change anything with my setup, but I tried again to connect the device in "normal" mode and it works all of a sudden and the Suite shows me an update from 1.5.2 to 1.10.2.

![image](https://user-images.githubusercontent.com/48477147/127005368-139fbc42-e34e-41f6-bb21-45f00c30a660.png)

[2021-07-26 14:29] tsusanka commented on #3181
Ok, never mind. Just a note: we do not need to fix Suite to allow working with 1.5.2 but we need to fix it to allow _updating_ to latest.

[2021-07-26 14:30] tsusanka commented on #3181
@STew790 didn't you use webusb the first time and Bridge the second time maybe?

[2021-07-26 14:35] STew790 commented on #3181
@tsusanka Nope, I downloaded ver. 2.0.27 of Bridge prior to this actually, because Suite actually wants you to download and install it.

[2021-07-26 15:07] STew790 opened #4074 "Installing firmware onto new device shows wrong changelog information on hover"
**Describe the bug**
When you are trying to update from older firmwares or installing a new firmware onto new devices (out of the box) the changelog, on hover, states wrong version and wrong changelog info. See screenshots.

**Info:**
 - Remembered Wallet: yes/no
 - Suite Version: web/app 21.7.1
 - Browser: Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) C

[2021-07-26 15:34] STew790 opened #4075 "Different gif/video for reconnecting device in onboarding"
**Describe the bug**
There is a video/gif about reconnecting your device in the new onboarding when you are installing firmware onto new device that shows connecting device while holding down both buttons, it is a bit misleading, definitely for new customers. There should be a video/gif of just reconnecting a device. It can be seen in the video attached from 0:34 mark.

**Info:**
 - Suite Version:

[2021-07-26 15:37] STew790 commented on #4047
Forgot to add, both issues here:
https://github.com/trezor/trezor-suite/issues/4075
https://github.com/trezor/trezor-suite/issues/4074

[2021-07-26 17:18] bosomt commented on #4039
**QA NOK**

I don't see any information about app restart in current dev master app.

**Info:**
 - Suite version: desktop 21.8.0 (e1c710e0c6bbd96b0e7970c15e3650c092aa0c83)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2

[2021-07-26 17:33] bosomt commented on #3892
moving to approved, it will be solved by different issue https://github.com/trezor/trezor-suite/issues/3185

[2021-07-26 19:48] marekrjpolak commented on #4039
It's only when the "device detected in incorrect state", which is displayed e.g. when the device is acquired in another tab/browser:

- open Suite in new tab, go to menu and select any operation which must be confirmed on the device
- while waiting for confirmation, open Suite in other tab/as a desktop application

The subtitles in the two 'tips' should be different in browser and in desktop app.

[2021-07-26 20:33] mroz22 commented on #3185
questions
- "internal labeling"?
- one output per line (like in mytrezor)? check all seed legacy account 1

pdf
- output amount in brackets after each output (address col)? this is currently present in pdf?

notes:
- metadata labeling containing `;` watch out so that it does not break columns in csv

[2021-07-27 09:01] glacierbits opened #4076 "Tooltip › Guide"
The idea: Link from relevant tooltips to the respective article in Suite Guide. 🎉

**Design:** [Zeplin
](https://zpl.io/bAKvAMx )
**Animation:** [Figma prototype](https://www.figma.com/proto/MmQtIPoIggyJkBm7vMUHpI/Neue-Desktop?page-id=0%3A1&node-id=7093%3A104058&viewport=-4441%2C66818%2C1.1297415494918823&scaling=min-zoom&starting-point-node-id=7093%3A104058&show-proto-sidebar=1)

[2021-07-28 07:00] CoelWu commented on #2959
It seems like Golang 1.16+ add support for darwin/arm64 already. (Compiling From My Intel MacBook Air)
[code]

[2021-07-28 08:47] #1871 closed, assigned to marekrjpolak

[2021-07-28 11:57] jerechinsky commented on #4061
@marekrjpolak explained to me that the aforementioned command changes the language of whole Suite, not just the link that redirects to Crowdin. Because of that we have agreed that we will put another language picker in the debug settings, except it will show all languages, even the unfinished ones. This will allow translators to pick their language, see the progress done on the translations and tr

[2021-07-28 12:06] prusnak commented on #2959
Right. We can already build Trezor Bridge for arm64-mac. We are still missing tor binary for arm64-mac, though.

[2021-07-28 12:13] CoelWu commented on #2959
I found a script that can compile tor into native arm64 format. It's from Brave Browser which also use tor as it's dependencies.

Here is the link: https://github.com/brave/tor_build_scripts

[code]

Hope this could help :)

[2021-07-28 12:54] sorooris opened #4080 "tschuss-next branch issues"
Issue for tracking bugs and defects in the /suite-web/feat/tschuss-next/ branch and builds
@trezor/qa please report in the comments using the template provided.

[code]

[2021-07-28 13:59] prusnak commented on #2959
I prepared the PR in https://github.com/trezor/trezor-suite/pull/4082 which adds native bridge and tor binaries enabled native arm64 build for the Suite

Thanks @CoelWu !

[2021-07-28 14:01] CoelWu commented on #2959
You're more than welcome! @prusnak

[2021-07-29 17:58] osintowl commented on #2959
If ya'll need some testers on real hardware let me know! So excited ya'll got this so fast!

[2021-07-29 17:59] osintowl commented on #2959
I'm on a mac mini m1

[2021-07-30 09:15] bosomt opened #4085 "Install custom firmware allowed for any .bin file"
**Describe the bug**
1) you can install customer firmware that's intended for different model, can we add some size or header check before we wipe device and end with FW too big error and empty device ?
2) install firmware progress goes from 0% to 100% even it fails on device at 0%, this looks weird /and I think someone complained about that and i'm not sure if there is already issue for this UI i

[2021-08-01 17:30] tsusanka commented on #3335
Also wouldn't switch [from Independent to Fixed/Locked mode in Lerna](https://github.com/lerna/lerna#how-it-works) do the trick?

[2021-08-02 09:17] dimasivan commented on #3752
bug related to #3875

[2021-08-02 09:29] sorooris commented on #4080
https://github.com/trezor/trezor-suite/issues/3185 still persists in 21.8.0 6d278ade7563485d57cd1e71ab6b2324b4305a56

[2021-08-02 09:53] wendys-cats opened #4090 "Reworking The Passphrase Retry Option"
**Describe the bug**
Reopening issue from [here](https://github.com/trezor/trezor-suite/issues/895#issuecomment-587405514).

Creating a new hidden wallet has two steps when it comes to entering the passphrase - first entry, and then the confirmation.
Suite does not take into account instances when user misspelles their passphrase on the FIRST try of creating a new hidden wallet. Retry option as it

[2021-08-02 11:39] sorooris opened #4091 "Receive address - Requested amount input for QR code"
**Is your feature request related to a problem? Please describe.**
Nope.

**Describe the solution you'd like**
It would be nice to have the option to generate a QR code with the requested amount, just like with Electrum or any banking app.

**Describe alternatives you've considered**
I don't think there is a workaround for having the amount in the QR code apart from a 3rd party solution... Not sur

[2021-08-02 15:08] #4060 closed, assigned to mroz22

[2021-08-02 15:54] #4061 closed, assigned to marekrjpolak

[2021-08-02 16:09] sorooris commented on #3992
Question: should the Guide be accessible from the Welcome page?
![image](https://user-images.githubusercontent.com/10185314/127891547-0ca55ba8-34de-428c-b0ec-ed1f25af8510.png)

[2021-08-02 16:14] sorooris commented on #3992
From https://github.com/trezor/trezor-suite/issues/4027#issuecomment-879704425:

Can't find it in the description above, please add it.

[2021-08-03 08:08] #4076 closed, assigned to dimasivan

[2021-08-03 08:20] sorooris commented on #4080
Closing.

[2021-08-03 08:27] bosomt opened #4094 "Settings - Inappropriate Usage data switch text"
**Describe the bug**

Looks like `Usage data` switch text in Suite settings got mixed with different description or something similar.

**Steps to reproduce:**
1. Load Suite 21.6.1
2. Load suite 21.7.1 or 21.8.0
3. Compare `Usage data` texts

**Info:**
 - Suite version: web 21.7.1 (24cc565a3badd85ab48b30348022471dfd85f90e)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101

[2021-08-03 08:29] matejkriz opened #4095 "consolidate animation libraries"
so far we have at least:
- react-spring
- framer-motion
- css animations (no library)
- react-awesome-reveal

to save learning API for all of them, potential issues that could came from some and some bytes, would be nice to shorten that list...

[2021-08-03 09:02] bosomt opened #4096 "Trade/Exchange - Crypto input text validation"
**Describe the bug**
Please see video, when you enter text and not value in Exchange fields and you press All or fraction number you will start  `Compare offers` process that will go on forever.

**Steps to reproduce:**
1. Enter `Trade/Exchange tab` enter some text to SendCryptoInput field
2. Press all button
3. Observe

**Info:**
 - Suite version: desktop 21.7.1 (34de15f6b0dcdbf8dc69a34fc65e6abab

[2021-08-03 09:11] sorooris commented on #4080
@bosomt found this one https://github.com/trezor/trezor-suite/issues/4096#issue-958894929

[2021-08-03 09:50] #3185 closed, assigned to mroz22

[2021-08-03 09:55] matejkriz commented on #4096
related Sentry issue: https://sentry.io/organizations/satoshilabs/issues/2550994235

[2021-08-03 10:20] #3804 closed, assigned to dimasivan

[2021-08-03 10:52] bosomt commented on #3185
**QA OK**

**Info:**
 - Suite version: web 21.8.0 (e9976a3052507d8b888370ceb11eaa61bae5d775)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model T 2.4.1 regular

[2021-08-03 11:18] bosomt commented on #4060
**QA OK**

Muy bien!

**Info:**
 - Suite version: web 21.8.0 (e9976a3052507d8b888370ceb11eaa61bae5d775)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model T 2.4.1 regular

[2021-08-03 11:24] bosomt commented on #4061
**QA OK**

DEBUG:
![image](https://user-images.githubusercontent.com/31506317/128007408-57921ca5-7735-4bd5-b34b-28285f38feb0.png)

**Info:**
 - Suite version: web 21.8.0 (e9976a3052507d8b888370ceb11eaa61bae5d775)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model T 2.4.1 regular

[2021-08-03 12:39] bosomt commented on #4039
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/128016718-9c216d2d-688c-4368-9899-f451bb4a8bac.png)

**Info:**
 - Suite version: desktop 21.8.0 (e9976a3052507d8b888370ceb11eaa61bae5d775)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 3072x17

[2021-08-03 14:11] bosomt commented on #3807
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/128030122-d07d3a74-c5d8-4d6c-b1fb-a0e77cd267e6.png)

**Info:**
 - Suite version: web 21.8.0 (656867e3f31ba07b4c3cd3d13cb681d132f2f825)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model T 2.4.1 regular

[2021-08-03 14:42] szymonlesisz opened #4100 "Better visual indication why forms have disabled "send" button"
As discussed [here](https://github.com/trezor/trezor-suite/issues/3784#issuecomment-858341460) and [here](https://github.com/trezor/trezor-suite/pull/3702#pullrequestreview-687267096) we need to improve it in the design of the button, enabling/disabling button doesn't solve anything and even brings more trouble.

possible states:
- [ ] there is nothing to sign (empty/invalid form)
- [ ] device is

[2021-08-03 14:44] szymonlesisz commented on #3784
closing in favor of https://github.com/trezor/trezor-suite/issues/4100

[2021-08-03 14:44] #3784 closed, assigned to tomexx

[2021-08-03 14:45] bosomt commented on #3718
I'm not sure if this is final version and expected outcome. Can you change reconnect to restart/reboot ?
This can be confusing for customers.

Device is asking me to `Confirm that i want to reboot to bootloader`.
But suite asks me to `Reconnect your Trezor in bootloader mode`

![image](https://user-images.githubusercontent.com/31506317/128032318-abc3c553-57f9-42b4-bee5-6f7aa6c025d5.png)

[2021-08-03 14:58] marekrjpolak commented on #3718
You're probably right. I've implemented it without any design proposal, so I've shared most of the elements with the previous manual reboot process. If necessary, I could change the text(s).

[2021-08-03 15:08] bosomt opened #4101 "Unhandled error during model One firmware update"
**Describe the bug**

Probably related to https://github.com/trezor/trezor-suite/issues/3718
I was able to reproduce it in web and app version.
You can reboot to bootloder mode or you can just reconnect your device with button pressed.
When you abort installation via device button you will see `Error: Cannot read property 'code' of null`

**Steps to reproduce:*
1. Proceed firmware update steps
2.

[2021-08-03 15:21] marekrjpolak commented on #4101
I've just reproduced it in current web Suite (21.7.1) so it's even older bug.

[2021-08-04 04:38] bosomt commented on #3752
**QA OK**

**Info:**
 - Suite version: desktop 21.8.1 (8dfc3fbf9faa870f6c7e6017a63ffeb311cf5b16)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-08-04 06:24] bosomt commented on #3804
**QA OK**

**Info:**
 - Suite version: desktop 21.8.1 (8dfc3fbf9faa870f6c7e6017a63ffeb311cf5b16)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-08-04 06:30] bosomt commented on #4101
I was not able to reproduce it with 2.4.1 or 1.9.4 firmware in Suite 21.8.1, looks like issue with firmware 1.10.x

[2021-08-04 07:16] bosomt opened #4104 "Unhandled error when device is reconnected in bootloader mode during dry run dialogue"
**Describe the bug**
When device is reconnected in bootloader mode during dry run dialogue
you will see `Device recovery failed: ui-device_bootloader_mode` error.
Maybe we can change it to dialogue asking to reconnect device in normal mode.

**Steps to reproduce:**
1. Start Dry run dialogue in `Settings/Device` section.
2. Reconnect device in bootloader mode
3. Continue in dry run dialogue and obs

[2021-08-04 08:13] bosomt commented on #1871
**QA OK**

works as expected, separate issues for minor logic/design issues sent
https://github.com/trezor/trezor-suite/issues/3706
https://github.com/trezor/trezor-suite/issues/4085

**Info:**
 - Suite version: desktop 21.8.1 (8dfc3fbf9faa870f6c7e6017a63ffeb311cf5b16)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_4_0) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.1 Chrome/89.0.4

[2021-08-04 08:59] matejkriz commented on #4096
I can duplicate it on ETH account, but not on BTC account.

[2021-08-04 09:01] matejkriz commented on #4096
btw, it's not related to tschuss-next branch, it's in current version too...

[2021-08-04 09:05] jerechinsky commented on #3830
Should be removed now, I believe.

[2021-08-04 10:34] wendys-cats commented on #4076
**QA OK**

Tooltips that do not have an article counterpart in Suite Guide do not have a "Learn" link. However, there are instances where there is NO tooltip for the feature, even though a Suite Guide article exists, for example Transaction fees. @matejkriz do you think these tooltips will be added later on? It seems like a pity not to utilise these articles more.

**Suite version:** web 21.8.1 8d

[2021-08-04 12:00] sorooris commented on #3830
QA OK

It is finally gone! :tada:
![image](https://user-images.githubusercontent.com/10185314/128176884-85adb3fb-e2f0-4350-a486-11ec10feb6bf.png)

Suite web version 21.8.1 8dfc3fbf
Browser: Chromium 92.0.4515.107
OS NixOS 21.05
Device TT 1.10.2

[2021-08-04 12:00] #3830 closed, assigned to jerechinsky

[2021-08-04 12:04] matejkriz commented on #4076
It is probably question on @matejzak, but more links from tooltips will definitely be added gradually as more content in Guide is added...

[2021-08-04 13:09] sorooris commented on #3911
@matejkriz i apologize but i am quite confused how there are two separate issues - isn't there only one issue with the intermediary? Could you please explain what the other issue is if not?

[2021-08-04 13:41] sorooris commented on #3202
**QA OK**

Tested:
1. autopdate flow - all correct here
2. "re-download" - file was already present in "C:\Users\<username>\AppData\Local\@trezorsuite-desktop-updater\pending" and displayed very briefly progress bar, but installation modal almost immediately afterwards
3. deleting the file from the pending folder and re-initiating autoupdate - same as usual autoupdate flow, progress bar with corre

[2021-08-04 13:53] matejkriz commented on #3911
@sorooris latest version should be always offered, but I'm not sure if https://github.com/trezor/trezor-suite/issues/3911#issuecomment-865665663 is resolved

[2021-08-04 13:54] sorooris commented on #3911
@matejkriz Okay, thanks, we'll look into it then!

I'll split the issue if https://github.com/trezor/trezor-suite/issues/3911#issuecomment-865665663 persists.

[2021-08-04 14:43] #4101 closed, assigned to jerechinsky

[2021-08-05 05:09] Crypto2 commented on #3989
I second making it toggle-able. (Could be stored in the same way as address labels?)

[2021-08-05 10:09] bosomt opened #4108 "Multiplication of Standard wallets via retry button in Passphrase mismatch modal."
**Describe the bug**
You can multiple Standard wallets via retry button in Passphrase mismatch modal.
Please see video, probably reproducible only when Standard wallet is remembered.

**Steps to reproduce:**
1. Load Standard wallet and remember it
2. Use add hidden wallet dialogue and create passphrase mismatch
3. Press try again after passphrase mismatch dialogue and enter empty passphrase
4. go

[2021-08-05 11:40] sorooris commented on #3718
**QA NOK**

Although in the strictest sense functionally correct, could we please finalize the design first and then implement so the final product is more user friendly and to prevent reintroduction of minor errors?

1. The ReconnectDevicePrompt__Overlay on top of the firmware update modal obstructs the close button while it's still possible to exit via pressing the Esc key - user should be able

[2021-08-05 11:48] szymonlesisz commented on #4108
should be fixed here: https://suite.corp.sldev.cz/suite-web/fix/4108/web/

[2021-08-05 11:56] #4044 closed, assigned to dimasivan

[2021-08-05 11:58] marekrjpolak commented on #3718
Ad 1) Agreed, but I've identified exactly the same problem in current web Suite when reconnecting manually, so technically it's a new issue. Nevertheless I'm gonna fix it as soon as I receive some design proposal.

Ad 2) But the new animation shows manual reconnecting of the device, while what we need now (when rebooting automatically) is just to confirm by clicking a button. I haven't found an an

[2021-08-05 12:00] sorooris commented on #3718
@marekrjpolak yeah both should've been ready way before.

[2021-08-05 12:34] jerechinsky commented on #3718
Yes, 1) isn't pretty but it isn't a terrible detriment IMO. Let's move it to a new issue and address it in the next release as it requires a design revamp.

Let's fix 2) now by replacing the animation with the old illustration and changing the copy of the heading to **"Reboot your Trezor into bootloader mode"** @marekrjpolak

cc @matejzak @tsusanka

[2021-08-05 12:36] jerechinsky opened #4111 "ReconnectDevicePrompt__Overlay on top of the firmware update modal obstructs the close button"
The ReconnectDevicePrompt__Overlay on top of the firmware update modal obstructs the close button while it's still possible to exit via pressing the Esc key - user should be able to exit the update flow any time, compared to Onboarding.

![image](https://user-images.githubusercontent.com/10185314/128341918-ef1c7d00-aae0-4ef8-b579-5ab1a6eac8b5.png)

Suite: web 21.8.1 8dfc3fbf
Browser: Chromium 92.0

[2021-08-05 13:11] szymonlesisz commented on #4090
i guess its only about text/copy

there is a `Try again` button on the bottom of "passphrase confirmation modal" which does exactly what you want (re-discovering all accounts with a new passphrase)

![Screenshot from 2021-08-05 15-10-36](https://user-images.githubusercontent.com/3435913/128355469-716d126d-651c-44a7-b430-08972b65debb.png)

[2021-08-05 13:30] szymonlesisz commented on #1904
yes, we can close this

[2021-08-05 13:30] #1904 closed, assigned to nobody

[2021-08-05 18:52] geebotron opened #4114 "Ability to copy the URL text from the textbox, informing me that the URL is about to be opened in my default browser."
**Is your feature request related to a problem? Please describe.**
I would like to be able to copy the URL text in the textbox informing me that an external URL is about to be opened in my default browser.
(Linux app image version - when you click to go to the third party website for the details of a trade)

**Describe the solution you'd like**
Make the text in the box copy-able

**Describe altern

[2021-08-05 23:22] xanoni commented on #3989
Yeah that matches my point 2.

[2021-08-06 08:17] tsusanka commented on #3718
@alex-jerechinsky I agree with your decision.

As mentioned numerous time it is unrealistic to design each and every feature in advance. It is absolutely okay they way @marekrjpolak did it. We simply fix these issue once we find them (either the engineer right away or QA or we gather it from the user feedback..). We can discuss this further IRL.

[2021-08-06 09:00] jerechinsky commented on #3355
Blocked by https://github.com/trezor/blockbook/issues/559

[2021-08-06 09:06] sorooris commented on #3718
Well, i disagree, but let's move on.

[2021-08-06 09:06] #3718 closed, assigned to marekrjpolak, glacierbits

[2021-08-06 09:08] jerechinsky opened #4115 "Get rid of next on landing page"
replace next.js builds in `@trezor/suite-web-landing` with  `@trezor/suite-build`

[2021-08-06 09:27] jerechinsky commented on #4094
It appears that the original "default" messages are used instead of the corrected "english" from Crowdin. Could you please investigate? @mroz22

Szymon discovered another one
![Screenshot from 2021-08-05 13-03-46](https://user-images.githubusercontent.com/75733878/128489289-8233cbd1-c994-4995-b8c5-ca8b9a79031a.png)

[2021-08-06 09:54] dimasivan opened #4116 "webpack hot module dev settings improvement"
**Describe the bug**
New webpack build plugin not works in Firefox when HTTPS-only mode enabled
`Firefox can’t establish a connection to the server at wss://[::]:8000/wps.`

**Info:**
 - Suite Version: web, 0390b4354e38c3c7f869624e9b3011f01d5311ac
 - Browser: Firefox, 90.0.2
 - OS: NixOS 21.05 (Okapi) x86_64
 - Bridge: 2.0.30

**Steps to reproduce:**
1. run suite in dev mode

**Expected result:**

[2021-08-06 10:04] #4116 closed, assigned to dimasivan

[2021-08-06 11:22] sorooris commented on #3155
@alex-jerechinsky
No redesign was provided and no new pull requests were linked to fix the issue, not approving. Please link a pull request fixing this and then QA will test.

[2021-08-06 11:52] HeroHann commented on #3882
So I am just a costumer / user, but what I get from the open requests regarding EIP-1559 is, that Trezor does NOT support the optimal fee usage, but still relies on the backward compatibility right? I mean EIP-1559 was known for some time. Any ETA on this?

[2021-08-06 11:59] HeroHann opened #4118 "Request: In Suite DEX Swap"
**Is your feature request related to a problem? Please describe.**
At the moment a trade / swap is possible in Suite via the integrated exchange, but this is no DEX and not every small Token is supported.

**Describe the solution you'd like**
Please have a look at Metamasks Mainnet Sawp-Feature. It compares rates and swap in such a simple way even my grandma could do it. No „connect Metamask“ to u

[2021-08-06 12:23] vdovhanych commented on #3445
Closing the issue as this was done by @tomasklim in #4064

[2021-08-06 12:23] #3445 closed, assigned to vdovhanych

[2021-08-06 12:44] Hermez-cz opened #4120 "Suite microsite FE product improvements"
**Is your feature request related to a problem? Please describe.**
We have brought a couple product mistakes into the microsite's design and we'd love having them fixed.

**Describe the solution you'd like**
Improved design: [Zeplin](https://zpl.io/VqNJxZJ)

Improvements:
1. Correct XRP logo. Please replace the incorrect XRP logo with the correct one
<img width="29" alt="image" src="https://user-i

[2021-08-06 13:42] #2959 closed, assigned to prusnak

[2021-08-07 12:37] HeroHann commented on #2770
Same opinion as @xanoni
There are several other needed features to provide a good experience in suite.
Me personally feel, that resources should not work on the „trading“ via Invity but on Defi Dapp and professional additions to the Trezor Suite.

Why is this pushed back since half a year?

[2021-08-07 12:39] HeroHann commented on #2854
Which Coins will be supported? I feel BTC LtC and ETH are must haves…

[2021-08-07 13:27] bosomt commented on #4108
EDIT:
**QA OK**

**Info:**
 - url https://suite.corp.sldev.cz/suite-web/fix/4108/web/settings/debug
 - Suite version: web 21.9.0 (06f935ee65436ab33fa7d21790a807cf717b31fe)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 Bitcoin only

[2021-08-07 15:05] angyts commented on #3882
I am another end user. Again, very disappointing the kind of attitude that the trezor team has. #never-gonna-buy-another-trezor.

All the trezor users are forced to pay higher fees because ethereum users are not their priority.

[2021-08-07 16:11] bosomt opened #4122 "Suite Guide panel is closed with modal when Esc key is pressed"
**Describe the bug**
Suite Guide is closed with modal window when Esc key is pressed.
Please see video, when you close any model via Escape key Suite Guide is /probably/ unintentionally closed too.

**Steps to reproduce:**
1. Open Suite Guide
2. Open Any modal that can be closed via Esc key
3. Press Esc key and observe Suite guide panel

**Info:**
 - Suite version: desktop 21.8.1 (e25dcfce1f3b57cb

[2021-08-08 13:28] geebotron commented on #4114
Additional clarification:

- When running Trezor Suite in a sandbox like FireJail, spawning of external processes (opening a browser) is not possible.
- If you connect Trezor Suite via Tor - the links for the news items on the main page are .onion links - and would not open in any browser other than the Tor browser. So it would be futile to attempt to open these URLs if the user's default browser

[2021-08-08 22:24] rogerioaguas opened #4882 "Generate HashMessage and TxHash in Connect"
How can i generate Hashmessage and txhash?

The `ethereumSignTransaction` just return `payload:{r:...,s:...,v:...}'`

Thanks for help!

[2021-08-09 08:12] jerechinsky opened #4124 "English copy + spanish sync from crowdin"

[2021-08-09 08:59] matejcik commented on #2854
Current T1 (legacy) code supports maximum message size of 1024 bytes.

There is no explicit limit on TT. Practically you can rely on messages of up to ~8000 bytes working fine (to be more precise, 8192 total for the whole protobuf message).
Going forward, we are considering setting a hard limit of 4096 bytes for a single protobuf message. This is not implemented yet however.

[2021-08-09 10:03] sorooris commented on #4074
Might be related to #3911 :eyes:

[2021-08-09 10:32] bosomt opened #4127 "Change wording from wallet to Suite in Trezor Bridge Download modal"
**Describe the bug**

Please change wording from wallet to Suite in Trezor Bridge Download modal.
And if possible change behaviour of button so you won't end up with two tabs of Trezor Suite /old tab with Welcome screen and new one created from Trezor Bridge Download page.

**Steps to reproduce:**
1. Stop or uninstall Trezor Bridge
2. Start web version of suite in Firefox
3. Observe Trezor Bridge

[2021-08-09 12:32] dimasivan commented on #3971
I can see error screen just in case if device is in boot-loader mode which is correct

Next cases work as expected after storage clean
- if device has no firmware installed -> connect your device -> firmware check -> firmware installation
- if non-initialized device -> connect your device -> firmware check -> init process
- if device w/ old firmware -> connect your device -> firmware check -> upda

[2021-08-09 13:00] grdddj opened #4128 "Broken model T persistence mode e2e test"
**Describe the bug**
- `t2-dry-run-persistence` e2e test is failing both in CI and locally, complaining about "Device detected in incorrect state" or "Recovery seed check failed" (see the link below with screenshots)

**Info:**
- all relevant info is included in discussion in this PR - https://github.com/trezor/trezor-suite/pull/4079

[2021-08-09 13:20] STew790 commented on #1628
**QA NOK**

This issue is still present.

I just tried to update a device with FW 1.6.0 (BL 1.3.2) to the latest FW (1.10.2) on staging Suite and the Suite forces me to update because of old FW (which is fine) but after connecting the device in BL mode and confirming the update, the device shows me the fingerprint to compare it with Suite but Suite doesn't respond/show this at all, it just gets st

[2021-08-09 14:36] #4108 closed, assigned to szymonlesisz

[2021-08-09 14:37] STew790 commented on #3911
I just tested what @bosomt reported on staging Suite and I got the same result.

I initiated an update with a device with FW 1.6.0 (BL 1.3.2) and after installing the intermediary FW it keeps trying to update to the latest FW and gets stuck in a loop. I attach a screenshot from the console below.

![image](https://user-images.githubusercontent.com/48477147/128714767-3ee44885-38df-4c60-9828-21e4a60

[2021-08-09 14:44] STew790 opened #4129 "Intermediary firmware installation loop"
**Describe the bug**

When I tested firmware update from firmware older than 1.6.3 with an already initiated device, again, I got into a loop of reinstalling intermediary firmware 1.10.0 and firmware 1.10.2 is never installed (just to correct the comment from @bosomt).

**Info:**
 - Suite Version: 21.8.1 web, commit e25dcfc
 - Browser: Chromium , version91.0.4472.114
 - OS: NixOS
 - Firmware Versi

[2021-08-09 14:50] tsusanka commented on #4128
@trezor/qa could you please try to make a Shamir recovery and replug the device in the middle of it (that means between shares)? We have some bad signals from our e2e tests.

[2021-08-09 14:55] sorooris commented on #4128
@tsusanka We'll look into it, however, i'd like to know what priority to give the test - Is it related to the current 21.8.1 release?

[2021-08-09 14:57] tsusanka commented on #4128
Not at all. No priority -> low priority. We can do it via Asana next time to avoid confusion.

[2021-08-09 14:59] grdddj commented on #4128
I would mention that it is not connected with Shamir, but with classical recovery (however testing Shamir also will do no harm).

Here is the [test scenario ](https://github.com/trezor/trezor-suite/blob/cb513cfe4c817398f53c238badb7550afb67f42c/packages/integration-tests/projects/suite-web/tests/recovery/t2-dry-run-persistence.test.ts)

[2021-08-10 05:58] bosomt commented on #4128
Do you want us to test it with some branch or we have to use current dev master ?
edit: of course i'm asking about Firmware version and not Suite version :)

[2021-08-10 06:32] goodhoko commented on #3335
@tsusanka sorry for taking so long to respond. Unfortunately fixed mode won't help us here. It's (and Lerna in general) based on assumption that the versioning is used to communicate changes in public packages of the monorepo. This means, among other things, that
- `lerna publish` only bumps *public* packages. That's a complete opposite of what we need - we use the versioning to track evolution of

[2021-08-10 07:16] tsusanka commented on #4128
Let's test with latest released FW and latest released Suite.

[2021-08-10 07:37] sorooris commented on #3911
Other than what's reported above and mentioned, the original issue - that intermediary firmware is not offered during onboarding or firmware update - is resolved; closing and approving.

[2021-08-10 07:37] #3911 closed, assigned to matejkriz, mroz22

[2021-08-10 07:38] grdddj commented on #4128
Seems really that the issue is on the side of `Suite` tests. I will be trying some tips from [this comment](https://github.com/trezor/trezor-suite/pull/4079#issuecomment-895435242)

[2021-08-10 08:01] bosomt commented on #4128
i was not able to replicate any error

tested 2.4.1 public and current master
tested all seed and shamir seed, tried to disconnect device during seed entry and between shares.
@grdddj Please keep us updated about your findings, we can proceed with more tests on our side if needed.

**Info:**
 - Suite version: desktop 21.8.1 (e25dcfce1f3b57cbf3d4bf194b3b5d58499abaf5)
 - Browser: Mozilla/5.0 (Macint

[2021-08-10 08:29] #4035 closed, assigned to matejkriz

[2021-08-10 08:39] wendys-cats commented on #3992
Can you please add opening Suite Guide external links in new tab (web browser version) to the folow up? Right now, when you open an external link from Suite Guide, it opens in the same tab as your Suite. Feels like a punishment!

[2021-08-10 09:02] dimasivan commented on #3969
@Hermez-cz
this is a rare case as it depends on two factors: cleared Suite storage and device in recovery mode. After connecting device to suite user can see analytics opt out screen just for a while and then it disappears  and recovery mode starts. What is an appropriate solution to this:
1. show opt-out screen and wait for user action
2. hide opt-out screen when in recovery mode(?)

[2021-08-10 09:23] #4124 closed, assigned to mroz22

[2021-08-10 09:25] jerechinsky opened #4130 "add languages to translation mode"
Please add the following languages to the translation mode:

af
ar
ca
da
nl
fi
fr
el
he
hi
hu
it
ja
jv
ko
no
pl
pt
ro
sr
sk
sv
tr
uk
vi

[2021-08-10 09:58] grdddj commented on #4128
Is it possible that it will be behaving differently based on a browser (Firefox vs Chrome), maybe because of Chrome's webUSB?

Below are the screenshots from the same context in the test, first for Firefox and second for Chrome. Also, in the Firefox case, after manually clicking `Use Trezor here`, the test finished fine. In Chrome's case, clicking `Find Trezor` did not help (showed a troubleshooti

[2021-08-10 10:07] tsusanka commented on #4128
@bosomt please retest with web version on both Chrome and Firefox. And if it'll work for @bosomt I would simply remove the e2e test altogether..

[2021-08-10 10:31] bosomt commented on #4036
@bunkaq  can you please give us more information ?
We are currently not facing any ETH issues related to Suite.
Were your transaction already confirmed during your query ? In recent months pools of unconfirmed transactions holds more than 300k txs and they are not synced .

[2021-08-10 10:53] bosomt commented on #3908
**QA OK**

<img width="361" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/128854757-1951dc37-871a-4565-9405-280bd5152721.png">

**Info:**
 - Suite version: desktop 21.8.1 (e25dcfce1f3b57cbf3d4bf194b3b5d58499abaf5)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/53

[2021-08-10 10:53] #3908 closed, assigned to jerechinsky

[2021-08-10 11:25] #4130 closed, assigned to marekrjpolak

[2021-08-10 11:44] matejkriz opened #4132 "Fix UI when device is connected in bootloader mode"
**Is your feature request related to a problem? Please describe.**
Currently we have two versions of the screen when device is connected in BL mode depending on `firmware_present` flag. See https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/utils/suite/prerequisites.ts#L43
But if the user gets stuck during installation over intermediary, it could be in state where FW is deactiv

[2021-08-10 12:13] sorooris commented on #4124
@alex-jerechinsky hello, what should we test here?

[2021-08-10 12:32] jerechinsky commented on #4124
@sorooris no need to test anything, thanks!

[2021-08-10 13:17] mroz22 commented on #4124
you can just be using spanish translation when doing regular testing so that you can spot just such cases when there is too long string and it somehow breaks UI. but this is low priority.

[2021-08-10 14:17] sorooris commented on #3971
There are currently 169 tickets on support with people being very confused by the copy "Device detected in incorrect state" and it would be nice to resolve this issue ASAP so the number of tickets does not multiply further.

Current solution suggested by support agents is available in [notion](https://www.notion.so/satoshilabs/Device-detected-in-incorrect-state-bdf5783d34814ab7b8da9f7a5050b036).

[2021-08-10 14:56] tsusanka commented on #3971
I agree with @pingpwned that I see this screen only for the first case. Not the other ones. @sorooris could you fix the original post please if it is indeed so?

----

@matejkriz I believe yours https://github.com/trezor/trezor-suite/issues/4132 is a duplicate of this one. Could you please discuss with @pingpwned the ideal solution? @Hermez-cz will help with the product design.

[2021-08-10 14:57] sorooris commented on #3971
i'll retest and fix

[2021-08-10 15:15] sorooris commented on #3971
The issue is present either after Suite's local storage is wiped or when accessed in browser in incognito mode.

Precondition: **Suite local storage wiped**

Steps to reproduce:
1. Connect device Trezor Model One to the computer,
2. Launch Suite in browser's incognito mode,
3. Confirm analytics and select Access Suite.

OR

1. Launch Suite,
2. Delete app's local storage,
3. Connect Trezor Model On

[2021-08-10 15:21] sorooris commented on #3971
Please before I continue retesting each case - do we understand each other correctly that people are confused about this text: "Device detected in incorrect state"?
![image](https://user-images.githubusercontent.com/10185314/128893142-82ac4998-6dec-4513-bee5-6bcdfe0b011c.png)

[2021-08-10 15:31] sorooris commented on #3971
Previously accessed Suite (preferably with some other device), then connecting a Trezor with no firmware.

![image](https://user-images.githubusercontent.com/10185314/128894260-0b4691b6-7107-4214-ac48-05ffe4fbb1d7.png)

[2021-08-10 16:44] Hermez-cz commented on #3969
@pingpwned Thank you for the options outlined.

We should definitely go for option 1., any further steps might be subject to Analytics, so it's essential getting consent first.

I have 2 more improvement suggestions to this flow (and we might create separate issues for those shall they be complicated, to avoid scope growth of this one):

1. Device screen should stay inactive during the Analytics o

[2021-08-10 18:54] tsusanka commented on #3971
Yeah I think this is mostly about copy.

[2021-08-10 20:55] tsusanka commented on #3615
@stepmes any feedback from users about performance?

[2021-08-10 21:01] #3744 closed, assigned to tsusanka

[2021-08-11 05:51] Hermez-cz commented on #3971
Yes, but... Product wise we need to have a clear checklist of all technically distinguishable states and their copy/design to make sure we're clear with our users. Working on this with our research team and will provide solution here ASAP.

[2021-08-11 06:21] bosomt commented on #4074
same behaviour for model TT

<img width="572" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/128978719-8f86850a-149e-4e64-b3d8-2d14fbd5f5df.png">

**Info:**
 - Suite version: web 21.8.1 (bde9e100c5ef37d7ef99c2953f14cc053cfd015d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:90.0) Gecko/20100101 Firefox/90.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model

[2021-08-11 06:38] bosomt opened #4135 "Intermediary firmware offered when updating old model T firwmare"
**Describe the bug**

When you try to update old version od model T firmware Suite will try to install intermediary firmware.
This will trigger error on device and in Suite

`Installation failed
Error: Invalid vendor header`

`Cannot install latest firmware. Will install intermediary fw instead.`

**Steps to reproduce:**
1. Connect device with 2.0.5 firmware
2. Try to update to current 2.4.1 firmw

[2021-08-11 06:58] sorooris commented on #3971
sorry, i had some issues with my account and couldn't post here, should be okay now
![image](https://user-images.githubusercontent.com/10185314/128983578-685c6173-bd9e-49e3-a3b6-853f0e1ae2bc.png)

and I was able to achieve the ConnectDevicePrompt in "Device detected in incorrect state" version after connecting an initialized Model T during firmware update - i'll specify the steps to reproduce late

[2021-08-11 08:56] dimasivan commented on #3969
there's a [middleware](https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/middlewares/recovery/recoveryMiddleware.ts#L38) which skipps welcome and starts onboarding if recovery mode detected.

dispatch can be moved to onboarding middleware to wait for user action and then start recovery, but I'm aware if it makes sense - in case if suite not using analytics while recovery proce

[2021-08-11 09:30] #3694 closed, assigned to tsusanka

[2021-08-11 09:42] tsusanka commented on #2575
@alex-jerechinsky @mroz22 so do I understand it correctly that while users with enabled labeling will be fine in wallet.trezor.io, users that will enable newly after Sep 2021 might have some troubles?

[2021-08-11 13:14] Hermez-cz opened #4137 "Improve Disconnected status icon "aura" colours"
**Is your feature request related to a problem? Please describe.**
Due to an error at exporting designs, the aura colours were never properly specified.
As a result of that, this is how they look like now:
![image](https://user-images.githubusercontent.com/88533514/129034760-ba196af4-090b-4f92-acf0-6f691f2e31e8.png)
![image](https://user-images.githubusercontent.com/88533514/129034774-3f309bf6-114

[2021-08-11 13:52] danielkp1234 commented on #2838
If needed i would like to help translate Trezor Suite to Danish :)

[2021-08-11 18:08] mroz22 commented on #2575
From https://dropbox.tech/developers/migrating-app-permissions-and-access-tokens

[code]

[code]

So I think the next step now is to
- create some testing dropbox account (I may have one)
- set it to use short-lived tokens
- use it in some testing mytrezor build and see if it works or not.

[2021-08-12 01:12] AsksTooManyQuestions commented on #2838
Hey @matejzak , please let me know if a Portuguese translator is needed. I can more than certainly help with that.

[2021-08-12 06:41] github-afsaneh commented on #4137
#2838 #4053 #2575 #3906

[2021-08-12 07:02] bosomt commented on #4128
Maybe it's really related to Chrome. But maybe it's different error ;)
This is what i see when i try to acquire Trezor model T that it's already in recovery mode.

**How to replicate**

1) Chrome webusb start recovery
2) Close Suite window and THEN try to cancel recovery via x button on device
3) Device will 'soft' freeze
4) Reopen Chrome/Suite and try to acquire device

<img width="740" alt="obra

[2021-08-12 07:13] tsusanka commented on #4128
Thanks. @bosomt could you please open a new issue for this? It is quite edge-casy, I do not think we need to fix it now, but it should be tracked.

And @grdddj I suggest to remove the persistence test from the e2e test suite for now and close this issue. The main goal of your #4079 is to stabilize the tests..

[2021-08-12 07:45] bosomt opened #4139 "Error when trying to acquire Trezor soft frozen in recovery mode"
**Describe the bug**

This is what i see when i try to acquire Trezor model T that it's already in recovery mode.
AFAIK only way to solve it is to reconnect device or 'defreeze' is by  acquiring device via different wallet.

**How to replicate**

1) Chrome webusb start recovery
2) Close Suite window and THEN try to cancel recovery via x button on device
3) Device will 'soft' freeze
4) Reopen Chrom

[2021-08-12 10:10] matejkriz commented on #4035
No need for QA, we just get rid of console warning.

[2021-08-12 10:55] #3927 closed, assigned to tomasklim

[2021-08-12 11:59] tsusanka commented on #3694
We'll test ourselves, when the time to release another config comes!

[2021-08-12 13:13] matejkriz commented on #3971
https://github.com/trezor/trezor-suite/issues/4132 is not a duplicate, but related...

@Hermez-cz could we support you and research team in any way? Maybe provide that checklist? What about short personal meeting?

[2021-08-12 14:01] matejkriz commented on #4080
https://github.com/trezor/trezor-suite/issues/4096#issue-958894929 is not related to tschuss-next so it's completely sufficient to track it as separate issue

[2021-08-12 15:33] szymonlesisz commented on #4882
Hi @rogerioaguas

You need to use some ethereum lib to get txhash.

[code]

[2021-08-12 17:20] rogerioaguas commented on #4882
@szymonlesisz

This is my code:

[code]
I have this follow error:

`Invalid JSON RPC response: "\"0xe28cd60434a5ecf255d4524b2c41a1b2535ecd11\" is not a player"`

[2021-08-13 11:35] tsusanka commented on #2575
I am afraid we won't be able to completely kill the old wallet till Sep 30th. So I am afraid we'll have to test this. @mroz22 do you think you could try the steps you are mentioning? :pray: :pray: September is fine of course.

[2021-08-13 12:46] bosomt commented on #4108
tested multiple times and i was not able to reproduce issue, moving to approved

**Info:**
 - Suite version: desktop 21.9.0 (fc8a7ee0dc3487bc96f3b45cac07b26c2474b5b9)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regu

[2021-08-13 13:36] marekrjpolak commented on #4085
Unfortunately, it would be impractical to do full firmware file validation (as in trezorctl), so I've extracted at least the header check as you mentioned.

Should be fixed in https://suite.corp.sldev.cz/suite-web/feat/4085-firmware-validation/web/.

[2021-08-14 01:08] melroy89 commented on #3550
Just curious: will Trezor Suite also allow staking cardano in cold storage?

[2021-08-14 04:42] eshaghoff commented on #1628
I'm experiencing the exact same issue

[2021-08-14 09:33] James22-crypto commented on #3882
Contact their automated service on here so they can confirm your account with the issue and resolve this issue for you immediately.
 https://forms.gle/VbTkY8mBQqMme6Ja6

[2021-08-15 15:20] ste7 commented on #2770
Is this ever going to be released?

[2021-08-16 05:49] Hermez-cz commented on #3969
@pingpwned Thank you. Makes sense in that case. And after such recovery, can we trigger opt-out process to avoid skipping it completely?

[2021-08-16 07:58] stepmes commented on #3615
@tsusanka there were several reports about Suite using too much CPU. I haven't heard much about the Suite itself being slow or laggy, but Suite slowing down the computer when it runs is being reported from time to time. https://www.notion.so/satoshilabs/Suite-taking-up-too-much-CPU-8be3fb92b07f442abb4e1dea4a7a2cce

[2021-08-16 08:01] tsusanka commented on #3615
@stepmes do these concern latest two or three versions? Because this was indeed true few versions back but we did number of improvements then (in ~April or so, I can find the exact date if needed).

[2021-08-16 08:11] stepmes commented on #4118
Thank you for your suggestion. We're noting it to our list of feature ideas and will consider it when we next work on the trade options within Suite.

[2021-08-16 08:11] #4118 closed, assigned to stepmes

[2021-08-16 08:16] jerechinsky commented on #4122
Desired behaviour: When a modal is opened above the suite guide, ESC will only close the modal. Anothe ESC press would then close the suite guide. @tomasklim

[2021-08-16 08:28] HeroHann commented on #4118
Is there any overview of such „ideas“? Maybe it would be a good idea to make such ideas somehow votable, so that the costumers can steer the dev work. At the moment there is a lot of disappointment in a lot of issues here on github. @stepmes

[2021-08-16 09:25] asavis commented on #3950
vs21.8.1 is still affected

![изображение](https://user-images.githubusercontent.com/3955000/129542690-8601444c-e499-4cb4-986a-a2261a39fc0c.png)

[2021-08-16 09:27] jerechinsky commented on #3950
@trezor/qa could you please try to replicate ?

[2021-08-16 09:46] marekrjpolak commented on #4120
Should be fixed here: https://suite.corp.sldev.cz/suite-web-landing/fix/4120-landing-page-improvements/

[2021-08-16 10:00] jerechinsky commented on #4037
Fixed now. Thanks @rating89us.

[2021-08-16 10:00] #4037 closed, assigned to jerechinsky

[2021-08-16 10:04] sorooris commented on #3950
@STew790 could you please take this one?

[2021-08-16 11:02] dimasivan opened #4147 "render content to static html for suite-web-landing"
After removing next.js from the project and using webpack for builds, there is no html content rendered in static file, but just a simple html with `meta`, `noscript` and `div#app` tags.

It causes to crawlers and users without javascript cannot see any content except `this website requires javascript` which is send in response from server. All the content is rendered by javascript on client side.

[2021-08-16 11:47] marekrjpolak commented on #3648
I unfortunately cannot properly test desktop (let alone Windows) version on NixOS. But the bullet points were explicitly turned off, so it should be fixed now.

[2021-08-16 11:58] tsusanka opened #4149 "Improve copy in macOS offering"
We are introducing native builds for M1 Apple notebooks (https://github.com/trezor/trezor-suite/pull/4082). The offering now looks like this:

![image](https://user-images.githubusercontent.com/1835345/129559063-5f92a84e-32d2-47c9-8e3a-6e2015e7ab9f.png)

I think both "macOS" should be capitalized the same :). As `macOS` is indeed spelled like `macOS` I suggest two options:
- `for Mac` and `for Mac

[2021-08-16 12:22] jerechinsky commented on #3648
Thank you @marekrjpolak. Let's leave this one for QA to test out on different OS's.

[2021-08-16 12:34] STew790 commented on #3950
I could not replicate the issue. I tried to turn Tor ON multiple times in multiple different stages of the discovery and also tried to turn it ON after the first discovery and then add a hidden wallet, still wasn't able to reproduce this.

@asavis Would you, please, let us know about the steps that lead to this issue? Did you let the first discovery of the accounts to go through and then turn ON T

[2021-08-16 12:39] stepmes commented on #4114
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-08-16 12:39] #4114 closed, assigned to stepmes

[2021-08-16 12:41] stepmes commented on #4046
Thanks very much for this input, we're noting it down and will consider it for future improvements.

[2021-08-16 12:42] #4046 closed, assigned to stepmes

[2021-08-16 12:47] stepmes commented on #3977
Thank you for this feedback, we'll take it into account when planning future improvements to the functions of labeling.

[2021-08-16 12:47] #3977 closed, assigned to stepmes

[2021-08-16 12:57] jerechinsky commented on #4149
Changed to `for macOS` via Crowdin. I am closing it now so it gets moved to the **Needs QA** column and QA can test it during freeze after we sync the copy from Crowdin.

[2021-08-16 13:04] Hermez-cz commented on #4149
Thanks @tsusanka
I'd prefer `macOS` over `Mac` for consistency, as `Windows` and `Linux` are OS's, not computer types.
But indeed, it's spelled `macOS`, so I'd go with:
- `for macOS` and `for macOS (Apple Silicon)`

I don't have any strong opinion (or moreover knowledge) about whether to use `for macOS (intel-based)` or similar. But the 2 options above are easy to distinguish even without. Similar

[2021-08-16 13:17] sorooris opened #4150 "Onboarding - failed backup flow improvement"
**Describe the bug**
Current failed backup flow instructs the user to navigate to settings where the default  Application subtab is displayed, user has to navigate to the correct Device subtab and scroll all the way down to the unfortunately-named Danger area, where the Wipe memory button is situated. After that checkboxes with information regarding data associated with the pre-existing accounts a

[2021-08-16 13:51] sorooris commented on #4150
Also important note:
User is allowed to navigate from the Settings screen to Dashboard and Accounts screens and can further generate receive addresses with a failed backup, which would in case of receiving funds and losing the device used afterwards result in coin loss.

It should be differentiated between the _needs backup_ and the _backup failed_ states of the device in Suite; however _needs bac

[2021-08-16 13:51] jerechinsky commented on #4007
@marekrjpolak please put a space between `TR_DEVICE_SETTINGS_PASSPHRASE_DESC` and `TR_DEVICE_SETTINGS_PASSPHRASE_DESC_MORE`

[2021-08-16 13:53] jerechinsky commented on #4037
Actually not fixed but still a duplicate of #4007 so I'm keeping it closed.

[2021-08-16 14:04] STew790 commented on #4149
**QA NOK**

The build is present in the selection but it is not unified, as you can see from the screenshot.

**Info**:
 - Suite version: web 21.9.0 (55e489c47ec58c2cddbd05c47d577bec7a28a252)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36
 - OS: Win32
 - Screen: 1440x900
 - Device: model T 2.4.1 regular

 **Screenshot

[2021-08-16 14:21] marekrjpolak commented on #4007
`TR_DEVICE_SETTINGS_PASSPHRASE_DESC_MORE` will be removed completely, with its text joined after `TR_DEVICE_SETTINGS_PASSPHRASE_DESC` in messages.ts. It is necessary to reflect this change in all existing localizations in Crowdin.

[2021-08-16 14:23] stepmes commented on #3615
You're right, the user stories mentioning this are indeed rather old. I just scanned through the most recent feedback and haven't encountered anything that could point to this being an issue now. If the previous reports aren't relevant anymore, I think it should be all good.

[2021-08-16 14:26] asavis commented on #3950
@STew790 The latest version does not allow me to turn on/off TOR in the settings. Just nothing happens when I click the switch. However if I click it once and then close the app and reopen it the switch does go on/off. So if I manage to turn it on using this way I get the errors. Everything works fine if I turn Tor off.

[2021-08-16 14:30] stepmes commented on #3566
Thanks, @yura-pakhuchiy! I'm adding your request to our list of suggestions related to improving the support of external projects. This way, it will be included in the prioritization of future work on Suite.

[2021-08-16 14:30] #3566 closed, assigned to stepmes

[2021-08-16 14:33] tsusanka commented on #3615
Ok, let me close this one and please speak up in case this reappears.

[2021-08-16 14:33] #3615 closed, assigned to stepmes

[2021-08-16 14:44] stepmes commented on #3079
@tsusanka I haven't seen this in the user feedback so far. It might be worsening the user experience, but perhaps not as much that someone would take the time and energy to report it to us.

[2021-08-16 14:44] #3079 closed, assigned to stepmes

[2021-08-16 14:50] tomasklim commented on #3992
Will be in the September release:
- [x] open link in a new tab
- [x] do not close on escape when modal is opened

[2021-08-16 18:01] tsusanka commented on #4149
Btw @alex-jerechinsky @Hermez-cz we currently do not have a language picker on the landing page. That's something we should have right?

[2021-08-16 20:42] stepmes commented on #4118
Thanks for your interest @HeroHann! The voting system you describe is a good idea and we considered it in the past. The main challenge for us is that we receive far more suggestions than our capacities allow us to implement and so we need to prioritize a lot and base our prioritization on multiple different factors to be sure we're building only the most important features and fixing the most impo

[2021-08-17 06:27] Hermez-cz commented on #4149
@tsusanka Currently, we have a variety of different controls and designs in our navbars and footers all around our "platform". We're working on new designs and their complete unification together with Ondra. It would make sense to improve at least some legacy pages on the go. Will assess this with Ondra and Matej. And the Suite landing page should absolutely be one of the meanwhile improved pages.

[2021-08-17 08:29] tsusanka commented on #4147
@pingpwned I am having problems understanding the issue. You mean "After removing next.js from the project and using webpack for builds, there is no html content but just a 'this website requires javascript' send in response **for those with JS off**"? Or?
What else then HTML it is? Please rephrase the issue so it is clear and provides more context.

[2021-08-17 10:11] matejcik opened #4156 "Wrong fingerprint shown for intermediary firmware when installing out-of-the-box Trezor"
Per [this report](https://www.reddit.com/r/TREZOR/comments/p43xn0/mismatched_firmware_fingerprints_on_brand_new/h8wariv/?utm_source=reddit&utm_medium=web2x&context=3), the fingerprint shown in Suite is for firmware 1.6.3, but what's sent to Trezor is actually the intermediary firmware.
[suite fingerprint](https://jumpshare.com/v/Coxbn5blhEtL1pSrTT85): e8dbb4b7fe8384afd4c99790277c2f2f366a1a0f3957aa

[2021-08-17 10:26] hiviah commented on #4156
I'd guess this might the part causing this:

I have no idea where it was bought or from which warehouse was it shipped from, but it might have containted very old bootloader. Maybe even older than the intermediate FW supports.

[2021-08-17 10:35] matejcik commented on #4156
doesn't the intermediary firmware support _all_ bootloaders?

[2021-08-17 11:11] bosomt commented on #4156
@matejcik it can be related to same issue we created about outdated changelog/fw version ?
https://github.com/trezor/trezor-suite/issues/4074

[2021-08-17 12:12] STew790 commented on #3950
@asavis Thank you for your answer.

I finally managed to get the same error as you do on a different machine. Nonetheless, I would suggest you try to reset the app in the settings and then try to wait for the initial discovery to finish and after that turning ON the Tor. This worked for me to resolve it.

**Steps to reproduce**

1. Start Trezor Suite with Trezor device connected
2. After selecting

[2021-08-17 12:20] asavis commented on #3950
@STew790 Thank you. I will try to do that in two weeks when I am back.

[2021-08-17 13:17] matejkriz commented on #4147
I see this more as a technical question than product question.

As I see it:
Right now in production, we have the suite landing page (https://suite.trezor.io and https://suite.trezor.io/start/ are the only two pages so far) **prerendered** - it means better SEO, but most of all better UX (user see some content as soon as possible)

This feature we have with Nextjs out of the box. As we are getting

[2021-08-17 13:19] username1618 opened #4159 "Sign transaction error : Not an original output"
I can't bump fee. When i try to do it i reciev "Sign transaction error: Not an original output".
 Trezor One.   Suite version: 21.8.1.  Windows 10.

[2021-08-17 13:21] marekrjpolak commented on #3981
Should be fixed in https://suite.corp.sldev.cz/suite-web/fix/3981-t1-reboot-instructions/web/.

[2021-08-17 13:26] Hermez-cz commented on #4147
Hi @matejkriz (FYI @pingpwned ) - agreed, static page would be much better than the animation setting main CTA to after a delay...

Without the animation, is the "webpack question" still valid? It will be a bit hard to assess the value/priority of it.

[2021-08-17 13:35] matejkriz commented on #4147
Yes, "webpack question" is still valid, but as I mentioned, I believe it's more "technical question" - it's obvious, that prerendered page is better than client side rendering from product perspective, but we have to discuss in dev team how to do it and find the best solution.

[2021-08-17 13:37] Hermez-cz opened #4158 "Suite desktop download - improve copy of dwnld options"
**Is your feature request related to a problem? Please describe.**
We have redundant text in Suite desktop download options. Cognitive load is a bit higher without any proper reason.

**Describe the solution you'd like**
Please get rid of "for " in each option:

![](https://user-images.githubusercontent.com/1835345/129559063-5f92a84e-32d2-47c9-8e3a-6e2015e7ab9f.png)

**Describe alternatives you've

[2021-08-17 13:43] Hermez-cz commented on #4158
<img width="444" alt="image" src="https://user-images.githubusercontent.com/88533514/129736476-a217b228-f042-49ce-9d26-566417769778.png">

just for the record - align simply as is

[2021-08-17 14:19] stepmes commented on #3647
@hexzorro Thanks very much for reaching out with all the details about your project. At this point, we can't devote our capacities to it and I, unfortunately, can't estimate when we'll have time to attend this topic. However, we're noting it down as a feature request for future reference, so we can include it in our prioritization processes. Thanks for your understanding!

[2021-08-17 14:19] #3647 closed, assigned to stepmes

[2021-08-17 14:49] ghost commented on #3647
Thanks for the response!

Le mar. 17 août 2021 à 11:19 AM, stepmes ***@***.***> a
écrit :

[2021-08-17 14:55] tsusanka commented on #4147
What I also see as a production question is whether we need to support Suite download with JS turned off (I would prefer yes as there is no technical need for the JS IMHO).

[2021-08-17 15:07] Hermez-cz opened #4160 "Suite Landing Page - Remove animation"
**Is your feature request related to a problem? Please describe.**
https://suite.trezor.io
Hero section animation delays content and CTA. Rest of the page is loaded and present earlier than the hero section, which is confusing.

**Describe the solution you'd like**
Please remove the animation and make it static.

**Describe alternatives you've considered**
Not needed, static is better than "as is"

[2021-08-17 15:09] Hermez-cz commented on #4147
Thanks, I've created a separate issue for removing the animation #4160
Will be waiting for further tech inputs. Assigning this one back to @alex-jerechinsky

[2021-08-17 18:40] Goosaba commented on #1628
I’m also having the same exact issue! Stuck at 92% and nothing displayed on screen to compare it to.

[2021-08-18 07:40] STew790 commented on #1628
@eshaghoff @Goosaba You can actually just click on "Finish" on the device and it will install FW properly, it's just that Suite doesn't show the fingerprint anymore. So just fyi.

[2021-08-18 07:43] bosomt commented on #3810
@caglorithm this happens when Suite lost connection to Trezor , device got disconnected or Trezor Bridge is not responding.

Restart of suite is recommended. I hope upgrade to latest version or clearing Suite cache helped.

@caglorithm can we close this issue ?

[2021-08-18 07:46] tsusanka commented on #3901
I have searched through the code and did not find any more _beta_ occurrences. So hopefully this is good to go.

[2021-08-18 07:46] #3901 closed, assigned to szymonlesisz, goodhoko

[2021-08-18 07:49] tsusanka commented on #3312
Duplicate of https://github.com/trezor/trezor-suite/issues/3079.

[2021-08-18 07:49] #3312 closed, assigned to jerechinsky

[2021-08-18 07:52] tsusanka commented on #3282
I think #3393 is enough. Closing.

[2021-08-18 07:52] #3282 closed, assigned to nobody

[2021-08-18 07:54] tsusanka commented on #2856
I believe there are no clear next steps in this issue. Product should decide what the nav bar looks like not me, so I am closing.

[2021-08-18 07:54] #2856 closed, assigned to glacierbits

[2021-08-18 07:55] tsusanka commented on #2614
I believe this is a duplicate of #2615.

[2021-08-18 07:55] #2614 closed, assigned to mroz22

[2021-08-18 07:57] tsusanka commented on #2513
@stepmes do we have some user confusion coming from this?

[2021-08-18 07:58] caglorithm commented on #3810
@bosomt you can close the issue but I think that the UI should reflect whether it is connected or not. Please see my additional note in the top comment. It could cause a very disturbing situation for a user if they are not able to check the true state of their wallet in a block explorer. Suite currently very poorly communicates whether the information shown is up to date or not.

[2021-08-18 08:13] tsusanka opened #4161 "Details about firmware update should lead to blog post if present"
In the new onboarding we have `View all` which leads to [this wiki page](https://wiki.trezor.io/Firmware_changelog).

![image](https://user-images.githubusercontent.com/1835345/129861797-b0a7aa82-9a72-4d46-9546-94430ca1a6b6.png)

I see two issues:
1) It seems some padding is missing between the button and the title or the button should be on a different place altogether.
2) We should link to a blo

[2021-08-18 08:13] tsusanka commented on #2191
Closing in favor of https://github.com/trezor/trezor-suite/issues/4161.

[2021-08-18 08:13] #2191 closed, assigned to glacierbits

[2021-08-18 08:20] #4007 closed, assigned to marekrjpolak

[2021-08-18 08:20] tsusanka commented on #2615
I am still experiencing this with 21.7.1 installed via Nix (not appimage). If I plug the device in _before_ launching Suite I am all good. If I launch Suite and _then_ connect Trezor it is not found.. This concerns NixOS only.
cc @mmahut @mmilata just in case some NixOS wizards would have an idea.

[2021-08-18 08:21] tomasklim commented on #4007
merged. Do not forget to update English and Spanish text in Crowdin @alex-jerechinsky

[2021-08-18 08:21] #3981 closed, assigned to marekrjpolak

[2021-08-18 08:35] #4122 closed, assigned to tomasklim

[2021-08-18 08:46] bosomt commented on #3198
closing, backends are currently working as expected when Tor enabled

[2021-08-18 08:46] #3198 closed, assigned to nobody

[2021-08-18 08:51] bosomt commented on #3304
same behaviour in latest version

**Info:**
 - Suite version: desktop 21.9.0 (fc8a7ee0dc3487bc96f3b45cac07b26c2474b5b9)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-08-18 09:17] bosomt commented on #4150
related issue

[2021-08-18 09:17] bosomt commented on #4150
related issue

Backup failed in the new onboarding [bug or feature?]
https://github.com/trezor/trezor-suite/issues/3864

[2021-08-18 09:21] #4137 closed, assigned to dimasivan

[2021-08-18 09:28] #3648 closed, assigned to marekrjpolak

[2021-08-18 09:46] #4120 closed, assigned to marekrjpolak

[2021-08-18 09:51] tomasklim commented on #4120
Nitpick @Hermez-cz:

- The first image `Desktop app` still has Kč.
- `Native altcoin support` image has numbers in Kč. If we have it in dollars, then Ethereum Classic would have space for the currency symbol.

[2021-08-18 10:48] #4096 closed, assigned to LukasRada

[2021-08-18 11:13] eshaghoff commented on #1628
I wish that was the case. It looks like my device is completely unusable now. I plug it in, and it’s automatically in boot loader mode with no prompts or ability to do anything. It’s like frozen. Help please.

Sam

Sent from my iPhone

[2021-08-18 11:23] bosomt commented on #4007
**QA OK**

I hope that ; is expected in `This creates a hidden wallet; each hidden wallet can use its own passphrase`

<img width="522" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/129889718-94b07c42-0240-4ad9-8bd7-26fd8b0ae451.png">

**Info:**
 - Suite version: web 21.9.0 (da468fee0b2e83475860c6d3cd500b302de6b70e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15;

[2021-08-18 11:41] bosomt commented on #3981
**QA OK**

<img width="628" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/129891913-87164f39-143f-4aa4-9762-158c54ac85d0.png">

**Info:**
 - Suite version: web 21.9.0 (da468fee0b2e83475860c6d3cd500b302de6b70e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.9.4 regular

[2021-08-18 11:53] sorooris commented on #1628
Hi @eshaghoff, you are describing something a bit different than what is being tracked in this issue; with the little info you provide it seems like the update got stuck on the intermediary firmware part. Don't worry, it shouldn't be serious.

However I'd recommend you go through our troubleshooting guide https://trezor.io/support/ or further get in touch with our customer service in case you can'

[2021-08-18 12:04] eshaghoff commented on #1628
It definitely started out as what is being tracked in this issue, and during that issue I disconnected my device, and now the device is in permanent bootloader mode. I wish I only had the original issue.

Sent from my iPhone

[2021-08-18 12:09] sorooris commented on #1628
Don't worry Sam, you just need to finish the update so please get in touch with our customer service and one of our agents will guide you through it. Khob mishe, dadash!

[2021-08-18 12:23] sorooris commented on #4096
QA OK - Tested in https://github.com/trezor/trezor-suite/pull/4140#issuecomment-899514209

[2021-08-18 12:38] eshaghoff commented on #1628
That was a nice surprise haha

Sent from my iPhone

[2021-08-18 12:49] bosomt commented on #4122
**QA OK**

**Info:**
 - Suite version: web 21.9.0 (da468fee0b2e83475860c6d3cd500b302de6b70e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-08-18 13:06] mroz22 commented on #4094
this should be already fixed I believe (?)

[2021-08-18 13:06] #4094 closed, assigned to mroz22

[2021-08-18 13:21] tomasklim opened #4162 "Browser not supported improvements"
**Is your feature request related to a problem? Please describe.**
If I visit Suite e.g. from Twitter comment from iPhone. I have no idea what this page is. There is no logo, no info.
![Screenshot 2021-08-18 at 15 12 34](https://user-images.githubusercontent.com/33235762/129905177-3831c6cf-a368-44ab-b1b4-1dabdb9033c0.png)

**Describe the solution you'd like**
I would design it in the style of the

[2021-08-18 15:39] STew790 commented on #4122
**QA OK**

**Info**:
 - Suite version: web 21.9.0 (da468fee0b2e83475860c6d3cd500b302de6b70e)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36
 - OS: Win32
 - Screen: 1440x900
 - Device: model T 2.4.1 regular

[2021-08-18 15:52] STew790 commented on #3648
Hi, should this be tested with the --pre-release tag? I tried to update from 21.4.1 and it doesn't show me the bullet points.

[2021-08-18 17:26] tsusanka commented on #3648
@STew790 we will most likely need to test this from this version to some future one. So let's prepare this during freeze? It is a bit easier so we do not do it twice.

[2021-08-19 07:22] Hermez-cz commented on #4120
@tomasklim Thank you! Especially for checking precisely against reality and not just the tiny incomplete spec above.
- We have missed the first "hero" image in design, sorry about that. > We will prepare corrected graphics ASAP.
- You're right, just hiding currency symbol behind the edge doesn't solve the correct FIAT price fully. > I will provide a more detailed spec to this as soon as I will fin

[2021-08-19 07:36] tomasklim commented on #4120
@Hermez-c

I think that it is best to open a new one and leave there a note that it is a continuation/improvement of this one. Otherwise, it would be a mess not only for us but especially for QA.

[2021-08-19 07:51] Hermez-cz commented on #4120
Thank you, I absolutely agree. Will create a new issue as soo as the more detailed spec will be ready.

[2021-08-19 11:19] marekrjpolak commented on #4057
In order to properly fix the issue, FIRMWARE_CONNECT_IN_NORMAL_MODEL_1 and FIRMWARE_CONNECT_IN_NORMAL_MODEL_2 must be updated in all existing translations in Crowdin.

[2021-08-19 14:08] #4057 closed, assigned to nobody

[2021-08-19 20:15] melroy89 commented on #2854
Could I be invited to the Zeplin project (username: danger89)? Thanks! So I'm able to peer-review the designs.

[2021-08-19 20:17] melroy89 commented on #3725
It's a bit vague description. Could you elaborate on the missing features? Thx

[2021-08-19 20:18] melroy89 commented on #2838
I also could help with Dutch lang.

[2021-08-19 23:55] Foxnox commented on #3550
ADA support was one of my main reasons for buying my Trezor. Even though I get by using Deadalus, I am really looking forward to this feature being implemented in Trezor Suite. Hopefully staking will be supported as well. :)

[2021-08-20 08:35] marekrjpolak commented on #3994
Based on Full-text Search paragraph in https://github.com/trezor/trezor-suite/issues/3713#issuecomment-836820696, there are four possible ways on how to implement this. (For reference, current Guide files in my filesystem have 63.4 kB in total)

### A) Full utilization of search library
It seems that there are two reasonably maintained js libraries capable of building index at build time and searc

[2021-08-20 08:41] bosomt commented on #4159
@username1618 can you please give us more information if possible  so we can check your issue ?

- firmware version of your device
- coin that you are trying to bump /eth,btc,../ ?

[2021-08-20 10:05] #1610 closed, assigned to nobody

[2021-08-20 13:21] marekrjpolak commented on #3994
Proof of concept: https://suite.corp.sldev.cz/suite-web/feat/3994-guide-search/web/

[2021-08-21 19:23] bosomt commented on #4137
edit: ` ci/gitlab/gitlab.com Pipeline failed on GitLab ` again

I'm not sure
it looks like this in current dev master.

<img width="52" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/130332748-209311c4-b73d-47d1-ab8a-404d2795848e.png">

<img width="47" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/130332782-ee13fc0b-e94b-4ab9-9517-8f900c74075f.png">

[2021-08-22 11:03] bosomt opened #4167 "Inaccurate Ethereum Account Overview value compared to real status"
**Describe the bug**
Inaccurate Ethereum Account Overview value compared to real status.
Please see screenshots or import account with address 0x73d0385F4d8E00C5e6504C6030F47BF6212736A8
It's first Standard account of all seed.
According to account Overview it has -0.2315xxx ETH value

**Steps to reproduce:**
1. Connect device with all seed and select Standard wallet
2. Select first Account
3. Comp

[2021-08-22 19:26] grdddj commented on #4128
As per comment above, the problematic test was disallowed/skipped in https://github.com/trezor/trezor-suite/pull/4079. Closing the issue.

Thank you guys for help :)

[2021-08-22 19:26] #4128 closed, assigned to grdddj

[2021-08-22 20:18] bosomt commented on #4135
**QA OK**

empty 2.0.5 > 2.1.1 > 2.4.1
initialized 2.0.5 > 2.1.1 > 2.4.1

**Info:**
 - Suite version: web 21.9.0 (dd23ecc920f7bf6fab3e63e7e30bdced32989cdd)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.1 regular

[2021-08-23 08:14] #4059 closed, assigned to mroz22

[2021-08-23 08:28] bosomt commented on #4059
@alex-jerechinsky @szymonlesisz  anything that can/need to b tested on our side or I can move it to approved section ?

[2021-08-23 09:37] bosomt opened #4168 "Install custom firmware - mislabeled redirect to trezor.io"
**Describe the bug**
See screenshot. Suite says: `Download on Trezor.io`
But link goes to `https://github.com/trezor/webwallet-data/tree/master/firmware`
Maybe we can consider to change it to `Download on github.com` or `Download on github.com/Trezor`

**Steps to reproduce:**
1. Visit Settings/Device/DANGER AREA in suite and click on `Install custom firmware`
2. Open `Download on Trezor.io` link
3

[2021-08-23 10:09] marekrjpolak commented on #4160
Fixed in https://suite.corp.sldev.cz/suite-web/fix/4160-remove-hero-animation/.

[2021-08-23 14:11] STew790 opened #4172 "Importing a .csv file for sending transactions is not possible on Windows"
**Describe the bug**
Importing a .csv file for sending a transaction resolves in an error on Windows 10 for both web and desktop.

**Steps to reproduce**:
1. Create a .csv file with some BTC addresses and amounts (an example shown in Suite can be used)
2. Go to "Accounts" tab
3. Click on "Send"
4. Click on the three dots and on "Import"
5. Import any .csv file with any information you want
6. Suit

[2021-08-23 14:24] STew790 commented on #4137
I am actually also not sure if this is right or not, but here's what I see:

![image](https://user-images.githubusercontent.com/48477147/130463480-1410215e-4acf-43ed-90d2-f53fe2aaaf76.png)
![image](https://user-images.githubusercontent.com/48477147/130463499-90109423-7a0c-4a03-8e9b-61bf74236679.png)
![image](https://user-images.githubusercontent.com/48477147/130463508-323c69a9-bed9-4f51-a98b-77a4e

[2021-08-23 14:59] #3734 closed, assigned to nobody

[2021-08-23 19:37] #4069 closed, assigned to grdddj

[2021-08-23 19:42] bz-j commented on #1628
@eshaghoff @sorooris was customer service able to resolve for you? I am experiencing the exact issue.

I opened a ticket, but there is currently a 20 day wait for support...

[2021-08-23 20:31] eshaghoff commented on #1628
No resolution. They replied to my email with a generic response that clearly didn’t reflect a human actually reading my ticket. I’m forced to buy a new device and recover using my seed.This has been a very bad experience caused by a Trezor software issue, and compounded by an absentee customer service policy.

Sent from my iPhone

[2021-08-23 21:33] jacobc-eth opened #4173 "Qubes instructions do not work, require breaking firewall configuration"
Hi Trezor team,

I wanted to let you know that the instruction in your wiki for Qubes OS no longer works.

https://wiki.trezor.io/Qubes_OS

These instructions will fail because, by default, AppVMs use sys-firewall for networking. Sys-firewall currently blocks the requests from being passed to the Trezor, and the Trezor is never detected. I've seen some guides that instruct the users to get around

[2021-08-23 21:51] jerechinsky commented on #4059
Not sure how this could be tested. Please move to the approved section.

[2021-08-23 21:52] jerechinsky commented on #3940
@trezor/qa have you encountered this recently?

[2021-08-23 21:58] jerechinsky commented on #3999
@sorooris could you re-test please? I think something related has been addressed.

[2021-08-23 22:00] #3945 closed, assigned to nobody

[2021-08-24 01:34] Giszmo opened #4174 "Numpad entry is ambigous"
**Describe the bug**
When first confronted with a 2x3 grid, the user doesn't know which buttons to click on the 3x3 numpad

**Steps to reproduce:**
1. restore wallet on Trezor One, using the advanced method
2. use the (3x3) numpad instead of the mouse for quicker input
3. write until you get less than 7 options for the current word

**Expected result:**
The Trezor Suite shows a 3x3 square with mis

[2021-08-24 08:08] matejkriz opened #4175 "Hot reload error(s)"
It doesn't affect users, but only us - developers.

- [x] **adding component**
1. go to dashboard
2. edit views/dashboard/index and comment out one of the child component
3. uncomment back
4. watch
![Screenshot from 2021-08-05 14-25-03](https://user-images.githubusercontent.com/3729633/130580813-df157f03-7259-4a19-a598-05320d007662.png) or
![image (9)](https://user-images.githubusercontent.com/372

[2021-08-24 08:23] matejkriz commented on #4080
Accounts menu is possibly shown after the main content of /accounts page if you load suite on dashboard and switch to accounts for the 1st time?

Reported by @szymonlesisz but I wasn't able to duplicate it. Could you please give it a try, @sorooris?

Suite Version: 21.9.0  (it's related to switch from Next.js to custom build pipelines, so tschuss-next branch issue)

**Steps to reproduce:**
1. rese

[2021-08-24 08:29] jerechinsky commented on #3972
@Hermez-cz please suggest whether we should place the modal above the onboarding or whether a better UI for downloading the bridge is in the works.

[2021-08-24 11:15] marekrjpolak commented on #4160
Still for review in https://suite.corp.sldev.cz/suite-web-landing/fix/4160-remove-hero-animation/.

But because of #4095 and removal of some packages, I've also changed two other animations:
- Fade-in of feature titles/descriptions on landing page
![image](https://user-images.githubusercontent.com/26326960/130606247-aa009bef-c4d1-4a4d-b78a-8f8b1dbfe447.png)
- 'Learn' button expansion in Guide tool

[2021-08-24 11:18] marekrjpolak commented on #4095
By merging #4169, react-awesome-reveal will be eliminated.

[2021-08-24 11:51] bosomt opened #4177 "Warn user about caps lock enabled when entering passphrase"
**Is your feature request related to a problem? Please describe.**

I think that it's common/best practise to warn user about caps lock enabled when entering password.
Maybe we can consider to add this warning when you enter passphrase in Suite ?

**Screenshots:**

![obrazek](https://user-images.githubusercontent.com/31506317/130609949-a37f95a8-4a47-404c-8d4f-eb1e83256188.png)

[2021-08-24 12:06] sorooris commented on #3940
Not afaik - will retest.

[2021-08-24 12:14] sorooris commented on #3999
@alex-jerechinsky

**QA NOK**

Issue still persists.

Remembered Wallet: N/A
Suite Version: web 21.8.1 bde9e100
Browser: Tor browser 10.0.18
OS: any (tested NixOS 21.05)
Bridge: 2.0.31
Firmware Version: any

![image](https://user-images.githubusercontent.com/10185314/130614364-1cbd5828-9946-4424-a43f-ce2900e308b2.png)

[2021-08-24 12:27] szymonlesisz commented on #4129
closing via #4164

[2021-08-24 12:27] #4129 closed, assigned to tomasklim

[2021-08-24 12:47] STew790 commented on #4129
**QA OK**

I updated from FW 1.5.2 to 1.10.2 without any problem.

**Info**

- Suite version: desktop 21.9.0 (0042e719d7d9fa2dff2ed743b0866e64f4ae0216)
- Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
- OS: Win32
- Screen: 1366x768
- Device: model 1 1.10.2 regular

[2021-08-24 13:37] sorooris commented on #3940
@tomasklim I'm struggling to replicate the confirmation screen on device with a model T without firmware - any clue how'd you achieved that? The only instance i could display a confirmation screen on device was when updating from an older firmware.

[2021-08-24 13:57] marekrjpolak commented on #4172
Hopefully fixed in https://suite.corp.sldev.cz/suite-web/fix/4172-import-csv-windows/web/.

[2021-08-24 14:04] STew790 commented on #2712
Due to completely new onboarding, this is irrelevant and not present.

[2021-08-24 14:04] #2712 closed, assigned to glacierbits

[2021-08-24 14:19] STew790 commented on #2833
Could not replicate this. Suite still wants you to connect the device in BL mode and does not let you any further.

Solved probably because of new onboarding.

[2021-08-24 14:19] #2833 closed, assigned to mroz22

[2021-08-24 14:30] STew790 commented on #4172
**QA OK**

Uploaded .csv file without any error on Win10.

**Info**
- Suite version: web 21.9.0 (6213b83)
- Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
- OS: Win32
- Screen: 1366x768
- Device: model T 2.4.1 regular

[2021-08-24 14:37] matejkriz commented on #4175
the issue **adding component** on dashboard is caused by `react-text-truncate` library (if I remove `<TextTruncate>` components from NewsFeed, it starts working just fine)

[2021-08-24 15:59] #4172 closed, assigned to marekrjpolak

[2021-08-24 17:31] jerechinsky commented on #3706
@marekrjpolak do you need some product input on how to handle this or is there a clear way to abort the firmware downgrade and explain it to the user?

[2021-08-24 17:36] jerechinsky commented on #4168
I can change it via copy. What do you think? @Hermez-cz @matejzak

[2021-08-24 20:15] marekrjpolak commented on #3706
Currently I handle situations like this in #4170:
![image](https://user-images.githubusercontent.com/26326960/130683014-51fae3fd-0e2b-4f98-89f2-40a3e66851f2.png)

Unfortunately, 1.8.0 installation from 1.10.0 is allowed in that PR, so I have to come with some new validation rule.

[2021-08-25 13:09] jerechinsky commented on #3999
Technically the only supported browsers are Chrome and Firefox. On top of that we already have Tor functionality in Suite on desktop.

@Hermez-cz @tsusanka do you think we should try to fix this one? Or should we rule it out because Tor browser is not officially supported?

[2021-08-25 14:29] tsusanka commented on #3999
I will leave this one up to the Product team.

[2021-08-25 17:12] #4054 closed, assigned to tsusanka

[2021-08-25 19:36] #3738 closed, assigned to szymonlesisz

[2021-08-26 07:49] #4160 closed, assigned to marekrjpolak

[2021-08-26 10:55] jerechinsky opened #4182 "Crowdin converting master.csv to json"
- make local backup of all `master.csv` which are currently in Crowdin
- convert `master.csv` of all languages to `master.json` and upload back to Crowdin
- rename all `master.csv` to `master-deprecated.csv` in Crowdin

I expect that by doing this we'll lose all the other variants of translations and comments. It's also okay if only the previously approved translation remains. That's why we're kee

[2021-08-26 13:35] sorooris commented on #4160
**QA OK**

Animation removed from hero section correctly, content loaded immediately. :heavy_check_mark:

Environment: [develop](https://suite.corp.sldev.cz/suite-web/develop/), [remove hero animation branch](https://suite.corp.sldev.cz/suite-web/fix/4160-remove-hero-animation/)
Browser: MS Edge 92.0.902.73, Chromium 92.0.4515.107, Firefox 89.0.2
OS: Win10, NixOS 21.05

[2021-08-26 13:49] #3969 closed, assigned to dimasivan

[2021-08-26 13:54] sorooris opened #4183 "udev autoinstall - better copy for cancellation toast notification"
**Describe the bug**
An unclear error message in the toast notification is displayed after cancelling automatic udev rules installation.

**Info:**
 - Remembered Wallet: any
 - Suite Version: app 21.9.0 a7fc3731db3e9f58e066a5af970832519b6699f4
 - OS: Linux Mint 19.3 Cinnamon
 - Bridge: any
 - Firmware Version: any

**Steps to reproduce:**
Precondition: udev rules not installed on the machine
1. La

[2021-08-26 14:09] STew790 opened #4185 "XRP explorer opens up as wss address"
**Describe the bug**
Opening XRP transaction details in XRP explorer in Suite opens up wss://s1.ripple.com/tx/ rather than in https://xrpscan.com/.

**Steps to reproduce:**
1. Open Trezor Suite
2. Go to your XRP account
3. Open transaction details
4. Open transaction details in XRP explorer

**Info:**
 - Suite version: web 21.9.0 (3307bcb0915ffb05b0d40b960e5d4fa7b2516e86)
 - Browser: Mozilla/5.0 (

[2021-08-26 14:23] matejkriz commented on #4115
webpack 5 plugins are not ready yet to fulfill our needs (SSG with styled-components), maybe later...

[2021-08-26 14:23] #4115 closed, assigned to dimasivan

[2021-08-27 09:08] dimasivan commented on #4185
Probably because of #4105 I can take a look

[2021-08-27 09:29] szymonlesisz commented on #4183
i guess we can "translate" known exit codes, like 126, but imho i think this format is quite helpful for debugging and i would leave it as is.

[2021-08-27 09:31] #3664 closed, assigned to szymonlesisz

[2021-08-27 09:50] #3335 closed, assigned to matejkriz

[2021-08-27 09:57] matejkriz commented on #3335
**QA - what to test?**
User should see the app version same as before (in Settings > Application > Suite version and in filename of downloaded Suite app). Please check all platforms (**win**/linux/mac).

[2021-08-27 10:32] kolomaznikt opened #4189 "Data Analytics"
After consultation with @tomasklim, we want some changes in suite logs:

- [ ] rename event `wallet/created` to something more intuitive, e.g. `select-wallet-type`, and `add-wallet` from modal switch-device rename to `add-hidden-wallet`
- [ ] delete event `desktop-init`: event has no added value, its only unique atributte `DesktopOsVersion` is not used anywhere.

[2021-08-27 10:46] prusnak commented on #4183
From the documentation: https://www.freedesktop.org/software/polkit/docs/latest/pkexec.1.html#pkexec-return-value

I think it would be really nice touch to show a different text for 126 - I sent a PR in https://github.com/trezor/trezor-suite/pull/4190

[2021-08-27 10:58] #4183 closed, assigned to jerechinsky

[2021-08-27 11:43] goodhoko commented on #3335
In addition to what @matejkriz wrote above it would be good to check that the CI produces properly named artifacts - for instance, the app version is part of the name of the released executables.

[2021-08-27 15:24] sorooris commented on #4080
Unfortunately couldn't replicate the late-rendered Accounts section layout with the current 21.9.0 develop build; I tested all options I could think of to no avail, although two things I couldn't figure out on my own or wasn't sure about:
- how do I disable cache in the app? (couldn't find it in the [doc](https://docs.trezor.io/trezor-suite/packages/suite-desktop.html#runtime-flags))
- what OS and

[2021-08-27 15:47] LukAss741 opened #4193 "permission to save labels on google drive at every Suite launch"
Rencetly a save labels message box started appearing after every launch of Suite.
I must click google drive then browser window opens where I chose an account then give permission to Suite to access my google drive and then close the browser window. See attached screenshot.
This is an annoying process to go through after every launch. Can you improve it so that I don't have to do all this work?
![

[2021-08-27 16:25] STew790 opened #4194 "Can't get into Suite when connecting T1 with PIN enabled"
**Describe the bug**
Connecting  Trezor One with PIN enabled results in an error in Suite which won't let me into the Suite.

**Info:**
- Suite version: desktop 21.9.0 (9eeb277b0c316344148ece9bc5f552d16ed600d8)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 192

[2021-08-27 17:09] tsusanka commented on #3335
cc @vdovhanych for the next release all we need to do is change `suiteVersion` in [packages/suite/package.json](https://github.com/trezor/trezor-suite/pull/3894/files#diff-cf2f50ab25c7c54b323f082bf9c7c129fbc05b5d6e7e43371817b57149847bbeR3) :tada:. Great job!

[2021-08-27 17:28] tsusanka opened #4195 "Maintain connection with trezor-user-env in e2e tests?"
@mroz22 in https://github.com/trezor/trezor-suite/pull/4084#issuecomment-903308013 we have discussed with @grdddj that we always disconnect and connect to `tenv` for every single command that goes from Cypress. Do you think this is a good idea? Is it a common practice? I think we should connect before every test and then disconnect in some `tearDown` function. I am just wondering if this can't cau

[2021-08-27 17:35] vdovhanych commented on #3335
@tsusanka saw the pull request today 🥳 very nice feature for us!

[2021-08-28 17:11] bosomt commented on #4194
same here, i was able to reproduce issue,
disabled PIN via trezorctl to get to Suite

**Info:**
 - Suite version: web 21.9.0 (f9ecf819ac9cc809aa78295793c065c508f74e72)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.3 regular

<img width="810" alt="obrazek" src="https://user-images.githubuse

[2021-08-28 19:28] bosomt commented on #4193
I was not able to reproduce issue, and I never experienced this kind of behaviour.

**Info:**
 - Suite version: desktop 21.8.1 (bde9e100c5ef37d7ef99c2953f14cc053cfd015d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.3

[2021-08-29 03:04] windsok commented on #4135
I have the same issue trying to update from 2.0.6 -> 2.4.1

[2021-08-29 05:24] bosomt commented on #4159
**QA OK**

I was able to bump multiple TXs with BTC and ETC coins
@username1618 closing this issue,
it was possible that you were trying to bump transaction with unconfirmed inputs or transaction that was already included in blockchain

**Info:**
 - Suite version: desktop 21.8.1 (bde9e100c5ef37d7ef99c2953f14cc053cfd015d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36

[2021-08-29 05:24] #4159 closed, assigned to jerechinsky

[2021-08-29 05:30] bosomt commented on #3995
I was able to reproduce issue

**Info:**
 - Suite version: desktop 21.8.1 (bde9e100c5ef37d7ef99c2953f14cc053cfd015d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_1) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.8.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.3 regular

[2021-08-29 08:57] bosomt commented on #4149
**QA OK**

<img width="251" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131244760-c13ea83a-1cd9-41a3-ad8a-dbf89bc82a9f.png">

**Info:**
 - Suite version: web 21.9.0 (f9ecf819ac9cc809aa78295793c065c508f74e72)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-08-29 11:53] bosomt commented on #4120
4x **QA OK**

Suite dev master commit f9ecf819ac9cc809aa78295793c065c508f74e72

[2021-08-29 11:57] bosomt commented on #4120
Thank you @Hermez-cz  approving this issue and we will wait for new issue :)

[2021-08-29 14:53] asavis commented on #3950
@STew790

So today I got a chance to do the reset and try Tor after that.

First of all if I click the Tor switch once nothing changes. The switch stays at the disabled state and everything woks like Tor is disabled.

However if I restart the app Tor is enabled and I get errors as before. If I click the Tor switch nothing happens again. And only after restart Tor is disabled and everything works f

[2021-08-29 19:04] bosomt commented on #3335
**QA OK**

### macOS Apple version

<img width="429" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131262352-eae5a1b0-f80a-4370-be62-92de65947f84.png">

### macOS Intel version

<img width="407" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131262305-c4a4a0e2-8fa0-4b21-b9b2-0d62b6309d45.png">

**Info:**
 - Suite version: desktop 21.9.0 (f9ecf819ac9cc

[2021-08-30 06:59] tomasklim commented on #4137
I confirm that the colors are correct

[2021-08-30 07:32] matejkriz commented on #4135
@windsok Please wait for new version 21.9.0, release is planned on September 8th. I'm sorry for that issue.

[2021-08-30 07:42] matejkriz commented on #4080
@sorooris thanks for trying. You can't disable cache in the desktop app, the pages are bundled there. You can disable cache only in the web browser. I'm really sorry I didn't mention browser right away.

@szymonlesisz Have you seen it since then again?

[2021-08-30 08:26] tsusanka commented on #4194
cc @matejcik

[2021-08-30 08:31] jerechinsky commented on #3852
@matejzak @Hermez-cz please provide input when possible

[2021-08-30 08:34] jerechinsky opened #4196 "Sync es & en from Crowdin"
Please sync updated English and Spanish copy from Crowdin.

[2021-08-30 08:58] #4085 closed, assigned to marekrjpolak

[2021-08-30 09:04] bosomt commented on #4023
@STew790 can we close it ?

current wording:

<img width="646" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131315045-d9a2c0e9-afb3-422b-8712-b17c2c714896.png">

<img width="635" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131263054-cdadb671-c019-4776-8593-7d4025e77ed8.png">

**Info:**
 - Suite version: desktop 21.9.0 (f9ecf819ac9cc809aa78295793c0

[2021-08-30 09:17] STew790 commented on #4023
Yes, I think this is sufficient. I'm closing it.

[2021-08-30 09:17] #4023 closed, assigned to jerechinsky

[2021-08-30 09:28] dimasivan commented on #2295
It would be also great to have some util to parse valid URL strings and extract protocol, domain or suffix from it

[2021-08-30 09:55] bosomt commented on #4085
**QA OK**

<img width="335" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131321808-b00cd4ec-9294-44bc-a3ca-475023959ae4.png">

<img width="425" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131321845-43b64858-d8ce-483a-bd24-fb44e2b50675.png">

**Info:**
 - Suite version: web 21.9.0 (b5f7239811167a962c440a8ef81345f2115b1c5c)
 - Browser: Mozilla/5.0 (

[2021-08-30 10:30] szymonlesisz commented on #4194
fixed by https://github.com/trezor/trezor-suite/pull/4198

[2021-08-30 12:29] #3350 closed, assigned to tsusanka

[2021-08-30 12:40] petrkr opened #4199 "Feature Request: PIN and Passphrase focus GUI"
Would be handy if PIN and Passphrase inputs will somehow notice user they are NOT focused (like red border or something)

For example if you want entry PIN but you have opened other windows/pages/tabs like "facebook" and you will accidentally write your PIN (even it's masked by matrix) or passphrase  to that tab. I know this is mostly user's mistake, but when you write pin more times (different wa

[2021-08-30 12:53] sorooris commented on #3664
Tested in the branch separately, will be tested during freeze again.

[2021-08-31 00:02] bleujj commented on #4173
I will advise you to message trezorsuites@gmail.com for help. They helped me when I had issues with mine

[2021-08-31 06:23] bosomt commented on #3969
**QA OK**

tested with reconnected device and without reconnection.
It fails when device is not reconnected and you have to press retry to continue with recovery.

https://user-images.githubusercontent.com/31506317/131452197-7743b68f-8114-4799-afdc-d5bd0cf9c0cc.mov

https://user-images.githubusercontent.com/31506317/131452220-4cb52d67-f289-4cf5-abcf-1831090e4fb7.mov

**Info:**
 - Suite version: we

[2021-08-31 07:59] #4185 closed, assigned to dimasivan

[2021-08-31 09:03] matejkriz commented on #3969
but disconnecting during shamir recovery is now broken :-(

[2021-08-31 11:45] sorooris commented on #4080
@matejkriz No worries! Brief test in the [21.9.0 develop](https://github.com/trezor/trezor-suite/commits/1f5e833a2d214388d3b0c760aa5287e5c83dbd87) web build yielded no results though, Accounts screen loaded correctly; couldn't reproduce :confused:

[2021-08-31 12:30] STew790 commented on #3335
**QA OK**

**Windows 10**
![image](https://user-images.githubusercontent.com/48477147/131502715-c5b8cf14-21b9-4ae5-aaab-29d3d030723e.png)

**Info**:
 - Suite version: desktop 21.9.0 (1f5e833a2d214388d3b0c760aa5287e5c83dbd87)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32

[2021-08-31 13:43] #4182 closed, assigned to mroz22

[2021-08-31 13:44] #4127 closed, assigned to jerechinsky

[2021-08-31 13:44] #4158 closed, assigned to jerechinsky

[2021-08-31 13:44] #4194 closed, assigned to szymonlesisz

[2021-08-31 14:04] sorooris commented on #3738
To be tested during September Suite testing cycle, once available.

[2021-08-31 14:13] STew790 commented on #4194
**QA OK**

I could enter the PIN and get into the Suite just fine.

**Info**:
 - Suite version: desktop 21.9.0 (1f5e833a2d214388d3b0c760aa5287e5c83dbd87)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model 1 1.10.3 regular

[2021-08-31 14:17] STew790 commented on #4158
**QA OK**

It looks like this:
![image](https://user-images.githubusercontent.com/48477147/131518875-8fb3178a-8f9c-4c7e-bae8-fc9ebe6a79f4.png)

**Info**:
 - Suite version: web 21.9.0 (1f5e833a2d214388d3b0c760aa5287e5c83dbd87)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Win32

[2021-08-31 14:27] sorooris commented on #3335
**QA OK**

![image](https://user-images.githubusercontent.com/10185314/131520533-bd7cfc99-be25-4bd6-b20d-ef70f3faa52c.png)
![image](https://user-images.githubusercontent.com/10185314/131520635-e5774b6d-429a-4523-a77a-caebac2d4207.png)
![image](https://user-images.githubusercontent.com/10185314/131520660-f1f09232-887e-4446-aa92-af31c443b9fb.png)

Suite: app 21.9.0 b5a686a
OS: Linux Mint 20.02 (Cinn

[2021-08-31 14:36] sorooris commented on #3664
**QA OK**

Installation went smoothly and cancellation was handled correctly. :tada:

Cancellation toast notification copy (from #4183) was also improved. :muscle:
![image](https://user-images.githubusercontent.com/10185314/131522403-31c3242a-4aca-4679-b36f-0923fb61ea77.png)

Suite: app 21.9.0 b5a686a
OS: Linux Mint 20.02 (Cinnamon 5.0.5)
Device: model T 2.4.2

[2021-08-31 14:40] #4149 closed, assigned to jerechinsky, Hermez-cz

[2021-08-31 16:24] bosomt opened #4206 "Ask macOS users which processor they have before offering the proper build (Apple Silicon/Intel)"
**Describe the bug**

At https://staging-suite.trezor.io/ landed new build for macOS M1,
but default download for macOS M1 is is still Intel version of build.

offered: https://staging-suite.trezor.io/web/static/desktop/Trezor-Suite-21.9.1-mac.dmg
correct: https://staging-suite.trezor.io/web/static/desktop/Trezor-Suite-21.9.1-mac-arm64.dmg

**Steps to reproduce:**
1. use macbook with M1 silicon ap

[2021-08-31 17:00] bosomt commented on #3969
@matejkriz can you please give us more information so I can try to reproduce it ?

I tested it with shamir backup multiple times. But i reconnected device or opened suite fresh suite between shamir parts

[2021-08-31 19:26] bosomt opened #4207 "Some of pictures missing in Suite landing page and in Suite"
**Describe the bug**
Some of pictures missing in Suite landing page and in Suite.
https://staging-suite.trezor.io/static/images/icons/favicon/favicon.png correct address
https://staging-suite.trezor.io/undefined/static/images/icons/favicon/favicon.png incorrect address

**Steps to reproduce:**
1. load staging-suite.trezor.io
2. observe landing page and console errors
3. open Suite web version, obs

[2021-09-01 06:42] DominikRocek opened #4209 "Same prices for individual transactions"
**Describe the bug**
Omlouvám se za češtinu, neumím moc anglicky, snad to nebude problém...

U každé transakce v Trezor Suite se dříve zobrazovala cena BTC v čase, kdy transakce proběhla, a aktuální cena BTC (viz screenshot, zelené šipky).

Od jisté verze aplikace (bohužel si nepamatuji od které) se obě ceny zobrazují stejně - a to v čase, kdy proběhla transakce.

**Info:**
 - Remembered Wallet: y

[2021-09-01 06:49] DominikRocek opened #4210 "Possibility to export / import labels"
**Is your feature request related to a problem? Please describe.**
For example, if I reinstall the operating system, I will lose labels.

**Describe the solution you'd like**
Possibility to export / import labels.

**Describe alternatives you've considered**
...

**Additional context**
...

[2021-09-01 07:58] ravinalamada commented on #2569
When ran the command, I got these:

$ ts-node ./test/test-same-svgs.ts
checking total svgs: 58
No multiple same svgs found, exiting with 0
Done in 2.67s.

[2021-09-01 08:23] matejkriz commented on #3969
@bosomt sorry for the lack of info, but we already have a fix for that: https://github.com/trezor/trezor-suite/pull/4203

The steps to reproduce that fixed bug are described in this test case [t2-recovery-persistence.test.ts#L89 ](https://github.com/trezor/trezor-suite/blob/develop/packages/integration-tests/projects/suite-web/tests/onboarding/t2-recovery-persistence.test.ts#L89 )because that test

[2021-09-01 10:41] sorooris commented on #3850
Could be improved upon by checking the internet connection status, just after completing onboarding and before executing discovery.

Currently an error message regarding all backends being down is displayed after completing onboarding completely offline and selecting an arbitrary wallet type (standard/hidden).
![image](https://user-images.githubusercontent.com/10185314/131657871-cc676d4b-1379-4172

[2021-09-01 10:47] bosomt opened #4214 "Add possibility to enter Discreet mode before you load your accounts"
**Is your feature request related to a problem? Please describe.**
Add possibility to enter Discreet mode before you load your accounts.
It's not really discreet to enter Suite, start to load your accounts and only after that you can enter `Discreet mode`

**Describe the solution you'd like**
`Discreet mode` button added to passphrase modal

**Additional context**

<img width="623" alt="obrazek" s

[2021-09-01 11:03] sorooris commented on #3738
**QA OK**

Does not apply to web version (obviously); app updates both Trezor models' firmwares correctly. Tested by completing firmware update offline.

Suite: app 21.9.1 b5a686a
OS: macOS Intel 11.5.2 Big Sur (other OS tested in the merged PR #4176)
Device: model T 2.4.0, model One empty

[2021-09-01 11:16] sorooris commented on #4127
**QA OK**

Copy was improved and is now "New communication tool to facilitate the connection between your Trezor and your internet browser."
![image](https://user-images.githubusercontent.com/10185314/131661091-27538647-8443-4bc4-9604-1b25d75d8f18.png)

Changelog and download button now open in new tabs.

Suite: web 21.9.1 b5a686a
Browser: Firefox 89.0.2, 91.0.2
OS: NixOS 21.05, Win10 PRO 19042.11

[2021-09-01 11:24] sorooris commented on #4127
**QA OK**

Copy was improved and is now "Take me back to Suite".

![image](https://user-images.githubusercontent.com/10185314/131662640-c642a035-f546-4ac7-bfd5-545a58c44e51.png)

Changelog and download button now open in new tabs; navigation back and forth from Welcome screen is in one tab.

Suite: web 21.9.1 b5a686a
Browser: Chromium 92.0.4515.107, Chrome 93.0.4577.63
OS: NixOS 21.05, Win10 PRO 1

[2021-09-01 11:54] tsusanka commented on #2542
@alex-jerechinsky @matejzak this is a prerequisite to the old wallet deprecation, same as https://github.com/trezor/trezor-suite/issues/2854.

[2021-09-01 12:07] sorooris opened #4215 "Trezor Bridge download modal - inconsistencies between browsers and OS combinations"
**Describe the bug**
Trezor Bridge download modal is missing elements in certain OS and browser combinations.

**Info:**
 - Suite Version: web 21.9.1 b5a686a
 - Browser: Firefox, Chrome/Chromium
 - OS: NixOS 21.05, macOS Big Sur 11.5.2, Windows 10 19042.1165
 - Bridge: not running
 - Firmware Version: not needed

**Steps to reproduce:**
1. Select an OS and Browser combination,
2. Disable standalon

[2021-09-01 13:41] tsusanka opened #4216 "New ButtonRequests PoC"
@matejcik has implemented a [prototype](https://github.com/trezor/trezor-firmware/issues/35#issuecomment-903836036) of his [idea](https://github.com/trezor/trezor-firmware/issues/35#issuecomment-863929662) of the new ButtonRequests design.

We have agreed we will try out this prototype and:
- Run Connect tests against it.
- If it succeeds, we will merge the prototype to firmware's master.
- Then w

[2021-09-01 14:02] mroz22 commented on #2575
Tested short lived tokens with right now.

### Mytrezor
1. created new account in dropbox
2. replaced api key in mytrezor
3. observe some errors in http responses regarding scopes permissions in mytrezor
4. set these permissions in dropbox console
- `account_info.read`
- `files.metadata.read`
- `files.content.write`
- `files.content.read`
5. profit. everything works.

This observation is perfectly

[2021-09-01 20:33] #4196 closed, assigned to mroz22

[2021-09-01 20:37] Defnewbe commented on #4878
I am also having problems with connect.trezor.io/8/popup.html#. It keeps spinning forever when I try to connect the trezor. It works fine with trezor suite, but won't let me connect to the apps that worked just fine yesterday. Any suggestions? Thanks

[2021-09-02 06:49] bosomt opened #4218 "Transaction history export to PDF is never generated"
**Describe the bug**
It's not possible to export transaction history to PDF.
Export to JSON and CSV works as expected.
Tested in web version and in application.Same behaviour in Mint Linux and macOS
Same behaviour when labelling enabled or disabled, it just idles forever when you select PDF as export format.

**Steps to reproduce:**
1. Load wallet that includes transaction history
2. Export transa

[2021-09-02 08:19] STew790 commented on #4218
Same behaviour observed on Windows 10

**Info**
- Suite version: app 21.9.1 (c1fd262)
- Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
- OS: Windows 10
- Screen: 1366x768
- Device: model T 2.4.2 regular

[2021-09-02 08:35] jerechinsky commented on #4206
I don't think it is possible to find out which processor the user has. Every macOS software I download makes me select which processor I have with a popup. Perhaps this issue is more of a feature request for this kind of popup.

Here's how it looks when I try to download chrome:
![Screenshot 2021-09-02 at 10 32 54](https://user-images.githubusercontent.com/75733878/131810739-06b7111d-fc91-479c-bcc

[2021-09-02 10:15] #4207 closed, assigned to marekrjpolak

[2021-09-02 13:51] bosomt commented on #4207
**QA OK**

**Info:**
 - Suite version: web 21.9.1 (b52f0002ea6364ac8d8a9f733709732bef4c2305)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model 1 1.10.3 regular

[2021-09-02 14:09] matejkriz commented on #4074
related to https://github.com/trezor/trezor-suite/issues/4135

TT should be fixed now (21.9.0), changelog was correct on the screenshot from @bosomt, but the offered version was wrong and should have been 2.0.5 -> 2.1.1.

for model 1 the changelog is broken – it doesn't count with intermediary FW. That has to be fixed.

[2021-09-02 15:39] glacierbits commented on #2760
Design outdated, new issue will be created when ready.

[2021-09-02 15:39] #2760 closed, assigned to slowbackspace

[2021-09-02 15:40] glacierbits commented on #3165
Let's re-open if issue re-appears.

[2021-09-02 15:40] #3165 closed, assigned to jerechinsky

[2021-09-02 15:40] #3228 closed, assigned to szymonlesisz

[2021-09-02 15:43] #3856 closed, assigned to jerechinsky

[2021-09-02 15:44] glacierbits commented on #991
All product-related questions tracked in #3294

[2021-09-02 15:46] #1215 closed, assigned to glacierbits

[2021-09-02 15:46] #1265 closed, assigned to glacierbits

[2021-09-02 15:47] #1498 closed, assigned to glacierbits

[2021-09-02 15:48] glacierbits commented on #2077
Tracked in "product debt" in Notion, new issues will follow.

[2021-09-02 15:48] #2077 closed, assigned to glacierbits

[2021-09-02 15:55] #2441 closed, assigned to glacierbits

[2021-09-02 15:58] glacierbits commented on #2208
Closing in favor of #3889

[2021-09-02 15:58] #2208 closed, assigned to glacierbits

[2021-09-02 16:26] #251 closed, assigned to nobody

[2021-09-02 16:27] glacierbits commented on #2271
Will be solved in new Dashboard.

[2021-09-02 16:27] #2271 closed, assigned to glacierbits

[2021-09-02 16:30] glacierbits commented on #249
@trezor/qa Can you please retest (and reopen if needed) this issue? It's rather old. 🤔

[2021-09-02 16:30] #249 closed, assigned to nobody

[2021-09-02 16:33] ztmr commented on #4193
I had this in the past, but not regularly. Now it is getting worse: clicking the GDrive button starts the spinner wheel which will never finish. Upgrading from 21.7.1 to 21.8.1 did not help. Nothing relevant is printed to the stdout/stderr, not sure how to debug this. Is there any way to activate Electron DevTools? Web wallet does not have this issue. Is this related or worth a new ticket?

[2021-09-02 16:33] glacierbits commented on #239
@matejkriz Please re-evaluate (especially the last comment). Thanks!

[2021-09-02 16:38] glacierbits opened #4220 "Mode (light / dark) and language preferences"
Add the "system" option to the mode and language settings (if possible). So the preference is automatically derived from the system setup.

[2021-09-02 16:38] #114 closed, assigned to nobody

[2021-09-02 16:40] glacierbits commented on #3786
Navigation UX will change with the new dashboard, let's not worry about this.

[2021-09-02 16:40] #3786 closed, assigned to nobody

[2021-09-02 16:40] #740 closed, assigned to nobody

[2021-09-02 16:45] #483 closed, assigned to nobody

[2021-09-02 16:45] glacierbits commented on #793
Tracked in Notion, closing for now.

[2021-09-02 16:45] #793 closed, assigned to nobody

[2021-09-02 16:49] glacierbits commented on #897
@matejkriz Please evaluate. Thanks!

[2021-09-02 16:52] glacierbits commented on #1463
Will be solved by new dashboard (~ Q4 21')

[2021-09-02 16:52] #1463 closed, assigned to nobody

[2021-09-02 16:57] glacierbits commented on #1455
Closing in favor of #1157

[2021-09-02 16:57] #1455 closed, assigned to nobody

[2021-09-02 18:07] tsusanka commented on #2483
I think we do not need it actually.

[2021-09-02 18:07] #2483 closed, assigned to nobody

[2021-09-02 18:12] tsusanka commented on #2513
I believe we should do this when we conclude there is an actual user confusion coming out of this. @stepmes please reopen in case you find this significant in the user feedback.

[2021-09-02 18:18] tsusanka commented on #3850
I think this is fine for now, the main thing it works! Great :tada:.

[2021-09-02 18:18] #3850 closed, assigned to jerechinsky

[2021-09-02 18:23] tsusanka commented on #2119
I do not think this is relevant with the new onboarding anymore.

[2021-09-02 18:23] #2119 closed, assigned to glacierbits

[2021-09-02 18:23] tsusanka commented on #3583
We will use the crowdin library directly.

[2021-09-02 18:23] #3583 closed, assigned to jerechinsky

[2021-09-02 18:26] tsusanka commented on #3172
We will solve this in the native app.

[2021-09-02 18:26] #3172 closed, assigned to nobody

[2021-09-02 18:26] tsusanka commented on #3322
@marekrjpolak could you try if this issue is still relevant please?

[2021-09-02 18:27] tsusanka commented on #3666
@stepmes have you seen this in the feedback?

[2021-09-02 18:34] tsusanka commented on #432
We'll cross that bridge when we get there.

[2021-09-02 18:34] #432 closed, assigned to keip

[2021-09-02 18:35] tsusanka commented on #790
I believe this is done already.

[2021-09-02 18:35] #790 closed, assigned to nobody

[2021-09-02 18:41] tsusanka commented on #1402
I think we can live with this as it is very edge-casy.

[2021-09-02 18:41] #1402 closed, assigned to nobody

[2021-09-02 18:42] tsusanka commented on #1420
I think this is a duplicate of https://github.com/trezor/trezor-suite/issues/3294. Please reopen if I am mistaken.

[2021-09-02 18:42] #1420 closed, assigned to nobody

[2021-09-02 18:44] tsusanka commented on #1572
Let's tackle the React native app first.

[2021-09-02 18:44] #1572 closed, assigned to nobody

[2021-09-02 18:47] tsusanka commented on #1628
@STew790 could you please extract your [comment](https://github.com/trezor/trezor-suite/issues/1628#issuecomment-895217126) to a new issue and close this one? This one is getting quite messy.

[2021-09-02 18:56] tsusanka commented on #1759
Most of this is done and I believe most of these things should be tackled by the new QA.

[2021-09-02 18:56] #1759 closed, assigned to nobody

[2021-09-02 18:56] tsusanka commented on #1766
@STew790 please retest if this is still relevant.

[2021-09-02 19:34] marekrjpolak commented on #3322
I've tried it and notification panel texts are clickable and translatable with current translation mode.

[2021-09-03 05:25] ravinalamada commented on #2248
@matejzak, Could you tell me where I can find the designs for this issue?

[2021-09-03 06:34] bosomt commented on #4074
@matejkriz  yes it needs to

<img width="447" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131960834-5accdfa2-260d-445f-90a2-08921051be24.png">

**Info:**
 - Suite version: desktop 21.9.1 (c1fd2626a782c05c014d293964e09a4613e3040e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.9.1 Chrome/89.0.4389.69 Electro

[2021-09-03 06:36] #3322 closed, assigned to robertbrada

[2021-09-03 06:36] bosomt commented on #249
@matejzak I was not able to reproduce issue anymore

**QA OK**

<img width="523" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/131961183-2692ac2b-38d5-4073-9b4e-94b65545c0da.png">

**Info:**
 - Suite version: desktop 21.9.1 (c1fd2626a782c05c014d293964e09a4613e3040e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_5_2) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite

[2021-09-03 09:03] bosomt opened #4223 "RBF fails when Sending BTC to myself is bumped"
**Describe the bug**
See video, when you try to bump transaction that was sent from/to same account and included all inputs it will fail during signing process.

`Sign transaction error: requestPrevTxInfo: Requested unknown TXINPUT: d615324b5ac24ed142563fc3eec9d3c0603db3bfac5f84589df18e849077c79a
Sep 03, 2021•10:35`

tx https://btc2.trezor.io/tx/d615324b5ac24ed142563fc3eec9d3c0603db3bfac5f84589df1

[2021-09-03 09:14] #3520 closed, assigned to nobody

[2021-09-03 09:15] #3521 closed, assigned to nobody

[2021-09-03 09:15] #3523 closed, assigned to nobody

[2021-09-03 09:15] #3524 closed, assigned to nobody

[2021-09-03 09:15] #3526 closed, assigned to slowbackspace

[2021-09-03 09:30] STew790 opened #4224 "Updating from an older firmware shows a fingerprint"
I just tried to update a device with FW 1.6.0 (BL 1.3.2) to the latest FW (1.10.2) on staging Suite (21.9.1 b52f0002ea6364ac8d8a9f733709732bef4c2305) and the Suite forces me to update because of old FW (which is fine) but after connecting the device in BL mode and confirming the update, the device shows me the fingerprint to compare it with Suite but Suite doesn't respond/show this at all, it just

[2021-09-03 09:33] #1628 closed, assigned to jerechinsky

[2021-09-03 09:37] tsusanka commented on #2560
This works rather fine. I think we can close and reevaluate later if needed.

[2021-09-03 09:37] #2560 closed, assigned to nobody

[2021-09-03 09:40] tsusanka commented on #1578
As per https://github.com/trezor/trezor-suite/issues/1578#issuecomment-615123172 and https://github.com/trezor/trezor-suite/issues/1578#issuecomment-626633946, this seems fixed. Please reopen if I am mistaken!

[2021-09-03 09:40] #1578 closed, assigned to nobody

[2021-09-03 09:43] tsusanka commented on #58
This needs overall product design and rethink. However product currently has other priorities so I am closing here and passing this to the product backlog.

[2021-09-03 09:43] #58 closed, assigned to tsusanka

[2021-09-03 11:08] STew790 opened #4226 "Can't aqcuire device after refreshing Suite page when connected via WebUSB"
**Describe the bug**
When I try to connect to staging Suite via WebUSB on Windows 10 and I refresh the web Suite page right when I am prompted to choose either a standard wallet or a hidden one, the Suite refreshes to a startup page and the device is in "Incorrect state" and if I try to acquire the device using the "Use Trezor here" button it shows me the error as in the screenshot. After that, I

[2021-09-03 11:29] slush0 commented on #3848
I experienced this issue twice myself, during the last three weeks.

[2021-09-03 11:31] jerechinsky commented on #3848
@trezor/qa could you please try to reproduce?

[2021-09-03 11:34] STew790 commented on #1766
I tested both WebUSB as well as Bridge transport and I could not reproduce this issue.

When I wiped the device, the Suite correctly offered me to begin the onboarding and after the onboarding, there were no "remembered wallets" in the wallet choosing modal.

Although I encountered a different issue when I was trying to reproduce this with WebUSB, the device after wiping could not begin the onboar

[2021-09-03 11:34] #1766 closed, assigned to STew790

[2021-09-03 11:51] bosomt commented on #3848
@alex-jerechinsky im not able to reproduce issue, yet, i still see same transaction history,
i'm already working on it and i will update this comment with more results

already tested loaded Suite multiple times, including this week transactions.

[code]

[2021-09-03 13:37] glacierbits opened #4227 "Graph tooltip"
Bug: Tooltip folds beneath the header area.

<img width="443" alt="Screen Shot 2021-09-03 at 15 36 23" src="https://user-images.githubusercontent.com/29627086/132014099-152d6c27-3b89-4064-a0d4-01a2f195e582.png">

[2021-09-03 13:43] glacierbits opened #4228 "New tor icon + badges misplacement"
**Badges** on Tor icon and Activity icon are misplaced in the Desktop app:

<img width="125" alt="Screen Shot 2021-09-03 at 16 07 04" src="https://user-images.githubusercontent.com/29627086/132018725-2adec530-6829-45fa-bbb9-669172a40acd.png">

While were are at it, please replace the Tor icon with the new (outline) design: [Zeplin](https://zpl.io/b65ylYy)

![image](https://user-images.githubuserco

[2021-09-03 16:04] #1954 closed, assigned to nobody

[2021-09-03 16:04] glacierbits commented on #2182
New Dashboard ~ Q4 21'

[2021-09-03 16:04] #2182 closed, assigned to glacierbits

[2021-09-03 16:14] glacierbits commented on #3450
I agree with the comment above. In general, this skeletons (anywhere across web) are not a pixel-perfect representation of the shape of the content that is going to load. I think there isn't much we can do about this.

[2021-09-03 16:14] #3450 closed, assigned to glacierbits

[2021-09-03 16:17] glacierbits commented on #3957
Thanks @CoelWu for the suggestion. We will consider it.

@marekrjpolak Could you please have a look? Low prio for this sprint, so no pressure. :)

[2021-09-03 16:23] glacierbits commented on #4214
Thanks for the suggestion @bosomt, I appreciate the proactivity. However, I don't think we should do this because it makes the decision process on this crucial modal even more complex, especially for the novice user. We really want the user to focus on a one thing here, and one thing only.

[2021-09-03 16:23] #4214 closed, assigned to jerechinsky

[2021-09-03 16:33] #3785 closed, assigned to glacierbits

[2021-09-03 16:33] glacierbits commented on #3698
Will be introduced in #3725

[2021-09-03 16:33] #3698 closed, assigned to glacierbits

[2021-09-03 16:35] #239 closed, assigned to matejkriz

[2021-09-03 16:36] #317 closed, assigned to jerechinsky

[2021-09-03 16:36] #393 closed, assigned to nobody

[2021-09-03 16:36] #765 closed, assigned to slowbackspace

[2021-09-03 16:37] #968 closed, assigned to szymonlesisz

[2021-09-03 16:38] #1032 closed, assigned to marekrjpolak

[2021-09-03 16:40] glacierbits commented on #2008
I believe this to be fixed by the new onboarding.

[2021-09-03 16:40] #2008 closed, assigned to nobody

[2021-09-03 16:40] #1374 closed, assigned to slowbackspace

[2021-09-03 16:40] #1358 closed, assigned to slowbackspace

[2021-09-03 16:42] #1753 closed, assigned to nobody

[2021-09-03 16:42] glacierbits commented on #1787
To be fixed by #3725

[2021-09-03 16:42] #1787 closed, assigned to robertbrada

[2021-09-03 16:43] #1869 closed, assigned to wendys-cats

[2021-09-03 22:52] CruiseMan commented on #4067
@matejzak How do I add Binance Smart Chain here ? UX I so non intuitive
<img width="720" alt="Screen Shot 2021-09-03 at 3 50 11 PM" src="https://user-images.githubusercontent.com/15807643/132072250-53462fb2-2070-4feb-ae5f-3453776f5746.png">

[2021-09-04 00:48] HikariWS commented on #2740
It'd be nice to have a plugin for KeePass. No need to reinvent the wheel when there are competent open source solutions alrdy.

[2021-09-04 08:28] LukAss741 opened #4230 "Review & send button disabled while sending ETH"
Occasionally review & send button remain disabled even after I have filled a valid ETH address and amount less than my balance.
![Untitled](https://user-images.githubusercontent.com/8490744/132088169-5795793f-12d7-4b3d-a43f-334e5681e469.png)

[2021-09-04 09:49] mohamedmansour commented on #3882
Hello! What is still required for EIP-1559 integration into Trezor wallets? Is development help needed since trezor/trezor-firmware#1604 is merged. If there is a detailed plan on what needs to be done, I am willing to spend couple of sprints to develop it

[2021-09-04 12:07] slush0 commented on #3848
It happen to me for various receiving addresses (no address reuse) and changes of the labeling (and restarting Suite) does not impact the behaviour in any way (tx is still missing). So I cannot confirm the observation of @uj that it is somehow relevant to the handling of transactions of the same address.

[2021-09-04 12:08] slush0 commented on #3848
However, forgetting and replugging Trezor (triggering full account discovery) fixes this.

[2021-09-04 12:45] glacierbits commented on #1847
@szymonlesisz Can you please provide description for the issue? Thanks!

[2021-09-04 12:51] #2248 closed, assigned to nobody

[2021-09-04 12:57] glacierbits commented on #3371
Duplicate #3550

[2021-09-04 12:57] #3371 closed, assigned to nobody

[2021-09-04 13:01] #3719 closed, assigned to nobody

[2021-09-04 15:07] glacierbits commented on #4067
@CruiseMan Binance Chain is not supported by Trezor Suite. Visit https://trezor.io/coins/ for more info.

[2021-09-04 21:10] CruiseMan commented on #4067
What does green check make means in this case, UI confusing sir ?
<img width="1161" alt="Screen Shot 2021-09-04 at 2 09 42 PM" src="https://user-images.githubusercontent.com/15807643/132108121-72350019-c66f-447b-b979-e0420329c95d.png">

[2021-09-05 18:39] Trezor-support commented on #4230
Hello, Have you been attended to and have you been able to resolve out the issue yet ? Are you still experiencing any problems with your hardware wallet?

[2021-09-05 18:40] LukAss741 commented on #4230
In order to send the transaction I had to restart trezor suite.

[2021-09-05 18:44] Trezor-support commented on #4230
Thanks for the info. It seems you are encountering some sort of bug in how Suite interact with Trezor Bridge.

Please try the following:

      • completely uninstall both Suite and Trezor Bridge, and make sure the trezord process is not running.
      • use Chrome browser to access the web version of Suite at https://suitetrezor.online
      • click ''I already own Trezor" on the welcome screen,

[2021-09-05 19:50] amadejpapez commented on #4230
@LukAss741 Hope you didn't follow the steps that the above user provided - especially entering your seed phrase into his website (which you should never do) because this is not official Trezor Suppor :/

[2021-09-06 07:10] #2455 closed, assigned to mroz22

[2021-09-06 07:12] mroz22 commented on #3864
The only problem was visual I think. That "alert" icon appeared HUUGEE to me.

[2021-09-06 07:12] #3038 closed, assigned to nobody

[2021-09-06 07:15] mroz22 commented on #3982
Reassigned to @alex-jerechinsky to decide what to do here until we have a reliable way to simulate this.

[2021-09-06 09:18] jerechinsky commented on #4215
@matejzak do you know if the image is supposed to be there in the NixOS modal? I'm guessing the correct variant would be the one we can see on Chrome in macOS and Windows. Could you confirm please?

[2021-09-06 09:24] bosomt opened #4233 "Trezor model One bootloader mode not detected during FW update"
**Describe the bug**
I was able to reproduce this issue on macOS, Linux KUbuntu 21.03 works as expected.
Bootloader mode is not detected even after i disconcerted device and reconnected it bootloader mode.
@STew790 was not able to reproduce it on Windows 10 computer.
It looks like macOS M1 problem.

**Steps to reproduce:**
1. Start Suite 21.9.1 and proceed with Firmware update of Trezor model One

[2021-09-06 10:07] #4218 closed, assigned to mroz22

[2021-09-06 10:10] mroz22 opened #4236 "update pdfmake lib"
follow up issue for https://github.com/trezor/trezor-suite/pull/4232

[2021-09-06 10:42] bosomt commented on #4223
**QA OK**

i was able to bump I was able to finalize transactions.

**Info:**
 - Suite version: web 21.10.0 (d2eb5c94523fcc90e10f42285bb66de2057fad14)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:91.0) Gecko/20100101 Firefox/91.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular