[2022-10-27 12:11] #6625 closed, assigned to komret

[2022-10-27 13:26] komret opened #6694 "Amount increases whenever send form is reopened"
**Describe the bug**
Amount gets multiplied whenever send form is reopened.

**Steps to reproduce:**
1. enter a valid amount into sendform
2. close send form or navigate elsewhere
3. reopen it

**Info:**
 - Suite version: web 22.11.0 (308c6aad3d5e826ccc28dc804325985279625155)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/

[2022-10-27 17:25] bosomt commented on #6216
**QA OK**

**Info:**
 - Suite version: desktop 22.11.0 (54da46e34ad128b493cc1f43112dd9ebc84434e2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision fac4e2f157ca7d0c782b8a55175478e476ea7e28)
 - Trans

[2022-10-27 17:25] bosomt commented on #6522
**QA OK**

**Info:**
 - Suite version: desktop 22.11.0 (54da46e34ad128b493cc1f43112dd9ebc84434e2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision fac4e2f157ca7d0c782b8a55175478e476ea7e28)
 - Trans

[2022-10-28 09:22] szymonlesisz opened #6698 "Coinjoin followup tracking"
Tracking list for followups:
- [x] Restore coinjoin session: `coinjoinAccountActions.restoreCoinjoinSession`

- [x] Catch known network errors in `@trezor/coinjoin/utils/http` like `ECONNRESET` network timeout (tor circuit error) and optionally retry N times or retry until optional deadline

- [ ] extend `coordinatorRequest` to return used params if request fails. coordinator allows to repeat the

[2022-10-28 10:44] komret commented on #6215
Regarding the banned transactions tag:
1) I am only implementing this for UTXOs lower than 5000 sat as the blacklisting has not been implemented yet if I'm not mistaken.
2) Are we going to differentiate the tooltip message between blacklisted and small UTXOs?
3) What exactly should the tooltip message say?

[2022-10-28 18:41] komret commented on #6215
The anonymity indicator uses a different icon and wording than the global indicator and a similar component in transaction detail. Is this intentional? Unless I am missing something, a unified representation seems better.
![Screenshot 2022-10-28 at 20 39 37](https://user-images.githubusercontent.com/42465546/198708860-25ef7640-656f-4390-b2ea-7384868df1dd.png)
![Screenshot 2022-10-28 at 20 35 32](h

[2022-10-29 14:00] mlipscombe commented on #6507
Same here on a completely fresh install with a brand new Trezor running on Windows 11.  Installing 22.5.3 works, but an upgrade to the latest version from that version fails to launch with the same error as the other reporters.  @hynek-jina can this be re-opened please?

[2022-10-29 19:16] tsusanka commented on #991
With the PR merged lets close again?

[2022-10-29 19:51] #6573 closed, assigned to bouchja1

[2022-10-31 02:52] juriczech commented on #6551
@mnuky This task is no longer valid and should be closed, right?

[2022-10-31 02:52] #6551 closed, assigned to juriczech

[2022-10-31 04:41] juriczech commented on #6683
@mnuky Can you please provide some unsuported XPUB that we could use to be able to work on this?

[2022-10-31 05:02] hynek-jina commented on #6215
@komret
1. OK → I'll create a followup
2. Yes, please
3.  "Not available for CoinJoin - too small amount"

**Ad icons**
Thanks for noticing that... I agree with you. ~~I've asked Ondra, but If that blocks you, please use the two-headed icon meanwhile.~~
Please use three-headed icons everywhere.

[2022-10-31 05:05] hynek-jina commented on #6507
Sure, thanks for your report...

@mlipscombe @pilsnerbeer
Please write as much as you can to help us reproduce the issue...

[2022-10-31 05:07] #991 closed, assigned to nobody

[2022-10-31 08:05] mnuky commented on #6683
try this one, it is Dogecoin XPUB
<img width="482" alt="Screenshot 2022-10-31 at 9 04 52" src="https://user-images.githubusercontent.com/84183817/198960618-6aa321a8-ecc4-4081-8773-49213fc8ff53.png">

[2022-10-31 09:03] #6271 closed, assigned to bouchja1

[2022-10-31 09:25] mnuky opened #6701 "Change BTC units - settings"
As a user I would like to be able to change BTC units between BTC and satoshi in order to better see the balance when I have less than BTC.

There is a new section in Settings under Localisation area called Bitcoin units. In the settings user can switch between Satoshis or BTC units via Bottom sheet radio buttons.

Acceptance criteria:
- User can change the BTC units in settings
- User can choose

[2022-10-31 09:29] mnuky opened #6702 "Discreet mode"
As a user I would like to be able to hide my amounts in the app in order to increase my privacy when I'm e.g. doing printscreen for support or would like to show something in the app to my friend

[2022-10-31 09:32] mnuky opened #6703 "Polishing: Homepage / dashboard UI"
Adjust UI of Dashboard / homepage according to Figma designs.
Note: Transactions will not be on Dashboard now, please ignore it in design.

[2022-10-31 09:34] mnuky opened #6704 "Polishing My asset detail UI"
Please adjust the My asset detail page according to design in Figma

[2022-10-31 09:43] bosomt commented on #6586
**QA OK**

**Info:**
 - Suite version: desktop 22.11.0 (5d1bc34fcbf5ed351a680893b6586cb8bbca8c08)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision fac4e2f157ca7d0c782b8a55175478e476ea7e28)
 - Trans

[2022-10-31 10:03] bosomt commented on #991
**QA OK**

**Info:**
 - Suite version: desktop 22.11.0 (5d1bc34fcbf5ed351a680893b6586cb8bbca8c08)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision fac4e2f157ca7d0c782b8a55175478e476ea7e28)
 - Trans

[2022-10-31 10:18] mnuky opened #6706 "Make the graph interactive"
All issuer related to display the graph:
1. We need help from other teams to do some changes: connect, suite, blockbook - @bouchja1 is working on the proposal list which we will discuss
2. We are not sure whether current library gives us enough freedom to make the graph interactive - point the finger on it, move and see the changes according my movements - would we use the library we have? Do we n

[2022-10-31 10:52] bosomt opened #6707 "CoinJoin ignores that device was disconnected"
**Describe the bug**
CoinJoin ignores that device was disconnected and is only remembered.
Suite even shows that transactions and being signed and warns you to don't disconnect device that's already disconnected.
See screenshots and video.

**Steps to reproduce:**
1. Connect device and start Coinjoin
2. Remember wallet and disconnect device
3. Observe Suite behavior.

**Info:**
 - Suite version: d

[2022-10-31 10:56] hynek-jina commented on #6215
And please stick to `1 in X` representation of anonymity level...

[2022-10-31 11:15] STew790 commented on #6694
We were actually not able to reproduce this on current web or app dev version. Could you try it again, please?

**Info:**
 - Suite version: web 22.11.0 (4e295f1fb821653c6fcc797ef129acf6f584749b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.2 Universal (revision 0d87b

[2022-10-31 12:53] mlipscombe commented on #6507
@hynek-jina it is broken from version [v22.8.1](https://github.com/trezor/trezor-suite/releases/tag/v22.8.1) onwards.  [v22.7.3](https://github.com/trezor/trezor-suite/releases/tag/v22.7.3) installs and runs successfully, but installing any later version from the releases page, or letting the application update itself to the latest version results in the error posted by @pilsnerbeer.

[2022-10-31 13:12] #6621 closed, assigned to juriczech

[2022-10-31 13:12] #6241 closed, assigned to juriczech

[2022-10-31 13:12] #6297 closed, assigned to juriczech

[2022-10-31 16:48] matejkriz opened #6718 "exclude errors related to blockbook backend from coinjoin account"
"Backend is disconnected" error is not relevant for CoinJoin account and is not supposed to be displayed there.

<img width="954" alt="image" src="https://user-images.githubusercontent.com/3729633/200552848-2e31ba50-1855-48f7-aa6b-0db77968cc35.png">

note:
CoinJoin account is using Blockbook too, but in a different way than regular account (not via websocket but REST API).

Even if you set non-exi

[2022-10-31 16:57] #6609 closed, assigned to matejkriz

[2022-10-31 16:57] #6661 closed, assigned to matejkriz

[2022-10-31 16:57] #6662 closed, assigned to matejkriz

[2022-10-31 17:56] komret commented on #6694
Thanks @STew790, I now noticed this only happens in `StrictMode` (i.e. only in _development_ environment so you cannot see it). `StrictMode` will be turned off by #6598. However, this indicates a bug in send form, possibly the same issue as @szymon reported in #6596. We need to fix the bug and then turn on `StrictMode` again.

[2022-10-31 18:31] #6205 closed, assigned to komret

[2022-10-31 19:52] #6630 closed, assigned to dahaca

[2022-11-01 04:59] juriczech commented on #6702
Should this be persisted between app sessions or when I open the app, it should be set to default visible and only change to discreet after button tap?

[2022-11-01 05:04] juriczech commented on #6686
Is there a design for this? Currently in onboarding, import of xpubs is very much dependent on the currency you select in switch (bitcoin / testnet) and for this, there will need to be predefined coin before sending xpub to connect.

[2022-11-01 07:26] bosomt commented on #6662
**QA OK**

**Info:**
 - Suite version: desktop 22.11.0 (91cc9ae7ad79fee426a16d2f2553a2017d390572)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.3 Universal (revision 595b14254c1abb2be3f69e42c7932f1eca8cf1b1)
 - Trans

[2022-11-01 07:53] mnuky commented on #6686
yep, still under the construction with design. I will change the status to Product until we have the design.

[2022-11-01 07:54] mnuky commented on #6702
let's copy the function from desktop suite for now. Discreet stays even if you switch off and switch on the app

[2022-11-01 08:14] #6629 closed, assigned to dahaca

[2022-11-01 09:58] hynek-jina commented on #6631
Here is the source for the terms:
https://data.trezor.io/legal/coinjoin-terms.pdf

[2022-11-01 10:11] bosomt opened #6724 "Missing 0 in coin axis of graph in Accounts section."
**Describe the bug**
Missing 0 in coin axis of graph in Accounts section.
It's present in Dashboard graph /see screenshots as comparison.

**Steps to reproduce:**
1. Load wallet with transaction history
2. Navigate to accounts section
3. Observe graph

**Info:**
 - Suite version: desktop 22.11.0 (91cc9ae7ad79fee426a16d2f2553a2017d390572)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)

[2022-11-01 10:36] juriczech commented on #6683
@sime @mnuky Currently, I am not sure whether this is possible since we don't have xPub validator and connect just returns account from coin that I sent as parameter to `getAccountInfo` function.

[2022-11-01 10:46] hynek-jina opened #6725 "Hide CoinJoin behind `debug` mode"

[2022-11-01 11:05] mnuky opened #6727 "Onboarding (scanning the XPUB) - possibility to escape when I import another asset"
As a user I would like to have option to get out of the scanning (onboarding) process when I already have some XPUBs successfully imported otherwise it is annoying because I have to restart the app to get on the Dashboard or anywhere else.

Acceptance criteria:
When user already have some XPUBs created and want to create another one, there is a option to close the process and come back where I was

[2022-11-01 11:05] mnuky opened #6728 "Onboarding (scanning the XPUB) - hint page Where to find the XPUB"
As a unexperienced user I need to help with where I can find my XPUB in order to be able to scan and add my asset.

Acceptance criteria:

- There is a link on the bottom which is accessible until user scan the XPUB
- If user clicks on it - overlay screen with explanation Where to find the XPUB appears
- If user click on Got it - it is closed
- If user chooses ETH, ETH Classic, XRP, ETH Testnet, ET

[2022-11-01 11:06] mnuky opened #6729 "Onboarding (scanning the XPUB) - scan more XPUBs in the same flow"
As a user I would like to import more assets within one scanning flow in order save my time.

Nicely showed in the prototype: https://www.figma.com/proto/Z6AGVUmKQzLNtDozFamW7f/branch/BlVnxNzUqrZkbhHgezLczh/s2-Mobile?node-id=5942%3A114223&scaling=scale-down&page-id=5544%3A35367&starting-point-node-id=5942%3A114223

Acceptance criteria:

- When user imports first XPUB, there is possibility to impor

[2022-11-01 11:06] mnuky opened #6730 "Onboarding (scanning the XPUB) - enable delete the scanned XPUB"
As a user I would like to have option to delete my recently scanned XPUB because I'm allowed to make mistakes and I would like to get a chance to change my mind.

Acceptance criteria:

- When user scan the XPUB during the onboarding flow, he has the option do trash the scanned asset
- if there is only asset when user click on trash, he is redirected back to start page
- If there are more assets an

[2022-11-01 11:06] mnuky opened #6731 "Graph - specification of behaviour"

[2022-11-01 11:07] mnuky opened #6732 "Homescreen Coin component - show related assets"
As a user I would like to see how many assets are related to certain coin in order to get better clarity of what it's behind.

Acceptance criteria:

- When user access the Homescreen / Dashboard he sees the list of coins he has
- There is a information about how many related / attached assets are to this coin

[2022-11-01 11:07] mnuky opened #6733 "Homescreen Coin component - show share of the coin via icon"
As a user I would like to see the proportion of my portfolio in order to get better overview of my coins ratio.

[2022-11-01 11:40] donald22122 commented on #6312
Hi there . used trezor model T in a week via TOR connection all was perfect . after i sent some $ to a different wallet my trezor suit was lagged and  disconnected. for now i have this issues.
1) https://prnt.sc/gFvxwLim1h7u   (TOR is turned OFF)
2) https://prnt.sc/UgsrDO5JGF3y this is for web version.

no proxy or vpn used - never.

please advice

[2022-11-01 11:43] #6631 closed, assigned to komret

[2022-11-01 13:04] mnuky opened #6738 "Settings of my asset"
As a user I would like to change the name of my imported asset
As a user I would like to delete my asset from mobile app
As a user I would like to see details of my imported asset - type of coin, account type (if applicable for coin), derivation path
As a user I would like to see XPUB of imported asset, including QR code

Acceptance criteria:
User can change the name of the asset. If name is chang

[2022-11-01 13:50] mroz22 opened #6739 "Disable adding multiple CoinJoin accounts"
**Describe the bug**
Two coinjoin accounts were created

**How to reproduce**
Not sure. It looks like that under specific circumstances, suite UI does not block me from creating another account. It actually does not react properly (by blocking / waiting me) while creating the first one.

**Screenshots**
![image](https://user-images.githubusercontent.com/30367552/199248349-e1b8a6d2-624f-41ac-9739-3

[2022-11-01 13:56] mnuky opened #6740 "Remove button Discover more Assets from My Assets page"
Please remove the button Discover more Assets from My asset page as it is not needed now it does do anything now :)

[2022-11-01 14:03] Nodonisko opened #6741 "Interactive portfolio graph"
Portofolio graph should show real values above graph and these values should change when doing swipe gesture over graph.

[2022-11-01 14:04] Nodonisko commented on #6741
#6726

[2022-11-01 15:31] #6673 closed, assigned to yanascz

[2022-11-01 15:45] sime commented on #6683
If there isn't a way to do this with connect: The format of xpub/ypub/zpub is a standard, so an external library will have to be employed to solve.

[2022-11-01 16:20] matejkriz commented on #6739
you mean adding one more coinjoin account right after you asked to create the first one but before it's discovered?

[2022-11-01 16:24] dahaca opened #6746 "Add en estimate for Coinjoin session end"
Display an estimate for the coinjoin session end in the coinjoin summary section. Use the `getEstimatedTimePerRound()` util for calculation.

[2022-11-01 17:01] bosomt opened #6747 "Artifact above graph in recent mobile app build"
**Describe the bug**
Artifact above graph in recent mobile app build.
See video and screenshot, from time to time after you change graph view and touch graph line you can see artifact displayed above fiat sign

**Info:**

-   Suite Version: 22.8.0 (185)
[develop] - aec1e32 - feat(mobile): interactive graph (#6726)
-   OS: Android , Samsung

**How to reproduce**
Steps to reproduce the behavior:

1.

[2022-11-01 17:15] Nodonisko commented on #6747
@bosomt can you add more info about device? Android version + screen size? This will probably play important role in this issue

[2022-11-01 17:22] mroz22 commented on #6739
could be. not sure. will kindly ask @trezor/qa to check it

[2022-11-01 17:52] #6614 closed, assigned to szymonlesisz, vdovhanych

[2022-11-01 17:52] #6725 closed, assigned to marekrjpolak

[2022-11-01 19:20] mroz22 opened #6748 "Coinjoin: coinjoin not authorized, device call in progress race condition"
![image](https://user-images.githubusercontent.com/30367552/199319712-d79927ea-3135-4eeb-a2bf-088ac1f69c78.png)

can be reproduced in test added in this PR https://github.com/trezor/trezor-suite/pull/6737

[2022-11-01 22:15] Hercules1122 commented on #5131
Does anyone get the Trezor working on another OS than Windows?

On Tails doesn't work.

On Whonix I run on Terminal in the folder sudo dpkg -i trezor-bridge_2.0.27_amd64.deb and sudo dpkg -i trezor-udev_2_all.deb.
Than open Suite and says ' Trezor Bridge not running '.
I got a notification though that a new Version of Suite is available, but I dont get access to Tor when I want to connect at the s

[2022-11-01 22:15] Hercules1122 commented on #5819
Does anyone get the Trezor working on another OS than Windows?

On Tails doesn't work.

On Whonix I run on Terminal in the folder sudo dpkg -i trezor-bridge_2.0.27_amd64.deb and sudo dpkg -i trezor-udev_2_all.deb.
Than open Suite and says ' Trezor Bridge not running '.
I got a notification though that a new Version of Suite is available, but I dont get access to Tor when I want to connect at the s

[2022-11-01 22:16] Hercules1122 opened #6750 "Trezor Suite with Tails"
Does anyone get the Trezor working on another OS than Windows?

On Tails doesn't work.

On Whonix I run on Terminal in the folder sudo dpkg -i trezor-bridge_2.0.27_amd64.deb and sudo dpkg -i trezor-udev_2_all.deb.
Than open Suite and says ' Trezor Bridge not running '.
I got a notification though that a new Version of Suite is available, but I dont get access to Tor when I want to connect at the s

[2022-11-01 22:18] Hercules1122 commented on #6750
For sure on Tails the Trezor works for Electrum.
But what about others coins?

Just to have it running on Tor Browser would be the nicest option.

[2022-11-01 22:18] Hercules1122 commented on #5819
For sure on Tails the Trezor works for Electrum.
But what about others coins?

Just to have it running on Tor Browser would be the nicest option.

[2022-11-01 22:18] Hercules1122 commented on #5131
For sure on Tails the Trezor works for Electrum.
But what about others coins?

Just to have it running on Tor Browser would be the nicest option.

[2022-11-02 03:41] juriczech commented on #6706
@Nodonisko You already fixed this and issue should be closed right? This is the PR #6726

[2022-11-02 03:41] #6706 closed, assigned to nobody

[2022-11-02 03:43] juriczech commented on #6727
So the close option shouldn't be there when importing 1st account, is that right?

[2022-11-02 03:45] juriczech commented on #6729
@mnuky Just a thought: Even though this is not super complex, it might still require some time spent on this and I would personally put the priority as low and push this to further sprints as it's just improvement IMHO. I would focus on more important stuff that allows for more important functionality and do this later. Just my 2 cents.

[2022-11-02 07:49] hynek-jina commented on #5819
@Hercules1122 Please don't copy your comments to various issues.. it makes the job more complicated.

[2022-11-02 08:03] mnuky commented on #6727
IMO I think it is not necessary to put it on the first import as there is nothing else to do for now.

[2022-11-02 08:05] mnuky commented on #6729
Great input @juriczech - thank you. I assumed it will quite ease as there is already a button Import another in the flow and it redirects me back to the scanning. If it's not easy, then let's do it later and lower the priority but remove the button "Import another" from the flow so that we don't confuse users that it is possible - should I create another issue to do that?

[2022-11-02 08:24] bosomt commented on #6739
I remember that i was able to have multiple CJ accounts.
But I have no idea how to replicate it /I only found out yesterday that there suppose to be only one CJ account :) /
So far adding another during discovery of first one didnt worked for me.
But I will try to replicate it during this testing cycle.

[2022-11-02 08:53] bosomt commented on #6747
**QA NOK**

artifact moved below fiat values.

<img width="149" alt="image" src="https://user-images.githubusercontent.com/31506317/199442882-00330f27-45f3-43bf-bc6c-7fa4fccd11c8.png">

Video: https://www.youtube.com/watch?v=NEqK1VYNTC4

- Version of Suite:
Release notes for 22.8.0 (186)
[develop] - 790444a - fix: graph overflow + app portrait only (#6749)

 - Device info: `Samsung Galaxy Tab S7 F

[2022-11-02 09:24] juriczech commented on #6729
@mnuky I am not saying it's rocket science, it probably won't be too hard tbh, it's just not trivial either and we might put our focus elsewhere if you're okay with that from product side :ok_hand:

No need to create issue for the button removal. I did that here as it's pretty trivial and once the team approves this, I will merge it. https://github.com/trezor/trezor-suite/pull/6754

[2022-11-02 10:09] #6740 closed, assigned to juriczech

[2022-11-02 10:14] komret opened #6756 "Enable access to min UTXO amount value available for CoinJoin"
In order to display a UTXO tag in Coin Control (as specified in #6215) informing the user that a UTXO is not available for CoinJoin, the UTXO amount threshold (currently 5.000 sats) needs to be stored in global state. A preferred way is to obtain this value from the coordinator rather than using a hard-coded config value. It will be accessed from `UtxoSelection` component in a similar way as e.g.`

[2022-11-02 10:15] bosomt commented on #6609
**QA OK**

**Info:**
 - Suite version: desktop 22.11.0 (91cc9ae7ad79fee426a16d2f2553a2017d390572)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision eff8e08a9c43a85de8a6ce5afc09b921e3733e26)
 - Trans

[2022-11-02 10:44] komret opened #6757 "Access a list of UTXOs blacklisted from coinjoin"
Similarly to #6756, `UtxoSelection` component in Coin Control needs to figure out whether a UTXO is blacklisted from CoinJoin (due to previous misbehaviour) so that it can display a proper `UtxoTag`.

When a UTXO is banned from CoinJoin, it should be added into an array of `bannedUtxos` similar to `excludedUtxos` in `useSendForm` where the key is UTXO outpoint and the value is an estimated date wh

[2022-11-02 11:01] sime commented on #6683
What about the `bip32` library. It has a fromBase58 method which throws for me when scanning dogecoin and litecoin. Bitcoin Cash is a false positive but perhaps that can be mitigated by the network parameter.

And it looks like it already used in this repo. https://www.npmjs.com/package/bip32

[2022-11-02 11:12] matejkriz opened #6762 "Document and automate how to work with trezor-common submodule"
we should not commit trezor-common changes unless we need it (and in that case we could use `yarn update-submodules` script as described [here](https://github.com/trezor/trezor-suite/blob/develop/packages/transport/README.md#the-short-version))

If you checkout any branch and see changes in submodule, you could call `git submodule update --init --recursive` and it should remove the diff for you. W

[2022-11-02 11:38] mroz22 commented on #6762
imho a githook for
- post-checkout
- post-merge
- post-rebase

with
[code]
could do the trick

[2022-11-02 12:32] dahaca commented on #6423
We agreed that the "Resume" button underneath "coinjoin paused" is redundant

[2022-11-02 12:52] mnuky opened #6764 "Graph timeframes display of data"
As a user I would like to see the whole timeframe I choose at the graph no matter when the first transaction was proceed.

Description:
Current version of the graph displays the data just from the date first transaction was proceed. That means if my first transaction was 15th October ago and I choose 1M I see data line only from 15th October but no data before. It causes that if user switch from 1

[2022-11-02 12:58] sime commented on #5939
Attempted to solve via #6547

Testable: https://suite.corp.sldev.cz/suite-web/sime/add-btc-currency/web/

[2022-11-02 13:04] #6627 closed, assigned to dahaca

[2022-11-02 13:04] #6746 closed, assigned to dahaca

[2022-11-02 13:40] #5541 closed, assigned to yanascz

[2022-11-02 13:46] Hannsek commented on #5939
Obsolete pair for btc accounts:
<img width="276" alt="image" src="https://user-images.githubusercontent.com/57008159/199505573-a2c5ba05-04e3-4e06-bbd2-9e8981fd10fa.png">
_Fiat currency field_ not renamed

[2022-11-02 13:56] #6423 closed, assigned to dahaca

[2022-11-02 13:56] sime commented on #6312
Bitcoin backends were down (out of sync) yesterday for about an hour. The Trezor status page indicates this too: notice the orange mark on November 1st. https://status.trezor.io/

<img width="430" alt="Screenshot 2022-11-02 at 14 55 35" src="https://user-images.githubusercontent.com/216917/199507862-1f718317-f010-4d8b-94c9-2a5afa79f98e.png">

[2022-11-02 13:58] mnuky opened #6767 "Interactive graph on Asset detail"
As a user I would like to interact with the graph on the Asset detail as well in order to see how my crypto has evolving.

**Acceptance criteria:**
- When user comes to My asset detail he sees default values: current amount of BTC, value in FIAT, todays date, uprises / downrises since yesterday
- When user move on the graph line with finger, values are changing according to date where user points.

[2022-11-02 14:08] mnuky opened #6768 "Change balance of BTC according to movements on the graph"
As a user I would like to see how balance of my BTC has evolving in time according to graph.

**Acceptance criteria:**

- When user moves the finger on the graph line, BTC balance is changing according to movement on the graph line and the date

[2022-11-02 15:05] mnuky opened #6770 "Broken formating when name of the asset is long"
When the name of asset is longer and the amount has too many number of digits after zero, design is broken.

We agreed with designers to go with these rules:
1. Values (FIAT and crypto balance)
- Dashboard and Asset detail header - Dynamic type
- Dashboard coin tiles - crop the text

2. Texts (name of asset)
- ✅ Dashboard, asset list and TX Detail - Overflow
- Header text - crop

3. TX ID
- ✅ crop

[2022-11-02 15:34] sime commented on #6750
Works plenty fine on classic Linux installations. As well as OSX and Android (Chrome Browser).

[2022-11-02 15:58] Nodonisko commented on #6747
Ready to retest.

[2022-11-02 16:39] bosomt commented on #6631
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-02 17:07] komret commented on #6756
**QA:** An icon should be displayed in CoinJoin account Coin Control for UTXOs lower than 5000 sat and higher than 134 375 000 000 sat.
![Screenshot 2022-11-02 at 18 01 20](https://user-images.githubusercontent.com/42465546/199555093-5cfbf49b-4d0d-4bc5-8b98-9b073a8f3e04.png)

[2022-11-02 20:10] Hercules1122 commented on #6750
Thanks for your reply. What about a Tor by default OS any success?

[2022-11-02 20:18] Hercules1122 commented on #6750
... also do I have to do more than " run on Terminal in the folder sudo dpkg -i trezor-bridge_2.0.27_amd64.deb and sudo dpkg -i trezor-udev_2_all.deb " ... because on Kali Linux it doesn't recognize the Trezor.

[2022-11-03 03:06] #6555 closed, assigned to juriczech

[2022-11-03 03:22] juriczech opened #6775 "Refactor navigation hook to infer types"
Currently we need to add types to `useNavigation` hook in all its usages.

We should have this somehow done by the `@suite-native/navigation` package without need to always specify target and source of this navigation handler.

Possible solutions might be found within this article: https://reactnavigation.org/docs/typescript/#specifying-default-types-for-usenavigation-link-ref-etc

[2022-11-03 07:54] hynek-jina opened #6779 "CoinJoin account loading"
Implement progress bar with list of tips.
These messages should be randomly selected from list. (TBD)
And switched after `10s` of loading

_note: currently discovery takes circa `90s`._

![Image](https://user-images.githubusercontent.com/26002916/199670321-5ccfcac7-788c-4f42-9945-af9068822f8a.png)

[2022-11-03 08:00] hynek-jina opened #6780 "Move anonymity level settings into `Account details`"
We want to reduce complexity for users. Therefore, we will reduce the visibility of the anonymity level setting by moving it to `account details`.

![Hidden anonymity level](https://user-images.githubusercontent.com/26002916/199671505-f6201522-3188-4778-b91d-179033b051be.png)

Remove anonymity level control from account page:

![Snímek obrazovky 2022-11-16 v 10 42 57](https://user-images.githubus

[2022-11-03 08:11] Hannsek opened #6781 "Display derivation path"
Display derivation path of the account under the `Account` tab.

Where `Account` tab is not present, create one. (e.g. ETH account)
Change the _Account_ tab to _Details_ tab

Add `Derivation path` field between `Account type` and `Public key (XPUB)` fields.

**Copy:** Derivation path is a parameter according to which the Hierarchical Deterministic (HD) wallet derives individual keys within the tre

[2022-11-03 08:50] hynek-jina commented on #6707
Should be already fixed.. @@bosomt lease double-check that..

[2022-11-03 09:09] STew790 commented on #6661
**QA OK**

Can't add CJ account on web Suite.

![image](https://user-images.githubusercontent.com/48477147/199683174-02785943-f43b-4305-88e4-9ec03175524a.png)

**Info:**
 - Suite version: web 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 -

[2022-11-03 09:11] bosomt commented on #6725
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-03 09:18] STew790 commented on #6475
**QA OK**

No onboarding present when adding CJ account (except for the Tor warning).

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.3 Unive

[2022-11-03 09:41] Hannsek opened #6782 "Favorite & hidden accounts"
Prerequisite: #6781

Feature that introduces the ability for users to mark/label their accounts as either _favorite_ or _hidden_.

Information whether the account is favorited or hidden would be stored in the same file as labels are. (Connected with https://github.com/trezor/trezor-suite/issues/6304)

**Other changes:**
- New _Favorite_ and _Hidden_ tab in left (accounts) column (present only if a

[2022-11-03 09:58] Hannsek commented on #6782
Blocked by https://github.com/trezor/trezor-suite/issues/6781.

[2022-11-03 09:58] #6727 closed, assigned to juriczech

[2022-11-03 09:58] bouchja1 opened #6783 "suite-native: Create DebugInfo component"
- create the component DebugInfo which will be shown in DEV utils section
- will show:
 - current version of the app
 - changelog
 - commit ID
 - ...

[2022-11-03 10:01] #6730 closed, assigned to juriczech

[2022-11-03 10:50] mroz22 commented on #6659
I think we dont need it actually, it will be tested in coinjoin-test #6737

[2022-11-03 10:50] #6659 closed, assigned to karliatto

[2022-11-03 11:00] mnuky commented on #6730
Andoid: When I delete the asset, XPUB in text format still appears - look at the video.
Same issue on iPhone

https://user-images.githubusercontent.com/84183817/199704371-98eb688b-82a0-4a95-904b-013ef71ceaa0.mp4

[2022-11-03 11:36] hynek-jina opened #6785 "CoinJoin account default visibility"
CoinJoin account should be visible by default (once discovered)
![Snímek obrazovky 2022-11-03 v 12 35 19](https://user-images.githubusercontent.com/26002916/199710985-c6adabb9-8883-48ab-a3a2-0d128782c908.png)

**QA note**:
Please test not only adding CoinJoin account but adding all sorts of account types and coins, closing groups, sending funds on account in closed group, switching between wallet

[2022-11-03 11:41] hynek-jina opened #6786 "Service fee shouldn't have decimals in sats"
![Snímek obrazovky 2022-11-02 v 10 25 07](https://user-images.githubusercontent.com/26002916/199711898-84a0451d-dcd4-4814-ad9d-c42e33a6f224.png)

Service fee for each UTXO should be rounded down on whole sats.

[2022-11-03 11:44] hynek-jina opened #6787 "Set default anonymity level to `10`"
Currently the default value for desired anonymity level is `80`. Please change it to `10`

[2022-11-03 12:14] juriczech opened #6788 "Refactor navigation to remove actions screen"
Technical refactoring of mobile navigation. Tab bar item for actions currently has unused screen, because there is condition, which opens modal instead.

Refactor to not use screen or use react-navigation Modal cmp instead.

[2022-11-03 12:14] bosomt commented on #6423
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-03 12:15] STew790 commented on #6212
**QA OK**

Enable Tor modal is shown when CJ account is added.

![image](https://user-images.githubusercontent.com/48477147/199717770-ff0166f4-bf8e-4a01-8899-454650b3235a.png)

**Info:**
 - Suite version: web 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36
 - OS: Linux x86_64
 - Scr

[2022-11-03 12:27] STew790 commented on #6614
**QA OK**
CJ is available now on Testnet :tada: .

**Info:**
 - Suite version: web 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Transport: bridge 2.0

[2022-11-03 13:26] STew790 commented on #6746
**QA OK**
Estimate is shown when doing a CJ.
![image](https://user-images.githubusercontent.com/48477147/199732790-91040385-0029-49a5-ab57-b457d40e4d10.png)

**Info:**
 - Suite version: web 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - D

[2022-11-03 13:55] bosomt commented on #6117
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-03 14:55] mnuky opened #6790 "Rounding the digits"
Currently we round the digits behin 0 for too many digits. Please round the digits behind 0 for max 8, as it is in Desktop Suite

[2022-11-03 15:14] komret commented on #6647
**QA:** All links previously leading to wiki are now pointing to knowledge base. Some of them are dependant on device type, e.g. packaging of [T1](https://trezor.io/learn/a/authenticate-trezor-model-one) and [TT](https://trezor.io/learn/a/authenticate-trezor-model-t). Guide is unaffected by this.

[2022-11-03 15:19] karliatto opened #6792 "Request manager manages fallback URL"
We are implementing CoinJoin used of coordinator with Tor hidden service as default but because of ongoing DoS on hidden services we need to have a fallback to clearnet over Tor in order to keep it usable.

## Using request-manager to handle fallback request
- [ ] Moving `packages/urls/src/tor.ts` to `packages/request-manager`
- [ ] Extend interceptor in `request-manager` to use `.onion` as defaul

[2022-11-03 15:43] komret commented on #6787
**QA:** newly created CoinJoin accounts have target anonymity 10.

[2022-11-04 08:44] bosomt commented on #6707
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-04 08:44] #6707 closed, assigned to bosomt

[2022-11-04 08:57] #6756 closed, assigned to komret

[2022-11-04 09:49] sentry[bot] opened #6798 "(node:20919) MaxListenersExceededWarning: Possible EventTarget memory leak detected. 11 abort lis..."
Its just a warning, even more than 10 event listeners works, but we need to investigate if there is an actual memory leak or not  https://nodejs.org/api/events.html#events_eventemitter_defaultmaxlisteners

Sentry Issue: [TREZOR-SUITE-P0Y](https://sentry.io/organizations/satoshilabs/issues/3596460158/?referrer=github_integration)

[code]

[2022-11-04 09:49] matejkriz commented on #6798
@marekrjpolak please check it in the coinjoin

[2022-11-04 11:32] linhnguyen2809 opened #6799 "Missing type UnlockPath when using Angular 13"
**Describe the bug**
Missing type UnlockPath when using Angular 13
<img width="799" alt="image" src="https://user-images.githubusercontent.com/96286224/199961547-ebf61b43-1e13-470a-856e-b13fee199ff6.png">
<img width="639" alt="image" src="https://user-images.githubusercontent.com/96286224/199961813-a22930b6-56c9-448e-8aa8-5c6d1ffa226d.png">
<img width="829" alt="image" src="https://user-images.git

[2022-11-04 11:46] STew790 opened #6800 "Hovering over anonymity level slider line shows wrong tooltip"
**Describe the bug**
If I hover over the "Desired anonymity level" bar, it shows a tooltip that is not showing the number that I would like to select, but some different message (see screenshot).

**Steps to reproduce:**
1. Open Suite
2. Add CoinJoin account
3. Click on the "Desired anonymity level" button
4. Hover over the slider line

**Info:**
 - Suite version: web 22.11.1 (8a8808d3c3fd752bde89

[2022-11-04 12:04] bouchja1 opened #6802 "suite-native: Graph shows an error when BTC TEST is in assets list"
- BTC TEST is breaking the graph now...
- Solution is to add zero fiat rates fallback for coins without ticker config

[2022-11-04 12:14] #6802 closed, assigned to bouchja1

[2022-11-04 12:42] bosomt commented on #6205
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-04 12:43] bosomt commented on #6629
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-04 12:58] hynek-jina opened #6803 "Missing UTXOs in Coin control list"
**Describe the bug**
Running CoinJoin on an account I don't see all my utxos.
As you can see that the balance is higher then the sum of two visible utxos.

<img width="1792" alt="Snímek obrazovky 2022-11-04 v 11 22 28" src="https://user-images.githubusercontent.com/26002916/199978065-f14461ce-5eee-4356-b70c-ab205516f83d.png">

[2022-11-04 13:08] hynek-jina opened #6804 "Too fat CoinJoin icon"
| **Fimga - correct version:** | **Currently implemented:** |
| --- | --- |
| <img width="174" alt="Snímek obrazovky 2022-11-04 v 14 06 20" src="https://user-images.githubusercontent.com/26002916/199979596-753a8dd8-b9d2-4054-9168-20e79c52cfc8.png"> | <img width="253" alt="Snímek obrazovky 2022-11-04 v 11 00 02" src="https://user-images.githubusercontent.com/26002916/199979612-c2efa558-b49f-4a19-

[2022-11-04 13:08] bouchja1 commented on #6783
@Nodonisko

- DebugInfo is "ready"... meaning that all required ENV variables are prepared to be loaded from `process.env` (https://github.com/trezor/trezor-suite/blob/develop/suite-native/config/src/debugUtils.ts) - but it is not working, I don't have any idea right now why it is not present in process.env => it is empty:(

- all these ENVs are being set in fastlane (3 different Fastfiles):
  - s

[2022-11-04 13:31] sime commented on #6799
@mroz22 The @trezor/transport package looks like it needs to be released?

@linhnguyen2809 Could you share a repo where this is reproducible? That will help in testing the issue.

[2022-11-04 13:35] arminsabouri opened #6805 "Trezor Connect throws Method_NotAllowed on non-localhost origins"
**Describe the bug**
I am looking to call
[code]
This appears to work on localhost and trezor web suite. However, on any other origin, this method throws
`{"code":  "Method_NotAllowed", "error": "Method not allowed for this configuration"}`

 Is this expected behavior? Is there any way to init trezorConnect to get around this?

**Firmware version and revision**
Trezor Model T 2.4.3

**Desktop/smar

[2022-11-04 13:47] hynek-jina opened #6806 "Change name of `CoinJoinCoordinatorIdentifier` to `zkSNACKs`"
This requires setting the value in Suite and the affiliate server (aka CoinJoin request server).
_No changes in firmware needed._

![IMG_20221103_153031](https://user-images.githubusercontent.com/26002916/199987862-cfb4d1ed-e9b4-4c6c-898c-e18004286018.jpg)

[2022-11-04 13:49] #6787 closed, assigned to komret

[2022-11-04 13:58] linhnguyen2809 commented on #6799
https://github.com/linhnguyen2809/Trezor-angular, just created it, tks for your quick response

[2022-11-04 14:05] sime commented on #6799
@linhnguyen2809 Brilliant, that repo helps a lot.

[2022-11-04 14:13] #6647 closed, assigned to komret

[2022-11-04 14:16] bouchja1 opened #6808 "suite-native: Fix undefined balances for BTC TEST in graph"
There was the problem _"Cannot convert undefined value to object"_

![Image](https://user-images.githubusercontent.com/2227592/199993551-db71d0ba-9a4e-4592-9377-2761455f6795.png)

...with these assets imported in the mobile app:

- BTC account from our "use dev xpub" button
- BTC test xpub: vpub5ZJFnFjoejaE2GUxf2nhq7Mgv5fzcg3v5CUrKdH7guiZeUhp55s41x6gyjRBU8j4NRVJzAFCVDy491Xgp9yATB42Bp1DEUyBoTnhKvfL

[2022-11-04 14:19] sime commented on #6805
Hi @0xBEEFCAF3

This is intentional, we intentionally disallow device ['management'](https://github.com/trezor/trezor-suite/blob/develop/packages/connect/src/api/applySettings.ts#L10) features on 3rd party applications.

I will flow this ticket for now, though you are welcome to share your use case, and we can put it to consideration.

[2022-11-04 14:19] #6805 closed, assigned to nobody

[2022-11-04 16:27] prusnak opened #6810 "Feature: Cancel Transaction via RBF"
## UPDATE

Design: https://www.figma.com/design/a13eFaT5HqemGmzJZy1fNg/Transactions?node-id=1-106&p=f&t=gzu2w9XlIcp7l0Rm-0

## Original post

Currently there are two options what an user can do with a RBF transaction:

* Bump Fee (create transaction with identical inputs but with higher fee = decreased change address amount)
* Finalize Transaction (create identical transaction but with RBF flag di

[2022-11-04 16:32] gubatron commented on #6810
Yes please!

[2022-11-04 16:45] prusnak commented on #6810
Good point from Stephan Livera:

[2022-11-05 06:48] bosomt opened #6811 "CoinJoin account discovery often failing"
**Describe the bug**

See screenshots, same account, same passphrase.
It happens to me everyday. Looks like discovery of funds fails /without any error/ sometimes and account reports no history.

So far i think that it happens when there is already running CJ on Standard wallet and I try to run second CJ in hidden wallet. /but not always/ so Im not able to reproduce it every time.

**Steps to repr

[2022-11-05 06:48] bosomt commented on #6811
[trezor-suite-log-1667627861316.txt](https://github.com/trezor/trezor-suite/files/9943233/trezor-suite-log-1667627861316.txt)
attaching log

[2022-11-05 07:04] bosomt commented on #6166
@hynek-jina yes it should, but it's broken at least one year https://github.com/trezor/trezor-suite/issues/4508

[2022-11-06 09:10] danielkonecny commented on #6810
I also think this would be a good functionality. It improves usability of bitcoin and also motivates merchants to use LN for smaller transactions (and non-0-conf for larger). Definitely a better practice than 0-conf relying on trust in the customer.

[2022-11-06 19:23] Hercules1122 commented on #6750
any suggestions?

[2022-11-07 07:09] hynek-jina commented on #6806
Related internal discussion: https://satoshilabs.slack.com/archives/C048XFAKL10/p1667485889163729

[2022-11-07 07:58] bosomt opened #6812 "Incorrect wallet is paused when you run multiple instances of CoinJoin in one Trezor Suite."
**Describe the bug**
Incorrect wallet is paused when you run multiple instances of CoinJoin in one Trezor Suite.
See video, I was able to replicate this issue multiple times.

**Steps to reproduce:**
1. Start CJ in Standard wallet
2. Start CJ in hidden wallet
3. Pause one of wallet and observe status of both wallets

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd96684364d1

[2022-11-07 07:59] bosomt commented on #6627
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd96684364d1dbc5)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Bitcoin-only (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Tr

[2022-11-07 08:21] juriczech commented on #6770
@mnuky I think this is more problem of number formatting. Maybe you'll disagree but I think the number / balance should be formatted with fixed number of decimal points. Eg. 0.022 instead of super long number. This would fix the problem. Then we can also have a look at some edge cases when longer names of coins appear, but if we just cut the number to some reasonable length, it will be fine. What

[2022-11-07 08:23] juriczech commented on #6704
Can you add more info about this please? I would honestly just go with how it is for now without the search bar as there is really no need for it since there won't be too many accounts if that's what this task is about. Low prio IMHO.

[2022-11-07 08:24] juriczech commented on #6731
@mnuky Is this blocking any of the graph tasks that are defined above?

[2022-11-07 09:03] Hannsek opened #6813 "Release next version of Connect with all the dependencies"

[2022-11-07 09:14] mnuky commented on #6770
@juriczech I agree and there has been issue already created to round the digits - https://github.com/trezor/trezor-suite/issues/6790. We can first round the digits and then check whether it worked and fixed the formatting, ok?

[2022-11-07 09:17] mnuky commented on #6704
There is no search bar in MVP hand off branch :) This issue is more about polishing the UI than creating new features. Take a look on Desigh hand off designs: https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/branch/BlVnxNzUqrZkbhHgezLczh/s2-Mobile?node-id=7162%3A29897

[2022-11-07 09:18] mnuky commented on #6731
It is specification for further enhancement of the graph, how it should behave. It should not block any previous issues

[2022-11-07 09:28] #6813 closed, assigned to nobody

[2022-11-07 11:24] #6800 closed, assigned to matejkriz

[2022-11-07 11:31] komret opened #6817 "Improve arrow control in AnonymityLevelSlider"
Keypress of an arrow should change the value by 1. It may be handy to select a high value while moving the slider with a mouse is less precise.
![chrome-capture-2022-10-7](https://user-images.githubusercontent.com/42465546/200299491-c43f5b7d-3a41-49c3-a054-b61643b20f20.gif)

[2022-11-07 11:32] sime commented on #6750
That should do it.

[2022-11-07 11:37] komret opened #6818 "Disable anonymization when there is nothing to anonymize"
Disable the "Anonymize" button when:
- account has 0 balance
- target anonymity is 1
- all UTXOs are anonymous (not sure about this one @hynek-jina, someone might want to run it again for some reason)

[2022-11-07 11:53] juriczech commented on #6704
With the link you sent, isn't it duplication of https://github.com/trezor/trezor-suite/issues/6703? I thought this issue is referring to: https://tppr.me/1InU0

[2022-11-07 12:07] bosomt commented on #6739
**QA OK**

i was not able to reproduce this issue for days /and i tried to add another account many times/

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd96684364d1dbc5)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x90

[2022-11-07 12:07] #6739 closed, assigned to bosomt

[2022-11-07 12:20] komret commented on #6786
I will change the calculation to 0.3% from each UTXO with anonymity level lower than target anonymity, rounding down to whole sats, i.e. count each UTXO separately, not just take a percentage of the whole amount.

Question is, should I remove some UTXOs from the calculation?
- UTXOs with amount lower than `plebsDontPayThreshold` (1M sats)
- previously coinjoined UTXOs (How are these defined? Do th

[2022-11-07 12:21] mnuky commented on #6704
There are also designs for Asset detail:
![Screenshot 2022-11-07 at 13 20 32](https://user-images.githubusercontent.com/84183817/200308976-508925e7-c991-481a-a67f-61e1d5cae135.png)

[2022-11-07 12:34] hynek-jina commented on #6818
- ✅, User can increase the desired anonymity level

- this is a subset of previous point, isn't it? _(all UTXOs are anonymized on desired level - which might be 1)_

[2022-11-07 12:40] komret commented on #6818
Yes, now that we disable coinjoin for anonymous UTXOs it is a subset, otherwise it would be a special case because no coin would ever register.

[2022-11-07 13:28] hynek-jina opened #6821 "Specify the calculation of the service fee"
- [x] Count only UTXOs with lower then desired anonymity level
- [x] Remove UTXOs with amount lower than `plebsDontPayThreshold` (1M sats)
- [x] Remove previously coinjoined UTXOs (direct and indirect)
    - [x] Direct remix is an UTXO that is an output of a coinjoin transaction.
    - [x] ~~Indirect remix is an UTXO that is an output of a transaction such that all inputs of the transaction are di

[2022-11-07 13:29] hynek-jina commented on #6786
Thx.. I have specified it in separate issue: https://github.com/trezor/trezor-suite/issues/6821

[2022-11-07 13:46] Nodonisko commented on #6240
According to @szymonlesisz we can use `features` field instead or `model` field as some string (should be possible because of model R).

[2022-11-07 13:48] mnuky commented on #6770
it seems the number of digits differs for each coin, for Ether we use 18 digits. So we would need to handle the situation with more digits anyhow

[2022-11-07 13:49] STew790 commented on #6101
**QA OK**
Settings for CJ bundle works as expected. Links for both terms are correct.

![image](https://user-images.githubusercontent.com/48477147/200325372-d176059d-fd55-4fab-b0de-334654ee2f19.png)
![image](https://user-images.githubusercontent.com/48477147/200325883-27edf2a0-d880-434b-aad3-3f940d703ad2.png)

**Info:**
 - Suite version: desktop 22.11.1 (8a8808d3c3fd752bde89507d50650bc4bac56647)

[2022-11-07 14:34] Nodonisko commented on #6515
This could be tested in desktop app => test if toast notifications works

[2022-11-07 14:56] mnuky commented on #6731
it's duplicate of #6764, closing it

[2022-11-07 14:56] #6731 closed, assigned to nobody

[2022-11-07 15:10] Nodonisko opened #6824 "Big top screen padding for iPhones with Dynamic Island"
There is too big padding at top of the screen for iPhones with Dynamic Island that is originating from react-native-safe-area-context (I tried to update that lib but it did not help). Investigation needed.

![Image](https://user-images.githubusercontent.com/5837757/200344641-bb228193-107d-405f-8814-114e36bb4e64.png)

[2022-11-07 17:24] bosomt commented on #4508
@hynek-jina maybe we can consider fixing it in upcoming months /consider its low hanging fruit and its open since 11/2021/

[2022-11-07 18:18] hynek-jina commented on #4508
@bosomt I agree.. since we are touching related areas..

[2022-11-07 19:32] bosomt commented on #6748
**QA NOK**

I was able to reproduce issue.
Looks like i was able to press `Anonymize` button trice at once.
This usually happens when you press one button and before Suite and Trezor reacts you will send another request to device.

<img width="431" alt="image" src="https://user-images.githubusercontent.com/31506317/200398031-c0bd04c4-4db0-4340-97b5-a4313e762b99.png">

**Info:**
 - Suite version: d

[2022-11-07 20:59] bosomt commented on #6295
Found one 00 in tx detail too

<img width="348" alt="Screenshot 2022-11-07 at 21 59 20" src="https://user-images.githubusercontent.com/31506317/200414313-4c1ee865-e3b3-444c-b332-d7b29c4b08ca.png">

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd96684364d1dbc5)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1

[2022-11-07 22:10] bosomt opened #6826 "Running CoinJoin process ignores that remembered device was disconnected."
**Describe the bug**
Running CoinJoin process ignores that remembered device was disconnected.
Even there is no device connected to Trezor Suite CoinJoin is still processing anonymization.

**Steps to reproduce:**
1. Load device and remember it
2. Start CoinJoin anonymization
3. Disconnect remembered device and observe

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd9668436

[2022-11-08 02:18] juriczech commented on #6770
@mnuky Can you please discuss this with UI somehow? Currently, I don't think we'll be able to fit full coin name and 18 digits on same line so there needs to be some change because of that. Formatting digits will be taken care of in https://github.com/trezor/trezor-suite/issues/6790 and then we can figure out how to format with text properly in this task.

[2022-11-08 02:37] juriczech commented on #6790
Rounding digits will be based on networks config. So it will be:
- Bitcoin 8 decimals
- Ethereum 18 decimals
- etc as you can see here https://github.com/trezor/trezor-suite/blob/develop/suite-common/wallet-config/src/networksConfig.ts

[2022-11-08 03:16] juriczech commented on #6704
Oh, yeah! Now I see. Completely disregarded the detail word in task description, my bad. Makes sense now.

[2022-11-08 03:24] juriczech opened #6827 "refactor: Rename accounts screen and packages to Assets"
@mnuky Is the naming for assets and asset detail already set? For example currently we're using `AccountDetailScreen` in code but according to design, naming should be `AssetDetail`. Is this going to be stable naming for now and we can refactor screens to use this naming as well? Thanks.
cc @Nodonisko

[2022-11-08 07:26] hynek-jina commented on #6803
It happens when I increase the anonymity level from 1 and I already have some UTXO with anonymity level above 1.

https://user-images.githubusercontent.com/26002916/200500702-5048fff9-c16a-4c1f-86a8-c91b64a89267.mov

[2022-11-08 07:40] bosomt opened #6828 "CoinJoin signing transaction fails when device autolocks"
**Describe the bug**
CoinJoin signing transaction fails when device autolocks.

Info from @andrewkozlik 👍🏿

_The problem is that Suite sends GetAddress before the DoPreathorized + GetOwnershipProof request. GetAddress requires the device to be unlocked, which is why Trezor shows the PIN pad. I assume Suite sends GetAddress just to check that it's still dealing with the same Trezor. Either:_

_Trez

[2022-11-08 07:47] mnuky commented on #6770
Sure, I will today

[2022-11-08 07:47] mnuky commented on #6790
Great! THX

[2022-11-08 07:48] mnuky commented on #6704
No worries, I will specify more in the detail future task to avoid this :)

[2022-11-08 07:49] mnuky commented on #6827
Good question.. So far we did not discuss final naming of the elements but so far we agreed to use assets instead of account . I can't guarantee that it will not change in the future

[2022-11-08 09:19] bosomt opened #6831 "Misplaced close button in Update firmware modal"
**Describe the bug**
Misplaced close button in Update firmware modal.

**Steps to reproduce:**
1. Navigate to Settings/Device
2. Start firmware update
3. Observe X button placement.

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd96684364d1dbc5)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.

[2022-11-08 09:20] juriczech opened #6832 "Add loader for app initialization"
In suite desktop there is a loader when the app gets initialized to load all the data and information related to accounts etc.

Currently there are some minor glitches where even though the app seems to be initialized already, some balances display zero, because fiat rates weren't fetched yet and other stuff as well.

We should have something similar to how desktop suite behaves to give the user s

[2022-11-08 09:29] hynek-jina opened #6833 "Hide do not disconnect dialog after signing"
After CoinJoin signing completes, the “Do not disconnect” dialog on Trezor seems to remain for a while, even though the Trezor can be safely disconnected or used for other purposes.

After CoinJoin signing completes, send `SetBusy` with `expiry_ms` not set.

![sni__mek_obrazovky_2022-11-08_v__8 22 42](https://user-images.githubusercontent.com/26002916/200527435-a3907542-aecd-44ca-8393-d56fd744e24f

[2022-11-08 09:31] bosomt opened #6834 "CoinJoin embedded binary unresponsive"
**Describe the bug**
Suite reporting CoinJoin client not enabled when CoinJoin embedded binary unresponsive
I'm not able to reproduce it but looks like Wasabi binary was not responding properly after i reloaded Suite app.
Attached log, i hope it will be helpful.

`
2022-11-08T07:08:47.912Z - DEBUG(process-WalletWasabi.WabiSabiClientLibrary): Status error: request to http://localhost:57336/Cryptogr

[2022-11-08 09:34] bosomt commented on #6833
I was able to reduce issue.

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd96684364d1dbc5)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24

[2022-11-08 10:19] STew790 commented on #4465
This happened to me today with CJ account. The CoinJoin account is not automatically added after each start of Suite and Suite wants to show you the account that is not there.

![image](https://user-images.githubusercontent.com/48477147/200538808-5fc0e14b-a005-456e-8ed4-b5f7c195cf62.png)

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd96684364d1dbc5)
 - Browser: Mozilla/5.0

[2022-11-08 10:26] hynek-jina commented on #6798
@szymonlesisz Can we close this?

[2022-11-08 10:35] mnuky opened #6836 "Show message when there is no transaction on asset detail page"
As a user I would like to see message when there is no transactions yet on my asset in order not to confused that the page is blank.

Acceptance criteria:

- If there are no transactions on the asset, display the message
- There is button with Receive which leads to Receive flow

![Image](https://user-images.githubusercontent.com/84183817/200542970-fb1e09b8-7696-4b9c-9821-a1e7d21909fa.png)

[2022-11-08 10:39] hynek-jina commented on #6676
Closing in favour of: https://github.com/trezor/trezor-suite/issues/6818

[2022-11-08 10:39] #6676 closed, assigned to dahaca

[2022-11-08 10:43] mnuky opened #6837 "Loading while getting data from XPUB"
As a user I would like to see nice loading page while the data are read from my XPUB because I trust more what is happening when the load page stays for a while.

Check the prototype, how it should behave: https://www.figma.com/proto/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=5935%3A39982&scaling=scale-down&page-id=5212%3A30121&starting-point-node-id=5935%3A39909&show-proto-sidebar=1

**Acceptance c

[2022-11-08 10:59] komret commented on #4261
Resolved by #6835.

[2022-11-08 10:59] #4261 closed, assigned to komret, dahaca

[2022-11-08 11:01] #6831 closed, assigned to matejkriz

[2022-11-08 11:02] hynek-jina commented on #6831
@trezor/qa
I have moved this issue to previous sprint as discussed on standup...

[2022-11-08 11:02] hynek-jina commented on #4261
@trezor/qa
I have moved this issue to previous sprint as discussed on standup... Just like: https://github.com/trezor/trezor-suite/issues/6831

[2022-11-08 12:23] komret commented on #6818
**QA:** It should not be possible to initiate coinjoin when there are no non-private funds.

[2022-11-08 12:29] #6703 closed, assigned to juriczech

[2022-11-08 12:33] matejkriz opened #6838 "Investigate dying tor circuits"
It seems tor circuits are dying too quick and it often prevent coinjoin from finishing - see part of the logs from CoinJoin and the `Proxy connection timed out` error:

<details>
  <summary>partial coinjoin log</summary>

[code]
</details>

@szymonlesisz mentioned it's happening even after two minutes or so.

To replicate and isolate the issue would be nice to write a simple test outside CoinJoin

[2022-11-08 13:16] Nodonisko opened #6839 "HeaderWithIcons component"
Consider creating some universal component for our repeating pattern where we have some center title and icon on the left/right/no icons on sides. Now our solution everytime breaks when we add or remove icons.

Something like this:

[code]

[2022-11-08 13:21] Nodonisko commented on #6827
I do not agree, it will be more confusing, because we don't treat it as Assets now. For example right now you can have multiple BTC accounts and you can see each detail of each on AccountDetailScreen, but from definition Asset is something like all BTC accounts merged into one, which we don't do anywhere except overview on Dashboard.

[2022-11-08 13:34] bosomt commented on #6831
**QA OK**

<img width="580" alt="image" src="https://user-images.githubusercontent.com/31506317/200578235-da283a5a-35b3-4826-9faf-c81b394d8d92.png">

**Info:**
 - Suite version: desktop 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari

[2022-11-08 14:15] hynek-jina opened #6840 "Remove the option to display `xpub` from CoinJoin account"
![Snímek obrazovky 2022-11-08 v 15 11 42](https://user-images.githubusercontent.com/26002916/200587189-9b4fd82b-8a85-4a8d-89b9-3987f145e401.png)

_The XPUB of the CoinJoin account can be used to completely deanonymize the user in all CoinJoin transactions. Which would hurt not only the user’s own privacy but also that of all other participants. We even apply a special account exploration scheme t

[2022-11-08 14:20] hynek-jina opened #6841 "Add coinjoin for bitcoin network"
- To be hidden behind `debug` mode
- Released with Trezor Suite `23.2`

[2022-11-08 14:42] hynek-jina opened #6843 "Check Tor status and warn user if there is some problem"
For users with activated Tor ~~CoinJoin account and being in CJ account~~
- ~~check Tor status page: https://status.torproject.org/~~
- measure latency of requests over Tor

→ If there is some problem, display message:
`Tor network is currently unstable. All your funds are safe, but Trezor Suite functionality might be limited. Please try again later.`

[2022-11-08 15:06] Nodonisko opened #6844 "Account import xpub input field is not reseted"
1. Import first account by filling xpub into `Enter xpub` field
2. Finish import
3. Click on Import Assets on homescreen
4. Input `Enter xpub` is prefilled with previously imported xpub (should be empty)

[2022-11-08 15:10] Nodonisko commented on #6844
Also noticed that coin type switch at the top is not reseted. It seems that screen is not unmounted properly after finishing of import.

[2022-11-08 15:15] mnuky commented on #6844
It happens also when deleting imported asset before going to dashboard - see the video

Uploading screen-20221103-115430.mp4…

[2022-11-08 15:17] mnuky commented on #6730
related bug created [#6844](https://github.com/trezor/trezor-suite/issues/6844)
This issue can be approved

[2022-11-08 15:20] mnuky opened #6845 "Cropped lowest balance on the right side of the graph"
If the lowest balance of my crypto is today, the digits are outside of the screen.

![Image](https://user-images.githubusercontent.com/84183817/200605881-d763614c-1d46-4810-91c6-f56c415b1f54.png)

[2022-11-08 15:33] STew790 opened #6846 "CoinJoin stuck on CriticalCoinjoinPhase modal"
**Describe the bug**
When I was trying to do a CoinJoin, the process got stuck on the critical coinjoin phase modal with "Establishing connection" and 0 seconds left. I can't quit the modal or do anything, other then restart or quit the Suite. I should be able to cancel this or quit the modal using the "X".

**Steps to reproduce:**
Unfortunately, no exact steps to reproduce. Just one round of Coin

[2022-11-08 16:21] Nodonisko commented on #6844
I probably already found solution, need to polish it.

[2022-11-08 16:26] Nodonisko commented on #6783
For some reason values ENV variables are not propagated to `process.env`. Probably something missing in fastlane files, so more investigation needed.

[2022-11-08 16:29] Nodonisko commented on #6827
I think idea of Assets is still somehow confusing because we treat Assets as Accounts in many places just calling them differently. We need to be clearly set-up what is "Asset", how it should behave etc. Right now it doesn't make sense to rename accounts to assets because it should be two different things.

[2022-11-08 16:35] bosomt commented on #6846
I was able to reproduce issue :)

**Info:**
 - Suite version: desktop 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Bitcoin-only (revision 2f03ace311584988d5aeab58

[2022-11-08 17:23] komret commented on #6786
**QA:** decimals should never appear after merging #6847.

[2022-11-08 17:25] komret commented on #6821
**QA:** Please check that the calculation is correct on an account where you have some UTXOs with anonymity level more than 1. Service fee calculation should not include UTXOS 1) below or equal to 1M sats, 2) originating from a coinjoin transaction.
![Screenshot 2022-11-08 at 16 46 02](https://user-images.githubusercontent.com/42465546/200633587-21daa86e-f085-41d0-b4c5-3f0121139335.png)

[2022-11-08 19:11] Nodonisko opened #6850 "Big int decimals on mobile"
Some numbers have much more decimals than should probably related to BigInt.

![image](https://user-images.githubusercontent.com/5837757/200654140-869fb39b-2f28-4a8e-9ca7-11da952e031e.png)

[2022-11-09 06:28] juriczech commented on #6770
I'll move this to next sprint so we can first determine whether the rounding digits is sufficient to solve this problem.

[2022-11-09 06:32] juriczech commented on #6827
@Nodonisko I agree with that. That is why I wanted to just create a discussion. If we should have it as accounts, it shouldn't be named asset detail, because asset detail is basically list of accounts, not account detail.

It's just slightly annoying to have this mental model when coding this stuff, because it just doesn't feel right 😀

Not to talk about an inconsistency with desktop as well. If I

[2022-11-09 06:37] juriczech commented on #6839
I was thinking about it and this style of component will only work if the 2 buttons will be the same size. So I would propose having the header accept these props:

[code]

We can work around them being optional by making it either absolute position with height of the header or by placing `Box`, which will either render icon if there is name for it, or remain empty with specific size, to make sure

[2022-11-09 07:20] bosomt opened #6852 "CoinJoin does not detect already establishing Tor connection"
**Describe the bug**
CoinJoin does not detect that Tor is already when Tor connection is not 100% finalized.

So if you start Tor before CoinJoin and proceed to CoinJoin you will end up with only possibility and that disable tor and stop CoinJoin. You will end up with Enabling tor modal that will never change from 0%.

**Steps to reproduce:**
1. Start Tor
2. Before Tor handshake ends start CoinJoi

[2022-11-09 07:32] mnuky commented on #6827
understand, the discussion around naming is still progress. The problem with namin Account is that users don't understand that it is the coin, there is huge confusion around that and from user research it seems that name Asset is more understandable for users. But I agree we need to sort this out.

[2022-11-09 09:34] #6828 closed, assigned to szymonlesisz

[2022-11-09 09:37] #6818 closed, assigned to komret

[2022-11-09 09:53] #6833 closed, assigned to szymonlesisz

[2022-11-09 10:12] #6836 closed, assigned to juriczech

[2022-11-09 10:12] #6704 closed, assigned to juriczech

[2022-11-09 10:23] Nodonisko commented on #6827
If you want to call it assets, I would prefer rename it only for users and in code still use accounts because whole suite use this naming.

[2022-11-09 10:26] Nodonisko commented on #6839
Making it fixed height is not option because we need it work really universal, that's reason why I want to pass whole components into it, not only icon names.

I pretty sure that dynamic height is achievable. I have some ideas that should work, but need to verify them.

[2022-11-09 10:29] Nodonisko commented on #6839
Your work around could be fine too, it doesn't have to be even some fixed width but could be something like 15‰

[2022-11-09 10:31] juriczech commented on #6850
It's a bug. I will take a look at it tomorrow.
https://tppr.me/uH9Ui

[2022-11-09 10:34] #6718 closed, assigned to marekrjpolak

[2022-11-09 10:48] bosomt commented on #4261
is this alignment expected ?
looks strange to me

<img width="106" alt="image" src="https://user-images.githubusercontent.com/31506317/200810601-279ee2a8-6ba0-4540-a313-3e7957c86e10.png">

**Info:**
 - Suite version: desktop 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrom

[2022-11-09 11:06] hynek-jina opened #6853 "Attach list of messages to CoinJoin discovery"
Followup of: https://github.com/trezor/trezor-suite/issues/6779

[2022-11-09 11:11] hynek-jina opened #6854 "Improve Service fee calculation"
Followup of: https://github.com/trezor/trezor-suite/issues/6821#issuecomment-1307571531

**Remove Indirect previously coinjoined UTXOs**
- Indirect remix is an UTXO that is an output of a transaction such that all inputs of the transaction are direct remixes (this is also known as `Friends don't pay`)

[2022-11-09 11:22] #6808 closed, assigned to Nodonisko

[2022-11-09 11:23] hynek-jina commented on #4261
@bosomt It should be centered..

[2022-11-09 11:24] chenxsan commented on #6312
Got a similar issue when using the web version https://suite.trezor.io/web/ with proxy.

<img width="1091" alt="" src="https://user-images.githubusercontent.com/1091472/200817413-35c5518e-9bea-4f04-97c4-25f900d4dd9d.png">

[2022-11-09 12:23] bosomt opened #6856 "Cardano testnet staking Transaction signing error"
See https://satoshilabs.slack.com/archives/C0292ULQHGD/p1667994884954629
@mroz22

[2022-11-09 12:26] sime commented on #6843
Are you suggesting crawling the status page over clearnet to determine if the network is congested?

I'm concerned this is a privacy leak.

[2022-11-09 12:30] mnuky opened #6857 "Graph counting balance incorrectly while switching between timeframes"
Steps:
1. Assets BTC (PUB for testing purposes from slack channel) and BTC testnet imported

2. Wait for graph to load with timeframe 1H - all good
3. Switch to 1D - still good
4. Switch to - switch to 1W - balance is increased several times and counted incorrectly
5. Switch to another timeframe - it is not counted properly

Video attached
https://user-images.githubusercontent.com/84183817/2008310

[2022-11-09 12:44] hynek-jina commented on #6843
You are right.. second option is better (and I think it is more simple as well)

[2022-11-09 13:03] Nodonisko commented on #6850
@juriczech Thanks. It standart dev xpub.

I think it could be due to missing of usage BigInt somewhere, but not sure about that.

[2022-11-09 13:14] STew790 commented on #5055
**QA NOK**
This issue is back, app can't be restarted by "Reset app".

**Info:**
 - Suite version: desktop 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device:
 - Transport: bridge 2.0.32

[2022-11-09 14:18] bosomt commented on #6211
**QA OK**

**Info:**
 - Suite version: desktop 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-09 14:25] mnuky opened #6858 "Homepage UI bugs"
The FIAT sign on the top should have different size
The decimals should have different size
Button Receive is missing underneath the button Import asset

Right format:
![Image](https://user-images.githubusercontent.com/84183817/200856782-ececd42b-981c-4c42-9215-5f7297bfae2a.png)

Button Recieve:
![Image](https://user-images.githubusercontent.com/84183817/200857004-cb341dd7-0ed7-4b99-b1f1-afd68e047

[2022-11-09 14:34] mnuky opened #6859 "Missing crypto units after the digits"
There are Crypto units missing on these screes:

1. Asset page
2. Detail of the asset
3. Imported asset

Screenshots:
Asset page
![Image](https://user-images.githubusercontent.com/84183817/200858430-a99be8ba-0f71-4b7f-a578-ed4695c65d18.jpg)

Asset detail page
![Image](https://user-images.githubusercontent.com/84183817/200858468-325d068b-d309-4806-8355-e6e6cbea5097.jpg)

Imported asset page
![Image

[2022-11-09 14:44] mnuky opened #6861 "Set up Staging and Prod environment Android & Apple"

[2022-11-09 15:22] komret commented on #6803
**QA:** I could not check it on the same account where the error was reported because the UTXO set has changed. Please test on several accounts, including some with multiple pages and anonymized UTXOs.

[2022-11-09 16:13] #6803 closed, assigned to komret

[2022-11-09 16:30] #6826 closed, assigned to szymonlesisz

[2022-11-09 16:37] matejkriz opened #6863 "Enhance calculation for max CoinJoin rounds"
There has to be some buffer for failed rounds. We are confirming max number of rounds on Trezor.

https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/utils/wallet/coinjoinUtils.ts/#L151

Right now we allow confirming only 1 round for target anonymity level below 10.

For now we allow at least 10 rounds just to be sure. And estimated anonymity gained per round is lower because so

[2022-11-09 18:02] #6786 closed, assigned to komret

[2022-11-09 18:02] #6821 closed, assigned to komret

[2022-11-09 19:48] bosomt commented on #4261
BTC to BTC is only version thats not properly aligned.
Sending issue

[2022-11-09 19:52] bosomt opened #6864 "Firmware installation modal not properly aligned when using BTC only fw"
**Describe the bug**
Firmware installation modal not properly aligned when using BTC only firmware.
I was not able to reproduce issue with regular firmware.
Follow up of https://github.com/trezor/trezor-suite/issues/4261

**Steps to reproduce:**
1. Install BTC only firmware
2. Navigate to Settings/device section and start firmware update
3. Observe text alignment in modal.

**Info:**
 - Suite vers

[2022-11-10 11:39] juriczech opened #6872 "Add option to use crypto symbol directly from formatter"
Extend crypto amount formatter to return symbol with crypto amount so we don't have to use them separately.

[2022-11-10 11:42] #6859 closed, assigned to juriczech

[2022-11-10 11:43] #6858 closed, assigned to nobody

[2022-11-10 11:45] Nodonisko commented on #6872
Suggested solution: add `showSymbol` to `CryptoAmountFormatter` set to default `true`. On desktop formatted is used in one place so we can set it manually to `false`.

[2022-11-10 14:53] komret commented on #5498
- [x] [integrate Trezor into my web application via Connect](https://wiki.corp.sldev.cz/Trezor_Connect_API) overview available in [Suite docs](https://docs.trezor.io/trezor-suite/packages/connect/index.html) and introduction in [package README](https://github.com/trezor/trezor-suite/blob/develop/packages/connect/README.md)
- [ ] [integrate Trezor into my Android application](https://wiki.corp.slde

[2022-11-10 15:50] STew790 opened #6877 "Trezor Suite log and open issue on Github are showing wrong Windows version"
**Describe the bug**
Log of the Suite in settings and "Info" part of creating a new issue on Github through Suite shows "Windows 10" even though I have Windows 11.

**Steps to reproduce:**
1. Start Suite on Windows 11 machine
2. Go to settings
3. Open Suite log and find "osVersion" line

1. Go to Dev Settings
2. Click on "Open issue"
3. In the "Info" part in the opened issue, it states "Windows NT

[2022-11-10 16:26] jingxi285 opened #6879 "Trezor Suite fixed size window too big for screen"
**Describe the bug**
 Trezor suite 22.10.3 linux running on a new laptop which has 1440x810 pixel display I saw the window doesn't fit on the screen. I can't resize it. So on the Accounts "Overview" it is difficult to click on the page number because it's partly off the bottom of the screen.

**Info:**

-   Remembered Wallet: yes/no
-   Suite Version: app/web, commit
-   Browser: name, version
-

[2022-11-10 16:30] jingxi285 opened #6880 "Trezor Suite does not show full balance in My accounts"
**Describe the bug**
1440x810 pixel display. There is plenty of unused width in the My accounts to show the full BTC balance, but it cuts off the last two digits.

**Info:**

Version 21.7.1 linux

**How to reproduce**
Make trezor suite wide.
Observe something like

My accounts

Bitcoin 1
0.085045

Observe the Accounts page shows the full
Bitcoin 1
0.08504506 BTC

**Expected behavior**
Show the las

[2022-11-10 21:35] mroz22 commented on #6748
Yep,
- relevant coinjoin methods should be added here https://github.com/trezor/trezor-suite/blob/develop/suite-common/connect-init/src/connectInitThunks.ts#L64
- and we should make sure that all the buttons that should be disabled are disabled when suite.locks are set

[2022-11-11 12:28] mnuky opened #6883 "Core device logic to common (redux)"
[code]

[2022-11-11 12:28] mnuky opened #6884 "Core discovery logic to common (redux)"
[code]

[2022-11-11 12:29] mnuky opened #6885 "Core firmware logic (redux)"
At least some part of it like FW verification (we don't need install/update), but maybe it will easier to just migrate it
[code]

[2022-11-11 12:29] mnuky opened #6886 "Native transport layer - direct USB device communication"

[2022-11-11 12:53] #6779 closed, assigned to dahaca

[2022-11-11 13:14] #6863 closed, assigned to nobody

[2022-11-11 13:50] matejkriz commented on #5131
I can run and use Suite in Tor browser 11.5.7 when NoScript addon (about:addons) is disabled.

1. do all the instuctions described here https://trezor.io/learn/a/tor-in-trezor-suite-app
1. on top of that type `about:addons` to url in Tor Browser
1. disable NoScript addon by toggle (I can't find some setting inside to make it work, has to be completely disabled 😞 )

![image](https://user-images.git

[2022-11-11 13:56] #6653 closed, assigned to dahaca

[2022-11-11 14:17] sime commented on #6879
@jingxi285 Do you have the same issue with a more recent version of Trezor Suite? The version you are report for is over 12 months old.

[2022-11-11 21:15] jingxi285 commented on #6879
@sime My mistake, it was version 22.10.3 linux. Seems to be only one month old. I updated the description of this issue above.

Are you able to reproduce?

Would be useful if this page could state what the latest version is too.
https://trezor.io/trezor-suite

[2022-11-12 15:28] tsusanka opened #6887 "Satoshi option is not highlighted when set while changing Bitcoin units"
**Describe the bug**
Satoshi option is not highlighted when set while changing Bitcoin units in Settings.

**Steps to reproduce:**
1. Go to Settings
2. Set Satoshi
3. Go to Settings again
4. Click Satoshi and see that Bitcoin is highlighted instead

**Info:**
 - Suite version: desktop 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) App

[2022-11-12 15:46] tsusanka commented on #6887
I think I got that completely wrong and it just highlights whatever is under the cursor 🤦 . It would be slightly better to highlight it after you scroll to the first option but I would not worry about that...

[2022-11-12 15:46] #6887 closed, assigned to nobody

[2022-11-12 22:28] Hercules1122 commented on #5131
Works, very nice and good news! =)
With the onion link it still says 'Trezor Bridge is not running' though.

[2022-11-12 22:39] prusnak commented on #5131
Is `network.http.referer.hideOnionSource` set to `false`?

[2022-11-12 22:57] Hercules1122 commented on #5131
Yes, still doesn't work.

[2022-11-13 11:31] Hercules1122 commented on #6750
Thanks for your support sime!
Made every step like here: https://trezor.io/learn/a/tor-in-trezor-suite-app
Also dpkg trezor bridge and udev on Kali Linux.
Status page is shown up, but connected device still 0.
In Terminal, trezord:
trezord v2.0.27 is starting.
https: listen tcp 127.0.0.1:21325: bind: address already in use

Hmm.. it works on Windows. But didn't get Trezor running either on Suite A

[2022-11-14 08:11] bosomt commented on #5470
**QA NOK**

issue is still present

**Info:**
 - Suite version: desktop 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device:
 - Transport: bridge 2.0.32

[2022-11-14 08:13] bosomt commented on #5807
**QA NOK**

issue is still present

**Info:**
 - Suite version: desktop 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.11.1 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device:
 - Transport: bridge 2.0.32

[2022-11-14 08:40] sime commented on #4771
Added `fw_vendor` to track signed vs unsigned FWs.

[2022-11-14 08:49] sime commented on #5131
Can you access the bridge directly via the following URL?

http://127.0.0.1:21325/status/

[2022-11-14 10:00] bosomt commented on #6787
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (a1cce70b103e883528fd6a05659c48f66fb98b1b)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-14 10:01] bosomt commented on #6800
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (a1cce70b103e883528fd6a05659c48f66fb98b1b)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-14 10:08] bosomt commented on #6779
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (a1cce70b103e883528fd6a05659c48f66fb98b1b)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-14 10:10] Hercules1122 commented on #5131
On Tor Browser it works to connect via clearnet page to Suite.
But doesn't work with .onion link. Says 'Trezor Bridge is not running'.
Bridge Status page works.

[2022-11-14 10:58] matejkriz commented on #5131
@Hercules1122
Works for me even on .onion, see:
![image](https://user-images.githubusercontent.com/3729633/201642622-45ddb3b5-6c03-4237-a9d6-713bb47fedc6.png)

what is you Tor Browser version and platform? Could you please double check all 7 steps from [Instructions for enabling Trezor Bridge in Tor Browser](https://trezor.io/learn/a/tor-in-trezor-suite-app)?

[2022-11-14 10:58] hynek-jina opened #6889 "Handle account discovery problem with `network reorg`"
Two blocks are mined at the same time. We display the one we saw first. However, the network may publicize another faster and ours will cease to be valid.

We need to devise and implement logic on how to handle such scenario

[2022-11-14 11:03] hynek-jina opened #6890 "Pause/Resume running CoinJoin when account is out of sync"
If backend repeatedly doesn't respond:
- [x] Pause running CoinJoin
- [ ] Inform user: `Waiting for account to sync`

[2022-11-14 11:16] hynek-jina opened #6891 "Increase the gap for change addresses on CoinJoin account from `20` to `50`"
Applies only for accounts with change address history (at least one usage of change address on that account)

[2022-11-14 11:44] dahaca opened #6892 "CJ warning when disabling Tor without having CJ accounts"
**Describe the bug**
A modal warning a user about lack of safety for Coinjoin accounts without a Tor connection appears when there are no Coinjoin accounts present.

**How to reproduce**
Steps to reproduce the behavior:

1. Add a CJ account
1. Remember device
1. Forget device
1. Reload the app
2. Go to settings and toggle Tor
3. Observe the error

**Expected behavior**
The modal is not shown

**Sc

[2022-11-14 11:54] #6872 closed, assigned to juriczech

[2022-11-14 11:55] juriczech commented on #6790
Resolved in https://github.com/trezor/trezor-suite/pull/6888

[2022-11-14 11:55] #6790 closed, assigned to juriczech

[2022-11-14 12:15] hynek-jina opened #6894 "Prevent address reuse on CoinJoin account"
In discovery (`coinjoin package`) scan pending transactions and flag all used receive addresses as `used`.
_Gap that might come out of this will be filled in upcoming transaction._

Related to more general bug issue: https://github.com/trezor/trezor-suite/issues/6381

[2022-11-14 12:18] hynek-jina commented on #6381
We need to address this on an Electrum level too...

[2022-11-14 12:19] komret opened #6895 "Propagate UTXOs registered for coinjoin into reducer"
UTXOs registered for an upcoming coinjoin round need to be saved into reducer so that a corresponding icon can be shown in coin control.

The `UtxoSelection` component is already expecting it:
[code]

[2022-11-14 12:25] STew790 commented on #6625
**QA OK**
Values from coordinator shown correctly.
![image](https://user-images.githubusercontent.com/48477147/201659337-2917e176-2ab6-404e-9245-50b9cd0dd4b8.png)

**Info:**
 - Suite version: desktop 22.12.0 (2f4c0db8c499ac7541080d4aad5707674a21e45f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/5

[2022-11-14 13:21] STew790 commented on #6786
**QA OK**
Service fee is rounded correctly:

![image](https://user-images.githubusercontent.com/48477147/201670540-fbb44f19-1fa9-4019-beef-46d0ed70dfd7.png)

**Info:**
 - Suite version: desktop 22.12.0 (2f4c0db8c499ac7541080d4aad5707674a21e45f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36

[2022-11-14 14:21] dahaca commented on #6804
Update the Icons instead:

![Image](https://user-images.githubusercontent.com/45338719/201683768-90b1db2f-b05d-4e3b-8210-8be09bbef483.png)

[2022-11-14 15:33] STew790 commented on #4261
**QA OK**

Firmware installation and custom FW installation unified correctly.

**Info:**
 - Suite version: desktop 22.12.0 (2f4c0db8c499ac7541080d4aad5707674a21e45f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.11.3 Universal (

[2022-11-14 15:59] komret commented on #5498
@Hannsek FYI, I went through the articles, the ones that are not checked do not have an up-to-date successor in docs or Knowledge base, AFAIK. Firmware team might want to update them.

[2022-11-14 16:10] hynek-jina commented on #6804
@dahaca Sorry for the confusion. We will stick to `shuffle` icons.. Only implemented version doesn't correspond to one in Figma..

[2022-11-14 16:13] matejkriz opened #6900 "Fix coin control for non-CoinJoin account when CoinJoin has been enabled"
`isUnavailableForCoinjoin` condition is evaluated even in non-CoinJoin accounts

https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/components/wallet/CoinControl/UtxoSelection.tsx/#L147
<img width="964" alt="image" src="https://user-images.githubusercontent.com/3729633/201709041-d202bb67-48a4-448d-86c7-d67c445e7e5f.png">

[2022-11-14 16:42] dahaca opened #6902 "Tor activation progress improvement"
The `desktopApi` `'tor/bootstrap'` event doesn't reflect the actual progress of the `'tor/toggle'` action, only the progress of [`tor.start()`](https://github.com/trezor/trezor-suite/blob/649fad4b5be4af41c709efc3f8e111a13f260bf2/packages/suite-desktop/src/modules/tor.ts#L90) within it. Because of that listening to the `tor/bootstrap` event in order to track % of progress and [acting upon it ](http

[2022-11-14 17:23] #6674 closed, assigned to karliatto

[2022-11-14 19:02] Nodonisko commented on #6850
@juriczech This is already merged right?

Also please don't forget to provide specs (what should be tested) for QA to test later.

[2022-11-15 05:02] juriczech commented on #6850
Testing task can be seen here.
https://www.notion.so/satoshilabs/Decimals-in-crypto-amounts-are-unchanged-in-desktop-suite-9a13d647bf37497889f4bda4d1da7d95

[2022-11-15 05:02] #6850 closed, assigned to juriczech

[2022-11-15 06:41] juriczech commented on #6770
@mnuky Rounding digits task was merged yesterday. Can you please check it out and determine whether this task is still needed?

IMO: Rounding digits currently solves issues for accepted currencies and until we allow importing more coins, there is no need to do this now, so we could close this issue and resolve it when we allow more coins in the app.

[2022-11-15 06:41] juriczech commented on #6770
Sorry, accidentaly closed by comment. Reopened until we decide how to approach this 🥶

[2022-11-15 07:31] juriczech commented on #6239
after consulting with @Nodonisko, this will have to wait until [Intl reformat](https://github.com/trezor/trezor-suite/pull/5647) is merged. Moving from this sprint to Q1 of 2023.

[2022-11-15 08:21] hynek-jina opened #6906 "Not private UTXOs listed in Private section"
The outputs are in the private section (10+ anonset), but the anonset of the outputs below is 3, 1, 2, 2, respectively
<img width="752" alt="Screenshot 2022-11-14 at 14 01 27" src="https://user-images.githubusercontent.com/26002916/201866738-f5aebdc7-7455-4a0d-a66a-98fe4cdf0b76.png">

_Reported by: @prusnak_

[2022-11-15 08:56] hynek-jina opened #6908 "Disable CoinJoin `resume` if something is wrong..."
User shouldn't be able to resume CoinJoin if there is some problem
- Backend disconnected
- No internet connection
- No Tor connection
- Device disconnected
- ...
---
- [ ] Add explaining tooltip on hover

Visualisation for disabled CoinJoin control
| Disabled | on hover |
| --- | --- |
| ![disabled](https://user-images.githubusercontent.com/26002916/203094505-defa05f2-ff83-4c93-bd90-d13faa1ded74.

[2022-11-15 08:59] bosomt commented on #6718
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (2f4c0db8c499ac7541080d4aad5707674a21e45f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Bitcoin-only (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Tr

[2022-11-15 09:06] hynek-jina opened #6909 "Change stuck `0 seconds` to `Almost there ...`"
User can get stuck for a while in state of `~0 seconds`
![Snímek obrazovky 2022-11-14 v 8 48 05](https://user-images.githubusercontent.com/26002916/201876926-a9d8442b-eccb-4f7c-8290-944117623145.png)

_This might appear in more places..._

- [ ] Change `~0 seconds` to `Almost there ...`

[2022-11-15 09:27] hynek-jina opened #6910 "Set default name of CoinJoin account"
- [ ] Set default name of CoinJoin account to `CoinJoin`
- [ ] Set default name of Testnet CoinJoin account to `CoinJoin Testnet`

[2022-11-15 09:31] hynek-jina opened #6911 "Do not try to open CoinJoin account during Suite startup if the wallet is not remembered"
_This happened to me today with CJ account. The CoinJoin account is not automatically added after each start of Suite and Suite wants to show you the account that is not there._

![image](https://user-images.githubusercontent.com/48477147/200538808-5fc0e14b-a005-456e-8ed4-b5f7c195cf62.png)

**Info:**
 - Suite version: desktop 22.11.1 (36517f2367056ec69f25858ddd96684364d1dbc5)
 - Browser: Mozilla/5

[2022-11-15 09:35] mnuky commented on #6770
it is still an issue while the name of asset is long - take a look on the printscreen. But it is more UI problem now.
![Image](https://user-images.githubusercontent.com/84183817/201883948-c25122de-7c0e-42a0-a8c7-9b19b2292dd5.PNG)

I would suggest to change the issue from bug to standard task and I will assign to myself to come up with solution together with designers

[2022-11-15 09:37] hynek-jina opened #6912 "Disable account buttons during CoinJoin Account discovery"
Discovery of CoinJoin Account might take a while _(~2 minutes or more)_

User shouldn't be able to interact with the account before it is properly loaded.
- [x] disable `Overview`, `Details` tabs,
- [x] disable `Send`, `Receive`, and `...`  buttons

![PEA — Loading Header Explo](https://user-images.githubusercontent.com/26002916/202146407-6e72e2ca-db6c-42b8-bf87-79f9540fb88d.png)

[2022-11-15 09:40] Hermez-cz opened #6914 "Wrong Chevron Z-Index at transaction approval"
**Describe the bug**
In the transaction approval modal window, if the address is long, there's a chevron to show the entire address.
This chevron stays on top even if Transaction details are shown instead of the default content. See the screen recording video.

**Info:**

-   Suite Version: MacOS app 22.11.1
-   OS: MacOs Ventura 13.0
-   Firmware Version: Model T, 2.5.3

**How to reproduce**
Step

[2022-11-15 11:33] bosomt commented on #6826
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (2f4c0db8c499ac7541080d4aad5707674a21e45f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Bitcoin-only (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Tr

[2022-11-15 11:57] CaveRock opened #6918 "Trezor Connect: Incorrect extended public key version prefix for native segwit multisig BIP48"
Incorrect Extended public key version bytes when pulling key for native segwit

**Info:**

-   Suite Version: Connect (Version 8, Version 9)
-   Browser: all
-   OS: all
-   Bridge: version
-   Firmware Version: model one (probably model T as well), 1.11.2

**How to reproduce**
Steps to reproduce the behavior:

1. Go to https://connect.trezor.io/9/#/method/getPublicKey
2. Set path to: m/48'/1'/0'/

[2022-11-15 12:45] #6732 closed, assigned to juriczech

[2022-11-15 12:57] #6900 closed, assigned to komret

[2022-11-15 13:29] hynek-jina commented on #6846
How long were you stuck at this?
@bosomt @STew790

Isn't this potentially solution? https://github.com/trezor/trezor-suite/issues/6909

[2022-11-15 13:47] hynek-jina opened #6922 "Pending CoinJoin transactions are missing orange label"
![Snímek obrazovky 2022-11-15 v 14 45 26](https://user-images.githubusercontent.com/26002916/201935148-f0807c0c-17ab-4fec-953d-98acf7ee0486.png)

[2022-11-15 13:47] dahaca commented on #6846
FYI:

1) We don't want to allow users to hide this modal for now, since we want to be sure they don't do anything we don't expect
2) The timers are only estimates and are not 100% precise, hence them being stuck at 0 seconds.

[2022-11-15 13:51] hynek-jina commented on #6846
I think we can close this one for now.. Any objections? 😄

[2022-11-15 14:13] #6852 closed, assigned to dahaca

[2022-11-15 14:18] STew790 commented on #6846
I haven't been able to reproduce this, so I think we can.

To answer your questions @hynek-jina , I think it is a different "stage" with #6909 and I don't really know for how long I have been stuck there, but at least for half an hour iirc.

[2022-11-15 14:30] dahaca commented on #6846
@STew790 if it was half an hour it's serious. Let's wait and see if it occurs more and not close the issue for now @hynek-jina. Leave it in the backlog.

[2022-11-15 15:48] hynek-jina opened #6923 "Extend CoinJoin state messages"
Show more information about the CoinJoin flow to user.

See Notion page: [🚥 CoinJoin states and phases](https://www.notion.so/satoshilabs/CoinJoin-states-and-phases-ab33f8d65cc5483f922e455ef29c24ff)

- In progress bar
- In status below `play`/`resume`
- In CoinJoin modal

[2022-11-15 15:51] dahaca opened #6924 "Even theme color transition"
Currently when a theme is switched betweeb dark and light UI elemennts change their color unevenly. Transitions can be unified to improve UX

https://user-images.githubusercontent.com/45338719/201963343-7672a6d1-7792-43d5-a6f4-608090c73c71.mov

[2022-11-15 21:03] #6804 closed, assigned to dahaca

[2022-11-16 09:10] bosomt commented on #6900
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (073bf065b9691947244767110b5cd9dc26bc1152)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Bitcoin-only (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Tr

[2022-11-16 09:53] bosomt commented on #6852
**QA OK**

<img width="491" alt="image" src="https://user-images.githubusercontent.com/31506317/202148108-efcc183c-824f-45dd-8da3-50960939effd.png">

**Info:**
 - Suite version: desktop 22.12.0 (8621d32d46f792cac28858b790e108cce3b1f1e7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari

[2022-11-16 10:39] dahaca opened #6927 "Improve formatting of the coinjoin session countdown timer"
Currently the main countdown timer looks slightly off because there is too much text inside of the circle. It can be improved by adding a custom locale object to `formatDuration()`, replacing `hours`, `minutes`, etc with `h`, `m`, translated to all languages.

<img src="https://user-images.githubusercontent.com/45338719/201990370-90283238-41ab-4ad9-bfb5-a35cec487fd4.png" />

[2022-11-16 10:39] hynek-jina commented on #6654
~~Blocked by: https://github.com/trezor/trezor-suite/issues/6841~~ → not anymore

[2022-11-16 10:42] #6846 closed, assigned to nobody

[2022-11-16 10:45] hynek-jina commented on #6911
@STew790
Can you please add steps to reproduce the issue?

[2022-11-16 10:47] Hercules1122 commented on #5131
Thanks for reaching back.
Tried on another computer, on Windows.
Same result.
Works on clearnet url, but doesnt work on .onion.
Trezor get recognized in Status page correctly and I followed the steps in the instruction.
Still says ' Trezor Bridge is not running ' at .onion.

[2022-11-16 11:24] bosomt opened #6928 "Suite fails to install current firmware after intermediary firmware installation"
**Describe the bug**

Suite fails to install current firmware after intermediary firmware installation.
Please see video, i was able to reproduce it twice, no idea if its only Windows problem.
Theres no reason to download FW binary when its embedded to Suite app and it never fails with other updates or re installations.

**Steps to reproduce:**
1. Connect device with FW/BL 1.5.2/1.3.2
2. Proceed w

[2022-11-16 12:21] #6767 closed, assigned to juriczech

[2022-11-16 12:38] hynek-jina opened #6930 "Polish Coin Join transaction naming"
`TR_JOINT_TRANSACTION` -> `TR_COINJOIN_TRANSACTION`
`TR_JOINT_TRANSACTION_TARGET` -> `TR_COINJOIN_TRANSACTION_TARGET`

See draft PR: https://github.com/trezor/trezor-suite/pull/6898

[2022-11-16 13:39] bosomt commented on #6804
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (8621d32d46f792cac28858b790e108cce3b1f1e7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Bitcoin-only (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Tr

[2022-11-16 13:47] bosomt opened #6933 "Occasionally not possible to navigate out of CoinJoin account."
**Describe the bug**
Occasionally not possible to navigate out of CoinJoin account, you can click on buttons or accounts and they respond buy you are still in CJ account main view
See video, happened to me twice but im not able to reproduce it, it just 'happens' from time to time.

**Info:**
 - Suite version: desktop 22.12.0 (8621d32d46f792cac28858b790e108cce3b1f1e7)
 - Browser: Mozilla/5.0 (Macin

[2022-11-16 14:19] matejkriz commented on #6928
logs from analytics (last 30 days, but not from today)
[failed-to-download-firmware-binary.csv](https://github.com/trezor/trezor-suite/files/10022548/failed-to-download-firmware-binary.csv)

[2022-11-16 16:00] hynek-jina opened #6935 "Display and distinguish UTXOs from pending transactions in Coin control"
![Snímek obrazovky 2022-11-16 v 16 57 42](https://user-images.githubusercontent.com/26002916/202230568-608e73f6-9676-4b46-90a7-08352f321eee.png)

Followup of: https://github.com/trezor/trezor-suite/issues/6215

[2022-11-16 16:18] komret opened #6936 "Dashboard graph not loaded in development mode"
The graph on the dashboard page does not load due to an error which is logged into console. It only happens in development build, for both web and desktop. The error was introduced in [this commit](https://github.com/trezor/trezor-suite/commit/c9b6238e9147cee25961c713aa2c49d610e6e320).

![Screenshot 2022-11-16 at 17 18 10](https://user-images.githubusercontent.com/42465546/202235012-ce1388a2-2c4e-

[2022-11-16 16:59] Nodonisko opened #6937 "Discreet mode"
Discreet mode what will blur exact values - like in desktop.

Requirements:
1. Should use `jotai` (preffered) or context API
2. Usage must be super easy:
[code]
It must simple like this, **no hardcoding width/height/position** for every usage etc. Just wrap any component in it and it will blur it when turned on.

3. Skia usage is preferred https://shopify.github.io/react-native-skia/docs/mask-filt

[2022-11-16 17:56] komret commented on #6935
We already have a clock icon in transaction history and onboarding, do you mind if I use that one?

![Screenshot 2022-11-16 at 18 27 32](https://user-images.githubusercontent.com/42465546/202256621-d915113b-a994-4387-bab5-8b05208a50ee.png)
![Screenshot 2022-11-16 at 18 29 03](https://user-images.githubusercontent.com/42465546/202256598-4612cfff-5849-4641-9dd4-8666c9bfd851.png)
![Screenshot 2022-11

[2022-11-16 18:57] hynek-jina commented on #6935
I would prefer the new one since the old one is not consistent with the other icons in coin control section.
However leave the old one in existing cases. Because it's in different size and the new one might not work well there..

[2022-11-17 07:18] hynek-jina opened #6938 "Missing anonymity level in transaction detail"
All my inputs and outputs should have attached calculated anonymity level.
![screenshot_2022-11-16_at_18 20 33](https://user-images.githubusercontent.com/26002916/202381078-1c49582e-e1c4-4d57-8a34-19aa66b8182b.png)

[_link to original post_](https://satoshilabs.slack.com/archives/C048XFAKL10/p1668620508498339?thread_ts=1668618541.854499&cid=C048XFAKL10)

[2022-11-17 07:50] hynek-jina opened #6939 "Trezor doesn't autolocks after CoinJoin round"
**Steps to reproduce:**
1. Setup PIN
2. Setup Autolock on 1 minute
3. Start Coin Join
4. Device autolocks before CoinJoin start
5. Once entering `Connection confirmation phase` screen changes to `Do not disconnect ...`
6. Device should lock again after CoinJoin round. But there remains screen with `Do not disconnect...` screen. It works as expected when I cancel the whole CoinJoin.

**Info:**
 - S

[2022-11-17 09:20] #6910 closed, assigned to matejkriz

[2022-11-17 12:17] karliatto commented on #6792
Closing since we are not going to follow this approach anymore.
Instead we are going to use Tor hidden service or clearnet address over Tor without fallback due to the fact that it would make the implementation very slow in case one of them fails constantly.

[2022-11-17 12:17] #6792 closed, assigned to karliatto

[2022-11-17 15:00] #6785 closed, assigned to matejkriz

[2022-11-18 08:19] sime opened #6940 "Zcash: Sending unshielded transactions to unified addresses"
## Background
Trezor  Model T has support for unified addresses in 2.5.3: https://github.com/trezor/trezor-firmware/pull/2398

## Design
Work in progress

## Spec
Work in progress
https://electriccoin.co/blog/unified-addresses-in-zcash-explained/

[2022-11-18 08:32] Hannsek opened #6941 "Ability to cancel actions"
When user clicks on `Add (hidden) wallet` in `Wallets` he cannot cancel `Select wallet type` action.
<img width="673" alt="image" src="https://user-images.githubusercontent.com/57008159/202655257-55125c66-a11d-4d82-b3c4-cef54210f590.png">

Same behaviour is under `Enter passphrase on Trezor` and `Enter PIN` popup for T1.

![image](https://user-images.githubusercontent.com/57008159/202655869-e2dcce

[2022-11-18 09:25] bosomt commented on #6818
**QA OK**

_Nothing to anonymize_

**Info:**
 - Suite version: desktop 22.12.0 (8564941f51e20658d0286dc26e14858d8ee0d300)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd

[2022-11-18 09:30] CaveRock commented on #6918
Issue appears to be in the following methods:

[BIP32_PURPOSES](https://github.com/trezor/trezor-suite/blob/27287df53bbfac126bb3c8852440582791ec181c/packages/utxo-lib/src/derivation.ts#L25)

[BIP32_COIN_TYPES](https://github.com/trezor/trezor-suite/blob/27287df53bbfac126bb3c8852440582791ec181c/packages/utxo-lib/src/derivation.ts#L16)

[BIP32_PAYMENT_TYPES](https://github.com/trezor/trezor-suite/bl

[2022-11-18 10:40] #5498 closed, assigned to mroz22, komret

[2022-11-18 10:46] bosomt commented on #6653
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (8564941f51e20658d0286dc26e14858d8ee0d300)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-18 11:19] bosomt commented on #6914
related or duplicity https://github.com/trezor/trezor-suite/issues/5580 :)

[2022-11-18 11:51] mkolar242 opened #6943 "Remove Ropsten testnet"
Remove Ropsten testnet from Trezor Suite.

[2022-11-18 11:55] bosomt opened #6944 "Not able to bump or finalize transaction sent between CJ accounts"
**Describe the bug**
Not able to bump or finalize transaction sent between CJ accounts

**Steps to reproduce:**
1. Create/load two wallets and add CJ accounts
2. Send transaction between accounts
3. Try to bump or finalize transaction.

**Info:**
 - Suite version: desktop 22.12.0 (8564941f51e20658d0286dc26e14858d8ee0d300)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.

[2022-11-18 12:06] bosomt commented on #6910
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (8564941f51e20658d0286dc26e14858d8ee0d300)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-18 12:11] bosomt commented on #6833
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (8564941f51e20658d0286dc26e14858d8ee0d300)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-18 13:36] Bonzbonanza opened #6945 "Transaction signing error"
I was getting the following error when trying to move some ADA from a hidden wallet on my Trezor T to another wallet. Wallet is through Yoroi.

"Transaction signing error: Constructed transaction doesn't match the hash returned by the device."

Newest firmware, newest Suite. Other transactions working.

Eventually solved by turning off Tor, creating a new recipient address, and initiating the tran

[2022-11-18 14:55] bosomt commented on #6785
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (8564941f51e20658d0286dc26e14858d8ee0d300)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-18 15:03] bosomt opened #6947 "Not able to send Litecoin transaction when input used MimbleWimble"
**Describe the bug**
Trezor Suite is Not able to send Litecoin transaction when input used MimbleWimble

**Steps to reproduce:**
1. Send funds to Lietcoin Core
2. Forward them to MimbleWimble address
3. Send them to Suite receiving address
4. Try to send funds to different account or out of Trezor.

**Info:**
 - Suite version: desktop 22.12.0 (8564941f51e20658d0286dc26e14858d8ee0d300)
 - Browser:

[2022-11-18 15:38] scott-42 commented on #3658
Still a problem in 22.11.1 with no transactions showing. All the other sites are able to parse the Internal Transactions and this has been open for over a year. Please put this back to High priority or at least explain why it is not.

[2022-11-18 15:53] Hannsek commented on #3658
We are currently working on implementing this feature.

[2022-11-20 17:02] IvaFingerova opened #6949 "P2P&DCA Czech translations"
České překlady jsou lehce krkolomné
**P2P - Sekce list nabídek**
* Je nám líto, ale pro Vaše zadání jsme nenašli žádnou nabídku. Zkuste si vybrat z dalších nabídek níže.
* POLOHA -> LOKACE
* ROZSAH ČÁSTEK -> LIMIT KONTRAKTU
* OKNO PLATBY -> PLATEBNÍ OKNO
* NÁZEV -> TITUL
* POTVRZENÍ -> VYŽADOVÁNO POTVRZENÍ<img width="1025" alt="image" src="https://user-images.githubusercontent.com/8152411/20291329

[2022-11-21 08:04] hynek-jina opened #6950 "Repair absurdly high `anonymity level`"
![screenshot_2022-11-17_at_13 09 49](https://user-images.githubusercontent.com/26002916/202996487-73d40f2f-29bd-474e-87bd-6f68db05e9b8.png)

![Screenshot 2022-11-17 at 13 14 24](https://user-images.githubusercontent.com/26002916/202996480-9d894ed2-4fa6-409e-b719-6527ae3fc47d.png)

[trezor-suite-log-1668686429534.txt](https://github.com/trezor/trezor-suite/files/10054534/trezor-suite-log-1668686429

[2022-11-21 08:36] tomasklim commented on #6684
![Screenshot 2022-11-21 at 9 36 33](https://user-images.githubusercontent.com/33235762/203003513-4839788c-d549-4672-aacc-2c40936f0acb.png)
will do as a part of this 🔝

[2022-11-21 09:22] cryptomar1o opened #6952 "Missing symbol before some ERC20 tokens name"
**Describe the bug**
For some ERC20 tokens, the symbol is missing before the token names.

**Info:**
-   Suite Version: desktop 22.11.1 (https://github.com/trezor/trezor-suite/commit/73ccf723353e0575a64f58b2f5775d20f072311f)
-   Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36
-   OS: maOS Monterey
-   Bridge: 2.0.27
-

[2022-11-21 10:10] #6892 closed, assigned to dahaca

[2022-11-21 10:57] bosomt commented on #6892
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (f26b9c40b939037b6842c26a408f483c36b3121e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device:
 - Transport: bridge 2.0.32

[2022-11-21 11:15] Nodonisko opened #6954 "Error reporting - Sentry?"
Before any public release we definitely want to have error reporting.

1. We should use Sentry and reuse as much code is possible with desktop (there is lot configs etc. that should be reused because of privacy etc.)
2. Turning it on/off - Will be possible for users to turn it off? Not sure how this is done is desktop app but I guess for user with disabled analytics it's turned off.

[2022-11-21 11:16] Nodonisko commented on #6954
@mnuky Please take a look to second point.

[2022-11-21 11:27] #6702 closed, assigned to nobody

[2022-11-21 11:28] Nodonisko opened #6955 "Force app update"
We need way how to force user to update app after we publish new version in case we will fuckup something. This will be quite tricky because we will need server.

1. I think for now we can go with simplest variant of having plain JSON on some server with content something like this `{ androidVersion: "22.10.1", iosVersion: "22.10.1"}` and if version of app will be older than defined version here i

[2022-11-21 11:29] Nodonisko commented on #6955
@vdovhanych Is something like this possible?

[2022-11-21 11:34] Nodonisko opened #6956 "Add support for logs in app"
1. In case of problems would be really nice if we can export some logs from app.
2. We should reuse logs system from desktop suite (we should make package of it)
3. Will be accessible using in dev menu and can be exported/copied

[2022-11-21 11:45] szymonlesisz opened #6957 "Coinjoin: Cancel/resume sumbenu z-index is too high"
**Describe the bug**
Menu is visible thru modal background

**Info:**

-   Suite Version: app
-   OS: linux

**How to reproduce**
Steps to reproduce the behavior:

1. Go to coinjon account, remeber it
1. Start coinjoin session
1. Disconnect device (session should be paused)
1. Connect device
1. Try to resume using submenu and wait for the button request

**Screenshots**
![Screenshot from 2022-11-2

[2022-11-21 12:01] #6839 closed, assigned to juriczech

[2022-11-21 12:15] vdovhanych commented on #6955
It is possible but I would rather use something else than have a server just for this. Will we need more server based things in the future for the app? Is suppabase/firebase an option for you, its should allow us to have this functionality. But if we go with just the server that holds that one json file its also a possibility and it would work, just the deployment of version force updates wouldn't

[2022-11-21 12:46] juriczech opened #6958 "EnableCoins: Update available coins and selecting one"
- [x] remove switch from XPUB scan screen and instead
- [x] have a modal that lists available coins and you're able to pick one to then import your xpub

**Enable import:**
1. Bitcoin
2. Litecoin
3. Ethereum
4. Ethereum Classic
5. XRP
6. Bitcoin Cash
7. Bitcoin Gold
8. Dash
9. DigiByte
10. Dogecoin
11. Namecoin
12. Vertcoin
13. Zcash
14. Bitcoin Testnet
15. Bitcoin Regtest
16. Ethereum Ropsten
17.

[2022-11-21 12:53] kolomaznikt opened #6959 "Data Analytics: Coin Control Usage"
We want to track whether Coin control is used during transactions.

Events to track
* Coin Control opened boolean, default: false
* Coin selection used boolean, default: false. If the coin selection is in untouched then false, or if different UTXOs are selected, then true

Best would be new attributes in `transaction-created` event with boolean value.

[2022-11-21 12:55] juriczech opened #6960 "EnableCoins: Import available coins from modal"
No change in onboarding behavior is part of this task. Behavior should remain same, just new coins will be allowed as well.

This means that now xpub can be scanned for other coins than just BTC / TEST.

XPUB validation is not part of this task - behavior of adding assets will be same and validation will be done separately in https://github.com/trezor/trezor-suite/issues/6683

[2022-11-21 12:56] mnuky opened #6961 "Receive directly from asset"
As a user I would like to go directly to Receive flow when I'm on asset detail instead of choosing the asset again.

Acceptance criteria:
When user clicks on Receive on specific asset detail, we show immediately screen with Receive (see the printscreen) for the related asset.

![Image](https://user-images.githubusercontent.com/84183817/203060789-af2d3479-7f20-4b42-ad14-f841dbfc8423.jpeg)

[2022-11-21 15:14] IvaFingerova opened #6964 "DCA - amounts not anonymized"
Please anonymize all amounts (in BTC and FIAT)

<img width="872" alt="Screenshot 2022-11-20 at 17 40 28" src="https://user-images.githubusercontent.com/8152411/203090214-f40cc96c-9f7c-4963-ace7-ea4f30b7d21a.png">

[2022-11-21 15:36] mnuky commented on #6956
ad 1. I would change "really nice" to must have as we plan to integrate some "button" to app like "Report a bug" which would send the app log and message from the user to us
ad 2. 👍
ad 3. What do you mean by dev menu?

[2022-11-21 16:35] #6939 closed, assigned to szymonlesisz

[2022-11-21 16:50] komret commented on #6952
It's not a bug, it's a feature, implemented in [this commit](https://github.com/trezor/trezor-suite/commit/8fed4ff9336a4f9c7eef5d7ef29943c66208ad12#diff-7fe91df0275ac2c521d22ab6ced2f427b7d7eac291ce8641db79cd8197d7a987).
`const noName = !t.symbol || t.symbol.toLowerCase() === t.name?.toLowerCase()`, i.e. do not show the symbol if it is the same as the name.

Is it confusing? Should I remove the beh

[2022-11-21 17:02] tomasklim opened #6968 "Social meta tags do not work"
**Describe the bug**

Probably it is a leftover from `tschuss next.js` migration. We create meta tags in react, so they are not working.

https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/components/suite/Metadata/index.tsx

We should move it to `index.html`.

**How to reproduce**

1. Share `https://suite.trezor.io/web/`

**Expected behavior**

e.g. eshop
<img width="372" alt=

[2022-11-21 17:06] #6684 closed, assigned to tomasklim

[2022-11-22 08:36] juriczech opened #6971 "EnableCoins: Use other imported accounts for graph"
Currently there are some problems to load graph data for other accounts than Bitcoin and Testnet.

The problem seems to be with fetching fiat rates after initialization.

Error:
![Image](https://user-images.githubusercontent.com/36101761/203265764-d9830710-d6ec-4b5e-9608-5e71090fd0de.jpeg)

[2022-11-22 09:07] bosomt commented on #6863
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (f26b9c40b939037b6842c26a408f483c36b3121e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-22 09:49] #6909 closed, assigned to dahaca

[2022-11-22 10:10] mnuky commented on #6954
@matejkriz How is it handled now at Desktop Suite? When user turns off the tracking, do we still track the errors?

[2022-11-22 10:13] hynek-jina opened #6973 "Remove fee duplicity in `Send to myself` transaction in transaction history"
**Describe the bug**
When you consolidate your UTXOs (sending from one account to the same one) Suite displays the fee twice which is quite confusing.
![Snímek obrazovky 2022-11-22 v 10 55 55](https://user-images.githubusercontent.com/26002916/203283973-4648edbe-9d95-4f10-9641-1a4ad6d04e49.png)
<img width="320" alt="Snímek obrazovky 2022-11-22 v 11 12 56" src="https://user-images.githubuserconte

[2022-11-22 10:42] hynek-jina opened #6974 "Inconsistent rates in send dialog"
`Send amount` + `Fee` should be equal to `Total` (In sats and in fiat as well)
![Snímek obrazovky 2022-11-22 v 11 39 02](https://user-images.githubusercontent.com/26002916/203293307-59d5eb51-bea8-4af6-8712-5244712ae5e9.png)

**Proposal**
- don't refresh fiat rate when user has send dialog opened/remebered

[2022-11-22 11:21] komret commented on #6952
@sime
From Slack: "Is it confusing? -> hard to say, there was just one feedback until now from our users…"
https://satoshilabs.slack.com/archives/C01SXSHGK44/p1668758402923239

Please decide whether this behaviour should be changed, feel free to close the issue if not.

[2022-11-22 11:25] #6906 closed, assigned to komret

[2022-11-22 11:26] #6935 closed, assigned to komret

[2022-11-22 11:31] Hannsek opened #6977 "Message in developer console"
Add message to developer console in Connect v8 that there is newer Connect v9.

`Connect v9 available now. More info at https://www.npmjs.com/package/@trezor/connect.`

[2022-11-22 11:45] bosomt commented on #6821
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (f26b9c40b939037b6842c26a408f483c36b3121e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-22 12:11] bosomt commented on #5498
**QA OK**

[2022-11-22 12:45] bosomt commented on #6684
**QA OK**

[2022-11-22 13:15] bosomt commented on #6756
@komret

message is correctly displayed in Send dialogue.

<img width="618" alt="image" src="https://user-images.githubusercontent.com/31506317/203322866-279c7131-75d3-4c88-ba77-fbf32bf677c5.png">

But CJ can run with less than 5000 sats.

<img width="618" alt="Screenshot 2022-11-22 at 13 43 35" src="https://user-images.githubusercontent.com/31506317/203323003-1135ca80-eb8a-499a-be2f-0f37af6092dd.

[2022-11-22 13:27] tomasklim opened #6980 "Dependencies: migrate ripple-lib to xrpl.js"
`ripple-lib` is deprecated in favor of `xrlp.js`

**Notes:**
- migration guide https://xrpl.org/xrpljs2-migration-guide.html
- beware there is a patch file

[2022-11-22 13:30] sime commented on #5131
@Hercules1122 Additional debugging can be retrieved from the Console log. Tools menu > Browser Tools > Web Developer Tools. Please share what errors you might find there.

[2022-11-22 13:39] tomasklim opened #6981 "Dependencies: update socks-proxy-agent"
Update `socks-proxy-agent` to v7

**Notes:**
- https://github.com/TooTallNate/node-socks-proxy-agent/pull/97

[2022-11-22 13:56] bosomt opened #6982 "Loading Funds progress bar always restart when navigating in Suite"
**Describe the bug**
`Loading Funds...`progress bar always restart when navigating in Suite

**Steps to reproduce:**
1. Add CoinJoin account
2. Wait till `Loading Funds...` progress start loading
3. Navigate in Suite and back to loading and observe behavior

**Info:**
 - Suite version: desktop 22.12.0 (daaf4fbacbc8d1f613f6b4d94de04451b9d9923d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_

[2022-11-22 14:04] hynek-jina commented on #6756
@bosomt Thank you...
I will discuss that with Ondra and create a followup issue once we have clear idea how to do that..
_So I moving this issue to approved meanwhile.._

[2022-11-22 15:06] bosomt opened #6984 "Firmware udpate change log linked to draft blogpost"
**Describe the bug**
Looks like link to firmware update is linked to blogpost draft.
Medium asks you to login to proceed /no way to skip it.

Then you are navigated from
https://blog.trezor.io/trezor-suite-update-and-trezor-model-t-firmware-november-2022-3aff90dc30a3
to
https://medium.com/@satoshilabs/3aff90dc30a3

`An update for Trezor Suite (version 22.11.X) `

**Steps to reproduce:**
1. Connect

[2022-11-22 15:35] bosomt commented on #6647
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (daaf4fbacbc8d1f613f6b4d94de04451b9d9923d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model 1 1.8.2 Universal (revision 3c19e3167d69902305a27f10e43abb5fc7a0254d)
 - Trans

[2022-11-22 15:49] STew790 commented on #6911
Yes, we will take a look, we got it a couple times but not consistent steps. Will update this issue.

[2022-11-22 16:19] #6950 closed, assigned to nobody

[2022-11-22 16:19] #6938 closed, assigned to komret

[2022-11-23 09:39] juriczech opened #6986 "EnableCoins: Add distinction between enabled and imported accounts"
We need to have a distinction between imported and enabled accounts.

Create selector for imported accounts to be able to filter through them in the My assets section.

[2022-11-23 09:44] juriczech commented on #6986
@Nodonisko Let's consider moving wallet settings to `suite-common`. When you look at the state, we will need all of these properties too. I guess the question will be if this is data that should be persisted between devices as well. Or just shared logic without persisting like it is in accounts etc.

[code]

[2022-11-23 09:50] hynek-jina opened #6987 "Distinguish Bitcoin-only FW changelog"
User shouldn't see changelog of `regular firmware` when is he updating `bitcoin-only firmware`.
![image (2)](https://user-images.githubusercontent.com/26002916/203516560-512f22ae-9c51-4cd9-9be3-c4b30e2bea81.png)

[2022-11-23 10:01] bosomt commented on #6939
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (1953aba292106c1e602305b136aa765d23cb36b2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-23 10:18] juriczech opened #6988 "Filter imported accounts"
As a user I would like to be able to filter / search in imported assets in order to be able to find my assets faster when I have dozens of them.

Figma: https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/%5Bs2.0%5D-Mobile?type=design&node-id=19433%3A112322&mode=design&t=oX0r9J8ejKIZrzpt-1

Acceptance criteria:

- User can search via name of the account, name of the coin
- Matching results are displ

[2022-11-23 10:21] #6986 closed, assigned to nobody

[2022-11-23 10:34] sime commented on #6952
@gabrielKerekes @vladimirvolek

This code change has introduced into an ADA related PR. Any hesitations about allowing token name and token symbol to appear side by side if they are the same?

[2022-11-23 11:10] slowbackspace commented on #6952
I think that should have been cardano-specific change since we had no reason to change rendering of ethereum tokens => bug :disappointed:

That condition should be evaluated only in cardano right? @vladimirvolek

It was implemented because cardano tokens don’t always have a name/symbol. In such a case we are rendering only token fingerprint (unique identifier) and it didn’t make sense to render it

[2022-11-23 12:51] bosomt commented on #6828
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (1953aba292106c1e602305b136aa765d23cb36b2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-23 12:58] #6812 closed, assigned to dahaca

[2022-11-23 13:39] bosomt commented on #6909
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (1953aba292106c1e602305b136aa765d23cb36b2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/100.0.4896.160 Electron/18.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-23 14:25] komret commented on #6952
Thanks @slowbackspace, the condition to not show the symbol (and the dash) is fine for other networks, too, but the second condition (if symbol is the same as name) should be Cardano-specific or omitted entirely. Also, the variable should be called `noSymbol` rather than `noName`, I believe.

[2022-11-23 14:32] #6945 closed, assigned to nobody

[2022-11-23 15:16] slowbackspace commented on #6952
I agree the naming is confusing. Second condition is needed in cardano because name and symbol fields both fallback to asset fingerprint in case of missing token name/symbol (see example of the asset below) - don't ask why, I can't remember, but it was necessary if we did not want to rewrite half of the token management in suite which is really tailored only for ethereum tokens.

[code]

The condi

[2022-11-23 15:54] komret commented on #6952
@slowbackspace Good, please create a PR and assign me.

[2022-11-24 00:43] Hercules1122 commented on #5131
This appears in the console:
'Access-Control-Allow-Origin'
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMissingAllowOrigin

[2022-11-24 07:40] bosomt commented on #6911
**QA NOK**

i just started my Trezor Suite /with remembered wallet/ to see this :)

<img width="1190" alt="image" src="https://user-images.githubusercontent.com/31506317/203721977-a5f8df6f-0973-4cce-9708-a9205b78384c.png">

[trezor-suite-log-1669275480515.txt](https://github.com/trezor/trezor-suite/files/10081740/trezor-suite-log-1669275480515.txt)

**Info:**
 - Suite version: desktop 22.12.0 (195

[2022-11-24 07:56] #5397 closed, assigned to tomasklim

[2022-11-24 07:56] #4771 closed, assigned to tomasklim

[2022-11-24 08:42] prusnak commented on #5131
Can you please post a screenshot of the whole browser window (so we see the address-bar and contents of the website) together with the console open?

[2022-11-24 09:43] hynek-jina commented on #6610
We should be able to disable participation in CoinJoin based Suite version (commit)

[2022-11-24 10:16] Hercules1122 commented on #5131
![TSuiteError](https://user-images.githubusercontent.com/116075899/203758367-48f81de8-eaaa-4b39-9ed5-2409ef1b41d0.png)
Sure..

[2022-11-24 10:20] Hercules1122 commented on #5131
![TSuite](https://user-images.githubusercontent.com/116075899/203759301-12fc2bb4-6272-4f9d-9d81-e9af0614570e.png)
Here all good.. :)

[2022-11-24 11:22] Nodonisko opened #6999 "Show xpub of account"
We should be able to show xpub of account, at least for debugging purposes.

[2022-11-24 11:23] Nodonisko commented on #6827
So conclusion on this is rename it for users, in code it stays same.

[2022-11-24 11:31] hynek-jina opened #7000 "Disable setting of anonymity level when the CoinJoin is running"
![Coinjoin Running](https://user-images.githubusercontent.com/26002916/203774063-452bb46c-e467-48db-9e91-b01041e13d93.png)

[2022-11-24 11:35] hynek-jina opened #7001 "Improve CoinJoin success modals"
**Success Screen**
![coinjoin done](https://user-images.githubusercontent.com/26002916/204818648-bb7d39c5-66be-488f-b31c-71662d149d84.png)

---
**Few more rounds needed**
![rounds](https://user-images.githubusercontent.com/26002916/204818685-3bec1fec-05dd-4b97-94eb-f84bef46c176.png)

[2022-11-24 11:43] hynek-jina opened #7003 "Asynchronously load whole transaction history"
- do not block discovery, but load the whole transaction history afterwards

[2022-11-24 11:46] sime opened #7004 "Show feedback when Tor is slow in establishing a connection"
## Design
[Figma](https://www.figma.com/file/pIibgxmxD0jrAa9UGJd9da/Neue-Desktop-1.5?node-id=9538%3A83531&t=ZreDr6mVLoBIdItI-4)

<img width="881" alt="Snímek obrazovky 2022-11-20 v 11 23 52" src="https://user-images.githubusercontent.com/216917/203776408-bacb2043-895e-4029-8024-6bd2dfffbbb5.png">

Note the new Tor icon.

## Spec
[Notion](https://www.notion.so/satoshilabs/Tor-connection-delay-a48a

[2022-11-24 11:49] hynek-jina opened #7005 "Count grouped transaction as one in transaction history"
Prerequisite: https://github.com/trezor/trezor-suite/issues/7003

Suite is displaying circa 25 transactions on a page. Since we are grouping more CoinJoin transaction into one it looks confusing when page consists of only few group transactions.

[2022-11-24 12:15] prusnak commented on #5131
Hm, what version of the bridge are you running? What does http://localhost:21325/ say?

[2022-11-24 12:23] mnuky commented on #6999
it should be available in account settings - working on it with designers

[2022-11-24 12:30] sime commented on #6955
How critical is this nowadays? I'm assuming app store updates on both iOS and Android automatic.

[2022-11-24 12:49] tomasklim opened #7006 "Dependencies: ws"
`ws` library in `blockchain-link` package has breaking changes in `8.0.0`

**Notes:**
- https://github.com/websockets/ws/releases/tag/8.0.0
- tests are failing
![Screenshot 2022-11-24 at 13 44 34](https://user-images.githubusercontent.com/33235762/203788393-70db957b-2a53-4f22-8658-0fe7ee3a6c51.png)
<img width="682" alt="Screenshot 2022-11-24 at 13 40 38" src="https://user-images.githubusercontent.

[2022-11-24 13:50] juriczech commented on #6937
@Nodonisko I think `jotai` might not be the best choice for this in the end as it seems to struggle a little bit with multiple packages and since this will have to be passed down nearly everywhere, I think it might be better solution to add this to `settingsReducer` in the mobile app.

[2022-11-24 14:03] Nodonisko commented on #6937
What do you mean by "struggle with multiple packages"?

[2022-11-24 14:05] Nodonisko commented on #6955
You can easily turn auto-updates off and if you do some critical mistake you need to have way how to force users to update. I my point of view this is very critical.

[2022-11-24 14:07] juriczech commented on #6937
When I tried it with account graph points, it wasn't updating the value in `useAtom` / `useAtomValue`. I can try it and see and then we can always opt out to use `redux`.

[2022-11-24 14:11] Nodonisko commented on #6937
That sounds strange it must work without any issues no matter if it's different package or not. Otherwise whole library will useless because you won't be able to use in any 3rd party library.

[2022-11-24 14:12] bosomt commented on #6812
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (b23f7b7bfaa164a01b81bc7de3f9f3def6a0b30a)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-24 14:17] ghost opened #7008 "Trezor suite Tor Backend issue"
Hi , I want to use my own electrum server in the suite from my node via Tor .Tor is of course enabled . I use CADR ( https://github.com/debian-cryptoanarchy/cryptoanarchy-deb-repo-builder/ ) as a full node.
1) in CADR I generated an onion address for electrs
2) I entered the address in the suite into Bitcoin -- Backend -- custom electrum server in the format : address.onion:50001:t
![Snímek obrazo

[2022-11-24 14:23] Nodonisko opened #7010 "Can't add more different coins with same xpub"
Steps to reproduce:
1. Add BTC account with some xpub
2. Try to add TEST account with same xpub
3. It will fail and suggest that account is already added

Adding multiple coins with same xpub is valid because of BTC forks for example.

[2022-11-24 14:26] sime commented on #6968
Created a design task: https://www.notion.so/satoshilabs/Social-metadata-hero-image-f7b66fa410d548cd8383bdd66765c77b

[2022-11-24 14:33] hynek-jina opened #7011 "Add ilustration to `All funds private`"
![Group 18744](https://user-images.githubusercontent.com/26002916/203808994-ff069667-932b-45be-898f-b59c5693078a.png)

[Figma](https://www.figma.com/file/PrfGpe3axW0BBgf0UCzFyO/Exploring-CoinJoin?node-id=1%3A31768&t=TvKy2L4VSd3sjVJ6-1)

[2022-11-24 14:35] hynek-jina opened #7012 "Add CoinJoin steps guide on empty account"
![PEA — Empty](https://user-images.githubusercontent.com/26002916/203809521-9676be71-f395-4525-8778-17573c8d6ee4.png)

[2022-11-24 14:36] #6889 closed, assigned to marekrjpolak

[2022-11-24 14:54] hynek-jina opened #7013 "Change anonymity level format from `1 in 10` to plain `10`"
**Reasoning**
_`1 in 10` format is not intuitive for the user. They expect the first number to be changeable.. It doesn't help to illustrate the meaning of being one of x people._

**Where it appears**
- Anonymity level settings
- Transaction details
- Coin Control

[2022-11-24 15:28] #6952 closed, assigned to sime, komret

[2022-11-24 15:44] sime commented on #5131
@Hercules1122 I managed to reproduce your issue when `network.http.referer.hideOnionSource` in `about:config` is set to `true`.

Our [docs clearly say](https://trezor.io/learn/a/tor-in-trezor-suite-app) to set it to `false`.

[2022-11-24 16:10] sime commented on #7008
@Whiteboxi Can you connect desktop Electrum client to your electrs backend?

Also, can you connect to electrs backend over clearnet?

[2022-11-24 16:35] #6922 closed, assigned to dahaca

[2022-11-24 16:39] moderatedan commented on #3395
When using Linux Mint:

Right click the app image download. Go to permissions, which is found in properties, and allow executing file as program.

Cheers!

https://forum.trezor.io/t/how-do-i-access-suite-once-i-downloaded-it/3505/24?u=dan_brummitt

[2022-11-25 10:14] #6984 closed, assigned to nobody

[2022-11-25 10:15] mnuky opened #7023 "Change icons in menu"
Please change the icon for icon Send / Receive just for arrow down for Receiving as we have only Receiving feature so far
Please change the icon for Settings - instead of trezor icon, put settings icon

[2022-11-25 11:17] shoojilipef opened #7025 "Transaction signing error: Constructed transaction doesn't match the hash returned by the device."
Reproducible error: When attempting to transfer cardano from my trezor wallet to another ada wallet or ada address. It will work some times and other times it produces this error. My Trezor Suite was updated today to the latest version.

Error message received: Transaction signing error: Constructed transaction doesn't match the hash returned by the device.

[2022-11-25 11:22] sime commented on #7025
@shoojilipef First time seeing this issue. Out of interest, do you have a 12 or 24 word seed phrase?

[2022-11-25 11:29] sime commented on #7025
Ignore my question @shoojilipef. This is a duplicate of #6945.

Will be included in the next release.

[2022-11-25 11:31] #7025 closed, assigned to nobody

[2022-11-25 13:42] #6686 closed, assigned to juriczech

[2022-11-25 13:42] #6958 closed, assigned to juriczech

[2022-11-25 13:42] #6960 closed, assigned to juriczech

[2022-11-25 13:57] #7010 closed, assigned to juriczech

[2022-11-25 14:38] #6295 closed, assigned to nobody

[2022-11-25 14:45] hynek-jina opened #7031 "Move coinjoin from `debug` mode to live production"
Starting of 23.3.1
- [x] Both mainnet and testnet should be available outside debug mode
- [x] Switch to zkSNACKs coordinator

[2022-11-25 15:22] #6215 closed, assigned to komret

[2022-11-25 15:33] komret commented on #7013
**QA:** See PR for screenshots.

[2022-11-25 15:35] bosomt commented on #6295
**QA OK**

<img width="557" alt="image" src="https://user-images.githubusercontent.com/31506317/204016867-79475c4b-3b78-4e69-91ff-330757f5fbd9.png">

<img width="556" alt="image" src="https://user-images.githubusercontent.com/31506317/204017237-bc9735e7-9d52-4016-bc06-f2f3c524c508.png">

and i havent seen any 00

**Info:**
 - Suite version: desktop 22.12.0 (26b0a1d40abe308102d5f1a27cac0bf483fb541e

[2022-11-25 15:43] bosomt commented on #6945
**QA OK**

i was not able to reproduce issue on dev master /tried to sign 20+ txs/

**Info:**
 - Suite version: desktop 22.12.0 (26b0a1d40abe308102d5f1a27cac0bf483fb541e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5

[2022-11-25 16:01] bosomt commented on #6984
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (26b0a1d40abe308102d5f1a27cac0bf483fb541e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-25 16:59] komret commented on #6914
Indeed.

[2022-11-25 18:51] sime opened #7036 "Drop dated bech32 promotion"
**Design:**
<img width="1552" alt="image (2)" src="https://user-images.githubusercontent.com/216917/204041654-48172bb1-5556-4674-a97e-765b5f5cd2d3.png">

[2022-11-26 01:12] shoojilipef commented on #6945
It only is happening with one of my ada wallets. I've been transfer all of the funds from the malfunctioning wallet to a new wallet and while the test amounts worked twice for two different wallet addresses I can't get the remainder of the funds to transfer to another wallet now. I've tried restarting the app, my computer and waiting 12 hours..

[2022-11-26 16:50] Bobjt commented on #6945
I reproduce this issue regularly:
"Transaction signing error: Constructed transaction doesn't match the hash returned by the device."
on account (XPUB):
d062883d2b1d437f7f97575f41e9653845578a9f47ff4e4c5b73b8a56df7951b0529a2ee571f2b162f0ef078e5728760245ab597ddea2d7412ddaa670fb141eb

- Trezor Suite version 22.11.1 (22.11.1.23351)
- Firmware [2.5.3] (16th November 2022)

No matter of changing destina

[2022-11-26 16:53] Bobjt commented on #6945
Ah supposed to be fixed in 22.12.0. Holding out for that... Thanks all!!!

[2022-11-27 15:52] Hercules1122 commented on #5131
Currently installed: Trezor Bridge 2.0.27
http://127.0.0.1:21325/status/ Connected devices: 1 and recognize the Trezor I am using.

As said on clearnet link it works to connect to Suite.
It's set to `false`. Probably otherwise it won't work on regular link.

[2022-11-27 16:04] prusnak commented on #5131
That's it. You have to be running Trezor Bridge at least version 2.0.30 to enable bridge on .onion addresses.

You can download it from here https://github.com/trezor/data/tree/master/bridge/2.0.30

[2022-11-27 16:50] Hercules1122 commented on #5131
Works now! 👯‍♂️ Wonderful! 👍
I didn't notice that there is a newer version.
Because on https://trezor.io/learn/a/what-is-trezor-bridge -> https://suite.trezor.io/web/bridge/ the Download Button says 'Download latest Bridge 2.0.27'

Thank you very much for the service and great support! :-)
Keep it up!

[2022-11-28 07:04] Hannsek opened #7041 "Connect analytics: signing method"
Add tool to Connect analytics which will provide information about what kind of _contracts_ (ERC20 (tokens), ERC721 (NFTs), ERC1150 (multi-token standard)) and which smart contracts (Approve, Execute, … ) users signing.

[2022-11-28 08:44] #7036 closed, assigned to nobody

[2022-11-28 09:42] #6891 closed, assigned to marekrjpolak

[2022-11-28 09:46] #5580 closed, assigned to nobody

[2022-11-28 09:46] #6914 closed, assigned to komret

[2022-11-28 09:55] bosomt commented on #7036
**QA OK**

**Info:**
 - Suite version: web 22.12.0 (9eda6a34372ed709612b67c006f2602094d2c4c7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:107.0) Gecko/20100101 Firefox/107.0
 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Transport: bridge 2.0.32

[2022-11-28 10:03] bosomt commented on #6952
**QA OK**

<img width="737" alt="image" src="https://user-images.githubusercontent.com/31506317/204249935-1c29a0e1-bf42-4542-86bd-fd9a2cdfe249.png">

**Info:**
 - Suite version: web 22.12.0 (9eda6a34372ed709612b67c006f2602094d2c4c7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:107.0) Gecko/20100101 Firefox/107.0
 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.5.3 Universal

[2022-11-28 10:24] bosomt commented on #6889
@hynek-jina we can probably approve this one, right ?
afaik there is no way to test it on our side :)

[2022-11-28 10:54] bosomt commented on #6935
**QA Ok**

<img width="351" alt="image" src="https://user-images.githubusercontent.com/31506317/204260270-1c75db17-33c6-4e93-a1f7-481734af0377.png">

**Info:**
 - Suite version: desktop 22.12.0 (e97f817b93cf74d122ad303a2572a8fb1a9bc3f0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari

[2022-11-28 10:55] hynek-jina opened #7045 "Write tests for `network reorg`"
Two blocks are mined at the same time. We display the one we saw first. However, the network may publicize another faster and ours will cease to be valid.

Build automated test checking that account remains synced.

_`invalidateblock` keyword might help_

[2022-11-28 10:55] hynek-jina commented on #6889
Let's leave it for now.
I have opened followup issue for automated test: https://github.com/trezor/trezor-suite/issues/7045

[2022-11-28 11:24] bosomt commented on #5580
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (e97f817b93cf74d122ad303a2572a8fb1a9bc3f0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-28 12:11] bosomt commented on #6922
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (e97f817b93cf74d122ad303a2572a8fb1a9bc3f0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-28 12:25] hynek-jina opened #7046 "CoinJoin modal blocked by adding passphrase"
**How to reproduce**

1. Start CoinJoin
1. Once there are only few seconds remaining to start another round start adding new wallet (another passphrase)
1. Instead of signing modal I received empty page.. and the discovery was lost..

![Snímek obrazovky 2022-11-28 v 13 19 17](https://user-images.githubusercontent.com/26002916/204276565-8f1ca705-b772-4f55-96b6-d3c2d525c2de.png)

![Snímek obrazovk

[2022-11-28 12:54] forthgate opened #7047 "Please delete, issue was created by mistake"
Please delete, issue was created by mistake

[2022-11-28 13:01] #7047 closed, assigned to nobody

[2022-11-28 15:26] bosomt commented on #6938
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (e97f817b93cf74d122ad303a2572a8fb1a9bc3f0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-28 15:37] bosomt commented on #6906
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (e97f817b93cf74d122ad303a2572a8fb1a9bc3f0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-28 15:39] bosomt commented on #6950
**QA OK**

**Info:**
 - Suite version: desktop 22.12.0 (e97f817b93cf74d122ad303a2572a8fb1a9bc3f0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Universal (revision 2f03ace311584988d5aeab58fd1acf24ef54711a)
 - Trans

[2022-11-28 16:30] tomasklim opened #7049 "Error page Dashboard link"
**Describe the bug**
`Go to Dashboard` button navigates to the landing page and not to the dashboard

**Info:**

-   Suite Version: 22.11.1

**How to reproduce**
Steps to reproduce the behavior:

1. Go to non-existing suite route e.g. https://suite.trezor.io/web/sdfsdfdsf

**Expected behavior**
It should take to dashboard and not landing page

**Screenshots**
![lala](https://user-images.githubuser

[2022-11-28 18:51] jerechinsky opened #7051 "P2P&DCA strings missing from crowdin/messages.ts"
**Describe the bug**
In P2P flow, while reviewing an offer, there is an untranslatable string. `Receiving address`

**Steps to reproduce:**
1. Accounts -> Trade -> Buy P2P -> Show offers -> Get this deal -> Confirm
2. Notice `Receiving address`, which is untranslatable.

**Info:**
 - Suite version: web 22.11.1 (73ccf723353e0575a64f58b2f5775d20f072311f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac

[2022-11-28 18:52] jerechinsky commented on #7051
@IvaFingerova please reassign to an invity dev.

[2022-11-28 18:57] jerechinsky commented on #7051
Another one in P2P flow.

<img width="557" alt="Screenshot 2022-11-28 at 19 56 18" src="https://user-images.githubusercontent.com/75733878/204358246-d3d2d5e5-3732-4a51-91f5-7bba1cf509ff.png">

[2022-11-28 19:14] jerechinsky commented on #7051
Another one in DCA flow

<img width="787" alt="Screenshot 2022-11-28 at 20 13 10" src="https://user-images.githubusercontent.com/75733878/204361513-8838a465-e610-4ecc-8e90-2a98df558aba.png">

[2022-11-28 19:23] jerechinsky commented on #7051
Another one in DCA flow after returning from Invity's website.

<img width="847" alt="202914927-4216e355-d408-430b-9146-7ea455a9d7fa" src="https://user-images.githubusercontent.com/75733878/204363097-7f3c03bf-dd14-4228-b9e2-ede0ff9bab2a.png">

[2022-11-28 19:26] Nodonisko opened #7052 "Add support for Expo modules"
Support for Expo modules will allow us to high quality expo libraries.

Follow ups:
#7055

[2022-11-28 19:26] jerechinsky commented on #6949
Následující stringy nelze přeložit. Vytvořil jsem issuečko https://github.com/trezor/trezor-suite/issues/7051

**P2P**

address" field back on Hod Hodl, and finalize the transaction

**DCA**

---

Podle googlu se více používá termín `spořicí`.
<img width="255" alt="Screenshot 2022-11-28 at 19 59 27" src="https://user-images.githubusercontent.com/75733878/204359771-135814ae-6c54-42f5-b585-238390ac7

[2022-11-28 22:16] Nodonisko opened #7055 "Replace vision-camera with expo-barcode-scanner"
Expo module is much simpler than vision-camera and we only need scan QR codes. Also vision camera caused quite a lot of issues with build in past, so this should also hopefully make build more stable.

QA:
1. QR scanning
2. **All different combinations of granting/denying camera permission - try to deny, then it should show button go to setting, if you grant it here you should see camera again - t

[2022-11-28 22:23] #7052 closed, assigned to Nodonisko

[2022-11-29 05:34] runpure commented on #4878
Hello all

I have the same problem on Chrome

disabled ad blockers
doesnt work on incognito
Chrome disabled enhanced protection
disabled 3rd party cookies

any ideas is much appreciated

[2022-11-29 07:29] Hannsek commented on #4878
@runpure Are you using Connect v8 or v9. You would know acording to address:  `connect.trezor.io/8/popup.html#`.

[2022-11-29 07:37] Hannsek opened #7058 "Update copy: Connect popup v9 does not detect Brave as unsupported browser"
As Brave is a chromium browser, Connect popup v9 behaves like Brave is Chrome. Therefore, the error message hints user to run the popup in incognito mode. This mode is called "Private" in Brave.

![image](https://user-images.githubusercontent.com/57008159/204466786-0eb87703-1b8c-4930-8ed6-ca94124d909a.png)

Change copy of the second hint to `Open site in "Incognito/Private mode"` & `New Incognito/

[2022-11-29 07:59] juriczech commented on #6827
@Nodonisko Should we close this issue and rename this when there is more changes as well? I assume there will be more copywriting issues before release. Wouldn't worry about it now - I just wanted to solve inconsistencies.

[2022-11-29 08:34] Nodonisko commented on #6827
Yes, feel free to create new one for that copy.

[2022-11-29 08:34] #6827 closed, assigned to nobody

[2022-11-29 08:37] matejkriz commented on #6982
is this gonna solve it? https://github.com/trezor/trezor-suite/issues/6912

[2022-11-29 09:16] bosomt commented on #6982
@matejkriz you can still leave to another account/wallet/settings and come back to see 0 progress :)

[2022-11-29 09:22] bosomt commented on #6811
Im still able to reproduce issues.
Missing my hundreds transactions and inputs.
Only way to recover is to.
1. remove wallet
2. add wallet again and wait for discovery
3. enable CoinJoin again and wait for discovery

<img width="585" alt="Screenshot 2022-11-29 at 10 18 59" src="https://user-images.githubusercontent.com/31506317/204489629-745452ee-e143-4665-8d4e-857d19bc4a71.png">
<img width="625" a

[2022-11-29 11:34] karliatto opened #7062 "Remove destroyed Tor circuits"
When a Tor circuit is used again with user and password the SocksProxy is destroyed (https://github.com/trezor/trezor-suite/blob/develop/packages/request-manager/src/torIdentities.ts#L22), but the Tor circuit is still open and available even if it never going to be used again.
So we should use Tor ControlPort to destroy that circuit.

[2022-11-29 11:36] #7013 closed, assigned to komret

[2022-11-29 11:56] dahaca opened #7063 "Disallow coinjoinning when a device is disconnected"
The foundation for this feature is already [there](https://github.com/trezor/trezor-suite/pull/6796). In addition to when tor is not running, the Anonymize button should be disabled when a device is disconnected. Currently CJ is paused after disconnection but could be re-enabled without a device.

     Here is promised visualisation for disabled CoinJoin control
| Disabled | on hover |
| --- | ---

[2022-11-29 12:06] yanchenko-igor opened #7064 "Creating a bitcoin transaction with OP_RETURN bigger than 80 bytes."
According to bitcoin core max size of OP_RETURN can be modified on a per-node basis with $ bicoind -datacarriersize flag. Trezor-suite doesn't allow to use bigger than 80 bytes OP_RETURN, I would really appreciate if you could remove the hard limit and use warning instead if more than 80 bytes is used.

[2022-11-29 12:17] bosomt commented on #6803
**QA OK**
works as expected.
@hynek-jina can you confirm that it was fixed ?

**Info:**
 - Suite version: desktop 22.12.0 (e97f817b93cf74d122ad303a2572a8fb1a9bc3f0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.12.0 Chrome/104.0.5112.124 Electron/20.3.5 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.5.3 Uni

[2022-11-29 12:47] hynek-jina commented on #6803
I'm having some issues with Middleware.. so I'm not able to say.. ☹️

[2022-11-29 12:58] runpure commented on #4878
@Hannsek https://connect.trezor.io/8/popup.html#loading

Just for context, it was working fine all these while (years) and the issue only happened 4-5 days ago

[2022-11-29 13:46] sime commented on #7064
Hi Igor,

Thanks for the feedback, will take a note of this and track it internally. I can't say we will prioritise such a feature soon.

You are welcome to keep the discussion here.

[2022-11-29 13:46] #7064 closed, assigned to nobody

[2022-11-29 14:20] Hannsek commented on #4878
Just to be clear, `Allow all cookies` is enabled, right?

[2022-11-29 14:41] mnuky opened #7068 "[EPIC] Display of ETH tokens"
## Initial supported tokens
|Token|Contract|
|-|-|
|USDT|0xdac17f958d2ee523a2206206994597c13d831ec7|
|USDC|0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48|
|DAI|0x6b175474e89094c44da98b954eedeac495271d0f|
|SHIB|0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce|
|UNI|0x1f9840a85d5af5bf1d1762f925bdaddc4201f984|
|LEO|0x2af5d2ad76741191d15dfe7bf6ac92d4bd912ca3|
|WBTC|0x2260fac5e5542a773aa44fbcfedf7c193bc2c599|
|L

[2022-11-29 14:43] mnuky opened #7070 "Transaction detail polishment"
Please adjust the transaction detail according FIgma:
https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/branch/BlVnxNzUqrZkbhHgezLczh/s2-Mobile?node-id=8563%3A33626&t=7WSawB6M9vR52euv-1

Note: There is estimated time for pending transaction - do not implement it at all now, we don't have the data from blockbook yet.

Acceptance criteria:
1. When users enters the screen with TX detail he sees follo

[2022-11-29 14:43] mnuky opened #7071 "List of assets: page search"
As a user I would like to have possibility to search via imported asset in order to get to one I'm looking for faster

[2022-11-29 14:44] mnuky opened #7072 "List of assets: group assets by coin"
Ad a user I would like to see my assets grouped by coin so that I can have better clarity of my assets
Figma:

![Image](https://user-images.githubusercontent.com/84183817/205939240-f34dc6a2-c307-4a6f-8d83-07e81340a6f1.png)

Acceptance criteria:
All assets are grouped by coin and separated in the box

Out of scope:
Search is not part of this issue, please do not even put the icon there

[2022-11-29 15:29] Nodonisko opened #7073 "Use expo-clipboard"
Low hanging fruit. Replace `@react-native-clipboard/clipboard` with https://docs.expo.dev/versions/latest/sdk/clipboard/

- clipboard is used in receive flow like "copy & close"

[2022-11-29 15:32] #6053 closed, assigned to karliatto

[2022-11-29 15:40] sime commented on #6601
Fighting this again. Bumping the priority

https://user-images.githubusercontent.com/216917/204571329-d697dfad-2a7a-425f-ac25-b35701b287aa.mp4

[2022-11-29 16:23] bosomt commented on #5533
Is there plan to move this button ?
It has been reported 6 months ago and i still abort my recovery from time to time ;(((

[2022-11-30 05:01] runpure commented on #4878
Yes thats right, allow all cookies, and I tried deny 3rd party cookies, etc

I didnt change any settings and suddenly one day I got the loading screen of death

[2022-11-30 05:36] runpure commented on #4878
Am on macbook pro

Which device do you have
Model T

Which site are you using?
gmx.io

What action are you performing on that site?
compounding earn (when I close the loading screen of death, gmx.io has an error screen that says "Error: Iframe timeout")

Which version of Trezor Bridge do you have (find it by visiting: http://127.0.0.1:21325/status/)
Version: 2.0.32 (rev 9aa6576)

Are you using a p

[2022-11-30 08:52] sime commented on #5533
Thanks for mentioning it @bosomt.

Expecting that the resolution of the [recovery dropdown](https://github.com/trezor/trezor-suite/issues/6601) issue will have a side effect of lowering the anonyingness of this one.

[2022-11-30 09:02] sime commented on #4878
@runpure One troubleshooting strategy is to try a different extension.

In my understanding, [Enkrypt](http://enkrypt.com/) is compatible with MetaMask, and has the latest integration of Trezor Connect (v9). I haven't tested it thoroughly, but I haven't hit any spinners of death (yet).

[2022-11-30 09:10] IvaFingerova commented on #6949
Uuu, tak beru zpátky spořící! Issue přehazuju na devs @alex-jerechinsky

[2022-11-30 10:01] #5770 closed, assigned to nobody

[2022-11-30 10:44] sime opened #7076 "Switch onion addresses to clearnet addresses"
Due to the ongoing [instability of accessing onion services](https://status.torproject.org/issues/2022-06-09-network-ddos/) over the Tor network, migrate all onion interactions to their clearnet equivalents.

e.g. from: btc1.trezoriovpjcahpzkrewelclulmszwbqpzmzgub37gbcjlvluxtruqad.onion, to: btc1.trezor.io

Caveat: This may be the intention of the attacker.

[2022-11-30 10:46] prusnak commented on #7076
Also we need to be 100% sure we are not accessing these clearnet addresses via plain connection when in Tor mode. Every connection needs to go through Tor when in Tor mode!

[2022-11-30 10:50] tomasklim opened #7077 "Message system target old device with vendor bitcointrezor.com"
**Describe the bug**
We are probably not able to target old devices with vendor which is not trezor.io

**Info:**

-   Suite Version: 22.11.1
-   Firmware version: 1.2.0

[2022-11-30 11:16] komret opened #7078 "Google Drive labelling stays in implicit flow on desktop"
**Describe the bug**
Desktop user with Google labelling enabled is required to login every hour when the authorisation flow falls back to implicit flow (when authorisation code flow fails for some reason).

**How to reproduce**
Authorisation code flow must fail for this to happen, i.e. it cannot be manually reproduced at will.

**Expected behavior**
Go back to authorisation code flow (with long la

[2022-11-30 11:56] jerechinsky commented on #6949
Vše výše uvedené (kromě chybějících nepřekladatelných stringů) je již v developu. Zamergovalo se to v #7053. Proto issue zavírám. Na chybějící stringy je issue #7051.

[2022-11-30 11:56] #6949 closed, assigned to LukasRada

[2022-11-30 13:04] #7055 closed, assigned to Nodonisko

[2022-11-30 13:54] mnuky opened #7082 "Welcome intro while first open the app"
When user opens the app for the first time I would like to show him welcome page where we explain what the app is for and how it works

Figma designs: https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/%5Bs2.0%5D-Mobile?node-id=14524%3A54334&t=6sgLGbZic2eL1Qbh-1

Acceptance criteria:
- When user opens the app for the first time, he goes through the welcoming screens
- If the users got out of the ap

[2022-11-30 13:54] mnuky opened #7083 "Analytics settings/consent screen"
As a user I would like to decide whether to share data with Trezor.

Acceptance criteria:

- When user open the app for the first time and went through the welcome screens, we display screen with analytics consent
- If user gives us consent to track him, we switch on the analytics tracking
- If user does not give us consent to track him, we switch off the analytics tracking
- User can change his m

[2022-11-30 13:55] mnuky opened #7084 "Color schemes polishing"
Adjust the colour schemes according to final designs.
We will have only Light and Dark mode.

https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/branch/BlVnxNzUqrZkbhHgezLczh/s2-Mobile?node-id=4196%3A18262&t=ozhoqpVPoXdJNxwu-1

Acceptance criteria:

- There are two colour modes to choose from - Standard and Dark
- Colours are adjusted to final designs

[2022-11-30 15:43] Bobjt commented on #6945
When is 22.12.0 arriving and why isn't this fixed on the web yet?

[2022-11-30 15:47] sime commented on #6945
Release is planned for the 21st of December, with early access typically available a week before.

We release both web and desktop together.

[2022-11-30 15:49] sime commented on #5131
@STew790 I think this can be closed. Running Suite in Tor browser is now documented here: https://trezor.io/learn/a/tor-in-trezor-suite-app

[2022-11-30 16:27] prusnak commented on #5131
Can we please add note to this page that Trezor Bridge version at least 2.0.30 is required?

Then we can close the issue.

[2022-11-30 16:35] #6961 closed, assigned to juriczech