[2021-11-26 15:26] bosomt commented on #4524
**QA OK**

<img width="339" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/143602733-dfad4ad5-0ae4-43c7-8ce1-76bd6ce95b9e.png">

**Info:**
 - Suite version: web 21.12.0 (312a355e355722a2bb67e43133434b4e2abebbfc)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.4 regular

[2021-11-26 15:27] bosomt commented on #4338
`Advanced recovery / Šamirova záloha` translation fixed in https://github.com/trezor/trezor-suite/issues/4524

[2021-11-26 15:55] matejkriz commented on #4442
The current state is this, right?
![image](https://user-images.githubusercontent.com/3729633/143606027-ffbb2d23-1c8b-4d4c-9d08-bb747099df7e.png)

So you mean just updating the copy for RECIPIENT_REQUIRES_UPDATE key, @alex-jerechinsky ?

[2021-11-26 15:58] jerechinsky commented on #4442
That's correct. Thank you, @matejkriz!

[2021-11-26 15:58] #4442 closed, assigned to nobody

[2021-11-26 16:08] bosomt commented on #4442
**QA OK**

**Info:**
 - Suite version: web 21.12.0 (312a355e355722a2bb67e43133434b4e2abebbfc)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.4 regular

[2021-11-27 18:34] tommyz7 commented on #3213
This is a mighty annoying issue among advanced users. When I try to create a new account I get a message "Previous account is empty" which is correct, the previous account is empty indeed. The issue is that that account is used for authentication only so I just locked myself from creating a new Trezor wallet. Even funnier thing is that I used MetaMask to create another wallet and I funded it so no

[2021-11-29 08:41] karliatto commented on #3839
@bosomt  there was no added functionality, just code improvements so regress testing should be enough. Right @matejkriz ?

[2021-11-29 09:08] #4544 closed, assigned to marekrjpolak

[2021-11-29 09:15] bosomt commented on #4480
**QA OK**

already tested in asana task **[Suite] Bitcoin-like fees**

[2021-11-29 09:17] bosomt commented on #3522
**QA OK**

already tested in asana task **[Suite] Bitcoin-like fees**

[2021-11-29 10:55] bosomt opened #4571 "Transaction incorectly displayed in history"
**Describe the bug**
During latest firmware testing cycle I sent BTC and TBTC transactions that are displayed incorrectly in Suite transaction history. See screenshots. One transaction has double - and one transaction has change output displayed as another output.

transaction links
https://tbtc2.trezor.io/tx/a98472590145c557813407fe6b9e7bf9c31af34258e17e35e83b7dcaed05104b
https://btc2.trezor.io/t

[2021-11-29 12:16] #4168 closed, assigned to jerechinsky

[2021-11-29 12:36] #4537 closed, assigned to tomasklim

[2021-11-29 12:36] #4552 closed, assigned to tomasklim

[2021-11-29 12:36] #4557 closed, assigned to tomasklim

[2021-11-29 12:42] #4409 closed, assigned to dimasivan

[2021-11-29 12:44] szymonlesisz commented on #4571
1) BTC are spent from different accounts (1J.., 13.. , bc1..) so from the suite point of view two utxos doesn't belong to this account. This is why calculation goes to negative number:
https://btc2.trezor.io/tx/8cdfcbabec33e2e76e4217d41190a7e53f6e39d89ef5d63c122535b94093b1ec

Trezor should warn you about spending from different path (or even fail if you have safety_checks enabled?)

2) TEST input

[2021-11-29 13:54] bosomt commented on #4571
Looks like problem with Mycellium app. Same with Test and BTC coins.
Transaction is sent as two separate outputs /you have to confirm 2 amounts and destination addresses/
but second change address is derived from destination account and not from origin account.

I already sent email to Mycellium /support@.... and info@... /

[2021-11-29 13:54] #4571 closed, assigned to szymonlesisz

[2021-11-29 14:00] szymonlesisz commented on #4480
already in develop, via connect 8.2.3-beta.4 https://github.com/trezor/trezor-suite/commit/33d776ee08dac952823fd73ebdd1c165e7edc23e

[2021-11-29 14:00] #4480 closed, assigned to szymonlesisz

[2021-11-29 16:07] STew790 commented on #4417
I tested the Suite on Android 11 and this is what I found so far:

**QA OK**

Suite on Android now correctly doesn't show info about Bridge or about disabling WebUSB.

**QA NOK**
Some issues I found. (Will update this if I find anything else)

1) You can't swipe to the right here to see the full button
![image](https://user-images.githubusercontent.com/48477147/143901348-8e30f8b7-7b59-4199-bba2-32

[2021-11-29 16:14] matejkriz commented on #3839
yes, exactly, just regress testing (maybe with focus on using keyboard instead of mouse whenever possible..)

[2021-11-30 08:09] #3839 closed, assigned to karliatto

[2021-11-30 08:25] tomasklim commented on #4417
3. and 5., this view is not the default one for small screens. On small screens, the squared one should be the default one, which is fine.

[2021-11-30 10:38] cryptodev100 commented on #3260
Any updates?
It would be great if Dapps become more independent of specific hardware-wallets, therefore I believe that we need an abstraction-layer like WalletConnect.

[2021-11-30 10:48] STew790 commented on #4417
6. When you are doing a recovery on T1, there is no clear indication of how to confirm the word you enter. You can't click on enter on the keyboard, or rather it doesn't do anything. You need to click on the word that the drop-down menu shows you.
![image](https://user-images.githubusercontent.com/48477147/144033126-5957da43-5aa1-45e2-bf8f-36e472db2c91.png)

[2021-11-30 11:19] bosomt commented on #4480
**QA OK **

**Info:**
 - Suite version: web 21.12.0 (f4f9dcf4e2fccf6cf6f1f9d823333c03d81e1eb1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2021-11-30 11:28] bosomt commented on #4409
**QA OK**

**Info:**
 - Suite version: web 21.12.0 (f4f9dcf4e2fccf6cf6f1f9d823333c03d81e1eb1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2021-11-30 11:40] bosomt commented on #4557
**QA OK**

**Info:**
 - Suite version: web 21.12.0 (f4f9dcf4e2fccf6cf6f1f9d823333c03d81e1eb1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2021-11-30 11:56] bosomt commented on #4168
**QA OK**

**Info:**
 - Suite version: web 21.12.0 (f4f9dcf4e2fccf6cf6f1f9d823333c03d81e1eb1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2021-11-30 12:02] bosomt commented on #4544
3x **QA OK**

please consider greying out Sign and verify button when you are not able to sign or verify transaction. Event button is not active it's always green. /Maybe there is already issue for this i'm not sure/

<img width="777" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/144043531-adc95856-3a25-49d6-a04a-671dd5baa177.png">

<img width="748" alt="obrazek" src="https

[2021-11-30 12:03] bosomt commented on #4544
OK Disregard my last comment about button. There is already issue to track this issue here https://github.com/trezor/trezor-suite/issues/4100

[2021-11-30 13:16] STew790 commented on #4417
7. When you click on any "tooltip", the screen can be swiped to the left or right because the tooltip is bigger then the screen. Also, you can swipe further then the "tooltip" actually ends.
![image](https://user-images.githubusercontent.com/48477147/144054115-211e657d-6b2e-4e70-af1c-77c189770907.png)

[2021-11-30 13:36] bosomt commented on #4139
**QA OK**

**Info:**
 - Suite version: web 21.12.0 (f4f9dcf4e2fccf6cf6f1f9d823333c03d81e1eb1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.55 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.2 regular

[2021-11-30 13:40] STew790 opened #4579 "Can't use "enter" when doing T1 recovery on Android"
**Describe the issue**

When you are doing a recovery on T1, there is no clear indication of how to confirm the word you enter. You can't click on enter on the keyboard, or rather it doesn't do anything. You need to click on the word that the drop-down menu shows you.
![image](https://user-images.githubusercontent.com/48477147/144033126-5957da43-5aa1-45e2-bf8f-36e472db2c91.png)

**How to reproduce

[2021-11-30 13:47] tomasklim commented on #4417
1, 2, 4, 7 should be fixed. Give 10 minutes to pipelines

[2021-11-30 14:24] STew790 commented on #4417
**QA OK**
for 1, 2, 4, 7

**Info:**
 - Suite version: web 21.12.0 (2df245a1890912cd11897479c64014feb1bf4800)
 - Browser: Mozilla/5.0 (Linux; Android 11; Redmi Note 9 Pro) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Mobile Safari/537.36
 - OS: Linux armv8l
 - Screen: 393x873
 - Device: model T 2.4.3 regular

[2021-11-30 15:33] #4417 closed, assigned to tomasklim

[2021-12-01 08:37] bosomt commented on #4338
@alex-jerechinsky

i just found multiple issues in Czech version of 21.12.1 version of suite

**1) missing string {walletLabel}  again**
<img width="243" alt="Screenshot 2021-12-01 at 9 08 10" src="https://user-images.githubusercontent.com/31506317/144199327-b9a5aa82-4adf-480d-aeee-382965f1558f.png">

**2) In transaction hsitory I see `Přijmout` but in transaction detail it's `Přijato`**
<img widt

[2021-12-01 09:58] #4337 closed, assigned to jerechinsky

[2021-12-01 10:17] glacierbits commented on #4450
JFYI it's not aligned correctly (please [see design](https://www.figma.com/file/pIibgxmxD0jrAa9UGJd9da/Neue-Desktop-1.5?node-id=8006%3A82460))

<img width="1164" alt="Screen Shot 2021-12-01 at 10 12 22" src="https://user-images.githubusercontent.com/29627086/144216211-9298c9ea-7a30-40e8-bfd8-34406fdf5093.png">

[2021-12-01 10:37] wendys-cats commented on #4337
@tomasklim you asked to change the message to the exact same text that was there before :D
Can you please change it to a TT specific instruction text, TT does nto have any buttons to press/to not press.

[2021-12-01 11:55] hynek-jina opened #4583 "Icon update - layout alignment"
JFYI it's not aligned correctly (please [see design](https://www.figma.com/file/pIibgxmxD0jrAa9UGJd9da/Neue-Desktop-1.5?node-id=8006%3A82460))

<img width="1164" alt="Screen Shot 2021-12-01 at 10 12 22" src="https://user-images.githubusercontent.com/29627086/144216211-9298c9ea-7a30-40e8-bfd8-34406fdf5093.png">

_Originally posted by @matejzak in https://github.com/trezor/trezor-suite/issues/4450#i

[2021-12-01 13:45] matejkriz commented on #4583
will be fixed by https://github.com/trezor/trezor-suite/pull/4529/commits/60c264a89b9ea0027a349d2a044f722e5e6fe830

[2021-12-01 14:02] STew790 commented on #4552
**QA OK**
via https://github.com/trezor/trezor-suite/pull/4551

[2021-12-01 14:02] STew790 commented on #4537
**QA OK**
via https://github.com/trezor/trezor-suite/pull/4551

[2021-12-01 15:00] tomasklim opened #4585 "Generic guide end-to-end tests"
**The goal is to create generic tests.**

There is `guide.test.ts` test file in a project.
This file contains tests that are dependent on the current structure of the guide.
As the structure and articles of the guide are constantly changing, this test file would have to be constantly updated.
For now, the tests are skipped to avoid wasting time.

[2021-12-01 15:10] tomasklim opened #4586 "Add support for "Hint" feature in Suite Guide"
It would be nice to extend our guide markdown to support hints which are available in Gitbook. Right now, we have "Tips" and "Warnings" just with icons and plain text. It would be nice to be able to highlight it.

Now (text after bulb):
<img width="339" alt="Screenshot 2021-12-01 at 16 05 05" src="https://user-images.githubusercontent.com/33235762/144259074-9d1b9e93-66f8-420a-ad6a-c94afb1f1e68.png

[2021-12-01 15:23] b-irving commented on #4586
Great idea - properly formatted hints and callouts would be much more effective when highlighting the most important information for the user.

[2021-12-01 15:40] STew790 opened #4588 "You can't switch devices by clicking on "Select device" button in notifications"
**Describe the bug**
The "Select device" button in the notifications is not working. You can't switch between devices back and forth using these buttons. These buttons are also, in my opinion, not really neccessary, since you can switch devices more easily in the select wallet modal.

**Steps to reproduce:**
1. Have one device already connected to the Suite.
2. Connect another device and click on

[2021-12-02 09:18] matejkriz commented on #2542
Design:
<img width="694" alt="image" src="https://user-images.githubusercontent.com/3729633/144392968-e9af870b-bb12-4287-b4c6-7fcc85656715.png">

EDIT: updated design
![image](https://user-images.githubusercontent.com/3729633/148356053-51f3fb85-ea30-4e9c-a206-ac755cb15429.png)

Following states in [Figma](https://www.figma.com/file/BUMem1C7j4roQDyJf9yxQT/Exploring-Onboarding?node-id=807%3A438)

[2021-12-02 09:50] jerechinsky commented on #4583
Closing this issue as this will get resolved in the December release.

[2021-12-02 09:50] #4583 closed, assigned to matejkriz

[2021-12-02 14:38] STew790 commented on #3153
**QA OK**

**Info:**
 - Suite version: web 21.12.1 (4a5547dd0d5c3608718f736e2f34638dc427e2d4)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.10.4 regular

[2021-12-03 08:15] mroz22 opened #4601 "[TRACKER] @trezor/transport followup"
- [x] archive https://github.com/trezor/trezor-link
- [x] update index redme
- [x] release @trezor/transport to npm (under @trezor org)
- [ ] add logging back (sorry, forgot about it) [original decorator](https://github.com/trezor/trezor-link/blob/9c200cc5608976cff0542484525e98c753ba1888/src/debug-decorator.js), [implementations 1](https://github.com/trezor/trezor-link/blob/9c200cc5608976cff054248

[2021-12-03 08:34] hynek-jina commented on #2737
- [ ]  Write tests - Electrum backend should returns the same output as the Blockbook

The electrum API returns a maximum of 200 transactions (or addresses)- all in one package.
- [ ] Check how other applications solve this

[2021-12-03 08:56] matejkriz commented on #2542
- [ ]  consider if there is another special state where it makes sense to provide wipe button directly

[2021-12-03 09:05] prusnak commented on #2737
For the record: This is caused by an electrs setting option. There is an [`index_lookup_limit` variable](https://github.com/romanz/electrs/blob/cd348e72de9071549755170e9709ae922e023083/internal/config_specification.toml#L111-L115) which is set to 200 by default. If this is increased (on the server side), the API will return more than 200 transactions per address.

[2021-12-03 09:20] marekrjpolak commented on #2737
Moreover, the problem on `all` seed was caused by too many utxos on some output addresses (e.g. [Bitcoin Eater](https://btc1.trezor.io/address/1BitcoinEaterAddressDontSendf59kuE)) and is currently solved by not calculating the `spent` flag for all tx outputs. Nevertheless the principle is still the same and the issue should be solved by https://github.com/spesmilo/electrumx/pull/90.

[2021-12-03 09:29] prusnak commented on #2737
I came up with a different solution which is hopefully straightforward and can be done on the server side easily: https://github.com/romanz/electrs/issues/635 - let's introduce a server-side skip-list which would skip known popular addresses.

[2021-12-03 10:17] bosomt opened #4603 "<path> attribute d: Expected number, "\n error when loading Taproot accounts"
**Describe the bug**
Noticed that there is error in Chrome browser console when loading taproot accounts of all seed.
Same results for T1 and TT. No error si reported when we load our test passphrase accounts.
Application and Firefox is behaving correctly, no error in console or log.

**NO OK** tr([5c9e228d/86'/0'/0']xpub6Bw885JisRbcKmowfBvMmCxaFHodKn1VpmRmctmJJoM8D4DzyP4qJv8ZdD9V9r3SSGjmK2KJEDnvL

[2021-12-03 10:18] Kixunil commented on #2737
Thanks for doing this, folks! If possible it'd be great to be able to set the server *before* any request is made to the default one.

[2021-12-03 11:15] wendys-cats opened #4604 "Missing label in transaction history export"
**Describe the bug**
There is a missing label in transaction history export (missing in JSON, PDF and csv formats).

**Steps to reproduce:**
1. Enable labeling (google)
2. Create labels
3. Export
4. Check

**Info:**
 - Suite version: web 21.12.1 (4a5547dd0d5c3608718f736e2f34638dc427e2d4)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.4

[2021-12-03 11:16] wendys-cats commented on #4604
@STew790 reported that he has also reproduced the issue, and it looks like the second transaction (the second newest) or second label (from the top) is always missing the label in export.

[2021-12-03 11:21] wendys-cats commented on #4604
Production also displays this bug :D
(mnaudva label missing in csv export)
![image](https://user-images.githubusercontent.com/58593111/144594347-07707e1b-66b2-4544-9b95-6402db6bce2e.png)

[2021-12-03 11:25] bosomt commented on #4604
same results with `Saving labels locally`

<img width="699" alt="Screenshot 2021-12-03 at 12 04 23" src="https://user-images.githubusercontent.com/31506317/144594653-c8154871-fec8-4cef-8684-bdb4f45884fb.png">

<img width="785" alt="Screenshot 2021-12-03 at 12 04 02" src="https://user-images.githubusercontent.com/31506317/144594808-1317eb64-b627-4214-8ace-24a69753c21c.png">

[2021-12-03 13:47] STew790 commented on #3663
**QA OK**
We already tested and discussed this with @mroz22 extensively.

[2021-12-03 14:17] STew790 commented on #4224
**QA NOK**
This is still present. I just updated from 1.5.2 FW to 1.10.3
**Info:**
 - Suite version: web 21.12.1 (e6e9041850c1bdddfcc6590b1f4e6a47c8a40ce8)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.10.3 regular

[2021-12-03 14:18] STew790 commented on #4156
**QA NOK**
Unfortunately, I just updated from 1.5.2 FW to 1.10.3 and the issue is that only the device shows the fingerprint and not the Suite. This is due to this issue https://github.com/trezor/trezor-suite/issues/4224.

**Info:**
 - Suite version: web 21.12.1 (e6e9041850c1bdddfcc6590b1f4e6a47c8a40ce8)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0

[2021-12-03 15:46] tomasklim commented on #4462
@Hermez-cz

[2021-12-03 17:15] tsusanka commented on #3663
@mroz22 closing?

[2021-12-03 18:31] mroz22 commented on #3663
probably yes. lets hope for the best prepare for the worst.

[2021-12-03 18:31] #3663 closed, assigned to mroz22

[2021-12-03 18:34] mroz22 commented on #2923
closing in favor of #4601

[2021-12-03 18:34] #2923 closed, assigned to mroz22

[2021-12-04 08:52] prusnak commented on #2737
After short discussion, the electrs maintainers decided to disable the `index_lookup_limit` by default: https://github.com/romanz/electrs/pull/637

The change will be released in the upcoming electrs 0.9.4.

This resolves the issue with providing only a maximum of 100/200 transactions per address. We should think about adding some kind of progress in case there is more data being fetched from the

[2021-12-04 09:16] Kixunil commented on #2737
Unfortunately without pagination there's no way to actually measure progress. Maybe show progress by number of addresses. (Will jump around for certain people but I don't believe it can be solved.) This heuristics could improve efficiency:

* Send request for first address (or first few)
* If there are many address reuses scan addresses one-by-one
* Else scan them by chunks

This way you can get a

[2021-12-04 09:55] prusnak commented on #2737
Progress does not have to be a progress bar with percent. Progress can be shown also as a rotating wheel or just a text "please wait, I am doing something" :-)

[2021-12-05 03:08] nextux commented on #3211
Assuming that this would be similar to what the old Trezor Wallet could do?

https://wiki.trezor.io/User_manual:Running_a_local_instance_of_Trezor_Wallet

I have some FujiCoin that I would love to see in Trezor Suite, but doesn't look like I can use the custom Blockbook backend with Trezor Suite as yet.

[2021-12-06 09:19] bosomt opened #4609 "LTC B32 account informs you about BTC B32 account lower fees"
**Describe the bug**
LTC B32 account informs you about BTC B32 account lower fees.
See screenshot. Same result on Production and staging Suite.

**Steps to reproduce:**
1. Enable LTC accounts
2. Observe LTC Bech32 account

**Info:**
 - Suite version: web 21.12.1 (48d05025d88905d197da84538fb8d4c6d6b6b9e0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0

[2021-12-06 09:30] #4603 closed, assigned to tomasklim

[2021-12-06 09:33] prusnak commented on #4609
Fix in https://github.com/trezor/trezor-suite/pull/4610

[2021-12-06 09:36] bosomt commented on #3728
Can you please rise priority of this issue ? @alex-jerechinsky  @hynek-jina
Suite does not inform you that you are using almost 4 years old firmware 1.6.3 and you really need to upgrade it.

![obrazek](https://user-images.githubusercontent.com/31506317/144822188-5d9112da-9794-4413-8456-97e3f42ad013.png)
![obrazek](https://user-images.githubusercontent.com/31506317/144822200-5f0ff32f-0960-4924-8cb2

[2021-12-06 10:02] hynek-jina commented on #4609
Duplicate of https://github.com/trezor/trezor-suite/pull/4610

[2021-12-06 10:19] matejkriz commented on #4156
@STew790 Could you please try it from FW 1.6.0 or 1.6.1 to verify, that the fingerprint is OK in case it's shown? As you mentioned, not showing the fingerprint in Suite is another issue 😞

[2021-12-06 10:50] tsusanka commented on #2737
We have discussed next steps with @marekrjpolak in more detail:

## Product (@matejzak):
- [x] Create design for Settings - option to add Electrum server (maybe it is the same input as the one for blockbook 🤷)
- [ ] Improve onboarding - option for connecting Electrum server (nice to have, we can roll this out without this as we'll have the CLI `--option`)
- [x] Check and finalise design for "modal

[2021-12-06 10:50] matejkriz commented on #4450
all success and error icons should be fixed including the alignment

[2021-12-06 12:00] bosomt commented on #4603
**QA OK**

**Info:**
 - Suite version: web 22.1.0 (b0211c48a38db505905d091baa99d055d0a25b81)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:94.0) Gecko/20100101 Firefox/94.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.4 regular

[2021-12-06 12:52] STew790 commented on #4450
**QA OK**

**Info:**
 - Suite version: web 21.12.1 (48d05025d88905d197da84538fb8d4c6d6b6b9e0)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.3 regular

[2021-12-06 13:30] Kixunil commented on #2737
FYI regarding Electrum servers Taproot should be no-op because the Electrum protocol already hashes whole `script_verify` and doesn't care what's inside.

[2021-12-06 14:18] matejkriz commented on #3729
- [ ] Check if it makes sense to enable Settings in some of the special states of the device too (unacquired, unreadable, unknown, seedless, recovery, bootloader...) But let's leave it on some phase 2.

[2021-12-06 16:31] tsusanka commented on #4410
Let's not worry about Suite Guide on mobile Android and solve this in the native app properly.

[2021-12-06 16:31] #4410 closed, assigned to nobody

[2021-12-06 17:03] tsusanka commented on #4262
Discussed with the product team: Let's add both inter and 2.1.1. ~ 1.5 MB is nothing.

[2021-12-06 17:09] matejkriz commented on #4262
It's the current solution, so it's done ;-)

[2021-12-06 17:09] #4262 closed, assigned to nobody

[2021-12-06 17:17] #4609 closed, assigned to nobody

[2021-12-06 19:10] bosomt commented on #4609
**QA OK**

**Info:**
 - Suite version: desktop 21.12.1 (c2f3c43646f88ec791001606428cd78f14d3a482)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.12.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2021-12-07 09:56] #3900 closed, assigned to matejkriz, b-irving

[2021-12-07 10:23] jerechinsky commented on #3329
currently irrelevant

[2021-12-07 10:23] #3329 closed, assigned to szymonlesisz

[2021-12-07 10:27] tomasklim commented on #3633
#4595 targeted `styled.a - (11 occurrences) not covering anything`

To be done:
`it would be nice to reduce it to 2 (?)`

[2021-12-07 12:38] tsusanka commented on #2737
Btw some numbers from testing this on the [PR](https://github.com/trezor/trezor-suite/pull/4500) (commit 5348af3e) on my "small testing seed" (cca 10 transactions):
- About **12 seconds** from choosing Standard wallet to the dashboard loaded up properly on our internal company server. Tor OFF.
- About **22 seconds** from choosing Standard wallet to the dashboard loaded up properly on my personal r

[2021-12-07 12:44] #4454 closed, assigned to karliatto

[2021-12-07 14:31] STew790 commented on #4337
**QA OK**
![image](https://user-images.githubusercontent.com/48477147/145047726-94c2b9c5-19e6-4180-bb01-2c1278236d2f.png)

**Info:**
 - Suite version: web 21.12.1 (c2f3c43646f88ec791001606428cd78f14d3a482)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.3 regular

[2021-12-07 15:44] tsusanka commented on #3728
@bosomt I have read some discussion on slack that this is not exact is it? So does it concern only 1.6.3? Please elaborate :).

[2021-12-08 00:19] trymeouteh commented on #2770
Would like this feature for all UTXO coins supported in Trezor Suite (BTC, BCH, LTC, DASH, DGB, etc) and have this feature enabled by default to prevent any errors of a new installation of sending funds from two or more addresses out.

[2021-12-08 00:22] trymeouteh opened #4618 "Storing NFTs support"
Please add support for storing NFTs into your Trezor wallet.

[2021-12-08 00:23] trymeouteh commented on #3260
Would like to see this to interact with other web3 apps.

[2021-12-08 08:21] bosomt commented on #3728
@tsusanka afaik it's only problem with firmwares
older than 1.8.0 /[marked too old by Trezor connect](https://github.com/trezor/connect/blob/eadacf99637b6dabd54165879184724dc96d032e/src/data/config.json#L95)/
and newer than 1.6.1 /marked by Trezor Suite as too old /

so it includes 1.6.3,1.7.1,1.7.2 and 1.7.3 /but i haven't tested them , just 1.6.3/

[2021-12-08 08:22] bosomt commented on #3728
1.6.1 fw

![obrazek](https://user-images.githubusercontent.com/31506317/145173697-33e20e37-0e69-4db0-987c-0915ee3e33f0.png)

1.6.3 fw

![obrazek](https://user-images.githubusercontent.com/31506317/145173722-5bac7541-9643-4ef0-a27a-4369aa94804b.png)

[2021-12-08 09:38] matejkriz commented on #4156
The verification is blocked by https://github.com/trezor/trezor-suite/issues/4224

[2021-12-08 11:38] mroz22 commented on #4618
Hi @trymeouteh, what do you exactly mean by "storing NFTs"?
To be more specific - what kind of data should be stored and where exactly this data should be stored in your opinion?

[2021-12-08 11:51] wendys-cats commented on #3982
Could not reproduce on 21.12.1 APP.

**Info:**
 - Suite version: desktop 21.12.1 (c2f3c43646f88ec791001606428cd78f14d3a482)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.12.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model 1 1.10.4 regular

[2021-12-08 13:01] bosomt commented on #3982
same result on macOS, tested 10+ times now
looks like it's Linux only problem

**Info:**
 - Suite version: desktop 21.12.1 (c2f3c43646f88ec791001606428cd78f14d3a482)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.12.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.4 re

[2021-12-08 13:41] STew790 commented on #4437
**QA OK**

Just tested this with @bosomt

[2021-12-08 14:18] bosomt opened #4621 "Scroll bar in Install firmware modal"
**Describe the bug**
We occasionally see  scroll bar in `Install firmware` modal.
So far I was only able to reproduce it multiple times in Firefox and not in Chrome or app.
I'm not able to replicate it during every firmware update.

**Steps to reproduce:**
1. a
2. b
3. c

**Info:**
 - Suite version: web 21.12.1 (c2f3c43646f88ec791001606428cd78f14d3a482)
 - Browser: Mozilla/5.0 (Macintosh; Intel Ma

[2021-12-09 03:25] uj opened #4624 "Suite blocked a request to api.coingecko.com"
After the recent Suite update (21.12.2), it gives this popup error every time Suite is opened:

[code]

Windows 10

This has been reported by multiple people: https://www.reddit.com/r/TREZOR/comments/rc4vnv/suite_blocked_a_request_to_coingecko_error/

[2021-12-09 08:49] prusnak commented on #4624
Thanks for the report!

The Suite Desktop contains a "firewall" which blocks requests to non-approved origins.

The only place where we contact the API is in the invity code here: https://github.com/satoshilabs/invity-api/blob/dd75d3e51e4e91557505b4bd9fde5ac0dcd4f9c2/src/exchangeRateService.ts#L35

The invity code should access the API via our proxy too: https://github.com/trezor/trezor-suite/blob

[2021-12-09 09:44] tsusanka commented on #4624
That's right but the code is there [already 6 months](https://github.com/satoshilabs/invity-api/blame/dd75d3e51e4e91557505b4bd9fde5ac0dcd4f9c2/src/exchangeRateService.ts#L35). Something had to change? 🤔

cc @martinboehm

[2021-12-09 09:45] marekrjpolak commented on #4624
@tsusanka yes, the request-filter itself had changed.

[2021-12-09 09:50] martinboehm commented on #4624
@prusnak The code you mention is in our API server, it has nothing to do with the Suite. It cannot cause this issue.

[2021-12-09 09:55] prusnak commented on #4624
Ah, sorry. I thought the invity-api code is included in the Suite, but it seems only the types from `@types/invity-api` are included.

[2021-12-09 12:15] STew790 commented on #4463
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/145394148-4763aacd-812b-4372-a59f-dce17d728ba7.png)
![image](https://user-images.githubusercontent.com/48477147/145394242-b986ce1c-466e-47f6-8425-2a4a670450f2.png)
![image](https://user-images.githubusercontent.com/48477147/145394698-9b40eeac-f558-44b9-b87f-b44f3d1360db.png)

**Info:**
 - Suite version: desktop 21.12.2 (8cedeed

[2021-12-09 12:25] sunknudsen commented on #3999
Trying to get https://suite.trezor.io/web/ and https://connect.trezor.io/8/popup.html#loading working on Tails/Tor Browser.

Trezor Bridge is installed and I configured Tor Browser (network.proxy.no_proxies_on 👉 127.0.0.1:21325), but I get “Steps to make sure Trezor Bridge is running”.

Using `https` vs `onion` because this is how third parties integrate Trezor (see https://adalite.io/).

[code]

[2021-12-09 12:39] prusnak commented on #3999
Did you set `network.http.referer.hideOnionSource` to `false`? Mentioned at the bottom of https://wiki.trezor.io/Glossary:Tor

The bridge needs to "see" the referrer, otherwise the CORS does not work.

[2021-12-09 12:45] sunknudsen commented on #3999
@prusnak Thanks for helping out… no given I am using `https` version vs `http://…onion`.

My understanding is that `network.http.referer.hideOnionSource` is only required when using onion addresses.

Btw, noticed https://suite.trezor.io/web/ does not suggest onion address (“.onion available”) like I do on https://sunknudsen.com/.

Is this bad practice? Wanted to try `network.http.referer.hideOnion

[2021-12-09 12:51] prusnak commented on #3999
It should:

[code]

With that onion address, the web version of the Suite should work in the Tor browser. If it doesn't work with the onion address please open a new issue.

If the ".onion available" button does not show for you, please open a new issue.

If AdaLite does not work, please open an issue in their repository.

[2021-12-09 13:21] #4502 closed, assigned to b-irving

[2021-12-09 13:26] sunknudsen opened #4626 "`meta httpEquiv` translates to `httpequiv` not `http-equiv`"
**Describe the bug**

".onion available" button not showing on Tor Browser (Tails and macOS)

**Info:**

 - Remembered Wallet: not applicable
 - Suite Version: https://suite.trezor.io/web/
 - Browser: Tor Browser 11.0.2
 - OS: Tails 4.25, macOS Big Sur 11.6.1
 - Bridge: not applicable
 - Firmware Version: not applicable

**How to reproduce**

Steps to reproduce the behavior:

1. Go to https://suit

[2021-12-09 13:26] sunknudsen commented on #3999
https://github.com/trezor/trezor-suite/issues/4626

I am pretty sure issue is related to https://github.com/trezor/trezor-suite/issues/3999#issuecomment-989805212 not AdaLite.

[2021-12-09 13:40] bosomt commented on #2643
**QA NOK**

problem with just this one transaction

<img width="449" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/145406826-9a1cb592-419b-4de3-a247-ea04940e129a.png">

**Info:**
 - Suite version: desktop 21.12.2 (8cedeed1d1da121ab6b3dff4cb6365b9030634a2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.12.2 C

[2021-12-09 14:55] sentry[bot] opened #4627 "Error: [ethjs-unit] while converting number 0..2 to wei, too many decimal points"
https://sentry.io/organizations/satoshilabs/issues/?project=5193825&query=is%3Aunresolved+ethjs-unit&statsPeriod=90d

Sentry Issue: [TREZOR-SUITE-2VB](https://sentry.io/organizations/satoshilabs/issues/2838601423/?referrer=github_integration)

[code]

[2021-12-09 14:57] sentry[bot] opened #4628 "TypeError: Cannot read properties of undefined (reading 'decode')"
https://sentry.io/organizations/satoshilabs/issues/?project=5193825&query=is%3Aunresolved+Cannot+read+properties+of+undefined+%28reading+%27decode%27%29&statsPeriod=90d

Sentry Issue: [TREZOR-SUITE-2VA](https://sentry.io/organizations/satoshilabs/issues/2834174258/?referrer=github_integration)

[code]

[2021-12-09 15:06] sentry[bot] opened #4629 "TypeError: Failed to fetch"
Check if analytics URL could be too long (413)

Sentry Issue: [TREZOR-SUITE-2RQ](https://sentry.io/organizations/satoshilabs/issues/2763464331/?referrer=github_integration)

[code]

[2021-12-09 15:08] matejkriz commented on #3461
still happening quite often https://sentry.io/organizations/satoshilabs/issues/2653995343/

[2021-12-09 15:11] matejkriz commented on #3438
It wasn't multiple electron instances...

[2021-12-09 18:04] prusnak commented on #4626
The issue is here.

https://github.com/trezor/trezor-suite/blob/780c9d2e46a97b149d99ae077b89cd4ac7b37af4/packages/suite-web/src/static/index.html#L20-L23

In 0390b4354e38c3c7f869624e9b3011f01d5311ac we replaced `packages/suite-web/pages/_document.tsx` with `packages/suite-web/src/static/index.html` but since the file is not processed by React anymore we have to convert `httpEquiv` to `http-equiv`

[2021-12-09 20:46] sunknudsen opened #4630 "https://suite.trezor.io/web/ does not work on Tor Browser (Tails and macOS)"
**Describe the bug**

Going to https://suite.trezor.io/web/ on Tor Browser (Tails and macOS) does not work (see screenshots) even if one has installed Trezor Bridge and set `network.proxy.no_proxies_on` to `127.0.0.1:21325`.

**Info:**

 - Remembered Wallet: not applicable
 - Suite Version: latest
 - Browser: Tor Browser 11.0.2
 - OS: Tails 4.25, macOS Big Sur 11.6.1
 - Bridge: 2.0.27 on Tails and

[2021-12-10 01:03] sorooris commented on #3999
@sunknudsen big fan of yours, I'll make myself available for any retests if needed, yours truly, former Trezor QA lead, just lemme know.

[2021-12-10 01:23] melroy89 commented on #4618
Let's fist start with which blockchain are we talking about? Nfts are supported once a blockchain supports smart contracts. So almost any smart contract platform can and does offer nft's.

[2021-12-10 01:33] melroy89 commented on #2737
This issue is btw very important, since it give me (and most importantly; others as well) more trust in storing bitcoin in your suite. After all, centralized services can become down.

Those services can be temporary down or permanently down (worst case scenario).

[2021-12-10 01:35] melroy89 commented on #4518
I'm a linux user so 👍🏽 from me!

[2021-12-10 07:04] prusnak commented on #4630
1. Is Javascript enabled for https://suite.trezor.io?

2. Just to confirm, the following address works for you (from https://wiki.trezor.io/Glossary:Tor) `http://suite.trezoriovpjcahpzkrewelclulmszwbqpzmzgub37gbcjlvluxtruqad.onion/` (providing you have also set `network.http.referer.hideOnionSource` to `false`)

[2021-12-10 09:42] soucek87 opened #4631 "XRP Sign transaction error"
**Describe the bug**
Recently, a few users reported this error: "Sign transaction error: extends Failed to forward request to p2p node" when trying to send out XRP from their Trezor wallet connected to Trezor Suite.

Looks like XRP network is really busy and the default fee is the problem.

**Info:**
Occurs no matter what Suite version and FW is used.

**Expected behavior**
XRP tx should go throug

[2021-12-10 10:19] bosomt commented on #4631
I can confirm that in recent weeks we have problem to send XRP transactions due to low fees /no idea if there is any fee estimation for XRP/
Of course this behavior changes from time to time and probably it depends on network congestion.

Transaction via exodus - fee 0.005 XRP - no problem
Transaction via Suite    - fee 0.000031 XRP - set manually `Transaction signing error: Held until escalated f

[2021-12-10 11:26] sunknudsen commented on #4630
Yes

Interesting… it doesn’t.

On Tails:

![Screenshot from 2021-12-10 11-20-38](https://user-images.githubusercontent.com/2117655/145566695-2c551464-7a3b-44af-8bd1-80ebaa5bdb29.png)

On macOS:

![Screen Shot 2021-12-10 at 6 02 10 AM](https://user-images.githubusercontent.com/2117655/145564207-a2c23ead-58f6-4ce3-afb8-773d9ecbfdbe.png)

![Screen Shot 2021-12-10 at 6 04 33 AM](https://user-images.gi

[2021-12-10 11:29] sunknudsen commented on #3999
Thanks for helping out @sorooris.

[2021-12-10 11:32] prusnak commented on #4630
@sunknudsen did you set `network.http.referer.hideOnionSource` to `false` before your tests?

[2021-12-10 11:34] sunknudsen commented on #4630
@prusnak yes, both on Tails and macOS.

[2021-12-10 11:36] sunknudsen commented on #4630
@prusnak Do you believe we can get the `https` version working as well?

This would significantly increase changes of getting https://connect.trezor.io/8/popup.html#loading to work right?

[2021-12-10 11:36] prusnak commented on #4630
I think I found the culprit : https://gitlab.torproject.org/tpo/applications/tor-browser/-/issues/26463

It seems that IndexedDB does not work in newer builds of Tor Browser :-(

[2021-12-10 11:38] prusnak commented on #4630
But maybe that IndexedDB warning is just a warning.

I can reproduce now with Tor Browser - will investigate further. Thank you for the report!

[2021-12-10 11:39] sunknudsen commented on #4630
Thanks for helping out @prusnak!

[2021-12-10 12:19] hynek-jina opened #4632 "Suite UI 1.5 - General updates vol. II"
**Design:** [Figma](https://www.figma.com/file/pIibgxmxD0jrAa9UGJd9da/Neue-Desktop-1.5?node-id=7617%3A77348)

- [x] Text input
- [x] Dropdown input
- [x] Dropdown menu
- [x] Segmented control
- [x] Modals
- [x] Navigation
- [x] Icons in settings and titles

- [x] Add Closing `X` on settings page
- [x] Remove 3 dots in settings
- [x] Unify corner radius in Dashboard news

**Notes:** [Notion](https:

[2021-12-10 15:17] stepmes commented on #2164
Thanks @HeroHann for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-10 15:17] #2164 closed, assigned to stepmes

[2021-12-10 17:01] Tondoshi opened #4634 "Model T freezes if host goes to sleep before simulated recovery process is completed"
**Describe the bug**
Using a Trezor Model T and Trezor Suite 21.12.2, user completed onboarding and clicked Check backup to initiate simulated recovery. During recovery, the host computer (MacBookAir 10,1, Apple M1) briefly fell asleep. This caused Suite to show an error that the recovery had failed. The Trezor Model T allowed the user to continue the process until the 12th and final word, then fr

[2021-12-11 16:17] tsusanka commented on #4624
@uj in case you are still seeing this error please follow these [instructions](https://www.reddit.com/r/TREZOR/comments/rc4vnv/comment/hnzwp0p/?utm_source=share&utm_medium=web2x&context=3).

@matejkriz I think we should revert https://github.com/trezor/trezor-suite/pull/4625 as it was just an attempt for hotfix which we did not release. We can close after I believe.

[2021-12-12 19:18] btfdip commented on #3260
super smooth when I use the integration between ledger and walletconnect, hope that trezor can also consider this feature.

[2021-12-12 19:28] stepmes commented on #2506
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:28] #2506 closed, assigned to stepmes

[2021-12-12 19:28] stepmes commented on #2685
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:28] #2685 closed, assigned to stepmes

[2021-12-12 19:28] stepmes commented on #2934
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:28] #2934 closed, assigned to stepmes

[2021-12-12 19:30] stepmes commented on #3213
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:30] #3213 closed, assigned to stepmes

[2021-12-12 19:33] stepmes commented on #3260
Thanks everyone for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:33] #3260 closed, assigned to stepmes

[2021-12-12 19:33] stepmes commented on #3420
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:33] #3420 closed, assigned to stepmes

[2021-12-12 19:33] stepmes commented on #3441
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:33] #3441 closed, assigned to stepmes

[2021-12-12 19:34] stepmes commented on #3466
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:34] #3466 closed, assigned to stepmes

[2021-12-12 19:35] stepmes commented on #3489
Thanks @Sascha-1 for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 19:35] #3489 closed, assigned to stepmes

[2021-12-12 21:52] #3498 closed, assigned to stepmes

[2021-12-12 21:52] stepmes commented on #3500
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:52] #3500 closed, assigned to stepmes

[2021-12-12 21:52] stepmes commented on #3504
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:52] #3504 closed, assigned to stepmes

[2021-12-12 21:53] stepmes commented on #3536
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:53] #3536 closed, assigned to stepmes

[2021-12-12 21:53] stepmes commented on #3540
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:53] #3540 closed, assigned to stepmes

[2021-12-12 21:54] stepmes commented on #3588
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:54] #3588 closed, assigned to stepmes

[2021-12-12 21:55] stepmes commented on #3751
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:55] #3751 closed, assigned to stepmes

[2021-12-12 21:56] stepmes commented on #3753
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:56] #3753 closed, assigned to stepmes

[2021-12-12 21:56] stepmes commented on #3772
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:56] #3772 closed, assigned to stepmes

[2021-12-12 21:56] stepmes commented on #3989
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:56] #3989 closed, assigned to stepmes

[2021-12-12 21:58] stepmes commented on #4009
Thanks very much for this feedback, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:58] #4009 closed, assigned to stepmes

[2021-12-12 21:59] stepmes commented on #4029
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 21:59] #4029 closed, assigned to stepmes

[2021-12-12 22:00] stepmes commented on #4174
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 22:00] #4174 closed, assigned to stepmes

[2021-12-12 22:01] stepmes commented on #4199
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 22:01] #4199 closed, assigned to stepmes

[2021-12-12 22:02] petrkr commented on #4199
Is it done? Since you closed this issue?

[2021-12-12 22:05] stepmes commented on #4285
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 22:05] #4285 closed, assigned to stepmes

[2021-12-12 22:06] stepmes commented on #4321
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 22:06] #4321 closed, assigned to stepmes

[2021-12-12 22:11] stepmes commented on #4522
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 22:11] #4522 closed, assigned to stepmes

[2021-12-12 22:12] stepmes commented on #4525
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 22:12] #4525 closed, assigned to stepmes

[2021-12-12 22:16] stepmes commented on #4530
We're noting this issue down and will re-test it when working on it in the future.

[2021-12-12 22:16] #4530 closed, assigned to stepmes

[2021-12-12 22:17] stepmes commented on #4546
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 22:17] #4546 closed, assigned to stepmes

[2021-12-12 22:18] stepmes commented on #4618
Thanks very much for this input, we're noting it down and will consider it when working on future improvements.

[2021-12-12 22:18] #4618 closed, assigned to stepmes

[2021-12-13 08:17] bosomt commented on #4454
Anything needed on QA side or we can move it to approved section ?

[2021-12-13 08:31] hynek-jina commented on #3753
@vaclav-dvorak
You can simply change the currency in settings with few clicks...
![Screen](https://user-images.githubusercontent.com/26002916/145778075-70f18804-b67b-4654-9214-45d0d97a5a36.png)

[2021-12-13 08:37] tsusanka commented on #2737
To recap this: we will keep communicating with Blockbook for fiat rates and we will extend [this blockbook REST endpoint](https://btc1.trezor.io/api/v2/tickers/?timestamp=1638728150) with batching option. @martinboehm will look into it, it should be an easy one :).

[2021-12-13 09:08] cryptodev100 commented on #3260
What I would like to see is a vision on how Trezor plans to support a large ecosystem of Dapps.
Neither can we expect that everybody uses Metamask, nor can we expect that every Dapp adds Trezor-specific code.
In fact, my user experience with Trezor and MetaMask has been extremely painful over the last months.
Many Dapps refused to work with Trezor although they have Metamask-support.
Therefore, I

[2021-12-13 11:05] karliatto commented on #4454
@bosomt This adds possibility to do automated test using `regtest` instead of `mainnet` bitcoin backend. There is nothing that can be tested at the application layer.

[2021-12-13 11:41] matejkriz commented on #4624
agree, revert is here https://github.com/trezor/trezor-suite/pull/4639

[2021-12-13 11:41] #4624 closed, assigned to nobody

[2021-12-13 13:08] SlugFiller commented on #3260
Is there some sort of weird policy to close an issue that has not been resolve, addressed, given so much as a workaround, or even any actual input from developers?

This issue still exists, and is a blocker for many people. Closing without so much as a single on-topic comment says "We don't care about our customers"

[2021-12-13 13:13] cryptodev100 commented on #3260
Exactly, what I would expect is some kind of roadmap for making Dapps usable.
Right now, many Dapps are either painful to use or completely unusable with Trezor.
If cofounders like @prusnak cannot give more details about the general problem of Wallet-abstraction-layers, then this doesn't shed a good light on Trezor.
I am not claiming that WalletConnect is the perfect solution for Trezor, but at le

[2021-12-13 13:33] cryptodev100 commented on #3260
Over the long term, we could question the focus on Desktop and start to think mobile-first.
Nevertheless, even if we stay on the Desktop, a real problem right now is Dapp-compatibility.
Right now, I am often forced to use Trezor in combination with MetaMask, which I don't like because I faced many MetaMask-bugs over the last months.
In particular, I observed Dapps that work with standalone-MetaMas

[2021-12-13 14:09] hynek-jina commented on #3260
@SlugFiller @cryptodev100
Wee need to investigate impact of this feature from many perspectives.
Like workload, impact on other components, future usability, complexity of testing, how much people need it, and so on.
Based on this evaluation we might open another issue later on. It's not on the road map now.

For roadmap see: https://github.com/orgs/trezor/projects/28#card-47974233

[2021-12-13 20:55] SlugFiller commented on #3260
@hynek-jina The expected flow, which most GitHub projects follow, is to add tag, e.g. "longterm", ask clarifying questions, if any are needed, and/or open a poll to measure how much an issue attracts attention compared to other issues.

In the case of a non-commercial project with a small team or single developer (hardly applicable to a 180EU a pop device, but we'll set that aside), a "Help wanted

[2021-12-13 22:30] dafuga opened #4643 "EOSIO chains support"
Hey guys, not sure if this is the best place to ask this, but I was wondering if anyone here could give us some idea of the level of effort that would be required to add support for an EOSIO chain (https://eos.io/) on the trezor suite app?

Also, would some of the core devs be interested in maybe taking on such a task? If so, how much would a project like that cost us?

[2021-12-13 22:34] prusnak commented on #4643
We are currently not interested in adding coins that are not in the TOP 30 on Coinmarketcap. Should this situation change in the future we might reconsider.

[2021-12-13 22:34] #4643 closed, assigned to nobody

[2021-12-13 23:59] uj opened #4644 "How to wipe/reset T1 PIN with Suite?"
With web wallet, you can wipe T1 because you can [X] the pin pad on screen.

With Suite, you cannot wipe T1 (with forgotten PIN), as there is no [X] on the pin pad to get past that point.

A recent email says that web wallet is going away.

Will Suite be fixed before that time?  Many people have mentioned not being able to wipe, and the answer has always been to use the old web wallet instead, whi

[2021-12-14 07:12] bosomt commented on #4644
@uj yes it will be possible to wipe it.
Work in progress here: https://github.com/trezor/trezor-suite/issues/2542

[2021-12-14 07:56] hynek-jina commented on #4644
Duplicate of https://github.com/trezor/trezor-suite/issues/2542

[2021-12-14 07:56] #4644 closed, assigned to nobody

[2021-12-14 09:45] cryptodev100 commented on #3260
I understand that this is not a small feature that is implemented within a fortnight.
But ultimately, it's a fundamental question about third-party-Dapps in general.
Right now, I cannot see any plan at all for third-party-Dapp-compatibility, regardless of whether we are talking about WalletConnect or something else.
Sure, there will be some users who use only Trezor-Suite, but other users want to

[2021-12-14 10:50] hynek-jina opened #4645 "Wallet.trezor.io deprecated banner"
Add banner to wallet.trezor.io pushing for Suite download.
- [x] implement square banner
- [x] change color from gold to red #D85644
- [x] _(optional)_ Remove blue `New` tag
- [x] Suite Landing Page banner

**Design:** [Figma](https://www.figma.com/file/MmQtIPoIggyJkBm7vMUHpI/Neue-Desktop?node-id=0%3A1)
**Spec:** [Notion](https://www.notion.so/satoshilabs/Old-wallet-deprecation-Suite-e3ae0891f14d4

[2021-12-14 11:27] jerechinsky opened #4646 "Long string breaks pin entry modal"
**Describe the bug**
If the `TR_THE_PIN_LAYOUT_IS_DISPLAYED` string exceeds 47 characters, it will break the pin entry layout.

I fixed it in Russian by breaking the line with a `<br>` tag, but Spanish is still broken.

**Info:**
 - Suite version: web 21.12.2 (8cedeed1d1da121ab6b3dff4cb6365b9030634a2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko

[2021-12-14 13:40] tomasklim opened #4647 "Dependencies (suite): dropbox"
Update `dropbox` lib

Issues:

- update patch file (incorrect types)

[2021-12-14 13:40] tomasklim opened #4648 "Dependencies (suite): ethereumjs-tx, ethereumjs-util, ethereumjs-common"
Update `ethereumjs-tx`, `ethereumjs-util`, `ethereumjs-common` lib

Issues:

- `ethereumjs-tx` is deprecated, `@ethereumjs/tx` should be used
- `ethereumjs-common` is deprecated `@ethereumjs/common` should be used
- breaking changes which can break `ETH`, `ETC` and `TROP`

[2021-12-14 13:41] tomasklim opened #4649 "Dependencies(suite): history, react-router, react-router-dom"
Update router libs `history`, `react-router`, `react-router-dom`.
Remove `@types/react-router`,  `@types/react-router-dom` (the libs are TS now)

Issues:

- many breaking changes which are not well documented

[2021-12-14 13:41] tomasklim opened #4650 "Dependencies(suite): react-hook-form, @hookform/resolvers"
Update `react-hook-form` and `@hookform/resolvers`

Issues:

- breaking changes
- Invity forms do not have tests

[2021-12-14 13:41] tomasklim opened #4651 "Dependencies (suite): react-redux, redux, redux-thunk, immer, @reduxjs/toolkit"
Update `react-redux`, `redux`, `redux-thunk`, `immer`, `@reduxjs/toolkit`

Issues:

- update of `redux` breaks `type-check`
- update `react-redux` breaks `type-check` https://redux.js.org/tutorials/typescript-quick-start
- `redux-thunk` has types patch file which probably has to be changed
- bug fix https://github.com/trezor/trezor-suite/pull/4711#issue-1098109503
- `immer` breaks `type-check`
- `

[2021-12-14 13:41] tomasklim opened #4652 "Dependencies (suite): react-use"
Update or better remove `react-use`.

Reasons:

- it can be easily replaced by native functionality

Issues:
- it is almost only used in Invity forms which are not tested

E.g.
- instead of using `useUnmount`, use `useEffect` return function.
- instead of `useTimeoutFn` use native `setTimeout`
- instead of `useDebounce` use native `setTimeout` with `useEffect`
- instead of `useMeasure` use `useRef

[2021-12-14 13:41] tomasklim opened #4653 "Dependencies (suite): styled-components"
Update `styled-components`

Issues:
- breaks styles across the whole app (probably because of `& + &` syntax)

E.g.
- change the theme to `light` and then back to `dark`

[2021-12-14 13:41] tomasklim opened #4654 "DevDependencies (suite): *"
Go through suite `devDependencies` and update them.

[2021-12-14 13:43] tomasklim opened #4655 "Dependencies (suite): pako"
Update `pako` and `@types/pako`

https://www.npmjs.com/package/pako

Issues:
- v2 breaks upload of an image to T

![Screenshot 2021-12-16 at 9 29 10](https://user-images.githubusercontent.com/33235762/146335611-4b3a5ef7-a2e4-4f4f-88c2-288be6e20ac4.png)

[2021-12-14 14:20] tomasklim commented on #4627
I updated `web3-utils` lib, so lets see if this error dissapears

[2021-12-14 14:37] tomasklim opened #4656 "Promote desktop app in web app"
We inform users about the desktop app only on the landing page and on `Welcome page`.

![Screenshot 2021-12-14 at 15 45 28](https://user-images.githubusercontent.com/33235762/146020563-4dbe88ed-0e39-440b-9c79-2b6c43549eaf.png)

**Idea:**
What about having it e.g. in settings dropdown or in settings itself.

![Screenshot 2021-12-14 at 15 35 50](https://user-images.githubusercontent.com/33235762/146

[2021-12-14 14:45] tomasklim opened #4657 "Improve Suite loading page"
It is quite easy to get into a state that the app never loads. (e.g. stuck device)

1. Stuck loading for 90 seconds.
![Screenshot 2021-12-14 at 15 40 17](https://user-images.githubusercontent.com/33235762/146019426-23be1eaa-bb3e-45d9-b685-2dd0478afc43.png)

2. Page without much info (e.g. info about reconnecting device is not there)
![Screenshot 2021-12-14 at 15 42 03](https://user-images.githubus

[2021-12-14 14:54] prusnak commented on #4627
Isn't this just about that the user entered `0..2` as ETH amount in the Send dialog?

[2021-12-14 15:03] hynek-jina commented on #3616
@vdovhanych is this still valid?

[2021-12-14 15:03] #3755 closed, assigned to matejkriz

[2021-12-14 15:04] hynek-jina commented on #3870
@matejkriz is this still valid?

[2021-12-14 15:09] tsusanka commented on #4416
@mroz22 I think I saw this in CI haven't I? Some URL health check. So isn't this done?

[2021-12-14 15:24] vdovhanych commented on #3616
@hynek-jina This is still being worked on but should be resolved for the most part. So i would leave it until we're finished in trezor-user-env

[2021-12-14 16:07] jerechinsky opened #4658 "messages.ts bugs & improvements"
Please refer to https://github.com/trezor/trezor-suite/blob/develop/docs/misc/localization.md to get familiarised with translations in Trezor Suite.

- [ ] **1.** The `TR_ENTER_PIN` message is currently used both in the heading of the pin entry modal and the _confirm_ button. The English copy `Enter PIN` fits both the heading and the confirm button, but Russian language is not so accommodating. **

[2021-12-15 09:34] wendys-cats commented on #4634
I was able to reproduce this, upon entering last word of dry run TT soft freezes. Closing modal ("Recovery seed check failed") ends the soft freeze, but user is unable to re-do the dry run. **Looks like a discovery error** triggered when host computer went to sleep (network suspended). Once Dashboard has been opened and discovery is done, user is able to re-do the dry run successfully.

Confirming

[2021-12-15 09:34] wendys-cats commented on #4226
Was able to reproduce it with T1. Cannot be reproduced with TT.

**Info:**
 - Suite version: web 21.12.2 (8cedeed1d1da121ab6b3dff4cb6365b9030634a2)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model 1 1.10.1 regular

![image](https://user-images.githubusercontent.com/58593

[2021-12-15 11:50] hynek-jina opened #4661 "Install Bitcoin-only firmware directly in Suite"
Currently you have to manually upload a file from GitHub. It feels like a non-recommended option.

**Terminology**
`Universal` - Regular firmware
`Bitcoin-only` - Bitcoin only firmware

### 1. Onboarding
At first part of onboarding include option to switch on Bitcoin firmware.
![Screenshot 2022-08-02 at 14 25 44](https://user-images.githubusercontent.com/42465546/182387964-cdaa9e33-fb3c-4bd8-ac45-

[2021-12-15 13:00] hynek-jina commented on #4457
I performed an inaccurate manual test for discovery load time:

**T1, FW 1.10.4 (BTC-only)**
- Suite 21.6.2 - 15s
- Suite 21.12.2 - 18s

**TT, FW 2.4.3 (All coins)**
- Suite 21.6.2 - 56s
- Suite 21.12.2 - 72s

[2021-12-15 14:49] mroz22 commented on #4457
We could do an automated tests like this:

- run cypress test for discovery
- write text file with the duration as artifact
- deploy a bot (github action?) that will fetch duration from the last develop and/or release pipeline and posts difference into PR.

[2021-12-15 15:33] bosomt opened #4665 "Device firmware changelog linked to Github not to blogpost"
**Describe the bug**
See this issue https://github.com/trezor/trezor-suite/issues/4161 that was created to change behavior of linking changelog of device firmware/update from Github to Blogpost if available.
Is it possible that this change was not yet merged/release ?

Last tow FW revisions:

    revision: 20 bytes 0x9276b1702361f70e094286e2f89e919d8a230d5c,
    revision: 20 bytes 0x595b14254c1abb

[2021-12-15 15:57] #4437 closed, assigned to nobody

[2021-12-16 07:02] bosomt opened #4668 "Trezor news posts underlined when hover over them"
**Describe the bug**
When you hover over Blog posts in Dasboard/Trezor  section they are underlined.
I'm not sure if it's design change or bug.

**Steps to reproduce:**
1. Go to Dasboard/Trezor news section
2. Move cursor over blog posts
3. compare with production version of Suite

**Info:**
 - Suite version: web 22.1.0 (c724a26802def8f620866bcb994b56a9da4e37e3)
 - Browser: Mozilla/5.0 (Macintosh;

[2021-12-16 07:17] ghost commented on #2838
Please translate into Russian

[2021-12-16 07:44] hynek-jina commented on #4668
@matejzak is that the intention? thx...

[2021-12-16 10:05] tomasklim commented on #3431
Related to #4657

[2021-12-16 10:26] hynek-jina opened #4669 "ADA - Exporting Public Key Failed"
**Describe the bug**
Unable to move ADA to other wallets due to "Exporting Public Key Failed".
_Been like this for at least 8 hours._

**Info:**
 - Suite Version: desktop 21.12.2
 - OS: macOs
 - Firmware Version: regular 2.4.3
- Window dimension: 1375x937

_Received from [Notion](https://www.notion.so/satoshilabs/Unable-to-move-ADA-to-other-wallets-due-to-Exporting-Public-Key-Failed-Been-like-this

[2021-12-16 10:32] hynek-jina commented on #4669
Another occurance:

_Hello!  I recently restored a 24 word seed phrase, generated by a Trezor One, with my new Trezor Model T.  I have a passphrase enabled. I am trying to sync the Model T with the Daedalus (full node) wallet so that I can take custody of Cardano.  Daedalus is saying that it cannot export the public key from the Trezor.  Is it possible that using a seed generated on the Trezor One

[2021-12-16 11:48] bosomt opened #4670 "Suite asks you to enable passphrase when you cancel unlock device dialogue"
**Describe the bug**
Now i'm finally able to reproduce this issue that occurred some time ago
Suite asks you to enable passphrase when you cancel unlock device dialogue.
Or see screenshot of verify receive address dialogue, there is Enable passphrase notification beofre i unlock or cancle PIN dialogue on device.

**Steps to reproduce:**
1. Lock device
2. Try to perform Sign and verify
3. Cancel un

[2021-12-16 14:50] sorooris opened #4671 "Firmware update flow - Redundant update from the latest to latest firmware offered"
**Describe the bug**
Update from the latest to the latest firmware is offered immediately after completing a meaningful update flow (from older to latest).

**Info:**
 - Remembered Wallet: no
 - Suite Version: 21.12.2 8cedeed1d1da121ab6b3dff4cb6365b9030634a2
 - Browser: Chromium 96.0.4664.110
 - OS: Ubuntu 21.10
 - Bridge: N/A
 - Firmware Version: model T 2.4.2 -> 2.4.3

**Steps to reproduce the b

[2021-12-16 15:40] tomasklim commented on #3689
Would be nice to have e2e tests on Invity forms to check that #4650 does not break anything

[2021-12-16 15:59] mroz22 commented on #4669
Possibly related read https://github.com/trezor/trezor-firmware/blob/949dfe1f5d56c4aa8269b51eb5c7fc188f43176e/core/src/apps/cardano/README.md#seed-derivation-schemes

[2021-12-16 19:28] Bowersachs commented on #4624
I'm on a Mac and the only way I was able to solve this issue was by completely removing the app and deleting the folder. Users/<user>/Library/Application Support/@trezor/suite-desktop. Just deleting the cashe didn't work for me like I was told.

[2021-12-17 08:48] hynek-jina opened #4673 "Option to express the fee in total value"
Currently you can select transaction fee only in relative terms (sats/vB)
1 sat/vB is currently quite often accepted and it could help to distinguish small fee increment - not directly to 2 sat/vB.

_For example - size of you transaction is ~166 vB and you could set fee to 200 sats._

[2021-12-17 10:01] prusnak commented on #4673
What is the usecase for this?

[2021-12-17 12:30] mroz22 opened #4886 "@trezor/connect: Implement coinInfo.getCoinInfoByHash to Connect"

[2021-12-17 12:49] hynek-jina commented on #4673
When you want to get ahead of other transactions but not overpay on fees.

[2021-12-17 13:48] jerechinsky opened #4676 "Implement translations of messages from trezor-connect"
Most of device related notifications in Suite come from trezor-connect. Please consider implementing a solution that would allow translating those messages.

Otherwise our international users won't understand. 😱

![Screenshot 2021-12-17 at 14 45 36](https://user-images.githubusercontent.com/75733878/146553923-05928d9b-8cbc-4a66-9c10-99a4fe193eef.png)

[2021-12-17 13:49] jerechinsky commented on #4676
Leaving this for product team to prioritize. IMO it's Medium to High if we want to be serious about having good UX in other languages.

[2021-12-17 13:49] prusnak commented on #4673
How does that work? Pools pick transactions by sats/vbyte not by absolute value of the fee, block explorers show sats/vbyte stats for mempool, etc.

[2021-12-17 14:04] hynek-jina commented on #4673
Sure, but you cannot set 1,5 sats/vB in Trezor → which would help you to overcome transactions with 1 sats/vB fees and not overpay to 2 sats/vB. (So the decimal number would solve that as well)

And I thought that expressing the fee in absolute value would be more intuitive that playing around with decimals.

[2021-12-17 14:07] prusnak commented on #4673
Thanks for confirming my suspicion that the real issue might be, in fact, not being able to enter decimal numbers as fee.

We'll discuss this within the product meeting.

Thanks!

[2021-12-17 22:00] nextux commented on #3566
100% agree with this comment.  There would be a lot of Bitcoin derived projects that happen to use Blockbook based explorers that have used the Trezor Wallet feature of switching to a custom backend.

https://wiki.trezor.io/Fujicoin_(FJC) on the wiki describes the how.   Given that Wallet support is going, I'll be moving my FJC off this method, but feel that other coins that have taken advantage o

[2021-12-19 05:20] DerekMiner opened #4677 "Option to Delete Tokens from ETH Token List"
**Problem**
There is currently no way to remove tokens from the ETH portion of the wallet. Add a way to allow a user to remove the token from being tracked. This can cause trauma when seeing tokens in the wallet that the user held when they went to zero and they want to remove the scam coins from the wallet. They may have also put the incorrect contract in to track by accident, or moved the token

[2021-12-19 11:37] anomaly07 commented on #4630
I have same problem on Ubuntu 20.04.3 LTS. Already tried several TOR versions (9.0.3, 9.5.4, 11.0.2, 11.5a1) nothing is working. Which version is working?

[2021-12-19 11:52] sunknudsen commented on #4630
Hey @anomaly07, have you considered using Linux (x86_64) AppImage release on Tails?

I recently published a guide on the topic (see https://sunknudsen.com/privacy-guides/how-to-install-and-use-trezor-suite-on-tails).

[2021-12-19 11:55] prusnak commented on #4630
It seems to me that everything works correctly, except for some rendering issue in Tor Browser which does not render the UI in the right half of the screen correctly which makes it impossible to enter the wallet.

I can see the elements are there when using Inspector, but they are not visible 🤔

Still investigating ...

[2021-12-20 17:49] bosomt opened #4679 "Some drop-down selectors overlay navigation menu when scrolling transaction history"
**Describe the bug**
Some drop-down selectors overlay navigation menu when scrolling transaction history.
See videos. Same behavior at production and development master.
Same behavior in app and in Firefox browser.
Added graph range selector screenshot, same behavior.

**Steps to reproduce:**
1. Load wallet with transaction history
2. open transaction history export or graph type selector.
3. Scro

[2021-12-20 20:46] tsusanka commented on #4673
Related: https://github.com/trezor/trezor-suite/issues/3252.

[2021-12-21 08:42] bosomt opened #4680 "App icon missing on Linux in latest Suite versions"
**Describe the bug**

App icon missing on Linux in latest Suite versions. See attached screenshots.

21.10.2 **QA OK**
21.12.2 + dev master **QA NOK**

**Steps to reproduce:**
1. Start Suite Linux version from October
2. Start latest Linux version of Suite
3. Compare taskbar icons

**Info:**
 - Suite version: desktop 21.12.2 (8cedeed1d1da121ab6b3dff4cb6365b9030634a2)
 - Browser: Mozilla/5.0 (X11;

[2021-12-21 12:16] karliatto opened #4681 "Flatpak: Suite Web cannot find device when once paired, disconected and connected (chromium browser) (webusb)"
**Describe the bug**
When using suite with the paired device using webusb in [Chromium browser](https://www.chromium.org/) then disconnect and connect the device back, the suite web app gets stuck in infinite loading.
This bug is only reproducible in [Chromium browser](https://www.chromium.org/) but not in Google chrome.

**Info:**
 - Remembered Wallet: yes/no
 - Suite Version: web, 11f6429fee5b97

[2021-12-21 13:26] bosomt opened #4682 "Taproot address not displayed completely in Confirm transaction modal"
**Describe the bug**
Taproot address is not displayed completely in Confirm transaction modal.
See attached screenshot. Segwit address vs  taproot address. You have to press `^` see complete address.
When you are bumping your Bitcoin transaction address is correctly displayed in two lines and no `^` is displayed.

**Steps to reproduce:**
1. Send transaction to taproot address
2. Observe receive ad

[2021-12-21 13:48] prusnak commented on #4681
Where did you get the Chromium build from? Is that the official Chromium build or a package from your Linux distribution?

[2021-12-22 00:13] stefanobieler commented on #3550
Is this the update we need to interact with smart contracts on are hardware wallets? i'm attempting to interact with a smart contract currently with NAMI and trezor. However i'm unable to set collateral with my hardware wallet.

[2021-12-22 00:25] mark-stopka commented on #3550
No, that is here...

https://github.com/vacuumlabs/trezor-firmware/pull/71

[2021-12-22 09:35] hynek-jina opened #4684 "Remove system popup informing about unknown host from request filter"
- [ ] Stop following HTTP redirects (needs investigation)
- [x] Start reporting to Sentry all attempts to fetch domains that are not whitelisted
- [x] Remove confusing and ugly system popup warning for blocked domains
- [x] ~~Give the user the option to allow fetch on domain that is not whitelisted (needed for AOPP?)~~

[2021-12-22 10:27] bosomt opened #4685 "Labeling always disabled when Standard wallet is not loaded"
**Describe the bug**
I was able to reproduce it it current devel master and on production /22.12.2 Linux + 22.1.0 macOS/
Tried to wipe app settings. Still not able to enable labelling via Accounts or Settings section till you load Standard wallet.
After you load Standard wallet you can enable labelling, as soon you remove it labelling stop working.

**Steps to reproduce:**
1. Load passphrase walle

[2021-12-22 12:10] szymonlesisz opened #4887 "Connect: methods refactor followup"
- [ ] enforce return type in `AbstractMethod.run` from generic type
- [ ] move "bundle" logic in to `AbstractMethod`
- [x] remove unused methods: debuglink*, loadDevice 5d3f5b7 and 2171814
- [x] use `Protobuf` types instead of `Management` types in `API` declaration (example `resetDevice` method)
- [x] patch all `*.amount` fields in protobuf types (messages **to** Trezor) to accept `string | numbe

[2021-12-22 13:59] bosomt commented on #4681
i was not able to reproduce issue
edit: same for dev master

**Info:**
 - Suite version: web 21.12.2 (8cedeed1d1da121ab6b3dff4cb6365b9030634a2)
 - Suite version: web 22.1.0 (11f6429fee5b976d9448e2d5cace789f87d4f8c8)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: mo

[2021-12-22 14:06] bosomt commented on #4527
Same behavior in latest Chrome and Suite dev master

**Info:**
 - Suite version: web 22.1.0 (11f6429fee5b976d9448e2d5cace789f87d4f8c8)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2021-12-23 08:27] karliatto commented on #4681
I got the Chromium build from my Linux distribution Pop!_OS in flatpak

[2021-12-23 09:07] prusnak commented on #4681
My hunch tells me that the Flatpak sandboxing is somehow getting in the way.  :-/

Try reproducing with version of Chromium that does not come from Flatpak and see if this helps. If it does, I am afraid we'll have to close this and report the issue here instead:  https://github.com/flathub/org.chromium.Chromium

[2021-12-23 10:59] karliatto commented on #4681
I just tried it with latest version of Chromium from snap and webusb does not find any device, it opens the message window to select the device but it says: "No compatible devices found". When at the same time the Flatpak Chromium finds the device successfully.

[2021-12-23 11:19] prusnak commented on #4681
I don't think that Snap supports access to USB devices (except for media storage) by default.

At this point were are just chasing quirks in Flatpak/Snap sandboxing environments.

[2021-12-23 11:33] d1gitaldash opened #4686 "Issues with EOS AND bloks"
I’m not able to access my EOS on my trezor at bloks…it does nothing when I type in the indexes to use (0,1,2,3,4). Why was eosauthority removed? Unlike bloks, it actually worked…now I have thousands in limbo because of this bug. There are others who are having the exact same issue as me, please advise.

[2021-12-23 11:43] hynek-jina commented on #4686
@d1gitaldash
Hi, could you please contact directly [support](https://trezor.io/support/) or via mail help@trezor.io?

[2021-12-23 11:44] hynek-jina commented on #4686
This might help:
https://docs.bloks.io/login/desktop-wallets/trezor

[2021-12-23 11:46] d1gitaldash commented on #4686
Thanks but I’ve tried that tutorial and have tried contacting support. nobody seems to know anything about it…it won’t let you see your wallet after typing in the indexes and attempting to connect to the trezor.

[2021-12-23 11:57] prusnak commented on #4686
@d1gitaldash Please contact Bloks support. Their wallet is closed source, so if there is something wrong in their wallet, it's them who have to fix it.

With regards to EOSAuthority - ask them why they have removed Trezor support.

[2021-12-23 11:57] #4686 closed, assigned to nobody

[2021-12-23 12:00] d1gitaldash commented on #4686
Will do, thanks

[2021-12-23 12:58] karliatto commented on #4681
Closing this issue since there is no much we can do with Chromium quirks in Flatpak/Snap sandboxing environments.

[2021-12-23 12:58] #4681 closed, assigned to nobody

[2021-12-24 08:43] bosomt opened #4687 "Latest dev version Suite app is draining laptop battery"
**Describe the bug**
I was able to reproduce issue on macOS and Windows 10.
Even when idle and no device connected app keeps one of CPU cores at 100% and laptop battery is drained really soon.

**Steps to reproduce:**
1. Start Suite 22.1.0
2. Observe CPU and battery status

**Info:**
 - Suite version: desktop 22.1.0 (11f6429fee5b976d9448e2d5cace789f87d4f8c8)
 - Browser: Mozilla/5.0 (Macintosh; Int

[2021-12-24 09:25] prusnak commented on #4687
Please run `Activity Monitor` - sort by `% CPU` column - and attach the screenshot here.

[2021-12-24 14:32] bosomt commented on #4687
Sure.

+ macOS M1
<img width="1141" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/147359244-5f1761fa-3798-442f-8744-f1885a65a4e5.png">

+ included Win 10 screen that i forgot to attach when i created issue.

![obrazek](https://user-images.githubusercontent.com/31506317/147359265-13076d39-2d4a-4a11-9beb-f2c614df015e.png)

[2021-12-24 14:58] prusnak commented on #4687
Thanks. So at least we know it's not the Bridge :-)

[2021-12-24 18:35] bosomt commented on #4687
i just tried to download older version /before latest libs update/
commit 8479114a2fd145e3d5cc7c03ebfd8075f0aeeba4 and same result CPU goes Up even with this older dev master

[2021-12-24 20:07] sergimn commented on #2740
Soooo... Is this dead?

[2021-12-25 09:53] Rambreack commented on #2740
Hi

El vie., 24 de diciembre de 2021 14:07, Sergi Miralles <
***@***.***> escribió:

[2021-12-25 10:16] 0xmichalis commented on #2770
It's unfortunate to see this deprioritized.

[2021-12-25 12:08] Rambreack commented on #2770
Hii

[2021-12-27 09:55] EtherDotBlue commented on #4669
Same Trezor issue on Daedalus v4.6.0 #20052

[2021-12-27 10:39] prusnak commented on #4669
@EtherDotBlue Please report this issue to Daedalus wallet, so they can fix it. They are providing the non-ideal change address which triggers this warning. Link the issue you created in their issue tracker here, please.

[2021-12-27 10:50] EtherDotBlue commented on #4669
Fixed on Daedalus by rolling back the Trezor firmware to v 2.42.  Instructions:  https://wiki.trezor.io/Firmware_downgrade

[2021-12-27 11:10] #4669 closed, assigned to nobody

[2021-12-27 11:13] prusnak commented on #4669
For reference: Yoroi issue is already opened here: https://github.com/Emurgo/yoroi-frontend/issues/2575

[2021-12-27 11:47] EtherDotBlue commented on #4669
@prusnak I think that is a different issue.  This was just about exporting the public key and I solved it by downgrading the firmware to the previous version.

[2021-12-27 14:04] prusnak commented on #4669
Firmware downgrade is not a solution. It is a workaround.

I reported the issue for Daedalus here: https://github.com/input-output-hk/daedalus/issues/2798

[2021-12-28 10:44] bosomt opened #4688 "App storage not wiped in Windows application"
**Describe the bug**
App storage is not wiped in Windows version /i was not able to reproduce it on macOS version/
@STew790 was able to reproduce issue.
Same results in 22.1.0 and 21.12.2.

**Steps to reproduce:**
1. Change default settings of app
2. Press `Reset app` in `Settings/Application` section
3. Observe app settings after app restart

**Info:**
 - Suite version: desktop 22.1.0 (11f6429fee

[2021-12-29 07:10] bitnoah opened #4888 "Connect popup fails in MetaMask?"
I have a Trezor one. The other day, i was doing a transaction on Metamask but it failed because on the pop-up, trezor failed to connect. I tried connecting using a different USB port; fail. Then  I changed the cable and tried again, fail. I restarted the computer several times after clearing the cache, fail. I updated the firmware and tried to recover, fail as the Trezor cannot connect.

I updated

[2021-12-29 11:03] petrkr commented on #3225
Hello,
recently I get similar problem with Trezor One on huge transactions which took long to sign.

Suite: 21.12.2
Bridge: 31 (same issue on 29)
FW One: 1.10.4 (same issue on 1.10.3)

most recent interesing log from verbose bridge calls during signature:

[code]

[2021-12-29 11:41] prusnak commented on #4669
This is a known issue - Daedalus is using the old version of Trezor Connect and they are going to upgrade it - see issue https://github.com/input-output-hk/daedalus/pull/2726

[2021-12-29 11:44] prusnak commented on #3225
Thanks, reopening

[2021-12-29 13:23] tsusanka opened #4692 "Improve autoupdate download speed and stability"
As some noticed the download speed during autoupdate is somewhat unsatisfactory. Most likely (though I haven't found clear numbers) Github throttles the download speed. It would be great to download binaries directly from our S3 bucket instead of Github.

Note that we if agree upon https://github.com/trezor/webwallet-data/issues/34 we can simply replace the github link with data.trezor.io (see the

[2021-12-30 09:28] bosomt opened #4693 "Doge coin - incorrect graph and insufficient priority fee when sending transaction"
**Describe the bug**
I was able to reproduce issue on production and curren dev master.
As part of testing DOGE issue `transaction signing error - Encountered invalid prevhash` that was reported by multiple customers /i was not able to reproduce it/ I sent multiple transactions between two accounts.
Now im getting `Transaction signing error: -26: 66: insufficient priority` when i try to send trans

[2021-12-30 10:45] bosomt commented on #4687
same result in Firefox browser

<img width="266" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/147744916-6ae6e291-9c22-4a77-9b6c-d8b0a86b246a.png">

**Info:**
 - Suite version: web 22.1.0 (11f6429fee5b976d9448e2d5cace789f87d4f8c8)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:95.0) Gecko/20100101 Firefox/95.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: mo

[2021-12-30 11:18] bosomt commented on #4693
please disregard `Transaction signing error: -26: 66: insufficient priority` part of issue
looks like DOGE network fees are working as expected now

[2021-12-30 13:57] bosomt commented on #4693
looks as expected now,
looks like there was problem in DOGE network during my testing / i saw problem in multiple versions of suite/

[2021-12-30 13:57] #4693 closed, assigned to nobody

[2021-12-31 09:35] mroz22 commented on #3225
I have also found a similar, maybe related, case https://github.com/trezor/connect/pull/948

[2021-12-31 09:37] mroz22 commented on #4888
Hi,
maybe try here https://trezor.io/support/

In order to debug it here we would need much more information about your setup.

[2021-12-31 11:23] bitnoah commented on #4888
Hello trezor support does not help.

I  have a Sony laptop running on Windows 10 Pro and using Chrome browser

[2022-01-01 01:26] droid192 opened #4695 "Cannot send erc20 when pending receiving txs"
latest firmware on latest suite. the cookies were cleared before.

the eth wallet shows receiving pending transactions. if the user meanwhile tries to send a erc20, the ui goes through the signing process & final confirm 'send'. Then popup (with broken 'view details') shows up but nothing is sent, as if the tx was never generated.

i solved via clearing the tx from the external sending wallet. the

[2022-01-02 03:33] trymeouteh commented on #3260
Not at all

For example [Unstoppable Domains](https://unstoppabledomains.com/manager) support WalletConnect for managing an Unstoppable Domain which you can use a mobile wallet or a desktop wallet.

By Adding WalletConnect support in the desktop app it will also complete [this feature request](https://github.com/trezor/trezor-suite/issues/3498) for Unstoppable Domains and potentially many other fe

[2022-01-02 03:35] trymeouteh commented on #3498
https://github.com/trezor/trezor-suite/issues/3260#issuecomment-1003658291

By Adding WalletConnet you can have Unstoppable Domains support?

[2022-01-02 11:01] fujicoin commented on #3566
To address the retirement of Trezor Wallet, fujicoin.org has released the Fujicoin Trezor Suite because of the need to support users.
https://github.com/fujicoin/trezor-suite/releases/tag/f21.12
https://www.fujicoin.org/en/hardware_wallet

The following three codes seem to be crucial when implementing Fujicoin in Trzor Suite.
https://github.com/fujicoin/trezor-suite/blob/c00b9f2e4b0e0db3c4acd5f46e

[2022-01-03 09:16] #3633 closed, assigned to karliatto

[2022-01-03 09:36] tomasklim commented on #4629
We have a sufficient reserve, we can extend the `suite-ready` event 10 times and it will still be okay.

[2022-01-03 09:38] #4645 closed, assigned to dimasivan

[2022-01-03 10:18] tomasklim commented on #4629
Note: It has nothing to do with Tor (in sentry it shows that it happens in `(suite/src/support/suite/Tor)` component. We just manipulate with fetch in this component. `window.fetch = isTor ? torFetch : baseFetch;`

[2022-01-03 11:19] #4647 closed, assigned to tomasklim

[2022-01-03 11:19] #4648 closed, assigned to tomasklim

[2022-01-03 11:19] #4652 closed, assigned to tomasklim

[2022-01-03 11:19] #4653 closed, assigned to tomasklim

[2022-01-03 14:19] matejkriz commented on #3900
Notes for testing:
cc @bosomt @vdovhanych

- We must never release testing pre-release with the higher version than the first release including EAP (22.1.1)!!
- We start using 0.X.X versions for testing purposes
- To test auto-update FROM the new version we will release 0.X.X version from the same commit and verify the auto-update from it

### Scenarios:
- Join the EAP
  - with published newer pre

[2022-01-04 08:47] hynek-jina opened #4697 "Incorrect Czech translation of legacy account names"
Correct english version:
![Snímek obrazovky 2022-01-04 v 9 42 53](https://user-images.githubusercontent.com/26002916/148032570-dbd64c86-25a3-4952-8505-4b9ffbf928d0.png)

Confusing czech translation:
![Snímek obrazovky 2022-01-04 v 9 43 23](https://user-images.githubusercontent.com/26002916/148032619-66e3e194-70b9-400a-9db7-16e3e78c07d6.png)

[2022-01-04 09:00] bosomt opened #4698 "DOGE - transaction signing error - Encountered invalid prevhash"
**Describe the bug**
Customer is experiencing issue when signing transaction.
`transaction signing error - Encountered invalid prevhash`
He was finally able to send his funds via Exodus.
Can you please import his xpub and try to replicate his issue ?
Looks like he has some inputs that are not valid for Suite.
Previous issues with similar problem:
https://github.com/trezor/trezor-firmware/issues/10

[2022-01-04 09:37] matejkriz opened #4699 "discovery on one of Trezors get stuck for no obvious reasons"
see thread in internal slack https://satoshilabs.slack.com/archives/CKZHV2G13/p1639694030121700

[2022-01-04 09:59] hynek-jina opened #4700 "Fee duplicity displayed on OP_RETURN with Taproot account"
**Steps to reproduce:**
1. Sent a transaction from Taproot account with OP_RETURN

**Info:**
 - Suite version: desktop 21.12.2 (8cedeed1d1da121ab6b3dff4cb6365b9030634a2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.12.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1920x1080
 - Device: model T 2.4.3

[2022-01-04 09:59] hynek-jina commented on #4700
Related to: https://github.com/trezor/trezor-suite/issues/3351

[2022-01-04 12:56] jerechinsky commented on #4697
This has been fixed in Crowdin already and will be reflected in develop when we upload the new translations. Thank you for the issue.

[2022-01-04 16:44] glacierbits commented on #4401
Looping in @b-irving : Can you please suggest any improvements to the copy (if needed)? 🙏🏽

Also, I suggest a `medium` priority for the translatability of this copy.

[2022-01-04 16:49] glacierbits commented on #4668
I believe it's a bug. Haven't seen that happening before. Moving to `Bug` column.

[2022-01-04 17:14] glacierbits commented on #3852
@alex-jerechinsky Can you please change the Czech copy to just `Odeslat`? 🙏🏽

[2022-01-04 17:18] glacierbits commented on #3471
This will be handled by Suite 3.0 (re)design

[2022-01-04 17:18] #3471 closed, assigned to nobody

[2022-01-04 17:32] glacierbits commented on #4401
Also, please consider #4657 (related issue) 🙏🏽

[2022-01-04 17:34] glacierbits commented on #3109
Closing in favor of #4676

[2022-01-04 17:34] #3109 closed, assigned to nobody

[2022-01-04 18:01] glacierbits commented on #4477
Also this..

There are 2 hovers layered on top of each other when the menu is open.

https://user-images.githubusercontent.com/29627086/148103213-7497a84b-f3b6-4a2c-a1fb-df015b0ae559.mov

[2022-01-04 18:48] dcaldr opened #4702 "external keyboard stopped working after launching Tresor Suite"
**Describe the bug**
USB connected keyboard stopped working after "type your pin phase" in Tresor Suite app and not working until os reboot. Notebook's built-in keyboard works normally.
After pin is typed the keyboard gets disconnected reconnected multiple times in few seconds.
**I tried :**
unplugging and pluging back in
unplugging and plugging keyboard to differnent USB port (even from usb type

[2022-01-04 19:08] lf94 commented on #4544
Has this been released?

[2022-01-04 19:15] lf94 commented on #4544
From what I can tell this has fixed the signature failure issue we were having here: https://github.com/trezor/trezor-suite/issues/4473. Thank you very much!

[2022-01-05 08:07] bosomt commented on #4668
**QA OK**
already fixed and it looks as expected now

**Info:**
 - Suite version: desktop 22.1.0 (95a1a9e112a94666fe6bd787d4b8eed0f54547cf)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

**Info:**
 - Suite ve

[2022-01-05 08:07] #4668 closed, assigned to nobody

[2022-01-05 08:18] bosomt commented on #3633
**QA OK**

**Info:**
 - Suite version: desktop 22.1.0 (95a1a9e112a94666fe6bd787d4b8eed0f54547cf)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-01-05 10:24] #4687 closed, assigned to mroz22

[2022-01-05 10:55] bosomt commented on #4687
**QA OK**

**Info:**
 - Suite version: desktop 22.1.0 (da822cabdaf85f490ada8273d5d75d509ea51175)
 - Suite version: web 22.1.0 (da822cabdaf85f490ada8273d5d75d509ea51175)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.5

[2022-01-05 12:44] bosomt commented on #4645
**QA OK**

[2022-01-06 08:55] b-irving commented on #4401
Just a minor update so that it reads: 'An error occurred'

If possible, adding "Contact Support" would be ideal

[2022-01-07 10:52] cryptodev100 commented on #3260
I agree, although WalletConnect seems to be primarily targeted for mobile wallets, I don't see a reason why it should not work for Desktop-suites.
By the way, https://github.com/trezor/trezor-suite/issues/3498 is a good example of the underlying problem:
It would be infeasible to submit a PR for almost every Dapp that needs to be supported, therefore there needs to be a generic Wallet-protocol to

[2022-01-07 12:15] karliatto opened #4707 "Optimize size of suite-desktop electron package"
Currently suite-desktop electron package is increasing in size when more libraries are being added and maybe it is the moment to start considering some improvements in size optimization.

Ways we can optimize size of the desktop app:

- [ ] Including all the dependencies from `node_modules` into the `app.js` file that can be tree shake instead of adding `node_modules` complete without any filter.

[2022-01-07 12:20] prusnak commented on #4707
Good find!

There is no reason why mp4 files should be ~7MB while their webm counterparts are only ~700kB

[2022-01-07 12:22] prusnak commented on #4707
Now that I am reading `docs/misc/videos.md`, it seems we should only use `webm` everywhere and don't package `mp4` files into the final result?

[2022-01-07 12:56] karliatto commented on #4707
I think makes a lot of sense. I will give it a try.

[2022-01-07 13:16] prusnak commented on #4707
Another offender in app.asar is `node_modules/openpgp` - it has ~20 MB, while it seems we'd need only a fraction of that (ISTM there are lot of duplicated files - `.js`, `.mjs`, `.min.js`, `.min.mjs`, etc).

[2022-01-10 02:39] xanoni commented on #2770
What's the story? I can't believe this was de-prioritized. After all, Trezor is a Bitcoin first company and this is an essential feature. Yes it's not for newbies, but it's something newbies have to learn.

[2022-01-10 12:23] slowbackspace opened #4889 "Connect: Can't pass derivationType to GetAccountInfo with a bundle prop"
Hello!

While working on cardano integration in Trezor Suite we’ve noticed that when using `getAccountInfo` method with `bundle` property typescript doesn't allow to pass `derivationType`.

Following snippet (from Trezor Suite's discoveryActions) throws ts error `Object literal may only specify known properties, and 'derivationType' does not exist in type 'CommonParams & Bundle<GetAccountInfo>’.`

[2022-01-10 13:49] hynek-jina opened #4710 "Wrong behaviour with adding and removing recipients in send form"
### Bug appears on `Develop` only

**How to reproduce**
Steps to reproduce the behavior:
1. Go to Send
2. Click on `+ Add recipient`
3. Remove First address
_Both addresses were removed_
4. Add recipient again
_Both addresses were added_

https://user-images.githubusercontent.com/26002916/148776089-c3964e25-1f5d-4698-89f4-2e2509e2c47e.mov

**Expected behavior**
As in live version.
Not being able t

[2022-01-11 09:28] jerechinsky opened #4713 "Crowdin sync & add Russian to Suite 🇷🇺"
I have finished translating & proofreading the Russian language, let's add it to Suite.

[2022-01-11 12:54] #4713 closed, assigned to mroz22

[2022-01-11 13:08] #4512 closed, assigned to marekrjpolak

[2022-01-11 13:25] jerechinsky opened #4720 "Long string breaks pin entry modal."
**Describe the bug**
If the `TR_THE_PIN_LAYOUT_IS_DISPLAYED` string gets too long, it will break the Model 1 pin entry modal.

**Info:**
 - Suite version: web 22.1.0 (60cc46fd423ae50df07012b6cdb8c7180377b819)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36
 - OS: MacIntel
 - Screen: 2560x1080
 - Device: model 1 1

[2022-01-11 13:30] #4720 closed, assigned to nobody

[2022-01-11 13:44] earrietadev opened #4890 "PathPaymentStrictSend in Connect not working (Stellar)"
## Description
When trying to do a PathPaymentStrictSend operation it fails because we're not parsing the parameters "destMin" and "sendAmount" into integers.

## Steps to reproduce
Generate a PathPaymentStrictSend in the Stellar Laboratory and try to sign it with a Trezor Hardware Wallet.

## Additional info
Browser: Chrome, Brave and Firefox
trezor-connect: 8.2.4-extended
Device: Trezor One (fw

[2022-01-11 14:32] wendys-cats commented on #3729
Suggestion
Making Labeling option more visibly disabled in this case (access settings when device is disconnected) might be a good idea, there might be users that will be confused with this, since labeling is unavailable without a device connected.

![image](https://user-images.githubusercontent.com/58593111/148957112-0b72d4ef-6be4-4ea9-91f4-e82111605c9e.png)

[2022-01-11 14:36] #4710 closed, assigned to karliatto

[2022-01-11 14:43] jerechinsky commented on #4697
fixed on develop

[2022-01-11 14:43] #4697 closed, assigned to jerechinsky

[2022-01-11 15:37] hynek-jina opened #4723 "Export filtered transactions"
Request for a filtered export of transactions (by date, label, ... ) This feature works in Trezor Wallet.

**How to reproduce**
1. Go to Accounts
2. Add few labels
3. Filter according your label or by date (ie `>2021-11-30 & <2022-01-01`)
4. Export transactions

**Expected behaviour**
Export filtered transactions only (Like Trezor Wallet does)

**Actual behaviour**
Export all the transactions

##

[2022-01-11 15:57] bosomt commented on #4710
**QA OK**

**Info:**
 - Suite version: web 22.1.0 (638528ddde85b8fd5ec34d753f77b8dcf27a3fff)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:95.0) Gecko/20100101 Firefox/95.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-01-11 19:52] bosomt commented on #4697
**QA OK**

<img width="297" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/149011586-2c061aa0-9902-4ec7-a10f-f9647294cd44.png">

**Info:**
 - Suite version: web 22.1.0 (4c925c139cc1d5ef77e4815e4c69a3e4730dc6fa)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:95.0) Gecko/20100101 Firefox/95.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-01-11 19:55] bosomt commented on #4338
https://github.com/trezor/trezor-suite/issues/4338#issuecomment-983410767
3)  Incorrect Czech translation of legacy account names
fixed in
https://github.com/trezor/trezor-suite/issues/4697#issuecomment-1010309129

[2022-01-11 21:34] jerechinsky commented on #4338
everything should be fixed except `Powered by invity` and 25. and 26.

[2022-01-11 21:34] #4338 closed, assigned to jerechinsky

[2022-01-11 21:35] #3729 closed, assigned to matejkriz, dimasivan, b-irving

[2022-01-12 11:39] tomasklim commented on #4267
Still available, both bridge and webusb. I do not get `RSOD` error though.

The problem is that the device is not responding so Suite never gets `TRANSPORT_EVENT` event which is a prerequisite for the app to be loaded.

@mroz22 Do you have some solution in mind how to stop communication with "lagged" device? It would be nice to get to Welcome screen in Suite and inform user to replug his device.

[2022-01-12 11:44] #2542 closed, assigned to matejkriz, tomasklim, b-irving

[2022-01-12 11:55] matejkriz commented on #3729
We already have a design proposal for it, just not implemented yet, but it will be part of the followup issue:
![image](https://user-images.githubusercontent.com/3729633/149135810-48a3ce4a-f1fa-42ef-956d-e62e9a3c098f.png)

[2022-01-12 12:40] alex-jerechinsky commented on #4658
**5.** `LOG_DESCRIPTION` translation is not showing.
https://staging-suite.trezor.io/web/settings
![Screenshot 2022-01-12 at 13 38 29](https://user-images.githubusercontent.com/75733878/149142000-9dbe1601-c860-4a5c-a3d6-f3b7649301c5.png)

[2022-01-12 13:45] tomasklim commented on #4627
There are validation rules on all inputs. If the input is not valid, then it should not use `ethjs-unit`.

I have no idea yet, how are users avoiding those validation rules and make e.g. `0,99315 ETH` a valid number.

However, it is true, that updating the lib cannot help.

[2022-01-12 15:42] hynek-jina opened #4727 "Custom backend UI"
Current draft solution with coin-chips has few weaknesses.

- Direct coin settings option slides in by hover (not applicable on touch devices, since touching has already different action than hover)

https://user-images.githubusercontent.com/26002916/149172289-5438ef6e-6af1-4449-8d11-2cc6cd541e62.mov

- Animation hides coin icon (Original idea with an increase in width may end-up with bouncing loo

[2022-01-12 17:25] #3852 closed, assigned to jerechinsky

[2022-01-12 17:58] bosomt commented on #2542
**QA OK**

edit: disregard, it works as expected,
wipe unlocked device: seed is wiped
wipe bootloder device: firmware is wiped

~~I'm still missing option to `Factory reset device` as was possible in old  wallet.
Even it says `factory reset `only seed is really wiped and firmware is still present.
@tomasklim @matejkriz @matejzak  is this feature planed ?~~

**Info:**
 - Suite version: desktop 22.1

[2022-01-13 08:39] hynek-jina commented on #4727
Partly related to: https://github.com/trezor/trezor-suite/issues/4067

[2022-01-13 08:45] matejkriz commented on #4132
fixed by https://github.com/trezor/trezor-suite/issues/4132

[2022-01-13 08:45] #4132 closed, assigned to glacierbits

[2022-01-13 08:48] matejkriz opened #4728 "Access Settings: Trezor disconnected followup"
- [x] sticky close button in settings (always visible on scroll) ?

- [x] improve visibility of disabled state for toggles
  - [x] cursor on all the options that are disabled should be cursor: not-allowed (crossed out circle)
  - [x] there should be an explanation tooltip on disabled toggles
![image](https://user-images.githubusercontent.com/3729633/149922461-e90b3c3e-ba55-4685-82d6-5e72a57fd2f8.p

[2022-01-13 08:52] matejkriz opened #4729 "Settings dropdown on hover instead of click"
Open settings dropdown on hover too (not only on click) and show the dropdown closer to the icon.

[2022-01-13 10:27] tomasklim commented on #3431
Related also to this #4267

[2022-01-13 10:58] hynek-jina commented on #4729
Duplicate of: https://github.com/trezor/trezor-suite/issues/4477

[2022-01-13 10:58] #4729 closed, assigned to dimasivan

[2022-01-13 12:00] kolomaznikt opened #4730 "Data analytics: onboarding tracking"
Currently we do not tracking all useful information from onboarding proccess (c_type: 'initial-run-completed').

To be added:

- [x] skip firmware update
- [x] skip PIN
- [x] skip backup
- [x] Onboarding lenght: track the duration of the entire process
- [x] When Create seed: track Seed type
- [x] When T1 Recovery: track recovery type

[2022-01-13 12:43] karliatto opened #4731 "Tests integration for Electrum server backend with bitcoind regtest"
Suite is going to have a new option to have Electrum server backend and we need to test this integration in packages/blockchain-link. In order to be able to test this integration properly we are going to have to run a docker image with electrs and bitcoind in regtest mode.

- [x] Integrate electrs with a docker image connected to bitcoind from trezor-user-env so we are able to use the WebSocket AP

[2022-01-13 13:17] matejkriz commented on #4684
the last point `Give the user the option to allow fetch on domain that is not whitelisted (needed for AOPP?)` is done in https://github.com/trezor/trezor-suite/issues/4512

[2022-01-13 15:52] hynek-jina commented on #4462
We will navigate user to the [web](https://suite.trezor.io/) with yellow (warning) notification.
Once we implement [Anchor links](https://github.com/trezor/trezor-suite/issues/3889) we can navigate user directly to download app section in settings.

[2022-01-14 09:29] bosomt opened #4736 "Broken background in Install firmware dialogue"
**Describe the bug**
See screenshot from web version in Firefox and video from Electron app.

**Steps to reproduce:**
1. Proceed to Install firmware modal in Install custom firmware feature
2. Observe background behavior after reconnect device in bootloader mode

**Info:**
 - Suite version: web 22.1.0 (2d57aebd2e991028b55549d036f64cf20bb1031e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.

[2022-01-14 09:55] jerechinsky commented on #4462
Russian

[2022-01-14 13:00] tomasklim opened #4739 "Guide on mobile and small screens"
Find and implement a solution for Suite Guide on small screens  (<= 992px).

**Spec:**
- the width of the Guide remains fixed ([350px](https://github.com/trezor/trezor-suite/blob/develop/packages/components/src/config/variables.ts/#L13))
- guide is opened from right side (same for all screen sizes)
- screen width above [992 px](https://github.com/trezor/trezor-suite/blob/develop/packages/component

[2022-01-14 13:01] matejkriz commented on #4736
@tomasklim this is what broke it https://github.com/trezor/trezor-suite/commit/9d14cae1ad8dddcfdf579cd3eb7fc2d97867f78e#diff-d063c042c6beafb48007dc106df05e7487b5124d8f8928b7613aba25ccff2884L35

[2022-01-14 13:48] matejkriz commented on #4627
other similar occurances (~20 users/90 day) https://sentry.io/organizations/satoshilabs/issues/?project=5193825&query=is%3Aunresolved+converting+number&statsPeriod=90d

[2022-01-14 14:03] tomasklim commented on #4736
@bosomt should be fixed in `fix/custom-firmware-layout` branch. Could you please go through all modals and check that everything is okay? 😄

[2022-01-14 14:35] sentry[bot] opened #4741 "TypeError: invalid key length 0"
Sentry Issue: [TREZOR-SUITE-2PD](https://sentry.io/organizations/satoshilabs/issues/2725367145/?referrer=github_integration)

[code]

[2022-01-14 14:55] matejkriz commented on #3431
waiting for some inputs on https://github.com/trezor/trezor-suite/issues/4657

[2022-01-14 15:25] bosomt commented on #4671
**QA NOK**

i was able to reproduce issue when i reinstalled current public firmware

<img width="645" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/149540191-a72c5bef-5a9e-4941-8ab1-80da9f09fe3d.png">

**Info:**
 - Suite version: web 22.1.0 (cd10a81f8e60de899eb77dc58c552ac8668ee0c5)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/9

[2022-01-14 15:28] bosomt commented on #4736
**QA OK**

i will retest it one more time in app as soon it's merged to master or on staging
then i will close this issue

**Info:**
 - Suite version: web 22.1.0 (cd10a81f8e60de899eb77dc58c552ac8668ee0c5)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-01-14 15:29] #4736 closed, assigned to tomasklim

[2022-01-14 15:58] bosomt opened #4744 "Very long labels not handled properly in Suite"
**Describe the bug**
Label size is not handled properly in Send dialogue.
See screenshot, you can enter very long label

**Steps to reproduce:**
1. Enable labelling
2. edit label in send dialogue
3. observe what happens when you enter very long label

**Info:**
 - Suite version: desktop 22.1.1 (7e2101c6d91c14e6a0faba8b4057f04ba2422578)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) Ap

[2022-01-14 16:54] ThanaNL opened #4746 "Transaction signing error: Encountered invalid prevhash"
**Describe the bug**
Tried to send DOGE from my wallet and received this error message: Transaction signing error: Encountered invalid prevhash

**Info:**
 - Remembered Wallet: yes
 - Suite Version: Computer app
 - Browser: no browser, desktop app
 - OS: Win 10
 - Bridge: version
 - Firmware Version: Trezor One, 1.10.4

**How to reproduce**
Steps to reproduce the behavior:
1. Go to DOGe coin
2. Cl

[2022-01-14 17:56] prusnak commented on #4746
Which version of the Suite is this?

[2022-01-14 20:47] ThanaNL commented on #4746
Tha most recent one. It says no update is available.
21.12.2

[2022-01-16 00:03] prusnak commented on #2770
WIP PR in https://github.com/trezor/trezor-suite/pull/4281

[2022-01-16 10:02] hracik commented on #4723
I would really like to have this in Suite together with labeling transactions.

[2022-01-16 10:33] coinartists opened #4892 "VPN issue with Trezor Connect"
I am not sure this is an issue specific to the application itself but I didn't know a better place to report it. When I try to sign a transaction, the very first popup that requires me to insert my PIN always fails behind a VPN, as in the popup opens and closes immediately. Popups where I just need to confirm directly in the hw (already loaded my PIN) work fine.

[2022-01-17 07:48] hynek-jina commented on #4746
Duplicate of: https://github.com/trezor/trezor-suite/issues/4698

[2022-01-17 07:48] #4746 closed, assigned to nobody

[2022-01-17 08:43] tomasklim opened #4750 "Old supported browsers do not work"
**Describe the bug**
We support Firefox from version 62, but this version and a few following ones do not work. This applies both to the Suite and landing page. Especially landing page should work in most browsers.

**How to reproduce**
Steps to reproduce the behaviour:
1. Download old Firefox. https://ftp.mozilla.org/pub/firefox/releases/62.0/

**Expected behaviour**
The app should work or should

[2022-01-17 08:53] prusnak commented on #4750
Let's increase the support version to 78 which was the previous ESR with support that ended in Nov 2021.

Latest ESR that still has support is 91.

Source: https://endoflife.date/firefox

[2022-01-17 08:55] prusnak commented on #4750
Maybe we should add the required versions to this screen?

![](https://user-images.githubusercontent.com/1835345/147927946-83f8b8d1-1bc3-4cb3-a145-8659f688193a.png)

[2022-01-17 09:36] soucek87 opened #4751 "ETH fees in Trezor Suite"
**Describe the bug**
A user reached out to us that Suite doesn't calculate fees correctly (sufficiently) which resulted with loss of fees. Exodus, as he said,  calculated it correctly, and tx went through. TXs he refers to: 0xc962134da9cfcae241df63edc3f4e5b585d5cc03ce732f565f6e378e3ae92cba
0x91ee2f868a5224a130659edb1e0de2c0c5ecd3c640c7feb15ff452e0098c882a

**Info:**
Testing environment, Trezor Sui

[2022-01-17 10:16] hynek-jina opened #4752 "Specify supported browser version"
When user opens https://suite.trezor.io/web/ from unsupported browser - he gets this screen pushing for download of supported browsers.
We don't support old versions so it might helpful to mention oldest supported one.

Maybe we should add the required versions to this screen?

![](https://user-images.githubusercontent.com/1835345/147927946-83f8b8d1-1bc3-4cb3-a145-8659f688193a.png)

_Originally po

[2022-01-17 12:10] prusnak commented on #4752
Upon further inspection, it seems that if you are using an older version of supported browser, another dialog is shown, which tells you to update the browser. If that is really the case, we can close this issue.

[2022-01-17 12:46] ThanaNL commented on #4698
Can anyone please help, how will I be able to send DOGE from my Trezor? :) Hynek has moved my case, but I do not have an answer. Thanks in advance!

[2022-01-17 13:54] hynek-jina commented on #4752
True,
tested on Firefox v 50.0
![Snímek obrazovky 2022-01-17 v 14 53 40](https://user-images.githubusercontent.com/26002916/149781379-87f9210d-914a-4f56-a35c-af37185904d1.png)

[2022-01-17 13:54] #4752 closed, assigned to nobody

[2022-01-17 14:07] STew790 commented on #3852
**QA OK**
Button now says correctly just "Submit" and in Czech, it is also correct "Odeslat"

![image](https://user-images.githubusercontent.com/48477147/149783158-d2594bd7-fc4a-4943-93ff-b663f8febf8e.png)

**Info:**
 - Suite version: web 22.1.1 (7e2101c6d91c14e6a0faba8b4057f04ba2422578)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/5

[2022-01-17 15:06] hynek-jina commented on #4727
Mobile solution:

<img width="665" alt="Snímek obrazovky 2022-01-17 v 16 03 34" src="https://user-images.githubusercontent.com/26002916/149793695-ca544a4c-ac53-4c83-a60f-0b1c3fc3ae49.png">

[2022-01-17 15:10] hynek-jina commented on #4727
- [ ] Add tooltip informing about backend request order - So the user doesn't need to worry about calling the default one before leaving settings

![image](https://user-images.githubusercontent.com/26002916/149794513-d977ceb3-26f1-4b48-af95-274e20de7ee8.png)
.

[2022-01-17 15:14] bosomt commented on #4512
**QA OK**

**Info:**
 - Suite version: desktop 22.1.1 (75797e8edb726d7ede741a1218ff84a2320a92e0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.5 regular

[2022-01-17 15:31] STew790 opened #4755 "Suite guide is not overlapping "Skip" modals in onboarding"
**Describe the bug**
Suite guide is not visible, nor is overlapping "Skip" modals in Suite

**Steps to reproduce:**
1. Wipe device
2. Open up Suite guide
3. Start new onboarding and proceed to setting up a PIN for your device
4. Click on "Skip PIN"
5. Modal with confirming of skipping PIN creation appears and Suite guide is not visible, nor usable

**Info:**
 - Suite version: web 22.1.1 (75797e8ed

[2022-01-18 08:05] bosomt commented on #4698
@ThanatosHUN don't worry this issue is open, can you please try old wallet located here : https://wallet.trezor.io/ to send your DOGE and give us result ? Thank you !

[2022-01-18 08:55] tomasklim commented on #4462
It is live on `develop`, after release we should put current `develop` branch into `codesign` branch and deploy stable config. @vdovhanych

[2022-01-18 09:08] tomasklim commented on #4755
We detect open modal window using either `state.router.route?.isForegroundApp` or `state.modal.context !== MODAL.CONTEXT_NONE` variables from Redux. However, in case of `Skip PIN` and `Skip Backup` modals those conditions are not fullfilled as it does not use Redux. Moreover, onboarding itself is a `isForegroundApp`.

I think fixing this bug is not worth it for now and is not straightforward.

[2022-01-18 13:27] hynek-jina opened #4761 "Prepare Trezor Bridge for React Native"

[2022-01-18 13:29] hynek-jina opened #4762 "Prepare native app boilerplate"
- [ ] structure
- [ ] routing
- [ ] styling…

[2022-01-18 13:30] hynek-jina opened #4763 "Prepare Trezor Connect for React Native"
make it work with app and new RNBridge module

[2022-01-18 14:26] #4533 closed, assigned to nobody

[2022-01-18 20:44] maciejrrr commented on #4503
@prusnak, can I help with this problem?

[2022-01-18 22:35] prusnak commented on #4503
Sure, Pull Requests are welcome!

[2022-01-18 22:49] maciejrrr commented on #4503
Ok cool, assign me to this issue pls.

[2022-01-18 23:20] fujicoin opened #4768 "[Bug] Update crowdin translation source file (master.json)"
It is necessary to modify master.json and add phrases.
-------------------------------------------------------------------------------
I created a new master.json by replacing the English text of the json source file extracted from `messages.ts` with the latest en.json modified by #4767.
This work is done automatically by python code, so there are no manual mistakes.
I will attach the file, so ple

[2022-01-19 08:34] tsusanka opened #4770 "Add native Node.js USB library to @transport as a PoC"
As discussed, let's try to add [usb](https://www.npmjs.com/package/usb) as a new transport layer to [@transport](https://github.com/trezor/trezor-suite/tree/develop/packages/transport).

- There is a usage [example](https://github.com/node-usb/node-usb-example-electron) in electron.
- The [v2.0.0 API](https://github.com/node-usb/node-usb#webusb) should follow the WebUSB API specification which is

[2022-01-19 08:47] tsusanka commented on #4363
Just a small note that the sooner we add the data analytics the better as this is very important for some future decisions. It is probably clear but I wanted to stress that out. We can also create a new issue if that would help (as you wish @hynek-jina).

[2022-01-19 10:07] hynek-jina opened #4771 "Setup data analytics for Connect pop-up"
We would like to know how Connect is being used on third party websites. This feature has two goals:

## 1. Better insights into what software is being used

So we know what OSes, Bridge versions etc are out there. That means gathering:

- Device info (same as in Suite)
    - `model`
    - `language`
    - `firmware`
    - `pin_protection`
    - `passphrase_protection`
    - `backup_type`
    - `m

[2022-01-19 10:08] hynek-jina commented on #4363
I agree. So here is the related analytics issue: https://github.com/trezor/trezor-suite/issues/4771

[2022-01-19 10:29] #3326 closed, assigned to szymonlesisz

[2022-01-19 13:10] wendys-cats commented on #4527
Issue still present

**Info:**
 - Suite version: web 22.1.1 (e7262e597f6af0487e17ef055a2583425c7a5302)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.3 regular

[2022-01-19 14:36] matejkriz commented on #3889
@matejzak FYI, we will try a solution that will work for links inside Suite itself only at first, because we are a bit afraid of e.g. transaction id visible in URL (stored in browser history and non-hideable by discreet mode). And it could also interfere with our accounts selection (e.g. `/web/accounts#/eth/0`)

 So it will not be possible to share a link, that could scroll.

We could find a solut

[2022-01-19 14:58] bosomt commented on #4621
still present in 22.1.1

**Info:**
 - Suite version: web 22.1.1 (e7262e597f6af0487e17ef055a2583425c7a5302)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

https://user-images.githubusercontent.com/31506317/150156189-e485c599-7d07-48cd-8f6d-c3423e219035.mov

[2022-01-19 20:40] fujicoin commented on #4768
Removed unnecessary `\n' at the end of the line with #4769 .
Attach the new master.json.

[master.json.zip](https://github.com/trezor/trezor-suite/files/7900439/master.json.zip)

[2022-01-19 21:26] szymonlesisz commented on #4707
i've found few other places where we can save some space.

- [ ] build/js/*.js.map - do we need maps in production build?
- [ ] build/static/fonts/* - duplicated woff + woff2 fonts, i'm sure 1 will be perfectly fine
- [ ] build/static/images/icons/favicon - not used
- [ ] build/static/images/icons/* - not sure about whole directory, is it used in desktop build at all?
- [ ] build/static/images/lan

[2022-01-20 10:16] tsusanka commented on #4771
Let's held a meeting on this to sync (Hynek will schedule it). Let me, however, summarise what is needed here:
<s>
- [ ] @vdovhanych will create a new folder structure in https://github.com/trezor/webwallet-data which will then propagate to data.trezor.io and we can start sending HTTP requests on that location. File structure to be discussed
- [ ] @tptz will prepare this on the "Data side" and hel

[2022-01-20 10:46] fujicoin commented on #4768
@alex-jerechinsky
I just received an email from crowdin saying that 9 new strings for translation has been added.
I immediately uploaded the translation file. As a result, the translation is 100%.
Next, I downloaded a Japanese file from crowdin and compared it with the uploaded translation file, and it was a perfect match.
Thank you for your prompt response.

[2022-01-20 10:48] #4768 closed, assigned to jerechinsky

[2022-01-20 10:56] hynek-jina commented on #4355
Could we trigger the message by entering specific part of application?
I mean for example `Trade/Exchange` tab...

[2022-01-20 13:39] matejkriz commented on #4761
Skipping QA for now, it makes more sense to test by QA when it's integrated into the app. Tested by me so far.

[2022-01-20 15:57] matejkriz commented on #4651
be aware of  react-redux change mentioned here: https://github.com/trezor/trezor-suite/pull/4711#issue-1098109503

[2022-01-20 16:00] #4501 closed, assigned to nobody

[2022-01-20 19:35] Nodonisko commented on #4501
@prusnak I was curious about it so I tried deleting yarn.lock and here are results:

Base: 3.4Gb
Deleted yarn.lock: 2.1Gb
yarn-deduplicate: 1.7Gb

So `yarn-deduplicate` clearly won, another drawback of deleting `yarn.lock` is that it takes like 5 minutes to install modules after and we should do deduplication with every change in `yarn.lock`

[2022-01-21 10:59] hynek-jina commented on #3944
Related to: https://github.com/trezor/trezor-suite/issues/3971

[2022-01-21 15:27] karliatto opened #4786 "@trezor/utils package improvements"
With the PR https://github.com/trezor/trezor-suite/pull/4666 we are adding new package `@trezor/utils`. The purpose of this issue is to track potential improvements to that package and discuss whether some utilities make sense to be moved there or not.

## Potential candidates for further improvements

- [ ] trezor-suite/packages/suite/src/utils/suite/parseUri.ts
- [x] trezor-suite/packages/suite/

[2022-01-22 02:44] fujicoin opened #4788 "Clean up messages"
The following merge improved messages.ts and en.json.
https://github.com/trezor/trezor-suite/pull/4777
https://github.com/trezor/trezor-suite/pull/4778

Therefore, I considered cleaning up message files.

I've written python code that does a full-text search of all the files to see if the keys contained in the messages.ts file are actually used.
This code will eventually output new messages.ts and

[2022-01-22 09:48] fujicoin commented on #4788
If you set `GLOB = '*/**/*.ts*'`, it will be shortened to around 10 minutes and the same result will be obtained.

[2022-01-22 10:18] vdovhanych commented on #4462
It's now live.

[2022-01-22 16:42] maciejrrr commented on #4503
https://github.com/trezor/trezor-suite/pull/4792

[2022-01-22 18:47] tsusanka commented on #4462
Awesome. Closing then?

[2022-01-23 13:34] Rambreack opened #4793 "Fake"
**Design:** [Figma](TODO)

**Spec:** [Notion](TODO)

[2022-01-23 13:39] #4793 closed, assigned to nobody

[2022-01-23 13:39] Rambreack commented on #4793
Fgh

[2022-01-24 12:21] hynek-jina opened #4795 "Update copy on landing page (redirected from Wallet)"
Edit header copy and explanatory box for traffic redirected from https://wallet.trezor.io/ to https://suite.trezor.io/?fromMytrezor=true

Currently stored on:
https://suite.corp.sldev.cz/suite-web/feat/wallet-deprecation-banner/?fromMytrezor=true (VPN)

[code]

[2022-01-24 12:32] hracik commented on #4723
From v22.1.1 lot of this works, thanks, but please allow also transaction label to be imported via CSV, not only manually added.

[2022-01-24 12:54] tomasklim commented on #4728
Looks ugly on small screens

- [x] improve banner on small screens

![Screenshot 2022-01-24 at 13 54 19](https://user-images.githubusercontent.com/33235762/150786499-62240da3-2279-4396-9275-030d2ba4b39f.png)

[2022-01-24 14:12] tomasklim commented on #4755
Early access modals also do not work with guide

[2022-01-24 14:25] #4462 closed, assigned to tomasklim, vdovhanych

[2022-01-24 14:32] hynek-jina opened #4800 "Implement Submarine Swaps (POC)"
Proof of Concept, which allows the user to recharge the LN wallet or pay LN invoices directly from the Trezor.
_We do not address the opposite direction at this stage._

**Idea:**
User paste his invoice into send form. (Must include the amount requested)
Suite extends send form and add more information about swap.

**Subtasks from user perspective:**
- [x] Identify LN address
- [x] Read amount fro

[2022-01-24 14:33] hynek-jina commented on #4800
It's dependent on: https://github.com/trezor/trezor-firmware/issues/1430

[2022-01-24 15:35] hynek-jina opened #4801 "Trading - do not auto-fill country when Tor enabled"
Within Trade tab - Country guessing should be disabled with activated Tor.

User should select the country manually then.
![screen](https://user-images.githubusercontent.com/26002916/150813006-c8cf0a7b-fa06-4a88-bedf-e89b0008537e.png)

[2022-01-24 16:30] bosomt opened #4802 "occasionally missing `Access hidden wallet` button"
**Describe the bug**
I'm occasionally missing `Access hidden wallet` button in 22.1.1 or in dev branches in `Select wallet type` modal
First i thought it's related to outdated firmware version but i it's not related after multiple tests
I have not found way to reproduce it every time, it just happens from time to time / i have Tor enabled/

**Info:**
 - Suite version: desktop 22.1.1 (e7262e597f6af

[2022-01-24 21:34] fujicoin opened #4803 "Management of Crowdin's translation source files should be improved"
@mroz22

Although mesages.ts have been improved by #4777 and #4778, the message improvements proposed in #4769 are not reflected in Crowdin's translation source file (master.json).

As you can see in the screenshot below, the translation is an improved message, but the original text is still out of date.
This will cause new translators to translate old English sentences.

![crowdin1](https://user-

[2022-01-25 07:01] hynek-jina opened #4804 "Label edit options move with scroll"
**Steps to reproduce:**
1. Click on existing label
2. scroll down or up

**Info:**
 - Suite version: desktop 22.1.1 (e7262e597f6af0487e17ef055a2583425c7a5302)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1920x1080
 - Device: model T 2.4.3 regular

**

[2022-01-25 08:27] hynek-jina commented on #4254
Imitate UX from https://docs.new/ title edit

[2022-01-25 11:56] #4727 closed, assigned to marekrjpolak

[2022-01-25 12:45] tsusanka commented on #4750
Related: https://github.com/trezor/trezor-suite/pull/4691

[2022-01-25 12:49] tsusanka commented on #4755
So @tomasklim closing? I think modals AND onboarding/EAP is quite edge-casy and we can live without this.

[2022-01-25 12:50] tsusanka commented on #4804
Might be related to https://github.com/trezor/trezor-suite/issues/4679

[2022-01-25 12:56] tsusanka commented on #4631
@soucek87 this is due to Ripple backends being congested 😢 . Please inform the user to set the fee manually and if more tickets come up we'll raise the fees for Ripple in Suite. But I would not deal with this until there is more users concerned.

[2022-01-25 12:56] #4631 closed, assigned to nobody

[2022-01-25 12:58] vaclav-dvorak commented on #3753
Hi
when this request originated i felt that being able to have two currencies would be beneficial. After more hands-on experience with suite i must say i felt less and less need for this and now consider this idea pointless. Thank you for looking into it and sorry for late reply.

[2022-01-25 13:19] STew790 commented on #4702
Hi, would you, please, let us know your app version and also, go to http://127.0.0.1:21325/status/ and tell us your Bridge version?

[2022-01-25 13:58] bosomt commented on #4802
looks like issue us caused by https://github.com/trezor/trezor-suite/pull/4633
when i click on `Enter passphrase` field via mouse cursor only then `@passphrase/hidden/submit-button` button is displayed

[2022-01-25 14:58] bosomt commented on #4727
maybe we can consider to change wording in custom backend modal ?

<img width="705" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/151000829-f4664df4-ee52-4587-8a9c-d98b22353c41.png">

`Try going to Settings › Crypto › Advanced settings`
- there is no advanced settings any-more
- you are already in custom backend settings

[2022-01-25 15:26] bosomt commented on #4727
**QA NOK**

i can edit coins/backend when device is disconnected but not when connected in bootloader mode

**Device in bootloader mode**

<img width="803" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/151005765-6f9c8bed-f51d-4715-9d5c-e15d4a54ce42.png">

**Device disconnected**

<img width="821" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/15100588

[2022-01-25 15:31] hynek-jina commented on #4751
This appears to be an edge issue.

[2022-01-25 15:31] #4751 closed, assigned to nobody

[2022-01-25 15:59] marekrjpolak commented on #4727
Strange, I can edit even when in bootloader mode. According to the tooltip it seems that the device unavailable capabilities are in `update-required` state which causes the issue, but I haven't changed this functionality afaik. Could you please try it again maybe with different device/firmware configuration or something?

[2022-01-25 17:10] szymonlesisz opened #4809 "suite-desktop: create desktopApi.init message, pass all electron variables to renderer and store them in redux"
Instead of calling separately `desktopApi.getHttpReceiverAddress`, `desktopApi.getUserDataInfo`, `desktopApi.getResourcesPath` (not exists yet but required by [trezor-connect-ipc](https://github.com/trezor/trezor-suite/pull/4704/) uploadFirmware method) we can create `desktopApi.init` message and send all paths/addresses once at the application startup.

[2022-01-25 17:37] jerechinsky commented on #4795
I changed all the keys to the requested copy in Crowdin. The following keys do require further attention, though:

key | old copy | new copy | note
--- | --- | --- | ---
TR_SUITE_WEB_LANDING_ HEADLINE_FROM_MYTREZOR | Trezor Suite makes managing {lineBreak} your crypto safer and easier | Start using Trezor Suite | ✅ I changed it, but previously there was a break in the line. The second line was des

[2022-01-25 17:43] alex-jerechinsky commented on #4795
Forgot to tag @hynek-jina to ask for URL of the `Learn more` link in `TR_SUITE_WEB_LANDING_ START_SUB_HEADLINE`. 🙏

[2022-01-26 08:30] bosomt commented on #4727
@marekrjpolak looks like it's happening only with model T
retested:

**QA OK** with 1.10.0 bootloader device
**QA OK** with 1.8.0 bootloader device
**QA NOK** with 2.4.3/2.0.3 bootloader device
**QA NOK** with 2.3.4/2.0.3 bootloader device

**Info:**
 - Suite version: web 22.1.0 (b0defd67595dd9e4fb782549539bedc21edda38b)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/2010

[2022-01-26 09:01] marekrjpolak commented on #4727
Agree, now I see it as well. But I reproduced exactly the same behavior on currently released Suite. So maybe we should create a separate issue?

[2022-01-26 09:22] bosomt opened #4810 "Not possible to change Coins settings when model T in bootloader mode"
**Describe the bug**
it's possible to change Coins settings when model T in bootloader mode.
Model One works as expected but when model T connected it reports `Update required
`

**Steps to reproduce:**
1. Start latest dev or production version of Suite
2. Connect Trezor model T
3. Observe Coins tab in Settings

**Info:**
 - Suite version: desktop 22.1.1 (e7262e597f6af0487e17ef055a2583425c7a5302)

[2022-01-26 09:23] bosomt commented on #4727
@marekrjpolak i did 👍🏿  https://github.com/trezor/trezor-suite/issues/4810

[2022-01-26 10:12] bosomt commented on #4688
**QA NOK**

retested in production and dev master on Linux and storage is still not wiped

**Info:**
 - Suite version: desktop 22.1.0 (b0defd67595dd9e4fb782549539bedc21edda38b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1536x864
 - Device: model 1 1.10.5 regul

[2022-01-26 10:14] bosomt commented on #4680
**QA NOK**

icon is still missing in dev master and on production

**Info:**
 - Suite version: desktop 22.1.0 (b0defd67595dd9e4fb782549539bedc21edda38b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1536x864
 - Device: model 1 1.10.5 regular

[2022-01-26 10:42] dimasivan commented on #4795
`TR_SUITE_WEB_LANDING_HEADLINE_FROM_MYTREZOR`
 `Start using <em>Trezor Suite</em>`

`TR_SUITE_WEB_LANDING_SUB_HEADLINE_FROM_MYTREZOR`
A safer, more private experience for desktop & browser.

[Download button]

`TR_SUITE_WEB_LANDING_BANNER_HEADLINE_FROM_MYTREZOR`
 Looking for Trezor Wallet?

`TR_SUITE_WEB_LANDING_BANNER_DESC_FROM_MYTREZOR`
Trezor Suite is a new interface that makes using your Trezo

[2022-01-26 12:22] tsusanka opened #4813 "Cardano: copy check"
@b-irving we will need a comprehensive copy check of Cardano in Suite. I am making this issue now, so if you want feel free to play around, however **there will be a demo** next week to present the feature, so ideally let's wait until then so you have an idea what we are talking about :).

Suite desktop build containing Cardano:
- [Linux](https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/2

[2022-01-26 13:10] bosomt opened #4814 "Issue with pixel density of QR code"
**Describe the bug**
See screenshots.
Same reults in app and in Firefox browser.

**Steps to reproduce:**
1. Load Suite
2. Show receive or public key QR code
3. Observe

**Info:**
 - Suite version: web 22.1.0 (f5a9176dd5b338f87cdb5c5395358939138b1482)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model

[2022-01-26 13:14] bosomt commented on #4727
One more nitpick
When i want to disable or enable all coins from i have to click 10+ time and not just one time before this change.
I'm not sure if anyone except QA department was using this feature but I'm already missing it 😆 :)

[2022-01-26 13:25] tomasklim commented on #4814
It is a problem on pixelDensity > 1 screens because of this https://github.com/zpao/qrcode.react/blob/main/src/index.js#L278-L285 in QR library.

We should remove
`style={{ width: '100%', height: 'auto' }}` from QRCode component and reduce size of QRCode according to screen size. On small devices it should be max 250-300px to fit the modal.

[2022-01-26 22:33] fujicoin commented on #4803
@pingpwned
The key name of messages.ts was changed in commit 45cddef.
https://github.com/trezor/trezor-suite/commit/45cddef53f7dbb72752f19df37643c55ecee969c

It is very annoying for the supporters who are helping the translation with crowdin to make such corrections.
---------------------------------------------------------------------------------------------------------------

When a key is added

[2022-01-26 22:49] fujicoin commented on #4803
A key called `TR_SUITE_WEB_LANDING_BANNER_CTA_FROM_MYTREZOR_WRAPUP` has been added to the translation source (master.json), but it does not exist in `messages.ts` or in any other program code.
Why was this added?

[2022-01-27 04:10] brianddk opened #4822 "Moderation required on SatoshiLabs in the Microsoft winget package repository"
SatoshiLabs is showing up in the [winget package repo](https://github.com/microsoft/winget-pkgs/tree/master/manifests/s/SatoshiLabs).  It's great to see the packages there, but you might want to take over the PR submission for your ORG.  The packages there seem legit, but technically, anyone could contribute any package there and call it "TrezorSuite".  Your dev team may want to take over these su

[2022-01-27 10:31] tomasklim commented on #3889
**Design info**
[code]

[2022-01-27 11:24] hynek-jina commented on #4727
@marekrjpolak could you please add it to Debug mode?

[2022-01-27 19:12] szymonlesisz opened #4823 "trezor.io homepage missing onion links"
while browsing `trezor.io` homepage with tor browser on `trezoriovpjcahpzkrewelclulmszwbqpzmzgub37gbcjlvluxtruqad.onion` i've noticed that there are multiple external links which are not converted to onion addresses, especially link to "Suite" (top right menu), but there are much more.
scroll down and check every link/button

[2022-01-28 12:05] dcaldr commented on #4702
Hello, bridge version is 2.0.31 (rev 5f53132) , problem is persisiting even in new version of Trezor app & firmware

[2022-01-28 12:11] dcaldr commented on #4702
I tried to get Win Event Logs from app startup to keyboard freeze. I don't know if it will be helpful
[fromStartToBad.zip](https://github.com/trezor/trezor-suite/files/7958482/fromStartToBad.zip)

[2022-01-28 13:04] #4761 closed, assigned to Nodonisko

[2022-01-28 13:32] #4802 closed, assigned to karliatto

[2022-01-28 14:36] jerechinsky commented on #4803
100% agree. We **are** trying to do the backports regularly. However, the process **could** be improved.
	For now, I've cleaned up the English in Crowdin, so we can more easily keep track of the changes in English copy. Only the strings that were actually changed and differ from `default message` are "translated" and approved now, i.e., the ones that will need to be backported. You can see for you

[2022-01-28 16:12] tomasklim commented on #3889
Added more cases into the first post. If I find some more, I will add them.

I did not implement `Failed backup notif › General Settings › Backup`. This notification is in onboarding and also inside app. The user is well informed when a backup fails and the user is also informed by a banner.

[2022-01-28 16:23] STew790 commented on #4795
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/151583591-5e9d964f-a28b-40d0-baba-b6095eb644bd.png)

[2022-01-28 21:14] tsusanka commented on #4823
As we will move to new trezor.io in a few months let's do it then and let's track it there.

cc @Hermez-cz @ElKaDu we need to have the Tor URLs in the new knowledge base or somewhere where it is easily discoverable. Doing Tor recognition and altering the URLs can be done post-MVP I believe.

[2022-01-28 21:14] #4823 closed, assigned to nobody

[2022-01-29 14:29] tomasklim commented on #3889
Followup:

- [x] messaging system

[2022-01-29 17:45] tsusanka opened #4828 "Switch Bridge to debug mode does not work in Debug settings"
I do not think this switch is doing anything.

![image](https://user-images.githubusercontent.com/1835345/151671509-814df60d-83f6-4316-b30e-51ed35c64b2e.png)

`--bridge-dev` seems to work though. Let's either fix it or remove it.

[2022-01-29 19:34] tsusanka commented on #4822
Hi @brianddk, as there are many package managers out in the wild, it is quite hard to maintain all of them.

As I am looking into the winget repo it seems to me that the Suite apps are taken from GitHub release directly, so that's great and does not have to be changed. Approving the PRs from our side would be nice though.

If you are familiar with the topic, could you please point to some docs how

[2022-01-30 03:00] brianddk commented on #4822
There are proposals in the works, and I've added to the proposal process.  SL input would be great as well.  It's a fairly heated topic and not yet solidified.

https://github.com/microsoft/winget-pkgs/discussions/15607#discussioncomment-2069357

[2022-01-30 09:44] Nodonisko commented on #4504
Also I would recommend some slight refactoring of enums, some could simple use `const enum` and some could be possible replaced with literal types or discriminated unions. These are small changes but can help have nice final code and better error messages.

Read this really nice article: https://robinpokorny.com/blog/typescript-enums-i-want-to-actually-use/
Some more reading: https://dev.to/azure/

[2022-01-30 15:19] mroz22 commented on #4680
This appeared with this commit for the first time https://github.com/trezor/trezor-suite/commit/fbd87b0c4ae55c06c8782b850bcc5a0802afa335

[2022-01-31 00:24] Safardarzaman commented on #4512
[Watsap](https://wa.me/message/RFQURKQ4L77OD1) @prusnak

[2022-01-31 00:25] Safardarzaman commented on #4512
![IMG-20220130-WA0036](https://user-images.githubusercontent.com/96583617/151724269-6ace841c-a909-42ae-9e0e-0515ceab420d.jpg)
![IMG-20220130-WA0037](https://user-images.githubusercontent.com/96583617/151724273-dcae92ec-448e-44cd-a2b1-960b3a90d3ff.jpg)
![IMG-20220130-WA0038](https://user-images.githubusercontent.com/96583617/151724275-b9d8376e-d044-46b4-a9f6-3d29009e5c7f.jpg)

[2022-01-31 05:31] xanoni commented on #2770
Great, in Trezor we trust ;-)

[2022-01-31 11:15] wendys-cats commented on #4527
QA OK on wipe-device-workaround branch! Tried wipe from FW and BL both, disconnect prompt is present.

 - Suite version: web 22.1.0 (12ad8517ff43e064dc2ce3d38c324a896db7e39d)  wipe-device-workaround branch
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model  TT and T1

[2022-01-31 12:01] bosomt commented on #4802
**QA OK**

**Info:**
 - Suite version: web 22.1.0 (a2949ba096899853839a46baad35c99bd76c5872)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.3.4 regular
 - Device: model One regular

[2022-01-31 14:07] afsoningo commented on #4813
#4725 #4829 #4781 #4833 #4829

[2022-01-31 14:43] bosomt commented on #4680
**QA OK**

**Info:**
 - Suite version: desktop 22.1.0 (4bc9b932487181d8ef32fefa74f231a48cbebbad)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1536x864
 - Device: model 1 1.10.3 regular

[2022-01-31 14:49] #4680 closed, assigned to mroz22

[2022-02-01 08:47] karliatto opened #4838 "When disabling TOR, custom backend URLs are not updated so it fails discovery"
**Describe the bug**
When disabling TOR, custom backend URLs are not updated so it fails discovery.

**Info:**
 - Remembered Wallet: no
 - Suite Version: desktop-app, develop branch, commit -> 4679a9e84b4bf245fe6880644df4a281f5e6ec06
 - Browser: electron
 - OS: Pop!_OS 21.04
 - Bridge: 2.0.27
 - Firmware Version: Trezor One, 1.10.5

**How to reproduce**
Steps to reproduce the behavior:
In Desktop

[2022-02-01 09:03] karliatto opened #4840 "When a branch with # in the branch name suite e2e tests fail"
When creating a branch with `#` in the branch name test fails and it is not very intuitive the reason why. The consequence is wasted developer time trying to figure out what is happening.

Possible solutions:
1. Make some changes that allow the test to work when the branch name contains `#`.
2. Implement a simple check that when it finds `#` in the branch name, tests in CI fail with a meaningful m

[2022-02-01 09:13] marekrjpolak commented on #4838
This could be connected to the connect-in-electron problems we're currently solving. Could you please try it on https://github.com/trezor/trezor-suite/tree/chore/connect-electron-followup branch?

[2022-02-01 09:13] karliatto opened #4841 "Docker to test suite e2e fails to start because of node version enforcement"
Since we started enforcing node version the docker container for suite e2e testing fails to initialize with the error below:

[code]

[2022-02-01 09:42] #4828 closed, assigned to karliatto

[2022-02-01 09:53] bosomt commented on #4814
**QA OK**

**Info:**
 - Suite version: desktop 22.1.0 (fdfa3c5dec90e2c2977512e96f4a114c854fe67a)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.1.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.3 regular

[2022-02-01 12:23] Nodonisko commented on #4841
Hotfix is here #4843 but it should be solved by our own Docker repository where we can manage all our docker images. cc @vdovhanych

[2022-02-01 12:56] hynek-jina commented on #4744
Same behaviour like in transaction overview can be used.

[2022-02-01 13:29] tomasklim commented on #4477
- [x] Moved closed to navbar
- [x] Fixed hover on icon when dropdown is open
- [x] Removed Settings, Tor and Early access dropdowns
- [x] Custom backend icon visible only when at least one custom backend is active
- [x] Tor and Early access anchors added

Not implemented:
- [ ] Tooltips

[2022-02-01 16:49] #3889 closed, assigned to tomasklim

[2022-02-01 17:00] tsusanka commented on #4822
Great! I will try look to into that. As there is not much we can do directly here in trezor-suite, I am closing this one. Thanks for the heads-up and I'll try to look into the discussion at some occasion.

[2022-02-01 17:00] #4822 closed, assigned to tsusanka

[2022-02-01 17:33] tsusanka commented on #4890
@earrietadev you need to fork the repository and it should work then. Would like to try it?

[2022-02-02 07:42] tsusanka commented on #3870
@Nodonisko done right?

[2022-02-02 07:48] tsusanka commented on #2737
Some product work still needs to be done.

[2022-02-02 12:37] mroz22 opened #4893 "Connect legacy tests results"
We have just started running more tests against model One and doing so we have found some suspicious observations . I would like to determine if these results are expected or possibly bugs in firmware.

decred - 1.10.6
https://github.com/trezor/connect/blob/1e3e4648f7b92df0c1b10bf0fc1d18b4cd4ebf54/tests/__fixtures__/signTransactionDecred.js#L106-L108

decred 1.10.6
https://github.com/trezor/connec

[2022-02-02 13:42] STew790 commented on #3889
**QA OK**
OKed via PR here https://github.com/trezor/trezor-suite/pull/4781

**Info:**
 - Suite version: web 22.1.0 (45062edb383596efc81932b8fe6b51f124933b11)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.3 regular

[2022-02-02 15:10] bosomt commented on #4508
**QA NOK**

same behavior

**Info:**
 - Suite version: desktop 22.2.1 (863b788827f389eac348f15d8f673cc1069bea00)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.2.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-02-03 08:32] hynek-jina opened #4849 "Recover from interrupted network connection"
**Introduction**
Imagine Suite loses network connection. If some event occured during this period of network malfunction (such as new block is mined), Suite does not have a mechanism to fetch the data after the connection is recovered. That can lead to very undesirable consequences such as missing transactions etc. We need to check periodically that the connection is working and introduce some "re

[2022-02-03 09:04] mroz22 commented on #4402
Reveal address probably shouldnt be active while discovery is running. Maybe it should be disabled and have a tooltip "wait...", or maybe it shouldnt be there at all.

[2022-02-03 14:21] bosomt commented on #4665
**QA NOK**

actual status/links

T1 https://github.com/trezor/trezor-firmware/commit/3f12742669bd782cac374a1750d517f4fd88c43b
TT https://github.com/trezor/trezor-firmware/commit/595b14254c1abb2be3f69e42c7932f1eca8cf1b1

expected status/links

T1 https://blog.trezor.io/trezor-suite-and-trezor-model-one-firmware-updates-january-2022-4a77e4a07a5a
TT https://blog.trezor.io/trezor-suite-and-firmware-up

[2022-02-03 14:28] prusnak commented on #4665
This is the commit https://github.com/trezor/trezor-suite/commit/7618ef045a9eea8d163bfed94c4b7bf4b5ef8050 that has been merged via https://github.com/trezor/trezor-suite/pull/4201 to fix https://github.com/trezor/trezor-suite/issues/4161

[2022-02-03 14:34] bosomt commented on #4698
**QA OK**

i was not able to reproduce issue
we sent multiple transaction and there was no other complaint abut DOGE transactions

Maybe someone from Suite team can try to import customers XPUB and try to generate transaction ?
/no idea if it's possible or not, it's beyond my skills/

[2022-02-03 15:00] bosomt commented on #4630
**QA OK**

1) installed Tor browser
2) network.proxy.no_proxies_on to 127.0.0.1:21325
3) network.http.referer.hideOnionSource to false
4) discovery and sent transaction

<img width="1126" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/152367921-c0632f17-332d-4059-8a7a-fab7be7b1a4f.png">

Latest version of Tor and MacOS
Suite production version at suite.trezor.io 22.1.1

[2022-02-03 15:02] ThanaNL commented on #4698
Thank you, the issue has been solved. I have no idea how, just was able to
send it from the online platform.

Thank you for your help!

On Thu, 3 Feb 2022, 15:34 Tomas B, ***@***.***> wrote:

[2022-02-03 15:04] #4698 closed, assigned to bosomt

[2022-02-03 15:21] karliatto commented on #4810
After investigation:
The issue seams to be that in [connect](https://github.com/trezor/connect) when in bootloader mode we are using "major_version, minor_version, patch_version" that Model T reports as bootloader version to check `UnavailableCapabilities` that are defined by Firmaware version.

Therefore we see that those coins are not available for the current firmware version but it is not true

[2022-02-03 15:52] prusnak commented on #4626
I can see the https://suite.trezor.io/ is fixed (contains `http-equiv`), but https://suite.trezor.io/web/ is still broken (contains `httpequiv`). Reopening.

[2022-02-04 09:13] tsusanka commented on #4813
@b-irving the demo is here: https://www.loom.com/share/b3176d197d8d46198605093ae4c610a8
(the huge QR code is fixed already don't worry about that)

I am also sending this to Product so they will make a product review but I think it is fine to check the copy right away as I hope there will not be many changes there.

I'll also send the newest binaries shortly.

[2022-02-04 09:28] b-irving commented on #4813
@tsusanka fantastic, thank you!

[2022-02-04 10:19] szymonlesisz opened #4894 "Connect & Tor tracking issue"
- [ ] detect .onion origin in web env and set `setting.useOnionLinks` to true
- [x] BLOCKCHAIN.CONNECT should return { url: 'btc1.trezor.op`, onionUrl?: 'btc1.xxx.onion` }
- [x] accept proxyAgent options in `setProxy` method

[2022-02-04 10:37] bosomt commented on #4503
**QA OK**

**Info:**
 - Suite version: web 22.2.1 (863b788827f389eac348f15d8f673cc1069bea00)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.80 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.10.5 regular

[2022-02-04 10:37] #4503 closed, assigned to maciejrrr

[2022-02-04 12:24] prusnak opened #4855 "Support Electrum-compatible signatures in SignMessage"
Wallets like Sparrow can create signatures compatible both with Trezor/BIP137 and Electrum.

![Screenshot from 2022-02-01 16-20-43](https://user-images.githubusercontent.com/42201/152528129-5eb1835d-01dc-4042-8df2-37aa75231d46.png)

Let's add the same switch to our SignMessage dialog, but change the wording to

`BIP137 (Trezor)` | `Compatibility (Electrum)`

and set the first (BIP137) as default.

[2022-02-04 12:45] Densum87 commented on #3550
Is this projected to release in the march firmware release (if there is one)?

[2022-02-04 12:47] mark-stopka commented on #3550
See here https://github.com/vacuumlabs/trezor-firmware/pull/71#issuecomment-1026623541

As I already said, this feature has nothing to do with Alonzo support by Trezor Model T, but relates only to Trezor Suite which is a Ledger Live like wallet software.

[2022-02-04 13:41] wendys-cats commented on #4838
**QA OK**, could not reproduce.

**Info:**
 - Suite version: desktop 22.2.1 (863b788827f389eac348f15d8f673cc1069bea00)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.2.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.3 regular

[2022-02-04 15:32] tsusanka opened #4856 "Introduce Crowdin to Connect popup"
To localize Connect popup we should start using Crowdin as we do in Suite.

[2022-02-04 16:02] tsusanka commented on #4862
Related to https://github.com/trezor/trezor-suite/issues/4860 and https://github.com/trezor/trezor-suite/issues/4863

[2022-02-04 16:03] tsusanka commented on #4863
Related: https://github.com/trezor/trezor-suite/issues/4862#issuecomment-553342960

[2022-02-04 16:11] tsusanka commented on #4867
@mroz22 is this still relevant?

[2022-02-04 16:12] tsusanka commented on #4866
@mroz22 @szymonlesisz I think more things are done already? Could you update the check boxes?

[2022-02-04 16:20] tsusanka commented on #4873
@bosomt please retest if this still occurs.

[2022-02-04 16:23] tsusanka commented on #4874
@STew790 plese retest if this issue still occurs.

[2022-02-04 16:37] tsusanka commented on #4881
@wendys-cats could you please retest this is indeed the case?

[2022-02-04 16:40] tsusanka commented on #4882
Hi @rogerioaguas this looks alright on our side. Could you try to send the rawTx without `0x` maybe? And if that does not help maybe consult with the given library?

I am closing here as there is not much we can do about it on our side, but feel free to continue the discussion.

[2022-02-04 16:40] #4882 closed, assigned to nobody

[2022-02-04 16:43] tsusanka commented on #4883
This is an interesting case: if you remember hidden wallet in connect popup, you still need to be prompted for the passphrase.

[2022-02-04 16:46] tsusanka commented on #4884
Could you please elaborate what is the problem?

[2022-02-04 16:48] tsusanka commented on #4888
Could be https://github.com/MetaMask/metamask-extension/issues/10896 or any other from https://github.com/MetaMask/metamask-extension/issues?q=+label%3Ahardware-trezor+.

[2022-02-04 16:51] tsusanka commented on #4885
@mroz22 as we are touching Cardano currently we might do this one along?

[2022-02-04 16:57] tsusanka commented on #4892
It would be very peculiar if this issue would be isolated to Connect. What browser and OS you are using?

[2022-02-04 22:16] rogerioaguas commented on #4882
I forgot add chainID on payload, this way resolved my problem!

thanks

[2022-02-05 08:37] thaarok opened #4896 "Connect API - Could not communicate with the source website"
I am trying to follow the guide how to use the Connect API, but when the test page invokes the TrezorConnect method, the connect.trezor.io produce following error:

The output of the `TrezorConnect.ethereumGetAddress` call is `{ error: "Iframe timeout", code: "Init_IframeTimeout" }`

I have tried to add CORS header to my web page:
[code]
However it does not help.

How I am supposed to allow the tr

[2022-02-05 09:23] prusnak commented on #4896
Relevant part of the error message:

Disable ad blockers, try different browser, try opening your website in incognito mode (where are extensions are disabled), etc.

[2022-02-05 12:07] bosomt commented on #4873
**QA OK**

https://trezor.io/coins/#EOS

**T1 latest FW [legacy/v1.10.5]**

Connect: Trezor One not supported

**TT latest fw [core/v2.4.3]**

Connect: Device connected to blocks wallet as expected

[2022-02-05 12:07] #4873 closed, assigned to bosomt

[2022-02-06 08:28] thaarok commented on #4896
I am having the same error when using Firefox or Chromium with no extensions, with enabled pop-ups.
I use Trezor official apps (like https://suite.trezor.io/web/ ) in the same browsers successfully.
I believe there must be some requirement for my app, which I have not found in the doc - how is the source website supposed to communicate with Trezor connect? I dont see any CORS or other error in the

[2022-02-06 11:41] bosomt commented on #4814
**QA NOK**

i was able to reproduce issue in current staging version 22.2.1
or maybe it's not same issue but modal does not fit to Suite window
or maybe we can ignore it, QR code fits to window and if QR code does not scale it's size  we can't fix every resolution/scale
ASUS laptop 1920x1080 in default 150% scale it does not fit to display

![obrázok](https://user-images.githubusercontent.com/3150

[2022-02-07 08:19] karliatto commented on #4810
The proposed solution is to remove Coins settings when in bootloader mode since there is not real use case for that.
It still has to be decided how to do the UI for that.

[2022-02-07 10:19] matejkriz opened #4900 "Signing all DLL binaries to satisfy AppLocker policy"
Signing DLL is turned on here https://github.com/trezor/trezor-suite/pull/4839

but not all binaries are signed:

[code]

those two looks still unsigned
`swiftshader/libEGL.dll`
`swiftshader/libGLESv2.dll`

[2022-02-07 10:59] yohaaan opened #4901 "Suite uses outdated Zcash logo"
**Zcash logo is outdated**
New logo available here https://z.cash/press/

[2022-02-07 11:45] prusnak commented on #4901
There is one logo in the coin selection:

![](https://user-images.githubusercontent.com/42201/152782200-dd08bc2e-46b6-4941-a872-a86c7c8db5ca.png)

and another is in the homescreen selection.

[2022-02-07 12:32] bosomt commented on #2737
Can you please add update of context help in `Sessings/Crypro` to tasks/next steps ?

<img width="534" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/152787947-56d12b04-3c43-4802-a9d3-35ebe10e0ac7.png">

[2022-02-07 13:01] hiviah commented on #4900
Note: the installer can be unpacked with p7zip via `7za x Trezor-Suite-22.2.1-win-x64.exe` on Linux (I guess it would also work for GUI versions of p7zip on other systems). The `chktrust` is from `mono-develop` package (Ubuntu LTS, other distros will have it under similar name).

There are `libEGL.dll` and `libGLESv2.dll` twice in the installer (different subdirs), one is signed and one unsigned f

[2022-02-07 13:43] STew790 commented on #3225
I tried to reproduce this issue in the recent version of Suite (22.1.1 e7262e5) but I wasn't successful yet. Nonetheless, I will be monitoring this issue and as soon as I find something, I will add it here.

[2022-02-07 13:54] STew790 commented on #4874
I tried about 10-15 times on MEW and on MyCrypto as well and it always showed me the button to enter the passphrase on device.

I tried Chrome (98.0.4758.80 ) as well as FF (96.0.3).
Device is Trezor Model T (2.4.3)

@refi93 Is this issue still persisting for you?

[2022-02-07 14:14] sime opened #4903 "Remove passphrase setting"
**User story**
As a newly onboarded Trezor user
I do not want to be presented with a passphrase toggle
So that new concepts are not added to my cognitive load

As an old school Trezor user
I do not want to be presented with a passphrase toggle
So that my cognitive load is reduced

**Background**
Passphrases are a source of friction and a small users actually use a hidden wallet

[2022-02-07 15:11] matejkriz commented on #4900
related electron-builder issue: https://github.com/electron-userland/electron-builder/issues/5236

[2022-02-07 19:40] thaarok commented on #4896
I have figured it out - it have not work, because I was calling the `TrezorConnect.ethereumGetAddress` method too soon after the page load. It was sufficient to replace:
[code]
by:
[code]
Now it works just fine, thanks and sorry for spam!

Note: No CORS header was necessary at all.

[2022-02-07 19:40] #4896 closed, assigned to nobody

[2022-02-07 20:34] hiviah opened #4904 "After closing Suite window on Linux, trezor-suite, trezord and bindmount are not closed"
**Describe the bug**
After closing Suite window, `trezor-suite`, `trezord` processes and tmpfs bindmount are not closed.

**Info:**
 - Remembered Wallet: yes
 - Suite Version: Trezor-Suite-22.1.1-linux-x86_64.AppImage
 - Browser: used the AppImage version
 - OS: Ubuntu 20.04 LTS with KDE/Plasma desktop environment
 - Bridge: bundled
 - Firmware Version: 2.4.3 TT
 - Used Tor bridge that comes from

[2022-02-07 22:23] prusnak commented on #4904
How are you closing the window? Clicking on X button or using a keyboard shortcut?

------

This particular code (which should quit the app when all windows have been closed on `platforms != darwin`) hasn't been touched for quite a while:

https://github.com/trezor/trezor-suite/blob/ff71cc624ae923bc7c6cc561c22ce9d940f51978/packages/suite-desktop/src-electron/modules/window-controls.ts#L34-L38

[2022-02-07 22:29] hiviah commented on #4904
Clicking 'X' on window.

[2022-02-08 08:42] mroz22 commented on #4626
It looks like it have been fixed in the meantime (judging by staging, and dev). So I am moving this to February 16 project Needs QA  col.

[2022-02-08 09:26] sime commented on #4903
I believe it is a language issue. Choosing 'Standard Wallet - No passphrase', followed by navigating to device settings shows passphrase as enabled. In this case I expect it to be disabled.

https://user-images.githubusercontent.com/216917/152957072-8efeba1f-963f-43cf-aacf-f30b77d3dcf3.mp4

[2022-02-08 09:36] matejkriz commented on #4900
we could
- try to fix electron-builder
- or investigate if we can get rid of `swiftshader` folder itself
- or define custom signing https://www.electron.build/tutorials/code-signing-windows-apps-on-unix.html#integrate-signing-with-electron-builder

[2022-02-08 09:57] tsusanka commented on #4903
A bit of context: in wallet.trezor.io you had to enable passphrase in settings first to work with it. In Suite we have decided to alter this behaviour and we turn on the passphrase every time during onboarding even if you won't use it. The rational is that we can then onboard you to passphrases easily and work with the whole Hidden wallets concept.

We could enable passphrase on clicking on Add ne

[2022-02-08 09:59] tsusanka commented on #4903
@stepmes have you encountered this in some user feedback?

[2022-02-08 10:04] matejkriz commented on #3870
done

[2022-02-08 10:04] #3870 closed, assigned to nobody

[2022-02-08 10:27] karliatto commented on #4731
This task is been completed in branch https://github.com/trezor/trezor-suite/tree/test/electrum-regtest-bitcoind, it requires [this branch](https://github.com/trezor/trezor-suite/tree/chore/electrum-followup)  to be merged before.

[2022-02-08 10:32] sime commented on #4903
Thanks for confirming this, I noticed the difference of enabling passphrase manually (with on device confirmation) and during the onboarding (no confirmation).

Yes! This sounds like a smart default or chance to drop an [unnecessary setting](https://signalvnoise.com/archives2/getting_real_the_problem_with_preferences_interface_design_and_the_customer_experience.php)!

Tableau says 30% of users hav

[2022-02-08 10:55] szymonlesisz commented on #4786
typescript utilities:
- [ ] trezor-suite/packages/suite/src/types/utils
- [ ] trezor-suite/packages/suite-desktop-api/src/methods
- [ ] connect/types/utils

[2022-02-08 12:04] bosomt commented on #4630
@sunknudsen @prusnak
can we close this issue ?

[2022-02-08 12:08] prusnak commented on #4630
Yes, let's close it. If the issue still persists, please reopen Sun.

[2022-02-08 12:08] #4630 closed, assigned to nobody

[2022-02-08 12:37] hynek-jina commented on #4903
Another user story may be to mask the existence of a hidden wallet to a potential attacker by disabling the ability to enter a passphrase.

[2022-02-08 13:18] STew790 commented on #4795
**QA NOK**

Sorry, the copy is really different then what is actually here https://suite.trezor.io/?fromMytrezor=true

Thank you @hynek-jina for pointing it out.

[2022-02-08 13:32] jerechinsky commented on #4795
I can see that the landing page you linked still has the old copy e.g. `Coming from Trezor Wallet?`.

But on develop copy has been updated even in default messages.
https://github.com/trezor/trezor-suite/blob/87e552d4f1b1fc932fb853385d722b3f8a678916/packages/suite/src/support/messages.ts#L6367-L6369
https://github.com/trezor/trezor-suite/blob/7f81d831608cf02cb37ea8da02d34fb6bc4f2882/packages/suite

[2022-02-08 13:55] #4814 closed, assigned to marekrjpolak

[2022-02-08 14:32] hynek-jina commented on #4795
@alex-jerechinsky It was not released yet.

[2022-02-08 14:42] jerechinsky commented on #4795
Thank you @hynek-jina. And I can see that it's correct on https://staging-suite.trezor.io/?fromMytrezor=true
so we should be OK.

[2022-02-08 14:42] #4795 closed, assigned to dimasivan

[2022-02-08 15:30] STew790 commented on #4795
@alex-jerechinsky yes, exactly. It wasn't synced before but now it is on staging.

Now it is **QA OK**
I am sorry for the confusion.
![image](https://user-images.githubusercontent.com/48477147/153019744-e3b0e3b1-2f8b-43e3-98f5-ad8c25ae5d60.png)

[2022-02-08 17:27] dahaca commented on #4901
The linked official logo does not fit the style of all other logos we have and because of the black border does not look too good on darker backgrounds.

![image](https://user-images.githubusercontent.com/45338719/153041086-07f21cdd-5da3-42a3-bb5e-8efd3eec1565.png)

![image](https://user-images.githubusercontent.com/45338719/153041740-3f48c2ac-577f-4510-9d8c-4ea2bcd0e287.png)

[2022-02-08 18:59] bosomt commented on #4814
**QA OK**

**Info:**
 - Suite version: desktop 22.2.1 (520802b8052d558de9c5f0ee55f9151ea5122eb4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.2.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-02-08 19:16] bosomt commented on #4626
**QA OK**

staging of 22.2.1

<img width="775" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/153059199-2bd2b008-9a7b-49ea-9080-771ece134bf7.png">

**Info:**
 - Suite version: web 22.2.1 (520802b8052d558de9c5f0ee55f9151ea5122eb4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:96.0) Gecko/20100101 Firefox/96.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: mode

[2022-02-08 19:16] #4626 closed, assigned to mroz22

[2022-02-09 09:06] #4891 closed, assigned to tsusanka

[2022-02-09 15:46] tsusanka opened #4915 "Anchor links are not highlighted on repeated clicks"
**Describe the bug**
Anchor link works just fine but if I repeatedly click on an action (because I am dull or blind) it is not highlighted more, it even disappears. Usually it is solved in a way that the highlighted piece is animated a bit or it at least stays highlighted but I do not think it should just disappear.

**Info:**
 - Remembered Wallet: no
 - Suite Version: EAP v22.2.1 https://github.c

[2022-02-09 15:48] tptz opened #4916 "massive connect logs size increase after last release"
overall size of a day' s extraction of connect logs from S3 was about 200mg about 40 days ago.
around 22/23.1 it increased to 2.7 gigs of a day's worth of data pulled from the s3

casually inspecting the logs i have found that
for example we had 3 854 780 rows of hits coming from https://connect.trezor.io/8/iframe.html on 2021-12-25
... as of yesterday the amount of rows with that url as a referre

[2022-02-09 16:29] dahaca commented on #2245
@szymonlesisz Could you specify why they are duplicated?  `formatAmount` essentially formats from satoshis, `amountToSatoshi` – to satoshis, same with `networkAmountToSatoshi` and `formatNetworkAmount`. As far as I understood they have different use cases.

[2022-02-09 16:46] bluek97 commented on #4702
I also have keyboard disconnect issues. I can't reliably reproduce it though. Today it stayed connected throughout passphrase entry, and throughout the transaction (although there were 2-3 USB sounds from my OS). Then as I was about to eject the Trezor, the keyboard disconnected.

Suite version: 22.1.1
Bridge version: 2.0.31 (rev 5f53132)
Windows 10 Home 10.0.19044

Edit: This happens whenever the

[2022-02-09 20:00] bluek97 commented on #4702
After monitoring the event log, the periodic errors (which don't disconnect the keyboard, but definitely interrupt usage for a second) are from a DCOM error 10016 via PerAppRuntimeBroker. Then after a period of time, the keyboard disconnect coincides with another DCOM error 10016, this time from ImmersiveShell. I can reproduce this behavior by opening Trezor Suite and just waiting.

[2022-02-10 11:27] STew790 commented on #4904
We (@trezor/qa ) were all able to reproduce this, unfortunately.

The steps are the same as @hiviah mentioned. Both on Linux Ubuntu and MacOS.

**Screenshots**

Linux
![image](https://user-images.githubusercontent.com/48477147/153398994-e1cfffca-d0cc-42d4-a863-4e8030f66eb3.png)

**Info**
- Suite version: desktop 22.2.1 (520802b8052d558de9c5f0ee55f9151ea5122eb4)
 - Browser: Mozilla/5.0 (X11; Linux

[2022-02-10 14:42] sentry[bot] opened #4924 "Error: httpRequest error: ./data/messages/messages.json?r=1644242757891"
Sentry Issue: [TREZOR-SUITE-3B7](https://sentry.io/organizations/satoshilabs/issues/2993753968/?referrer=github_integration)

[code]

[2022-02-10 14:44] sentry[bot] opened #4925 "TypeError: Cannot read properties of undefined (reading 'coin')"
Sentry Issue: [TREZOR-SUITE-2P0](https://sentry.io/organizations/satoshilabs/issues/2723826758/?referrer=github_integration)

[code]

[2022-02-10 14:47] sentry[bot] opened #4926 "TypeError: Cannot read properties of null (reading 'removeChild')"
look also on another related issues in Sentry, there are more of them...

Sentry Issue: [TREZOR-SUITE-3AJ](https://sentry.io/organizations/satoshilabs/issues/2986746619/?referrer=github_integration)

[code]

[2022-02-10 15:15] wendys-cats commented on #4904
Reproduced this on mac (intel), tried with autoupdates and/or installing over last three (21.12.2, 22.1.1, 22.2.1-beta) versions available [here](https://github.com/trezor/trezor-suite/releases).

Looks like version 22.1.1 is the culprit, trezord.service stays alive after eixiting Suite, and will persist even after autoupdate or installing another version over this one. Quitting the service via ac

[2022-02-10 17:07] #4327 closed, assigned to marekrjpolak, mroz22, dahaca

[2022-02-10 23:24] MustardLighthouse opened #4929 "Broken Firmware Detected - Cannot Install Firmware on new Trezor Model One"
I have a new Trezor model One with Bootloader 1.10.0. I cannot install any firmware. I have tried this with the Web wallet, different computers, browsers and cables. I have another Trezor One which functions normally.

**Info:**
 - Remembered Wallet: no
 - Suite Version: App 22.1.1.15213
 - OS: Mac OS , version 12.2
 - Bridge: 2.0.27
 - Firmware Version: N/A

Starting Fresh:

<img width="1344" alt

[2022-02-11 08:41] #4901 closed, assigned to dahaca

[2022-02-11 09:37] prusnak commented on #4929
Please contact our support via https://trezor.io/support/

[2022-02-11 09:37] #4929 closed, assigned to nobody

[2022-02-11 10:02] matejkriz commented on #3630
we agreed not to do it: https://github.com/trezor/trezor-suite/pull/4921#issuecomment-1036041676

[2022-02-11 10:02] #3630 closed, assigned to dahaca

[2022-02-11 10:26] hynek-jina commented on #4863
@szymonlesisz
Could you please elaborate more? And what is the priority? thx

[2022-02-11 10:29] hynek-jina commented on #4867
Not relevant anymore...

[2022-02-11 10:29] #4867 closed, assigned to mroz22

[2022-02-11 13:31] slowbackspace opened #4932 "Remove fake pending transaction once Blockfrost provides mempool data"
as per @mroz22 [request](https://github.com/trezor/trezor-suite/pull/4144#discussion_r804651169)

Blockfrost backends used for Cardano don't provide mempool data. So currently we are adding fake pending transaction after user sends a transaction to improve the UX. Once the backend supports this (and we implement it in blockchain-link) we can remove this workaround.

I'll reference this issue from

[2022-02-11 14:11] matejkriz commented on #4403
wipe button should be disabled till discovery is finished - verify

[2022-02-11 14:16] matejkriz commented on #4073
this error is probably about wrong mengling of typeforce in connect https://github.com/trezor/connect/blob/develop/webpack/config.prod.babel.js/#L196

[2022-02-11 14:22] matejkriz commented on #4402
we want to add check in discovery `start` method, that discovery hasn't finished in case of remembered device disconnected during discovery

[2022-02-11 14:23] matejkriz commented on #4268
note to myself: here is some issue with duplicated device locks in state

[2022-02-11 14:24] mroz22 commented on #4344
quick note: button requests related cardano change packages/suite/src/components/suite/modals/index.tsx (not merged yet)

[2022-02-11 16:23] STew790 opened #4933 "Disabling passphrase in settings shows a warning that you need to enable it again in order to use your device"
**Describe the bug**
If you disable a passphrase in the settings and go to your Accounts, you will see a prompt to enable a passphrase in order to use your device again, which is meaningless if you don't use a passphrase.

**Steps to reproduce:**
1. Start Suite
2. Connect your device
3. Go to Settings and disable passphrase
4. Go to your Accounts and you will see a yellow prompt

**Info:**
 - Suit

[2022-02-11 17:32] tsusanka commented on #1157
I think this has been done by https://github.com/trezor/trezor-suite/pull/4725?

[2022-02-11 19:47] fujicoin commented on #4788
This case will be closed because it seems that measures have been taken.
https://github.com/trezor/trezor-suite/commit/831e015a6043e5d1c52e58d4fc750c83252f1931

Ty!

[2022-02-11 19:47] #4788 closed, assigned to mroz22

[2022-02-12 00:11] hiviah commented on #4904
Seems that if you kill just `trezord` process, the rest cleans up (so no dangling processes, on Linux at least).

[2022-02-12 06:47] bosomt opened #4934 "Favicon does not always change accordingly to macOS theme"
**Describe the bug**
Fav icon does not always change accordingly to macOS theme.
See screenshot, it does not occur always but it happens from time to time.
I'm not sure if this occurs only on macOS.

**Steps to reproduce:**
1. Load web version of suite
2. Switch between dark and light theme
3. Observe favicon

**Info:**
 - Suite version: web 22.3.0 (3d468f5975ac59b23a24096b632252ff92567243)
 - Bro

[2022-02-12 12:15] Tongchen-Wang commented on #2838
Please translate into Mandarin

[2022-02-13 08:33] #1157 closed, assigned to nobody

[2022-02-13 09:39] prusnak opened #4936 "Consider using Turborepo/Nx"
I stumbled upon Turborepo - https://turborepo.org - and it seems we might gain some benefits by using it, especially in the area of incremental builds and maybe later with remote caching. OTOH, it might be still overkill for the monorepo of our size. Please have a look and decide whether it makes sense for us to use that : https://turborepo.org/docs

Edit: There is also Nx - https://nx.dev - with

[2022-02-13 13:40] Nodonisko commented on #4936
@prusnak Already on my radar, but we are not here yet. I believe that turborepo uses "per package cache" and we need to break `suite` package into smaller ones first, because most of code of suite is here and nearly every changes happens here, so it will be rebuild everytime anyway.

At least we will have "incremental" builds for TS soon (#4851) also cache for `eslint` is now working.

[2022-02-13 14:14] prusnak commented on #4936
@Nodonisko Great, thanks for the info. I agree with your observation - if we gain incremental builds via #4851 we are fine without Turborepo for now.

[2022-02-13 15:21] Nodonisko commented on #4936
To be accurate, it is inceremental type-check rather than build. It will improve mostly DX during development builds, impact on production builds will be very low.

Also one tool that we should consider is https://nx.dev

[2022-02-14 10:10] matejkriz commented on #4924
It's only one event from staging and 7 events from one user on Dec 28, 2021 on localhost https://sentry.io/organizations/satoshilabs/issues/2890420810/events/?project=5193825&statsPeriod=90d

[2022-02-14 10:13] matejkriz commented on #4925
~ 10 events last 30 days

[2022-02-14 10:16] matejkriz commented on #4926
ony 4 events from 2 users but it's new from 22.1.1

[2022-02-14 11:32] #4904 closed, assigned to mroz22

[2022-02-14 13:43] ondracja commented on #4934
I was able to reproduce the issue on multiple browsers (Chromium, Brave, Firefox)

**Info:**

- intel Mac, Big Sur 11.6.2 (20G314) with dark theme set by OS
- Chromium Version 95.0.4608.0 (Developer Build) (x86_64)
- Brave Version 1.35.101 Chromium: 98.0.4758.87 (Official Build) (x86_64)
- FF 97.0 (64-bit)

[2022-02-14 14:08] STew790 commented on #4702
I just tried this with the exact same keyboard as @dcaldr and it stayed connected throughout various attempts and even just "idling" and being connected with Suite open.

Can I ask you, do you have your keyboard connected straight to your machine or through some USB hub?

I will try to monitor this issue for a couple days but so far, I wasn't able to reproduce this.

[2022-02-14 15:56] sime opened #4941 "Warn about non-ASCII characters in passphrase"
## User story

**[Instructions + Design](https://github.com/trezor/trezor-suite/issues/4941#issuecomment-2338726186)**

As a Trezor Suite user
I want to protect my privacy
So that my funds are safe when my seed is compromised

As a Trezor Suite user
I want to create a hidden wallet passphrase on suite
And I want to confirm it on my device
So that I can trust I have create a hidden wallet securely

[2022-02-14 16:31] prusnak commented on #4941
There should probably be some way how to override this and get back to the old behaviour?

[2022-02-14 19:23] bosomt commented on #3158
**QA NOK**

seed backup in Suite settings still using old design

<img width="752" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/153931994-e1a9ff39-e360-46d9-ab78-f639a3ffb534.png">

**Info:**
 - Suite version: desktop 22.2.1 (520802b8052d558de9c5f0ee55f9151ea5122eb4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSu

[2022-02-14 19:38] szymonlesisz opened #4942 "update `ripple-lib` in blockchain-link"
`ripple-lib` is no longer maintained. it's being moved to monorepo and published as `xrpl`.

Currently we are using [patch](https://github.com/trezor/trezor-suite/blob/develop/patches/ripple-lib%2B1.10.0.patch) to pass websocket agent (TOR proxy) to RippleApi websocket constructor.

Now, everything works fine in suite structure but when implemented to trezor-connect (published to npm) this patch i

[2022-02-14 20:19] bluek97 commented on #4702
@STew790 I do have my keyboard connected to a USB hub. When I get a chance, I will try connecting directly and see if it still crashes, but that isn't a good permanent solution for my setup.

[2022-02-14 22:16] prusnak commented on #4702
USB hubs are the worst, lots of them do not conform to specifications. If the device works directly, I suggest you get a better USB hub.

[2022-02-14 23:18] szymonlesisz commented on #4866
i think nothing was changed in that area

[2022-02-15 10:43] sime commented on #4941
My current thinking is to inform (warn) the user when they enter a passhrase with non-sanctioned characters, on-device entry is then impossible.

This way there is no 'go back feature', and suite remains backwards compatible.

[2022-02-15 13:59] bosomt commented on #4904
**QA OK**

**Info:**
 - Suite version: desktop 22.2.2 (b07f353c6f405d70d4f53ef5a1d4345f9d7fc4b9)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.2.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-02-15 14:00] hynek-jina commented on #4702
We can note the problematic USB hubs, but I’m closing this issue for now.

[2022-02-15 14:00] #4702 closed, assigned to STew790

[2022-02-15 14:19] hynek-jina opened #4945 "Too many logs for Connect in our S3 data"
We have noticed a significant increase in the volume of log data.
[Internal discussion](https://satoshilabs.slack.com/archives/C011BRDBEAZ/p1644489896753799)

[2022-02-15 16:00] Nodonisko commented on #4936
https://dev.to/tolgee_i18n/is-turborepo-overhyped-416n

[2022-02-16 10:58] szymonlesisz opened #4946 "CI: Separate deploy to dev and deploy to npm sections"
- [x] create new rules for `npm-release` prefix
- [x] npm public release should be available only from prefixed branch
- [x] npm beta release should be available from any branch except `npm-release` (and maybe others?)
- [x] npm publish job should validate package.json version like in [trezor-connect](https://github.com/trezor/connect/blob/develop/.gitlab-ci.yml#L143)
- [x] update docs/releases/np

[2022-02-16 12:09] sime opened #4947 "Support 50 digit PIN codes for T1"
## User story
As a T1 user
I want to protect my coins from a physical theft attack
So that my coins are safe if my T1 is stoleln

## Acceptance criteria
Given I set a pin
When I enter a 50 digit pin
And I press 'Enter pin'
And I should see 'Verifying pin'
And I enter the same 50 digit pin
And I press 'Enter pin'
And I should see 'Verifying...'
Then I should see 'PIN changed successfully'

## Backg

[2022-02-16 13:35] tsusanka opened #4948 "Autoupdate from EAP version fails on macOS"
**Describe the bug**
It looks like autoupdate from EAP version fails. Both to stable and to EAP.

**Steps to reproduce:**
1. Launch v22.2.1
2. Enable EAP before (?)

**Info:**
 - Suite version: desktop 22.2.1 (520802b8052d558de9c5f0ee55f9151ea5122eb4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.2.1 Chrome/94.0.4606.81 Electron/1

[2022-02-16 13:44] vdovhanych commented on #4948
This looks like it's the issues of `22.2.1` or `22.2.2` regardless of early access or not. Anyone on the versions 22.2.1 and 22.2.2 would not be able to update to a new version regardless of the eap or stable update.

[2022-02-16 13:47] matejkriz commented on #4948
diff between 22.2.1 and 22.2.2 https://github.com/trezor/trezor-suite/compare/520802b..b07f353

[2022-02-16 13:50] vdovhanych commented on #4948
I would check 22.1.1 vs 22.2.2 or 22.2.1

[2022-02-16 14:19] hynek-jina commented on #2643
Another appearance today. Probably triggered by `electrs`  or by `Tor`

[2022-02-16 16:28] tsusanka opened #4949 "Remove build date from "Update available" modal"
**Describe the bug**
We display build time instead of the release date under the changelog, which might be confusing to users as we usually release few days after the build. Let's remove the date.

**Steps to reproduce:**
1. Launch older version of the app
2. See date under changelog in modal with title "Update available"

**Info:**
 - Suite version: desktop 22.2.1 (520802b8052d558de9c5f0ee55f9151

[2022-02-17 04:00] blackboxtrading opened #4952 "Asking for passphrase for every txn..."
Starting sometime today, trezor + metamask stars to ask for passphrase every time I am sending a txn. It is pretty crazy. Previously it only asks once every time I connect trezor. Was there an update?

[2022-02-17 08:34] prusnak commented on #4952
Make sure you are on the latest version of Metamask and Trezor firmware.
If the issue still persists, please open the issue in the Metamask repository: https://github.com/MetaMask/metamask-extension

[2022-02-17 08:34] #4952 closed, assigned to nobody

[2022-02-17 09:56] hynek-jina commented on #4949
There is no clear benefit of this date.. Let's remove it.

[2022-02-17 10:11] tsusanka commented on #4947
Duplicate of https://github.com/trezor/trezor-suite/issues/3737, we should close one of them

[2022-02-17 10:14] sime commented on #4947
Closing in favour of https://github.com/trezor/trezor-suite/issues/3737

[2022-02-17 10:14] #4947 closed, assigned to nobody

[2022-02-17 10:19] bosomt opened #4955 "Missing changelog in `Update available` modal when TOR enabled"
**Describe the bug**
Missing changelog in `Update available` modal when TOR enabled.
Maybe we can consider different delivery of changelog, even when TOR is not enabled it takes some time to show changelog before it's downloaded.

**Steps to reproduce:**
1. Enable TOR in older version
2. restart application
3. observe `Update available` modal

**Info:**
 - Suite version: desktop 21.11.2 (e548c52e3

[2022-02-17 16:24] #4948 closed, assigned to nobody

[2022-02-18 08:01] tsusanka commented on #4892
Closing for no response, let us know if this issue still persists.

[2022-02-18 08:01] #4892 closed, assigned to tsusanka

[2022-02-18 09:13] karliatto commented on #4810
After conversation with @hynek-jina and @Hermez-cz  the final decided solution is to keep the coin selection in bootloader mode active for Trezor One/Trezor Model T and ignore that might be some coins that are not going to work with the current firmware because it is desired to have suite configuration  device-agnostic.

When device is in normal mode it will display that some coin is not working w

[2022-02-18 09:30] hynek-jina opened #4961 "Improve communication of a loading discovery"
The user should be better informed that not all addresses are loaded yet. Errors occur when using the Suite during discovery. At the same time, the total balance is gradually loaded. An incompletely loaded balance history could scare the user if it is not obvious that discovery is still in progress.

https://user-images.githubusercontent.com/26002916/154655473-26520aa8-1f05-465c-b7f9-4701b26a063e.

[2022-02-18 09:50] mroz22 opened #4962 "connect-popup bugs tracker"
Connect popup sometimes closes before it renders "permissions scree".

It might also be connected with some of these:
- [x] https://github.com/trezor/trezor-suite/issues/4877
- [x] https://github.com/trezor/trezor-suite/issues/4883
- [x] https://github.com/trezor/trezor-suite/issues/4888
- [x] https://github.com/trezor/trezor-suite/issues/4857
- [ ] [Metamask + Trezor pop up window automatically c

[2022-02-18 10:17] wendys-cats commented on #4695
**QA OK**, could not reproduce when tested on [tROP](https://ropsten1.trezor.io/tx/0xd543c99a84f75007716566823c3d02b803f4701e18f22a0cb60e4f6c63384980) nor [ETH](https://eth1.trezor.io/tx/0xa8af8e619c296621507fdea06ff1049effd03ca5df9f7283c5d71a3484ebf409). If you experience this again, please reopen the issue and we will investigate.

**Info**
Suite 22.2.1 (863b788827f389eac348f15d8f673cc1069bea00)

[2022-02-18 10:17] #4695 closed, assigned to wendys-cats

[2022-02-18 10:32] hynek-jina opened #4963 "Tor and custom backend potential troubleshooting"
When a user enter an onion address, but Tor is turned off:

<img width="744" alt="Snímek obrazovky 2022-02-21 v 13 53 40" src="https://user-images.githubusercontent.com/26002916/155154772-96d6790a-5d9e-4f8a-8bef-1555d66611b5.png">

When a user wants to disable Tor but only uses onion addresses for their custom backend:

<img width="747" alt="Snímek obrazovky 2022-02-21 v 13 52 17" src="https://u

[2022-02-18 11:48] matejkriz opened #4964 "Message banner in desktop app is hidden below Update modal on welcome screen"
**Describe the bug**

If there is a System message available and relevant right after the desktop app start and there is update available, the  banner is hidden below the modal (see screenshot).

The problem is that we want to inform the user, that the update process is broken, but user can't see the message if he don't close the Update modal.

**Info:**

-   Suite Version: desktop app 22.2.3 (but

[2022-02-21 07:27] bosomt commented on #4948
**QA OK**

**macOS M1** EAP ON 0.22.3-> 22.2.2-beta OK
**macOS M1** EAP OFF 0.22.3 -> 22.1.1 OK

[2022-02-21 07:57] mroz22 commented on #4741
QA: happens when trying to turn on metadata while there are more windows with trezor-suite (and device is possibly unacquired, or something like this).

[2022-02-21 08:38] #4731 closed, assigned to karliatto

[2022-02-21 08:43] #4964 closed, assigned to nobody

[2022-02-21 09:01] bosomt opened #4968 "Mask notification values in discreet mode"
**Describe the bug**
Consider adding notification values to discreet mode.
See screenshot. Transaction amounts are displayed in notifications and in notification area even after you enabled discreet mode.
I'm not sure if it's part of design or we just forgot to hide this values.

**Info:**
 - Suite version: desktop 22.2.3 (4dc44f620de7f15cdd66970cf22126695435c969)
 - Browser: Mozilla/5.0 (Macintos

[2022-02-21 10:58] ondracja opened #4970 "[Macos] Suite Guide sidebar's opening/closing lags when portfolio graph is rendered"
**Describe the bug**
When the user opens the Suite Guide sidebar on the `Dashboard` page after the portfolio graph renders, the process of opening and closing is very laggy.

**Steps to reproduce:**
1. Start the desktop Suite
2. Go to the Dashboard page
3. Wait until the portfolio graph fully renders
4. Open the Suite Guide by clicking on the button in right bottom corner
5. Observe the sluggish p

[2022-02-21 12:35] #4874 closed, assigned to STew790

[2022-02-21 16:30] lukeramsden opened #4973 "Possible incorrect type in Trezor Connect for `ethereumSignTypedData` function"
The documentation function `ethereumSignTypedData` in `trezor-connect` stipulates you can call the function like so:

[code]

However, the types for `ethereumSignTypedData` list two possible function overloads:

[code]

This leads to a type error if you try to call `ethereumSignTypedData` with both `data`/`metamask_v4_compat` AND the hash fields, despite this being ostensibly (and in my experience

[2022-02-22 14:12] matejkriz opened #4977 "Convert address-validator to TypeScript and update libs"
https://github.com/trezor/trezor-address-validator

We don't need to keep it as fork, it's already heavy customized for our needs.

- [x] move to monorepo
- [x] use the new package in Suite
- [x] add BTC regtest support https://github.com/trezor/trezor-suite/pull/5786 via https://github.com/trezor/trezor-address-validator/pull/18
- [ ] convert to TS?
- [ ] publish as @trezor/trezor-address-validat

[2022-02-22 14:13] matejkriz commented on #4977
cc @martinboehm @mroz22 @szymonlesisz

[2022-02-22 14:33] matejkriz opened #4978 "Redact new cardano-related actions"
We have to redact all possibly sensitive data for logging.

current utils here:
https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/utils/suite/logUtils.ts

Consider at least stacking info https://github.com/trezor/trezor-suite/blob/c9f41ce5b05750b77ee862c1917e4c337750135e/packages/suite/src/reducers/wallet/accountsReducer.ts#L26-L31

and pending stacking TXs https://github.com/

[2022-02-22 15:43] slowbackspace commented on #4978
👍  `staking.address`, `staking.rewards` should definitely be redacted.
What about `account.misc.staking.poolId` (staking pool to which the user is delegating to)? should it be also considered as sensitive information?

Regarding `pendingTx` from staking reducer, I think it is not logged anywhere since logging has to be enabled explicitly for any new redux action or did I miss something?

[2022-02-22 15:58] slowbackspace commented on #4978
For now I redacted `staking.address` and `staking.rewards`. https://github.com/trezor/trezor-suite/pull/4144/commits/54881d47aef9520e9631fa5bf020e03f7eb4bd5d

[2022-02-22 17:20] marian001 commented on #4723
I'd like to suggest that before implementing this feature, you fix exporting unfiltered transactions. Even after today's update (v22.2.3), the export CSV feature still doesn't work. Specifically, I'm trying to export cca 16 pages of ETH (and ERC-20) transactions, but Trezor Suite obviously can't process this amount of transactions...   It seems to just use all the available memory and then crash..

[2022-02-22 19:32] martinboehm opened #4979 "Trading - redirect in Suite Desktop not working as expected"
In the Invity buy and sell crypto we were using a functionality to redirect user to a specific place in the Suite, calling the Electron function loadURL with url (example from dev environment):
[code]
where `mainWindow` is `BrowserWindow`. Unfortunately, while the call caused reload, it ended up in the root of the Suite (Dashboard), not triggering our `coinmarket-redirect` route.

We have since ab

[2022-02-22 19:56] Nodonisko opened #4981 "Replace ts-jest with babel-jest, unify configs"
Follow up for #4851

1) Use `babel-jest` everywhere - it redudant to use `ts-jest` because or files are type-checked by `tsc` anyway, no need do it twice. Also support for composite project is bad for `ts-jest`.
2) Unify config for `jest` and create some generic one that could be easily inherited it any package

[2022-02-23 07:15] tomasklim opened #4982 "Anchor links followup"
- [x] Removal / Non-removal of highlight on click #4915
- [x] #5040
- [ ] #7318
- [x] #5041
- [x] #7319
- [ ] Option to navigate into in-app feedback form or specific guide article

[2022-02-23 08:34] hynek-jina commented on #4723
@marian001
Thank you.. It is tracked here: https://github.com/trezor/trezor-suite/issues/4384
And another related bug isssue is here: https://github.com/trezor/trezor-suite/issues/4427

[2022-02-23 08:36] hynek-jina commented on #4723
@hracik
Thank you, we have noted it down and consider that with next labelling improvements.

[2022-02-23 09:38] matejkriz commented on #4978
Thanks for the `address` and `rewards` 👍  I'm not sure about the `poolId` but would rather redact it too.

You are right about the `pendingTx`, only the action type is logged by default.

[2022-02-23 11:17] #4838 closed, assigned to marekrjpolak

[2022-02-23 11:50] slowbackspace commented on #4978
done ef36b0fa61363257b2af4b9cbfed05c580e03380

[2022-02-23 14:45] STew790 commented on #3225
I tried to reproduce this issue throughout the past month on various versions of Suite and I wasn't successful.
Let us know if you get this issue again, please.
Closing (could not reproduce).

[2022-02-23 17:32] Nodonisko opened #4989 "suite-desktop/src-electron should have own package"
During #4851 I found that every dependency included `package.json` of `suite-desktop` is copied to electron node_modules with all subdependencies. That is problem because we have `src` and `src-electron`, and dependencies that are used in `src` are for ui part and are bundled anyway.

It's hotfixed by **not** defining dependencies in `suite-desktop/package.json` (for example `suite`) even if they

[2022-02-24 11:21] matejkriz opened #4992 "Click on right side of inactive coin "badge" opens custom backend settings"
**Describe the bug**
Click on right side of inactive coin "badge" opens custom backend settings instead of activating the coin.

**How to reproduce**
Steps to reproduce the behavior:

1. Go to Settings/Crypto
2. Click on the right side of the Coin "badge"
4. See error

**Expected behavior**
Coin should be activated.

**Screenshots**

https://user-images.githubusercontent.com/3729633/155514367-ed6f

[2022-02-24 11:58] matejkriz opened #4993 "Fix skipped env tests"
https://github.com/trezor/trezor-suite/blob/182439a7f130ffcac3af5fee79ab3fe36fb0952f/packages/suite/src/utils/suite/__tests__/env.test.ts#L4

followup from https://github.com/trezor/trezor-suite/pull/4851

[2022-02-24 12:36] #4855 closed, assigned to dahaca

[2022-02-24 14:14] tomasklim opened #4995 "Factory reset device without fw"
**Describe the bug**
The user is allowed to factory reset a device that does not have firmware which results in error notification

It is possible to wipe device without firmware via trezorctl
`trezorctl device wipe -b`

**Info:**

-   Suite Version: 22.2.3
-   Model: T, 1

**How to reproduce**

1. Factory reset empty fw device from onboarding settings

**Expected behavior**
User is able to wipe t

[2022-02-24 14:20] tomasklim opened #4996 "Unable to go to onboarding settings after resetting device"
**Describe the bug**
Unable to go to onboarding settings after resetting device

**Info:**

-   Suite Version: 22.2.3
-   Firmware Version: T, 1

**How to reproduce**
1. Reset device
2. Click on Settings icon (nothing happens)
3. Unplug device (you are in settings)
4. Plug device (you are in onboarding with settings route)

**Expected behavior**
The user is able to open settings after resetting th

[2022-02-24 14:58] matejkriz commented on #4283
send report feature has been removed from the error page so no more relevant...

[2022-02-24 14:58] #4283 closed, assigned to nobody

[2022-02-24 15:01] matejkriz opened #4997 "Sentry enhancements - adding context"
Add more context/tags to the Sentry issue:
  - [x] transport type (as a tag)
https://github.com/trezor/trezor-suite/pull/5095
  - [x] current route path including app, foregroundapp and fullscreen app (errors from desktop are missing the information about current location, for web there are full URLs)
  - [x] tor status
  - [x] FW and bootloader versions
  - [x] device.mode?, device.type?

 Stop r

[2022-02-24 16:50] #4978 closed, assigned to nobody

[2022-02-24 22:47] bosomt commented on #4855
**QA OK**

Electrum version valid, trezor version not valid in Electrum 4.1.5

_Trezor vs Electrum message format_

-----BEGIN BITCOIN SIGNED MESSAGE-----
a
-----BEGIN SIGNATURE-----
bc1qfcjv620stvtzjeelg26ncgww8ks49zy8lracjz
H2hfrN0Zn3EkqPTODeVvY+fsm34+3wFT56MT4q7tRtAVZOqeNWmlspQsvhdOOdmfYjbJK3UzKlmm2F6S/iDnAZY=
-----END BITCOIN SIGNED MESSAGE-----

-----BEGIN BITCOIN SIGNED MESSAGE-----
a
-----B

[2022-02-25 09:01] tomasklim commented on #4750
Bumping also Chrome/Chromium required version to ~~83~~ 84, which has almost the same release date as Firefox 78. Our app is not working in older Chromes because of the same error mentioned in the first post.

EDIT: I will bump Chrome to 84 to support https://caniuse.com/flexbox-gap which will help us with styling a lot @marekrjpolak

[2022-02-25 09:33] bosomt commented on #4731
@karliatto anything needed on QA side or i can move it to approved section ?

[2022-02-25 09:52] tsusanka opened #5001 "Custom backend info is still visible after coin is disabled"
**Describe the bug**
We show Electrum custom backend as disconnected even when the coin is turned off.

**Steps to reproduce:**
1. Set up Customer Electrum server
2. Disable bitcoin
3. Enable another coin

**Info:**
 - Suite version: desktop 22.3.0 (8fed4ff9336a4f9c7eef5d7ef29943c66208ad12)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSui

[2022-02-25 10:13] matejkriz commented on #4684
System popup warning for blocked domains has been removed and instead it's reported to Sentry.

[2022-02-25 10:43] kolomaznikt opened #5003 "Data analytics: Backup succes rate"
We want to know how many users started backup creating (anywhere) and finished or not (i.e. the failure rate).
New event `create-backup` should be created, with attribute `error` with similar function as in `device-update-firmware`.

[2022-02-25 11:23] tsusanka commented on #4813
Done and checked by @b-irving, it is all good :).

[2022-02-25 11:23] #4813 closed, assigned to b-irving

[2022-02-25 13:22] STew790 commented on #4900
**QA OK**

Win11 working just fine. After downloading, I don’t get any warnings.
Installing it doesn’t trigger the AppLocker warning as well.

**Info:**
 - Suite version: desktop 22.3.0 (1d51f38bbb866b9e8947d702be85008d29ef35cd)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Wi

[2022-02-25 13:56] #4900 closed, assigned to karliatto

[2022-02-25 14:44] STew790 commented on #4961
**QA OK**

Attached is a video of the current state in dev master.

- green loading bar present
- spinning wheel in - dashboard/portfolio value present
                               - dashboard/ my assets present
                               - accounts/my accounts present
                               - accounts/receive/show full address present

![image](https://user-images.githubusercontent.

[2022-02-25 14:55] tsusanka opened #5005 "Allow custom Electrum server backend also for Bitcoin testnet"
It seems to me that I can't set up Electrum server for Bitcoin testnet. Any reason not to allow that? I think it would be useful for testing.

[2022-02-25 15:04] #4302 closed, assigned to matejkriz

[2022-02-25 15:04] matejkriz commented on #4302
no more relevant

[2022-02-25 15:49] STew790 commented on #4684
**QA OK**

No warning appeared in Suite, only error in console and a report to sentry.

![image](https://user-images.githubusercontent.com/48477147/155745189-0d5606a4-782a-4aac-9a5e-47d5447b087c.png)

https://sentry.io/share/issue/4fbbb8adc14f424288445f707479aee3/

**Info:**
 - Suite version: desktop 22.3.0 (3041e4c87aaf67c229ae26be663fba0070500c4c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) Appl

[2022-02-25 16:58] tsusanka opened #5007 "HTML element in "Looking for Trezor Wallet""
<img width="1238" alt="image" src="https://user-images.githubusercontent.com/1835345/155755766-4c1b195d-ec86-4162-9016-a704faab3761.png">

[2022-02-25 16:59] tsusanka commented on #5007
@hynek-jina this would be nice to squeeze into the Tueday freeze as it should be pretty quick and we deprecate the Wallet soon.