[2022-02-26 19:22] jerechinsky commented on #5007
I corrected this in Crowdin. We'll do a Crowdin sync and backport on Monday ahead of the freeze.
https://crowdin.com/translate/trezor-suite/103/en-en#28729

[2022-02-27 23:08] Densum87 commented on #3550
Yes, I am aware. Looking for support of ADA in Trezor Suite. I am also keeping an eye on https://github.com/vacuumlabs/trezor-firmware/pull/71#issuecomment-1026623541

[2022-02-28 08:58] kolomaznikt opened #5012 "Data analytics: app update"
We want to know how many users ignore (or not) new desktop app update.
New event
[code]

[2022-02-28 09:55] wendys-cats opened #5016 "Eliminate the risk of getting stuck when loading a hidden wallet"
**Describe the issue**
It is not always noticeable when server is closed/refuses connection, which can lead to unfortunate situations if the user does not realise the server is down/not responsing, like forever loading wallet either when trying to add hidden wallet or upon re-opening suite. It would be desirable to check responses from electrum server more/to showcase the connection status change

[2022-02-28 12:13] STew790 commented on #5007
**QA OK**

The word "strong" is not there anymore and the whole sentence is correctly bold now.

![image](https://user-images.githubusercontent.com/48477147/155981507-7073c803-5334-4d1d-8e98-b13966df6225.png)

[2022-02-28 12:13] slowbackspace opened #5018 "Cannot use 3rd party backends (not served on trezor.io) with TOR"
Default trezor/connect backends, that are not served on trezor.io domain, will fail with an error `Endpoint not set` with TOR enabled. You can test this behaviour with Ripple and Cardano.

I assume the problem is in Connect:
https://github.com/trezor/connect/blob/develop/src/js/backend/BlockchainLink.js#L84-L95

This code will filter out all backends that don't have onion domain defined in:
https:

[2022-02-28 12:28] sime opened #5019 "Public key for taproot account include additional information"
**Describe the bug**
Public keys in Taproot account contain additional characters: `tr([5c9e228d/86'/1'/2']tpubDComXvUi9pafQWLmbrRzwq7YKnAgJMh3H4Q2vaGm4ks4K1imq1jeiJ8KNJRmcH9KANVwNdHePuTyNWToTSV2ANzEAYeNfp5Txekbwt5HZHp/<0;1>/*)`

**Info:**

-   Remembered Wallet: no
-   Suite Version: App,
-   Browser: name, version
-   OS: OS X
-   Firmware Version: 1.10.5

**How to reproduce**
1. Add account
2.

[2022-02-28 12:41] sime commented on #5019
My mistake. taproot xpubs really do look like this.

[2022-02-28 12:41] #5019 closed, assigned to wendys-cats

[2022-02-28 12:51] wendys-cats commented on #4881
Closing issue. **QA OK**
Was unable to reproduce this issue. However, found other two (to be investigated, might be connect related).

I was able to send [transaction ](https://tzstats.com/tz1gvUQbs2iNT8myNgDde6GV7K9FPrXE1Dqt) with TT on simplestaking.

Device: TT 2.4.3 public regular
Browser: Chrome Version 98.0.4758.102 (Official Build) (64-bit)
Wallet: SimpleStaking 0.7.8
Passphrase: yes

![ima

[2022-02-28 12:51] #4881 closed, assigned to wendys-cats

[2022-02-28 12:54] #5007 closed, assigned to jerechinsky

[2022-02-28 13:40] #4730 closed, assigned to tomasklim

[2022-02-28 13:52] tsusanka commented on #5018
@hynek-jina @matejkriz I believe this is a release blocker. (not necessarily a freeze blocker though)

[2022-02-28 16:10] STew790 commented on #4964
**QA OK**

Linux, Windows and MacOS updates tested and all shows the banner correctly.

![image](https://user-images.githubusercontent.com/48477147/156017092-db2d262b-c0fd-40a9-8e84-462fc356e38c.png)

[2022-02-28 23:35] fujicoin opened #5022 "There is a mistake in crowdin's master.json"
There is no key: TR_RECEIVED_SYMBOL in crowdin's master.json.
The English text of Key: TR_RECEIVING_SYMBOL is different from that of messages.ts.

The relevant part of messages.ts is as follows:
[code]

The question is why such mistakes occur.
I can only think that master.json is created manually.
I think master.json must be generated automatically.

[2022-03-01 08:44] karliatto commented on #4731
@bosomt nothing can be tested in the app regarding this task

[2022-03-01 08:53] matejkriz commented on #5018
fix in connect https://github.com/trezor/connect/pull/1067

[2022-03-01 09:26] #4889 closed, assigned to mroz22

[2022-03-01 09:48] slowbackspace commented on #5022
Hello @fujicoin, @alex-jerechinsky I opened PR that fixes incorrect message ID for `TR_RECEIVED_SYMBOL`. Bug was introduced while refactoring these messages for cardano.
https://github.com/trezor/trezor-suite/pull/5023

[2022-03-01 10:30] #5022 closed, assigned to jerechinsky

[2022-03-01 10:35] mroz22 commented on #5022
`master.json` is autogenerated from `messages.ts`
using
`yarn workspace @trezor/suite translations:extract`

we also have a nightly job checking whether messages.ts is ok. https://gitlab.com/satoshilabs/trezor/trezor-suite/-/jobs/2146691283#L224

[2022-03-01 11:00] fujicoin commented on #5022
@alex-jerechinsky @mroz22

Well, I understand why the error occurred.
The code that generates master.json from message.ts seems to be extracting the value of id key.

However, the Suite program refers to the primary key in message.ts when invoking the translation.
The id key value is not actually used.

Programmers often miss the value of the id key.
The programmer has to enter the primary key in

[2022-03-01 11:17] tomasklim commented on #4963
Do not forget:
I proposed some improvements in the PR which we can discuss.

QA:
@trezor/qa I proposed to test our app in the browser with Tor to check that we do not have any inconsistencies there. If you launch Suite in Brave with Tor, Suite detects that tor is used. However, I am aware that it has to be tested on production as we do not have stg onion link, or do we?

Btw we should check with @

[2022-03-01 12:29] fujicoin commented on #5022
I actually tried running formatjs.
formatjs is issuing a warning correctly.

[code]

[2022-03-01 15:15] tsusanka commented on #5007
@alex-jerechinsky could we also change "Quicker transactions with RBF" to "Cheaper transactions with RBF"? They are not faster..

[2022-03-02 10:17] karliatto opened #5031 "Create a simple UI for bitcoind regtest to be used for testing"
Right now we have bitcoind regtest that can be used for blockbook and for custom electrum backend.
There are some automatic tests using those but it would be nice to have an easy way to use regtest with difference backends to test different scenarios (send, receive ....)

The idea would be to have few simple options:\
* generate blocks
* create transactions

For achieving this we already have webs

[2022-03-02 11:07] hynek-jina opened #5032 "Custom backend - address remembering"
Remember custom backend addresses when switching to Default address

[2022-03-02 15:21] jerechinsky commented on #5007
Sure. I changed it in Crowdin. I'll make sure it gets cherrypicked before release. There's still some Russian and Czech copy I'm finishing anyway.

https://crowdin.com/translate/trezor-suite/103/en-en#28735

[2022-03-02 15:54] sime commented on #4903
Updated the title and initial description of this issue to match the discussion. i.e. removing the passphrase option

[2022-03-02 16:16] #4963 closed, assigned to marekrjpolak, b-irving

[2022-03-02 16:25] #4810 closed, assigned to karliatto

[2022-03-03 01:43] osintowl commented on #3550
Hey, I saw this is currently in the needs QA phase, do you need some testers? I'm happy to oblige I have a Model T and am happy to try a preview build with this on it to help with QA.

[2022-03-03 07:43] bosomt commented on #5018
**QA OK**

**Info:**
 - Suite version: desktop 22.3.1 (538d147496ee9e5a03c2a8e3754b3532ddedaf6d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-03-03 07:48] bosomt commented on #4810
**QA OK**

fix is not included in 22.3.1 release checked on staging

**Info:**
 - Suite version: web 22.3.0 (ad6c9cf31495f39f54515365a1d8e48393d29b1c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:97.0) Gecko/20100101 Firefox/97.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1  regular + model TT

[2022-03-03 08:00] #5018 closed, assigned to nobody

[2022-03-03 08:13] mroz22 opened #5035 "@trezor/transport enumaration cycle"
Refactor and move enumaration from trezor-connect into @trezor/transport package.

- [ ] Finish abstract transport, bridge transport and webusb transport.
Once we are happy with it we can work in parallel on next steps:
- Add native Node.js USB library to @transport -  https://github.com/trezor/trezor-suite/issues/4770
- Reinventing shared connections, fallback and so on.

[2022-03-03 08:18] mroz22 opened #5036 "@trezor/transport logging"
In some recent refactor we removed logging from @trezor/transport lib. It used decorators and did not fit into code base well. I would like to introduce it back again. My idea is that this lib could accept unified logger instance from outside. In the end all low level libs could be using the same logger.

[2022-03-03 08:23] mroz22 opened #5037 "@trezor/transport sharedworker (webusb) test"
Using playwright, it should be possible to test webusb transport. Well, technically not webusb, only user can pair device with browser, but it should be possible to mock `navigator.usb` so that it always returns some fake device. This is ok, because we actually need to test inter-tabs communication which for which `sharedworker` is responsible.

[2022-03-03 08:42] matejkriz commented on #4632
@hynek-jina most of this is already implemented, right? Is there anything important still missing?

[2022-03-03 08:44] #4684 closed, assigned to marekrjpolak

[2022-03-03 08:51] sime commented on #3550
@5A4B48 You can find it on the staging site: https://staging-suite.trezor.io/ and then click on 'Trezor suite for web'. Remember, this is still  an unreleased version of Trezor suite.

[2022-03-03 08:55] tomasklim opened #5038 "Temporary disappearance of custom backends saved options"
**Describe the bug**
If I have a custom backend set for a coin and I am navigating between different types of backends in coin backends modal. I cannot see my custom saved addresses unless I reopen the modal.

**Info:**

-   Suite Version: 22.3.1

**How to reproduce**

https://user-images.githubusercontent.com/33235762/156530555-331706b7-db95-492a-b227-ce82fcdf690a.mov

[2022-03-03 09:12] tomasklim opened #5039 "Duplicate custom backend address validation on removing address"
**Describe the bug**
Let's say that I want to change the order of the custom backend addresses. I have 2 addresses saved: `x` and `y`. I insert `x` again. I get an error, that address is a duplicate. I delete the old one and I still have an error.

**Info:**

-   Suite Version: 22.3.1

**How to reproduce**

https://user-images.githubusercontent.com/33235762/156532148-e360773d-a928-44cf-a183-b3c40c

[2022-03-03 09:14] tomasklim commented on #5032
Example of current behaviour. I have Tor enabled so I would expect that `onion` address will be used, but it is not.
<img width="852" alt="156207726-6c4445a7-a08b-48e6-ab4b-511dff2bad46" src="https://user-images.githubusercontent.com/33235762/156533669-f5810b2f-5fc3-4841-9edf-97094131c95c.png">

[2022-03-03 09:35] matejkriz commented on #5001
please, decide the priority

[2022-03-03 09:52] tomasklim opened #5040 "Message system with the support of anchor links"
Extend message system config to support anchors.

[code]

If the user is already on the page, the message system banner will not redirect #4915

[2022-03-03 09:53] tomasklim opened #5041 "Anchor links: e2e tests"
Two tests is enough
- one to settings
- one to transactions

[2022-03-03 10:02] karliatto opened #5042 "Follow up electron-builder Pull Request for signing dll in windows"
We created PR https://github.com/electron-userland/electron-builder/pull/6682 that currently we are patching in our repository https://github.com/trezor/trezor-suite/blob/develop/patches/app-builder-lib%2B22.14.5.patch

It will require some follow up until it gets merge so we will be able to use it in next version instead of as a patch.

[2022-03-03 10:08] mroz22 opened #5043 "@trezor/analytics package"
Create a new package @trezor/analytics. This would extract analytics logic from @trezor/suite so that it can be used in @trezor/connect-popup

[2022-03-03 10:40] hynek-jina commented on #5039
Related to: https://github.com/trezor/trezor-suite/issues/5032

[2022-03-03 10:41] hynek-jina commented on #5038
Related to: https://github.com/trezor/trezor-suite/issues/5032

[2022-03-03 11:43] hynek-jina commented on #4903
Let’s discuss it as a part of bigger [UX of passphrase](https://www.notion.so/satoshilabs/Passphrase-flow-9f11a6abbb6f47e1b2bf1922d5c5419e) topic. I’ll close this issue and let’s reopen it if needed once we know what is the best solution.

[2022-03-03 11:43] #4903 closed, assigned to nobody

[2022-03-03 12:06] #3323 closed, assigned to glacierbits

[2022-03-03 13:30] STew790 commented on #4730
**QA OK**

Data are correctly tracked in onboarding process:

![image](https://user-images.githubusercontent.com/48477147/156574346-ea8a3d43-2f98-41e5-bd4d-5ec7a4191b7e.png)
![image](https://user-images.githubusercontent.com/48477147/156574385-0dc943af-c564-4e32-9771-0663c7102bb5.png)
![image](https://user-images.githubusercontent.com/48477147/156574413-e919ed47-9a34-4bb1-84f8-73ebc6536f0d.png)

*

[2022-03-03 13:34] hracik commented on #4723
Export PDF-CSV is again not working - v22.2.3. You can reproduce it the same way:
**How to reproduce**

Go to Accounts
Add few labels
Filter according your label or by date (ie >2021-11-30 & <2022-01-01)
Export transactions
Expected behaviour
Export filtered transactions only (Like Trezor Wallet does)

**Actual behaviour**
Export all the transactions

[2022-03-03 14:31] hynek-jina commented on #4723
@hracik
This feature is not implemented yet.

[2022-03-03 15:00] dahaca opened #5046 "Sentry Electron SDK behavior in dev mode"
<img width="681" alt="image" src="https://user-images.githubusercontent.com/45338719/156567627-994d7183-42fc-458d-96e6-5f4723c180a9.png">

-   Suite Version: app 22.3.0
-   OS: macOS

**How to reproduce**
Steps to reproduce the behavior:

1. Run suite in `dev` mode
2. Observe the error

**Expected behavior**
No error

**Additional context**
The error stems from a strange implementation of connecti

[2022-03-03 16:24] STew790 opened #5049 "Autoupdate doesn't start new Suite version after update on Linux"
**Describe the bug**
When trying to autoupdate from "mocked" version (0.22.3) to 22.2.3 the app is downloaded and updated but the updated version starts only for a second and then quits again and won't start. Happens only on Linux. On Windows 10, the app will restart for just a second and then quit as well but it will start again fully updated. MacOS update is OK.

**Info:**

-   Suite Version: 0.

[2022-03-03 16:46] sime opened #5050 "Generate screenshots of all connect screens"
In preparation for a re-design of [trezor/connect](https://github.com/trezor/connect), capture of all pre-existing screens as a base for research of the currently developed use cases.

Latest captures can be found on the [CI develop branch](https://gitlab.com/satoshilabs/trezor/trezor-suite/-/pipelines?page=1&scope=all&ref=develop) > Choose the latest passed job > Jobs tab > "connect-explorer" > d

[2022-03-04 07:50] bosomt commented on #4670
**QA NOK**

no change in current version

<img width="1052" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/156721733-40d15d44-d71c-429b-8d0f-4e07b859d753.png">

**Info:**
 - Suite version: desktop 22.3.1 (538d147496ee9e5a03c2a8e3754b3532ddedaf6d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.1 Chrome/94.0.

[2022-03-04 08:47] #5046 closed, assigned to dahaca

[2022-03-04 09:02] karliatto commented on #5042
The upstream PR was merged https://github.com/electron-userland/electron-builder/pull/6682

So we can just update electron-builder in next released version, and it looks like they do releases quite often.

[2022-03-04 10:07] e0c615c8e4d846ef817cd5063a88716c opened #5052 "Node.js example(s) for Connect"
Hi,

The example provided at https://github.com/trezor/connect/blob/develop/examples/node/index.js does not run as-is, and I'm struggling to get a basic proof of concept working for Connect.

Would it be possible to provide a working index.js file and package.json?

Thanks

[2022-03-04 11:16] matejkriz commented on #5049
It was problem with downgrading storage. Please verify, that `desktopApi.appRestart();` itself works on linux as expected.

[2022-03-04 11:33] sime commented on #5052
@e0c615c8e4d846ef817cd5063a88716c What are you attempting to do exactly?

Have you looked at these docs? https://github.com/trezor/connect/blob/develop/docs/index.md

[2022-03-04 11:34] sime commented on #5050
Some WIP: https://github.com/trezor/trezor-suite/pull/4988

[2022-03-04 12:35] aaurix opened #5054 "https://wallet.trezor.io/data/config_signed.bin cannot download now"
We integrated the very early [trezor.js](https://github.com/trezor/trezor.js) library to construct transaction management for our btc multi-signature wallet.

The trezor is still working fine for the last month. Today, trezor connect reported an error, prompting config parse error.
<img width="943" alt="image" src="https://user-images.githubusercontent.com/7252280/156764305-4b570a1b-d64a-4a9e-a1b6

[2022-03-04 13:26] aaurix commented on #5054
<img width="714" alt="image" src="https://user-images.githubusercontent.com/7252280/156771372-e8537d0e-a570-428f-b00f-5dd570b75123.png">

https://data.trezor.io cannot access？
so we cannot get config_signed.bin.  I need to get this file

[2022-03-04 13:27] aaurix commented on #5054
Stopping this website has caused a lot of trouble to our btc wallet. Please give me this file or tell me where I can download it.
Adapting to the new sdk requires a lot of work

[2022-03-04 13:37] STew790 opened #5055 "Suite doesn't relaunch on "Reset app" on Linux"
**Describe the bug**
Suite doesn't relaunch when I try to "Reset app" in settings on Linux Ubuntu. (On NixOS it works correctly)

**Steps to reproduce:**
1. Start Suite
2. Go to settings
3. Click on "Reset app"
4. App will quit but won't relaunch

**Info:**
 - Suite version: 22.2.3 (4dc44f620de7f15cdd66970cf22126695435c969)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, lik

[2022-03-04 13:37] matejcik commented on #5054
you can find the file here:
https://github.com/trezor/webwallet-data/blob/master/config_signed.bin

[2022-03-04 13:38] #5054 closed, assigned to nobody

[2022-03-04 13:39] tomasklim commented on #5049
Closing as it has nothing to do with auto-update. There is a problem with app relaunch on Linux on app restart. #5055

[2022-03-04 13:39] #5049 closed, assigned to nobody

[2022-03-04 13:43] tomasklim commented on #5055
Probably a working fix. Tested with @STew790  https://github.com/electron-userland/electron-builder/issues/1727#issuecomment-769896927

[code]

Would be nice if someone with Linux Ubuntu tries it again @mroz22
Has to be tested on all OS.

[2022-03-04 13:48] aaurix commented on #5054
thx  sir！

[2022-03-04 14:18] aaurix commented on #5054
@matejcik this config file is too old for run. can you give me a new verion config_signed.bin.

Our program was written in 2020, the version three years ago is too old

[2022-03-04 14:19] aaurix commented on #5054
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/7252280/156779722-2a822c83-d172-4d39-bfbd-8b1edea0524d.png">
The config_signed from this link a month ago was ok, just not now https://wallet.trezor.io/data/config_signed.bin

[2022-03-04 14:26] sime commented on #5054
@0xhelloweb3 I just hashed the file, and the one in GitHub has the same has used to be available on wallet.trezor.io.

[code]

[2022-03-04 14:28] matejcik commented on #5054
~~You shouldn't have been using an ancient version of Trezor Connect if you wrote it in 2020, it's very much out of support and it has been out of support at that time.~~ edit: apparently trezor.js was alive and kicking in 2020?

I am not sure if a newer `config_signed.bin` even exists. The file was necessary for Trezor Bridge version 1, which is not in use since 2018 because it doesn't support Tr

[2022-03-04 14:50] aaurix commented on #5054
Thanks to the trezor team for your patience, I will try again and migrate to the latest sdk as soon as possible.

[2022-03-04 18:29] bosomt commented on #4855
i just noted that we have 2 different `Clear all` buttons.
Is that expected ?

<img width="800" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/156820891-91b872df-1018-4975-85a8-1186a6f8e6cb.png">

[2022-03-06 02:04] e0c615c8e4d846ef817cd5063a88716c commented on #5052
I have looked at the docs.

I am trying to get Node to interact in any way with the Trezor locally.  Running `yarn dev` works fine, however using code snippets provided in the documentation, if I create an index.js in a new project containing the following:
[code]
I then get an error that 'TypeError: TrezorConnect.init is not a function'.

This is no doubt user error but difficult to work back fro

[2022-03-06 10:57] ghost commented on #3550
How far off public release are we for this version? I have ADA I am desperate to get off the exchange, but don’t want to move it to another wallet knowing Trezor is about to natively support it.

Are we talking days? Weeks? Months?

Thank you

[2022-03-06 12:50] hynek-jina commented on #3550
@RealDonaldTrump-69
Public version is currently planned on March 16th. Turn on Early Access Program to get that access even one week earlier.

[2022-03-06 21:19] dahaca commented on #4855
@bosomt The upper `clear all` is present whenever there is text in the form, the bottom one appears when a message has been signed. Personally, I do not find it to be an issue and it might provide more flexibility in some cases. I would not force a user to a certain flow too much.

[2022-03-07 05:15] ghost commented on #3550
Excellent! Thank you

[2022-03-07 08:09] DRIX-dot opened #5058 "How to confirm signature on Trezor Suite on Windows App ?"
Hello,

I could not find a clear guidance for how to confirm the Trezor Suite signature for the Windows App and thought to get a quick guidance for this in here.

Thanks in advance.

[2022-03-07 08:17] hynek-jina commented on #5058
Please contact our support via https://trezor.io/support/

[2022-03-07 08:17] #5058 closed, assigned to nobody

[2022-03-07 09:10] matejkriz commented on #4268
note to myself: check this test that reproduces the issue [reproducible example for suite-side discovery issues](https://github.com/trezor/trezor-suite/commit/5c5fb7cd4e8af7c447c835cc403dbd372227a55d)

[2022-03-07 10:03] bosomt opened #5059 "Token dropdown indicator changed in recent build"
**Describe the bug**
See videos. ⬆️ ⬇️  indicators has changed in `Send` dialogue and in Trade `section`

**Info:**
 - Suite version: desktop 22.3.1 (538d147496ee9e5a03c2a8e3754b3532ddedaf6d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 -

[2022-03-07 10:10] matejkriz commented on #5059
I suspect this commit https://github.com/trezor/trezor-suite/commit/6237c8013e9c3dc8deb4822d82f4386f4412f817

[2022-03-07 13:37] hynek-jina commented on #3344
I'm closing this issue for now until the product is specified.
[Current private specification](https://www.notion.so/satoshilabs/CPFP-665b61207c1c49b195c4f02ac0603e47)

[2022-03-07 13:37] #3344 closed, assigned to glacierbits

[2022-03-07 14:22] hynek-jina commented on #822
I'm closing this issue for now until the product is specified.
[Current private specification](https://www.notion.so/satoshilabs/Amnesic-mode-6bf4e9d4ada94b998a9330897fa9fabc)

[2022-03-07 14:22] #822 closed, assigned to glacierbits

[2022-03-07 14:31] hynek-jina commented on #1133
I’m closing this issue for now until the product is specified.
[Current private specification](https://www.notion.so/satoshilabs/Sweep-Redeem-private-key-c827d8b85ced43018aa34fb07d0ffdbe)

[2022-03-07 14:31] #1133 closed, assigned to glacierbits

[2022-03-07 15:04] hynek-jina commented on #1847
It's about missing fiat value expression of some ERC20 tokens

[2022-03-07 15:17] hynek-jina commented on #1977
I’m closing this issue for now until the product is specified.
[Current private specification](https://www.notion.so/satoshilabs/Links-to-get-free-testnet-coins-20924d2ace96474a9ce0733f5610c60b)

[2022-03-07 15:17] #1977 closed, assigned to nobody

[2022-03-07 15:21] hynek-jina commented on #2469
I’m closing this issue for now until the product is specified.
[Current private specification](https://www.notion.so/satoshilabs/Device-auto-lock-4623e3b252374b8f8d1e78a87c41c68a)

[2022-03-07 15:21] #2469 closed, assigned to glacierbits

[2022-03-07 15:41] dahaca opened #5062 "Modal-specific guide anchors"
Implement a guide button in the [user context modal](https://github.com/trezor/trezor-suite/blob/8316e3bb4893569d4c25c93057bc5afd9a198899/packages/suite/src/components/suite/modals/index.tsx#L151) headers, which leads to a specific guide page related to the content of the modal, as seen [here](https://www.figma.com/file/5FkvrkgeBliiSbV3AbsTey/Exploring-Guide?node-id=730%3A6567)

<img width="300" a

[2022-03-07 15:46] sime commented on #5052
@e0c615c8e4d846ef817cd5063a88716c I'm not so familiar with ES6 syntax, but I managed to get the following to work after switching the first line to:
[code]

When running that, you will get the following error:
[code]

Which can be solved by:
[code]

[2022-03-07 18:24] dahaca commented on #4739
Expanded & moved to #5062

[2022-03-08 08:34] hynek-jina commented on #1757
![Snímek obrazovky 2022-03-08 v 9 33 17](https://user-images.githubusercontent.com/26002916/157198356-08f99def-fdd0-4d71-b45f-3154f26ba333.png)

Address is visible on hover. Send to myself is additional info to same output address.

[2022-03-08 08:34] #1757 closed, assigned to glacierbits

[2022-03-08 09:47] #5052 closed, assigned to nobody

[2022-03-08 10:18] prusnak commented on #4800
It's not dependent on this anymore. We have changed the mechanism from Payment Request to using a new Output Type.

Now it is dependent on https://github.com/trezor/trezor-firmware/pull/2136

[2022-03-08 10:52] pauserratgutierrez opened #5066 "Native supported coins on Trezor suite"
The suite app doesn't allow to store any coin except for BTC and ETH. That's strange when your website clarelly tells that coin support is absolutelly amazing with more than 1.000 tokens.
![image](https://user-images.githubusercontent.com/73240206/157224065-7a934097-3758-4a90-ac09-577b241bd5fd.png)

In my opinion Trezor is one of the best (if not the best) wallets to store cryptocurrency. Somethin

[2022-03-08 11:06] pauserratgutierrez commented on #5066
Reddit post where users manifest the same complain. https://www.reddit.com/r/TREZOR/comments/lop5sc/how_to_add_altcoins_to_trezor_wallet_for_a_trezor/

[2022-03-08 11:39] prusnak commented on #5066
This is not correct. There are many coins you can add to the Suite: Litecoin, Dash, Dogecoin, etc. to name a few.
Plus you can use thousands of Ethereum tokens.
Cardano is coming soon.
See this list for more details: https://trezor.io/coins/

[2022-03-08 11:39] #5066 closed, assigned to nobody

[2022-03-08 11:40] hynek-jina commented on #5066
You can find which wallets are supporting each of the mentioned coin on https://trezor.io/coins/
Most of the tokens in Suite work as an ERC20 via Ethereum.

Generally we are very careful with adding new coins into Trezor Suite. I have noted your idea, but closing this issue for now.

[2022-03-08 13:30] e0c615c8e4d846ef817cd5063a88716c commented on #5052
Thanks, if anyone is looking for the ES6 Syntax, the following seemed to work for me (not sure if this is worth updating in the docs):
[code]

[2022-03-08 13:56] sentry[bot] opened #5068 "(node:17456) UnhandledPromiseRejectionWarning: Error: device disconnected during action"
We don't want to report this to Sentry.

Sentry Issue: [TREZOR-SUITE-3KY](https://sentry.io/organizations/satoshilabs/issues/3054769868/?referrer=github_integration)

[code]

[2022-03-08 14:03] sentry[bot] opened #5069 "(node:66231) UnhandledPromiseRejectionWarning: Error: closed device"
Sentry Issue: [TREZOR-SUITE-3ME](https://sentry.io/organizations/satoshilabs/issues/3057307481/?referrer=github_integration)

[code]

[2022-03-08 14:08] sentry[bot] opened #5070 "(node:44107) UnhandledPromiseRejectionWarning: Error: Websocket timeout"
Sentry Issue: [TREZOR-SUITE-3NB](https://sentry.io/organizations/satoshilabs/issues/3060134627/?referrer=github_integration)

[code]

[2022-03-08 14:11] sentry[bot] opened #5071 "(node:44107) UnhandledPromiseRejectionWarning: Error: All backends are down"
We don't want to report this to sentry.

Sentry Issue: [TREZOR-SUITE-3S8](https://sentry.io/organizations/satoshilabs/issues/3073553889/?referrer=github_integration)

[code]

[2022-03-08 14:25] sentry[bot] opened #5072 "RangeError: Maximum call stack size exceeded"
Sentry Issue: [TREZOR-SUITE-3C0](https://sentry.io/organizations/satoshilabs/issues/3007375695/?referrer=github_integration)

[code]

[2022-03-08 14:32] sentry[bot] opened #5073 "(node:30589) TimeoutOverflowWarning: Infinity does not fit into a 32-bit signed integer."
Sentry Issue: [TREZOR-SUITE-3Q1](https://sentry.io/organizations/satoshilabs/issues/3069240019/?referrer=github_integration)

[code]

[2022-03-08 15:32] hynek-jina opened #5075 "Replace small secondary cancel button with closing cross"
Instead of small secondary `Cancel` button use closing X in top right corner of a modal.
This one appears in Checking backup modal, but please check other modals with such an element as well.

![image (4)](https://user-images.githubusercontent.com/26002916/157270374-31ecd527-c0fa-4b0c-b22f-3904425ce2c6.png)

[2022-03-08 15:35] hynek-jina commented on #5075
Potentially related to: https://github.com/trezor/trezor-suite/issues/5062

[2022-03-08 15:48] hynek-jina opened #5076 "Custom backend - address hierarchy"
Define hierarchy of custom backend address selection

**Story**
- For the default backend, we have filled in several of our addresses. On discovery, the Suite first shuffles them randomly and then takes them one by one until it successfully connects. This prevents overflow of one specific connection.
- If the user turns on Tor, we automatically offer `.onion` addresses in the same way

**Expected

[2022-03-08 15:52] hynek-jina commented on #5076
Linked from https://github.com/trezor/trezor-suite/issues/5032#issuecomment-1057834157

[2022-03-08 17:58] dahaca opened #5078 "Ability to unpin the Suite Guide"
<img width="372" alt="image" src="https://user-images.githubusercontent.com/45338719/157296557-5363847a-3212-4ade-834d-b2e0033217b7.png">

**Spec:**

- Can be pinned again in the settings
- Add a toggle in the guide for unpinning it on desktop.
- After unpinning the guide button should not be visible.
- The guide can still be opened from
  - tooltips
  - modal header
  - settings page, next to the

[2022-03-08 20:53] bosomt commented on #4961
Please see video or screenshot. Loading discovery indicator overlaps `Notifications` modal.
Do you want me to send separate issue ? Or reopen this one ?

**Info:**
 - Suite version: desktop 22.3.1 (6b7e7fa25de1c50814fe3bfcd889cf147c93ef24)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari

[2022-03-09 09:40] slowbackspace opened #5080 "Accessing disabled account tabs directly via url"
It is possible access features that are not supposed to be enabled for a network.
For example you can access sign&verify in cardano or staking from within network that doesn't support it:
![image](https://user-images.githubusercontent.com/6961901/157413784-67456f1c-f1c9-4307-8051-cc1de7fc9d6b.png)

Steps to reproduce:
1. Enable only vertcoin (or other coin that supports sign&verify)
2. From the da

[2022-03-09 10:08] hynek-jina commented on #3252
I’m closing this issue for now until the product is specified.
[Current private specification](https://www.notion.so/satoshilabs/Displaying-decimal-places-8abeebdfa38d4205b1238b863a2fb848)

[2022-03-09 12:50] ondracja opened #5082 "Pending transaction doesn't appear without app restart while using custom backend"
**Describe the bug**
When the user tries get some btc via regtest with custom electrum backend, the transaction doesn't appear in the suite unless it's been restarted. This is related to [PR#5065](https://github.com/trezor/trezor-suite/pull/5065).

**Steps to reproduce:**
1. Checkout [PR#5065](https://github.com/trezor/trezor-suite/pull/5065)
2. Run custom backend container (via `docker-regtest-el

[2022-03-09 13:30] hynek-jina commented on #3748
I’m closing this issue for now until the product is specified.
[Current private specification](https://www.notion.so/satoshilabs/Accounts-management-79126a7e414e4385b1b216a7b9eff560)

[2022-03-09 13:30] #3748 closed, assigned to nobody

[2022-03-09 14:14] hynek-jina commented on #4661
I’m closing this issue for now until the product is specified.
[Current private specification](https://www.notion.so/satoshilabs/Bitcoin-only-FW-in-Suite-a8a83edcfbc74a6ba70dccedd511f8bf)

[2022-03-09 20:11] fujicoin opened #5087 "This defaultMessage is extremely confusing"
The defaultMessage for `TR_TOR_DISABLE_ONIONS_ONLY_NO_MORE_TITLE` is 'Custom Backends are no longer using onion addresses only.' now.
But do you want to say 'Use non-onion custom backends.' ?

https://github.com/trezor/trezor-suite/blob/b6094d33db0cd2f9bba8fea300e14e6f81517e4a/packages/suite/src/support/messages.ts#L3205

[2022-03-09 20:23] tsusanka commented on #2615
I am afraid it is not in our capacities to fix this currently. The main happy path works and that's important.

[2022-03-09 20:23] #2615 closed, assigned to nobody

[2022-03-09 20:24] tsusanka commented on #2211
@wendys-cats could you please retest on non-NixOS Linux, e.g. Linux Mint or Ubuntu?

[2022-03-09 20:28] pdreyfuss commented on #2211
It's been a long time since my original email. Could you forward that info back to me to refresh my memory?_____________________________
Peter
**********************
"My name also is Ransom,” said the Voice.--from Perelandra by C.S. Lewis
**********************

    On Wednesday, March 9, 2022, 03:24:57 PM EST, Tomas Susanka ***@***.***> wrote:

@wendys-cats could you please retest on non-NixOS Li

[2022-03-09 22:36] fujicoin opened #5088 "Can the defaultMessage of TR_RECEIVING_SYMBOL and TR_RECEIVED_SYMBOL be the same?"
https://github.com/trezor/trezor-suite/blob/b6094d33db0cd2f9bba8fea300e14e6f81517e4a/packages/suite/src/support/messages.ts#L6359

Isn't 'Receiving' correct here?

[2022-03-10 06:07] kn0wmad commented on #2770
Really eager to see this get merged.  Serious blocker.  Thanks and keep up the great work!

[2022-03-10 07:00] bosomt commented on #5046
@dahaca anytching needed on QA side or i can move it to approved section ?

[2022-03-10 11:32] matejkriz commented on #5087
Hi @fujicoin, thanks for the question. I believe, that comments directly in Crowdin is better place for this discussion, so I will close this issue and feel free to raise it there.

I agree, that the message is a bit confusing but the logic of it is accurate. We want to say, that you either add some non-onion custom backend or replaced the onion one with non-onion or switched to defaults...

[2022-03-10 11:48] matejkriz opened #5089 "Fetching fiat rates for disabled coins and high CPU usage when Suite is open for a long time"
**Describe the bug**
Suite is continuously fetching fiat rates even for disabled coins (and even when device is disconnected) after long run (Suite opened one day and the issue observed the next day - PC was put to sleep meanwhile)

At the same time the CPU usage is high.

**Info:**

-   Remembered Wallet: no
-   Suite Version: app, 22.2.3
-   OS: macOS Monterey, 12.2.1
-   Firmware Version: T, 2.

[2022-03-10 14:27] hynek-jina opened #5090 "Update Terms and conditions"
Update
- [x] [TREZOR Suite Terms and Conditions](https://docs.google.com/document/d/1ljCR1GHBoCf122yLIq79_TdtrIO0R7khbj-i71sfzSo/edit) in Onboarding section
Update it here: https://data.trezor.io/legal/wallet-terms.pdf
- [x] [TERMS OF USE Trezor Suite Services by Invity](https://docs.google.com/document/d/1p8jzQpWn_4PZc1DTmc_5MWvW8FpuhX8Ag_TYdyyxLjs/edit#heading=h.ft3qa0h7fg89) in Trade (Invity) s

[2022-03-10 14:57] tomasklim commented on #4955
Both problems should be fixed via solution for https://github.com/trezor/trezor-suite/issues/5012

[2022-03-10 15:46] bosomt opened #5092 "Bridge and Tor servers are not properly terminated when you Restart app via Reset app button"
**Describe the bug**
Bridge and Tor servers are not properly terminated when you Restart app via Reset app button

**Steps to reproduce:**
1. Start Suite app
2. Reset app settings via `Reset app`
3. Quit second instance of Suite that will be launched.
4. Check that Bridge and Tor servers are running

**Info:**
 - Suite version: desktop 22.3.1 (6b7e7fa25de1c50814fe3bfcd889cf147c93ef24)
 - Browser:

[2022-03-10 15:51] tomasklim commented on #5092
Also when app is auto-updated

[2022-03-10 16:24] tomasklim commented on #3716
@hynek-jina is it still relevant?

[2022-03-10 19:21] dahaca commented on #5046
@bosomt Can move

[2022-03-10 19:25] fujicoin commented on #5087
@matejkriz

This discussion is not possible in crowdin.

https://github.com/trezor/trezor-suite/blob/d623ba24777ee7dfa0e430f5151225f44b727d27/packages/suite/src/components/suite/modals/DisableTor.tsx#L115

The logic of L115-L158 in DisableTor.tsx is something unnatural.

The use of the variable name `onionBackends.length` seems inappropriate.
What number does `onionBackends.length` actually count?

[2022-03-10 20:09] fujicoin commented on #5087
@matejkriz

For your convenience, I replaced the id key in the range with the default message.

[code]

[2022-03-10 21:09] pauserratgutierrez commented on #5066
I see that now there's a pre release to add native support for Cardano (ADA) in Trezor Suite. That's cool!
I would like to see a lot more coins native supported. (USDT, AXS, SLP, ENJIN COIN, SHIBA and not eth coin support)

[2022-03-11 08:12] hynek-jina commented on #5001
~We have to rethink navigation behaviour first..~
Navigation behaviour issue already described: https://github.com/trezor/trezor-suite/issues/5157

[2022-03-11 08:18] hynek-jina commented on #5062
Suite Guide will be reworked.. so please wait for more inputs from @ElKaDu before implementing.

[2022-03-11 09:48] mroz22 commented on #5088
https://github.com/trezor/trezor-suite/blob/b6094d33db0cd2f9bba8fea300e14e6f81517e4a/packages/suite/src/support/messages.ts#L6356-L6365

there are 2 identical source strings. we should remove one of them IMHO

[2022-03-11 10:04] hynek-jina commented on #3716
@tomasklim Everything seems to be implemented.. I have tested the last bullet point (so far unchecked)

[2022-03-11 10:04] #3716 closed, assigned to mroz22

[2022-03-11 10:14] matejkriz commented on #5089
check this https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/services/fiat/limiter.ts#L28

[2022-03-11 10:57] tintinweb opened #5094 "Add Account: allow to add more accounts even though previous has no funds"
I want to be able to add more ETH accounts, let's say, 10, even though only account 1 and 2 have funds. The reason for this is that I am using a lot of accounts, even without funding, for various purposes and still want to be able to manage them in trezor UI.

Current behavior: Does not allow to add more accounts if the previous account was unused.

Expected behavior: Like metamask, allow to perma

[2022-03-11 12:54] tsusanka opened #5096 "Can not label ETH token transactions"
**Describe the bug**
Though you are allowed to label transactions while sending ETH you can not label tokens.

**Steps to reproduce:**
1. Send USDT and try to label it

**Info:**
 - Suite version: desktop 22.3.1 (6b7e7fa25de1c50814fe3bfcd889cf147c93ef24)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.1 Chrome/94.0.4606.81 Electro

[2022-03-11 13:54] hynek-jina commented on #5094
Thank you for your idea input. We are already investigating this option. I'm closing the issue until we have a product specification ready.

[2022-03-11 13:54] #5094 closed, assigned to nobody

[2022-03-11 14:51] sime opened #5099 "Stuck Trezor after sending malformed EIP712 input via Connect"
**Describe the bug**
Sending an invalid EIP712 payload to Trezor will result in a frozen screen.

**Info:**

-   Remembered Wallet: no
-   Suite Version: n/a
-   Browser: Firefox 97
-   OS: OSX
-   Bridge: 2.0.31
-   Firmware Version: TT 2.4.4 (unreleased)

**How to reproduce**
Steps to reproduce the behavior:

1. Unzip [ethtypedsign.html.gz](https://github.com/trezor/trezor-suite/files/8232775/et

[2022-03-11 16:04] slowbackspace commented on #5088
@mroz22 I am afraid that TR_RECEIVING_SYMBOL should really start with "Receiving...", if aI remember correctly it is intended for pending transactions. Most likely botched in cardano PR :oops:

[2022-03-11 19:00] tsusanka commented on #3550
Done 🎉 . To be released on March 16th publicly.

[2022-03-11 19:00] #3550 closed, assigned to mroz22

[2022-03-12 11:53] cryptoBeliever opened #5102 "Trezor Connect unable to parse correct NEM Importance Transfer transaction"
**Describe the bug**
Trezor Connect 8.2.7 is not able to parse correct Importance Transfer transactions. The transaction schema for this tx type is invalid.

**Info:**

- Trezor Connect: 8.2.7
- Firmware: TT (2.4.3), T1 (1.10.5)

**How to reproduce**
Send a request using Trezor Connect:

[code]

where the example Importance Transfer transaction is:

[code]

There is error: **cannot read property '

[2022-03-12 12:22] prusnak commented on #5102
You need to use our format of transactions.

[2022-03-12 19:35] fujicoin opened #5103 "Ther is untranslated English message"
The following English text will be displayed untranslated.
'This device is in recovery mode. Click the button to continue.'

The cause is on the next line:
https://github.com/trezor/trezor-suite/blob/36e436a764b4919e0ed0f5db1dc6b39035a2118a/packages/suite/src/components/suite/PrerequisitesGuide/components/DeviceRecoveryMode.tsx#L43

[2022-03-13 10:44] rntoral opened #5104 "Trezor connecting issue"
![trezor T](https://user-images.githubusercontent.com/77877560/158055822-f16738b8-332f-40a2-962c-663390574ab8.JPG)

Been trying to access my NFT's for several days now and Trezor just keep on loading. Please help me

[2022-03-13 10:45] rntoral commented on #5104
I have tried changing cables, usb ports and use  it into another device and still the same thing. All my assets are there. :(

[2022-03-13 10:54] prusnak commented on #5104
Seems this is a screenshot for Trezor Connect - please contact support of wallet you are using. (Is it Metamask?)

Also make sure you are not using Brave, but Chrome browser.

[2022-03-13 10:54] #5104 closed, assigned to nobody

[2022-03-13 11:06] aaurix opened #5105 "Trezor connect unable open https://localhost:8088/popup.html"
**Describe the bug**
[code]
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/7252280/158056568-3f818476-fdec-4cfc-9576-572f68ce9df5.png">

After click continue, I got:

<img width="880" alt="image" src="https://user-images.githubusercontent.com/7252280/158056575-dbb76d46-3bc2-4ac3-8e31-88d1d1b82885.png">

we don't have popup.html

[2022-03-13 11:07] aaurix opened #5106 "Trezor connect unable open https://localhost:8088/popup.html"
**Describe the bug**
[code]
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/7252280/158056568-3f818476-fdec-4cfc-9576-572f68ce9df5.png">

After click continue, I got:

<img width="880" alt="image" src="https://user-images.githubusercontent.com/7252280/158056575-dbb76d46-3bc2-4ac3-8e31-88d1d1b82885.png">

we don't have popup.html

[2022-03-13 11:07] #5105 closed, assigned to nobody

[2022-03-13 23:58] aloisklink opened #5107 "Trezor Connect `8.2.7-connected` drops Node v12 support"
Trezor Connect version `8.2.7-connected` drops Node v12 support

**Info:**

-   Browser: Node.js v12.22.3
-   OS: Any

**How to reproduce**

Steps to reproduce the behavior:

Try running `require("trezor-connect")` in Node v12 when using `trezor-connect@8.2.7-extended`.

Run the following commands in a new folder:

[code]

**Expected behavior**

Importing `trezor-connect` v8.2.7-extended should wo

[2022-03-14 06:51] hynek-jina commented on #5103
@alex-jerechinsky
Can you please have a look on that?

[2022-03-14 09:22] tomasklim commented on #5072
This bug occurs if a user has a multiple of 25 transactions in his account and he wants to find a transaction using search, export transactions or navigate to a specific transaction from notification.

[2022-03-14 10:58] #5072 closed, assigned to tomasklim

[2022-03-14 11:24] sime commented on #5106
Hello @0xhelloweb3

Please try:

[code]

Alternatively, you can put that URL directly into the UI:
![screely-1647256985930](https://user-images.githubusercontent.com/216917/158162441-e0e6a834-e904-40b7-9c77-0f8c52c326c3.png)

Lastly, if you hope to run Trezor 100% locally, you will need to build and run a local version of [Trezor Connect](https://github.com/trezor/connect).

[2022-03-14 11:24] #5106 closed, assigned to nobody

[2022-03-14 12:35] sime opened #5111 "Run Connect test suite against Node.js version: 12, 14, 16"
Given Trezor Connect unintentionally [broke support for Node.js v12](https://github.com/trezor/trezor-suite/issues/5107), the CI environment should test connect against Node.js versions 12, 14, 16.

Inspiration: https://nodejs.org/en/about/releases/

[2022-03-14 12:45] bosomt commented on #5096
duplicity ? `Labeling - not able to add label to ERC20 transaction #3545` https://github.com/trezor/trezor-suite/issues/3545

[2022-03-14 12:53] wendys-cats commented on #2211
Checked on Ubuntu (20.04) with 22.3.1 EAP version (6b7e7fa). App reacts correctly to timezone and after reloading is adjusts timestamps of transactions accordingly.

[2022-03-14 12:56] sime commented on #5102
@cryptoBeliever I'm getting a slightly different error, does my example make sense?

[code]

[nemsigntransaction.html.gz](https://github.com/trezor/trezor-suite/files/8244945/nemsigntransaction.html.gz)

[2022-03-14 13:17] #5096 closed, assigned to nobody

[2022-03-14 13:27] prusnak commented on #5102
@cryptoBeliever You need to adapt your code to use Trezor format of transactions.

[2022-03-14 13:52] #4961 closed, assigned to marekrjpolak

[2022-03-14 14:28] pdreyfuss commented on #2211
Sorry, but I have no idea what you are talking about. I know that I have had problems with timestamps but don't remember these details. Can you please restate my original problem?_____________________________
Peter
**********************
"My name also is Ransom,” said the Voice.--from Perelandra by C.S. Lewis
**********************

    On Monday, March 14, 2022, 08:53:48 AM EDT, Simona ***@***.**

[2022-03-14 14:47] matejkriz commented on #5087
@fujicoin The naming is hard, so I can understand the confusion. But even after the double checking, the logic is correct now.

`onionBackends.length` is number of coins with custom backends set up, that have only onion custom backends.

For example:
enabled coins: BTC, LTC, ETH
BTC and ETH has custom backends, LTC on default backends:

BTC - only one onion custom backend http://btc1.trezoriovpjca

[2022-03-14 14:58] #5107 closed, assigned to nobody

[2022-03-14 15:00] cryptoBeliever commented on #5102
@sime I'm getting `Cannot read property 'mode' of undefined` on your example. Maybe it's because my Chromium version.
@prusnak all transaction types matches with NEM specification except importance transfer transaction but we can adjust this type of course if needed. Thank you.

[2022-03-14 15:00] #5102 closed, assigned to nobody

[2022-03-14 15:28] #2211 closed, assigned to nobody

[2022-03-14 16:11] osintowl commented on #3550
Hey one quick bug I've found is duplicate tokens showing up in the token interface. Upleading a screenshot here
![Screenshot from 2022-03-14 11-09-53](https://user-images.githubusercontent.com/16806380/158213814-94fa905b-cfa6-478b-bda1-016932692ff4.png)

[2022-03-14 16:11] osintowl commented on #3550
notice the asset fingerprints are the same.

[2022-03-14 16:42] hynek-jina opened #5116 "Cardano - showing token duplicates"
Hey one quick bug I've found is duplicate tokens showing up in the token interface. Upleading a screenshot here
![Screenshot from 2022-03-14 11-09-53](https://user-images.githubusercontent.com/16806380/158213814-94fa905b-cfa6-478b-bda1-016932692ff4.png)

_Originally posted by @5A4B48 in https://github.com/trezor/trezor-suite/issues/3550#issuecomment-1067010504_

[2022-03-14 19:11] osintowl commented on #5116
waiting for a few hours and a hard stop and start seems to have cleared this up.

[2022-03-14 19:39] fujicoin commented on #5087
Thank you for your explanation. I understand the logic.
I think you need a proper variable name in `onionBackends.length` or a comment that explains the meaning of the variable.

Given that the logic is correct, I think the English description of "Custom Backends are no longer using onion addresses only." is inappropriate.

I suggest the following description.
”The connection to onion custom backe

[2022-03-14 19:42] fujicoin commented on #5087
@matejkriz

Thank you for your explanation. I understand the logic.
I think you need a proper variable name in `onionBackends.length` or a comment that explains the meaning of the variable.

Given that the logic is correct, I think the English description of "Custom Backends are no longer using onion addresses only." is inappropriate.
Perhaps users will not understand what this means.

I suggest t

[2022-03-15 04:52] aaurix commented on #5106
ok，thx

[2022-03-15 07:28] bosomt commented on #4961
**QA OK**

**Info:**
 - Suite version: desktop 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0743511d2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.4 regular

[2022-03-15 08:12] #4527 closed, assigned to karliatto

[2022-03-15 08:24] hynek-jina commented on #3724
@matejzak Is this still open?
If so, what is exactly missing with settings? _I assume that we don't care about labelling in this issue._

[2022-03-15 08:27] glacierbits commented on #3724
Yes, this can be closed. Coin Settings already got their new design.

[2022-03-15 08:27] #3724 closed, assigned to glacierbits

[2022-03-15 09:13] bosomt commented on #5080
**QA NOK**

i'm not sure if it was fixed or merged already in 22.3.2

**Info:**
 - Suite version: web 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0743511d2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:98.0) Gecko/20100101 Firefox/98.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.4 regular

<img width="833" alt="obrazek" src="https://user-images.githubusercontent.com/3150

[2022-03-15 09:14] matejkriz commented on #5087
To be honest, this is an edge case of the edge case feature and I'm afraid we have a lot more important messages harder to understand :-(
Your suggestion is easier to understand, but incorrect - at that point there are no more backends, that have only onion backends so nothing will switch.
Have you tried going through it in the app?

[2022-03-15 09:54] #5087 closed, assigned to nobody

[2022-03-15 09:58] matejkriz opened #5118 "Fix handling asynchronicity of init process to prevent race conditions"
@szymonlesisz have noticed that the init process is no longer synchronous which may (and probably is) causing race conditions on application start.
Main purpose of suiteMiddleware was to control the initialization process correct order until all essential data/prerequisites are initialized:
1. SUITE.INIT (should be first action ever) ->
2. LOAD STORAGE ->
3. LOAD LOCALES ->
4. INIT CONNECT ->
...

[2022-03-15 10:04] #4803 closed, assigned to jerechinsky

[2022-03-15 10:06] fujicoin commented on #5087
@matejkriz

I don't understand your explanation, "at that point there are no more backends, that have only onion backends so nothing will switch."

The absence of "coins that have only onion custom backends" means that all coins connected to the onion have non-onion custom backends.
Wouldn't it switch to those non-onion custom backends once Tor was turned off?

Here's a simpler way to write the lo

[2022-03-15 11:20] fujicoin commented on #5087
I actually tested it as a custom backend using the link below.
[code]

If Tor is turned off when the connection destination is onion link, the connection destination will switch to non-onion custom backend.
However, no message appeared no matter how many times I tried.

And if I set only onion custom backend and turn off Tor, the message "Missing non-onion Custom Backends" will appear.

This is wh

[2022-03-15 11:52] wendys-cats commented on #5072
https://github.com/trezor/trezor-suite/pull/5110#issuecomment-1067899123

**QA OK**

Tested with accounts (LTC, BTC) with 50 confirmed transactions.

**Version**: develop Suite 22.3.0 [d7e1c43b35febc5290b6e73c898997dabb3f7943](https://github.com/trezor/trezor-suite/commits/d7e1c43b35febc5290b6e73c898997dabb3f7943)
**Browser**: Chrome Version 99.0.4844.51 (Official Build) (64-bit)
**OS**: Windows 1

[2022-03-15 11:57] hynek-jina commented on #5087
@fujicoin
When you want to turn-off Tor, you have to specify non-onion address to remain on a custom backend. If you have a custom onion and non-onion address we simply switch you according to your Tor state (on/off)...
I don't see a problem here.

[2022-03-15 12:53] kolomaznikt opened #5122 "Data Analytics: custom backends"
We would like to track use of custom backends.

-   `suite-ready` (new attribute):
    -   `customBackends`: ['btc', 'eth', 'ada', ...] (array of coins with custom backend)
-   `settings/coin-backend` (new event):
    -   `symbol`: 'btc', 'eth', 'ada', ...
    -   `type`: 'default' | 'blockbook' | 'electrum' | 'ripple' | 'blockfrost'
    -   `totalRegular`: number
    -   `totalOnion`: number

[2022-03-15 13:12] #5103 closed, assigned to jerechinsky

[2022-03-15 15:44] matejkriz commented on #4477
This is already released, only the Tooltips are missing, but they will added separately hopefully in https://github.com/trezor/trezor-suite/issues/4728

[2022-03-15 15:44] #4477 closed, assigned to matejkriz

[2022-03-15 18:22] fujicoin commented on #5087
@matejkriz

Certainly, if you set both custom onion and non-onion address, nothing will be displayed, so there is no actual problem.

Let's get away from the logic story.

Still, the English sentence "Custom Backends are no longer using onion addresses only." Is strange.
The subject of the present progressive tense "are using" should be "You" or "Suite" instead of "Custom Backends".

[2022-03-15 22:38] jerechinsky commented on #5087
I don't think the sentence is that weird. Perhaps the sentence could be rephrased a little like this:

@b-irving, could you please chime in? 🙇‍♂️🙏
Do you think my suggestion is good or do you have a better idea?

[2022-03-16 07:00] hynek-jina commented on #4728
Just as a reminder:
- [ ] Implement tooltips for icons in navigation

[2022-03-16 07:34] hynek-jina commented on #4173
This is currently not in our capacities.. Let’s try to move it forward with community:
https://forum.trezor.io/t/discussion-for-unsupported-os/7432

[2022-03-16 07:34] #4173 closed, assigned to jerechinsky

[2022-03-16 08:06] prusnak commented on #4173
@jacobc-eth if you find the working solution please let us know and we'll update the guide

[2022-03-16 08:53] #4739 closed, assigned to dahaca

[2022-03-16 09:03] kolomaznikt opened #5127 "Data Analytics: language selection"
- Which languages are being used.
- Track difference between manual selection or automatic system selection of a language.
- Track how many people manually switched away from automatic system option to English per each language. (i.e. they didn’t like the translation and switched to English against the language of their OS).

New attributes of event `settings/general/change-language`:
- `previousL

[2022-03-16 09:50] jerechinsky commented on #5088
Thanks for chiming in, @slowbackspace.
I fixed it in [33269e1](https://github.com/trezor/trezor-suite/commit/33269e1140e87b12702462611f73d391fc149210#diff-988baecac61429698981f7b86b979d1627f33f484918f65402c4b345b5c57cbaR6362-R6363).

`TR_RECEIVING_SYMBOL` is now `Receiving {multiple, select, true {multiple tokens} false {{symbol}} other {{symbol}}}`

[2022-03-16 09:50] #5088 closed, assigned to jerechinsky

[2022-03-16 11:37] tsusanka opened #5129 "Link our data analytics document directly from Suite"
In https://github.com/trezor/trezor-suite/pull/4516 we have improved our data docs. We would like to link [this page](https://github.com/trezor/trezor-suite/blob/develop/docs/analytics/index.md) from this screen directly:

<img width="537" alt="image" src="https://user-images.githubusercontent.com/1835345/158581075-cfa424a1-6aa0-4b20-b74a-50041eca17d2.png">

I would simpy change the sentence "Read

[2022-03-16 12:45] b-irving commented on #5129
@tsusanka your suggestion is fine

[2022-03-16 12:57] hynek-jina opened #5130 "Notify web user about new Suite version"
When a new version of the web application is released, users who stay on the older version may experience errors. Therefore, it is required to initiate the download of the new version by refreshing the web application.

If a new version is available, the user will be prompted to refresh.

[2022-03-16 15:37] STew790 opened #5131 "Suite in Tor browser doesn't see Trezor Bridge running"
**Describe the bug**
When I try to go to Suite web page in Tor browser, Suite shows me that it doesn't see bridge running even though you can go to bridge status page and that shows you the bridge is in fact running. @wendys-cats and @bosomt are experiencing the same. @wendys-cats also reports, that in the Brave browser, when you turn ON the Tor, it is working OK but only because Brave actually us

[2022-03-16 15:41] prusnak commented on #5131
Have you implemented all steps documented in https://wiki.trezor.io/Tor ?

(Especially setting ` network.proxy.no_proxies_on` and `network.http.referer.hideOnionSource` variables)

I think we might want to increase visibility of these steps if we add them directly in the "Trezor Bridge is not running dialog" (if we have web suite).

[2022-03-16 17:11] wendys-cats commented on #5131
@prusnak yes, we did (for Tor Browser). Others (@matejkriz and @marekrjpolak ) have confirmed it as well.

Looks like a tor+bridge issue, since Brave+tor can find the device, but only via webusb.

[2022-03-16 17:22] prusnak commented on #5131
I can reproduce locally with Tor Browser 11.0.7.

It seems that something has changed in CORS handling. Before, Origin was not propagated to Trezor Bridge via HTTP headers unless `network.http.referer.hideOnionSource` was set to False. Trezor Bridge needs to know the Origin, because it does the website filtering, otherwise it will not respond. It seems to me (needs to be confirmed) that the Browse

[2022-03-16 20:17] dvreed opened #5133 "BAD gpg signature when verifying Linux Appimage"
**Describe the bug**
I've imported  `satoshilabs-2021-signing-key.asc`, but when verifying the Appimage.asc file I get a BAD signature

**Info:**

-   Suite Version: 22.3.2
-   OS: Linux

**How to reproduce**
1. Import gpg key
[code]
2. Verify signature
[code]

**Expected behavior**
GPG should return a GOOD signature ie `Good signature from "SatoshiLabs 2021 Signing Key"`

[2022-03-16 21:14] prusnak commented on #5133
How did you download `Trezor-Suite-22.3.2-linux-x86_64.AppImage`? You might have a broken download.

They signature validates just fine here.

What is the hash of the downloaded file?

[code]

[2022-03-17 08:55] bosomt commented on #5107
@aloisklink @matejkriz  anything needed on QA side or can we move it to approved section ?

[2022-03-17 09:23] sime commented on #5107
@bosomt A sanity check would be appreciated.

[2022-03-17 10:47] matejkriz commented on #5073
TimeoutOverflowWarning is in inbound filters to save quota https://sentry.io/settings/satoshilabs/projects/trezor-suite/filters/data-filters/

[2022-03-17 11:16] matejkriz commented on #5071
"All backends are down" added to inbound filters to save quota https://sentry.io/settings/satoshilabs/projects/trezor-suite/filters/data-filters/

[2022-03-17 11:23] karliatto opened #5136 "Reproduce some of the TOR issue in suite app"
Some people have mentioned that suite app is not very stable when TOR is running.

* User complained that did not  receive ETH tx although it is mined week ago
* Tor connection crashed in meantime (without Suite realizing that).
* ....

[2022-03-17 11:28] karliatto opened #5137 "Check that TOR binary process is running and usable for suite"
We are working on new package [request-manager](https://github.com/trezor/trezor-suite/tree/feat/tor-request-manager/packages/request-manager) where we are moving new functionality to improve TOR stability in suite app.

Currently we have some kind of check that TOR is initialized -> packages/suite-desktop/src-electron/libs/processes/TorProcess.ts but it is no enough.

There are multiple scenarios

[2022-03-17 11:31] matejkriz commented on #5068
"device disconnected during action" added to inbound filters to save quota https://sentry.io/settings/satoshilabs/projects/trezor-suite/filters/data-filters/

[2022-03-17 11:40] hynek-jina opened #5138 "Native Electrum server connection from Umbrel"
Create a Pull request in the Umbrel repository that would allow direct connection of the Electrum server to the Trezor Suite natively from Umbrel.

https://github.com/getumbrel/umbrel-dashboard/tree/master/src/components/ConnectWallet/Wallets

[2022-03-17 11:45] bosomt commented on #2165
**QA NOK**

no blur in Firefox

<img width="276" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/158801784-ff3ab0db-581c-4fdd-ac78-72c33733f3ec.png">

**Info:**
 - Suite version: web 22.3.0 (3780d14cda5a50e1276643fa6302d23060fcec51)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:98.0) Gecko/20100101 Firefox/98.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: mo

[2022-03-17 11:51] sentry[bot] opened #5139 "ReferenceError: PKG is not defined"
https://github.com/trezor/trezor-suite/blob/develop/packages/suite-desktop/src-electron/modules/hang-detect.ts/#L38

Sentry Issue: [TREZOR-SUITE-4YJ](https://sentry.io/organizations/satoshilabs/issues/3110389161/?referrer=github_integration)

[code]

[2022-03-17 11:58] tomasklim commented on #5012
@trezor/qa test this together with app update (contact me for more info)

[2022-03-17 12:00] karliatto opened #5140 "Improve TOR reliability with @trezor/request-manager"
Improvements in TOR with [request-manager](https://github.com/trezor/trezor-suite/tree/feat/tor-request-manager/packages/request-manager) package.

Use  status event from Tor ControlPort to know when circuit is built and available so then connect starts trying connecting to the backends. It makes that the connection is more efficient because it starts trying to connect when circuit is really avail

[2022-03-17 12:57] hynek-jina commented on #2165
Solution is way too complicated compared to benefit of solving it.
https://github.com/trezor/trezor-suite/pull/5063#discussion_r826962058

[2022-03-17 12:57] #2165 closed, assigned to dahaca

[2022-03-17 14:36] hynek-jina commented on #4800
**POC was performed successfully**
There wasn’t discovered any blocker from technical perspective.
Open questions for further development are documented here: [trezor-suite/README.md at feat/submarine-swaps-poc · trezor/trezor-suite · GitHub](https://github.com/trezor/trezor-suite/blob/feat/submarine-swaps-poc/packages/lightning/README.md)

## Next steps
- Assign responsible product owner and set

[2022-03-17 14:36] #4800 closed, assigned to karliatto

[2022-03-17 17:30] Ranoc opened #5143 "Password protection in trezor-suite"
Password protection for trezor-suite, just to view balances without connecting the device.
THANKS

[2022-03-17 21:32] dvreed commented on #5133
Yeah, you are right.  The download was bad for whatever reason.  I re-downloaed from suite.trezor.io and it now passes the GPG verification.  Sorry for the noise

[2022-03-17 21:32] #5133 closed, assigned to nobody

[2022-03-18 05:05] aaurix opened #5145 "Connect: BTC custom signTransation Error：VerifyTx: Wrong output amount at output 0. Requested: 600000000"
**Describe the bug**
I use btc sign custom Transction, the error is:

<img width="360" alt="image" src="https://user-images.githubusercontent.com/7252280/158940535-2798e5ad-ea6f-439c-94c1-69158a557a93.png">

## sign code
[code]

## btc inputs:
[code]
## btc outputs

[code]
### btc reftx
[code]

[2022-03-18 06:40] hynek-jina commented on #5143
Thank you @Ranoc
We are already investigating idea of dedicated password for Suite and option to watch accounts without connected device.
We will open an issue once we have a product specification.

[2022-03-18 06:40] #5143 closed, assigned to nobody

[2022-03-18 07:36] aaurix commented on #5145
We used to use the trezor.js signature correctly, after upgrading to the latest it doesn't work

[2022-03-18 08:36] bosomt commented on #4688
**QA NOK**

nothing has changed, settings is not wiped

**Info:**
 - Suite version: desktop 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0743511d2)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1536x864
 - Device: model T 2.4.3 regular

[2022-03-18 08:49] prusnak commented on #5145
Maybe you need to provide amounts for Inputs.

[2022-03-18 08:49] aaurix commented on #5145
This is our code:
https://github.com/0xhelloweb3/trezor-sign-electron

[2022-03-18 08:50] aaurix commented on #5145
Input Raw Tx
[code]
I have no idea about what happened for this error

[2022-03-18 08:51] aaurix commented on #5145
<img width="885" alt="image" src="https://user-images.githubusercontent.com/7252280/158967741-bc1288a8-828f-4459-a333-0281a5d0311a.png">

[2022-03-18 08:52] aaurix commented on #5145
<img width="934" alt="image" src="https://user-images.githubusercontent.com/7252280/158968511-8ebeb34e-d2be-4eca-a293-07fcac629df5.png">

[2022-03-18 08:53] aaurix commented on #5145
We constructed input, output and refTx through the above code. I don't know the reason for this error. Is there something wrong with the constructed input and output?

[2022-03-18 08:53] sentry[bot] opened #5146 "TypeError: Cannot read properties of undefined (reading 'resolve')"
https://github.com/trezor/connect/blob/develop/src/js/device/Device.js/#L167

Sentry Issue: [TREZOR-SUITE-575](https://sentry.io/organizations/satoshilabs/issues/3112832745/?referrer=github_integration)

[code]

[2022-03-18 08:54] tomasklim commented on #3433
Most of the errors are problems with the network.

I suggest we can add there `Retry` button with an error message together with a notification

<img width="450" alt="Screenshot 2022-03-18 at 9 55 21" src="https://user-images.githubusercontent.com/33235762/158970847-84c2bcc0-dda0-4a33-ab00-b24f22a48384.png">

Moreover, we can ignore those network errors (or do not send them at all)

[2022-03-18 08:55] aaurix commented on #5145
Do you need more information？

[2022-03-18 09:00] sime commented on #5145
@0xhelloweb3 I'm trying to get the error with your inputs. Do you get the same error using this template?
[signerror.html.gz](https://github.com/trezor/trezor-suite/files/8303047/signerror.html.gz)

In the future, please try and keep your reports to a single initial message; otherwise it can be hard to keep track of the conversation.

[2022-03-18 09:12] matejkriz commented on #5070
"Websocket timeout" added to inbound filters to save quota https://sentry.io/settings/satoshilabs/projects/trezor-suite/filters/data-filters/

[2022-03-18 09:16] matejkriz commented on #4629
"Failed to fetch" added to inbound filters to save quota https://sentry.io/settings/satoshilabs/projects/trezor-suite/filters/data-filters/

[2022-03-18 09:37] elkimek opened #5147 "Custom backend connection"
Hi,

I'm testing the new custom backend feature. I have two electrs 0.9.4 running in my local network and the only way I can connect from Suite is over .onion address. IP:PORT won't connect. I'm using the same server with Electrum/Sparrow without any connection issues.

Any ideas or ways to debug this? Thanks.

[2022-03-18 09:55] elkimek opened #5148 "Custom backend UX ideas"
Hi,

I have some general ideas to improve the custom backend feature.

1) Add test connection button. The UX of adding a server is confusing. User have no way to know if Suite connected to the server without checking the Connection info. See how it works in Sparrow wallet.

https://i.postimg.cc/vTdNgnX8/2022-03-18-10-42-15.png

There is an icon in top menu with green checkmark which implies a conn

[2022-03-18 10:00] sime commented on #5147
@elkimek You tried the `:t` suffix? e.g. `IP:PORT:t`

[2022-03-18 10:05] elkimek commented on #5147
Yes I did. Without proper string it can't be even confirmed with the green Confirm button.

[2022-03-18 10:07] aaurix commented on #5145
Yes, the trezor can be called up to sign, but an error like VerifyTx:Wrong output is reported

[2022-03-18 10:14] hynek-jina commented on #5148
Great ideas @elkimek.. thank you for your participation.
1. `Test connection button` → I've noted it down. And we will consider it in UX improvements.
 -  We plan to improve communication of connection states soon. Currently it is in product specification phase.
2. `Editable server address` → Thanks. Same approach as for 1.
3. Working on that already. See https://github.com/trezor/trezor-suite/iss

[2022-03-18 10:14] #5148 closed, assigned to nobody

[2022-03-18 10:20] aaurix commented on #5145
@sime  hello, i just update inputs and outputs，The multi-signature script restricts that only addresses contained in a specific public key can be signed.
* inputs:
[code]
* outputs:
[code]
* signedTx:
[code]
Still the same error, I want to know the source of this error:

[code]

[2022-03-18 10:27] elkimek commented on #2745
Hi,

what is the current state of CJ in Trezor and can you share a little bit more about future plans? Past few days revealed some concerning information about WabiSabi which IIRC Trezor is waiting for it to be finished.

Referring to a Twitter thread from main WabiSabi dev: https://twitter.com/mHaGqnOACyFm0h5/status/1503878374615404547 more here https://twitter.com/brian_trollz/status/15044574163

[2022-03-18 10:29] sime commented on #5147
@elkimek Are you running your node over SSL? Then you would need `:s` suffix.

As for clearnet, does connecting to a public Electrum instance work? If that does, then it doesn't sound like a Trezor Suite issue.

[2022-03-18 10:33] prusnak commented on #2745
It's hard to share any future plans as the situation is evolving rapidly each day. We are closely following the situation and hopefully the whole thing becomes more clear in the upcoming weeks.

[2022-03-18 10:35] prusnak commented on #5147
Please share the connection string you are using. If it is an external IP address you can replace it with 333.333.333.333. If it's a local IP address I think you can share it as verbatim. Thanks!

[2022-03-18 10:39] elkimek commented on #5147
192.168.1.10:50001:t

[2022-03-18 10:45] prusnak commented on #5147
I can enter this connection string just fine and confirm via the Confirm button. 🤷

[2022-03-18 10:49] elkimek commented on #5147
Hm? I can too. The above reply was in a sense that if I haven't the correct string I wouldn't be able to confirm it.

///

I can connect to my electrum server over onion but not over clearnet. It's just clearnet that doesn't work. But it does with other apps Electrum/Sparrow.

[2022-03-18 10:52] sime commented on #5147
@elkimek What about public clearnet?

[2022-03-18 11:10] elkimek commented on #5147
I can connect to ```electrum.jochen-hoenicke.de:50099:t```

[2022-03-18 11:47] #4955 closed, assigned to nobody

[2022-03-18 11:47] #5003 closed, assigned to tomasklim

[2022-03-18 11:47] #5012 closed, assigned to tomasklim

[2022-03-18 11:47] #5122 closed, assigned to tomasklim

[2022-03-18 11:47] #5127 closed, assigned to tomasklim

[2022-03-18 13:11] bosomt opened #5151 "Add convert to lowercase button for BCH send dialogue"
**Describe the bug**
Found this issue during new firmware change in QR code rendering
` Do not convert bech32 addresses to upper-case for QR code #1751 `
QR code generated from Trezor is not accepted by Trezor Suite

**Steps to reproduce:**
1. generate BCH Receive address
2. Scan QR code
3. Use it as receive address in Suite

**Info:**
 - Suite version: web 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0

[2022-03-18 13:17] wendys-cats commented on #3304
**QA OK for Windows and mac**

No longer possible in latest app version. Closing issue.

 - Suite version: desktop 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0743511d2)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Win32 and macOS (intel)
 - Screen: 1920x1080
 - Device: model T 2.

[2022-03-18 13:17] #3304 closed, assigned to nobody

[2022-03-18 14:59] bosomt commented on #5151
VTC already has this tool enabled

<img width="792" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/159027415-f9711882-e241-47b7-a3a7-9e329f593e55.png">

[2022-03-18 15:22] sime commented on #5147
@elkimek Is TOR on whilst you attempt to connect to your local clearnet Electrum server?

We have an Electrum server internally that is firewalled off from the public internet and I am unable connect to it when TOR is on.

[2022-03-18 15:43] sime commented on #5145
@0xhelloweb3 The 'inputs' you posted are incomplete.

Please update the signerror.html, gzip it and post it back.

I suggest you reconstruct the inputs, outputs and refTxs insolation and share it.

[2022-03-19 03:16] fujicoin commented on #5087
@matejkriz @alex-jerechinsky

I researched various behaviors related to the Tor function and got a complete grasp.
I translated key "TR_TOR_DISABLE_ONIONS_ONLY_NO_MORE_TITLE" into Japanese as "オニオンカスタムバックエンドへの接続は、非オニオンカスタムバックエンドに切り替わります。".
The Japanese can fully understand the behavior that will occur in this translation.
Please understand that the Japanese cannot understand what will happen if th

[2022-03-19 05:21] 0xhelloweb3 commented on #5145
[signerror-latest.html.zip](https://github.com/trezor/trezor-suite/files/8308643/signerror-latest.html.zip)
@sime hello, this is latest file

[2022-03-19 05:22] aaurix commented on #5145
@sime
[signerror-latest.html.zip](https://github.com/trezor/trezor-suite/files/8308646/signerror-latest.html.zip)
hello, this is latest file.

[2022-03-19 10:45] elkimek commented on #5147
Yes that seems was the issue :) With Tor disabled, Suite connects to my electrum server immediately. Thanks!

[2022-03-19 11:12] prusnak opened #5153 "Do not try to connect to local/LAN IP addresses via Tor"
It seems that we try to access local/LAN IP addresses via Tor if Tor is enabled. This of course does not work (see the original report in https://github.com/trezor/trezor-suite/issues/5147)

We should try to connect to local/LAN IP addresses directly even if Tor is enabled.

By local/LAN IP addresses I mean the following ranges:
* IPv4
  * Loopback: `127.0.0.0/8` (127.0.0.0 - 127.255.255.255)
  *

[2022-03-19 11:13] prusnak commented on #5147
Thanks for confirmation. I am closing this issue and replacing it with https://github.com/trezor/trezor-suite/issues/5153

[2022-03-19 11:13] #5147 closed, assigned to nobody

[2022-03-21 06:31] aaurix commented on #5145
The previous problem may be that the firmware version is too low, after upgrading the latest firmware version to 1.10.5, we encounter new errors:
**not enough founds**, But we have enough funds in our multi-signature account

![image](https://user-images.githubusercontent.com/7252280/159214250-bcb61f2e-b79d-416e-9bdf-857cf84d7632.png)

[2022-03-21 06:33] aaurix commented on #5145
@sime Is there a possible reason for this error to help us troubleshoot

[2022-03-21 08:03] bosomt commented on #4604
looks like issue was fixed in current dev build
/probably thanks to  RangeError: Maximum call stack size exceeded #5072 /
@wendys-cats please check/confirm

**Info:**
 - Suite version: web 22.3.0 (c888b3c75010889499e52033fec908ee28045c95)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:98.0) Gecko/20100101 Firefox/98.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.4 regu

[2022-03-21 09:13] ghost commented on #3550
Just a FYI there is a spelling error here...

![Screen Shot 2022-03-21 at 8 12 11 pm](https://user-images.githubusercontent.com/101044509/159232351-ac47f58b-94bc-4082-bced-206ed6bb4a4a.png)

Should be "...you will receive _your_ reward"

[2022-03-21 09:28] mroz22 commented on #3550
cc @alex-jerechinsky

[2022-03-21 14:09] hynek-jina opened #5157 "Custom backed states in navigation"
Use the navigation icon of custom backend (CB) to communicate its state.
Options are sorted according its logic hierarchy.

1. Some of the CB is not working
![Group 18638](https://user-images.githubusercontent.com/26002916/159278139-b95028a4-d51b-4b86-9fc2-87dadad6882f.png)

2. Some of the CB is still loading
![Group 18637](https://user-images.githubusercontent.com/26002916/159278260-83119b84-95f0

[2022-03-21 14:11] jerechinsky commented on #3550
Thank you. It'll be fixed in the next release.

[2022-03-21 14:20] hynek-jina opened #5158 "Convert send address to lower case"
Related to native segwit (bech32) addresses - (v0,  v1 (taproot), ... )
_(this is not relevat for legacy and legacy segwit addresses which are case sensitive)_

In case of `upper` case address or combination of `upper` and `lower` case address check address validity for its `lower` case version. And if that helps, convert the address to lower case and inform user about this conversion.
![Snímek o

[2022-03-21 14:26] hynek-jina opened #5159 "Small UI improvements of navigation"
- [ ] The Settings icon has more space on the right than above it. It should have both equally (12px)
![Group 1](https://user-images.githubusercontent.com/26002916/159281796-0fe9be5e-d586-46c5-a943-f8ebce747ff2.png)
- [ ] The space between the navigation icons is unnecessarily large. There doesn't need to be any space (0px) between hovered states. Currently there is an estimated 5px space _(shown

[2022-03-21 15:06] sime commented on #5145
@0xhelloweb3 I'm not familiar with your application. For ease of debugging, I suggest you produce a single JavaScript file which can reproduce this error.

For example, create a new project and add use `yarn add trezor-connect@extended`. Now you can run the Trezor stack without needing a browser. Please show an example how you are generate the inputs, outputs and refTxs. Also showing exactly which

[2022-03-21 16:05] matejkriz opened #5162 "Tooltips for navigation actions (menu items)"
add Tooltips for navigation actions:

- [ ] Discrete mode
- [ ] Custom backends
- [ ] Tor
- [ ] Early Access Program
- [ ] Notifications
- [ ] Settings

Maybe it would need some bigger refactoring for Tooltips, because I wasn't able to find a fix for this ugly behavior on click in reasonable time:

https://user-images.githubusercontent.com/3729633/159301093-db009d33-a6a8-4ca0-9f32-1ec14e05aa17.mov

[2022-03-21 16:08] matejkriz commented on #4728
Sorry, I haven't found a reasonable solution for tooltips for navigation icons, I just created a separate issue for it: https://github.com/trezor/trezor-suite/issues/5162

[2022-03-22 00:59] jlariviere1 commented on #4173
Trezor Suite (software) (after following the directions) detects the Trezor but does not bring up the prompt to select the wallet.

[2022-03-22 08:13] #4728 closed, assigned to matejkriz

[2022-03-22 08:17] tomasklim commented on #5162
In case we redesign how those icons are positioned (as we have a lot of them), there is a chance that this issue will be irrelevant.

[2022-03-22 08:41] bosomt commented on #2646
**QA NOK**

same behaviour, one transaction still generates 4 notifications.

<img width="411" alt="Screenshot 2022-03-22 at 9 40 36" src="https://user-images.githubusercontent.com/31506317/159441040-182c8601-8371-4e33-80d0-16db0d0b0f15.png">

**Info:**
 - Suite version: desktop 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0743511d2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKi

[2022-03-22 08:47] bosomt commented on #2809
**QA OK**

looks good now, with labelling disabled or enabled

<img width="343" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/159441960-43e119a5-dbc2-4ef1-ba3f-8e006f5a5e37.png">

<img width="327" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/159442058-5d83a07f-d13c-4bef-ba22-0f81f0dd0be9.png">

**Info:**
 - Suite version: desktop 22.3.2 (563be1e28ad

[2022-03-22 08:47] #2809 closed, assigned to glacierbits

[2022-03-22 11:41] bosomt commented on #4688
**QA OK**

Suite settings is now wiped as expected.
Im not sure it it was fixed in https://github.com/trezor/trezor-suite/pull/5149 or in previous pr

Info:

    Suite version: desktop 22.3.0 (https://github.com/trezor/trezor-suite/commit/8ecb68b468d6c640e91c3e96b28131773cb98fac)
    OS: Windows 10
    Screen: 1680x1050
    Device: model T 2.4.3 regular

[2022-03-22 14:49] STew790 commented on #3395
**QA OK**

We tried this on KUbuntu with KDE as well as on Mint Cinnamon and the Icon is correctly displayed on both.

**Info:**
 - Suite version: app 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0743511d2)
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.3 regular

[2022-03-22 14:49] #3395 closed, assigned to nobody

[2022-03-22 15:09] STew790 opened #5167 "It is not possible to Send, Receive or Trade Cardano on mobile web version"
**Describe the bug**
The option to Send, Receive or Trade Cardano is not possible on mobile web version of Suite. The 3 buttons or 3 dots that should be there are out of the screen on vertical view. If I switch to horizontal view, the 3 dots appear.

**Steps to reproduce:**
1. Start Suite in Chrome on Android
2. Connect your device
3. Enable Cardano
4. Go to your Cardano account
5. You can't see t

[2022-03-23 07:15] aaurix commented on #5145
@sime We have solved the problem
<img width="977" alt="image" src="https://user-images.githubusercontent.com/7252280/159643711-12e72704-a976-48dc-b9f9-7e1c123c1bcb.png">

By adding the amount field to the input，The problem is solved by adding the amount field to the input and ensuring that the amount is of type string, because there is also an amount field in the output, and the sdk has verified i

[2022-03-23 07:15] #5145 closed, assigned to nobody

[2022-03-23 07:20] mroz22 opened #5174 "duplicated .pngs"
We have duplicated png files in the codebase.

For example, [Coins.png](https://github.com/trezor/trezor-suite/blob/e34d1748b5636fb064a860cd1b3f9fc2d480c87a/packages/suite-data/files/images/suite/3d/coins.png) and [Coins@2x.png](https://github.com/trezor/trezor-suite/blob/4f7997e33e4646edc7275f0b1aec5599d5ec6e61/packages/suite-data/files/images/png/Coins@2x.png) are the same files, just different

[2022-03-23 07:34] bosomt commented on #4955
**QA OK**

**Info:**
 - Suite version: desktop 22.3.0 (8ecb68b468d6c640e91c3e96b28131773cb98fac)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.3.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:

[2022-03-23 08:40] jiacheo opened #5176 "Wrong Rocket-Pool price"
**Describe the bug**
Currently (2022-03-23 16:32:48 +08) rocket-pool price is about $31.7326
In trezor suite's tokens view ,  I have totally 2005 RPLs but got total price $106,516.97 (about $53.12467 per RPL）

**Info:**

-   Remembered Wallet: no
-   Suite Version: Trezor Suite for macOS, 22.3.2.16437
-   Browser:-
-   OS: macOS 12.3
-   Bridge: ?
-   Firmware Version: model T, 2.4.3

**How to rep

[2022-03-23 10:41] sime commented on #5145
@0xhelloweb3 I'm glad it worked for you, and thank you for getting back to me.

Yes, `amount` is a [required field](https://github.com/trezor/connect/blob/a3e052bc9f84499c941547bee33e1b9e4ac003ed/src/ts/types/trezor/protobuf.d.ts#L286). :)

[2022-03-23 10:44] bosomt commented on #5103
**QA OK**

**Info:**
 - Suite version: web 22.4.0 (80a5c26ba7844db2c73f0b2208b157b668b4c607)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:98.0) Gecko/20100101 Firefox/98.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular

[2022-03-23 13:12] matejkriz commented on #5174
Those makes sense at least for mobile app - React Native automatically pickup the size by the device screen density...

[2022-03-23 13:47] matejkriz commented on #4946
- npm public release should be allowed from protected branch (develop?) only, to ensure that the published code is reviewed
   -  on develop we probably can't check the commit message
   - we could create another protected branch e.g. `npm-release` / `release-npm` but maybe it's an overcomplication?

- we have to add `--dry-run` or `npm pack` to the process, to verify before each publish what file

[2022-03-23 14:10] slush0 commented on #4849
Ad "Why reset of Suite won't fix mentioned issue" - Account discovery *should* recover always after Suite restart, but I don't think it is directly caused by Tor. More likely connection instability to backend triggers another issue in account discovery in this case, and with using Tor it only happen more frequently.

[2022-03-23 14:34] slush0 commented on #4849
Besides to hardening Tor integration itself, please consider to add also some generic checks to backend connections, like keep-alive pings to Blockbook to detect if the connection is still alive. This is not directly related to Tor, but it can improve experience even on unstable connections.

[2022-03-23 14:35] slush0 commented on #4849
Additionally, Suite even do not detect (properly) if it is online, which means there may be other quirks completely unrelated to Tor.

[2022-03-24 08:27] hynek-jina commented on #5159
Related to: https://github.com/trezor/trezor-suite/issues/5157

[2022-03-24 12:13] hynek-jina commented on #5016
## Todo
**Unify the path for hidden wallet with regular wallet**:
- After entering the passphrase go straight to the Suite Dashboard (remove checking balance loading popup)
- Show (already existing) modal for empty wallet confirmation separately (if needed → logic remains the same as in current version)
![Snímek obrazovky 2022-03-08 v 14 49 10](https://user-images.githubusercontent.com/26002916/1

[2022-03-24 14:02] grdddj opened #5181 "Connect fixtures are not compatible with firmware master branch"
Recently `firmware` tightened security checks of signing BTC transactions and since then Trezor can only sign inputs that belong to its private keys.

This seems to break quite a lot of `Connect` fixtures - `Connect` tests with the latest master `firmware` are for example here - https://gitlab.com/satoshilabs/trezor/trezor-firmware/-/jobs/2242830131

As we were modifying our test-cases for BTC tra

[2022-03-24 14:20] tsusanka opened #5182 "Recover from interrupted network connection"
**Introduction**
Imagine Suite loses network connection. If some event occured during this period of network malfunction (such as new block is mined), Suite does not have a mechanism to fetch the data after the connection is recovered. That can lead to very undesirable consequences such as missing transactions etc. We need to check periodically that the connection is working and introduce some "re

[2022-03-24 14:21] tsusanka commented on #5136
Unfortunately this seems unreproducible, moving to https://github.com/trezor/trezor-suite/issues/5182, https://github.com/trezor/trezor-suite/issues/5137 and https://github.com/trezor/trezor-suite/issues/5140.

[2022-03-24 14:21] #5136 closed, assigned to nobody

[2022-03-24 14:24] tsusanka commented on #5182
Moved to #4849.

[2022-03-24 14:24] #5182 closed, assigned to marekrjpolak

[2022-03-24 15:02] sime commented on #5181
cc: @mroz22 @szymonlesisz

[2022-03-24 15:43] tsusanka opened #5184 "Update Tor binaries"
Update Tor binaries to latest.

[2022-03-25 07:18] tsusanka commented on #4849
Also note that there is a connected issue concerning labelling. If you try to change label during a lost connection (without Suite realising it is offline), it spins for a while, and turns off labelling after some time and enforces the login again. Which is not needed: the token is still valid!

<s>@marekrjpolak @hynek-jina should we open a new issue for clarity?</s> Moved to https://github.com/tr

[2022-03-25 08:14] hynek-jina opened #5187 "Unintentional disconnection of the labelling storage"
**Describe the bug**
When Suite is unaware of the loss of internet connection while the user is uses labelling, the connection to Dropbox or Google is disconnected. Meanwhile, the token is still valid, making the disconnection unnecessary.

**Steps to reproduce:**
1. Turn on labelling
2. Disconnect from internet without having noticed it by Suite _(So for example stay on wifi or use mobile hotspot

[2022-03-25 11:06] #5139 closed, assigned to tomasklim

[2022-03-25 11:06] #5092 closed, assigned to tomasklim

[2022-03-25 11:58] STew790 commented on #5055
**QA OK**

App relaunched correctly when I clicked on "Reset app"

**Info:**
 - Suite version: app 22.4.0 (35d3fb451d1833ddd00a253b275de185ae26b0b8)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.4.4 regular

[2022-03-26 04:36] brianddk opened #5190 "[Linux : AppImage] Trezor Suite v22.3.2 developer support for `--bridge-dev` is broken"
**Describe the bug**

When using [--bridge-dev](https://github.com/trezor/trezor-suite/blob/v22.3.2/packages/suite-desktop/src-electron/modules/bridge.ts#L8) with the [Trezor-T emulator v2.4.3+](https://github.com/trezor/trezor-firmware/blob/core/v2.4.3/core/Makefile#L159) account enumeration fails with an "Authorization" error described below

**Info:**

-   Remembered Wallet: yes
-   Suite Versi

[2022-03-26 05:51] bosomt commented on #5092
**QA OK**

**Info:**
 - Suite version: desktop 22.4.0 (2e6b51c8b96ca2ad995787bf090b448453454b3d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:

[2022-03-26 21:40] xanoni commented on #2745
If you can't release it, maybe Satoshi can?

[2022-03-26 21:42] xanoni commented on #2770
Ledger Suite has this, by the way

[2022-03-28 04:55] trymeouteh commented on #3260
Wallet Connect does work with desktop wallets by copying and pasting and it would be amazing to see Trezor Suite having a QR code screen scanner which can scan QR codes in other windows on your computer.

WalletConnect v2 is decentralized and having WalletConnect added to Trezor Suite will integrate so many Dapps into Trezor.

[2022-03-28 10:30] prusnak commented on #5184
PR in https://github.com/trezor/trezor-suite/pull/5192

[2022-03-28 11:36] sime commented on #4880
Attaching design Passphrase unification [Figma](https://www.figma.com/file/l0gG9XeRJ8FTDQ3cfb1wv9/Trezor-T%2C-Trezor-One?node-id=1111%3A535).
<img width="1440" alt="Onboarding" src="https://user-images.githubusercontent.com/216917/160389696-726dd5c0-59d4-4f1d-9f24-77ebc55128fa.png">

[2022-03-28 11:38] hynek-jina commented on #2737
Follow-up issues are tracked in separate [Milestone](https://github.com/trezor/trezor-suite/milestone/22)

[2022-03-28 11:38] #2737 closed, assigned to glacierbits

[2022-03-28 11:46] tsusanka commented on #2737
Wooohooo, great job everyone 🎉 🎉 🎉 .

[2022-03-28 15:04] Kixunil commented on #5005
Please, regtest as well (didn't test yet)

[2022-03-28 15:12] Kixunil commented on #5016
Looks like this would greatly benefit from [my proposal](https://github.com/spesmilo/electrumx/pull/90#issuecomment-944513157) being implemented. Since that one is stuck, I'm tempted to persuade people to just o with it (perhaps as an experimental feature) out-of-standard. It's designed to not break anything anyway.

[2022-03-28 16:02] matejkriz commented on #4268
It's easily reproducible, but still don't understand the exact reason
![discovery-issue](https://user-images.githubusercontent.com/3729633/160438406-f812f34d-1ce6-47dc-8a88-cb1cc6d4364f.png)

[2022-03-29 07:52] matejkriz commented on #3926
one well described case: https://satoshilabs.slack.com/archives/CKN5C51CJ/p1648213677582079

[2022-03-29 08:40] bosomt commented on #3926
i was able to replicate it

i was testing XRP transaction history  pagination.
Sent txs till there was 50 of them on address `rfeLK28LhDkTNccbZbWRaHE5bwhM4CYEtw`
Then i tried to open next page of tx history.
I will try to reproduce it again
edit: only enabled coin was XRP

<img width="620" alt="Screenshot 2022-03-29 at 10 37 02" src="https://user-images.githubusercontent.com/31506317/160570068-7a3

[2022-03-29 13:21] matejkriz commented on #5005
@marekrjpolak Is it just a matter of editing the configuration?

[2022-03-29 13:32] matejkriz commented on #4840
fixed by https://github.com/trezor/trezor-suite/pull/5163

[2022-03-29 13:32] #4840 closed, assigned to mroz22

[2022-03-29 13:38] hynek-jina commented on #4658
@alex-jerechinsky Is this issue still relevant?

[2022-03-29 13:40] marekrjpolak commented on #5005
Should be, and it's somehow working with regtest, but I haven't tested it with testnet yet.

[2022-03-29 13:49] hynek-jina commented on #2243
Feel free to reopen if needed, but this issue didn't move anyhow for a long time..

[2022-03-29 13:49] #2243 closed, assigned to mroz22

[2022-03-29 13:56] matejkriz commented on #3640
done here https://github.com/trezor/trezor-suite/tree/develop/packages/integration-tests/projects/suite-desktop

[2022-03-29 13:56] #3640 closed, assigned to nobody

[2022-03-29 14:10] hynek-jina commented on #4628
Not appearing anymore...

[2022-03-29 14:10] #4628 closed, assigned to nobody

[2022-03-30 05:17] bosomt commented on #5001
there is easy way to reproduce it
all you have to do is to reset app settings
you will get regtest server disconnected even coin was not enabled before
same result when you wipe complete data from debug section of settings

**Info:**
 - Suite version: desktop 22.4.0 (b00736043c7d64bbcdcd1db1612a1f253a927fe6)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, lik

[2022-03-30 09:20] wendys-cats commented on #4604
Looks fixed for me as well! Closing the issue, will reopen if it happens again.

**Info**
 - Suite version: web 22.4.0 (cd474f1858fdb089f8c5cdae7ffabd6e97a470d4)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device: model T 2.4.4 regular

[2022-03-30 12:35] hynek-jina commented on #5116
We were not able to replicate it anymore.

[2022-03-30 12:35] #5116 closed, assigned to nobody

[2022-03-31 05:36] nmullesch commented on #2770
Why has it been moved to the freezer?

[2022-03-31 09:34] marekrjpolak opened #5205 "Modal refactoring followup"
(Mostly) small improvements needed after #5132:

- wrong `text-align` of modal titles, as seen [in this snapshot](https://github.com/trezor/trezor-suite/blob/07049a55547e1fbb1005485c577da0a768f40c7a/packages/integration-tests/projects/suite-web/snapshots/wallet/cardano.test.ts/cardano-advanced-settings.snap.png)
- nicer standalone modals ([bridge](https://suite.trezor.io/web/bridge), [version](htt

[2022-03-31 15:07] tsusanka commented on #5190
(Seems to be working on macOS, tested on 554a4780f0ea58d30b32c7e5b39e3aed65044504)

[2022-03-31 15:14] brianddk commented on #5190
@tsusanka I'll have to build from `master`.  I used pre-packaged binaries which may be rather stale at this point.  Last commit was `563be1e` which is weeks old at this point.

[2022-03-31 16:04] jerechinsky opened #5206 "images not showing in Suite Guide"
Per [Suite Guide documentation](https://github.com/trezor/trezor-suite-guide#not-all-types-of-rich-content-are-supported), images are supported and should be shown in Suite Guide. However, images are currently not showing.

The following pages currently contain images:
https://github.com/trezor/trezor-suite-guide/blob/master/en/suite-basics/early-access-program.md
https://github.com/trezor/trezor-

[2022-04-01 08:23] #4992 closed, assigned to tomasklim

[2022-04-01 08:23] #5001 closed, assigned to tomasklim

[2022-04-01 11:17] hynek-jina commented on #3756
We do not plan to support BEP20 tokens in Suite in the foreseeable future. Please use Metamask for that with your Trezor.

[2022-04-01 11:17] #3756 closed, assigned to stepmes

[2022-04-01 12:07] vdovhanych commented on #5090
updated t&c are now on data.trezor.io

[2022-04-01 13:17] #5090 closed, assigned to vdovhanych

[2022-04-01 15:33] tsusanka commented on #5138
I am moving this to HIGH as it would be really nice to make it till the feature is somewhat new.

[2022-04-04 08:20] hynek-jina commented on #3301
@matejzak Matěji, pls is this still relevant? I don't option to opt-out update.
Thx

[2022-04-04 08:29] glacierbits commented on #3301
I'd say the questions is: If user skips the update › Goes to Settings › Is the prompt to install update present? I.e. does the button read 'Update available' or something similar? If so, we can close the issue. Afaik it wasn't working like this in the past (FYI it's a long time ago last time I checked), but it would have to be replicated to make sure.

[2022-04-04 09:20] matejkriz opened #5213 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**Info:**

-   Remembered Wallet: yes/no
-   Suite Version: app/web, commit
-   Browser: name, version
-   OS: name, version
-   Bridge: version
-   Firmware Version: model, version/commit

**How to reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expect

[2022-04-04 09:22] karliatto commented on #5042
Electron-builder has created pre-relase version including these changes but we want to wait until there is a final release.

https://github.com/electron-userland/electron-builder/releases

[2022-04-04 09:22] #5213 closed, assigned to nobody

[2022-04-04 09:37] matejkriz opened #5214 "Enable to change auto-update provider from CLI"
The easier part is done - it's possible to change the[ feed URL for auto-updater](https://www.electron.build/auto-update.html#appupdatersetfeedurloptions) by CLI param `--updater-url=URL`.

And there is [a manual job `suite-desktop deploy autoupdate test` on codesign branch](https://github.com/trezor/trezor-suite/blob/3103598f45a9ee40d93e5108c928f778b40f169b/ci/releases.yml#L36) that uploads signe

[2022-04-04 10:24] hynek-jina commented on #4688
@bosomt Can we close the issue then?

[2022-04-04 10:37] bosomt commented on #4688
yes we can

[2022-04-04 10:37] #4688 closed, assigned to nobody

[2022-04-04 12:20] tsusanka commented on #5187
I am bumping this to HIGH, because as it is a) low hanging fruit b) people that have 2FA set up in Dropbox and Google Drive have a terrible experience. If it is an easy fix, it would be great to do it.

[2022-04-04 12:22] tsusanka opened #5217 "Allow decimal tx fees (ie 1.3 sat/vB)"
**Describe the bug**
Currently, we enforce integers in the transaction fee dialog but we should also support decimals.

**How to reproduce**
Steps to reproduce the behavior:

1. Try to send a transaction
2. Set custom fee
3. Try to enter 1.3

**Screenshots**
![image](https://user-images.githubusercontent.com/1835345/161514754-e64b99c4-d85e-46d9-a6a1-48771d85c63e.png)

[2022-04-04 12:34] hynek-jina commented on #5217
Decimals wait for product specification: https://github.com/trezor/trezor-suite/issues/3252
AFAIK nodes commonly don't accept transactions with fee lower than 1 sat/vB

[2022-04-04 16:11] szymonlesisz opened #5221 "trezor-connect tests followup"
- [ ] create jobs matrix, split into smaller jobs (wait for https://github.com/trezor/connect/pull/1076)
- [ ] use WS and TX cache (see integration-tests/connect/README)
- [ ] update readme
- [ ] plugins tests in CI, see https://github.com/trezor/connect/pull/1050

[2022-04-05 06:56] bosomt commented on #4992
**QA OK**

**Info:**
 - Suite version: web 22.4.0 (ffc9c08da82b2913e5f61bdb8586065ce6c82f32)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:98.0) Gecko/20100101 Firefox/98.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.0 regular

[2022-04-05 07:17] bosomt commented on #5059
no change, it still looks strange that ⬆️ marks drop-down selector menu

<img width="499" alt="image" src="https://user-images.githubusercontent.com/31506317/161699373-d885e9ff-23a0-476c-8ceb-3bc615c69ef2.png">

[2022-04-05 09:00] matejkriz commented on #4471
- create a separate messages config for cypress and mock it?

[2022-04-05 09:02] matejkriz commented on #4471
this hotfix turned snapshots off https://github.com/trezor/trezor-suite/pull/5215
 - [ ] enable snapshots again

[2022-04-05 10:09] #5184 closed, assigned to prusnak

[2022-04-05 12:10] #4750 closed, assigned to tomasklim

[2022-04-05 12:26] bosomt opened #5230 "Cardano transaction history PDF export missing fee and amount"
**Describe the bug**
Cardano transaction history PDF export missing fee and amount due to Cardano address too long

**Steps to reproduce:**
1. Load Cardano account with transaction history
2. Export transaction history into PDF file
3. Observe missing columns

**Info:**
 - Suite version: desktop 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0743511d2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10

[2022-04-05 12:48] sime commented on #5138
@tsusanka I offered a PR upstream. Please leave any comments there. https://github.com/getumbrel/umbrel-dashboard/pull/413

[2022-04-05 12:59] tsusanka commented on #5138
Haven't built it, but it seems great to me 👍. cc @marekrjpolak if he wants to check it.

[2022-04-05 13:13] bosomt commented on #4750
@tomasklim
so what's the testing plan ?

Google Chrome 83 - not supported warning
Google Chrome 84 - supported without warning
Firefox 77 - not supported warning
Firefox 78 - not supported without warning
Landing page - including not supported version works correctly

right ?

[2022-04-05 13:23] tomasklim commented on #4750
@bosomt

1.
Check links on unsupported browser page - `Download` app, `Download` browsers, `Update` browsers

2.
Your list can be extended by:
Edge/Safari - unsupported browser warning + `go to suite` link in the bottom
Android Samsung browser - unsupported browser + `go to suite` link in the bottom
Android Chrome - should work as before
iOS - not available on iOS + missing `go to suite` link

@ST

[2022-04-05 13:40] bosomt commented on #5184
**QA OK**

[2022-04-05 15:07] sime opened #5231 "Recovery autocomplete jumping and clearing entered text"
**Describe the bug**
Intermittently, when entering text seed phrase, the autocomplete dropdown will close and clear the already input text.

**Info:**

-   Suite Version: app, 22.3.2
-   OS: OS X 12.2.1
-   Firmware Version: T1

**How to reproduce**
Steps to reproduce the behavior:

1. Recover seed on T1
2. Choose normal recovery
3. Type "recycle" a number of times

**Expected behavior**
Text does

[2022-04-05 15:22] sime commented on #5231
Note these direct reproducible cases, rather they are recordings of the odd behaviour.

**Typed `recycl` and dropdown was closed:**

https://user-images.githubusercontent.com/216917/161785729-7db2d75d-f2d7-47cc-bc47-3578129542b8.mp4

**Typed `rec` and dropdown was closed:**

https://user-images.githubusercontent.com/216917/161787681-9a6b587c-dd70-4109-9071-06d9c20fd841.mp4

[2022-04-05 16:16] STew790 commented on #4688
**QA OK**

**Info**:
 - Suite version: desktop 22.4.1 (157aec2030adbb7280d8b90ef0452df2a8400aff)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Win32
 - Screen: 1920x1080
 - Device:

[2022-04-05 18:49] STew790 commented on #4728
**QA NOK**

1) On Linux and MacARM when the device is disconnected, labeling can still be enabled, or rather the toggle still works.
2) On all OS, when the device is disconnected but it is remembered, the "Device" settings is still accessible and the tooltip on hover doesn't show. Nonetheless, the settings can't be changed.

**QA OK**
- sticky close button
- visibility state of disabled toggles
-

[2022-04-05 18:57] STew790 commented on #5001
**QA OK**

When I set up custom Electrum BE and then turn off bitcoin the indicator disappears immediately. Also, when resetting the app via settings, there is no regtest server present.

**Info**:

- Suite version: desktop 22.4.1 (https://github.com/trezor/trezor-suite/commit/157aec2030adbb7280d8b90ef0452df2a8400aff)
- Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko

[2022-04-06 05:18] bosomt commented on #3301
**QA OK**

<img width="791" alt="image" src="https://user-images.githubusercontent.com/31506317/161900969-fc58dafb-f86e-497e-a219-1b283b07faa4.png">

**Info:**
 - Suite version: desktop 22.2.3 (4dc44f620de7f15cdd66970cf22126695435c969)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.2.3 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537

[2022-04-06 05:18] #3301 closed, assigned to nobody

[2022-04-06 06:32] #5111 closed, assigned to mroz22

[2022-04-06 12:34] matejkriz commented on #4728
I agree that this case could use some bigger UX refactoring [and I mentioned that at least in the commen](https://github.com/trezor/trezor-suite/pull/4784/files#diff-2b548e442fed519540ad79422598077d06ae6c0f4662bc10493041a625158422R30-R33)t. But it is intentionally like that - to make General settings less dependent on the device. The initialization of Labeling in that case start when user select a

[2022-04-06 13:08] STew790 commented on #5167
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/161981729-08b09b1a-e3ee-4c09-bb16-b087c4997560.png)

**Info:**
 - Suite version: web 22.4.1 (157aec2030adbb7280d8b90ef0452df2a8400aff)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device:

[2022-04-06 13:09] matejkriz opened #5237 ""Device" modal improvements"
**Design:**
![Untitled](https://user-images.githubusercontent.com/3729633/161981772-be463390-a169-4fd0-bf9c-697d49349c2a.png)

**Spec:** [Notion](https://www.notion.so/satoshilabs/Device-modal-improvements-c370e7c20fb541a9bdf67b722a973e6f)
- [ ] Remove guide icon from this modal where there is no context and makes not much sense to open guide and start searching.
- [ ] Enable to switch title and i

[2022-04-06 14:06] matejkriz commented on #4949
closed by #5232

[2022-04-06 14:06] #4949 closed, assigned to komret

[2022-04-06 14:46] STew790 commented on #4750
**QA OK**

- IE11/ old Opera landing page buttons works as expected and /web page also shows correctly links for supported browsers or app.
- Edge landing page works correctly and /web page as well
- Android Samsung browser /web shows link to download Chrome for Android
- Android Chrome works the same as before
- iOS correctly shows not available on iOS

@bosomt please, test Safari landing page an

[2022-04-06 14:50] matejkriz opened #5239 "Inspect outdated dependencies"
check `yarn outdated`, consider what to update/create issue for (there are some already, check [label:dependencies ](https://github.com/trezor/trezor-suite/issues?q=is%3Aissue+is%3Aopen+label%3Adependencies+))

[2022-04-06 14:51] STew790 commented on #4728
I see, so this is intended. Didn't see the comment, thank you.

Yes, there is, I just thought that the tooltip on hover would be there as well but the banner is indeed sufficient.

I think the 2 points mentioned are resolved.

**QA OK**

Moving to approved

[2022-04-06 14:54] matejkriz commented on #5205
- wrong alignment fixed
- nicer standalone modals is not that much followup, more like a separate issue, let's wait for proper specification
- another issue created for "Confirm on device modals" https://github.com/trezor/trezor-suite/issues/5237

[2022-04-06 14:54] #5205 closed, assigned to marekrjpolak

[2022-04-06 15:21] matejkriz commented on #5075
after global [Modal Refactoring](https://github.com/trezor/trezor-suite/pull/5132)
<img width="734" alt="image" src="https://user-images.githubusercontent.com/3729633/162009651-f0775c61-f6b6-4735-9a98-2d51520072d6.png">

[2022-04-06 22:59] marekrjpolak commented on #5138
I've fixed one unclosed `span` and added the new Trezor Suite page to the wallets list, and it looks good. Should I make a PR to the @sime's forked repo? Or will we do it differently?

![image](https://user-images.githubusercontent.com/26326960/162086157-c4a62097-e5e0-4e16-8a88-2890edde9c25.png)

[2022-04-07 07:36] sime commented on #5138
@marekrjpolak Glad you built it, as I was struggling a little. I add you as a collaborator to my fork. I suggest you push there so it's ready to go in the one PR.

[2022-04-07 09:27] davidbodnar opened #5241 "LTC address scan from QR not working"
**Describe the bug**
LTC address scan is not working when sending to mobile Coinomi wallet.

**Info:**

-   Remembered Wallet: no
-   Suite Version: app version 22.3.2.16437
-   OS: MacOS, 12.3.1 (21E258)

**How to reproduce**
Steps to reproduce the behavior:

1. Go to Wallet
2. Select Litecoin token
3. Click on Send
4. Scan address from QR code
6. Receiver address won't show in the input box

**E

[2022-04-07 09:39] tsusanka commented on #4047
I am changing priority to LOW, as new Trezor 1 models are now being shipped with 1.10.0 bootloaders. So this concerns only old devices that were still not updated from February 2019 (1.8.0).

Maybe it is not worth fixing at all, up to the Product team I guess.

[2022-04-07 09:46] bosomt commented on #4750
**QA OK**

Safari Version 15.4 (17613.1.17.1.6)

- Landing looks as expected
- web Suite  Your browser is not supported + download links

[2022-04-07 11:30] shiny-mountain opened #5242 "XLM: problem with signing a transaction that already has signatures"
Similar issues:
https://github.com/trezor/connect/issues/426
https://github.com/trezor/connect/issues/382

Trezor puts an incorrect signature in transactions that already have a signature. Such transactions are needed for [Stellar Web Authentication](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0010.md).

Here is an example of such a transaction, the details can be viewed

[2022-04-07 11:35] forgiSL commented on #5241
Also reported on XRP,Doge and Dash,ETH, same version of Suite, WIndows 10

[2022-04-07 13:21] matejkriz commented on #4871
this should be resolved as part of this https://github.com/trezor/trezor-suite/issues/4977, right?

[2022-04-07 13:39] tsusanka commented on #4871
Seems so. Please reopen if that is not the case.

[2022-04-07 13:39] #4871 closed, assigned to nobody

[2022-04-07 13:39] dahaca commented on #1576
Design of the abort button from Ondra:

<img width="404" alt="image" src="https://user-images.githubusercontent.com/45338719/162212215-94bb4dc0-979f-465a-a786-65f9115d15f5.png">

[2022-04-07 14:51] matejkriz commented on #4871
adding a note to the new issue about the unsupported address types then...

[2022-04-07 15:09] sime commented on #5242
@shiny-mountain Could you share the code used to generate the incorrect signature?

[2022-04-08 08:49] sentry[bot] opened #5246 "TypeError: Cannot read properties of undefined (reading 'debug')"
Sentry Issue: [TREZOR-SUITE-8NP](https://sentry.io/organizations/satoshilabs/issues/3164882520/?referrer=github_integration)

[code]

[2022-04-08 09:18] sentry[bot] opened #5247 "(node:17976) UnhandledPromiseRejectionWarning: Error: Cannot read properties of undefined (reading 'reserveBaseXRP')"
Search for `reserveBaseXRP` https://sentry.io/organizations/satoshilabs/issues/?project=5193825&query=is%3Aunresolved+reserveBaseXRP

Sentry Issue: [TREZOR-SUITE-6AZ](https://sentry.io/organizations/satoshilabs/issues/3128789867/?referrer=github_integration)

[code]

[2022-04-08 14:16] matejkriz commented on #4692
Also there are lot of network issues in Sentry related to github releases so it's not only slow, but also unreliable...

[2022-04-08 14:16] matejkriz commented on #4692
related to https://github.com/trezor/trezor-suite/issues/5214

[2022-04-08 14:27] matejkriz commented on #4741
reported from this line https://github.com/trezor/trezor-suite/blob/d10e861748296bc635e5b2f0ae2336e1c2d5568e/packages/suite/src/utils/suite/metadata.ts#L75

same error reported here in Node repo https://github.com/nodejs/node/issues/6696

[2022-04-08 20:34] PaperHandedPuppy opened #5252 "Sending arbitrary ethereum transactions with MetaMask silently fails. Should give some sort of message at least"
Probably a dupe of https://github.com/trezor/connect/issues/784 , but that was closed without being properly resolved.

If you try to send an arbitrary Ethereum transaction with MetaMask, which is required to interact with nearly all dApps, it will silently fail. The Trezor Connect window pops up briefly and then closes before you can see anything, and the transaction shows in MetaMask as 'pending

[2022-04-11 04:53] bosomt commented on #4465
Issue is still present in latest versions of suite.
BTC accounts/coin is not enabled so i would expect that Suite is trying to show BTC acc #1  that does not exist in wallet.

<img width="846" alt="image" src="https://user-images.githubusercontent.com/31506317/162667134-c670ad64-2719-4d5a-8d05-ce7da7ad0d0a.png">

<img width="273" alt="image" src="https://user-images.githubusercontent.com/31506317/

[2022-04-11 10:21] #4968 closed, assigned to komret

[2022-04-11 10:28] tomasklim opened #5253 ""Accounts" layout is used on "Notifications" page on small screen"
**Describe the bug**
If I go to notifications from "Accounts" page, notications are opened in "Accounts" layout.

**Info:**

-   Suite Version: 22.3.2, 22.4.1

**How to reproduce**
Steps to reproduce the behavior:

1. Small screen
2. Accounts
3. Menu
4. Notifications

**Expected behavior**
![Screenshot 2022-04-11 at 12 27 03](https://user-images.githubusercontent.com/33235762/162721637-585539f8-98

[2022-04-11 11:00] bosomt commented on #5107
**QA OK**

Suite app works as expected.

**Info:**
 - Suite version: desktop 22.4.1 (157aec2030adbb7280d8b90ef0452df2a8400aff)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.0 regular

[2022-04-11 11:38] hynek-jina commented on #5231
@sime Is this a bug? Or you just miss some communication from Suite?

[2022-04-11 12:28] STew790 commented on #5241
Hello, this is due to the prefix that Coinomi puts into their QR codes (litecoin:, doge:, dash:,etc.) which Suite is not recognizing, except of Bitcoin (Bitcoin is using an officially recognized scheme https://en.wikipedia.org/wiki/List_of_URI_schemes).

Nonetheless, this is more of a feature request than a bug. Thank you for the report.

[2022-04-11 13:00] sime commented on #5231
Bug

[2022-04-11 13:50] STew790 commented on #5127
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/162753885-e31ee78a-5830-4f5c-8cca-a2c97d07308b.png)

**Info:**
 - Suite version: desktop 22.4.1 (157aec2030adbb7280d8b90ef0452df2a8400aff)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x10

[2022-04-11 13:56] STew790 commented on #5122
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/162755077-6ce643d4-941a-42b3-9d00-3b82ce742932.png)
![image](https://user-images.githubusercontent.com/48477147/162755156-588ccac2-240a-401d-8a70-b619b0fbc3bf.png)

**Info:**
 - Suite version: desktop 22.4.1 (157aec2030adbb7280d8b90ef0452df2a8400aff)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Ge

[2022-04-11 14:12] STew790 commented on #5003
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/162758242-af298a4f-488f-46a1-829a-6c97f3ff40b0.png)

**Info:**
 - Suite version: desktop 22.4.1 (157aec2030adbb7280d8b90ef0452df2a8400aff)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.1 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x10

[2022-04-11 14:52] STew790 commented on #4739
**QA NOK**

1. Suite guide not visible after clicking on the yellow light bulb in the select wallet modal
![image](https://user-images.githubusercontent.com/48477147/162766175-8e5a47b8-ed94-43a5-8b82-23fc79f8595c.png)

2. Suite guide light bulb not present in the "Check for updates" modal from settings
![image](https://user-images.githubusercontent.com/48477147/162766272-f9171c52-ad9d-48ca-836f-08

[2022-04-11 15:17] STew790 opened #5255 "Suite guide search is broken"
**Describe the bug**
Search function in Suite guide is showing wrong search results.

**Steps to reproduce:**
1. Open suite guide
2. Search for example for "Privacy"
3. See the results (as shown in the screenshot

**Info:**
 - Suite version: desktop 22.4.1 (157aec2030adbb7280d8b90ef0452df2a8400aff)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.

[2022-04-11 15:47] lightdarkcode commented on #2838
pls translate into German

[2022-04-11 17:38] dahaca commented on #4739
https://github.com/trezor/trezor-suite/pull/5256

That's not a `Modal` in code but something else, which is named `Box` :(

@tomasklim Should I add a guide button there for now? Why not using Modals instead of `Box`?

[2022-04-12 11:44] #3393 closed, assigned to komret

[2022-04-13 08:23] #5042 closed, assigned to karliatto

[2022-04-13 14:17] #5040 closed, assigned to tomasklim

[2022-04-14 06:06] bosomt commented on #3393
**QA OK**

**Info:**
 - Suite version: web 22.5.0 (0d7ad344555f34f3abbc4fd42116efb7129b3a73)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular (revision 595b14254c1abb2be3f69e42c7932f1eca8cf1b1)
 - Transport: bridge 2.0.31

[2022-04-14 06:21] bosomt commented on #4968
**QA OK**

<img width="334" alt="image" src="https://user-images.githubusercontent.com/31506317/163325746-5ad71f2a-fc1b-4464-b475-3072fbe0ad1b.png">

**Info:**
 - Suite version: web 22.5.0 (0d7ad344555f34f3abbc4fd42116efb7129b3a73)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular (re

[2022-04-14 07:45] hynek-jina opened #5266 "Extend URI handler for altcoins"
Extend solution of https://github.com/trezor/trezor-suite/issues/3294
When user scans address with some of the listed prefix → system should open Trezor Suite and fill in the `send to` address

Litecoin `litecoin:`
Ethereum `ethereum:`
Ethereum Classic `ethclassic:`
XRP `ripple:`
Bitcoin Cash `bitcoincash:`
Bitcoin Gold `bitcoingold:`
Dash `dash:`
DigiByte `digibyte:`
Dogecoin `dogecoin:`
Namecoin

[2022-04-14 07:51] hynek-jina commented on #5217
Minimal fee of 1 sat/vB confirmed by @bosomt
So this issue is only about decimals.

[2022-04-14 08:27] tomasklim commented on #5266
Note:
Those URI handlers can be added only to the desktop app because they are `custom`. On the other hand, `bitcoin` is a permitted scheme so it can be available on both web and desktop platforms.

https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler

[2022-04-14 09:55] yojoe opened #5267 "your wallet uses less efficient method of querying electrs, consider contacting the developer of your wallet"
Using Trezor Suite [22.3.2](https://github.com/trezor/trezor-suite/releases/tag/v22.3.2) and electrs v0.9.6 as a custom Bitcoin backend I observe a lot of the following messages in the electrs log for `get_balance`, `listunspent` and `get_history` queries:

[code]

[code]

[code]

While Trezor Suite works with electrs, experience is very slow. I would expect some caching on recurring usage of the

[2022-04-15 08:40] STew790 commented on #5231
I just tried this on Linux and works fine for me. When I type "rec" or "recycle" or whatever word from the word-list, it doesn't close the drop-down menu for me. Do you press anything after you type the part of the word (or the whole word) or does it just close on its own?

**Info:**
 - Suite version: desktop 22.3.2 (563be1e28ad75ddd4e38c2002e6032b0743511d2)
 - Browser: Mozilla/5.0 (X11; Linux x86

[2022-04-15 08:43] STew790 commented on #5255
**QA OK**

It seems to be fixed in the new version.
![image](https://user-images.githubusercontent.com/48477147/163548307-6998fcc9-09cf-460b-8559-69587032d203.png)

**Info:**
 - Suite version: desktop 22.4.2 (6464dbcbb231cf96ce64e0974ea853fc80d87550)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.

[2022-04-15 08:43] #5255 closed, assigned to nobody

[2022-04-16 09:55] prusnak commented on #5267
@marekrjpolak Have you tried subscribing to scripthash first before querying it? Or even better - subscribing to a set of scripthashes (let's say set size around 10-20) before querying them?

[2022-04-19 06:46] hynek-jina commented on #5217
I'm closing this issue in favour of original one: https://github.com/trezor/trezor-suite/issues/3252

[2022-04-19 06:46] #5217 closed, assigned to nobody

[2022-04-19 07:15] tomasklim commented on #2294
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat

[2022-04-19 07:15] tomasklim commented on #2294
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat

[2022-04-19 08:32] marekrjpolak commented on #5267
@prusnak Not yet, but it was discussed somewhere (I unfortunately cannot find it now) and it is planned. Initially I was a bit afraid that it would mean to subscribe even to somebody else's scripthashes (because of much richer data structure of Blockbook responses in comparison with Electrum) and I wasn't sure about the implied overhead, but after brief research it doesn't seem to be the case.

[2022-04-19 11:00] sime commented on #5231
@STew790 Thanks for trying to reconfirm my issue. I wasn't doing anything special, next restore I attempt I will try and reproduce this issue.

[2022-04-19 12:39] STew790 commented on #4739
**QA OK**

2 fixes mentioned above will be part of the next release.

[2022-04-19 13:04] shiny-mountain commented on #5242
@sime Sorry I didn't answer for a long time. You can see all code [here](https://github.com/stellarterm/stellarterm/blob/master/src/lib/MagicSpoon.js#L56)

[code]

[2022-04-19 15:09] hynek-jina opened #5271 "Format numbers according to users system preferences"
**Format automatically all the numbers according to users system preferences**

- Date & time
- Decimal point
- Thousand separators (Decimal separators)
- Negative numbers
- Fiat currency signs

**QA**

- Test effect on transaction export
- Test effect on input fields

**Useful links**
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat
- https://de

[2022-04-19 15:16] hynek-jina opened #5272 "Autocorrect missing zero in amount"
When user type `.1` as an amount, convert it to `0.1`

Related to: https://github.com/trezor/trezor-suite/issues/5271

[2022-04-19 20:13] keraf commented on #2918
Would be nice to see this in Suite some day soon. Happy to submit a PR if there's a bounty.

[2022-04-20 07:25] hynek-jina opened #5273 "Reveal send/receive buttons on small devices"
General solution for this bug: https://github.com/trezor/trezor-suite/issues/5167

`Send`, `Receive` and `Trade` has higher visibility priority then `Overview`, `Account`, `Tokens`, and `Stacking`
Hide tabs into dropdown if needed.

![Final](https://user-images.githubusercontent.com/26002916/164173572-84975127-1374-4bb5-8d3e-7e7159d276eb.png)

[2022-04-20 12:16] #4588 closed, assigned to tomasklim

[2022-04-20 12:16] #4915 closed, assigned to tomasklim

[2022-04-21 09:49] bosomt commented on #4915
**QA OK **

**Info:**
 - Suite version: web 22.5.0 (bf0e4020dc1344c179501fcb5f57d9c4039c8bf0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.11.0 regular (revision fd4f8601cf73c5744978f0e8c0aa43d863032a37)
 - Transport: bridge 2.0.31

[2022-04-21 11:39] bosomt commented on #5040
**QA OK**

**Info:**
 - Suite version: web 22.5.0 (bf0e4020dc1344c179501fcb5f57d9c4039c8bf0)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.11.0 regular (revision fd4f8601cf73c5744978f0e8c0aa43d863032a37)
 - Transport: bridge 2.0.31

[2022-04-21 12:13] STew790 commented on #4588
**QA OK**

"Select device" button in notification now correctly switches to the second device connected.

**Info:**
 - Suite version: web 22.5.0 (bf0e4020dc1344c179501fcb5f57d9c4039c8bf0)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.10.4 regular (revision 595b1425

[2022-04-21 12:27] bosomt opened #5280 "Show address anyway displayed when you try to backup wallet during discovery"
**Describe the bug**
See video, `Create backup` modal is not consistent when triggered during discovery of accounts and you can see receive address modal.
I was not able to reproduce issue when discovery is over.

**Steps to reproduce:**
1. Connect device that needs backup and start discovery
2. Press `Create backup` and cancel it
3. Repeat till you see different dialogue modal than usually

**Inf

[2022-04-21 14:42] sime commented on #5252
@PaperHandedPuppy Which dApps are classic to fail?

[2022-04-22 09:58] tsusanka opened #5282 "Add possibility to target 'revision' and bootloader version in messaging system"
Add possibility to target specific FW revision (not version) using our messaging system. That means what the FW reports in the Features.revision.

While we are at it, it might also be useful to report the bootloader version.

@hynek-jina we would like to squeeze this into the next release.

[2022-04-23 04:01] trymeouteh opened #5283 "Pacstall"
Please add this app into the pacstall repository. Pacstall is the AUR for Ubuntu which will allow Ubuntu users to easily install the app and receive updates very shortly after an update is released.

https://pacstall.dev/

[2022-04-25 06:47] #4414 closed, assigned to tomasklim

[2022-04-25 06:47] #5206 closed, assigned to tomasklim

[2022-04-25 10:18] bosomt commented on #4414
**QA OK**

**Info:**
 - Suite version: web 22.5.0 (7281ac61483e38d974625c2505bfe5efd519aacb)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:
 - Transport: N/A

[2022-04-25 10:23] prusnak commented on #5283
Please help us by adding it to the repo by yourself. Thanks!

[2022-04-25 10:23] #5283 closed, assigned to nobody

[2022-04-25 10:25] prusnak opened #5285 "Electrum server backend: each scripthash is called twice"
According to https://github.com/romanz/electrs/issues/702 the Suite queries each scripthash twice.

Is that intentional or is this a bug?

[2022-04-25 10:39] bosomt commented on #5206
**QA OK**

**Info:**
 - Suite version: web 22.5.0 (7281ac61483e38d974625c2505bfe5efd519aacb)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:
 - Transport: N/A

[2022-04-25 11:26] bosomt commented on #5205
**QA OK**

**Info:**
 - Suite version: web 22.5.0 (7281ac61483e38d974625c2505bfe5efd519aacb)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device:
 - Transport: N/A

[2022-04-25 11:34] hynek-jina commented on #5231
We were not able to replicate that.. Please specify the steps to reproduce..

[2022-04-25 11:34] #5231 closed, assigned to nobody

[2022-04-26 07:35] #5282 closed, assigned to tomasklim

[2022-04-26 11:05] karliatto commented on #3926
@bosomt and me have tried to reproduce this issue and we are not able to reproduce it.

[2022-04-26 13:54] STew790 commented on #5012
**QA OK**

![image](https://user-images.githubusercontent.com/48477147/165315783-94e5c521-cdb0-4570-a020-530ecd41120e.png)

**Info:**
 - Suite version: desktop 22.4.2 (1a1572b58bc0a76020978ab51ad85cbac0766aa1)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x10

[2022-04-26 15:24] STew790 commented on #5282
**QA OK**

Tested with @tomasklim extensively.

**Info:**
 - Suite version: desktop 22.4.2 (1a1572b58bc0a76020978ab51ad85cbac0766aa1)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.4.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.0 regular

[2022-04-27 11:16] wendys-cats commented on #4604
Reopening the issue, missing label in transaction export has been spotted again

[2022-04-27 18:42] dahaca commented on #4671
 @bosomt Was not able to duplicate after many tries
 

- **OS:** Mac M1
- **Browser:**  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36
- **Suite version:** web + desktop 22.1.1 and current dev (https://github.com/trezor/trezor-suite/commit/440edca2fd6933553a0630c4688bf63cd18093c6)
- **Device:** Model T `2.4.2 to 2.4.3` and

[2022-04-27 18:49] bosomt commented on #4671
@dahaca i will try to replicate it in upcoming days 💪🏿

[2022-04-28 07:24] bosomt commented on #4671
**QA OK**

i was not able to reproduce issue with 10+ tries /app+web, upgrade, reinstall/

**Info:**
 - Suite version: web 22.4.3 (969161f41dcd889fa1fb0cf5e1d3437fddd8c26d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: 2.4.3 + 2.4.2

[2022-04-28 07:24] #4671 closed, assigned to dahaca

[2022-04-28 16:05] zaplmi commented on #4933
Issue still persists:

info:
Suite version 22.4.3 (web)
FW 2.4.3
NixOS

Steps to reproduce:
connect your device (that has passphrase feature enabled) in Trezor Suite
choose Standard wallet
go to device setting and turn the passphrase feature off
go back to accounts and click on send (any account with balance):

![image](https://user-images.githubusercontent.com/91535734/165795171-4eeadda4-8886-41f

[2022-04-29 08:59] #5032 closed, assigned to marekrjpolak

[2022-04-29 10:19] szymonlesisz opened #5297 "@trezor/connect: improve validateParams function"
`validateParams` function should be generic and return `paramsobject is <Shape>`
example:

[code]

[2022-04-29 10:37] szymonlesisz opened #5298 "@trezor/transport: strict protobuf messages types"
protobuf build script should split types into 2 categories `MessagesIn` and `MessagesOut` using `wire_in`/`wire_out` fields from [protobuf](https://github.com/trezor/trezor-firmware/blob/master/common/protob/messages.proto)

[2022-04-29 11:05] szymonlesisz opened #5299 "@trezor/transport: unify protobuf enums types and usage"
- [x] messages from Trezor should always return enums as string. `Capabilities` (repeated enum) returns numbers in runtime
- [ ] messages from Trezor type should use `keyof typeof EnumType`
- [ ] messages to Trezor type should accept both, string and number values (it works in runtime)
- [ ] consider using `const` instead of `enum` [why not?](https://blog.logrocket.com/why-typescript-enums-suck/)

[2022-04-29 11:46] szymonlesisz opened #5301 "@trezor/transport: move typedCall logic from @trezor/connect"
Since `@trezor/transport` is the source of protobuf messages it would be nice to have strongly typed `Transport.call` method.
Currently this logic is done in `@trezor/connect/src/device/DeviceCommands.typedCall`

depends on https://github.com/trezor/trezor-suite/issues/5299 and https://github.com/trezor/trezor-suite/issues/5298

[2022-04-29 14:15] tsusanka commented on #4933
As I have mentioned in https://github.com/trezor/trezor-suite/issues/4903 I am not sure it makes sense to offer this setting at all. Anyone has a good reason to keep it? I would remove it unless anyone objects.

[2022-05-02 06:27] hynek-jina commented on #4933
@tsusanka
I would even say it's counterproductive. It reveals that the user is using a passphrase. So I agree to remove it.

[2022-05-02 08:41] STew790 commented on #5032
**QA OK**

Suite correctly remembers custom backend URL.

**Info:**
 - Suite version: desktop 22.5.0 (04ba1dce216a6f9a958ff411fe79029431fd5038)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.5.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.0 regular (revision fd4f8601cf73c5744978

[2022-05-02 09:22] marekrjpolak commented on #5032
I'm sorry, @STew790, have you also checked the other concerns from #5287? Especially I want to be sure that nothing breaks and everything is remembered when upgrading from DB version 26 to 27.

[2022-05-02 09:28] tsusanka opened #5302 "Prepend application log with device info"
Our Application log (Show log) feature keeps only last 200 actions. If user has all coins enabled on Trezor 1, after using Suite for 30 seconds, the information about device-connect is lost which is unfortunate. Should we prepend each log with Suite, FW, OS etc. info?

@hynek-jina this is one of such issues which seem low-prio but it might help us a lot in a long-run.

[2022-05-02 09:53] STew790 commented on #5032
Yes, thanks for the reminder, I did check it and:
- custom BE persists when updating the db (I tried setting up the custom BE in a Suite a few releases back and it persisted to this newer version)
- Tor and onion address functionality with the custom BE is the same as before (showing correctly modals)

[2022-05-02 12:28] STew790 commented on #4949
Will be tested together with the autoupdate.

[2022-05-02 15:29] #5137 closed, assigned to karliatto

[2022-05-02 18:11] mroz22 opened #5305 "@trezor/connect-build: consider adding package"
**dev** webpack configs in @treozr/connect-web

trezor-suite/packages/connect-web/webpack/dev.webpack.config.ts

and @trezor/connect-explorer

trezor-suite/packages/connect-explorer/webpack/dev.webpack.config.ts

contain imports from other packages (popup, iframe). Which is causing type-check to emit the following error:
`Projects must list all files or use an 'include' pattern.ts(6307)`

This cou

[2022-05-02 19:02] szymonlesisz opened #5306 "@trezor/connect: refactor AbstractMethod and get rid of strictPropertyInitialization ts-error"
current architecture of AbstractMethod and Device classes assumes that certain `this` props are present while typescipt complains about missing constructor initialization

[2022-05-02 19:10] szymonlesisz opened #5307 "@trezor/connect: create @trezor/connect-webextension"
Extract webextension logic to a separate package `@trezor/connect-webextension`
- [x] migrate @trezor/connect-examples/webextensions manifests to version 3 (multiple [breaking changes](https://developer.chrome.com/docs/extensions/mv3/migrating_to_service_workers/))
- [ ] open/write `trezor-usb-permissions.html` dynamically
- [x] move `trezor-content-script` to connect-popup
- [ ] communicate direc

[2022-05-03 08:29] vdovhanych opened #5309 "test automation issue"
**Describe the bug**
A clear and concise description of what the bug is.

**Info:**

-   Remembered Wallet: yes/no
-   Suite Version: app/web, commit
-   Browser: name, version
-   OS: name, version
-   Bridge: version
-   Firmware Version: model, version/commit

**How to reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expect

[2022-05-03 08:48] #5005 closed, assigned to marekrjpolak

[2022-05-03 09:37] bosomt commented on #5005
**QA OK**

**Info:**
 - Suite version: desktop 22.5.0 (91e8119f2e75794c1b3b36997e0aa2fa4397838c)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.5.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.4.3 regular (revision 595b14254c1abb2be3f69e42c7932f1eca8cf1b1)
 - Transport:

[2022-05-03 12:12] #4646 closed, assigned to komret

[2022-05-03 14:44] marekrjpolak commented on #4849
Issue was resolved in #5249 by checking every minute for every account whether it has latest data or not and fetch them if needed. It's not explicitly checking the network connectivity, but the result should be effectively the same.

[2022-05-03 14:44] #4849 closed, assigned to marekrjpolak

[2022-05-03 14:53] hynek-jina commented on #4849
No QA needed...

[2022-05-03 16:48] bosomt commented on #4646
**QA OK**

needs to be checked when Translation mode enabled and crowdin account active @alex-jerechinsky plz check if possible.

<img width="381" alt="image" src="https://user-images.githubusercontent.com/31506317/166500749-7acd9d63-3359-47bb-8456-a1ecb7142f15.png">

**Info:**
 - Suite version: web 22.5.0 (2c03ec197653daaef34756a0b7fbc7fd39da1fa7)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS

[2022-05-03 20:31] #4632 closed, assigned to dahaca

[2022-05-03 20:31] #5059 closed, assigned to dahaca

[2022-05-04 07:05] hynek-jina opened #5317 "Submarine Swaps"
Allows the user to recharge the LN wallet or pay LN invoices directly from the Trezor.
_We do not address the opposite direction at this stage._

Seamlessly builds on previous POC:
https://github.com/trezor/trezor-suite/issues/4800

**Product Specification**
[WIP - Submarine Swaps](https://www.notion.so/satoshilabs/LN-Submarine-Swaps-131517421ab84c99a3eef40d24d0a416)

Requires:
https://github.com/

[2022-05-04 07:41] bosomt commented on #5059
Is there any reason that  ⬆️ ⬇️ have different shades of grey ? @dahaca

Otherwise **QA OK**

<img width="96" alt="Screenshot 2022-05-04 at 9 39 00" src="https://user-images.githubusercontent.com/31506317/166640026-1d83c0ea-626a-4f52-a493-55646081703b.png">
<img width="134" alt="Screenshot 2022-05-04 at 9 38 07" src="https://user-images.githubusercontent.com/31506317/166640029-700dd3b0-86b7-47e7-b

[2022-05-04 08:09] Nodonisko opened #5318 "Remove run-s dependency"
We can replace `run-s` with simple `&&`. It's used only in few places anyway so most of our scripts won't work on Win anyway. I believe everyone who wants to develop seriously on Win uses linux subsystem anyway.

[2022-05-04 08:35] mroz22 opened #5319 "@trezor/connect window references"
- [ ] remove all window references from @trezor/connect, move to @trezor/connect-web probably
- [ ] use testEnvironment: node in @trezor/connect unit tests

[2022-05-04 08:45] mroz22 opened #5320 "@trezor/connect: remove @trezor/rollout"
Rollout lib does not have any sense anymore with trezor-connect in monorepo. remove it.

[2022-05-04 08:51] mroz22 opened #5321 "@trezor/connect getAccountInfo null."
TrezorConenct.GetAccount info should return some shape for failed accounts. Now it might return null.

[2022-05-04 08:55] ondracja commented on #5042
This issue will be tested when we test the auto-update functionality during this code freeze.

[2022-05-04 09:35] mroz22 opened #5322 "@trezor/connect version"
- [ ] consolidate 'version' to be only in one place
- [ ] probably create version file in connect/src/data ?
- [ ] probably create a function getConnectSrc that will do all the version parsing. Consider new versioning structure for version 9
- [ ] trezor-suite/packages/connect-web/src/webextension/trezor-usb-permissions.js should not import from anyhwere, this is a script that is intended to be co

[2022-05-04 10:27] mroz22 opened #5323 "@trezor/connect: split connect/src/core"
split connect/src/core/index into smaller chunks. solve queueing of calls and their aborting using AbortController.
this is related to coinjoin also.

[2022-05-04 11:35] szymonlesisz opened #5324 "@trezor/connect-popup: share browser detection code with suite"
- [ ] remove `connect/src/utils/browserUtils`
- [ ] implement shared browser detection in @trezor/connect-popup and @trezor/connect-iframe

[2022-05-04 11:54] mroz22 opened #5325 "connect-popup translations/intl"
resolve translations for connect popup.

resolve sharing of components that need translations, see `PassphraseTypeCard` component which  lives in `packages/components` and therefore can not use `Translation` component from packages/suite. This has some unwanted implications such as that backporting english translations into default messages (see `backport-en.ts`) script don't work here.

[2022-05-04 11:58] mroz22 opened #5326 "@trezor/connect-popup: hardcoded urls"
Urls in @trezor/suite are imported from constants folder. We try never to use url string directly which is a practice helping us avoid some dead urls as collection of urils saved in one place is easier to review and possibly test.

@trezor/connect-popup still has hardcoded urls.

Actionpoints:
- extract hardcoded urls in trezor/connect-popup to a single constants file

Bonus action points:
- this

[2022-05-04 14:00] sime commented on #4661
I caution the need for promoting BTC only firmware. Instead, I'd prefer to [make the call](https://basecamp.com/gettingreal/06.4-avoid-preferences#make-the-call) and stick to the 'universal' firmware.

Nonetheless, BTC only firmware users need to be guided back to the universal firmware when stuck. e.g. Attempting to add an altcoin politely informs the user that more coins are available via the un

[2022-05-04 15:08] bosomt opened #5328 "Hex format switch triggers Verify button in Verify dialogue"
**Describe the bug**
Hex format switch triggers Sign button in Verify dialogue and does not switch message format.
I was not able to reproduce it on production.
I was able to reproduce it in web and in app version of Staging Suite version
See first video with issue , second video with production version of Suite behaves as expected.

**Steps to reproduce:**
1. Navigate to verify dialogue in Sign/V

[2022-05-04 15:54] bosomt opened #5329 "You can't upload one device `Homescreen` twice."
**Describe the bug**
See uploaded video.
You can't upload one device `Homescreen` twice when you `Choose from gallery` between uploads
I was able to reproduce it in 22.3.2 and in 22.5.1 application.
I was not able to reproduce it on web version of Suite

**Steps to reproduce:**
1. Upload custom homescreen and upload it to device
2. Choose homescreen from gallery and upload it to device
3. Upload c

[2022-05-04 16:32] STew790 opened #5330 "Green outlining of send form boxes is missing"
**Describe the bug**
Green outline of the boxes in send form and also in sign and verify and OP_RETURN, that signalize the user filled out the boxes correctly, are not present in the new staging version of Suite. Wrong input is correctly shown as red.
I am not really sure if this is because of https://github.com/trezor/trezor-suite/issues/4632 but my guess it's very probable.

**Steps to reproduce

[2022-05-05 07:37] szymonlesisz opened #5331 "@trezor/connect: remove all browser related code"
package should not have any `window/document` related code

[2022-05-05 07:38] szymonlesisz commented on #5331
closing,duplicate of https://github.com/trezor/trezor-suite/issues/5319

[2022-05-05 07:38] #5331 closed, assigned to nobody

[2022-05-05 07:46] szymonlesisz opened #5332 "@trezor/transport: fix in/out types"
There is a lot of inconsistencies in types like:

`TrezorDeviceInfoWithSession.session` could be string | undefined |  null but `Transport.acquire > AcquireInput.pervious` expects string | undefined

[2022-05-05 08:54] jerechinsky opened #5333 "Dark mode / light mode screenshots in Guide"
Currently, it's possible to add images in Suite Guide. However, screenshots taken in dark mode look out of place with light mode enabled.

I suggest we implement a feature that shows separate screenshots for light mode and dark mode in Suite Guide.

![Screenshot 2022-05-05 at 10 51 52](https://user-images.githubusercontent.com/75733878/166891168-3581546d-a3ae-4a09-8065-65b5e3fceb52.png)

[2022-05-05 09:08] karliatto commented on #3926
It looks like it is happening when ripple backends are down.

[2022-05-05 09:13] tomasklim opened #5334 "Cleanup of analytics"
Removing useless events, renaming and improving existing ones.

[Here](https://www.notion.so/satoshilabs/c63bdab01b704b099cab3bbb3227e1b1?v=406d107d6d584577a47d7580e8b2df89)

[2022-05-05 10:05] hynek-jina commented on #5138
Everything done from our side. Now we are waiting for Umbrel to release a new version.

[2022-05-05 10:05] #5138 closed, assigned to marekrjpolak

[2022-05-05 12:40] jpopesculian opened #5336 "WebUsbPlugin does not conform to LowlevelTransportSharedPlugin in @trezor/transport"
**Describe the bug**

WebUsbPlugin does not conform to LowlevelTransportSharedPlugin in @trezor/transport

**How to reproduce**

Given the following TypeScript file

[code]

Running `tsc` will yield the following error

[code]

**Expected behavior**

This should compile

[2022-05-05 15:51] dahaca commented on #5330
The absence of green is not a bug. The design has been changed, now here is no explicit `success` state, only the `error` state - input turns red. Green was too extra and it wasn't implemented for all inputs even. So in order to not turn forms into a traffic light I propose adding a check to the address input component, since it is in a way one of the most important inputs and giving a user a bit

[2022-05-05 15:52] STew790 opened #5339 "Back button in T1 recovery is blurred"
**Describe the bug**
Button for "Back" in one step of T1 recovery is blurred out.

**Steps to reproduce:**
1. Connect device with no seed
2. Select "Recovery" option
3. Select number of words
4. Select "Standard" recovery
5. Now you are prompted to continue on the device and the "Back" button in Suite is blurred out

**Info:**
 - Suite version: desktop 22.5.1 (06b93c51d07e8dfbd153c3e1569911884caf9

[2022-05-05 16:03] szymonlesisz opened #5340 "@trezor/connect improve coinInfo FeeLevels"
non bitcoin like coins coinInfo defaultFees are not unified, because of that there are multiple workarounds in connect (blockchainEstimateFee) and suite (blockchainActions)

- [x] use FeeLevel type while parsing coinInfo
- [x] create separated module for know levels (ethereum, ada, xrp) which are not defined in `trezor-common`, or consider to add them to `trezor-common`
- [x] fallback for unknown

[2022-05-05 20:25] bosomt opened #5341 "`Install custom firmware' dialogue asks you to install older boot-loader than already installed"
**Describe the bug**
See screenshot. I have same results with 22.5.1.
When you try to install custom firmware and device is in boot-loader mode /on firmware installed or you entered boot-loader mode before accessing `Install custom firmware` modal.
It ignores that you already have boot-loader 1.10.0 and asks you to install 1.8.0.

**Steps to reproduce:**
1. Connect device in boot-loader or with de

[2022-05-06 07:36] hynek-jina commented on #5330
@dahaca
So can we close the issue then?

[2022-05-06 07:38] hynek-jina commented on #5341
Partially related to: https://github.com/trezor/trezor-suite/issues/4661

[2022-05-06 08:13] STew790 commented on #4949
**QA OK**
No build date is present in the auto-update modal.

![image](https://user-images.githubusercontent.com/48477147/167093633-2781a3e4-7104-47b6-b65e-b240f4e1d71d.png)

[2022-05-06 08:34] dahaca commented on #5330
@hynek-jina Nope I will link it to the PR with the Address input changes

[2022-05-06 09:11] Perlover commented on #2918
Hi!

I have a slightly different problem. But also related to this. To begin with, I want to recommend an excellent program for synchronization - Syncthing. You can sync local files between your devices there in a decentralized and transparent way - your own cloud system between your devices only. It doesn't need WebDAV and it's much easier and simpler (works under Windows/Linux/Android/iPhone).

[2022-05-06 09:28] DrHaribo opened #5342 "Enable sign message using change address"
It used to be possible to sign messages using a change address. Now the GUI has been updated with a drop-down menu instead of copy-pasting the address in. Change addresses are not available in the menu, so you can't sign messages with them.

**How to reproduce**

1. Go to 'sign & verify'
2. Click on 'address'
3. Impossible to select the address you want to use
4. You have to use Electrum instead

[2022-05-06 09:36] prusnak commented on #2918
Please open a new issue.

[2022-05-06 10:49] Perlover opened #5343 "Label files moved from Dropbox to Local file system become incompatible"
**Describe the bug**

When copying label files (`*.mtdt`) from the Dropbox Apps/TREZOR folder to the local folder (Linux for example: `/home/$USER/.config/@trezor/suite-desktop/metadata`) for storing labels and running Suite, a lot of errors of about this content are obtained (they quickly pop up and disappear from view):

"Failed to load labeling data: Unsupported state or unable to authenticate

[2022-05-06 12:27] andrewkozlik opened #5344 "Support Zcash NU5"
Zcash will soon [1] deploy the NU5 upgrade to mainnet. Currently NU5 is running on Zcash testnet. Suite only supports v4 transactions. As a result of the upgrade Suite users will not be able to spend UTXOs created in v5 transactions. However, they will still be able to spend UTXOs created in v4 transactions and earlier-version transactions.

In order to spend a UTXO created in a v5 transaction, Su

[2022-05-06 13:59] LukAss741 commented on #4193
Since about a month ago it started requiring permissions to access my google drive after every launch again.

Is there any way I can transfer my labels from google drive to local disk?

[2022-05-06 15:01] marekrjpolak commented on #5285
The response caching should prevent this from happening, but we have to be subscribed to the scripthashes first to make it work. Until now Suite was subscribing only explicitly, later in the discovery process. I'm going to do it implicitly for every scripthash request, which should resolve both this and https://github.com/trezor/trezor-suite/issues/5267.

[2022-05-09 06:32] bosomt opened #5347 "Suite uses incorrect default logo for T1"
**Describe the bug**
See photos of default logo in Trezor Wallet and default logo in Trezor Suite.
Suite is not using default logo loaded in FW but it loads different logo /with old round design/ and device name is never again displayed.

**Steps to reproduce:**
1. a
2. b
3. c

**Info:**
 - Suite version: desktop 22.5.1 (06b93c51d07e8dfbd153c3e1569911884caf97a2)
 - Browser: Mozilla/5.0 (Macintosh;

[2022-05-09 07:12] bosomt opened #5348 "Missing pictures in Trezor news section of dashboard"
**Describe the bug**
We are missing pictures in Trezor news section of dashboard.
Reproduces on multiple computers/OS, same results in web and app version of Suite.
Issue is not persistent. Sometimes you see pictures sometimes not.
All you see is 403 error in console.

**Steps to reproduce:**
1. Load latest version of Suite on staging 22.5.1
2. Navigate to 'Dashboard'
3. Observe pictures.

**Info:

[2022-05-09 07:31] bosomt commented on #5348
i was able to reproduce it on production server

<img width="1205" alt="image" src="https://user-images.githubusercontent.com/31506317/167361523-4cd20b8f-1dd4-42dc-a8ab-9c2a52dd40d4.png">

**Info:**
 - Suite version: web 22.4.3 (969161f41dcd889fa1fb0cf5e1d3437fddd8c26d)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:100.0) Gecko/20100101 Firefox/100.0
 - OS: MacIntel
 - Screen: 1680x

[2022-05-09 08:07] hynek-jina commented on #5348
It appears on older versions as well. So it is probraly not a Suite issue..

[2022-05-09 09:06] sime commented on #5348
Looks like security for cdn.trezor.io is too high? If it is only reverse proxying static assets, it may be worth reducing the security level in CloudFlare. @vdovhanych Is this something you would know?

Below is screenshot from my own CloudFlare account.
![Screenshot 2022-05-09 at 11 04 37](https://user-images.githubusercontent.com/216917/167377768-6a2f1d1a-1c5b-4754-a95b-9e60e1448f59.png)

[2022-05-09 09:09] mroz22 opened #5349 "@trezor/connect documentation and examples"
Trezor-in-monorepo https://github.com/trezor/trezor-suite/pull/5212 introduced new documentation and examples. Only some parts of it had been fully updated at the time of merge.

### @trezor/connect-examples
- [x] agree on folder structure? Incorporate into monorepo structure or not?
- [x] node example works
- [x] electron renderer with asset works (dev, and build)
- [x] electron renderer with pop

[2022-05-09 09:23] #5328 closed, assigned to dahaca

[2022-05-09 09:23] #5339 closed, assigned to dahaca

[2022-05-09 09:23] #5330 closed, assigned to dahaca

[2022-05-09 09:25] vdovhanych commented on #5348
That's not on our end, cnd only rewrites the request to origin, meaning https://medium.comstatic/medium/images/max/1024/1*F%C3%9793-30MpUnmD360A.jpeg is not accessible at all. I would not reduce security as its likely not related to this.

[2022-05-09 09:48] vdovhanych commented on #5348
on one more look, is it possible medium changed the url for its static files?

[2022-05-09 09:52] vdovhanych commented on #5348
We will try to fix the URL handling on our CDN for this. I will notify you once I've done it.

UPDATE: So this is the issue of Medium (blog service provider) blocking many IPs from our cloud provider. Meaning our CDN that reforwards the request to blog is blocked, and no pictures are loaded. The trezor news API handles text, and it directly communicates through API with Medium.
cc @hynek-jina @sim

[2022-05-09 10:08] kelvinwop commented on #3214
![image](https://user-images.githubusercontent.com/30770221/167388628-a5eb70e3-88d6-4cda-a9b6-d1dce7774f5c.png)
![image](https://user-images.githubusercontent.com/30770221/167388683-b828285b-543d-4cf6-8060-c3efd54af817.png)

[2022-05-09 10:12] kelvinwop commented on #3214
![image](https://user-images.githubusercontent.com/30770221/167389375-f9686fbc-910e-45b0-bed1-93a979b88413.png)

![image](https://user-images.githubusercontent.com/30770221/167389913-bd03b539-b844-477d-82f5-ad96b7075d22.png)

[2022-05-09 11:18] mroz22 opened #5350 "@trezor/conenct deployment"
tasks here:

- [x] decide versioning strategy and document it. we have reached a preliminary decisions on that there will be multiple versions available from connect.trezor.io with `connect.trezor.io/9` holding always the latest version  and `connect.trezor.io/9.0.0` containing the exact pinned version. We also probably want something like connect.trezor.io/canary for those who like to live danger

[2022-05-09 11:55] Nodonisko opened #5351 "suite-native: Chip component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)
<img width="584" alt="Screenshot 2022-05-09 at 13 48 05" src="https://user-images.githubusercontent.com/5837757/167403996-c992daec-1b01-44a8-8c2f-f513894cd2df.png">

**Spec:**
1. Recommended props:
[code]
2. Don't forget tests

In case #5372 won't be done before this, use normal Icon component and we

[2022-05-09 12:10] mroz22 opened #5352 "deprecate old connect-explorer"
I don't think we are going to commit anything here https://github.com/trezor/connect-explorer

so please archive this repo.

[2022-05-09 12:44] mroz22 opened #5353 "@trezor/connect missing tests fixtures"
Add more @trezor/connect tests

### High priority
Before we go on with the release of newly migrated @trezor/connect version 9 (#5212), we should probably fill in gaps of missing tests fixtures.

- [x] tezosSignTransaction https://github.com/trezor/trezor-suite/pull/5682
- [x] binanceGetAddress https://github.com/trezor/trezor-suite/pull/5682
- [x] binanceGetPublicKey https://github.com/trezor/tre

[2022-05-09 13:04] bosomt commented on #5328
**QA OK**

but new issue created - https://github.com/trezor/trezor-suite/issues/5362

**Info:**
 - Suite version: web 22.6.0 (54abdebf4991620800bd7fe718fdb99f9efed80f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:100.0) Gecko/20100101 Firefox/100.0
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.11.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 - Transpor

[2022-05-09 13:04] tsusanka commented on #5352
And I will point to https://github.com/trezor/trezor-suite/tree/develop/packages/connect-explorer in the Readme correct?

[2022-05-09 13:14] Nodonisko opened #5354 "suite-native: (Input) Hint component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)

<img width="464" alt="Screenshot 2022-05-09 at 15 08 17" src="https://user-images.githubusercontent.com/5837757/167416738-52b40fb2-43ed-49fd-a0ee-9c39a4d95611.png">

**Spec:**
1. Recommended props:
[code]
2. Icon and color will be choosed by `type` prop

[2022-05-09 13:20] Nodonisko opened #5356 "suite-native: NumPadButton"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)

<img width="227" alt="Screenshot 2022-05-09 at 15 16 00" src="https://user-images.githubusercontent.com/5837757/167418193-6245a5f4-d6e4-47d4-9e2a-e4403a9404dc.png">

**Spec:** [Notion](TODO)
1. Recommended props:
[code]
2. TODO: Think about animations when button is pressed

[2022-05-09 13:30] Nodonisko opened #5357 "suite-native: IconButton component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=48%3A2819)

<img width="659" alt="Screenshot 2022-05-09 at 15 21 10" src="https://user-images.githubusercontent.com/5837757/167419924-de93384c-1ba7-46ba-9e1a-1f6b55ce7629.png">
<img width="197" alt="Screenshot 2022-05-09 at 15 20 56" src="https://user-images.githubusercontent.com/5837757/167419932-b592f38b-ce62

[2022-05-09 13:46] sorooris commented on #3214
@kelvinwop hey Kelvin, screenshots alone don't usually qualify as bug reports; could you maybe provide precise steps to reproduce, ideally in a single comment to keep the issue tidy? Thanks!

[2022-05-09 14:16] mroz22 opened #5358 "@trezor/connect stellar plugin"
trezor-connect is being migrated from [old repository](https://github.com/trezor/connect/) to this place.

Asses the state of stellar 3rd party implementation. Are there some? Is @trezor/connect version 9 good enough for them to work?

We probably should create @trezor/connect-plugin-stellar [see in the old codebase here](https://github.com/trezor/connect/blob/develop/src/js/plugins/stellar/plugin

[2022-05-09 14:17] mroz22 commented on #5352
yes. makes sense.

[2022-05-09 14:45] mroz22 opened #5359 "@trezor/connect - unify bip39 words constants"
bip39 words are duplicated (suite and connect). should be unified in one package.

[2022-05-09 15:32] bosomt commented on #2643
**QA NOK**

issue is still present
app, tor off, vpn off,
i just got 100+ notifications about new confirmed transactions

https://user-images.githubusercontent.com/31506317/167444798-f7c97c82-affb-4331-bc29-448e1bc1de6f.mov

**Info:**
 - Suite version: desktop 22.5.1 (06b93c51d07e8dfbd153c3e1569911884caf97a2)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, li

[2022-05-09 20:23] Nodonisko opened #5360 "suite-native: Search Input Component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)
<img width="284" alt="Screenshot 2022-05-09 at 22 23 24" src="https://user-images.githubusercontent.com/5837757/167491404-a5a97755-b79b-4263-b43c-d1091435cf9e.png">

**Spec:**
1. Recommended props:
[code]
2. Don't forget tests

[2022-05-09 20:29] Nodonisko opened #5361 "suite-native: Icon component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=32%3A657)

**Spec:**
1. Recommended props:
[code]
2. Should be easy to add to more icons in SVG

[2022-05-10 06:32] bosomt opened #5362 "Address field reports `Required` in Sign dialogue"
**Describe the bug**
Address field reports `Required` when i select random one from drop down menu for first time.
When you select address for second time warning disappears.
I was only able to reproduce it on dev master and on on 22.3.2 or 22.5.1 version of Suite.

**Info:**
 - Suite version: web 22.6.0 (54abdebf4991620800bd7fe718fdb99f9efed80f)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X

[2022-05-10 08:15] STew790 commented on #5330
**QA OK**

Green tick is present when correct address is entered.

![image](https://user-images.githubusercontent.com/48477147/167581712-a866a9f1-9817-4777-be01-a01f58e06e1e.png)
**Info:**
 - Suite version: desktop 22.6.0 (54abdebf4991620800bd7fe718fdb99f9efed80f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3

[2022-05-10 08:15] STew790 commented on #5339
**QA OK**

Back button is visible.

**Info:**
 - Suite version: desktop 22.6.0 (54abdebf4991620800bd7fe718fdb99f9efed80f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.10.5 regular (revision 3f12742669bd782cac374a1750d517f4fd88c43b)

[2022-05-10 08:35] bosomt commented on #5341
I'm only able to reproduce it with **unsigned** firmwares like `trezor-fw-regular-1.11.1-85a26d2c.bin`.
Works as expected with `trezor-1.11.1.bin`

[2022-05-10 08:41] tsusanka commented on #5352
Done. Nothing to QA.

[2022-05-10 08:41] #5352 closed, assigned to tsusanka

[2022-05-10 08:59] overcat commented on #5358
The latest trezor-connect version is 8.2.8, I'm not sure what you mean by **@trezor/connect version 9**.

There is a bug in the latest version that prevents `pathPaymentStrictSend` from working properly, I've submitted a PR to fix it, I know of the following services that use trezor-connect, only laboratory is currently affected by this bug
- https://laboratory.stellar.org/
- https://accountviewer

[2022-05-10 09:28] #5362 closed, assigned to dahaca

[2022-05-10 10:23] Nodonisko commented on #5305
Not sure if I understand problem, you don't want to add these dependencies because they should be here only for dev and not for production? Why not adding them as `devDependecies`.

[2022-05-10 10:37] wendys-cats commented on #5362
**QA OK on develop branch.**

Tested against production (bug not present, OK) 22.4.3  and against  staging (bug present, as reported) 22.5.1 (06b93c51d07e8dfbd153c3e1569911884caf97a2).

**Info:**
 - Suite version: web 22.6.0 (2166f57b6d39157dddf245e3e68778c7de9ddc42)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36
 -

[2022-05-10 11:02] fusionpk commented on #3185
How is this closed? It's not even close to fixed. It's atrocious and extremely annoying. Web wallet used to work fine.

Now labels don't show up in any export (randomly a few labels do, but 95% don't and I can't recreate why a few do).

Labels in general have very little explanation/documentation. For example in suite, why is there 2 different types of label? i.e. if you label a receiving address,

[2022-05-10 11:12] mroz22 commented on #5246
Should be fixed as part of connect migration

[2022-05-10 12:15] marekrjpolak commented on #5076
Waiting for @mroz22 to give back the stolen commit :cop: as this should be implemented at the place heavily affected by it.

[2022-05-10 12:43] sime commented on #5358
v9 is the integration https://github.com/trezor/connect into the trezor-suite repository, which includes efforts to convert the codebase to TypeScript. You are right that it is not released yet.

[2022-05-10 13:23] tsusanka opened #5368 "Migrate to new blog solution"
On the new trezor.io we plan to migrate our blog from medium.com to ghost.org. We will need to reflect this change in Suite. There seems to be number of ways:

1. It seems Ghost is capable of [RSS feed as well](https://ghost.org/integrations/custom-rss/) so we could reuse our `news-api`. Something to be confirmed though.
2. Use Ghost API through backend caching, we can discuss.

Let's also not for

[2022-05-10 20:27] Nodonisko opened #5372 "suite-native: Add ColoredIcon component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=32%3A657)

<img width="138" alt="Screenshot 2022-05-09 at 22 28 59" src="https://user-images.githubusercontent.com/5837757/167492228-491a86ba-beef-4302-9049-d33d4175630a.png">

**Spec:**
1. Recommended props:
[code]
2. Should be easy to add to more icons.
3. Will be best to reuse generate icon script like it's

[2022-05-11 08:29] bosomt opened #5373 "Close/Continue buttons size inconsistency"
**Describe the bug**
There is Close/Continue buttons size inconsistency in latest EAP version of Suite.
See screenshots, some of them are doubled , some not.

**Steps to reproduce:**
1. Update firmware or onboard device
2. Observe button sizes

**Info:**
 - Suite version: desktop 22.5.1 (33055e92e287a51213bde7a99eff05cb2edccc8e)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebK

[2022-05-11 09:47] tsusanka commented on #5368
Upon further discussion it seems that the product team decided there will be no blog posts in Suite, the new dashboard won't show them. So let's not worry about it.

[2022-05-11 09:47] #5368 closed, assigned to nobody

[2022-05-11 10:28] tomasklim opened #5375 "Remove deprecated News API package"
Today (11th May 2022), the `news-api` package got deprecated and now returns an empty array `[]`. #5374

When the majority of users update to `>=22.6.1` app version in which `News` section on Dashboard was removed, we can remove this package and kill `news-api` server running on `https://news.trezor.io`. The reason to wait is to avoid fetching errors in older app versions.

[2022-05-11 10:50] tomasklim opened #5376 "Missing link to Medium articles in Suite App"
`News` section got removed from Suite app (#5374). Now, Suite users have no information that we have good content writers.
![open in medium](https://user-images.githubusercontent.com/33235762/167830882-ff1bfc1c-5967-443b-bcca-2a9b0188f929.png)

It would be nice to add some kind of tile to Suite Guide.

![Screenshot 2022-05-11 at 12 48 40](https://user-images.githubusercontent.com/33235762/16783251

[2022-05-11 10:52] tsusanka opened #5377 "Implement firmware hashing check"
In latest FWs (2.5.1 and 1.11.1) we have introduced (https://github.com/trezor/trezor-firmware/pull/2239) a feature capable of hashing the contained firmware. We would like to check the hash against the correct one in Suite. If the check fails let's display the very same warning as [here](https://github.com/trezor/trezor-suite/pull/5291/files#diff-fea5400a179f06014a3400342669fdaec3d3f95d25b74d2e7f

[2022-05-11 11:40] dahaca commented on #5373
I actually already fixed it in my [PR](https://github.com/trezor/trezor-suite/blob/d1d62b52efdb7aabedef0c30472e57c76765bbb4/packages/suite/src/components/firmware/CheckSeed.tsx#L49) but will move that change to a separate one so that it can be merged outright.

[2022-05-11 12:02] marekrjpolak commented on #5285
I have the first results. It seems that enforced subscription resolves this and #5267 and improves the performance (discovery duration) by 40-60 % over clearnet and about 10-15 % when using Tor. But I still have to test it properly.

Btw @Kixunil may I ask how many opened scripthash subscriptions is electrs able to handle at once? In some rather excessive test case I have about 1200 subscriptions.

[2022-05-11 14:46] #3461 closed, assigned to mroz22

[2022-05-11 21:04] Sticatel opened #5381 "Transaction Signing error: session not found"
Sign transaction error: session not found when I try to send BTC to my other non-trezor wallet.

Tried with different USB ports as well cables.

-   Suite Version: App 22.4.3
-   OS: Linux Debian 11 KDE Kernel version: 5.10.0-13-amd64
-   Bridge: version 2.0.27
-   Firmware Version: model T 2.4.3
-   Tor is enabled on the app

Steps to reproduce the behavior:

1. Go to your bitcoin account
2. Clic

[2022-05-12 04:07] hynek-jina commented on #5381
@sebas05000
Thank you for your input. However it seems too general to be reproduced. Please contact our support! Thx
https://trezor.io/support/

[2022-05-12 04:07] #5381 closed, assigned to nobody

[2022-05-13 08:52] Liopus opened #5384 "Win 10 connection issue"
**Describe the bug**
New Trezor can not connect with Win 10.

- Bridge installed
- Win Update up to date
- original wire used
- alternative wire used
- reinstalation of Trezor Suite
- reset of PC
- web browser (on chrome) tried
- no firewall or any special SW in PC
=> PC did not recognize the device. Same device worked on MacBook with original wire.

our solution - Wallet has been created on MacBo

[2022-05-13 12:20] hynek-jina commented on #5384
@Liopus
Thank you for your input. However it seems too general to be reproduced. Please contact our support! Thx
https://trezor.io/support/

[2022-05-13 12:20] #5384 closed, assigned to nobody

[2022-05-14 09:06] chovanjo opened #5387 "Trezor news missing images"
![image](https://user-images.githubusercontent.com/22910341/168419064-3292a972-b4f3-41e2-a0cd-8d997328b350.png)

Version 22.4.3

[2022-05-14 09:54] MichielBruijn commented on #2463
If I understand correctly locktime is a tool to postpone/lock the transaction for an x amount of blocks. So the expected behaviour should be locktime > current blockheight.
There is no point in creating a Tx with locktime < current blockheight IMHO.

[2022-05-16 00:24] ArchBirdie commented on #3213
This is still an issue, and it is very much neccesary.

[2022-05-16 06:45] bosomt commented on #5387
Duplicity of https://github.com/trezor/trezor-suite/issues/5348

[2022-05-16 06:47] #5387 closed, assigned to nobody

[2022-05-16 08:56] #5348 closed, assigned to tomasklim

[2022-05-16 09:46] yohaaan opened #5389 "Blog article banners not loading properly in Trezor Suite"
**Describe the bug**
Blog article banners not loading properly in Trezor Suite. Only happens to few recent ones.

**Info:**

-   Suite Version: app/web, latest
-   Browser: Chromium, Version 99.0.4844.51 (Official Build) (64-bit)
-   OS: NixOS 21.11 (Porcupine); Build ID: 21.11pre-git

**How to reproduce**
1. Log into Suite
2. Go to blog section

**Expected behavior**
Article banners should load p

[2022-05-16 09:48] hynek-jina commented on #5389
Duplicity of: https://github.com/trezor/trezor-suite/issues/5348

[2022-05-16 09:48] #5389 closed, assigned to nobody

[2022-05-16 10:15] yohaaan commented on #5389
I always fail to find the other issue 😢

[2022-05-16 10:35] prusnak commented on #5344
Mainnet NU5 upgrade activates on 31st of May - see https://z.cash/upgrade/nu5/ - this should get higher priority and an assignee.

[2022-05-16 11:18] #5320 closed, assigned to marekrjpolak

[2022-05-16 13:12] prusnak opened #5391 "Do not try to broadcast transactions with a timelock"
If user has created a transaction where `lock_time > current block height`, the Suite should not offer to "broadcast" the transaction = the broadcast button should be disabled. Ideally with an explanation that the transaction could not be broadcasted to the mempool and should rather be saved (copy-paste as hex?) and broadcasted later.

[2022-05-16 13:12] prusnak commented on #2463
We can also disable the "broadcast" button for such transaction since the broadcasting will always end up with the error: https://github.com/trezor/trezor-suite/issues/5391

[2022-05-16 13:14] MichielBruijn commented on #2463
Seems like a good idea to me.

[2022-05-16 16:14] andrewkozlik commented on #5377
The `FirmwareUpdate` method in trezor-connect should be extended with an additional step:
If the firmware version is >= 1.11.1 or >= 2.5.1, then after the firmware is uploaded trezor-connect should wait for the device to reboot into firmware mode and then validate the firmware hash.

**Validation of the firmware hash**
1. Generate a random 32-byte challenge.
2. When the Trezor is in firmware mode

[2022-05-16 17:57] #2924 closed, assigned to szymonlesisz, mroz22

[2022-05-16 17:58] mroz22 commented on #2924
The "refactor" part was not fully done. But connet is in the monorepo at last.

[2022-05-17 08:26] tomasklim opened #5397 "@trezor/connect-analytics"
Add analytics to connect popup
- [x] Create `@trezor/connect-popup-analytics`
- [x] Create new data endpoints
    - [x] `https://data.trezor.io/connect/log/develop.log`
    - [x] `https://data.trezor.io/connect/log/stable.log`
- [x] Decide web / desktop endpoints

[2022-05-17 08:54] bosomt opened #5398 "Suite installs intermediary firmware"
**Describe the bug**
Suite installs intermediary firmware when you try to reinstall 1.11.1 firmware.
See screenshots.
You will eventually end up with bricked device.
Device recovered by trezorctl firmware-update -f trezor-1.11.1.bin

**Steps to reproduce:**
1. Install latest firmware version via Suite
2. Reinstall latest firmware version via Suite
3. Observe

**Info:**
 - Suite version: desktop 22

[2022-05-17 09:12] sime commented on #5398
To avoid future foot guns, turn this console warning into a modal, informing the user what action is about to happen.

I don't have all the context (I'm hazy how intermediary FW actually works), so feel free to shoot me down:

![intermediary-fw-modal](https://user-images.githubusercontent.com/216917/168775413-2fe4ee7c-ea90-4703-bbdb-7de6af81b2c3.png)

[2022-05-17 09:12] tomasklim opened #5399 "Suite menu items design is broken"
**Describe the bug**

- Dashboard focus shade does not have a top gap
- Accounts text is not in the middle (maybe dashboard and accounts should be aligned to left)
- Accounts focus shade left gap is bigger than the dashboard left gap
- When you are on the dashboard/in accounts, the menu item font is bigger and cannot be focused/clicked again.

**Info:**

-   Suite Version: 22.5.2/22.6.0

**How to

[2022-05-17 09:14] tomasklim opened #5400 "Missing bottom gap under "Complete setup" button in final onboarding step"
**Info:**
-   Suite Version: app, 22.5.2

**How to reproduce**
Steps to reproduce the behavior:

1. Go to final onboarding step and have small window

**Screenshots**
![Screenshot 2022-05-17 at 11 06 23](https://user-images.githubusercontent.com/33235762/168775893-ec60b6ef-e52e-4ed0-8416-779ef1962e2e.png)

[2022-05-17 09:26] tomasklim opened #5402 "Change wallet focus"
**Info:**

-   Suite Version: 22.5.2

**How to reproduce**
Steps to reproduce the behavior:

1. Open switch wallet modal
2. (Focus labeling button (focus color is the same color as background))
3. Click on remember switch
4. Leave the rectangle and focus is still there

**Screenshots**

https://user-images.githubusercontent.com/33235762/168777888-0ac3699f-8ccf-43eb-a4a6-c60272861ff2.mov

[2022-05-17 09:29] tomasklim opened #5403 "Install custom firmware - Learn more"
**Describe the bug**
Install custom firmware `Learn more` button is pointing to https://wiki.trezor.io/Firmware_downgrade but it is a welcome page.

**Screenshots**
![Screenshot 2022-05-17 at 11 29 04](https://user-images.githubusercontent.com/33235762/168778865-39407be2-ee78-493f-bc1f-8203e5a23b34.png)

[2022-05-17 13:39] tomasklim opened #5407 "Analytics: 'select-wallet-type' always reports standard wallet type"
**Describe the bug**
It works in 22.1.1 but it does not work in 22.2.3

[code]

`walletNumber` is always `undefined` so wallet type is always `standard`

**Info:**

-   Suite Version: 22.5.2
-   Firmware: 1.11.1

**How to reproduce**
Steps to reproduce the behavior:

1. Open DevTools
2. Add hidden wallet
3. Check `select-wallet-type` analytics request
4. See that wallet type is `standard`

[2022-05-17 14:13] kolomaznikt commented on #5407
It would be great to have automated tests so things like this don't happen, or we catch them quickly.

[2022-05-17 17:28] Nodonisko opened #5413 "suite-native: Checkbox component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)

![Screenshot 2022-05-17 at 19 11 30](https://user-images.githubusercontent.com/5837757/168871746-38ffd79c-4948-46ac-9576-ed12a651926a.png)

**Spec:** [Notion](TODO)

1. Recommended props
[code]
2. Consider using [react-native-checkbox](https://github.com/react-native-checkbox/react-native-checkbox)

[2022-05-17 17:32] Nodonisko opened #5414 "suite-native: Implement animation library"
Best choice is [react-native-reanimated](https://github.com/software-mansion/react-native-reanimated/).

Don't forget to create at least one animation, Button component onPress effect for iOS will be best choice.

1. Animation specs are in Figma inspect (https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)

![Image](https://user-images.githubusercontent.com/2227592/171010

[2022-05-17 17:41] Nodonisko opened #5415 "Create test utils package"
1. Create package @trezor/test-utils
2. Package will consist of Provider component that will wrap tested components in all providers like (redux, intl, theme, styles...). It should looks similar like this:
[code]
3. Package will reexport [@testing-library/react](https://testing-library.com/docs/react-testing-library/intro/) and will export wrapped render function in Provider
[code]
4. Package shou

[2022-05-17 17:53] Nodonisko opened #5416 "RadioButton component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)
![Screenshot 2022-05-17 at 19 49 59](https://user-images.githubusercontent.com/5837757/168877939-b7b3c47e-6134-4bb9-9d85-d23f35d80651.png)

**Spec:**
1. Recommended props:
[code]

Some inspiration:
https://callstack.github.io/react-native-paper/radio-button.html

[2022-05-17 18:06] Nodonisko opened #5417 "Switch component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)
![Screenshot 2022-05-17 at 19 55 13](https://user-images.githubusercontent.com/5837757/168878764-5147289b-fac3-488a-ba69-c2258e63c907.png)

**Spec:**
1. Recommended props
[code]
2. Consider using https://reactnative.dev/docs/switch but you will probably need to create component from scratch because o

[2022-05-17 18:35] Nodonisko opened #5419 "SelectableListItem + ListItem component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=40%3A1185)
![Screenshot 2022-05-17 at 20 17 08](https://user-images.githubusercontent.com/5837757/168883322-71953e4a-cc1a-46ac-8190-caf92bbeb628.png)
![Screenshot 2022-05-17 at 20 16 59](https://user-images.githubusercontent.com/5837757/168883330-5f3079c3-81a6-4924-872e-199a8e7e2276.png)
![Screenshot 2022-05-17

[2022-05-17 18:54] Nodonisko opened #5420 "Select component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=235%3A6027)
![Screenshot 2022-05-17 at 20 47 58](https://user-images.githubusercontent.com/5837757/168887958-814a4963-9998-48c1-b65f-a175922c7820.png)
![Screenshot 2022-05-17 at 20 46 59](https://user-images.githubusercontent.com/5837757/168887959-d9370d6a-c30b-490c-911b-d43d9e592ad4.png)
![Screenshot 2022-05-1

[2022-05-17 19:13] Nodonisko opened #5421 "SlideDownModal component"
**Design:** [Figma](https://www.figma.com/file/Z6AGVUmKQzLNtDozFamW7f/s2-Mobile?node-id=68%3A7562)
![Screenshot 2022-05-17 at 20 57 11](https://user-images.githubusercontent.com/5837757/168891475-51839d55-54cb-4689-a855-8c8431e79423.png)
![Screenshot 2022-05-17 at 20 48 01](https://user-images.githubusercontent.com/5837757/168891483-ecd45570-a412-4034-b66b-783bcad8d401.png)

**Spec:**
1. Props
[co

[2022-05-17 19:18] #5361 closed, assigned to Nodonisko

[2022-05-17 19:31] Nodonisko opened #5422 "Implement router solution for mobile app"
There are only two options: `react-navigation` and `react-native-navigation`. Comparsion is here https://blog.logrocket.com/react-navigation-vs-react-native-navigation/

[2022-05-17 19:32] Nodonisko opened #5423 "Create package for intl"
Separate as much as possible of `intl` logic to separated package and use it in suite and suite-native

[2022-05-18 08:01] tomasklim opened #5424 "Modal header on mobile screen"
**Describe the bug**
- Bulb is over text if text is too long.
- margin/padding on mobile is unnecessarily big

**Info:**

-   Suite Version: web, 22.6.0

**How to reproduce**
a. Open a modal with long text. E.g. `Xpub`
b. Check margin/padding via devtools

**Screenshots**
![Screenshot 2022-05-18 at 9 44 51](https://user-images.githubusercontent.com/33235762/168988024-eefd221c-04d0-4262-b3ad-a9967c

[2022-05-18 08:50] matejkriz commented on #5398
I believe the bug is fixed in https://github.com/trezor/trezor-suite/commit/a4ec55219fe123c0bb073d4b8338041eb176add4, right @bosomt?

[2022-05-18 08:53] bosomt commented on #5398
**QA OK**

@matejkriz right !

**Info:**
 - Suite version: desktop 22.5.2 (a4ec55219fe123c0bb073d4b8338041eb176add4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.5.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model 1 1.11.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca9

[2022-05-18 08:55] matejkriz commented on #5398
The purpose of intermediary FW is to simplify the process of upgrading FW from older T1 devices, that can't install the latest FW directly. So instead of upgrading to 1.6.3 and then do the same process again to upgrade to the latest, user could always click to install the latest and the gradual upgrade (installing intermediary first and then the latest) happens under the hood.

Intermediary should

[2022-05-18 08:56] STew790 commented on #4604
Unfortunately, still happening.

**Info:**
 - Suite version: desktop 22.5.2 (a4ec55219fe123c0bb073d4b8338041eb176add4)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.5.2 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.5.1 regular (revision 85a26d2c9593bcdf858c2d718d79951ca927a0c3)
 -

[2022-05-18 11:44] #5356 closed, assigned to juriczech

[2022-05-18 11:49] Nodonisko opened #5429 "suite-native: Setup mobile app build for Android with Github actions"
- Setup CI build using created fastlane lanes for Android
- use Github CI

Related to https://github.com/trezor/trezor-suite/issues/5521

[2022-05-18 11:55] Nodonisko opened #5430 "Prepare strategy for mobile app early access"
Prepare some strategy how to publish mobile app version for early access and internal testing.

Options for Android:
- Google Play - beta, alfa, internal testing should be possible
- https://appcenter.ms

Options for iOS:
- Testflight

**Prerequisities:**
- company Google Play developer account
- company Apple Developer account
- #5429
- https://github.com/trezor/trezor-suite/issues/5722

[2022-05-18 11:55] Nodonisko commented on #5430
Who can create these accounts? Maybe @tsusanka?

[2022-05-18 12:22] juriczech commented on #5357
@Nodonisko @bouchja1 Is this IconButton going to be reusable also for things like icon in Input component for clearing texts etc? Currently working on the clear functionality of the input and am on crossroads whether it should be just Pressable with Icon inside or if this icon button would be suitable for that.

https://tppr.me/i1ztv

[2022-05-18 13:04] hynek-jina opened #5431 "Automate adding to projects"
**Issues**
- [ ] When there is a new issue with `mobile-app` label add it to project `Suite Mobile`.
  -  Otherwise add that issue to `Suite Desktop` project.
- [ ] Then rename the project `Issues Suite` to `Suite Desktop`
- [x] Remove automated adding to project `Backlog`

**Pull Requests**
- [x] Add all new PR within this repo to https://github.com/orgs/trezor/projects/62
- [x] Remove the previo

[2022-05-18 13:36] juriczech opened #5432 "suite-native: Form Input Component"
Create Form Input Component (viz. https://tppr.me/uNeqS)

Recommended props:
[code]

[2022-05-18 14:54] hynek-jina opened #5437 "Inconsistent fiat rates"
**Describe the bug**
Fetched fiat rates are consistent

**Steps to reproduce:**
1. Search for older transaction
2. Record the fiat values
3. Check that tomorrow or on web Suite

**Info:**
 - Suite version: desktop 22.5.2 (a4ec55219fe123c0bb073d4b8338041eb176add4)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.5.2 Chrome/94.0.4606.8

[2022-05-18 15:04] mroz22 opened #5438 "Rework oauth flows"
this should be finished and deployed by 1st August

https://developers.googleblog.com/2022/02/making-oauth-flows-safer.html#disallowed-loopback

[2022-05-18 15:07] tsusanka commented on #5344
As discussed: we will wait with this one till mid-June to see what the demand is. Then we'll implement right away or a bit later. @hynek-jina will instruct support to monitor the situation.

[2022-05-18 15:39] tsusanka commented on #2463
That is a better idea. Let me close this one.

[2022-05-18 15:39] #2463 closed, assigned to nobody

[2022-05-18 17:46] Nodonisko commented on #5357
@juriczech Keep it simple, use Pressable or maybe better TouchableOpacity and normal Icon.

[2022-05-18 18:47] komret opened #5440 "Update package READMEs"
Update _README_ in each package to make it more useful for developers. Basic package-specific info should go into a _README_, higher level documentation should be gathered in _docs_ package.

### Some considerations:

General:
- [x] Should the READMEs also contain info relevant to dev team only, not to 3rd party devs? E.g. links to _Notion_, directions requiring access to _Keboola_ etc.
- Yes

`an

[2022-05-19 07:37] mroz22 commented on #5423
+ use it in connect-popup

[2022-05-19 09:13] #5373 closed, assigned to dahaca

[2022-05-19 09:20] #5354 closed, assigned to bouchja1

[2022-05-19 10:11] bosomt commented on #5343
I can confirm that I was able to reproduce it.
.mtdt files are incompatible when transferred both ways.
I switched them both ways Dropbox  <> Local storage and Trezor Suite reported
`Failed to load labeling data: Unsupported state or unable to authenticate data` both times.

I'm not sure if this expected or not. We have to ask developers of labeling.

[2022-05-19 10:56] tsusanka opened #5445 "Update messaging system"
We would like to:
1. Remove the phishing warning. We will introduce it again in future if needed.
2. Add a warning about revision `e1c605ca90c6107befe11692b4675b7537f3a658` as in https://github.com/trezor/trezor-suite/pull/5291.

[2022-05-19 10:58] #5076 closed, assigned to marekrjpolak

[2022-05-19 11:38] STew790 commented on #5373
**QA OK**

Button now correct size.

![image](https://user-images.githubusercontent.com/48477147/169284614-d793f6b8-b2b5-4ef1-b9c9-f864d8292520.png)

**Info:**
 - Suite version: desktop 22.6.0 (681bbc1c50d757d22cf77888090209eef0433915)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux

[2022-05-19 11:42] STew790 commented on #5348
**QA OK**

There is now "news" section present now.

**Info:**
 - Suite version: desktop 22.6.0 (681bbc1c50d757d22cf77888090209eef0433915)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model 1 1.11.1 regular (revision 85a26d2c9593bcdf858c2d71

[2022-05-19 11:51] jerechinsky commented on #5403
Fixed it by adding links to firmware downgrade pages of Model T and Model One

[2022-05-19 11:51] #5403 closed, assigned to jerechinsky

[2022-05-19 11:57] shiny-mountain opened #5446 "Stellar: Issue with signing transactions that include ClaimClaimableBalance operation"
Trezor device freezes when I attempt to sign the transaction that includes one of the newer operations added to the Stellar protocol - ClaimClaimableBalance .
This happens with any transaction that includes this operation on the latest library version 8.2.8
It looks like ClaimClaimableBalance operation may not be supported by Trezor connect yet, along with some other newer Stellar operations.

[2022-05-19 12:11] bouchja1 commented on #5419
@Nodonisko What is a purpose of **rightComponent?: React.ReactNode** in BasicListItem type? Is it just for passing Radio/Checkbox/Whatever for _SelectableListItem_? Does it make sense to use it for _ListItem_ too? Despite it has its own **hasRightArrow** prop to show an arrow?

[2022-05-19 12:13] #5043 closed, assigned to tomasklim

[2022-05-19 12:49] mroz22 commented on #5343
Hello,
there is a mismatch in how files are saved. What you download from dropbox is in binary format. What suite saves and reads from local filesystem is expected to be in utf-8 format.

Thanks for reporting, we should do:
- [ ] add some format checks and show an error that makes sense
- [ ] unify it somehow.

[2022-05-19 12:57] sintezcs opened #5448 "trezorctl does not work on MacOS 12.3.1"
**Describe the bug**
trezorctl CLI does not work

**Info:**

-   OS: MacOS Monterey 12.3.1, Macbook Pro 14" M1
-   Python 3.9.10, virtualenv
-   trezor 0.13.0 python package

**How to reproduce**
Steps to reproduce the behavior:

1. Create and activate python virtualenv
2. `pip install trezor`
3. `trezorctl`
4. See error:
[code]

**Expected behavior**
trezorctl CLI starts up and displays help mess

[2022-05-19 12:59] sintezcs commented on #5448
wrong repo, closing this

[2022-05-19 12:59] #5448 closed, assigned to nobody

[2022-05-19 13:13] Nodonisko commented on #5419
@bouchja1 Yea, it's for passing whatever component you need, but it doesn't make sense for ListItem since only possible component for ListItem is right arrow.

[2022-05-19 13:45] #5187 closed, assigned to mroz22

[2022-05-19 14:33] tsusanka commented on #3728
CC @sime @hynek-jina on this one, I think it would make a lot of sense to do this one together with the [passphrase process improvement](https://www.notion.so/satoshilabs/Passphrase-v2-PP-gateway-7c41fab9053842969e70e913a94056f0) you have discussed.

[2022-05-19 14:42] #3252 closed, assigned to dahaca

[2022-05-19 16:33] marceljay commented on #4546
Is there a mitigation to this issue?
I would propose to use the hidden wallet feature where I just use passwords like "1", "2", "3", but not sure if there are any consequences to this hack.

[2022-05-19 16:52] prusnak commented on #4546
Sending a transaction to account to make it not empty.

[2022-05-19 19:44] Nodonisko commented on #5372
Pay attention to that in Figma some "colored" icons contains also raster graphics, which in theory we can support but will be much better use plain vector for everything, so we will need someone from graphics team to convert it.

[2022-05-20 00:43] deepcandles commented on #5344
Hi,

Zcash community is very much interested in v5 transactions, unified addresses & using Orchard shielded pool through Trezor. In fact, Zcash community has been waiting for years. I would recommend not waiting for mid-june.

You can clearly see the community excitement:
https://twitter.com/deepcandles/status/1509435834231001089
https://twitter.com/deepcandles/status/1526768137714028546

Plus I’m

[2022-05-20 01:58] nighthawk24 commented on #5344
Agree with @deepcandles 💯

The Zcash community funded this integration and is very eager to use it on their Trezor Model-Ts. Several Zcashers have purchased their first Trezor for this very integration.

Please monitor the NU5 upgrade going live on May 31st ~16:00 UTC

[2022-05-20 07:58] Z2z123 commented on #5344
Definitely agree, can’t wait for this integration. Will definitely be swapping from Ledger to a few Trezor T’s once integration date is confirmed and I know there are many others in the same boat

[2022-05-20 08:08] andrewkozlik opened #5452 "Rename "Signature" to "Raw transaction""
In the Send dialog when I click on details and scroll down I can see the raw transaction, but the heading states "Signature". This is somewhat incorrect. Each transaction contains one or more signatures which are contained in the raw transaction data. I propose renaming it to "Raw transaction".

![image](https://user-images.githubusercontent.com/42678794/169482432-4f38dd41-40e5-44d7-8374-59e43f250

[2022-05-20 08:19] prusnak commented on #5344
We know there is a demand for this feature, no need to write duplicate comments about it. Reading them takes developers' time which could have been spent elsewhere.

This particular issue is about v5 transaction support (which has been already implemented in Trezor Firmware) and this is going to be activated in Trezor Suite soon.

Shielded transactions are being tracked in another (firmware) issue

[2022-05-20 08:23] prusnak commented on #5344
As Andrew pointed out in the OP (Option 1), v5 TX support could be trivially achieved by changing these constants at the right moment (after NU5 is activated):

[code]

However, this approach has a disadvantage that users might send funds to a wallet that has not been NU5-enabled yet and they will not be able to spend them from there. I'll ask what's the state of other wallet implementations in th

[2022-05-20 09:17] prusnak commented on #5344
I implemented Option 1 in https://github.com/trezor/trezor-suite/pull/5453

If the support table at the bottom of https://z.cash/upgrade/nu5/ should be trusted, there should not be an issue to support v5 only straight away.

[2022-05-20 09:17] tomasklim commented on #5445
@tsusanka `e1c605ca90c6107befe11692b4675b7537f3a658` this revision is model `1`

And the previous one (`1e62209d024b7e84a7368be8175735372b8080c9 `) we added was also model `1`.

Do we want to add it?

[2022-05-20 09:36] tsusanka commented on #5445
`e1c605ca90c6107befe11692b4675b7537f3a658` does not seem to be in GitHub, how can you tell that it is model `1`? Oh or that comes from data analytics?

[2022-05-20 09:47] tsusanka commented on #5445
Anyway, let's add it. It is probably just some people playing around but it does not hurt. cc @andrewkozlik but he agreed
with this already on Slack.

[2022-05-20 09:48] tomasklim commented on #5445
Yes, it is from analytics. To be sure, I will add this revision for both models.

[2022-05-20 16:27] deepcandles commented on #5344
Thanks @prusnak for clear explanation. I understand it better.

[2022-05-21 02:58] luckytokidoki commented on #5344
fwiw v5 transactions fix the txid malleability problem. cheers!

[2022-05-23 06:53] #4946 closed, assigned to vdovhanych

[2022-05-23 07:12] bosomt commented on #4946
anything needed to be tested on QA side ?

[2022-05-23 07:50] #5445 closed, assigned to tomasklim

[2022-05-23 08:52] marnova commented on #3252
I've just found a bug. Fee is not changing if the fee rate is changed on decimal position. See attached screenshots.
<img width="500" alt="2" src="https://user-images.githubusercontent.com/103438830/169780381-5546af1e-2d99-47df-b53b-c350c8275399.png">
<img width="500" alt="2.1" src="https://user-images.githubusercontent.com/103438830/169780390-12597c04-b625-4b00-b2e0-741bc790e33d.png">
<img width=

[2022-05-23 09:09] #5416 closed, assigned to bouchja1

[2022-05-23 09:52] vdovhanych commented on #4946
@bosomt not really. This is just a developer-facing feature.

[2022-05-23 11:09] bosomt commented on #5246
**QA OK**

**Info:**
 - Suite version: desktop 22.6.0 (5e518f88a91368eb983b49f70453c2e91390abcb)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/22.6.0 Chrome/94.0.4606.81 Electron/15.3.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1680x1050
 - Device: model T 2.5.1 regular (revision a1d22890ee6a9ffec4edfc6e1b5b6c74d23855a3)
 - Transport:

[2022-05-23 11:09] #5246 closed, assigned to mroz22

[2022-05-23 13:54] #3875 closed, assigned to komret

[2022-05-23 14:16] bosomt commented on #3875
@dahaca anything that needs to be checked by QA
or regular regress test after Suite freeze is enough ?

[2022-05-23 15:09] matejkriz commented on #5431
Adding new PRs to new project already done here https://github.com/trezor/trezor-suite/pull/5459

[2022-05-23 15:10] #5267 closed, assigned to nobody

[2022-05-23 15:10] #5285 closed, assigned to marekrjpolak

[2022-05-23 15:12] matejkriz commented on #5431
Would be really nice to add **automation for moving PR from _Draft_ to _To be reviewed_** Column on `github.event.action == 'ready_for_review'` (when the PR status is changed from draft to ready for review...)

[2022-05-23 15:15] matejkriz commented on #5431
another nice-to-have idea is to move the PR to _To be reviewed_ column when `READY FOR REVIEW` label is added and also add that label when issue is moved to that column and remove the label when PR is moved from that column 🙂

[2022-05-23 16:25] komret commented on #3616
@ondracja Are you able to run the Cypress tests on an M1? If so, could you please update https://github.com/trezor/trezor-suite/blob/develop/docs/tests/e2e-suite-web.md or write down the difference from the current instructions in this thread? We could then close this issue.

[2022-05-23 17:58] dahaca opened #5463 "Warning toasts for cancelling a connect action"
Use warning toasts instead of errors when an action has been cancelled by a device or via Suite UI.

[2022-05-23 19:48] #5360 closed, assigned to juriczech

[2022-05-23 19:52] Nodonisko opened #5464 "Prepare E2E test solution for mobile app"
Only option here is [Detox](https://github.com/wix/Detox)

- [ ] should be in own package `@suite-native/e2e-tests` (if possible, maybe it will be problem because of Detox)
- [ ] should run on CI