[2021-02-23 17:48] jerechinsky opened #3468 "Send form - fee level switches by itself"
When setting custom fee to 0 and then choosing any of the other fee levels, the selected fee level switches back to _Custom_ by itself.

**Info:**
 - Suite version: desktop 21.2.2 (7e8958e206885cd7946f431b63dad3bd446ef82e)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.2.2 Chrome/87.0.4280.88 Electron/11.1.1 Safari/537.36
 - OS: Linux x86_64
 - Sc

[2021-02-23 18:01] jerechinsky commented on #3458
@szymonlesisz could you please advise whether this is a frontend issue or something more convoluted?

[2021-02-24 10:36] tsusanka commented on #2752
Summary of the thoughts above:
- @matejzak will prepare the design for the notifications/annoucements.
- The JSON will be signed. We can JOSE/JWS.
- We want to use JSON Schema to type the items.
- We will sign via the codesign workflow similarly to how we sign Suite.
- The config will live at data.trezor.io.
- The config will be stored directly in trezor-suite repository unless there is a strong a

[2021-02-24 12:57] tsusanka commented on #3384
Sent to QA. But to be on a safe side let's include it **after** the freeze so we can test it whole month "passively" in `develop` and we'll include it in April.

[2021-02-24 13:06] slowbackspace commented on #3464
I'm closing the issue as I believe it is solved. If using web version of Trezor Suite won't solve the problem for you feel free to reopen.

[2021-02-24 13:06] #3464 closed, assigned to nobody

[2021-02-24 13:44] IvaFingerova commented on #3361
@tsusanka @slowbackspace so the strings are in approved state so we are ready to rock and roll to the freeze :)

[2021-02-24 14:39] sorooris commented on #3402
Confirmed with @tsusanka that it's out-of-scope for QA, moving to Approved column.

[2021-02-25 09:57] tsusanka commented on #3041
@sorooris what's the verdict on this one?

[2021-02-25 10:57] #3192 closed, assigned to slowbackspace

[2021-02-25 10:57] #3361 closed, assigned to slowbackspace

[2021-02-25 10:57] #3463 closed, assigned to slowbackspace

[2021-02-25 10:59] #3085 closed, assigned to slowbackspace

[2021-02-25 11:06] #3437 closed, assigned to slowbackspace

[2021-02-25 11:25] njm1984 commented on #3364
@alex-jerechinsky Wanted to follow up here. All the labels work in Trezor Suite now - however, something changed on the web browser. My _newest_ labels don't show up on the browser, whereas they _do_ show up in Suite.

I did some testing, and I noticed that the browser wallets now use a different file in my Dropbox folder. I can see the label files that Suite used because if I edit one, Dropbox up

[2021-02-25 11:44] sorooris commented on #3041
Investigated and @STew790 will post details - couldn't replicate, let's close this issue :smirk:

[2021-02-25 11:48] STew790 commented on #3041
Tested this on 2 Win10 PCs today (thoroughly). Latest wallet and latest Trezor Suite works with WebUSB properly. After asking for a connected device, just selected the device and got into wallet/suite. **QA OK**

Suite: Web 9cf47b5b526bbb5cda585e717fbbf0f5b93b8cc0
Bridge: uninstalled
OS: Windows 10 [10.0.19042.804]
Browser: Chrome 88.0.4324.182

[2021-02-25 12:01] tsusanka commented on #3041
Ok :pray:. Closing then.

[2021-02-25 12:01] #3041 closed, assigned to szymonlesisz

[2021-02-25 12:41] bosomt commented on #3463
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a5de8753d2e8a16b1217edb644c7414d176948cc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-25 12:43] bosomt commented on #3361
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a5de8753d2e8a16b1217edb644c7414d176948cc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-25 13:13] bosomt commented on #3448
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a5de8753d2e8a16b1217edb644c7414d176948cc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-25 13:36] bosomt commented on #3192
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a5de8753d2e8a16b1217edb644c7414d176948cc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-25 13:41] bosomt commented on #3085
Maybe we can consider to change this modal too when on it ?
@prusnak @slowbackspace  do you want me to create separate issue ?

![image](https://user-images.githubusercontent.com/31506317/109161500-6b4db380-7777-11eb-8cd6-8c3de00cfd2c.png)

[2021-02-25 13:41] bosomt commented on #3085
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (a5de8753d2e8a16b1217edb644c7414d176948cc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-25 14:15] sorooris commented on #3448
Although functionally correct, let's please reconsider cc @matejzak

1) an **accordion** vs the current solution by hiding the _hide graph button_ under the meatball menu
     - possibility of making **Assets** also collapsible via an accordion
     - consistent with how account types can be collapsed
2) inconsistency with the graphs in each account in the Accounts section which **can't be hidden

[2021-02-25 14:24] sorooris opened #3471 "Dashboard, Accounts - Inconsistent graph range designs"
**Describe the bug**
Range part of the graphs is the part of graph on the Dashboard screen and is not in each account in the Accounts screen.

**Info:**
 - Remembered Wallet: any
 - Suite Version: 21.3.0 web, commit 44e1c8d8
 - Browser: Chromium 88.0.4324.150
 - OS: Nixos 20.09
 - Bridge: 2.0.27
 - Firmware Version: model T 2.3.5 public

**Steps to reproduce:**
1. Navigate to the Dashboard screen

[2021-02-25 14:56] bosomt commented on #3437
**QA OK**

i was able to reproduce issue in public version and not in this version.

**Info:**
 - Suite version: web 21.3.0 (a5de8753d2e8a16b1217edb644c7414d176948cc)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-25 15:03] bosomt commented on #3452
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (09ffd1606ded46c05ac55e98c912f8b61c948657)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:82.0) Gecko/20100101 Firefox/82.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-02-25 16:35] slowbackspace commented on #3448
give them a finger and they'll take an arm!

(but yes, good point that design should be consistent)

[2021-02-25 20:06] casoCornelius opened #3477 "Trezor Model T Does Not Send Out USDC (Pending Tx)"
I attempted to transfer USDC from my Trezor Model T. The Tx has been pending and Etherscan cannot even find the transaction. In Trezor suite it appears as "Pending" long time after I've sent it

[2021-02-25 23:17] slowbackspace commented on #3085
ohh here it would make even more sense! pls issue, we will improve it for the april release 😓

[2021-02-26 10:23] sorooris commented on #3214
Replicated the issue on 20.12.1 by launching the app and letting it run idle for approximately 15+ hours - which resulted in ~3GB memory usage. However it is resolved by relaunching the app, couldn't replicate the issue reported on reddit (that it persists after the app is relaunched).

**Steps to reproduce:**
1. Launch Suite,
2. Add Standard wallet, Hidden wallet,
3. Enable all coins and let disc

[2021-02-26 11:11] bosomt opened #3478 "Add account modal - Coin not supported"
Please consider to update/upgrade this modal when coin is not supported by Trezor model.
See:
see issue https://github.com/trezor/trezor-suite/issues/3085

![image](https://user-images.githubusercontent.com/31506317/109161500-6b4db380-7777-11eb-8cd6-8c3de00cfd2c.png)

[2021-02-26 12:09] tomexx opened #3479 "Refactor: supported browsers should be taken from .browserlist or similar"
Supported browsers should be taken from .browserlist or something similar. Currently the supported browsers are hardcoded in the 'sorry' page (request from #3406)

[2021-02-26 14:25] slowbackspace commented on #3396
kaay, I spent several hours on this, mostly trying to figure out how the hell it worked before and STILL WORKS in electron app. And most images even work (meaning they have correct size) even on the web. There are just few cases where an image expands to full container width. I wasn't able to pin point the exact problem that causing it.

Few things are weird tho:
1. electron app is okay (maybe it

[2021-02-26 17:04] #3412 closed, assigned to slowbackspace

[2021-02-26 18:10] #1078 closed, assigned to nobody

[2021-02-27 03:26] renekroka commented on #2182
It's been almost over 1 year and still not implemented, should be very easy to do, when can we finally expect this feature to be added?

[2021-02-27 21:22] #3226 closed, assigned to robertbrada

[2021-02-28 07:55] PBWrzal commented on #2838
I can help with **German**, **Indonesian** and **Javanese**.

[2021-02-28 07:56] PBWrzal commented on #2838
@matejzak I can help with German, Indonesian and Javanese.

[2021-02-28 08:02] PBWrzal commented on #2838
@matejzak I can help with **German**, **Indonesian** and **Javanese**.

[2021-02-28 17:23] emidev98 opened #3483 "[ERROR] On project install"
**Describe the bug**
When I run yarn install cannot apply patch.

**Info:**
 - Suite Version: app and web
 - OS: Windows 10 Pro 10.0 Build 19042
 - NPM: 6.14.8
 - NodeJS: 14.15.1

**Steps to reproduce:**
Install project in Windows 10 for first time.

**Expected result:**
To be able to install and start the project.

**Actual result:**

`
Emi@DESKTOP-5V9QTF2 MINGW64 ~/Desktop/trezor-suite (develop)

[2021-02-28 19:08] keraf commented on #3483
Windows is currently not a supported development environment for Suite. We could eventually make it work but it's definitely not a priority as none of our developers use Windows.

If you still wish to use Windows to build Suite, I would recommend looking at [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) (no guarantees that it works, haven't tested it myself) or using a Linux VM.

[2021-02-28 19:08] #3483 closed, assigned to nobody

[2021-02-28 19:31] emidev98 commented on #3483
Thanks, I'll switch to Linux.

[2021-02-28 20:58] emidev98 opened #3484 "[ERROR] Module not found when start the project"
**Describe the bug**
Project won't start in local when execute **npm run suite:dev** after clean install in Debian.

**Info:**
 - OS: Debian 10
 - Node: 14.16.0
 - NPM: 6.14.11
 - YARN: 1.22.10

**Steps to reproduce:**
Clone the project, install the dependencies with **yarn install**, run **npm run postinstall** and execute the project with **npm run suide:dev**.

**Actual result:**
![image](https

[2021-02-28 21:04] prusnak commented on #3484
Did you run `yarn build:libs` like mentioned in the readme?

Also, don't use `npm run suite:dev` but `yarn suite:dev`.

[2021-03-01 06:34] emidev98 commented on #3484
Thank you very much for that fast response , seems to be working now.
Sorry for that I am not very familiar with yarn.

[2021-03-01 06:34] #3484 closed, assigned to nobody

[2021-03-01 07:40] prusnak commented on #3484
No worries! Glad, we worked that out!

[2021-03-01 10:21] #3383 closed, assigned to tomexx

[2021-03-01 10:51] sorooris commented on #3214
Replicated the issue on **21.2.3** by launching the app and letting it run idle for approximately 50+ hours - which resulted in up to ~5GB memory usage (screenshot taken later when the usage has dropped to 4GB). Same as above, resolved by relaunching the app, couldn't replicate the issue reported on reddit (that it persists after the app is relaunched). Couldn't retrieve log unfortunately.

![imag

[2021-03-01 11:02] prusnak commented on #3214
Did you suspend the computer during these 50 hours or it was 50 hours of uninterrupted run?

[2021-03-01 11:12] sorooris commented on #3214
@prusnak uninterrupted - no suspend, only screen was dimmed

[2021-03-01 11:54] bosomt commented on #3459
**QA OK**

**Info:**
 - Suite version: web 21.3.0 (10db684bbd2494056eca770e69e11aac0b4e465b)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:85.0) Gecko/20100101 Firefox/85.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-03-01 12:48] sorooris commented on #3214
MacOS build ended in a Suite renderer process crash after approximately 8 hours when ran idle. Full terminal output / log per request or available in Asana task.

Wallet remembered: Standard, Hidden (all coins enabled)
Suite: app 21.2.3 9cf47b5
OS: macOS Big Sur 11.2.1
Device: 2.3.5 public

**Log (clipped):**
[code]

**Screenshots:**
Missing renderer process
![image](https://user-images.githubuser

[2021-03-01 16:13] #3428 closed, assigned to keraf

[2021-03-01 16:15] #3331 closed, assigned to szymonlesisz

[2021-03-01 16:54] bosomt commented on #3226
**QA OK**

Nixos 20.09
Suite dev master commit 6451544a2dbfc9cc582b69c112fb4d2585483da2
Device 2.3.5 public version

[2021-03-01 18:05] Sascha-1 opened #3489 "Support for Omni network"
https://coinmarketcap.com/currencies/maidsafecoin/

[2021-03-01 18:26] prusnak commented on #3489
Omni is a network built on top of Bitcoin network. It utilises OP_RETURN outputs to transfer tokens.

Currently the biggest tokens built on the Omni network are OMNI, USDT (Tether) and MAID (MaidSafeCoin).

The network could be used via OMNI Trezor wallet - https://trezor.github.io/omni-trezor/ - but this is unofficial.

Omni Explorer: https://omniexplorer.info

[2021-03-01 19:42] slowbackspace opened #3490 "Multiple ripple/blockbook workers"
possibly related to https://github.com/trezor/trezor-suite/issues/3214

Tested on macOS app based on 21.3.0 (custom build I made for easier troubleshooting). No special steps, just btc and xrp enabled, all seed, idle app (though I have the app running for about 4 hours now, one sleep in between which looks like triggers this ripple worker behaviour).

Each Ripple worker lives for exactly 3 minutes

[2021-03-01 19:45] prusnak commented on #3214
@sorooris which coins were enabled in the suite you left running?

[2021-03-01 21:30] Transisto commented on #3214
I've used this software twice, This is how much it grew since 18h ago.

![image](https://user-images.githubusercontent.com/388716/109561607-69535f80-7aab-11eb-9327-681e49c419c9.png)

[2021-03-01 22:26] prusnak commented on #3214
@Transisto which coins do you have enabled?

[2021-03-01 22:35] Transisto commented on #3214
BTC and ETH

[2021-03-02 09:04] bosomt opened #3493 "Transaction history - Search only finds first output"
**Describe the bug**
Search only finds first output. When you search for other output search won't find them.

**Info:**
 - Remembered Wallet: no
 - Suite Version: web, commit
 - Browser: , version
 - OS: system, build
 - Bridge: build version
 - Firmware Version: model , revision

**Steps to reproduce:**
1. Send transaction with multiple outputs
2. Search in transaction history for second or thir

[2021-03-02 09:25] slowbackspace commented on #3490
Reproduced ripple issue after putting the computer to sleep and waking it up 2 minutes later.
I also saw "backend disconnected" banner in suite. It also affects blockbook worker (btc-like, eth coins) in a way that they need to create a new connection, which is imo reasonable. Only ripple worker creates a new connection every 3 minutes.

(btc, xrp coins enabled)

<img width="464" alt="Screenshot 20

[2021-03-02 09:49] #3421 closed, assigned to szymonlesisz

[2021-03-02 09:49] #3436 closed, assigned to szymonlesisz

[2021-03-02 10:33] sorooris commented on #3214
@prusnak all coins enabled

[2021-03-02 11:05] slowbackspace commented on #3490
Another run, where I did sleep&wake up about 30 times with only ETH enabled.
still 1 worker = 1 connection after each wake, but there is no issue like for xrp, where each 3 mins new connection is created. Once connection is established it keeps open.
If these old workers are not garbage collected then it could be a problem since this issue will also affect users with poor internet connections whic

[2021-03-02 12:13] #3458 closed, assigned to szymonlesisz

[2021-03-02 13:15] bosomt commented on #3440
Search in ETH tx history is not working completely

**Info:**
 - Suite version: desktop 21.3.0 (b6c84eb9e23f9483d25ff4cb4a96a4c357596a24)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.3.0 Chrome/87.0.4280.141 Electron/11.2.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

![image](https://user-images.githu

[2021-03-02 13:18] bosomt commented on #3412
**QA OK**

**Info:**
 - Suite version: desktop 21.3.0 (b6c84eb9e23f9483d25ff4cb4a96a4c357596a24)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.3.0 Chrome/87.0.4280.141 Electron/11.2.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

![image](https://user-images.githubusercontent.com/31506317/109654105-15578

[2021-03-02 13:28] slowbackspace commented on #3366
this should be also fixed as side effect of https://github.com/trezor/trezor-suite/issues/3412

[2021-03-02 13:28] #3366 closed, assigned to slowbackspace

[2021-03-02 14:03] bosomt commented on #3366
**QA OK**

**Info:**
 - Suite version: desktop 21.3.0 (b6c84eb9e23f9483d25ff4cb4a96a4c357596a24)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.3.0 Chrome/87.0.4280.141 Electron/11.2.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-03-02 14:32] bosomt commented on #3331
**QA OK**

**Info:**
 - Suite version: desktop 21.3.0 (b6c84eb9e23f9483d25ff4cb4a96a4c357596a24)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.3.0 Chrome/87.0.4280.141 Electron/11.2.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-03-02 14:47] szymonlesisz commented on #3490
blockchain-link should call [terminate on workers](https://github.com/trezor/trezor-suite/blob/develop/packages/blockchain-link/src/index.ts#L279) and delete references BUT! connect [is not using](https://github.com/trezor/connect/blob/develop/src/js/backend/BlockchainLink.js#L70) dispose method at all, so there is a possibility that this worker is not collected by GC

[2021-03-02 17:43] slowbackspace opened #3497 "copy files from suite-data before suite-desktop build"
Consider auto running `copy-files` job before build:mac/lin/win. I was expecting this is already done because when you run `yarn suite:dev` it indeed copy the files.

You may be asking what it is good for, but I just spent more than an hour editing connect files in suite-data dir without realizing they are not copied to suite-desktop on `yarn workspace @trezor/suite-desktop build:mac` 😓

[2021-03-02 17:48] slowbackspace commented on #3490
I'm confirming that calling worker.dispose() on error indeed clears old workers. I'll let QA test this overnight to see if this is enough to resolve abnormal memory usage. (tested on custom build with only added `dispose()`)
cc @bosomt you now what to do! 😁

<img width="764" alt="Screenshot 2021-03-02 at 18 44 52" src="https://user-images.githubusercontent.com/6961901/109691281-907f5f00-7b87-11eb-

[2021-03-02 19:55] trymeouteh opened #3498 "Support Unstoppable Domains"
I know some will prefer FIO or something else, but I would like to suggest adding support on integrating Unstoppable Domains

- Support .zil and .crypto addresses
- Ability to buy multiple unstoppable domains with crypto in the app
- Ability to transfer multiple unstoppable domains to another address in the app
- Ability to add crypto addresses to multiple unstoppable domains in the app
- Ability

[2021-03-02 19:56] trymeouteh opened #3499 "Sending to FIO Addresses"
Please add the ability to send crypto to any FIO address

[2021-03-02 19:58] trymeouteh opened #3500 "Support Monero In Suite"
Please add support for Monero within Trezor Suite

[2021-03-02 19:59] trymeouteh opened #3501 "Support Firo (Rebranded from ZCoin) In Suite"
Please add support for Firo (Rebranded from ZCoin) within Trezor Suite.

[2021-03-02 20:00] trymeouteh opened #3502 "Support NIX In Suite"
Please add support for NIX within Trezor Suite. NIX is currently its own blockchain but will soon become a ERC20 Token

[2021-03-02 22:18] prusnak commented on #3502
Once it will be ERC20 token it will be supported.

[2021-03-02 22:18] #3502 closed, assigned to nobody

[2021-03-02 22:21] prusnak commented on #3501
This will need to be supported by the firmware first and we are not adding coins that are not in the TOP30 on Coinmarketcap to the firmware at the moment.

[2021-03-02 22:21] #3501 closed, assigned to nobody

[2021-03-02 22:22] prusnak commented on #3499
This needs to be implemented in the firmware first.

[2021-03-02 22:24] prusnak commented on #3497
Ideally, we should not need to require copying the files and use them from the original location during the build. Is that possible?

[2021-03-02 22:46] bosomt commented on #3214
I was able to kinda reproduce problem,
I got above 1GB in few hours
I sent Ropstein TX and minimized app when notification about received TX was still present.
Wallet was saved /Standard wallet/ and coins that are supported by T1 were enabled.

See attached log

[logx.txt](https://github.com/trezor/trezor-suite/files/6072209/logx.txt)

Windows 10
Suite 21.2.3 9cf47b5b526bbb5cda585e717fbbf0f5b93b8c

[2021-03-03 09:45] tsusanka commented on #3335
I have introduced release-it in #3470 which can be used for version bumping but I have to say I hate it. It is very aggressive and will modify releases without prompting. So I will investigate other options.

[2021-03-03 09:45] HeroHann commented on #1133
Why not? Wouldn't this bring more people to Trezor / it would be easier to switch.

Best case: All Coins would be sweept. So even multi coin wallets should be transferrable to the Trezor.

[2021-03-03 09:50] HeroHann opened #3503 "Show Suite Dashboard without connected Trezor"
**Is your feature request related to a problem? Please describe.**
When checking the Wallet balance we need to connect the Trezor each time. When a new incoming transaction is there, we cannot check the status without connection the Trezor.

**Describe the solution you'd like**
I would like to access the suite dashboard without the connected device. If it is some encryption problem maybe a passwor

[2021-03-03 10:02] tsusanka commented on #3335
@keraf @szymonlesisz what do you think about @slowbackspace's suggestion above? That means bumping all packages:

[code]

`lerna version` seems to do the work just fine. We can omit some packages in lerna.json but that would omit them in general for lerna which we do not want to do I guess?

I am not sure myself, on one side it seems superfluous to bump all packages, on the other hand we could use

[2021-03-03 10:17] jooray opened #3504 "Configurable gap limit"
**Is your feature request related to a problem? Please describe.**
I am using my Trezor as a wallet for btcpayserver. The problem is with gap limit - if there are 20 "empty" addresses, which is quite common (customers goes to checkout and does not complete it or chooses lightning as a payment method), I stop seeing transactions on my Trezor.

**Describe the solution you'd like**
Advanced settings

[2021-03-03 10:19] keraf commented on #3503
Hi @HeroHann,

If I understand your inquiry correctly, this is already possible by remembering your device.

To do this, go to the device selector on the top left, switch on "Remember" under the device you wish to remember. You can then open Suite and view your balances and transactions. Of course, certain operations like generating new addresses or sending coins will require your device to be con

[2021-03-03 10:29] prusnak commented on #3504
We might have to decide whether this feature should be only enabled if a user is running their own blockbook backend or their own [full node](https://github.com/trezor/trezor-suite/issues/2737) to limit the load on our public blockbook servers, but maybe that's not a big issue afterall.

[2021-03-03 10:31] HeroHann commented on #3503
Well if thats the case I am sorry!
I will check that. Though when I reconnect all my balances are there and I think I clicked the „remember“ button.

[2021-03-03 12:44] keraf commented on #3503
That's no problem at all :slightly_smiling_face: Please check if it works and close the issue if it does. Otherwise, you can provide us more information and we will look into it.

[2021-03-03 17:04] bosomt opened #3505 "Firefox incognito mode - Loading takes too long"
**Describe the bug**
I'm not able to open suite in Firefox private window.
Couldn't get an access to IndexedDB.

**Info:**
 - Suite Version: 21.3.1 web, commit 30957516994fb4b2d3ed463dcb553b21455d2f43
 - Browser: Firefox 82.0.3 (64-bit), version
 - OS: NIXOS system
 - Bridge:  Version: 2.0.28

**Steps to reproduce:**
1. Load new suite version in Firefox private window
2. observe

**Screenshots:**

[2021-03-03 17:27] sorooris commented on #3396
**~~QA OK~~**

Couldn't replicate issue in app, however please note that current web version of the staging environment isn't accessible on testing devices (which have no VPN) so I couldn't verify there.

Suite version: app 21.3.1 3095751
OS: macOS Big Sur 11.2.2
Device: model T 2.3.5 public

[2021-03-03 18:03] #3505 closed, assigned to slowbackspace

[2021-03-04 08:31] slowbackspace commented on #3490
after running custom build with the fix above for about 20 hours I don't see any significant leaks in suite, only [trezord](https://github.com/trezor/trezord-go/issues/223) 😁
<img width="1609" alt="Screenshot 2021-03-04 at 09 22 49" src="https://user-images.githubusercontent.com/6961901/109933492-c2014300-7ccb-11eb-83d6-6d65a8078740.png">

[2021-03-04 08:47] slowbackspace commented on #3396
oh for some reason it is web-only issue. it always worked fine in electron 🤷

[2021-03-04 08:52] sorooris commented on #3396
Well, let's keep it in the Needs QA column until it's testable :grin:

[2021-03-04 09:14] glacierbits commented on #913
Implemented.

[2021-03-04 09:14] #913 closed, assigned to nobody

[2021-03-04 09:33] glacierbits opened #3507 "Supported coins copy"
Improve Coin Settings description copy.

Related to: #3478  & blocked by: #3724

To be explained:

- Supported coins vs. ERC 20 tokens (https://trezor.io/coins/)
- How to add tokens
- How to purchase tokens (Invity)
- Places: Coin settings, Add account
- Coin not Supported on T1

[2021-03-04 11:50] slowbackspace commented on #3214
So far we found 2 possible causes:
- connect log issue  https://github.com/trezor/connect/pull/771
- multiple blockchain-link workers https://github.com/trezor/trezor-suite/issues/3490 https://github.com/trezor/connect/pull/773 (waiting for new connect release & suite integration)

These should get out in March release and hopefully dramatically improve Suite memory usage.

[2021-03-04 13:02] slowbackspace commented on #3374
this isfixed as an side effect of one of changes in blockchain-link https://github.com/trezor/trezor-suite/commit/4628d7cee449639c8c7d2858bb783b6cf4375864#diff-fa760cfad5081fa4c810e0a07f72e98411565fc53b1c8971a34e91a74278980e

[2021-03-04 15:33] sorooris commented on #3458
**QA OK**

Couldn't replicate the issue.

Suite: 21.3.1 30957516
OS: macOS Big Sur 11.2.2
Device: model T 2.3.5 public

[2021-03-04 15:34] #3440 closed, assigned to keraf

[2021-03-04 17:12] slowbackspace commented on #3392
@trezor/qa fix implemented on dev eth blockbook. Pls if you could find spare few mins to make sure it works as expected I will be grateful 🙏
https://blockbook-dev.corp.sldev.cz:9136

[2021-03-05 08:56] glacierbits commented on #2752
FYI I have added the product spec into the task description. ☝🏽
Final design is expected to be delivered by Monday (March 8).

[2021-03-05 10:47] bosomt commented on #3392
QA OK

@slowbackspace works fine with https://blockbook-dev.corp.sldev.cz:9136
as soon it gets deployed we can retest it and close this issue

[2021-03-05 11:31] tsusanka commented on #3214
@slowbackspace merged in develop and cherry-picked to release. Let's close and reopen if needed?

[2021-03-05 12:10] slowbackspace commented on #3490
fixed in https://github.com/trezor/trezor-suite/commit/564b3327af5c56659a20710a761f3c8462c292b8

[2021-03-05 12:10] #3490 closed, assigned to nobody

[2021-03-05 15:24] slowbackspace commented on #3277
reproduced, just make sure that first wallet instance is hidden wallet.

1. start with fresh suite and in modal for choosing a wallet enter a passphrase.
2. PROFIT

[2021-03-05 16:12] sorooris commented on #3440
**QA OK**

No errors in console displayed; correct notification (_Sign transaction error: insufficient funds for gas * price + value_) displayed.

Suite: 21.3.1 1dbc5b720515c39a47f1dc58391dbebf1d766394
Browser: Chromium 88.0.4324.150
OS: NixOS 20.09
Device: 2.3.5 public

[2021-03-05 16:12] sorooris commented on #3421
**QA OK**

No errors in console displayed; correct notification (_Sign transaction error: insufficient funds for gas * price + value_) displayed.

Suite: 21.3.1 1dbc5b720515c39a47f1dc58391dbebf1d766394
Browser: Chromium 88.0.4324.150, Firefox 85.0.2
OS: NixOS 20.09
Device: 2.3.5 public

[2021-03-05 16:18] sorooris commented on #3440
**QA OK**

No errors in console displayed; relevant search results displayed.

Suite: 21.3.1 1dbc5b720515c39a47f1dc58391dbebf1d766394
Browser: Chromium 88.0.4324.150, Firefox 85.0.2
OS: NixOS 20.09
Device: 2.3.5 public

[2021-03-05 16:20] slowbackspace commented on #3364
By web wallet you mean wallet.trezor.io or suite.trezor.io? We've noticed some problems on wallet.trezor.io and we are currently working on a fix.

[2021-03-07 16:15] #3503 closed, assigned to nobody

[2021-03-07 21:09] bradwood opened #4878 "Connect popup loading indefinitely"
Hi,

https://connect.trezor.io/8/popup.html#loading loading indefinetely -- this is after my trezor connects fine via trezord to wallet.trezor.io...

I'm on Manjaro (arch linux) and Brave, if that helps.

Trying to connect to adalite.io, but no ADA-based wallet seems to work with Trezor right now.

thanks in advance for any help

[2021-03-07 21:14] prusnak commented on #4878
Brave is doing some aggressive popup blocking. Use Chrome. Brave is not supported.

[2021-03-07 21:27] bradwood commented on #4878
Same problem on Chrome -- please don't just close before _knowing_ the cause of the problem.

[2021-03-07 21:47] prusnak commented on #4878
Try incognito mode in Chrome - does it work? If yes, you have some kind of extension which is blocking the popups - disable it.

[2021-03-07 21:53] ztmr opened #3512 "Trezor Suite does not handle unstable internet connections well"
While having issues with my current ISP (massive packet drops and slow link but normal web browsing eventually works), I have noticed that Trezor Suite stops responding (window contents blanked entirely) after some time. It also seems to consume much more of system resources once in this state.

I think that the app should be able to deal with offline/unstable internet connectivity as this kind of

[2021-03-07 22:10] bradwood commented on #4878
![image](https://user-images.githubusercontent.com/3472045/110256652-df673300-7f91-11eb-914e-5305bdd4bdf7.png)
No joy :(

[2021-03-07 22:13] bradwood commented on #4878
Does this help:

[code]

[2021-03-07 22:17] bradwood commented on #4878
And there is this, in the browser:
![image](https://user-images.githubusercontent.com/3472045/110256820-df1b6780-7f92-11eb-876a-c2c7fc544bab.png)

[2021-03-07 22:20] bradwood commented on #4878
And then, finally, the connect timed out, and I got this on the adalite.io site:

![image](https://user-images.githubusercontent.com/3472045/110256913-4a653980-7f93-11eb-9533-dc2eaccac38c.png)

[2021-03-07 22:40] bradwood commented on #4878
Sorry to keep dumping info, but wanted to make sure I provide as much diagnostic info as possible:

# Udev rules
seem okay
[code]
# Device
[code]
# Firmware version
2.3.6

[2021-03-07 22:47] prusnak commented on #4878
Everything looks fine except for the `LIBUSB_ERROR_ACCESS`.
Try disconnecting and connecting the device to reload the udev rule. If that does not help, try restarting the computer.

[2021-03-07 23:07] bradwood commented on #4878
Reconnected the device and rebooted -- still the exact same thing.

trezor wallet and trezor suite (web version) both work fine in brave.

trezor wallet, suite and adalite.io all don't work in chrome with the exact same problem. same, obviously, for adalite in brave.

Is there any way I can get my ADA out of the wallet?! -- even a cli tool or something -- I can't  be locked out of these funds inde

[2021-03-08 08:42] prusnak commented on #4878
You can still try using different computer to get to your coins.

[2021-03-08 09:17] keraf commented on #3512
We've put in some fixes in #3214 that should hopefully solve or at least mitigate the issues you are having. This will be in the 21.3.1 release.

[2021-03-08 12:15] bosomt commented on #3374
**QA NOK**

yes ETH txs FIAT information is now present. But Not in ERC20 token transactions.

**Info**

KUbuntu Linux 20.04
Suite app commit 1dbc5b720515c39a47f1dc58391dbebf1d766394

**Screenshots**
![image](https://user-images.githubusercontent.com/31506317/110320007-f3517a00-800f-11eb-8491-699f65b48dd4.png)

![image](https://user-images.githubusercontent.com/31506317/110320298-5d6a1f00-8010-11e

[2021-03-08 15:38] bosomt opened #3516 "Confirm transaction modal - no character limit in wallet name label"
**Describe the bug**
Please see screenshot.
In Send confirm dialogue modal is no character limit in wallet name label and it overflows modal design.

**Steps to reproduce:**
1. Enable labeling
2. Create long account name label
3. Use this account to send transaction and observe

**Info:**
 - Suite version: desktop 21.3.1 (1dbc5b720515c39a47f1dc58391dbebf1d766394)
 - Browser: Mozilla/5.0 (X11; Linu

[2021-03-08 15:45] sorooris commented on #3214
**QA NOK**

The issue still persists.
- Launching Suite with all coins and labelling enabled and running it idle for ~28 hours still results in usage of 466 threads, becoming almost unusable.

Detailed log available [here](https://drive.google.com/file/d/1Dmtdkw3FeOmGuUQ1oprNY65pVNPfJnm7/view?usp=sharing).

Activity monitor:
![image](https://user-images.githubusercontent.com/10185314/110343353-b05

[2021-03-08 18:30] slowbackspace opened #3517 "duplicated empty passphrase redirects to incorrect wallet"
Suite version: production 21.2.3 from suite.trezor.io, model T fw 2.3.5

While fixing https://github.com/trezor/trezor-suite/issues/3277 I run into another issue.

https://user-images.githubusercontent.com/6961901/110364011-8fe13f80-8043-11eb-94bd-9a3f3598401f.mov

Steps to reproduce I followed, but I am sure this has more minimal repro case:
1. create hidden wallet (passphrase=a), entered on devi

[2021-03-08 22:01] glacierbits opened #3518 "Sell 💸"
Sell crypto for fiat.

[2021-03-09 01:11] bradwood commented on #4878
just tried it on chrome on macOS -- http://127.0.0.1:21345/status/ gives me version 2.0.27 of the bridge, but I still get the same hanging issue on adalite.io :(

Any other options? This is become a problem now

[2021-03-09 08:09] jerechinsky opened #3520 "Full release automation of Suite"

[2021-03-09 08:13] jerechinsky opened #3521 "Automate updates of libraries (e.g. Snyk)"

[2021-03-09 08:46] sorooris commented on #3383
**QA OK**

Icons fetched correctly.

Suite: 21.3.1 1dbc5b7
Browser: Gnome Web 3.36.4
OS: NixOS 20.09
Device: 2.3.5 public

/web/
![image](https://user-images.githubusercontent.com/10185314/110443166-ebe7aa80-80bb-11eb-85da-722e1c0b6aab.png)
/web/version/
![image](https://user-images.githubusercontent.com/10185314/110443358-1e91a300-80bc-11eb-9daa-8b3a71b12c3c.png)

[2021-03-09 08:46] jerechinsky opened #3522 "Move utxo-lib & coinselection part from hd wallet to monorepo"
Currently blocked by https://github.com/trezor/trezor-firmware/pull/1249.

[2021-03-09 08:48] jerechinsky opened #3523 "Automate npm releases"

[2021-03-09 08:50] jerechinsky opened #3524 "Automate connect releases"

[2021-03-09 08:51] jerechinsky opened #3525 "Transaction history (blockchain-link)"
There are multiple workarounds/patches across the suite regarding targets/amounts/fiat.

They should all be fixed on lower level (blockchain-link) and DB level.

Currently blocked by missing values (like vsize) from blockbook.

-- @szymonlesisz

[2021-03-09 09:02] jerechinsky opened #3526 "Performance tracking via Sentry"
Raf mentioned that there's a performance tracking feature in Sentry.

[2021-03-09 09:04] jerechinsky opened #3527 "Google-auth-lib"
Szymon said it's "flaky". Could you please elaborate a bit further, @slowbackspace ? 🙂

[2021-03-09 09:53] prusnak commented on #4878
This setup runs just fine on my computer. Do you have any Chrome extensions installed that might interfere?

[2021-03-09 10:00] sorooris commented on #3214
I let the app run overnight with labelling off and seems to have improved.

Detailed log available [here](https://drive.google.com/file/d/1WegtVbdriKy_lIoJTO8yQLbVL4Vb_NJP/view?usp=sharing).

Wallet remembered: Hidden
Coins: All coins enabled
Labelling: disabled
Suite: app 21.3.1 1dbc5b7
OS: macOS Big Sur 11.2.2
Device: 2.3.5 public, disconnected

![image](https://user-images.githubusercontent.com

[2021-03-09 10:15] prusnak commented on #3214
That's a good clue - maybe something within the labeling code is keeping references to old closed connections? @slowbackspace

[2021-03-09 10:52] bosomt opened #3528 "Missing fiat values in XRP transactions detail"
**Describe the bug**
Missing daily summary fiat value in transaction history tab and missing historic fiat value of transaction.

**Steps to reproduce:**
1. Load wallet with XRP transaction history
2. Check transaction detail and daily transaction history summary

**Info:**
 - Suite version: desktop 21.3.1 (1dbc5b720515c39a47f1dc58391dbebf1d766394)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) Apple

[2021-03-09 10:59] keraf commented on #3527
This library is intended for NodeJS and we use it in the front-end, which requires us to import polyfills and "null-resolve" NodeJS APIs that don't exist in the browser (to mute build errors).

The library that replaces this (if we use one) should be intended for the browser.

[2021-03-09 11:04] keraf commented on #3526
- More info: https://sentry.io/for/react/
- Setup: https://docs.sentry.io/platforms/javascript/guides/react/performance/

It would be also worth measuring the impact this has on performance. And of course, we shouldn't load the tracer if the user disabled analytics.

[2021-03-09 12:25] slowbackspace commented on #3526
I was more interested in cpu/memory usage which, after quick reading through docs, won't be included in these reports. But we can enable it anyway since it should be rather trivial, although I am not sure if metrics like first contentful paint are helpful in case of long-running app which needs few seconds to setup communication with bridge/connect/device anyway 😁 This is more useful for websites

[2021-03-09 13:10] tsusanka commented on #2575
@alex-jerechinsky will find out if these dates of deprecation still hold

[2021-03-09 14:29] keraf commented on #3526
Yeah we definitely won't need these metrics. But looking at the info page, it looks like it's possible to get some more insightful metrics on how the app performs in general:
![](https://www.sentry.dev/_assets2/static/performance-waterfall-4cf0f3924387628fb6f537dc050f9871.png)

It looks like quite a lot of info, so I'm really wondering what's the trade-off.

Edit: The screenshot looks like it's ta

[2021-03-09 14:37] slowbackspace commented on #3327
blocktime adjustments for xrp transactions could be also moved to b-l
https://github.com/trezor/trezor-suite/blob/ea9bdfd26becaa9a31e624ba634b6259692e1485/packages/suite/src/utils/wallet/transactionUtils.ts#L488

[2021-03-09 14:37] slowbackspace commented on #3525
I think there is already an issue for this https://github.com/trezor/trezor-suite/issues/3327

[2021-03-09 14:40] keraf commented on #4878
I've just encountered a similar issue with my device where my USB-C cable was faulty. Have you tried a different cable?

[2021-03-09 15:25] slowbackspace commented on #3214
Looking at log it looks like you were using filesystem as a storage for metadata, is that correct? Could you try to reproduce it with dropbox/gdrive?
I wonder if could be something in our fs provider which handles storing/reading metadata files.

edit: does someone know why it reads all metadata files every 3 minutes? 🤔
nitpick: if there was no memory leak/high ram usage then this is not a correct

[2021-03-09 15:34] bosomt commented on #3516
Suite version: desktop 21.3.1 (1dbc5b7)

![lbl](https://user-images.githubusercontent.com/31506317/110495892-3f2a1f00-80f5-11eb-93b0-9eedd7c205ee.gif)

[2021-03-09 15:35] szymonlesisz commented on #4878
you can enable debugging level using following steps:
- goto adalite.io
- when the page is fully loaded open the console and paste: `window.__TREZOR_CONNECT_SRC='https://connect.trezor.io/8/';`
- sign in with trezor

this should print out a lot of messages **in adalite console** like this:
![Screenshot from 2021-03-09 16-31-05](https://user-images.githubusercontent.com/3435913/110496052-68e34600-8

[2021-03-09 16:03] tomasklim commented on #2752
### Problems to discuss on 10/3/2021:

**JSON config**

- Property for expressing "banner" / "modal" / "context" types of messages? **yes**
- Does "location" have some meaning for banner and modal type of messages? **no**
- "enabled" when a service is not specified. Does it mean that it is "false" or it's both (true/false)? How to make combinations of true/false? **2. option**

1. Now:
`"enabled":

[2021-03-09 16:14] STew790 opened #3530 "Missing space between the device name and an account name when sending tx"
**Describe the bug**
There is a missing space between the device name and an account name when you are sending a transaction. Screenshot attached
**Steps to reproduce:**
1. Add a standard wallet.
2. Create a hidden wallet.
3. Try to send some currency from one wallet to another.
4. There is no space between "Hidden wallet #1" and "Account name #1" (as can be seen in screenshot)

**Info:**
 - Suite

[2021-03-09 16:31] sorooris opened #3531 "Overview - Incorrect time displayed in transactions near midnight"
**Describe the bug**
Transactions sent pre-midnight (23:02) - UTC time zone (on blockbook) - are displayed in Suite as over 24, i.e. 24:02, of the ex.

**Info:**
 - Remembered Wallet: does not matter (tested remembered)
 - Suite Version: app and web 21.3.1, commit 1dbc5b7
 - Browser: Chromium 88.0.4324.150
 - OS: macOS 11.2.2 Big Sur, NixOS 20.09
 - Bridge: any (tested bundled 2.0.27, standalone 2

[2021-03-09 17:34] tsusanka commented on #3517
@slowbackspace do I understand it correctly you end up at wallet #1 at the end (passphrase=a)?

Also did you check you are indeed in the wrong wallet? It could be just an UI thing. In another words I want to say we should check the addresses (for example BTC's)

[2021-03-09 17:47] slowbackspace commented on #3517
I showed in the video that, in standard wallet, there are many transactions in first BTC account (it's "all" seed). While I am not completely sure if addresses were also incorrect, I don't think this is some cosmetic issue. I ended up in wrong wallet which is clearly visible at 1:20-1:32: first hidden wallet got selected and there are no transactions. But feel free to try it on your own, I tried t

[2021-03-09 18:01] slowbackspace commented on #3531
@trezor/qa could you pls check this branch in chrome and firefox https://suite.corp.sldev.cz/suite-web/fix/24h-time/web/ should be fine in both.

[2021-03-10 09:25] sorooris opened #3534 "Out of memory renderer crash"
**Describe the bug**
Letting the app running idle results in running out of memory and renderer crash.

**Info:**
 - Remembered Wallet: yes, all coins enabled
 - Suite Version: app 21.3.1
 - OS: Windows 10 Pro 10.0.19042
 - Bridge: 2.0.27 Suite-bundled
 - Firmware Version: model T 2.3.5 disconnected

**Steps to reproduce:**
1. Launch Suite app, remember Wallet with tx history, enable all coins,
2.

[2021-03-10 09:50] bosomt commented on #3396
**QA OK**

**Info:**
 - Suite version: web 21.3.1 (1dbc5b720515c39a47f1dc58391dbebf1d766394)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-03-10 09:53] bosomt commented on #3531
@slowbackspace looks OK in cfabc36f5ad6f0b39b10cb236393c9b4c42480b4

[2021-03-10 11:08] bosomt commented on #3396
**QA NOK**

I was able to reproduce issue in Firefox

![image](https://user-images.githubusercontent.com/31506317/110620473-56bae380-8199-11eb-8cdb-2b5cbe1361c2.png)

**Info:**
 - Suite version: web 21.3.1 (1dbc5b720515c39a47f1dc58391dbebf1d766394)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regu

[2021-03-10 11:10] #3528 closed, assigned to slowbackspace

[2021-03-10 11:20] #3531 closed, assigned to slowbackspace

[2021-03-10 11:35] slowbackspace commented on #3534
What about labelling? Was it enabled? It could be same reason as for this https://github.com/trezor/trezor-suite/issues/3214#issuecomment-794043660

[2021-03-10 11:46] slowbackspace commented on #3214
I made custom build where I change the interval for reading metadata files from 3 minutes to 6s, this is what I got after letting computer sleep during the night with suite running 😁 Still not completely sure if it is really related to labeling, but results are interesting.

Probably related to timers throttling discussed in https://github.com/trezor/trezor-suite/issues/3534

<img width="823" alt=

[2021-03-10 11:56] bosomt commented on #2643
Still happening in 21.3.1

**Info:**
 - Suite version: web 21.3.1 (1dbc5b720515c39a47f1dc58391dbebf1d766394)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

![image(3)](https://user-images.githubusercontent.com/31506317/110625644-f67b7000-819f-11eb-842b-636601b4b7e0.png)
![image(2)](https://

[2021-03-10 12:12] sorooris commented on #3534
@keraf already asked me; i couldn't verify at the time, afaik it wasn't on during the time and it wasn't on when i re-launched the app. Could be related to the issue.

[2021-03-10 12:43] szymonlesisz commented on #3534
notice the number of coingecko requests before (2021-03-09T09:03) and after (2021-03-09T20:41)

there is nothing in between, computer probably goes to sleep. but there was more than 1000 requests called at 20:41, after awaking

[2021-03-10 12:57] szymonlesisz commented on #3534
i guess the app hibernates(?)  at some point (when is not focused?) and network requests/websocket notifications (new block) are buffered/throttled somehow.
then, after awaking all those notifications are triggered at once, leading to huge amount of requests (account updates and fiat rates updates)

the solution may be to add debouncing before processing backend notifications?

OR
there is somethi

[2021-03-10 13:11] danielkp1234 opened #3536 "A feature that allows to see gains since deposit"
So I think its kinda annoying that you cant see your total gains since you have deposited coins. Something like you will able to look total gains increase/decrease from when prices of a coin increase/decrease

I would like a way to be able to see how many percentages and how many dollars my wallet has increased or decreased in value with a graph.

[2021-03-10 13:45] szymonlesisz commented on #3534
im pretty sure that this is caused by `setInterval` request + app `on blur / on focus`

same thing is with auto-update requests. they goes on every hour, then between 09 and 20 there is nothing, and finally 10 request after awaking:

[code]

[2021-03-10 14:00] slowbackspace commented on #3534
I found out that electron/chrome applies `backgroundThrottling`.
[code]
https://www.electronjs.org/docs/api/browser-window

imo could be worth to try disabling it and see if it prevents gobbling up the requests

[2021-03-10 14:51] #3396 closed, assigned to slowbackspace

[2021-03-10 16:31] bosomt opened #3539 "You are allowed to bump different coin than BTC and ETH/ETC"
**Describe the bug**

See screenshots, you can bump transaction other than Bitcoin or Ethereum.
I sent it with multiple outputs and I turned lock-time on and off before I signed transaction.
I don't know if im able to bump this transaction /i will test it further/ and I'm not able to reproduce it when i send simple transaction to one address and one output.

EDIT: im not able to reproduce every ti

[2021-03-10 16:51] mwmoseley opened #3540 "Show more decimal places for fiat value"
When viewing Assets, fiat values are rounded to the nearest cent (for USD). Some coins (like DOGE) operate on fractions of cents, so the rounded value isn't particularly useful. I'd like to suggest either adding a setting for how many decimal places to show, either globally or per asset, or implementing something that automatically shows more places if the fiat value is less than some (configurabl

[2021-03-10 17:13] #3517 closed, assigned to szymonlesisz

[2021-03-11 06:49] jerechinsky commented on #3478
If a user is on model 1 (not model T with BTC only firmware), I would suggest replacing "_Firmware does not have capability to work with XRP_" with "_XRP is supported only on model T_"
@matejzak please ack or suggest rephrasing it 🙂

[2021-03-11 07:04] jerechinsky commented on #3512
Hi @ztmr, could you please retest?

[2021-03-11 07:58] jerechinsky commented on #3525
duplicate of [#3327](https://github.com/trezor/trezor-suite/issues/3327)

[2021-03-11 07:58] #3525 closed, assigned to nobody

[2021-03-11 08:29] szymonlesisz commented on #3539
wait what? it should be disabled for other coins...

[2021-03-11 09:43] sorooris commented on #3243
@tsusanka is the test still needed? can we close?

[2021-03-11 10:11] bosomt commented on #3539
Guess there is something that you can trigger that allows you to send any RBF enabled coin ;)

https://doge1.trezor.io/tx/9e8be49b0e60e9b542730b8ab76d5f7cf3838ece6dae3e36b827604543d7decf

![image](https://user-images.githubusercontent.com/31506317/110771186-82ea6900-825a-11eb-85a7-1a0f4ce96a99.png)

[2021-03-11 10:15] caglorithm opened #3541 "tor process doesn't close after closing Trezor Suite [macOS]"
**Describe the bug**
I Trezor Suite with the built-in tor support. When I terminate Trezor Suite, I can see the tor process still running (and also staying active on the tor network).

**Info:**
 - Suite Version: app 20.12.1 (20.12.1.9537)
 - OS: macOS 11.2.2 (20D80)

**Steps to reproduce:**
1. Start Trezor Suite
2. Enable Tor in Trezor Suite
3. Close Trezor Suite

**Expected result:**
tor process

[2021-03-11 10:42] prusnak commented on #3541
Please use the latest Suite (21.3.1) downloaded from https://suite.trezor.io

You are using a very old version.

[2021-03-11 10:43] #3541 closed, assigned to nobody

[2021-03-11 10:47] caglorithm commented on #3541
Same with new version. I close the app using CMD+Q.

[2021-03-11 11:02] mmahut opened #3542 "Trezor News links are not being open as .onion"
**Describe the bug**

Trezor News links are not being open as `.onion` addresses.

**Info:**
 - Suite Version: app (AppImage), 21.3.1, 1dbc5b720515c39a47f1dc58391dbebf1d766394
 - OS: NixOS

**Steps to reproduce:**
1. Go to the tor settings, enable "_Open trezor.io links as .onion links_".
2. Go to the Dashboard.
3. Click on any link on blog.trezor.io.

**Expected result:**
Opens as `.onion` or ren

[2021-03-11 11:20] caglorithm opened #3543 "tor process doesn't close after closing Trezor Suite [macOS]"
**Describe the bug**
I Trezor Suite with the built-in tor support. When I terminate Trezor Suite, I can see the tor process still running (and also staying active on the tor network).

**Info:**
 - Suite Version: app 21.3.1 (21.3.1.10647)
 - OS: macOS 11.2.2 (20D80)

**Steps to reproduce:**
1. Start Trezor Suite
2. Enable Tor in Trezor Suite
3. Close Trezor Suite (CMD+Q)

**Expected result:**
tor

[2021-03-11 12:01] tsusanka commented on #3218
@sorooris as I am looking at your latest post and I guess we can close this one? Matej tried Tor just now and it worked flawlessly.

[2021-03-11 12:39] sorooris commented on #3218
@tsusanka Agreed, closing!

[2021-03-11 12:39] #3218 closed, assigned to tsusanka

[2021-03-11 14:09] slowbackspace commented on #3461
this was boso when he had some custom backend that was not responding or something like that, still could be nice to fix it

[2021-03-12 10:13] glacierbits commented on #2242
FYI I have added the design to the issues descrition. 👆🏽

Let's please add the Safety checks modal (via secondary button) in the Security section (below passphrase).

<img width="1106" alt="Screen Shot 2021-03-12 at 11 04 04" src="https://user-images.githubusercontent.com/29627086/110924720-abd63100-8322-11eb-8a64-a3a05c0cd887.png">

[2021-03-12 10:19] glacierbits commented on #2242
FYI 2: Settings "item" is designed & [in Zeplin here.](https://zpl.io/297wlmz)

[2021-03-12 11:41] glacierbits commented on #2282
After a brief discussion, we came to a conclusion (or rather hypothesis that needs to be verified) that since the safety checks Settings automatically reset with device reconnect, we don't need the banner notification.

- [ ] @tsusanka will kindly check whether this is indeed true and will let us know 👆🏽 🙏🏽

cc @goodhoko

[2021-03-12 12:10] tsusanka commented on #2282
@mmilata it is true that when safety_checks are set to Prompt they will default to Strict on next Trezor replug, correct? Only PromptTemporarily does not do that but we have decided not to have that in Suite for now.

[2021-03-12 12:17] mmilata commented on #2282
They are two distinct values, `PromptTemporarily` and `PromptAlways` (in addition to `Strict`), `PromptTemporarily` is only until next reboot.

In `trezorctl` we expose these as:
[code]
i.e. `PromptTemporarily` is the default

[2021-03-12 12:46] prusnak commented on #2282
@tsusanka by "enabled" you mean set to something else then "strict", right?

[2021-03-12 13:18] tsusanka commented on #2282
@prusnak yes indeed. Hm, so the user could have set `PromptAlways` via trezorctl and then go to Suite and they should probably see the warning there @matejzak :confused:.

[2021-03-12 13:37] goodhoko commented on #2923
I think that the set and order of tasks is generally correct. Just a few comments:

Apprat from the classic unit tests of the individual components it would be also nice and cheap on man-time to take all existing messages of all existing message sets and for each one test that `message == desrialize(serialize(message))`.

This could give us confidence in the `Bump protobuf lib` step.

Link is used

[2021-03-13 09:14] Oxidant99 commented on #3517
Confirm above issue Trezor Suite 21.2.3  Trezor Model T firmware 2.3.6
In Trezor Suite created standart wallet, but with switched on empty "" passpahrase (just hit enter). See this wallet in Trezor Suite  only as "Standart Wallet". Balance is correct.
Via https://wallet.trezor.io/ can not get acess to this wallet - see only "Standart wallet" with  zero balance, no transactions. Tried to switch on/

[2021-03-13 11:43] slowbackspace commented on #3517
Hi @Oxidant99, what you are experiencing is most likely due to wallet.trezor.io not supporting bech32 bitcoin accounts, which is a default account in Trezor Suite app. You can use web version of Trezor Suite on https://suite.trezor.io/web/

[2021-03-15 10:18] sorooris commented on #3243
bump

[2021-03-15 11:10] tsusanka commented on #3243
We can probably close. Let's see if the feedback repeats itself.

[2021-03-15 11:10] #3243 closed, assigned to nobody

[2021-03-15 12:22] bosomt commented on #3528
**QA OK **

**Info:**
 - Suite version: web 21.4.0 (1da73bf5c45ed462662a4b3f12b10993625b9999)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-03-15 12:39] bosomt commented on #3531
**QA OK**

tested in Firefox and Chromium Version 89.0.4389.72 (Official Build) (64-bit)

**Info:**
 - Suite version: web 21.4.0 (1da73bf5c45ed462662a4b3f12b10993625b9999)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-03-15 12:47] bosomt commented on #3396
**QA OK**

**Info:**
 - Suite version: web 21.4.0 (1da73bf5c45ed462662a4b3f12b10993625b9999)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

[2021-03-15 13:12] goodhoko commented on #2282
Good point! We definitely want to show the warning when `safety-check == PromptAlways`.

The remaining question is: should the warning appear for `PromptTemporarily` too? I'd say, yes, for the sake of consistent UI and principle of least surprise. This is however mainly a product design question @matejzak .)

I'll assign this to myself to do it along #2242. Hope that's ok. .)

[2021-03-15 13:41] bosomt commented on #3374
**QA NOK**

+ still missing tx historic fiat detail info
+ missing fiat price in tx history even I see it in tx detail

**Info:**
 - Suite version: web 21.4.0 (1da73bf5c45ed462662a4b3f12b10993625b9999)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model T 2.3.5 regular

![image](https://user-images.githubusercon

[2021-03-15 13:43] xenithorb commented on #4878
Reason is crypto wallets page throws:

[code]
in "Crypto Wallets" page when anything OTHER than "disabled" from the "Trackers & ads blocking" is set

For the case on native "Crypto Wallets" connecting to `connect.trezor.io`

Basically, in Brave, All others work except brave fork "Crypto Wallets" and MetaMask when Shields ads blocking is enabled at all. I tried various amount of whitelisting to no

[2021-03-15 13:59] bosomt opened #3544 "Transaction history - ERC20 tokens not included in search"
**Describe the bug**
When you look in Ethereum transaction history ERC20 tokens are not included in search.

**Steps to reproduce:**
1. Load account that includes ERC20 token transactions
2. Search for those transaction via search field
3. Observe

**Info:**
 - Suite version: web 21.4.0 (1da73bf5c45ed462662a4b3f12b10993625b9999)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 F

[2021-03-15 14:26] bosomt opened #3545 "Labeling - not able to add label to ERC20, ERC721, ERC1155 and internal transactions"
**Describe the bug**
It's not possible to attach label to Ethereum ERC20 transaction, add label button is missing.

**Steps to reproduce:**
1. Load Ethereum wallet that contains ERC20 transactions
2. Add label to ERC20 transaction
3. Observe

**Info:**
 - Suite version: web 21.4.0 (1da73bf5c45ed462662a4b3f12b10993625b9999)
 - Browser: Mozilla/5.0 (X11; Linux x86_64; rv:86.0) Gecko/20100101 Firefox

[2021-03-15 15:11] keraf commented on #3544
Symbol names cannot be searched yet but I think it would be good to support that for tokens. I guess we can probably use a prefix to specifically return certain tokens (for example: `token:TUSD`). We could even pre-fill the search by clicking on that token. cc @matejzak @alex-jerechinsky @tsusanka

[2021-03-15 15:14] xenithorb commented on #4878
Temporary workaround: uBlock instead of "shields" on Brave, and metamask and/or the brave MM fork work fine

[2021-03-15 15:28] slowbackspace commented on #3374
Wrong issue to reopen! Original issue was regarding zero fees 😁

I believe we've never supported historical rates for tokens, that's why you don't see them.

[2021-03-15 19:08] bradwood commented on #4878
Interesting @xenithorb  -- I tried turning shields off completely on connect.trezor.io - no joy.

Not following you re metamask and the brave mm fork? can you provide a bit more detail please?

thanks

Brad

[2021-03-16 07:44] bosomt commented on #3374
OK. Closing and approving then.

[2021-03-16 07:44] #3374 closed, assigned to slowbackspace

[2021-03-16 08:07] tylkomat opened #3547 "Exchanging ERC-20 Token uses wrong target (exchange) address"
**Describe the bug**
I tried to exchange STORJ to ETH using changelly from inside the suite and the transaction failed. Gaslimit and price looked fine, but then I noticed that target address was the contract address of the token. I'm no expert in this, but I think this is wrong.

**Info:**
 - Remembered Wallet: no
 - Suite Version: 21.3.1
 - Browser: firefox, 86.0.1
 - OS: windows 10, 19041
 - Bri

[2021-03-16 12:33] martinboehm commented on #3547
The transaction is correct, just run out of gas. Because the transaction failed, only the ETH part of the transfer is shown, not the ERC20 contract transfer.
While the limit seems reasonable, it may have been an unlucky case that it consumed more gas than usually, see https://ethereum.stackexchange.com/questions/44643/why-gas-used-are-different-for-same-transfer-tx.

When looking at the successful

[2021-03-16 12:46] tylkomat commented on #3547
@martinboehm It is still strange for me that the target address is the [token contract (0xB64ef51C888972c908CFacf59B47C1AfBC0Ab8aC)](https://ethplorer.io/address/0xb64ef51c888972c908cfacf59b47c1afbc0ab8ac) address and not some other address (of the exchange).

[2021-03-16 12:57] martinboehm commented on #3547
This is the way ERC20 transfers are done. Check a successful transfer [here](https://eth1.trezor.io/tx/0x51f7556e3112d63672d802e4af417440370fd35180ea4f4cf14381feca9a7c04). The ETH part is from the source address to the contract address, the token part is from the source address to the destination address.

[2021-03-16 13:38] Dehumanizer77 opened #3549 "Labels incorrectly shortened in Firefox"
Labels are incorrectly shortened in the web suite in Firefox
A clear and concise description of what the bug is.

**Steps to reproduce:**
1. Log in to suite
2. Go to accounts and add label to any transaction or check a transaction that already has a label set
3. Label is always shortened by cutting last two characters and adding 3 dots (e.g. "test" is shortened to "te...")

**Info:**
 - Suite vers

[2021-03-16 16:30] tylkomat commented on #3547
I just saw that the [gastracker](https://etherscan.io/gastracker) is basing their estimate for ERC-20 tokens on 65000 gas limit, maybe that is a good value for you too

[2021-03-16 16:39] karolsw3 commented on #3500
Agreed

[2021-03-16 17:24] glacierbits commented on #3348
Looking at the respective branch, I have a few favors to ask:

- [x] Button font weight should be 600 (semibold). It's 500 currently.

- [x] Button font should be 14px. It's 16px currently.

- [x] Please increase the button padding (internal spacing) on the left & right side of the button label. (Might be improved by the font size though, I guess)

- [x] Please hide the "Add token" button on ETH u

[2021-03-16 17:55] glacierbits commented on #2282
Let's do it. Here is the notification design: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/6047b148d44ac2bb6f429603)
Currently being implemented by @tomasklim btw. 💡

- Color: [type-orange](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/styleguide) (Warning)
- CTA link to Device Settings
- Banner notification for `PromptTemporarily` should be dismissible: (1) the

[2021-03-16 18:04] glacierbits commented on #1871
Design proposal added to the issue description. To be implemented in May release sprint.

[2021-03-17 09:02] tomexx commented on #3348
@matejzak Thank you for the feedback. Regarding buttons - I used the style from current dev styleguide. Are we adding the new button style only for this case or is there a plan to change the buttons style also in different places (I could add the new style / change current style globally)? Thanks

[2021-03-17 09:04] glacierbits opened #3550 "Cardano (ADA) support"
Let's review:
- https://github.com/trezor/trezor-suite/pull/3627
- https://github.com/trezor/connect/pull/832
- https://github.com/trezor/trezor-suite/pull/4144

Needs trezor/trezor-firmware#1231 and trezor/trezor-firmware#1764

[2021-03-17 10:50] jerechinsky commented on #3549
I could replicate this.

 - Suite version: web 21.3.1 (1dbc5b720515c39a47f1dc58391dbebf1d766394)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.16; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: MacIntel
 - Screen: 2560x1080
 - Device: model T 2.3.5 regular

Labels are always cut off by one or two characters no matter how long they are in Firefox.

![short labels](https://user-images.githubuse

[2021-03-17 11:11] mmahut opened #3551 "Trezor Suite reports old firmware as up to date"
**Describe the bug**

Trezor Suite doesn't prompt for an update when a new firmware is available. Says an older firmware is up to date.

**Info:**
 - Remembered Wallet: yes and no
 - Suite Version: both app and web, commit 1dbc5b720515c39a47f1dc58391dbebf1d766394
 - Firmware Version: model T, revision 2.3.5

**Steps to reproduce:**
1. Be lazy and do not update your Trezor on firmware release day
2

[2021-03-17 11:21] prusnak commented on #3551
This is a feature - firmware 2.3.6 contained only a single fix for Unchained Capital. We did not want to trigger this update for the Suite users.

[2021-03-17 11:21] #3551 closed, assigned to nobody

[2021-03-17 11:23] prusnak commented on #3551
Wiki fixed, will be deployed in 60 minutes tops. Thanks!

[2021-03-17 12:13] glacierbits commented on #3448
Dashboard will get bigger redesign 2 sprints from now (design in progress). I suggest we don't worry about this now. That being said, I applaud @sorooris for thinking of our consistency. <3

[2021-03-17 12:13] #3448 closed, assigned to glacierbits

[2021-03-17 13:15] slowbackspace commented on #3431
updated original description with more detailed breakdown, @bosomt managed to trigger "Loading takes too long" due to problems with connect-bridge communication which led to timeout (on nixos, mint and win worked fine). Please take a look at last item in the list in original description for more info.

cc @szymonlesisz @tsusanka you will probably be able to tell what's happening here.
I think part

[2021-03-17 14:28] sorooris commented on #3448
@matejzak ack, approving.

[2021-03-17 14:59] tomexx commented on #3468
@alex-jerechinsky is this still valid for the latest develop https://suite.corp.sldev.cz/suite-web/develop/web/ ? I am not able to replicate it, does it happen only for BTC, if it is in place can you try also BTC Testnet or other coins if the problem applies for other coins as well?

[2021-03-18 07:57] bosomt commented on #3517
**QA OK**

Windows 10.0.19042.868
Suite 21.3.2 commit 6dbeaf3dd28a11c5e4bc5867686f58d2920a14bd
Device model T 2.3.5 public version

[2021-03-18 08:41] tsusanka commented on #3431
Uf. If this would be 2.0.31 bridge a not 2.0.27 as it is (see log) I would dig way deeper, but since it happened on 27 and:
- 27 is stable for quite some time already
- it happened only on NixOS (correct?)
- we do not have a clear reproducible steps (do we?)

I am a bit inclined into dealing with this later when we are able to reproduce it or we are sure it concerns more people.

[2021-03-18 08:49] bosomt commented on #3431
@tsusanka

it happened in latest version of Fedora.
And yes it was built in 2.0.27 Trezor Bridge.
But I removed 2.0.31 version before with command that ignored dependencies /RPM packaging was causing some issues/

[2021-03-18 09:06] #3384 closed, assigned to prusnak, tsusanka

[2021-03-18 09:23] bosomt opened #3554 "Select wallet modal shows your portfolio value when discreet mode enabled"
**Describe the bug**
Select wallet modal shows your portfolio value when discreet mode is enabled.

**Steps to reproduce:**
1. Load wallet containing funds
2. Enable discreet mode
3. Click on wallet selector modal and observe

**Info:**
 - Suite version: desktop 21.3.2 (6dbeaf3dd28a11c5e4bc5867686f58d2920a14bd)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like G

[2021-03-18 09:39] jerechinsky commented on #3468
I wasn't able to replicate either. @bosomt could you please try again on latest develop?

[2021-03-18 09:51] slowbackspace commented on #3431
yeah I agree, it really looks like it was some OS/system setup failure, as it worked in other linux distros just fine.
In the end we just need to make sure connect handles these bridge errors correctly (mytrezor properly detects libusb error, connect does not). Bridge issue itself could be solved later if needed, I just wanted to be sure we didn't miss anything so I wrote it down too.

[2021-03-18 09:53] tsusanka commented on #3431
Great, I totally agree.

[2021-03-18 10:18] bosomt commented on #3468
@alex-jerechinsky i was not able to reproduce the issue

**QA OK**

**Info:**
 - Suite version: desktop 21.3.2 (6dbeaf3dd28a11c5e4bc5867686f58d2920a14bd)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.3.2 Chrome/87.0.4280.141 Electron/11.2.1 Safari/537.36
 - OS: Win32
 - Screen: 1536x864
 - Device: model One 1.9.4 regular

[2021-03-18 10:20] szymonlesisz opened #4866 "CI / tests tracking issue"
- [ ] github actions OS runners matrix (osx + windows)
- [ ] collect coverage (jest, karma) from separated CI jobs
- [ ] ~~karma: add firefox workspace~~ done using playwright
- [x] karma: implement in gitlab
- [ ] ~~karma: handle new window opened (popup mode)~~ done in playwright
- [ ] ~~karma: move jasmine matcher (toMatchObject, expect.any in getFeatures fixtures) to karma plugin~~ karma depre

[2021-03-18 10:28] slowbackspace commented on #3392
new blockbook should be deployed by now, closing the issue.

[2021-03-18 10:28] #3392 closed, assigned to slowbackspace

[2021-03-18 10:34] jerechinsky commented on #3468
thank you

[2021-03-18 10:34] #3468 closed, assigned to tomexx

[2021-03-18 10:59] slowbackspace commented on #3459
note to self: probably fails right after sending/receiving new tx, check if we fetch fiat rates in this case. should be ok on refresh (if wallet is not remembered, otherwise clear storage)

related (probably the same) issue https://github.com/trezor/trezor-suite/issues/3365

[2021-03-18 22:50] tomexx commented on #3108
I replaced the underlying datepicker library and implemented mentioned ideas/improvements. Regarding `from/to` input fields I've kept the default lib's locale (en-US) so the date format should now match dates in other places of Suite. I could have added more locales, but every other locale would increase the bundle size so I'd keep it like this at least for now.

[2021-03-21 13:55] laurentdebricon opened #3556 "Missing progressbar for signing big transactions"
**Describe the bug**

Signing a transaction hung on the Trezor T, then did it with success in trezor web
with trezor web i had a nice progress log.
with Suit, nothing about log.

i tried 3 times, with differents usb wire before doing it with the good old trezor web

**Info:**
 - Remembered Wallet: yes
 - Suite Version: Trezor-Suite-21.3.1-linux-x86_64
 - OS: ubuntu 20.04
 - Bridge: ?
 - Firmware V

[2021-03-21 16:00] prusnak commented on #3556
Which coin was that? Can you post the link to the succeeded (in the old trezor web) transaction on the block explorer?

[2021-03-21 20:43] laurentdebricon opened #3557 "Set Custom Image, Trezor crash"
**Describe the bug**
- Set custom Image, the hardware wallet hang and suit hang.
- Disconnect, and reconnect, the hardware wallet still got the new image

in the zip attached i have put the jpeg, made with Gimp on Ubuntu, it's in a zip because maybe github could compress/edit/strip the pic
[trezor.zip](https://github.com/trezor/trezor-suite/files/6178366/trezor.zip)

**Info:**
 - Remembered Wallet

[2021-03-21 20:44] laurentdebricon commented on #3556
bitcoin, transaction sent to you privately

[2021-03-22 09:47] sorooris commented on #3517
**QA OK**

Additionally tested different combinations, couldn't replicate issue.

Suite: 21.3.2 6dbeaf3d
OS: macOS Big Sur 11.2.3
Device: model T 2.3.5 public

[2021-03-22 13:25] prusnak commented on #3556
Thanks. We've investigated the issue and we think it would work just fine with the Suite too - you just didn't let it finish it.

I am editing the issue to be about missing progressbar in the Suite.

[2021-03-22 13:33] glacierbits opened #3558 "Update MacOS icons"
The current Suite desktop (BigSur, MacOS) icons are too large.

Smaller icons based on [Apple Guidelines](https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/app-icon#:~:text=App%20Icon%20Sizes,1x%2C%201024x1024%20px%20%402x) here: [iconMensi.zip](https://github.com/trezor/trezor-suite/files/6182502/iconMensi.zip)

Currently:
<img width="165" alt="Screen Shot 2021-

[2021-03-22 13:44] laurentdebricon commented on #3556
ok. i waited so long the trezor locked itself, default configuration timer.

[2021-03-22 14:05] bosomt commented on #2539
New onboarding in April. Closing

[2021-03-22 14:05] #2539 closed, assigned to glacierbits

[2021-03-22 14:11] bosomt commented on #2165
**QA NOK**

still no blur

**Info:**
 - Suite version: web 21.3.1 (1dbc5b720515c39a47f1dc58391dbebf1d766394)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.4 regular

[2021-03-22 14:41] bosomt commented on #3075
**QA OK**

probably fixed via https://github.com/trezor/trezor-suite/issues/3517 @slowbackspace ? :)

**Info:**
 - Suite version: web 21.3.2 (6dbeaf3dd28a11c5e4bc5867686f58d2920a14bd)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:86.0) Gecko/20100101 Firefox/86.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.4 regular

[2021-03-22 14:41] #3075 closed, assigned to glacierbits

[2021-03-22 15:09] slowbackspace commented on #2165
😁 I guess we will wait till firefox implements this feature. Actually, it is already since v 70, but it is disabled by default. https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter#browser_compatibility

[2021-03-22 15:32] szymonlesisz commented on #3556
your trezor was freezed in this state:
![Screenshot from 2021-03-22 16-29-11](https://user-images.githubusercontent.com/3435913/112015508-2b86ab80-8b2c-11eb-8314-f800c5395441.png)

and then lockeditself?
or the freeze happened before the confirmation process? (you didn't confirm anything on device yet)

[2021-03-22 15:46] laurentdebricon commented on #3556
The freeze happened exactly as your picture, 3 times

[2021-03-22 15:50] szymonlesisz commented on #3556
i also saw that you've reported another issue about freezing device (custom image)
is it happened before or after signing transaction? it might be related

[2021-03-22 16:23] laurentdebricon commented on #3556
After. it freezes all the times I tried, for 2 differents trezor.

but don't get burned out, i really like trezor suite ! that's why i am spending time to reports the bugs i found

[2021-03-22 16:29] laurentdebricon commented on #3556
i was without trezor-bridge. just installed it now. no idea if usefull

[code]

[2021-03-22 18:50] prusnak commented on #3556
Please don't - the Suite has its own version of the bridge. Please uninstall the separate bridge and reboot your computer. Otherwise we won't be able to debug the issue.

[2021-03-22 20:14] bosomt commented on #2165
looking forward, it looks really strange in Firefox when overlapping during dialogues

![image](https://user-images.githubusercontent.com/31506317/112052518-82ec4200-8b53-11eb-9025-3bf782f32930.png)

[2021-03-22 20:51] prusnak commented on #2165
I confirm that setting `layout.css.backdrop-filter.enabled` to `true` in Firefox preferences (`about:config`) enables the blur.

(Firefox 86 on macOS 11)

[2021-03-23 09:05] bosomt commented on #3395
Icon is present in appImage

![image](https://user-images.githubusercontent.com/31506317/112120853-ebbcd400-8bbe-11eb-8da5-8c7c7288b89a.png)

**Info:**
 - Suite version: desktop 21.3.2 (6dbeaf3dd28a11c5e4bc5867686f58d2920a14bd)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.3.2 Chrome/87.0.4280.141 Electron/11.2.1 Safari/537.36
 - OS: Linux x86_64

[2021-03-23 15:11] bosomt commented on #2768
Obsolete issue.
Brand new onboarding in next release.

[2021-03-23 15:11] #2768 closed, assigned to robertbrada

[2021-03-23 15:31] bosomt commented on #2456
**QA OK**

No more Cancel button and Select wallet type modals is above update modal.

**Info:**
 - Suite version: desktop 21.3.2 (6dbeaf3dd28a11c5e4bc5867686f58d2920a14bd)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.3.2 Chrome/87.0.4280.141 Electron/11.2.1 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model One 1.9.3 regula

[2021-03-23 15:31] #2456 closed, assigned to nobody

[2021-03-23 19:00] martinboehm opened #3561 "Incorrect formatting of token amount in the transaction confirmation dialog"
In the left column, the amount is not displayed correctly.

**Info:**
 - Suite version: web 21.3.2 (6dbeaf3dd28a11c5e4bc5867686f58d2920a14bd)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36
 - OS: MacIntel
 - Screen: 2048x1280
 - Device: model T 2.3.5 regular

![image](https://user-images.githubusercontent.com/116

[2021-03-23 19:39] goodhoko commented on #2282
@tomasklim [is reworking](https://github.com/trezor/trezor-suite/issues/2752) the notifications/banners RN. It would be best to base the safety checks banner on top of his work. Marking this issue as blocked.

[2021-03-24 07:36] bosomt commented on #3384
**QA OK**

embedded version ` Version: 2.0.31 (rev 5f53132)  `

**Info:**
 - Suite version: desktop 21.4.0 (ab673f9777b6ddaf13234e5e6b3b3ab5be46852c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-03-24 07:41] bosomt commented on #3392
**QA OK**

**Info:**
 - Suite version: desktop 21.4.0 (ab673f9777b6ddaf13234e5e6b3b3ab5be46852c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-03-24 07:59] bosomt commented on #3561
I was able to reproduce issue

![image](https://user-images.githubusercontent.com/31506317/112274701-179f8e80-8c7f-11eb-9b0e-2b4d4a5701de.png)

**Info:**
 - Suite version: desktop 21.4.0 (ab673f9777b6ddaf13234e5e6b3b3ab5be46852c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_6

[2021-03-24 08:08] bosomt commented on #3543
i was able to reproduce issue with 21.3.2 and 21.4.0 version

**Info:**
 - Suite version: desktop 21.4.0 (ab673f9777b6ddaf13234e5e6b3b3ab5be46852c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-03-24 09:16] bosomt commented on #3306
I was able to reproduce issue.
Works as expected when you use ctrl+q , when you use x button it you will observe black screen that you can close via ctrl+q

**Info:**
 - Suite version: desktop 21.4.0 (ab673f9777b6ddaf13234e5e6b3b3ab5be46852c)
 - OS: MacBook Air M1 v 11.2.3
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-03-24 09:26] bosomt commented on #3241
**QA OK**

i was not able to reproduce issue

**Info:**
 - Suite version: desktop 21.4.0 (ab673f9777b6ddaf13234e5e6b3b3ab5be46852c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model One 1.9.3 regular

[2021-03-24 09:26] #3241 closed, assigned to sorooris

[2021-03-24 09:32] bosomt commented on #3158
New onborading in next release, issue obsolete.

[2021-03-24 09:59] keraf commented on #3241
@jingxi285 Logging has been added to Suite desktop. Could you please try again using the latest release. If it still doesn't work, you can add the `--log-level=info` as well as the `--log-write` (to write it to disk) flags when running Suite. You can find more details for this here: https://docs.trezor.io/trezor-suite/packages/suite-desktop.html#runtime-flags

If the issue persists, I will re-open

[2021-03-24 10:24] sorooris commented on #3297
@martinboehm Any updates on this one?

[2021-03-24 10:31] bosomt commented on #3116
**QA OK**

I was not able to reproduce this issue anymore

**Info:**
 - Suite version: desktop 21.4.0 (ab673f9777b6ddaf13234e5e6b3b3ab5be46852c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model One 1.9.3 regular

[2021-03-24 10:31] #3116 closed, assigned to glacierbits

[2021-03-24 11:37] martinboehm commented on #3297
It is in the pipeline

[2021-03-25 01:14] yura-pakhuchiy opened #3566 "Allow using custom blockbook backend for coin not present in the list"
In wallet.trezor.io user can specify custom backend for coin supported by Trezor, but not officially supported by the wallet. Eg. it works with https://blockbook.firo.org. But the suite allows adding custom backends only for officially supported coins by the suite. Would be great to be able add custom coin/blockbook like it was possible in the wallet.

[2021-03-25 09:07] sorooris commented on #2542
@matejzak @alex-jerechinsky could we implement a fix for this in the following releases?

[2021-03-25 09:34] glacierbits commented on #2542
Thanks for brining this to our attention. As a matter of fact, it's a good timing to include it in the new Onboarding #3332 development — to be released in May. (1) App Settings should be accessible even without connected device, and (2) we can detect Bootloader mode on the app startup screen [here](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/60340959122e10b2d3800dd8).

cc @slowb

[2021-03-25 10:10] tomexx commented on #3348
@matejzak Trade button + more icon updated (globally)

[2021-03-25 10:50] slowbackspace commented on #2542
Hold your horses, while the feature seb asks is easy to implement ad-hoc I am afraid that proposed solution is a bit more complicated than it seems.
Adding a button to new "welcome/connect your device", in case the device is connected in bootloader, will be easy, but keep in mind that means suite will need some heavy adjustments (basically we need only allow few actions in settings, forbid accessi

[2021-03-25 10:58] tomasklim opened #3567 "Suite passphrase settings does not reflect device settings"
**Describe the bug**
Your device is locked and you want to enable passphrase. You click on the switch and enter an incorrect pin. You get a notification, that pin was incorrect, but the switch is changed until you go to the settings again.

If you click on the switch again (without refreshing the page). It looks like that you want to disable it (put it into the initial state). Now you enter the co

[2021-03-26 06:10] bosomt commented on #3567
I think it's same issue as https://github.com/trezor/trezor-suite/issues/2149

[2021-03-26 08:45] glacierbits commented on #1946
FYI design proposal added to the issue description ☝🏽

[2021-03-26 09:39] mcudev commented on #3399
I'd like to see this support added to the GUI too.
I might work on this. I'd need to get familiar with this repo first, so don't let it stop anyone else.

If you weren't aware, you can already use the command line tools to generate BIP84 P2WPKH (aka native segwit bech32 encoded) addresses, like this:
`trezorctl btc get-address -c Litecoin -n 'm/84h/2h/0h/0/0' -t wpkh -d`
equivalent syntax without

[2021-03-26 09:44] prusnak commented on #3399
Are there any exchanges that support sending to Litecoin Bech32 addresses?

[2021-03-26 10:05] mcudev commented on #3399
Yes, Kraken lists support here https://support.kraken.com/hc/en-us/articles/360001474826-Supported-address-formats-for-cryptocurrency-withdrawal

I believe that Gemini does as well.

[2021-03-26 10:12] mcudev commented on #3399
It would be great to eventually make p2wpkh the default for Litecoin to get away from all that address conversion stuff, and to use the cheapest option (p2wpkh). For reference, 1 sat/vbyte transactions on LTC usually get into the next block.

[2021-03-26 11:10] mcudev opened #3568 "support litecoin testnet and/or bitcoin signet"
**Rationale**

I have been helping new users get setup, comfortable, and trained with their new Trezor T devices.

So far, the easiest option with Trezor Suite has been to use the existing Bitcoin Testnet to demonstrate to them how to send and receive coins in a limited risk environment, etc...

However, Bitcocin Testnet is notoriously unreliable and can lead to new user frustration.
Bitcoin signe

[2021-03-26 11:17] mcudev commented on #3568
I forgot to mention that a bitcoin signet blockbook instance is running at https://signet-explorer.wakiyamap.dev/
That might help to test this. I don't know how reliable that instance is, I just found it while googling.

[2021-03-26 11:50] jfriesse commented on #3399
Simplecoin supports it flawlessly

[2021-03-26 18:13] prusnak opened #3571 "Bump TT FW to 2.3.6"
Required commit in Connect is here: https://github.com/trezor/connect/commit/a1831647349900f96c3a87cb24b6141162daa645

[2021-03-27 18:45] mcudev commented on #1913
@sorooris Is this issue closable? It was opened almost a year ago and the mentioned select in the current version no longer allows user entered text. The select doesn't seem to respond to keyboard input either. I think maybe the design has moved on past this bug. Thanks!

[2021-03-27 19:07] mcudev commented on #3351
This seems like it is working as intended and not a bug. The transaction summary is telling you about the net effect to your account since both addresses are within the same account. When you send to an address not in the same account (including to an address not controlled by you), then the data are shown as you mentioned in this issue.

For an example of sending from one of your accounts to anot

[2021-03-27 21:33] mcudev opened #3575 "webusb firmware installation gets stuck"
**Describe the bug**

When testing the new device (or new user) workflow and with the trezord/bridge **NOT** running, firmware installation gets stuck / hangs at the "Trezor setup" "Restarting Trezor" "Do not disconnect your Trezor." modal dialog. I tested with a TT device that I had wiped the firmware off of. After the 2.3.5 firmware gets installed, the device restarts and boots fine. The OS regi

[2021-03-27 22:59] mcudev commented on #3575
I tried this with the other web wallet and it shows the button to let the user pick the device again. That's what I had guessed. So, this is a solved problem and just needs to be implemented again for suite in this part of the process.

This is what the current wallet does after installing the firmware:
![image](https://user-images.githubusercontent.com/29890609/112737094-3d05f400-8f2e-11eb-9cb7-9

[2021-03-28 11:20] #3352 closed, assigned to tomexx

[2021-03-28 11:25] #3554 closed, assigned to tomexx

[2021-03-28 11:26] #3539 closed, assigned to szymonlesisz

[2021-03-28 11:29] #3108 closed, assigned to tomexx

[2021-03-28 13:19] glacierbits opened #3576 "FW update: Changelog box"
The box around the FW update changelog is almost invisible.

<img width="802" alt="Screen Shot 2021-03-28 at 15 13 20" src="https://user-images.githubusercontent.com/29627086/112753617-814dce80-8fd8-11eb-9bf3-fdc9b3a28afa.png">

 - Suite version: web 21.4.0 (a8710a4ff8f5b667fa9d439621b046b05ed04f6c), Chrome

[2021-03-28 13:27] glacierbits opened #3577 "Device not remembered/connected, wallet loaded"
Device not connected, not remembered ›  Yet, wallet data loaded

This happened to me twice in a short time span on 2 different devices, and 2 totally different situations, so I am just raising it to make sure there isn't some bigger problem behind it.

(1) After FW update (from 2.3.4 to 2.3.5.) › Resulted in device disconnected › Reconnecting didn't do anything (screenshot below)
(2) Simply after

[2021-03-28 18:42] shipluhoque commented on #3395
On Linux Mint, its not visible

[2021-03-28 23:25] jimbojw commented on #945
Duplicate of what? Where's the open bug for this feature? The old browser-based wallet used to support custom home screens, but I don't see this option in the trezor-suite app.

[2021-03-29 07:52] mroz22 commented on #945
The feature is indeed not implemented yet. But there may be already an open issue for that.

[2021-03-29 08:02] bosomt commented on #3554
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/112805419-dab80b00-9075-11eb-816d-24f65553bf0c.png)

**Info:**
 - Suite version: desktop 21.4.0 (a8710a4ff8f5b667fa9d439621b046b05ed04f6c)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x14

[2021-03-29 08:25] bosomt commented on #3539
**QA OK**

**Info:**
 - Suite version: desktop 21.4.0 (d8afa44f141e1ae678cc89d8dda758b790888c06)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-03-29 08:33] sorooris commented on #1913
@mcudev correct, thank you for the heads up! Closing issue.

**QA OK**
Coin Search function in Add account modal disabled.
![image](https://user-images.githubusercontent.com/10185314/112808901-c413b300-9079-11eb-91d7-7eef3155bfd4.png)

Suite: web 21.3.2 6dbeaf3
Browser: Chromium 89.0.4389.82
OS: NixOS 20.09
Device: model 1 1.9.4 ffa9620

[2021-03-29 08:33] #1913 closed, assigned to glacierbits

[2021-03-29 08:35] bosomt commented on #3558
** QA OK**

OS: MacOS BigSur M1 2020
Suite commit d8afa44f

[2021-03-29 08:52] bosomt commented on #3395
Suite 21.3.2 , public version and Mint Linux 20.1  works as expected

![image](https://user-images.githubusercontent.com/31506317/112811907-d2170300-907c-11eb-9743-908ffa80f677.png)

[2021-03-29 09:18] #3516 closed, assigned to tomexx

[2021-03-29 09:20] #3549 closed, assigned to tomexx

[2021-03-29 09:28] bosomt commented on #3108
** QA OK**

**Info:**
 - Suite version: desktop 21.4.0 (d8afa44f141e1ae678cc89d8dda758b790888c06)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-03-29 10:12] shipluhoque commented on #3395
I upgraded to linux mint 20.1 with cinnamon theme. still no icon

![Screenshot from 2021-03-29 11-08-32](https://user-images.githubusercontent.com/78937846/112822185-8580f700-907f-11eb-9362-8f292164c483.png)

[2021-03-29 11:11] bosomt commented on #3516
**QA OK**

works as expected

![image](https://user-images.githubusercontent.com/31506317/112828611-3a231480-9090-11eb-8008-dc3ffc1a52ab.png)

**Info:**
 - Suite version: desktop 21.4.0 (e9429cf6d1aa7af9466cc93d9fd842e9c219aa3f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64

[2021-03-29 11:27] jimbojw commented on #945
Can you provide a link? I want to see that there is indeed an open issue.

[2021-03-29 11:29] prusnak commented on #945
Duplicate of https://github.com/trezor/trezor-suite/issues/1157

[2021-03-29 12:21] bosomt commented on #3549
**QA OK**

**Info:**
 - Suite version: web 21.4.0 (e9429cf6d1aa7af9466cc93d9fd842e9c219aa3f)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-03-29 12:57] andrewkozlik opened #3578 "Warn when spending unconfirmed UTXOs"
**Is your feature request related to a problem? Please describe.**
Recently someone reported an issue where their transaction was stuck in the mempool even though the fee rate was sufficiently high for it to be processed. Upon investigation we found that the transaction was spending an unconfirmed UTXO of very low value, less than $1.

**Describe the solution you'd like**
1. Suite should warn user

[2021-03-29 15:01] bosomt opened #3579 "Exchange - Amount is too low error persistent"
**Describe the bug**
`Amount is too low` is persistent even when you change amount via 1/2, 1/4 ... buttons.

**Steps to reproduce:**
1. Enter amount acceptable value and lower till you get `Amount is too low` error
2. Use 1/2 1/3 .. buttons to change amount
3. Observe `Amount is too low` error

**Info:**
 - Suite version: web 21.4.0 (634e619c589db56809b1e193debb130563ad8a64)
 - Browser: Mozilla/5

[2021-03-30 10:11] tomasklim commented on #1946
Notes:
- T1
-- auto-lock works on all fw versions
-- T1 auto_lock_delay_ms is retrieved from the device from version 1.9.4

- T2
-- T2 auto-lock works from version 2.3.2
-- T2 auto_lock_delay_ms is retrieved from the device from version 2.3.5

[2021-03-30 11:47] goodhoko commented on #2242
For me, TODO:
- [x] e2e tests
- [x] UI polish
- [x] translations
- [x] release connect (https://github.com/trezor/connect/pull/785)
- [x] changelog

[2021-03-30 12:30] tsusanka commented on #3571
@prusnak do we need to do this if we plan to release 2.4.0 in May? I understand it might be confusing to users but the whole FW in Suite release is quite manual and a bit painful at the moment. Or can we deploy Connect already?

[2021-03-30 12:34] slowbackspace opened #3583 "trezor-translations-manager is using now deprecated Crowdin API"
😢

things to consider:
- do we still need TTM? some functionality can be replaced by formatjs cli which also has some level of integration with crowdin (probably for converting messages to correct format).
- Crowdin now has official JS client, if v2 api requires significant overhaul maybe using it will be more effective https://github.com/crowdin/crowdin-api-client-js
- I do remember we are using

[2021-03-30 12:46] tsusanka commented on #3556
@laurentdebricon did you experience this issue also without Bridge installed separately as suggested by @prusnak? Did you experience it also without a homescreen set on TT? Thanks for the info!

[2021-03-30 12:48] tsusanka commented on #3557
Thanks for your report, this a long-standing firmware issue where we are running out of memory. We are addressing it now. We would like to introduce some fixes in ~Q3 but it needs a big firmware rewrite.

Related:
- https://github.com/trezor/trezor-firmware/issues/1114
- https://github.com/trezor/trezor-firmware/pull/1541
- https://github.com/trezor/trezor-firmware/pull/1540
- https://github.com/t

[2021-03-30 12:48] #3557 closed, assigned to tsusanka

[2021-03-30 12:48] laurentdebricon commented on #3556
it was without bridge.
only this special transaction was getting blocked all the time ( i tried three times) , until i made it on trezor web.
i can't do it again, the others works

[2021-03-30 16:03] jeebster commented on #3550
@matejzak Can this issue be expanded to include other assets currently available in beta (`XLM`, etc.)? I'm happy to help with implementing this feature

[2021-03-30 17:41] tsusanka commented on #3556
Do I understand it correctly, you can't reproduce anymore?

[2021-03-30 17:48] tsusanka commented on #1946
@tomasklim btw if it would simplify code dramatically I can imagine supporting auto-locks only from versions 1.9.4 and 2.3.5 for simplicity. Of course with the blessing of @matejzak's. But only if it is really a "big saving"..

[2021-03-30 17:55] tsusanka commented on #3566
I am a bit confused here @yura-pakhuchiy. If you set your custom blockbook for Firo, how do you use the coin then when it is not supported by wallet.trezor.io?

[2021-03-30 18:02] yura-pakhuchiy commented on #3566
By not officially supported I've meant it is not present in the list on the left side. But it works (and many other coins I believe), try it yourself, just enter custom blockbook server.

[2021-03-30 18:04] yura-pakhuchiy commented on #3566
https://firo.org/guide/using-trezor-with-firo.html

[2021-03-30 18:23] laurentdebricon commented on #3556
i can't reproduce it anymore.

[2021-03-30 18:28] tsusanka commented on #3556
Ok, please reopen if you manage to reproduce it. I believe it is most likely due to the [other issue you reported](https://github.com/trezor/trezor-suite/issues/3557) which we are addressing in FW as we speak. Thanks for the reports!

[2021-03-30 18:28] #3556 closed, assigned to tsusanka

[2021-03-30 18:42] tsusanka commented on #3566
I see. Sorry but we do not plan to support such feature in Suite. It is out of our capabilities to support each and every altcoin and
the fact that Firo works with wallet.trezor.io is not really something we supported, more like a side-effect of how wallet.trezor.io works. It seems very specific to Firo because most of altcoins have different signing process which the Suite would have to support.

[2021-03-30 19:12] szymonlesisz commented on #3178
this may be fixed by recent refactor, no? @martinboehm
using validation in [sendFormRippleActions](https://github.com/trezor/trezor-suite/blob/develop/packages/suite/src/actions/wallet/send/sendFormRippleActions.ts#L108)

[2021-03-30 19:14] szymonlesisz commented on #2279
is this still an issue @trezor/qa? i believe this was fixed a while ago

[2021-03-30 19:59] MysticRyuujin opened #3588 "Allow loading accounts past first unused index"
**Is your feature request related to a problem? Please describe.**
I have Ethereum accounts, that are in use, at index 0, 1, 5, 6 (BIP44 standard)

The software will not let me load or import accounts past index 1 because index 2 is unused/has no balance. Stopping at the first unused index for a scan is "fine" but not being able to manually scan more accounts is a problem.

**Describe the solution

[2021-03-31 07:01] bosomt commented on #2279
**QA OK**

https://ltc1.trezor.io/tx/4afd50504a527f6bb79453b3df74f239d316006733a91439c119e9bdee7e160f

**Info:**
 - Suite version: desktop 21.4.0 (e9429cf6d1aa7af9466cc93d9fd842e9c219aa3f)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T

[2021-03-31 07:01] #2279 closed, assigned to nobody

[2021-03-31 07:48] bosomt commented on #3178
**QA OK**

I'm not able to buy less than 20 XRP anymore

[code]

**Info:**
 - Suite version: web 21.4.0 (0353a27e328dec1e3b8745847e0e81a001afaa75)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-03-31 07:48] #3178 closed, assigned to martinboehm

[2021-03-31 08:01] szymonlesisz commented on #1946
it's not only about big saving. it's also about precision.
read my review comment here:
https://github.com/trezor/trezor-suite/pull/3582#discussion_r604045753

[2021-03-31 08:37] tsusanka commented on #1946
@szymonlesisz got it.

is a synonymous to mine "only from versions 1.9.4 and 2.3.5". Correct?

[2021-03-31 09:16] szymonlesisz commented on #1946
right

[2021-03-31 09:57] bosomt opened #3589 "Exchange - Receiving address tooltip wording"
**Describe the bug**
Tool-tip in Exchange  tab Says ` Verify this address on your Trezor.` even when coin is not supported in Suite or you are using account that isn't in Suite.

**Steps to reproduce:**
1. Proceed with Exchange steps
2. Hover over ? in `Receiving address` dialogue.

**Info:**
 - Suite version: web 21.4.0 (0353a27e328dec1e3b8745847e0e81a001afaa75)
 - Browser: Mozilla/5.0 (X11; Ubun

[2021-03-31 10:48] bosomt commented on #3589
same "issue" with `Receiving account` tooltip.
It says within even when you choose custom address.

![image](https://user-images.githubusercontent.com/31506317/113132848-47bad480-921f-11eb-92ce-f0da39146061.png)

[2021-03-31 11:49] sorooris opened #3592 "Onboarding - Select-wallet-type modal not displayed after completing onboarding (and turning passphrase on)"
**Describe the bug**
The _Select wallet type_ modal is not displayed after completing onboarding in which passphrase is turned  automatically on; compared to the flow when an already set up device is connected after which the modal is displayed and Standard or Hidden wallet selection is offered. I would expect that the modal is displayed every time if passphrase is ON.

**Info:**
 - Remembered Wal

[2021-03-31 11:51] #3579 closed, assigned to martinboehm

[2021-03-31 23:02] yura-pakhuchiy commented on #3566
I believe it is not only Firo, but the most of bitcoin-like coins defined in https://github.com/trezor/trezor-firmware/tree/master/common/defs/bitcoin. Most of them are implemented via only JSON definition file which covers all their's differences to bitcoin and major supported altcoins without any extra code in firmware. The only exception is few coins like Decred and Groestcoin which indeed will

[2021-03-31 23:07] yura-pakhuchiy commented on #3568
I've opened issue with a bit more general version of this issue: https://github.com/trezor/trezor-suite/issues/3566

[2021-04-01 06:43] bosomt commented on #3579
**QA OK**

**Info:**
 - Suite version: desktop 21.4.0 (5e764586ac9b9d7369eb54829f238e6e3f240faf)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-04-01 10:06] ddaddy commented on #3260
+1 for WalletConnect support in the desktop suite please.

[2021-04-01 12:30] #1946 closed, assigned to tomasklim

[2021-04-01 13:55] #1756 closed, assigned to slowbackspace, tomasklim

[2021-04-05 07:33] bosomt commented on #3276
**QA OK**

tested via staging exchange

![image](https://user-images.githubusercontent.com/31506317/113549508-dcdc1580-95f1-11eb-9cc8-a90d7b1031ad.png)

**Info:**
 - Suite version: web 21.4.0 (f807484bde23d8dc64de78702595fcbd01d19ac0)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.6 regular

[2021-04-05 18:25] jimbojw commented on #1157
Is this still on the roadmap?

[2021-04-06 07:02] jerechinsky commented on #3592
@matejzak it seems like common sense to have the _Select wallet type_ modal displayed after user finishes onboarding, but I'd appreciate your input first. Is this something that's accounted for in the new onboarding? If so, should we still implement it here?

[2021-04-06 07:23] glacierbits commented on #3592
Heads up to @slowbackspace who is working on the new #3332

[2021-04-06 07:25] jerechinsky commented on #3577
@trezor/qa could you please try to reproduce this?

[2021-04-06 07:40] bosomt commented on #3577
I was not able to reproduce issue via 2.3.4 > 2.3.5 upgrade
But I will watch out for this issue during regular testing.

**Info:**
 - Suite version: web 21.4.0 (13e39799cd9a620f1f3235238fc353f5312fa479)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.5 regular

[2021-04-06 07:57] #3348 closed, assigned to tomexx

[2021-04-06 08:14] sorooris commented on #3214
hey y'all, is the fix for this going to be included in the April release?

[2021-04-06 08:20] #3276 closed, assigned to martinboehm

[2021-04-06 08:22] tsusanka commented on #3214
I think we should retest on develop because some of the PRs @slowbackspace is mentioning did not make it into v21.3.1. But we can also wait for the Freeze and test on that.

[2021-04-06 08:23] slowbackspace commented on #3214
I'm not aware of any merged fixes related to high memory usage, in the other issue (discussion in https://github.com/trezor/trezor-suite/issues/3534#issuecomment-795360987 moved to https://github.com/trezor/trezor-suite/issues/3661) we've discussed other culprits that may be causing this, I haven't dig more into it since these issues two are basically the same and I believe fixing the discussed is

[2021-04-06 08:36] slowbackspace commented on #3577
I also wasn't able to reproduce this, but it is possible there is a glitch hidden somewhere because during the fw update we are really storing the device till the update it completed, but then it should get removed from the database and, so far, it does in my testing. I would keep the issue open for now and I'll keep an eye on this while rewriting the onboarding (thus also fw update flow).

[2021-04-06 08:40] slowbackspace commented on #3577
Heh, but due to how this works I realized there is another "glitch" that you can trigger, just disconnect the device after fw installation is completed, but BEFORE  before closing fw update modal. Device stays remembered, but reconnecting the device shows the correct status (connected) so no biggie 😁. Maybe @matejzak's issue is combination of this and some real bug we have yet to find.

[2021-04-06 09:44] #3493 closed, assigned to keraf

[2021-04-06 11:19] tomexx commented on #3127
Is this still valid?

[2021-04-06 11:22] #3542 closed, assigned to keraf

[2021-04-06 11:27] #3530 closed, assigned to tomexx

[2021-04-06 11:29] bosomt commented on #3127
I don't think so ;)
I was not able to reproduce any kind of graph issues for some time.
Closing

**QA OK**

[2021-04-06 11:29] #3127 closed, assigned to tomexx

[2021-04-06 11:35] bosomt commented on #3493
**QA OK**

**Info:**
 - Suite version: desktop 21.4.0 (d3a5d232f105d6ca53e15dbed52848e677eb3771)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.5 regular

[2021-04-06 11:41] jerechinsky commented on #3567
Correct, seems like it is duplicate of #2149. Thanks for raising this, though.

[2021-04-06 11:41] #3567 closed, assigned to jerechinsky

[2021-04-06 11:48] jerechinsky commented on #3575
I'm having some trouble replicating. @trezor/qa could you please try?

[2021-04-06 11:49] #3399 closed, assigned to szymonlesisz

[2021-04-06 11:57] slowbackspace commented on #1993
Hehe, just ran into this old issue. We are currently in the process of figuring out what will work best regarding the changelog "generation" so I'll close this.

[2021-04-06 11:57] #1993 closed, assigned to nobody

[2021-04-06 11:58] slowbackspace commented on #2140
this is most likely outdated 😁

[2021-04-06 11:58] #2140 closed, assigned to nobody

[2021-04-06 12:00] slowbackspace commented on #1215
@matejzak any update on this? 😁

[2021-04-06 12:00] slowbackspace commented on #1057
super outdated design, closing

[2021-04-06 12:00] #1057 closed, assigned to nobody

[2021-04-06 12:16] slowbackspace commented on #3575
Just to be sure try to remove all devices listed in `chrome://settings/content/usbDevices`.

edit: I am able to reproduce this. I believe @mcudev is correct. When going through initial setup in Onboarding with a device without a firmware the device is in bootloader-like mode out of the box. Device in bootloader mode acts rather as a separate physical device. This device is paired with the browser

[2021-04-06 13:36] keraf commented on #3543
@trezor/qa Could you please test #3602 if it fixes the issue on Linux and Mac?

[2021-04-06 14:11] bosomt commented on #3543
**QA OK**

tested in MacOS 11.2.3. and KUbuntu 20.10

**Info:**
 - Suite version: desktop 21.4.0 (c6ec83b7c09580fab972518ca2892b77c2e2fbf1)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.5 regular

[2021-04-06 14:11] #3543 closed, assigned to keraf, tomasklim

[2021-04-06 14:21] keraf commented on #3182
Could we have another @trezor/qa sweep on this one? If it's reproducible, with some logs please :slightly_smiling_face: Otherwise, burn this issue :fire:

[2021-04-06 14:56] #3575 closed, assigned to slowbackspace

[2021-04-06 17:13] bosomt commented on #3182
I was never able to reproduce this issue.
I think we can close this issue and of course reopen it it reappears and we will be able to reproduce it or we will have log file.

@yohaaan close ?

[2021-04-07 02:18] somebodyLi opened #3623 "Encountered Invalid prevhash"
**Describe the bug**
when I use trezor one to signing my BTC transaction, I got  the error message `Encountered Invalid prevhash` ? what's it means ??
**Firmware version and revision**
1.9.5
**Desktop/smartphone setup (please complete the following information):**
 - Wallet software: [Trezor Suite]
 - OS: [macOS]

**To Reproduce**
hard to reproduce

[2021-04-07 07:51] bosomt commented on #3575
**QA OK**

**Info:**
 - Suite version: web 21.4.1 (3ed454e4e81b72482a9ad780c5cce9846cb29fb1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.5 regular

[2021-04-07 07:53] #3534 closed, assigned to keraf

[2021-04-07 09:08] bosomt commented on #3530
**QA OK**

**Info:**
 - Suite version: web 21.4.1 (3ed454e4e81b72482a9ad780c5cce9846cb29fb1)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.4 regular

[2021-04-07 09:55] bosomt opened #3607 "New account navigation nitpicks"
**Describe the bug**

There are some problems with new Account navigation design. Please see video/screenshots

 - 1 - When leaving account navigation to Settings it takes some time to replace `< back` button to General/Device/Coins tabs
 - 2 - After you send transaction navigation won't reappear and you will only see `< back ` is it possible to change this behavior ?
 - 3 - Account Detail header

[2021-04-07 10:17] slowbackspace commented on #3607
As a lazy programmer I would say it is valid behaviour, from user pov I am too not sure if I would expect I'll be redirected back to overview. Certainly something that should product consider tho.

I'll add one more thing. We've somehow lost active state for tabs in Settings.

And little nitpick I noticed, there should be horizontal padding around bottom border under active tab (so the border is l

[2021-04-07 10:47] sorooris commented on #3607
Related to #3348.

[2021-04-07 12:26] tomexx commented on #3607
Thx, I'm on it

[2021-04-07 12:42] STew790 opened #3608 "Trezor Bridge bundled with Suite should be prioritized over standalone Trezor Bridge"
**Describe the bug**
If you have your standalone Bridge running when you start Trezor Suite, it will not start the bundled Bridge in Suite. Then if you kill the standalone Bridge in console/task manager, Suite obviously can't connect to the device, which is as expected. But when you try to refresh the Suite (ctrl+R) it won't start the bundled Bridge and just asks you to download and install the st

[2021-04-07 12:54] sorooris commented on #3182
I came across an issue #3608 that could be somewhat related to this.

- what happens is that when Suite is running with a standalone Bridge instance and for whatever reason the trezord process is killed, the prompt to install Bridge is displayed (after ctrl+R at least) and Suite needs to be relaunched to make it run with the bundled Bridge instance.

Suite: 21.4.1 3ed454e
Bridge: 2.0.31 standalone

[2021-04-07 14:25] prusnak commented on #3608
Currently, the suggested solution is not possible for two reasons:
a) both bundled and external bridges start the server on port 21325 - you can't have two programs running on the same port
b) even if we used a diffent port for bundled and configured suite to use that - you would have a problem that the external bridge might capture the device and the bundled bridge will not see it - that's not so

[2021-04-07 14:32] prusnak commented on #3623
There is no such firmware release 1.9.5 - where did you install this firmware from?

[2021-04-07 14:48] somebodyLi commented on #3623
ah, I'm sorry, it is 1.9.4

[2021-04-07 15:14] prusnak commented on #3623
Which version of Suite are you running?

If it's not the latest (21.3.2) please install latest Trezor Suite from https://suite.trezor.io

[2021-04-07 15:27] somebodyLi commented on #3623
it's newest

[2021-04-07 15:36] andrewkozlik commented on #3405
Additional settings to consider:

- Set passphrase source (TT only). When the passphrase is enabled allow the user to toggle the passphrase-always-on-device setting on/off. See https://wiki.trezor.io/Using_trezorctl_commands_with_Trezor#Set_passphrase_source.
- Set U2F counter. Either allow the user to specify a value like in the autolock UI or just have a "Reset U2F counter" button that will set

[2021-04-07 19:49] martinboehm opened #3610 "Exchange crypto: switching of fees level does not update max amount value"
**Info:**
 - Suite Version: develop 69a0e7351c5b213f028da53bc129878fd6e8ba9a

**Steps to reproduce:**
1. choose a BTC account with some balance, go to Trade/Exchange
2. select "All"
3. observe the amount of crypto in the input field (equal to account balance minus fees)
4. change the fee level (from normal to economy, for example)

**Expected result:**
As the fees are recalculated, amount changes

[2021-04-07 21:27] waltonzt commented on #2917
@tsusanka I would like to take this issue on. I have reviewed the work required and the only thing I am missing is how to redirect to a commit in the trezor-firmware repo. The revision number in features does not seem to be related to the firmware commits.

The Suite version code looks to use an env variable COMMITHASH to get the needed values.

Would you have any guidance on where to git the comm

[2021-04-07 21:30] prusnak commented on #2917
It is. From the above example: `fd90bb9d1` should link to `https://github.com/trezor/trezor-firmware/commit/fd90bb9d1`

[2021-04-07 21:49] waltonzt commented on #2917
Okay that is where I am confused then because when I access `device.features.revision` I do not get a 9 character commit hash. Accessing that value returns a 18 character string. when appending that to the end of the url like you have in your example it does not go to a valid commit.

Is this due to it being a dev environment?

[2021-04-07 21:52] prusnak commented on #2917
I think I know what's the issue - Javascript does not have native bytes type, so we hex-encode protobuf bytes into a Javascript string. Thus you you need to hex-decode the 18 character string into a 9-byte value first. Not sure what's the best way from top off my head, but surely there are other instances of such conversion in the existing code.

We use bytes instead of string for revision field f

[2021-04-07 22:02] waltonzt commented on #2917
That was it! Thank you for your help

[2021-04-08 08:17] bosomt commented on #3610
**QA OK**

**Info:**
 - Suite version: web 21.5.0 (818d77a2c77268e2e3dac1194c374d6cd831b40d)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model T 2.3.5 regular

[2021-04-08 08:20] #3610 closed, assigned to martinboehm

[2021-04-08 08:39] bosomt commented on #1946
**QA OK**

**Info:**
 - Suite version: web 21.4.1 (3ed454e4e81b72482a9ad780c5cce9846cb29fb1)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: Linux x86_64
 - Screen: 2560x1440
 - Device: model One 1.9.4 regular + model T 2.3.5

[2021-04-08 09:03] szymonlesisz commented on #3268
depends: https://github.com/trezor/blockbook/issues/557

[2021-04-08 10:07] bosomt commented on #3561
**QA OK**

<img width="667" alt="obrazek" src="https://user-images.githubusercontent.com/31506317/114008778-db655400-9862-11eb-8bbc-28017bc122c5.png">

**Info:**
 - Suite version: web 21.4.1 (3ed454e4e81b72482a9ad780c5cce9846cb29fb1)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: MacIntel
 - Screen: 1584x990
 - Device: model T 2.3.5 regular

[2021-04-08 10:18] sorooris opened #3613 "Notifications - selecting the View details button does not focus on the item"
**Describe the bug**
Selecting the View details button only redirects to the correct account but does not focus on the item from the notification (e.g. transaction received or sent).

**Info:**
 - Remembered Wallet: either (tested both)
 - Suite Version: app 21.4.1
 - Browser: N/A, Chromium 89.0.4389.82
 - OS: macOS 11.2.3, Nixos 20.09
 - Bridge: 2.0.31 (rev 5f53132)
 - Firmware Version: model One

[2021-04-08 10:36] sorooris commented on #1946
**QA OK**

Suite Version: web, app 21.4.1
Browser: Chromium 89.0.4389.82, N/A
OS: Nixos 20.09, macOS 11.2.3
Bridge: 2.0.31 (rev 5f53132)
Firmware Version: model One 1.9.4 ffa96205, model T 2.3.5

[2021-04-08 10:39] sorooris commented on #3613
Also, the notifications dropdown stays displayed after selecting the button (which is apparent from the screencap above).

[2021-04-08 12:59] #966 closed, assigned to szymonlesisz

[2021-04-08 13:00] #965 closed, assigned to szymonlesisz

[2021-04-08 13:23] jerechinsky commented on #2575
While Dropbox already considers long-lived access tokens to be deprecated, they do not have plans to disable already existing long-lived access tokens, i.e. they will live and work past September 2021. What will happen in September 2021 is that they will disable **creation** of long-lived access tokens.

Source: [https://www.dropboxforum.com/...](https://www.dropboxforum.com/t5/Dropbox-API-Support

[2021-04-08 13:23] #74 closed, assigned to nobody

[2021-04-08 13:27] #3 closed, assigned to nobody

[2021-04-08 14:13] sorooris opened #3614 "Account navigation - Sticky account header stops and disappears at the wrong element"
**Describe the bug**
When scrolling on the Accounts screen upwards the sticky account header disappears further up above the position of the AppNavigation element.

**Info:**
- Suite: 21.4.1 3ed454e
- OS: macOS Big Sur 11.2.3
- Device: model One 1.9.4 ffa96205f

**Steps to reproduce:**
1. Navigate to the Accounts screen of any coin,
2. Scroll down below the graph,
3. Scroll back upwards.

**Expect

[2021-04-08 14:17] sorooris commented on #3348
**QA OK**

 - [x] Increase font size for the fiat value (from 20 to 24px) Zeplin
 - [x] Tabs for Overview and Details (i.e. remove 3 dots account menu)
 - [x] Turn tabs into secondary buttons for Send, Receive, Trade
 - [x] ‹ Back button for expanded Send, Receive, Trade views Zeplin
 - [x] Sticky account header Zeplin

However some issues have emerged in relation to these changes and they're trac

[2021-04-08 15:27] tomexx commented on #3614
@sorooris The idea was not to have the action buttons duplicated in the view. But I can change that. What do you think @matejzak ?

[2021-04-09 02:22] somebodyLi commented on #3623
when this error(`Encountered Invalid prevhash`) occurred, what's mean? I have seen this error in many place, it isn't new!!! what reason cause this?

[2021-04-09 07:37] glacierbits commented on #3614
I agree @tomexx, I believe the implementation is correct. ✅

[2021-04-09 09:05] goodhoko opened #3615 "Test Suite in Constrained environment"
Before we go for the official release of Suite it would be nice to test it on a machine that is not as powerfull as machines of most developers. It might be, that this already happens within the QA team.

I think a very basic test of the very basic functionality should suffice eg. "does it launch, and connects to a trezor?" The goal is to make sure the app won't fail spectacularly, not that it wil

[2021-04-09 09:17] jerechinsky commented on #3613
Duplicate of #2208

[2021-04-09 10:05] goodhoko opened #3616 "Make e2e tests work on arm"
Currently the e2e setup doesn't work out of the box on arm machines (eg. M1 macs). Fix this to make it easy for anyone with arm machine to run e2e tests locally.

This will require several steps some of which need to be done in other repositories. (trezor-user-env, trezord-go, ...). This issue serves as a place to track all these steps leading to seamless e2e tests on M1 macs.

Assigning myself to

[2021-04-09 10:08] #3607 closed, assigned to tomexx

[2021-04-09 10:12] bosomt commented on #3561
**QA NOK**

Looks like ETH send modal is still broken.

![image (1)](https://user-images.githubusercontent.com/31506317/114165505-dc62b800-992c-11eb-8181-4c6fe8ed39d7.png)
![image](https://user-images.githubusercontent.com/31506317/114165508-dc62b800-992c-11eb-96be-cadf35f6247a.png)

**Info:**
 - Suite version: desktop 21.4.1 (3ed454e4e81b72482a9ad780c5cce9846cb29fb1)
 - Browser: Mozilla/5.0 (X11;

[2021-04-09 10:23] goodhoko commented on #3616
The tests really heavily on the [trezor-user-env](https://github.com/trezor/trezor-user-env) docker image which must be adapted for arm in the first place. (running the x86 version fails due to https://github.com/NixOS/nix/issues/4485 or rather https://github.com/docker/for-mac/issues/5204).

That, in turn, will require arm64 binaries of the emulator and the bridge and arm64 version of the [nix im

[2021-04-09 10:26] jerechinsky commented on #3561
@bosomt could you please elaborate how is it still broken? Do you mean the line break in the amount?

[2021-04-09 10:45] tsusanka commented on #3616
That's a bummer :(. I know @prusnak is using Nix natively without Docker so trezor-user-env _might_ work natively on M1. But we would have to alter the e2e tests then not to use trezor-user-env in docker but directly. There is some work needed and since it is just a hypothesis and I am not sure it is worth it :(.

[2021-04-09 10:55] bosomt commented on #3561
@alex-jerechinsky exactly , looks more like you are sending 5 ETH and not 1$ :), sorry i wasn't specific.

[2021-04-09 10:59] jerechinsky commented on #3561
@bosomt no worries
thanks for pointing it out!
This is already covered and tracked in #3323 so let's close this issue for now.

[2021-04-09 10:59] #3561 closed, assigned to tomasklim

[2021-04-09 11:38] bosomt commented on #3610
**QA OK**

**Info:**
 - Suite version: desktop 21.4.1 (95311f198fba5d2c452cd5d9ce3ede0a50a06a2d)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

[2021-04-09 12:13] bosomt commented on #3607
4x **QA OK**

**Info:**
 - Suite version: desktop 21.4.1 (95311f198fba5d2c452cd5d9ce3ede0a50a06a2d)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 1920x1080
 - Device: model One 1.9.4 regular

[2021-04-09 15:00] tsusanka commented on #3182
I think it is fair to assume that this issue is actually #3608. So I am closing this one and let's move there, the description is more descriptive.

[2021-04-09 15:00] #3182 closed, assigned to keraf

[2021-04-09 15:26] tsusanka commented on #3608
To summarize: if desktop app sees the Bridge is not running it should start it itself as it does normally at the beggining.

[2021-04-09 15:28] tsusanka commented on #3614
So @matejzak this works as you have designed it?

[2021-04-09 16:16] prusnak commented on #3558
The icon is too small now :-/

When using the horizontal dock the difference is subtle. But when you have a vertical dock or you check the size in the Applications folder - the difference stands out.

<img width="57" alt="Screenshot 2021-04-09 at 18 14 03" src="https://user-images.githubusercontent.com/42201/114210085-a3900680-995f-11eb-8b53-3f1028e371c5.png">

[2021-04-10 13:48] ybaidiuk opened #3618 "can not close or cancel window "Hidden wallet""
macOS , trezor one.
after chose "Add Hidden wallet" i can not close or cancel window "Hidden wallet"

[2021-04-10 13:50] prusnak commented on #3618
Suite Version?

[2021-04-10 13:57] ybaidiuk commented on #3618
Version 21.3.2 (21.3.2.10723)

[2021-04-10 17:54] armujahid commented on #3364
I am also facing similar issue. I added labels using Trezor-Suite-21.3.1 Linux app image but they are not showing on https://suite.trezor.io/ although both are connected with my Google account.

[2021-04-10 18:09] ybaidiuk commented on #3618
Same stuff for transaction verification.
Window "Enter PIN Check your Trezor screen for the keypad layout."
I can not cancel operation with "X" or "Esc" or my Trezor.

<img width="352" alt="Screenshot 2021-04-10 at 20 08 37" src="https://user-images.githubusercontent.com/11969255/114280222-a1e64180-9a38-11eb-9646-a7000542a5fd.png">

[2021-04-11 23:50] tomexx commented on #3558
Hi @matejzak, I found this [free macOS 11 icon template](https://applypixels.com/resource/macos11-app-icon-lite). Can you please export the icon according to that? Thx

[2021-04-12 06:45] jerechinsky commented on #3364
@trezor/qa could you please try to replicate / whether labels sync across suite web and suite desktop?

[2021-04-12 09:16] cryptomar1o opened #3619 "Trezor Suite AppImage does not work on NixOS"
**Describe the bug**
AppImage version of Trezor Suite (Trezor-Suite-21.4.1-linux-x86_64.AppImage and Trezor-Suite-21.4.1-linux-arm64.AppImage) does not work on NixOS.

`[nix-shell:/home/jirka/Documents/Wallets/suite]$ appimage-run "Trezor-Suite-21.4.1-linux-x86_64.AppImage"
/home/jirka//.cache/appimage-run/13ca679e80026a2e3e8b6803976238a74178d8389264cf87d701952295ae611f//squashfs-root/trezor-suite

[2021-04-12 09:26] bosomt opened #3620 "Empty passphrase not recognized when entered via device"
**Describe the bug**
Empty passphrase not recognized when entered via device, you are asked to re-enter passphrase /when empty/ + wallet is added as hidden wallet. This looks really strange when you just initialized your new device and you entered empty passphrase on your model T device.

When you try to add `Standard wallet` again via computer you are informed that wallet is already loaded and pr

[2021-04-12 10:26] slowbackspace opened #3622 "news-api proxy sends generic user agent"
...conclusion from discussion with admin

https://github.com/trezor/trezor-suite/tree/develop/packages/news-api (used for fetching blog posts which are shown on suite dashboard) should send custom user agent so our adminkos could identify that it is news-api service for suite instead of getting generix "axios/..." user agent.

[2021-04-12 12:09] prusnak commented on #3623
I think this is rather an issue within the Suite, not within the Firmware - that's why we are moving this issue to trezor-suite repository.

[2021-04-12 13:52] jerechinsky commented on #3623
@liyanhrxy could you please send me the public key (xPUB) of the account in question? Please do not share it here but send it to alexandr.jerechinsky@satoshilabs.com

[2021-04-12 15:32] jerechinsky opened #3625 "Changelog"
### 🚀   New features

- Customize your Trezor's autolock time
- Bech32 Litecoin addresses support

### 🎨 Improvements

- Redesigned account navigation

.. and much more!

[2021-04-12 15:33] jerechinsky commented on #3625
Please approve @matejzak @tsusanka

[2021-04-12 16:14] szymonlesisz commented on #3620
this works properly imho.
suite/host doesn't know what you put ON device (this is a security feature not a bug), could be empty, could be "a".
from suite point of view it's a `hidden wallet` all the time UNTIL you decide to use `standard wallet` :)

[2021-04-12 19:27] wendys-cats opened #3626 "INVITY Suite mistakenly marks destination address (XTZ, XLM) as invalid during Exchange Flow"
**Describe the bug**
During Exchange flow, to be exact when user is specifing which address should the exchanges coins arrive at, Suite checks whether or not that address (not in Suite!) is correct or not.

**Info:**
 - Remembered Wallet: No
 - Suite Version: app version commit 95311f19
 - Browser: , version N/A
 - OS: Windows 10 Version 10.0.19042.867
 - Bridge: 2.0.3.1 rev 5f53132
  - Firmware V

[2021-04-12 20:42] martinboehm commented on #3626
@wendys-cats The issue is confusing:

The address `tz1V9HTZ7UjoQLL97z4KUh1Xb2UY9HxJBfr3` is a valid Tezos (XTZ) address, see https://tzstats.com/tz1V9HTZ7UjoQLL97z4KUh1Xb2UY9HxJBfr3, and is correctly validated as Tezos address by Suite. It is not an ADA address.

The Stellar (XLM) addresses `GAF6GF7PBMZ7EN6RFTTIWO5NVGEP75EW4UI3W5I6ZTMAM45CV6E6G6X4` and
`GAEB3R4UTE5F47XOVOJ5REFVR6A5O7NQL2UAJGTQGN2E

[2021-04-13 08:28] goodhoko opened #3630 "Enable `noImplicitReturns` TypeScript option in Suite package"
Stemmed from [this thread](https://github.com/trezor/trezor-suite/pull/3590#discussion_r612241102).

Enabling this option could help us catch some bugs and generaly make our code more deterministic.

In the Suite package `noImplicitReturns` is curently violated on some 65 places that would have to be altered.

Marking this as `Good first issue` as it shouhd be mostly mechanical code juggling.

cc

[2021-04-13 08:41] #3620 closed, assigned to jerechinsky

[2021-04-13 09:35] bosomt opened #3631 "Autoupdate - not able to trigger manually after skip"
**Describe the bug**

There is no way to update to new version via Suite after you skip update when offered.
Application is checking for new version indefinitely even log says that it skipped new version.
This status is permanent and Reset app storage won't change it.

**Steps to reproduce:**
1. Press `Skip` when asked to update application
2. Restart application
3. Go to `Settings / General` and

[2021-04-13 09:49] bosomt commented on #3631
Same behavior in MacOS Big Sur when testing 21.4.0 > 21.4.1 update

[2021-04-13 10:45] tsusanka commented on #3631
@bosomt as I am looking at the video: do I understand it correctly that after clicking Skip it works ok (even in Settings) _until_ you close the app and start it again? And after the restart it is fucked up.

[2021-04-13 11:18] bosomt commented on #3631
@tsusanka yes, exactly, it works till you restart application , when you start it again app will evaluate  it as skip current update

[2021-04-13 12:26] keraf commented on #3631
Looking into this issue now. I have a clue of what could cause this. Full log would be helpful to debug this issue (cc @trezor/qa)

[2021-04-13 12:46] #3613 closed, assigned to glacierbits

[2021-04-13 12:47] jerechinsky commented on #2208
Seb also summarized the issue from his point of view in #3613

[2021-04-13 12:49] bosomt commented on #3631
Full log delivered, sorry that I forgot to attach it, i was planning to

[2021-04-13 14:05] wendys-cats commented on #3626
@martinboehm sorry for the confusion, wrote it in a hurry and mixed something else into it, it is sorted now (issue is for Tezos and Stellar, there is no Cardano).
The issue, however, still stands, as can be seen on the screenshots - Suite did not validate correctly neither the XLM nor XTZ address, even though both of them are valid and existing addresses.

[2021-04-13 14:22] bosomt commented on #2715
update:

I was able to reproduce issue by recovering seed made of 24 words,
after I entered seed i saw error that suite lost connection to device, maybe device id was changed after recovery ?

![image](https://user-images.githubusercontent.com/31506317/114567921-faede980-9c73-11eb-9f7e-46b9ef94703d.png)

![image](https://user-images.githubusercontent.com/31506317/114568260-456f6600-9c74-11eb-99b9-

[2021-04-13 15:24] jerechinsky commented on #2184
Couldn't replicate it myself. @martinboehm please reopen if you still experience this.

[2021-04-13 15:24] #2184 closed, assigned to nobody

[2021-04-13 15:27] jerechinsky commented on #2163
ERC20 implemented in v21.2.1

[2021-04-13 15:27] #2163 closed, assigned to nobody

[2021-04-13 15:37] jerechinsky commented on #2185
couldn't replicate after numerous attempts

[2021-04-13 15:37] #2185 closed, assigned to nobody

[2021-04-13 15:43] #1907 closed, assigned to glacierbits

[2021-04-13 15:49] jerechinsky commented on #2259
@bosomt can you please retest?

[2021-04-13 15:57] jerechinsky commented on #2606
@sorooris could you please retest?

[2021-04-13 16:05] bosomt commented on #2259
I was not able to reproduce issue in Chrome and in Linux application

**Info:**
 - Suite version: desktop 21.4.1 (95311f198fba5d2c452cd5d9ce3ede0a50a06a2d)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.4.1 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model T 2.3.5 regular

[2021-04-13 16:05] #2259 closed, assigned to bosomt

[2021-04-13 17:42] jerechinsky commented on #2715
@matejzak please suggest how Suite should behave upon disconnecting / switching device during onboarding

[2021-04-13 17:44] jerechinsky commented on #2027
@wendys-cats could you please try to reproduce once again? I tried myself, but the file picker wouldn't let me pick anything but images.

[2021-04-13 19:56] ztmr commented on #3512
I have been running on 21.3.1 for a couple of weeks now and have not observed any issues so far.

[2021-04-14 07:05] #3631 closed, assigned to keraf

[2021-04-14 07:24] szymonlesisz opened #3633 "unify Link components"
currently there are 4 different approaches in the code regarding usage of external links:

[@trezor/components/Link](https://github.com/trezor/trezor-suite/blob/develop/packages/components/src/components/typography/Link/index.tsx) - high level component used for external links it's covering cases like `noreferrer noopener` or `stopPropagation`

[TrezorLink](https://github.com/trezor/trezor-suite/b

[2021-04-14 08:58] bosomt opened #3634 "Auto update - Get latest version button not responding"
**Describe the bug**
`Get latest version` button not responding when you skip update and try to trigger update manually via general settings

**Steps to reproduce:**
1. Start latest Suite version with pre-release flag
2. Skip update when offered
3. Start update manually from Settings/General tab

**Info:**
 - Suite version: desktop 21.4.1 (1baa8ced16f2f6a5d60e9f4d7911669f856123d8)
 - Browser: Mozi

[2021-04-14 10:11] bosomt opened #3635 "Receive address marked as Unsupported address format even when valid"
**Describe the bug**
One of our customers has receive address marked as Unsupported address format and convert to lowercase is offered.
Of course Segwit address is case sensitive and after conversion it will get `Address is not valid`

**Steps to reproduce:**
1. In BTC send dialogue use valid 37VJHKeBA9DHKmTwYE7TWYjwDzo5JTb1sz address
2. observe

**Info:**
 - Suite version: desktop 21.4.1 (1baa8ce

[2021-04-14 10:22] prusnak commented on #3571
Ah, well. Let's close this and make sure we'll update the FW in May release.

[2021-04-14 10:22] #3571 closed, assigned to nobody

[2021-04-14 10:33] prusnak commented on #3635
I just tested 21.3.2 and it has the same issue, so this is not a regression. However, this definitively needs fixing as this is a bug in address validation.

[2021-04-14 10:52] STew790 opened #3636 "OS Windows version in download menu should be 10 not 8+"
**Describe the bug**
When you want to download Trezor Suite and you open the drop-down menu to select your OS, the version for Windows is 8+ but the support for Windows is actually 10 (and higher). https://wiki.trezor.io/Operating_systems

**Info:**
 - Remembered Wallet: -
 - Suite Version: app/web, 21.4.1 c1daedd
 - Browser: Chromium 87.0.4280.66
 - OS: -
 - Bridge: -
 - Firmware Version: -

**St

[2021-04-14 11:34] keraf commented on #3512
Thanks for updating us @ztmr, glad the issue is sorted. Closing issue :slightly_smiling_face:

[2021-04-14 11:34] #3512 closed, assigned to jerechinsky

[2021-04-14 12:50] szymonlesisz commented on #3635
should be fixed here:
https://suite.corp.sldev.cz/suite-web/fix/3635/web/

[2021-04-14 13:41] sorooris commented on #3308
May release then? :slightly_smiling_face:

[2021-04-14 14:05] curtcurt87 opened #3639 "millennials-power/trezor-suite"
https://github.com/trezor/trezor-suite/blob/8b3bc2bdaf34b37c5faff367d739c793350491c3/packages/suite/src/utils/wallet/validation.ts#L69http://www.github.com/

[2021-04-14 14:06] keraf opened #3640 "Desktop: Setup testing framework for Electron app"
There are currently no tests covering the desktop app specifically. For example, features like bridge, tor or auto-updater are currently untested.

We should create tests covering specific features of Suite Desktop. [Spectron](https://www.electronjs.org/spectron) could be used for this.

[2021-04-14 14:21] keraf opened #3641 "Desktop: Create mock for auto-updater"
Mock `electron-updater` methods and events for development and automated testing.

[2021-04-14 14:34] wendys-cats commented on #2027
QA OK

Allows to load only images.

Tested on
NixOS 21.3
Browser 82 82.0.2 (64-bit)
Suite version 21.4.1 1baa8ced16f2f6a5d60e9f4d7911669f856123d8
Device TT 2.3.1 FW

Windows 10 Version 10.0.19042.867
Suite APP 21.4.1 95311f198fba5d2c452cd5d9ce3ede0a50a06a2d
Device T1 1.9.4

[2021-04-14 14:35] jerechinsky commented on #2027
thanks!

[2021-04-14 14:35] #2027 closed, assigned to nobody

[2021-04-14 14:53] jerechinsky commented on #2362
this is now mitigated by showing "Change passphrase settings to use this device" and also warning users if they try to receive btc to a hidden wallet because they can't verify it on their trezor
<img width="514" alt="Screenshot 2021-04-14 at 16 51 43" src="https://user-images.githubusercontent.com/75733878/114731211-12d77300-9d31-11eb-9cfd-b4a933986aec.png">
<img width="828" alt="Screenshot 2021-0

[2021-04-14 14:53] #2362 closed, assigned to nobody

[2021-04-14 15:08] bosomt commented on #3364
I was not able to reproduce issue.

Created new label via app and it appeared in web suite, changed it via web suite and it changed in few seconds in suite app.
Used Google Drive to store labels.

**Info:**
 - Suite version: web 21.4.1 (1baa8ced16f2f6a5d60e9f4d7911669f856123d8)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0
 - OS: Linux x86_64
 - Screen: 3

[2021-04-14 15:26] #3634 closed, assigned to keraf

[2021-04-14 15:36] Dehumanizer77 opened #3643 "All settings gone after upgrade from 21.3.1"
**Describe the bug**
I have upgraded from 21.3.1 through autoupgrade and all settings I have previously set are gone after I have closed the application and opened again.

**Steps to reproduce:**
1. Open Suite 21.3.1
2. Upgrade when asked for autoupgrade
3. Allow the application to restart
4. The app will retain settings until fully closed
5. Open the app again
6. It opens without any settings, i.

[2021-04-14 15:41] Dehumanizer77 commented on #3643
I have a friend who didn't upgrade so far so I'll ask him to run the old suite directly to see if he'll lose settings or not. Will report here when I'll get the info from him.

[2021-04-14 15:51] STew790 commented on #3364
I can confirm, couldn't reproduce the issue.

Same steps as @bosomt mentions, created label in app and it appeared in web version. Changed it in web version and appeared in app. I also used Google Drive.

Info:

- Suite version: web 21.4.1 (1baa8ced16f2f6a5d60e9f4d7911669f856123d8)
 - Browser: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Saf

[2021-04-14 16:19] sorooris commented on #2606
**QA OK**

Couldn't replicate the issue, closing; followed the steps described above which correctly result in fresh new addresses instead of the remembered ones being displayed.

![image](https://user-images.githubusercontent.com/10185314/114744309-d7976d00-9d4d-11eb-9516-244a46608141.png)

Suite: web 21.4.1 1baa8ced16f2f6a5d60e9f4d7911669f856123d8
Remembered wallet: yes
Browser: Chromium 89.0.43

[2021-04-14 16:19] #2606 closed, assigned to sorooris

[2021-04-14 16:21] STew790 opened #3644 "Unable to label one of 2 wallets when 2 devices are connected"
**Describe the bug**
You can't label (rename) wallets on one device when 2 devices are connected. Video included.

**Info:**
 - Remembered Wallet: -
 - Suite Version: app/web 21.4.1 (1baa8ce)
 - Browser: Chrome, Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36
 - OS: Windows 10
 - Bridge: 2.0.27
 - Firmware Version: TT, 2.3.5

**St

[2021-04-14 16:25] groestloli opened #3645 "Groestlcoin - GRS support"
I am still missing Groestlcoin in my Trezor Suite can you please include the coin as well. Trezor firmware support already exists, the developers of GRS would also do the work and submit a PR. If you say it's okay?

[2021-04-14 21:06] bitofit commented on #3364
This was never the issue.  The issue was that labels work for 1 trezor at a time.

[2021-04-14 23:02] ghost opened #3647 "RFC: EIP-1559 vs EIP-3416 impact on Client Apps/Wallets"
Dear Trezor devs, we are looking forward to improving the Market Fee on Ethereum blockchain. We are a couple of engineers proposing an EIP improvement based on EIP-1559. We estimate 1559 is great but we propose an improvement to:

* further reduce the gas price volatility with a median function (on premium gas price on top of base fees);
* reduce base fees volatility with an additive function (lin

[2021-04-15 06:07] jerechinsky commented on #3364
Apologies. I was swayed by armujahid's comment but I will look further into this.

[2021-04-15 06:41] #3625 closed, assigned to tsusanka

[2021-04-15 07:02] jerechinsky commented on #2948
I am guessing this has now been mitigated. Closing for now.
<img width="1388" alt="Screenshot 2021-04-15 at 9 02 03" src="https://user-images.githubusercontent.com/75733878/114827704-8ec8ce00-9db8-11eb-8e66-bfd1399ef5ff.png">

[2021-04-15 07:02] #2948 closed, assigned to nobody

[2021-04-15 07:28] tsusanka opened #3648 "Bullet points are not rendered in update changelog"
**Describe the bug**
Bullet points are not rendered in the update changelog on Windows (not sure about other platforms).

**Info:**
 - Remembered Wallet: no
 - Suite Version: 21.3.2
 - Browser: -
 - OS: Windows 10
 - Bridge: -
 - Firmware Version: -

**Steps to reproduce:**
1. Launch older version

**Expected result:**
- Bullet points
- such
- as this
- are displayed

**Actual result:**
They are n

[2021-04-15 07:49] szymonlesisz commented on #2309
additionally removing buttons from notifications with similar context:
- acquire-error
- auth-error
- auth-confirm-error
- discovery-error

![Screenshot from 2021-04-14 16-29-14](https://user-images.githubusercontent.com/3435913/114833441-deff5a80-9dcf-11eb-893c-c3c21048bcae.png)

[2021-04-15 08:06] Dehumanizer77 commented on #3643
Ok it seems I am the only one with the problem so far, it might be some database inconsistency on my computer.

[2021-04-15 08:23] caglorithm opened #3650 "BTC: "Transaction history not available" in one of my accounts"
**Describe the bug**
One of my Bech32 accounts doesn't show me the transaction history. I can click on the block explorer button (see screenshot) and I will see the transaction history. I can also see the account balance. Only the transaction history is gone. Other accounts are fine.

After I've sent a transaction to this account, my history appeared again (not shown).

**Info:**
 - Suite Version

[2021-04-15 08:31] glacierbits commented on #2949
Fixed

[2021-04-15 08:31] #2949 closed, assigned to nobody

[2021-04-15 08:31] glacierbits commented on #2954
Fixed

[2021-04-15 08:31] #2954 closed, assigned to glacierbits

[2021-04-15 08:43] bosomt commented on #3364
I was able to reproduce issue.
Deleted whole Suite config dir and used only locally stored labels so there won't be any clash with previously created labels in cloud

1) loaded standard wallet, enabled labeling and created account name/label
2) loaded passphrase wallet, enabled labeling and created account name/label
3) went to standard wallet, labels were still present
4) move back and forth and

[2021-04-15 09:08] sorooris commented on #3452
**QA NOK**

All coins are enabled; Portfolio section on the Dashboard screen displays a non-zero balance.
**Actual**: Balance in the Assets section on all coins is zero (because ERC20 tokens are not included).
**Expected**: Assets section includes any supported tokens as a subgroup of the relevant coin.

- ERC20 tokens on the seed:
![image](https://user-images.githubusercontent.com/10185314/114843

[2021-04-15 09:38] #3635 closed, assigned to szymonlesisz

[2021-04-15 09:41] glacierbits commented on #3558
Second try (our apologies for the first):

[Icon.zip](https://github.com/trezor/trezor-suite/files/6316852/Icon.zip)

[2021-04-15 09:45] glacierbits commented on #3615
I leave that for your (and QA's team) consideration @tsusanka . Thanks!

[2021-04-15 10:33] bosomt opened #3651 "WebUSB not detecting Trezor in Chrome"
**Describe the bug**

WebUSB API in Chrome is not detecting Trezor.

**Steps to reproduce:**
1. Stop Trezor Bridge
2. Connect device
3. Start web version of Suite in Chrome and try to connect to device

**Info:**
 - Suite version: web 21.4.1 (1baa8ced16f2f6a5d60e9f4d7911669f856123d8)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.

[2021-04-15 10:43] prusnak commented on #3651
Same for Chromium under Linux

[2021-04-15 10:44] fredddd1 opened #3652 "Trezor Suite no longer launching after in-app update"
**Describe the bug**
Software no longer opens after updating via in-app updater.

**Info:**
 - Remembered Wallet: unable to verify
 - Suite Version: 21.4.1
 - Browser: irrelevant
 - OS: Windows x64 20H2
 - Bridge: irrelevant
 - Firmware Version: irrelevant

**Steps to reproduce:**
1. Update via in-app updater
2. Try to open Trezor Suite

**Expected result:**
For Trezor Suite to open.

**Actual res

[2021-04-15 10:51] sorooris commented on #3651
Confirming issue on Linux.

![image](https://user-images.githubusercontent.com/10185314/114857001-0d892f80-9de8-11eb-9190-a8465ccf74dd.png)

Suite: web 21.4.1 1baa8ce
Browser: Chromium 89.0.4389.82
OS: Nixos 20.09
Device: 1.9.4

[2021-04-15 10:57] bosomt commented on #3651
same results in wallet.trezor.io

**Info:**

 - Browser: Version 89.0.4389.114 (Official Build) snap (64-bit)
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model T 2.4.0 regular

![image](https://user-images.githubusercontent.com/31506317/114858757-2d215780-9dea-11eb-806d-1e8527ff4d5c.png)

[2021-04-15 10:58] fredddd1 commented on #3652
Can this ticket please be removed after it has been resolved?

[2021-04-15 11:57] prusnak commented on #3651
Fixed via https://github.com/trezor/connect/pull/796

Deployed to production

[2021-04-15 11:57] #3651 closed, assigned to szymonlesisz

[2021-04-15 12:10] keraf opened #3653 "Desktop: Create command line parameter to reset application"
In case an application cannot start properly, there should be a command line parameter to reset it to its initial state.

[2021-04-15 12:12] keraf opened #3654 "Desktop: Clear storage should also clear desktop settings"
Currently, clearing the storage does not clear the desktop settings. Desktop settings should be part of this clear action as it might help with issues.

[2021-04-15 12:15] keraf commented on #3652
Hi @fredddd1,

To help investigate the issue, I would need some logs. May I ask you to run the application with the parameters `--log-level=debug --log-write`? The file should be output in your user directory. Please make sure to go over the information inside this log and redact any information you do not wish to share (name in paths, PC hardware, etc...).

![suite-log-win](https://user-images.gi

[2021-04-15 12:19] bosomt commented on #3651
**QA OK**

[2021-04-15 12:28] fredddd1 commented on #3652
No issue apparently. I was trying to launch TREZOR Bridge.

No idea why TREZOR Bridge creates an icon in the start menu when it pretty much does nothing.

Would it be possible to permanently delete this ticket, not just close it?

[2021-04-15 12:52] #3652 closed

[2021-04-15 15:33] #3639 closed, assigned to nobody

[2021-04-15 21:31] mcudev commented on #3568
I opened this and then I worked on it. I've changed my mind on requesting this. It's a lot of overhead that I myself would not want to support. So, why should I ask someone else to? I have ways of demonstrating concepts with a BTC regtest network and HWI if/when I need to.

[2021-04-15 21:31] #3568 closed, assigned to glacierbits

[2021-04-16 09:38] martinboehm commented on #3626
Actually, the problem is not in the Suite. The error was returned from our partner, CoinSwitch, which probably had a temporary issue with validation of addresses. I am not able to reproduce it now as they probably fixed the error on their side.
I recommend to close the issue.

[2021-04-16 11:00] tsusanka commented on #3615
I am afraid it is unreal to do it before public launch and since it is not a regression against wallet.trezor.io I would not enforce doing this before the launch. However, I agree we should do it at some point.

[2021-04-16 14:53] Intastanio opened #3657 "Frozen Transaction after Update Suite"
Hello,

I have a transaction with a very low fee frozen.
I set the transacción two days ago in the night, the day after y updated the suite early in the morning  to 21.4.1 V,  after that the operation is frozen, Bump Fee and Cancel Trans doesn't works. always show "Not enough  Funds"

When i set the operation i almost empty the wallet, but know i have funds enough to cover all the operation amount

[2021-04-16 15:22] tsusanka commented on #3645
Unfortunately, we do not have the capacity to review such PR, apologies. Our current product goal is to add support for the most used cryptocurrenciy projects. I am sure as time progress GRS will get there but it is not the case as of this moment. Thank you for your understanding.

[2021-04-16 15:22] #3645 closed, assigned to tsusanka

[2021-04-16 15:42] prusnak commented on #3657
You can't bump the fee if there are not enough funds in the account.
This is a duplicate of https://github.com/trezor/trezor-suite/issues/3460

[2021-04-16 15:49] KernelTruth commented on #3643
Lucky you. I accepted an auto-update and Trezor Suite does not start at all. Need to debug it now. Not a happy bunny here.
Ubuntu 18.04 .appimage in /opt/

[2021-04-16 16:12] Intastanio commented on #3657
Hello how are you,
Mthank you for the response.

I have funds  enought to bump it.
That’s the problem

Original transaction was 285$, I bought 359$ this morning to bump it and I had same result.

Button doesn’t work.

Any idea?
Victor Olmos

[2021-04-16 16:14] prusnak commented on #3643
@Photolunatic which version were you updating from?

[2021-04-16 16:18] KernelTruth commented on #3643
From **21.3.1**

[2021-04-16 17:38] jerechinsky commented on #3198
Hi @harlessmark and @mavazdel, could you please retest. Are you still experiencing this?

[2021-04-16 18:32] KernelTruth commented on #3643
I had a perfectly fine, working app. I was prompted to update and everything went downhill from there.
The update never went through. Older AppImage stopped working and has been unregistered from the system (no app in the system menu). I had to copy manually the new AppImage. Now I am trying to thinker about how to create a .desktop file to integrate this to the system menu as AppImageLauncher doe

[2021-04-18 15:42] Intastanio commented on #3657
Hello all!!!

-Maybe i have not explained well.

When i made the operation, i almos empty the wallet.. right,  the transaction enter the pool, and i wait... no funds to bump it. (285$ total)

I updated the suite…next day.

After two days, i bought more BTC, enough to remade the entire operation agin if necessary, 350$.

I tried to bump it… Button remain grey, "no funds enough" —> with 350$ confirm

[2021-04-19 07:42] IvaFingerova opened #3658 "ETH internal transactions"
**Is your feature request related to a problem? Please describe.**
A customer bought some ETH via Suite. the transaction was successful. however, it seems it's an internal tx after all. since Suite doesn't recognize these, the only option here is to use a third-party app to access these assets. anyways, seems to me, it's kinda confusing; when people buy some assets via Suite, they should be able t

[2021-04-19 09:32] tsusanka commented on #3571
Just a side note: if we do not release TT firmware in May 2.3.6 will be added by https://github.com/trezor/trezor-suite/pull/3637.

[2021-04-19 09:41] bosomt opened #3659 "Ethereum bump fee discrepancy"
**Describe the bug**
See attached screenshots, bump ETH transaction and bump ETH ERC20 transaction have discrepancy /data vs fee/

**Steps to reproduce:**
1. Send ETH and ERC20 transactions
2. Try to bump ETH transaction
3. Try to bump ETH ERC20 transaction and compare

**Info:**
 - Suite version: web 21.4.1 (1baa8ced16f2f6a5d60e9f4d7911669f856123d8)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86

[2021-04-19 09:51] johnbailon opened #4879 "Improve copy in Connect popup"
When initiating a `signMessage` command, the popup displays the following information:

<img width="640" alt="" src="https://user-images.githubusercontent.com/266389/115216628-43574c80-a137-11eb-8bdc-fa87ef885017.png">

[code]

Would it be possible to change the second line to only say _**Prepare Trezor device for message signing**_ or something to that effect? It would inform end users the actual

[2021-04-19 09:54] prusnak opened #3662 "Missing fiat balance for some transactions"
**Describe the bug**

Some of my transactions in the transactions history are missing fiat equivalent (the suite shows `$0.00`) next to the transaction.

![Screenshot 2021-04-19 at 11 54 29](https://user-images.githubusercontent.com/42201/115217876-3a9a5280-a106-11eb-873e-d1135684b86d.png)

When I click on the TX detail I see the historical fiat balance is missing:

<img width="365" alt="Screensho

[2021-04-19 10:10] prusnak commented on #4879
We'd need to split the `write` permission to `write-transaction` and `write-message` or something similar.

For Bitcoin this makes sense, but I am not sure about Ethereum and other networks, since smart contracts often transfer users' funds by signing a message (internal transfer).

[2021-04-19 10:19] johnbailon commented on #4879
Right. At least for Bitcoin, this would be highly appreciated. Happy to jump into contributing a pull request as well if needed. As for Ethereum, you're right, it might actually be abused so best to keep the message as is. Cheers!

[2021-04-19 10:56] IvaFingerova opened #3660 "Suite desktop app not showing iframe content"
**Is your feature request related to a problem? Please describe.**
In invity section Spend there is an iframe showing the whole spend feature provided by our partner Bitrefill
Suite webapp view
![image](https://user-images.githubusercontent.com/8152411/115202088-4ed65380-a0f6-11eb-9776-77d231d8c1db.png)
vs. Suite desktop app view
![image](https://user-images.githubusercontent.com/8152411/115202352

[2021-04-19 11:35] slowbackspace opened #3661 "Too many requests fired if app was running in the background"
Whole discussion here https://github.com/trezor/trezor-suite/issues/3534#issuecomment-795360987

TL;DR:
If you let your computer sleep, or just keep suite running in the background without a focus then on focus it will start firing all http requests that were supposed to be fired while it didn't have a focus (fiat rates, auto updater, gdrive/dropbox for labeling...).

I found out that electron/chr

[2021-04-19 11:59] tsusanka commented on #3661
@alex-jerechinsky we should solve this before the public launch so our backends do not die when lots of new people are coming in.

[2021-04-19 12:07] matejcik commented on #3662
this should go to Suite repo i think?

[2021-04-19 13:17] AnglDavd commented on #2584
Maybe a snap on https://snapcraft.io/

[2021-04-19 14:12] wendys-cats commented on #3626
@martinboehm thank you for looking into it! Closing the issue now.

[2021-04-19 14:12] #3626 closed, assigned to martinboehm

[2021-04-19 16:54] goodhoko opened #3663 "Move link to (this) monorepo"
The first step towards [paying technical debt in `trezor-link`](https://github.com/trezor/trezor-suite/issues/2923).

To ease development of Suite app we're moving its depenedncies that are developed in-house to this monorepo. One of them is [`trezor-link`](https://github.com/trezor/trezor-link/).

The move comprises several steps and decisions. @tsusanka @keraf please check this out and raise you

[2021-04-19 16:56] goodhoko commented on #2923
I changed the order of tasks so that we start with the move to monorepo. That should make all subsequent steps a bit easier.

I'll use sub-issues for the individual setps they'll be linked from the issue description. (Link to the 'move to monorepo' issue is already in place.)

[2021-04-19 17:02] prusnak commented on #3663
Feel free to ask @matejcik in case you have any questions wrt this. He's the mastermind behind the move to monorepo for trezor-firmware and the author of this script: [create_monorepo.py](https://raw.githubusercontent.com/trezor/trezor-firmware/master/create_monorepo.py)

That said, I expect that importing a single repo should be indeed quite easy with `git subtree`.

Just ping me once this needs

[2021-04-19 17:05] tsusanka commented on #3663
Definitely not closed ones. Open ones yes or we can simply do them one at a time until they are gone :). No preference from my side.

Agreed. They will be pretty old anyway.

I agree.

I have a small preference to rename ti to `transport` because link seems to me as some "href" component. But leaving the decision to you and @keraf.

Yup.

Yup.

[2021-04-19 17:06] tsusanka commented on #3663
@szymonlesisz is it okay to move trezor-link to monorepo **before** moving Connect to monorepo?

[2021-04-19 18:27] tsusanka commented on #2977
I just tried this on a completely new Ubuntu install and:

- If no Trezor is plugged in I am getting the correct dialog "Connect and unlock your Trezor..." with a udev link below.
- If Trezor is plugged in I am indeed getting `Loading takes too long screen`

@alex-jerechinsky this is a must-have before the public release (as written in the acceptance criteria).

[2021-04-19 18:42] tsusanka commented on #2584
We could also pack our udev rules inside the .deb/.rpm right? That would help because downloading Suite and then fiddling around with the udev rules is a bit weird. @prusnak we can have one .deb/.rpm which install both udev and Suite right?

[2021-04-19 18:54] tsusanka commented on #3181
@bosomt could you retest this? There were some changes so I am wondering if this error still prevails.

[2021-04-19 19:59] prusnak commented on #2584
Yes. That said I am not a big fan of that because using deb/rpm would nuke the autoupdate. We need to discuss what are our goals for Linux distribution.

We could try to install udev rules also via AppImage - https://github.com/trezor/trezor-suite/issues/3664

[2021-04-19 21:13] prusnak opened #3664 "Install udev rules via AppImage automatically (Linux)"
It should be possible to install udev rules by fiddling with the `AppRun` script.

We could first check whether the udev rules are installed and offer installing them if not. Something among this lines:

[code]

and only run Electron after this code has run.

[2021-04-19 21:14] prusnak commented on #2977
We should fix this issue and possibly also install udev rules on Linux automatically - https://github.com/trezor/trezor-suite/issues/3664

[2021-04-20 06:51] slowbackspace commented on #3661
Huh, this is interesting, I can't reproduce this behaviour anymore (21.5.0 from few days old develop). @keraf Is it possible that it got fixed somehow?

Hm it could be, we've upgraded to electron 12. If you won't be able to reproduce this issue let's close this and pray that all is good now 😁

[2021-04-20 07:21] slowbackspace opened #3666 "Option to disable hw acceleration"
Sometimes users experience various visual glitches in electron apps due to some problem in hw acceleration.
It is a common practise to provide an option to disable it as a workaround for users which are affected by such a problem.
![image](https://user-images.githubusercontent.com/6961901/115353948-66c2db80-a1b9-11eb-9d1e-ff00c8a4699d.png)

At least on macos we could provide this option in main ap

[2021-04-20 08:08] goodhoko commented on #3663
@prusnak

Thanks! That script was helpful - reassured me that `git subtree` is a good choice here.

Yup. Importantly what we're doing here is a one-time action. No further syncing of the two repos will happen. If it would, [other](https://git-scm.com/book/en/v2/Git-Tools-Submodules) [alternatives](https://github.com/ingydotnet/git-subrepo) to `subtree` could be considered.

Allright, moving Link N

[2021-04-20 08:34] #887 closed, assigned to glacierbits

[2021-04-20 08:40] glacierbits commented on #1965
@tsusanka Can you please provide more info about this? 😇 I am guessing you will know more..

[2021-04-20 09:03] bosomt commented on #3181
@tsusanka I'm still not able to upgrade device with 1.6.0 firmware , i will record and attach video later

[2021-04-20 09:27] bosomt commented on #3181
Trying to update from 1.6.0 will get you to infinite loop.

Edit: attached log from latest app  [trezor-suite-log-1618935704620.txt](https://github.com/trezor/trezor-suite/files/6345125/trezor-suite-log-1618935704620.txt)

[code]

https://user-images.githubusercontent.com/31506317/115372364-18b6d380-a1cb-11eb-969e-d9888aa95b01.mp4

[2021-04-20 10:45] wendys-cats opened #3667 "Incorrect message in Dashboard when all coins are disabled"
**Describe the bug**
When all coins are disabled, Dashboard shows an incorrect error message "Assets were not loaded properly", suggeting having all coins disabled is an error instead of something that Suite allows.

**Info:**
 - Remembered Wallet: no
 - Suite Version: web 21.4.1 commit 1baa8ced16f2f6a5d60e9f4d7911669f856123d8
 - Browser: Chromium Version 88.0.4324.182 (Official Build) (64-bit)
 -

[2021-04-20 11:53] tsusanka commented on #1758
I believe this is solved :).

[2021-04-20 11:53] #1758 closed, assigned to nobody

[2021-04-20 11:58] keraf commented on #3663
I'd say transport too.

[2021-04-20 12:39] jerechinsky commented on #3659
@matejzak please suggest how "fee", "data" and "total" should be shown

[2021-04-20 15:21] tsusanka commented on #3181
Thanks! There definitely needs to be a way to update from 1.6.0. @slowbackspace something to check after the new onboarding is done?

[2021-04-20 15:27] tsusanka commented on #1965
I think there was only one case of accidentally releasing a firmware that was wiping your device. However, this FW should never be offered to our users now.

What wipes seed is when you **downgrade** a major version. That means e.g. 2.**3**.0 to 2.**2**.3. But again, that relates solely to downgrading which may happen only via the custom firmware (#1871). I'll add a note there and close here.

[2021-04-20 15:27] #1965 closed, assigned to glacierbits

[2021-04-20 15:29] tsusanka commented on #1871
If you downgrade a major version your device will get wiped. That means if you have e.g. 2.3.0 and you "custom install" 2.2.3 your device will be wiped. Bootloader warns you about this action but if it is easy we could warn in Suite as well.

[2021-04-20 16:42] sorooris commented on #1787
The issue still persists.

[2021-04-20 20:32] bosomt opened #3669 "Labeling - Disabling of labeling also disconnects storage provider"
**Describe the bug**
Suite doesn't remember `cloud storage provider` connection/selection after you re-enable labeling.

**Steps to reproduce:**
1. Enable labeling
2. Connect to cloud storage provider
3. Disable labeling
4. Enable labeling
5. You are asked to select and connect to cloud storage provider again

**Info:**
 - Suite version: desktop 21.4.1 (1baa8ced16f2f6a5d60e9f4d7911669f856123d8)
 -

[2021-04-21 07:15] NandanSpeedshield commented on #3165
Hello, the error still exists in Pixel 4 (Android 10). Any workaround for the issue?

[2021-04-21 08:22] goodhoko commented on #3663
Ok, we'll rename `link` to  `transport` meaning we can also move the package under `@trezor` NPM namespace whena at it. .)

This issue is good to go. I'll post a PR soon.

[2021-04-21 08:54] jerechinsky commented on #3659
Szymon cleared it up for me. "Data" should not be shown.

[2021-04-21 09:44] keraf opened #3670 "Build pipeline improvements"
Following the initial work in #3446, some additional improvements can be done:

- [ ] - Move away from babel-loader to a faster/better one (esbuild-loader?)
- [ ] - Use loader for assets instead of copy plugin
- [ ] - Optimize assets during build
- [ ] - Generate/render static 404 page from React component
- [ ] - Migrate other packages to Webpack 5 (landing, blockchain-link, suite-data, ...)
- [

[2021-04-21 10:14] slowbackspace commented on #3658
Community is interested in this as well, as it sometimes pops out as bug report.

Eg. https://github.com/trezor/trezor-suite/issues/3057

[2021-04-21 10:21] slowbackspace commented on #3662
closing as duplicate of https://github.com/trezor/trezor-suite/issues/3459

[2021-04-21 10:21] #3662 closed, assigned to jerechinsky

[2021-04-21 10:23] tsusanka commented on #3654
@alex-jerechinsky this is a prerequisite for the public release.

[2021-04-21 10:25] slowbackspace commented on #3669
How else would you change the provider? Or Am I missing something?

[2021-04-21 11:03] slowbackspace commented on #3643
If you had problem with auto updater itself then losing stored settings could be just a side-effect. Could you please create a new issue? It will get more attention :)

You can delete both folders `@trezor` (storing caches, remembered wallets, settings, configs, etc) and `@trezor-suite-desktop-updater`, then proceed just like you would in case of "installing" Suite for the first time. The app shou

[2021-04-21 11:51] bosomt commented on #3643
gone thru update twice:

1) downloaded 21.3.1
2) saved wallet
3) updated to 21.4.1 /21.3.1 appimage was auto removed from file system as exprect/
4) settings and wallet are present

please see log and video

https://user-images.githubusercontent.com/31506317/115549007-69502e80-a2a8-11eb-907c-fc17ec8175c6.mp4
[trezor-suite-log-1619005571634.txt](https://github.com/trezor/trezor-suite/files/6350530/

[2021-04-21 13:16] bosomt commented on #3543
**QA OK**

**Info:**
 - Suite version: desktop 21.5.0 (130b17ff0d52b67079d29b4e7250637528be1def)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.5.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0 regular

[2021-04-21 13:21] bosomt commented on #3542
**QA OK**

**Info:**
 - Suite version: desktop 21.5.0 (130b17ff0d52b67079d29b4e7250637528be1def)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.5.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0 regular

[2021-04-21 13:28] bosomt commented on #3651
**QA OK**

**Info:**
 - Suite version: web 21.4.1 (1baa8ced16f2f6a5d60e9f4d7911669f856123d8)
 - Suite version: web 21.5.0 (130b17ff0d52b67079d29b4e7250637528be1def)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0 regular

[2021-04-21 13:38] bosomt commented on #3635
**QA OK**

**Info:**
 - Suite version: desktop 21.5.0 (130b17ff0d52b67079d29b4e7250637528be1def)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.5.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.4.0 regular

[2021-04-21 13:59] tsusanka commented on #2924
My prioritisation draft:

## P1 High:
- [ ] Move to monorepo. create multiple packages:
    - [ ] core (nodejs essential)
    - [ ] UI (popup, may be used in suite-desktop as well?),
    - [ ] UI (landingpage/connect-explorer),
    - [ ] web wrapper(3rd party popup usage),
    - [ ] webextension-background/electron-layer wrapper
- [ ] TypeScript support
- [ ] Refactor
- [ ] more unit tests (btc-li

[2021-04-21 15:58] jerechinsky commented on #3636
I changed it to "for Windows 10" in copy

[2021-04-21 15:58] #3636 closed, assigned to jerechinsky

[2021-04-21 16:02] jerechinsky commented on #3669
@matejzak do you agree that Suite should remember the cloud storage provider upon disabling labeling and only "forget" it once user clicks "Disconnect"?

[2021-04-21 16:12] jerechinsky commented on #3650
Thanks for creating the issue, @caglorithm. I'm glad you were able to get your history to reappear. We'll use this issue to track more occurrences of this bug so we can hopefully replicate it and get to the root of it.

[2021-04-21 16:25] #3641 closed, assigned to keraf

[2021-04-22 08:14] glacierbits commented on #1215
Ah, thanks for reminding me! We will create the 3D animations for this as well.

[2021-04-22 08:14] #1441 closed, assigned to glacierbits

[2021-04-22 08:14] #1488 closed, assigned to glacierbits

[2021-04-22 08:15] bosomt commented on #3626
**QA OK**

**Info:**
 - Suite version: desktop 21.5.0 (130b17ff0d52b67079d29b4e7250637528be1def)
 - Browser: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.5.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model T 2.4.0 regular

[2021-04-22 08:17] glacierbits commented on #1576
@szymonlesisz is this still relevant?

[2021-04-22 08:28] glacierbits commented on #1782
Fixed.

[2021-04-22 08:28] #1782 closed, assigned to glacierbits

[2021-04-22 08:33] glacierbits commented on #2451
Descoped.

[2021-04-22 08:33] #2451 closed, assigned to glacierbits

[2021-04-22 08:42] glacierbits commented on #2715
@slowbackspace A corner case which I guess we can solve by some generic error message (?) in the new Onboarding #3332?

[2021-04-22 08:46] glacierbits commented on #2936
To be fixed in new Onboarding #3332

[2021-04-22 08:46] #2936 closed, assigned to glacierbits

[2021-04-22 09:41] yunesco opened #3671 "Trezor Suite Mac Doesn't display BTC recent transactions"
Trezor Suite Mac Doesn't display BTC recent transactions but Trezor Suite Web does. See screenshots attached.

Mac Trezor Suite
<img width="1085" alt="Screenshot 2021-04-22 at 11 39 21" src="https://user-images.githubusercontent.com/12301590/115692825-9d3a5b00-a35f-11eb-886b-80c5a7e7e616.png">

Web Trezor Suite
<img width="978" alt="Screenshot 2021-04-22 at 11 39 10" src="https://user-images.githu

[2021-04-22 11:00] goodhoko commented on #2242
Done.

[2021-04-22 11:00] #2242 closed, assigned to goodhoko

[2021-04-22 13:18] keraf commented on #3671
Hey there!

Could you provide us some logs from the desktop app? It might give us a better idea what's happening. To do so, run Suite Desktop in command line using the `--log-level=debug` parameter as well as `--log-write` (to have it written in your home directory).

I can only guess what happened and I would say maybe it might be related to Tor? Do you have it enabled?

@trezor/qa Did you guys e

[2021-04-22 13:48] bosomt opened #3672 "Dashboard - Assets design nitpicks"
**Describe the bug**

I noticed two problems with new Assets design in Dashboard.

1) Tiles are white even in Dark mode. see screenshot.
2) Design always resets to default settings when you leave and return to Dashboard

**Steps to reproduce:**
1. Enable Dark mode
2. Switch Dashboard/Assets design to new version
3. Leave dashboard and then return to Dashboard
4. Observe

**Info:**
 - Suite version

[2021-04-22 17:17] bosomt commented on #3671
@keraf nope, never

[2021-04-22 17:17] bosomt commented on #3671
I would guess it was typo in passphrase :)

[2021-04-22 20:03] yunesco commented on #3671
Passhrase is correct, i can see the other coins, just not BTC :)

[2021-04-23 07:38] prusnak commented on #3657
This was confirmed as a duplicate of #3460

[2021-04-23 07:38] #3657 closed, assigned to jerechinsky

[2021-04-23 09:49] goodhoko commented on #2282
I started working on this (based the code on Tomas's not yet merged branch) and several questions sprung up. All targeted at @matejzak.

- What's the priority of the banner with respect the other ones? In other words where in the sequence of banners Tomas outlines [here](https://github.com/trezor/trezor-suite/issues/2752#issuecomment-794090799) (the banners section) should this banner be inserted?

[2021-04-23 10:28] #3622 closed, assigned to slowbackspace

[2021-04-23 10:29] #3659 closed, assigned to szymonlesisz

[2021-04-23 10:36] yunesco commented on #3671
@keraf I did have Tor enabled, unfortunately, I can't give you the logs because I installed the app via the .dmg file not source code

[2021-04-23 10:41] #2309 closed, assigned to szymonlesisz

[2021-04-23 11:30] slowbackspace commented on #3671
Since ejecting the wallet helped I would guess that account got saved in some weird broken state. It shouldn't even be a problem related to fetching the data. From the screenshot it looks like data for the account were already fetched that means we already should have last 25 txs (we are fetching basic account details together with last 25 txs).

The screen @Yunislav sees is used basically a fallb

[2021-04-23 11:34] yunesco commented on #3671
@slowbackspace Nope i couldn't reproduce the bug. When i sent the transaction to the BTC wallet, i could see a notification that i received BTC to my address but i couldn't see it on the transaction history.

[2021-04-23 11:45] slowbackspace commented on #3671
@Yunislav any chance that the bug appeared only after you auto upgraded from older release? We've recently released 21.4.1 that was pushed as semi-automatic update (you got a popup in the old Suite asking you to upgrade). I am wondering if it could be messed up data migration during the update.

Another weird thing is that this happens only for some accounts https://github.com/trezor/trezor-suite/

[2021-04-23 11:47] yunesco commented on #3671
@slowbackspace This was the first time i installed Trezor Suite on this computer, so i don't think so

[2021-04-23 12:15] slowbackspace commented on #3671
Thank you for your help!
I replicated the issue.

Steps:
1. In desktop app create new wallet (I picked some random passphrase) with empty bech32 account (testnet is fine and looks like existing passphrase is also fine, but I am not sure)
2. Remember the wallet
3. Open web app and send transaction to the fresh account in desktop app
4. You will get pending tx on both the web and desktop app. Close

[2021-04-23 12:23] slowbackspace commented on #3650
@alex-jerechinsky just fyi, I think I replicated the issue in https://github.com/trezor/trezor-suite/issues/3671. This one seems like a duplicate of it, but I am not totally sure if it the same cause, result certainly is the same.

[2021-04-23 12:40] tsusanka opened #3675 "Remove disconnect instruction for bootloader >1.10.0"
The newest bootloader 1.10.0 (included in newest FW 1.10.0 which will go out on May 12th) is capable of so-called soft-reset. That means it can reset itself from bootloader to firmware and no replug is needed. Since we instruct the user to disconnect the device manually in Suite it would be nice to remove such instruction.

The question is whether we want to wait it out for the new onboarding and

[2021-04-23 12:40] tsusanka commented on #3675
I have this screen in mind:

![image](https://user-images.githubusercontent.com/1835345/115868962-810ceb80-a43d-11eb-8e49-7632f1291841.png)

[2021-04-23 12:46] slowbackspace commented on #3675
Certainly great feature, but right now I am not even sure if we will use it in may's new onboarding, certainly not worth fiddling with old one again. I mean the old one becomes obsolete in May anyway 😁  Also as this feature uses new protobuf message I assume that first we need to implement it in connect and release it. The onboarding is built with the absence of this feature in mind, it's not real

[2021-04-27 07:42] glacierbits commented on #3675
Yes, let's definitely not worry about the old onboarding at all. Do you need help with the Connect changes or are you going to take care of it yourself @slowbackspace?

[2021-04-27 11:00] sorooris commented on #1871
T1 downgrade to firmware with lower bootloader required (1.10.0 -> 1.8.0) is allowed, which results in a "Unknown bootloader detected" error and info to contact support (which is unneccessary).

**Expected:**
Downgrade to firmware mentioned above is not allowed, the same way downgrade to 1.7.3 is not (Firmware is too old for your device. Aborting.)
**Actual:**
"Unknown bootloader detected. Unplug

[2021-04-27 11:08] goodhoko commented on #3664
Will get to this this afternoon (~3pm). I hope that's ok.

[2021-04-27 13:11] pdreyfuss commented on #2211
I also just now ran into this issue and that is why I am here. It did not ignore time zone, but did not recognize daylight time. I am in the eastern time zone of the US. Here's my question for trezor - can't you simply use UTC and make everyone's life simpler and easier? Remember the KISS Principle?

[2021-04-27 16:26] glacierbits commented on #2282
(1) **Agreed** — priority #6 sounds reasonable with respect to the scale of other items on the list.
(2) I would still prefer to **link the CTA to the Device Settings** to 'teach' the user where that particular options is located. That being said, I agree it's problematic (similar to what we are trying to solve in #2208) and it would be great to fix in the future, i.e. to give the user a visual cu

[2021-04-27 21:01] #3558 closed, assigned to tomexx

[2021-04-28 04:09] LCBradley3k opened #3679 ""Suite version" under Settings is stuck on "Checking""
I'm trying to upgrade to the latest version from the desktop application, but it is stuck on "Checking...". I had once been asked by a pop-up to update but I had clicked to postpone it. Ever since postponing the popup - I haven't received another either.

![image](https://user-images.githubusercontent.com/9059449/116345241-9adf6300-a79c-11eb-868a-b9934f757bbd.png)

[2021-04-28 07:03] bosomt commented on #3659
**QA OK**

![image](https://user-images.githubusercontent.com/31506317/116360703-7ae18b00-a800-11eb-9311-49803a553ed0.png)

**Info:**
 - Suite version: web 21.5.0 (fd3ceda56fe84a3daad5bab69c3bd07ad2fed753)
 - Browser: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: Linux x86_64
 - Screen: 3072x1728
 - Device: model One 1.10.0 regular

[2021-04-28 07:29] keraf commented on #3679
This bug has been fixed in a newer version. You have to manually update by getting the latest version from here: https://suite.trezor.io/

[2021-04-28 07:29] #3679 closed, assigned to nobody

[2021-04-28 07:33] bosomt commented on #3558
**QA OK**

**Info:**
 - Suite version: desktop 21.5.0 (fd3ceda56fe84a3daad5bab69c3bd07ad2fed753)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) TrezorSuite/21.5.0 Chrome/89.0.4389.69 Electron/12.0.0 Safari/537.36
 - OS: MacIntel
 - Screen: 1440x900
 - Device: model T 2.3.4 regular
<img width="61" alt="Screenshot 2021-04-28 at 9 30 31" src="https:/

[2021-04-28 07:37] prusnak commented on #3558
@bosomt Can you please post a screenshot of vertical and horizontal dock with Safari and Chrome icons next to the Suite icon? (ideally, Safari - Suite - Chrome)

[2021-04-28 07:50] bosomt commented on #3558
@prusnak

<img width="222" alt="Screenshot 2021-04-28 at 9 49 58" src="https://user-images.githubusercontent.com/31506317/116367013-2d1c5100-a807-11eb-9e0b-4bc0ce1cbb21.png">
<img width="31" alt="Screenshot 2021-04-28 at 9 50 14" src="https://user-images.githubusercontent.com/31506317/116367014-2e4d7e00-a807-11eb-9a07-06bf487ac8ca.png">
<img width="48" alt="Screenshot 2021-04-28 at 9 50 20" src="h

[2021-04-28 08:13] prusnak commented on #3558
Great, looks good!

Thank you, @bosomt

[2021-04-28 09:19] #2961 closed, assigned to tomexx, slowbackspace

[2021-04-28 11:35] goodhoko commented on #2208
For future reference when we'll get to this: this feature (link that can focus on a particular part of a page) [could be also used](https://github.com/trezor/trezor-suite/issues/2282#issuecomment-827741661) in the safety checks warning banner.

[2021-04-28 11:44] goodhoko commented on #2282
@matejzak
1) ACK
2) Ok then. I [mentioned](https://github.com/trezor/trezor-suite/issues/2208#issuecomment-828382334) this in the issue and I'll also leave a TODO in the code.
3) I'll opportunistically take the other approach and make the dismissal last only for a session. For two reasons 1) implementation simplicity 2) it's more defensive. The worst case is an user annyoed by the warning. The wor

[2021-04-28 12:03] glacierbits commented on #2282
3. Got it - no objections.

Thanks!

[2021-04-28 16:04] tomexx commented on #3457
I came across this while working on the new Onboarding so I'd fix that for both Settings and Onboarding

[2021-04-28 17:30] akshay-na opened #3682 "Suite is not detecting the previously configured passphrase and showing hidden wallet as empty."
**Describe the bug**
I have a hidden wallet in Trezor Suite Desktop App with a passphrase. When I try to use the same passphrase to access the hidden wallet from the Web version of the Trezor suite, it will show that the hidden wallet is empty. I tried to access the hidden wallet through the Web version of Trezor Suite both from Mobile and Desktop but the result was same, empty wallet. If I access

[2021-04-28 19:37] #3457 closed, assigned to tomexx, keraf

[2021-04-30 09:35] keraf opened #3689 "Trading - e2e tests"
Cover trading section by E2E tests

[2021-04-30 10:19] tsusanka opened #4512 "AOPP support"
Website: https://aopp.group
Short demo video: https://www.youtube.com/watch?v=heP-ufUke-g

[2021-04-30 10:25] tsusanka commented on #1871
@alex-jerechinsky I agree with @sorooris this would be nice but I would separate it into another issue so we do not complicate this one. First I would do a simple custom firmware upload and then improve. @alex-jerechinsky could you separate it into another issue pls?

[2021-04-30 11:06] bosomt commented on #3641
@keraf is there anything that can be tested on our side ? /and how if yes :) /

[2021-04-30 12:12] keraf commented on #3641
Nope, nothing to test here :slightly_smiling_face: It's intended for devs (and only available in dev builds).

[2021-04-30 12:36] andrewkozlik commented on #4512
Trezor actually already supports the [SLIP-19](https://github.com/satoshilabs/slips/blob/master/slip-0019.md) proof-of-ownership format, but as far as I know it's the only wallet to do so at the moment. SLIP-19's most important feature is that it can be used to prove to a wallet that it does _not_ own a scriptPubKey. SLIP-19 has a _commitmentData_ field which can be used the same way as the _messa

[2021-04-30 13:32] bosomt commented on #3158
Present in neue-onboarding

<img width="895" alt="Screenshot 2021-04-30 at 15 31 07" src="https://user-images.githubusercontent.com/31506317/116702254-289f9600-a9c9-11eb-9943-ab75f1dffd4b.png">

**Info:**
 - Suite version: web 21.5.0 (5d5073e6fcc36b6e44ee7ce809ee6bfb515e0d08)
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:88.0) Gecko/20100101 Firefox/88.0
 - OS: MacIntel
 - Screen: 1

[2021-04-30 14:32] bosomt commented on #3158
Mind that this is only available when you skip backup and restart it from settings page.
+ you are asked to Create PIN even when you wanted to backup your seed

[2021-04-30 17:02] prusnak commented on #4512
I wonder how they handle signing of segwit and native segwit addresses. The constants we used in [here](https://github.com/trezor/trezor-firmware/blob/40bd66ded4132121c0ffb10fd6be7d47a050b323/core/src/apps/bitcoin/sign_message.py) (`+4` and `+8`) were not adopted by Bitcoin Core, but there are the logical way how to extend the original signing protocol. Did AOPP use the same method?

[2021-04-30 17:41] andrewkozlik commented on #4512
Good catch! AOPP adopted the Bitcoin Core solution as stated [here](https://gitlab.com/aopp/address-ownership-proof-protocol#bitcoin-message-signatures). So we either need to add a new `bool` parameter to `SignMessage` called `no_witness_info`, `no_script_type` or maybe `no_script_info`, or Suite would need to remove the script type information from the recovery byte of the signature, which seems

[2021-04-30 17:51] prusnak commented on #4512
Agreed. Option `no_script_type` sounds good.

[2021-05-02 15:27] #3682 closed, assigned to nobody

[2021-05-02 20:17] NatoshiSakamotoo commented on #2745
Hello @matejzak,

I am curious as to what's planned for the implementation of this CoinJoin? Would you perhaps consider collaborating with @SamouraiWallet to integrate Whirlpool (their implementation of CoinJoin) with the Trezor as they said they'd love to get into contact with you guys, see tweet: https://twitter.com/AScrutinize/status/1388271372866965505

Of course its non custodial and privacy

[2021-05-03 07:31] tomasklim opened #3691 "Some events are not correctly tracked to analytics"
### Bugs
The current version of analytics is 1.7, but the 1.6 version is being tracked. :white_check_mark:

**suite-ready**

- missing suite version :white_check_mark:
- missing session and instance id :white_check_mark:

**device-update-firmware**

- fromFwVersion, fromBlVersion has comma separator, but toFwVersion has dot separator :white_check_mark:

**menu/goto/exchange-index**

- event not us

[2021-05-03 07:42] LukasRada opened #3692 "Implement WAITING_FOR_USER Buy status"
**Describe the solution you'd like**
Add new buy trade state WAITING_FOR_USER.

We need to implement new status WAITING_FOR_USER, which says that a user should do an action with cooperation with  partner (SimpleCoin in this case). The action is typically KYC info, new rate confirmation. etc.

Flow:
REQUESTING->SUBMITTED->APPROVAL_PENDING->**WAITING_FOR_USER**->APPROVAL_PENDING->SUCCESS

![image](h

[2021-05-03 08:00] tomasklim commented on #3691
### **In 1.8 version:**
**Added:**
- settings/device/update-auto-lock
  - value: string
- suite-ready
  - browserName: string
  - browserVersion: string
  - osName: string
  - osVersion: string
  - windowWidth: number
  - windowHeight: number

**Fixed:**
- suite-ready
  - suiteVersion
  - c_instance_id
  - c_session_id
- device-update-firmware
  - fromFwVersion (changed separator to dots from comm

[2021-05-03 08:24] tomasklim opened #3693 "Remote secure messaging system follow-up"
Following the initial work in [#2752](https://github.com/trezor/trezor-suite/issues/2752), some additional improvements can be done:

- [x] #4350
<img width="949" alt="Screenshot 2021-09-17 at 11 00 32" src="https://user-images.githubusercontent.com/33235762/133756054-b472febe-f140-4afa-8f31-b08fb0e67c26.png">

- [x] #4355
- [x] #4351
- [x] #4352
- [x] #4379
- [ ] <s>always on-top banner config at

[2021-05-03 08:25] tomasklim opened #3694 "Remote secure messaging system CI job"
To be able to use message system in production mode, it is required to:
- [x] set public + private production keys in GitLab 🔥  (public key has to be done before final release, otherwise develop key will be bundled in this version)
- [x] install `aws` in GitLab and set its credentials
- [x] uncomment `aws` command in `ci/packages/suite-data.yml`

[2021-05-03 08:32] #3592 closed, assigned to slowbackspace

[2021-05-03 08:34] #2752 closed, assigned to tomasklim

[2021-05-03 08:58] soucek87 opened #3695 "btc explorer vs suite differences"
**Describe the bug**
There is a difference in what says the btc explorer and Suite. The current balance, the nr. of TXs, and outgoing amount are different.

**Firmware version and revision**
Suite log available at request.

**Desktop/smartphone setup:**
 - Wallet software: Trezor Suite web
 - Browser Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0

[2021-05-03 09:44] bosomt commented on #2752
is there anything that can be tested on our side ? Or we can move this issue from Needs QA section ?

[2021-05-03 10:06] #3691 closed, assigned to tomasklim

[2021-05-03 10:18] martinboehm commented on #3689
Totally agree. And finally we also have resources to create them @LukasRada.

[2021-05-03 10:27] tomasklim commented on #2752
@bosomt For now, you can test that top banners are working properly. (Failed backup, ...)

Messaging system should be tested. However, @tsusanka recommends doing it after you test the other features, or even after release. Because it is a big feature which users will not see for some time (hopefully) and you will probably spend some time on it.

But if you have time, you can contact me and I can e

[2021-05-03 10:31] tsusanka commented on #2752
Yes I agree!

[2021-05-03 10:52] MarMun commented on #3395
No icon in Ubuntu 20.04.2 LTS. I needed to add this manually

[2021-05-03 11:12] prusnak opened #3696 "Investigate how to add Trezor Suite to Snap repository"
This will make it easy for Ubuntu and other users to install Trezor Suite via means they are familiar with.

Hopefully, udev-rules can be installed as a part of the bundle, too.

https://snapcraft.io

[2021-05-03 11:13] prusnak opened #3697 "Investigate how to add Trezor Suite to Flatpak/Flathub repository"
This will make it easy for Flatpak  users to install Trezor Suite via means they are familiar with.

Hopefully, udev-rules can be installed as a part of the bundle, too.

https://flatpak.org
https://flathub.org

[2021-05-03 11:16] prusnak commented on #2584
I think it's up to the respective distributions maintainers to decide whether they want to maintain Trezor Suite in their repositories. We don't have resources to maintain packages in each possible distribution.

Where we should aim form are the following means of distribution:
* AppImage - already done - we just need to figure out how to add udev-rules to the package - https://github.com/trezor/t

[2021-05-03 11:16] #2584 closed, assigned to nobody

[2021-05-03 11:18] MarMun opened #3698 "Suggestion: Add 'Line Chart' option for Dashboard - Portfolio"
**Is your feature request related to a problem? Please describe.**
'Dashboard - Portfolio' section: I like to see the development of my portfolio over time. The current bar chart does not offer this.

**Describe the solution you'd like**
My suggestion would be to have 'chart type' toggle button to toggle between 'line' and 'bar' charts

**Describe alternatives you've considered**
Also helpful: Sho

[2021-05-03 11:23] shipluhoque commented on #3395
Ledger Live had a similar or same issue and was later fixed.

[2021-05-03 13:25] tomasklim commented on #1871
@tsusanka by advanced settings, you mean the debug settings? (https://suite.trezor.io/web/settings/debug/)

[2021-05-03 14:15] goodhoko commented on #3654
Done in https://github.com/trezor/trezor-suite/pull/3699

Closing.

[2021-05-03 14:15] #3654 closed, assigned to goodhoko

[2021-05-03 14:22] tsusanka commented on #1871
No, it should be "publicly available" (no hidden debug stuff), I just meant it should be a bit hidden in some advanced place. I would put it into Device > Danger area for now and then when we have more "advanced" features we could make a separate tab. What do you think @matejzak?

[2021-05-03 14:50] #3692 closed, assigned to LukasRada

[2021-05-03 16:08] prusnak commented on #3694
For reference: `JWS_PRIVATE_KEY` / `JWS_PUBLIC_KEY` keys need to be generated via the following:

[code]

I still need to figure out the AWS creds in the CI.

[2021-05-03 18:10] prusnak commented on #3694
I'd need to have this PR merged in order to set the CI correctly: https://github.com/trezor/trezor-suite/pull/3703

[2021-05-04 09:20] tsusanka commented on #3518
Done by https://github.com/trezor/trezor-suite/pull/3603.

[2021-05-04 09:20] #3518 closed, assigned to glacierbits

[2021-05-04 10:31] bosomt commented on #3691
@tomasklim is there any kind of action needed on our side or i can move it to approved section ?

[2021-05-04 11:22] jerechinsky opened #3706 "T1 downgrade to firmware not compatible with current bootloader is allowed"
T1 downgrade to firmware with lower bootloader required (1.10.0 -> 1.8.0) is allowed, which results in a "Unknown bootloader detected" error and info to contact support (which is unneccessary).

**Expected:**
Downgrade to firmware mentioned above is not allowed, the same way downgrade to 1.7.3 is not (Firmware is too old for your device. Aborting.)
**Actual:**
"Unknown bootloader detected. Unplug

[2021-05-04 11:31] jerechinsky commented on #3695
Hi @soucek87, could you please provide the suite log? alexandr.jerechinsky@satoshilabs.com
Thank you.

[2021-05-04 11:36] #3672 closed, assigned to tomexx

[2021-05-04 12:05] slowbackspace opened #3707 "Onboarding part 2"
- Backup step:
    - Skip modal

Recovery step:
    - simple recovery select/inputs design (T1): design isn't functional, Ondra notified. Current state is just fine so I am marking this as done.

[2021-05-04 13:18] goodhoko commented on #2282
Done in https://github.com/trezor/trezor-suite/pull/3681. Closing.

[2021-05-04 13:18] #2282 closed, assigned to goodhoko

[2021-05-04 13:49] goodhoko commented on #3664
I started looking into this and found out that
1. electron-builder (the tool we use to package Suite) [won't let us](https://github.com/electron-userland/electron-builder/issues/3436) tinker with the AppRun script directly. We'll need to do this from within the app itself in either the post-install script or on first run.
2. Writing to `/etc/udev/...` (or equivalent) requires root priveleges. I'm

[2021-05-04 13:59] prusnak commented on #3664
`pkexec` takes care of showing the dialog - https://www.freedesktop.org/software/polkit/docs/latest/pkexec.1.html

Last time we changed them was in 2019 and we don't plan to change them any time soon :-)

We might consider adding the check, but only as an extra effort

[2021-05-04 14:07] goodhoko commented on #3664
Agree. We can add this check (and updating logic) once the udev rules change. In other words when we'll release the next Trezor. .)

[2021-05-04 16:22] keo commented on #3545
👍

[2021-05-04 16:22] keo commented on #3185
👍

[2021-05-05 13:09] goodhoko opened #3709 "Can't set custom Tor address"
**Describe the bug**
In the Suite's general settings when I set a custom tor address it doesn't get persisted (returns to the default after navigatin away and back.)

I've been hunting this bug today. Seems like it hides somewhere in ther IPC layer between the renderer and the main process which handles changing the address.

Assigning myself. Hopefully will post a fix soon.

cc @alex-jerechinsky

[2021-05-06 06:11] glacierbits opened #3712 "Navigation: Settings menu"
**Design:** [Zeplin](https://zpl.io/be3E1Mq)

- The menu is accessible from the top navigation bar
- Click on the particular item opens the respective Settings tab
- Hover populates `All` › link lead to General Settings

**Other:**

- Please add the hover to the other icons - Notification, Tor, Discreet - as well

[2021-05-06 06:31] glacierbits opened #3713 "Suite Guide 🍰"
**Spec**: [Notion](https://www.notion.so/satoshilabs/Product-guide-394602e300cd46639233df53f31ed715?d=40dfec81-588d-4492-b108-1468861e450f) | **Design:** [Zeplin](https://zpl.io/aBzxkDq) | **Prototype**: [Figma](https://www.figma.com/proto/PVqDKfI5VvzbCJ5kheBPfS/Learn-and-Discover?page-id=0%3A1&node-id=1%3A30&viewport=672%2C292%2C0.12598536908626556&scaling=min-zoom)

**Entry points:**
- Top navig

[2021-05-06 06:33] glacierbits opened #3714 "Feedback | Bug submission"
**Design:** [Zeplin](https://zpl.io/aBzxkDq), Spec: [Notion](https://www.notion.so/satoshilabs/Feedback-Bug-report-d7cfccbacf084ce3b2bb97ce8c24e8e2#ddfe5670679f4e039a598c3a35d9c3b2)

**Entry point:**
- Learn & Discover › Bottom of the panel › Feedback / Bug report

[2021-05-06 07:34] tsusanka commented on #1620
I believe this works. Reopen if needed.

[2021-05-06 07:34] #1620 closed, assigned to slowbackspace

[2021-05-06 07:37] slowbackspace commented on #2170
closing since product doesn't seem this as an issue! :(

[2021-05-06 07:37] #2170 closed, assigned to slowbackspace

[2021-05-06 07:37] slowbackspace commented on #1383
nah, we've never needed that

[2021-05-06 07:37] #1383 closed, assigned to slowbackspace

[2021-05-06 07:42] slowbackspace commented on #3577
I've never experienced this, let's reopen if QA will be able to reproduce 🙇

[2021-05-06 07:42] #3577 closed, assigned to slowbackspace

[2021-05-06 08:20] glacierbits opened #3716 "Onboarding: More todos"
- [x]  Add a background pattern: [Zeplin](https://app.zeplin.io/project/5ee87c00f6af719a645d14c3/screen/60340959122e10b2d3800dd8)
<img width="923" alt="Screen Shot 2021-05-07 at 17 35 18" src="https://user-images.githubusercontent.com/29627086/117473774-98c69280-af5a-11eb-98b1-ad36d60ee79d.png">

- [x] Remove the description strings
<img width="1163" alt="Screen Shot 2021-05-07 at 17 47 06" src="h

[2021-05-06 08:21] slowbackspace commented on #3716
do we need another issue? https://github.com/trezor/trezor-suite/issues/3707

[2021-05-06 08:24] slowbackspace commented on #3431
@alex-jerechinsky I'll assign this to you till you figure out if @szymonlesisz should take this someone else, the problem lies probably somewhere in trezor-connect.

[2021-05-06 08:26] jerechinsky opened #3717 "Data analytics 1.9"
- [X] track events only from production builds to `stable.log`, all others to `develop.log`
- [ ] session-end is not sent on desktop app close: _Probably no problems after implementing Beacon API_
- [X] update docs
- [X] track suite-ready on initial run
- [X] analyse new events [Notion](https://www.notion.so/satoshilabs/Analytics-overview-3b49d66235e044928b79954d3a4ac8ff)
- [X] add new events, ext

[2021-05-06 08:27] slowbackspace commented on #3214
@keraf I'll assign this to you as the master of electron app 😁 Not sure if there is something else that can be done besides trying to fix that throttling behaviour which has separate issue.

[2021-05-06 08:30] tsusanka commented on #2149
@bosomt could you please retest if this is still a thing?